[2018-06-06 22:56] marmarek commented on #3966
qvm-convert-pdf, qvm-convert-img, both accept only one file at a time.

[2018-06-06 22:58] donob4n commented on #3933
If the debug is removed are the vars used for something?
	`static int all = 0, waited = 0, nonwaited = 0, full = 0;`

[2018-06-06 23:04] macdog345 commented on #3966
kk thanks! was this to right place to ask for feature quests(just for future ref)?

[2018-06-06 23:07] tortugaverde98 commented on #3964
I ran:
sudo lvremove vm-sys-whonix-private-tmp

But it is still there, referenced twice in Origin column, once for -private-15268xxxx-back and once for -snap.

[2018-06-06 23:12] macdog345 opened #3967 "Feature Request(All in one device)"
### Qubes OS version:R3.2

According to a reddit post there is no qubes for mobile in the works because of hardware support. So I
just wanted to put this idea out there even though I doubt anyone will try to implement it(I might try one day though so please comment on feasibility). What if you had a very small laptop(ie the orwl) that you could easily fit in a purse or backpack or maybe some weird

[2018-06-06 23:44] marmarek commented on #3964
Should be `lvremove qubes_dom0/vm-sys-usb-root-snap`

Is sys-whonix running?

See journalctl command for details. Probably it is set as a netvm to anon-whonix and whonix-ws-dvm. Anyway, removing sys-whonix shouldn't be needed to fix your problem.

[2018-06-07 00:12] tortugaverde98 commented on #3964
I ran lvremove qubes_dom0/vm-sys-usb-root-snap
Results in this error:
Can't create snapshot vm-sys-whonix-private as origin vm-sys-whonix-private -snap is not suspended.
Failed to suspend qubes_dom0/pool00 with queued messages.
Failed to update pool qubes_dom0/pool00.

Sys- whonix is not running. I also set it to autostart false and rebooted, no change.

Journalctl provides a mountain of info. I c

[2018-06-07 00:43] redshiftzero commented on #3178
For SecureDrop's [Qubes journalist workstation](https://github.com/freedomofpress/securedrop-workstation) we'd like to use a custom hardened kernel for Debian templates - any update on the status of this ticket?

[2018-06-07 02:12] tortugaverde98 commented on #3964
Success. I ran:
sudo lvremove qubes_dom0/vm-sys-whonix-private-snap

It successfully deleted. From there all VMs can start. I rebooted qubes to be sure. Everything comes up cleanly.

[2018-06-07 04:02] andrewdavidwong commented on #3962
Ultimately, this requires contributors to understand how PGP works so that they understand how trusting GitHub's representation of a verified signature is different from verifying the PGP signatures on tags and commits oneself on a trusted local machine using properly validated keys. We can aid this understanding by adding an appropriate explanation to our [Verifying Signatures](https://www.qubes-

[2018-06-07 04:07] andrewdavidwong commented on #3960
Duplicate of #3753

[2018-06-07 04:09] andrewdavidwong commented on #2132
I'm not aware of such a command, but I'd be happy to add it to the documentation if someone who knows it can provide it.

[2018-06-07 04:11] andrewdavidwong commented on #3966
Yes. :slightly_smiling_face:

[2018-06-07 04:19] andrewdavidwong commented on #3967
I like the general idea. Lately, I've been thinking that it would be nice to have a pocket-sized x86 laptop that I can carry around everywhere as if it were a smartphone but that I would use just like a Qubes laptop. I recall someone on the MLs a while back asking about the smallest device that supports Qubes with a similar intent in mind.

Since this sounds like it's primarily a hardware issue an

[2018-06-07 04:19] #3967 closed

[2018-06-07 04:35] sstt011 commented on #3966
@marmarek I'm still confused about what needs to be fixed. Is the issue to be able to convert multiple images at a time?

[2018-06-07 04:47] macdog345 commented on #3967
The google group qubes-devel right, should I repost it or is it so far in the future that I'll just leave it up to you =p? And specifically I was thinking qubes isn't optimized for a smaller screen(ie button/text size, an app launcher similar to phones, etc). But I guess without any supporting hardware it's not really worth it at this point like u said. I wonder if you could just take a regular ph

[2018-06-07 04:54] macdog345 commented on #3966
Yes and no, you can convert multiple pdfs from my experience by selecting each pdf and nothing else, but right clicking a folder or selecting control A on a folder with various file types leaves the option unavailable. So just a minor issue but it would be nice to one day convert entire USBS and such to trusted.

[2018-06-07 05:10] andrewdavidwong commented on #3967
Feel free to repost on qubes-devel if you want to discuss it now.

[2018-06-07 05:17] frozentime345 commented on #3967
Kk ill do that soon, can I post feature requests there as well or is it preferred here? Mostly I dislike github for not auto updating without refreshing the page, not sure if google groups is better.

[2018-06-07 05:37] andrewdavidwong commented on #3967
The reason that it would be appropriate to discuss this on qubes-devel is because the feasibility of the feature request is uncertain and needs to be clarified via discussion before any work can begin. More information:

https://www.qubes-os.org/support/#qubes-devel

Many people use our lists as [mailing lists rather than forums](https://www.qubes-os.org/support/#mailing-lists-vs-forums), so this

[2018-06-07 06:20] #3962 closed

[2018-06-07 09:54] jaseg opened #3968 "qvm-start should give a descriptive error message if private missing but tmp still present"
### Qubes OS version:
R4.0
### Affected component(s):
`qvm-start`
### Steps to reproduce the behavior:

I can not reproduce the original issue (private-tmp volume not being cleaned up for some reason) but I suppose if you manually rename the private volume you can provoke the unhelpful error message.

### Expected behavior:
When private volume is not found, but -tmp clone of private volume is stil

[2018-06-07 10:15] marmarek commented on #3968
There is even better thing work in progress - automatically handle this situation (cleanup it).
https://github.com/QubesOS/qubes-core-admin/pull/203#issuecomment-383236856

[2018-06-07 10:16] marmarek commented on #3178
Sadly no progress here. I'll look into this next week (ping me on Wed if I don't update here).

[2018-06-07 10:20] marmarek commented on #2132
See readme [here for the list of states](https://github.com/QubesOS/qubes-mgmt-salt-dom0-virtual-machines/). You can apply a single state with `qubesctl state.sls STATE_NAME`. For example `qubesctl state.sls qvm.personal` will create personal VM (if not already there), with all its dependencies (template, sys-firewall, sys-net). The same for others.

[2018-06-07 11:05] Polygonbugs opened #3969 "Dom0 freeze when almost out of memory"
### Qubes OS version:
Qubes-OS 3.2
Kernel : 4.14.18-1.pvops.qubes.x86_64
OS : Fedora-23

### Affected component(s):

All VMs (Dom0 and DomUs)

---

### Steps to reproduce the behavior:
1. Open as many VMs as possible in order to consume a lot of system memory.
2. Open a VM with a lot of memory dedicated (in my case at least 2536MB makes problem)
3. Problem happens

### Expected behavior:

Failed t

[2018-06-07 11:13] schnurentwickler commented on #3969
Are you using a ssd and/or swap functionality?
Is your swappiness disabled and/or very low?

If I am using an hdd and my memory is full on another system, it swaps some memory data and my system stucks and is nearly unusable for a few minutes. It only happens on excessive memory usage.

[2018-06-07 11:32] Polygonbugs commented on #3969
I'm using SSD(Samsung 850 Evo) with trim feature enabled and I'm also using swap in dom0. 8GiB of Swap is assigned for dom0(default install configuration) and it is not used much ususally. BTW, it seems make sense, swap could be problem. Then it could be not just specific kernel problem and could impact Qubes-4.0. Wondering, do you use 4.0 or 3.2?

[2018-06-07 11:45] schnurentwickler commented on #3969
I am using the newest version.
For an ssd you could/should set swappiness to 1 or 2, instead the standard of 60. (probably percent)
Here are some shared informations about using a ssd on fedora or linux at all. (most distributions does have the same informations)
https://forums.fedoraforum.org/showthread.php?312512-SSD-configuration-with-Fedora-24-onwards
Also you should not set `discard` in your

[2018-06-07 12:02] tokideveloper commented on #3958
@andrewdavidwong wrote:

I see that distrusting any infrastructure you don't own is necessary. But wouldn't it be cheaper, easier and more time-saving to move to a trusted infrastructure since there wouldn't be any needs to spend time, money and thinking on tasks towards distrusting it?

[2018-06-07 12:05] tokideveloper commented on #3958
@woju wrote:

As far as I can see, these things can be migrated to GitLab when using the [GitHub to GitLab importer]. And since you can host your own GitLab instance, you can rely on that part of infrastructure, at least more than on the current GitHub instance.

I don't know if these are included into GitLab's importer. But I see that GitLab is under heavy development, so, chances are high that t

[2018-06-07 12:08] marmarek commented on #3958
It isn't only about "owning" the infrastructure. It's also about it's complexity. Even if we run our own servers, in our own data center, there will be still amazingly complex software stack there (all the http servers, web applications etc), where surely a lot of bugs exist. We prefer to not trust them, instead of attempting to secure them.

[2018-06-07 12:21] gerd2002 commented on #3954
@andrewdavidwong Sorry if this seems inappropriate, but then I am wondering how #3784 is not too device-specific?

[2018-06-07 12:42] justusranvier commented on #3639
The vm startup reliability problem stopped happening several weeks ago when I enabled the updates-testing repo in dom0 and got some updates that were not default repo at the time. I'm also able to allocate the same amount of ram as I could in 3.2.

The performance issue, however, remains.

The freezing seems to be triggered by IO more than by memory or CPU usage. I can reliably trigger pathologica

[2018-06-07 14:03] tokideveloper commented on #3958
Okay, I must say that I missed to make my point. In my posts I wanted to say that emigrating from GitHub and getting ownership of the infrastructure would be probably feasible. But I missed to tell the reasons why I think it's important to do so:

My reasons are on the level of **power**, not software safety/security. Surprisingly, GitHub was bought by MS. And the first action after that was bad I

[2018-06-07 14:06] tokideveloper commented on #3958
Sorry, I can't resist: I've heard that there is an operating system where software you don't trust can be kinda "jailed" into so-called "qubes" in order to prevent them from affecting other parts of your computer/software. Maybe we could ask that project to help us? ;-)

[2018-06-07 14:33] tokideveloper commented on #3958
What if MS surprisingly changes the terms of service or modifies the software of GitHub that way that issues, PR comments etc. cannot be exported anymore? Or at least not in a free format? Or only encrypted that it cannot be used elsewhere? Or other things like that?

[2018-06-07 19:53] frozentime345 commented on #3967
So I tried posting my message from google groups but nothing happened, was it caught by the spam filter or something, is that even possible from google groups? I really want to edit it lol so I've been checking the group regularly =p.

[2018-06-07 21:15] tasket commented on #3589
Other people discussing this:
https://groups.google.com/d/msgid/qubes-users/6983e507-d587-4eaa-762c-d0da74ffd6a0%40andreas-rasmussen.dk

--

FWIW, installing KDE (using sddm) and anti-evil-maid seems to fix it.

[2018-06-07 22:46] sstt011 commented on #3958
**TL;DR: in any case we probably have at least 30 days before MS could change anything.**

@tokideveloper All of these are very important points. While I do think that this is an issue and calls for immediate action, there is one major point as to why MS (for now) (probably) could not change things just like that.

In the [GitHub Terms of Service Part R: Changes to These Terms](https://help.github

[2018-06-08 02:18] andrewdavidwong commented on #3968
Closing as "won't do" since the better solution @marmarek mentioned is already in progress. If anyone has a new argument for why this should be done even though the better solution is already in progress, please leave a comment, and we'll be happy to take another look. Thank you.

[2018-06-08 02:18] #3968 closed

[2018-06-08 02:21] andrewdavidwong commented on #2132
Should that README be moved into `qubes-doc` and replaced with a link pointing to the appropriate URL on our website?

[2018-06-08 03:21] Polygonbugs commented on #3969
Okay I'll try that and see if it happens again.

[2018-06-08 03:34] sstt011 commented on #3908
Fixed with https://github.com/QubesOS/qubes-gui-agent-linux/pull/42.

[2018-06-08 05:33] sstt011 commented on #1019
@marmarek @bnvk See my above comment...

[2018-06-08 07:56] tokideveloper commented on #3958
@sstt011 Thank you for your investigation and estimation!

Agreed (since I know that 30-days thing now).

Yes! Maybe, we could make a full backup (of repos, issues, PR comments etc.) and measure the time it needs. If it takes around 30 days or longer then we should definitely make backups in appropriate intervals.

However, if it's possible to make incremental backups then I'd prefer that one in a

[2018-06-08 09:22] tasket commented on #3961
What template and version of qubes-core-agent?
I was unable to reproduce this using qubes-core-agent 4.0.28 (debian-9) or 4.0.30 (fedora-28) using the [qubes-tunnel](https://github.com/tasket/qubes-tunnel) code which has a similar `up` script with identical `iptables -F` command. PR-QBS is present and the qubes-iptables.service status is active/success. I also tried both methods of disabling ipv6.

[2018-06-08 10:17] tasket commented on #3955
Note:

It appears the disconnection behavior for qubes-core-agent-network-manager hasn't been considered until now, because there is no scripted `down` action.

In contrast, [qubes-tunnel](https://github.com/tasket/qubes-tunnel) and related VPN handlers are written with the expectation that any transition to a 'down' state must leave all traffic blocked. In this configuration the solution for an a

[2018-06-08 10:30] tasket commented on #3880
I would consider extending the solution for this into a general facility for reporting failures of critical qubes guest services, including qubes-gui-agent. This would mean it has to work even if the guest GUI isn't working (it would use only dom0 GUI).

[2018-06-08 15:08] ghost opened #3970 ""How To make a VPN Gateway in Qubes" tutorial for R 4.0 is missing"
here it is for R 3.2 only https://www.qubes-os.org/doc/vpn/

[2018-06-08 16:16] Simon-Davies opened #3971 "Review and, if appropriate, add Nvidia Nouvea driver documentation"
Feel free to copy and add to your documentation:

https://www.engetsu-consulting.com/blog/installing-qubes-4-0-on-laptops-with-nvidia-gpus-that-do-not-support-the-nouveau-driver

[2018-06-08 16:37] marmarek commented on #3958
There is a new [migration API](https://developer.github.com/changes/2018-05-24-user-migration-api/) to download all the data associated with user/repository. I don't see documentation about archive format there, but I'd assume it is something machine readable (a set of json files?) that could be used to import it into another service if needed.

[2018-06-08 22:33] RefinedSoftwareLLC opened #3972 "Taskbar-Clock, hwclock, ClockVM(sys-net), sys-whonix, dom0 issues & improvements."
### Qubes OS version:

R4.0

### Affected component(s):

Taskbar-Clock-Display, hwclock, ClockVM(sys-net), sys-whonix, and dom0

---

### Steps to reproduce the behavior:

Shutdown PC, Use BIOS to change hwclock to local time (mine does not let me state a timezone), Start Qubes OS.
Taskbar-Clock-Display has wrong time.
sys-whonix fails whonixcheck with CLOCK_SKEW.
dom0 has wrong timezone offset, l

[2018-06-08 23:25] comods opened #3973 "Installer option to automatically rescue existing install from common boot issues"
Installer option to automatically rescue existing install from common boot issues.
This is an industry standard expected by normal users and mandatory for a good user experience (even if Qubes OS is flawless, other things can corrupt the boot sequence).

### Qubes OS version:

Qubes-R4.0-x86_64.iso (I burned to DVD and installed onto a blank computer)

### Affected component(s):

Entire Qubes OS a

[2018-06-09 01:39] andrewdavidwong commented on #3958
We should always have backups regardless of whether we plan to migrate away from the service.

We should use it to make backups regardless of whether we plan to import them into another service.

[2018-06-09 01:56] andrewdavidwong opened #3974 "Devise system to back up all project data stored on GitHub"
(Branched from https://github.com/QubesOS/qubes-issues/issues/3958#issuecomment-395930401)

The Qubes OS Project has a lot of important data stored (only) on GitHub. This is a single point of failure. We should devise a system (ideally an automated one) to back this data up regularly. Examples of data that should be backed up:

- [ ] Issues (text, labels, milestones, closing and reopening actions)

[2018-06-09 09:57] marmarek commented on #3974
I've downloaded data from github-issues repo using migration API. It's ~200MB tar.gz containing a set of json files with issues data, comments etc. Plus a directory with issues attachments. And a git repo itselt.
Looks like a good method for a backup. I consider publishing the archive, but need to make sure there is no private data inside first. For example threre is `users.json`.

Creating the ar

[2018-06-09 14:21] yonjah opened #3975 "Issues when Restoring backup"
### Qubes OS version:
R4.0
### Affected component(s):

Backup And Restore

---
### Steps to reproduce the behavior:
I just replaced my hardrive so I made a backup for all VMs and templates In my current R4.0 install
and then a fresh install And restore for the backups.

### Expected behavior:

Get all the a system that is identical to the backup (all vms and settings)

### Actual behavior:

After

[2018-06-09 14:30] yonjah opened #3976 "Cannot install without adding the whonix vms"
### Qubes OS version:
R4.0

### Affected component(s):
fresh Install

---

### Steps to reproduce the behavior:
Do a fresh install
After install is done in the configure qubes screen unselect the whonix / tor vm from being added. (leave all the other settings as they were)

### Expected behavior:

Get qubes configure with all the default vms (sys-net sys-usb etc) but without whonix-gw or whonix-ws

[2018-06-09 14:33] marmarek commented on #3976
The option in configure screen is only about sys-whonix and anon-whonix VMs. If you don't want to install Whonix _templates_, you need to unselect them during installation - software selection dialog.

[2018-06-09 18:28] schnurentwickler opened #3977 "Hypothetically: Identification attack surface in Qubes OS (any version)"
Remember: This is a hypothetic thought

Depending on the Qubes Security Bulletin #37 (https://www.qubes-os.org/news/2018/01/11/qsb-37/) it should be theoretically possible to get information about the system and in long term also about the user behind qubes. Because as described in QSB #37 at '## All attacks are read-only', '## Only running VMs are vulnerable', '## Only running VMs are vulnerable'

[2018-06-10 02:49] andrewdavidwong commented on #3975
This is working as intended. See #2271. However, it sounds like we need to add a message explaining what's happening.

I think this is intended, since we don't want restoring to unintentionally clobber existing VMs with the same name. Perhaps it might be useful to add an option to enable clobbering.

I think IPs are assigned based on the `qid`s in that system, which are probably determined for res

[2018-06-10 02:54] andrewdavidwong commented on #3977
It would be better to discuss this in `qubes-users` before opening any issues. If there are *specific, actionable* issues as a result of the discussion, then feel free to open a *separate* issue for each one. (This includes things like documenting workarounds.)

[2018-06-10 02:54] #3977 closed

[2018-06-10 03:00] andrewdavidwong commented on #3976
On second thought, are you sure this isn't a UX issue, @marmarek? For example, is it clear that deselecting the Whonix option will prevent only `sys-whonix` and `anon-whonix` from being created, and is it reasonable for us to expect someone installing to understand the difference between those and the Whonix templates without an explanatory tooltip (#2211)? Also, is it likley that someone who dese

[2018-06-10 12:56] maertsen commented on #3705
I've just tried the workaround suggested by @evilaliv3, both with xen-hypervisor at 4.8.3-3 and 4.8.3-7. In both cases, the systems freezes after wakeup, though I get to type some characters in the xscreensavers password prompt. After the freeze, the fan speeds up.

@evilaliv3, can you state your version of xen-hypervisor and other packages you deem relevant? I see mention of fixes in 4.8.3-8 in #

[2018-06-10 13:03] marmarek commented on #3976
It might be a bit confusing that Whonix-related choices are split into two places. Maybe we should remove that option from firstboot and always create Whonix VMs if it was enabled during installation? And only leave the option to enable or not routing everything through Whonix. Ideally we could have all those choices in one place (during installation), but it's technically tricky, as it isn't poss

[2018-06-10 14:32] evilaliv3 commented on #3705
I'm with 4.8.3-7

As i wrote i continue to confirm that the fix above fixed the situation for me as the issue no longer happened.

[2018-06-10 14:32] anon-user-20180610 opened #3978 "qubes-guid fails when started by an RPC from a start-at-boot VM"
### Qubes OS version:
R3.2

### Affected component(s):
qrexec-daemon / qubes-guid

### Steps to reproduce:
 - domX is currently not running
 - domY has been started at boot and is currently running
 - domY calls an RPC service in domX
 - domX is started, but the qubes-guid fails to start
 - `/var/log/qubes/guid.<domX>.log` contains:
[code]

### Cause:
This happens because the domX `qubes-guid` can

[2018-06-10 14:49] marmarek commented on #3978
It shouldn't be a problem with .Xauthority, because local user is added with `xhost` command - so have access regardless of Xauthority (see `/etc/X11/xinit/xinitrc.d/localuser.sh`). But no user process can access X session before user logs in, regardless of method it gets the access later. Maybe that's what you see?

[2018-06-10 14:50] evilaliv3 commented on #3705
I'm with 4.8.3-7

As i wrote i continue to confirm that the fix above fixed the situation for me as the issue no longer happened.

[2018-06-10 16:38] anon-user-20180610 commented on #3978
No, that issue happens even long after logging in.

Also, despite the `xhost` setting, Xauthority **definitely** has an effect on the GUI:
[code]

Without the `XAUTHORITY=` prefix, the VM starts up normally.

[2018-06-10 16:40] marmarek commented on #3978
Maybe something is wrong with that xhost setting? Can you verify if `xhost` contains `SI:localuser:YOUR_USERNAME`?

[2018-06-10 16:46] anon-user-20180610 commented on #3978
I was wondering about that, too, but ...
[code]

[2018-06-10 16:52] anon-user-20180610 commented on #3978
Can you reproduce that startup problem with `XAUTHORITY= qvm-run -a <...>` ?

[2018-06-10 17:38] anon-user-20180610 commented on #3978
Funny timing ... I just stumbled across the setuid-root before checking back to this page :-D

I can confirm now that adding `SI:localuser:root` removes the startup problems with `XAUTHORITY= qvm-run ...` **and** solves the original problem.

Thank you very much!

[2018-06-10 18:27] andrewdavidwong commented on #3976
Reopened as a UX enhancement.

The options are fine. We just need a better descriptions of what they do. Here's what I currently see:
1. [Software selection](https://openqa.qubes-os.org/tests/89#step/install_templates/2)
2. [Firstboot options if Whonix templates were **not** selected](https://openqa.qubes-os.org/tests/19#step/firstboot/5)
3. [Firstboot options if Whonix templates **were** selected

[2018-06-10 18:28] yurikanestorm opened #3979 "Fail to build Qubes OS R4.0 iso from scratch - gcc failed to build - directory not found"
### Qubes OS version:

R4.0

### Affected component(s):

qubes-builder
commit: mm_4e03c122

---

### Steps to reproduce the behavior:

git clone git://github.com/QubesOS/qubes-builder.git qubes-builder
cd qubes-builder
make get-sources
make qubes

### Expected behavior:

All Qubes rpms are built

### Actual behavior:

The build fails with the following error:

-> Installing core RPM packages...
Fa

[2018-06-10 18:32] andrewdavidwong commented on #3978
Closing this as "resolved." If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2018-06-10 18:32] #3978 closed

[2018-06-10 18:36] marmarek commented on #3979
Indeed looks like a archive handling bug. I'll fix it in a moment. But believe me, you don't want to build gcc yourself, it takes 12h+... You can use pre-built package from yum.qubes-os.org by removing it from `COMPONENTS` (a list of things to build locally) setting in `builder.conf` and adding `USE_QUBES_REPO_VERSION = 4.0` instead.

[2018-06-10 19:07] #3979 closed

[2018-06-12 09:42] Scinawa opened #3980 "Unable to use gnome-tweak-tools from debian template"
### Qubes OS version:

4.0 R4.0

### Affected component(s):

All debian 9 app VMs and the template.

---

### Steps to reproduce the behavior:

Simply run `gnome-tweak-tools` from command line, Qube Manager (run command in appvm)  and apply some edits. The software is executed , but the modifications (like the scaling factor of the fonts) are not applied upon quitting the windows, like with other

[2018-06-12 10:13] Klar opened #3981 "unable to boot"
### Qubes OS version:

latest ISO:  Qubes-R4.0-x86_64.iso  - maybe updated after installation

### Affected component(s):

Boot

---

### Steps to reproduce the behavior:

Installation of latest Qube OS ISO
Start boot from disk
Playing around - update qubes - create delete run qubes etc.
shutdown
power on

### Expected behavior:

normal boot

### Actual behavior:

disk does not boot, for a short t

[2018-06-12 11:39] adrelanos commented on #3951
This is a blocker for the release of Whonix 14.

[2018-06-12 12:45] thewildcat opened #3982 "Sub windows in java applications close immediately"
### Qubes OS version:

R3.2 with xfce

### Affected component(s):

Window manager maybe?

---

### Steps to reproduce the behavior:

Download the latest intellij rider:
https://www.jetbrains.com/rider/
Try to open submenus like right clicking inside the editor window (the submenu instantly closes).
Also effects burp suite:
https://portswigger.net/burp/releases/download?product=community&version=1.

[2018-06-12 14:21] pgerber commented on #3982
I reported a [bug against InteliJ IDEA](https://youtrack.jetbrains.com/issue/IDEA-189280) describing this issue a while back. Doesn't appear to be Qubes-specific, users of many other distros are affected too.

[2018-06-12 14:54] dmoerner opened #3983 "Fedora VMs not updating time"
Fedora 28 templates and Qubes 4.0.

qvm-sync-clock is updating dom0 to the wrong time because sys-net has the wrong time because systemd-timesyncd isn't starting with error status=238/STATE_DIRECTORY.

Fedora issue: https://bugzilla.redhat.com/show_bug.cgi?id=1559286.
Upstream report: https://github.com/systemd/systemd/issues/7659

Manually changing /var/lib/private to 700, as mentioned in the abo

[2018-06-12 19:40] subvertising commented on #3964
Hello guys. I met the same problem. Just one hour ago I manually shutted down my Qubes 4 because it freezes during the work.
After reboot I try to run any AppVM and get:

Then I try to start sys-net and see following:

I don't know what to do to fix it. I tried yours " `sudo lvremove qubes_dom0/vm-sys-whonix-private-snap`" but, as I think (I'm noob) it is not connected with sys-net and sys-firewal

[2018-06-12 20:07] subvertising commented on #3964
When I try:
`sudo lvremove qubes_dom0/vm-sys-net-volatile`
I recieve:

[2018-06-12 20:15] marmarek commented on #3178
A workaround: before executing `update-grub2`, make a symlink: `ln -s ../xvda3 /dev/mapper/dmroot`.
For me the symlink is in place when booting dom0-provided kernel, but it isn't anymore when booting debian kernel (and initramfs generated by debian). So, first setup works, but then kernel update fails.

The symlink is correct inside TemplateVM/StandaloneVM only (but not in TemplateBasedVM). But th

[2018-06-12 21:38] akkuladezeit commented on #3926
still got this problem.
I tried to update the f26 template to current-testing (sudo yum update --enablerepo=qubes-vm-r4.0-current-testing)
is will try to update some packages .. also
qubes-core-agent-networking-4.0.28-1.fc26.x86_64 -> qubes-core-agent-networking-4.0.30-1.fc26.x86_64
qubes-core-agent-qrexec.x86_64 4.0.28-1.fc26 -> qubes-core-agent-qrexec.x86_64 4.0.30-1.fc26
but this is getting the

[2018-06-12 21:57] marmarek commented on #3926
Update scripts of qubes-core-agent-*-4.0.28 are broken, you need to remove it manually, bypassing update scripts:
1. Make sure you have 4.0.30 version installed!
2. Call `sudo rpm -e --noscripts qubes-core-agent-qrexec-4.0.28-1.fc26.x86_64 qubes-core-agent-networking-4.0.28-1.fc26.x86_64`

[2018-06-12 22:34] akkuladezeit commented on #3926
Yeah i think both are installed
sudo dnf list installed | grep -e "qubes-core-agent-networking" -e "qubes-core-agent-qrexec"
qubes-core-agent-networking.x86_64      4.0.28-1.fc26              @qubes-vm-r4.0-current
qubes-core-agent-networking.x86_64      4.0.30-1.fc26              @qubes-vm-r4.0-current-testing
qubes-core-agent-qrexec.x86_64          4.0.28-1.fc26              @qubes-vm-r4.0-curre

[2018-06-13 02:20] andrewdavidwong commented on #3982
Closing as "not our bug." If you believe this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2018-06-13 02:33] andrewdavidwong commented on #1588
[On 2018-06-12 03:12, [...] wrote:](https://groups.google.com/d/msgid/qubes-users/1264feaa-2134-84a9-0876-12458992adba%40riseup.net)

Reopening.

[2018-06-13 02:39] davidad opened #3984 "Mouse does not work in AppVMs on rotated monitor"
### Qubes OS version:

R4.0

### Affected component(s):

Probably related to `qvm-start-gui --notify-monitor-layout`

---

### Steps to reproduce the behavior:

* Install Qubes R4.0
* Attach an external monitor
* Rotate the external monitor with `xrandr --rotate left`
* Launch Firefox in an AppVM
* Move Firefox window to external monitor
* Click inside the Firefox window

### Expected behavior:

F

[2018-06-13 07:28] adrelanos commented on #3765
Do you think you could provide instructions on how to test this? @viq

https://forums.whonix.org/t/qubes-whonix-14-saltstack-state-files-testers-wanted/5324

[2018-06-13 08:44] adrelanos commented on #3882
Note to self: works in Qubes-Whonix 14 / Qubes R3.2

[2018-06-13 10:46] adrelanos commented on #3882
This is fixed in Qubes-Whonix 14 after upgrades. Please test.

[2018-06-13 13:04] thewildcat commented on #3982
That may be true for IntelliJ, but with burp I have not been able to reproduce it on any other distribution or system other than Qubes R3.2 (see my comments from the burp bug report).

As I am working in the infosec business, this tool is quite essential from time to time. I'll have to test if it also effects Qubes 4.0 if not, the switch is planned for this year anyway.

[2018-06-13 13:15] RefinedSoftwareLLC commented on #3973
Per: https://groups.google.com/forum/#!topic/qubes-users/JwLKyzg32ao
- [ ] When needed, automatically remove rd.qubes.hide_all_usb Kernel Param if no PS/2 port is in use to enter hard drive password.

[2018-06-13 13:29] RefinedSoftwareLLC commented on #3973
Automatic Rescue should save a log of all the changes it made (if it has access to a hard drive with free space?). This allows debugging if something goes wrong, but also for self taught users to see what was needed to fix their system, and power users to manually revert changes as they wish (maybe to fix a duel boot that broke when getting Qubes OS to boot).

[2018-06-13 13:37] marmarek opened #3985 "Add qubes-qrexec-agent startup notification to avoid race conditions"
During VM startup, even if service have proper dependency (`After=qubes-qrexec-agent.service`), it doesn't necessary mean that qrexec agent is indeed ready at that time. Example:
[code]

To solve this, qubes-qrexec-agent service should signal systemd when it's ready, not just when the main process was started.

[2018-06-13 13:50] marmarek commented on #3178
@redshiftzero can you confirm the symlink helps in your case?

[2018-06-13 14:05] marmarek commented on #3951
@adrelanos can you provide exact steps (versions etc) to reproduce? I've tried updating both qubesdb and qubes-core-agent at the same time in debian-9 template it it worked just fine. Was that during whonix-13 -> whonix-14 update?
Note that if you see those messages during template build, it doesn't matter, since qubes.PostInstall is also called at template installation time.

[2018-06-13 14:56] marmarek commented on #3951
[Debian policy](https://www.debian.org/doc/debian-policy/#s-binarydeps):

So, `Depends: qubesdb-vm` should fix it. But since I can't reproduce the problem, cannot reliably test it. Will push the update to testing anyway.

[2018-06-13 15:42] adrelanos commented on #3951
Marek Marczykowski-Górecki:

If you have a Qubes-Whonix 14 template and upgrade it, this should be
reproducible.

Didn't test whonix-13 -> whonix-14 upgrade to reproduce this. No major
upgrade required. This was happening during Whonix 14 package upgrades.

the problem, cannot reliably test it. Will push the update to testing
anyway.

Very good! :) Once in testing, I will test. Will let you know i

[2018-06-13 18:50] marmarta commented on #3856
Should be fixed by https://github.com/QubesOS/qubes-manager/pull/91

[2018-06-13 18:50] #3856 closed

[2018-06-13 19:17] jsmgithub opened #3986 "Lenovo W520 and fujitsu esprimo e5730 /usr/bin/qubes default-kernel 4.14.18-1 failed"
### Qubes OS version: 4.0

![img_20180609_180624](https://user-images.githubusercontent.com/40247322/41372933-0a5b7432-6f4f-11e8-819a-7af5b0742a18.jpg)

### Affected component(s): Its failed under Domain creation

---

### Steps to reproduce the behavior:

### Expected behavior:

### Actual behavior:

### General notes: I will be very glad if this could be fixed. I love Qubes so much.

---

### Re

[2018-06-13 21:26] jsmgithub opened #3987 "Lenovo W520 fujitsu siemens e5730 /usr/bin/qvm-start sys-firewall failed"
### Qubes OS version: 4.0

### Affected component(s):

---

### Steps to reproduce the behavior:

### Expected behavior:

### Actual behavior: I hope that will be fixed.

### General notes:

---

### Related issues:

[2018-06-13 21:28] Zig-03 opened #3988 "Newly created windows don't always queue to the right of the last one"
### Qubes OS version:
R4.0

### Affected component(s):
XFCE panel and the way windows appear on it (the order)

### Steps to reproduce the behavior:
Have some apps opened, say Firefox and a Terminal windows. Minimize them and memorize their location on the panel. Next open a file, a folder, an app, whatever and you will see that they don't appear on the panel in a chronological order, instead some

[2018-06-13 21:48] micahflee opened #3989 "Enigmail 2.0.7 breaks split GPG"
### Qubes OS version:

R4.0

### Affected component(s):

`qubes-gpg-split 2.0.30`

### Steps to reproduce the behavior:

Using Thunderbird and Enigmail configured to use [Split GPG](https://www.qubes-os.org/doc/split-gpg/), do normal PGP operations like try sending an encrypted email, or try decrypting an email.

### Expected behavior:

They should work.

### Actual behavior:

They fail because `q

[2018-06-13 22:00] marmarek commented on #3989
Do you see anything wrong with ignoring `--log-file` option (at qubes-gpg-client-wrapper level)? Allowing it as-is would be obviously wrong, because that would allow creating (or maybe even overriding) arbitrary file in the backend VM. But not sure if worth the effort to pass it back to frontend domain (if you want, you can always setup logging in gpg.conf in the backend VM).
The question here is

[2018-06-13 22:11] starius commented on #3882
I upgraded everything using Qube Manager and restarted the VM. Still getting that error.
How to check the Whonix version I am using?

[code]

[2018-06-13 22:28] micahflee commented on #3989
I'm not sure. I don't see a reason to need the gpg logs, but it's possible Enigmail might try to open that file it's writing to later. I'll try to find out.

[2018-06-13 23:07] starius opened #3990 "Hash Sum mismatch in Whonix"
### Qubes OS version:

R4.0

### Affected component(s):

whonix-gw, whonix-ws

---

### Steps to reproduce the behavior:

Run `sudo apt-get update`

### Expected behavior:

Success

### Actual behavior:

[code]

### General notes:

I tried removing `/var/lib/apt/lists/*` to fix the issue as [suggested on askubuntu](https://askubuntu.com/questions/41605/trouble-downloading-packages-list-due-to-a-ha

[2018-06-13 23:32] marmarek commented on #3990
Repository sync failed due to temporary network problem. Fixed.

[2018-06-13 23:32] #3990 closed

[2018-06-13 23:43] #3951 closed

[2018-06-14 02:42] andrewdavidwong commented on #3987
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this appears to be too localized for `qubes-issues`, since it depends on a specific hardware configuration. We ask that you please send this to the `qubes-users` [mailing list](https://www.qubes-os.org/support/) instead. `qubes-users` is intended for these sorts of issues and receives much more traffic, which

[2018-06-14 02:42] #3987 closed

[2018-06-14 02:45] andrewdavidwong commented on #3988
This is not a Qubes issue; it's an Xfce4 setting:
[code]
If you need further help, please seek out the Xfce4 documentation and consult their help resources.

[2018-06-14 02:45] #3988 closed

[2018-06-14 02:51] andrewdavidwong commented on #1588
[On 2018-06-13 02:45, [...] wrote:](https://groups.google.com/d/msgid/qubes-users/da5e0768-c6c2-962b-13f7-070451e6c6e3%40riseup.net)

CC: @marmarek

[2018-06-14 05:01] mvermaes opened #3991 "Fedora 28 dnf update dependency issue with salt and python-tornado"
### Qubes OS version:

R3.2

### Affected component(s):

Fedora packaging, Salt

---

### Steps to reproduce the behavior:

Install `qubes-template-fedora-28`, then run `dnf update` in the template

### Expected behavior:

All packages updated, no dependency issues.

### Actual behavior:

[code]

### General notes:

Using `--best --allowerasing` as suggested allows `python2-tornado` to be upgraded

[2018-06-14 05:08] adrelanos commented on #3882
Expected. You're on stable rather than testers-only version. Fixed inQubes-Whonix 14 after upgrades only.

[2018-06-14 07:33] holiman commented on #2826
I also would like this feature, but for a different usecase. I use different VMs for development, e.g one for golang, another VM that builds docker images, and a third for npm/electron and javascript things. I would like to be able to have a shared disk area that I can use for git repositories, instead of having to `qvm-copy` entire repos between the different VMs, and also not have to set up gpg-

[2018-06-14 07:42] adrelanos commented on #3765
Does https://forums.whonix.org/t/qubes-whonix-14-saltstack-state-files-testers-wanted/5324/2 suffice?

[2018-06-14 08:41] qubesissues opened #3992 "Please explain "System Log""
### Qubes OS version:

4.0

### Affected component(s):

Qubes Manager

---

### Steps to reproduce the behavior:

Try to delete a Qube.  You will (often) get the error to check the system log.  What is the system log?  That is vague.

### Expected behavior:

It should say "please check /var/log/something.log"

### Actual behavior:

You get told to check the system log.  What is that?

### General

[2018-06-14 08:42] qubesissues opened #3993 "Can't Delete disp VM"
### Qubes OS version:

4.0

### Affected component(s):

Qubes Manager

---

### Steps to reproduce the behavior:

Try to delete a disp VM.

### Expected behavior:

The disp VM should be deleted after you enter it's name.

### Actual behavior:

You get an error that it cannot be deleted and check system log (see this issue: https://github.com/QubesOS/qubes-issues/issues/3992)

### General notes:

W

[2018-06-14 08:50] dylangerdaly commented on #3802
I'm currently using my TB3 port on my XPS 13 to run my Display and Keyboard, will this mean I can no longer use an External Display in 4.1?

Many laptops are increasingly dropping Display IO for TB3.

I could be wrong in that Thunderbolt has nothing to do with Display?

[2018-06-14 09:02] adrelanos opened #3994 "change Qubes network policy, UpdatesProxy to network disabled by default for better leak-proofness"
### Qubes OS version:
R4 and above
### Affected component(s):
dom0, Whonix
### Steps to reproduce the behavior:
None at the moment.
### Expected behavior:
Secure defaults.
### Actual behavior:
Insecure defaults.
### General notes:
Qubes UpdatesProxy mechanism currently is more likely to produce a leak in future. A leak as in a user expecting to have connections torified while these are over clearn

[2018-06-14 09:08] Zig-03 commented on #3988
Thank you @andrewdavidwong  So it's not an issue, tho beginners might consider it so. Then this issue might be considered as a suggestion, to have the Timestamp option, as the default one in Qubes, to avoid confusion and improve UX.

For anyone else looking to change this settings:
System tools > Setting Manager > Panel > Items > _select_ Windows Buttons > _click_ the wrench icon > Sorting Order >

[2018-06-14 09:19] adrelanos commented on #3994
Let's see why VirtualBox `ova` files handle this better.

* these contain the VM images
* these also contain the VM settings
* the workstation can have a setting like "may connect to another VirtualBox VM only" (internal networking) (so no external networking to clearnet)
* at the same time, easily downloadable VirtualBox VMs with proxying capabilities are rare
* at the same time, VirtualBox has n

[2018-06-14 14:02] andrewdavidwong commented on #3827
This is happening again.

[2018-06-14 14:21] donob4n commented on #3736
Should be fixed with https://github.com/QubesOS/qubes-manager/pull/91

[2018-06-14 14:21] #3736 closed

[2018-06-14 15:02] marmarek commented on #3802
Display over Thunderbolt is a tricky question but not because of its drivers shipped in dom0 or not, but because in 4.1 we plan to move the whole GUI handling out of dom0 (https://github.com/QubesOS/qubes-issues/issues/2618). I wonder what that means in context of thunderbolt ports - would some additional device needs to be assigned there? What about non-display devices plugged there?

[2018-06-14 17:11] RefinedSoftwareLLC commented on #3993
Even though DispVM sounds like its short for Display, it really means Disposable. These are VMs that leave behind less changes then any other type of VM. If you open a file in a Disposable VM, then only changes to that file are saved (anyone correct me if this is incorrect). In order to delete a Disposable VM, you have to remove it from the "Default DispVM" advanced setting of every other VM manua

[2018-06-14 17:28] RefinedSoftwareLLC commented on #3981
These steps fixed my boot issue, feel free to try them:

Burn Qubes-R4.0-x86_64.iso to a DVD & Boot from it.
Select "Troubleshooting", then "Rescue a Qubes system".
Select `1` to continue.
`chroot /mnt/sysimage`
`vim /boot/efi/EFI/qubes/xen.cfg`
Change `default=...` to have the `...` be one of the options listed below in the same file. (All I had to change was the `41` to `35`)
Note: `Esc` Key, th

[2018-06-14 18:03] micahflee commented on #3989
Patrick from the Enigmail project responded with this:

Werner Koch from GnuPG also added that just adding `--no-verbose` will also prevent the mixture of human-readable and machine-parsable output, and apparently Enigmails gpg calls now also all include that flag anyway.

So, I think `qubes-gpg-client` can replace `--log-file XXX` with `--log-file /dev/null` and that _should_ fix it.

[2018-06-14 18:28] RefinedSoftwareLLC commented on #3215
Also, when the DVD in a drive is changed, the displayed title of the current DVD isn't updated.

[2018-06-14 19:36] razercortex101 opened #3995 "UEFI Installer Crashes"
### Qubes OS version:

R4.0

### Affected component(s):

Anaconda, Xen, Qubes OS

---

### Steps to reproduce the behavior:

Open boot menu and select UEFI USB.

### Expected behavior:

The USB boots successfully to Anaconda and the GTK installer starts.

### Actual behavior:

Xen boots via the EFI Loader, then the text disappears and there is a black screen afterwards.

### General notes:

Have t

[2018-06-14 19:46] RefinedSoftwareLLC opened #3996 ""[Dom0] Choose Preferred Application" improvement"
If this change is not desired, please refer to "General notes".

### Qubes OS version:

R4.0

### Affected component(s):

dom0

---

### Steps to reproduce the behavior:

Right click the taskbar audio widget.
Select "About".
Left click "Website".
"[Dom0] Choose Preferred Application" displays.
Dropdown "No application selected" only has "Other..." option which drops you into a select file popup.
U

[2018-06-14 19:51] razercortex101 commented on #3995
![screenshot_20180614-152158](https://user-images.githubusercontent.com/34553919/41434718-b0f075c2-6fea-11e8-9dc7-6674647237bb.png)

[2018-06-14 20:21] RefinedSoftwareLLC opened #3997 "Taskbar Devices Widget: Label devices"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's taskbar widget "devices" (the yellow one)

---

### Steps to reproduce the behavior:

Click on dom0's taskbar widget "devices" (the yellow one).
Some devices are easy to read, like "Microphone" or "sys-usb".
Others are not, as I can only tell which one is my DVD player when I recognize the label of the DVD in the drive.

### Expected

[2018-06-14 20:30] RefinedSoftwareLLC opened #3998 "Taskbar Widget NetworkManager Applet: Stays open"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's Taskbar Widget "NetworkManager Applet"

---

### Steps to reproduce the behavior:

Click open dom0's Taskbar Widget "NetworkManager Applet", now click on any other widget or VM.
"NetworkManager Applet" doesn't automatically close.

### Expected behavior:

"NetworkManager Applet" close like the other widgets when another widget or VM i

[2018-06-14 20:43] RefinedSoftwareLLC opened #3999 "Taskbar Widget xfce4-pulseaudio-plugin: Unable to test speakers"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's taskbar widget "xfce4-pulseaudio-plugin" version 0.2.5

---

### Expected behavior:

Button to test audio at the current volume or at least play a sound at the current volume when the user releases a mouse click from the volume bar.
In windows, if a user clicks on the audio bar, it plays a sound at the new volume so that they can veri

[2018-06-14 21:09] RefinedSoftwareLLC opened #4000 "Taskbar Widget Active Qubes: Notification says starting on VM shutdown"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's Taskbar Widget "Active Qubes"

---

### Steps to reproduce the behavior:

Notice there is a Qube still running in the background, even though all its windows are closed.
Use the Taskbar Widget "Active Qubes", to issue shutdown request.
Sometimes the notification `Domain <vmname> is started` displays and if you check, the VM is no long

[2018-06-14 21:12] marmarek commented on #3998
This is result of GUI isolation - "NetworkManager Applet", running in sys-net doesn't see clicks outside of its window, so it doesn't close when you click anything which doesn't belong to sys-net.
But regardless of this, it is a valid UX issue.

[2018-06-14 21:40] RefinedSoftwareLLC opened #4001 "Whonix notifications cover taskbar widgets and other notifications"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's notifications, dom0's taskbar widgets

---

### Steps to reproduce the behavior:

Reboot Qubes OS.
Notice two types of notifications.
One type is the smaller common ones.
The other type is larger, covering the taskbar widgets, covering the smaller notifications, has an [x] button.

### Expected behavior:

All notifications should use

[2018-06-14 22:09] RefinedSoftwareLLC opened #4002 "Qube Manager: Can't resize colums back to starting size"
### Qubes OS version:

R4.0

### Affected component(s):

Qube Manager

---

### Steps to reproduce the behavior:

Open Qube Manager. Move mouse over column header until icon changes to allow resizing of column.
Click and drag left or right.
Notice the size instantly jumps larger.
Unable to resize to original smaller size.

### Expected behavior:

Column min size is the same or smaller then the sta

[2018-06-14 22:14] marmarek commented on #3827
Fixed.

[2018-06-14 22:14] #3827 closed

[2018-06-14 22:36] RefinedSoftwareLLC opened #4003 "Qube Manager: Right click instantly selects edit firewall"
### Qubes OS version:

R4.0

### Affected component(s):

Qube Manager

---

### Steps to reproduce the behavior:

Here are the different effects:
1. If you left click a Qube:
Nothing happens.
2. If you right click a Qube, do not move the mouse, and instantly let go:
The context menu displays and stays displayed even though you are not holding down a mouse key.
- Then move the mouse over a menu ite

[2018-06-14 23:00] redshiftzero commented on #3178
Excellent, thank you @marmarek, we'll try this out and report back (cc @emkll)

[2018-06-14 23:12] andrewdavidwong commented on #3988
No. The fact that it happens to be your personal preference is never a good reason to make it the default.

[2018-06-14 23:34] andrewdavidwong commented on #4003
Duplicate of #1911

[2018-06-14 23:34] andrewdavidwong commented on #4003
This appears to be a duplicate of an existing issue (see https://github.com/QubesOS/qubes-issues/issues/1911#issuecomment-272076488). If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-06-14 23:34] #4003 closed

[2018-06-14 23:38] andrewdavidwong commented on #3991
Several users affected. Thread:
https://groups.google.com/d/topic/qubes-users/oQhZgbObado/discussion

[2018-06-14 23:43] andrewdavidwong commented on #3988
Besides, we prefer to respect upstream decisions about defaults where possible (and especially when they're not security-relevant):

https://www.qubes-os.org/faq/#what-is-qubes-attitude-toward-changing-guest-distros

[2018-06-15 00:43] marmarek commented on #3991
Looks like Fedora dependency issue, but breakage correctly avoided by dnf.
Salt require (according to package deps) python2-tornado _older_ than 5.0, so dnf blocks update to python2-tornado-5.0.2-2.fc28. Not sure if "python2-tornado < 5.0" is still applicable, but probably is - was introduced in Feb 2018, in salt-2017.7.4-1. According to [salt 2018.3.1 release notes](https://docs.saltstack.com/en/

[2018-06-15 00:45] RefinedSoftwareLLC commented on #3993
(Using `qvm-remove <vmname-dvm-template>` or Qube Manager's Delete qube)
Instead of the message `VM can't be deleted, check system log` how about giving the following:

"This qube can't be deleted while it is the `Default DispVM` of another qube.
With any qube who's `Default DispVM` is <vmname-dvm-template>,
change their `Default DispVM` to: "
Then give a dropdown with the options of `default`, li

[2018-06-15 01:05] RefinedSoftwareLLC commented on #3993
If the qube being deleted is the "[Dom0] Qube Global Settings" `Default DispVM`, then display:

"This qube can't be deleted while it is the system default of `Default DispVM`.
Change the system default of `Default DispVM` to: "

Then give a dropdown with the options of default, list of dvm-templates (except qube being deleted), and none.
Lastly, display "Effected qubes: " and list of every qube wh

[2018-06-15 01:11] RefinedSoftwareLLC commented on #3688
If the qube being deleted is the "[Dom0] Qube Global Settings" Default DispVM, then display:

"This qube can't be deleted while it is the system default of Default DispVM.
Change the system default of Default DispVM to: "

Then give a dropdown with the options of the list of dvm-templates (except qube being deleted).
Lastly, display "Effected qubes: " and list of every qube who's Default DispVM wo

[2018-06-15 01:43] lunarthegrey commented on #3916
The mei and mei_me modules are still loaded with the 4.14.41-1 kernel (latest stable as of now). Is there any specific reason why the modules were added back @HW42 ?

[2018-06-15 01:45] DemiMarie commented on #3802
I, personally, would like to be able to run an external GPU over
Thunderbolt and assign it to a VM.  That means ensuring that the DMA engine
in the Thunderbolt port can only access the memory assigned to the
corresponding VM.

On Jun 14, 2018 11:02 AM, "Marek Marczykowski-Górecki" <
notifications@github.com> wrote:

Display over Thunderbolt is a tricky question but not because of its
drivers shipp

[2018-06-15 01:47] lunarthegrey commented on #3991
Can confirm the issue, noticed it the other day when running updates.

[2018-06-15 02:02] DemiMarie commented on #3802
Yikes.

Thunderbolt is vulnerable to a rDMA attack, as well as code execution
during boot via option ROMs.  We need to turn on UEFI Secure Boot for Qubes
(which whitelists option ROMs, either by hash or by signing key), and
ensure that the Thunderbird port is disabled until Qubes can configure the
IOMMU to sandbox it.

On Thu, Jun 14, 2018, 9:45 PM Demi Obenour <demiobenour@gmail.com> wrote:

[2018-06-15 03:16] RefinedSoftwareLLC opened #4004 "Qube Manager: Create dvm-templates"
### Qubes OS version:

R4.0

### Affected component(s):

dom0 Qube Manager, DVM-Template Qubes

---

### Steps to reproduce the behavior:

Create Qube.
Use console to change Qube into dvm-template.

### Expected behavior:

1. `qvm-features <vmname> appmenus-dispvm 1` shouldn't exist and is not needed.
- [ ] Instead if `qvm-prefs <vmname> template_for_dispvms true` then show in applications menu un

[2018-06-15 03:20] hairetdin commented on #2314
@kewde thanks, it really helped me and works fine. There was a problem with the CentOS 7 installation.

[2018-06-15 03:51] andrewdavidwong commented on #3993
Should be: "Affected qubes:"

Just noting it in case this language gets implemented.

[2018-06-15 03:54] andrewdavidwong commented on #3991
So, what should we do? Just let `dnf` skip `python2-tornado`?

[2018-06-15 04:57] RefinedSoftwareLLC opened #4005 "Applications menu: Hide Services/Templates qubes during routine app use"
Note: I do not know how much this overlaps with Qubes Admin API having managed Users.
Note: The goal is to provide an opt in experience, to hide options that are for installing/upgrading/configuring of any Qube/Application/dom0, during routine app use of Qubes OS. This increases security by hiding options you should not use during routine app use, while providing a minimalist experience to focus o

[2018-06-15 05:30] andrewdavidwong commented on #4005
Somewhat related: #3910

[2018-06-15 05:52] RefinedSoftwareLLC opened #4006 ""Open in DisposableVM": Popup to enable insecure settings, like networking"
Was Duplicate of #1118 (sorry), renamed.

An alternative implementation (which may be more secure):
- Select "Open in DisposableVM"
- Dom0 opens a popup asking if you want to enable insecure settings:

[Dom0] Open in DisposableVM
[code]

Original implementation for this issue:

### Qubes OS version:

R4.0

### Affected component(s):

File Manager's right click menu option to "Open in DisposableVM"

[2018-06-15 07:44] adrelanos commented on #1935
Disp3030:

`qubesdb-read /qubes-vm-type` shows `AppVM`.
`qubesdb-read /qubes-vm-persistence` shows `rw-only`
`qubesdb-read /type` shows `DispVM`.

whonix-ws-14-dvm:

`qubesdb-read /qubes-vm-type` shows `AppVM`.
`qubesdb-read /qubes-vm-persistence` shows `rw-only`
`qubesdb-read /type` shows `AppVM`.

Therefore we can consider this issue solved?

[2018-06-15 07:47] adrelanos opened #4007 "'qubesdb-read /qubes-vm-persistence' should not show 'rw-only' in DispVM"
### Qubes OS version:
R4
### Affected component(s):
DisposableVMs
### Steps to reproduce the behavior:
Start any DispVM. (Used one based on whonix-ws-14-dvm but should apply to any.)

    qubesdb-read /qubes-vm-persistence

### Expected behavior:
`qubesdb-read /qubes-vm-persistence` should output `none`.

### Actual behavior:
`qubesdb-read /qubes-vm-persistence` outputs `rw-only` which is clearly

[2018-06-15 08:38] dylangerdaly commented on #3802
@marmarek Ah this being sys-gpu or whatever it ends up being called, yeah I think TB3 for Display would be a requirement yeah? It's turning into the defacto standard for display, at least on newer laptops.

@DemiMarie I plan on doing the _exact_ same thing for Fallout 76 (Windows HVM -- eGPU), is there any info on how sys-gpu is going to work? Also it's my understanding Qubes isn't signing Kernel

[2018-06-15 08:48] o- commented on #3984
I have the same issue, even without rotation. I have a layout, where the primary display is at an offset in the virtual screen, when adding a second monitor. Basically the primary monitor is to the left, but shifted down with `--pos 0x520` and the external monitor is moved to the right with `--pos 1920x0`. Clicking only works in the upper half of the primary monitor, ie. on the `originalSize-520`

[2018-06-15 10:12] maertsen commented on #3705
I have just retested with 4.8.3-8. Issue remains.

The workaround to shutdown sys-usb prior to suspend also still works.
The usb 2 downgrade as suggested by @evilaliv3 does not work for me.

I am interested to hear pointers on how to further debug this issue.

[2018-06-15 10:37] maertsen commented on #3705
@evilaliv3 I just noticed that the setpci command does not appear to have any effect for 8086:9d2f as verified by lspci -xxxx. It remains at value 02 for d0. Is that different for you?

[2018-06-15 11:25] marmarek commented on #3991
Yes.

[2018-06-15 11:29] #1935 closed

[2018-06-15 11:36] marmarek commented on #3802
See [this message](https://groups.google.com/d/msgid/qubes-users/20180606094649.GH20125%40mail-itl) and its thread. Signing just Xen/Kernel isn't enough for meaningful boot security.

[2018-06-15 14:33] Klar commented on #3981
Thanks for your answer! I tried but it does not work, my file looks like:

[code]

Is there a way to see some more logs / debug? I do not see a grub bootloader, just a black screen for a short time.

[2018-06-15 15:01] RefinedSoftwareLLC commented on #3998
I solved this issue in a GUI manager I designed once.
When the GUI manager (in your case dom0) detects the window losing focus, normally by any mouse clicks or keyboard key presses outside the window, it runs a clear-all-input function for that window. This function can't be called again until the window has regained focus. This function would move the mouse  offscreen to a location no window is u

[2018-06-15 15:38] RefinedSoftwareLLC commented on #2132
@andrewdavidwong Can you include @marmarek 's how to use explanation. With the addition of running from dom0. "From dom0, you can apply a single state with `qubesctl state.sls STATE_NAME`. For example `qubesctl state.sls qvm.personal` will create personal VM (if not already there), with all its dependencies (template, sys-firewall, sys-net). The same for others."

[2018-06-15 16:55] RefinedSoftwareLLC commented on #3997
There should be a clear label in plain English of what is a USB drive verses the what is an entire USB device. Maybe "[files]" and "[device]". If you use the Devices Widget try to attach the "[device]", give a security popup:

[code]

@andrewdavidwong Should I open a new issue for this security improvement?

[2018-06-15 17:43] RefinedSoftwareLLC commented on #4001
Connected to Tor

This is the non-standard notification. It is fine that it is larger, but it needs to not overlap the taskbar nor other notifications.

[2018-06-15 17:52] marmarek commented on #2132
Yes, good idea.

[2018-06-15 18:46] RefinedSoftwareLLC commented on #3999
I created a bug report with xfce at https://bugzilla.xfce.org/show_bug.cgi?id=14455

[2018-06-15 20:48] nystilaps commented on #3198
I am trying to install Qubes OS R4.0 on an MSI GS65 8RE notebook.
I encountered two problems:
1) Installation hangs on storaged installation. I tried different options, mentioned here but it still hangs.
    Options tried: efi=attr=uc modprobe.blacklist=bochs_drm nouveau.blacklist=yes lbm-nouveau.blacklist=yes rd.driver.blacklist=nouveau  nouveau.modeset=0 video=vesa:off acpi=off apm=off irqpoll i

[2018-06-15 21:36] RefinedSoftwareLLC opened #4008 "Unable to mount DVDs with only Mouse"
### Qubes OS version:

R4.0

### Affected component(s):

dom0's taskbar widget Devices, cdroms, dvds, users of mainly Windows VMs, users who do not use the command line.

---

### Steps to reproduce the behavior:

In dom0's taskbar widget Devices (Yellow Icon), hover over your DVD drive, select <vmname> to attach to (example: personal).
Open <vmname> file application (example: Gnome Files).
Select

[2018-06-15 22:30] nystilaps commented on #3198
Seems it is normal behaviour:
https://github.com/QubesOS/qubes-issues/issues/1161#issuecomment-156713740

[2018-06-15 23:50] tweidinger commented on #3411
Having the issue on my end aswell with a T460p and the current 4.0 release.
Is there any more info needed for this issue?

[2018-06-16 06:03] andrewdavidwong commented on #3997
Yes, but I don't understand the distinction. Is it between a USB *controller* and a USB device? To me, "USB files" just means files residing in the filesystem of a USB mass storage device, but those aren't the sorts of things that can be attached to a qube.

[2018-06-16 11:42] Ekleog opened #4009 "R4: Disk password input field crashing when typing special characters"
### Qubes OS version:

R4

### Affected component(s):

Splash screen for inputting the disk password

---

### Steps to reproduce the behavior:

1. Have a LUKS password including digits
2. Input them in the boot-time disk password field via the keypad while forgetting to turn NumLock on

### Expected behavior:

~Nothing happens (or ideally NumLock is turned on by default on boot), the password fie

[2018-06-16 12:42] marmarek commented on #4009
It isn't crashing. Pressing esc, arrows and other such keys switches between verbose and normal view. You can press esc to switch back to normal view. But if you want, you can also enter your password in verbose view.

[2018-06-16 12:42] #4009 closed

[2018-06-16 13:20] Ekleog commented on #4009
Hmm, from memory there was no input field clearly visible, but I couldn't swear that.

That said, is there a reason why *arrows* switch to terminal view? (The numpad only has Home, PgUp, End, PgDn, Ins and arrow keys when NumLock is turned off) That's unexpected at best for the non-technical user, who will be freaked out by any terminal (which is exactly the situation I witnessed)

[2018-06-16 13:33] Ekleog commented on #4009
Hmmm that's likely indeed, so that's an upstream bug, will report to plymouth, thanks!

[2018-06-16 13:33] yurikanestorm opened #4010 "Fail to build Qubes OS R4.0 iso from scratch - fc26 and fc27 templates failed to build"
### Qubes OS version:

R4.0

### Affected component(s):

qubes-builder
commit: mm_4e03c122

---

### Steps to reproduce the behavior:

[code]
or
[code]

### Expected behavior:

The templates fc26 and fc27 are successfully built.

### Actual behavior:

The build fails with the following error:

 - for fc26:
[code]
- for fc27:
[code]

### General notes:

The error seems to be located in the script `

[2018-06-16 13:38] fepitre commented on #4010
Can you provide your builder.conf and your logs? (in multiple gists for example)

[2018-06-16 13:41] Ekleog commented on #4009
For the record, https://bugs.freedesktop.org/show_bug.cgi?id=106934

[2018-06-16 13:57] yurikanestorm opened #4011 "Fail to build Qubes OS R4.0 iso from scratch - fc28 template failed to build"
### Qubes OS version:

R4.0

### Affected component(s):

qubes-builder
commit: mm_4e03c122

---

### Steps to reproduce the behavior:

git clone git://github.com/QubesOS/qubes-builder.git qubes-builder
cd qubes-builder
make get-sources
make qubes
make qubes-vm
make template

or

start the script ./qubes-builder/setup.
select to build only template for Qubes OS 4.0
make install-deps
make get-source

[2018-06-16 14:01] yurikanestorm commented on #4010
The "builder.conf":

# vim: ft=make ts=4 sw=4

# Ready to use config for full build of the latest development version Qubes OS (aka "master").

GIT_BASEURL := https://github.com
GIT_PREFIX := QubesOS/qubes-
NO_SIGN ?= 1

BACKEND_VMM=xen

DIST_DOM0 ?= fc25
DISTS_VM ?= fc26 fc27 fc28

MGMT_COMPONENTS = \
	mgmt-salt \
	mgmt-salt-base \
	mgmt-salt-base-topd \
	mgmt-salt-base-config \
	mgmt-salt-base-o

[2018-06-16 14:02] yurikanestorm commented on #4010
The log for fc26:

Building template: fedora-26
-> Preparing instalation of fc26 template...
-> Image file already exists, assuming *update*...
Qubes Template Builder Repository               508 kB/s | 520  B     00:00
Last metadata expiration check: 0:00:00 ago on Tue Jun 12 18:52:04 2018.
Package dnf-2.7.5-2.fc26.noarch is already installed, skipping.
Dependencies resolved.
Nothing to do.
Compl

[2018-06-16 14:03] yurikanestorm commented on #4010
The log for fc27:

Building template: fedora-27
-> Preparing instalation of fc27 template...
-> Initializing empty image...
-> Creating partition table
Checking that no-one is using this disk right now ... OK

Disk prepared_images/fedora-27.img: 10 GiB, 10737418240 bytes, 20971520 sectors
Units: sectors of 1 * 512 = 512 bytes
Sector size (logical/physical): 512 bytes / 512 bytes
I/O size (minimum/

[2018-06-16 14:06] yurikanestorm commented on #4011
The log file for fc28:

[template-fc28.log](https://github.com/QubesOS/qubes-issues/files/2108204/template-fc28.log)

[2018-06-16 14:07] yurikanestorm commented on #4010
The log for fc26:
[template-fc26.log](https://github.com/QubesOS/qubes-issues/files/2108205/template-fc26.log)

[2018-06-16 14:07] yurikanestorm commented on #4010
The log for fc27:
[template-fc27.log](https://github.com/QubesOS/qubes-issues/files/2108206/template-fc27.log)

[2018-06-16 14:09] marmarek commented on #4011
The code responsible for this is:
https://github.com/QubesOS/qubes-builder-rpm/blob/097b6d7bd6911773da7b176d2129aa656d45ff31/template_scripts/04_install_qubes.sh#L59-L61
[code]
Do you see kernel-modules-4.16.**14**-300.fc28.x86_64 installed earlier in the log? If not, try removing qubes-src/linux-template-builder/prepared_images/fc28.img (a cached version from previous build).

[2018-06-16 14:10] marmarek commented on #4010
Please, don't paste the whole log into a comment here...

[2018-06-16 14:13] marmarek commented on #4010
`qubes-vm-dependencies` and `qubes-vm-recommended` are part of `meta-packages` component. See a build log for them.
But first, check `make build-info` is `meta-packages` is included there at all...

[2018-06-16 14:31] yurikanestorm commented on #4010
This is the output of `make build-info`:
"
DISTS_VM:
     fc26, fc27, fc28,
DISTS_ALL:
     fc25, fc26, fc27, fc28,
DIST_DOM0:
     fc25,
BUILDER_PLUGINS:
     builder-rpm, mgmt-salt,
COMPONENTS:

GIT_REPOS:

TEMPLATE:

TEMPLATE_FLAVOR_DIR:

TEMPLATE_ALIAS:
     jessie:jessie+standard, jessie+gnome:jessie+gnome+standard, jessie+minimal:jessie+minimal+no-recommends,
     stretch:stretch+standard, s

[2018-06-16 14:32] yurikanestorm commented on #4010
The builder.conf file:

[builder.conf.txt](https://github.com/QubesOS/qubes-issues/files/2108227/builder.conf.txt)

[2018-06-16 14:36] marmarek commented on #4010
Oh, commenting out parts of multiline COMPONENTS doesn't work this way. You need to remove it from there (or move the line somewhere else).

[2018-06-16 15:20] yurikanestorm commented on #4011
I removed qubes-src/linux-template-builder/prepared_images/fc28.img and do `make template`, it solves this problem but I get the following error:

"
Kernel preparation unnecessary for this kernel.  Skipping...

Building module:
cleaning build area...
make -j16 KERNELRELEASE=4.16.15-300.fc28.x86_64 -C /lib/modules/4.16.15-300.fc28.x86_64/build M=/var/lib/dkms/u2mfn/4.0.19/build...
cleaning build ar

[2018-06-16 15:48] e6lk7dqzm83p commented on #1393
Hi,

I also got an error similar to this (slightly different) when setting up Qubes
[code]

When I run:

echo -n "1" > /sys/bus/pci/devices/0000:3a:00.0/remove .

I get a permission denied error, even when using sudo.  I have no network connectivity so I'm unable to copy and paste all the details.

Any help would be appreciated, thanks!

[2018-06-16 16:04] e6lk7dqzm83p commented on #2638
I have this on a brand new 4.0 install; unable to tell if it is affecting anything due to other issues (sys-net not loading).

[2018-06-16 18:33] ampanasiuk commented on #1393
Are you doing

sudo echo -n "1" > /sys/bus/pci/devices/0000:3a:00.0/remove

? The redirection is being done outside of sudo. Do "sudo su" first, then
the echo.

[2018-06-16 19:12] TheProtocoler opened #4012 "QubesOS R3.2 installment issue"
### Qubes OS version:

The version I'm running is QubesOS **R3.2**

### Affected component(s):

QubesOS doesn't recognize that I installed it. Whenever I install QubesOS, shut down and restart, it will give me this same screen:

![image](https://user-images.githubusercontent.com/21243470/41501667-0ac335d4-71a9-11e8-8560-d840bd333d5b.png)

---

### Steps to reproduce the behavior:

I usually go thr

[2018-06-16 19:15] andrewdavidwong commented on #4012
Did you forget to remove the installation medium (e.g., USB drive or DVD) and/or change the device boot priority after installing?

[2018-06-16 19:18] TheProtocoler commented on #4012
@andrewdavidwong
There are no installation mediums in this process. As a matter of fact, I'm using VirtualBox.

[2018-06-16 19:40] TheProtocoler commented on #4012
@andrewdavidwong I just removed it and got it working! Thank you. I never removed my installation ISO on my other VM's. Will be a good habit from now on.

I'll list down the steps for users experiencing the same problem:
1. Detach the ISO.
2. You will be redirected into a terminal saying that it can't find the OS or something like that. Just type _exit_
3. After that, you'll probably be greeted by

[2018-06-16 19:40] #4012 closed

[2018-06-16 20:48] andrewdavidwong opened #4013 "Consider having a 4.0.1 release"
Since Release 4.1 is still a long way off, let's consider issuing a new 4.0.1 ISO that includes all patches up to this point plus the new templates. Many of the rough edges of the initial 4.0 release have been smoothed out by now, so this might make it easier for current 3.2 users who have been watching 4.0 from the sidelines to upgrade.

[2018-06-16 21:09] e6lk7dqzm83p commented on #1393
Hi,

Thanks, that worked, however the method mentioned @waiting-for-dev for persistence doesn't seem to work for me.

On top of this Qubes is incredibly slow (even with a brand new quad core with 32 GB of RAM); I'm not sure if that's relevant or not.

[2018-06-16 22:19] RefinedSoftwareLLC commented on #4006
An alternative implementation:
- Select "Open in DisposableVM"
- Dom0 opens a popup asking if you would like Read-Write, Read-only, or Cancel (encase malware triggered the open).

[2018-06-16 22:29] DemiMarie commented on #3802
Does the initramfs need to be dynamically generated?  Could there be a
universal initramfs that just includes everything that could possibly be
needed?

On Fri, Jun 15, 2018, 7:36 AM Marek Marczykowski-Górecki <
notifications@github.com> wrote:

[2018-06-16 22:33] DemiMarie commented on #3802
Also, secure boot *does* solve the problem I mentioned earlier (Thunderbolt
option-ROM attacks).  If the Thunderbolt port’s DMA engine is disabled
until the OS takes control, we are safe, as we can use the IOMMU to sandbox
the GPU.

Another thought: could Thunderbolt be emulated over multiple USB 3 ports?
Most systems have several.

On Fri, Jun 15, 2018, 7:36 AM Marek Marczykowski-Górecki <
notifi

[2018-06-16 23:07] marmarek commented on #3802
I don't know. And really isn't a place for such discussion, better use qubes-devel maling list.

Many BIOSes also have option to disable them until OS approve particular device, independently of Secure Boot.

[2018-06-17 00:01] DemiMarie commented on #3802
Good to know!!

On Sat, Jun 16, 2018, 7:07 PM Marek Marczykowski-Górecki <
notifications@github.com> wrote:

[2018-06-17 06:32] MDGrey33 commented on #2113
In my case its a macbook, and I'm trying qubes on virtual before I erase everything I got to install it as my main OS.
I tried 4.0 on install it only reboots and now the same issue mentioned above with 3.2...
I'll give the unattended install a try first
https://groups.google.com/forum/#!msg/qubes-users/-9qRHSkwfy8/CCx08nnTVEAJ

[2018-06-17 12:08] awokd commented on #3178
FWIW, I'm trying to test this out as well but after cloning the debian-9 template (at current stable patches) and the:
[code]
steps, I can no longer get a usable terminal window to come up. It just has diagonal lines of gibberish. I enabled debug mode and set qrexec timeout to 120. It seems to be trying to create the swap space on every boot now, instead of just on first boot. I can see in the deb

[2018-06-17 12:15] marmarek commented on #3178
Make sure to build u2mfn module for the kernel you want to use, in some cases dkms fails to do that automatically. `dkms autoinstall -k <kernel version>`

[2018-06-17 12:44] JohnDoe02 commented on #3185
While building up to date qubes arch packages (make get-sources; make qubes-vm) used to work for me in the past, it fails since a week or so with a compilation error in building vmm-xen:
[code]
Starting again from scratch (i.e., from a fresh qubes-builder clone) does not fix this. Anyone, for whom building the template is working at the moment?

[2018-06-17 13:16] awokd commented on #3178
I switched the clone back to PVH, ran `dkms autoinstall -k 4.9.0-6-amd64`, then set back to HVM. I finally caught the error message on boot. After a ~30 second pause in the boot sequence, it said `Gave up waiting for suspend/resume device`, but I then had a usable terminal window. Next,
[code]
worked! I have a terminal window running `4.9.0-6-rt-amd64 #1 SMP PREEMPT RT Debian 4.9.88-1+deb9u1 (2018

[2018-06-17 13:29] marmarek commented on #3178
It looks like it. Note that dom0-provided kernel already has u2mfn module, so this error isn't a problem on its own. But if it prevents building the module for other kernels, it is a problem.

Yes, now VM get empty volatile image and it is initialized in initramfs (instead of using pre-generated Fedora specific one). I see two options:
 - move [volatile volume initialization](https://github.com/Qu

[2018-06-17 13:50] awokd commented on #3178
Would `noresume` on these VMs affect Qubes/system-wide hibernation, or vice-versa? If not, that might be the simplest approach. I don't use hibernate myself, so can test if that fixes this particular issue but not system-wide.

[2018-06-17 13:57] marmarek commented on #3178
No, VMs don't do suspend to disk using own swap, in none of Qubes version/features combination.

[2018-06-17 14:08] awokd commented on #3178
Adding `noresume` to grub.cfg boot option resolved that 30 second hang. I can work on a code PR for this approach, if you like, or add to the documentation instead?

[2018-06-17 15:34] airelemental commented on #4006
Duplicate of https://github.com/QubesOS/qubes-issues/issues/1118 ?

Right now in current-testing, you can do this:
$ qvm-open-in-vm --viewonly
or right-click
Edit in DispVM
View in DispVM

[2018-06-17 16:38] RefinedSoftwareLLC commented on #4006
Okay I am going to change the title, to incorporate the second idea. Sorry for duplicate of #1118 .

[2018-06-17 16:46] RefinedSoftwareLLC commented on #4006
The popup idea, would be future compatible. Instead of adding every possible combination of security, for Opening in a DispVM, in the right click menu. Instead new security features can be added to the popup, defaulted to the secure option as an unchecked checkbox.

The popup could have a dropdown of DispVMs, like the "[Dom0] Operation execution", but with the system defaults "Default DispVM" alre

[2018-06-17 17:18] airelemental commented on #4006
You can modify the NetVM (as well as a few other settings) of a running dispvm even after you've opened it.
$ qubes-vm-settings disp1831
brings up the settings window.

With some scripting you can bind a keyboard shortcut that opens a settings window for the foremost VM,

[2018-06-17 18:49] marmarek commented on #3178
We already have place for this: https://github.com/QubesOS/qubes-core-agent-linux/blob/master/misc/grub.qubes

[2018-06-17 19:01] andrewdavidwong commented on #2449
This problem has recently gotten worse for some reason. Now, clicking a Nautilus shortcut N times will never open it. I have to launch it from the command line (I do it from dom0), at which point N Nautilus windows will open in the VM.

[2018-06-17 19:12] marmarek commented on #4006
Lets not introduce additional popup, making the system more usable is about reducing them, not multiplying. But if you want, it is already possible to assign different DispVMs for different actions, or even - as you propose - choose them each time (which IMO is a bad idea). If you consider a case where some VM (normally network disconnected?) could use "Open in DisposableVM" action to phone home,

[2018-06-17 19:14] marmarek commented on #2449
fedora-28 template? Qubes 3.2 or 4.0? Does opening other application (xterm?) also make N Nautilus windows open?

[2018-06-18 01:22] Polygonbugs opened #4014 ""Service VM autostart failed" at boot screen after deleting VM"
### Qubes OS version:

R4.0

### Affected component(s):

qvm-service, Qubes-Manager(?)

---

### Steps to reproduce the behavior:

1. Create USB qube manually and check automatically start
2. Assign PCI USB controller on the VM with  pci_strict_reset false
3. Delete USB qube via Qubes-Manager
4. Restarting system
5. Boot screen shows that "Deleted USB qube" failed to boot

### Expected behavior:

[2018-06-18 01:29] andrewdavidwong commented on #2449
Fedora 28 on Qubes 3.2.

No, just tried it. Launching xterm in the VM from dom0 resulted in an xterm window but no Nautilus windows. I then launched Nautilus in the VM from dom0 and only then got N Nautilus windows.

[2018-06-18 03:33] Polygonbugs commented on #3241
I really like Qubes OS 4.0 (Official release) than the previous one 3.2 almost everything except UX issues. I'm sorry for developers who made this incredible OS very hard but I think UX is still incomplete and almost unusable. I would understand if users stay 3.2, that would be lack, laggy, and buggy qubes GUI management tools. You should have dealt with more carefully when implementing new UI for

[2018-06-18 05:29] yurikanestorm commented on #4010
I restart the build process from the beginning.

I used the followings steps:

 `gpg   --recv-keys 0xDDFA1A3E36879494`

 `wget https://keys.qubes-os.org/keys/qubes-developers-keys.asc`

` gpg --import qubes-developers-keys.asc `

`git clone git://github.com/QubesOS/qubes-builder.git qubes-builder `

then I copy this builder.conf into ./qubes-builder
[builder.conf.txt](https://github.com/QubesOS/qu

[2018-06-18 15:20] mfc commented on #3989
I just wanted to bump this as this bug breaks split-gpg and the Enigmail update contains important security updates as Micah mentioned, so downgrading is not a good pathway for users.

[2018-06-18 16:05] marmarek commented on #3989
This alone isn't enough, the server side would need to accept it. And accepting `--log-file` option looks dangerous, even with fixed argument. IMO better ignore it completely. Or replace with `--no-verbose` as suggested elsewhere? There is also an option to support `--logger-fd`, which is IMO safer in this use case, it should be even possible to emulate `--log-file` with `--logger-fd` at qubes-gpg

[2018-06-18 17:16] micahflee commented on #3989
Ignoring `--log-file` completely _should_ work as well. I don't full understand the mitigation to the vulnerability, but as described in the mailing list, either setting `--log-file` or setting `--no-verbose` should resolve the underlying bug. And as part of this patch, Enigmail now also adds `--no-verbose` to all commands, so we should be good to just do that.

Also, I believe this Enigmail patch

[2018-06-18 21:42] tasket opened #4015 "sudo allows root access after uninstalling auth package"
### Qubes OS version:

R4.0

### Affected component(s):

Debian 9 template

---

### Steps to reproduce the behavior:

[code]
reboot...
[code]

### Expected behavior:

Error stating command is not authorized.

### Actual behavior:

Command runs with root privs.

### General notes:

---

### Related issues:

[2018-06-18 22:46] #3989 closed

[2018-06-19 09:02] adrelanos opened #4016 "build Qubes-Whonix 14.0.0.7.8 (Release Candate 3) templates for R3.2 and R4"
This will become the stable version if no grave bugs are reported.

[2018-06-19 14:28] qubesissues commented on #3993
@RefinedSoftwareLLC @andrewdavidwong You still never explained what is "DispVM" - it is a complete mystery.

[2018-06-19 14:29] qubesissues commented on #3993
@RefinedSoftwareLLC Can you say all of this again?  What you are saying is completely not clear.  Maybe an English translation problem?

[2018-06-19 14:31] qubesissues opened #4017 "Hard Drive Not Available when Creating Standalone Not From Template"
### Qubes OS version:

4.0

### Affected component(s):

Creation of Standalone Qube

---

### Steps to reproduce the behavior:

Create a new Qube.  Choose Standalone not from template.  Boot from external media (usb) on dom0.

VM will boot from USB and try to install new OS.  But it can't find the hard drive.

### Expected behavior:

Because the Qube settings show a disk with 2048 I expect that th

[2018-06-19 15:22] qubesissues commented on #4013
@andrewdavidwong Are these smoothed out rough edges coming through with updates?  Because my Qubes 4 was installed from the last Release Candidate and it still behaves terribly.  I have to refresh the Qube manager 75 times per session (literally) and basically ever Issue I have posted is still not resolved.  Including the fact that the dom0 never shows that it needs updating.

Is it possible that

[2018-06-19 15:29] qubesissues commented on #3993
@RefinedSoftwareLLC

Why do they get created by themselves?  And why does a regular Qube have a "default disposable VM"?  What is the relation?

Why do I ever need more than one?

You suggested:

How about:

"This Qube is the Default Disposable Qube of <whatever Qube>.  Please remove it in under the Advanced settings."

Ideally <whatever Qube> would be a list but at least if it is one then the err

[2018-06-19 15:30] qubesissues commented on #4013
@andrewdavidwong I can confirm that dom0 has not had an available update for several weeks.  Is that supposed to be?

[2018-06-19 15:55] RefinedSoftwareLLC commented on #3993
@qubesissues:
Sure I would be happy to, some of these definitions are not self evident. First off, you can read the official documentation from here: https://www.qubes-os.org/doc/glossary/ & https://www.qubes-os.org/doc/dispvm/:

Second, sorry for the confusion, but there is no translation problem, what you quoted was a post meant for the developers of Qubes OS to add a feature that would fix a fr

[2018-06-19 16:04] qubesissues commented on #3993
@RefinedSoftwareLLC I realized some of the confusion and deleted my post.   But now I have new confusion.

Please put yourself in someone else's position.  There is no UI/UX explanation of why these things exist.  And you give me these definitions.  Well they do nothing to explain how a dispVM was created for no reason that I understand.  They do nothing to explain how a dispVM is connected to one

[2018-06-19 16:08] qubesissues commented on #3892
@andrewdavidwong

Yes that would be ideal.  Maybe difficult but definitely ideal.  Particularly useful when you rename a ProxyVM that 10 Qubes use for connectivity.  Now you have to change all of their network VM manually to something else, then change the name, then change all 10 again to the newly-named Qube.  Ack!

[2018-06-19 16:11] qubesissues commented on #3891
Yes this would solve the Issue.

[2018-06-19 16:14] RefinedSoftwareLLC commented on #3993
@qubesissues

I empathize with you, but I am not a developer of Qubes OS. It would be better to not tag me in posts meant for everyone, or the developers may miss it.

[2018-06-19 16:18] RefinedSoftwareLLC commented on #3993
@qubesissues

Because of the feature "Disposable VM Edit Single Document", see my previous post for details.

[2018-06-19 16:21] RefinedSoftwareLLC commented on #3993
@qubesissues

https://www.qubes-os.org/doc/dispvm-customization/

[2018-06-19 16:30] RefinedSoftwareLLC commented on #3993
@qubesissues

A Single Disposable Qube listed in the Qube Manager is the harddrive files for all three types at once. See above for how to open that harddrive in each mode.

[2018-06-19 16:42] RefinedSoftwareLLC commented on #3993
Me too! The issue is that tempVM would get confused with Template VM, which is so sad.

It would be a huge discomfort, to rename all dispVMs to tempVMs, and rename Template VM to something else like Base VM; As this would break many of the online tutorials throughout the internet.

I wish a better name could be used, but even if the developers decided to, they would have to wait until R5.0 when R4

[2018-06-19 16:49] RefinedSoftwareLLC commented on #3993
@qubesissues

I would recommend backing up your system any time you are on a "delete 25 qubes" crusade.

I have no idea how you got 25 dispVM. when installing Qubes OS it asked me to create default Qubes (I accepted) then it only made one dispVM for the global default.

Did an upgrade duplicate your qubes as dvms or convert some of them? Make sure none of the Qubes you are deleting have informatio

[2018-06-19 16:58] RefinedSoftwareLLC commented on #3993
@andrewdavidwong
With the above section `Understanding DispVMs is a completely separate issue, so let me retry.`, would adding something similar to the documentation be a benefit? (After someone else rewrites it with improvements of course.)

[2018-06-19 17:42] RefinedSoftwareLLC commented on #4013
@qubesissues When I run `cat /etc/qubes-release` it get `Qubes release 4.0 (R4.0)`, if yours still shows a Release Candidate, then you may need to manually update.

[2018-06-19 17:45] 3hhh opened #4018 "Max ~40 firewall rules"
### Qubes OS version:
4.0

### Affected component(s):
qvm-firewall

### Steps to reproduce the behavior:
Create a VM with more than ~40 firewall rules.

I directly edited firewall.xml and restarted the machine and/or qubesd for that.

### Expected behavior:
VM starts.

### Actual behavior:
VM doesn't start and some error about iptables is shown in journalctl.

If you do the same with ~30 rules, th

[2018-06-19 17:56] marmarek commented on #4018
There is compatibility layer to make templates/standalonevms imported
from 3.2 working. And it fails there. Maybe this compat layer should be
optional, opt-in? Or at least opt-out...

[2018-06-19 19:22] RefinedSoftwareLLC opened #4019 "Power outage caused gedit bug"
### Qubes OS version:

R4.0

### Affected component(s):

gedit

---

### Steps to reproduce the behavior:

In the Application Menu, in `Domain: work`, select `work: Qube Settings`, goto the `Applications` tab, and move `Text Editor` over to the `Selected` category. In the Application Menu, in `Domain: work`, select `work: Text Editor`.

Note: Now gedit should be open.

Create a new document, add `

[2018-06-19 19:53] e6lk7dqzm83p commented on #3756
Was anyone able to resolve this issue?  I'm trying to update my kernel (to see if that solves the unusable lag I get in my R4 install) and got the same errors.

[2018-06-19 19:55] e6lk7dqzm83p commented on #1393
Does anyone have a persistent solution to this?  Do I just throw a script somewhere that executes that command on startup (sorry, I'm trying to get Qubes working after moving from Ubuntu)?

[2018-06-19 19:55] mossy-nw commented on #3989
Thanks @micahflee @marmarek for being on top of this.  Have you confirmed this fix works on a fedora-28 template?  I've applied the dom0 and fedora-28 current-testing updates and split-GPG/enigmail is still broken.  (I'm a long-time split-gpg user, and my commandline `qubes-split-gpg` commands have worked normally using fedora-28 as vault and thunderbird qube templates.  So it is the enigmail 2.0.

[2018-06-19 20:18] RefinedSoftwareLLC opened #4020 "using qvm-copy incorrectly displays outdated information on how to use itself correctly"
### Qubes OS version:

R4.0

### Affected component(s):

qvm-copy command

---

### Steps to reproduce the behavior:

In a non-dom0 Terminal, only type `qvm-copy` and enter.

### Expected behavior:

`usage: /usr/bin/qvm-copy [--without-progress] file [file]+`

### Actual behavior:

`usage: /usr/bin/qvm-copy-to-vm [--without-progress] dest_vmname file [file]+`

### General notes:

`qvm-copy --help`

[2018-06-19 20:29] RefinedSoftwareLLC commented on #3903
@Wikinaut @sebastianlutter
I had similar issue when a kernel install failed because of lack of disk space on the drive with the boot kernels. I was able to fix it with:

Burn Qubes-R4.0-x86_64.iso to a DVD & Boot from it.
Select "Troubleshooting", then "Rescue a Qubes system".
The only options are to be dropped into a shell, even though the fix can be automated.
chroot /mnt/sysimage
vim /boot/efi/

[2018-06-19 20:33] Wikinaut commented on #3903
@RefinedSoftwareLLC I wanted simply to use Qubes, 4.0, and not to fix these strange issues (3.2 was fine, 4.0 is not).

[2018-06-19 20:38] RefinedSoftwareLLC opened #4021 "dom0 doesn't have qvm-copy command only qvm-copy-to-vm"
### Qubes OS version:

R4.0

### Affected component(s):

dom0

---

### Steps to reproduce the behavior:

In dom0's Terminal use qvm-copy.

### Expected behavior:

Both qvm-copy and qvm-copy-to-vm to be installed in dom0
qvm-copy should give you a popup to select the Qube you want to send the files to.

### Actual behavior:

qvm-copy is not installed.

### General notes:

If it is intentional to n

[2018-06-19 20:48] RefinedSoftwareLLC opened #4022 "Qube Manager: Houston error, steps to reproduce"
### Qubes OS version:

R4.0

### Affected component(s):

Qube Manger

---

### Steps to reproduce the behavior:

Open: http://porteus-kiosk.org/download.html

Download: Porteus Kiosk 4.7.0 (Default version) as Porteus-Kiosk-4.7.0-x86_64.iso

Open Qube Manager, Menu `Qube`, Select `Create new qube`.

Note: `[Dom0] Create new qube` popup displays.
- Name and label: `<custom>-kiosk-dvm`
- Type: `Stan

[2018-06-19 20:56] RefinedSoftwareLLC commented on #3903
I agree with you, that is why I made #3973 and linked your issue. I hope your system is up again!

[2018-06-19 20:58] Wikinaut commented on #3903
@RefinedSoftwareLLC yes, up again.

[2018-06-19 21:37] RefinedSoftwareLLC opened #4023 "2 identical empty qubes boot from same iso CD differently, one works, one fails"
### Qubes OS version:

R4.0

### Affected component(s):

"Boot qube from CDROM" feature

---

### Steps to reproduce the behavior:

Using the "Boot qube from CDROM" on Qubes with the exact same settings in the Qube Manager:
With one of my qubes, `Booting from ROM...` displays, and it crashes.
With one of my qubes, `Booting from DVD/CD...` displays, and it works.

#### Settings then Install
Downloa

[2018-06-20 00:15] RefinedSoftwareLLC opened #4024 "Qube Manager, Create new Qube: Option to extract ISO as initial harddrive."
### Qubes OS version:

R4.0

### Affected component(s):

Qube Manager. Create new Qube.

---

### Steps to reproduce the behavior:

With the Qube Manager, create a qube, resize qube's `System storage max size` to ISO's extracted size, boot from a LiveCD.
Then mount drive that has ISO file (or the ISO directly), create a partition, extract the ISO into the partition.

### Expected behavior:

[code]

[2018-06-20 00:50] andrewdavidwong commented on #3993
@RefinedSoftwareLLC, @qubesissues:

1. Please stop using this issue as a discussion thread about explaining DisposableVMs and other types of VMs in Qubes. That's simply not what this issue is about, and this type of discussion is a misuse of `qubes-issues`. Having such a high volume of off-topic comments on an issue makes it extremely difficult for people (especially busy devs) to find the relevan

[2018-06-20 01:01] andrewdavidwong commented on #4013
@qubesissues:

Well, I said that *many* of the rough edges have been smoothed out, but of course they may not be the ones causing what you consider to be terrible behavior.

I'd recommend asking about this on `qubes-users`, where you can provide some more details about your setup, which could help to figure out what might be going wrong.

[2018-06-20 01:04] andrewdavidwong commented on #4018
You can simply leave a comment on a closed issue indicating that it should be opened, and we'll reopen it.

[2018-06-20 01:04] andrewdavidwong commented on #4018
Duplicate of #1570

[2018-06-20 01:04] andrewdavidwong commented on #4018
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-06-20 01:04] #4018 closed

[2018-06-20 01:05] andrewdavidwong commented on #1570
Reopening due to #4018.

[2018-06-20 01:06] andrewdavidwong commented on #4006
Closing as "won't do." If anyone has a new argument for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2018-06-20 01:06] #4006 closed

[2018-06-20 01:14] andrewdavidwong commented on #4019
Looks like it autosaves if the file was previously saved, but the autosaved file is a hidden file with `~` appended:

https://askubuntu.com/questions/794918/recover-files-from-gedit

So there's no recovery screen.

No: https://www.qubes-os.org/faq/#what-is-qubes-attitude-toward-changing-guest-distros

-----

So, really the only issue here is Gedit not started from the application menu, which appea

[2018-06-20 01:14] andrewdavidwong commented on #4019
Duplicate of #3533

[2018-06-20 01:14] andrewdavidwong commented on #4019
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-06-20 01:14] #4019 closed

[2018-06-20 01:30] sudomain commented on #3518
I just want to add that I'm experiencing this on the final 4.0 release and my logs basically mirror @pachulo 's logs. A major difference for me is that I didn't create sys-usb at first boot. I installed dom0 updates then tried creating sys-usb using:
`sudo qubesctl state.sls qvm.sys-usb`
(per the docs).
I have 3 USB controllers and have tried giving various combinations of the 3 to sys-usb (as wel

[2018-06-20 03:28] e6lk7dqzm83p commented on #1393
I ran:
...
systemctl status qubes-pre-netvm.service
...
and got the following:
...
/sys/bus/pci/devices/0000:3a:00.0/remove: No such file or directory
...

Which resulted in the process failing.

[2018-06-20 03:40] qubesissues commented on #4013
@RefinedSoftwareLLC

$ cat /etc/qubes-release
Qubes release 4.0 (R4.0)

I have no reason to doubt this.  But it was suspicious because (a) dom0 never updates and (b) I have all of the bugs on Qubes 4 that I have had since I installed rc4.  So when (c) there was a suggestion that things are smooth enough for a new release I thought maybe the problem was with updating.  But this cat command says oth

[2018-06-20 03:41] qubesissues commented on #4013
@andrewdavidwong

Good idea.  Where is this?  It is not another project here in GitHub.

[2018-06-20 03:47] qubesissues commented on #3993
@andrewdavidwong

Can you explain what that is?

Yes but you miss the point.  I read the doc on Disposable VMs but I did not know that "Disposable VMs" were the same as the "disp" VMs that were causing me enough trouble to justify an Issue.  And it was an Issue.  Regarding the other types of VMs I did not ask about those but I appreciate the help @RefinedSoftwareLLC offered (perhaps a link would h

[2018-06-20 03:51] qubesissues opened #4025 "UX: "DispVM" is Ambiguous"
### Qubes OS version:

4.0

### Affected component(s):

Qubes Manager

---

### Steps to reproduce the behavior:

Go into the "Advanced Settings" tabl of any Qube's settings.  Look under "Other" and see "Default DispVM"

### Expected behavior:

I would expect this to say "Default DisplayVM" because "DisplayVM" is how the documentation refers to this.

Also it would be nice to have a little info po

[2018-06-20 07:27] arjan-s commented on #3185
@JohnDoe02 I have the exact same issue and not been able to find a solution yet

[2018-06-20 08:52] marmarek commented on #3518
Note it's about different device.

Can you provide more details about this device (00:14.0)? Like
this: `sudo lspci -vvs 00:14.0` in dom0. Especially interesting part is
about interrupt and MSI capabilities.
You can also add `pci=nomsi` kernel option for that VM (qvm-prefs, see
kernelopts property).

[2018-06-20 12:31] JohnDoe02 opened #4026 "Archlinux template build fails due to compilation error in vmm-xen"
### Qubes OS version: 4.0

### Affected component(s): qubes-builder

---

### Steps to reproduce the behavior:

[code]
Then uncomment the last three lines in builder.conf to enable the build of the archlinux template.
[code]

### Expected behavior:

Everything compiles without problems

### Actual behavior:

The compilation aborts when building vmm-xen with the following error message:
[code]

###

[2018-06-20 12:34] JohnDoe02 commented on #3185
@arjan-s So I am not the only one. I filed an issue.

[2018-06-20 14:03] mathrack commented on #3991
Beware that when upgrading from fedora-27 to fedora-28, the options recommended in the documentation (`--best --allowerasing`) lead to the deletion of `qubes-mgmt-salt-vm-connector`, `qubes-vm-recommended`, `salt` and `salt-ssh`.

[2018-06-20 16:00] sudomain commented on #3518
I created a fresh sys-usb and appended the 'pci=nomsi' kernel option to the existing options using this command (in dom0):
`qvm-prefs -s sys-usb kernelopts "nopat iommu=soft swiotlb=8192 pci=nomsi"`
Is this the correct way to add that kernel option?
I got the same error as before (Unable to reset PCI device 0000:00:14.0)

I realize this wasn't directed toward me since I didn't mention a BDF addres

[2018-06-20 19:04] bx opened #4027 "qvm-features-request in archlinux template uses environment to locate python/cannot always locate qubesdb module"
### Qubes OS version:

R4.0

### Affected component(s):

`/usr/bin/qubes-features-request` in archlinux template-based VMs

---

### Steps to reproduce the behavior:

1. Setup and enter local python environment (using a tool such as `pyenv`) that does not depend on any of the system-defined python modules
2. Execute `qvm-features-request`
### Expected behavior:

`qvm-features-request` quietly succ

[2018-06-20 20:08] esote commented on #4013
@qubesissues [qubes-users](https://groups.google.com/forum/#!forum/qubes-users) is a mailing list. As far as dom0 updates go, the last one I had was on the 12th, where Xen (among other things) was updated to 4.8.3-8.

[2018-06-21 00:18] andrewdavidwong commented on #3993
It's the mailing list for Qubes users to ask questions have discussions. See:

https://www.qubes-os.org/support/

And specifically this section:

https://www.qubes-os.org/support/#qubes-users

If you search for "qubes-users" on DDG or StartPage (and probably every other search engine), the web interface for the group is the first result, and the Support page linked above is the second result. (The

[2018-06-21 00:28] andrewdavidwong commented on #4013
@qubesissues:

As @esote said, `qubes-users` is the mailing list for Qubes users to ask questions have discussions. See:

https://www.qubes-os.org/support/

And specifically this section:

https://www.qubes-os.org/support/#qubes-users

If you search for "qubes-users" on DDG or StartPage (and probably every other search engine), the web interface for the group is the first result, and the Support p

[2018-06-21 02:38] andrewdavidwong commented on #3079
I just had another one of these:

[code]

[2018-06-21 05:44] marmarek commented on #4027
While I agree with the change, not really sure if that would help. In both cases it's `python2` and the error message isn't about missing python binary, but python module. Do you have alternative `python2` in that VM (manual build or sth)?

[2018-06-21 08:42] qubesissues commented on #3664
@marmarek Can you please re explain your solution?  It is not clear to me what exactly you changed.  If you can please paste the full and exact lines you added to /usr/bin/qubes-run-xorg.sh

Also where/how did you add "master-of-seat" and "CanGraphical"?

How did you "modified /usr/bin/su binary to call pam_set_item(pamh, PAM_XDISPLAY, ":0")"?  Please paste your exact code and explain how to made

[2018-06-21 10:35] RefinedSoftwareLLC commented on #4023
I was able to reproduce, and updated this bug report with the steps to.

I believe my example `settings-install` qube never calls `Booting from DVD/CD...` and `Booting from ROM...` is unrelated as just being the next boot option. But encase it is, searching online for `Booting from ROM...` has documentation of `Boot from a BEV entry on an optionrom.`

[2018-06-21 13:57] adrelanos commented on #3930
Doesn't happen in Whonix 14.

https://www.whonix.org/wiki/Upgrading_Whonix_13_to_Whonix_14

[2018-06-21 14:19] bx commented on #4027
Yes, I have a few VMs I use as development environments where have a pyenv setup to override the system-wide python environment. In such cases, the python modules installed along with /usr/bin/python2 do not get searched/loaded.

[2018-06-22 13:32] niccokunzmann opened #4028 "command to expose VM port to outside networks"
### Qubes OS version:

R3.2

### Affected component(s):

dom0

---

### Steps to reproduce the behavior:

### Expected behavior:

I would like to expose a port from a VM to the outside.

### Actual behavior:

I can read a [long documentation](https://www.qubes-os.org/doc/firewall/#port-forwarding-to-a-qube-from-the-outside-world) and may fail.

### General notes:

I implemented a script `qvm-expos

[2018-06-22 17:51] mossy-nw commented on #3585
hi @taradiddles thank you for compiling this helpful advice!  Could you please add to " **QWT Installation** Check the rpm's signature... " something like the following?

Please import the Qubes Release 3 Signing Key in the VM where you are confirming the rpm signature (otherwise you will get the error `qubes-windows-tools-3.2.2-3.x86_64.rpm: digests SIGNATURES NOT OK`).  Get the key [here](https:

[2018-06-22 23:51] andrewdavidwong commented on #4028
Thanks for your contribution! Please see the [Package Contributions] page for the package contribution procedure.

[2018-06-23 02:05] 0brand commented on #2623
It was  looking at the options for dom0 repos and TemplateVM repos (debian, fedora)

https://github.com/adrelanos/qubes-core-agent-linux-1/blob/a193c8f3aa4df7ecdd8b835a49085f6c5f798568/misc/qubes-r3.list.in

This link is dead so I'm not sure how the example looked

**1.** For dom0, I think either of these would work.

a)

Add a second block for onion repositories which is commented out by default.

[2018-06-23 03:41] marcialvieira commented on #3930
Thank you @adrelanos, using Whonix 14 I get no alerts.

[2018-06-23 03:55] airelemental opened #4029 "qvm-open-in-vm doesn't work if opener already running"
### Qubes OS version:

R4.0

### Affected component(s):

qvm-open-in-vm

---

### Steps to reproduce the behavior:

1. In vm1, assign e.g. firefox to open files of type .png
2. In vm2, run `qvm-open-in-vm vm1 a.png`
3. In vm2, in another terminal, run `qvm-open-in-vm vm1 b.png`

### Expected behavior:

a.png opens in vm1 firefox. qvm-open-in-vm blocks until a.png closed.
b.png opens in vm1 firefox

[2018-06-23 07:30] taradiddles commented on #3585
Thanks, I've added your comment to the doc.

Interestingly, IIRC `rpm -K` was working without having to import the signing key when I wrote the doc (back in 4.0 rc something). Maybe the key was removed by 4.0 updates; or maybe I imported it for some other purposes and forgot about it.

[2018-06-23 12:07] yurikanestorm commented on #4010
Thanks for your answers.
I manage to build all the components for dom0 and the vm components for fc26, fc27 and fc28.

Regarding the error for the template buid:

`grub2-install: error: /usr/lib/grub/x86_64-efi/modinfo.sh doesn't exist. Please specify --target or --directory.`

It is Fedora 26. See below the grub packages installed on my host system with their versions:

[code]

Additionally the l

[2018-06-23 12:25] jpouellet opened #4030 "Graceful recovery from stale volume state?"
It is possible in practice for a Qubes system to somehow be interrupted such that at a later time VMs exist with vm-foo-volatile and vm-foo-private-{snap,tmp} volumes, but no vm-foo-private volume.

When you go to start such a VM, you get, e.g.:
[code]
and the VM does not start.

In order to be able to start it again, I need to do:
[code]
and restart qubesd.

This has only happened to me on some n

[2018-06-23 12:28] jpouellet commented on #4030
I have not tracked down how the VM got in that state to begin with, but I suspect even if I tracked down the likely cause this time that there may well be others in the future, and so a graceful recovery mechanism is warranted regardless.

[2018-06-23 12:30] jpouellet commented on #4030
Err, I just found https://github.com/QubesOS/qubes-core-admin/pull/203 now. Sorry.

:+1:

[2018-06-23 12:32] #4030 closed

[2018-06-24 14:24] Aekez opened #4031 "VM re-name with auto-boot flag enabled - causes minor error"
### Qubes OS version:

Qubes 4.0.

### Affected component(s):

Component responsible for auto-start of VM's during dom0 boot-time. Probably a missing logic in code for specific scenario.

---

### Steps to reproduce the behavior:

- Re-name a VM that has the qvm-prefs auto-boot flag enabled.
- I have not tested it via terminal, changes was done via the VM GUI settings window.
- I've seen it happen

[2018-06-24 19:17] SenorFusion commented on #3411
+1 same here.

I have the most update to date Qubes-stable as of today, but Suspend or Sleep has never worked on any version of 4.0. Thinkpad P70 with Skylake.

- Kernel Flags: i915.alpha_support=1 rd.blacklist.drivers=nouveau nouveau.modeset=0
- Bios:
- --USB UEFI BIOS Support: Enabled
- --UEFI/Legacy Boot: UEFI Only
- --Secure Boot: Disabled

After suspend a hard-reset reboot (hold down physical

[2018-06-24 19:39] SenorFusion commented on #3897
@andrewdavidwong Is there anything else I can do to help in getting this bug resolved?

It's been about 6 weeks and this issue is really killing my workflow.

Happy to post any logs or try any other solutions. Thank!

[2018-06-24 20:39] tasket commented on #4028
Not sure if its complementary, but @jpouellet also has a port-forwarding script:

"Forwards a specified port to a specified VM, auto-detecting its NetVM chain. (Qubes OS)"
https://gist.github.com/jpouellet/d8cd0eb8589a5b9bf0c53a28fc530369

[2018-06-24 21:10] niccokunzmann commented on #4028
@tasket Thanks! Posting this clarifies that I should use `qvm-run -u root` as pointed out in https://github.com/niccokunzmann/qvm-expose-port/issues/1

[2018-06-24 22:09] #4011 closed

[2018-06-24 22:10] marmarek commented on #4011
Try with the builder-rpm change I've just pushed.

[2018-06-24 22:13] marmarek commented on #3935
@adrelanos see above questions, any opinion? Most of required changes are already done, I'd like to use it for Whonix 14 build (#4016).

[2018-06-25 01:57] mvermaes opened #4032 "tar missing from Fedora 28 template, breaks qubes-dom0-update"
### Qubes OS version:

R3.2

### Affected component(s):

Fedora packaging, dom0 updates

---

### Steps to reproduce the behavior:

[code]

### Expected behavior:

Update check, no errors

### Actual behavior:

[code]

### General notes:

- `sys-firewall` is using a template based on a minimally customized `fedora-28` template (only additions, no removals)
- The default `fedora-28` template does n

[2018-06-25 04:33] andrewdavidwong commented on #3897
Not as far as I know, sorry.

[2018-06-25 05:23] adrelanos opened #4033 "check Qubes-Whonix 14 Template Appmenus implementation"
Do you think appmenus (Qubes start menu default entries) will work like this? A quick look would be great so we don't need another template build just for this. (#4016)

* https://github.com/Whonix/qubes-template-whonix
* https://github.com/Whonix/qubes-template-whonix/tree/master/appmenus_stretch_whonix-gateway
* https://github.com/Whonix/qubes-template-whonix/tree/master/appmenus_stretch_whonix-

[2018-06-25 05:31] dimitar-petrov opened #4034 "Unsupported Hardware Detected: xl call failed"
### Qubes OS version:

R4.0 - UEFI

### Affected component(s):

Installation

---

### Steps to reproduce the behavior:

### Expected behavior:

### Actual behavior:

I am getting the following error:
[code]

### General notes:

CPU: Intel® Core™ i7-7700HQ 2.8 GHz; Quad-core
GPU: GPU: NVIDIA® GeForce® GTX 1050 Up to 4 GB GDDR5 Dedicated graphics memory

---

### Related issues:

[2018-06-25 05:33] adrelanos commented on #3935
It will be amazing to be able to create templates myself!

If you don't mind, I'd use it as a "SaaS" to more frequently build and test. (Images created locally by me may not 100% match the official build due to some mistake by me (config error, outdated qubes-builder git, unforeseeable). So I end up testing multiple times.)

Very much need to test images before migrating to stable repository.

May

[2018-06-25 06:48] jpouellet commented on #4028
There is also the issue of direct recursive forwarding up the NetVM chain not being appropriate for all VMs. For example, if some VM is behind a ProxyVM which e.g. transparently tunnels all traffic at layer 2, then a port forward on that ProxyVM's NetVM does not make sense since the ports to be forwarded only exist on the overlay network (inside the proxy tunnel). Some way of denoting that forward

[2018-06-25 07:03] jpouellet commented on #4028
OTOH, such a mechanism would be R4+ only since in R3.2 the firewall rules were not provided in a guest-agnostic format (although I suppose they could be shoved into the provided iptables rules anyway) and IIRC qube feature flags did not exist. So, I see nothing wrong with wanting to package up a short script without forward-compatibility guarantees for R3.2 users.

[2018-06-25 07:05] marmarek commented on #3935
Tag on what exactly? Which repository? Since template is built using apt/yum/other repositories, it makes perfect sense to trigger new template build without any change in linux-template-builder, builder-debian/builder-rpm, template-whonix repositories. Or even without any change in any of Whonix or Qubes repositories - for example to pick up some updated Debian package.

[2018-06-25 07:09] jpouellet commented on #4028
Shoutout to @Joeviocoe since (although I have not reviewed/audited it) his script is probably a better starting point than mine.

[2018-06-25 07:48] adrelanos commented on #3935
Marek Marczykowski-Górecki:

For example qubes-template-whonix.

I see.

[2018-06-25 10:02] dimitar-petrov commented on #4026
Facing the same issue

[2018-06-25 12:34] arjan-s commented on #4026
I created https://github.com/QubesOS/qubes-vmm-xen/pull/42 to fix this.

[2018-06-25 12:47] niccokunzmann commented on #4028
@jpouellet Since I am new to the code, I would appreciate more links to the source and implementation you are writing about. I can I agree because I do not know what you are talking about but I am never sure even if I found code. Can you create links to these?

- https://github.com/QubesOS/qubes-issues/issues/4028#issuecomment-399844929
  - > We already have infrastructure to handle reading/writin

[2018-06-25 13:33] marmarek commented on #3664
I don't have that VM anymore, but something like:

/etc/udev/rules.d/80-something.rules:
[code]

Not directly binary, I've downloaded util-linux package source (`dnf download --source util-linux`), extracted it (`rpmdev-extract ...src.rpm`), extracted util-linux tarball there, modified `login-utils/su-common.c` to add `pam_set_item(pamh, PAM_XDISPLAY, ":0");` at the beginning ot `modify_environmen

[2018-06-25 13:49] arjan-s commented on #3185
I created two PRs currently needed to be able to build this template again:
https://github.com/QubesOS/qubes-vmm-xen/pull/42
https://github.com/QubesOS/qubes-gui-agent-linux/pull/44

[2018-06-25 16:38] jpouellet commented on #4028
for qubesdb, see:
- https://www.qubes-os.org/doc/vm-interface/
- https://github.com/QubesOS/qubes-core-qubesdb
- `$ qubesdb-list /`
- `$ qubesdb-read /qubes-ip` (as a random example)

It's basically a hierarchical key-value store with roughly equivalent semantics to xenstore. If you're not familiar with it, it's pretty simple. Only thing that may be non-obvious is that updates are passed as messag

[2018-06-25 18:38] Aekez commented on #4013
- I think this is a really good idea.

  - Although would it be feasible without taking a too big hit on resources and time? I wouldn't personally mind waiting that extra time for 4.1. if it means having a more stable release in-between though, for reasons listed below.

  - New hardware to be supported in kernel and firmware packages. For example Qubes 4 does not boot out-of-the-box on the new AM

[2018-06-25 18:53] Aekez commented on #4013
@qubesissues
If you're worried about missing out on dom0 updates, then you can draft a copy of all the dom0 current update packages from here https://yum.qubes-os.org/r4.0/current/dom0/fc25/rpm/ and then compare it with all the packages currently installed in your dom0.

Different ways this can be done, I recon that it shouldn't be too tricky with the proper commands to find all packages ("rpm -qa

[2018-06-25 19:11] marmarek commented on #4013
Generally I'm for having 4.0.1 and 3.2.1, but I'd like at least fix keyboard layout issue for that, preventing openqa tests to succeed (https://openqa.qubes-os.org/tests/overview?distri=qubesos&version=4.0&build=4.0-20180610&groupid=1). It is this bug: #3352
To solve this, we need to find what exactly change the keyboard layout back to us. The only idea I have how to do that is installing the syst

[2018-06-25 21:08] Aekez commented on #4013
@marmarek
Regarding language randomly switching, I think I might have found three clues (at least I can cause it to reproduce the switch back to us keyboard language roughly 50% of the time with one of them, the first clue below). Also all 3 clues seems related to each others, and seem to happen in some other Linux distros' as well.

- First clue seems that it is tied to xorg and keyboard being di

[2018-06-25 22:06] marmarek commented on #4013
Yes, I think it's useful, thank you!
The idea that something called by udev is responsible helps a lot. I'd guess that during the installation, there are multiple places where `udev trigger` is called, which also will cause re-issue of udev events (and Xorg picking them up). There is still a question where exactly old keyboard layout persists in Qubes case, but it should be easier to find now. Com

[2018-06-25 23:00] abis866i opened #4035 "Cannot use a USB camera"
### Qubes OS version:

R4.0

### Affected component(s):

USB Camera
I am not able to use my usb camera (Logitech C270)
Camera is the only usb device on a PCI card.

---

### Steps to reproduce the behavior:

1. I attach the camera PCI to the "personal" VM using the Qubes Manager
2. Check if camera is available in Personal VM and it seems it is attached according to second line in result.
user@pers

[2018-06-25 23:32] marmarek commented on #3352
Copying @Aekez comment https://github.com/QubesOS/qubes-issues/issues/4013#issuecomment-400096294:

[2018-06-25 23:35] marmarek commented on #3352
I can confirm that during installation (at least) `udevadm trigger` switches back to US even if Polish keyboard layout was selected (and US removed). `DISPLAY=:1 setxkbmap pl` switches to Polish keyboard layout, but again `udevadm trigger` revert it.
This is properly indicated in right top corner of the installation screen.

So, at least we can trigger the problem without going through full instal

[2018-06-26 01:04] marmarek commented on #3352
Looks similar to this Xorg bug: https://bugs.freedesktop.org/show_bug.cgi?id=71168

[2018-06-26 03:10] andrewdavidwong commented on #4016
This is #4016. Did you mean #4033?

[2018-06-26 04:03] akacodeorg commented on #3198
Hi All, I’m running into almost the same error installing Qubes-R4.0-x86_64. Install is hanging on “storaged.x86_64 (732/1018)” while installing on:

System76 - Oryx Pro
8 GB GTX 1070
4.1 GHz i7-8750H
32 GB Dual-channel DDR4 at 2400 MHz
512 GB NVMe PCIe M.2 SSD

Will report back if I find workaround.

[2018-06-26 04:59] adrelanos commented on #4016
Yes.

[2018-06-26 08:06] niccokunzmann opened #4036 "[GOOD FIRST ISSUE] Document how to get the [verified] label for your gpg key"
### Qubes OS version:

### Affected component(s):

---

### Steps to reproduce the behavior:

When I generated my key as mentioned in
https://www.qubes-os.org/doc/code-signing/#generating-a-key
I would like to know if my commits are signed once I upload them to GitHub.

### Expected behavior:

Under the **Generating a Key** section (
https://www.qubes-os.org/doc/code-signing/#generating-a-key ),
I

[2018-06-26 11:27] qubesuser146 opened #4037 "sys-usb not making USB keyboard/mouse usable in dom0"
### Qubes OS version:

4.0

### Affected component(s):

USB devices

---

### Steps to reproduce the behavior:

Follow the docs: https://www.qubes-os.org/doc/usb/

`sudo qubesctl state.sls qvm.sys-usb`
`sudo qubesctl state.sls qvm.usb-keyboard`
`qvm-start sys-usb`

Devices go dark for a couple of seconds, then they light up again. They show up in `qvm-usb` now, but nothing works except for my PS/2

[2018-06-26 12:37] marmarek commented on #3352
Further finding from analyzing Xorg source code:
1. [New keyboard device gets its layout](https://cgit.freedesktop.org/xorg/driver/xf86-input-libinput/tree/src/xf86libinput.c#n1026) from `xkb_layout` option and fallback to the default layout if not set.
2. Default layout is _only_ updated when [adding new keyboard](https://cgit.freedesktop.org/xorg/xserver/tree/xkb/xkbInit.c?h=server-1.19-branch#n

[2018-06-26 14:55] marmarek commented on #4037
Do you see anything about `qubes.InputKeyboard` in `sudo journalctl -b` command output in dom0?

[2018-06-26 15:51] qubesuser146 commented on #4037
Nothing when I grep for InputKeyboard or InputMouse, sadly.

[2018-06-26 16:57] marmarek commented on #4037
In that case, open terminal in sys-usb and look for errors in journalctl there. Especially about qubes-input-sender services.

[2018-06-26 17:22] qubesuser146 commented on #4037
After restarting sys-usb journalctl is wiped and I can only use my PS/2 keyboard, so I will paste the whole log. Hope it doesn't look too bad:

-- Logs begin at Tue 2018-06-26 17:20:24 UTC, end at Tue 2018-06-26 17:22:30 UTC. --
Jun 26 17:20:24 host systemd-journal[220]: Runtime journal is using 4.0M (max allowed 11.1M, trying to leave 16.7M free of 107.3M available → current limit 11.1M).
Jun 26

[2018-06-26 17:32] qubesuser146 commented on #4037
Pasting from the bottom since it stops when logs get interesting...:

-- Logs begin at Tue 2018-06-26 17:20:24 UTC, end at Tue 2018-06-26 17:33:41 UTC. --
Jun 26 17:20:25 host systemd[1]: Started Anonymizing overlay network for TCP.
Jun 26 17:20:25 host systemd[1]: Starting /etc/rc.local Compatibility...
Jun 26 17:20:25 host systemd[1]: Starting Network is Online.
Jun 26 17:20:25 host systemd[1]:

[2018-06-26 17:35] marmarek commented on #4037
Oh, you use Whonix template for sys-usb. Any specific reason for that? sys-usb isn't connected to network, so there is very little (if at all) sense for this.
Anyway, you need to install qubes-input-proxy-sender package there.

[2018-06-26 17:48] qubesuser146 commented on #4037
Whonix as default template...
After a `qvm-prefs sys-usb template fedora-28`, all is right in the world. Thanks!

[2018-06-26 21:36] tokideveloper opened #4038 "How to translate quotations, code blocks, snippets and file excerpts within the documentation?"
In this issue, we want to solve the following problems:

- [ ] How to translate quotations?
  - [ ] Translate them?
  - [ ] Keep the original phrase next to the translation?
  - [ ] Add a translated `(translation)` note after the quotation, e.g. `(Übersetzung)` in German?
  - [ ] Which quotations marks to use?
- [ ] How to translate code blocks and snippets?
- [ ] How to translate file excerpts?

[2018-06-26 21:39] tokideveloper commented on #4038
E.g. there are Twitter quotations of some prominent people on the home page. The key questions I have in mind are:

In my view: Yes, that's why translated pages shall exist! However, I'm not sure if there are legal restrictions whether translations are allowed or not.

In my view: No, not necessary. The user may visit the official page in order to get the original phrase.

In my view: Yes, since a

[2018-06-26 23:03] marmarek commented on #3029
Dom0 will not see VT-x or VT-d, Xen (running below dom0) will. See `xl info` to verify (`virt_caps` field - `hvm` is about VT-x and `hvm_directio` is about VT-d). So, the content of `/proc/cpuinfo` is expected.

As for running R4.0 in HVM on R3.2, that would require virtualizing VT-x and VT-d (aka nested virtualization), which we don't do for security purposes (very complex code). And it isn't ver

[2018-06-26 23:03] #3029 closed

[2018-06-26 23:08] marmarek opened #4039 "Disk usage does not add up in disk space widget"
### Qubes OS version:

R4.0

### Affected component(s):

qui-disk-space

---

### Steps to reproduce the behavior:

Open disk space widget.

### Expected behavior:

Total disk usage represent what is really available.

### Actual behavior:

Total disk usage shows half of actual usage, listed below.
![disk-space-bug](https://user-images.githubusercontent.com/726704/41944052-48c51a1e-79a6-11e8-9b75-

[2018-06-26 23:09] #3410 closed

[2018-06-26 23:09] #4000 closed

[2018-06-27 00:23] vladionescu commented on #3469
What is the workaround here? I updated earlier today and now I can't start VMs, breaking my workflow.

[2018-06-27 00:55] marmarek commented on #3469
Just to clarify - is it sys-whonix not starting at all, or displaying "Unexpected results by timedatectl" error message after the startup? The latter looks scary, but is a false positive (see discussion above) and in fact shouldn't break anything.
Do you see any other problem?

[2018-06-27 01:15] #3942 closed

[2018-06-27 01:34] vladionescu commented on #3469
It's displaying the error message and the VM starts, but connectivity in that VM appears to be broken:

- DispVMs based on whonix-ws-dvm have no outbound connectivity using Tor Browser
- Can't update whonix-gw template
- Can't update whonix-ws template

There's a chance this is a coincidence (saying this because I haven't had time to do a root cause and figure out whether the issues are related),

[2018-06-27 01:41] adrelanos commented on #3469
This very issue #3469 certainly (and I say that seldom) is only a false positive graphical user interface message warning.

For everything else, please create new issues.

[2018-06-27 01:43] adrelanos commented on #3469
[status of Whonix 14 development](https://forums.whonix.org/t/whonix-14-release-blockers-status-of-whonix-14-development):

https://www.whonix.org/wiki/Upgrading_Whonix_13_to_Whonix_14

[2018-06-27 01:58] marmarek commented on #3234
According to https://openqa.qubes-os.org/tests/118 it is still an issue.

[2018-06-27 02:29] #4037 closed

[2018-06-27 02:34] andrewdavidwong commented on #4038
Should be okay to translate quotations, but we definitely have to indicate that it's a translation of the original source's words and not an actual quotation from the original source. Putting the English original in parentheses next to the translation and adding `(translation)` next to the translation are both ways to achieve this. The former is safer but less likely to be useful to the reader. (T

[2018-06-27 06:57] tokideveloper commented on #4038
I prefer the latter one since it's easier to read, so, summarizing it using an English-to-German example: Translate

with

[2018-06-27 10:41] marmarek commented on #3198
Are you using USB 3.0 stick as a installation source? I have one (actually bought a bunch of them :/) that cause similar problems, but when connected through USB 2.0 cable or hub, it works.

[2018-06-27 11:00] homotopycolimit opened #4040 "qvm-run -p --localcmd output is interpreted by shell instead of being sent to command in appvm"
### Qubes OS version:
R4.0

### Affected component(s):
qvm-run

### Steps to reproduce the behavior:

in dom0 run a `qvm-run -p` command with the `--localcmd` option

for example:
`qvm-run -p --localcmd="cmd0" $appvm "cat > /home/user/output"`

### Expected behavior:

Expect the output of cmd0 to be passed to the command on the appvm side, i.e. in this example we expect the output to be written to

[2018-06-27 11:10] homotopycolimit commented on #4040
A mimimal example:

`qvm-run -p --localcmd "date;sleep 1" sys-net "cat > /tmp/foo"`

gives

`/bin/bash: line 1: Wed: command not found` (at least on a Wednesday)

[2018-06-27 19:19] pgerber commented on #3984
I also have this issue without rotation. However, it only affects AppVMs that were started before the monitor was plugged in.

Going through the logs, I suspect this error is related:

[code]

`xrand` on AppVM where screen wasn't plugged in during boot (mouse not working):

[code]

`xrand` on AppVM where screen wasn't plugged in during boot (mouse not working):

[code]

[2018-06-27 20:07] Marcosmos747 commented on #3411
I too and experiencing the same thing. i'm using
ROG Strix GL502VS-WS71 15.6" Gaming Laptop Computer; Intel Core i7-7700HQ Processor 2.8GHz; NVIDIA GeForce GTX 1070 8GB GDDR5; 16GB DDR4 RAM; 1TB HDD + 256GB SSD; Microsoft Windows 10 64-bit; Media Card Reader; 10/100/100 Network; 2x2 802.11ac Wireless+Bluetooth 4.1; 15.6" Full HD G-Sync Display.
after a few minutes AFK screen goes black and unrespo

[2018-06-27 20:39] hugoncosta commented on #3578
I believe I've found a way around this. Follow me:

1) Go to Settings - Keyboard. Make sure you have at least 2 types of keyboard.

2) Set the "Change layout option" to something, I chose alt + shift because windows.

3) Click on "Use system defaults"

4) Restart VM

Seems odd, but it has worked for me.

[2018-06-28 08:20] tokideveloper commented on #4038
An example from [How to Create a BlackArch VM]:

    $ curl -O https://blackarch.org/strap.sh

    # The SHA1 sum should match: 34b1a3698a4c971807fb1fe41463b9d25e1a4a09
    $ sha1sum strap.sh

    # Set execute bit
    $ chmod +x strap.sh

    # Run strap.sh
    $ sudo ./strap.sh

Here, the **line comments to sketch several steps should be translated** in my view while the commands itself should s

[2018-06-28 11:16] tweidinger commented on #3411
Just deactivate the TPM module if you have one, if you can live with this.
(Worked for me)

[2018-06-28 11:44] homotopycolimit commented on #3835
@vladimir-lu I'm stuck in a similar place. I was wondering if you could expand on your previous comment? How does this work?
I have been trying for several day to build a kernel module (v4l2loopback) and I'd like to use the qubes kernel instead of the fedora or debian distribution kernel.

[2018-06-28 13:56] cobordism opened #4041 "failure to attach USB devices from sys-usb to fedora-kernel appvm (Update: kernel-modules-extra missing)"
### Qubes OS version:
R4.0

### Affected component(s):
qubes-usb-proxy (presumably)

---

### Steps to reproduce the behavior:
Create an appvm based on Fedora28 and set the AppVM to use the fedora distribution kernel.
Start the AppVM and then try to attach a USB device to it.

### Expected behavior:
I expect the USB device to be available in the AppVM

### Actual behavior:
The attaching operation

[2018-06-28 14:35] marmarek commented on #4041
See `sudo journalctl -b` output in that AppVM.

[2018-06-28 14:51] PowerPress commented on #3717
Any plans to implement this to wipe/shred the data or have the volume encrypted separately in the first place; then throw away the key? Would be a great option to have Qubes have a clickable option for this in each VM, in my opinion, so that traces of something are not left behind once a VM is disposed of.

[2018-06-28 15:08] homotopycolimit commented on #4041
[code]

[2018-06-28 16:08] marmarek commented on #4041
Hmm, there are no more details here (just `qrexec-agent[710]: pid 1249 exited with 1`). Try `qvm-usb` command line utility (from dom0), maybe it will provide more details. Check also if you have `vhci_hcd` module loaded in the AppVM (it should be loaded automatically).

[2018-06-28 16:28] lunarthegrey opened #4042 "sys-usb dies on suspend/un-suspend"
### Qubes OS version:

Qubes OS 4.0

### Affected component(s):

sys-usb VM

---

### Steps to reproduce the behavior:

Close laptop to put into suspend, re-open later, un-suspend and sys-usb no longer works.

### Expected behavior:

Suspend doesn't crash sys-usb and works fine like other VMs.

### Actual behavior:

sys-usb stops working and you must kill it with qvm-kill sys-usb, qvm-shutdown doe

[2018-06-28 18:17] yurikanestorm commented on #4010
Applying the solution of the issue #3979 (patch for the Makefile.builder) solved as well this current issue #4010.

[2018-06-28 18:17] #4010 closed

[2018-06-29 02:33] andrewdavidwong commented on #4038
Correct. This example is poorly-written for precisely that reason.

Yes. In general, it is difficult to translate a text that the translator does not understand.

Agreed.

It should not. It should be the actual verbatim output, just as with the English outputs.

Translations could make it better to understand the structure of those files.
On the other hand, untranslated files can be matched charac

[2018-06-29 02:35] andrewdavidwong commented on #3717
This sounds more like #1293.

[2018-06-29 05:54] Polygonbugs commented on #3585
Thank you @taradiddles. I followed your tutorial QWT installation and finally made it successful.  But after installing QWT, there is issue about two windows being opened in one Windows-OS VM. One seems to be freezed at Windows boot logo screen when booting is almost finished and the other one just normally show desktop of Windows-OS. Although OS is working well including shutdown of VM, could thi

[2018-06-29 09:10] taradiddles commented on #3585
That's likely because you didn't turn off the vm's debug property (run `qvm-prefs <vmname> debug false`)

[2018-06-29 10:31] homotopycolimit commented on #4041
**FIXED!**
thank you.
**TL;DR kernel-modules-extra was not installed in fc28 template.**

From dom0
[code]
Not very helpull at all. Shouldn't there be some kind of error message?
But:

aha!
[code]

Steps to fix:
1. Install kernel-modules-extra in template VM
`$ sudo dnf install kernel-modules-extra`
2. For some reason this installs the newest kernel modules `4.17.2-200.fc28`, but the appvm still b

[2018-06-29 12:12] Polygonbugs commented on #3585
Oh! Thanks. I forgot to disable debug property. Now it works charm! BTW, I'm wondering that seamless mode is dead option in Qubes-R4. I've searched a lot but I couldn't see how to do. If it is dead in R4, I think it should also be contained in as new issue.

[2018-06-29 13:22] jpouellet commented on #2890
Note that there are various issues with suspend security enabling various vectors for compromise on resume, and that the more-paranoid user may wish to avoid suspend altogether. More information on this class of attacks can be found at:
- https://bromiumlabs.files.wordpress.com/2015/01/attacksonuefi_slides.pdf
- http://composter.com.ua/documents/Attacking_UEFI_Boot_Script.pdf
- http://blog.cr4.sh/

[2018-06-29 13:36] homotopycolimit opened #4043 "qube-manager resets kernel preference of appvm every time"
### Qubes OS version:
R4.0

### Affected component(s):
Qubes Manager

---

### Steps to reproduce the behavior:
Create an AppVM and in the Qubes Manager, select Qube Settings and then the Advanced Tab. As kernel select "none".
Close the Qube Settings window.
Open the Qube Settings window.

### Expected behavior:
I expect to see "Kernel: none" in the advanced tab

### Actual behavior:
The kernel op

[2018-06-29 14:01] Jeeppler opened #4044 "Pasting VM to VM does not work."
### Qubes OS version:

R4.0

### Affected component(s):

Pasting clipboard content does not work.

### Steps to reproduce the behavior:

See: "Actual behavior" section.

### Expected behavior:

1. In Qube A copy arbitrary text to clipboard CTRL+C
2. Copy arbitrary text to dom0 (inter-VM) clipboard using CTRL+SHIFT+C. A pop up appears stating that x bytes where copied to the clipboard.
3. Switch to

[2018-06-29 14:50] homotopycolimit commented on #4044
I had may issues like this too - and most of the time it was because the k**eyboard shortcut was being used by a different app** as well. **CTRL+SHIFT+V is far too common** in my experience.

I suggest you try changing it in dom0 /etc/qubes/guid.conf to something that is certainly unique like `Ctrl-Alt-Shift-v` or sth like that. It might require more finger gymnastics to type, but ever since I nev

[2018-06-29 19:34] tasket opened #4045 "New standalone VMs inherit template's private filesystem state"
### Qubes OS version:

R4.0

### Affected component(s):

Standalone VMs created from templates

---

### Steps to reproduce the behavior:

1. Add some file to templateVM's /home/user then shutdown
2. Create standalone VM from template
3. Start standalone and view the files

### Expected behavior:

Standalone VM receives a newly-initialized private fs.

### Actual behavior:

Information from templa

[2018-06-30 04:55] andrewdavidwong commented on #4044
Have you modified the inter-VM copy/paste RPC policy?

[2018-06-30 04:57] andrewdavidwong commented on #4044
Does this happen all the time or only in certain destination VMs?

Does this happen with every program in the destination VM or only some of them?

[2018-06-30 05:03] andrewdavidwong commented on #4045
If I understand correctly, @tasket is saying that, since TemplateBasedVMs no longer inherit the contents of `/home` from their parent TemplateVMs in 4.0 (changed from 3.2), StandaloneVMs also should not inherit the contents of `/home` from the TemplateVMs from which they are created.

[2018-06-30 07:44] pure007 opened #4046 "Whonixcheck systemd clock check result"
### Qubes OS version:

Qubes release 4.0 (R4.0)

### Affected component(s):

sys-whonix

---

### Steps to reproduce the behavior:

Use the system for a few days.

### Expected behavior:

no errors on sys-whonix startup

### Actual behavior:

After using QubesOS 4.0 for a couple of days, whonixcheck starts to pop up with an error whenever sys-whonix starts.

ERROR: Systemd Clock Check Result:
Unex

[2018-06-30 11:13] donob4n commented on #3897
Hi,
have you tried without disabling 'nouveau' module? Did it work properly on some fresh 4.0 installation before doing updates?

[2018-06-30 11:46] jpouellet commented on #4035
Might this be an issue with the client you are trying to use to interact with your camera? Have you tried passing the PCI device to a VM with the same template to confirm whether qubes-usb-proxy is in fact the issue?

I've used usb-passthrough for a webcam recently and it worked for me.

Closing and re-opening the device can sometimes leave it in an inconsistent state and unable to use, but I've n

[2018-06-30 14:57] awokd commented on #3934
[Here's](https://github.com/Qubes-Community/Contents/blob/master/docs/system/restore-3.2.md) what we (mostly @taradiddles) came up with. If this is what you had in mind, I'll submit to qubes-doc and we can fine-tune there if needed.

[2018-06-30 17:19] Jeeppler commented on #4044
This behavior is consistent across Qubes regardless if I try to use Debian based Qubes or Fedora base Qubes.

Yes, it happens to all programs (which I normally use).

I mean I still see the notification 'xy bytes copied'. However, I do not see the paste notification. What command/program should be triggered when I press `CTRL+SHIFT+v`? Maybe, I can just trigger it manually by calling it directly a

[2018-06-30 20:03] tasket commented on #4045
I was going to say that... Thanks for clarifying! The consistency part of it is the most important, IMO, because ppl will use template-based appVMs most of the time and expect the same 'cleanliness' from standalones -- but may leak files without realizing.

[2018-06-30 22:16] marmarek commented on #4044
Check `/var/log/qubes/guid.VMNAME.log` for relevant VM (where you want to paste).

[2018-06-30 22:28] marmarek commented on #4045
Note that when you create a StandaloneVM from a Template, it is in fact `qvm-clone --class StandaloneVM` operation. But indeed it is inconsistent.

[2018-06-30 23:37] abis866i commented on #4035
Thank you for looking into this. Here is my setting: personal and untrusted VMs are using the Debian template while the rest are using the Fedora template. I have to admit that I do not have too much knowledge into the Linux area so, please guide me through the process. I have removed the PCI from the sys-net where it was attached before. In this case, I try to attach the PCI to the "work" VM whic

[2018-07-01 02:09] andrewdavidwong opened #4047 "Make signed scrypt binary available to Qubes users for emergency backup recovery"
I've just updated [Emergency Backup Recovery without Qubes - format version 4](https://www.qubes-os.org/doc/backup-emergency-restore-v4/) to strongly recommend that Qubes users store a copy of the `scrypt` utility with their 4.x backups, since it is required in order to access the data in those backups (see https://github.com/QubesOS/qubes-doc/commit/bb2617308927b84ee1d32ce0301a093e1fa025f2 and, f

[2018-07-01 11:20] marmarek commented on #4047
We already have signed rpm package with the binary. You can easily extract binary (`rpmdev-extract` tool) from there and treat rpm as a signed container. Alternatively we could put just a binary with a detached signature somewhere. Obviously the first option if far less work, as it is already done: https://yum.qubes-os.org/r4.0/current/vm/fc28/rpm/scrypt-1.2.1-1.fc28.x86_64.rpm (you can also choos

[2018-07-01 12:39] Kixunil commented on #4042
I think I've just hit this issue too. Suspended my laptop during night and then failed to attach USB device to appvm.

[2018-07-01 13:35] jpouellet commented on #4035
Right. PVH-mode VMs can't do PCI-passthrough.

You need to set it to hvm instead:
[code]

To set it back to default (pvh):
[code]

I'd probably create a new VM for this testing purpose, but it's not strictly necessary.

[2018-07-01 15:03] abis866i commented on #4035
Yes, that worked. Here is what I did:
- created new appvm based on fedora, called "temp"
- attached the whole PCI card to the "temp" appvm
- ran "cheese" in "temp" and camera worked this time.
What do you advise I do, change the virtualization mode to my AppVMs to make it work?
Thank you!

[2018-07-01 17:01] jpouellet commented on #4035
So far this only confirms the problem is with qubes' USB passthrough layer or dependencies / configuration in the templates you were using before, and rules out your camera app, USB controller itself, etc.

Now, what happens if you make another VM based on the same template as temp (`qvm-clone temp temp-client` should do fine) and try to use qvm-usb to pass it from temp to temp-client, and use the

[2018-07-01 17:29] abis866i commented on #4035
1. Yes, I was able to use the cheese with the "temp" AppVM if the virtualization was "hvm"

2. Here is my "qubes-usb-proxy". I have noticed that your output says "fc26" while mine is "fc25". Currently, I have Fedora 28 template installed.

[user@dom0 ~]$ sudo dnf list installed | grep qubes-usb-proxy
qubes-usb-proxy-dom0.noarch            1.0.18-1.fc25          @qubes-dom0-cached

3. Cloning went

[2018-07-01 18:01] abis866i commented on #4035
Just a note on the post above:
I can use my camera with "cheese" in the "temp" appvm when I start it. If I attach the camera to "temp-client",  try to use it in the "temp-client" with "cheese" , and then detach it, I will not be able to use it in "temp" anymore.

[2018-07-01 18:08] esote commented on #4046
Probably a duplicate of #3469.

[2018-07-01 18:54] Featheruser opened #4048 "Deleted Pulseaudio from dom0 and broke every VM"
### Qubes OS version:

R3.2

### Affected component(s):

All VMs and dom0

---

### Steps to reproduce the behavior:

in dom0 'sudo dnf remove pulseaudio

### Expected behavior:

Remove pulseaudio from dom0

### Actual behavior:

deleted pulseaudio, pulseaudiomodule-conf and:
paprefs
qubes-gui-dom0
rtkit
soxr
speexdsp
webrtc-audio-processing

### General notes:

stopped all vms from starting, how

[2018-07-01 19:28] jpouellet commented on #4035
`virt_mode` for the VM getting the USB device passed to it does not matter. The USB traffic comes in over qrexec and gets injected to USBIP - there is no PCI device involved. `virt_mode=hvm` is only required for the device which actually has the USB controller PCI device assigned to it.

From everything you describe, this indeed sounds like a bug in the USB passthrough code.

As a workaround, you

[2018-07-01 19:34] jpouellet commented on #4035
Hmm, Xeon processor? If this is a server or workstation or something, then simply buying another USB PCI card and using it exclusively for a (camera, vm) pair would be ideal from a security perspective. Additionally, if the card supports function-level-reset (I wish I knew which chipsets did...) then you wouldn't need `no-strict-reset` and could restarting just that USB vm would be meaningful.

[2018-07-01 19:35] abis866i commented on #4035
Not sure if I actually have have a security model in mind. But I am fascinated by the fact that I can take resources and temporarily assign them to different vms. For example, I use Google Hangouts only for work, so in that case I would assign the camera to the "work" vm for that. For conversations with family/friends, I use Wire, so I would attach it to the personal.

[2018-07-01 19:45] jpouellet commented on #4035
Sure... but depending on your threat model, that can only go so far.

If you're worried about any of the video conferencing applications getting owned and the attacker persisting to webcam firmware, then you're probably still screwed.

See, e.g.:
- paper: https://www.usenix.org/system/files/conference/usenixsecurity14/sec14-paper-brocker.pdf
- talk: https://www.usenix.org/node/184422
- other paper

[2018-07-01 19:46] jpouellet commented on #4035
That's also an argument for some higher-level unidirectional-video-stream-only implementation within Qubes. Maybe one day...

[2018-07-01 19:51] abis866i commented on #4035
No, it is just a system I built myself from parts from MicroCenter. Here is what I have:

- Intel Core i3-6100 SkyLake 3.7 GHz LGA 1151
- MSI Z170A PC Mate LGA 1151 ATX Intel Motherboard
- Crucial Ballistix Sport LT 64GB 4 x 16GB DDR4-2400 PC4-19200 CL16 Dual Channel

I built it in preparation for Qubes OS 4.0 as the laptop I have used with 3.2 did not pass the hardware requirements. Since camera

[2018-07-01 20:08] jpouellet commented on #4035
Interesting, you say it's a Core-i3 but the PCI devs show as Xeon-E3 ¯\_(ツ)_/¯

Would you mind sharing output of:
[code]

Specifically, I'm interested if the output contains `FLReset` for any of the devices.

[2018-07-01 20:13] abis866i commented on #4035
[user@dom0 ~]$ lspci -vv -s 00:14.0
00:14.0 USB controller: Intel Corporation Sunrise Point-H USB 3.0 xHCI Controller (rev 31) (prog-if 30 [XHCI])
	Subsystem: Micro-Star International Co., Ltd. [MSI] Device 7971
	Control: I/O- Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping- SERR- FastB2B- DisINTx-
	Status: Cap+ 66MHz- UDF- FastB2B+ ParErr- DEVSEL=medium >TAbort- <TAbort- <MAbort- >

[2018-07-01 20:15] abis866i commented on #4035
The usb camera is attached to the 03:00.0 USB controller: Renesas Technology Corp card and it is the only USB device on the card.

[2018-07-01 20:49] Aekez commented on #4046
I think this might be a mixed user-mistake and a mixed motherboard/BIOS design mistake, rather than a Qubes, Linux, Tor or Whonix, or any other software based issue.

The reason is that BIOS's do typically not recognize timezones, so when the user go into their BIOS, they might make the mistake of setting their BIOS time to that of their local timezone time. This thus changes the universal time in

[2018-07-01 21:03] esote commented on #4046
@Aekez If you look at the issue I linked above, you will see that it is the exact same error. I've had this issue without touching my BIOS or dom0 timezone, it only occurred after an update in Whonix. As adrelanos says in the issue, it is "only a false positive graphical user interface message warning" -- and is fixed in Whonix 14.

[2018-07-01 21:09] Aekez commented on #4046
@esote Thanks for that, though unfortunately it's not a duplicate, albeit it does look alike a lot. The reason is that it doesn't take much to throw off Whonix/Tor if the time information is wrong, and these are two different ways that the time gets messed up.

Also I'm using Whonix 14 my self, the above part user/BIOS-design mistake however still comes in Whonix 14, but disappears the moment you

[2018-07-01 21:11] tasket commented on #3503
@adrelanos I think we should consider reviewing qubes-tunnel soon and getting the new doc finalized. Do you have time?

[2018-07-01 21:16] esote commented on #4046
@Aekez I understand that changing your time configuration in BIOS / dom0 may have fixed it for you, but I do not see where in @pure007's issue you see any details that indicate it is not a duplicate of #3469. The error message is the _exact_ same.

[2018-07-01 21:20] esote commented on #4046
@Aekez You may be correct, I notice that

[code]

[2018-07-01 21:45] Aekez commented on #4046
@esote
NP's, as long as we get to the bottom of what happens, it doesn't matter who's right, and being skeptical only allows room for greater clarifications or finding mistakes, so I think it's really good that you question so that truth can be attained.

Besides, it may also be that I'm wrong too. For example I just realized if I run `timedatectl` in sys-whonix terminal, I get `Time zone: Etc/UTC

[2018-07-01 21:55] Aekez commented on #4046
Based on the assumption Whonix defaults to +0000 UTC timezone for all systems, then it seems Whonix complains if there is a difference between Local time, and Universal time (mathematical mismatch in time, that can be used to fingerprint Tor anonymity?). If Whonix uses a common timezone (UTC Universal time, at +0000, to make Whonix systems look more identical), then it's very, very odd that there

[2018-07-01 22:41] Aekez commented on #2743
I'm speculating whether there are any filters of sorts that forces an HDMI cable to be one-directional, instead of bi-directional (default HDMI state). It's a bit murky water as there is a lot of speculation and assumptions on HDMI out there, and very little reliable clarification, so searching for reliable answers becomes a bit tiresome on the wild-wild-west on some of the HDMI information.

Gene

[2018-07-01 23:57] andrewdavidwong commented on #4046
Duplicate of #3469

[2018-07-01 23:57] andrewdavidwong commented on #4046
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-07-02 00:02] andrewdavidwong commented on #4048
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please send this to the `qubes-users` [mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please leave a

[2018-07-02 00:02] #4048 closed

[2018-07-02 00:06] pure007 commented on #4046
Thanks everyone for chiming in. @Aekez i just looked at my BIOS and the time is set to UTC. I think it may be a duplicate of #3469 like @esote said. The weird thing is that the error doesn't show up right away even after i fully update the system. On a fresh install, i would use it for a couple of days  and then right after booting up it starts popping up.

[2018-07-02 00:09] andrewdavidwong commented on #4046
Duplicate of #3469

[2018-07-02 00:09] andrewdavidwong commented on #4046
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-07-02 00:09] #4046 closed

[2018-07-02 10:41] v6ak commented on #2743
I have a poor Internet connection, so my response will be brief and by heart:

* As I probably have noted, double passive conversion (HDMI –> DVI and DVI –> HDMI) removes most inputs, except some monitor identification (EDID or so), which is rather minor concern. This solution is easy and cheap. You have to care about connector gender (male/female), of course. You can verify it by finding HDMI wir

[2018-07-02 10:49] Aekez commented on #4031
https://github.com/QubesOS/qubes-issues/issues/4014 looks very similar to this issue, but doesn't look to be a duplicate since it's two different ways to reproduce towards the same end-result issue. Maybe the root cause is the same though?

[2018-07-02 11:52] Aekez opened #4049 "Consider giving Qube Manager persistent window memory (UX, probably minor)"
### Qubes OS version:

Qubes 4.0.

### Affected component(s):

Qube Manager.
Dom0~

---

### Steps to reproduce the behavior:

Shutdown the Qube Manager application after making window-size state changes, and then start the Qube Manager again. Straight forward, 100% reproduce-able.

### Expected behavior:

The Qube Manager remembering the previous window-size state.

### Actual behavior:

Qube Man

[2018-07-02 12:18] Aekez commented on #4033
- A minor feedback is that I really like you now give out-of-the-box user-choice between nautilus and dolphin. At least personally I can not stand dolphin in Qubes-Whonix. The included dolphin always gave me the feeling of being trapped in a small box, with annoying single-click special icon-links, and gives the feeling of cumberstone navigation. Kudos for putting in nautilus, and it's nice that b

[2018-07-02 12:37] DemiMarie commented on #2743
We should definitely have software-based countermeasures.  Not everyone
will get hardware components.

On Mon, Jul 2, 2018, 6:41 AM Vít Šesták <notifications@github.com> wrote:

[2018-07-02 12:56] Aekez commented on #4039
**Wondering if this warrants a new issue or not, but I'll include a brief mention here for now.**
In addition to the disk-space-widget bug(s), this is a suggestion for better overview accuracy from a human UX perspective. Consider the question whether adding a sub-menu in the disk-space-widget, on which for example hovering mouse-over expands a side-menu that shows how various of AppVM's and Templ

[2018-07-02 13:40] Aekez commented on #2743
@v6ak

This looks very, very interesting, I'm definitely gonna look into this soon, thanks for sharing! Maybe even combine it with the other suggestions, so protection hopefully becomes stacked / overlapping-redundant as far as possible.

@DemiMarie
I can only agree, but we're still some time off into the future before we can get good pure software solutions though? i.e. as v6ak mentioned, dom0 gr

[2018-07-02 14:14] marmarek commented on #3935
@adrelanos what key do you want to use for signing build requests? 916B8D99C38EAF5E8ADC7A2A8D66066A2EEACCDA?

[2018-07-02 14:32] marmarek commented on #3935
@fepitre what key do you want to use for signing build requests? C7A3BA7D2DDAF042C77CA4D21DABC232BE02201E?

[2018-07-02 14:38] marmarek commented on #3935
@ptitdoc what key do you want to use for signing build requests? D85EE12F967851CCF433515A2043E7ACC1833B9C?

[2018-07-02 14:39] marmarek commented on #3935
@unman what key do you want to use for signing build requests? C6E2533D976E4B29A82B79CB0C6D15D5E0A9816E?

[2018-07-02 15:35] adrelanos commented on #3935
Marek Marczykowski-Górecki:

Yes.

916B8D99C38EAF5E8ADC7A2A8D66066A2EEACCDA

[2018-07-02 17:09] tasket commented on #2449
To a lesser degree I'm experiencing this on R4.0, debian-9.

I've started to look at using the KDE apps instead, since they do not exhibit the same startup problems and have better feature sets anyway. On R4.0 however, the Dolphin menu integration exists only in Whonix.

[2018-07-02 17:58] marmarek commented on #4048
That's a bad idea, as downloaded packages may be quite large (for example extra templates).

[2018-07-02 18:03] Featheruser commented on #4048
what was it that made dnf remove qubes-gui-dom0?

[2018-07-02 18:07] marmarek commented on #4048
qubes-gui-dom0 depends on pulseaudio, which you've removed.

[2018-07-02 18:14] Featheruser commented on #4048
the gui depends on an audio program?

[2018-07-02 18:23] marmarek commented on #4048
Yes, part of qubes-gui package is handling audio virtualization. Anyway, this isn't a place for this discussion, as @andrewdavidwong said before.

[2018-07-02 18:41] emkll commented on #3178
@marmarek : The symlink workaround you describe does address the issue. Thanks!

[2018-07-02 20:36] #4032 closed

[2018-07-02 20:42] #3178 closed

[2018-07-03 03:21] marmarek commented on #4033
Looks fine.

[2018-07-03 04:12] marmarek commented on #3935
A quick how-to:
Post a comment in format described [here](https://github.com/qubesos/qubes-builder-github#build-template-command), anywhere in updates-status repo issues (I suggest this place: https://github.com/QubesOS/updates-status/issues/566). When command is properly recognized, new issue will be created about the template that starts to build ([example](https://github.com/QubesOS/updates-sta

[2018-07-03 04:20] marmarek commented on #3935
Remaining tasks:
 - [ ] add templates-*-testing repositories definitions
 - [ ] link build failure notification to issue created at the build start

[2018-07-03 04:41] andrewdavidwong commented on #4039
@Aekez, please file a separate issue for this.

[2018-07-03 06:21] Zig-03 commented on #2676
Same here on Qubes R.4.0

[2018-07-03 11:43] Aekez opened #4050 "Consider: Distribution of Disk/Appvm/Template usage (Qubes-diskspace-Widget)"
### Qubes OS version:

Qubes 4.0

### Affected component(s):

- Dom0
  - Qubes-DiskSpace-Widget

---

### Steps to reproduce the behavior:

From a users perspective, missing a quick and easy means to gauge the systems distribution of disk space.

- This is a much bigger problem for some users or scenarios, compared to others.
  - For example some may have plenty of disk space and runer run out, wh

[2018-07-03 12:58] micah commented on #3983
This happens to me on every boot.

In order to fix it, I need to launch a terminal in sys-net and chmod 0700 /var/lib/private; systemctl start systemd-timesyncd.service and then go to dom0 and do sudo qvm-sync-clock in order for things to be right.

[2018-07-03 17:50] airelemental commented on #4050
For GUI, there's already a "disk size" column in the qubes manager.

(Which I think should be called "disk usage" or "real size" or something. "Disk size" could be misread as the "size of the disk", aka total space allocated, as opposed to "on-disk size").

[2018-07-03 19:02] marmarek commented on #3935
Regardless of the remaining tasks above, building itself should work already.

[2018-07-03 19:09] #3234 closed

[2018-07-03 19:14] #3327 closed

[2018-07-03 19:14] #3352 closed

[2018-07-03 19:14] #3756 closed

[2018-07-03 19:14] #3777 closed

[2018-07-04 00:18] #3758 closed

[2018-07-04 02:29] tasket commented on #4045
I guess this is limited to the GUI tool, as `qvm-create` gives me an error when I specify standaloneVM and a template.

Should this be resolved with `import_data(blank_file)` ?

[2018-07-04 03:02] DemiMarie commented on #2743
Yes, that is what I was referring to.  Also, I hope for Qubes to someday
get hardware-accelerated rendering (one use case is running untrusted Steam
games), which requires strong GPU virtualization.

On Mon, Jul 2, 2018, 9:40 AM Yuraeitha <notifications@github.com> wrote:

[2018-07-04 04:56] akacodeorg commented on #3198
Hi @marmarek, thanks for the heads up. Since your post I have now tried a few different installation methods all with no success. I have tried the following:
-mosDART 16GB USB 3.0 flash drive.
-PNY 8GB USB 2.0 flash drive.
-PNY 64GB USB 3.0 flash drive.
I tried all three methods mentioned above while also plugged into a old USB 2.0 hub.
I have also tried burning iso to DVD and booting from externa

[2018-07-04 07:50] heinrich-ulbricht opened #4051 "Critical dnf errors while upgrading packages of fedora-26 template (qubes-core-agent-networking, qubes-core-agent-qrexec)"
### Qubes OS version:

R4.0

### Affected component(s):

Template VM _fedora 26_

---

### Steps to reproduce the behavior:

`sudo dnf upgrade` (can only be used once to trigger the error)
`sudo dnf remove qubes-core-agent-networking --duplicates` (triggers the error again, every time)

### Expected behavior:

`dnf upgrade` should correctly upgrade the package _qubes-core-agent-networking_

### Ac

[2018-07-04 08:15] andrewdavidwong commented on #4051
Are you trying to upgrade from Fedora 26 to 27 or 28? If so, please follow the appropriate guide:

- https://www.qubes-os.org/doc/template/fedora/upgrade-26-to-27/
- https://www.qubes-os.org/doc/template/fedora/upgrade-27-to-28/

[2018-07-04 08:46] heinrich-ulbricht commented on #4051
@andrewdavidwong No, I'm not upgrading Fedora. I just wanted to update packages that had an update available. If `sudo dnf upgrade` is not the right way to do this, how can I keep my system up-to-date?

[2018-07-04 11:52] DTMW2 opened #4052 "Old bug resurrected: Changed Screen Resolution in Dom0 (external Monitor) not given to VMs"
### Qubes OS version:

Qubes release 4.0 (R4.0)

### Affected component(s):

graphical window system, input handling (mouse), resolution change and notification.

---

### Steps to reproduce the behavior:

I started with a release candidate version which got updated to final release. Newest updates (including qubes-dom0-current-testing) are installed. Everything worked fine but 2-4 weeks ago or so

[2018-07-04 12:28] marmarek commented on #4051
Looks like a duplicate of #3926, especially see https://github.com/QubesOS/qubes-issues/issues/3926#issuecomment-391938122 for solution.

[2018-07-04 12:35] tschakram commented on #2233
Hello,
any solution to get a android hvm running on Qubes 4 ? Booting a live iso worked for all Versions of Androidx86,RemixOS and CM. But installtion failed because of the error "No hard drive avalible". Possible to prepare the hvm drive before installing?
thanks

[2018-07-04 12:50] heinrich-ulbricht commented on #4051
@marmarek It seems so! The commands from the comment you linked to solved my issue:

[code]

For sake of completeness the command line output:
[code]

Thank you!

[2018-07-04 12:50] #4051 closed

[2018-07-04 18:53] tasket opened #4053 "Fedora 28 update conflicts with Qubes packages"
### Qubes OS version:

R4.0

### Affected component(s):

fedora-28 template

---

### Steps to reproduce the behavior:

dnf update

### Expected behavior:

Package updates are installed, leaving Qubes packages intact.

### Actual behavior:

[code]

### General notes:

This was triggered by a massive (and apparently careless) Fedora 28 update. Not sure why they would upgrade packages by a whole int

[2018-07-04 20:09] andrewdavidwong commented on #4051
Duplicate of #3926

[2018-07-04 20:12] #4052 closed

[2018-07-04 20:13] andrewdavidwong commented on #4053
Duplicate of #3991

[2018-07-04 20:13] andrewdavidwong commented on #4053
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-07-04 20:13] #4053 closed

[2018-07-04 21:08] tasket commented on #3991
Anyone know why Fedora would upgrade packages by a whole integer when their OS upgrade cycles are so short? It seems capricious.

[2018-07-04 22:12] nil0x42 opened #4054 "Microphone stuck & undetachable (GDBus.Error:org.freedesktop.DBus.Error.ServiceUnknown)"
### Qubes OS version:

R4.0

### Affected component(s):

microphone
qvm-device

---

### Steps to reproduce the behavior:

My initial goal was to attach microphone automatically to 'videochat' qube, so i did the following:
[code]

No error, here i was thinking that everything was OK, because `qvm-device mic list` showed that my microphone was used by 'videochat', and sys-usb's tray icon said the s

[2018-07-04 23:10] nil0x42 commented on #4054
Update: i just resolved my issue with a dirty hack, manually edited `/var/lib/qubes/qubes.xml`, and set mic device to null (`<devices class="mic"/>`) in videochat qube.
After a reboot, everything seems OK, `qvm-device mic list`'s output shows that mic is not in use, and a can attach and detach my microphone manually again.

[2018-07-05 11:09] whrabbit1 opened #4055 "apt-get downgraded to vulnerable version 1.0.9.8.4 in whonix"
### Qubes OS version:

Qubes Release 4.0

### Affected component(s):

apt-get package in whonix-ws and whonix-gw templates

---

### Steps to reproduce the behavior:

In the template:
apt-get remove firefox-esr
[a huge list of packages shows that is going to be removed as well]
Hit yes
apt-get update
apt-get dist-upgrade

### Expected behavior:

firefox-esr removed and packages updated

### Actual

[2018-07-05 15:40] marmarta commented on #4050
Currently, the idea is that for most users, the disk space widget is mostly to be used as an alert - when disk space runs out, they will be alerted to that. They can also see at a glance if disk space situation is bad. For more complex management there is - as @airelemental  said - the size on disk column in Qube Manager (I think there's a pull request somewhere to rename it to 'size' or something

[2018-07-05 17:28] marmarek commented on #3935
@adrelanos would you like to build whonix 14 using this new mechanism?

[2018-07-05 20:54] andrewdavidwong opened #4057 "When shutting down VMs, they often get stuck at 50% CPU usage"
### Qubes OS version:

`R3.2`

### Affected component(s):

Using `qvm-shutdown` from the command-line and shutting down VMs using Qubes Manager

---

### Steps to reproduce the behavior:

1. Select a running VM in Qubes Manager.
2. Press the shut down button.

or

1. Use `qvm-shutdown --wait` to shut down the VM.

### Expected behavior:

The VM shuts down normally.

### Actual behavior:

Around 30

[2018-07-05 21:58] donob4n commented on #4057
Hi, I think this also happens in Qubes 4.0, I have seen it many of times but I didn't report since I didn't found a way for reproduce it.

In my case I tailed '/var/log/xen/console/guest-'vm-name'.log' and I saw systemd waiting for some services to stop but unfortunately I could not read the affected services (the output was pretty ugly).

[2018-07-05 22:06] yilmi commented on #3198
Hi @akacodeorg, I ran into the same issue on a previous install, however as @marmarek mentioned in a previous comment, the freeze isn't related to the storaged.x86_64 rpm.

You're config is similar to [mine](https://www.qubes-os.org/hcl/#dell-inc_precision-5520_i7-7820hq_kaby-lake_quadro-m1200). At first, I worked around the issue adding `nouveau.modeset=0` kernel parameter and removing `/mapbs` a

[2018-07-06 01:56] andrewdavidwong commented on #4057
@marmarek, let us know if there are any logs we should collect on 3.2 and 4.0 next time this happens.

[2018-07-06 11:46] MatthiasLohr commented on #3721
Same here with 4.15.0... any ideas yet?

[2018-07-07 04:30] awokd commented on #3178
Updated a clone of debian-9 to current-testing and symlink works- no more fatal errors on a grub update. I don't see `noresume` in `/etc/default/grub` or `grub.d/30-qubes.cfg`, though. Would I need to rebuild and reinstall the template?

[2018-07-07 08:09] sstt011 commented on #4055
An exit node can intercept your connection. To me this looks like a compromise. Backup the potentially compromised VMS, delete the template vm and all based on it, and recreate. The Qubes wiki can help with this. If you can still repro, then it is unlikely that it was a compromise. I can't test at the moment, I don't use whonix. HTH

[2018-07-07 08:36] whrabbit1 commented on #4055
That's what I thought, but after reinstalling whonix templates, the issue persisted. I also learned thay whonix still uses debian jessie thay comes with that apt version. No downgrade was performed.

The weird thing here is deletion of firefox-esr causes the removal of a ton of other packages.

On Jul 7, 2018 9:09 AM, sstt011 <notifications@github.com> wrote:

An exit node can intercept your conne

[2018-07-07 10:14] awokd commented on #4023
https://www.qubes-os.org/faq/#my-hvm-in-qubes-r40-wont-let-me-startinstall-an-os

[2018-07-07 14:12] Aekez commented on #4050
I see, I did indeed overlook the Qube Manager (I thought it was affected by the disk space calculation issue as well). I barely ever use it anymore since I'm among the early Qubes 4 adopters, so I got pretty used to live without it before it was brought back, and it appears I naively thought the disk issues was happening in it too (like most/(all?) other third party disk space tools currently not

[2018-07-07 20:29] donob4n commented on #4050
@Aekez

Are you using XFCE? I'm using KDE since some months ago and I think that Qube Manager appearance looks a lot better than on XFCE. Last time I tested XFCE I saw some minor things that should be fixed like refresh icons being bad drawn.

Respect the 'Loading Qube Manager', in the older version the window appeared near instantly but you have to wait like the same time until it was full filled

[2018-07-07 20:44] pietrushnic opened #4058 "qfile-agent fatal error no such file"
### Qubes OS version:

 R4.0

### Affected component(s):

qvm-copy between all VMs

---

### Steps to reproduce the behavior:

[code]

### Expected behavior:

File should be copied to vault VM.

### Actual behavior:

qfile-agent throws error:

[code]

### General notes:

The only thing I was able to narrow is that below version works:

[code]

Debugging `qvm-copy-to-vm` show:

[code]

I'm not sure

[2018-07-07 21:36] sstt011 commented on #4055
@whrabbit1 can you post the list of packages?

[2018-07-07 22:11] donob4n commented on #4058
This is not a bug, qvm-copy is different in Qubes 4 (assuming in Qubes 3.2 was not modified).

You should do: 'qvm-copy a' , then you will get a dialog in dom0 asking the target VM. This way the source AppVM does not know the name of the destination VM.

[2018-07-07 22:32] dylangerdaly commented on #2849
Hey guys,

This still seems to be an issue, every stubdomain running is taking about 10% of my CPU Usage, it's possible to switch back to Xen's Mini-OS however sys-net files to load.

It seems to be an issue with qemu in the linux stub. Any idea how to track down the problem further, or revert to Mini-OS stub?

[2018-07-07 23:08] whrabbit1 commented on #4055
Unfortunately no, I reinstalled whonix. Anyways the issue resurfaced on the new fresh one after issuing apt update command.

On Jul 7, 2018 10:36 PM, sstt011 <notifications@github.com> wrote:

@whrabbit1<https://github.com/whrabbit1> can you post the list of packages?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/QubesOS/qu

[2018-07-07 23:41] gasull commented on #3871
I can confirm @ptitdoc 's workaround worked.  You need to edit the file `./qubes-src/core-agent-linux/Makefile`.  Unfortunately this led to new errors and I continued commenting out more code in `./Makefile`:
[code]

Then this led to a final error where I am stuck:

[code]

[2018-07-07 23:57] marmarek commented on #3871
@gasull if you're building just template, you don't need to execute `make iso`. If you got the point where it tries to build one, the template is already complete, check `qubes-src/linux-template-builder/rpm/noarch` directory.

[2018-07-08 00:00] Seabass5701 opened #4059 "sys-net 'Loop in network not supported' error"
Last night I installed the latest version of Qubes on my laptop via usb disk drive write method. After installing, towards the end when it was configuring network settings, it showed an error that said something like PCI couldn't reset or something like that, and the PCI's that were causing the issue were: 0000:02:00.1 & 0000:02:00.0. I went ahead and finished the installation anyways. After, when

[2018-07-08 01:50] marmarek commented on #3178
That one package (qubes-core-agent) wasn't part of that update. Should be in qubes-core-agent-4.0.32

[2018-07-08 03:58] jimtahu opened #4060 "qui-domains intermitent crash after DispVM fails to launch"
### Qubes OS version:

Qubes release 4.0 (R4.0)

### Affected component(s):

qui-domains from qubes-desktop-linux-manager-4.0.10-1.fc25.noarch

---

### Steps to reproduce the behavior:

After a DispVM fails to launch, qui-domains sometimes crashes.

### Expected behavior:

No crash. Also, the error message window expands blow the bottom of the screen, and I could not read the entire text.

### Ac

[2018-07-08 08:04] Zig-03 commented on #3736
I have the same issue.

[2018-07-08 10:38] donob4n commented on #3736
Do you mean whonix-ws-dvm and whonix-ws?

Did you try restarting Qube Manager? I think there is some problem with sync but in any cash whonix-ws-dvm should not get update icon. Do you have refresh button?

[2018-07-08 11:42] donob4n commented on #4059
This is not a bug. sys-firewall has sys-net as net VM, if you try to set sys-net to sys-firewall you are making a loop (sys-net -> sys-firewall -> sys-net -> sys-firewall .....)

You should try to fix the problem with PCI devices. Try to attach to sys-net something like 'Network controller' or 'Ethernet controller' (in Qube Manager, settings, Devices tab). If you have problems with this open a new

[2018-07-08 12:10] coeusite commented on #3991
Can confirm the issue on R4.0
Probably an upstream error??

[2018-07-08 12:53] marmarek commented on #3585
@Polygonbugs the missing piece is a knob to switch it on/off. You can do it manually:

    echo SEAMLESS | qvm-run -p --service VMNAME qubes.SetGuiMode

And to set it back to full desktop:

    echo FULLSCREEN | qvm-run -p --service VMNAME qubes.SetGuiMode

[2018-07-08 18:47] andrewdavidwong commented on #4058
Filing this as a UX enhancement to improve the error message.

[2018-07-08 18:53] dylangerdaly commented on #1917
I'm hitting errors using physlock (https://github.com/muennich/physlock/issues/44#issuecomment-297903096)

Issue looks to be related to PAM.

How are you guys using physlock? I want to stop relying on xscreensaver...

[2018-07-08 19:01] andrewdavidwong commented on #4059
Could be a PCI strict-reset issue. See:
- https://www.qubes-os.org/doc/assigning-devices/
- https://www.qubes-os.org/faq/#i-created-a-usbvm-and-assigned-usb-controllers-to-it-now-the-usbvm-wont-boot

As @donob4n explained, you are trying to arrange the VMs in such a way that they form a circular loop of network dependency, which doesn't make sense. If `sys-firewall` gets it network access from `sy

[2018-07-08 19:01] #4059 closed

[2018-07-08 19:05] andrewdavidwong commented on #3991
@marmarek, should this be closed as `notourbug`?

[2018-07-08 20:40] marmarek commented on #3991
I'd say so.

[2018-07-08 22:19] #3991 closed

[2018-07-09 00:53] marcb commented on #1054
In `sys-usb` I enabled network access via `sys-firewall` to allow the following:

after `sudo yum-config-manager --enablerepo rpmfusion-free rpmfusion-free-updates` I had to manually enable them in `/etc/yum.repos.d`. change `enabled=0` to `enabled=1` for first entries in `rpmfusion-free.repo` and `rpmfusion-free-updates.repo`.

I then executed `sudo yum install fuse-exfat exfar-utils`. Check and

[2018-07-09 02:10] mvermaes commented on #3991
This issue still exists with `salt-2018.3.2-1.fc28`.

While I understand this is a Fedora packaging issue, at least for me it does have the Qubes-specific effect that template VMs always remain in the state 'Updates pending!' according to Qubes Manager. I'm working around this by checking for updates daily, but maybe it's worth putting this in the docs somewhere, as it seems like it would be confu

[2018-07-09 02:37] gasull commented on #3871
I tried again following the [instructions for Archlinux](https://www.qubes-os.org/doc/building-archlinux-template/), but also installing `perl-Digest-MD5` and `perl-Digest-SHA` as [described by the OP](https://github.com/QubesOS/qubes-issues/issues/3871#issue-319036355) and executing `make switch-branch` as [described](https://groups.google.com/d/msg/qubes-users/rRir2d86hOM/XpwgH04uAgAJ) by @unman

[2018-07-09 02:52] Seabass5701 commented on #4059
Hello guys, just wanted to let you know that I solved the issue. I guess when I first installed Qubes, I installed it on a 32GB MicroSD card which was insufficient space for everything to be contained within it, so I instead created a new partition on my SSD with about 50GB, and once I installed Qubes on this partition, almost every problem I have been having went away. As for the network loop, I

[2018-07-09 02:57] Seabass5701 commented on #2882
Just wanted to let everyone know that I had this same error

"Error starting VM: sys-net
Cannot execute qrexec-daemon!"

Once I removed the PCI Express Card Reader in the 'Devices' tab from 'Selected' to 'Available' in sys-net Qube settings, the problem solved itself automatically and completely, and sys-net started again normally.

[2018-07-09 04:36] andrewdavidwong commented on #3991
I don't think it needs to be documented, since it's only temporary. Also, there's a separate bug that causes the "updates pending" notification to persist incorrectly (#2009).

[2018-07-09 05:00] mvermaes commented on #3991
In this case I had thought the notification was correct, since the `python2-tornado` package could not be updated. I was not seeing the 'updates pending' notification previously, unless there actually were updates available. So I think this is different from #2009.

Fair enough about the documentation, it seems like not many people are affected by this.

[2018-07-09 06:02] oytunistrator opened #4061 "remote access"
### Qubes OS version:
R4.0

### Affected component(s):
rdp, openssh

### Steps to reproduce the behavior:
sudo cnf install openssh

### General notes:
I need to access remote desktop or ssh but i cant access from remote. I need remote access support for vms.

[2018-07-09 06:05] oytunistrator opened #4062 "whonix-os not work internet"
### Qubes OS version:
R4.0

### Affected component(s):
whonix-os components

### Steps to reproduce the behavior:
- added whonix-os
- whonix not connected to tor

### General notes:
Whonix tor internet connection not work.

[2018-07-09 08:31] adrelanos opened #4063 "Qubes-Whonix build failing - /bin/bash: -c: line 23: syntax error: unexpected end of file"
https://travis-ci.org/Whonix/qubes-template-whonix/jobs/401657325
https://travis-ci.org/Whonix/qubes-template-whonix

`/bin/bash: -c: line 23: syntax error: unexpected end of file`

Any idea about this one?

[2018-07-09 09:08] Aekez commented on #4061
It's a bit unclear if you mean remote access to dom0 (to control VM's), or remote access to selected VM's? I'll include both below, if it doesn't answer your issue, then please include more information on the issue to conclude if its an issue meant for developers, or the community mailing list instead for how-to questions.

**Reaching dom0 from remote location (requires special permission in the R

[2018-07-09 09:51] Aekez commented on #4062
It might be a good idea to provide more information, and also to clarify whether this is a bug/developer focus, or an end-user/support focus, i.e. better to post questions in the mailing lists https://groups.google.com/forum/?_escaped_fragment_=forum/qubes-users#!forum/qubes-users while keeping the bugs and feature requests in GitHub.

- **How did you get your Whonix installed?**
  - Your wording

[2018-07-09 11:40] dylangerdaly commented on #1917
Rebuilding with SESSION=systemd and setting up the PAM module fixed it for me.

[2018-07-09 13:11] mfc commented on #3470
created pull request moving this content to appropriate section of documentation: https://github.com/QubesOS/qubes-doc/pull/676

[2018-07-09 14:13] #4063 closed

[2018-07-09 14:13] marmarek commented on #4063
Old make in travis env again... Try now.

[2018-07-09 14:36] pietrushnic commented on #4058
Help of `qvm-copy` say:

[code]

This looks confusing to users.

[2018-07-09 21:00] mtalexan commented on #2908
This process is still required when building any kernel modules as of the 4.0 release as well.  However there's a modification to the download command that's required in 4.0 since the dnf plugins are all force-disabled and the `action=download` is only available via a plugin.
The new way to get the download is:
`sudo qubes-dom0-update --downloadonly kernel-devel`
but then you have to manually go r

[2018-07-09 22:14] tokideveloper commented on #4038
I'm not sure what you want to say. Is it about my given example (which is indeed adversely chosen)?

Maybe, we could give this as an example in order to sensitize the translators for such exceptions. Additionally, we could offer help if a translator is unsure how to deal with it.

I agree with you from an idealistic perspective. However, after thinking about it, I see several additional problems:

[2018-07-09 22:16] Seabass5701 opened #4064 "Need help configuring a VPN on Qubes"
Currently trying to setup a VPN that sys-net can connect to so that every other VM that has internet access is automatically connected to the VPN. Not sure how to do this, and would like some simple, not too technical instructions, that a noobie can understand. There are already some instructions on this website on how to configure an OpenVPN, however I have tried doing what the instructions say,

[2018-07-09 23:03] sstt011 commented on #4064
@Seabass5701 This is not the place for support, please see https://www.qubes-os.org/support/.

[2018-07-09 23:18] mtalexan commented on #2908
FYI for future readers:
#2844 talks about the topic of issues with building kernel modules for use in VMs.  All the default VMs are based on the Qubes-created kernels.  These are very old though and there's a mismatch between what TemplateVMs like Fedora-* and Debian-* think is the current kernel and what's actually the current kernel they're using.
The "solution" as of Qubes 4.0 and earlier is to

[2018-07-10 00:27] mtalexan opened #4065 ""kernel-devel" and kernel module builds for TemplateVMs documentation missing"
### Qubes OS version:

R3.2 and R4.0

### Affected component(s):

Documentation

---

### Steps to reproduce the behavior:

Search documentation for details on building kernel modules for TemplateVMs

### Expected behavior:

Documentation exists with at least basic directional instructions

### Actual behavior:

No documentation exists.  The closest only discusses how to use different kernels in V

[2018-07-10 01:12] andrewdavidwong commented on #3991
I wasn't saying that this is the same as #2009. Rather, I was just pointing out that there is a separate bug (#2009) that causes the same effect (persistence of the "updates pending" notification when it should not persist). You are correct that the notification is "correct" insofar as there is technically a package update available, but it the notification is "incorrect" in the sense that the per

[2018-07-10 01:13] andrewdavidwong commented on #4061
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please send this to the `qubes-users` [mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please leave a

[2018-07-10 01:13] #4061 closed

[2018-07-10 01:31] andrewdavidwong commented on #4065
@mtalexan, would you be willing to submit a PR for this? Please see the [Documentation Guidelines](https://www.qubes-os.org/doc/doc-guidelines/) for details.

[2018-07-10 03:34] Maestrocpl opened #4066 "HVM crashes when installing any VM it seems to load the black screen then closes i have tried Kali cent windows same thing"
### Qubes OS version:

R4.0

### Affected component(s):

Tryinng to create new HVMs example Kali Cent os Windows

---

### Steps to reproduce the behavior:

### Expected behavior:

Complete installation

### Actual behavior:

Installing any vm doesnt work i get a black screen and it disapears

### General notes:

Can seem to install any VMs in qubes

---

### Related issues:

[2018-07-10 03:46] marmarek commented on #4066
Try setting `memory` equal to `maxmem` (in GUI it's named "initial memory" and "Max memory", in advanced tab).

[2018-07-10 03:51] Maestrocpl commented on #4066
I tried using 4gb ram same

[2018-07-10 04:04] andrewdavidwong commented on #4066
Please provide the exact steps required to reproduce this behavior.

[2018-07-10 08:52] oytunistrator commented on #4062
Installation after run **whonix** templates but connections wrong. **Whonix-ws** have internet connection problem.

[2018-07-10 11:07] marmarek commented on #3585
Good news: I have my windows build environment refreshed and gave it some polish. Improvements in upcoming update:
 - updated to Visual Studio 2017 and WDK 10
 - use Xen Project build of PV drivers, signed by the Linux Foundation - means no need for test signing **unless you want GUI agent, which is still self-signed**
 - removed global windows version check and moved it to guard only GUI agent -

[2018-07-10 15:21] mtalexan commented on #4065
Sure.  I'll create and submit the PR with a recommendation on how it could/should be hooked into the existing top few documentation pages that aren't part of qubes-doc

[2018-07-10 16:10] Maestrocpl commented on #4066
Hi Andrew
rebooted and tried again the Ram fix solved it
deeply appreciate all your assistance and prompt response you guys rock
Thanks

On Mon, Jul 9, 2018 at 10:04 PM Andrew David Wong <notifications@github.com>
wrote:

[2018-07-10 18:07] Bufil opened #4067 "Nothing happens when trying to start application in whonix-14"
### Qubes OS version:

R4.0

### Affected component(s):

Whonix 14 Templates

---

### Steps to reproduce the behavior:

- Install Whonix 14 Templates like described here: https://www.whonix.org/wiki/Upgrading_Whonix_13_to_Whonix_14#Qubes-Whonix
- Try to start any application inside whonix-gw-14 or whonix-ws-14 with qvm-start or through Menu

### Expected behavior:

Application starts and GUI-Wind

[2018-07-10 23:44] andrewdavidwong commented on #4062
@oytunistrator, please answer **all** of @Aekez's questions. In general, you need to provide more detailed information, or else we will not be able to help you.

[2018-07-10 23:45] andrewdavidwong commented on #4066
Closing this as "resolved." If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2018-07-10 23:45] #4066 closed

[2018-07-10 23:48] andrewdavidwong commented on #4067
Duplicate of #3533

[2018-07-10 23:48] andrewdavidwong commented on #4067
This appears to be a duplicate of an existing issue. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2018-07-11 02:38] marmarek commented on #2372
It's done.

[2018-07-11 02:38] #2372 closed

[2018-07-11 02:43] marmarek commented on #4045
Better skip cloning private volume at all in such a case. See [clone_vm function](https://github.com/QubesOS/qubes-core-admin-client/blob/master/qubesadmin/app.py#L391-L402). Maybe some extra argument there (`ignore_volumes`, or `clone_volumes`)? Then use it in qvm-clone tool (some extra option) and also in GUI when creating standalone VM.

[2018-07-11 03:33] MystesofEternity commented on #3585
@marmarek Sorry if I am a bit confused but is your qubes-builder-windows kind of to setup a Windows HVM in Qubes or basically a Qubes .iso builder in Windows itself?

[2018-07-11 10:47] rootkovska commented on #3937
With latest updates installed in dom0 (from current), this problem still persists.

[2018-07-11 11:17] marmarek commented on #3660
This is fixed with https://github.com/QubesOS/updates-status/issues/562 (in current-testing right now).

[2018-07-11 11:17] #3660 closed

[2018-07-11 11:18] marmarek commented on #3937
This is still a duplicate of #3660 - see status there (the fix is in current-testing).

[2018-07-11 11:18] #3937 closed

[2018-07-11 11:34] marmarek commented on #3585
No, it's only for building windows packages (.msi, .exe).

[2018-07-11 13:23] marmarta commented on #968
This was solved as in https://github.com/QubesOS/qubes-issues/issues/1378

[2018-07-11 13:23] #968 closed

[2018-07-11 13:55] #1150 closed

[2018-07-11 15:32] marmarta commented on #1382
Given that Qubes Manager has been changed significantly, split into widgets for everyday use and the tool for bigger management tasks, I think this can be closed.

[2018-07-11 15:32] #1382 closed

[2018-07-11 15:59] adrelanos commented on #3935
Marek Marczykowski-Górecki:

Yes.

[2018-07-11 16:14] marmarek commented on #3935
So, please do when ready :) See https://github.com/QubesOS/qubes-issues/issues/3935#issuecomment-402007886

[2018-07-11 21:09] marmarek commented on #3585
And here it is: https://github.com/QubesOS/updates-status/issues/574
@andrewdavidwong do you think it worth some announcement? IMO at least an email to qubes-users.

[2018-07-12 00:40] Bufil commented on #4067
It is not a duplicate because the apps are not opening at all.
In #3533 apps are opening if he select it again.
In my case they open never in Whonix 14 Templates and App-VMs. No matter if selected before or after starting the VM.

[2018-07-12 03:34] andrewdavidwong commented on #3585
Yes, definitely `qubes-devel` and `qubes-users`. Probably also the website once it leaves testing.

[2018-07-12 09:16] ekaflaer opened #4068 "SALT fails with "Failed to return clean data" since Dispvm switch"
### Qubes OS version: 4.0

### Affected component(s):
* Qubes Salt stack
* Qrexec policy

---

### Steps to reproduce the behavior:

1. Change your dispvm as described in the wiki (in my case the dispvm used the same template as the one before)
1. Set it as default dispvm
1. Remove the old one
1. Run `sudo qubesctl --templates state.highstate` to apply
`

### Expected behavior:

Updates are applie

[2018-07-12 12:09] Bufil commented on #4067
Please let me know if i can provide any more information.

[2018-07-12 12:42] marmarek commented on #4067
Is qube starting at all? In qube manager you can right click on a qube and select logs submenu - check if you see any errors there.

[2018-07-12 13:04] blissjoe opened #4069 "GlobalProtect vpn client will not connect"
### Qubes OS version:

Qubes release 4.0 (R4.0)

### Affected component(s):

Debian 9 and Fedora 28 template
StandaloneVM based on Fedora 28 template
GlobalProtect Linux Client

---

### Steps to reproduce the behavior:

1. Download globalprotect linux client
1.1 RPM - https://drive.google.com/open?id=114b9qKCb6B9piwU7z5olaBM88cV7n3Hk
1.2 DEB - https://drive.google.com/open?id=1w4vsEEwIXBCKreyP2SI

[2018-07-12 15:02] adrelanos commented on #3935
The command to create the timestamp is...?

    date --utc +%Y%m%d%H%M

----

Only one command per message? I guess I'll write a small script to generate multiple signed build commands for gateway, workstation, R3.2, R4.0 (4 commands).

----

Is this safe against attacks, i.e. someone copying and pasting any comments? I.e. a replay attack. The signature is valid regardless how often it is posted.

[2018-07-12 15:02] marmarek commented on #3903
This looks to be a duplicate of #3756

[2018-07-12 15:02] #3903 closed

[2018-07-12 15:10] marmarek commented on #3935
Yes.

For now yes.

This is why timestamp is included in the command. It's valid for one hour. There is also protection refusing to build template which already exists (exact version, including requested timestamp), so it's only possible to replay command (for one hour) for a failed build. Which I consider a feature (retry a build after intermittent network problem caused by Tor).

[2018-07-12 15:21] marmarek commented on #3935
BTW I see gpg2 supports expiration time for signatures (`--default-sig-expire`). But I haven't tried it and not sure if that's a good idea.

[2018-07-12 15:54] Bufil commented on #3871
Same as @gasull here too.
Maybe it has something to do with #4067 ?
In Whonix14 i can refresh the applications but nothing starts.

[2018-07-12 16:15] Bufil commented on #4067
Yes, qube is starting.
/var/log/xen/console/guest-whonix-gw-14.log ends with:

``
[.[0;32m  OK  .[0m] Started sets up Qubes-Whonix-Gatewa…al and internal network interface.

Welcome to Whonix!

https://www.whonix.org

default user account: user
default root account: root

default passwords: changeme
host login:
``

[2018-07-12 16:18] marmarek commented on #4067
Looks fine. What happens if you run something from a terminal using qvm-run *with -p option*? For example `qvm-run -p whonix-gw-14 xterm`?

[2018-07-12 16:58] Bufil commented on #4067
If i interrupt it is:
[code]

[2018-07-12 18:22] adrelanos commented on #3935
https://github.com/QubesOS/updates-status/issues/566#issuecomment-404574866 - Did I do something wrong?

[2018-07-12 18:30] marmarek commented on #3935
Looks fine, let me check the logs...

[2018-07-12 18:39] marmarek commented on #3935
Ok, I found the problem - I'm using subkey ID not primary key ID for access control, but actually listed primary key ID in configuration. Will fix in a moment

[2018-07-12 18:45] marmarek commented on #3935
Ok, retry now.

[2018-07-12 19:01] adrelanos opened #4070 "code audit vs SigSpoof: Spoofing signatures in GnuPG - CVE-2018-12020"
https://neopg.io/blog/gpg-signature-spoof
https://blog.patternsinthevoid.net/pretty-bad-protocolpeople.html

Does it look like any code changes are advisable?

[2018-07-12 19:03] stuart12 opened #4071 "all the windows for a VM vanished but the VM is still running"
### Qubes OS version:

R4.0

### Affected component(s):

Unknown

---

### Steps to reproduce the behavior:

Use a VM (with another VM active)

### Expected behavior:

All VMs' windows remain visible.

### Actual behavior:

All the windows for a VM suddenly vanished even though the VM is still running and using resources (according to xentop).  A suspend and resume did not bring them back to the s

[2018-07-12 19:10] marmarek commented on #4070
I've just checked again and it looks to be fine - in no place we mix `--verbose` output with `--status-fd` output. Places I've checked:
 - [verify-git-tag script in qubes-builder](https://github.com/QubesOS/qubes-builder/blob/master/scripts/verify-git-tag) - uses `git verify-tag`, --verbose isn't used
 - [command verification in builder-github](https://github.com/QubesOS/qubes-builder/blob/master/

[2018-07-12 19:10] #4070 closed

[2018-07-12 19:13] adrelanos commented on #3935
Issue for the build was created this time.

----

https://github.com/marmarek/qubes-builder-github/blob/master/lib/functions.sh

[code]

Not exactly same as https://github.com/QubesOS/qubes-issues/issues/4070 but couldn't we better avoid any `eval` here?

Could that be a bash script? Would a bash array help avoid the eval?

[2018-07-12 19:13] marmarek commented on #4067
Looks like a problem with X session startup inside of VM (according to above traceback it hang in `wait_session`). You can access qube console with `sudo xl console whonix-gw-14`, login as root and check status of qubes-gui-agent service (`systemctl status qubes-gui-agent`). Check also if X server process is running.
Exit xl console with Ctrl+].

[2018-07-12 19:21] marmarek commented on #3935
eval here is is to assign to a variable named by `$local_signer`, how to do that? Alternatively it could write keyid to a file named by that variable... The point here is we need to return two things from that function - verified command and a key ID used to sign it.

[2018-07-12 20:11] marmarta commented on #1855
I've added a tooltip with explanation and warning (according to @andrewdavidwong's wording in https://github.com/QubesOS/qubes-issues/issues/2211 ) - I think this one can be closed.

[2018-07-12 20:11] #1855 closed

[2018-07-12 20:16] marmarta commented on #2004
It is fixed in this rework - I just checked, multiple clicks on Start VM just start the VM once without any errors..

[2018-07-12 20:16] #2004 closed

[2018-07-12 20:28] mattmccutchen opened #4072 "pulseaudio-qubes needs an update for PulseAudio 12 in Fedora 28"
Fedora 28 has updated to PulseAudio 12 yesterday ([update entry](https://bodhi.fedoraproject.org/updates/pulseaudio-12.0-3.fc28#comment-809789)).  pulseaudio-qubes currently has a dependency on PulseAudio 11.1 and needs an update to match.  I didn't find any previous discussion on qubes-users or qubes-devel.

### Qubes OS version:

4.0

### Affected component(s):

pulseaudio-qubes

---

### Steps

[2018-07-12 20:40] marmarek commented on #4072
Related: https://github.com/QubesOS/qubes-gui-agent-linux/pull/44 - waiting for @arjan-s to sign the commit.

// imagine here a rant about Fedora putting major, potentially incompatible changes, into a _stable_ release, instead of putting it only to devel branch, which will be released only few months from now anyway

[2018-07-12 21:48] #1831 closed

[2018-07-12 21:48] #1911 closed

[2018-07-12 21:48] #2039 closed

[2018-07-13 00:04] stuart12 opened #4073 "domain-0 is using > 100% CPU time and VMs hang"
### Qubes OS version:

R4.0

### Affected component(s):

domain-0

---

### Steps to reproduce the behavior:

unknown

### Expected behavior:

Machine remains usable

### Actual behavior:

Some VMs appear to hang (terminals do not receive the focus for example) and xentop says that Domain-0 is using > 100% CPU (12% Memory). The fan becomes audible.

### General notes:

If I wait long enough the st

[2018-07-13 02:12] andrewdavidwong commented on #4069
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please send this to the `qubes-users` [mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please leave a

[2018-07-13 02:12] #4069 closed

[2018-07-13 02:15] andrewdavidwong commented on #4071
https://www.qubes-os.org/doc/reporting-bugs/

However, it doesn't say anything about logs, I guess because we can't predict which logs will be relevant, and there are no logs that are relevant for every report.

CC: @marmarek

[2018-07-13 05:54] Polygonbugs opened #4074 "Fedora: "grubby fatal error: unable to find suitable template" / "grubby: doing this would leave no kernel entries. Not writing out new config.""
### Qubes OS version:

R4.0

### Affected component(s):

grubby, kernel(?)

---

### Steps to reproduce the behavior:

1. Install grubby via upgrading template. `sudo dnf upgrade -y`.
2. While installing grubby itself also makes error messages.
3. Updating template after installing grubby makes continuous error messages.

### Expected behavior:

It shouldn't give any error message.

### Actual beh

[2018-07-13 06:02] manasb opened #4075 "No Networking in Qubes R4 AppVMs After Upgrade From R3.2"
### Qubes OS version:
`R4`

### Affected component(s):

AppVMs imported from Qubes R3.2 - This AppVM and the TemplateVM it is based on were imported from a R3.2 backup. `fedora-28` in this case

---

### Steps to reproduce the behavior:

- Install Qubes R3.2
- Upgrade included `fedora` template to `fedora-28`
- Networking functions normally in Qubes R3.2 - all AppVMs have expected networking acces

[2018-07-13 09:35] manasb commented on #4075
I had used a `fedora-28` StandaloneVM which was upgraded, backed up & restored in a similar way to write that last post. Now, after a reboot no programs from that StandaloneVM are working, I am able to `sudo xl console <vm>` into the system but no programs will run and it too is now unable to access the network.

[2018-07-13 09:36] adrelanos commented on #4062
What do you mean by "not allowed"?

Please try if you can make Tor Browser Bundle (TBB) work first in non-Whonix (such as Debian) VM as per https://www.whonix.org/wiki/Computer_Security_Education#Tor_Browser.

[2018-07-13 09:40] adrelanos commented on #4055
See:
https://www.whonix.org/wiki/Whonix_Debian_Packages

Btw firefox is not dependency in Whonix 14 anymore.

https://forums.whonix.org/t/whonix-14-release-blockers-status-of-whonix-14-development

I think this issue can be closed.

[2018-07-13 09:43] adrelanos commented on #3935
File seems better. Otherwise the eval risks to evaluate anything form gpg status file output.

----

Minor issue - duplicate comment:

[2018-07-13 09:53] marmarek commented on #3935
The function strictly grep for `[0-9A-F]*`, but will convert to a file anyway.

That was me.

[2018-07-13 09:54] adrelanos opened #4076 "Reduce Qubes TemplateVM packages by using zerofree?"
Thanks to a contribution by @onion_night the size of [Non-Qubes-Whonix](https://www.whonix.org/wiki/Non-Qubes-Whonix) (all raw images, VirtualBox ova and libvirt qcow2) downloadable images could be reduced by approximately 35%.

references:

* https://phabricator.whonix.org/T790
* https://github.com/Whonix/Whonix/blob/master/build-steps.d/2350_zerofree-raw
* https://forums.whonix.org/t/reducing-si