[2020-10-13 23:38] raedah commented on #6009
Solution to this is actually just a one line fix in builder.conf to add support for +minimal. No doc changes need if the arch-minimal option is there.

[2020-10-14 02:39] ninavizz commented on #5732
Thanks for flagging and testing, y'all!
Added a note on the first page. It's horsey, but it works. :/

Perhaps add the line of text to the blog article, after the period on the sentence just before the link: `Of note: we've had reports that in Firefox on Android devices, it does not work. FYI.` Thoughts? @andrewdavidwong

![image](https://user-images.githubusercontent.com/8262612/95936907-7c2ef700

[2020-10-14 12:09] tbrtje commented on #1982
Is this currently being worked on? Everything I could find was for Qubes 3.
I cannot get it to work on Qubes 4.

[2020-10-14 13:40] mgifford commented on #6104
I was able to edit the ISO eventually.  I had assumed I could edit it after it was written to the USB key.  That moved me a bit further ahead. Was at least easier to take a photo.  Not sure why I am getting a kernel panic. Found other references to this with Qubes though, so may be a known issue. Not sure how to get passed "Kernel panic - not syncing: IO-APIC + timer dosen't work! try using the 'n

[2020-10-14 18:07] tetrahedras commented on #5294
On Tue, Oct 13, 2020 at 09:05:04AM -0700, unman wrote:

@unman thanks for writing up your experiences and telling us about it.

Here is unman's guide (from 2018):
https://github.com/unman/notes/blob/master/openBSD_as_netvm

Here are the mailing list posts that I've been able to find:

Openbsd as a netvm
https://groups.google.com/forum/#!searchin/qubes-users/openbsd$20unman|sort:date/qubes-users/Mp

[2020-10-14 18:28] tetrahedras commented on #5294
On Tue, Oct 13, 2020 at 08:13:31AM -0700, Demi Marie Obenour wrote:

I sent the following to misc@opensbsd.org but it has not yet appeared in
the [list archives](https://marc.info/?l=openbsd-misc&r=1&b=202010&w=2)
so maybe it is being held for moderation, or maybe there is some kind of
spam filter that ate it

Subject: Integrating OpenBSD into Xen/Qubes

[2020-10-14 22:19] ideologysec commented on #1982
I have doubts this will ever be much of a priority, especially as Apple moves away from Intel. Shame, though.

I'm about to wipe my laptop and try this, though.

[2020-10-14 22:51] eduncan911 commented on #1982
Funny... I was JUST watching this now 5 minutes ago and thought of exactly THIS issue to rehash!

https://youtube.com/watch?v=ATnpEOo3GJA

The GitHub uses KVM, but the key VM info is there that could be copied over to a Xen VM/template.

Their KVM setup uses a dedicated GPU and a dedicated PCIe cars for USB (keyboard, mouse, etc).

It's a serious start, knowing the boot bars now.

I don't have a q

[2020-10-14 22:55] lucaszanella commented on #1982
@eduncan911 the github project that ables to run macOS on KVM uses KVM + Qemu. Qubes uses Xen + Qemu. The main reason macOS wont run on Qubes easily is the fact that all VMs in Qubes boot in BIOS mode, and macOS uses UEFI. I've learned that Xen supports UEFI and the Xen currently built into Qubes already supports it too as an experimental feature. I even discovered how to enable it but I couldn't

[2020-10-15 00:48] #6009 closed

[2020-10-15 04:25] zellchristensen opened #6121 "HVMs with Certain Memory Values and USB Devices attached cause Unexpected Behavior"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
HVMs with USB controllers attached.

**Brief summary**
When USB controllers are attached in the Devices tab, setting memory values to 3857MB or greater cause HVM to hang, crash, fail to boot, or not see disks.

**To Reproduce**

Steps to reproduce the behavior:
1.) Allocate 3857MB or more memory to a HVM
2.) Attach USB control

[2020-10-15 04:56] sptankard commented on #2233
I really hope this happens. I think GrapheneOS on Qubes could be very useful for low budget/low memory Qubes users (4-8gb RAM). Because android has a decent internal security model/compartmentalization, this way users could use fewer Qubes domains.

[2020-10-15 05:52] dylangerdaly commented on #6055
Huh, so I assigned 1 core an appVM, super duper smooth, UI animations etc are all really, really smooth.

So it's :100: that Xen can't seem to handle more than 1 Core on Ryzen 4000, I assume this is a CPU scheduling issue?

[2020-10-15 07:28] ninavizz commented on #5676
This week, this month? @marmarta here are some new QuteQube icons to try out in a `4.1` build, to rectify the cutting-off bug (which I could not find).

Hoping these don't cut off; I scootched the artwork in so there's empty space in the files, around all the edges. Maybe share screenshots of what they look like in a build? They're named the same as the other names; I just included the Black Templ

[2020-10-15 07:31] fepitre commented on #5676
Do you mean this one https://github.com/QubesOS/qubes-issues/issues/6021?

[2020-10-15 11:10] donob4n commented on #6119
Hi, I remember on Qubes 3 where the systray icon was the Qube Manager itself and a left click on it shows/hides the manager window.

I think that a nice solution would be recovering this behaviour, a left click on the widget icon opens Qube Manager and a right click shows the current menu.

[2020-10-15 12:32] marmarek commented on #6119
No, definitely not. We deliberately eliminated the need to use right-click on those icons, this is not discoverable for many users. We are not going back here.

[2020-10-15 14:27] justusranvier commented on #1322
I'm not sure if this should be another issue or not, but I was experiencing horrible audio latency of approximately 2000 ms which made qubes completely unusable for voip and extremely painful for watching videos.

Eventually I narrowed it down to the use of the "simultaneous output" audio device.

If I have a vm's audio sent to a normal output device everything works as expected, however if I send

[2020-10-15 14:28] donob4n commented on #6119
And the opposite? Left click opens menu, right click hide/shows qube manager...

In the end what I would like is to have the Qube Manager ready when I need it without the start-up loading but I don't like to see it minimized (on the task manager bar) all time.

[2020-10-15 14:37] DemiMarie commented on #5294
It has shown up @tetrahedras

[2020-10-15 18:14] ninavizz commented on #5676
@fepitre No, but #6021 refers to what is probably the same core problem; which is all of my Qute Qubes getting snipped. :/

The single-qubes are easy to reduce in size, the Template-VM/Disp-VM dual-qube icons, much less so.  Let me get you updated icons for the Domains menu... that needs to fit into the toolbar, and should be in better proportion to the toolbar icons (something I noticed I didn't

[2020-10-15 18:44] tlaurion commented on #953
@fepitre @marmarek
[code]

No packages avail. Testing because not moved over to stable.

[code]

[2020-10-15 18:56] marmarek commented on #953
Maybe contrib key is not imported? Try `sudo rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-qubes-4-contrib-fedora`

[2020-10-15 19:21] tlaurion commented on #953
@marmarek

[code]

[2020-10-15 19:58] ninavizz commented on #6021
Actually... so, yes @fepitre I am getting you and @marmarta  new icons that have empty-space in the PNGs all around the artwork. Something I just realized, though. Whonix recently shipped an update, with the icons I'd created for the `sdw-date` widget, included in the update. Those icons show perfectly and un-cropped in my Tray. I am curious if something was done differently in how @adrelanos impl

[2020-10-15 22:07] TheOne-Z commented on #953
@marmarek @tlaurion
I replicated this and it seems that you cannot verify any packages from `qubes-cotrib-repo` either.

[2020-10-16 04:47] SaswatPadhi opened #6122 "Fedora 32 does not boot with VM kernel"
**Qubes OS version** 4.1

**Affected component(s) or functionality**
- qubes-template-fedora-32-minimal
- qubes-template-fedora-32
- qubes-kernel-vm-support

**Brief summary**

When using the VM kernel with the Fedora 32, Qubes is unable to boot the VM and I see syntax errors in the `dracut` pre-trigger scripts.

**To Reproduce**

Follow the steps mentioned at: https://www.qubes-os.org/doc/managin

[2020-10-16 05:18] ninavizz commented on #6021
@fepitre These are some updated Domains Widget icons, with more empty space around the edges of the artwork. Try these out—on an aside from my curiosity with why the `sdw-date` widget isn't cropping like the Domains and App Menu QuteQubes are.
[QuteDomains2.zip](https://github.com/QubesOS/qubes-issues/files/5389330/QuteDomains2.zip)

[2020-10-16 05:23] icequbes1 commented on #6121
Potentially related to #4321?

[2020-10-16 05:51] zellchristensen opened #6123 "Add Ability to Close Qube Shutdown Popup Window"
**The problem you're addressing (if any)**
If a user requests a shutdown of a Qube and the Qube fails to close for whatever reason, a Qube Shutdown popup occurs asking the user if they want to Kill! or Wait 20 seconds.
Clicking Kill will close the window but will also kill the Qube which may no longer be desired.
Clicking Wait closes the window but it re-occurs 20 seconds later.
There doesn't seem

[2020-10-16 08:51] andrewdavidwong commented on #2845
Ah, interesting. Thanks for the explanation.

[2020-10-16 09:01] andrewdavidwong commented on #5732
Added!

[2020-10-16 09:12] andrewdavidwong opened #6124 "Cannot verify packages from contrib repo"
_Originally posted by @tlaurion in https://github.com/QubesOS/qubes-issues/issue_comments/709520513:_

@fepitre @marmarek
[code]

No packages avail. Testing because not moved over to stable (testing phase is how long?)

[code]

_Follow-up comment from @TheOne-Z in https://github.com/QubesOS/qubes-issues/issues/953#issuecomment-709615568:_

[2020-10-16 09:14] andrewdavidwong commented on #953
This seems like a more general bug, so I've opened #6124 for it.

[2020-10-16 09:20] andrewdavidwong commented on #6121
This looks like a probable [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of #4321, though I'm not certain. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen thi

[2020-10-16 09:20] #6121 closed

[2020-10-16 09:20] andrewdavidwong commented on #6121
Duplicate of #4321

[2020-10-16 09:23] andrewdavidwong commented on #6123
At the very least, the X button shouldn't do nothing. :slightly_smiling_face:

[2020-10-16 13:59] marmarek commented on #5972
It doesn't "fail". This is intended behavior - updating any kernel package (latest or not) does not switch default kernel flavor.
dom0 kernel and vm kernel are two separate packages. This feature is missing for dom0 kernel.

[2020-10-16 14:01] icequbes1 commented on #953
This is essentially the issue - the updatevm doesn't get the new key from `etc/yum.repos.d/qubes-contrib-dom0-r4.0.repo` when running qubes-dom0-update the second time.

Quick hack: kill `/var/lib/qubes/dom0-updates` in the updatevm (sys-whonix) after installing qubes-repo-contrib, then install qvm-screenshot-tool.

e.g.,

[code]

[2020-10-16 14:05] marmarek commented on #6124
Based on @icequbes1 comment in https://github.com/QubesOS/qubes-issues/issues/953#issuecomment-710066621:
It should be enough to add `--clean` option:
[code]

[2020-10-16 14:16] e6lk7dqzm83p commented on #6111
I tried a bunch of different things (including uninstalling/purging HPLIP and reinstalling) and it seems scanning is now working again on my Debian TemplateVM.  Looks like it may have been a driver issue after all.  I'll report back if any other odd behavior comes up, but will close this for now.

[2020-10-16 14:16] #6111 closed

[2020-10-16 14:16] icequbes1 commented on #5972
Yes, bad choice of words on my part; I did question if it was by design, as I can see valid reasons to not change the default in-VM kernel. My goal was to simply post my observations and how dom0 and in-VM kernel get out of sync.

FWIW, I didn't notice dom0 was 4.19 and PVH/HVM in-VMs were 5.6 for who knows how long, and didn't observe anything out of the ordinary that might be blamed on the kerne

[2020-10-16 15:22] marmarek commented on #5308
Yes, it will conflict, so better wait...

[2020-10-16 20:13] tetrahedras commented on #5294
On Thu, Oct 15, 2020 at 07:37:38AM -0700, Demi Marie Obenour wrote:

Thanks, I see it now.

[2020-10-16 21:24] SaswatPadhi commented on #6122
Not sure if this is related: https://bugzilla.redhat.com/show_bug.cgi?id=1795411

The fix for this bug removes `basename` from the `dracut` hooks. Should it be removed from `qubes_cow_setup.sh` too?

[2020-10-16 21:42] marmarek commented on #6122
Yes, this looks very much related. Thanks for finding this out!

[2020-10-16 21:51] SaswatPadhi commented on #6122
Thank you so much @marmarek for the super quick fix! :)

[2020-10-17 03:26] sptankard commented on #2826
I think there's utility for some kind of "qvm-share" tool (for read-only access, and/or also for read-write access). Which does *not* copy the data. (But as yet, i don't have any ideas on how to securely implement read-only sharing without copying...)

`qvm-sync` looks really great! I think it will be really useful. But if I understand how it works, it uses the same qvm-copy mechanism under the ho

[2020-10-17 09:15] apapsch opened #6125 "Qubes Builder: No valid signed tag found on qubes-libcomps tag v0.1.15-1"
**Qubes OS version**
None. I'm on Fedora 32 vanilla, building Qubes using qubes-builder in fedora:32 container (with podman).

**Affected component(s) or functionality**
Step `make get-sources` of qubes-builder does not complete.

**Brief summary**
Downloading of sources works fine until qubes-libcomps, which aborts with "no valid tag found".

**To Reproduce**

Brief steps to reproduce the behavio

[2020-10-17 09:21] fepitre commented on #6125
We are in progress of adding newer components. Simply comment those components: https://github.com/QubesOS/qubes-builder/pull/127/files#.

[2020-10-17 09:21] #6125 closed

[2020-10-17 10:00] chris-freedom commented on #5997
Problem fixed with kernel 4.19.147

[2020-10-17 15:48] iamahuman opened #6126 "qubes-dom0-update: "this may take some time" message is misleading"
**The problem you're addressing (if any)**
When a Qubes user runs `sudo qubes-dom0-update` in dom0, it shows the following message:

    Using [UpdateVM] as UpdateVM to download updates for Dom0; this may take some time...

Depending on the user, this might come as if the user's choice of `[UpdateVM]` is suboptimal and causes slowdown of system update.

**Describe the solution you'd like**

Someth

[2020-10-17 15:55] iamahuman commented on #5426
While shutting down a VM, I observe freezing in other VMs on the same pool as well. During the freeze, A `kworker/**-dm-thin` kernel thread takes 100% of CPU. I suppose this is the same issue?

[2020-10-17 16:13] iamahuman opened #6127 "Enhance performance of Dom0 notification on template update"
**The problem you're addressing (if any)**
Depending on how many desktop applications are installed, users may find `dnf` hanging for too long at the following message:

    Notifying dom0 about installed applications

**Describe the solution you'd like**
- Skipping the notification process _entirely_ on TemplateBasedVMs
- Optimizing the process of synchronizing app / icons via qrexec and updating

[2020-10-17 16:46] 0rb677 commented on #5970
@Nexolight get fully working and updated template.

[code]

[2020-10-17 16:51] tbrtje commented on #1982
Uefi isn't required actually. You can create an opencore installation that runs on a standard bios, but I have no idea how to do this with qubes, because I don't really understand how I can attach an existing qcow2 image in qubes.

[2020-10-17 17:20] tlaurion commented on #953
Question for devels. Wouldn't it be possible to change the alt-printscreen and printscreen shortcuts in XFCE to ease UX at installation of package?

[2020-10-17 17:32] tlaurion commented on #4275
@fepitre @marmarta @marmarek  : this is sadly a missing feature and is totally giving a bad image to QubesOS since expected to work by default since the option is presented but not working.

[2020-10-17 18:54] marmarek commented on #953
Totally makes sense. There is a little technical issue: Xfce copies some of the configuration at first start and at this point there is no longer a place for system-wide default that is easy to override by the user - there is only that user place. So, [setting the default works](https://github.com/QubesOS/qubes-desktop-linux-xfce4/commit/9459331a3772decbaa3948cf6f45d98fd87ec800) only before the ve

[2020-10-17 20:17] Coeos3 commented on #2826
@sptankard : FYI, lacking a better solution I ended up creating a virtual disk image which lives in a storage-VM and which I can attach to any other appVM. It's not great from a security perspective as @marmarek explained above. Apart from that it works fine, have been doing that the last 2 months.

[2020-10-17 20:36] tokideveloper commented on #3547
Now, I've written a [Ruby port](https://github.com/tokideveloper/langswitch-prototype/blob/master/_utils/merge_md_heading_ids.rb) of [the script described above](https://github.com/QubesOS/qubes-issues/issues/3547#issuecomment-608995912). It's a lot faster than the Python version since there is no spawning of Ruby `kramdown` processes.

[2020-10-17 22:15] lucaszanella commented on #1982
@tbrtje yes, the old tutorial does that way, but I think that with UEFI the KVM project will run with much fewer modifications

[2020-10-17 23:51] #6122 closed

[2020-10-18 01:56] DemiMarie opened #6128 "Remove --all flag from qvm-remove"
**The problem you're addressing (if any)**

`qvm-remove --all` is essentially the QubesOS version of `rm -rf --no-preserve-root /`

**Describe the solution you'd like**

`qvm-remove --all` should be an error.

**Where is the value to a user, and who might that user be?**

It avoids a useless feature that is purely a footgun.

**Describe alternatives you've considered**

N/A

**Additional context**

[2020-10-18 02:00] DemiMarie commented on #1919
Most of those seem to be related to documentation, which we don’t need to build in dom0.

[2020-10-18 02:19] marmarek commented on #1919
While sphinx indeed is about documentation, it is build dependencies of some packages. So yes, we do need those packages in dom0 (build) environment, even if not installed in the target system. I don't think excluding (for example) qvm-* tools man pages from dom0 packages is a good idea - if anything, we have too little documentation available in the system, not to much.

But also, it doesn't seem

[2020-10-18 02:46] andrewdavidwong commented on #6126
From a UX perspective, the best thing would be to provide some kind of progress indicator. Presumably, that's not feasible, which is why we just have to say that it could take a long time. So, we want to communicate three main things to the user:

1. Which VM is the UpdateVM. This can be something simple, like `The UpdateVM is: sys-firewall.` or even `sys-firewall is the UpdateVM.`.
2. That a down

[2020-10-18 02:55] andrewdavidwong commented on #4275
We have a similar [thread](https://qubes-os.discourse.group/t/cannot-disable-the-dom0-xscreensaver-5-4-3-locking/894/) about this on the forum. There, I [wrote](https://qubes-os.discourse.group/t/cannot-disable-the-dom0-xscreensaver-5-4-3-locking/894/13?u=adw):

It's not exactly the same as being able to toggle presentation mode, but some people might find it helpful as a workaround in many situat

[2020-10-18 02:57] andrewdavidwong commented on #6124
Ok, do you want to implement a further fix for this, or just a doc update?

[2020-10-18 03:24] unman commented on #6128
I've used this feature perhaps 10 times in the time I've been using Qubes - it's absolutely not useless.
As to it's being a footgun (sic), it does at least have a safety, since the user is prompted whether they wish to proceed. Of course, a user *may* respond Y to this, or indeed may call `qvm-remove --all -f`, but in that case they are getting exactly what they asked for, even if it is not what t

[2020-10-18 04:01] marmarek commented on #6125
This is now finished, should work again.

[2020-10-18 04:59] Echocage commented on #2766
@marmarek
So the /var/lib/snapd seems to be mounted correctly, but it looks like my ls -l /snap isn't returning the link

[code]

Any idea why this isn't properly being linked automatically? What can I do to fix this?

[2020-10-18 07:27] sptankard commented on #2826
@Coeos3, i'm curious how you attach the image to another VM? (What commands/tools/is this generic xen utilities)

Another workaround i have read about (haven't tried) is to create a secondary lvm storage pool, and store some appVMs on a different disk from the main one: https://www.qubes-os.org/doc/secondary-storage/

[2020-10-18 08:40] GWeck commented on #5003
Te problem persists in R4.1 alpha from 14-Oct-2020. Still, I am not sure whether it is important, since it occurs just on this one SSD - but there must be some reason for it.

[2020-10-18 09:25] fepitre commented on #6067
I think we can close this one. Please reopen if it's not the case.

[2020-10-18 09:25] #6067 closed

[2020-10-18 11:46] iamahuman opened #6129 "Apply BleedingTooth patches (CVE-2020-12351, CVE-2020-12352, CVE-2020-24490)"
**Qubes OS version (if applicable)**
- Qubes R4.0.3
- Qubes R4.1

**Affected component(s) or functionality (if applicable)**
- [linux-kernel](https://github.com/QubesOS/qubes-linux-kernel.git)

**Brief summary**
The Qubes OS kernel is affected by BleedingTooth security vulnerabilities.

**Additional context**
- [Upstream patches](https://src.fedoraproject.org/rpms/kernel/c/e9b2dff6b9aaf4f25cdcc465

[2020-10-18 11:57] marmarek commented on #6129
Seems it's already part of the yesterdays stable kernel release, I'll bump the version instead of manual patching. Thanks for the heads-up.

[2020-10-18 13:24] marmarek commented on #6129
A clarification on the impact: this allows an attacker in Bluetooth range to attack just sys-usb. While applying the fix is a good idea in any case, this vulnerability does not allow to compromise the whole system (like it does in the plain Linux case) - sys-usb is isolated exactly for this purpose.
In Qubes 4.1, sys-usb is disposable by default, which reduces the impact even further (the successf

[2020-10-18 16:12] GWeck commented on #5948
The hack for debian also works for centos.

[2020-10-18 18:26] DemiMarie commented on #6128
@unman what have you used it for?  From what I can tell, `qvm-remove --all` followed by a reboot leaves the system in an unrecoverable situation.

[2020-10-18 18:30] DemiMarie commented on #1919
How difficult would it be for us to build the remaining packages ourselves?

[2020-10-18 20:09] marmarek commented on #6129
An update to both kernel and kernel-latest packages (and especially their -qubes-vm sub-packages) are uploaded to current-testing repository already.

[2020-10-18 20:09] #6129 closed

[2020-10-18 20:25] deeplow opened #6130 "Convert to Trusted PDF fails on Debian-10"
**Qubes OS version**

R4.0 and R4.1

**Affected component(s) or functionality**

- qubes-app-linux-pdf-converter
- debian-10 template

**Brief summary**

Running `qvm-convert-pdf` fails on debian-10 based AppVMs due to a strict default ImageMagick policy (`/etc/ImageMagick-6/policy.xml`)

I also tested with various combinations of fedora and debian distros:

| AppVM | DisposableVM | Result |
|----

[2020-10-18 20:42] deeplow commented on #6130
A UX improvement may be to inform the user there is a problem with the policy. This when this component is used with any other distro template the users will know what to look for in order to fix it.

[2020-10-18 21:51] icequbes1 commented on #6130
Looks to be due to Debian patches in [6.9.10.23+dfsg-2.1+deb10u1](https://sources.debian.org/patches/imagemagick/8:6.9.10.23+dfsg-2.1+deb10u1/200-disable-ghostscript-formats.patch/) which also addressed around 50 CVEs:

[2020-10-18 22:05] marmarek commented on #6130
In a generic case it looks like a good idea to disable those coders. But here we operate explicitly on a safe input with no way to inject any code for ghostscript to parse. Setting rights to "write" for PDF coder should be safe in context of qvm-convert-pdf, but in generic case may open the user to some ImageMagick vulnerabilities...

Perhaps a better option is to look at graphicsmagick instead? #

[2020-10-18 22:39] dylangerdaly commented on #953
What's the latest with this? Scrot isn't available for R4.1

[2020-10-19 00:39] tasket commented on #6112
BTW, I am getting two prompts instead of one. They are both "qubes.InputKeyboard", and `qvm-device usb ls` shows only the one keyboard device.

[2020-10-19 00:58] sptankard opened #6131 "[Tracking] Options for improving Qubes on low-resource hardware"
**Qubes OS version (if applicable)**
All versions / recent and future releases.

**Affected component(s) or functionality (if applicable)**
Hardware support, performance, general user experience.

**Brief summary**
This is (intended to be a helpful) meta/tracking issue for assessing options to make Qubes work better on limited / low-resource hardware. (Limited RAM, disk, battery, limited cpu virt

[2020-10-19 01:35] marmarek commented on #2766
I missed you said Debian VM - there /snap is supposed to be a directory, not a symlink.
Make sure you have `qubes-snapd-helper` installed in the template.

[2020-10-19 01:55] Echocage commented on #2766
Oh shoot, gotcha. I've got qubes-snapd-helper on the template. Very strange that it's happening on all my cubes. Maybe I'll try creating some fresh qubes from scratch and see if it's still an issue. Thanks anyways mate!

[2020-10-19 08:59] deeplow commented on #6130
@marmarek Exactly. So ideally the there would de the default policy (strict) to prevent user foot-shooting mistakes and then "PDF write" policy specific to the qvm-convert-pdf. But I'm not sure that is possible on imagemagick. (I haven't looked to much into it)

@icequbes1 So in this case here, debian has a stricter policy than fedora. Doesn't this then mean that fedora is still exposed to these C

[2020-10-19 13:00] fepitre commented on #6028
FYI, I'm currently finishing the whole Archlinux integration in Qubes.

[2020-10-19 15:29] fepitre commented on #1919
I've started to wrote some tool to ease Fedora src package -> Qubes src package. According to CentOS git, there is packages that are now in CentOS 8 beta which would help us a little bit but still, it would remain something like one month of work to have dom0 under CentOS8 which is not in our possibilities currently.

[2020-10-19 15:50] fepitre commented on #6028
With the four PR referenced above the template is working out of the box.

[2020-10-19 17:01] andrewdavidwong commented on #6131
I appreciate the effort and intention to be helpful. However, I suggest posting this in the [forum](https://qubes-os.discourse.group/) rather than qubes-issues. In order to keep qubes-issues useful as a practical day-to-day tool for the devs, our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/) require that [every issue must be about a single, actionable thing](https://ww

[2020-10-19 17:01] #6131 closed

[2020-10-19 18:46] andrewdavidwong commented on #6124
Should `--clean` also be added when installing packages in Fedora TemplateVMs?

What about Debian TemplateVMs?

[2020-10-19 19:02] marmarek commented on #6124
No, this is specific to first package installation in dom0 only.

[2020-10-19 23:08] dylangerdaly commented on #953
Are we going to maintain scrot, and by extension libgiblib?

[2020-10-19 23:23] marmarek commented on #953
See discussion at https://github.com/resurrecting-open-source-projects/scrot/issues/22
I don't think maintaining scrot is the way to go - if the above won't be resolved, I'd rather consider using some other maintained tool instead - there doesn't seem to be much required from it, shouldn't be that hard to switch.

[2020-10-19 23:26] dylangerdaly commented on #953
Fair enough, I'll keep an eye out.

[2020-10-20 00:28] unman commented on #6128
On Sun, Oct 18, 2020 at 11:26:39AM -0700, Demi Marie Obenour wrote:

I use this when travelling - since I salt my system it's easy to travel
light, salt on arrival, and remove all later. But then I salt the
default qubes back.
Never tried rebooting before doing this - since the templates aren't
removed, why is the system unrecoverable? Or did you force removal of
some system wide requirement to *r

[2020-10-20 07:55] ollieparanoid commented on #5903
I can confirm that the `loglvl=all` workaround makes the 4.19.128 kernel boot reliably on my Librem 13. I've verified it 6 times.

Thanks to everyone in this thread!

[2020-10-20 08:27] ehanoc commented on #5903
4.8.5-18.fc25 + 4.19.125-1;

I don't see **console=none** in the **multiboot** command.
But I haven't made any updates since i stumbled in to this, so maybe the new entries have such option.

Can a fix be included in a future release and flagged here?

Also, why would a log level fix it? Is this a timing thing that just so happens that for now it works but it's not a long lasting solution?

[2020-10-20 11:20] iamahuman opened #6132 "Add --running flag to qvm-shutdown"
**The problem you're addressing (if any)**
1. `qvm-shutdown --all` emits a warning for every halted VMs, both to stderr and as notification.
2. `qvm-shutdown --all --wait` shuts down newly started VMs in the process of iteratively halting dependency VMs.

**Describe the solution you'd like**
Introduce `--running` to `qvm-shutdown`, possibly with similar semantics to that of `qvm-ls` or `qvm-check`

[2020-10-20 12:38] fepitre commented on #4412
@marmarek @andrewdavidwong I've uploaded to stable repository. Maybe it's time for closing this issue?

[2020-10-20 21:34] ThomasWaldmann commented on #5861
Guess the suggested manual procedure is inconvenient enough so that people will not do it.

So in the end, we'll have less security until someone makes the thunderbird extension work again.

[2020-10-20 22:52] #4412 closed

[2020-10-20 23:04] ejose19 opened #6133 "Building archlinux & archlinux-minimal deletes /etc/resolv.conf from host"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qubes-builder

**Brief summary**

Serial runs of archlinux & archlinux+minimal templates are removing /etc/resolv.conf on host, which makes the build fail.

**To Reproduce**

Follow the steps on the [guide](https://www.qubes-os.org/doc/building-archlinux-template/), but instead of selecting only archlinux as in:

select both a

[2020-10-21 00:09] TamaraneanGirl opened #6134 "TemplateVM chains"
**The problem you're addressing (if any)**
It can get cumbersome to manage the updates of multiple TemplateVMs that have been  assigned different purposes.

 Users have to download multiple updates for qubes which may have been derived from the same original TemplateVM, wasting storage space, and network bandwidth.

**Describe the solution you'd like**
Allow TemplateVMs to be templates of other Te

[2020-10-21 00:20] tasket commented on #6055
@dylangerdaly Sorry, I didn't notice your question. Going through my history, I downgraded with this:
[code]

IIRC in between those two commands I had to copy the xen packages from the updatevm into dom0.

---

@marmarek Does the 4.14.0-6 update contain the scheduling bug? If so, it will be unusable for us.

[2020-10-21 00:36] marmarek commented on #6055
Yes, -6 is -5 + XSA applied (and one other fix, but unrelated to this issue).

[2020-10-21 00:53] dylangerdaly commented on #6055
Ugh, we'll now need to maintain a fork without the regression.

More investigation is required, the patch that you're reverting is important to people with AMD CPUs.

[2020-10-21 01:02] tasket commented on #6055
@dylangerdaly For now I have installed the dnf `versionlock` extension and added a couple packages that keep the xen suite at -4:
[code]

[2020-10-21 01:04] marmarek commented on #6055
I've uploaded -6.1 with this revert reverted to the unstable repository, you can install it with:
[code]

[2020-10-21 01:04] dylangerdaly commented on #6055
Thank you very much Marek!

[2020-10-21 01:10] straussmaus opened #6135 "Whoops a critical error in domains widget has occured"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**

On Boot

**Brief summary**

Every time I boot I get this error in a popup window:

"Whoops a critical error in domains widget has occured "

I click ok and it goes away and everything seems to work just fine.

**To Reproduce**

Boot Qubes

**Expected behavior**
I would not expect to see this error, or I would expect to see inst

[2020-10-21 01:37] jpouellet commented on #953
I (and a couple others) still use
https://github.com/jpouellet/qubes-screenshot-helper regularly. It's clean,
minimal, and integrates with the default xfce4-screenshooter tool which is
both still maintained and already included in dom0 by default.

All that should be necessary for adoption is forking the repo under an
official Qubes org (-contrib wasn't ready for use when this was written,
nor do

[2020-10-21 07:17] dduenker opened #6136 "Survey website throws exception without cookies"
**Qubes OS version**
-

**Affected component(s) or functionality**
https://survey.qubes-os.org/

**Brief summary**
The survey website throws an exception with a bunch of php code, when visiting with cookies disabled in firefox via umatrix plugin.

**To Reproduce**

Steps to reproduce the behavior:
1. Install umatrix plugin in firefox browser
2. disable cookies
3. visit survey
4. click next

**Expe

[2020-10-21 08:51] marmarek commented on #953
Done, qubes-snapshot-helper is added to standard repos for R4.0 and R4.1 - current-testing for now.

[2020-10-21 13:41] darwin commented on #5903
Today I was brave enough to update dom0.

I'm happy to confirm that `loglvl=all` workaround works on my Librem 13v2 with: 4.8.5-23.fc25 + 4.19.147-1

btw. if you don't have `console=none` only add `loglvl=all` somewhere into multiboot line.

[2020-10-21 14:16] ehanoc commented on #5903
Is there a way to safe the changes? I tried a few times and i need to add the loglvl=all everytime.

[2020-10-21 14:17] zaoqi commented on #6134
Users can write some script to describe changes

[2020-10-21 14:23] Coeos3 commented on #2826
(I had found the original instructions on a forum, don't remember where though)
The steps are:
- create a storage VM, in which you use `dd` to create a disk image, and then `losetup` to create a virtual device. Create partitions and filesystem.
- attach to target VM using Qubes Devices applet or dom0 console (`qvm-block`) and mount it there.

I then created some bash scripts in dom0 to do the atta

[2020-10-21 17:07] ejose19 opened #6137 "Preserve column width on Qube Manager"
**The problem you're addressing (if any)**

Currently, Qube Manager doesn't preserve column width after restarting, which is an issue since default widths aren't balanced, making only the last column to take all the available width and other columns such as name, template and netvm having their text broken in 2 lines if they exceed the default width.

**Describe the solution you'd like**

Simpler

[2020-10-21 18:41] reallusionoftruth opened #6138 "Error with mirror links for updating Fedora template"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
update of fedora template from 30 to 32

**Brief summary**
Installed Qubes today but just found out that 30 is EOL. Followed instructions linked in Announcement to update template to 32.  None of the mirror links worked due to faulty mirror link. UPDATE: Working now. Addressed under **solutions I tried**

**To Reproduce**

Steps

[2020-10-21 19:38] reallusionoftruth commented on #6138
Forgive me if there are things that does not make much sense. It is my first time issuing a bug and also the first time of mine using github.

[2020-10-21 20:04] andrewdavidwong commented on #6135
Is it not possible to copy/paste the error message from dom0 using the Qubes Clipboard widget?

[2020-10-21 20:36] donob4n commented on #6137
Just a note. In current last version there is a call to 'resizeColumnsToContents()' which adjusts all columns automatically, also you can't get a line broken in two. I don't see too much benefit from storing the width if modified.

Maybe this behaviour can be easily backported to 4.0.

[2020-10-21 21:30] straussmaus commented on #6135
No it is not.  The text can not be highlighted on the error bubble (like all Qubes dom0 error bubbles).

Here is the text:

I run qui-domains in dom0 and there is no reply from the console.

[2020-10-21 21:38] andrewdavidwong commented on #6134
This has been suggested before and determined to be impossible:

https://groups.google.com/d/topic/qubes-users/iLJjTTQqgrw/discussion

Unless @marmarek says that it is now possible, this looks like a `won't do` (because `can't do`).

This is a separate issue: https://github.com/QubesOS/qubes-issues/issues/1957

[2020-10-21 21:38] #6134 closed

[2020-10-21 21:41] andrewdavidwong commented on #6138
If I'm understanding you correctly, you've got everything working now, and it turned out there was no bug after all, so I'll close this as `not an issue`.

If I've misunderstood, and there's still a bug, please reply with a clear description of what exactly the bug is.

[2020-10-21 21:41] #6138 closed

[2020-10-21 23:15] juodumas opened #6139 "qubes-repo-contrib: ERROR: could not verify one or more packages"
**Qubes OS version**

Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**

qubes-repo-contrib on dom0 (`qubes-repo-contrib-4.0.7-1.fc25.noarch`)

**Brief summary**

Cannot install package from qubes contrib repository.

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Solutions you've tried**

Tried adding `--clean` to `qubes-dom0-update`.
Also checked the UpdateVM - I

[2020-10-21 23:30] andrewdavidwong commented on #5070
Given the lack of response indicating how this is not a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of #1293, I'm now closing it as such. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you.

[2020-10-21 23:30] #5070 closed

[2020-10-22 00:12] andrewdavidwong commented on #6139
Duplicate of #6124

[2020-10-22 00:12] andrewdavidwong commented on #6139
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-10-22 00:12] #6139 closed

[2020-10-22 00:12] andrewdavidwong commented on #6124
Reopening because @juodumas reported in #6139 that using `--clean` did not work.

[2020-10-22 01:20] 0rb677 opened #6140 "Qubes 4.1. openvpn/openconnect qube -connection established, but doesn't work as sys-net in attached AppVM"
**Qubes OS version**
4.1
https://ftp.qubes-os.org/iso/Qubes-R4.1.0-alpha20201014-x86_64.iso

**To Reproduce**

[code]
tab `Advanced` -> `Provides network`
tab `Services`, enable `network-manager`
start qube
`Configure VPN` -> `+` -> `openconnect`
Then configure.
Connection established. Shut Template.
Create generic AppVM based on vpn-template.
Select tab `sys-net` openconnect-template
No route to

[2020-10-22 01:36] 0rb677 commented on #6140
Sorry found this - https://github.com/QubesOS/qubes-issues/issues/6088
Will try...

[2020-10-22 02:41] ejose19 commented on #5585
For anyone stumbling on this, here's my solution based on @marmarek suggestion:

- create a file on ```/usr/local/bin``` called ```qpacman``` (Qubes pacman)
[code]

- make it executable
- add this to ```/rw/config/rc.local```
[code]

- restart the template, now you can use it with ```sudo qpacman``` and it will show the usual output.

Note: You can rename ```qpacman``` to any other non-conflicting

[2020-10-22 03:06] straussmaus opened #6141 ""Status" is not clear."
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Qubes Manager

**Brief summary**
A qube shows a yellow dot next to it, under "Status" but yellow status is nowhere defined.

**To Reproduce**
I do not know what causes the yellow dot.  But I have a VPN Qube that shows the yellow dot sometimes, in Qubes Manager, in the Status column.

**Expected behavior**
The dot should be green

[2020-10-22 05:34] icequbes1 commented on #6124
The initial approach in my comment for qvm-screenshot-tool was to remove /var/lib/qubes/dom0-updates within sys-whonix, which does work. I assumed `--clean` would do the same, but looking closer it only affects the dnf cache and not the whole dom0-updates fakeroot.

Verified-working steps:

[code]

Looking closer, there appears to be a Debian-updatevm-specific bug that explains why removing /var/l

[2020-10-22 08:41] 0rb677 commented on #6140
Yes. This helps
[code]

[2020-10-22 08:41] #6140 closed

[2020-10-22 09:11] juodumas commented on #6124
Confirming that I can install contrib packages on dom0 after removing `/var/lib/qubes/dom0-updates` on my Debian UpdateVM.

[2020-10-22 13:03] pwmarcz commented on #4604
It turned out that on my Qubes 4.1, the `xen-acpi-processor` kernel module in dom0 was not loaded at all. Apparently the module [is responsible for initializing the data for the cpufreq system](https://lists.xenproject.org/archives/html/xen-users/2016-06/msg00006.html), so without it the frequency scaling was not working at all.

My processor is Core i5-10210U. With the module loaded, at least it

[2020-10-22 13:35] jandryuk commented on #4604
OpenXT was missing `xen-acpi-processor`.  With that loaded, xenpm shows processor states.

With an i7-8665U, I also see some scaling and use of higher P-states.  Unfortunately, it still runs hot.

With the pstate patch above, the i7-8665U doesn't match, so it falls back to the built in acpi-cpufreq driver.  I think the benefit of the pstate patch will be hardware-managed P-states (HWP) which would

[2020-10-22 15:12] hackerncoder commented on #5838
Hi.
I was also thinking about updating the images on the website,.
I have 4.1 installed on my computer and am ready to take the pictures, however I would like to know about whether there will be changes in the UI so that I should wait.

[2020-10-22 17:13] fepitre commented on #5838
Yes thank you that would help. Generally default UI will not change that much. I can propose you to write a little list of what exactly you want to update then we can confirm you. That's for you to not lose your time. Also, for your information, current content included in `qubes-doc` is located at `https://github.com/QubesOS/qubes-attachment`.

[2020-10-22 17:36] 3hhh opened #6142 "qvm.firewall module for salt"
**The problem you're addressing (if any)**

Currently there's no `qvm.firewall` module for salt.

This is inconvenient as it either requires users to use chains of `qvm-firewall` commands or replace the `firewall.xml` file and restart qubesd via salt (maybe `qvm-firewall --reload' suffices, idk).

**Describe the solution you'd like**

`qvm.firewall` module allowing a full specification of all rule

[2020-10-22 17:47] donob4n commented on #4529
Hi, I would like to fix this ticket.
I am just testing the last version and seeing the icon size changes and the text added, so I don't know where to put some Show/Hide buttons (probably next to Restore)

My idea is to add a filter button for:
- Hide halted qubes
- Hide system qubes (net-vm's, sys-usb,...)
- Hide templates
- Once this is done maybe add an star icon on each row and a 'Show only fav

[2020-10-22 17:51] marmarta commented on #4529
Sounds good!  for me, next to search bar sounds best. It suits it both thematically and also provides a good use for all that space.

[2020-10-22 18:16] hackerncoder commented on #5838
I was thinking about going at it like this:

[code]

[2020-10-22 18:22] fepitre commented on #5838
Yes that would be great for every item you listed. Thank you very much for that.

[2020-10-22 20:21] hackerncoder commented on #5838
I was thinking, how should I name them?

The current ones have something like this `r<release-number><beta, rc or minor version>-<description of image>`

Should I just do r4.1-<description of image>?

[2020-10-22 20:27] fepitre commented on #5838
Yes prefix `r4.1-` is fine.

[2020-10-22 20:31] hackerncoder commented on #5838
P1 should be done and is uploaded, I might need to stop for today so will continue with the rest tomorrow and however many days it will take.
https://github.com/hackerncoder/qubes-attachment

[2020-10-22 20:32] fepitre commented on #5838
Sure thank you again for doing this! That helps a lot.

[2020-10-22 20:37] fepitre commented on #6133
I encountered this issue few days again and I found the issue. I'll commit the fix.

[2020-10-22 20:44] fepitre commented on #5585
@ejose19: what about calling it `pacman` too and place it earlier in the `$PATH` like @marmarek suggested? If that works properly do you mind to adapt current implementation in `core-agent-linux`?

[2020-10-22 20:46] fepitre commented on #5844
is this issue still persisting?

[2020-10-22 20:52] fepitre commented on #5929
See my comment https://github.com/QubesOS/qubes-issues/issues/6028#issuecomment-712139773. It's on the road very soon. PR are almost merged.

[2020-10-22 20:57] zellchristensen commented on #4321
Just wanted to update that it also occurs when attaching USB devices instead of PCI devices.  Perhaps there's some kind of sharing on my board but when attaching USB devices with memory above a certain amount i end up with similar issues as outlined in https://github.com/QubesOS/qubes-issues/issues/

[2020-10-22 20:59] ejose19 commented on #5585
@fepitre sure, I can submit a PR. Any recommended folder to place this script since it will be at the start of ```$PATH```?

[2020-10-22 21:18] fepitre commented on #5585
@ejose19 If we plan to create a custom location and add PATH to it, maybe something like `/usr/lib/qubes/bin` (currently in-existent)? @marmarek a suggestion?

[2020-10-22 21:27] fepitre commented on #5585
After discussing with Marek, `/usr/sbin` could be a better option instead of custom `PATH`.

[2020-10-22 22:01] ejose19 commented on #5585
@fepitre I tried with that last suggestion but didn't manage to make it work. /usr/sbin is a symlink to /usr/bin and unlinking the pacman in /usr/sbin removes it from /usr/bin as well (where the original is located). Is there something I'm missing? Else I can proceed with first suggestion ```/usr/lib/qubes/bin```

[2020-10-22 22:06] fepitre commented on #5585
I was not aware that `/usr/sbin` was a symlink under archlinux. So probably better go with the first suggestion. Ensure to make it system wide in any case that something would called `pacman` directly without specific location.

[2020-10-22 22:36] #6133 closed

[2020-10-23 02:26] swimik opened #6143 "Selecting updates over tor for templates and dom0 during install only gets applied to dom0, not templates as well"
**Qubes OS version**
Qubes 4.0.3

**Affected component(s) or functionality**
During installation final setup. The option for all updates for dom0 and TemplateVMs to occur over Tor is given to the user.

**Brief summary**
If you select the option to have all updates for Templates and dom0 over Tor the installer will ensure the global settings for dom0 updates occur over sys-whonix. However, Templat

[2020-10-23 10:19] marmarek commented on #6143
Can you post exact `/etc/qubes-rpc/policy/qubes.UpdatesProxy` you've got? Including the very first line.

[2020-10-23 14:50] 3hhh opened #6144 "Salt: Skipping non-targeted VMs is unreasonably slow"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

qubesctl

**Brief summary**

Skipping non-targeted VMs is unreasonably slow as it takes 2-3s per VM.

**To Reproduce**

Assuming you use salt:
Steps to reproduce the behavior:
1. Enable top files or use a single top file that targets only a few of your VMs.
2. `sudo qubesctl --show-output --all state.highstate`

**Expected beha

[2020-10-23 16:38] icequbes1 commented on #6143
Not the OP; only trying to help test. But I could not reproduce this on a fresh install of Qubes 4.0.3 without doing any further updates.

The qubes.UpdatesProxy properly contained the sys-whonix target policy as the first line:

[code]

qubesctl states during install as indicated in the journal:

[code]

If the OP's first line in qubes.UpdatesProxy does not contain the sys-whonix target, I wonder

[2020-10-23 16:55] nereocystis commented on #5861
Users of Debian 10 are affected by this problem as well.

Yes, it is a more painful to follow manual steps.

And @andrewdavidwong is missing one step above:
deleted the attachment from the email VM

[2020-10-23 22:34] jon-bit commented on #6028
@fepitre I'm having a hard time understanding what it is I have to do. can you lay out a step by step instructions? I hate to ask but I really don't know what I'm doing.

[2020-10-23 23:55] unman commented on #6143
On Fri, Oct 23, 2020 at 09:39:07AM -0700, icequbes1 wrote:

I've not been able to reproduce this either, and I've been trying since
it was first suggested.
Since it seems *extremely* unlikely that this is a bug that has affected
EVERY install in the past without any one noticing, I wonder if it is
linkable to some peculiarity in the set-up.
Some information about hardware might be of use?

[2020-10-24 07:08] icequbes1 opened #6145 "Archlinux templates do not receive DNS configuration"
**Qubes OS version**
4.0, 4.1

**Affected component(s) or functionality**
qubes-builder-archlinux

**Brief summary**
The fix in #6133 (resolv.conf deleted from host) causes an AppVM booted from the template to not have DNS and to most users appear to not have internet.

**To Reproduce**

Steps to reproduce the behavior:
1. Build archlinux template
2. Install template
3. Create an AppVM from templa

[2020-10-24 07:18] icequbes1 commented on #6028
@jon-bit the build instructions are the same. Ensure you have performed a `make get-sources`.

@fepitre I can confirm this builds on R4.1 with a Fedora 31 build host. Small issue was introduced elsewhere that causes network issues - #6145.

Small note, not sure if it matters - on a Fedora 32 build host, I still had to add `suid` to `scripts/remount`, as it appears `/home` is mounted `nosuid` by de

[2020-10-24 10:04] donob4n commented on #4529
Probably some cool icons would be better but I think that 'checkboxes' are pretty fine too. At least a good point for start to code:
![manager1](https://user-images.githubusercontent.com/35405566/97079003-b9e41900-15f0-11eb-920a-48136e985295.png)

What do you see better, select what you want to show or select what you want to hide? Maybe some combination of both...

[2020-10-24 10:20] andrewdavidwong commented on #5838
Thanks for doing this, @hackerncoder. However, we should wait on using 4.1 images as the live default images in docs until 4.1 is a stable release.

[2020-10-24 10:25] andrewdavidwong commented on #5861
deleted the attachment from the email VM

I considered adding that but decided against it because:

1. It's not required to view the file in a DisposableVM.
2. It's obvious. Users already know that they can delete files they no longer want.

[2020-10-24 10:49] fepitre commented on #6145
Yes you are right. Ideally, /etc/resolv.conf should be created too on boot but let's fix this first.

[2020-10-24 12:14] marmarta commented on #4529
I like the checkboxes! Let's definitely keep it simple - not mixed mode, just "select what to show" XOR "select what to hide". I'm slightly in favor of "select what to show", it feels more intuitive.

[2020-10-24 12:20] 3hhh commented on #5105
I randomly hit into this one again while removing a shut down non-disposable VM via `qvm-remove`.

So there is a high likelihood that the removal of VMs is still causing this bug.

[2020-10-24 14:16] swimik commented on #6143
Sorry for the delay. Thanks everyone for helping. I cant get my initial symptoms to repeat I may have not seen anything at all, I did not catch that `$type:TemplateVM $default allow,target=sys-whonix`  was just printed at the top of the file, and instead saw it commented out at `# Upgrade all TemplateVMs through sys-whonix. #$type:TemplateVM $default allow,target=sys-whonix`, while `# Default rule

[2020-10-24 15:10] sidhussmann commented on #5071
For anyone still having this problem on `debian-minimal`-based templates: What solved it for me was to install `libnotify-bin` and `mate-notification-daemon`.

[2020-10-24 17:31] promovicz commented on #5736
Can confirm this bug. Same issue also applies to block devices. It happens with all persistent devices that have changing names.

The real issue with this is three-fold:

  * qvm-usb and other tools should display persistent devices that aren't present. They currently don't.
  * Domains shouldn't fail to start when dynamic devices such as USB are missing.
  * Qubes shouldn't use the device names i

[2020-10-24 17:41] promovicz opened #6146 "De-duplicate domain and device notifications"
**The problem you're addressing (if any)**

Poor notification usability.

**Describe the solution you'd like**

Qubes domain and device notifications should be tagged properly so they stack instead of spamming the user.

Domain notifications should be stacked into a single notification per domain.

Device notifications should stack into a single notification showing all devices.

(Note: libnotific

[2020-10-24 17:44] promovicz commented on #6146
Willing to patch this problem myself if developers point out where the code is, where it should be and how they would like it fixed.

[2020-10-24 18:09] hackerncoder commented on #5838
No need to thank me, I love doing this.

Not a bad idea (I do object since 4.1 looks a lot like 4.0.3, but ok). However I just wanted to know what "stable" is. All the way to release? Not RC or beta?

[2020-10-24 21:22] andrewdavidwong commented on #5838
If there are cases where it looks exactly the same, then those images can go live now, but we want to avoid a situation where the documentation does not match the latest stable release, because then it's less useful for users.

Correct.

[2020-10-24 21:23] andrewdavidwong commented on #6143
Closing this for now as "cannot reproduce." If you believe this is a mistake, or if anyone can reproduce the issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-10-24 21:23] #6143 closed

[2020-10-24 21:25] andrewdavidwong commented on #5071
Added `diagnosed` label based on https://github.com/QubesOS/qubes-issues/issues/5071#issuecomment-520189012. (If that's not correct, please remove or comment.)

[2020-10-24 21:27] andrewdavidwong commented on #6146
Duplicate of #5856

[2020-10-24 21:27] andrewdavidwong commented on #6146
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-10-24 22:05] hackerncoder commented on #5838
Depending on how much exactly means to you, maybe 1 or 2 will be ready to go live.

Because we have switched to Nina's cube (#5657) in 4.1, which I don't believe to be in 4.0.3, then none showing Qube Manager, Program Menu or just even the desktop (qube management icon in notification area) can go live.

[2020-10-24 22:38] promovicz commented on #6146
@andrewdavidwong Thanks for the pointer.

[2020-10-24 22:42] promovicz commented on #5856
@andrewdavidwong Technically I believe these might be separate, meaning that it's different code in different packages.

But the principle is similar. Most notifications in Qubes are implemented ad-hoc in a shell or python script. Many of them could be improved as-is without any big changes.

If someone can help me find all those locations then maybe I can come up with simple patches. I've done so

[2020-10-24 23:05] marmarek commented on #5782
Fixed in https://github.com/marmarek/qubes-desktop-linux-common/commit/d34a8955f8d63147389cfe66439ba0cc9eb382b0

[2020-10-24 23:05] #5782 closed

[2020-10-24 23:13] promovicz commented on #5736
Workaround that does it for me:

Install an RPC hook script on the dom0 that identifies and then attaches the right devices to the calling VM.

Something like this could also be part of a final solution by being integrated with the correct management interfaces, but I couldn't find the time yet to determine how that would work exactly.

[2020-10-24 23:19] marmarek commented on #5856
Most of them are in desktop-linux-manager repository, for example devices notifications are here: https://github.com/QubesOS/qubes-desktop-linux-manager/blob/master/qui/tray/devices.py#L263-L296

[2020-10-24 23:25] tlaurion commented on #2809
Someone proposed a TemplateVM? What is missing?

[2020-10-24 23:30] ideologysec commented on #2809
Someone to do the work of testing, bringup, and maintenance, then getting it approved into the community repos...

[2020-10-25 01:57] maqp opened #6147 "Renaming VM breaks launchers on panel and desktop"
**Qubes OS version**: 4.0.3

**Affected component(s) or functionality**: Panel/Desktop launchers

**Brief summary**: Renaming VM breaks launchers on panel and desktop

**Steps to reproduce the behavior:**
1. Drag launcher of some application of some VM to desktop and to panel
2. Rename the VM
3. Try to open the application with the launcher

**Expected behavior**: Renaming the VM changes panel/des

[2020-10-25 02:20] maqp opened #6148 "Panel Items tab lists launchers without name"
**Qubes OS version**: 4.0.3

**Affected component(s) or functionality** XFCE4 panel

**Brief summary**: Panel Items tab lists launchers without name

**To Reproduce**

Steps to reproduce the behavior:
1. Drag one or more launchers to the XFCE4 panel
2. Open Panel settings and switch to Items tab and see multiple `Launcher` entries that are hard to place in order.

**Expected behavior**: The Items

[2020-10-25 03:47] unman commented on #6147
On Sat, Oct 24, 2020 at 06:57:21PM -0700, Markus Ottela wrote:

Do you think that the system should be scanned for any potential
panel/desktop launchers/shortcuts to give effect to your expectation?
What about scripts in dom0? Scripts in other qubes that refer to the qube
that has been renamed?

If you clone a qube do you expect that launchers etc will be cloned too?

[2020-10-25 04:47] promovicz commented on #5736
Observation about device identifiers:

The "description" of devices seems to be a more useful identifier than the "BACKEND:DEVID" tuple.

In case of LVM volumes it will be the VG and LV name, which is stable and useful. Not sure about straight LUKS.

For USB devices this works brilliantly if the device has a serial number, less so if not but possibly acceptable.

[2020-10-25 08:10] neowutran commented on #5844
good for me, I don't need to manually apply the patch anymore

[2020-10-25 10:24] zaoqi opened #6149 "The whole system crashes when the size of the backup file exceeds a certain number"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**

Qubes Backup

**Brief summary**

When the backup file size exceeds a certain number, something will happen.

- Sometimes the window of AppVM used to mount usb stick and QubesManager will freeze or disappear. If I try to shut down or launch some dom0 application at this time, I will get some IO Error
[code]
- Sometimes xfce cras

[2020-10-25 11:53] andrewdavidwong commented on #5856
Ok, no problem. Reopening #6146 for this.

[2020-10-25 11:53] andrewdavidwong commented on #6146
Reopening. Thanks for doing this!

[2020-10-25 11:56] andrewdavidwong commented on #6148
Isn't it still easy, since you can see the launchers move around on on the panel as you move them around in the settings config?

[2020-10-25 11:58] andrewdavidwong commented on #6148
I do suspect that this is an upstream issue.

Perhaps, but then this would be an enhancement request rather than a bug report.

[2020-10-25 11:59] zaoqi commented on #6149
It seems to be a hardware issue.

[2020-10-25 11:59] #6149 closed

[2020-10-25 12:03] andrewdavidwong commented on #5838
I'm afraid there's no other information yet, but we'll publish an announcement when there is.

@marmarta, do you know the answer to this?

I think that's the problem this issue was intended to solve. :slightly_frowning_face: On the bright side, thanks to your work, there will be 4.1 images to compare against whenever they need to be updated again after that. :slightly_smiling_face:

[2020-10-25 13:09] deeplow commented on #5732
A user is reporting issues as well with firefox but this time on a debian-10 qube. I was unable to reproduce it.

[2020-10-25 13:46] RaphaelBalthazar commented on #6028
@jon-bit
Go to `/home/user/qubes-builder/`and open the remount script via nano (or vim) `sudo nano remount`
The last line is
`sudo mount "$mountpoint" -o dev,remount`
add `suid` after `dev`
`sudo mount "$mountpoint" -o dev,suid,remount`
write the changes (by pressing CTRL +O)
Go to `/home/user/qubes-builder/` where you did everything along the lines of this guide:
https://www.qubes-os.org/doc/buil

[2020-10-25 14:48] RaphaelBalthazar commented on #6028
After installing the template there is the following message:
[code]
Is this `qubes.PostInstall service failed` anything to worry about?

[2020-10-25 15:12] DemiMarie commented on #5844
This is fixed.

[2020-10-25 15:12] #5844 closed

[2020-10-25 16:04] maqp commented on #6148
Just finding the launcher you want to move with 20+ launchers becomes annoying. Spotting which launcher moves when clicking the move button isn't always successful on first try, and once you know which one you've been moving, you have to move it back and then try to estimate or count the distance to the launcher you were supposed to be moving.

Agreed. Is it possible to change the label or should

[2020-10-25 16:20] maqp commented on #6147
panel/desktop launchers/shortcuts to give effect to your expectation?

The launchers for panel are in `$HOME/.config/xfce4/panel/` under individual directories e.g. `launcher-1/<timestamp>.desktop` and the launchers for desktop are in `$HOME/Desktop/<name>.desktop`

Those directories would need to be scanned, yes.

As for scripts, no I don't think so: they probably don't have such standard form yo

[2020-10-25 16:24] hackerncoder commented on #5838
Great!

It seems so.

I hope that it won't be 2 or 3 releases before that happens.

&nbsp;

And as you can see, I have uploaded all (except the split-gpg which I have neglected because I need a split-gpg setup) and made a pull request to add them to qubes-attachment.

A pull request for qubes-doc to change to those images is in the works.
I just need to know what to do with images that reference W

[2020-10-25 21:24] andrewdavidwong commented on #5838
Merged. Thank you!

Sorry, I don't understand. Could you be a bit more specific about what you mean by "what to do with [them]"? For example, is it that you can't take 4.1 screenshots of those things because they're not available to you?

[2020-10-25 21:28] andrewdavidwong commented on #6148
Ah, I can see how it becomes more difficult the more launchers you have.

No problem, I'll change the labels on this issue.

[2020-10-25 22:57] icequbes1 commented on #6028
@RaphaelBalthazar Same error here. I noticed the same error when performing other dom0-initiated actions such as booting another Qube from an ISO stored on an Arch-based AppVM...there's some qrexec issues.

Debugging in the journal of the template shows a PAM error complaining about `postlogin` not found upon the qrexec call.

`/etc/pam.d/postlogin` indeed does not exist in the Arch template, and

[2020-10-25 23:05] icequbes1 commented on #6114
I can confirm the merged PR (https://github.com/QubesOS/qubes-gui-agent-linux/pull/110) fixes this specific build error itself on R4.0 and R4.1.

[2020-10-25 23:21] icequbes1 commented on #2809
I quickly trialed this on an up-to-date R4.1 on current-testing and kernel-latest (5.8.16-1), Xen 4.14.0-6. My observations:

1. The official version on the web site (0.4.13) would boot, and I could install using the text-based installer. But booting ended up with a dark gray screen after the splash screen. Same result when using the LiveCD version.

2. Using the Nightly version as of today (0.4.1

[2020-10-25 23:36] DemiMarie opened #6150 "Xen version in install ISO is outdated and vulnerable"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Install ISO

**Brief summary**

Qubes R4.0.3 includes Xen 4.8.5-14.  This is vulnerable to QSB#58, QSB#59, and QSB#60.

**To Reproduce**

Steps to reproduce the behavior:
1. Boot the install ISO
2. See the Xen version flash during boot

**Expected behavior**

The install ISO includes a secure version of X

[2020-10-25 23:59] marmarek commented on #6150
You could say that after any QSB, or even after any update ("the package X on installation image is buggy").
It isn't viable to release new ISO after every update or even just after every QSB. You should simply install updates after installation, see [installation guide](https://www.qubes-os.org/doc/installation-guide/#next-steps).

[2020-10-25 23:59] #6150 closed

[2020-10-26 07:45] qwrd opened #6151 "Can we get rid of the unencrypted /boot partition in Q4.1?"
Hello,

A while ago I decided to give Qubes 4.1 a test run, and I noticed there were now three partitions created on the disk by the setup. First one was an EFI partition, second one was an unencrypted /boot partition and the last was LUKS-encrypted rootfs.

So basically I've gotten into this habit of modifying all my linux systems to use just two disk partitions - an EFI partition for the bootloa

[2020-10-26 08:25] hackerncoder commented on #5838
I have read that QWT doesn't work with Win10 and the qubes 4 so I can't remake the seamless windows integration screenshots. I could run windows as a regular HVM if you wanted me to, otherwise I would just remove the screenshots.

And I find Nalu's images to be too much work, again, if you want me to recreate them, I am willing to, otherwise I would just remove them.

(Talking about Screenshots: h

[2020-10-26 09:23] JarrahG commented on #6015
I've attempted to test this package with qubes builder, but I'm not sure whether my use of the builder or the package is at fault.
What I have done is used https://github.com/QubesOS-contrib/qubes-contrib-configs/blob/master/example-configs/qubes-os-contrib-r4.1.conf as the config for qubes-builder, substuting this package for the contrib list. The error I get is below:
[code]
Obviously there is s

[2020-10-26 10:05] iamahuman commented on #6151
If you boot through EFI only, the /boot paritition is not required AFAIK.

[2020-10-26 10:44] promovicz commented on #6146
I have been playing with this and will have patches in a few days.

Working branch can be found here:
https://github.com/promovicz/qubes-desktop-linux-manager/tree/promovicz/notification-improvement

[2020-10-26 10:44] Robbains opened #6152 "Colored window borders and title bar disappearing"
**Qubes OS version**
Xen_version 4.8.5-23.fc25
Linux 4.19.147-1.pvops.qubes.x86_64
Qubes Os release 4.0 (R4.0)

**Affected component(s) or functionality**
missing window borders under xfce4, I can't reduce, enlarge or close windows, and I can only use one window at a time

**Solutions you've tried**
I tried this function and it solved my problem for good.
xfwm4 --replace

**Relevant [documentation

[2020-10-26 11:12] qwrd commented on #6151
Hello.

In the classical LUKS encryption scheme for a linux distribution the /boot partition was **required** to remain unencrypted because it hosted the grub2 configuration files, initramfs image as well as the kernel. The recent EFI grub2 image (at least the one in debian or ubuntu - see package grub-efi-amd64-signed) has an ability to decrypt a LUKS rootfs and read those files from the /boot fo

[2020-10-26 11:21] marmarek commented on #6152
Do you know what action triggered this issue?
Check `coredumpctl` command output in dom0, do you see xfwm4 listed there? If so, can you copy output of `coredumpctl info xfwm4` here? See [here](https://www.qubes-os.org/doc/copy-from-dom0/#copypaste-from-dom0) how to copy text from dom0.

[2020-10-26 11:33] marmarek commented on #6151
It is (on Qubes 4.1), to load kernel and initramfs, no longer _copied_ to EFI partition, as we have grub2-efi back.

As for using encrypted /boot and keyfile embedded info initramfs, there are a couple of issues:
 - grub2 does not support LUKS2 (which we use)
 - we want to integrate https://github.com/osresearch/safeboot/issues/21 at some point - which also require unencrypted initramfs (but not n

[2020-10-26 12:31] qwrd commented on #6151
**marmarek:**
- Recent grub2 does support LUKS2, but it didn't fully support the new Argon2 PBKDF yet, so you had to use the old pbkdf2 instead. But Argon2 support was being worked on last time I checked the mailing list.

- Interesting, I'll keep an eye out on the development. Though I kind of am a fan of having as much parts of the boot process encrypted as possible...

~q

[2020-10-26 13:30] marmarek commented on #6151
safeboot allows you to have boot binaries signed, which is much more important than having them encrypted. Besides luks keyfile introduced into initramfs to avoid double password prompt, there are really no secrets in /boot - those are just files from packages available publicly. What you really want is to assure integrity of /boot, not necessary confidentiality (encryption is some approximation o

[2020-10-26 13:47] DrWhax commented on #4979
Wow, really cool work! Would love to have this in Qubes!

Now, i'm not too sure about gvt-g internals and how it actually affects Xen. But it seems Intel dropped XenGT support as indicated here: https://lkml.org/lkml/2020/9/2/399

KVM support will continue to be supported for now.

But it seems if there's no Xen support.. it might not be worthwhile to get GVT-G further packaged into Qubes?

[2020-10-26 14:34] marmarta commented on #6135
But after you run qui-domains, does the widget appear?

Also, could you check `journalctl -e` output next time this happens? Perhaps there's an interesting error there.

[2020-10-26 14:45] marmarta commented on #6141
This is fixed by https://github.com/QubesOS/qubes-manager/commit/bb1995af2e90aae51f07c518b74d98221c2d5cc1 (the great model/view rewrite of Qube Manager); to answer what a yellow dot means: it's usually the "transient" state, or booting, or halting.

[2020-10-26 14:45] #6141 closed

[2020-10-26 15:28] marmarta commented on #6123
So, I cannot do "stop shutdown" - if we started a shutdown it's started, I don't think I can just abort it. But I added a button saying "don't ask again" and (hopefully in all cases) made the box itself not have a close button.

[2020-10-26 16:30] zellchristensen opened #6153 "Remove "Qube configuration problem!" Popup for Non-Networked Qubes Firewall Rules Setting"
**The problem you're addressing (if any)**
If the user selects the Firewall rules tab in a Qube's settings, if the Qube has no networking, a popup occurs forcing the user to select OK before continuing.  This happens every time the tab is selected, even in the same window session.

**Describe the solution you'd like**
Remove the popup since essentially the same message is already displayed in bold

[2020-10-26 17:07] zellchristensen commented on #6123
I think the main issue here is just the popup window remaining on a Qube that has no way to automate shutdowns (ie a windows VM without qubes tools) or just a way to ignore the popup if a qube needs to take a long time to shutdown on its own.  I don't want to have to come back every 20 seconds to click wait basically.

[2020-10-26 21:21] fepitre commented on #6015
I'll take a look tomorrow.

[2020-10-26 21:23] betamax96 opened #6154 "Gentoo template fails to start: qrexec-daemon failed"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

qubes-template-gentoo

**Brief summary**

When installing the Gentoo template provided by the community repository, it installs but fails to startup. The follow notification shows upon installation:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Install the gentoo template as provided in the documents: https://w

[2020-10-26 22:12] marmarek commented on #6015
This looks like missing 'mock' package - install it first.

[2020-10-26 23:47] marmarek opened #6155 "Some AppVMs lose windows after X server restart"
**Qubes OS version**

R4.1 at least, R4. probably too.

**Affected component(s) or functionality**

gui-daemon

**Brief summary**

After X server restart (like user logout+login) some application windows are not restored. This seems to be caused by not (re)starting relevant qubes-guid process because the pidfile (`/var/run/qubes/guid-running.<XID>`) of the previous instance is not cleaned up prope

[2020-10-27 01:10] marmarek commented on #5903
You can edit /etc/default/grub, then regenerate grub config with `grub2-mkconfig -o /boot/grub2/grub.cfg`

[2020-10-27 03:50] tumbletree opened #6156 "Qubes Update tool freezes machine"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Updater, fedora-32 template, system.

**Brief summary**
Updater starts normal, black notification box (I think its the one that announces mngmt disp start up), then the whole system freezes. Hard restart required.

Repeated twice.

Additionally, template will not launch `gnome-terminal` by any method.

Debian-10 template (also

[2020-10-27 03:54] CODE33301 commented on #3427
I have that ACPI Error.

![image](https://user-images.githubusercontent.com/46226136/97255170-f0e04780-1807-11eb-9162-e15eb212cb7d.jpeg)

I have an ASUS R540N Notebook PC. I don't understand why I'm getting this error.

[2020-10-27 05:28] JarrahG commented on #6015
`mock` was the issue, thanks.

Next issue is that it does not download the source tarball. I can't see
much difference between tpm2-totp's Makefile and others in the contrib
repo, but tpm2-totp's does not pull the tarball in either get-sources or
get-sources-extra

[2020-10-27 08:10] fepitre commented on #6154
I don't reproduce that. I've installed the template multiple times and another one yesterday from the template community. I can start normally applications. You specify Qubes 4.1 but which devel version are you using? Are you sure to be up to date with latest qrexec dom0 part? (current-testing enabled!).

[2020-10-27 09:05] fepitre commented on #6021
Sorry I've not seen your message. I'll try those icons soon. Thank you.

[2020-10-27 09:12] fepitre commented on #6021
@marmarta can you confirm me where exactly to put the new set please?

[2020-10-27 11:39] ghost opened #6157 "Qubes 4.0/4.1: repository "qubes-repo-contrib" is broken on dom0"
**Qubes OS version**
4.0, 4.1

**To Reproduce**

[code]
enable repo in `/etc/yum/repos.conf.d/`
`enabled=1 `
(`qubes-contrib-dom0-r4.0-current`,`qubes-contrib-dom0-r4.0-current-testing`)
[code]
install something
[code]
any package from repo returns `Curl error (37)`
and cannot be installed on system.

`Curl error (37): Couldn't read a file:// file for file:///etc/pki/rpm-gpg/RPM-GPG-KEY-qubes-4-co

[2020-10-27 11:40] #5709 closed

[2020-10-27 12:02] 0rb677 commented on #6157
Also request to add shadow compositor as `compton` to repo.
https://github.com/yshui/picom
Thanks!

[2020-10-27 12:21] tumbletree commented on #6156
**update**

- tried updating again after 8 hours. Same result.
- swapped templates to backup fedora-32 ("fedora-32-mod", which isn't modded much at all, actually)
- fedora-32-mod template cannot launch `gnome-terminal`, as previous template. Works on debian-10 template and all fedora-based app-vms.
- (n.b. fedora-32-mod was updated manually (via Updater) sometime in the last 24-48 hours.)
- system

[2020-10-27 12:31] tumbletree commented on #6156
**update2**
(I'm just doing this as I go, in case I lose access to the machine).

- update to fedora-32-mod went fine.
- it still can't launch `gnome-terminal`

[2020-10-27 12:48] tumbletree commented on #6156
**update3**
- this time, update to fedora-32 went fine
- still can't launch a terminal in the fedora templates. Trying from `nautilus` results in mouse clicks (right and left) being non-responsive for ~20-40s.

[2020-10-27 12:52] Coeos3 opened #6158 "qubes-gpg-client: possible bug with metatada"
### Qubes OS version:

R4.0

### Affected component(s) or functionality:

qubes-gpg-split (at least v 2.0.47 and 2.0.48, have not tried on earlier versions)

---

### Steps to reproduce the behavior:

- encrypt a file (ex: filename=test.zip) with `qubes-gpg-client -esr $ekey -u $skey -o "$filename"".gpg" "$filename"` or `qubes-gpg-client-wrapper -esr $ekey -u $skey -o "$filename"".gpg" "$filename"

[2020-10-27 13:15] zhihuiyuze commented on #5709
My A300M-STX motherboard computer can run normally and successfully install by closing uefi and starting csm. Unfortunately, uefi is not supported

[2020-10-27 14:35] fepitre commented on #5940
I've updated the description. Debian has merged the related work for `libsolv`. This is nice and big step! **Spoiler alert**: we do have `bullseye` in our testing repo of 4.1 since few days :champagne:

[2020-10-27 15:54] Coeos3 commented on #6158
Never mind, I just discovered the `--set-filename` flag which allows to go around that limitation.

[2020-10-27 15:54] #6158 closed

[2020-10-27 16:47] h01ger commented on #5940
On Tue, Oct 27, 2020 at 07:35:28AM -0700, Frédéric Pierret wrote:

yay, nice!

what's the next step needed to get dnf into debian?

--
cheers,
	Holger

-------------------------------------------------------------------------------
               holger@(debian|reproducible-builds|layer-acht).org
       PGP fingerprint: B8BF 5413 7B09 D35C F026 FE9D 091A B856 069A AA1C

There are only two kinds of

[2020-10-27 16:51] marmarek commented on #5940
On Tue, Oct 27, 2020 at 09:47:54AM -0700, Holger Levsen wrote:

Have someone to sponsor uploads of those packages:
https://mentors.debian.net/packages/uploader/frederic.pierret@qubes-os.org/

--
Best Regards,
Marek Marczykowski-Górecki
Invisible Things Lab
A: Because it messes up the order in which people normally read text.
Q: Why is top-posting such a bad thing?

[2020-10-27 17:14] betamax96 commented on #6154
Ah that was the reason, I didn't enable current-testing repo. Thank you very much.

[2020-10-27 17:14] #6154 closed

[2020-10-27 17:22] h01ger commented on #5940
On Tue, Oct 27, 2020 at 09:51:52AM -0700, Marek Marczykowski-Górecki wrote:

thanks, that's a good overview! and some nice work it seems!

on a quick look I noticed:

- for several (all?) no ITP/RFP bug exist. this might be ok, if there's one
  for dnf, which reference the libraries, but there's non for dnf, so
  that's not good.
- for several, there are newer upstream versions available.

and the

[2020-10-27 17:42] fepitre commented on #5940
Le 10/27/20 à 6:22 PM, Holger Levsen a écrit :

I think one would be easier to manage.

Yes. As now I know that I'm having a working basis, I can go for latest stable version available.

Depending on Marek's suggestion, I would say we can keep this one for this purpose.

I've written the good order of dependencies in the description:

 - libcomps

 - librepo

 - libdnf

 - dnf

I
 assume now that

[2020-10-27 17:49] h01ger commented on #5940
Hi Frédéric,

On Tue, Oct 27, 2020 at 10:43:10AM -0700, Frédéric Pierret wrote:

ok, fine with me.

cool!

ok

thanks for repeating it here! :)

ah, nice!

great! looking forward to that!

--
cheers,
	Holger

-------------------------------------------------------------------------------
               holger@(debian|reproducible-builds|layer-acht).org
       PGP fingerprint: B8BF 5413 7B09 D35C F

[2020-10-27 19:50] fepitre commented on #5940
Le 10/27/20 à 6:22 PM, Holger Levsen a écrit :

I think one would be easier to manage.

Yes. As now I know that I'm having a working basis, I can go for latest stable version available.

Depending on Marek's suggestion, I would say we can keep this one for this purpose.

I've written the good order of dependencies in the description:

   - libcomps
   - librepo
   - libdnf
   - dnf

I assume now t

[2020-10-27 21:02] DrWhax opened #6159 "Grsecurity in HVM mode doesn't work"
**Qubes OS version**

R4

**Affected component(s) or functionality**

In HVM mode, homegrown built grsecurity kernels aren't booting.

**Brief summary**

While booting a VM with kernel set to none and type set to HVM it won't boot, I only see a /var/log/xen/console/guest-xxx-dm.log with errors in the stubdomain kernel.

**To Reproduce**

Steps to reproduce the behavior:
1. Compile a grsecurity ker

[2020-10-27 21:30] marmarek commented on #6159
Stubdomain kernel is fine, those warnings are harmless and are result of very minimal config there.
The message at the end (`qemu: pin_memory_cacheattr failed: Operation not permitted`) is slightly worrying, but I don't think it's fatal.

This is most likely some grsec incompatibility with Xen HVM, or some specific to the config you set. Sadly, since grsecurity patches are no longer publicly avail

[2020-10-27 21:42] GSF1200S opened #6160 "sys-usb suddenly prompting dom0 for qubes.InputMouse access on startup"
**Qubes OS version**
Qubes R 4.0

**Affected component(s) or functionality**
sys-usb or dom0 (uncertain)

**Brief summary**

For what its worth, I posted this in /r/Qubes on reddit as well. Since this is a change in behavior relating to dom0 input, I figure it's worth at least posting here to be cautious. It's also worth noting that to an extent this is a regression since at least in my case I mus

[2020-10-27 21:59] marmarek commented on #6160
This looks to be a bug in recent update: https://github.com/QubesOS/updates-status/issues/2072

[2020-10-27 22:17] fepitre commented on #5685
For the the reference: https://github.com/QubesOS/qubes-dist-upgrade/

[2020-10-27 23:24] denisj44 commented on #5581
I used to work on an linux and my application was mmaping hugeeeeee files in memory and it was working like charm while enabling overcommit, But the catch was to have also a huge swap in order it to work. It was very efficient. As it seems also to be in qubes. Until I reach 10GB where it crash because I increased the swap to 10GB using the method from #4880. Yes for some computations swap is neede

[2020-10-28 00:53] andrewdavidwong commented on #6114
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-10-28 00:53] #6114 closed

[2020-10-28 00:58] andrewdavidwong commented on #5838
@GWeck and @deeplow, I know that you just overhauled this documentation. Can you say whether these images are still being used or are out-of-date?

Agreed.

[2020-10-28 01:08] andrewdavidwong commented on #6151
Duplicate of #2442

[2020-10-28 01:08] andrewdavidwong commented on #6151
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-10-28 01:08] #6151 closed

[2020-10-28 01:09] andrewdavidwong commented on #2442
Closing as "won't do" for the reasons given in https://github.com/QubesOS/qubes-issues/issues/6151#issuecomment-716490012 and https://github.com/QubesOS/qubes-issues/issues/6151#issuecomment-716546985. If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-10-28 01:09] #2442 closed

[2020-10-28 01:27] DrWhax commented on #6159
Thanks! Will play some more and let you know how far I come!

[2020-10-28 01:47] tumbletree commented on #6160
I'll just note that I am also having issues with sys-usb. I also use an x230. Started sometime in last few weeks.

1. use laptop as a laptop
2. return to dock
3. observe loss/lack of function in usb mouse (attached to dock station)
4. restart sys-usb
5. all is well

I don't know if this is relevant. There are no prompts.

(Note too that start-up "on dock" delivers a mirrored display, not split scr

[2020-10-28 01:55] tumbletree commented on #6156
`gnome-terminal` works now.

[2020-10-28 02:34] andrewdavidwong commented on #3427
Your error looks different from this one. Yours says `ACPI Error: No handler [...]` (or at least one of them does), whereas this one doesn't appear to say that. Searching this issue tracker for [`ACPI Error: No handler`](https://github.com/QubesOS/qubes-issues/issues?q=is%3Aissue+%22ACPI+Error%3A+No+handler%22) returns five other issues (but not this one). You might want to have a look at those in

[2020-10-28 02:37] andrewdavidwong commented on #6157
Please note that [every issue must be about a single thing](https://www.qubes-os.org/doc/reporting-bugs/#every-issue-must-be-about-a-single-actionable-thing).

[2020-10-28 02:48] andrewdavidwong commented on #6135
From https://www.qubes-os.org/doc/getting-started/#gui-and-command-line-tools:

[...]
![widgets](https://www.qubes-os.org/attachment/wiki/GettingStarted/r4.1-q40_widgets.png)

(In Qubes 4.0, the icon is the blue Q icon. This screenschot is from 4.1.)

[2020-10-28 02:51] andrewdavidwong commented on #6159
It sounds like this should be closed as "not our bug." If you believe this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-10-28 02:51] #6159 closed

[2020-10-28 03:14] andrewdavidwong commented on #6039
FYI, Fedora 33 was released today:

https://fedoramagazine.org/announcing-fedora-33/

[2020-10-28 05:50] straussmaus commented on #6135
TY but I still don't know what you mean.  I don't see any change when I run the command in dom0.  I have never seen that cube/Qube icon that you're pointing to.  I see a blue "Q" but that seems fine.

[2020-10-28 05:52] straussmaus commented on #5846
Can not reproduce since reinstall.  I do not think I was doing anything wrong but I agree with the statement that the most likely problem is user error.

[2020-10-28 05:52] #5846 closed

[2020-10-28 06:03] straussmaus commented on #5139
@andrewdavidwong Interesting that it was not rebuilt.  I did have a solution earlier with the IPv6 information (according to myself above).  Do you know any IPv6 information regarding VPN Qubes that could be useful in this situation?  Because it is still not possible to use Fedora30+ for a VPN qube.

@fepitre I tried different VPN providers.  I can say fairly sure that the problem is not the OpenV

[2020-10-28 06:44] straussmaus commented on #5139
Testing reveals VPN config from https://www.qubes-os.org/doc/vpn/ works with:

fedora 29
debian 10

but not

debian 9
fedora 30
fedora 31
fedora 32

[2020-10-28 08:06] fepitre commented on #6039
Yes we are waiting for a stable update from Fedora with a patch I've pushed few weeks ago for fixing `salt` with `python3.9`. The template itself work since a while just an issue with `salt` again like Fedora 32...

[2020-10-28 10:42] GWeck commented on #5838
For the current state of QWT under R4.1, see my tests at [https://qubes-os.discourse.group/t/testing-windows-and-qwt-in-r4-1/1143](https://qubes-os.discourse.group/t/testing-windows-and-qwt-in-r4-1/1143). In short: QWT does not really run on R4.1, and so far I have not been able to get seamless mode with Windows 7. For Windows 10, seamless mode is unlikely to be available soon, if at all, not even

[2020-10-28 11:47] 92VV3M42d3v8 commented on #5139
I am using VPN on qubes based on fedora-32-minimal and it's working. I am using a provider which support both IPV4 and IPV6 and another provider which only support IPV4.

[2020-10-28 11:52] jonkri commented on #1806
The bounty just increased by another $100. Thanks, woodrad! :slightly_smiling_face:

[2020-10-28 12:47] hackerncoder commented on #5838
Uh.. @andrewdavidwong, the images have changed.
See:
https://www.qubes-os.org/screenshots/

[2020-10-28 19:23] ratpoison4 opened #6161 "Documentation: how to run WireGuard as VPN"
All the guides I found are quite old. WireGuard is now in Debian buster-backports and it can be installed quite easily on Qubes.

I figured out how to do it and wrote instructions that worked for me. I would like to move the instructions to Qubes documentation so that other people can benefit from it.

The instructions: https://gist.github.com/ratpoison4/3d027d721812fc7a0954db1c1db4972e

[2020-10-28 20:43] woju commented on #6161
I just write `wg-quick up /rw/config/wg0.conf` and avoid copying the file.

[2020-10-29 01:24] #5282 closed

[2020-10-29 01:24] #6124 closed

[2020-10-29 02:59] #6123 closed

[2020-10-29 04:13] marmarek commented on #6112
Can you check if that aren't really two separate calls? Compare journalctl in sys-usb (look for `Qubes input proxy sender` service startups) with journalctl in dom0 (qrexec lines).

[2020-10-29 05:55] andrewdavidwong commented on #5838
Isn't this from your PR (https://github.com/QubesOS/qubes-doc/pull/1065), which I just merged yesterday?

After reviewing that PR, I thought it consisted only of images that you selected as being close enough to 4.0 that they were okay to go live now. Perhaps I misunderstood. Did you intend for that PR to be held until 4.1 went live?

[2020-10-29 06:11] andrewdavidwong commented on #6135
As I mentioned, the icon for the Qubes Domains Widget changes from a blue "Q" in 4.0 to a blue cube in 4.1. (Think of this image as a preview of what it will look like in 4.1., but it still the same widget.) Since you are running 4.0 and not 4.1, it is expected that you would have seen only the blue "Q," not the blue cube.

[2020-10-29 06:18] andrewdavidwong commented on #6161
Could you please submit this to the [Qubes Community documentation](https://github.com/Qubes-Community)? We are presently in the process of moving all external documentation there (https://github.com/QubesOS/qubes-issues/issues/4693).

[2020-10-29 06:18] #6161 closed

[2020-10-29 06:21] andrewdavidwong commented on #5139
Sorry, I have no knowledge of this. However, perhaps @tasket might.

[2020-10-29 09:36] hackerncoder commented on #5838
No.

Yes, I probably should have made that clear

That was why I said:

But yes, they are closer to what we have now. For the most part it should be fine.

I see. With my very images. (P.s. the old images are still there. https://www.qubes-os.org/attachment/wiki/GettingStarted/q40_widgets.png, most of the time you just have to remove `r4.1-` to get the old one)

They definitely are.

[2020-10-29 10:14] hackerncoder commented on #6135
This is how it looks in 4.0:
![r4.0 domains widget](https://www.qubes-os.org/attachment/wiki/GettingStarted/q40_widgets.png)

[2020-10-29 10:19] somehibs commented on #3982
Thought I'd revisit this one since I patched to Android Studio 4.1.

This issue is still a problem caused by the JRE that Jetbrains distributes with IDEA.
I think they've removed some fixes/workarounds for X11 and it's causing this problem.

Replacing their JRE with an Oracle JRE works fine for me, but you need to retain the Android Studio JRE and put it back in place before updating Android Studi

[2020-10-29 10:55] hackerncoder commented on #5838
https://github.com/QubesOS/qubes-attachment/pull/37.

I really should check through more things before pushing.

[2020-10-29 12:10] tasket commented on #5139
Its hard to say without a log or specific error.

One thing you could try is to disable the rc.local script by renaming it, then reboot the VM and run the script manually with `sudo groupadd -rf qvpn ; sleep 2s; sudo sg qvpn -c "openvpn --cd /rw/config/vpn/ --config openvpn-client.ovpn"`. That will show you what's happening and if it connects you should test the link to see if it works.

As to a p

[2020-10-29 12:13] marmarek commented on #5139
This may be related to https://github.com/QubesOS/qubes-issues/issues/5071
Check if running `qvm-run <VMNAME> /usr/libexec/mate-notification-daemon &` helps.

[2020-10-29 12:23] tasket commented on #5139
Interesting... that might explain a problem I've had in R4.1, although its intermittent and it starts working if I wait for it to timeout (I experience it as a delay, not a failure).

[2020-10-29 18:41] xaki23 opened #6162 "starting mirage-pvh via grub for templated mirage vms"
putting this here instead of mirage or grub issue tracker because the usecase is very
qubes-specific and i am not sure where the best place for an actual fix is.

### why templated mirage?
template installation can be handled outside of dom0.
which is good for installing stuff provided by random people on the internet.
the build process is easy through qubes-builder, see comments at the beginning

[2020-10-29 18:49] xaki23 commented on #6162
additional notes ...

grub multiboot header spec: https://www.gnu.org/software/grub/manual/multiboot2/multiboot.html

elf notes for a current mirage-pvh build:
[code]

aiui adding more elfnotes should cause no problems for existing usecases, and grub should be able to find the extra header.
i have been unable to figure out where the current elfnotes are generated, perhaps @mato or @hannesm can poi

[2020-10-29 19:48] hannesm commented on #6162
The linker being invoked by mirage is defined via pkg-config in [`solo5-bindings-xen.pc`](https://github.com/Solo5/solo5/blob/v0.6.7/opam/solo5-bindings-xen.pc.in) (the variables are filled in by configure `MAKECONF_LDFLAGS` and Makefile.common (defines `LDFLAGS := -nostdlib -z max-page-size=$(CONFIG_GUEST_PAGE_SIZE) -static $(MAKECONF_LDFLAGS)`), using the [xen linker script](https://github.com/S

[2020-10-29 20:12] marmarek commented on #5585
Fixed in https://github.com/QubesOS/qubes-core-agent-linux/pull/254

[2020-10-29 20:12] #5585 closed

[2020-10-29 20:48] ejose19 opened #6163 "archlinux: append_path not found on qubes-update-desktop-icons hook"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Mentioned hook

**Brief summary**

The issue is related to ```/etc/profile.d/perlbin.sh``` that uses ```append_path``` function declared in ```/etc/profile```, however the hook at ```/etc/qubes-rpc/qubes.GetAppmenus``` is calling those scripts manually, resulting in that function not available to ```/etc/profile.d``` scripts

[2020-10-29 22:09] evadogstar opened #6164 "[PoC] Qubes-SleepKeeper"
Limit time to enter screensaver password after Qubes wake up from sleep. If no password will be provided Qubes will shutdown automatically.

https://github.com/evadogstar/qubes-sleepkeeper

[2020-10-30 02:00] dspacejs commented on #1806
@jonkri what bounty? Where? I didn't know people earn money to do open-source work

[2020-10-30 04:56] andrewdavidwong opened #6165 "Make salt dom0 update output less noisy when logged"
**The problem you're addressing (if any)**

When I do:

[code]

The log file looks like this:

[code]

This is what I mean by "noisy." For comparison, when I do:

[code]

The log file looks nice and clean, like this:

[code]

**Describe the solution you'd like**

Make the dom0 log output just as clean as templates.

**Where is the value to a user, and who might that user be?**

Value: more readabl

[2020-10-30 05:14] marmarek commented on #6165
Salt has `--no-color` option, it could be used like this: `qubesctl --dom0-only --no-color state.sls update.qubes-dom0` (`qubesctl --dom0-only` is what is called to execute dom0 part, but allows to pass extra salt options).
But this seems to be ignored, which is https://github.com/saltstack/salt/issues/37270
To have it working, comment out `color: True` in `/etc/salt/minion.dom0.conf`.

Actions he

[2020-10-30 05:36] GSF1200S commented on #6160
As it turns out, the root thing does still seem to be the case as well. It prompts dom0 and heres the relevant lines from sys-usb's journal I cut out two lines exactly like the first one):

I think this might be relevant for us users who choose to run sudo in our AppVMs- sys-usb never used to prompt for sudo privileges before. Just FYI...

[2020-10-30 06:50] straussmaus commented on #6135
Right.  Like I said, "I see a blue 'Q' but that seems fine."  What I mean is that when I boot, I have the blue Q.  I get the error, but the Q is there.  I click on it and I see the domains.

But now that I am looking closer, I see when I run qui-domains and the console hangs on dom0, a second blue Q shows up that behaves exactly like the first.

[2020-10-30 06:59] straussmaus commented on #5139
@marmarek

Yes, when I run this, it works.

Does this mean the problem is only with the notification?  I am running 4.01 because that's what I installed but I stay current with updates, so if there was a natural 4.01 to 4.1 upgrade, I should have gotten it.

[2020-10-30 08:56] jonkri commented on #1806
@dspacejs: Hi! :slightly_smiling_face: Here's the link: https://www.bountysource.com/issues/31778112-add-support-for-gnome-in-dom0-gui-domain.

[2020-10-30 09:00] xaki23 commented on #6039
tried in-place upgrade of a fedora-32 template on q4.0 today.
update "worked", but uninstalled most qubes-core-* pkgs, so the resulting f33 template is ... less than functional.
unsure which particular dependency chain made that happen.

also, firstboot of the upgraded template kicked off a conversion of the rpmdb from bdb to sqlite, which may take longer than the default qrexec-timeout.

keeping

[2020-10-30 09:34] fepitre commented on #6039
@xaki23 I'm not sure all packages are built yet. At least on R4.1 release the template works out of the box :). Can you provide what requested to remove qubes pkgs?

[2020-10-30 10:07] xaki23 commented on #6039
actually suspecting PEBKAC by now: i probably didnt have the -testing repo enabled.

retrying like this now, vm is a clone of fedora-32:
[code]

looks much better already, though its still trying to remove _some_ things:
[code]

will report results once it finishes, will take ~2 hours on this machine.

[2020-10-30 10:12] GWeck opened #6166 "Qube manager tool bar too wide"
**The problem you're addressing (if any)**
In the new alpha version of R4.1 from 14-Oct-2020, the icons of the Qube manager tool bar all have descibing texts underneath (similar to the former texts in the tool tips). This causes the tool bar to have approximately twice the width of the former tool bar. If The Qube manager is configured to show only the most relevant columns, the tool bar is trunca

[2020-10-30 10:36] GWeck commented on #6130
In R4.1, if a PDF file is converted to a trusted PDF via the corresponding function, the dispvm for the conversion is created, performs the conversion, but then stays running and has to be shutdown manually.

[2020-10-30 12:30] marmarek commented on #6039
There should be package build with pulseaudio 13.99.2 (the one in Fedora 33): https://github.com/QubesOS/updates-status/issues/2135
When the thing finishes, try to install qubes-vm-recommended back and see what it will complain about.

[2020-10-30 13:48] xaki23 commented on #6039
upgrade just finished, and f33 template working. (oh boy, so much for 1-2 hours)

an "dnf --enablerepo=qubes-vm-r4.0-current-testing install qubes-vm-recommended" just installed
[code]
so no idea why it didnt do that to begin with during the distro-sync.
(we had something like this before, but i dont remember the context or resolution... something weird about the "epoch" version prefix maybe?)

[2020-10-30 13:57] marmarek commented on #5139
#5071 is not really fixed yet. It happens only when notify-send is called before X server starts (so - rc.local is affected)

[2020-10-30 15:42] lead4good commented on #5942
Having the same issue with fedora 32 template and latest guest kernel.
[code]
This only shows up when above 4gb ram so definitely related.

[2020-10-30 21:45] ninavizz commented on #5676
Hi hi! Just saw the updated screnshots for `4.1` and... whee! So excited to see the qute qubes in there!!! :)

A few questions:
1. I did not see the disp-vm icons in place for VMs that were listed as disposable. Was there an interest in abandoning them, or was that just an oversight?
2. For `dom0` there was an exclamation point atop its VM, and I wanted to make sure that is because there is some e

[2020-10-30 21:52] marmarta commented on #5676
That I think is my oversight in implementing this . Will make a ticket for myself to fix that :)

That's on me - I think it was my idea to put the exclamation mark there. @marmarek , are you for or against an AdminVM icon?

Working on the tray icon and I think I have a solution, will push it once I dig myself from a work-shaped hole :)

[2020-10-30 23:40] ninavizz opened #6167 "Simplify + Standardize OS Buttons"
**Problem**
Today's buttons in Qubes OS go against a few standard paradigms in UX.
- There should always be a darker "primary" and a lighter "secondary" button
- The "back-arrow" icon is unclear to many users as a return-button. My Lenovo laptop and my Mac, both lack this symbol on any buttons, as an example.
- Icons on buttons as a general rule, are undesirable. They add clutter to a UI which add

[2020-10-31 00:51] tumbletree opened #6168 "sys-usb failing to autostart since last updates (fedora-32)"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
launch on system startup of sys-usb

**Brief summary**
Powering on delivers a system with no USB functionality; sys-usb is not started automatically.

USB icon in tray shows (internal) microphone only available for assignment.

Manual start of sys-usb qube works fine.

This only began since last update of fedora-32 last night.

[2020-10-31 00:55] marmarek commented on #6168
Check if you haven't run out of disk space. For example check data% and meta% columns for pool00 in `sudo lvs head`.

[2020-10-31 01:01] tumbletree commented on #6168
[code]
I'm sorry to be so ignorant, but you _did_ mean dom0, right?

Also - and I don't know if it looks in the right place, but - the Disk Space Monitor tool in the tray reports disk usage at 16.8%

[2020-10-31 01:32] Echocage commented on #2766
Does anyone have a solutio

Does anyone have any solution to this? This happens when I start new containers for both debian and fedora. Packages will almost always break within 1-3 restarts of the appvm. Is there a way that I can stop this from happening?

[2020-10-31 02:29] jon-bit commented on #6028
Sorry for the Late response but I got a little confused.
1. @RaphaelBalthazar That did work. I just didn't know I had to look in the script directory (and just for the record that is not me blaming you).  2. it took a few tries but yes IT WORKED! However... 3. Now I can't get networking good to go. Every time I run A script I get

`ERROR: You dont have have an Internet connection`

However I can p

[2020-10-31 02:36] icequbes1 commented on #6028
It's a known issue, see #6145. For a workaround, run the template and just do `sudo touch /etc/resolv.conf`, shutdown the template, relaunch AppVM.

[2020-10-31 02:44] jon-bit commented on #6028
It did that and now I no apps are starting.

[2020-10-31 02:45] icequbes1 commented on #6156
Are there any disk/filesystem-related errors in the dom0 journal?

Anything out of the ordinary if you:

1. run `journalctl -f` in one terminal
2. start the a fedora-32-based AppVM
3. try to run a gnome-terminal

Then see logs within the VM:

1. connect to console of AppVM (`sudo virsh console VM-NAME-HERE`)
2. hit enter, login as root
3. `journalctl -f`
4. try to run a gnome-terminal

[2020-10-31 02:46] jon-bit commented on #6028
@icequbes1 Sorry it just took long to start the apps, However it's still saying the same thing.

[2020-10-31 03:17] afk11 opened #6169 "Backups with a single archive per VM (or, only backup VM's modified since last backup)"
**The problem you're addressing (if any)**

I take frequent full system (or there abouts) backups. Over time, I want to delete VM's from my host system, knowing I have a backup somewhere and can easily restore it. When the backups are in a single archive, it's hard to know what VM's are inside so I tend to keep them all. But I'd like to be able to go through a backup and delete VM's I have in more

[2020-10-31 03:48] icequbes1 commented on #6028
@jon-bit Comment the last line in builder-archlinux/scripts/09_cleanup.sh (the one that `rm ... resolv.conf`, then run `make template` to get a new template.

Alternatively, modify the archlinux template rootfs while it isn't running to `touch /etc/resolv.conf`.

[2020-10-31 04:10] marmarek commented on #4485
Those templates were rebuild several times since the report. But also, fc29 is not supported anymore.

[2020-10-31 04:10] #4485 closed

[2020-10-31 04:12] marmarek opened #6170 "Release Qubes 4.0.4"
As [discussed on qubes-devel](https://groups.google.com/d/topic/qubes-devel/lfCSltYV2ho/discussion) we should release new point release with updated templates (Fedora 32 in this case). This is a tracking for the task.

- [x] update references to included templates (installer, salt, anywhere else?)
- [x] build new ISO
- [x] test it
- [x] release (upload to mirrors, announce)

[2020-10-31 04:23] marmarek commented on #6170
@andrewdavidwong can you prepare the announcement?
We don't have a formal release process set for point releases (https://www.qubes-os.org/doc/version-scheme/#release-schedule applies to major releases only) and I'm tempted to skip the whole "release candidate every 5 weeks" process. After all, this is just about publishing installer image with the packages that are already used by the current 4.0

[2020-10-31 04:35] straussmaus commented on #5139
I looked at that thread.  I tested gnome-terminal and it does not open on the same Qubes that I have this problem on.  So I think that confirms it is https://github.com/QubesOS/qubes-issues/issues/5071.

I will close this thread because it seems like https://github.com/QubesOS/qubes-issues/issues/5071 is going to fix it.

[2020-10-31 04:35] #5139 closed

[2020-10-31 04:36] straussmaus commented on #5071
Seems connected to VPN notifications failing: https://github.com/QubesOS/qubes-issues/issues/5139

[2020-10-31 04:41] tumbletree commented on #6168
<details>
<summary> This is dmesg output shortly after startup from one of those crashes this morning </summary>
dmesg:

[code]
</details>

[2020-10-31 05:14] tumbletree commented on #6156
Hi, and thanks.

Update: it now seems like I have a couple of qubes launching gnome-terminal, and a bunch that don't, all from the same template.

For 1-3, `journalctl -f` in `xterm`, I see an error message. I can't cut-and-paste from that app, so I'll try accurate hand retyping.

This is from "email" app-vm.

[code]
There's a message before it successfully starting `tracker-store.service`, and af

[2020-10-31 05:24] tumbletree commented on #6168
Also, I still have problems launching gnome-teminal #6156. I thought it had righted it self with an update, but no. Just discovered only _some_ qubes can launch gnome-terminal, while others cannot.

For those that cannot, with `journalctl -f` I get:

`Oct 31 #time email qubes.StartApp+org.gnome.Terminal-dom)1027: ** * Error constructing proxy for org.gnome.Terminal:/org/gnome/Terminal/Factory0: Er

[2020-10-31 05:25] tumbletree commented on #6156
Is it appropriate to merge with #6168 ? Its all happening at once.

[2020-10-31 06:21] byte255 commented on #5903
@darwin your solution worked for me, thank you so much!

[2020-10-31 08:17] KnightWhoSaysNeeeowWumPing opened #6171 "Critical error when trying to open settings window for any qube (qubes-vm-settings)"
**Qubes OS version**

Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**

Qubes Manager, qubes-vm-settings

**Brief summary**

When trying to open the qubes settings window for any qube, it simpy does not open.
Executing the `qubes-vm-settings` command in a dom0 console results in an error.

**To Reproduce**

Steps to reproduce the behavior (via gui):
1. Open the Qubes Manager
2.

[2020-10-31 08:35] hackerncoder commented on #6171
The first thing that stands out to me is `ImportError: libgfortran.so.3: cannot open shared object file: No such file or directory`, as if libgfortran isn't installed

Is libgfortran installed in dom0? (`dnf info libgfortran`)

[2020-10-31 09:21] GWeck commented on #6169
If there is just one VM in a backup, it might be helpful to enter the name of that VM as part of the backup file name, e.g. qubes-backup-2020-08-17T124831 (Fedora-32). Or, a possibility to specify the name of the backup file, when slecting the target directory.

[2020-10-31 09:29] GWeck commented on #6167
The buttons should also be presented in a defined sequence. Currently, sometimes the OK button is on the left side and the Cancel button on the right, somtimes vice versa. Surely this helps to alert the user, but it can also trigger to select the wrong button.

[2020-10-31 12:27] 100111001 commented on #2766
I haven't checked the suggestion from Marek (https://github.com/QubesOS/qubes-issues/issues/2766#issuecomment-707020075), yet, as this issue happens now less often. But from time to time my slack breaks the same way. My latest hypothesis is that it's a concurrency issue during start of the AppVM, because sometimes when this error occurred, it could be solved by rebooting the AppVM. As soon as I co

[2020-10-31 16:33] ratpoison4 commented on #6161
Thanks! Updated.

[2020-10-31 21:43] ninavizz commented on #5856
Actually @andrewdavidong while I agree the broader ecosystem of messaging in Qubes needs to be revisited, this specific issue was drafted around how key-access messaging is done. I can create a separate Issue for Qubes' broader ecosystem of Toast messaging; my point with this Issue, is that I'd like for GPG/Key-access communication with users to be done with their own widget, and outside the stand

[2020-10-31 21:51] marmarek commented on #6127
Generally the notification probably can be optimized, but I think it should not be skipped completely. There are two things done there:
 - notify dom0 about any updates available for this VM (or rather: it's template)
 - update applications list

The first one is useful in any case (template itself isn't started to check updates). There is timer doing it every 2 days, but reporting on manual dnf c

[2020-10-31 21:53] ninavizz commented on #6007
I'm working on a redesign of the app menu right now, and will be sharing a few different "takes" on it with users. One of the takes I'm considering, merges the functionality of the "Domains Menu" in the tray (what I think @GWeck was calling the "Q Widget," and the App Menu, so that the group of Qubes a user sees in the App Menu is which ones are open, and specific controls available for each.

[2020-10-31 22:04] andrewdavidwong commented on #5676
Would definitely be handy to have icons for AdminVM and GUIVM, IMHO.

[2020-10-31 22:32] andrewdavidwong commented on #6170
Last time, for 4.0.3, we did two full announcements. I think it's fine to do the same again.

[2020-10-31 22:35] ninavizz commented on #6007
(also, we have yet to delve into interviews with user research, and are just beginning to parse survey results; will not have conclusive evidence around what users need, until interviews are done).

[2020-10-31 22:42] andrewdavidwong commented on #6156
Only if they're actually the same bug (which may not be known until diagnosed). For details, please see [here](https://www.qubes-os.org/doc/reporting-bugs/#every-issue-must-be-about-a-single-actionable-thing).

[2020-10-31 22:45] andrewdavidwong commented on #5903
Is anyone still affected by this issue?

[2020-10-31 22:56] andrewdavidwong commented on #6169
This already exists. It's simply `qvm-backup` with a single specified VM to back up. You can script this, if you want, to loop over a list of VMs.

My sense is this is not a mainstream use case. Wanting separate backup files per VM sounds like something that would be an inconvenience to mainstream users but something that a power user might want for a custom DIY setup. Since you can already do thi

[2020-10-31 22:56] #6169 closed

[2020-10-31 22:59] andrewdavidwong commented on #6169
In fact, this is exactly what I do for the precise use case described in the original feature request. When I want to delete a VM but have the option of restoring it later, I simply create a backup that contains only that VM and name it appropriately, e.g., VM name and date. Often, I find that I don't even need the date, because I have only one file with that VM's name in the filename (all previou

[2020-10-31 23:12] andrewdavidwong commented on #6167
I'm going to assume that this is referring to Qubes-specific GUIs (manager/widgets), since non-Qubes-specific (e.g., Xfce4) GUIs are inherited from upstream.

[2020-10-31 23:26] andrewdavidwong commented on #6007
Yes, you're both referring to the same thing. Technically, this widget is called "Qubes Domains." (This can be seen by hovering over the icon.) It's important that people not rely on referring to it as "the Q widget," since the icon is no longer a "Q" in 4.1.

UX question for you: Do you find this use of the term "qubes" to be confusing? We intentionally lowercase it when referring to VMs to avoid

[2020-10-31 23:58] icequbes1 opened #6172 "Archlinux build failure due to pulseaudio 13.99.3"
**Qubes OS version**
R4.1, R4.0 (untested)

**Affected component(s) or functionality**
qubes-gui-agent-linux

**Brief summary**
Archlinux build failure of qubes-gui-agent-linux due to Archlinux using pulseaudio 13.99.3 as of October 31 2020.

**To Reproduce**

Steps to reproduce the behavior:
1. Build archlinux template

**Expected behavior**
Successful template creation.

**Actual behavior**
Temp

[2020-11-01 00:10] darwin commented on #5903
AFAICT currently there is no solution to this issue. Only a workaround.

My theory is that the workaround currently happens to work because it slightly changes timing/order of boot instuctions and the real issue does not get triggered. Nothing I would like to rely on.

Please keep this issue open until someone figures out the real cause and a possible solution.

[2020-11-01 01:47] ninavizz commented on #6007
I should never try spelling `qubes` without adequate coffee. That is truly the best answer that I can offer, to the above @andrewdavidwong. I fully agree with your sentiment as it pertains to my comment, and will edit accordingly. ;)

[2020-11-01 01:58] ninavizz commented on #1015
Naming should inform mental models of how the broader ecosystem of QubesOS works. As such, I personally like calling VMs "qubes," which depending on the context _can_ get confusing. There is never an absolutely-perfect answer for any/every context, imho—especially because VMs in Qubes are used for so many different things. Common mental-models of VMs are, "Oh, I need to run another OS" or "Oh, I n

[2020-11-01 02:03] ninavizz commented on #5865
When we do user testing with end users, there are ways to learn from them what concepts and words might feel natural to them. I'd rather work towards what _feels natural_ to users, vs what makes the most sense from a linguistics or mathematical concepts POV. Really looking forward to digging-in to the app menu, in the weeks ahead; user testing should be fun, to learn more about these things! Thank

[2020-11-01 02:44] ninavizz commented on #5676
So: there's only so much meaning that can be stuffed into a 16x16 graphic. Especially when a group of graphics that size, need to clearly stand together as a family of like items. Likewise, there's only so much abstract meaning users can remember in a fashion that can be intuitively recalled, on different shapes/takes on a little cube. Marry both challenges, and I feel we've already gotten the mos

[2020-11-01 02:48] ninavizz commented on #6167
Oof... I was hoping this could even go on XFCE managed windows, as those are the default for Qubes.

[2020-11-01 02:49] ninavizz commented on #6167
Artwork for the "x" on an aside:
![Exxy-X_L](https://user-images.githubusercontent.com/8262612/97794072-11b2ef00-1bb2-11eb-9994-1c06839e90f4.png)
![Exxy-X_M](https://user-images.githubusercontent.com/8262612/97794073-15df0c80-1bb2-11eb-822a-22de8a4f038d.png)
![Exxy-X_S](https://user-images.githubusercontent.com/8262612/97794074-18d9fd00-1bb2-11eb-99bc-5eaa60d6fe1d.png)

[2020-11-01 03:41] marmarek commented on #6167
It is possible to create our own theme for Xfce. I don't know how much work that is and how much flexibility it gives. Take a look at "Appearance" option in settings - there are "Style" and "Icons" tabs. I don't see any of them having different colors for different buttons, so I don't know if that's possible, but there is something to explore.

[2020-11-01 09:10] andrewdavidwong commented on #6007
Oh, I wasn't trying to call you out! I honestly want to know whether it's a good idea from a UX perspective and how we should handle it. You're certainly far from the only one who capitalizes it when referring to VMs.

[2020-11-01 09:13] andrewdavidwong commented on #1015
Out of curiosity, what medium do you have in mind? (In other words, if not a doc, would it be a video? An infographic? An interactive software tutorial?)

[2020-11-01 09:26] andrewdavidwong commented on #5676
Well, my thinking is that, from a security perspective, it's very important that users know what the AdminVM and GUIVM are and what they are not. For example, if part of the idea behind isolating the GUI part of dom0 in the GUIVM is to allow users to be more liberal with customizing their desktop environments, then it's very important for security that such customizations (which might including in

[2020-11-01 09:26] hackerncoder opened #6173 "Split-gpg configuration can stop you from pasting into VMs"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

Pasting into any VM

**Brief summary**

Depending on the configuration in /etc/qubes-rpc/policy/qubes.Gpg you cannot past into any VM, copying seems fine.

**To Reproduce**

Steps to reproduce the behavior:
1. Edit `/etc/qubes-rpc/policy/qubes.Gpg`
2. Put in a wrong configuration. As long as 1 character is wrong, pasting won't

[2020-11-01 09:30] andrewdavidwong commented on #6167
Ah, that's a good point. A long time ago, I customized an Xfce theme for myself, and I vaguely recall seeing a way to customize buttons, but I had (and still have) no idea how to do it. My sense is that the overall framework allows for quite a bit of flexibility, if you know how to use it.

[2020-11-01 11:29] marmarek commented on #6173
In R4.1 we load qrexec policy as a whole - if the policy is invalid, all the calls will be denied, including `qubes.ClipboardPaste` (which is responsible for the copy/paste). While it may look like an unrelated change, it is a configuration file for the same thing - qrexec.
Currently any syntax error results in a log entry. To avoid confusion, we can add a notification.
There is also `qrexec-polic

[2020-11-01 12:38] marmarek opened #6174 "HVM is significantly slower than PVH (Xen 4.14)"
## Observation

openQA test in scenario qubesos-4.1-pull-requests-x86_64-system_tests_pvgrub_salt_storage@64bit fails in
[TC_41_HVMGrub_fedora-32](https://openqa.qubes-os.org/tests/12994/modules/TC_41_HVMGrub_fedora-32/steps/1)

[code]
Possibly related VM console entries:
[code]

Note double `root=`. That isn't necessary the root cause.

The same test works on debian-10.

## Test suite description

[2020-11-01 12:46] marmarek commented on #5929
Official packages are almost there. Actually https://archlinux.qubes-os.org already exists. But I need help with setting pacman to use it: https://github.com/QubesOS/qubes-meta-packages/pull/27

cc @icequbes1 @ejose19 @lubellier @neowutran

[2020-11-01 13:38] fepitre commented on #5940
@h01ger no chance for having `libsolv` patches in upstream: https://github.com/openSUSE/libsolv/pull/407

[2020-11-01 14:21] unman commented on #5929
On Sun, Nov 01, 2020 at 04:46:38AM -0800, Marek Marczykowski-G??recki wrote:

https://github.com/unman/notes/blob/master/Arch - does this process not
work?
Obviously you wont need to worry about the keys, if these are offical
packages.

[2020-11-01 17:14] marmarek commented on #1449
Since we don't use PV for USB VM, this is no longer an issue.

[2020-11-01 17:14] #1449 closed

[2020-11-01 21:34] straussmaus commented on #5071
An important note is that the affected templates for https://github.com/QubesOS/qubes-issues/issues/5139 were:

Fedora 30
Fedora 31
Fedora 32
Debian 9

NOT

Debian 10.  Debian 10 worked (the notification showed)

So maybe this is not related despite @marmarek 's troubleshooting suggestion.  But https://github.com/QubesOS/qubes-issues/issues/5139 will be easier to circle back to and diagnore once t

[2020-11-01 21:45] marmarek commented on #6160
As reported by @icequbes1 in https://github.com/QubesOS/updates-status/issues/2166#issuecomment-720153736:

[2020-11-01 21:47] marmarek commented on #6174
I cannot reproduce it locally, but it seems HVM is significantly slower than PVH (at least its boot time). This may be slow enough on openQA (thanks to nested virt) to hit the timeout.

[2020-11-01 21:55] icequbes1 commented on #6174
Attempted to test this, just providing observations:

The very first boot, the VM did not start, but the errors observed on the console involved systemd-udevd invoking oom-killer 7 seconds after boot.

Unsure if related as the logs do not line up with what is originally posted. Attached: [fed32-hvm-oom.txt](https://github.com/QubesOS/qubes-issues/files/5471833/fed32-hvm-oom.txt)

Could not reprodu

[2020-11-01 23:25] marmarek commented on #6160
It seems with a kernel from dom0 PCI BDFs are assigned differently, specifically 00:03.0 is skipped for some reason, which shifts other devices too. This means the USB controller from QEMU can be at 00:04.0 or 00:05.0. We use that to filter out the device - the filter needs to be adjusted.

[2020-11-02 00:26] marmarek commented on #6174
Ok, so this is OOM in initramfs, where the swap is not enabled yet. And apparently now Fedora is running fsck there...
Perhaps we should adjust our dracut module to enable swap in initramfs already? AFAIR @DemiMarie suggested that already in a private email.
While I don't want to mess too much with the system setup from dom0-provided kernel (as it should work with any distribution, so there is a g

[2020-11-02 01:48] DemiMarie commented on #6174
I suspect it largely depends on config options.  There are Linux devices (Azure Sphere) running happily with 4MiB of RAM.  And fsck is known to be somewhat RAM intensive, especially on large partitions.  That’s why OpenBSD turns on swap first, and I think we should do the same.

[2020-11-02 01:49] DemiMarie commented on #6174
Ideally, we should enable swap before doing just about anything else.

[2020-11-02 02:31] f0xy opened #6175 "Applications Merged"
**The problem you're addressing (if any)**

.config/menus/applications-merged/ menu items not deleted on qvm-remove

**Describe the solution you'd like**

qubesadmin.tools add-on for removal of deleted app menu items

**Where is the value to a user, and who might that user be?**

N/A

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

**Relevant [documentation](https://

[2020-11-02 09:24] sidhussmann commented on #6061
The breakage has been fixed in https://github.com/QubesOS/qubes-vmm-xen/commit/f0a5537640ecfa393f5ee7852a96d6fcd367315d so we can close this issue.

[2020-11-02 09:24] #6061 closed

[2020-11-02 13:02] fepitre commented on #5681
I'm closing this issue as `bullseye` and `kali` build out of the box. Both are available on R4.1 repositories (itl-testing and community-testing).

[2020-11-02 13:02] #5681 closed

[2020-11-02 13:05] fepitre commented on #5928
Please see my comment: https://github.com/QubesOS/qubes-issues/issues/5681#issuecomment-720458303. I don't know if we should keep this open as the referenced version is `4.0.X` and we have fixed build issues for `bullseye` and `kali` in 4.1. @andrewdavidwong any thought?

[2020-11-02 13:06] fepitre commented on #6091
Please see my other comments: https://github.com/QubesOS/qubes-issues/issues/5681#issuecomment-720458303 and https://github.com/QubesOS/qubes-issues/issues/5928.

[2020-11-02 13:11] ollieparanoid commented on #5903
@andrewdavidwong: at least 4 people are still affected, judging by "thumbs up" above.

@marmarek's workaround works perfectly for me. But I also think that this is a timing issue, so nothing to rely on.

[2020-11-02 13:18] Jeeppler commented on #5681
@fepitre Kali works fine?

[2020-11-02 13:21] GWeck commented on #5976
After finishing the harmonization with the German BSI, now the final version of the Qubes Grundschutz module has been created. The main differences between that and the previous versions is the removal of redundant explanations which can be (better) found in the Qubes documentation. The resulting text is more concise and concentrates on what should be done and what not when installing and using Qu

[2020-11-02 13:21] Jeeppler commented on #6091
@fepitre the intention of the katoolin method is to provide an easy way to install Kali on top of Debian, as long as there is no Kali template available for Qubes OS. The moment there is a Kali template available for Qubes the katoolin method is not necessary anymore.

[2020-11-02 13:56] deeplow commented on #1015
Just my 2 cents on this. I'd be inclined to this approach (being discussed here: https://github.com/QubesOS/qubes-issues/issues/1395) complemented with some video tutorials (updated for r4.1). I've have some thoughts on this that I'd like to share at some point.

[2020-11-02 14:11] deeplow commented on #5677
From @ninavizz 's comment on https://github.com/QubesOS/qubes-issues/issues/6007#issuecomment-719993025

@ninavizz have you though about letting users do their own AppVM groupings?

I was thinking the concept of domain (`work`, `work-gpg` `work-vault`, etc.) even though [mentioned in the glossary](https://www.qubes-os.org/doc/glossary/) is not supported by any features in the interface.

So my pro

[2020-11-02 15:03] DemiMarie opened #6176 "Domains widget and manager do not realize a qube has finished starting"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Qubes manager and domains widget

**Brief summary**

Sometimes, a VM appears to still be starting, even long after it has started.

**To Reproduce**

I don’t have a good reproduction case, though it often reproduces on my laptop.  I suspect the problem to be due to a race condition.

**Expected behavior**

[2020-11-02 15:06] DemiMarie opened #6177 "Sign the RPM metadata"
**Qubes OS version (if applicable)**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality (if applicable)**

RPM metadata repositories

**Brief summary**

Repository metadata should be signed

**Additional context**

There was a nasty vulnerability in DNF recently, which allowed malicious metadata to compromise a system.  The metadata should be signed to prevent such vulnerabiliti

[2020-11-02 15:31] fepitre commented on #6031
I've integrated it into `QubesOS-contrib`. Some packages are built and some are currently building.

[2020-11-02 15:35] fepitre commented on #6091
@Jeeppler Yes template is working and officially integrated in Qubes since a while. It was only an issue due to DNF that I've solved recently who was failing the build like `bullseye`.

[2020-11-02 15:40] fepitre commented on #6091
@andrewdavidwong I think at some point we would need to announce that too but first I need to add it into the doc and also fix an issue for installing it with `qubes-dom0-update`. The template itself is too big and exceed quota size allowed so currently the only way to install it is to use `qvm-run` on the update VM.

[2020-11-02 17:15] #5865 closed

[2020-11-02 17:27] bluesteal opened #6178 "Switching to VM Kernel from QubesOS Kernel"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Switching to Debian Kernel in AppVM

**Brief summary**

When attempting to switch to Debian Kernel with Whonix-ws getting an error message. Tried following

http://qubesosfasa4zl44o4tws22di6kepyzfeqv3tg4e3ztknltfxqrymdad.onion/doc/managing-vm-kernel/

qvm-prefs <clonetemplatename> virt_mode hvm
qvm-prefs <clonetemplatename> ke

[2020-11-02 17:28] bluesteal commented on #6178
https://github.com/QubesOS/qubes-issues/issues/5212

[2020-11-02 18:43] ethanchinaski opened #6179 "USB Stick Solution"
I had the problem that neither the dd copy method on Linux or the Rufus Instructions on windows produced a UEFI USB Stick which i could use  to install Qubes. Only the 2nd partition was on the stick but not the large one (over 4 GB) .
i tried several different Tools ( balena Etcher, yumi and so on) but none of them worked.

My workaround is simple but effective and does not cause any security issu

[2020-11-02 19:45] ninavizz commented on #5676
Thx for the explainer @andrewdavidwong that is most definitely helpful to hear!

There are other ways to signify "families" of like items, than just icons or color. Grouping and naming are important, too. To me it feels urgent to learn more about Qubes conceptually, with stuff like what you just explained above. Through that, I can better understand what the mental model needs are, and other metho

[2020-11-02 19:51] marmarek commented on #6177
Related - similar issue about apt repositories: https://github.com/QubesOS/qubes-issues/issues/2721
While for Debian repos I consider is "just" major inconvenience, for rpms it is a blocker.

[2020-11-02 19:52] DemiMarie commented on #2518
@robertfisk Sadly, without a cryptographically secure RNG, I do not believe that this can be implemented securely.  The problem is that the USG device is entirely deterministic and stateless, which means that replay attacks are trivial.  Adding randomness externally won’t work because there is no way to know that said randomness can be trusted.

One workaround I am aware of is for the device to ha

[2020-11-02 19:56] marmarek commented on #6177
Some pointers for the scripts:
 - https://github.com/QubesOS/qubes-infrastructure - especially take a look at README there.
 - https://github.com/QubesOS/qubes-linux-yum/ - scripts to actually generate repository metadata (currently it's done on the server - see https://github.com/QubesOS/qubes-linux-yum/blob/master/sync_qubes-os.org_repo.sh#L25
 - https://github.com/QubesOS/build-logs/blob/master

[2020-11-02 20:15] marmarek commented on #2518
It all depends on the threat model. I'd focus about scenario where _another_ USB device compromises sys-usb - the solution should prevent compromised sys-usb to sniff keyboard traffic, or to inject key strokes. But I would not consider physical attacks on the USG device itself in the scope, simply because it is unrealistic to protect against them - attacker having physical access to that device, c

[2020-11-02 20:46] hackerncoder commented on #6173
That was what I thought.

I think that a notification would be great.

Ah, I would like to help on the policy editor, where is it?

[2020-11-02 21:05] marmarek commented on #6173
Tracking issue is [here](https://github.com/QubesOS/qubes-issues/issues/4721), but there is not much info. Most of the backend is already done here: https://github.com/QubesOS/qubes-core-qrexec/pull/54

[2020-11-02 21:22] DemiMarie commented on #2518
We can use standard Curve25519 ECDH for the key exchange, possibly with a post-quantum algorithm (NTRU?) mixed in for additional protection.  Authentication would be handled by having dom0 put the keyboard in a special mode (indicated by a hardware light) and display a hash of the key exchange.  The user then enters the hash into the keyboard, and the USG checks the hash against expected value.  I

[2020-11-02 21:42] marmarek commented on #2518
Not necessary if you have secure communication channel set before - you could send new keys from the host, or generate based on the old ones. This won't protect against decrypting future communication in case of the current key compromise, but will protect against decrypting old communication. To have forward secrecy, I think indeed full re-pair would be needed which is bad UX.

As for the isolati

[2020-11-02 21:58] DemiMarie commented on #2518
That still leaves the question of how the keys will get on to the device to begin with.  I would strongly prefer if they were generated on the device itself, which (again) requires an RNG.  Furthermore, the USG is stateless, which is incompatible with persistent pairing.

Instead of a separate device, it seems that a much better approach would be for the keyboard itself to handle the crypto, which

[2020-11-02 22:35] DemiMarie commented on #2721
This can be fixed by splitting the output of `make update-repo-current` into two logs:

- Log 1 consists of everything *before* the file needs to be signed.
- Log 2 consists of everything *after* the signing step.

[2020-11-02 22:41] DemiMarie commented on #2721
By running each build in a DispVM with no network or qrexec access, we can ensure that the only data that the build could have used is the data sent to it in the build call.

[2020-11-02 23:11] marmarek commented on #2721
Yes, that is also on the roadmap. But for a slightly different reason - to isolate components builds from each other (be sure that none of one components sources could compromise other components sources). Basically to allow assigning maintainers to separate components, and not give them in practice control over everything. The prime blocker for this is Makefile.builder, which is basically execute

[2020-11-02 23:18] marmarek commented on #2721
Yes, this sounds like a good approach. And the Log 1 should include information about what to be signed, preferably a diff of changes.

At some point we could strengthen signature key control by requiring the log to explicitly include hashes that are going to be signed (not just "anything that is is requested in the next few minutes"). But that is a separate task, not required right now.

[2020-11-03 01:19] marmarek commented on #4705
Or even worse - disable the protection based on instructions there to get rid of the notification, even if nothing is really broken.

I think it's better to remove the warning notification (but still write it into the log).

[2020-11-03 04:53] PROTechThor commented on #6179
@ethanchinaski Thanks for documenting this. I think this should be added to the troubleshooting docs.

Not sure if it should go on [USB Troubleshooting](https://www.qubes-os.org/doc/usb-troubleshooting/) or [Installation Troubleshooting](https://www.qubes-os.org/doc/installation-troubleshooting/#trouble-installing-from-usb-stick).

Thoughts, @andrewdavidwong ?

[2020-11-03 05:40] andrewdavidwong commented on #6175
Application Menu shortcut entries should already be handled automatically whenever a VM is removed. If they are not, then that is a bug in the existing functionality. Please report it. We do not need a new feature to make up for a bug in existing functionality. Instead, we just need to fix the existing bug.

[2020-11-03 05:40] #6175 closed

[2020-11-03 05:42] andrewdavidwong commented on #5928
In other words: Fixed in 4.1 but remains broken in 4.0? Whether it's okay to leave it broken in 4.0 is up to @marmarek.

[2020-11-03 05:56] andrewdavidwong commented on #4667
QubesOS/qubes-doc@f539ae1 doesn't appear to be related to this issue. Must have been a typo.

[2020-11-03 05:56] andrewdavidwong commented on #4667
Is anyone still affected by this issue?

[2020-11-03 06:01] andrewdavidwong commented on #6031
Does that mean this will be available for 4.0 or 4.1 (or both)?

[2020-11-03 06:04] andrewdavidwong commented on #6091
To be clear, "that" = a new Kali template?

Sounds good. Let me know when you're ready.

[2020-11-03 06:11] andrewdavidwong commented on #6173
I believe this is #3904.

[2020-11-03 06:15] andrewdavidwong commented on #6173
If I understand correctly, the observed behavior is not a bug.

However:

- Improved UX would make this behavior easier to deal with. (#3904)
- A policy editor tool would make the observed behavior less likely. (#4721)

Since there is no bug to fix here, and all relevant action items are already covered in existing issues, it appears that this should be closed as "not an issue." If you believe thi

[2020-11-03 06:15] #6173 closed

[2020-11-03 06:15] f0xy opened #6180 "Application Menu Shortcuts"
**Qubes OS version**
Qubes 4.0

**Affected component(s) or functionality**

.config/menus/applications-merged/ menu items not deleted on qvm-remove

**Brief summary**
Menu shortcuts remain after deletion.

**To Reproduce**

Steps to reproduce the behavior:
1. Remove Any VM or Template
2. Check .config/menus/applications-merged/

**Expected behavior**
Removal of menu items.

**Actual behavior**
Men

[2020-11-03 06:28] andrewdavidwong commented on #6179
Hm, probably Installation Troubleshooting, or, if it's really common, directly in the Installation Guide, in this section:

https://www.qubes-os.org/doc/installation-guide/#copying-the-iso-onto-the-installation-medium

By the way, I just noticed that the Installation Troubleshooting page doesn't appear to be linked from the Installation Guide at all, which means that the people who need it the mos

[2020-11-03 06:33] andrewdavidwong commented on #6180
Duplicate of #529

[2020-11-03 06:33] andrewdavidwong commented on #6180
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-03 06:33] #6180 closed

[2020-11-03 06:33] andrewdavidwong commented on #529
Reopening due to apparent regression reported in #6180.

[2020-11-03 06:59] ptitdoc commented on #6145
One option if you want to keep systemd-resolved is to use fix DNS configuration within it such as in `/etc/systemd/resolved.conf`.

I however had bad experiences with systemd DNS handling and a big mess with the `.local` domains.

[2020-11-03 07:56] fepitre commented on #6031
@andrewdavidwong Yes it's already available for both.

[2020-11-03 07:57] fepitre commented on #6091
Yes.

[2020-11-03 08:17] ethanchinaski commented on #6179
are you guys later able to close this issue ( even if its not an issue) by yourself or need me to close it later on ?

[2020-11-03 08:46] ol7278 commented on #3198
@loadcorp - go to https://ftp.qubes-os.org and download the  R4.0.2-RC1 iso. I have no explanation but it works with low resolution. (I believe it wrongly takes a radeon gpu driver). I'm using an rtx2080. After a successful installation, just update the kernel to the kernel latest from current testing repo: $sudo qubes-dom0-update --enablerepo=qubes-dom0-current-testing kernel-latest
It works perf

[2020-11-03 09:13] ol7278 commented on #3198
The issue will not be solved until a kernel 5.6+ will come as a default. It does not work on 4.1 alpha versions neither.

[2020-11-03 09:19] de-souza commented on #4667
Sorry, this would have deserved an explanation. This issue appeared for me until I added the `rpmfusion-free-updates` and `rpmfusion-nonfree-updates` repositories. After I did, the update widget started to behave normally.

[2020-11-03 10:05] GWeck commented on #6179
On my machine (Windows 7 with Rufus 2.5 and 3.8), the needed partitions are both on the installation USB stick, but the boot partition is not set to "active", although Rufus is told to copy the installation iso using `dd`.

The fix is to set the active bit using some other tool, like `gparted `on a Linux system, after creating the USB installation media. After setting this bit, the stick boots fin

[2020-11-03 13:53] icequbes1 commented on #6145
@ptidoc I agree that could resolve it as well, however my observation is the "Qubes OS" template approach is to not use any template-specific DNS configuration and rely on the upstream netvm to handle DNS by default. Of course the user can always update their template to do something else.

[2020-11-03 13:57] PROTechThor commented on #6179
@GWeck @ethanchinaski

Do you think [this pull request](https://github.com/QubesOS/qubes-doc/pull/1073) handles this issue?

[2020-11-03 16:16] ptitdoc commented on #6145
Yeah it is better to force /etc/resolv.conf to be a real file than to mess with systemd. However if I remember glibc will still use systemd resolver by default instead of /etc/resolv.conf, depending on different things such as how /etc/nsswitch.conf is set.

If you look at how nsswitch.conf is set:
`hosts: files mymachines myhostname resolve [!UNAVAIL=return] dns`

It will try to use systemd resol

[2020-11-03 16:43] GWeck commented on #6179
Currently, I don't see the active bit issue menrioned in the installation trouble guide. I think, it should be mentioned there.

[2020-11-03 16:57] PROTechThor commented on #6179
@GWeck I think I did mention it in the PR: https://github.com/QubesOS/qubes-doc/pull/1073/files

[2020-11-03 20:13] GWeck commented on #6179
Sorry - I did not see it there! So, that's fixed.

[2020-11-03 20:31] #6179 closed

[2020-11-03 20:32] ethanchinaski commented on #6179
many thanks for acting that fast, one reason more to stay with Qubes. you guys are a great team and i appreciate your work.

[2020-11-03 22:57] donob4n commented on #6166
Hi, I was thinking on adding a 'Compact View' option for hide the buttons text.

[2020-11-03 23:09] andrewdavidwong commented on #4667
I wonder why, though. For some reason, the VM though there were updates available, and only once it was able to check `rpmfusion-free-updates` and `rpmfusion-nonfree-updates` was it able to see that none were available? Why would it think that updates were available in the first place, though? Seems like there must be a bug somewhere.

[2020-11-03 23:55] marmarek commented on #4667
That indeed may be an explanation. If you have some package installed that depends on something from rpmfusion repo (for example you installed it in the past with rpmfusion enabled temporarily), then the normal update process won't be able to update said package with rpmfusion disabled (because of missing dependency). In that case, there it will appear as some updates are always available (because

[2020-11-04 00:01] andrewdavidwong commented on #4667
I bet that was exactly it.

[2020-11-04 00:06] #4667 closed

[2020-11-04 04:05] Rspigler opened #6181 "Enhance `Convert to Trusted PDF`"
Micah Lee has released Dangerzone, for the purpose of giving non-Qubes users access to the security benefit of `Convert To Trusted PDF` (although with Linux containers).

However, it has the added benefit that the input file can be any office document and the output still has searchable text.  I think this would be a good enhancement.

Here is the code:

https://github.com/firstlookmedia/dangerzon

[2020-11-04 04:05] marmarek opened #6182 "gbulb 0.6.1-4 update is broken"
This update breaks at least qvm-copy utility. Requires restarting qrexec-policy-agent to reproduce.

_Originally posted by @jevank in https://github.com/QubesOS/updates-status/issues/2169#issuecomment-720983306_

[2020-11-04 04:11] #6182 closed

[2020-11-04 09:52] mato commented on #6162
Support for a multiboot header could indeed be added to the Solo5 Xen bindings. However, we'd need to verify / look into at least two things:

1. That the presence of both a `XEN_ELFNOTE_PHYS32_ENTRY` and a multiboot header in the same binary don't confuse the mainline Xen toolstack; for mainline we definitely want direct kernel boot.
2. That the VCPU start-of-day environment as seen by Solo5 `boo

[2020-11-04 11:57] marmarek opened #6183 "[Build 4.0.4-rc1pre3] openQA test fails in install_welcome"
## Observation

openQA test in scenario qubesos-4.0-install-iso-x86_64-install_keyboard_layout@uefi fails in
[install_welcome](https://openqa.qubes-os.org/tests/13217/modules/install_welcome/steps/22)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [4.0.4-rc1pre2](https://openqa.qubes-os.org/tests/13189)

## Expected result

Last good: [4.0.4-rc1pre1](https://open

[2020-11-04 12:34] marmarek commented on #6162
Yes, mostly it (ELF parser, decompressor etc). It also allow slightly easier unikernel-vm packaging, as for other VMs we ship just disk image - but that's related to our tooling, not really a security feature.

[2020-11-04 12:39] marmarek commented on #6162
I haven't looked into details that much, but I think separate entry point may be needed, multiboot "start info" (or whatever is the correct term) structure layout is slightly different from native PVH one, although I think contains the same data.

[2020-11-04 16:07] marmarta commented on #6176
Hmm, do you get notifications "[VM] has started" for those VMs? Or just "[VM] is starting"?

[2020-11-04 16:18] marmarta commented on #6171
That looks like a problem with libfortran library... could you perhaps check what version of it do you have in dom0 ( `rpm -qa || grep fortran` is an easy way)?

[2020-11-04 16:19] marmarta commented on #6171
Also @marmarek , we should be installing libgfortran with gcc, right? Because this looks like missing dependencies, but how can anything work with missing libgfortran?

[2020-11-04 16:24] marmarta commented on #6166
That's a very good idea. I'd keep the text as default (as when someone runs QM for the first time the buttons can be unclear), and store if this option was selected in settings. Do you want to do it?

[2020-11-04 16:42] marmarta commented on #6153
This was fixed by https://github.com/QubesOS/qubes-manager/commit/42affe0da66bdb5c3fab354ec5e1b6b815398fdc#diff-21dd7831456be115c64d4308caf06c2bea26300c1be7b188789bfdf736db42e0 ; definitely will be in 4.1, I think it's also in the testing branch.

[2020-11-04 16:42] #6153 closed

[2020-11-04 16:51] marmarta commented on #6137
Yeah, we can add this resizing easily, I just checked it does work. Will push a simple PR to 4.0 with it.

[2020-11-04 16:53] marmarta commented on #6136
@marmarek , can we fix this? Reassigning this to you, as website stuff is the Necronomicon for me.

[2020-11-04 17:00] marmarta commented on #5677
I'm a bit scared about user-defined groups - mostly about the complexities of configuring it.

[2020-11-04 17:59] marmarek commented on #6171
libgfortran is normally installed and set as dependency of appropriate packages. Perhaps it is some kind of disk issue? @KnightWhoSaysNeeeowWumPing can you verify that:
1. You have libgfortran installed: `rpm -q libgfortran`
2. All its files are in place: `rpm -V libgfortran` (if everything is ok there should be no messages)

[2020-11-04 19:20] marmarek commented on #6162
Multiboot PVH booting: https://github.com/Solo5/solo5/pull/482

[2020-11-04 19:36] marmarek commented on #6162
Just checked - when booted directly, it is started in native PVH boot path.

[2020-11-04 20:08] DemiMarie commented on #6176
Not sure.  I will keep a look out.  The problem only arises at dom0 boot, so it isn’t easy to reproduce.

[2020-11-04 21:15] donob4n commented on #6166
Oh yes, I tried to do it yesterday but it seems that there is no option for hide the text so I will have to store it somewhere and replace with empty strings.

[2020-11-04 21:45] deeplow commented on #5677
Fair point. A drag-and-drop approach could make this simple. Like the iPhone's dynamics for creating an app folder. But this might be a phone dynamic and not so much a desktop one.

Anyways it's just an idea which could address https://github.com/QubesOS/qubes-issues/issues/2646

![](https://img.buzzfeed.com/buzzfeed-static/static/2016-01/4/16/enhanced/webdr08/anigif_enhanced-16934-1451943215-8.gi

[2020-11-04 22:30] donob4n commented on #6166
self.toolbar.setToolButtonStyle(Qt.ToolButtonIconOnly) does the trick!

[2020-11-04 22:45] marmarek opened #6184 "Do not activate not currently used LVM volumes"
**The problem you're addressing (if any)**

Active LVM volumes takes some kernel resources, but also activating them takes time. Active volumes also require more locking on LVM side when handling them - for example when creating a snapshot (volume clone) if source volume is active, it needs to be suspended. This takes time.

**Describe the solution you'd like**

Keep active only volumes currently

[2020-11-04 22:50] marmarek commented on #6136
I fixed it to have nice message instead of a PHP dump. But for some the message may still be not clear that cookies are needed:
[code]

[2020-11-04 22:50] #6136 closed

[2020-11-04 23:13] marmarek commented on #5929
Clarification: the current attempt is to setup package builds on our infrastructure. This way you have the same trust the packages comes from original sources, as for other templates. But, it does not change "support status" for the template - we do not promise anything about its stability, do not release security bulletins for Arch-related issues etc. This may change in the future, but not right

[2020-11-04 23:26] andrewdavidwong commented on #5929
I've updated the title of this issue in an attempt to capture Marek's clarification.

[2020-11-04 23:29] marmarek commented on #5708
Just to be clear - version of qemu in stubdomain has nothing to do with PVH domains. Qemu is not used for PVH at all. But the setting may still be relevant, as Xen do virtualize CPUID.
@0spinboson @sama-boop can you confirm it works with SMT disabled too (the qubes default, you can confirm looking at `smt=` in `xl info`) ?

[2020-11-04 23:43] andrewdavidwong commented on #6169
Forum thread: https://qubes-os.discourse.group/t/backups-with-a-single-archive-per-qube/1328/

[2020-11-05 08:16] 0spinboson commented on #5708
yes, for me it works both with smt off and on.

[2020-11-05 08:27] fepitre commented on #6039
@marmarek the update needed for Salt is in stable updates: https://koji.fedoraproject.org/koji/buildinfo?buildID=1634220. I've launched the build.

[2020-11-05 11:03] donob4n commented on #6169
Ey, since I'm thinking on add some functionality to Qube Manager, maybe an option in context menu for directly backup a Qube could hep on this.

Also, since last Qube Manager support multiple selection, you could select a group of Qubes and directly backup them.

Respect the part for search a Qube or delete an unneeded old backup, an solution could be to write an optional backup summary file with

[2020-11-05 14:18] ptitdoc commented on #6172
I confirm this problem and the solution works for me.

Also the current dependency on archlinux is:
`depends=( 'alsa-lib' 'alsa-utils' 'pulseaudio-alsa' 'pulseaudio<14.0')`

is not restrictive enough because 13.99.3 being < 14.0 qubes-vm-pulseaudio will be hapilly updated but will break sound.

I would prefer more restrictive version dependencies so that users know that they will break sound if th

[2020-11-05 14:41] ptitdoc commented on #5823
For information, after changing to 400MB this occured less frequently, but this still occurs. I still ends up with high CPU, kworker showing cpu usage in TOP.

[2020-11-05 14:52] ptitdoc opened #6185 "Mouse clicks ignored when changing screen layout with already running Qube"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
mouse

**Brief summary**
After extending the screen, If I put a windows **completely** into the second screen, mouse clicks on the windows content won't work.

I don't remember if it has been discussed in the past as I cannot find the issue. Basically, I think that the GUI agent inside my Qubes don't know that the screen has bee

[2020-11-05 15:00] marmarek commented on #6185
Take a look at https://www.qubes-os.org/doc/gui-configuration/

[2020-11-05 15:29] donob4n commented on #5679
Hi, (Not sure if discuss here or start another issue)

I would like to add more functionally to Qube Manager directly handled from the main window, I will put some ideas here like a brain storm before doing anything:

- [ ] Change VM names with double click on 'Name' cell (it will show a confirmation dialog for avoid errors)
- [ ] Change NetVM/Templates/Default DispVM for use directly a ComboBox w

[2020-11-05 15:54] ptitdoc commented on #6185
Thanks I will try out, but I don't think it is related to video issues. The video is working properly on both screens, only I cannot interact with GTK widgets inside the window (I can interact with window border). It's like the VM mouse pointing coordinates are wrong because the qube don't know about a second screen and think the mouse is out of borders.

I will try running the VM in debug mode to

[2020-11-05 16:45] donob4n opened #6186 "Consider disabling unused repositories in minimal templates"
**The problem you're addressing (if any)**

From a security perspective the most critical attack vector for a template is their enabled repositories so having some enabled without a real need is just an avoidable risk.

**Describe the solution you'd like**

Disable fedora-cisco-openh264.repo and probably fedora-modular too from fedora-XX-minimal

Maybe adjust the documentation if some of them shou

[2020-11-05 18:07] ninavizz commented on #5679
Those are great suggestions @donob4n TY for sharing here! Will totes keep in mind. Yeah, "Template Manager" as a different thing from "Qube Manager" makes little sense to me. If it's a template, it should have the options for managing templates; if it's an app qube, it should have options for an app qube.

[2020-11-05 18:14] ninavizz commented on #5677
Drag-and-drop works great on Apple devices; not so much, on Lenovo and other PC devices. Also, the iPhone is a touch interface; and its desktop is a very different experience from a menu. Generally with menus, drag-and-drop is a really bad idea. Any editing of a menu outside a designated "Edit this" experience, is an anti-pattern.

[2020-11-05 18:19] ninavizz commented on #4705
I definitely feel that warning is confusing. The pattern that's being described above is also very confusing, and unique to Qubes OS in a fashion that feels necessary; but could use some refinement. Will keep on my plate to look at in the future when we have the bandwidth to reconsider broader desktop experience things.

[2020-11-05 18:35] donob4n commented on #5679
Well I see it as a workaround for changing multiple templates at once when there was no easy alternative.

I will start working on it.

[2020-11-05 19:26] marmarek commented on #5679
I would rather avoid it. Changing a VM name is a heavy operation with many side effects (changes to menu, VM disks, references in other VMs), some things may even be lost on rename (for example currently qrexec policy - https://github.com/QubesOS/qubes-issues/issues/5147). There are also non-trival rules when VM can be renamed - for example it cannot be running, but also for TemplateVM, none of VM

[2020-11-05 20:05] 100111001 commented on #5677
I'd like to support the idea of customizable grouping. My use case is having 8 messangers having in 8 different AppVMs. This makes the current menu quite long without any need. How about possible alternatives:
- AppVMs with the same prefix are grouped?
- What about having an optional group name in the AppVm settings?
- Allow advanced users to group AppVms by qvm-prefs?

[2020-11-05 20:44] DestroyFX commented on #5670
I did not see anything since a while here.
Is that fixed in last build?

[2020-11-05 20:54] andrewdavidwong commented on #6186
- If a repo is enabled but unused, then I'm guessing the (only) threat is from potentially malicious repo metadata being downloaded and parsed by dnf or apt.

 - When I install packages in a minimal template, I carefully select the minimum number of packages I need, and I write them down in a list in case I need to re-create the template in the future. However, I have no idea which repo my package

[2020-11-05 21:09] andrewdavidwong commented on #5679
I agree that double-clicking on a qube's name should not prompt to rename. It would be more intuitive if double-clicking on a qube's name started that qube or brought up the Qube Settings window for that qube. (It currently does nothing.)

However, I'm not sure I agree about *discouraging* renaming. There are many situations where I find that I must rename a qube, and there is no other good option

[2020-11-05 21:13] andrewdavidwong commented on #5677
This might be an opportunity to leverage the existing (and no doubt highly underutilized) tag functionality (`qvm-tags`):

https://www.qubes-os.org/doc/qrexec/#qubes-rpc-administration

[2020-11-05 21:17] marmarek commented on #5679
Yes, there are cases when rename is useful, sure. I'm not proposing removing this feature. I'm proposing keeping it where it is (VM settings), and not adding it to the main window.

[2020-11-05 21:58] donob4n commented on #6186
But if some repository is compromised (e.g. fedora-cisco-openh264) could it force you to upgrade a package that you installed from another repository?

With 'dnf list' you get a list of installed packages and the third column shows the source of the package.

[2020-11-05 22:06] donob4n commented on #5679
Ok. @andrewdavidwong idea seems better, start or open settings dialog.

Well, this could happen with standard way too (I had no idea about it). Maybe we should warn about it in some backup dialog.

Thanks, I'm glad to help.

[2020-11-05 22:11] andrewdavidwong commented on #5679
I wouldn't want to end up a hundred obscure warnings all over Qubes that only a fraction of users will understand. Perhaps just a general warning to keep your backup passphrase secret (which precludes using backups to share qubes along with a bunch of other things).

[2020-11-05 22:15] fepitre commented on #5679
Is redesign also means possible switch from Qt to Gtk? :innocent:

[2020-11-05 22:23] andrewdavidwong commented on #6170
Oh, sorry. I thought this issue was just for 4.0.4-rc1.

[2020-11-05 22:27] donob4n commented on #5679
Uff do you think it would suppose some important advantages? Ask @WillyPillow , he started the new 'Template Manager' with gtk and rewrote to qt  :crying_cat_face: .

[2020-11-05 22:37] fepitre commented on #5679
Well..less Qt because Qt!? Ok this is not an argument  just less libraries just for Qt stuff for Manager :)

[2020-11-06 01:12] ninavizz commented on #5679
I'd LOVE to see QubesManager redesigned, but it's also important to do design iterations via wireframes, critique iterations, do user testing, and to consider ways to make things intuitive w/ best practices abreast factoring-in necessary impact checks (such as how to archive or rename a qube).

I also feel that what is currently done in "QubesManager" should be part of a broader settings/managemen

[2020-11-06 01:18] ninavizz commented on #5677
If a new App menu allows users to customize it, I'd rather there be a unique UI just to customize the app menu, vs requiring users jump through CLI or rpc/qvm brain hoops. All of that is very brain-hurty and not intuitive to non-technical users... and while the current userbase of Qubes is like 2/3 developers, it is an ulterior motive of my own to help shape its core UX functions to make it easier

[2020-11-06 02:37] jon-bit commented on #6028
OK got it working. Thanks! However There is another problem and that is that I cant build Ubuntu. Would that be a new issue or should I post it here?

[2020-11-06 02:39] unman commented on #5677
On Thu, Nov 05, 2020 at 05:18:45PM -0800, Nina Eleanor Alter wrote:

Is that "2/3 developers" based on the results of the user survey?

[2020-11-06 05:53] andrewdavidwong commented on #5677
Oh, I wasn't suggesting that the *interface* be `qvm-tags`, just that it might be useful to leverage that under the covers. Certainly the interface should be much less brain-hurty. There's a reason qvm-tags is probably highly underutilized! :slightly_smiling_face:

[2020-11-06 06:06] andrewdavidwong commented on #6028
Sounds like that should be a separate issue, since this one is about Arch Linux (unless it's somehow the same bug, in which case this issue should be updated).

[2020-11-06 06:44] jon-bit commented on #6028
OK closing. Thanks everyone for the help!

[2020-11-06 06:44] #6028 closed

[2020-11-06 07:23] ptitdoc commented on #6185
Sorry I missed the FAQ in https://www.qubes-os.org/doc/gui-troubleshooting/:

Even if it makes little sense to me (why video RAM is needed for clicking?) it seems to solves the problem.

And a google search ends on this page... I only looked at issues somehow. Sorry for bothering you.

[2020-11-06 07:25] #6185 closed

[2020-11-06 07:45] jon-bit opened #6187 "Ubuntu template won't build on Qubes 4.1"
**Qubes OS version**
4.1

**Affected component(s) or functionality**
the qubes-builder repo.

**Brief summary**
I tried building a Ubuntu template on qubes 4.1 and the result is always the same.

**To Reproduce**
I run the setup script and accept the dependencys. then I do

4.1
Stable
Yes
OK
yes
focal
builder debian

I run `make install-deps` and `make get-dources` Just fine but when I run `make q

[2020-11-06 09:58] cheznewa commented on #2523
I Created A Script For More Colors :::::::::::::::::::::::::::::: https://github.com/cheznewa/MyGist/blob/master/morecolorqubesos.bash

[2020-11-06 09:58] donob4n commented on #5679
Well I think that the biggest problem of Qube Manager is handling a very big group of AppVM's, Templates, etc... Even having search, show running/halted/etc filter...  it looks very messy.

When I talked about the 'Tree View' I was imagining something like this: (It's also pyqt hehe)

![](https://www.snapfiles.com/screenfiles/vlc2.png)

The (Playlist/ My Computer / Devices) could be used in the fu

[2020-11-06 12:23] marmarek commented on #5708
This is a Linux bug that needs a proper fix on the Linux side, instead of workaround via CPUID change. Some preliminary patch is here: https://lore.kernel.org/xen-devel/20201106003529.391649-1-bmasney@redhat.com/T/#u, but it isn't reviewed yet.

[2020-11-06 12:44] johnnyboy-3 commented on #3966
**The problem you're addressing (if any)**
If you want to convert multiple jpegs to trusted jpegs (using nautilus, select files, right click -> Convert To Trusted Img: qubes opens a DVM, converts one single file, closes the DVM. Then takes the next file, opens a DVM, converts the jpeg, closes the DVM, etc ... if you have 40 files you want to convert, qubes fires up 40 DVMs in total which takes a l

[2020-11-06 13:23] deeplow commented on #5677
Ok. You're the expert here.

I also wanted to bring to your attention @ninavizz something that I've [brought up before](https://github.com/QubesOS/qubes-issues/issues/5677#issuecomment-683267334) but hasn't been addressed yet and I think may be important.

It's that Qubes OS is supposedly [migrating to gnome](https://github.com/QubesOS/qubes-issues/issues/1806#issuecomment-195173097) (currently bl

[2020-11-06 14:13] marmarek commented on #3437
Duplicate of #2272

[2020-11-06 14:18] marmarek commented on #2272
There are two conflicting requirements here:
1. qvm-block requires _unique_ identifiers
2. any identifier based solely on a device properties may not be unique (if you plug two identical devices for example, or one pretending to be the other)

To see it yourself, you can easily do that with loop block devices: simply attach the same file as both `/dev/loop0` and `/dev/loop1`. The same will happen

[2020-11-06 15:24] emkll opened #6188 "Qubes updater failure when default-mgmt-dvm set to fedora-31 or fedora-32"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Qubes Updater / Fedora-31 template, Fedora-32 template

**Brief summary**
After updating the Fedora-31 and 32 templates today, the Qubes Updater GUI can no longer update Templates. This is likely due to the salt/salt-ssh updates upstream.

**To Reproduce**

default-mgmt-dvm should be set to fedora-31 (this is from a 4.0.3 iso in

[2020-11-06 15:48] marmarek commented on #2272
The stable id implementation I'd see like this:
1. define property name and its constraints (allowed characters, length etc), document at https://www.qubes-os.org/doc/admin-api/
2. (backend vm side) calculate the stable id from device and store it besides other device properties: https://github.com/QubesOS/qubes-linux-utils/tree/master/udev
3. (dom0 side): add optional property to the base DeviceI

[2020-11-06 16:50] GSF1200S commented on #6188
I'm suddenly having issues updating fedora-32-minimal both using Fedora-32 as the Template for default-mgmt-dvm AND using Debian-10 as the Template as well. Here's the error message using Debian 10 as default-mgmt-dvm:

[code]

This did allow for fedora-32-testing to upgrade. Using fedora-32 as the Template for default-mgmt-dvm:

[code]

Using fedora-32 as the Template for default-mgmt-dvm did all

[2020-11-06 17:59] andrewdavidwong opened #6189 "Using qubesctl to update templates results in traceback mentioning qubes-vm-connector"
**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

salt, qubes-vm-connector?

**Brief summary**

Using qubesctl to update templates results in traceback mentioning qubes-vm-connector.

**How Reproducible**

Only started observing today. Observed three times in a row immediately following two normal updates in a row.

**To Reproduce**

[code]

**Expected behavior**

Normal up

[2020-11-06 18:40] conorsch commented on #6189
Hey @andrewdavidwong, this sounds like the same issue reported in #6188. Could you check what the following commands show?

*  `qubes-prefs default_template`
* `qvm-prefs default-mgmt-dvm template`

I'm guessing both will be `fedora-31`, or something else newer than `fedora-30`. Could you confirm?

[2020-11-06 18:51] andrewdavidwong commented on #6189
Yep, they're both based on fedora-32-minimal.

Thanks for the pointer. Closing as a duplicate of #6188.

[2020-11-06 18:51] #6189 closed

[2020-11-06 19:09] tlaurion opened #6190 "Qubes Manager feature for prioritizing VM scheduling"
**The problem you're addressing (if any)**

Videoconference lagging, choppy video, choppy audio

**Describe the solution you'd like**

Option to let users prioritize "Videoconf" or other AppVMs from QubesOS manager, seeing at a glance the priority of other AppVMs from the overview and sorting the column by this field.

On dom0 backend, resulting call to be done would be to apply `xl sched-credit -

[2020-11-06 19:09] tlaurion commented on #6190
@marmarta ?

[2020-11-06 19:16] andrewdavidwong commented on #5679
Related: #2646

[2020-11-06 20:04] DemiMarie commented on #6188
I ran into this problem myself, and have a patch.  I will submit a PR shortly.  @andrewdavidwong can you assign me to this issue?

[2020-11-06 20:15] DemiMarie commented on #6188
Salt used to pass the command to run as the standard input of SSH, but has since changed to pass it in the arguments to SSH.  This caused an assertion in ssh-wrapper.

[2020-11-06 20:16] andrewdavidwong commented on #6188
Assigned. Thank you, @DemiMarie!

[2020-11-06 20:35] andrewdavidwong opened #6191 "Improve Verifying Signatures for Windows and Mac users"
**The problem you're addressing (if any)**

[Verifying Signatures](https://www.qubes-os.org/security/verifying-signatures/) was written primarily with Linux in mind. It needs to be improved for Windows and Mac users.

**Describe the solution you'd like**

Add or enhance instructions for Windows and Mac users.

**Where is the value to a user, and who might that user be?**

People coming from Window

[2020-11-06 20:39] andrewdavidwong commented on #6191
I've added a "Preparation" section that points out programs for Windows and Mac users. Unfortunately, however, I don't have access to such systems for testing commands writing specific documentation for those OSes.

@PROTechThor, any chance you might want to do this?

[2020-11-06 21:11] conorsch commented on #6188
Wonderful, thanks for tackling it! @DemiMarie don't hesitate to ping here for testing once you have a PR up.

[2020-11-06 22:14] andrewdavidwong commented on #6186
Not sure. @marmarek, what do you think?

Ah, that's a handy tip. Thanks!

[2020-11-07 00:24] marmarek commented on #6190
By changing scheduling parameters it is way easier to make your system completely unusable than to actually fix something.
If you really know what you are doing, you'll manage do make that one `xl` call when you really need it.

As for choppy audio/video, I bet the answer is different - this particular thing works quite poor in Firefox, but works fine in Chromium. In the very same VM, with the ver

[2020-11-07 03:04] PROTechThor commented on #6191
@andrewdavidwong Sorry, I can't help here. I don't have those systems either.

[2020-11-07 03:15] DemiMarie commented on #6191
One idea would be to write a download tool and sign it with an ITL code-signing certificate.  That avoids users needing to worry about verifying the keys themselves, since the tool would be signed with a certificate trusted by Windows.

[2020-11-07 04:58] DemiMarie commented on #2721
This should be P: blocker, not P: minor.  @andrewdavidwong can you make me part of the @QubesOS organization?

[2020-11-07 06:09] iamahuman commented on #6181
[dangerzone-converter] uses OCR recognition provided by [Tesseract], which wouldn't support _every_ Unicode codepoints out of the box.

Porting this to `qubes-app-linux-pdf-converter` means an extra dependency, which by itself could entail other security issues, more or less.

Perhaps we could extract PDF text and its box coordinates in a safe format. Switching to GraphicsMagick (#5009) sounds des

[2020-11-07 06:48] icequbes1 commented on #6188
Updates in SaltStack 3001 on November 3 were tied to three CVEs, this one probably explains the changes to what we see:

Advisory: https://www.saltstack.com/blog/on-november-3-2020-saltstack-publicly-disclosed-three-new-cves/

I performed a quick test of @DemiMarie's PR by building for mgmt-salt-vm for fc32 and installing the qubes-mgmt-salt-vm-connector onto my fedora 32 template; it does resolve

[2020-11-07 09:29] neowutran commented on #6181
Related to this https://github.com/QubesOS/qubes-app-linux-pdf-converter/pull/9 (office document + graphics magick. But not searchable text). But currently having issues with recent libreoffice version

[2020-11-07 10:13] deeplow commented on #6191
Good point. If I were windows user (unfamiliar with GPG) verification would probably be very daunting and there would be some steps that I wouldn't probably be able to make securely  (Even a lot of qubes users [don't do this properly](https://qubes-os.discourse.group/t/signed-q4-1-alpha-iso/981/6)).

Tails has overcome this burden similarly to your suggestion @DemiMarie instead making a Firefox ex

[2020-11-07 11:18] marmarek commented on #6186
Yes, dnf does not consider source repository when looking for update - any repository can ship update for example to bash package.
So, yes, generally I consider this a good idea, although it is against https://www.qubes-os.org/faq/#what-is-qubes-attitude-toward-changing-guest-distros. Same as some other exclusion in -minimal template.
@donob4n can you prepare an update to minimal template document

[2020-11-07 11:55] donob4n commented on #6186
Ok!

[2020-11-07 12:33] Tasty213 commented on #3281
Issue is still happening from libre office about:
Version: 6.4.6.2
Build ID: 1:6.4.6-0ubuntu0.20.04.1
CPU threads: 4; OS: Linux 5.4; UI render: default; VCL: gtk3;
Locale: en-GB (en_GB.UTF-8); UI-Language: en-GB
Calc: threaded

[2020-11-07 14:33] unman commented on #3281
On Sat, Nov 07, 2020 at 04:33:52AM -0800, Tasty213 wrote:

This is *not* specific to libre office, although you may see it there.
I regularly have xterm windows opening as tiny window in top LH corner of
screen, particularly with dual monitors.
As I have kboard shortcuts to maximise/move, no biggy.

[2020-11-07 14:41] hackerncoder commented on #6191
I have access to a Windows computer, however no mac. I can do some of it.

&nbsp;

I am all for this. It is an easy solution for users, that doesn't require them to install software on their computers (how does mac install software?).

[2020-11-07 16:20] #6188 closed

[2020-11-07 22:41] Rspigler commented on #6181
I hadn't noticed your work. (Thank you!) I am going to edit now to just be an issue for searchable text.

[2020-11-07 22:48] Rspigler commented on #6181
Unless that is inherent in the design of only passing the bitmap back to the AppVM, and then this should be closed.

[2020-11-08 02:59] marmarek commented on #6188
In case you have already salt-3001.3 installed in template for default-mgmt-dvm, the fix needs to be installed by manually calling `dnf update --refresh` (with `--enablerepo=qubes-vm-*-current-testing` option, until the update migrates to the `current` repository in about a week) in the template - Qubes updater won't work for this.

[2020-11-08 03:22] marmarek commented on #6174
Swap may be some factor here, but definitely not the only one. HVM seems to boot significantly slower even with the same kernel from dom0.
[Here](https://gist.github.com/marmarek/d9d246ce12c173b2689aa73e56b53471) are two boot logs, one PVH, the other one HVM:
 - PVH took 6s to boot
 - HVM took 24s  to boot

Part of it is because of stubdomain startup (10s between `Logfile Opened` line and the firs

[2020-11-08 04:43] andrewdavidwong commented on #2721
Updated, thanks!

Looks like someone already did this. Welcome! :slightly_smiling_face:

[2020-11-08 04:59] andrewdavidwong commented on #6190
It sounds like this is a "won't do." If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-11-08 04:59] #6190 closed

[2020-11-08 05:58] andrewdavidwong commented on #3281
I regularly have xterm windows opening as tiny window in top LH corner of
screen, particularly with dual monitors.

I've personally never witnessed this with xterm (or any other program besides LibreOffice), but I've generalized the issue title a bit just in case.

[2020-11-08 06:01] andrewdavidwong commented on #6181
Hm, this is probably a security question for @marmarek.

[2020-11-08 06:18] andrewdavidwong commented on #6188
Slight confused:

 - There's no builder-github announcement for Fedora templates (only dom0, CentOS, and Debian).

 - Not sure which exact package from current-testing needs to be updated in the template used for default-mgmt-dvm. Would like to avoid updating *all available* in current-testing (e.g., img converter, passwordless root). Only need what's necessary for this particular fix. Guessing it

[2020-11-08 10:00] marmarek commented on #6188
Yes, this one.

As for the other two, I've just fixed it. The issue was just with comments, labels were properly added (including `*-fc*-cur-test`).

[2020-11-08 14:42] 100111001 commented on #4604
I confirm that with a i7 8550U, scaling 400 MHz - 2000 MHz seems to work:
`dom0: xenpm start 1`

CPU2:	Residency(ms)		Avg Res(ms)
  C0	45	( 4.54%)	0.15
  C1	3	( 0.36%)	1.78
  C2	45	( 4.51%)	0.68
  C3	12	( 1.26%)	0.57
  C4	72	( 7.28%)	2.21
  C5	72	( 7.25%)	2.50
  C6	492	(49.25%)	4.48
  C7	255	(25.56%)	5.95

  P0	0	( 0.00%)
  P1	0	( 0.00%)
  P2	0	( 0.00%)
  P3	7	(17.02%)
  P4	0	( 0.00%)
  P5	0	( 0.0

[2020-11-08 16:01] xaki23 commented on #6162
Solo5/solo5#482 tested + working.

the hardest part was figuring out how to pin the right thing...
[code]

[2020-11-08 16:54] cobordism commented on #4610
When launching Qubes, I get about 2 frames per second and only a single (wrong) resolution.
When following along here https://www.qubes-os.org/doc/nvidia-troubleshooting/ to get an xorg.conf.new with ShadowFB and nouveau, I can not start Xorg "No screens found".

I feel like I am getting either incomplete or contradictory instructions.

What are the steps I need to take to get Qubes into a semi-us

[2020-11-09 03:18] marmarek commented on #3125
There were at least 3 completely different bugs discussed here already (wrong xen-hvm-stubdom-linux package version, hardware lacking IOMMU, and startup race condition). Since all of them are either fixed or tracked elsewhere, I'm closing this quite already confusing issue.

[2020-11-09 03:18] #3125 closed

[2020-11-09 09:58] p1gp1g opened #6192 "Fedora-32 can not update with qubesctl"
**Qubes OS version**
`R4.0`

**Affected component(s) or functionality**
Updater, qubesctl, fedora-32 template

**Brief summary**
Updating fedora-32 template with qubesctl (or with the updater icon on system tray) fails.

**How Reproducible**
The bug always occurs when I want to update via the updater icon (or qubesctl). I don't know how reproducible it is from a fresh install.

**To Reproduce**

S

[2020-11-09 10:01] marmarek commented on #6192
Duplicate of #6188

[2020-11-09 10:01] #6192 closed

[2020-11-09 10:02] marmarek commented on #6192
See this comment how to install the fix: https://github.com/QubesOS/qubes-issues/issues/6188#issuecomment-723523628

[2020-11-09 13:33] Kixunil commented on #2882
I just hit this problem. It started by some IO errors occurring inside the VM and FS got remounted readonly. So I thought maybe just rebooting will help. Sadly, I get this error when attempting to boot. I can't even attach console to it (via `xl console domain`).

This domain is quite important for work to me, so I'd appreciate a hint if there's some other way to attach console to it or something

[2020-11-09 14:38] mato commented on #6162
I've merged Solo5/solo5#482. Until we cut a release, you will want to use the following pin:

[code]

[2020-11-09 15:22] code9n commented on #2882
Hi,

Not sure why I've been CCd on this. I can't help, sorry, try asking on the QubesOS users google group: https://groups.google.com/forum/#!forum/qubes-users

good luck,

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, November 9th, 2020 at 1:34 PM, Martin Habovštiak <notifications@github.com> wrote:

[2020-11-09 16:51] 100111001 commented on #2766
Once again it happened that a snap was missing after a restart of the VM everything works again.

Both

and

show the same result not depending on whether snap is working or not.

[2020-11-09 22:58] andrewdavidwong commented on #2882
Please note that this has been closed as a duplicate of #1393. Unless you have reason to believe that this is not really a duplicate of #1393, please comment on #1393 instead.

[2020-11-10 08:14] fepitre opened #6193 "gentoo: add kernel-vm-support package"
When doing the Gentoo packaging, I've skipped the part of `kernel-vm-support` in `linux-utils`. It would allow to run in-VM Gentoo kernel.

Related to https://qubes-os.discourse.group/t/what-are-the-limits-of-gentoo-customization-on-qubes/1425.

[2020-11-10 11:15] Warthog-Capital opened #6194 "qubes-tunnel: Port forwarding"
**The problem you're addressing (if any)**
My VPN allows forwarding incoming connections on certain ports (aka port forwarding). If I run the VPN client directly in my AppVM, port forwarding works and my application can be reached from the outside. The [qubes-tunnel](https://github.com/QubesOS-contrib/qubes-tunnel) contrib package does not allow port forwarding so it doesn't allow the user to run

[2020-11-10 12:09] Coeos3 commented on #6188
My qubes-u2f stopped working around the same time this updater issue appeared. Could that be linked?

[2020-11-10 13:32] shaaati commented on #5861
I just upgraded Thunderbird and found the following workaround for the missing plguin (in fact I consider this more than just a workaround because it avoids many cases of inadvertend mis-use of the Mail-VM):

In  a Terminal of your mail VM execute the following:
- `sudo cp /usr/share/applications/mimeapps.list /etc/xdg/mimeapps.list`
- `sudo sed -i "s/=.*/=open_in_dispvm.desktop;/g" /etc/xdg/mimea

[2020-11-10 16:22] 3hhh opened #6195 "Decouple routing from firewalling / Allow Firewall VM != NetVM / Support passive network proxies"
**The problem you're addressing (if any)**

Qubes OS implements its firewall rules at the next downstream netvm.

**Describe the solution you'd like**

Qubes OS supports implementing the firewall rules at any downstream netvm picked by the user, defaulting to the next downstream netvm. The routing still happens inside the next downstream netvm.

This could be implemented as either a firewall VM pr

[2020-11-10 17:27] nereocystis commented on #5861
Yes, deleting the file obvious, but it is one more step to the process, which makes it less likely to be done.

Of course, leaving the file around is not a security risk, but what is a security risk is deciding that there are too many steps for safety, and then just opening the file in the thunderbird VM. That is what makes this less safe.

[2020-11-10 19:07] andrewdavidwong commented on #6195
Alternatively, you could declare the firewall rules for the IPS VM so that they're enforced in `sys-fw`.

You could create a second sys-fw just for this purpose:

[code]

*Optional

[2020-11-10 21:08] 3hhh commented on #6195
Indeed that's possibly the best approach right now, thanks!

It's essentially the manual variant of what I suggested and only has the drawback that firewall rules do not stick to their VMs  anymore, but to their network VMs. This then makes network "re-wirings" more error-prone, but still feasible.

Yes, but the IPS application would then still either run inside sys-fw-ips or between sys-fw and sy

[2020-11-10 23:44] DemiMarie commented on #4705
It probably is, but I think it is reasonable to impose limits on such windows.  For instance, they could be converted to normal titlebar windows, and limited in number per VM.  I would also be happy to just ban them from the task bar; in the case of QubesOS, it is are more annoying than it is beneficial.

[2020-11-11 00:22] marmarek commented on #4705
I would very much welcome a patch that do any of the above, _and do not break legitimate applications_.

[2020-11-11 00:53] ninavizz commented on #6167
Right. I'd like to see Qubes ship with cleaner & more intuitive defaults. I think I discussed this with @marmarta some time ago, and she suggested it could be easy. Marta, could you summarize what you'd had in mind, here?

Of course, world peace could be easy, too... if a few basic caveats could be met by all of humanity. Pride, greed, egos, etc. Small things, really.

[2020-11-11 02:08] marmarek commented on #6195
On Tue, Nov 10, 2020 at 01:08:43PM -0800, 3hhh wrote:

Yes, this is fundamental problem with your proposed solution. Only the
direct upstream VM (IPS in the example above) knows from where the
traffic comes.
There are two reasons for that:

1. Technical one: each intermediate VM does NAT, to avoid the need to
reconfigure the whole network chain when changing just one VM settings
(which also covers

[2020-11-11 04:39] #2721 closed

[2020-11-11 11:46] zpc0 commented on #5897
Intel has released new microcode. It contains update for Gen-8 mobile processor, so this issue may have been fixed.

[2020-11-11 12:51] jon-bit commented on #6187
Just an update the same thing happens with `bionic` and `xenial` and `+Desktop`. I don't know how desktop differs but the result is the same.

[2020-11-11 13:04] cobordism commented on #4610
I have tried
sudo qubes-dom0-update --enablerepo=qubes-dom0-current-testing kernel-latest -y.
I get told:
Package kernel-latest ...5.8.16-1... already installed,
but uname -r shows 4.19.152-1

Where can I change that?

[2020-11-11 13:29] ol7278 commented on #4610
Dom0: sudo dnf remove kernel-latest ...5.8.16-1...
Restart
Dom0: sudo qubes-dom0-update --enablerepo=qubes-dom0-current-testing kernel-latest -y.
Restart

[2020-11-11 13:57] cobordism commented on #4610
thanks @https://webchat.freenode.net/ I will try that.

In the meantime I have simply changed the `default` in xen.cfg. It boots. X starts and is smoother, but it is stuck on a single resolution... so I still have more to figure out. sigh..

For the record, I am booting qubes from another disk/grub using
[code]

[2020-11-11 16:18] 3hhh commented on #3258
Actually nowadays the same applies to `/usr/local` (cf. https://github.com/QubesOS/qubes-core-agent-linux/commit/86413df6d22976db11269ddba5725745b1443505). One could move everything to `/etc/qubes-bind-dirs.d/10_qubes-defaults.conf` or so as default to make it removable by the user.

However IIRC the "nothing mounted"/no bind-dirs option will still remain different from disposable VMs though as th

[2020-11-11 16:29] fisiognomico opened #6196 "Arch Linux template build fails due to missing requirements"
**Qubes OS version**
Qubes Release 4.0

**Affected component(s) or functionality**
Arch Linux Template

**Brief summary**
Building the template breaks in qubes 4.0 during the `make template` step.

**How Reproducible**
It seems to persist even after a complete project cleanup.

**To Reproduce**

Steps to reproduce:
1. On a fresh building qube, follow each step on the [Building Archlinux template g

[2020-11-11 16:42] shaaati commented on #4198
Just a quick update: This issue still seems to exist in a fully updated Qubes 4 installation. However, the behaviour seems to have changed a bit:
Both sys-net and sys-firewall are still created when running the salt formula, but they are not made the default for anything, as far as I could tell. So it was easily possible to delete them again after creation.
i double-checked `/etc/qubes-rpc/policy/

[2020-11-11 16:45] icequbes1 commented on #6188
I'd recommend opening a new issue. [python-u2flib-host](https://github.com/QubesOS/updates-status/issues/2183) was updated around same time, but that's still in current-testing.

[2020-11-11 17:21] marmarek commented on #6196
Duplicate of #6172

[2020-11-11 17:21] #6196 closed

[2020-11-11 17:25] marmarek commented on #6172
Hard to say, those seems to _not_ be official releases, but rather some development snapshots. TBH I have no idea why they are shipped as stable packages, but since many distributions do that, there is probably some reason.

[2020-11-11 18:20] 100111001 commented on #2766
Trying to execute the snap application at command line results in:

cannot perform operation: mount --rbind /dev /tmp/snap.rootfs_Sfyhgj//dev: No such file or directory

After a restart of the AppVM, the snap starts like a charm.

[2020-11-12 03:39] GSF1200S commented on #6160
I don't know if anyone will see this or if I need to open a new issue, but I'm still sort-of having the problem I mentioned along with qubes.InputMouse.

I pulled all the updates from testing (for the TemplateVMs and for dom0. This may be new expected behavior, but I want to make sure since it includes root. I have vm sudo setup, and sure enough when I start up sys-usb first time (debian or fedora

[2020-11-12 03:46] marmarek commented on #6160
Can you confirm `event6` is indeed the device you want to use? For example check in sys-usb `udevadm info -q all -n input/event6`. Either way, it is a bug (still the same one), but depending on your answer the fix may differ.

[2020-11-12 09:00] p1gp1g commented on #5897
I still can't boot with *microcode_ctl-2.1-31* :
[code]

[2020-11-12 09:14] iamahuman commented on #5897
You can also try updating BIOS/firmware to see if it has shipped microcode updates, just in case it's Xen microcode loader's problem.

[2020-11-12 09:47] andrewdavidwong commented on #6195
Ok, it sounds like this is a "won't do." If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-11-12 09:47] #6195 closed

[2020-11-12 12:22] andrewdavidwong commented on #2454
Sounds like this may not be working correctly. A user has [reported](https://www.reddit.com/r/Qubes/comments/js64z1/microsd_card_automatically_attached_to_dom0/):

[2020-11-12 12:23] andrewdavidwong commented on #2055
Seems like this should probably be closed in favor of #2454.

[2020-11-12 12:47] marmarek commented on #2454
Card reader was always there, inserting a card into a reader isn't the same as connecting PCI card reader itself. Especially - card itself cannot issue DMA, while (PCI) card reader can. BTW "PC Card" and "ExpressCard" are totally different things than "SD card". The former are hot-plugable PCI devices (which can do basically anything), the later is just storage medium.

So, while attaching SD card

[2020-11-12 13:04] andrewdavidwong commented on #2055
My mistake. These two are actually separate (see https://github.com/QubesOS/qubes-issues/issues/2454#issuecomment-726056960).

[2020-11-12 13:05] andrewdavidwong commented on #2055
I know think it would be better to assign memory card readers to the USB qube by default, rather than relying on users to know about the option and opt in, so I've updated the issue title to reflect this.

[2020-11-12 13:06] andrewdavidwong commented on #2454
Ok, my mistake. Thanks for the clarification. I've reopened #2055 for the separate request.

[2020-11-12 13:08] andrewdavidwong commented on #2055
@marmarek, is this also relevant to security? Even though, as you pointed out in https://github.com/QubesOS/qubes-issues/issues/2454#issuecomment-726056960, memory cards are just storage devices, it still seems like a security risk to have them connect to dom0 for _some_ of the same reasons as USB storage devices.

[2020-11-12 14:42] marmarek commented on #2055
Generally yes, it is better to connect them to USB qube by default. But still the risk is much smaller than for USB, because here you have fixed device type instead of "anything" in case of USB. So, only filesystem parsing code + actual card reader driver code is exposed.
One practical issue is quite popular combined Realtek network + sd card reader device (why?!), which can't be separated and tri

[2020-11-12 21:01] yg-ht commented on #6152
Just thought I would let you know that I have experienced the same issue and solution and it is fixed persistently across reboots.

A bit more background / info in case it is useful for diagnosis:

Laptop was working fine yesterday, no updates / config changes completed and powered off as normal.  This evening turned on and after login this problem was immediately present.  No known trigger events

[2020-11-12 21:07] 3hhh opened #6197 "qvm-run works with any VM parameter"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

`qvm-run`

**Brief summary**

`qvm-run` accepts any VM parameter, even non-existing VMs.

**How Reproducible**

Always.

**To Reproduce**

[code]

**Expected behavior**

A non-zero exit code and an error message indicates incorrect usage.

**Actual behavior**

A zero exit code is set, no message at all.

**Notes**

I guess this

[2020-11-12 21:11] marmarek commented on #6197
This gets interpreted as "run `broken` command on no VM"...

[2020-11-12 22:18] tlaurion commented on #6188
So oneliner:
1- Open up templatevm fedora-31 or fedora-32
2- run `sudo dnf update -y --refresh --enablerepo=qubes-vm-*-current-testing qubes-mgmt-salt-vm-connector`

[2020-11-12 23:30] GSF1200S commented on #6160
Sorry for the delay. Running that command I can confirm that event6 is indeed my mouse USB fob (the one I want to use). I'm pretty sure the mouse (Logitech MX Anywhere 2) has one of those unified receiver fob deals, so I see: ID_INPUT_MOUSE=1, ID_INPUT_KEY=1, and ID_INPUT_KEYBOARD=1 but I'm still only using it for the mouse. FWIW my issue occurs with no other USB device/fob/etc plugged in. If you

[2020-11-13 02:16] #6155 closed

[2020-11-13 04:25] #5992 closed

[2020-11-13 22:34] mukens commented on #5980
Same here on a Lenovo ThinkPad L14 gen1 with AMD Ryzen 5. I have to add vga=keep as a xen parameter when booting though, otherwise i get only a black screen.

[2020-11-13 23:09] DemiMarie commented on #673
One approach would be to have a `qubes.Random` RPC service.  This would read from dom0’s `/dev/urandom` as many bytes as were requested, or write as many bytes as provided.  This is secure provided the dom0 kernel CSPRNG is secure.

There are other sources of entropy available as well:

- TPM (dom0)
- Microphone (dom0, not sure if this is a good idea)
- Cameras (sys-usb)
- Analog sensor noise

[2020-11-13 23:36] ninavizz commented on #5677
@deeplow Thx for the additional context and suggestions, they are always helpful and appreciated!

Not a lot right now, tbh—but I like the idea of migrating to Gnome. Mostly, because of how modular and much more well considered its UX is. That said, there are so many things in the cooker right now, as possibilities for an app menu... and user testing as well as implementation resources, will deter

[2020-11-13 23:38] ninavizz commented on #5521
Any chance this'll make it into 4.1 @marmarta ??

[2020-11-14 08:02] andrewdavidwong commented on #673
I think Qubes users are particularly likely to have these disabled.

[2020-11-14 10:39] silentresearch opened #6198 "Integrated mic on X1 Carbon 7th Gen not working anymore since 4.0.3"
### Qubes OS version:
R4.0

### Affected component(s) or functionality:
integrated mic on Lenovo X1 carbon Gen 7

---

### Steps to reproduce the behavior:
Attached integrated mic to different VMs and tried with Telegram and Jitsi meet.

### Expected or desired behavior:
integrated mic should capture sounds

### Actual behavior:
integrated mic doesn't capture any sounds.

### General notes:
Mic ge

[2020-11-14 11:47] zpc0 commented on #5937
I'm considering using `@fonts` meta package to fix this issue. Maintaining fonts list is a hard task because it requires knowledge of many languages, so I think using `@fonts` is a simple solution.
Is it ok to add `@fonts` to [packages_fc.list](https://github.com/qubesos/qubes-builder-rpm/blob/master/template_scripts/packages_fc.list)?
If yes, I will send a patch.

[2020-11-14 11:51] 0spinboson commented on #6097
do you think this relates to this, @fepitre ?: https://xen.markmail.org/search/?q=xen%204.14%20xorg#query:xen%204.14%20xorg%20order%3Adate-backward+page:2+mid:mgtqx544txdmfqjr+state:results

[2020-11-14 15:20] rustybird commented on #5521
Qubes uses [Plymouth](https://gitlab.freedesktop.org/plymouth/plymouth) (for the decryption prompt) and [LightDM](https://github.com/canonical/lightdm) (for the login prompt), maybe try the upstream bug trackers?

[2020-11-14 16:43] arkenoi opened #6199 "Win7 seamless mode is incompatible with sloppy focus"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

Windows tools for Windows 7

**Brief summary**

When "focus follows mouse" mode is set in xfce, appVM win7 windows are redrawn in a wrong way. When a window grabs focus, it overwrites all other windows content even if positioned below those windows on the desktop.

**How Reproducible**

Always

**To Reproduce**

Steps to reprod

[2020-11-15 00:13] DemiMarie commented on #673
Indeed they are, although especially cameras can generate quite a bit of high-quality entropy even in darkness.

[2020-11-15 09:26] icequbes1 opened #6200 "stub_rx page allocation failure in sys-usb when using a webcam attached to separate qube"
**Qubes OS version**
R4.0, `current` repo, dom0 and VM kernels on kernel-latest, 5.8.16-1.

Edit: all qubes mentioned are Fedora 32

**Affected component(s) or functionality**
app-linux-input-proxy, salt formulas, or perhaps documentation

**Brief summary**
A USB webcam hosted by sys-usb that was attached to another qube resulted in a kernel error within sys-usb once video streaming began. Increas

[2020-11-15 09:59] rastababy commented on #5462
Hello, first of all sorry for my off topic post. I try to do it better in the future and was new here. But no problem:)
I followed this documentation from GWeck and in the qubes documentation last week, but I have no chance to see a gui after installing qwt in the Win10 TemplateVM. I think it is a problem with new WIndows 10 H2 october update. If I choose a Windows H1 Version and don't update the

[2020-11-15 17:58] GWeck commented on #5462
I'll have a look at W10 20H2, but this may take some days. So far, I have not updated my VM.

With regard to internet access, I have sometimes found that Windows changes the IP address for its network interface, and if that is different from the address seen in Qubes (in the Qube manager), no network access is possible. Could you check the address assigned to the network adapter in your AppVM? If

[2020-11-15 22:10] cobordism opened #6201 "Move templates from qubes.3isec.org to ftp.qubes-os.org"
**Qubes OS version (if applicable)**
Qubes 4.0

**Affected component(s) or functionality (if applicable)**
Templates

**Brief summary**
I'd like to experiment with different templates.
There are some templates here: https://ftp.qubes-os.org/repo/yum/r4.0/templates-community/rpm/
and there are others here: http://qubes.3isec.org/Templates_4.0/

**Additional context**
The additional templates I ment

[2020-11-15 22:13] planiitis commented on #6066
Resume is still not working for me even on the newer releases of Xen (as of 4.14.0-6). Not sure whether this should be treated as the same or a new issue.

Qubes R4.1.0 on Thinkpad L14 Gen1 with AMD Ryzen 5 4500U.

On Xen 4.14.0-6, resume results in a solid power LED and (sometimes) fan spinning, but screen remains off. Any music playing in an AppVM continues after about 7 seconds. Keyboard input

[2020-11-15 22:35] hackerncoder opened #6202 "Qubes R4.1 can't install KDE."
**Qubes OS version**

R4.1 with current-testing enabled

**Affected component(s) or functionality**

qubes-dom0-update

**Brief summary**

When using qubes-dom0-update to install KDE Plasma, I get errors about missing group packages and then it can't install.

**How Reproducible**

Whenever I try to install kde plasma, even with a completely fresh install.

**To Reproduce**

Steps to reproduce the

[2020-11-16 02:14] icequbes1 opened #6203 "libxl boot error for HVM with PCI device attached, says /sys/.../0000:00:00.0/config doesn't exist"
**Qubes OS version**
R4.1; xen-4.14.0-7.fc32; dom0 and Fedora 32 templates using `current-testing` repos.

**Affected component(s) or functionality**
vmm-xen? core-libvirt? vmm-xen-stubdom-linux? libxl?

**Brief summary**
sys-net HVM qube fails to boot at times, resulting in a libxl error indicating `/sys/bus/pci/devices/0000:00:00.0/config` doesn't exist (within the stubdom):

[code]

**How Repro

[2020-11-16 02:21] marmarek commented on #6203
Yes, this seems to be exactly the case.

Yes, more details in #6174

[2020-11-16 03:27] unman commented on #6201
On Sun, Nov 15, 2020 at 02:10:33PM -0800, Aron wrote:

The "allegedly" issue is resolved because I sign all templates (and
packages) that are hosted there.
So you can confirm that easily enough.

The Ubuntu templates I put up cant be hosted by Qubes officially
because of licensing concerns about distributing Ubuntu.
Other templates hosted there are either one offs or produced for
specific purposes