[2021-02-21 03:15] unman commented on #6396
On Sat, Feb 20, 2021 at 02:09:59PM -0800, iprid wrote:

If this is addressed to me, I provided a link, and included some
comments in the ReadMe.

[2021-02-21 05:28] ideologysec commented on #4239
@DemiMarie any updates on the repo with working SELinux policies?

[2021-02-21 05:37] ideologysec commented on #6411
Managed to find https://openqa.qubes-os.org/group_overview/1

Not documented anywhere that I can find, but it does appear to be the output of the automated build system from time to time. Last build for 4.1 was ~7 days ago, won't contain these fixes, and failed. What is the current channel for getting the latest 4.1 iso, if any other than this or the kernel.org mirrors?

[2021-02-21 05:42] straussmaus opened #6416 "No error messaging when full disk prevents apps from opening"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**

Debian 10 Standalone Qube

**Brief summary**

A standalone qube that was previously working fine, now when I open any app (xterm, gnome-terminal, firefox, etc) the application will not open.  The bug is: there is no error message.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:

1.Qube is workin

[2021-02-21 05:46] straussmaus commented on #6135
No @marmarta thank you.  This issue started again after I migrated computers in January.  I will try this when it happens again.

[2021-02-21 05:48] straussmaus commented on #5299
I seem to keep forgetting and posting this issue again.  Closing, because this one is more clear:

https://github.com/QubesOS/qubes-issues/issues/6416

[2021-02-21 05:48] #5299 closed

[2021-02-21 05:49] ideologysec commented on #6381
does manually running `qvm-features <vm-name> qubes-firewall 1` in dom0 allow for the firewall to work without installing gcr? (similar bug affects mirage-firewall and needs to be manually set)

[2021-02-21 05:49] straussmaus commented on #6267
I seem to keep forgetting and posting this issue again.  This one is more clear:

https://github.com/QubesOS/qubes-issues/issues/6416

[2021-02-21 05:50] straussmaus commented on #4834
@donob4n I think this is merged?  Will it appear in 4.0.x or do I have to reinstall 4.1?

[2021-02-21 06:40] permezel opened #6417 "Qubes build-iso fails to build 4.1 within Qubes-based build"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

The Qubes build iso steps per the documentation

**Brief summary**

I carefully followed the instructions in https://www.qubes-os.org/doc/qubes-iso-building/.

The sole difference is that I build 4.1, not 4.0, as I am trying to test a recent bug fix (QubesOS/qubes-vmm-xen@075e6b1.)

It craps out in

[code]

**How Reproducible**

[2021-02-21 07:11] andrewdavidwong commented on #6210
Ok, closing. If anyone else would like for this issue to be reopened, please leave a comment.

[2021-02-21 07:11] #6210 closed

[2021-02-21 07:18] permezel commented on #6417
Tried building the ISO with most components commented out, per the instructions:

[code]

[2021-02-21 07:22] andrewdavidwong commented on #6414
This has come up before in a couple other issues: https://github.com/QubesOS/qubes-issues/issues/3471, https://github.com/QubesOS/qubes-issues/issues/3102.

[2021-02-21 07:25] andrewdavidwong commented on #1917
Yep, good idea. (I thought I had already done so, but I must've been thinking about a different issue.)

[2021-02-21 07:27] andrewdavidwong commented on #1917
I suppose the obvious choice for a replacement image would be the Qubes logo (if that's permitted by licensing and such).

[2021-02-21 07:36] andrewdavidwong commented on #6152
This seems more like just a bug (at worst, a potential DoS) than a real security problem. If the window borders disappear, the user immediately knows that he can no longer identify security domains by their colored window borders. It only becomes a security problem if the user then suddenly makes the illogical leap to assuming that all windows must now belong to the same security domain. I don't t

[2021-02-21 07:43] andrewdavidwong commented on #6376
Updated to a variant of your suggestion.

[2021-02-21 08:54] 3hhh commented on #5229
Also missing:

`man  qvm-console`
`man qvm-connect-tcp`

Something like `qvm-console --help` or `qvm-console -h` usually doesn't work either.

[2021-02-21 10:08] marmarek commented on #1917
No this won't solve anything and is a bad idea in general. First, "lets crash the whole system" should be the last resort if there is really not other way to recover. In case of multi-user system (not Qubes right now, but maybe in the future), ability for a misbehaving application to crash the whole system is actually considered security issue. Lets not add things that may bite us.
Furthermore, cr

[2021-02-21 10:17] marmarek commented on #6411
openQA is the right place for looking for test builds. But note the CI system is not a trusted build environment, so do not use those builds for anything else than testing.

[2021-02-21 11:16] deeplow commented on #6152
I would disagree. The title bars disappear as well as can be seen [here](https://qubes-os.discourse.group/t/edge-of-windows-disappears-every-few-months-xfce/2059/39). The security issue comes in when a user has a job and needs to use the computer, regardless.

Although immediately obvious, it possible the user is under job pressure and needs to use the system anyways. Or is just procrastinating a

[2021-02-21 11:19] deeplow commented on #6152
Quoting from a [user](https://qubes-os.discourse.group/t/edge-of-windows-disappears-every-few-months-xfce/2059/1):

[2021-02-21 11:23] donob4n commented on #4834
It is not merged yet https://github.com/QubesOS/qubes-manager/pull/273

If it is something highly valuable for you can install it (although you must understand that installing anything in dom0 is not recommended and you should only do if you understand exactly what are you doing). Just clone my repository, switch to branch 'template_menu' and run "make ui" for generate the ui_* files (maybe you ne

[2021-02-21 11:24] GWeck commented on #5677
@ninavizz Just some comments on the large menus shown above:

There may be different motivations for using Qubes as a host to some operating systems. While, with Linux, a common motive will be "to compartmentalize your digital life", as years ago Joanna put it, Windows my be put under Qubes control for quite different reasons:

- As the support for Windows 7 has terminated, the use of this system

[2021-02-21 11:51] permezel commented on #6417
Added `linux-template-builder` back into COMPONENTS, did a `make linux-template-builder`, then `make iso` and it made a lot of progress, then failed again.
Looks as if I need to add:
[code]
back to COMPONENTS.

My main complaint about this fragile, broken, build process is that I should just be able to do, initially, with no other setup on a pristine fed32 build VM, run  `make iso` and have it wor

[2021-02-21 12:17] permezel commented on #6417
So the docs need to be updated?  Per the docs, and per the ./setup file. there is no fedora32 available.  Just 30 and 31, and the instructions call for 30.  I just ran ./setup again. I have 4.1 selected.  I am not presented with fc32 or fc33.  Just
[code]
There is no `fc32` nor `fc33`.

[2021-02-21 12:34] permezel commented on #6417
I just read the README.md file which is part of the checked-out build stuff.  It claims I can use the ./setup script.
So both the build-iso documents and the README.md file need to be fixed so that they can lead to successfully building stuff.

[2021-02-21 13:21] eMPee584 commented on #4169
( This is all still predictably confusing.. )

[2021-02-21 17:52] 3hhh commented on #1917
This issue might be something for GSOC.

[2021-02-21 18:41] ninavizz commented on #1917
If replacing just the flame illustration would be possible (on both the fail screen and the start screen) the gnome "computer" or "screen" icons would work splendidly; or the Qubes logo, as Andrew suggests. The prior I think would be less controversial—but I'm increasingly leaning towards Andrew's suggestion.

The sense I got, is that Jamie could really care less wrt copyright stuff.

@unman My ow

[2021-02-21 19:20] sebastianlutter commented on #6363
Looks like there is no libinput-utils package in Fedora 25 at all (only libinput): :(
* https://archives.fedoraproject.org/pub/archive/fedora/linux/releases/25/Workstation/x86_64/os/Packages/l/

I'll try to switch to evdev or compile libinput-utils on my own.

[2021-02-21 23:13] permezel opened #6418 "4.1 iso build fails building desktop-linux-awesome (awesome.spec) for fc33 vm"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

build

**Brief summary**

build fails

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Using a fc32 template VM in qubes 4.0
2. make distclean
3. make install-deps
4. Copy the example*/*r4.1.conf to builder.conf, per README.md
5. make qubes-os-iso
6. wait and hope

**Expected behavior**

Succes

[2021-02-21 23:13] iprid commented on #6396
@unman, thanks, will try it when I have time.

As for this ticket - perhaps it should be renamed to - Attaching the same storage device to multiple domUs simultaneously with at least one of the domUs with write permssion should not be allowed.

As I am thinking that the real issue here is indeed that the issue creator was able to do what shouldn't be allowed by the system.

[2021-02-21 23:14] iprid commented on #6376
@andrewdavidwong thanks, I see that there are other SELinux related bugs, so perhaps this will help us group them. And also improve context.

[2021-02-21 23:55] DemiMarie commented on #4239
@ideologysec My current repo will need significant cleanup, and there have been many other high-priority issues lately.

[2021-02-21 23:56] DemiMarie commented on #6416
Please use `qvm-console-dispvm` instead of `virsh -c xen:///console`.

[2021-02-22 00:08] DemiMarie commented on #673
To elaborate on my previous comment: Even in darkness, a camera will generate entropy due to noise in the image sensor.

I think that a `qubes.Random` RPC service would be a good idea.  It would basically offer read/write access to `/dev/urandom` in dom0.  Writing to `/dev/urandom` mixes more data into the entropy pool, which can only increase the entropy.

[2021-02-22 00:10] DemiMarie commented on #5677
Clicked wrong button, sorry.

[2021-02-22 00:16] DemiMarie commented on #5677
FYI, it is possible for two cooperating qubes to establish a covert channel.  However, that would require Microsoft Telemetry to be explicitly written to do so, which it presumably isn’t.

[2021-02-22 00:17] DemiMarie commented on #6417
That is definitely a bug, good catch!  I will file a PR.

[2021-02-22 00:28] DemiMarie commented on #1917
That was poorly phrased.  On Linux, PID 1 in the initial PID namespace is the one process that is guaranteed to stay up as long as the system is running, since the kernel panics if it ever exits.  Furthermore, we use systemd for PID 1, which provides an API for storing arbitrary file descriptors in it, and a connection to the X server is just a file descriptor!

Therefore, we can pass the file des

[2021-02-22 01:27] marmarek commented on #1917
The main (the only?) reason in something holding a server (or keyboard, or pointer) grab, which is the case when some dom0 application opens a menu (at least GTK does grab keyboard then). We (obviously?) don't allow VM applications doing any kind of grab in dom0's X server, but applications running directly in dom0 (window manager related) are free to do so.

This failure mode can be solved by doi

[2021-02-22 05:06] permezel commented on #6372
I confirm that this fixes the boot issues.  Thanks!

[2021-02-22 05:13] lead4good commented on #6411
@marmarek when I tested TGL system76 hardware with qubes 4.0 I was able to boot it via modification of the coreboot firmware. Checkout this patch: https://github.com/system76/coreboot/pull/42
What I was not able to fix were suspend issues, as Intel has dropped S3 support with TGL and moved to s0ix only. Does Qubes 4.1 with Xen 4.14 support s0ix suspend?

[2021-02-22 05:41] jamke commented on #6221
Note: it is **not about being not optimized** but about **`Qubes Updater` being COMPLETELY UNUSABLE** if one have enough appvms. Because buttons are not visible and there is no way for average user to press them. I'm asking to increase priority of the issue because of this. Also the bug fix seems to be super-easy for one who develops these forms (adding scrollbar as in Qubes backup windows).

Not

[2021-02-22 07:56] permezel opened #6419 "resume from suspend broken for NUC10 on r4.1"
**Qubes OS version**

4.1

**Affected component(s) or functionality**

suspend/resume

**Brief summary**

**How Reproducible**

I suspended.  Resume is not possible.

**To Reproduce**

Steps to reproduce the behavior:
1. suspend
2. try to resume

**Expected behavior**

I expect the hitting the power button (which is light-pulsing indicating in suspend mode) will break it out of suspend.
It does no

[2021-02-22 08:04] permezel opened #6420 "r4.1 on IntelNUC10 fails to activate display at boot time"
**Qubes OS version**

4.1

**Affected component(s) or functionality**

Initial boot

**Brief summary**

When I boot, the 'disk password' screen is not displayed.  I have to mess about with CTL-F1 to get it to toggle between the graphical and the textual.  Prior to that, they display is blank.

**How Reproducible**

2 of three total boots so far, post install.

**To Reproduce**

Steps to reproduce

[2021-02-22 09:43] fepitre commented on #6418
@marmarek as this is remaining since a while, I suggest we drop it (see PR) until @woju updates it?

[2021-02-22 09:46] marmarek commented on #6221
Templates in Qubes OS are specifically to let you install updates once, for a group of VMs. You can create StandaloneVMs for some specific use cases, but using separate template (or standalone vm) for _every_ appvm sounds like you're doing something wrong.

[2021-02-22 09:47] andrewdavidwong commented on #6152
Ah, in that case, I agree it's much more serious, since the user has no reasonable way to work around it on a regular basis.

[2021-02-22 10:22] andrewdavidwong commented on #6152
I don't think anyone denies this. We agree that it's important to consider the human factor, and we do. The problem is that you're expanding the scope of "security issue" to include everything that could, through human behavior, become related to security, whereas we use it to refer mainly to the types of security vulnerabilities that get CVEs, XSAs, and QSBs, along with closely-related issues of

[2021-02-22 10:31] andrewdavidwong commented on #6396
In general, it is better for a bug report to provide a neutral description of problematic behavior and to allow the developers to arrive at their own conclusions about it rather than for the bug report to be prescriptive on the basis of prior self-diagnosis. The latter can often result in an [XY problem](https://en.wikipedia.org/wiki/XY_problem), for example.

[2021-02-22 10:38] andrewdavidwong commented on #673
I have my camera assigned to a VM that is usually off, so it doesn't even get to perceive darkness, right? I suspect that I'm not the only one who does this.

[2021-02-22 10:38] GWeck commented on #5677
For Windows, the template and the corresponding AppVM should **never** be started simultaneously. Apart from the possibility of such a covered channel - I don't trust Microsoft at all :-( - this would probably be a license violation, because both use the same license data. Getting such a covered channel to work with another, non-Windows VM would probably need specific knowledge of the VMs in a giv

[2021-02-22 11:02] deeplow commented on #6152
I totally agree with what you said above.

Exactly. Except the persistence of this issue across multiple devices the user reported. If this is indeed non-adversary controlled it's just an annoying thing but if there is any way this DoS could be triggered then it should be investigated. One thing I can think of for example (and certainly the Qubes devs throught about this) is spamming the GUI proto

[2021-02-22 11:23] donob4n commented on #6396
Is there any inconvenient if dom0 checks the device is not mounted in the domU before detaching it? How should it be done properly?

[2021-02-22 13:25] qubesacc opened #6421 "windows hvm/qube with multithread cpu(vcpus no>1) will bsod(wont boot)"
**Qubes OS version**

Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**

xen configuration for windows HVMs (I guess)

**Brief summary**

i,m new to qubes os and xen
for last a few days i,m trying to boot windows with more than one cpu core/thread ,
machine starts but windows boot loader bsods with "MULTIPROCESSOR CONFIGURATION NOT SUPPORTED"
 i,ll boot again if i change vcpu to

[2021-02-22 14:53] brendanhoar commented on #6221
Re: lots of templates...

hmm

I keep a backup of each template to roll back recent problematic updates after getting burned without backups in the past (when burned I used rpm to create a new template and then hunted for all of the customizations I’d already made to the bad template). :(

So that automatically double the number of templates I keep.

I also keep some harder-to-fingerprint template

[2021-02-22 14:55] brendanhoar commented on #673
Can confirm.

B

[2021-02-22 19:19] marmarek commented on #6411
Sadly, not.

[2021-02-22 20:44] DemiMarie commented on #673
My camera is attached to `sys-usb`, which is often off.  What I meant was that *if data from the camera is available*, there is no reason not to mix some of it into the entropy pool.

[2021-02-22 20:46] DemiMarie commented on #6411
I wonder if we should reconsider staying on a single Xen version for an entire release.  This leads to rather awkward hardware support problems.

Does Xen 4.15 support s0ix?

[2021-02-22 20:51] marmarek commented on #6411
No, and I'm just learning how absurdly unfriendly to virtualization power management on newest Intel platform is.

[2021-02-22 20:55] DemiMarie commented on #6152
I wonder if this is due to XFCE being misconfigured.  If it is, wiping out all XFCE settings should fix it.

[2021-02-22 21:04] DemiMarie commented on #6411
And to security.  S0ix requires an active ME to avoid a 3x power hit.

[2021-02-22 23:49] v6ak commented on #5547
As long as Xen can propagate the CPU topology, the VM could to handle the SMT securely even with multiple cores. Essentially, I see three ways that guest could use:

a. No SMT. (For paranoid?)
b. In-process SMT. (Fair isolation)
c. Full SMT. (No in-VM isolation, maximum performance)

Actually, the slide 14 on https://www.slideshare.net/xen_com_mgr/xpdds19-core-scheduling-in-xen-jrgen-gro-suse sugg

[2021-02-23 09:11] 0spinboson commented on #6097
this remains an issue with kernel 5.9 and up, and while kernel 5.8.16-1 still works fine, I've noticed something similar happening when I try kernel 5.4.x, although this kernel does result in a system that's usable/stable for at least a day or two.
I've attached a log file here, that is at least semi-informative:
My guess is that it isn't
`Feb 20 22:59:46 dom0 kernel: Xorg: page allocation failure

[2021-02-23 09:52] marmarek commented on #6097
`gntdev_ioctl_map_grant_ref` and  `Comm: Xorg` says it is about mapping window contents (composition buffers) from a VM.

This looks like this mapping is using actual dom0 memory, not only mapping VM's memory into its own address space. This sounds similar to the situation described in https://xenbits.xen.org/xsa/advisory-300.html.
When this happens, can you check grant table usage with `xl debug-

[2021-02-23 10:33] adrelanos commented on #673
[notes on `video-entropyd`](https://www.whonix.org/wiki/Dev/Entropy#video-entropyd)

[2021-02-23 13:25] hackerncoder commented on #6039
Whats the status of F33? It's beginning to be 4 months since release.

[2021-02-23 14:18] GWeck commented on #6421
In my configuration (4GB memory, memory balancing disabled, HVM, no kernel) Windows 10 Professional 20H2 boots with vcpus=2 without any problem. Could it be that this is not supported for Windows Home?

[2021-02-23 15:33] ejose19 commented on #6421
This was fixed in a later version of xen as far I recall, however since you're still using R4.0, just disable smt/hyperthreading on bios and you will be able to assign more than 1cpu (there won't be any performance loss as qubes disables multi-threading in boot opts).

[2021-02-23 17:15] oljfsd opened #6422 "Network adapter driver crash with kernel 5.x in HVM"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

kernel 5.x driver for network adapter
Ethernet controller: Aquantia Corp. AQC107 NBase-T/IEEE 802.3bz Ethernet Controller [AQtion] (rev 02)

**Brief summary**

I have an issue with PCI passthrough network adapter in debian HVM AppVM with qubes kernel 5.4/5.10. It works fine with kernel 4.19, but fails with newer kernel.
I've t

[2021-02-23 19:08] DemiMarie commented on #6039
@marmarek

[2021-02-23 19:26] marmarek commented on #6039
Some remaining issues were fixed on F33 only recently (https://github.com/QubesOS/updates-status/issues/2347). That said, it was affecting R4.1 only, R4.0 should be good to go.

@andrewdavidwong can you prepare an announcement? I think this update also requires switching default-mgmt-dvm (or whatever management_dispvm you use for fedora-33) to fedora-33,  similarly as it was with fedora-32.

[2021-02-23 20:01] marmarek commented on #5940
We have dnf is in Debian bullseye! Thanks @fepitre @h01ger

[2021-02-23 20:01] #5940 closed

[2021-02-23 20:59] fepitre commented on #6039
@andrewdavidwong you would like probably to take into account my message: https://groups.google.com/forum/#!msg/qubes-users/uMcfYvUReAM/efgf2rMIAwAJ

[2021-02-23 23:45] billystonka commented on #6346
Is there anything that can be provided to speed up diagnosing/fixing this? Any kind of logs or data?

I'm seeing this bug on a fresh 4.04rc2 install. It'd would be nice feature to have working.

[2021-02-24 00:35] marmarek commented on #6346
I cannot reproduce it on R4.0, with fedora-33 based DisposableVM.

[2021-02-24 04:26] qubesacc commented on #6421
@ejose19
i had installed debian , wiped and installed qubes beta version again 40.04-rc2
it worked with smt disabled in bios
but still didn,t work without explicitly disabling smt in bios
thabks alot for work around
how can i upgrade xen version inside qubes ?

[2021-02-24 04:31] qubesacc commented on #6421
@GWeck i tried all version of windows server , and win10 pro
if i,m correct , the problem occures in the bootloader of windows (like linux /boot), far behond what version exist in c:\windows
maybe it,s about your board setting /model

[2021-02-24 07:52] b4b857f6ee commented on #6289
@andrewdavidwong Hello, can i recreate a bounty for https://github.com/QubesOS/qubes-issues/issues/1861 ?

[2021-02-24 07:58] b4b857f6ee commented on #6289
ok i just send monay to https://www.bountysource.com/issues/32090963-qubes-windows-tools-support-for-windows-8-8-1-10****

[2021-02-24 07:58] b4b857f6ee commented on #1861
Because it was a duplicate i bounty this issues : https://www.bountysource.com/issues/32090963-qubes-windows-tools-support-for-windows-8-8-1-10

[2021-02-24 12:10] dopch commented on #6422
Hi if some feedback can help.

- Same issue with Fedora 32 sys-net 5.4.88-1.qubes.x86_64 , not coming back after suspend

sudo ip link set wls6 down and sudo ip link set wls6 down does not help

[Jan26 16:51] iwlwifi 0000:00:06.0: Hardware error detected.  Restarting.
[  +0.000030] iwlwifi 0000:00:06.0: DEVICE_ENABLED bit is not set. Aborting dump.
[  +0.000029] iwlwifi 0000:00:06.0: Collecting da

[2021-02-24 13:38] sidhussmann commented on #6387
pulseaudio-qubes has been updated in debian-testing and matches the upstream dependencies of pulseaudio

[2021-02-24 14:55] ejose19 commented on #6421
@qubesacc Installing Qubes 4.1 (which is not yet released) contains latest xen version. However you are better off with just keep smt disabled in bios, as I mentioned qubes already has it disabled in OS level, so you won't lose anything.

[2021-02-24 15:38] marmarek commented on #6422
@dopch this is a different device than initially reported here
@oljfsd I think this is another instance of missing multi-vector MSI support - see https://www.mail-archive.com/qubes-devel@googlegroups.com/msg04757.html. I'm afraid this part won't be added soon, but I will try to convince someone to implement this part.

[2021-02-24 16:38] fepitre opened #6423 "io-apic + timer does not work: booting issue on xen-4.14.1-3"
I confirm that latest mitigation for Intel in https://github.com/QubesOS/qubes-issues/issues/6372 is failing my system having a processor AMD Ryzen 1800X on a motherboard Asrock X370 Gaming K4.

[2021-02-24 17:17] antarisherdeng4 opened #6424 "Network adapter driver crash with kernel 5.x in HVM"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

kernel 5.x driver for network adapter
Ethernet controller: Aquantia Corp. AQC107 NBase-T/IEEE 802.3bz Ethernet Controller [AQtion] (rev 02)

**Brief summary**

I have an issue with PCI passthrough network adapter in debian HVM AppVM with qubes kernel 5.4/5.10. It works fine with kernel 4.19, but fails with newer kernel.
I've t

[2021-02-24 21:50] leo-lb commented on #4318
Awesome work @shawnanastasio, thanks a lot! Do you think we should share the bounty also with @nrgaway for KVM-related work? I am ready to send more of my part of the bounty to you but also want to wait see if anyone else comes up to do some things so we can share it more or less fairly.

[2021-02-24 21:53] shawnanastasio commented on #4318
Absolutely. I haven't been in contact with them recently, but if they are interested in receiving part of the bounty I think they should certainly be entitled to it. They provided valuable testing for libkvmchan as well as a large amount of integration work surrounding packaging, systemd units, some patching of qubes utilities for kvm, documentation, etc.

[2021-02-24 21:55] andrewdavidwong commented on #6346
In my case, it occurred with Fedora 32. I haven't had a chance to try with Fedora 33 yet.

[2021-02-24 22:38] ninavizz opened #6425 "Swap-out scary image on XScreenSaver with QubesOS "Q""
**The problem you're addressing (if any)**
From the issue #1917 it was concluded that changing the screenlocker from XScreenSaver to something else, would be hard. Perhaps not impossible, but more work than is immediately feasible. As such, I am creating this issue to resolve what from a user's perspective, is the primary issue with XScreenSaver: the flaming computer artwork is scary.

For users n

[2021-02-24 22:41] ninavizz commented on #1917
Uncertain where the "status" on this Issue is... but I did go ahead and create #6425, on the chance that leaving XScreenSaver as QubesOS' screen-locker is the decision for now. FYI.

[2021-02-24 22:55] Rspigler commented on #4318
@leo-lb @shawnanastasio great point

[2021-02-24 23:57] straussmaus commented on #6135
@marmarta

Okay this happened again.

I still do not understand why I must run qui-domains.  All it does it create another "Q" icon next to the one that is already there.  The items that are revealed on-click on the second Q are different from the first.  The manual one has a more complete list.  Is that important?

But I did this.  Then I ran `journalctl -e` and there are no messages about qui-do

[2021-02-24 23:59] straussmaus commented on #6416
Okay but you see that virsh works, right?

Or are you saying that virsh is being deprecated?

[2021-02-25 00:26] unman commented on #6425
On Wed, Feb 24, 2021 at 02:39:03PM -0800, Nina Eleanor Alter wrote:

I dont see any problem in doing this: we'll have to give jwz full
credit, remove his email address, and rebrand, since almost certainly
jwz has the name.

[2021-02-25 00:37] andrewdavidwong commented on #6039
If I understand correctly, these are both saying the same thing, right?

[2021-02-25 01:10] ninavizz commented on #6425
I'd rather _not_ "rebrand," as the tool itself is still the same.
Co-branding and white-labeling are absolutely a thing. I did this as a quick-take on how to do, while also surfacing requisite 411 to meet the MIT licensing needs and reuse blab in the user manual. The below could also be what you meant by "rebrand." Thoughts?

![image](https://user-images.githubusercontent.com/8262612/109087729-dee

[2021-02-25 01:39] unman commented on #6425
On Wed, Feb 24, 2021 at 05:10:48PM -0800, Nina Eleanor Alter wrote:

I suspect that jwz would object to the software being used under the
existing name without the flame logo. And while the copyright notice
covers software and documentation, jwz has the name.

[2021-02-25 03:47] Vico999 commented on #4799
Same issue. All that is required is driver support.

[2021-02-25 06:41] ninavizz commented on #6425
JWZ is indeed very difficult and stubborn.
The flame is a cute pun that Western GenX and GenY people may get, but not many others.

Good point about the use of the name without the flame logo. I guess then in the release notes, credit him and XScreenSaver as the source code for the QubesOS screensaver? @marmarek, ideas for how to tread this one?

[2021-02-25 09:00] DemiMarie commented on #6416
`virsh` only works in dom0, which will eventually be distinct from the GUI domain.  Furthermore, `virsh console` may be a security risk ― I am not sure if it filters potentially malicious characters.  `qvm-console-dispvm` runs the terminal in a DispVM instead.

[2021-02-25 09:03] jaydn commented on #5492
For us from the future it's `xdotool selectwindow key ctrl+alt+F1` but otherwise this works great cheers

[2021-02-25 11:30] rastababy commented on #6039
Hey,
I have installed the fedora-33 template from the qubes-templates-itl-testing-qubes-template-fedora-33 repo and running it for about 2 days now,  fully updated it and cannot imagine any problems I think I will set it as my default template. But I have to say that I am working with Qubes 4.1 alpha release and testing repo enabled and any dependencies I already should have installed before. Hope

[2021-02-25 11:35] deeplow commented on #6425
Some years ago I took a stab at doing exactly this. I couldn't find the references, but by looking it up I found it's in some sort of special format that is embedded into the code. But I'm sure someone can codify the Qubes logo into that.

All I could do at the time was to customize the color scheme.

[2021-02-25 11:54] deeplow opened #6426 "Share screen to AppVM"
**The problem you're addressing (if any)**

We all know the frustration of having to demo a project on one AppVM A but having our regular videoconferencing software in AppVM B. One has to install/start the software on the other one, making an overall bad experience. Sometimes even having to do this in a rush because we had forgotten about this "detail".

**Describe the solution you'd like**

Havin

[2021-02-25 12:46] #6332 closed

[2021-02-25 16:41] ntegan commented on #6203
https://marc.info/?l=xen-devel&m=147464079209279&w=4

It seems Marmarek added a fix for this in 2016 that waits for the pci backend to indicate connection with the stubdomain's pcifront.
[code]

I guess this worked for Mini-OS based stubdomains. It appears, however, in Linux device model stubdomains that there is a delay between that state changing to XenbusStateConnected and the device showing up

[2021-02-25 20:38] tquest1 opened #6427 "No VMs can start due to qmemman.service not starting after latest testing update"
### Qubes OS version:
R4.1

### Affected component(s) or functionality:
No VMs can start.
qubes-qmemman.service cannot start

---

### Steps to reproduce the behavior:

Happens on every boot. Tried to restart qmemman -  following error:
[code]

### Expected or desired behavior:

VMs to start as per usual

### Actual behavior:

### General notes:

Problem started on latest  dom0 testing repo update

[2021-02-25 21:52] marmarek commented on #6427
Add `log-level` entry - you should get `.rpmnew` file there with example.

[2021-02-25 21:57] andrewdavidwong opened #6428 "Dom0 update error: problem with installed package xorg-x11-drv-intel, nothing provides libXss.so.1()(64bit)"
**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

dom0 update

**Brief summary**

Package error when attempting to update dom0.

**How Reproducible**

100%

**To Reproduce**

`sudo qubes-dom0-update`

**Expected behavior**

Normal dom0 update.

**Actual behavior**

[code]

**Solutions you've tried**

None. Unsure if using '--skip-broken' is a good idea in this case.

**Rele

[2021-02-25 22:04] marmarek commented on #6428
Duplicate of #6380

[2021-02-25 22:04] #6428 closed

[2021-02-25 22:57] ninavizz commented on #6414
@DemiMarie @andrewdavidwong My own $0.02 is that "system" applet-control windows should always display with a gray chrome, and dom0 Terminal and app windows with a Black chrome.

I personally don't like that any app-VM may also be chosen to have a Black coloring of them, as I feel Black should be reserved for dom0, but I also want to ask about color stuff in my first round of user research. Templa

[2021-02-25 22:59] ninavizz commented on #6414
@DemiMarie Also—the gray cute-qube, I did make to look much more like its own thing, and distinctly different from the black dom0 cute-qube. Is that what you're referring to, or the padlock?

Many of the existing colors are far too close in contrast to one another, and in the cute-qubes I did change the hues/contrast a bit to make them more clearly distinct. In the padlocks they're all somewhat mu

[2021-02-25 23:52] cm157 commented on #1293
This is fantastic news. I will send you an email to figure out how to handle the bounty.

[2021-02-26 09:36] GWeck commented on #6426
This might help to show Qubes itself in a videoconference. Currently the videoconferencing software runs only in an AppVM which sees only its own windows but - naturally - is not allowed to see the full screen. Running the videoconferencing software in dom0 is out of question, because this would require network access from dom0, which cannot be tolerated.

[2021-02-26 10:08] 92VV3M42d3v8 commented on #6427
Not able to start any VM.
Error is - Got empty response from qubesd. See journalctl for details.

[2021-02-26 10:39] deeplow commented on #6426
Just edited the feature suggestion to be more explicit. Here the idea would not be to show dom0 itself, but instead to share one AppVM's screen with another AppVM.

[2021-02-26 11:04] fepitre commented on #6426
I can give you a tip for that. You can run a VNC server  in the AppVM you want to share window and then you use this new DISPLAY to run application into. Then, in the other AppVM you `qvm-connect-tcp` to the vnc session port and use a viewer on the localhost port associated to the bind. If needed, I can (test) and write the whole guide.

[2021-02-26 11:21] tquest1 commented on #6427
Can confirm that after

sudo cp qmemman.conf.rpmnew qmemman.conf
sudo systemctl start qubes-qmemman.service

everything works,

thanks for the prompt fix.

[2021-02-26 11:37] GWeck opened #6429 "Dom0 update error if default template is set to debian-10"
**Qubes OS version**

R4.1 (from ISO 20210117)

**Affected component(s) or functionality**

Dom0 updater

**Brief summary**

If `debian-10` is selected as default template, `qubes-dom0-update` throws an error, and no update is performed.

**How Reproducible**

always

**To Reproduce**

Steps to reproduce the behavior:
1. Install Qubes R4.1 from the 17-Jan-2021 ISO.
2. In the second phase of the in

[2021-02-26 13:07] marmarek commented on #6429
This looks pretty similar to https://github.com/QubesOS/qubes-issues/issues/5282. Can you check qubes-core-agent package version in your debian-10 template?

[2021-02-26 14:10] donob4n commented on #6135
@straussmaus If you can paste the error it would be very helpful. If you can select it and copy/paste in dom0, paste it to some file and then move to an AppVM with `qvm-move-to-vm destVM logfile` if not possible you could also use a screenshot.

[2021-02-26 15:57] unman commented on #6425
It's straightforward to change the images - just a matter of dropping in replacements in utils/images.
I'm running this now.
Take a look [here](https://github.com/unman/qscreensaver)

This, of course, is just the start, if we do want to take this route.
And since there's a new version in test, should we target that for inclusion in 4.1?

[2021-02-26 19:13] bytebuddha commented on #1806
Thanks So much for all the work that's gone into Qubes so far. I've been waiting for this to use Qubes permanently. I'd like to contribute if possible but i have some ideas and questions first.

I think it would look much better if instead of trying to color the window decorations based on witch VM the application it is running in, it could simply set the GTK theme in the Qubes Manager Application

[2021-02-26 19:30] marmarek commented on #1806
No, this won't work for a very basic reason: application running inside the VM must have no influence over its decoration (or whatever other means we use to mark from which VM given window is). This means, it must be dom0 (or [GUI domain](https://www.qubes-os.org/news/2020/03/18/gui-domain/)) who draws the decoration. Otherwise VM application could lie about its origin.

[2021-02-26 19:36] bytebuddha commented on #1806
Ah this makes sense. I'll keep researching into this for now.

[2021-02-26 19:40] DemiMarie commented on #6426
Is this expected to be fast enough in practice?

[2021-02-26 20:14] andrewdavidwong commented on #6414
https://github.com/QubesOS/qubes-issues/issues/2523

[2021-02-26 20:20] fepitre commented on #6426
I think all your sentence is subject to subjective interpretation xD

[2021-02-26 20:29] ninavizz commented on #6425
Aaaah! TY @unman! Possible to stuff into `4.1` @marmarek or @andrewdavidwong ??

[2021-02-26 20:40] DemiMarie commented on #6425
What about “Based on XScreenSaver X.YZ by JWZ”?

[2021-02-26 21:28] andrewdavidwong commented on #6039
The Fedora 33 templates have been announced. I've updated the original checklist (assuming that all previous steps must have been completed and that updating the checklist along the way was forgotten). Since announcing is the final step, I'm closing this issue as complete.

[2021-02-26 21:28] #6039 closed

[2021-02-27 08:27] progress225 opened #6430 "Sys-net freezing causing loss of network connection"
**Qubes OS version**
 4.0

**Affected component(s) or functionality**
 sys-net network connection.

**Brief summary**
 sys-net VM freezes after I start a Whonix AppVM (sys-usb -> sys-net -> sys-firewall -> sys-whonix -> Whonix AppVM). Connection to the network is lost, and I am forced to kill the VM.

**How Reproducible**
 100%  of the time.

**To Reproduce**

Steps to reproduce the behavior:
1. C

[2021-02-27 09:41] michaelschefczyk opened #6431 "Fedora 33 systemd-resolved documentation recommendation"
Users switching to the Fedora 33 TemplateVMs who want to resolve local domains while in their LAN will probably find that this does not work because Fedora 33 switched to systemd-resolved.

A quick fix should be to disable systemd-resolved and to enable NetworkManager in the TemplateVM.

There are probably smarter ways or resolving this and/or ways that are more compatible with the qubes security

[2021-02-27 10:08] GWeck commented on #6429
`apt list -a` tells that version `4.1.15-1+deb10u1` is installed and that this is upgradable to `4.1.18-1+deb10u1`.

The debian-10 template can be updated, and then version `4.1.18-1+deb10u1` is installed. Trying to update dom0 fails again.

By the way, although the template VM debian-10 can be updated, `sys-firewall` and VMs depending on it have no network access ("`Destination host unreachable`"

[2021-02-27 10:13] deeplow commented on #6426
Thanks for the suggestion @fepitre. That sounds doable. However, may take me a while to be able to do it. I suggested it more as a feature that could be useful for some and I think the community would be happy to have a guide. But I'd say it non-urgent. More one of those things that are just nice to have.

Thanks again!

[2021-02-27 10:34] donob4n commented on #6430
Really rare. If you use a non whonix AppVM connected to sys-whonix does it crash too?

Look also `guest-sys-net-dm.log` and `hypervisor.log`. I think that you will need some method for debug kernel panics and (maybe some special for Xen guests).

What happens if you try: `sys-usb  -> sys-firewall -> sys-whonix -> Whonix AppVM`

I suppose that adding sys-net in the chain is just for fast switching

[2021-02-27 11:32] marmarek commented on #6431
@andrewdavidwong can you add a link to F33 release notes? https://docs.fedoraproject.org/en-US/fedora/f33/release-notes/ or maybe their announcement https://fedoramagazine.org/announcing-fedora-33/ ?

[2021-02-27 11:33] marmarek commented on #6431
BTW I do use default settings and resolving local domains works for me if I use full name (with `.lan` suffix I use).

[2021-02-27 12:17] donob4n commented on #3966
Is there any consideration for fixing this? Should we use just one DVM if the user selects multiple files or a folder or should be two different ways for do it?

Should this remain this way?

[2021-02-27 13:52] michaelschefczyk commented on #6431
Thank you for responding so rapidly! I think that the issue is, that .local was the Microsoft-based standard for active directory domains some time ago. Yes, .local was claimed by mDNS in February 2013 (https://tools.ietf.org/html/rfc6762), but that was pretty much an intrusion which certainly did not make everyone change on the spot. Many users will have kept it because there was no pressing reas

[2021-02-27 14:49] besendorf commented on #1917
XScreensaver has been refactored quite significantly with the purpose to reduce the code in the critical section and make it more secure. See jwz's blogpost here: https://www.jwz.org/blog/2021/02/xscreensaver-version-6-beta-1/
Maybe you should reevaluate changing the screensaver based on this. I can't tell because I don't know enough about the X windows system.

[2021-02-27 15:19] iamahuman commented on #1861
What's the known complications of implementing a [WDDM Display Only Driver](https://docs.microsoft.com/en-us/windows-hardware/drivers/display/wddm-in-windows-8)? Qubes doesn't officially support GFX acceleration/passthrough, so a full-blown driver wouldn't be immediately necessary.

Perhaps [`spice-qxl-wddm-dod`](https://github.com/freedesktop/spice-qxl-wddm-dod) and [the sample KMDOD driver](http

[2021-02-27 15:32] marmarek commented on #1861
I think this is a good compromise right now. The disadvantage is that you'd (still) need to cut windows areas out of full screen capture, with all its consequences (unable to display window obscured by something else, lagging while moving windows etc). But, this is how the current gui-agent-windows works, so it wont be worse. Having full-blown driver would allow to pick up individual windows, but

[2021-02-27 15:40] unman commented on #1917
On Sat, Feb 27, 2021 at 06:50:01AM -0800, besendorf wrote:

Indeed, and I specifically referred to this new version, in the linked
issue - #6425
As far as I can see the main argument against XScreenLocker has, in the
end, come down to UX - although there are some other issues, it remains
the best locker out there imo.
I'm using the test release now, and we are waiting on a decision whether
to rebr

[2021-02-27 16:05] 3hhh commented on #1917
end, come down to UX [...]

That's incorrect. Initially the issue was created for security reasons (`physlock` is not better wrt UX). @ninavizz just made her point that UX is also an issue with `xscreensaver` later on.

As pointed out earlier, all screen lockers based on X will have focus issues, X crashing issues, ...
Making whatever other security relevant code smaller won't help there.

[2021-02-27 16:46] lubellier commented on #6353
The gui-agent-linux 4.0.35 version [switched to stable 4 days ago](https://github.com/QubesOS/updates-status/issues/2331#issuecomment-784471037).
I built the ArchLinux packages and installed them on my ArchLinux Qubes, **all works fine**.

@andrewdavidwong : for me this issue is now closable.

[2021-02-27 17:16] #6353 closed

[2021-02-27 17:24] DemiMarie commented on #1861
Could we borrow code from similar projects?

[2021-02-27 18:51] #6431 closed

[2021-02-27 18:51] andrewdavidwong commented on #6431
I have updated the Fedora 33 TemplateVM announcement with a note about systemd-resolved as well as links to the official Fedora 33 release notes and announcement. Please let me know if you see any further room for improvement!

[2021-02-27 21:15] mattmccutchen commented on #6347
Neutral: I don't feel I need it personally (at least at this point), but I have no objection if others find it helpful.  Let's keep any further discussion of the broader project on that thread.

[2021-02-27 22:10] b4b857f6ee commented on #1861
The real question is.... how many? :D €€€€€€€€€

[2021-02-27 23:36] planiitis commented on #6066
Resume still not working as of 4.14.1-1.

What's the best way to help get to the bottom of this issue?

[2021-02-27 23:48] unman commented on #1917
Simply not true: the issue was *originally* raised because the lock
screen looked "wacky-different, also ugly", and was entirely a UX issue.
Discussion of the security issues followed sometime later, much of it
confused or misplaced.

I continue to think that Xscreensaver is the best option available. If
the UX is held to be so bad/confusing that we should rebrand, we can do
that simply enough.

[2021-02-28 00:06] progress225 commented on #6430
Yes, using Windows 10 VM, Debian 10, and Fedora 32 with NetVM set to sys-whonix causes crash to sys-net also.

My guest-sys-net-dm.log is blank/empty both during a successfull connection with network, and after it has crashed.

Would adding Network Manager to my sys-firewall, and removing sys-net VM from my setup lead to any decrease in security? Would it function as both a firewall and network ma

[2021-02-28 02:43] iamahuman commented on #1917
How about using light-locker while letting xscreensaver grab the original X display?

[2021-02-28 06:45] DemiMarie commented on #6258
Does ACPI have any advantages over deliberately triple faulting the processor?

[2021-02-28 07:04] iamahuman commented on #6258
@DemiMarie In fact, it's not even clear that a triple fault is being done behind the scenes. It may also have other harmful effects resulting from undefined behavior.

In case there is a _strong_ reason to prefer triple faults _despite all this_, then it might be a good idea to simply specify it explicitly instead.

[2021-02-28 07:13] iamahuman commented on #6258
ACPI allows the firmware to do graceful shutdown and/or warm reboot. Since Windows/Linux does the same on a bare-metal hardware, we can safely assume other users would be expecting this behavior.

The solution is to synchronize the Linux x86 reboot quirks code to Xen. I'm not quite sure about other possible breakages resulting from this, though.

[2021-02-28 07:16] iamahuman commented on #6421
Related: #5743

[2021-02-28 11:17] donob4n commented on #6430
Don't add Network Manager to sys-firewall. In this case:
`sys-usb -> sys-firewall -> sys-whonix -> Whonix AppVM`

Network Manager should be enabled into sys-usb. I don't think that you decrease your security, your sys-usb is acting as sys-net (it handles the hardware drivers which are more prone to security bugs) and you have sys-firewall with the same trust level than before.

They are talking ab

[2021-02-28 12:40] iamahuman commented on #5674
Windows PV Bus Driver from version 9.0.0 ([commit 36fae6d3](https://xenbits.xen.org/gitweb/?p=pvdrivers/win/xenbus.git;a=commit;h=36fae6d3598669c20d77aea965c3b716aa38c106)) onward cannot handle grant tables larger than (at most) 2<sup>8</sup> frames and would fail with `STATUS_INSUFFICIENT_RESOURCES`.

`__FdoAllocateBuffer` should not hard-code `2 << 20` as the maximum number of bytes that can be

[2021-02-28 12:51] marmarek commented on #5674
I suppose you wanted to ask this on the [win-pv-devel ML](https://lists.xenproject.org/cgi-bin/mailman/listinfo/win-pv-devel), not here.

[2021-02-28 13:15] vp00 commented on #6004
Same issue here, RTX 2060. Also tried with the config `Xorg -configure` generates without success.

Any workarounds?

[2021-02-28 13:35] vp00 commented on #6004
This appears to be fixed in 4.0.4-rc2.

[2021-02-28 13:39] besendorf commented on #2890
Any news on this? Is this on the roadmap for any time soon?

[2021-02-28 13:40] jandryuk commented on #5802
@easydozen Nice work!  Have you tried passing through a webcam, and does it perform acceptably?

[2021-02-28 14:15] iamahuman commented on #3639
Does a process/thread take up too much CPU in dom0 during the I/O freeze? If the offending task is a kernel thread with `dm-thin` in its name, then it's possibly LVM thin pool's issue and related to #5426.

[2021-02-28 19:46] donob4n commented on #5778
Hello,

I personally don't have any problem with current copy&paste behavior but I read some post on discourse [1] and realized that some people could find it really _painful_. That said, I was just playing with weechat plugins and one of them gave some idea for this (maybe it was already discussed):

 `anti_password.py           1.1.0   2021-02-26 | Prevent a password from being accidentally sent

[2021-02-28 22:00] dylangerdaly commented on #6427
I just got this as well, ended up commending out the logging lines.
Once everything came back up I undid that and copied the rpmnew conf and restarted successfully

[2021-03-01 00:02] ninavizz commented on #5778
That is a terrific idea, thank you @donob4n! My only possible doubt, is that it would recognize diceware passphrases as "passwords," as those are much of what security trainers these days advise. Unfortunately, that script does not check against any diceware libraries. That said, it could potentially be enhanced to do as much. There are also many other types of sensitive information a better clipb

[2021-03-01 01:40] ctrlaltf24 commented on #6426
This approach works (was using it today), and isn't too hard to setup. @fepitre let me know if you want me to write the guide.

As for using an x11 screen as a webcam, this answer may be of some use to you https://superuser.com/questions/411897/using-desktop-as-fake-webcam-on-linux#713100 . I am not sure what additional steps would need to be taken in order to register the loopback webcam with qub

[2021-03-01 05:27] deeplow opened #6432 "deleting fedora-32 template (via dnf) yields warnings "remove failed: No such file or directory""
**Qubes OS version**

R.4.0

**Affected component(s) or functionality**

fedora-32-

**Brief summary**

Removing the template of fedora-32 via dnf [as suggested in the docs](https://www.qubes-os.org/doc/templates/#uninstalling) yields warnings about some files not existing. The messages seem to non-consequential, but it still may alarm the user unnecessarily.

**How Reproducible**

At least two us

[2021-03-01 09:09] easydozen commented on #5802
Qemu docs says that there is no support for real time streaming devices in usb-host emulation, but actually it depends on your hardware, qemu controller and guest drivers. I tried several integrated webcams some of them work flawlessly, but I saw glitches and freezes too.
To avoid problems with guest drivers in windows systems nec-usb-xhci controller was chosen. This is the only option for win7.
T

[2021-03-01 09:11] donob4n commented on #5778
I'm glad you like it. I think that the heuristic could use (additionally to regular expressions) the context of the copy event. e.g. If the user copies something on a keepass or electrum window, the content will be flagged directly as sensitive.

With few rules I suppose that we could cover most cases.

[2021-03-01 09:48] marmarek commented on #6432
This is expected and it's yet another reason for changing how templates are installed (#2534 ). For this issue I guess we can document this is expected behavior...

[2021-03-01 10:49] straussmaus commented on #6135
Okay I will do this next time, but I think what I wrote is the error.  Why would a screenshot help?

[2021-03-01 12:07] iamahuman commented on #6135
I don't understand why this issue is still open—it is already fixed in QubesOS/qubes-desktop-linux-manager#104 for R4.1.

[2021-03-01 12:16] donob4n commented on #6135
Sorry I didn't see you already posted the error. I meant an screenshot of the error message. Maybe the error info should be improved.

[2021-03-01 14:26] hiqsociety opened #6433 "Possible to mention if using ubuntu 20.04 or latest kernel same as ubuntu 20.04?"
Possible to mention if using ubuntu 20.04 or latest kernel same as ubuntu 20.04?

because there are certain improvement to ubuntu 20.04 so I'm curious if it's possible to mention this inside the versioning of qubes... for "security" changelog / update reasons.

and of course for compatibility with software installation.

Is qubes latest version compatible with ubuntu 20.04? sorry for asking. I wou

[2021-03-01 15:08] jandryuk commented on #5802
Thanks, @easydozen .  Interesting, I wasn't aware of the usb-host limitation for streaming devices.  Being able to support usb passthrough via Qemu avoids needing signed drivers for Windows is nice.

[2021-03-01 15:35] iamahuman commented on #6433
Latest Qubes R4.0 comes with Linux kernel 5.4 LTS (shipped with Ubuntu 20.04) by default.

[2021-03-01 16:05] unman commented on #6433
On Mon, Mar 01, 2021 at 06:26:19AM -0800, hiqsociety wrote:

Hello @hiqsociety
Github isn't really the place for this sort of question - you'll find
better support for questions such as this at the mailing list, or the
forum:
qubes-users: qubes-users@googlegroups.com (no Google account required)
Forum: https://qubes-os.discourse.group
Take a look at https://www.qubes-os.org/support/ for guidance

[2021-03-01 17:25] ctr49 commented on #3734
Is anyone still working on this? None of the listed workarounds seem to work for me.
Permanent assignment of the wifi card to sys-net freezes the system, dynamically assigning it after start just results in:
[code]
as reported similarly in a [previous comment](https://github.com/QubesOS/qubes-issues/issues/3734#issuecomment-580654893) **but I seem to have the problem from the first start of sys-ne

[2021-03-01 18:09] andrewdavidwong commented on #6135
That PR referenced this issue but did not include a "close" keyword. (@marmarek, was that intentional?) It is also unclear whether fixing this in 4.1 is sufficient or whether this also needs to be fixed in 4.0.

[2021-03-01 18:11] andrewdavidwong commented on #6433
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-01 18:11] #6433 closed

[2021-03-01 19:51] deeplow commented on #5778
Putting aside the potential challenges of identifying what is a password and what is not. Your suggestion assumes *only passwords are sensitive*. Examples include someone copying text from a sensitive document.

Additionally heuristics may surprise users.

----

## Suggestion: secure clipboard mechanic reminder
I would instead advocate for user education about the clipboard. For example, when the

[2021-03-01 20:56] DemiMarie commented on #5778
Not only may they surprise users, they also increase attack surface.  Specifically, they may open the door to timing attacks.

[2021-03-01 21:59] DemiMarie opened #6434 "Fedora template: work to get metadata signing in place"
**Qubes OS version (if applicable)**
`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality (if applicable)**
Fedora templates

**Brief summary**
We should work with Fedora to get them to sign their metadata.  This is likely blocked on the stabilization of DNF 5, as DNF 4 has numerous bugs regarding metadata signing.

**Additional context**
There was an RCE in librepo that this would

[2021-03-02 00:43] en-casa commented on #4494
Thanks for the suggestions everyone. Using the [2020-10-14 Qubes 4.1.0 iso](https://qubes-os.discourse.group/t/signed-q4-1-alpha-iso/981/6) appears to have worked.

[2021-03-02 10:37] donob4n commented on #5778
**Timing attacks**
If the copy process is started by dom0, I don't see how to a timing attack could be done and even allowing a VM to request it (e.g. just right clicking and selecting copy), I doubt you could get profit from it (and the user will notice soon that some VM is overriding the clipboard due the notifications spam).

**Human error protection**
I think that the current implementation is

[2021-03-02 11:08] deeplow commented on #1395
Here's the promised post. Also, is it OK if I basically use this issue to brainstorm ideas? Even if they don't get implemented into the Qubes system in the end, I feel like this is a great place to give some progress updates and ask for feedback.

See bellow my thesis proposal presentation.

[![how-to-qubes](https://user-images.githubusercontent.com/47065258/109633917-90a83c00-7b40-11eb-8fbc-50992

[2021-03-02 12:40] n0madK commented on #6397
I'm getting the same stacktrace as @eric-blabla, but on Qubes 4.1 on a Ryzen 4750U. I get it immediately on start of any VMs, which causes the system to crash an reboot shortly after entering luks password due to booting sys-usb/sys-net. I get the same behavior on 5.9 and 5.10 kernels but 5.8.16-1 runs without issue. Any idea how I can track down what change that is causing this?

[code]

[2021-03-02 13:33] marmarek commented on #6397
@n0madK can you check the exact xen-hypervisor package version? Is it 4.14.1-2 or -3 ?

[2021-03-02 13:37] n0madK commented on #6397
I'm on -3. I have the same issue on the earlier 4.14 xen-hypervisor packages also.

[2021-03-02 13:44] marmarek commented on #6397
Thanks. I've forwarded the report upstream: https://xen.markmail.org/thread/l7u3cpntf7o2bfit

[2021-03-02 14:03] donob4n commented on #6397
Ouch, I did it too to xen-users https://xen.markmail.org/thread/4uh4m4m2eixsqf6h

[2021-03-02 14:21] tweidinger commented on #5980
Tried the workaround from @n0madK and the guidance from mail-archive and still got `ELF: not an ELF binary`.

The file was still in zstd format even when following this approach

I just removed the line, re-made the kernel and iso. I had probably an image cached from a previous build and will test with a fresh vm if this could be the cause.

For the general issue of missing zstd compression I foun

[2021-03-02 14:51] 100111001 commented on #6431
@michaelschefczyk would you be so kind to explain how to do this step in detail?

[2021-03-02 16:56] brendanhoar commented on #5778
In your scenario: the user is multi-tasking, is interrupted, and fails to paste the sensitive data into the correct VM first *before* mis-pasting to the wrong VM, yes? Only asking for clarification as my understanding is that upon paste-into-VM the meta-clipboard is cleared.

As a mitigation for this I would like to see the *name* of the VM that sourced the meta-clipboard data *displayed* on the d

[2021-03-02 17:35] DemiMarie commented on #6397
I also have random freezes on 5.4.x on R4.0.  The system usually recovers but does not always.

[2021-03-02 17:40] donob4n commented on #5778
Well, we could assume that he missed even he is running Qubes
- Using 'work-chat' he copies, ctrl+c "Daniel, our boss, is a moron!", and pastes ctrl+v to other window. As usual, it works.
- Via 'work-chat' too, the boss ask him a account balance that our user saves on an offline 'work-accounts'.
- He opens a doc on 'work-accounts', Selects "Total month winnings: 999,999€", copies with ctrl+c, retu

[2021-03-02 17:42] marmarek commented on #6397
@n0madK I've got a patch which may fix the issue: https://github.com/marmarek/qubes-linux-kernel/commit/0b85f832236c49d2550fbacc3e62d1c30990dc68
If you'd like to try, you can either build it yourself, or use the package I built and uploaded to qubes-dom0-unstable repo:
`sudo qubes-dom0-update --enablerepo=qubes-dom0-unstable --action=update kernel-latest`
You should get `5.10.16-1.2.67.fc32.qubes`

[2021-03-02 17:52] DemiMarie commented on #5778
Good point!  Would displaying the actual clipboard contents help?  We probably don’t always want to do that, though (in case they contain a password or similar).  Maybe we should have a separate clipboard for secrets?

[2021-03-02 18:55] donob4n commented on #5778
In my opinion the "ideal" solution should unify the method for copy/pasting 'inter-vm' and 'cross-vm' (even with the mouse). Having two different ways for doing almost the same thing is inevitably error prone.

Having this unified method I will try to protect the 'cross-vm' case. e.g. a cross-copying between a 'work-vault' and 'work-online' should be done without disruptive warnings, but other lik

[2021-03-02 19:09] ninavizz commented on #5778
So... unfortunately there is a reality with what users "habitualize" vs what users can re-learn. There is currently a trend in infosec, that we can train users to do anything—and regrettably, that's just not the case. I personally dislike the idea of coming-up with a different "Secure Clipboard" experience, because the whole point of Qubes is "security" and Yet Another Clipboard is too prone to ca

[2021-03-02 20:34] aXZhbg opened #6435 "Screen locks randomly on its own"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Screen locking component/Screensaver.

**Brief summary**
Screen locks at seemingly randoms times, even while mouse is being moved or typing at keyboard.
Happens very rare - sometimes once or twice a day, sometimes doesn't happen all day.

I'd like to stress out that this isn't a human error in any shape or form.

**How Reprodu

[2021-03-02 21:56] ninavizz commented on #5778
Totally random thought: build-in _something_ enabling a user to turn ON in a VM's settings, that it's clipboard going to the global clipboard will always enable a unique flag on the global clipboard when it has contents from that VM in it.

Example: I turn that flag on in my Vault VM, and the status-indicator proposed in this first comment, has been enabled. Typically, it just shows a yellow dot t

[2021-03-02 22:00] ninavizz commented on #2204
Is this actually/already built-into `4.1`?

[2021-03-02 22:20] n0madK commented on #5980
This is the builder.conf I used to build the 4.1 iso (mostly from upstream). This is pulled mostly from the builder examples.
[code]
Then I reset branched the linux-kernel repo `stable-5.10` to match `BRANCH_linux_kernel = stable-5.10` and removed the `name_suffix` from the kernel.spec.in.

I think that was all I needed to do to get the iso to pickup my local kernel instead of the upstream fedora

[2021-03-03 01:50] Shaggy1444 opened #6436 "Routing Tor Browser non-vm clients (Win, Lx) via sys-whonix via client-side firewall fails"
### Qubes OS version:

R4.0, latest patches for DOM0 and sys-whonix.

### Affected component(s) or functionality:

Trying to route Win/Lux clients using TOR browser through HVM-Firewall to sys-whonix.
See network setup below.

---

### Steps to reproduce the behavior:

Network setup is as follows:

clients <--> Lan/RTR <--> HVM-Firewall <--> sys-firewall <--> sys-net <--> Physical-Firewall <--> IS

[2021-03-03 03:51] DemiMarie commented on #6435
Same here, although for me it only happens when using the mouse, not when typing.

[2021-03-03 03:53] DemiMarie commented on #5778
Agreed.  Not to mention that for me at least, I have several qubes with incomparable trust levels.

[2021-03-03 07:38] #6432 closed

[2021-03-03 07:38] andrewdavidwong commented on #6432
I have documented this. If any further action is desired, please leave a comment.

[2021-03-03 07:42] andrewdavidwong commented on #2204
I think so. I'm using a dark theme in dom0. I customized it, but I don't think I had to do anything to make all the Qubes widgets or the Qube Manager compatible with it.

So, I'll close this as resolved. If anyone believes the issue is not yet resolved, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-03-03 07:44] andrewdavidwong commented on #6436
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-03 07:44] #6436 closed

[2021-03-03 07:45] andrewdavidwong commented on #6435
Duplicate of #3727

[2021-03-03 07:45] andrewdavidwong commented on #6435
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2021-03-03 07:45] #6435 closed

[2021-03-03 10:04] KnightWhoSaysNeeeowWumPing commented on #6427
I seem to have a similar problem, but adding the `log-level` entry to my `/etc/qubes/qmemman.conf` file does not change anything.
There is no `/etc/qubes/qmemman.conf.rpmnew` file I could use as backup.

When trying to start the qmemman service I get the following error (in journalctl):
[code]
I cannot remember doing a dom0 update since the last successfull boot.

[2021-03-03 11:57] n0madK commented on #6397
@marmarek Crashes around the same point with a different stack trace:
[code]

[2021-03-03 14:13] marmarek commented on #6397
Thanks for testing @n0madK ! There was a typo in the patch. I've pushed a fix (https://github.com/marmarek/qubes-linux-kernel/commits/debug20210302), new package build in progress (will have 5.10.16-1.3 version)

[2021-03-03 14:53] n0madK commented on #6397
Thanks @marmarek, this one boots! Running smoothly so far!

[2021-03-03 14:57] marmarek commented on #6397
You built it yourself, right? Because I haven't uploaded the binary yet.

[2021-03-03 15:05] n0madK commented on #6397
Yes, built it from your repo

[2021-03-03 17:58] #6427 closed

[2021-03-03 23:31] unman commented on #5778
On Tue, Mar 02, 2021 at 07:53:17PM -0800, Demi Marie Obenour wrote:

I don't know what this comment means: "several qubes with incomparable
trust levels".

As to whether 7 is too many colours, there have been many requests in
the past for *more* colours or distinguishing methods.
There seems to be an assumption here that colour is related to trust
level - it may be, but it need not be.
I know peop

[2021-03-04 01:48] dylangerdaly commented on #6055
Users that have the **exact** same CPU are reporting they don't need to pin/limit dom0 to 1 vCPU at all.

This includes domU's running > 2 vCPUs. No stuttering. No lag.

Device reported working is the HP EliteBook 845 G7.

This indicates there's something Lenovo specific that's requiring us to nerf performance.

Lenovo. Ugh, I'm guessing it's either UEFI or ACPI

[2021-03-04 03:07] ninavizz commented on #5778
One thing that is very difficult with the traditional FOSS/decentralized developer community engagement model w/ users, is the request/build cycle; problems aren't so much understood, as teams are inundated with "solution requests" that come from each user's own contemplation of a subpar experience.

I have heard the logic, "Don't complain if you cannot present a solution." The difficulty with tha

[2021-03-04 04:47] tweidinger commented on #5980
Hi @n0madK thanks for posting the file and your steps.

When following them I get another error, which I have not encountered so far (have not used the kickstart feature while building):

[code]

Whereas the file exists with proper permissions and the meta links in the file are reachable.
[code]

[code]
Any idea what could be the issue there?
Will go for a full offline build in the meanwhile.

[2021-03-04 07:01] ghost opened #6437 "Template Fedora-33-XFCE missing libx265, libx264 codecs, cannot install ffmpeg vlc"
**Qubes OS version** R4.0

**Affected component(s) or functionality**
Multimedia does not work on `fedora-33-xfce` template, not able to install `ffmpeg, mpv, vlc` etc. options all say the Qubes F33 XFCE spin is missing packages but I am able to install on `fedora-33` template.

**How Reproducible**
Enable `rpmfusion-free` and try to install a video codec/player like ``ffmpeg, mpv, vlc`` etc.

**E

[2021-03-04 08:40] DemiMarie commented on #3727
I’ll take this one, although it will be a while before I get around to it due to package manager issues.

[2021-03-04 09:21] donob4n commented on #5778
Since I wrote in this thread I am being more aware of my habits with the clipboard and I have noticed that I use the cross-vm key shortcut (the long) for inter-vm copy/pasting a considerably high percentage of the time.

I wonder how many users experience the same.

[2021-03-04 11:37] marmarek commented on #5980
This should be `/home/user/qubes-src/installer-qubes-os/conf/iso-full-online.ks` (without `qubes-builder` part). The path is resolved inside chroot env used to build and so it is `/home/user/qubes-src` regardless of where you keep your sources.

[2021-03-04 13:09] tweidinger commented on #5980
@marmarek thanks! I feel a bit stupid now re-reading my question :see_no_evil:

Fixes the error and builds the iso. Hope it will make qubes usable on my device.

[2021-03-04 14:42] unman commented on #5778
On Wed, Mar 03, 2021 at 07:07:34PM -0800, Nina Eleanor Alter wrote:

I completely agree with this, Nina, although the colours issue is obviously outwith
the scope of this thread. (my bad).
If I may comment here, in my experience people want more colours because
they use them to represent security domains *not* security levels. Some
people who do this **also** want some other extension - hatching/

[2021-03-04 14:48] unman commented on #5778
On Thu, Mar 04, 2021 at 01:22:10AM -0800, donob4n wrote:

I'm sorry - can you explain what "the cross-vm key shortcut" is ? Is it
the standard Ctrl+C/Ctrl+Shift+C etc combination?

Do you mean you are cutting and pasting between qubes a lot?
Since you ask, this is not my experience.

[2021-03-04 16:06] donob4n commented on #5778
Yes I meant the standard combination. Usually I work with offline or Internet restricted qubes so I do most random web surfing, URL opening, searches for programming APIs, etc... in disposablesVMs, this implies a lot of copy/pasting between different qubes. But I also have some IM tools on same qube where I work and I tend to use the long combination copy/paste instead the short because I am like

[2021-03-04 17:05] olivierlambert commented on #4318
Hi there,

Olivier from XCP-ng project (member of LF Xen project).

Just to let you know I had multiple calls with OpenPOWER foundation, I'm trying to get real hardware + IPMI to ease development on Xen to PPC. It's not an easy task, but I'll you know when I have some, I suppose it could be also useful to this project at some point :)

[2021-03-04 17:13] leo-lb commented on #4318
@olivierlambert Hello! That's awesome! We however decided to go the KVM route for now because Xen porting efforts to PPC (64-bits) are too much of an effort for us to initially do and then maintain up to reasonable standards. On the other hand QEMU/KVM on PowerPC 64-bits is included in products sold by Red Hat and IBM so has a guarantee of rather good maintenance for the foreseable future.

We how

[2021-03-04 17:18] olivierlambert commented on #4318
We had someone coming out of nowhere, telling us he was interested to dedicated a good amount of time to do this (but asked to have remote hardware access at some point). I'll contact him back soon to know more about details and how to move forward (and some guarantee he will be committed to this).

We can also assist indirectly because we ([Vates](https://vates.fr)) started to port Xen to RISC-V,

[2021-03-04 19:49] 0spinboson commented on #6097
I changed the buffer size in the manner and to the size suggested by brendan, but I still only get two such headers. Is that normal, or should I increase it further?

[2021-03-04 20:00] ninavizz commented on #5778
I'm starting to mull the possibility that there be a few different "types" of Clipboards; not to burden all users with, but to provide users the option of using one or the other with hiiiiiighly sensitive qubes, while relegating others to lower but easier to deal with clipboard protocols. eg: something like what @donob4n describes above. Forcing users to always have to remember how to do the globa

[2021-03-04 20:02] marmarek commented on #6170
Ok, since QSB-066 is out, there is nothing blocking the final release anymore. @andrewdavidwong can you prepare the announcement? I have already built the final iso and will upload it to mirrors in few hours.

[2021-03-04 20:04] leo-lb commented on #4318
@olivierlambert That's great! Why did that person contact you specially? Who is it? Is it @hanetzer by any chance?

[2021-03-04 20:12] hanetzer commented on #4318
Technically I didn't contact them per se. I was asking questions in #xen-devel about compiler errors relating to xen and
they started chatting me up about it. They and andyhpp in #xen-devel have been quite helpful.

[2021-03-04 20:20] eric-blabla commented on #6397
@marmarek:  I tried your download command (action=upgrade, not action=update)  but qubes-dom0-update says "nothing to do" while being stuck with 5.10.16.1
I seem to miss something. Thanks for a hint!

[2021-03-04 20:23] olivierlambert commented on #4318
@leo-lb Small world. Obviously, it seems that my description returned the only one matching result in the known universe, @hanetzer :laughing:

@hanetzer we couldn't miss that signal on #xendevel from our radar :smiley: (that's not a first for us, I hired the first Xen RISC-V contributor via the mailing list)

[2021-03-04 20:37] hanetzer commented on #4318
Honestly the open-power world is quite small at times. I remember when I was having some issue wrt early hostboot/bootblock
on a talos (btw you should really join #talos-workstation on freenode, lots of knowledgeable nerds on the subject) and found
a blog post about it, and turns out the writer was in the channel.

On that note, is there some staging repo I could look at for this? Looking for exam

[2021-03-04 20:40] olivierlambert commented on #4318
Let me send you an email to invite you to our Mattermost if it's fine :+1: This way you'll have direct access to Bobby who's doing the port.

[2021-03-04 20:41] hanetzer commented on #4318
I've heard of mattermost before but honestly can't recall what it even is, lol. Sure, sounds good.

[2021-03-04 23:28] donob4n commented on #5778
Just for comment other benefit of the **"unique clipboard"**:

In this way, it will be more familiar for new users, since most of them are used to copy once but paste all times they want! Currently, if you copy something from 'dispXXX', then you paste to 'work' and finally you want to paste it too to 'work-share', you will have to copy again it from 'dispXXX'  (or 'work-share'). For a non experien

[2021-03-04 23:32] michaelschefczyk commented on #6431
In the terminal of the F33 template VM type:
su
systemctl disable systemd-resolved
systemctl enable NetworkManager

[2021-03-04 23:34] andrewdavidwong commented on #5778
The standard UX approach for handling this type of case is to provide a toolbar with buttons for performing the relevant actions. For example, in a standard word processor, there are buttons for the standard clipboard cut/copy/paste actions. Hovering over each of these buttons shows a tooltip for the corresponding keyboard shortcut (`ctrl+x`/`ctrl-c`/`ctrl-v`). One option would be to handle the Qu

[2021-03-04 23:38] andrewdavidwong commented on #5778
Not if the user reads their dom0 notifications. It tells you that the clipboard has been wiped after pasting.

This speaks in favor of allowing users to configure this behavior. If the user thinks that the separate keyboard shortcut is sufficient protection, they can choose to turn off auto-wiping, for example.

[2021-03-04 23:46] BehindTheBrain commented on #6356
I suspect same flavor of this may be re-arising now, but with much worse severity. After removing the temporary fix, and getting recent updates, I'm now experiencing a more more intermittent total freeze of the graphics, mouse, keyboard, but not of apparent background functionality. For example, while the screen, mouse, and keyboard all freeze, I can continue an audio call or music streaming indef

[2021-03-05 00:07] donob4n commented on #5778
Well, it is not just learning an additional key in a shortcut. It also implies some grade of abstraction, "First, copy with ctrl+c to the internal clipboard, then use ctrl+shift+c to copy it to the global clibpoard....etc...". For new users to virtual machines world it could be very confusing (the fact that each VM has its own clipboard could be hard to visualize). And really it is not just a diff

[2021-03-05 00:12] andrewdavidwong commented on #5778
This is why we have notifications to tell you what's happening at each step of the way. Maybe we just need to improve that feedback.

Yes, but each individual action is no more difficult than the standard copy/paste shortcuts. Users who can't handle the new keyboard shortcuts probably can't handle the old ones either.

[2021-03-05 00:32] donob4n commented on #5778
Well I don't think really that it is too difficult. But I wouldn't focus the problem on that.

The question should be if there are alternatives to do it easier and more comfortable without losing security (if yes, why don't do it?). Since I'm convinced that the current behavior is more focused on avoiding human errors than protecting from technical holes (is there any risk for dom0 when copying to

[2021-03-05 02:03] shawnanastasio commented on #4318
Cool, It'd be great to see a Xen port materialize for POWER systems and hope it all pans out!

Updated [status comment](https://github.com/QubesOS/qubes-issues/issues/4318#issuecomment-775609640).

On the KVM front, I have now gotten qrexec and qubesdb running and communicating on both the host and guest! In the process I ended up [discovering and fixing a rather serious (and hard to debug) race c

[2021-03-05 02:35] DemiMarie commented on #4318
Can we replace QEMU with a different userspace VMM, such as Firecracker?

Another idea I had is to compile the emulation code in QEMU to WebAssembly; this would ensure that a compromised device model cannot compromise the host, since the WebAssembly code can’t escape its sandbox.

[2021-03-05 02:42] leo-lb commented on #4318
@DemiMarie

Firecracker does not support ppc64[le] so I don't think anyone is going to undertake this.

Not sure how this is related to this particular issue, current WebAssembly AOT or JIT compilers don't support ppc64[le] as well.

[2021-03-05 02:44] shawnanastasio commented on #4318
I had briefly shared my thoughts on using another VMM [here](https://github.com/QubesOS/qubes-issues/issues/4318#issuecomment-779397859), but essentially I don't believe it's feasible or desirable to switch off of QEMU because none of them support the ivshmem device model that libkvmchan is based on. In addition, it doesn't seem like crosvm or Firecracker support ppc64{,le} at all, so that would a

[2021-03-05 02:55] marmarek commented on #4318
Honestly, I'm not sure what would be the best route for the VMM-agnostic interface for page sharing. Here are some hints and thoughts:
 - providing this API as part of `qubes-core-vchan-{kvm,xen}` repository IMO makes sense; it isn't strictly part of vchan, but on the other hand, vchan is an inter-vm communication API, and page sharing is related
 - the API should work independent of open vchan co

[2021-03-05 03:18] DemiMarie commented on #4318
Is this actually needed, or can the source VM just unmap the page?

[2021-03-05 03:21] marmarek commented on #4318
In case of Xen - it's enough to unmap the page. But I wouldn't assume (at the API level) that it is simple for every VMM.

[2021-03-05 03:51] marmarek commented on #5778
Side note: we have explored using standard "copy" and "paste" operations (whether that is ctrl+c/v, or some toolbar click, or right click menu) for inter-vm clipboard transfer. Technically, it is possible. But it comes with a **huge** security disadvantage - you no longer know if that operation was triggered by the user, or by a (malicious) applications on its own. This means a malicious applicati

[2021-03-05 03:51] shawnanastasio commented on #4318
Thanks for sharing your thoughts. I have some follow-up comments:

Agreed.

OK, this sounds good too - since the existing shmoverride/xorg code doesn't deal with vchans this makes sense.

For the state-holding object, I guess this would look something like an opaque struct pointer like libvchan does it. I'm thinking something like `shmem_handle_t`.

ACK

OK, so the API should provide something lik

[2021-03-05 04:26] marmarek commented on #4318
Yes, like this. Of course if necessary - it may be also that KVM version of this API doesn't need any internal state. But the API should still allow an implementation to have some.

This should resolve received "shared page id" into `mmap()` params, possibly doing some preparation first (for example creating that fd). I mean - the function needs an input parameter too. Otherwise you have no way to

[2021-03-05 05:50] shawnanastasio commented on #4318
ACK

Oh, ok. I was thinking that each `shmem_handle_t` would refer to a given region but now that you mention it, separate region descriptors makes sense.

Sure, I'm probably going to use a `uint32_t` internally, but the size should probably not be a part of the API as IMO callers should just be expected to use `sizeof` on the reference.

Ok, that's a reasonable point. I'll implement multi-page re

[2021-03-05 06:57] andrewdavidwong commented on #5778
FWIW, the toolbar buttons I was envisioning would be in dom0. Clicking the buttons would function the same as if the user had pressed `ctrl+shift+c` or `ctrl+shift+v`. This could be useful for people with disabilities that prevent them from pressing such keyboard combinations, for example. It may also be more discoverable for new users (easier to see a button on the screen than the learn that a ke

[2021-03-05 08:06] eric-blabla commented on #6397
alright, partial answer to my question: it is in the ques 4.1 repo but not the qubes 4.0 !

@marmarek, could you also copy the kernel latest into qubes 4.0 repo, please? Otherwise I cannot fetch it -- or do I manually need to   change config files to force "becoming 4.1" ???

[2021-03-05 10:13] donob4n commented on #5778
Currently the protection against this kind of attacks is trying to avoid that the user puts delicate information in the wrong place. This should remain working in the same sens. Although it could be a little simpler to do, it will be done also less frequently so when need the user will be more conscientious that he is doing something critical.

Currently, reusing @ninavizz example, I'm using the s

[2021-03-05 10:16] donob4n commented on #5778
It would help for people reluctant to keyboard combinations... but nothing more comfortable than using the standard buttons and context menus.

[2021-03-05 11:28] marmarek commented on #5778
I think you haven't understood my explanation why such heuristics do not work. It isn't because inability to detect if user have interacted with the VM requesting clipboard (this can be tricky at times, but it isn't the main concern). It is because you can't distinguish what that interaction was - whether that was a legitimate clipboard access action initiated by the user, or some totally unrelate

[2021-03-05 11:35] marmarek commented on #6397
This specific binary package is indeed built for r4.1 only. The patch in question just landed in 5.10-stable queue, so it will be in upcoming 5.10.21 kernel (or 5.11.4, whichever comes first).

[2021-03-05 11:49] S-G-iscoding opened #6438 "Questionmark in filename causing error message in "boot from image" gui."
### Qubes OS version:
R4.0

### Affected component(s) or functionality:

Affected functionality: Using the GUI to select a boot image for a standalone VM while the images file name is containing a questionmark.

---

### Steps to reproduce the behavior:

1. Create a standalone VM
2. Create another VM (tested with both debian-10 and fedora-30 template) and save a image that is containing a question

[2021-03-05 12:42] eric-blabla commented on #6397
thank you @marmarek. Just some remark @andrewdavidwong : I am happy that the patch helped @n0madK, but in the moment I think it is a bit premature to tag the subject now as "diagnosed" - might be two different bugs! I am impatient to test if that is the solution to my problem, as well !!

[2021-03-05 13:40] iamahuman commented on #6356
I suspect this might be a separate issue.

[2021-03-05 14:27] Khoramyar commented on #6397
Guys, similar issue here on 5.10.8 kernel, I literally have to restart 15-20 times a day and this is killing me. I tried to revert back to an earlier kernel using these instructions ( https://www.qubes-os.org/doc/software-update-dom0/#kernel-upgrade ) and failed. Googled for 2 days now. Qubes documentation seems to be written to be used by Linus Torvalds. This is not the first time that I am sure

[2021-03-05 14:32] donob4n commented on #5778
Honestly I try to see what I could be misunderstanding. I assume that a clipboard legitimate action is always triggered consciously by the user but maybe you are also considering other cases.

In the first case, I know that the heuristic wouldn't be perfect, but it wouldn't be the main clipboard security. It would be like some kind of IDS based on clipboard behavior (more than currently we have) w

[2021-03-05 15:47] ejose19 commented on #6397
@Khoramyar if you're using UEFI, just edit `/boot/efi/EFI/qubes/xen.cfg` and change `[global] default=` to the oldest kernel you have listed in the next entries.

[2021-03-05 15:58] johnr14 opened #6439 "AMD Threadripper/EPYC Xen patch for iommu not applied to 4.0.4 ?"
**Qubes OS version**

R4.0.4

**Affected component(s) or functionality**

Reporting message that iommu AMD-Vi is not enabled at install.
Fail to start sys-net and sys-vm after install.

**Brief summary**

There used to be a Xen patch to enable iommu on AMD EPYC/THREADRIPPER.
Has this patch been removed from the later builds ?  Issue : #4407 mentions it.
I just booted 4.0.4 and had the same msg abo

[2021-03-05 16:00] unman commented on #5778
I have no doubt that the clipboard experience could be changed, BUT:
in my experience working with naive Qubes users, they *do* find the
experience "odd", but *not* difficult.
Some people may find it difficult - but those people are likely to find
*any* clipboard changes difficult. If you provide more options for
cut/paste between qubes, then you add a layer of complexity in choosing
the right met

[2021-03-05 16:37] eric-blabla commented on #6397
if @ejose19 's hint does not help (no 4.x kernel available), try

sudo qubes-dom0-update --action=install kernel-1000:4.19.163-1.pvops.qubes.x86_64

to get an old kernel back. Then follow his instruction.

[2021-03-05 16:41] XBZN9LUxAlJtfCjD opened #6440 "qubes-desktop-run broken on archlinux template"
**Qubes OS version**
Qubes release 4.0 (R.4.0)

**Affected component(s) or functionality**
archlinux-template

**Brief summary**

qubes-desktop-run returns error code

**Steps to reproduce the behavior:**

1. Read https://github.com/Qubes-Community/Contents/blob/master/docs/building/building-archlinux-template.md
2. Open a terminal via dom0: qvm-run archlinux xfce4-terminal
3. run:  qubes-desktop-

[2021-03-05 16:52] mfc commented on #1019
that wasn't the case, the [old Qubes website](https://web.archive.org/web/20121120042549/http://qubes-os.org/trac/wiki/UserDoc) was based on [trac](https://trac.edgewall.org/wiki/WikiFormatting) and so was written in a wiki-style mark-up. RST is more recent and focused more on the needs of technical documentation specifically, while Markdown is more "web-first" (being able to integrate HTML for an

[2021-03-05 17:10] donob4n commented on #5778
@unman your example has made me aware of one thing, currently you can move a file or an entire folder between qubes using just the mouse, but you can't copy/paste a simple text line.

The clipboard is overprotected but not against malware, it is only protected against the user using it wrong. You copy a btc address from 'vault', copy it to 'funds-crowdfunding' but this vm is compromised, your clip

[2021-03-05 17:13] unman commented on #1019
On Fri, Mar 05, 2021 at 08:52:20AM -0800, Michael Carbone wrote:

Dont people find the simple markdown used readable?
The only aspect that isnt obvious imo are the links.

[2021-03-05 17:33] marmarek commented on #6439
This looks like a different issue. See the difference in error message:

vs previous issue:

It is likely that this time it is a BIOS/UEFI issue not including proper information in ACPI tables. Given the number of "Firmware Bug" log entries from Linux, it's even more likely. You can try:
 - checking BIOS options - maybe you'll find some related to IOMMU
 - booting vanilla Linux there, with `amd_io

[2021-03-05 18:32] Khoramyar commented on #6397
Thanks guys @ejose19 and @eric-blabla, I stepped back to one version earlier (5.4.88) as I don't recall it had any issues but 4.x is very laggy on my system. Cheers!

[2021-03-05 18:54] #6440 closed

[2021-03-05 18:57] michaelschefczyk opened #6441 "Fullscreen Multiple Monitors not possible"
In QubesOS R4.0, I have two monitors connected. I would like to achieve what does work in Debian, for example, that is:

xfreerdp /multimon

This leads to an freerdp connection across multiple monitors.

In QubesOS R4.0 it does work in principle. A window as wide as the set of monitors does get created. However, the fullscreen feature does not work. As soon as one clicks fullscreen, the window get

[2021-03-05 19:42] marmarek commented on #6441
Normally, a VM window is not permitted to occupy the whole screen and hide its decoration. It can be allowed as described in https://www.qubes-os.org/doc/full-screen-mode/

[2021-03-05 19:55] brendanhoar commented on #5778
In both cases you must use a dom0 trigger to move the data from the VM to the target VM.

Assuming default Qubes config:

1. The dialog box for copying files between VMs exists in *dom0* not in the source VM, and the source VM will a) never know the name of your target VM and b) cannot push data there unassisted by the user in dom0 who requested that it be transferred.

2. Similarly a source VM sh

[2021-03-05 19:56] andrewdavidwong commented on #1019
I thought we used RST with the TracWiki: https://trac.edgewall.org/wiki/WikiRestructuredText

[2021-03-05 20:04] andrewdavidwong commented on #6438
Question marks probably shouldn't be legal characters in such file names. Might just need better error handling to inform the user that that's the problem.

[2021-03-05 20:07] andrewdavidwong commented on #6441
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-05 20:07] #6441 closed

[2021-03-05 20:21] andrewdavidwong commented on #5778
I suggest taking the general brainstorming discussion to the qubes-users mailing list or the forum and reserving this issue for more actionable information and decisions. qubes-issues is not intended to be a discussion forum, and using it as such tends to make it less useful as a tool for the developers.

[2021-03-05 20:48] michaelschefczyk commented on #6441
Sorry if I did misstate that. This was not meant as a support question. My aim was to find out if something is intended behaviour that will last or not. Other users are unlikely to be able to answer that on behalf of the developers. Of course, you are under no obligation to answer at all.

The point is the following: I did make the setting as suggested by Marek Marczykowski-Górecki. But whenever y

[2021-03-05 21:37] ninavizz commented on #5778
Nope. The standard ux approach for copy/paste, is control-c and control-v, and that it simply works. Therein, lies the challenge with Qubes: the entire mental-model of this OS breaks all existing conventions, and something better needs to  be done.

How radically different the mental-model of Qubes is, must be elevated as the recurring #1 challenge to overcome with most users.

Also, fwiw, the "ju

[2021-03-05 21:43] ninavizz commented on #5778
YES. The existing notifications are far too wordy, and the line-spacing and use of mixed italics and regular text, compromises their legibility a lot. I understand why all of the aforementioned were likely endeavored; all the best of intentions. But it still is far to much of a cognitive burden for users to always pay attention to. The OS needs to be able to be smarter about delivering which ques,

[2021-03-05 21:58] gdvine opened #6442 "SOLVED: No internet outside sys-net"
**Qubes OS version**

So far have tested fresh installs of 4.0.1, 4.0.3, and 4.0.4 as well as a system running 4.0.x with updates for a year before bug appeared.

**Affected component(s) or functionality**

Networking

**Brief summary**

No VMs outside `sys-net` get any internet.
`sys-net` connects fine via WiFi and can access the web via Firefox or ping.

**How Reproducible**

**Laptop 1 (Dell**)

[2021-03-05 22:47] hackerncoder commented on #6414
I use it. Vault and master-gpg is black, and split-vault (used for gpg) and storage is just white, this signals that vault and master-gpg have *very* valuable stuff inside that I do not want out of them at any time, whereas split-vault and storage are non-networked VMs, and for one of them it would be nice if the contents didn't get out (but not critical). If black got removed from AppVMs I would

[2021-03-05 23:12] hackerncoder commented on #6442
As I told you in reddit, no.

[2021-03-05 23:18] brendanhoar commented on #6414
A study would be useful.

I set all my templates to black, and all my sys- VMs (quite a few due to VPNs) to gray.

‘qvm-prefs dom0’ says label is black, but window title bar always appears silver/white (via gradient), which is fine.

For task VMs, the rest of the color palette is used as work context or security context dependent color signifiers.

E.g. All non-networked VMs (such as vault) are bl

[2021-03-06 00:39] unman commented on #5778
On Fri, Mar 05, 2021 at 09:10:34AM -0800, donob4n wrote:

I don't understand this example - if the destination is compromised, then
why would there be a need to modify the clipboard? They just capture the
data as is and exfiltrate it - you are hosed, and the Qubes clipboard is
the least of your problems.

[2021-03-06 00:49] unman commented on #6438
On Fri, Mar 05, 2021 at 12:04:16PM -0800, Andrew David Wong wrote:

Under Linux any character(8 bit) is allowed except "/" and "null" - so the "?"
is perfectly legal.

[2021-03-06 01:02] andrewdavidwong commented on #6438
Of course it's legal under Linux, or else the situation could not have arisen in the first place. It doesn't follow that every program must be just as permissive. It's up to the developers to decide whether they want to do that.

[2021-03-06 01:09] andrewdavidwong commented on #6441
This is still not the appropriate venue for such questions, as explained above.

This is basically still a support question.

Yes, please do.

[2021-03-06 01:26] andrewdavidwong commented on #5778
I guess you're not understanding what I mean. Of course `ctrl+c` and `ctrl+v` are standard for copy and paste. No one would ever dispute that. "This type of case" refers to the discoverability of software-specific functions with keyboard shortcuts. In almost every GUI application I use that has non-OS keyboard shortcuts, there are buttons that do the same thing, and hovering over those buttons dis

[2021-03-06 01:26] hackerncoder commented on #6414
I think I should probably create an issue for this, but I setup limesurvey to create a study/survey.

[2021-03-06 01:53] marmarek commented on #5778
TBH, this issue is already _far_ beyond the point of usefulness as an actionable issue.

[2021-03-06 03:07] unman commented on #6438
On Fri, Mar 05, 2021 at 05:02:32PM -0800, Andrew David Wong wrote:

I misunderstood your comment.
It isn't clear to me why the range of available file names should be
restricted as boot media.

[2021-03-06 06:08] tweidinger commented on #5980
Still picks up the upstream kernel instead of local :disappointed:
@n0madK could you please verify that this matches your approach? Thanks :blush:

clone qubes-builder
use builder.conf from above and add the xen branch, use master for linux kernel.

[code]

[code]

remove `%define name_suffix -latest` from `qubes-src/linux-kernel/kernel.spec.in`
Go back into the builder directory and replace the k

[2021-03-06 06:17] EvTheFuture commented on #5980
Good question. I'm also struggling and are curious on how to get it to include the "right" kernel.

[2021-03-06 08:15] michaelschefczyk commented on #6441
Thank you. As you can imagine, I am respectful but not pleased. As I need the feature to work productively, I am trying to clarify the issue to avoid moving back to plain Debian prematurely, which I would regret and see as a personal setback in terms of secure computing. At my university, there was always some sort of admiration for someone from the business faculty focusing on PC security more th

[2021-03-06 08:28] andrewdavidwong commented on #5778
Ok, let's just close it, then. When we've determined some specific, actionable task regarding the clipboard, a well-scoped issue can be opened for that task.

[2021-03-06 08:28] #5778 closed

[2021-03-06 13:49] donob4n opened #6443 "Improve multiple qubes action handling in Qubes Manager"
**Qubes OS version (if applicable)**

R4.1

**Affected component(s) or functionality (if applicable)**

Qube Manager

**Brief summary**

Currently, Qube Manager supports the selection and application of most common tasks to many qubes at once. However,  handling the confirmations  is quite cumbersome. If you select many qubes and activate the shutdown button you will get a new dialog for each one

[2021-03-06 14:41] gdvine commented on #6442
Neither IP address nor domain name pings function outside `sys-net`.

How do I ping `sys-net`? Its IP is not listed in Qube Manager.

AppVM -> sys-firewall ping works.

[2021-03-06 15:16] pabpas commented on #6300
`qvm-start-gui --notify-monitor-layout` works for me.

Output of `xrandr`while it was happening:

Screen 0: minimum 64 x 64, current 64 x 64, maximum 32767 x 32767
DUMMY0 connected primary
   QB2560x1080   46.11 +

vs normal output:

Screen 0: minimum 64 x 64, current 2560 x 1080, maximum 32767 x 32767
DUMMY0 connected primary 2560x1080+0+0 0mm x 0mm
   QB2560x1080   46.11*+

[2021-03-06 15:24] iamahuman commented on #6300
I believe the results of these commands to be helpful in diagnosing potential timing issues.

[2021-03-06 15:38] donob4n commented on #6442
I would say that there is the problem. Your sys-net should have an internal IP and it should be displayed in Qube Manager. Try opening a terminal in 'sys-net' and look what shows "ifconfig". All vif interfaces should have the sys-net ip address. Also look in 'sys-net', maybe there is some useful information.

[2021-03-06 15:53] gdvine commented on #6442
`ifconfig` in `sys-net` shows

[code]

What do you mean by "look in `sys-net`"?

Oh actually now I do see the IP address for `sys-net`, sorry. I was looking in the qube settings where it's greyed out, but it's in the main table of Qube Manager.

I AM able to ping `sys-net` from `sys-firewall` after all.

[2021-03-06 15:57] johnr14 commented on #6439
Hi, thanks for your quick response !

I checked again:
on latest bios->check
enable all virtualization in bios->check
reset bios to default and restart config->check and... wtf it works ???

I do not get the iommu message on installation.
but I still get :
[    0.771640] Spectre V2 : Mitigation: Full AMD retpoline
[    6.034747] AMD-Vi: AMD IOMMUv2 driver by Joerg Roedel <jroedel@suse.de>
[    6.0

[2021-03-06 15:57] #6439 closed

[2021-03-06 16:01] donob4n commented on #6442
So:
- ping from `sys-net` to `your-router` works
- ping from `sys-firewall` to `sys-net` works
- ping from `sys-firewall `to `you-router` fails

Right? Have you got some firewall rules defined in `sys-firewall`? I would try to diagnose this with tcpdump o wireshark, check the iptables/nftables rules...  At some point the packets (or their reply) are being dropped.

[2021-03-06 16:11] gdvine commented on #6442
Your bullet list is correct - I just made sure by trying to ping the router.

I do NOT have any rules defined anywhere! This is a fresh install of 4.0.4 currently. As stated in the OP, 4.0.1 and 4.0.3 were also FRESH installs with standard setup (although I declined to have the default AppVMs installed) and also exhibited this bug.

The rest of your comments are above my skill level. If you'd like

[2021-03-06 16:13] brendanhoar commented on #6442
Unlikely custom firewall, OP is stating this happens immediately after each install and also recently appeared on a working install.

Some of OP’s comments have been contradictory so I’m a little unclear if an app vm that routes directly to sys-net works.

Thinking maybe a local network issue with Max hops?

 Does your router/access-point have a limit in the TTL allowed for incoming packets? Does

[2021-03-06 16:24] gdvine commented on #6442
Hello Brendan, thanks for your input.

Correct.

Sorry for any confusion. AppVM connecting through `sys-net` definitely does NOT work. Nothing I have tried enables _any_ internet in _any_ qube other than `sys-net`.

I have no idea about packet limits, but I can say my original Qubes install which did work was on this same network for several months before suddenly exhibiting this bug.

Regarding T

[2021-03-06 16:44] donob4n commented on #6442
First check this command on sys-net: `sudo sysctl -a | grep .forwarding` , all ipv4 interfaces should have forwarding enabled.

If ok try this on sys-net:
- `sudo dnf install tcpdump`
- `sudo tcpdump -i wls6`

Do some pings: sys-net->router, sys-firewall->router... (also sys-firewall->sys-net but probably are not captured by this interface) You should see packets captured by tcpdump.

-- Regarding

[2021-03-06 16:49] gdvine commented on #6442
Huge thanks to Brendan! I'm at new location on ethernet and everything is working!

I am going to test WiFi at this location now

[2021-03-06 17:07] marmarek commented on #6439
This is expected inside VM (either dom0 or sys-net) - IOMMU is managed by Xen not Linux. You should see successful IOMMU initialization in `xl dmesg` output.

[2021-03-06 17:11] gdvine commented on #6442
WiFi also works at new location. Thank you so much for helping out with this issue.

I'm ready to offer any assistance I can so that users can diagnose this type of router (?) problem in future. Would you like to know anything else about this router?

[2021-03-06 17:12] #6442 closed

[2021-03-06 18:24] donob4n commented on #6317
A simple solution could be a button in Qubes Manager like "Hardware Info" or "System Info" which shows the output of `qubes-hlc-report`. It could include information or a simple way for uploading it to https://www.qubes-os.org/hcl/.

[2021-03-06 18:41] n0madK commented on #5980
I did a couple of builds to test and it seems the important point are in the last few steps:

- make sure the builder.conf `BRANCH_linux_kernel` matches your local branch name for qubes-src/linux-kernel
- in qubes-src/linux-kernel, this line must be removed, not just commented
[code]
- build the kernel, and make sure that the artifact exists without the `-latest` tag
[code]
should have something l

[2021-03-06 19:44] EvTheFuture commented on #5980
Oh, this is a mistake I know I made. I'll try again with these clarifications. Thank you!

[2021-03-06 19:51] ctrlaltf24 commented on #6425
[code]
utils/logo.c:15 (xscreensaver source)

While yes the code behind xscreensaver isn't the cleanest, its still one of (if not the) most secure screen locker available (as shown by the quotes below (see links for full context of quotes).

[unman (link to discussion)](https://github.com/QubesOS/qubes-issues/issues/1917#issuecomment-782787763)

[andrewdavidwong (link to discussion)](https://githu

[2021-03-07 01:08] jorgejones7711 commented on #3349
I wasted several hours today trying to solve this as well and I post my misadventure here in case it may save anyone else some time.

Double check in your BIOS that the ethernet NIC is enabled. Mine was disabled. Once booted, shut down sys-net, edit it's settings, and on the devices tab, look for your ethernet controller, and add it to the selected side. That's all it took for me. Now in Network M

[2021-03-07 01:15] jorgejones7711 commented on #5009
Any progress on this?
Sure would be nice to have a small, clean gateway,

[2021-03-07 05:33] Jashan092 commented on #4840
I also get the same error and I checked packaging.log and get this in the last lines. ![20210307_110255.jpg](https://user-images.githubusercontent.com/79596062/110230126-b042ba00-7edc-11eb-8582-281a7d2c9249.jpg)

[2021-03-07 05:39] tweidinger commented on #5980
Can confirm it picks up the correct kernel! Thanks @n0madK :smile:

[2021-03-07 09:53] donob4n commented on #3415
Why don't just clear with a delay after copying? Generally, users copy something with the immediate intention of paste it somewhere. Copy is like a requirement for the act of paste. If they don't do it in a reasonable interval of time it is very likely that they abandoned their objective and after some minutes they probably even forgot that they had something copied.

This would also void mistakes

[2021-03-07 11:36] AlxHnr opened #6444 "Fedora 33: Starting xterm with too many arguments breaks the GUI/xserver"
**Qubes OS version**

Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**

GUI, xserver

**Brief summary**

Starting xterm with too many arguments breaks the VMs graphical subsystem. This makes it impossible to start graphical programs.

**How Reproducible**

Every time.

**To Reproduce**

1. Install fedora-33
2. Run this command from dom0:

[code]

**Expected behavior**

Xterm st

[2021-03-07 14:28] Runnerblade84 commented on #3349
I have the same error in 4.0.4 i can't investigate more than already did.

`root@sys-net:~# lspci -vnn | grep 577
00:06.0 Ethernet controller [0200]: Broadcom Limited NetXtreme BCM57766 Gigabit Ethernet PCIe [14e4:1686] (rev 01)
	Subsystem: Broadcom Limited NetXtreme BCM57766 Gigabit Ethernet PCIe [14e4:1686]`

`root@sys-net:~# dmesg | grep tg3
[    1.204346] tg3.c:v3.137 (May 11, 2014)
[   37.230

[2021-03-07 15:06] hast0011 opened #6445 "Mouse stutters"
**Qubes OS version**
R4.04

**Affected component(s) or functionality**

USB mouse movement

**Brief summary**

The mouse starts stuttering if there is some network traffic.
Was not visible at 4.02.

**How Reproducible**

Happens all the time

**To Reproduce**

Steps to reproduce the behavior:
1. Fresh install
2. update template
3. during the template has network access the mouse stutters.

**Expec

[2021-03-07 20:42] iprid commented on #6396
@donob4n, I think it's a good idea to have such checks in dom0. I think that qvm-block attaches/detaches storage.

[2021-03-07 21:03] iprid opened #6446 "Random(occasional) restart/reboot after resume from suspend"
### Qubes OS version:
R4.0

### Affected component(s) or functionality:
Resume after suspend

---

### Steps to reproduce the behavior:
Suspend(either via UI or just do systemctl suspend)
Resume(press power button on laptop)

### Expected or desired behavior:
Everything should resume.

### Actual behavior:
Occasionally the laptop reboots itself.(in a weird/slow way)

### General notes:

Kernel: 4.

[2021-03-07 22:35] SaswatPadhi commented on #6445
I have always had this issue with Qubes. I think it might be because of the Qubes firewall, which hogs up a lot of CPU during high network traffic, but I am not sure. My mouse always stutters when I access files over my Gbps local network. With lower traffic (~20MBps or so) it's not really noticeable.

[2021-03-08 02:41] iamahuman commented on #6446
This sounds like a hard reboot.

[2021-03-08 05:13] Rspigler commented on #4318
Thank you everyone for all the great work on this!

[2021-03-08 05:31] justinlynn commented on #4318
Is there a guide and/or some notes on building a QubesOS image for the Talos II and/or Blackbird systems and testing the KVM port?

[2021-03-08 09:15] n0madK commented on #5980
@tweidinger do you mean that it crashes and reboots when sys-net/sys-usb starts? I ended installing with kernel 5.8.16-1 due to this problem. It was resolved for me in 5.10.16-1.3 https://github.com/QubesOS/qubes-issues/issues/6397#issuecomment-789742589

[2021-03-08 10:16] tweidinger commented on #5980
@n0madK no I am not even getting to starting other vms. My device gets stuck even before setting up dom0 properly. I suspect some issues on the xen side for my hardware (Ryzen 4800H + RTX 2060). It just hangs in a soft stuck loop or just hard stucks while enumerating pci devices.

Should I open another issue for this?

![soft_stuck_xen_pci](https://user-images.githubusercontent.com/28728469/110307

[2021-03-08 11:40] n0madK commented on #5980
I have the "RIP xen_hypercall_xen_version ryzen" in my search history, but I don't recall what I did to fix that. IIRC I just slowly rolled back from 5.10.x to 5.9.x before landing on 5.8.16 which finally worked. The version you're using (5.10.16-1) did not work from installer or dom0, but 5.10.16-1.3 works in dom0. The fixes in 5.10.16-1.3 are also supposed to be in 5.10.21 and 5.11.4 also.

[2021-03-08 15:03] tweidinger commented on #5980
Will try other kernel versions but 5.8.16-1 did not work on my system. It hangs at the same output (2 out of 3 times without displaying a soft lockup, just freezing completely).

[2021-03-08 15:19] F1nnM commented on #5871
I'd also love to use Qubes on this Laptop and ran into the same issue half a year ago. Any updates so far?

[2021-03-08 15:54] EvTheFuture commented on #5980
I can confirm building with kernel 5.10 and Xen 4.14 per @n0madK instructions got a working iso for me. It successfully boots and I can install on local disk.

Have not tested to boot installed version yet.

Lenovo L14 gen1 (Ryzen 4500U)

[2021-03-08 16:39] iprid commented on #6446
@iamahuman Hm, possibly, though since it's a laptop I can't normally trigger a hard reboot(like one can on a desktop).

But the weird thing is that there is no log between suspend and reboot. Ie. no errors are logged in the journal.

I guess for anything to be logged the system must resume successfully - ie. wake-up cpu and then disk io, so that it can record to the filesystem. So perhaps some err

[2021-03-08 16:57] marmarek commented on #6446
Yes, this sounds like a kernel/xen panic during resume, at which point nothing that could save the message is running yet.
Have you tried newer kernel in dom0? There is "kernel" at version 5.4.x and also "kernel-latest" at version 5.11.x

[2021-03-08 17:05] ejose19 commented on #6397
@eric-blabla I've installed 5.11.4 and so far I couldn't reproduce any crash, check if it's solved for you as well:
`sudo qubes-dom0-update --enablerepo=qubes-dom0-current-testing kernel-latest kernel-latest-qubes-vm --best --allowerasing`

The notable difference between this and problematic 5.10 versions, is that now when there's low memory, I get: `qmemman.systemstate[2235]: Xen free = 267222940

[2021-03-08 18:19] eric-blabla commented on #6397
thanks @ejose19! I installed it ... now I run tests ..

[2021-03-08 20:57] eric-blabla commented on #6446
I have that as well,with 5.4 and 5.10 kernels. Could not check 5.11, it crashes before I could suspend :(

[2021-03-08 21:06] jandryuk commented on #4604
I submitted a patchset adding HWP support to Xen here:
https://lore.kernel.org/xen-devel/20210308210210.116278-1-jandryuk@gmail.com/T/#m726bf3e6056806d91d1ebe095ad5d6e38a99f9ab

Testing is appreciated.

[2021-03-08 21:48] shawnanastasio commented on #4318
The port is still in a very early stage, so there's no solid documentation yet (and only the most basic core functionality works so it's not very useful yet).

If you want to play around with stuff, the rough steps are:

1. Install Fedora 32 on your host
2. Clone my [qubes-builder fork](https://github.com/qubes-ppc64le/qubes-builder)
3. Build the `qubes-vm`, `qubes-dom0`, `template` targets
4. Ins

[2021-03-08 22:06] iprid commented on #6446
Hm, I did have a similar problem with 4.14, though it seemed to happen rarely, like maybe once every 2-3 months with numerous suspend/resume a day, while now it feels like it happens once every 10 days. I recently upgraded to 4.19 because of the security issue in the bulletin. By the way the thermal stability/fan control is better than with 4.14. I guess I will try 5.4 these days since I like LTS

[2021-03-08 22:09] marmarek commented on #6446
This specific fix is isolated to this package. Dependencies between packages should be set correctly, so if anything else in dom0 would need an update, the package manager will tell you.

[2021-03-08 23:02] donob4n commented on #6397
How pstore is backed depends a kernel config during compilation. The latest kernels are using efivars which is fine place for save information on crash but 4.x and 5.4 don't use it so you will see the directory empty. If you boot again on 5.11 you should see the logs.

[2021-03-08 23:26] marmarek commented on #6397
Uhm, I might have broken it recently :/ the updated kernel config imported from Fedora has it disabled now. I'm trying to figure out if that change was intentional (and why), otherwise I'll just flip it back in our kernel config.

[2021-03-09 04:48] tonym1995 opened #6447 "New installation from usb fails to boot"
### Qubes OS version:

Qubes-R4.0.4-x86_64

### Affected component(s) or functionality:

Trying to install Qubes onto a Dell Laptop 7280. Installation fails to boot.
NOTE!  The laptop has never had Qubes installed. This is the first installation. Installer fails to a root prompt.

Snippet of the log.

[   14.748312] localhost kernel: scsi 3:0:0:0: Direct-Access      USB      SanDisk 3.2Gen1 1.00 P

[2021-03-09 07:07] 0spinboson commented on #5674
Thanks for the sleuthing. note for people like me who like to do silly things like run a dual 4k monitor setup: even 512k is still way too small to capture the whole buffer so you can see the headers, have for now changed it to 1512k.

[2021-03-09 10:26] permezel opened #6448 "4.0.4 ISO fails to boot on HP Z8 Workstation"
**Qubes OS version**

4.0.4

**Affected component(s) or functionality**

Boot/Install ISO

**Brief summary**

Tried booting from both 64Gig SanDisk USB drive and 1T SanDisk SSD drive.  Both times got as far as relinquishing to console to Xen and then nothing.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Download ISO
2. Verify sig with GPG
3. dd to USB Drive
4.

[2021-03-09 10:51] permezel commented on #6448
Just re-verified the SSD contents:

[code]

[2021-03-09 11:13] adrelanos commented on #6364
* https://www.whonix.org/wiki/Remote_Administration#Qubes_-_SSH_or_VNC_into_Qubes_dom0
* https://www.whonix.org/wiki/Dev/Qubes_Remote_Support

[2021-03-09 12:18] permezel opened #6449 "4.0.4 ISO fails to boot on Intel NUC10"
**Qubes OS version**

4.0.4

**Affected component(s) or functionality**

Boot Install ISO

**Brief summary**

Tried the 4.0.4 install ISO on the Intel NUC105FNH4

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Obtain and verify 4.0.4 install ISO
2. Copy to USB SSD Drive
3. Boot
4. Hit F10
5. Select the SSD from the list
6. Watch in horror as it summarily carks.

[2021-03-09 19:17] hast0011 commented on #6445
Could be depending on network speed. I upgraded my internet connection during pandemic situation and maybe it is now more obvious.

[2021-03-09 19:26] hast0011 commented on #6445
![image](https://user-images.githubusercontent.com/33160182/110525926-790b1d80-8115-11eb-8e8e-b42b24b4a29f.png)

I just tried and made a screenshot of xentop. CPU power of firewall does not seem to be too high.

[2021-03-10 11:04] S-G-iscoding opened #6450 "Broken link (acm revoction pdf) in AEM documentation"
### Qubes OS version:

R4.0

### Affected component(s) or functionality:

The documentation of anti evil maid in https://github.com/QubesOS/qubes-antievilmaid/blob/master/README

---

### Steps to reproduce the behavior:

1. Click on the link https://software.intel.com/system/files/article/183305/intel-txt-sinit-acm-revocation-tools-guide-rev1-0_2.pdf found in https://github.com/QubesOS/qubes-anti

[2021-03-10 14:33] dmoerner commented on #4604
@jandryuk I built these patches against Xen-4.14.1 for Qubes R4.1. They applied with some fuzz, including a bit of manual work on `xen/include/asm-x86/msr-index.h`. (I assume they were made against the latest git sources.) I then tested them on a Dell Latitude 7400, Core i5-8365U (8th gen, "Whiskey Lake"). Unfortunately, it doesn't seem to work for me, but perhaps I need to take some extra steps.

[2021-03-10 14:49] jandryuk commented on #4604
Thanks, @dmoerner!

Please do `sudo xl dmesg | grep HWP`.  You need to look at Xen's logs and not Dom0's (regular dmesg).  If you have some hits, you can look further to see what you get.  Also, add `cpufreq=xen:verbose` to your Xen command line to get more output.

`sudo xenpm get-cpufreq-para` should work.  Are you sure the newer xen tools are installed?  Even with the older tools, it should giv

[2021-03-10 15:09] bricksandsticks opened #6451 "lvmthin no space, qubesd won't start after reboot."
**Qubes OS version**

**Affected component(s) or functionality**

qubesd
VM's
Qube Manager and similar functikns

**Brief summary**

Left monero block chain downloading and came back to a crashed monero deamon and a warning all over my qubes saying the lvmthin provision was full. Tried to reboot and now when qubes starts I have no qube manager, WiFi, USB etc in the top right section and no qubes V

[2021-03-10 16:24] dmoerner commented on #4604
Thanks for the help, @jandryuk.

Here's a tree people can use to build Xen for Qubes R4.1 using the qubes-builder tools: https://github.com/dmoerner/qubes-vmm-xen/tree/hwp. When I refreshed the patches I put it in a single big patch, but I can also split them out if people would like.

xen-acpi-processor was not loaded in dom0. After loading it, `sudo xenpm get-cpufreq-para` does work; it produces

[2021-03-10 16:47] sendmeyourhashrate commented on #6451
I think i have the same issue as you, I will also match your $500 crypto donation if someone can help me recover my files.

[2021-03-10 17:00] sendmeyourhashrate opened #6452 "Issues with Qubesd while under full lvm. qubesd.service: Failed with result 'start-limit-hit'"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
VM's
QubesD.
Qube Manager
Any other Qubesd related things.

**Brief summary**
When the LVM disk volume becomes full issues are created with Qubesd.
I did a few things wrong while experiencing these issues, I saw a bunch of error messages when i came back to my computer which was downloading the Monero Blockchain saying the LVM w

[2021-03-10 18:15] SaswatPadhi commented on #6445
+1. I have a separate `sys-usb` and yes, syncing the events (clicks, movements etc.) do dom0 seems slow. I notice this with my USB keyboard too. Sometimes key strokes are delayed and sometimes a single key stroke gets repeated multiple times in the AppVM where I am typing!

[2021-03-10 20:49] hast0011 commented on #6445
I have no separate sys-usb vm. The feeling is that the mouse pointer doesn`t follow the movement of the mouse immediatly. It hangs for some millisecons and the jumps to the expected position. That happens repeatedly during a movement. It`s very hard to be precise during this behaviour because it also creates some kind of overshot.

I didn`t recognize the keystroke behaviour in my case.

What do yo

[2021-03-10 20:52] danrubins opened #6453 "Mouse and tablet can't click-and-drag using sys-usb"
**Qubes OS version**
4.0.4

**Affected component(s) or functionality**
Mouse and tablet pass-through from sys-usb

**Brief summary**
Both mouse and tablet both lose the ability to click and drag when being passed through sys-usb

**How Reproducible**
Immediate effect (after reboot to begin using sys-usb)

**To Reproduce**

Steps to reproduce the behavior:
1. Fresh Qubes 4.0.4, installed without sy

[2021-03-10 21:49] SaswatPadhi commented on #6445
I meant that sys-usb recognizes it, and sort of "caches it" in some sense, but there is a delay in when the effects appear outside of sys-usb.

[2021-03-10 22:07] andrewdavidwong commented on #6447
Can you please confirm that this hardware satisfies all the system requirements and that you have gone through the installation troubleshooting documentation?

[2021-03-10 22:10] andrewdavidwong commented on #6448
Can you please confirm that this hardware satisfies all the system requirements and that you have gone through the installation troubleshooting documentation?

[2021-03-10 22:11] andrewdavidwong commented on #6449
Can you please confirm that this hardware satisfies all the system requirements and that you have gone through the installation troubleshooting documentation?

[2021-03-11 00:13] dmoerner commented on #6418
I think that @kalkin has refreshed patches for awesome 4.2 (https://github.com/kalkin/qubes-desktop-linux-awesome). I haven't tested them or seen how easily they apply to 4.3.

However, what I see about the new patches is that they only patch awesomerc.lua (the config file) and ship a new qubes.lua file. That means Qubes shouldn't need to ship a separate awesome package at all, but can just ship a

[2021-03-11 00:46] dmoerner commented on #4604
You must be right---battery life does seem improved, and on average the computer is running much cooler. Thank you so much for your work on these patches.

I do have the normal output from `sudo xl dmesg`, including information about the CPUs; I'm not sure why it's not printing anything about HWP.

[2021-03-11 02:18] marmarek commented on #6453
Thanks for the report!
Do you mean an actual mouse (separate device) stops working for moving windows and selecting text? Or just tablet's function of emulating mouse?
Can you check the difference in `evtest` tool output on those devices in sys-usb and dom0? Just the initial info on what events are supported. You'll need to install it in both dom0 and the sys-usb's template/

[2021-03-11 02:20] unman commented on #6451
I can help you recover your files.
It's important that you do nothing now that will compromise your ability to recover data.
I suggest that we take discussion off GitHub, as there are likely to be personal details involved which you may wish to keep private.
Email me, and we can work through the necessary - you can get my email and pgp key from https://www.qubes-os.org/team/
Once your data is reco

[2021-03-11 02:50] permezel commented on #6448
Per https://www.qubes-os.org/hcl/ this platform is supported.  I used to run 4.0 on it.

Perhaps it is due to an EFI boot issue.  I had disabled legacy boot option, and when I enabled it, even though it used EFI to boot, it now comes up to the install screen.

Something to do with the option ROMs being executed?

Anyway, I currently do not have spare disk on this system to proceed with the install

[2021-03-11 02:50] #6448 closed

[2021-03-11 02:58] permezel commented on #6449
I can confirm that I successfully installed 4.1 on it afer https://github.com/QubesOS/qubes-issues/issues/6373 was fixed.
I believe this implies it satisfies all the system requirements.  Once I installed 4.1, I restored all my latest 4.0.X backups on it and confirmed that everything was working: various split-gpg pairs for email and admin, etc.

I'll work thru the trouble shooting stuff later on

[2021-03-11 03:41] th5 commented on #6414
That looks really nice. This would be a welcome improvement.

[2021-03-11 03:58] th5 commented on #6425
XScreenSaver is MIT licensed. I suggest dropping the name and lightly changing the interface, while staying in sync with upstream. As per the license, attribution wouldn't go away.

"You wouldn't alter the name ... on a program that you didn't write"
Actually, I would. If nothing was supposed to change, there are plenty of other licenses out there.

[2021-03-11 04:17] th5 commented on #6425
Please make Qubes look nice. The whole thing can look nicer and be more usable. Please please please

[2021-03-11 04:27] unman commented on #6425
On Wed, Mar 10, 2021 at 07:58:19PM -0800, Tom Hutchinson wrote:

If it is agreed that we change the "scary image", then definitely we
must change the name.
I propose qscreensaver and derivates for the command line.

[2021-03-11 05:42] andrewdavidwong commented on #6452
Duplicate of #6451

[2021-03-11 05:43] andrewdavidwong commented on #6452
Further explanations do not merit separate issues. They should instead be posted as comments on the existing issue.

------

This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please

[2021-03-11 05:43] #6452 closed

[2021-03-11 09:20] oniontrack commented on #6451
Emailed you. Lost access to other account.
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Same Public key as in email

-----BEGIN PGP SIGNATURE-----

iQGTBAEBCgB9FiEEFr4i+7ht3rzQc+uCh/r4G1m1DZYFAmBJ4LBfFIAAAAAALgAo
aXNzdWVyLWZwckBub3RhdGlvbnMub3BlbnBncC5maWZ0aGhvcnNlbWFuLm5ldDE2
QkUyMkZCQjg2RERFQkNEMDczRUI4Mjg3RkFGODFCNTlCNTBEOTYACgkQh/r4G1m1
DZa1fgf/VVX4tzoDxDc1JLdCXTCbFhH3daCtW86vBvmQPkLsJJy5L

[2021-03-11 10:53] kalkin commented on #6418
I myself do not use awesome anymore, but if there is interest I can prepare a minimal package for it.

[2021-03-11 10:56] fepitre commented on #6418
@kalkin sure. If you have updated the package to be able to build it under Fedora 32, please don't hesitate. Thank you.

[2021-03-11 13:21] unman commented on #6451
@oniontrack I have not received email. Please resend - unman@thirdeyesecurity.org

[2021-03-11 13:41] oniontrack commented on #6451
sent from proton now should be with you thanks

[2021-03-11 15:24] adrelanos commented on #5720
Has this been resolved?

[2021-03-11 15:25] adrelanos commented on #5312
Is there still any issue here? @awokd

[2021-03-11 15:27] marmarek commented on #5720
I believe it was not an issue to begin with (`apt dist-upgrade` should be used). But in any case, there were several newer template builds since then, that already include 4.13 xen packages.

[2021-03-11 15:27] #5720 closed

[2021-03-11 16:09] unman opened #6454 "Qubes Builder no longer verifying signatures"
### Qubes OS version:

4.0.4

### Affected component(s) or functionality:

Qubes Builder

---

### Steps to reproduce the behavior:
1. Configure builder with split gpg, and no gpg configuration in builder qube.
2. Close down gpg qube
3. `make get-sources`

### Expected or desired behavior:
gpg backend will be started and user prompted for access to keys. (Previous behaviour)

### Actual behavior:

[2021-03-11 16:50] marmarek commented on #6454
I'm not sure how you got this conclusion. Gpg works perfectly fine without any specific configuration. In fact, qubes-builder uses minimal gpg keyring by default for a long time already (see [`KEYRING_DIR_GIT` option](https://github.com/QubesOS/qubes-builder/blob/master/doc/Configuration.md#keyring_dir_git)). What have changed recently-ish, is to force `gpg.program=gpg` git option for the signatur

[2021-03-11 16:50] #6454 closed

[2021-03-11 18:08] #6221 closed

[2021-03-11 18:08] #5382 closed

[2021-03-11 21:39] danrubins commented on #6453
Thanks for taking a look! The actual mouse (HP J2X04AA) stops working, but just for the drag-and-drop functionality, as well the same for a tablet's mouse emulation (apple magic trackpad 2 via usb). I'll post `evtest` output shortly.

[2021-03-11 23:33] unman commented on #6454
On Thu, Mar 11, 2021 at 08:51:07AM -0800, Marek Marczykowski-G??recki wrote:

OK - I didnt interpret "explicitly set gpg.program" to mean "over ride user's
explicit setting"

[2021-03-12 00:02] ctrlaltf24 opened #6455 "Canary 26's header reads Qubes Canary 025"
**Qubes OS version (if applicable)**
N/A

**Affected component(s) or functionality (if applicable)**
https://github.com/QubesOS/qubes-secpack/blob/master/canaries/canary-026-2021.txt

**Brief summary**
The 26th Canary's title reads "---===[ Qubes Canary 025 ]===---" although it is canary 26, not canary 25.

**Additional context**
Doesn't really matter, probably not worth changing it as it would re

[2021-03-12 11:31] iamahuman commented on #6455
On Thu, Mar 11, 2021, 10:06 PM Andrew David Wong \<adw () qubes-os ! org\> wrote:

a typographical error in the title (the canary number "025" had not been
updated to "026"). However, one of the canary signers is not available
to re-sign an updated canary before the canary deadline. Rather than
invalidate this signer's signature by updating the canary text
immediately, we have decided to proceed w

[2021-03-12 11:34] iamahuman commented on #6455
On Thu, Mar 11, 2021, 01:06 PM Andrew David Wong wrote:

a typographical error in the title (the canary number "025" had not been
updated to "026"). However, one of the canary signers is not available
to re-sign an updated canary before the canary deadline. Rather than
invalidate this signer's signature by updating the canary text
immediately, we have decided to proceed with this announcement with

[2021-03-12 12:27] chris-freedom opened #6456 "Error creating VM: file pool cannot export dirty volumes"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qvm-create and GUI Qube Manager

**Brief summary**

When i was trying to create new standalone vm based on a template i have got an error:
`myVM: Cloning root volume`
`app: Error creating VM: file pool cannot export dirty volumes`

**To Reproduce**

Steps to reproduce the behavior:
1. `qvm-create --class StandaloneVM --templat

[2021-03-12 12:35] donob4n commented on #6456
Is your template debian-10 running? I can't reproduce with btrfs pool I will try with lvm too.
uHm, are you using File Pool? Or maybe your AppVM destination pool.

Could you post your qubes pools?

[2021-03-12 13:09] chris-freedom commented on #6456
Debian template isn't running. How can i share my pools information? Do i need execute any command in my terminal?

[2021-03-12 13:28] donob4n commented on #6456
`qvm-pool` in dom0

[2021-03-12 13:32] chris-freedom commented on #6456
`[user@dom0 ~]$ qvm-pool`
`NAME          DRIVER`
`varlibqubes   file`
`linux-kernel  linux-kernel`

[2021-03-12 13:41] donob4n commented on #6456
That's all? So you don't have a LVM or btrfs pool maybe your error is expected. file pool doesn't support snapshots so creating a StandaloneVM will duplicate the root image.
Did you install it recently? What did you select on hard disk settings?

[2021-03-12 13:51] chris-freedom commented on #6456
That's all. I installed it a week ago and used this guide to have raid 0 and encrypted disk partitions:

 Boot from usb flash drive. Press `ctrl + alt + F2` to enter console

Create two partition on sda and sdb disks. You can test fdisk command without save if remove last symbol w in echo command:
`# echo -e "n\np\n1\n\n+1000M\nn\np\n2\n\n\nw" | fdisk /dev/sda`
`# echo -e "n\np\n1\n\n+1000M\nn\np\

[2021-03-12 14:04] donob4n commented on #6456
Try creating a new lvm pool inside your LVM https://www.qubes-os.org/doc/secondary-storage/ and then move (or clone) all your VM's to it.

In a standard installation `varlibqubes` pool only saves configuration files.

[2021-03-12 14:18] chris-freedom commented on #6456
thanks, i'll try it.

[2021-03-12 14:19] #6456 closed

[2021-03-13 01:04] ninavizz commented on #6414
@brendanhoar So... to answer "what do users _want_," a study is a fantastic idea. Likewise, to gain insight into how users of qubes typically use their desktops—and from there, to prioritize design needs.

Unfortunately the default XFCE utilities Qubes uses, were all designed for single-OS environments. As such, they're designed to fulfill usability needs that befit a different mental-model than t

[2021-03-13 01:06] ninavizz commented on #6414
TL;DR: the universal "skinning" needs of one XFCE theme, with the existing colorset for Qubes, is the objective of this issue and the development need I'm flagging here.

The colors vs textures vs "is color the right way to distinguish qubes?" I see as a far bigger ux inquiry, and to keep things "clean" unrelated to this. Both feel really important; as one could make a lot of peoples' lives easier

[2021-03-13 09:58] TNTBOMBOM opened #6457 "Cant update/upgrade due to fedora repos (http?!) connection failure"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**
Fedora Repositories

**Brief summary**
Fedora seems to have problems when trying to connect to their repos , Although fedora should use https only repos the error showing its trying to connect to http plain which weird.

**How Reproducible**
No idea if its happening to me only or to others but i dont know how to reproduce if it

[2021-03-13 11:17] DemiMarie commented on #6457
These errors are normal and harmless.  DNF will automatically switch from one mirror to another as needed.

[2021-03-13 12:30] GWeck opened #6458 "Screen freezing in Qubes R4.0.4 with kernel 5.10"
**Qubes OS version**
R4.0 fully updated

**Affected component(s) or functionality**
complete system

**Brief summary**
If kernel 5.10 is installed in dom0 of Qubes R4.0.x, the system freezes sometimes. The mouse may be moved, but clicking or typing has no effect.

**How Reproducible**
Happens randomly, maybe once a day or so.

**To Reproduce**
Install kernel-latest on a system running R4.0. If the

[2021-03-13 13:23] maiska commented on #6451
Hey, I had the same problem, and this is the solution at least for me, checked it just now on a corrupted dd partition :)
[code]
Tell me if it helped you

[2021-03-13 14:54] TNTBOMBOM commented on #6457
Yeah but as you can see i cant get updates and http (without TLS)
shouldnt be there at the first place. So for sure something is not
normal in here.

Demi Marie Obenour:

[2021-03-13 15:02] rastababy commented on #4610
Sorry I don't understand it completely. I am running 2 sli nivida 980m card and like to get the nvidia driver instead of the nouveau working. And all I need to is to update to a newer kernel like 5.9.1-4 ? But then I need to install the driver and disabel nouveau, or I will it work automatically? I only don't need to install the package from rpm-fusion or?
Thank you very much:)

[2021-03-13 15:02] DemiMarie commented on #6457
Not getting updates is certainly not normal, but the use of HTTP is normal.  Fedora serves (over TLS) metalinks that contain secure hashes of the metadata, and the metadata contains secure hashes of the packages.  Furthermore, the packages themselves are signed.

What happens if you put `zchunk=False` (on a line of its own) in `/etc/dnf/dnf.conf`?

[2021-03-13 16:07] ol7278 commented on #4610
It should work automatically

On Sat, 13 Mar 2021, 16:02 rastababy, ***@***.***> wrote:

[2021-03-13 16:53] TNTBOMBOM commented on #6457
Solved the issue,Not sure how much by turning it off will effect
anything. I believe this is more of a fedora project repositories issue
not specific to qubes?

Demi Marie Obenour:

[2021-03-13 19:26] marmarek commented on #6458
There is already 5.11 kernel in the current-testing repo, this may be fixed there already.
Also, which 5.10 specifically?

[2021-03-13 20:24] donob4n commented on #6397
I am not sure if open new issue but I am having hard reboot with 5.11 kernel on R4.1 after entering luks passphrase.

[2021-03-13 21:24] andrewdavidwong commented on #6457
Yes, I think so. Either that or common transient network problems due to updating over Tor, in which case you can just retry again later.

[2021-03-13 21:24] #6457 closed

[2021-03-13 22:05] iblue opened #6459 "qrexec removes slashes from user parameters"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
qrexec

**Brief summary**
qrexec removes slashes from user parameters and replaces them by underscores.

**How Reproducible**
100% of the time

**To Reproduce**

Steps to reproduce the behavior:
1. Install https://github.com/iblue/qvm-mount (instructions there) on two debian-10 qubes named example1 and example2.
2. On example1,

[2021-03-13 22:12] iamahuman commented on #6459
This is working as expected.

From https://www.qubes-os.org/doc/qrexec/#rpc-service-with-argument-file-reader:

[2021-03-13 22:17] iamahuman commented on #6459
You may want to take a look at #2826 for the general discussion about sharing directories between VMs.

[2021-03-13 22:22] iblue commented on #6459
Yes, I have read this issue a few days ago, found that none of the referred tools solve my problem and wrote qvm-mount. I will reference it in the thread.

So, to have a better user experience in my tool, I would like to display a path (including slashes) to the user to ask for confirmation AND get it as a parameter. Is there a way to do this? I could still just send the path as parameter, get it

[2021-03-13 22:24] iblue commented on #2826
I wrote a tool to mount directories across Qubes. It can be found at https://github.com/iblue/qvm-mount. It works, the performance is better than expected (~500 MB/s on my machine) but it's still in an alpha stage, so not tested that well.

[2021-03-13 22:39] iamahuman commented on #6459
I believe this alternative approach (similar to https://github.com/woju/qubes-app-split-git) may be more secure:

1. Provide a UI on sharer side that lets you select directories to be shared (exported).
2. Create a directory `~/QubesShared` and put there symlinks to the shared directories.
3. On the client side, specify the share by the symlink name.

Anyway, thanks for your contribution!

[2021-03-13 22:41] iamahuman commented on #6459
That said, you can probably substitute `+` for a slash.

[2021-03-13 22:49] iblue commented on #6459
That is actually a good idea. I will look into it. Thanks for your time!

[2021-03-13 22:49] #6459 closed

[2021-03-14 00:31] pietrushnic commented on #4035
I'm facing the same problem with Logitech C922. It works fine in sys-usb, but apparently, usbip is the problem.

[2021-03-14 10:03] GWeck commented on #6458
I tested with 5.10.13-1. If I get the 5.11, I will test it.

[2021-03-14 13:55] hackerncoder commented on #6414
@ninavizz Here is my survey: https://survey.encryptionin.space/index.php?r=survey/index&sid=178339&lang=en. I would love some feedback (I'm a developer, not a UX person) before I send it out.

[2021-03-14 16:40] jandryuk commented on #4604
Thanks for testing and reporting, @dmoerner .

For xl dmesg: "Using HWP for cpufreq" is printed at "info" level, but the default logging level (loglvl) is "warning".  The message level is greater than the log level, so it's not printed.

[2021-03-14 18:06] zoechi commented on #6328
I discovered this errors as well, while investigating frequent KDE freezes (no indication they are related so far though)

[2021-03-14 18:27] genericxero opened #6460 "look right to you guys?"
i dont know. been trying at this intense ass rootkit, infecting 2 whole home networks... every OS ends up like this.... this look right to you?

[2021-03-14 18:30] #6460 closed

[2021-03-14 19:14] genericxero opened #6461 "skip the text if you want I was just wondering if this looks normal pretty much for this operating system.. it's a huge favor thank you"
I'm having a real hard time using this Android tablet but it's a good thing it has a USB port at least because my home network is infected which I'm starting to wonder if it doesn't have to do with solarwinds and my mom's work since I don't usually live here and it started when I moved here for a little bit also now after having my phone over at the chick's house which is my usual home one time an

[2021-03-14 19:20] genericxero commented on #6461
![IMG_20210314_132306_0](https://user-images.githubusercontent.com/80643216/111081224-b0dce100-84d8-11eb-834b-f491799c77a0.jpg)
![Screenshot_2020-09-21_00-26-34](https://user-images.githubusercontent.com/80643216/111081229-b3d7d180-84d8-11eb-8349-c1ec3743068a.png)
![Screenshot_2020-09-21_00-14-04](https://user-images.githubusercontent.com/80643216/111081230-b4706800-84d8-11eb-8135-7b4232ce2e79.png

[2021-03-14 19:23] genericxero commented on #6461
![IMG_20210314_132306_0](https://user-images.githubusercontent.com/80643216/111081224-b0dce100-84d8-11eb-834b-f491799c77a0.jpg)
![Screenshot_2020-09-21_00-26-34](https://user-images.githubusercontent.com/80643216/111081229-b3d7d180-84d8-11eb-8349-c1ec3743068a.png)
![Screenshot_2020-09-21_00-14-04](https://user-images.githubusercontent.com/80643216/111081230-b4706800-84d8-11eb-8135-7b4232ce2e79.png

[2021-03-14 19:27] genericxero commented on #6461
Okay these are very long especially the second one that I'm going to upload but the tree is what I was interested n people seeing
Sorry I'm imagining somebody who knows the system pretty well will know but I certainly can't completely tell and if it is still there somewhere if it's possible it's in my GPU? well this is all been incredibly frustrating and I and definitely started out fun for a good

[2021-03-14 20:35] oija12 opened #6462 "Split GPG freezing Thunderbird"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Thunderbird and qubes-split-gpg

**Brief summary**
On my laptop as well as that of 2 colleagues, Thunderbird freezes several times per day. This happens at a critical time when we hit send or when we open an encrypted email - in both cases Thunderbird is fetching the key from the vault-gpg. To fix the problem, we have to either

[2021-03-14 20:47] genericxero commented on #6461
[tree from qbs.txt](https://github.com/QubesOS/qubes-issues/files/6137533/tree.from.qbs.txt)

FINALLY
that took forever to upload.. this

someone will know if it all looks normal.. especaially  by the bottom. says 214203 files  then there is the systemd-private-   with rtkit -daemon.service  [error opening dir]

[2021-03-14 21:02] fepitre commented on #6461
This is not the place for such request. Please use https://qubes-os.discourse.group/.

[2021-03-14 21:02] #6461 closed

[2021-03-14 21:13] ioleo commented on #6426
@ctrlaltf24 I'd love to see a guide. Been wanting to seperate my conferencing from dev for a while now.

[2021-03-14 21:43] DemiMarie commented on #6462
I suspect that Thunderbird assumes that cryptography is synchronous, whereas signing with an external program is inherently asynchronous.

[2021-03-14 22:05] ninavizz opened #6463 "Colors Survey!"
**Brief summary**
Community contributor @hackerncoder has [created a survey](https://github.com/QubesOS/qubes-issues/issues/6414#issuecomment-798912113) (thank you!) to learn more about how folks use colors, in Qubes. This Issue is to contain feedback and findings to/from that effort. It compliments Issue #2523 and originated on #6414.

That survey is here:
https://survey.encryptionin.space/index.

[2021-03-14 22:06] ninavizz commented on #6463
From @hackerncoder:

[2021-03-14 22:08] ninavizz commented on #6463
@hackerncoder Thank you for reaching-out and for putting this together! Sure, a few thoughts...

1. You want to ask as little as possible of people, when hitting them up with a survey. Asking them to "think" is often a showstopper... even though, yes, as researchers, that is basically our motivation—to learn how they think (lol). As such, fixed-choice options with easy to parse answers, will more

[2021-03-14 22:09] ninavizz commented on #6414
Thank you @hackerncoder for creating that survey! To keep this Issue focused on the creation of a new XFCE theme for the reasons articulated above, I've created [a separate issue](https://github.com/QubesOS/qubes-issues/issues/6463#issuecomment-798988959) for your survey—and included my responses, there. :)

[2021-03-14 22:41] hackerncoder commented on #6463
Thank you nina! As I said, I'm a dev. I have added all of what you suggested.

[2021-03-14 23:51] ninavizz commented on #6463
WOO!!! Really looking forward to seeing the results... TY again, for doing this! <3 <3 <3

[2021-03-14 23:53] ninavizz commented on #6463
BTW @hackerncoder there is an option in Lime to _not_ datestamp answers... which actually does datestamp them, just all to the same datestamp in 1983 or something. You may want to turn that on, as an extra layer of security for yourself. FYI. :)

[2021-03-15 00:03] andrewdavidwong commented on #6461
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-15 02:07] ninavizz commented on #6425
@th5 We tryin'! More funding would help mightily, though. :)

@unman I like QScreenSaver a lot, great suggestion!

[2021-03-15 02:19] ninavizz commented on #6425
Should anyone be forking XScreenSaver to address allthethings, I have a few other usability nits that just came from a security training with users last week...

1. When the user's password fails, the text on the returned screen is `Authentication Failed!`. "Authentication" is a bit of an overly technical word, and that phrase reads a bit terse for users on edge. I would recommend: `Incorrect pass

[2021-03-15 02:26] ninavizz opened #6464 "Make KeyPassX an already-available app in Vault, in Qubes' OEM configuration"
**The problem you're addressing (if any)**
When a user freshly installs Qubes OS, they need to know to go into the apps preferences to choose to make KeyPassX available to them in the Vault VM. It would be a more user friendly experience if the app were just simply there.

**Describe the solution you'd like**
When a user installs Qubes OS and goes to use Qubes for the first time, KeyPassX should b

[2021-03-15 02:32] ninavizz commented on #6317
@donob4n Yeah, I looked at the Qubes HCL output a while ago, and it's great. I'd like for this to be an item discoverable from the "Settings" dropdown menu... which I'm working into my redesign of the App Menu experience, overall.

This is a mockup I threw together based on the HCL output and what feels most urgent to Qubes users (as I'm aware):
<img width="498" alt="Screen Shot 2021-03-14 at 7 30

[2021-03-15 03:51] andrewdavidwong commented on #6425
Nits on nits :slightly_smiling_face: :

This comma splice could be avoided by using a semicolon instead, i.e., `Incorrect password; try again`.

This punctuation strikes me as odd. I'd suggest something like `Incorrect password (Hint: CapsLock is on)`.

If that's too long, I'd drop the `is on` part.

[2021-03-15 03:54] andrewdavidwong commented on #6464
Fixed typo from "KeyPass" to "KeePass."

Also, there seems to be some disagreement aobut whether we should use X or XC, so I just made it "X(C)" in the title.

[2021-03-15 03:59] andrewdavidwong commented on #6464
Ah, here's the related issue I was thinking of: #3542.

Given that we go out of our way to add a password manager to the Fedora template (as an exception to our usual [policy](https://www.qubes-os.org/faq/#what-is-qubes-attitude-toward-changing-guest-distros)), it certainly makes sense to add the shortcut by default.

[2021-03-15 06:27] genericxero commented on #6461
hey sorry man
im having the worst time at life. this girl has really put me through it,
and call it borderline or evil but, im just hanging on
anyway >> LISTEN REAL QUICK BRO <<---------------------------\/
this stuff going on is like all i have keeping me here

others. Please help it mean something

SCROLL TO BOTTOM FOR MAIN QUESTION IF YOU DO NOT CARE TO HEAR MY CHATTER ;)
but i could use a frie

[2021-03-15 06:29] genericxero commented on #6461
i understand though.. i figured. worth a try.. so hard to even make that it
took hours on this thing lol.. i was so frustrated. my bad.

do read that other email please.. it is urgently needing something and not
so much for the sake of my rig or anything

i came here to serve humanity and this is the first time ive felt a calling
in years
you're a forum mod so i  know you like to help humanity too

[2021-03-15 07:36] Edan-Redmind commented on #1917
@ninavizz
Sadly, I didn't have time to read all of the excellent points raised here.
Just wanted to point out that current lock screen has no indication of what Language input the keyboard is set, so people who use two or more languages get multiple (frustrating) “Authentication failed!” messages and have to blindly change language inputs until they get the right one.
cheers.

[2021-03-15 09:03] ninavizz commented on #1917
@Edan-Redmind I just made a comment on an issue here for a forked version of XScreenSaver, about language I'd like to updated for _English_ usability in that... and was wondering about how this worked in different languages. Not sure how this can be addressed when Qubes is localized... I don't even know if XScreenSaver has been looked at, for localization. @andrewdavidwong?

Clearly this will be a

[2021-03-15 09:08] Edan-Redmind commented on #1917
@ninavizz Thank you. I would like to point out that I wasn't talking about localized version of Qubes, Everything here is in english, just with a second input-language on the keyboard. So this is relevant to a fair everyday-use (email?), in every country that use non-english as it's native language.

[2021-03-15 09:15] ninavizz commented on #6425
@andrewdavidwong I appreciate and welcome your nits, my friend! :)

Semicolons are just _weird_ in UI messaging. Not for us nerds, but definitely for more pedestrian folks (whom, yes, it is my mission to get comfortable using Qubes). If anything, I'd prefer a second sentence for "Try Again." Sound ok? So: `Incorrect password. Try again.`

I really like `Incorrect password: hint, Capslock is on...`

[2021-03-15 09:20] na-- commented on #1917
As I wrote in https://github.com/QubesOS/qubes-issues/issues/1917#issuecomment-736806749, I'm having the same issue with multiple [keyboard layouts](https://www.qubes-os.org/doc/installation-guide/#localization) (not with English error messages...), with an extra bonus for XScreensaver not showing the caps lock status and my laptop not having a visual indicator for it.

To me the logo question see

[2021-03-15 12:16] donob4n commented on #6425
Hehe, related: https://github.com/QubesOS/qubes-issues/issues/1589

[2021-03-15 13:26] GWeck commented on #6458
I installed the 5.11.4-1 on the same machine that had the freezing problem with the 5.10.13-1. So far, the system is running, but it may take some time till it freezes. So I cannot be sure if it's o.k. now or not. If no problem occurs during the next few days, we might have luck. Let's see ...

[2021-03-15 13:29] h01ger commented on #6425
I like the wording improvements and would probably go with
 `Incorrect password. Try again.`
(or `Incorrect password. Please try again.`)
and
 `Incorrect password. (CapsLock is on.) Try again`

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁       holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀ PGP fingerprint: B8BF 5413 7B09 D35C F026 FE9D 091A B856 069A AA1C
 ⠈⠳⣄

Stop saying that we are all i

[2021-03-15 14:35] brendanhoar commented on #6425
A technical gotcha: like most contemporary Linux authentication, xscreensaver uses PAM (Pluggable Authentication Modules)...so "Incorrect Password" is only true for most users when authentication fails...for some users it would be misleading.

[2021-03-15 15:28] unman commented on #6425
On Mon, Mar 15, 2021 at 02:16:11AM -0700, Nina Eleanor Alter wrote:

I have most of these addressed now - I think the end of your last
sentence was cut off.." request just the..." - the suspense is killing
me.

Are we doing this for sure?

[2021-03-15 16:00] dmoerner commented on #6066
Resume from suspend leads to a reboot on a Dell Latitude 4700, Intel i5-8365U, with 4.14.1-3 (with and without the HWP patches).

Is there any way to make bisecting this a bit less painful? I can't just downgrade to 4.13 without rebuilding a number of other packages that, as built, depend on 4.14.

[2021-03-15 20:14] hackerncoder commented on #6463
I think the datestamp is just whether the survey is anonymous (mine is): https://forums.limesurvey.org/forum/design-issues/84287-adjusting-date-time-stamp. I also checked the answers, and they are dated 1980-01-01...

I'm also excited, 3 complete responses as of now. 6 that have done the first page.

[2021-03-15 21:27] hackerncoder commented on #6463
I think this is just how it will be, so it should just be creating a post on the forum, a mail to qubes-users and a post on reddit right?

[2021-03-15 21:52] andrewdavidwong commented on #1917
This would be handled by the localization team. This project has not taken any action on localizing XScreenSaver, since it is not our software, and there is no QScreenSaver yet.

[2021-03-15 21:58] andrewdavidwong commented on #6463
It depends on what exactly you're trying to do, but that sounds right.

[2021-03-15 22:04] hackerncoder commented on #6463
Spreading the word that I have created a survey and hopefully getting people to do it.

[2021-03-15 22:17] andrewdavidwong commented on #6463
Yep, those are the places to spread the word. One thing to keep in mind is that messages sent to qubes-users are mirrored read-only onto the forum.

[2021-03-15 22:20] ninavizz commented on #6463
My only advisement would be to keep the post with the link to the survey short, and to be mindful of the first sentence. The way we phrased the calls on the Qubes download page, I really like.
- First 1-2 sentences "Hey, take a few minutes to do this thing! It's anonymous, etc"
- Then the link
- Then, explain what you're hoping to learn and why it matters
- Then share when you expect to share-out

[2021-03-15 22:29] andrewdavidwong commented on #6425
That's up to @marmarek.

I share the [concern](https://github.com/QubesOS/qubes-issues/issues/1917#issuecomment-799257569) that we may be building a bikeshed with a high risk of scope creep and, even if not, that it should perhaps be lower priority than many other things. However, I'm not a UX expert, so my concern may be misplaced.

[2021-03-15 22:30] hackerncoder commented on #6463
I would post to all three, but reddit isn't letting me, and my qubes-users mail doesn't seem to have landed? Anyways, I'll figure it out.

I have again added all of your suggestions.

I have already learned a few things, but it is of course waay to early to say anything.

[2021-03-15 22:41] ninavizz commented on #6463
It's REALLY hard to resist running forth with the excitement "WOO, I learned these things and now I know!" after your first few answers. That will never go away, but I'm thrilled you're doing this new thing! TY for inviting me/us along for the ride. :)

[2021-03-15 23:15] dylangerdaly commented on #6055
I bring the gift of decent Xen performance on Lenovo X13/T14 devices!

So! It turns out Lenovo have absolutely trashed HPET/Clock, I believe this is what's causing the lags/jitters.

Appending `clocksource=tsc tsc=unstable hpetbroadcast=0` to Xen's CMDLINE fixes the need for pinning 1 core to dom0, it also fixes the need for limiting 2 vCPUs per appVM.

It should force the use of the TSC for clock

[2021-03-15 23:22] andrewdavidwong commented on #6463
FYI, there is no option for people like me who have been using Qubes for more than four years, so I just selected "Between 2 and 4 years." :slightly_smiling_face:

(If that's what you intended for that option, then you could simply reword it to "More than two years.")

[2021-03-15 23:29] andrewdavidwong commented on #6461
I'm afraid we have to insist that you take your questions to the forum or qube-users mailing list (again, see [here](https://www.qubes-os.org/support/) for details).

[2021-03-15 23:36] ninavizz commented on #6463
Well, crud! I need to update our survey to add a "+4yrs" entry.
@hackerncoder COuld you perhaps add a "+4yrs" option to the question, per @andrewdavidwong's note above?

Thx @andrewdavidwong! :)

[2021-03-16 04:30] unman commented on #1917
On Mon, Mar 15, 2021 at 02:53:11PM -0700, Andrew David Wong wrote:

XScreenSaver is (I think) fully localized as is, so I think this need
not be handled by our localization team.

[2021-03-16 07:11] 0spinboson commented on #6097
I'm still trying to capture the debug-keys output, but it looks like kernel 5.11(.4-1) is much more stable again, not tried 5.10.21 yet. I've never made it past 4hrs uptime since 5.9.x, and currently i'm at 21h.

[2021-03-16 11:12] donob4n commented on #6328
Related to https://github.com/QubesOS/qubes-issues/issues/6314

I think that it is an expected "warning" if you open too many VM's for your memory. It just says that there are vm's demanding more memory than currently available. It should changed from log.error() to log.debug() or log.info().

https://github.com/QubesOS/qubes-core-admin/blob/df6407f50811573760879a7a48b9243ea31e504a/qubes/qmemman/_

[2021-03-16 12:17] rustybird commented on #6409
@marmarek It might make sense to bump the R4.0 qubes-manager package version, then this issue could be closed.

[2021-03-16 12:22] rustybird commented on #6444
This issue can be closed. (It didn't close automatically because the fix went to a non-default branch.)

[2021-03-16 12:40] #6444 closed

[2021-03-16 12:50] GWeck commented on #6458
So far, R4.04 with kernel 5.11.4-1 runs without problems, so maybe we are lucky. I changed my R4.1 test system to kernel 5.11.4-1, too, and it is running o.k.

In the first of the two links above, a user explains that the move to 5.10.16-1 solved the freezing problem. Maybe this is also the cause why I saw the freezing only under my Qubes R4.0.4, which was running with kernel 5.10.13-1, and not on

[2021-03-16 12:56] deeplow commented on #6464
As far as I'm aware, these default qubes are [installed via saltstack](https://www.qubes-os.org/doc/salt/). However it doesn't have a way to select which applications show up by default. There is some discussion on making that available [in qubes-devel](https://www.mail-archive.com/qubes-devel@googlegroups.com/msg04820.html).

So that may be a dependency for the resolution of this issue.

[2021-03-16 13:11] donob4n commented on #6409
@rustybird do you mean to master version? In that case it needs a few backporting fixes. Not very difficult.

What added PyQt5 to R4.0?

[2021-03-16 13:33] dylangerdaly opened #6465 "xen-acpi-processor isn't auto loading"
**Qubes OS version**
R4.1

**Affected component(s) or functionality**
Xen's ACPI cpufreq driver

**Brief summary**
xen-acpi-processor fails to auto load, resulting in `xenpm` not working.

**To Reproduce**

Steps to reproduce the behavior:
1. Run `xenpm get-cpufreq-states` on an AMD system

**Expected behavior**
xen-acpi-processor auto load

**Actual behavior**
User is required to run `modprobe xe

[2021-03-16 13:50] andrewdavidwong commented on #6463
@hackerncoder: FYI, I just saw that three copies of your email to qubes-users were caught in the spam filter, so I allowed the most recent one through and rejected the other two duplicates.

[2021-03-16 14:13] hackerncoder commented on #6463
I could guess that is the problem, I think it's some trouble with DKIM. But thanks!

Yes, I added the +4yrs yesterday.

It *is* **really** hard. I'm a little child, and there is a month to Christmas.

[2021-03-16 14:40] rustybird commented on #6409
No I mean that the [bugfix](https://github.com/rustybird/qubes-manager/commit/11d5c4387cf11a0fbeadbe23d5a527811bfd8615) was already applied to the [R4.0 branch](https://github.com/QubesOS/qubes-manager/commits/release4.0), but it's not yet installable via `qubes-dom0-update` until a new package is built from that branch.

@danon360 probably just installed some non-Qubes dom0 package that depends o

[2021-03-16 21:10] awokd commented on #5312
Only with my biological memory. Thanks for the reminder.

[2021-03-16 21:10] #5312 closed

[2021-03-16 21:23] ninavizz commented on #6463
@hackerncoder Heya! Would you mind re-enabling Replies in that thread? I'd love to engage the no-email-user person to contact the research@qubes-os email to interview them... as Qubes for journalists is my focus on a separate project. :D

[2021-03-16 22:10] hackerncoder commented on #6463
@ninavizz I can't. It's a mirror of qubes-users. I can tell you that their email address is: tetrahedra@danwin1210.me.

[2021-03-16 22:15] hackerncoder commented on #6463
@ninavizz I can't. It's a mirror of qubes-users (the mailling list). I can tell you that their email address is: tetrahedra [at] danwin1210 me.

[2021-03-16 22:38] ninavizz commented on #6463
@hackerncoder Awesome, TY!! Now that I've got it, would you mind nuking your 2 comments above, so the security of the individual behind that email is not connected to "a qubes user"?

[2021-03-16 23:01] ninavizz commented on #6464
TY for that helpful context @deeplow, and cross-linking the prior issue I didn't find @andrewdavidwong!

[2021-03-17 13:35] permezel commented on #6449
Boots into the installer if I turn off UEFI booting in the BIOS.
4.1 install ISO I built booted/installed with UEFI enabled, legacy disabled.
I was just booting the 4.0.4 install ISO on everything at hand, but I am running 4.1 on the NUC10 for now.
If anyone cares about why this fails to boot in UEFI mode and wants me to try some things, I can do so.
If not, just close this.

[2021-03-17 17:01] deeplow commented on #1806
Not sure if this contributes to the debate but apparently Gnome allows for some crazy border related things. [This guy](https://youtube.com/watch?v=GCb54PM-x0U) made a vortex-like animation w/ the border through css.

[2021-03-17 17:23] deeplow commented on #6463
@ninavizz we mirror the mailinglist on the forum. (I'm an admin there). So that's just a user-friendly read-only version of the mailinglist (hence why you can't reply). The user is named `no_email_user` because users only received the email forwarded from qubes-users@googlegroups.com so the forum software couldn't figure out the name as well. So I don't know how to reach out to the user directly (

[2021-03-17 20:28] dmoerner opened #6466 "qubes-dom0-update not finding packages in dom0 on R4.1"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

qubes-core-dom0-linux-4.1.9-1.fc32.x86_64. Both dom0 and fc32 updateVM are fully updated as of Mar 17.

**Brief summary**

`qubes-dom0-update` doesn't install anything.

** Steps to Reproduce**

If I run `qubes-dom0-update SDL`, or some other package not installed in dom0, it opens an UpdateVM xterm showing the file downloadin

[2021-03-18 00:57] straussmaus opened #6467 "Traffic flows through sys-whonix before whonixcheck passes"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
sys-whonix

**Brief summary**
When sys-whonix starts, traffic can flow through it from attached Qube even before the lock icon has turned solid, and before whonixcheck passes

**How Reproducible**
100% but that is misleading.  This can happen 100% of the time.  But also, sometimes whonixcheck passes immediately so this isn't re

[2021-03-18 01:07] straussmaus commented on #6135
I'm not sure that https://github.com/QubesOS/qubes-desktop-linux-manager/pull/104 is related.

I'm not sure it isn't.  But the title of https://github.com/QubesOS/qubes-desktop-linux-manager/pull/104 is "Don't crash if VM was quickly added and then removed" and this error has nothing to do with adding or removing a VM/Qube.  It only happens on boot as described in the first post.  It does not happ

[2021-03-18 01:09] straussmaus commented on #6083
I noticed that this has a hardware support tag.  I wonder if that is appropriate.  The issue may have a software fix.  When restoring, maybe it makes sense for there to be a checkbox to restore hardware devices or not with the warning:

`WARNING: if your target hardware is different from source hardware, this may cause errors!"`

[2021-03-18 01:13] h01ger commented on #5374
any chance this will land in Qubes 4.0.x?

[2021-03-18 01:16] ideologysec commented on #5374
It was backported, but it didn't appear to land in the 4.0.4 ISO

[2021-03-18 01:43] #6449 closed

[2021-03-18 01:43] andrewdavidwong commented on #6449
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-03-18 01:53] DemiMarie commented on #6083
Agree.  I think that *not* restoring assigned PCI devices should be the default, as this is a security concern.

[2021-03-18 02:00] marmarek commented on #5374
No, it wasn't backported to R4.0. And before considering it, it first needs to work better - currently it fixes an issue on some hardware, but breaks support for others (https://github.com/QubesOS/qubes-issues/issues/6423) - which is actually very strong reason to _not_ backport it to a stable release.

[2021-03-18 02:16] h01ger commented on #5374
hm. and any ETA for a new alpha 4.1 iso, if only on openqa.qubes-os.org? :)

[2021-03-18 02:33] marmarek commented on #6083
Re security concern: the qube itself have no control over its devices, that comes from backup metadata (qubes.xml). And this (as all the other parts of the backup) is obviously integrity protected. In case of migrating to another hardware this indeed may match into different physical devices, but in practice you'll need to hit all of them for given qube to have it started. And there are not that m

[2021-03-18 08:48] 0rb677 commented on #6466
What if `sudo dnf update` ?

[2021-03-18 08:55] 0rb677 commented on #6466
I have another bug - when update process is starting , it calls sh script and triggered `xterm` from `sys-firewall` and update mechanism going from `dom0` to `sys-firewall`

[2021-03-18 10:51] eric-blabla commented on #6397
@marmarek I saw the 5.11.4 kernel in current testing:

is pstore  "in"  or  "out" in that kernel?

[2021-03-18 17:31] hast0011 commented on #3612
I have a similar problem with my webcam in certain conditions. Don't know if that's related to update QSB#38

My webcam works fine within a virtualmachine1 (hvm) running fedora32. The pci-usb controller with the webcam is assigned to that virtualmachine1.

Once I forward the camera to another virtualmachine2, i.e. personal (pvh) the cam is not working there.

journalctl shows this...

Mar 18 18:18

[2021-03-18 19:55] DemiMarie commented on #6466
That’s deliberate; it allows the user to see the download progress without untrusted text needing to be displayed in a dom0 terminal.  However, it can be disabled.

[2021-03-19 06:38] ghost opened #6468 "Transform a compromised hardware into a secure brick"
**The problem you're addressing (if any)**

Assume you've got a laptop that's obviously been under attack and it's been sitting in hotel rooms and getting run through airports and there's already a bootloader worm in the boot sector *and* the UEFI partition, and the partition table is reserving space on disk for attacks.

You would really like to be reminded to totally obliterate the partition tab

[2021-03-19 08:31] S-G-iscoding opened #6469 "Cannot detach usb device persistently added to dom0"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qvm-usb
dom0
sys-usb

**Brief summary**

If I attach a usb device persistently to dom0 via command line, I cannot detach it.

**How Reproducible**

**To Reproduce**

Steps to reproduce the behavior:
1. Install Qubes OS with usb qube.
2. List usb devices using `qvm-usb` in dom0
3. Attach a usb device to dom0 typing `qvm-usb att

[2021-03-19 15:33] DemiMarie opened #6470 "Resign all GPG keys with SHA-256 or better"
**Brief summary**

Several of the QubesOS developers GPG keys are signed with SHA-1.  SHA-1 is considered weak and should be replaced by SHA-256 or better.  This will require resigning the keys.

**Additional context**

This is a defense in depth task.  Since we assume that the GPG keys were honestly generated, finding a different key with the same SHA-1 hash would require a preimage attack, which

[2021-03-19 16:50] jamke commented on #6328
Many VMs - yes.
Not enough physical memory - probably not.

I think memory management in Qubes OS has some issue.
Something like this: Qubes OS gives a lot of memory to VMs (when those do not need it nor ask, just to distribute it) and then Qubes OS has issue to reallocated it (distribute) properly among many running VMs. And users see this error in logs constantly.

[2021-03-19 16:55] TheNameIsSamSamuelson commented on #5374
Also waiting for it here. Unsuccessfully tried to build the patched version as explained above. Because to do it, a working version of cubes OS is needed(as build instructions explain)...

[2021-03-19 23:12] ninavizz opened #6471 "Improve supportive images of GUI in documentation"
**The problem you're addressing (if any)**
In #6135 I noticed that some of the illustrations in the documentation to break-down and clearly identify UI components unique to Qubes, are a bit unclear. As such, I thought I'd share in here some that I made last year, for a turorial. cc'ing @deeplow should you have interest, too.

![image](https://user-images.githubusercontent.com/8262612/111850442-91c

[2021-03-19 23:35] andrewdavidwong commented on #6470
Signed by whom? I'm guessing you mean by the Qubes Master Signing Key or the self-signature or both.

Related:
 - https://github.com/QubesOS/qubes-issues/issues/1116
 - https://github.com/QubesOS/qubes-issues/issues/2535
 - https://github.com/QubesOS/qubes-issues/issues/2818
 - https://github.com/QubesOS/qubes-issues/issues/4378
 - Discussion beginning around [here](https://groups.google.com/g/qub

[2021-03-19 23:43] andrewdavidwong commented on #6471
Very nice!

@hackerncoder, would you be willing to submit a PR that uses these images where appropriate? I ask because you're probably the most familiar with the current locations of Qubes screenshots right now. :slightly_smiling_face:

[2021-03-19 23:48] gitman23 opened #6472 "Temperature bug"
Qubes 4.0, Lenovo X270

Sometimes my CPU temperature goes to 90 C  although the qubes OS has not much to do. If shutting down the responsible domain the temperature goes down again. The same if I pause the domain. After a while I found out that it only happens if not the first firefox browser tab is activated. In other words, if I make sure that always the first firefox tab is activated (and not t

[2021-03-19 23:49] hackerncoder commented on #6471
I have become the master of the images... Yes, I'll take a look.

[2021-03-19 23:50] andrewdavidwong commented on #6472
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-19 23:50] #6472 closed

[2021-03-19 23:56] DemiMarie commented on #6470
Both

Indeed

[2021-03-19 23:58] DemiMarie commented on #2818
What about instead requiring N of M signatures?

[2021-03-20 00:08] ninavizz commented on #6471
Thx fellas! As noted in the OG ticket, happy to create others if there's a desire. Super ez.

[2021-03-20 00:18] ninavizz commented on #6471
Thx fellas!

@hackerncoder I just looked briefly at two of the PNGs, and realized that with the updated UI the components weren't clearly enough visible through my highlights. Fixed that, in the attached PNGs here. Apologies for bein' a yo-yo, hopefully I have a credit in your bank for the laugh.

![TrayRegions2](https://user-images.githubusercontent.com/8262612/111853172-0fd69780-88d7-11eb-80e1-5

[2021-03-20 00:34] hackerncoder commented on #6471
Qubes normally only comes with one Whonix, so there is only one Whonix Time sync in the tray.

[2021-03-20 00:38] hackerncoder commented on #6471
We don't show anything like CDD, NM, QU, or Whonix (from your zip file), however they are very nice and I think we should add them.

[2021-03-20 00:41] ninavizz commented on #6471
LOL @hackerncoder I have no idea what CDD, NM, or QU are. Sorry, I got involved in Qubes via another project I work on (SecureDrop) that is built on top of Qubes. Happy to provide updated screenies with only one SysWhonix, and with the other stuff omitted.

Is the other stuff in the App Menu slide?

[2021-03-20 00:41] hackerncoder commented on #6471
Well, I just took the names in your zip file ClipboardDomainsDevices.png and shortened them.

[2021-03-20 00:46] ninavizz commented on #6471
@hackerncoder slide = corporate American jargon for "images."

Ok, so there's nothing to explain the Tray tooling in the documentation—it's not UI elements in my customized setup of Qubes (other than the dual whonix qubes) that's at issue?

[2021-03-20 00:49] hackerncoder commented on #6471
Nope, there isn't anything to explain the tray items other than the one you saw in #6135. Not for tray and toolbar at least.

[2021-03-20 01:58] marmarek commented on #6453
This is really weird. I thought there is some issue with how device is presented (maybe some missing button or such), but those look pretty much the same. There must be something else...
Maybe some events are represented differently? Try to see what `evtest` will show when you try to click-and-drag. Note it will work in dom0 normally, but to test in `sys-usb`, you'll need to kill `input-proxy-send

[2021-03-20 04:48] straussmaus commented on #6083
I think @DemiMarie means the security concern is that a user could end up with devices mapped unexpectedly, and therefore have a security breach by giving the wrong Qube access to a network or USB device.  Is that correct DM?

Anyway I don't know how many is "not that many devices" but in my case it was just a matter of migrating from one laptop to the next model of that laptop.  These were both s

[2021-03-20 05:06] straussmaus opened #6473 "Bad Error Messaging Deleting Fedora 32 Template"
**Qubes OS version**
4.03

**Affected component(s) or functionality**
Fedora 32 Template

**Brief summary**
Can not delete Fedora 32 template using Qubes Manager.

**How Reproducible**
100%

**To Reproduce**

Steps to reproduce the behavior:
1. Install Fedora 32 template on command line using https://www.qubes-os.org/news/2020/06/30/fedora-32-templates-available/
2. Delete Fedora 32 template by ri

[2021-03-20 06:40] DemiMarie commented on #6083
Or worse.  There are some devices that are basically Game Over.  Things like integrated graphics, internal storage, and probably some obscure devices I haven’t thought of, although @marmarek would know.

That said, @marmarek is also correct in that an attacker has no way to make this happen.  The best they can do is opportunistically exploit the situation if it does arise.  One is far more likely

[2021-03-20 06:45] DemiMarie commented on #6473
“VM installed by package manager“ is indeed a bad error message.  The fix is to run `dnf remove qubes-template-fedora-32` instead, but the error message should at least suggest doing that.  It would be even better if this was done automatically, at least if i does not cause dependency problems.

[2021-03-20 07:56] HeikoStamer commented on #2818
@DemiMarie IMHO one signature is much easier to handle using standard tools.

DKGPG has been improved in the last years, e.g. to exchange required messages over Tor network, see https://www.nongnu.org/dkgpg/35c3_slides.pdf

[2021-03-20 13:39] marmarek commented on #6083
Yes, this is already handled - generally errors in restoring individual VM property or other metadata do not interrupt the restore process and are simply reported. Here is also the policy for restoring a backup using a VM (which can be DisposableVM):  https://github.com/QubesOS/qubes-core-admin/blob/master/qubes-rpc-policy/85-admin-backup-restore.policy

Not really. The way the system identifies a

[2021-03-20 13:40] dmoerner commented on #6466
Not reproducible after reboot, closing.

[2021-03-20 13:40] #6466 closed

[2021-03-20 15:38] deeplow commented on #6471
Seems like I'm late to the party. Thanks @ninavizz for these goodies. Seems like @hackerncoder (the master of images) will be taking the job.

I also feel the need for moar pictures on the docs. Made one [the other day](https://github.com/QubesOS/qubes-doc/pull/1119#issuecomment-799520147):

![111179863-5f9a2380-85a4-11eb-8b18-d3aed499354f](https://user-images.githubusercontent.com/47065258/111875

[2021-03-20 16:40] deeplow commented on #1395
Unapologetically claiming space for brainstorming :smile:

## Qubes Course Design

I've been taking notes of all the main things present on the documentation that could potentially be interesting to teach people coming into contact with Qubes for the first time. I've also taken notes from two video tours of Qubes ([Micah Lee's](https://www.qubes-os.org/video-tours/#micah-lee-presents-qubes-os-the-

[2021-03-20 18:17] DemiMarie commented on #6083
That seems like the best option by far.  Ideally, we could have some sort of mapping from VID:DID to device types, so as to offer suggestions.

[2021-03-20 19:03] mfc commented on #904
@andrewdavidwong @marmarek since https://github.com/QubesOS/qubes-core-agent-linux/pull/258 is merged, can this issue be closed?

[2021-03-20 22:13] andrewdavidwong commented on #6473
Duplicate of #5509

[2021-03-20 22:15] andrewdavidwong commented on #6473
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2021-03-20 22:15] andrewdavidwong commented on #6473
Please search existing issues before opening new ones -- at least your own!

[2021-03-20 22:16] #6473 closed

[2021-03-20 22:27] andrewdavidwong commented on #904
Based on the description, that doesn't sound like it's sufficient to close this issue, but I'll leave it to Marek to determine.

[2021-03-21 05:59] ninavizz commented on #6471
@deeplow I studied graphic design, I can't help it, lol! Not at all late to the party, you started the party on the Qubes side! I also only did the ones I'd done, because our trainers at FPF used images already in the Qubes docs, for our journalist training programs... and, well, they were much more difficult to understand in that context.

A party's a party, and you're the DJ of this one. Dance o

[2021-03-21 20:08] ioleo commented on #5374
Having the same issue here. Tried to build the 4.1, however it failed 20hrs into the process in failed when building template fc30.

1. Is there a way to retry/resume `make qubes` from the last failed step? It seems my build failed due to some network issues.
2. How long is the whole process supposed to take? It's my first time trying to build qubes. Knowing what to expect timewise would help me t

[2021-03-22 06:08] zoechi commented on #6328
I have 2 VMs that both only run Firefox and a third one where I run my development environment (Emacs, Chrome, Docker). The machine has 32GB of RAM.

[2021-03-22 07:50] DemiMarie opened #6474 "LVM pool: switch internal delimiter from hyphen to full stop"
**The problem you're addressing (if any)**

LVM pools currently use `-` as the delimiter between the qube name and the suffix, which causes confusion.  #4680 was one result of this.  That has been fixed, but it is still quite confusing to users.

**Describe the solution you'd like**

@airelemental [suggested](/QubesOS/qubes-issues/issues/4680#issuecomment-451626537) that we use `.` as the delimite

[2021-03-22 09:11] parthipanramesh commented on #1806
Hey everyone!
I'm working at this at the moment/trying to find a solution that works. As far as I understood the conversation up until now we have to patch mutter or the qubes guid windows processes (qubes-guid). Is this correct?
For me patching mutter looks cleaner. But isn't adding CSD to qubes-guid easier? I think I'm missing something here.
I'll research both a bit before deciding which part t

[2021-03-22 09:14] DemiMarie opened #6475 "Cannot create qube named a_cmeta"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`qubes-core-admin`, VM creation

**Brief summary**

Creating a qube named `a_cmeta` fails if it is to be placed on an LVM pool.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Try to create a qube named `a_cmeta` on an LVM pool

**Expected behavior**

QubesOS escapes the

[2021-03-22 09:42] GWeck commented on #6458
So far, I had no screen freezing with 5.11.4-1 (neither for R4.0.4 nor R4.1), but this might still come sometime …

[2021-03-22 09:46] DemiMarie opened #6476 "R4.1: switch default pool from LVM to BTRFS-Reflink"
**The problem you're addressing (if any)**

In R4.0, the default install uses LVM thin pools.  However, LVM appears to be optimized for servers, which results in several shortcomings:

- Space exhaustion is handled poorly, requiring manual recovery.  This recovery may sometimes fail.
- It is not possible to shrink a thin pool.
- Thin pools slow down system startup and shutdown.

Additionally, LVM

[2021-03-22 12:09] marmarek commented on #1806
Regarding CSD for qubes-guid - yes, this could be a good solution, but there may be some traps too: https://github.com/QubesOS/qubes-issues/issues/1806#issuecomment-547698664
Also remember that qubes-guid may not become gnome-only application (it doesn't exclude CSD, just something to think about when implementing this).

[2021-03-22 12:13] iamahuman commented on #5426
#6476 will resolve this.

[2021-03-22 12:16] iamahuman commented on #6476
It might be a good idea to compare performance (seq read, rand read, allocation, overwrite, discard) between the three backends. See: #3639

[2021-03-22 12:31] DemiMarie commented on #5426
Agreed, although I am wondering why you say this.

Why would it be a waste of time?

[2021-03-22 19:52] lgromanowski opened #6477 "qubes-builder: qubes-core-agent-passwordless-root is missing in qubuntu template"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qubes-builder / qubuntu template

**Brief summary**

`qubes-core-agent-passwordless-root` is missing in `template_qubuntu/packages_qubes.list` or `template_qubuntu/packages_qubes_standard.list` (not sure which one is used in building focal-desktop template image). On unmodified files I cannot use sudo without password in focal

[2021-03-22 20:18] marmarek commented on #6477
It is pulled in by [qubes-vm-recommended meta-package](https://github.com/QubesOS/qubes-meta-packages/blob/release4.0/debian/control#L50) . Did you get some errors when building the template?

[2021-03-22 20:23] lgromanowski commented on #6477
I'll check the logs, but from what I saw on the console there were no errors - last lines were:
`-> Building template focal (logfile: build-logs/template-focal.log)...
--> Done.`
for both cases (with and without qubes-core-agent-passwordless-root added)

[2021-03-22 22:46] ctrlaltf24 commented on #6455
Thanks for the clarification iamahuman, closing.

[2021-03-22 22:46] #6455 closed

[2021-03-22 23:05] 2tbwXj46BDbdNBRV79DS opened #6478 "BIOS updated now Qubes no longer boots in."
### Qubes OS version:

R4.0

### Affected component(s) or functionality:

boot

---

### Steps to reproduce the behavior:

encrypted qubes install on my M.2 ssd. used qubes fine for years then i update my bios

### Expected or desired behavior:

Boot in to qubes after updating bios.

### Actual behavior:

[code]

### General notes:

ived tried CSM support enabled/disabled, storage legacy/UEFI.(ins

[2021-03-23 00:20] ctrlaltf24 commented on #6426
@ioleo @deeplow PR opened, let me know if any part is unclear.

[2021-03-23 04:08] blxxd commented on #1495
I have this issue when icon-sender stops running for some reason. ~/.xsession-errors contains this:
[code]

Running `/usr/bin/qrexec-client-vm dom0 qubes.WindowIconUpdater /usr/lib/qubes/icon-sender` manually brings icons back

[2021-03-23 07:09] 0spinboson commented on #6478
Sorry to hear you're having issues, but I would suggest asking for troubleshooting help either qubes-os.discourse.group/ or https://groups.google.com/forum/#!forum/qubes-users :)

[2021-03-23 08:09] andrewdavidwong commented on #6478
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-03-23 08:09] #6478 closed

[2021-03-23 12:25] marmarek commented on #1495
The above seems like a direct result of icon-receiver being terminated. So, the actual problem is somewhere on the icon-receiver side. Have you restarted your X11 session (in case of i3, I believe also reloading configuration may cause this)? Check in dom0 `~/.xsession-errors` and maybe `journalctl` if you see any icon-receiver related error.

[2021-03-23 12:50] marmarek commented on #1495
This may indeed look this way, but I think the above analogy doesn't work well here. Most of the gui daemon actions are triggered either by the user (click, key press etc), or by some in-vm application action (window content change, window title change etc). It is all event-driven. If you'd separate events from the actual data, then the protocol flow would complicate quite a bit, because for every

[2021-03-23 12:54] codydaig commented on #4035
Ditto. Logitech C922.

[2021-03-23 13:20] jandryuk commented on #6465
I looked at this a little last night.  xen-acpi-processor would be loaded by the loadmodules systemd unit, but that unit isn't run- the unit is vendor disabled.  I guess an addition to /lib/systemd/system-preset/ would fix that.

Maybe systemd is new enough now (at least for 4.1) that https://github.com/QubesOS/qubes-vmm-xen/commit/893fefac99467f4612b5879b737ed2a5ee1cda57 can just be reverted?

[2021-03-23 13:41] ioleo commented on #5374
I can confirm I managed to build Qubes 4.1 ISO on fedora-32 AppVM and succesfully installed on Asus Zenbook Pro Duo UX 581, so the Xen patch worked for me.

[2021-03-23 14:46] blxxd commented on #1495
No, I haven't

 `~/.xsession-errors`  has no errors, `journalctl` has 2 different tracebacks, either one for each qube with this issue

[code]

[code]

[2021-03-23 15:42] svdmsvdm commented on #5374
@ioleo do you still have your iso?

[2021-03-23 16:11] pabpas commented on #6300
Attached the output of the two commands.

Some things to note:
- It didn't happen after suspending/resuming but after unlocking the screen.
- The affected AppVM had no windows open when it happened. I noticed the issue after launching a program.
- `qvm-start-gui --notify-monitor-layout` worked. I stopped the logs after executing it.

[qubes_issue_6300_strace.txt](https://github.com/QubesOS/qubes-i

[2021-03-23 16:39] DemiMarie commented on #4035
Can you check that `user` is a member of the `video` group?

[2021-03-23 22:44] deeplow commented on #6426
Epic @ctrlaltf24! I've left some feedback there. It works well (albeit a bit strangely because it doesn't share the actual screen I use so I have to open things in a different `:10` screen -- but can't complain too much).

I'll definitely will have to do a deeper reading on how VNC works and qubes-tcp-connect's security implications.

[2021-03-24 00:34] ctrlaltf24 commented on #6426
Will take a look, thanks!

From a simplicity standpoint, it is easier to setup a new display (don't have to get any window ids/screen resolution and offsets), but entirely possible to share existing areas of your screen using `x11vnc`'s (different vnc server) `id pick` (for window sharing), and `-clip WxH+X+Y` for existing monitor sharing. I can add a variant to the docs for that if you want.

TL;

[2021-03-24 02:10] indolering commented on #1919
Could @mfc or one of the admins edit the OP to link to the [Alt Distro in dom0](https://qubes-os.discourse.group/t/alt-distro-in-dom0/3398/3) forum post and close this ticket?  I think it's outlived its usefulness.

[2021-03-24 02:37] clucode opened #6479 "System Sleeps On Unlock"
### Qubes OS version:
Qubes R4.0

### Affected component(s) or functionality:
Sleep/Hibernate Function

---

### Steps to reproduce the behavior:
Close laptop lid, Open laptop lid, Sign into user account, Wait 10-20 seconds. System then automatically hibernates. Issue persists until full reboot is preformed.

### Expected or desired behavior:
System should sleep/hibernate on lid close but not rand

[2021-03-24 02:57] Clu-less commented on #6479
After running qubes-updater manually and rebooting, I am unable to recreate the error. I'll close this for now.

[2021-03-24 04:26] unman commented on #6477
Duplicate of #6307
I'll check out why that resolution isn't being applied.

[2021-03-24 05:46] andrewdavidwong commented on #6477
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2021-03-24 05:46] #6477 closed

[2021-03-24 05:47] andrewdavidwong commented on #6307
Reopening due to apparent regression reported in #6477.

[2021-03-24 05:48] Clu-less commented on #6479
After some digging, I found the lid close dialogue and trimmed everything before it. But there's still 1081 lines of code that I'm not skilled enough to effectively analyze. I'm going to keep at it though!

[lid_close-journalctl.txt](https://github.com/QubesOS/qubes-issues/files/6194684/lid_close-journalctl.txt)

[2021-03-24 08:09] iamahuman commented on #1028
This also affects R4.0 under heavy memory load, but not R4.1.

[2021-03-24 08:24] gnu3ra opened #6480 "Openssh fails to utilize qubes u2f proxy"
**Qubes OS version**
R4.1

**Affected component(s) or functionality**
Qubes U2F proxy and openssh client.

**Brief summary**
Openssh 8.2 should be able to generate keys that use challenge-response security keys supporting u2f and FIDO2. While theoretically openssh can use any security key by loading a custom middleware implementation, the built-in implementation currently only supports FIDO2 over

[2021-03-24 10:24] deeplow commented on #6426
Thanks a lot for the clarifications!

This would be amazing, if you have the time. I was looking into it myself yesterday, but didn't succeed with a few tries.

Yep. That's very true!

[2021-03-24 11:32] pczmr8v5n454iycf opened #6481 "failed to build Ubuntu bionic"
**Qubes OS version**
4.1

**Affected component(s) or functionality**
Building ubuntu Template on a fedora-32 vm

**Brief summary**

[code]

**Expected behavior**

Build successfully

**Actual behavior**

[code]

**Solutions you've tried**

**Relevant [documentation](https://www.qubes-os.org/doc/) you've consulted**

**Related, [non-duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues

[2021-03-24 11:46] marmarek commented on #6480
Related: #5501

[2021-03-24 11:52] iamahuman commented on #6479
Can you check whether "sleep after n seconds" (and the like) is enabled in one of the following places?

1. XFCE Power Settings
2. XScreenSaver preferences
3. `/etc/systemd/logind.conf`
4. `/etc/systemd/logind.conf.d/*.conf` (if they exist)

[2021-03-24 12:02] marmarek commented on #6481
It seems `-ffile-prefix-map` was introduced in GCC 8, Ubuntu Bionic (18.04LTS) uses GCC 7.4. @unman if you want to support bionic build, you can make the patch using it conditional.

[2021-03-24 17:14] Clu-less commented on #6479
Thanks for the reply! I just checked:

1. Everything is set to "never" in Power Manager.
2. XScreenSaver has all values set to max and is disabled.
3. No "Sleep" argument in the file.
4. Doesn't exist :(

Do you need me to include any other system logs?

[2021-03-24 18:39] Lophiel opened #6482 "Unable to boot HVMs on HPZ800 with X5570 Quad Core 2.93Ghz"
**Qubes OS version**
Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**
None of the HVM qubes are able to start-up

**To Reproduce**

Steps to reproduce the behavior:
1.  Terminal
2.  run `xl dmesg`
3. add `iommu=no-intremap` to terminal
4. reboot
5. start an hvm (dosen't boot)

**Expected behavior**
The expected behavior should have been the HVM's or VM's shoud have booted norma

[2021-03-24 18:42] Zophike1 commented on #6482
If anything is not clear in the report I can add additional comments or screenshots

[2021-03-24 20:09] ninavizz commented on #1917
I see this issue has a 4.1 milestone on it. I'd rather not see the 4.1 release exceed what it's promised (which doesn't include this) as I suspect users are really looking forward to all else it promised. If 4.2 is really UI centered, this would fit in really nicely, there, with the updated App Menu, Q Manager (not documented in GH yet) and any other UX or UI changes.

[2021-03-24 20:27] ninavizz commented on #5230
This feels very related to 4.1's stated objectives... and I'd love to see it get resolved for the `4.1` release (IF that wouldn't hold it up any further)

Has anything been done with this for the release already, and if so/not: how might it impact the updated RPC syntax stuff?

Also, ohai 2021!

[2021-03-24 20:47] danrubins commented on #6453
These are what the events look like when I click and release, across both devices and whether plugged into sys-usb or dom0. Identical values other than the time.

Event: time 1616188876.378506, type 4 (EV_MSC), code 4 (MSC_SCAN), value 90001
Event: time 1616188876.378506, type 1 (EV_KEY), code 272 (BTN_LEFT), value 1

Event: time 1616188877.490566, type 4 (EV_MSC), code 4 (MSC_SCAN), value 90001
E

[2021-03-24 21:24] danrubins commented on #6453
Interestingly, when I connect a bluetooth dongle to sys-usb and use a bluetooth mouse, everything works fine. Its certainly odd behavior but I now have a workaround.

[2021-03-24 21:25] ninavizz commented on #5184
This sounds appropriate for +4.1; especially as with the App Menu redesign, we'll likely be introducing an updated design for Qube Manager, and the concept of user created "Groups" for VMs. Could this be prioritized for anything near-term and after 4.1?

[2021-03-24 22:02] ninavizz opened #6483 "Create "Q Manager" consolidation of some existing and one future Qubes-specific applets"
**The problem you're addressing (if any)**
There are more disparate "applets" to manage and setup things in Qubes, than is common in Windows, other Linux, or Mac systems. As such, discoverability of sought functionality can be tedious—and other less-than-optimal experience things.

**Describe the solution you'd like**
"All Things" with regards to setting-up and doing the day to day within the OS o

[2021-03-24 22:03] ninavizz commented on #6483
Note: This is definitely something NOT for `4.1`. Yes, I've been on a bit of a tear today, with "omg 4.1 priorities as reflected in issue milestones must be quelled!" lol.

[2021-03-24 22:13] ninavizz commented on #5679
Ok, the need to "manage custom groups of VMs" arose from my explorations with the App Menu, and then the below happened. Adding to this thread for feedback.

It's not a "redesign" of Qubes Manager, in that it doesn't fundamentally challenge the list-view/segmentation of information or functionality. Intent was only to make it much easier to visually parse what's "going on" and to surface informati

[2021-03-24 22:15] ninavizz commented on #5679
^^ Note: the above is a first-iteration by me. Not intended to include/demonstrate "everything." Wd love ideas, requests, critique, etc. Wanting to fold it into some App Menu user testing, in a light capacity.

[2021-03-24 22:24] deeplow commented on #5184
Is there any relation between "groups and "[domains](https://www.qubes-os.org/doc/glossary/#domain)". It may be worth thinking about how these can be related or if one should replace the other.

[2021-03-24 22:25] deeplow commented on #5523
Ping

[2021-03-24 22:27] ninavizz commented on #6118
@zellchristensen & @tabbyrobin: I'm working on some prototypes (with a visual prototyping tool, not in usable codeo f any kind) of the app menu for user testing, in which I'm working to fold some of the Domain Widget's functionality into a fully custom app menu for Qubes. Wanted to share a couple screenshots with you both, to see if your concerns are clearly (or at all?) addressed in these?

<img

[2021-03-24 22:57] ninavizz commented on #5523
@deeplow "Regular" still feels like a major commitment I may not be ready to make just yet—but I appreciate this nudge. A lot! I had a medical situation arise in January, that only got resolved a few weeks ago. Still catching-up on prep for App Menu user testing—which regrettably has a grant-imposed timeline we're behind on. :/

Perhaps we begin with scheduling a review of user testing prototypes

[2021-03-24 23:02] marmarek commented on #6482
I believe you linked to a wrong place - it isn't a xenserver patch (although it is related).

[2021-03-24 23:19] Zophike1 commented on #6482
@marmarek my bad I'm new to Xen so I'm not up to speed with all the relevant documentation care to point me in the right direction ? Also I spoke to one of the mountaineers regarding the issue and he said in order for the bug to be fixed is going to take some negations.

[2021-03-24 23:37] marmarek commented on #6482
You linked to https://www.suse.com/support/kb/doc/?id=000018235 which isn't xenserver patch.