[2022-04-07 16:53] Arna13 commented on #7424
I have the same problem on an i5-3320M, but with a bit less artifacts on screen with sys-gui.
On the other hand, sys-gui-gpu works but the image looks wide (overflows the screen, right half is not visible) and green-ish tone with lots of artifacts, but the video looks smooth fairly enough. To me it looks like screen sync problems, but I dont really have much idea.

@ZYousef you might want to try t

[2022-04-07 17:20] AlxHnr commented on #7404
I turned off memory balancing via Qubes Manager and assigned fixed 10 GB of memory to the Qube. No improvement :confused:

Yes! I don't have the raw benchmark data anymore, but I'm pretty sure it's the same problem that causes the sysbench deviations.

[2022-04-07 17:56] AlxHnr commented on #7404
The result of sysbench inside an AppVM heavily dependends on how many other AppVMs are running. Running only one single AppVM brings the results from `sysbench cpu run` pretty damn close to the values I get on native Fedora. I assume it's some form of scheduling issue. Running only one single AppVM also improves `sysbench memory run` results, but it's still _way_ off compared to native Fedora.

I

[2022-04-07 18:30] ahmedalsudani commented on #7427
Yeah, I'm aware of that and use it when only the network VM needs to be restarted.

This switch would be useful for me because I have something along the lines of

[code]

When I'm done with work, I shut down all my work VMs. Adding recursive would make it easier to shut them all down without keeping track as the VMs change.

It sounds like you are not against the idea so I'll start playing with t

[2022-04-07 20:16] antarisherdeng4 commented on #7374
Yes it may be as you say so I've opened a new issue in @unman patch repo.

Did you try only for qube name starting with "react"?

No, it should work for every qube and not only for qube with name starting with "react". I've quoted in my previous post that the patch should work for all HVMs:

https://github.com/unman/notes/blob/master/disks_in_Qubes#L104

[2022-04-07 20:19] DemiMarie commented on #7423
For the “user messed up” case this is fine, but the attacker case can only be handled by a live system.

[2022-04-07 21:36] DemiMarie commented on #7404
@AlxHnr Can you try `sysbench memory run` in a PV VM (_not_ dom0, sys-net, or sys-usb)?

[2022-04-07 22:43] SaswatPadhi commented on #7427
As @GWeck pointed out, Qube Manager already supports this. However, the Qubes notification tray doesn't. Selecting "Shutdown" from the context menu for the VM there doesn't propagate the shutdown recursively. It would be nice to make the tray icon consistent with Qube Manager. Any reason not to?

I think the `--recursive` cmdline flag would be nice to trigger the Qube Manager style behavior from c

[2022-04-08 00:02] Keisial commented on #7274
You would already have the signing keys _if you are using the provided templates_. Are you creating your own template? You would need to import those signing keys from _somewhere_. You want to test a package from a release into another? You might need the corresponding key. Maybe just to verify that nobody tampered with the repositories configured on your template?

[2022-04-08 04:34] Rspigler commented on #4318
@madscientist159 Will do, thanks! I will post the submission draft here once I get it going.  Sounds good re: payment.

@olivierlambert Perfect, sorry to tag you over and over. Have you heard from Power Foundation re: clarification on their statement of support? Anyone else from the Xen project who would be interested in helping?

@Rudd-O thank you for confirming the funding! Looking forward to se

[2022-04-08 07:19] olivierlambert commented on #4318
Xen Project will help to setup the hardware in their colo with the direct access and out of the band too. They will also try to help on giving directions on where to start exactly. This will require discussion on Xen devel but instead of posting thing twice, I'd like to focus on the Matrix channel where I already explained the next steps :)

[2022-04-08 09:21] marmarek commented on #7404
Is the domU a PVH (the default on qubes, if no PCI devices)? What CPU that is?

[2022-04-08 12:36] adrelanos opened #7428 "Qubes openQA - Whonix/updates-status broken"
Due to a major Whonix / Kicksecure source code split in process...

github.com/Whonix/updates-status

Github does not let me re-create that repository.

Will contact support now.

[2022-04-08 15:09] GaelicGabe commented on #7401
I've followed this advice by not creating the `99-makeflags.sh` file in the build template and I've also found a bug in the `make get-sources` script where it uses outdated git links that result in: `The unauthenticated git protocol on port 9418 is no longer supported.` I used this (SO post)[https://stackoverflow.com/questions/70663523/the-unauthenticated-git-protocol-on-port-9418-is-no-longer-sup

[2022-04-08 15:59] GaelicGabe commented on #7401
This worked, I had to make sure to run the `sudo chgrp qubes /dev/xen/*` several times during `make template` so I recommend people use something like this in a parallel terminal.
`while [ 0 ]; do echo "sudoing"; sudo chgrp qubes /dev/xen/*; sleep 5; done`

However I'm running into the issue of `dom0` saying `sudo yum: command not found` when I'm trying to run the `install-template.sh` script. Is

[2022-04-08 16:24] gi0van commented on #7401
See #7305. I believe yum used to be installed in dom0 by default but no longer is, so you'll have to install it yourself.

[2022-04-08 16:48] GaelicGabe commented on #7401
Alright, this seems to be solved for me. I have successfully built the minimal archlinux template and it seems to be able to install things via pacman. Thank you for your help and thanks to everyone else.
Unless anyone else wants me to keep the issue open I will close it later tonight.

[2022-04-08 17:00] zithro commented on #7178
Oh my, I'm such a github noob ...
I was wondering why the PR didn't appear in Qubes-arch repo, it's because I did the PR to ... my own repo ! Sorry ...

This is done on the real repo now, but it failed with "policy/qubesos/code-signing - Unable to verify (no valid key found)".
I didn't know I needed a signing key for updating the documentation. "doc/code-signing" is not mentionned on "doc/how-to-e

[2022-04-08 17:54] AlxHnr commented on #7404
Yes. All my domU's are PVH (default), except sys-usb and sys-net.

|VM Type|MiB/sec|
|--|--:|
|PVH | 243.81 |
|HVM|216.34|
|PV|54.41|

Giving the PV VM more cores and memory makes no difference. PV VMs are slow and laggy to the point of being unusable.

i7-3632qm. It supports VT-d, but my motherboard/BIOS/whatever does not.

I hope this problem is not specific to my setup. My goal here is to get t

[2022-04-08 18:05] #7401 closed

[2022-04-08 18:24] brendanhoar commented on #7404
I'm seeing about an 8x slowdown in sysbench memory run on a domU PVH vs. dom0 on my ancient quad Sandy Bridge.

B

[2022-04-08 22:19] locriacyber commented on #7403
This also have the side effect of unable to focus on a window already focused in dom0, unless we send FocusIn on every mouse event (I think this was in the code (gui-agent), but I removed it because it caused some issue).

[2022-04-08 23:37] DemiMarie commented on #7404
dom0 is itself a PV VM, so that is strange.

@andyhhp: Do you what could cause such a huge difference between PV dom0 and PV domU?  Are super pages only allowed to be used by dom0?

Me too.

[2022-04-09 12:10] #7297 closed

[2022-04-09 13:24] brendanhoar opened #7429 "No DNS in inheriting VMs after enabling fedora-35 template's fedora-updates-testing repo and updating"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.0

### Brief summary

If you change the flag from
0 to 1 and shut down the template, then update the template, any newly started VMs begin reporting "temporary" dns errors.

https://forum.qubes-os.org/t/r4-0-fedora-35-update-no-dns/10669/7

As per forum post, likely due to a systemd/resolved update

[2022-04-09 13:28] wkadh5 commented on #7420
So I found the problem.
The kernel did not do the trick, but it was a rather simple issue - the power saving management in the BIOS was on (this somehow led to Qubes beeing slow (Xen?))  and I switched it to performance mode. Now it works flawlessly.
Thank you for your time.

[2022-04-09 13:28] #7420 closed

[2022-04-09 17:12] Szewcson opened #7430 "Adding some trustworthy minimal windows enviroment just for installing BIOS updates"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
Installation of BIOS updates for many manufacturers only supporting Windows. Sometimes it is possible to make some workaround, but even then it is a task to high experienced users. Since BIOS updates are critical from security point of view (most of them are security fixes for In

[2022-04-09 20:13] locriacyber commented on #6250
This is still slow. Fedora 32 metadata is 90MB in size; dnf is impossible use under poor Internet connection. I can't even install security updates.

[2022-04-09 22:15] DemiMarie commented on #6250
@marmarek can we only re-download the Fedora 32 metadata when we need it?

[2022-04-10 03:20] ZYousef commented on #7424
@Arna13 Thanks, that's exactly what I did, honestly sys-gui-gpu works like a charm! However, it's not as stable as sys-gui sometimes it won't start, still trying to figure out why.

[2022-04-10 08:35] Arna13 commented on #7424
@ZYousef That's great to hear, I'll try to use sys-gui-gpu on a fresh install and if I cant get it to work I'll open an issue.

[2022-04-10 09:53] jevank commented on #5065
Hooray!

[2022-04-10 09:59] andrewdavidwong commented on #7178
That's because "doc/how-to-edit-the-documentation" only applies to [the official website repo](https://github.com/QubesOS/qubesos.github.io) and its submodules (in particular, [the official documentation repo](https://github.com/QubesOS/qubes-doc)), whereas [qubes-architecture](https://github.com/QubesOS/qubes-architecture) is a brand new repo that @marmarek created just for the purpose of this is

[2022-04-10 12:00] logoerthiner1 commented on #6250
I have just tried `cd /etc/yum.repos.d && sudo mkdir old && sudo mv fedora* old` to disable fedora 32 update in dom0. Are there any security consequences or other types of consequences by doing this, and is this suggested or not suggested?

[2022-04-10 13:35] adrelanos commented on #7428
github support swiftly removed the "retirement" status.

https://github.com/Whonix/updates-status has been re-created.

Does this solve this issue? Will Qubes openQA bot continue posting or some re-setup required?

[2022-04-10 17:25] locriacyber commented on #6250
@logoerthiner1 You probably can't install xen then.

[2022-04-10 17:43] alt3r-3go commented on #4782
As an additional data point - I also observe something very similar (streak-like artifacts on changed/highlighted portions of the screen, only in the GUI part - e.g. boot trace and Ctr+Alt+F2 console work fine) on my Intel ADL-H-based laptop. The default or explicit "modesetting" driver exhibit that and only the "intel" one fixes the problem (none provide acceleration though). That's on `kernel-la

[2022-04-10 19:27] TNTBOMBOM commented on #7430
This is not Qubes or generally any GNU/Linux issue to solve, If you bought a PC from stupid manufacture blame the stupid manufacture for not allowing their BIOSs updates through GNU operating systems.

BIOSs you are referring to are proprietary software (coreboot or POWER-PC are better open/free software replacements) which are faraway to consider them secure/malware free software.  (Qubes certifi

[2022-04-10 19:39] Nurmagoz opened #7431 "Memory issue founded by Hardened-Malloc - "icon-sender: segfault at ... libc-2.31.so""
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Install hardened-malloc light will show this error: (using `sudo journalctl --boot | grep -i error`)

`host kernel: icon-sender[981]: segfault at 8 ip 00007658caa91068 sp 00007ffd7c27e0b0 error 4 in libc-2.31.so[7658caa2f000+14b000]`

### Steps to reproduce

Follow these instr

[2022-04-10 19:42] TNTBOMBOM commented on #6873
Installing hardened-malloc-light doesnt show the error above:

https://www.kicksecure.com/wiki/Hardened_Malloc_Light

(The test above done with [hardened-malloc](https://www.kicksecure.com/wiki/Hardened_Malloc))

[2022-04-10 20:28] Arna13 opened #7432 "Glitched screen with artifacts in sys-gui-gpu."
### Qubes OS release

Latest Qubes 4.1 (R4.1)
uname: "Linux dom0 5.10.104-3.fc32.qubes.x86_64"

### Brief summary

`sys-gui-gpu` doesnt work correctly, the screen shows graphical glitches, flicker, a green-ish tone and a weird aspect ratio (Image attached). I also get different graphical artifacts in `sys-gui` very similar to the video in #7424.

![PXL_20220410_220859431](https://user-images.githu

[2022-04-11 00:46] emacsomancer commented on #7392
Is there any current workaround for this issue?

[2022-04-11 01:18] scallyob commented on #7411
reinstalling with BTRFS fixed the backup issue.  But it did greatly increase the load, lagging of the system. Maybe the I/O performance you mention? I described it more in the forum for reference: https://forum.qubes-os.org/t/unable-to-get-fully-functional-system-when-installing-qubes-4-1-on-a-raid1/10682

[2022-04-11 02:19] DemiMarie commented on #7430
@TNTBOMBOM I agree that this should be “won’t do”, though for different reasons.  Creating a secure Windows environment is very difficult, and since it would not be redistributable it would need to be regenerated locally on each person’s machine.  Furthermore, future Windows changes would likely break it.

[2022-04-11 02:19] #7430 closed

[2022-04-11 02:24] DemiMarie commented on #4782
@marmarek is there any chance we can provide a newer Mesa?

[2022-04-11 02:36] crat0z commented on #7429
4.1 too. Stopping/disabling systemd-resolved fixes this.

[2022-04-11 02:58] DemiMarie commented on #7411
It probably is.  BTRFS isn’t known for being fast and VM disks are one of the worst-case scenarios for it.  You could also try XFS, which might be faster.

I will take a look at that in a bit.

[2022-04-11 02:59] DemiMarie commented on #7392
@marmarek time to pop out a new Xen package?

[2022-04-11 03:42] marmarek commented on #7428
Should work fine, we'll see on Wednesday. BTW, if you'd prefer those test reports posted somewhere else, let me know. Another repo is trivial, but gitlab or email should be possible too.

[2022-04-11 03:51] marmarek commented on #4782
If proven to solve the issue _first_, then maybe. But that's quite a few packages to repackage/rebuild, and I'm not going to do it "just in case". `sys-gui-gpu` may be helpful with testing various versions. Anyway, since the issue applies to relatively old hardware too (especially - way older than fc32 we have in dom0), it's unlikely the upgrade would help.

[2022-04-11 09:39] andrewdavidwong commented on #6250
Please note that the issue tracker (`qubes-issues`) is not intended to be a place for fielding questions. Instead, we have other [venues meant for asking questions, asking for help, and having discussions](https://www.qubes-os.org/support/). (By contrast, the issue tracker is more of a technical tool intended to support our developers in their work.) Thank you for your understanding!

[2022-04-11 11:20] bashlund commented on #1396
Thanks @arkenoi, your tip of resetting using `setxkbmap -keycodes "evdev+aliases(qwerty)` really saved my setup!

Whenever the arrow keys stop working I run that snippet and it all works again as expected.

[2022-04-11 12:31] patranger opened #7433 "Bug in the installation ISO"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
Qubes release 4.1.0 (downloaded in last week from https://ftp.qubes-os.org/iso/Qubes-R4.1.0-x86_64.iso)
Hash verified and was okay.

### Brief summary
For several years I have been using Qubes OS on a laptop every day, so I wanted to install it on a new desktop computer.

I downloaded the latest ISO i

[2022-04-11 15:25] SaswatPadhi commented on #7433
From your screenshot it doesn't look like a fatal failure though. Are you able to install Qubes?

[2022-04-11 15:47] crat0z commented on #7429
OK, I've found a somewhat better short term solution. Perform the steps below inside of a template to fix this issue for now
[code]
Some links to look at:
https://src.fedoraproject.org/rpms/systemd/commits/f35
https://github.com/systemd/systemd/pull/21317

As previously mentioned, with systemd-resolved disabled, for some reason systemd still creates the symlink to stub-resolv.conf, which is why th

[2022-04-11 17:38] ddevz opened #7434 "Typing in a LUKS password gives no feedback as to if it was the right password, but the password seems to work (sometimes)"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
When booting, I see a LUKS password prompt, but typing shows no feedback acknowledging that you have entered anything (for example showing a dot for each character entered).
After typing in the LUKS password and hitting enter, the screen does not change.   Sometimes after a whil

[2022-04-11 17:40] ddevz commented on #6824
If this is a separate issue, let me know and i'll create a new issue out of it, but since its sys-usb race condition and might be related, i'll start with it here:

Sometimes sys-usb *does* start, but shows no usb devices in sys-usb when using "lsusb"
When this happens, it seems to be *all 5* sys-usb qubes that have the problem (once sys-usb qube per usb controller).
They also may be failing to st

[2022-04-11 18:40] andyhhp commented on #7404
PV guests cannot use superpages at all.  dom0 doesn't get them either.

Numbers this bad are usually PV-L1TF and IvyBridge is affected, but Qubes has SHADOW compiled out so it's not that.  Do you have `xl dmesg` from the system?  I'm rather lost for ideas.

[2022-04-11 19:53] lubellier commented on #6935
Now it's OK, I built an ArchLinux template.
For updating the [building-archlinux-template](https://github.com/Qubes-Community/Contents/blob/master/docs/building/building-archlinux-template.md) guide with [PR #182](https://github.com/Qubes-Community/Contents/pull/182), I run all the build procedure and got a runnable template.

[2022-04-11 20:12] DemiMarie commented on #7404
Makes sense, I see that superpage support on PV got ripped out in 2017.  Not surprising in retrospect, considering that at least two of the fatal flaws in PV were due to it.

@AlxHnr Can you provide `xl dmesg`?  That should give the Xen log.  Please be sure to redact any sensitive information before posting it.

[2022-04-11 20:40] brendanhoar commented on #7404
Just as an aside, under R4.0 on Sandy Bridge xl dmesg says:

PV L1TF shadowing: Dom0 disabled, DomU enabled

Just checked R4.1 on i7-8850H and same result.

B

B

[2022-04-11 20:51] DemiMarie commented on #7404
That’s normal.  The L1TF mitigation code enables shadow paging if the hypervisor was built with that, or calls `domain_crash()` otherwise.

[2022-04-11 21:55] DemiMarie commented on #7404
@fepitre can you provide an `xl dmesg` from a machine that has performance problems under Xen?

[2022-04-11 22:10] marmarek commented on #7404
i7-8750H here, about the same result. [xl dmesg](https://gist.github.com/marmarek/ab198a74e14c8ef78819ce31a288c5ff)

[2022-04-11 22:33] DemiMarie commented on #7404
Thanks!  Would you mind posting sysbench results?

[2022-04-11 23:01] AlxHnr commented on #7404
<details>
<summary>Here the important bits from `xl dmesg`</summary>

[code]

</details>

[2022-04-12 09:03] ZYousef opened #7435 "Qrexec policies insufficient for sys-gui-gpu"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

sys-gui-gpu denied lots of permission when it starts.

### Steps to reproduce

_sudo qubesctl top.enable sys-gui-gpu
sudo qubesctl top.enable sys-gui-gpu pillar=True
sudo qubesctl --all state.highstate_

then an error occurred & changed the _salt formula_ from dummy-psu-**dom

[2022-04-12 10:35] lubellier commented on #7429
@andrewdavidwong please, see the @Geblaat 's above comment, and add the relevant tags (4.1 stable and P:critical or P:major ?).
Thank you.

[2022-04-12 10:44] marmarek commented on #7362
@DemiMarie Can you confirm it's actually fixed? https://openqa.qubes-os.org/tests/38022#step/qui_widgets_domains/7 looks like similar issue and it does include this commit already.

[2022-04-12 11:00] DemiMarie commented on #7362
It’s better, but not fully fixed.

[2022-04-12 11:49] marmarek opened #7436 "Migrate templates from rpmdb to qvm-template"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

After in-place upgrade, templates previously installed cannot be managed with qvm-template

### Steps to reproduce

1. Perform in-place upgrade from R4.0 to R4.1
2. Try to use `qvm-template info <name-of-template>`

### Expected behavior

Shows info about installed template.

[2022-04-12 11:57] andrewdavidwong commented on #7429
The milestone reflects the earliest affected supported release.

[2022-04-12 14:00] RhizomaticNomad commented on #7114
As DistractedSorbet I also felt into this problem while upgrading from 4.0 to 4.1. Happily I was able to resolve this with the suggestions in this thread, which was the correcting setting in the end I can't say.
Following actions I performed:

in Global settings -> Default kernel used by qubes was pointing to 5.4 from fc25, changed that to 5.10.109-1.fc32.

`sudo dnf remove qubes-mgmt-salt-base-ov

[2022-04-12 15:20] andyhhp commented on #7404
Hmm - sadly nothing helpful there.  Not terribly surprising as it's a release hypervisor, but that's no guarantee that a debug Xen would be any more helpful.

As an unrelated observation, @marmarek you can work around:

by backporting xen-project/xen@e44d986084760 and xen-project/xen@e5046fc6e99db which will silence the spurious warning.

[2022-04-12 18:06] marmarek commented on #7404
I've tried Xen with `spec-ctrl=no` but nothing changed (`7128.94 MiB/sec` in dom0, `769.83 MiB/sec` in domU).
Relevant Xen messages:
[code]

[2022-04-12 18:29] marmarek commented on #7404
When calling `sysbench memory run --memory-block-size=16K` I get significantly closer numbers (`20813.22 MiB/sec` in dom0 vs `8135.43 MiB/sec` in PVH domU). PV domU performs even worse (`5140.72 MiB/sec`). The difference between PV dom0 and PV domU surprises me.

[2022-04-12 19:25] MonkeyBars3k commented on #5426
Confirming that fresh install of 4.1 with BTRFS enabled solves this issue.

The instructions on how to select this option during the install setup [are detailed here](https://forum.qubes-os.org/t/how-does-the-vm-storage-work-internally/5355/5).

[2022-04-12 19:37] lubellier opened #7437 "No dom0 update notification"
### Qubes OS release
R4.1, dom0 stable repository.

### Brief summary
In 4.1, the dom0 update notification no more works. I remember that it worked with 4.0.

When a dom0 update is available, there is no notification in the XFCE tray bar.

See the reports from the users in the forum : [Dom0 Doesn’t Always Show Updates Available](https://forum.qubes-os.org/t/dom0-doesnt-always-show-updates-availabl

[2022-04-12 19:44] lubellier commented on #7437
## Analysis

The dom0 update check is done via cron.daily:
[code]

### How is the cron executed?
with the *crond.service*, from *cronie*, see:
[code]

How is the daily cron executed?

With `/etc/cron.hourly/0anacron`, which run `anacron -s` if not yet runned today.

### Where are the cron logs?
`sudo journalctl --since "1 month ago" -u crond.service`

Daily logs are :
[code]

So `lvm-cleanup` runn

[2022-04-13 02:25] brendanhoar commented on #7404
I think we may be seeing a mirage.

I played around a bit with strace -f sysbench...

...and noticed that under domU PV but not under dom0 PV, I saw an additional 75K lines in systrace output with this pattern:

After some additional experimenting and googling, I found that I can get "terrible sysbench results" **from PV dom0** by performing the following (as root):

And I can then "restore good s

[2022-04-13 02:34] DemiMarie commented on #2826
There is a Xen PV protocol for file sharing.  @marmarek what do you think of it?  My intuition is that it would be quite sub-optimal, as it is based on 9P, which is a network-based protocol.  We should be able to do much better.

Some features I would like in a file sharing protocol:

1. Secure against malicious frontends.  This is obviously table stakes for any such protocol.
2. Secure against ma

[2022-04-13 02:37] DemiMarie commented on #7404
Yeah, that is definitely not going to be fast :laughing:.  Can you provide concrete numbers?  @fepitre would you be willing to see if this helps your problems?

[2022-04-13 02:48] brendanhoar commented on #7404
R4.1
[code]

[2022-04-13 02:55] brendanhoar commented on #7404
Unsurprisingly, it looks like someone else ran into the same issue nine years ago using sysbench under the kvm-clock clocksource...
https://blog.siphos.be/2013/04/comparing-performance-with-sysbench-part-3/

...nothing new under the sun.

Brendan

[2022-04-13 04:21] mcku commented on #4472
I have faced the same symptoms some time after migrating to a new laptop. As the old laptop was still available it was possible to compare with a working configuration.
For some reason, on the new laptop's default template, /etc/resolv.conf was symlinked to a systemd path.
But on the old laptop it was an empty file.

Removing the symlink and placing an empty resolv.conf file solved my issue.
I am

[2022-04-13 04:29] DemiMarie commented on #4472
That’s #7429.

[2022-04-13 05:29] patranger commented on #7433
I didn't say anywhere that it was my screenshot (I can't make my own). I just wrote that on my PC it is like in this screenshot. It is obvious that when I report a bug, the installer does not start and the screen freezes on the loading screen and even after half an hour nothing happens.

[2022-04-13 05:46] patranger opened #7438 "Freezing the system in R4.1"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1 (downloaded last week)

### Brief summary
First, I disconnected the SSD from my laptop and connected it to the PC via USB. There was the latest Qubes OS R4.1 on the disk but after connecting to a PC only I could run it, when I tried to start the VM eg "personal" the system froze.

Due to the fact

[2022-04-13 05:46] rootnoob opened #7439 "Critical - Fedora 35 Networking Fail with latest update"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1 latest

### Brief summary
Fedora 35 based templates succesfully forward networking traffic but no in-vm network applications are working. I guess it's a dns issue.
Ping, outputs
‘Temporary failure in name resolution’.

This has made all my fedora35 templates unusable, I've had to temporarily swit

[2022-04-13 05:54] DemiMarie commented on #7438
Do you have a sys-usb qube?  If so, then your SSD likely got assigned to it, in which case I am amazed your system booted at all.

[2022-04-13 05:55] DemiMarie commented on #7439
This appears to be a duplicate of #7429.  If it isn’t, please leave a comment so that the team can take a closer look.

[2022-04-13 05:55] #7439 closed

[2022-04-13 07:38] andrewdavidwong commented on #7426
Looks like closure via commit was intended but failed for some reason. Closing as resolved. If anyone believes this issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen it. Thank you.

[2022-04-13 09:11] DemiMarie opened #7440 "qubes-guid sometimes fails to start for some (not all) qubes"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

It appears that some of the time, `qvm-start-daemon` will only start GUI daemons for some of the running qubes.

### Steps to reproduce

Difficult.  Starting a bunch of qubes in rapid succession will sometimes trigger it.

### Expected behavior

All qubes have GUI daemons run

[2022-04-13 09:11] #7436 closed

[2022-04-13 09:11] #7094 closed

[2022-04-13 09:11] #7426 closed

[2022-04-13 09:13] DemiMarie opened #7441 "`qvm-start-daemon --all --watch` doesn’t start missing `pacat-simple-vchan` instances"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

`qvm-start-daemon --all --watch` sometimes fails to start needed instances of `pacat-simple-vchan`

### Steps to reproduce

Run `qvm-start-daemon --all --watch` (after killing any existing instances) with many qubes already running

### Expected behavior

Sound works in all o

[2022-04-13 12:35] andyhhp commented on #7404
Ah.  clocksources.  An unmitigated set of disasters on native as well as under virt.

For Qubes, you're not migrating VMs, so it's safe to expose the Invariant TSC CPU feature to all guests, which is what triggers Linux to pick a different default.  Set `itsc=1` in the VM config file.

[2022-04-13 13:01] #7417 closed

[2022-04-13 13:27] marmarek commented on #7404
Thanks! That's Xen 4.14, it's `nomigrate=1` there. Now it's just a matter of setting it via libvirt...

[2022-04-13 14:25] andyhhp commented on #7404
Urgh.  I've been trying to kill `nomigrate` and it has a habit of segfaulting libvirt for reasons we never got to the bottom of.

It might be easier to pass `cpuid="host:invtsc=1"`

[2022-04-13 14:38] logoerthiner1 commented on #7404
May I have several questions on this?

1. Is the selection of clock sources (xen or tsc) affect only the accuracy of timing or affect the actual performance when doing sysbench?

2. Will normal user need to manually config the clocksource after the update, or will the update set the clocksource of all domU to be tsc by default?

[2022-04-13 14:50] crat0z commented on #7404
@logoerthiner1

1. Accuracy is not affected as far as I'm aware

2. No manual configuration required since Qubes dynamically creates libvirt xml for every VM, using a template xml file. See the above commit for more info

[2022-04-13 15:48] andyhhp commented on #7404
Accuracy is fine.  The performance difference is between `gettimeofday()` completing in the VDSO without a system call, vs needing a system call.

[2022-04-13 16:08] andyhhp commented on #7404
:disappointed:   This is bringing back the scars of trying to fix the mess.  Begrudgingly, yes, use nomigrate on 4.14.  You will have to change it when you move to a newer Xen.

[2022-04-14 11:49] #7429 closed

[2022-04-14 11:59] DemiMarie opened #7442 "qrexec: Allow supplying prefix data to be sent before the data from stdin"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

In some cases, it is desirable to send metadata that should come before the main data stream, but which should not be part of qrexec policy.  For instance, a service to perform GPG signing with a specific key could have a flag to request ASCII armored output.  However, this flag

[2022-04-14 13:28] ZYousef commented on #7435
Setting guivm prefs to None fixes these issues!
_qvm-prefs sys-gui-gpu guivm ""
qvm-prefs sys-gui-gpu audiovm ""_

[2022-04-14 13:28] #7435 closed

[2022-04-14 15:04] marmarek opened #7443 "Implement own non-interactive template update tool"
Implement our own non-interactive update mechanism (not requiring DispVM in the middle) - including a method to plug security fixes for VM's own update mechanism, like we did via Salt in the past (it happened already for both Fedora and Debian)

The interface should provide basic feedback on a) progress, b) what updates were installed (output from package manager is probably enough). And a reliabl

[2022-04-14 15:10] DemiMarie commented on #7443
I would also like it to support `dnf --best --refresh --enablerepo=updates-testing --security -- upgrade && dnf --best -- upgrade` in Fedora.  That command is what one uses to install security updates (but not non-security updates) from the updates-testing repo.

[2022-04-14 15:13] marmarek commented on #7443
That feature can be added at some point, but lets _not_ broaden the scope until we have some basic version working.

[2022-04-14 17:51] TNTBOMBOM opened #7444 "Hardened Malloc For Qubes OpenQA"
There are multiple errors which were detected by hardened malloc, Its good if HM added to the testing framework to discover and easily fix memory issues.

Similar to what OpenSSH did: ([original ticket](https://bugzilla.mindrot.org/show_bug.cgi?id=3245))

https://github.com/openssh/openssh-portable/commit/b744914fcb76d70761f1b667de95841b3fc80a56

[2022-04-14 21:01] andrewdavidwong commented on #6624
Related: https://github.com/QubesOS/qubes-issues/issues/4282

[2022-04-14 21:35] Che15ea opened #7445 "UTF-8 characters cannot be displayed on Whonix VM"
### Qubes OS release
4.1.0(with latest update)
Whonix 16

### Brief summary
UTF-8 characters, like Japanese, Chinese, Korean, cannot be displayed on Whonix VM system and apps(except Tor Browser).
Like that: https://ibb.co/mJGF9js
Thank you!

[2022-04-14 21:36] TNTBOMBOM commented on #7013
Installing Kicksecure inside Debian Template (Following [distro-morphing](https://www.kicksecure.com/wiki/Debian) instructions) the Appvm which is based on kicksecure template will give tons of the same error reported above: (The Appvm called I2P)

![kicksecurecallsyswhonix](https://user-images.githubusercontent.com/11895339/163480499-54b5b0ec-e932-4d67-b812-d42572295f5b.png)

Any operation using

[2022-04-14 21:41] TNTBOMBOM commented on #7445
Did you follow these instructions here:

https://www.kicksecure.com/wiki/Language
https://www.kicksecure.com/wiki/Keyboard_Layout

[2022-04-14 21:46] Che15ea commented on #7445
Thanks for your reply!
I am concerning that setting up so may change the default fingerprint of the environment and compromise the anonymity of the OS.

[2022-04-15 07:17] DemiMarie commented on #7445
Should this be reported on the Whonix forums instead?

[2022-04-15 08:38] GWeck commented on #7364
With the exception of seamless mode for Windows 10 and 11 - which is surely a bigger task - all these problems have now been solved. So I am closing this issue.

[2022-04-15 08:38] #7364 closed

[2022-04-15 08:41] GWeck commented on #7088
Migrating backups od Windows qubes from R4.0 to R4.1 has now been described in the Qubes documentation. So I am closing this issue now.

[2022-04-15 08:41] #7088 closed

[2022-04-15 09:45] locriacyber commented on #7307
This is probably related to qubes-guid auto focus newly created window. Usually, which window to focus should be handled by the window manager, and I guess some X windows aren't focused by default.

[2022-04-15 09:55] DemiMarie opened #7446 "Create a minimal kernel config for guests"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Building a kernel using the default Qubes OS kernel config takes way too long.

### The solution you'd like

Provide a minimal config that only includes features (such as drivers) that a Qubes VM actually needs.  Almost all real hardware drivers can be excluded, as can features

[2022-04-15 13:40] #7437 closed

[2022-04-15 14:08] DemiMarie commented on #7307
@locriacyber That is interesting.  I imagine it would be safe for a VM to say “do not focus this window”, provided that the window is also not visible.  That said, if the window is not visible at all, should the daemon just ignore it, or always set the “do not focus” flag?

[2022-04-15 14:17] marmarek commented on #7307
If window is not mapped, it is not focused, by definition. It also isn't considered by the window manager.

[2022-04-15 14:18] marmarek commented on #7307
The simplest thing is to enable debug mode for the VM (in VM settings). You'll have then detailed logs in both /var/log/qubes/guid.*.log in dom0 (gui daemon) and journalctl in VM (gui agent).

[2022-04-15 14:24] TNTBOMBOM commented on #7445
yes

[2022-04-15 15:20] TNTBOMBOM commented on #7445
Further details not related to the issue above please ask in the forums:

https://forums.whonix.org/

[2022-04-15 16:04] DemiMarie commented on #7307
A window could be mapped but outside the frame.

[2022-04-15 17:05] adrelanos opened #7447 "Kicksecure inside Debian Template sdwdate qrexec Denied message"
Installing Kicksecure inside Debian Template (Following [distro-morphing](https://www.kicksecure.com/wiki/Debian) instructions) the Appvm which is based on kicksecure template will give tons of the same error reported above: (The Appvm called I2P)

![kicksecurecallsyswhonix](https://user-images.githubusercontent.com/11895339/163480499-54b5b0ec-e932-4d67-b812-d42572295f5b.png)

Any operation using

[2022-04-15 17:06] adrelanos commented on #7013
Separate, unrelated issue. Created https://github.com/QubesOS/qubes-issues/issues/7447 for it.

[2022-04-15 17:18] adrelanos commented on #7447
Status of [Kicksecure](https://www.kicksecure.com) [inside Qubes](https://www.kicksecure.com/wiki/Qubes):
https://www.kicksecure.com/wiki/Qubes#Template

Related Qubes qrexec source code file:
https://github.com/QubesOS/qubes-core-admin-addon-whonix/blob/master/qubes-rpc-policy/80-whonix.policy

qrexec policy line which is causing this:

    whonix.NewStatus     *         @anyvm            @anyvm

[2022-04-15 17:19] DemiMarie commented on #7447
Why is a non-Whonix VM calling `whonix.NewStatus` to begin with?

[2022-04-15 17:21] adrelanos commented on #7447
This is primarily a Qubes dom0 issue.

Suggested ticket tags:

* `C: Kicksecure` - New tag? If Qubes is interested in that.
* `P: default`
* `T: bug`

Kicksecure uses sdwdate.

[2022-04-15 17:36] DemiMarie commented on #7447
Is renaming the service an option?  `whonix.NewStatus` (a) implies that the service is Whonix-specific and (b) provides no indication that sdwdate is involved.  As far as tags, I would be fine with using `sdwdate-client` or similar.

[2022-04-15 17:47] adrelanos commented on #7447
Yes, sure.

However, that file is still part of Qubes dom0 package `qubes-core-admin-addon-whonix` which still would't be 100% clean but might be acceptable?

Even if renamed, I still don't see how we can fix the issue reported here without changing the sdwdate qrexed default from deny to allow or without a Kicksecure-Qubes template maintainer.

[2022-04-15 17:52] andrewdavidwong commented on #7445
Closing as "not our bug" (the Qubes OS Project does not develop the software that is causing this bug). If anyone believes this resolution is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

Related FAQ: [Why don’t you fix upstream bugs that affect Qubes OS?](https://www.qubes-os.org/faq/#why-dont-you-fix-upstream-bugs-that-affect-qubes-os)

[2022-04-15 17:52] #7445 closed

[2022-04-15 18:33] adrelanos commented on #5220
Could this limit (optional or setting) please be increased to something more reasonable let's say... 10 MB?

[2022-04-15 21:50] marmarek commented on #7447
Lets first try to figure out what should be the final goal, and only then - how.

Ok, so the user did just this: took Debian template and morphed into Kicksecure. No Whonix is involved or even installed. What should happen?

[2022-04-16 07:45] adrelanos commented on #7447
Kicksecure VMs are primarily used non-torified, i.e. over clearnet (or VPN). That's the main use case. Some users might torify them for some reason but that would be the corner case. Torified Kicksecure makes little sense - because in that case using Whonix would be better.

Good question. I guess...

1)

The Kicksecure VM should be allowed to qrexec send `whonix.NewStatus` (to be renamed in a gen

[2022-04-16 08:35] DemiMarie commented on #5220
@marmarek thoughts?

[2022-04-16 09:56] DemiMarie commented on #7410
Patch arriving soon.  Current plan is to add a few new module parameters in sysfs:

- `deferred_count`: number of deferred pages
- `leaked_count`: number of leaked pages
- `immediate_free`: when read, free as many grants as possible, and return the number thus freed.
- `free_per_iteration`: max number of grants to free per iteration, or 0 for no limit

Remaining questions:

- Is this a valid use o

[2022-04-16 10:40] marmarek commented on #7410
reading from sysfs should not have side effects. And even more for module parameters. There is no chance upstream would accept this.

Module parameters are module inputs, not output for stats. I'm not sure what would be logical place for this (gntalloc module doe not register any device driver), but definitely not module parameter. Better ask on xen-devel (or IRC) about it first.

Exactly, only `f

[2022-04-16 10:55] marmarek commented on #7447
What's the purpose of this service? Is it only reporting status to be displayed in a single place (instead of separate icon for each qube)? Or is it also assisting with the actual time synchronization? If the former, maybe the solution for the case without Whonix is to run sdwdate-gui locally in the Kicksecure VM? May not be optimal if there are many of them, though...

[2022-04-16 11:10] DemiMarie commented on #3894
@GWeck: https://github.com/seL4/seL4/issues/828 will need to be solved first.

[2022-04-16 13:01] unman commented on #5220
I would not be in favour of raising the limit - 10MB does not seem
"reasonable" to me, even as an optional setting.

[2022-04-16 13:14] brendanhoar commented on #5220
Is the implication here that clipboard data is being saved to dom0 filesystem when clipboard copying from domU A to domU B?

If so, is this really necessary?*

If not, what is the disk space concern?

B

* again, forensics concerns; dom0 shouldn't purposefully store data that isn't necessary.

[2022-04-16 14:34] sjvudp commented on #5220
I think the minimal fix would display some message if the selection is larger than the capacity of the buffer (i.e.: the copy is incomplete).RegardsUlrich Windl-------- Originalnachricht --------Betreff: [EXT] Re: [QubesOS/qubes-issues] Qubes Clipboard transfer limited size of text (#5220)Von: Demi Marie Obenour An: QubesOS/qubes-issues Cc: sjvudp ,Comment
Reopened #5220.

—Reply to this email dir

[2022-04-16 17:56] DemiMarie commented on #7410
Not at all surprised.  I chose a module parameter because that was what was easy to implement, not because that is what should be implemented.

I _think_ `/sys/hypervisor` might be a decent place for this.

Will do.

You did: it would require substantial refactoring, and the kernel fix is easier.  That said, a GUI agent fix should be implemented, _unless_ a hypervisor-level solution is implemented

[2022-04-16 18:05] adrelanos commented on #7447
Yes, "mostly" only reporting the status and [...]

[...] "Not directly." Except for usability. It offers a few handy buttons buttons

* Show sdwdate status
* Open sdwdate's log
* Restart sdwdate
* Stop sdwdate

sdwdate-gui homepage:
https://www.kicksecure.com/wiki/Sdwdate-gui

screenshot of that menu:
https://www.kicksecure.com/wiki/File:Sdwdate2.png

Yes, that would of course work.

Indeed. It's

[2022-04-16 21:55] marmarek commented on #7404
Ok, I've set nomigrate and confirmed that guest sees INVTSC bit set. But Linux still chooses "xen" clocksource by default :/

[2022-04-16 22:18] marmarek commented on #7404
I can't find any part of Linux that would use INVTSC to affect clocksource choice. All I see is "rating" - "tsc" has 400, "xen" has 500. And the highest available wins.

[2022-04-16 23:09] DemiMarie commented on #7404
Ad-hoc kernel patch time?  (yes, yuck)

[2022-04-16 23:14] marmarek commented on #7404
Nope, `clocksource=tsc` to kernel cmdline.

[2022-04-17 09:34] honzahosek opened #7448 "Mouse events only in limited area after connecting display."
### Qubes OS release
4.1

### Brief summary
This happens only sometimes.
After connecting HDMI display (of bigger resolution) windows running in some appvm (debian-11, firefox) adjust to the resolution, but are getting mouse events only in top-left part limited by some smaller resolution.
Described also here:
https://github.com/QubesOS/qubes-issues/issues/7309#issuecomment-1066047589

Connecting a

[2022-04-17 09:55] GWeck commented on #3894
I am getting more and more skeptical about this, especially in the context of the x86 architecture. There are so many variants of the processor structure now, and more are still to come - and possibly each of them with different problems with regard to speculative execution. Building a kernel that is verified to work correctly on each of them may show to be impossible. On the other hand, building

[2022-04-17 10:04] logoerthiner1 commented on #7448
https://www.qubes-os.org/doc/gui-troubleshooting/

This might be useful.

[2022-04-17 10:27] logoerthiner1 commented on #5220
See https://github.com/QubesOS/qubes-gui-daemon/blob/8552d9984efd5017799d526b3c1d13c76c7e0022/gui-daemon/xside.h#L29, when you "Ctrl-Shift-C", the clipboard will be stored inside dom0 `/var/run/qubes/qubes-clipboard.bin` file. There seems to be an alternative implementation of clipboard (qrexec) but this does not seem to be used actively.

I do not understand in detail the security consequence of

[2022-04-17 10:53] DemiMarie commented on #3894
@GWeck The long-term solution is speculative taint tracking, which gets the majority (80+%) of the performance benefits of speculative execution without the security problems.  But only new hardware can support it.

[2022-04-17 11:46] alt3r-3go commented on #4782
Yeah, I'm not sure Mesa is the culprit here, TBH. One thing I forgot to mention is that booting the same dom0 directly (i.e. commenting out Xen and changing `module` directives to `linux` and `initrd` respectively) yields no artifacts - so it looks like that added variable of Xen changes it, though I don't see anything significant in the log diff.

There's still no HW acceleration though - and tha

[2022-04-17 12:01] honzahosek commented on #7448
It seems like it is it. In that case this will be more and more common problem. There should be at least something what triggers some warning telling people what to do.

[2022-04-17 12:38] DemiMarie commented on #4782
That is interesting.  I wonder if disabling the IOMMU for the i915 integrated GPU would help.  @marmarek is it safe to do this, on the assumption that the iGPU is trusted?

[2022-04-17 12:49] rustybird commented on #5220
`/var/run` is a symlink to the `/run` tmpfs.

[2022-04-17 16:35] GWeck commented on #3894
... and there we're again on the dependency on processor variants.

[2022-04-17 16:48] logoerthiner1 commented on #5220
Yeah you are right. Then there should be little forensics concerns unless one considers the possibility that tmpfs file is swapped (this could happen though; dom0 is not short of interfaces that can at least give dom0 memory pressure, for example qubes-gui-daemon). "Disk space" is misleading here - actually the capacity of tmpfs is limited mostly by memory space.

[2022-04-17 17:16] logoerthiner1 opened #7449 "Sometimes right click menu appear at topleft"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

Sometimes right click menu does not appear at the cursor, but rather at the topleft corner of screen.

This is observed in a fedora-34-xfce based template, in thunar. This behavior does not always appear.

Maybe related to #7316 .

UPDATE: kernel 5.15+, fedora 36, on thunar t

[2022-04-17 18:41] brendanhoar commented on #7404
I stumbled on this painful thread from ~15 years ago w/r/t the xen vs tsc timers in VMs, granted from an era where it appears the tsc clocksource was only beginning to be reliable across cores.

https://sourceforge.net/p/kvm/mailman/kvm-devel/thread/47267832.1060003%40zytor.com/?page=0

My empathy for @andyhhp (well, all involved in Xen and the Xen<->Linux border) just increased 10-fold.

B

[2022-04-17 19:43] rootnoob commented on #6186
Release is still TBD on this. Issue still present.
Given this just requires a tweak to the config, when building the template, can release be set to r4.1 updates and applied to new templates?

[2022-04-17 22:01] 0spinboson commented on #3894
OT, but how would Akerlof's law be applicable? The main reason Itanium lost out was that Intel hoped to corner the market and become the only 64-bit CPU supplier (through patents etc), but failed partly because they failed to deliver, but also partly because the market didn't go for it, for both cost, compatibility, and lock-in reasons. And given that most of the speculative execution issues we ar

[2022-04-18 00:53] Kenny606 commented on #7379
I've noticed the same problem in sys-gui-gpu, it only occurs the second time I do it, the first time I just get nothing.
The exact same behavior also occurs when trying to open a console on any VM.

I'd be happy to provide a "backtrace" however unfortunately I have no clue how to do that lol.
Is their a document somewhere with the steps?

[2022-04-18 01:10] #7114 closed

[2022-04-18 01:17] Kenny606 opened #7451 "Devices list empty in sys-gui-gpu"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
Qubes 4.1 , Xen 4.14.4 , Kernel 5.10.104.fc32 qubes x86_x64
dom0, Fedora-34 and Fedora-34-xfce templates up to date.

### Brief summary
After setting up sys-gui-gpu my “devices” icon is there but it’s blank, I just see a tiny empty bubble when I click on it.

### Steps to reproduce
Install and activat

[2022-04-18 01:39] Kenny606 opened #7452 "sys-gui-gpu shutdown/restart commands result in blank screen"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
Qubes 4.1 , Xen 4.14.4 , Kernel 5.10.104.fc32 qubes x86_x64
dom0, Fedora-34 and Fedora-34-xfce templates up to date.

### Brief summary
When I instruct the system to shutdown or restart from the log out menu all I end up with is a blank screen.
At no point will the system shutdown or restart. The comm

[2022-04-18 01:53] Kenny606 opened #7453 "sys-gui-gpu Power Manager Icon and Notifications Missing"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
Qubes 4.1 , Xen 4.14.4 , Kernel 5.10.104.fc32 qubes x86_x64
dom0, Fedora-34 and Fedora-34-xfce templates up to date.

### Brief summary
While in sys-gui-gpu the Power Manager icon is missing in the status tray and I get no notification such as battery charged, charger disconnected etc.

### Steps to r

[2022-04-18 02:14] Kenny606 commented on #7433
I've seen this on several machines I've tested Qubes with. it eventually times out I think it was 3 minutes and then continues. However I wouldn't see any disks to install to during setup.
The solution always turned out to be changing the storage configuration
- On one machine I had to change it from "Raid On" to AHCI
- On another machine AHCI wouldn't work I had to change it to "Raid On" but that

[2022-04-18 02:32] Kenny606 opened #7454 "sys-gui-gpu Failed to execute qubes.WindowUpdater in dom0"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
Qubes 4.1 , Xen 4.14.4 , Kernel 5.10.104.fc32 qubes x86_x64
dom0, Fedora-34 and Fedora-34-xfce templates up to date.

### Brief summary
Whenever a vm’s starts or shuts down I see an error notification: “Failed to execute qubes.WindowUpdater (from somevm-xx to dom0)”

### Steps to reproduce
Simply perf

[2022-04-18 02:42] crat0z commented on #7261
Here is before connecting to VPN:
[code]
[code]
[code]
Here is after, with `net.ipv4.ip_forward=0` in sys-whonix:
[code]
[code]
[code]
and with `net.ipv4.ip_forward=1` in sys-whonix, which "fixes" the issue
[code]
[code]
[code]

[2022-04-18 08:33] GWeck commented on #3894
With Itanium, Intel made the same strategic error that Digital made years before with its Alpha processor (which somewhat was Itanium's predecessor). Building a good processor is not enough: You have to provide a migration strategy to this processor which will push the market to it. Digital probably could have changed the market if they had offered their processor, which at that time was the first

[2022-04-18 12:22] DemiMarie commented on #6186
@marmarek thoughts?

[2022-04-18 12:50] DemiMarie commented on #7261
@marmarek @fepitre is there any chance that we can fix these problems once and for all by switching to point-to-point inter-VM links and/or moving ARP and NDP handling to userspace?  Yes, this breaks certain advanced configurations (such as bridging), so it would need to be optional.  However, it _fixes_ other problems (such as this one) for good.
.
@crat0z I think I see the problem: the last rout

[2022-04-18 12:52] DemiMarie commented on #7454
`WindowUpdater` should be directed to the GUIVM, not dom0.  This is either a GUI agent issue or a qrexec policy issue.

[2022-04-18 13:03] pombredanne opened #7455 "QSBs license missing in https://github.com/QubesOS/qubes-secpack/tree/master/QSBs"
### Brief summary

https://github.com/QubesOS/qubes-secpack/tree/master/QSBs does not have a license
There it is difficult to eventually import or use elsewhere the QSBs  (I co-maintain https://github.com/nexb/vulnerablecode and NLNet funded project)

Do you mind to add a license notice and text at least for the QSBs? any bona fide FOSS license would work! best for data are CC-BY and CC-BY-SA IMHO

[2022-04-18 14:25] andrewdavidwong commented on #3894
Please note that the issue tracker (`qubes-issues`) is not intended to serve as a discussion venue. Instead, we've created a designated [forum](https://forum.qubes-os.org/) for discussion and [support](https://www.qubes-os.org/support/). (By contrast, the issue tracker is more of a technical tool intended to support our developers in their work.) Thank you for your understanding!

[2022-04-18 14:56] Kenny606 commented on #7454
If there are any log files I can provide that would help let me know.

Thanks everyone for your hard work on this project.
I'm still pretty early breaking in Qubes but I love the idea and design :)

-Kenny

[2022-04-18 17:28] locriacyber commented on #7307
https://gist.github.com/locriacyber/dce9cf0e0cb5b9405c62d817e862b9ae

[2022-04-18 17:52] crat0z commented on #7261
Yes, that works. As far as I can tell, openvpn does not check for onlink and there is no way to specify it either. However, if you are using openvpn from the command line, you can edit your config file and add something like this:
[code]
Create a file at `/rw/config/fix-route.sh` with
[code]
and make the script executable with `chmod +x /rw/config/fix-route.sh`. This will replace the route with id

[2022-04-18 18:13] Kenny606 commented on #3777
This is closed so not sure anyone will see it but FYI Identical behavior on current 4.1 release with username "nobody".

I tried two installs back to back on the same machine with username "nobody" and seen the exact same behavior.
Tried a third with a different name and worked perfectly.

[2022-04-18 22:23] DemiMarie commented on #7452
I’m not surprised at all; I suspect this simply has not been implemented yet.  Shutting down the whole system isn’t always the right thing to do, though, so this should be configurable.  For instance, one might need to restart sys-gui-gpu after a software update in its template.  In this case, restarting the whole system isn’t likely to be the best thing to do.  Ideally, sys-gui-gpu should automat

[2022-04-18 22:36] DemiMarie commented on #7379
If you run qubes-manager in a console window, you should get some text printed on the console when it crashes.  That will help us debug the issue.

[2022-04-18 22:38] DemiMarie commented on #7307
I wonder if this is something that needs to be discussed on the Wine mailing list.  The Wine developers might know something that could be of use here.

[2022-04-19 05:11] Kenny606 commented on #7379
I couldn't get the information out of sys-gui-gpu as text or as a text file, attached pictures are the best I could do after an hour.

sys-gui, qvm-copy and qvm-copy-to-vm kept giving me request refused when trying to transfer a text file into a qube.

And for some reason while in the gui-domain I couldn't paste anything I placed in the global clipboard into a qube.
Copying between qubes worked fi

[2022-04-19 08:59] logoerthiner1 commented on #7294
Update: seems that the patch is on the way.

https://patchwork.kernel.org/project/linux-mediatek/patch/a8cd712777d9f6b5c23e65225c37c3360593de3e.1649976504.git.objelf@gmail.com/

[2022-04-19 09:26] Geblaat commented on #3366
Wayland functionality for Spectrum OS will be integrated into upstream Wayland, which might be interesting for Qubes OS:
https://spectrum-os.org/lists/hyperkitty/list/discuss@spectrum-os.org/thread/3VYGG3QLV37IJDQL3SZZMTOTJ5ZZKZFL/

[2022-04-19 09:42] adrelanos commented on #7428
Since https://github.com/Whonix/updates-status/issues/1 was created it works fine.

[2022-04-19 09:42] #7428 closed

[2022-04-19 10:11] GWeck commented on #5948
Seems to be solved by the `qvm-template` utility. So I am closing this issue now.

[2022-04-19 10:11] #5948 closed

[2022-04-19 10:15] marmarek commented on #4782
I have this on one device too. There, starting just Linux (without Xen) helps(*), but `iommu=no-igfx` does not.

(*) there are no glitches, but when the prompt appears, I need to press ESC twice to make it update after key presses - otherwise no got appears when entering the passphrase. Could be totally unrelated issue to the graphics driver.

[2022-04-19 10:30] DemiMarie commented on #7379
There are two different bugs here:

1. Qubes Manager relies on `/etc/qubes-release` and `/usr/bin/qvm-console-dispvm` for certain functions, but those files only exist in dom0.
2. Qubes Manager doesn’t handle the exceptions raised when these files are missing.

[2022-04-19 10:31] unman commented on #3777
On Mon, Apr 18, 2022 at 11:14:03AM -0700, Kenny606 wrote:

I'm sure that this is referenced in another issue - you cant use *any*
reserved system name.
Check out /etc/passwd and you will see many such names, usually with
shell of /sbin/nologin.

[2022-04-19 15:15] logoerthiner1 commented on #7307
(may be off the topic)

Many applications dislike Qubes OS GUI architecture including wine. Use Xephyr and/or docker to satisfy them.

One lesson about wine & Qubes OS I have learnt at least since 4 years ago is: wine dislikes Qubes OS GUI architecture. At that time I found that every time wine is creating a window or destroying a window, there would be a 1-second lag. When certain app creates suc

[2022-04-19 15:55] tlaurion commented on #7386
@deeplow @DemiMarie @andrewdavidwong : posted comment here that links here:
https://forum.qubes-os.org/t/installing-software-in-qubes-all-methods/9991/10

[2022-04-19 18:24] Tonux599 opened #7456 "Cannot execute qubesdb-daemon"
### Qubes OS release
4.1

### Brief summary
This is really crippling me. After about 4-6 hours of uptime, qubesdb-daemon locks up and I am unable to do basic functionality such as `qvm-run` or `qvm-start`. Strangely however, `qvm-shutdown` is able to shut down a qube.

### Steps to reproduce
Fully boot system. I run ~20 VMs. Use it like normal. 4-6 hours later notice I cannot start any application

[2022-04-19 22:35] tasket commented on #2233
I just installed the 9.0r2 version of Android-x86 from the iso.  It seems to work OK for 30-60min but overall is not very stable with 3GB RAM; maybe I'll try more.

[2022-04-19 22:43] Tonux599 commented on #7456
Hi @marmarek,

Lot of repeated stuff in there and no timestamps so can't really identify which was at the time of failure.

However, here's the result of `cat /var/log/qubes/qubesdb.main.log | sort | uniq -c`
[code]
Along with the 10 most recent, `cat /var/log/qubes/qubesdb.main.log | tail -n10`
[code]

[2022-04-19 22:51] marmarek commented on #7456
This looks very much like another symptom  of https://github.com/QubesOS/qubes-issues/issues/7359.

[2022-04-19 22:52] Tonux599 commented on #7456
@marmarek searching issues for `gntshr: error: ioctl failed: No space left on device` brought up some possible related ones like [this](https://github.com/QubesOS/qubes-issues/issues/3626#issuecomment-705130467). Do you think increasing `/sys/module/xen_gntalloc/parameters/limit` will help?

[2022-04-19 22:54] marmarek commented on #7456
It will help for some time, depending on your usage pattern. I think the heaviest operation for this bug is window resizing.

[2022-04-19 22:54] Tonux599 commented on #7456
I actually have thousands of `deferring g.e.` messages! I thought that was usual noise so I omitted it

[2022-04-19 22:55] Tonux599 commented on #7456
Closing as obvious duplicate of #7359. Thanks @marmarek!

[2022-04-19 22:55] #7456 closed

[2022-04-19 22:57] Tonux599 commented on #7359
Just to add my voice that I'm experiencing this issue also, as laid out in #7456.

[2022-04-20 01:01] marmarek commented on #7454
The call should be redirected via policy here: https://github.com/QubesOS/qubes-mgmt-salt-dom0-virtual-machines/blob/master/qvm/template-gui.jinja#L26

Can you verify if you have this line in the policy? I assume you meant `qubes.WindowIconUpdater` service. If that's really `qubes.WindowUpdater`, then the service name is wrong somewhere (but I don't see from where it would come).

There should be

[2022-04-20 01:04] marmarek commented on #7453
There is a proxy module ([dummy-psu](https://github.com/QubesOS/qubes-dummy-psu/)) specifically to transfer this information to sys-gui-gpu. Check if you see `qubes-psu-client` systemd service running in sys-gui-gpu.

@fepitre can you give some more debugging hints?

[2022-04-20 01:07] marmarek commented on #7452
Indeed, that part is not implemented yet.

I think we need a qrexec service for system power control (shutdown, reboot, maybe suspend too). But I'm not really sure how they should be integrated - as @DemiMarie said, shutting down the whole system with sys-gui-gpu isn't always the right thing to do.

[2022-04-20 01:09] marmarek commented on #7451
What happens if you execute `qvm-usb` or `qvm-device mic` in sys-gui-gpu? Do you see any policy denial notification?

[2022-04-20 03:57] Kenny606 commented on #7451
Qvm-usb doesn't seem to exist. However I executed all of these with and without a flash drive.
qvm-device mic ls
qvm-device usb ls
qvm-device block ls
qvm-device testclass ls
All of them gave me "Failed to list 'xxx' devices, this device type does not exist or you do not have access to it."  xxx is of course whatever class I asked for.
No other visible notifications beyond that message.
I ran them

[2022-04-20 04:13] Kenny606 commented on #7452
If ultimately the plan is shutting down/suspending the GUI vm will dump you right into dom0 temporarily  then that's a good question. If not it seems like they should only be system wide actions.

Restart is though I don't know how customisable that logout window is. Maybe have two buttons Restart System and Restart GUI? You have a row of 3 and a row of 2 so one more would fit in nicely. That woul

[2022-04-20 04:47] Kenny606 commented on #7453
I see "module-load-dummy-psu-service"
Status: loaded/inactive/dead

However nothing under systemd

________________________________
From: Marek Marczykowski-Górecki ***@***.***>
Sent: Tuesday, April 19, 2022 8:05 PM
To: QubesOS/qubes-issues
Cc: Author
Subject: Re: [QubesOS/qubes-issues] sys-gui-gpu Power Manager Icon and Notifications Missing (Issue #7453)

This Message originated outside your org

[2022-04-20 06:36] deeplow commented on #7386
I really like this idea. @tlaurion, why not a simple alias in `.bashrc`?

[2022-04-20 06:38] deeplow commented on #7386
Also, a potential issue with the proposed commands is specifying the TLS version. The developers will need to keep tabs on the deprecation state of this version and update it.

Maybe there's a way for it to automatically negotiate the strongest encryption? (haven't checked)

[2022-04-20 09:54] GWeck commented on #3894
It's not so much a general discussion but the question of whether this issue can be solved at all.

While replacing Xen with a verified kernel would surely increase the security of Qubes and possibly allow it to be used to separate classified information, this does not come at a low cost. As @DemiMarie pointed out, such a change would require a lot of work to implement features that are now part o

[2022-04-20 10:36] marmarek commented on #7451
Ok, I see, there is missing policy for those devices. See linked PR - you can add those lines to `/etc/qubes/policy.d/90-admin-default.policy` in dom0 and see if that helps. The file on your system will be much longer, because most of it is generated - you can put those extra lines at the end.

[2022-04-20 11:38] marmarek commented on #3894
That's my opinion about this topic generally. The primary seL4 target use case (embedded and appliance-like) doesn't align well with Qubes OS. Some/most of it can be solved with enough effort, but that's significant amount and as you said - can be better spent elsewhere.

It's useful to have those limitations collected somewhere (also for people asking "why Qubes doesn't use seL4"), but probably o

[2022-04-20 12:46] DemiMarie commented on #3894
That is my thought too.  I will also add that seL4 development is ongoing, and I believe the seL4 developers plan to improve dynamic systems support in the future.  Better for us to spend our resources elsewhere and reconsider if/when the seL4 ecosystem has sufficient dynamic systems support.  The work we have done won’t be wasted, after all.

[2022-04-20 15:07] tlaurion commented on #7386
@deeplow Qubes intentionally hides network access of Templates behind a proxy. The idea of creating wrapper scripts is for the user to intentionally and explicitly type that replacement command.

Putting an alias would defeat the protection, permitting whatever being automatized by a script to do damage without being witnessed by a user. In such case where obscure and unaudited scriplet is intende

[2022-04-20 15:54] deeplow opened #7457 "Software Installation qube"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
In qubes it's quite hard to install software and the [graphical software centers don't work](https://github.com/QubesOS/qubes-issues/issues/6310)

### The solution you'd like
An internet-connect disposable qube running Gnome's software center. When the user chooses the software t

[2022-04-20 16:43] andrewdavidwong commented on #7379
Does [this](https://www.qubes-os.org/doc/how-to-copy-from-dom0/) work? If not, please open a separate issue for this.

[2022-04-20 16:58] andrewdavidwong commented on #3894
Sounds like a "won't do."

If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2022-04-20 16:58] #3894 closed

[2022-04-20 17:11] andrewdavidwong commented on #7386
I'm generally in favor of separating [core and external documentation](https://www.qubes-os.org/doc/documentation-style-guide/#core-vs-external-documentation). "How to install software in templates" would be core, while "how to install software in Linux" would be external. For example, all the stuff about curl, wget, and GPG would be external, while the parts about qvm-copying from a disposable to

[2022-04-20 17:44] deeplow commented on #7457
@fepitre mentioned this is a similar implementation to the way installing software is done in dom0: it's done via the UI of `sys-firewall` when that's needed.

[2022-04-20 17:46] deeplow commented on #7457
I've updated the original issue's description to include a more detailed description on how this could be implemented in terms of user workflow.

[2022-04-20 18:17] DemiMarie commented on #3894
Also adding `S: blocked` to indicate that this is blocked on seL4 ecosystem changes.

[2022-04-20 18:27] Kenny606 commented on #7454
Your correct it was qubes.WindowIconUpdater, sorry.

Confirmed icon sender and receiver files exist in sys-gui-gpu. Both contain just one line Waitforsession=1 I believe it was.

I also verified in dom0 all policies from line 15 to 48 including qubes.WindowIconUpdater exist and match in /etc/qubes/policy.d/50-gui-sys-gui-gpu.policy

[2022-04-20 18:42] Kenny606 commented on #7451
Added by still the same result.
All the list commands I previously ran produce the same result and devices icon still empty.

I do notice after making the change sys-gui-gpu sits there for a good 10+ seconds now before my keyboard and touchpad come to life if that gives you any hints.

[2022-04-20 19:05] Tonux599 commented on #7456
Thanks @DemiMarie, in which case do you think increasing `/sys/module/xen_gntalloc/parameters/limit` will help a bit?

[2022-04-20 21:27] Kenny606 commented on #7452
FYI I hadn't noticed before or it slipped by mind. Currently if you hit restart since sys-gui-gpu never comes back to life you just end up with a blank screen and have to hard off the machine (hold down power button) zince Sys-Gui-GPU is still running dom0 won't pick up me hitting the power button.

Since I don't like to hard off with VM's running of course.
I just changed sys-gui to shutdown if I

[2022-04-20 22:58] DemiMarie commented on #7456
It might indeed

[2022-04-21 10:39] brendanhoar commented on #7404
@marmarek - I see you're applying the clocksource=tsc change to stubdoms as well. I'm curious about what you found in testing?

B

[2022-04-21 10:47] marmarek commented on #7404
That's mostly in a hope to improve audio quality, if one uses emulated sound card for HVM (with Windows, for example).

[2022-04-21 16:00] Sforg26 commented on #5445
Simply from one moment to the next when opening the pc I had the same problem, on Qubes 4.1, both with debian and fedora template.
Whenever the problem occurs to me, sometimes when I turn on the pc, sometimes when I close the laptop screen the temporary solution is to try to open sys-usb and after the error message use this command, and then the VM sys-usb starts normally.

I tried to add the comm

[2022-04-21 16:22] tlaurion commented on #7386
For those not following forum thread, Software installation instructions have been updated by @andrewdavidwong [here](https://forum.qubes-os.org/t/curl-proxy-wget-proxy-scripts-in-templates-so-users-can-add-gpg-distro-keys-linked-to-added-external-repositories/10935/32?u=insurgo)

[2022-04-21 16:22] brendanhoar commented on #7404
Ah, yeah, that'd be a nice unexpected win.

B

[2022-04-22 01:57] crat0z opened #7458 "Custom qubes-app-shutdown-idle timeout"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)
(I can't come up with a descriptive title, so please feel free to change it)

### The problem you're addressing (if any)
One of the main ideas behind Qubes is to provide security through isolation and compartmentalization. For example, a user might have a VM where they do online banking, another where they use chat program

[2022-04-22 03:11] #7410 closed

[2022-04-22 07:12] SaswatPadhi opened #7459 "`dkms` builds failing with `kernel-latest-devel`"
### Qubes OS release

R4.1

### Brief summary

My `dkms` builds started failing after I upgraded the kernel to `5.17.4` to grab the fix for #7359:

### Steps to reproduce

1. Upgrade to `kernel-latest` and `kernel-latest-devel` version `5.17.4` from `current-testing` channel
2. `dkms build <module>/<version> -k 5.17.4-2.fc32.qubes.x86_64`

### Expected behavior

The modules build successfully, as

[2022-04-22 07:20] fepitre commented on #7459
I'm suspecting some upstream issue but I'll take a look.

[2022-04-22 07:30] fepitre commented on #7459
Note to myself: https://lore.kernel.org/lkml/20220307223231.608498-1-mst@redhat.com/T/

[2022-04-22 11:20] straussmaus opened #7460 "Whonix Qube Restarts Itself"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Several (perhaps all?) whonix-ws-16 Qubes will restart themselves after shutdown.  Repeatedly.

### Steps to reproduce
Open a Qube using the whonix-ws-16 template.

Close it using "sudo poweroff"

Watch it start itself.

Close it in Qube Manager.

Watch it start itself again..

[2022-04-22 11:21] straussmaus commented on #6135
This continues to happen on 4.1, with plenty of disk space.  Not often.  Actually it's rare now.  But it happens.

[2022-04-22 11:24] straussmaus commented on #7449
I also notice this.  In Thunar in whonix-based Qubes.  I do not remember if it happens in Nautilus/Debian, and I can not make it do it there now.

[2022-04-22 12:21] marmarek opened #7461 "Disable 'needrestart' prompt in Debian template if dom0-provided kernel is used"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

`apt` in Debian will prompt for rebooting because "new" kernel is available. In fact, it isn't new - it's just that running kernel is different than resides in /boot.

### The solution you'd like

Disable this part of needrestart.
[code]
Maybe it could be done conditionally - on

[2022-04-22 13:25] DemiMarie commented on #6135
@straussmaus Can you provide a backtrace?

[2022-04-22 14:46] brendanhoar commented on #7404
Hmm, windows audio still crackly after this morning's kernel updates which seem to have moved qubes template based VMs to clocksource=tsc.

Ah wait...stub domain change isn't yet pushed to dom0, I still see currentclocksource=xen in stubdomain for windows.

B

[2022-04-22 14:56] marmarek commented on #7460
Can it be related to #7013  ? Check in dom0's journalctl if you see qrexec calls directed at that qube. And also, if you see sdwdate shutdown call from it to sys-whonix.

[2022-04-22 15:17] jevank commented on #7404
In my environment the sound became perfect :)

I thought first of all about the USB webcam, but there alas without much progress on Win10

[2022-04-22 17:03] brendanhoar commented on #7404
Hmm

R4.1 win 10 still crackly after the just-released stubdomain update as well and in stubdomain I see currentclocksource=tsc.

It gets less crackly (but not perfect) if I busybox renice -n -30 $pulseaudio_pid in the stubdomain.

I haven't rebuilt QWT since December 2021 tabit-pro repo content, so perhaps I need to do so for improved audio as well?

B

[2022-04-22 17:13] AlxHnr commented on #7404
I've just installed `kernel-5.10.112-1.fc32.qubes` and `xen-hvm-stubdom-linux-1.2.4-1.fc32`. This significantly improves the results of synthetic benchmarks like `sysbench memory run`. But doesn't fix the performance problems we are facing:

### Benchmark: compiling Linux kernel 5.17.4 with basic `make defconfig` for x86_64

|Environment|Minutes|
|--|--:|
|Fedora 35 (native) | 6:42|
|Fedora 35 (Qu

[2022-04-22 17:28] DemiMarie commented on #7404
@AlxHnr A few questions:

1. Are the same speculative execution mitigations active in both cases?  For instance, Qubes OS disables SMT, so it would be unfair to compare it to a machine with SMT enabled.
2. Can you compare performance in a Qubes AppVM to performance in a KVM VM on the same hardware, in both cases speculative execution mitigations enabled?
3. How does performance compare on purely C

[2022-04-22 17:30] DemiMarie commented on #7404
Another thought: Is there any particular step of the build that is significantly slower?  How do flame graphs compare?

[2022-04-22 17:57] marmarek commented on #7404
I guess this is the main factor, especially since the time difference is almost exactly x2, for a CPU-intensive workload. @AlxHnr can you compare `make -j1`or `make -j2` runs?

[2022-04-22 18:10] brendanhoar commented on #7404
For the record I'm still seeing significant differences in the synthetic benchmarks under R4.1  dom0 vs domU. HVM or PVH...(and I can't seem to get domU PV working now under R4.1, it now dies early on startup).

This time the difference isn't with the memory benchmark but the cpu benchmark: sysbench cpu run. Events/sec are 100x higher in dom0.

sched-credit2 shows all VMs with the default weight o

[2022-04-22 18:35] AlxHnr commented on #7404
SMT is enabled in native Fedora. But disabling it only increases the kernel compile time to about 8:04 minutes, compared to Qubes 13:09 minutes. Earlier in this discussion I've tried enabling SMT on qubes via `smt=on sched-gran=core` with no noticable difference.

I don't really have that much time for testing. If no one else has these issues besides me, I'm willing to live with that :confused:.

[2022-04-22 18:37] brendanhoar commented on #7404
FWIW p7zip benchmarks:
[code]
give nearly identical numbers on domU and dom0 with the new clocksource=tsc everywhere change and cpus/memory equivalent.

I wonder what sysbench is doing to report such poor numbers on it's cpu test under domU...

B

[2022-04-22 18:43] DemiMarie commented on #7404
So SMT is _part_ of the problem, but not all of it.

Core scheduling in Xen is quite likely not well optimized, so I am not surprised it does not help much.

@AlxHnr You are NOT the only person with these issues.

[2022-04-22 18:52] crat0z opened #7462 "5.17 kernel boot failure in dom0 on AMD Renoir"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1 testing

### Brief summary
I just installed the new kernel-latest package and my laptop won't turn on now. 5.17 in VMs works fine.

### Steps to reproduce
Update to 5.17 kernel and restart computer

### Expected behavior
dom0 starts

### Actual behavior
Black screen when dom0 starts. Backlight is

[2022-04-22 19:08] brendanhoar commented on #7404
Any chance the lower-score "benchmark" of compiling the kernel in domU vs vanilla Fedora might be storage subsystem related? E.g. due to COW?

B

[2022-04-22 19:49] DemiMarie commented on #7404
I would not be _at all_ surprised if this was the case.  dm-thin is not optimized for snapshot-heavy workloads such as Qubes OS that require zeroing of unwritten blocks.  Such workloads require small block sizes and involve lots of provisioning, both of which result in a large amount of metadata modification.  dm-thin is much better suited for workloads that involve little provisioning, have large

[2022-04-22 20:34] marmarek commented on #7404
I think this hypothesis can be tested mounting `/rw` with `nodiscard` and zero-filling it before the build.

That said, it's easier to optimize having a synthetic benchmark (`sysbench cpu`?), profiling a kernel build will be significantly more effort. But it's a good idea to verify optimizations with more diverse workload.

[2022-04-22 20:45] brendanhoar commented on #7404
I'd be careful using zero-filling, levels below the VM might sparse that. /dev/urandom would be better.

B

[2022-04-22 21:15] bluesteal opened #7463 "Template Update Errors"
Trying to update some Templates and getting error messages:

Fedora-33:

Failed to return clean data (Fedora-33)
AttributeError: _scope_id

Whonix (Whonix-ws/gw-15)

Release file for tor+https://deb.whonix.org/dists/buster/InRelease is expired. Updates for this repository will note be applied

Also getting an error when trying to update Tor Browser (to version 11.0.10)

curl_status_message (partia

[2022-04-22 21:37] na-- commented on #7462
I already chimed in https://github.com/QubesOS/updates-status/issues/2919#issuecomment-1106473356, but to reiterate, I have a similar issue on a laptop with a Ryzen 7 4800H CPU and no discrete GPU. Instead of a black screen for the drive encryption password input, I get a screen full of visual artifacts, but it's probably the same thing :man_shrugging:

[2022-04-23 00:00] Vageh1234 opened #7464 "Some converted pdf to trusted dont show up"
Some pdf converted to trusted don't appear after the process finishes, why this happens only with some pdf?

[2022-04-23 00:00] brendanhoar opened #7465 "Kernel 5.17.4 on Thinkpad W520 - no audio (5.16.18-2 works)"
### Qubes OS release
R4.0 kernel-latest current-testing

### Brief summary
Thinkpad W520
Audio works with kernel 5.16.18-2
Audio does not work with kernel 5.17.4

### Steps to reproduce
Update W520 running R4.0 to kernel-latest in current-testing repo.

Notably, I see the following repeated in dmesg under 5.17.4, but I do not see this in dmesg in 5.16.18-2:

[code]

### Expected behavior
Audio

##

[2022-04-23 00:29] DemiMarie commented on #7463
Both of those templates are end of life.  Please use `qvm-template` to install a supported version (Fedora 34 or 35, or Whonix 16).  Also, Whonix support for Qubes R4.0 has ended, so you will need to upgrade to R4.1 to continue using Whonix if you have not done so already.

[2022-04-23 00:31] DemiMarie commented on #7463
Closing as “not an issue”: the reported behavior is not a bug, but a consequence of the templates having reached end of life.

[2022-04-23 00:31] #7463 closed

[2022-04-23 00:39] DemiMarie commented on #7462
Ouch.  Time to figure out who the kernel bug should be reported to upstream.

[2022-04-23 00:53] DemiMarie commented on #6358
Good news: PipeWire has a stable ABI for plugins!

[2022-04-23 01:20] bluesteal commented on #7463
Is R4.1 stable? I tried does an in place upgrade and it completely broke my system. Can I use Whonix-16 without upgrading to R4.1?

[2022-04-23 02:12] DemiMarie commented on #7463
R4.1 is stable, yes.  If an in-place upgrade fails it is best to back up your VMs and restore them on R4.1.

[2022-04-23 02:17] bluesteal commented on #7463
I wasn't able to install R4.1 the first time I tried. Has there been any further development? Is it possible to do an in-place upgrade from Whonix-15 to Whonix-16? When attempting the steps in this article: https://www.whonix.org/wiki/Release_Upgrade_Whonix_15_to_Whonix_16

there was an error message:
E: Unable to locate package release-upgrade

[2022-04-23 15:09] kalkin commented on #7404
Or just mount ram as tmpfs(if you have enough) and build it there to rule out fs io

[2022-04-23 17:38] crat0z commented on #7462
I was wrong, dom0 does boot but it seems amdgpu is having problems. Here is part of journal log from 5.16:
[code]
And here is 5.17:
[code]

[2022-04-24 01:19] crat0z commented on #7462
5.17.3 is OK. 5.17.4 is not.

[2022-04-24 01:30] DemiMarie commented on #7462
Thanks!  I believe this regression is already being fixed upstream, but I will check.

[2022-04-24 06:32] andrewdavidwong commented on #7460
Sounds like this:

https://forum.qubes-os.org/t/whonix-qube-restarts-after-being-killed/1760

According to that thread, it's supposed to be fixed already.

@adrelanos [posted](https://forum.qubes-os.org/t/whonix-qube-restarts-after-being-killed/1760/28?u=adw) that it's most likely https://github.com/QubesOS/qubes-issues/issues/7169, which has already been closed for a while with updates in stable.

[2022-04-24 06:33] andrewdavidwong commented on #7464
Based on our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [Qubes Forum or `qubes-users` mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), you believe we are mistaken, pl

[2022-04-24 06:33] #7464 closed

[2022-04-24 06:35] andrewdavidwong commented on #7463
Please note that the issue tracker (`qubes-issues`) is not intended to serve as a help desk or tech support center. Instead, we've set up other [venues where you can ask for help and support, ask questions, and have discussions](https://www.qubes-os.org/support/). (By contrast, the issue tracker is more of a technical tool intended to support our developers in their work.) Thank you for your under

[2022-04-24 15:45] DemiMarie commented on #7462
@crat0z would you be comfortable doing a `git bisect`, or would you prefer to stay on official kernel packages?

[2022-04-24 20:21] crat0z commented on #7462
Yup, it is https://github.com/torvalds/linux/commit/b818a5d374542ccec73dcfe578a081574029820e

[2022-04-24 22:55] DemiMarie commented on #7462
@crat0z Thanks!

[2022-04-25 12:18] rwiesbach opened #7466 "qvm-open-in-vm text filter does not match dispvm-names"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
The suggestions in "open in" include
Disposable VM (%template-name%), for example "Disposable VM (dvm-internet)"

if I type a filter text , e.g. "inter" this filter text does not match the Disposable VM (dvm-internet)" - and even worse: it does match the dvm template! So if I typ

[2022-04-25 18:18] patranger commented on #7438
@DemiMarie I didn't have sys-usb, especially on a freshly installed system. I have no idea what could be causing this bug :disappointed:

[2022-04-25 18:33] 3hhh opened #7467 "Old kernels may be used due to saved grub entries"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary

`GRUB_DEFAULT=saved` in `/etc/default/grub` causes a once selected kernel to be reused again and again.

This is most unexpected as the [default setting](https://www.gnu.org/software/grub/manual/grub/html_node/Simple-configuration.html) is `GRUB_DEFAULT=0` which always selects

[2022-04-25 21:33] brendanhoar commented on #7408
Along the same lines: it would also be nice to have some sort of atomic way to create (and clean up) a snapshot of an LV where the writes are ephemeral just for that session and reads come from the (locally) plaintext LV origin (plus any session writes in the ephemeral overlay)*.

I think dm can be set up to make that happen (lvm can't) and with the ephemeral requirement, lvm team's concerns about

[2022-04-25 21:44] patranger opened #7468 "Dependency problem in kali linux template"
### Qubes OS release
R4.0.4

### Brief summary

Kali Linux template

┌──(user㉿kali-linux)-[~]
└─$ sudo apt full-upgrade -v
apt 2.4.5 (amd64)

┌──(user㉿kali-linux)-[~]
└─$ sudo apt full-upgrade -V
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
Calculating upgrade... Done
The following packages were automatically installed and are no longer required:

[2022-04-25 23:48] straussmaus commented on #6135
@DemiMarie I'm not sure what you mean by backtrace in this context.  I usually use that word as a function within a compiler.  Can you explain?

[2022-04-25 23:58] DemiMarie commented on #6135
@straussmaus When the domains widget crashes, it should print a stack trace to stderr.  That will be logged by `systemd-journald`.  The stack trace is what the developers need to figure out what went wrong.

[2022-04-26 00:37] straussmaus commented on #7460
It does sound like that thread but my system is up to date and the issue is not fixed on mine.

Regarding #7169 I don't know where that code should be appended to so I can't test/verify if it is the same problem.

@marmarek https://github.com/QubesOS/qubes-issues/issues/7013 is an error message and regards DispVMs but this is a standalone whonix VM and there is no error, just a restart.

About jou

[2022-04-26 02:48] tlaurion commented on #5032
@DemiMarie @marmarek what PRs are associated with the resolution of this issue?

[2022-04-26 04:17] DemiMarie commented on #5032
@tlaurion none so far

[2022-04-26 14:52] tlaurion commented on #7386
The idea was vastly rejected in favor of a [MOTD educating the user.](https://forum.qubes-os.org/t/curl-proxy-wget-proxy-scripts-in-templates-so-users-can-add-gpg-distro-keys-linked-to-added-external-repositories/10935/76?u=insurgo)

The discussion evolved into going back and understanding why [tinyproxy lost its filtering capabilities](https://forum.qubes-os.org/t/why-does-the-updateproxy-not-hav

[2022-04-26 15:37] andyhhp commented on #7404
SMT performance has a lot of nuance...

For a compute bound workload, which has been properly optimised (i.e. a human has put in effort towards instruction scheduling and to remove bottlenecks), then SMT gets you about ~30% better utilisation.  This is based on two threads worth of Instruction Level Parallelism keeping the functional units more busy, but as with everything it's workload dependent

[2022-04-26 17:16] DemiMarie commented on #7404
@andyhhp any suggestions for debugging this problem?  SMT is clearly not the culprit, since the performance gap persists even when both systems have SMT disabled.  If the problem persists even when I/O is to a partition, would this be a Xen bug?

[2022-04-26 17:26] brendanhoar commented on #7404
Test kernel compilation _without_ HT in both instances?

e.g. disable HT in the system bios of a machine that can run both qubes and fedora-35 and run performance tests on alternating OS boots. See if a low-load Qubes system running dom0 plus a single fedora-35 VM (given a large static allocation of memory and all CPUs) comes close to the performance of bare metal fedora-35? E.g. Qubes boot: 32GB

[2022-04-26 18:28] DemiMarie commented on #7467
@marmarek should this be fixed by editing `/etc/default/grub`?

[2022-04-27 01:08] marmarek opened #7469 "proxyvm with resolv.conf pointing at systemd-resolved doesn't forward DNS"
## Observation

openQA test in scenario qubesos-4.1-update-x86_64-system_tests_network@64bit fails in
[VmNetworking_fedora-35](https://openqa.qubes-os.org/tests/38794/modules/VmNetworking_fedora-35/steps/3)

[code]

## Test suite description

netvm -> proxyvm (with NM) -> testvm1

test checks (among other things) name resolution in testvm1

## Reproducible

Fails since (at least) Build [2022042606

[2022-04-27 02:05] DemiMarie commented on #7469
That’s my preferred option too, *if* systemd-resolved is enabled.  The default should likely be disabled outside of sys-net and maybe VPN qubes.

[2022-04-27 07:15] andrewdavidwong opened #7470 "External USB drive sometimes not detected"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.0

### Brief summary

An external USB drive is sometimes not detected by the system at all. Unplugging and replugging the drive does nothing. No messages in `journalctl` in sys-usb or dom0. No notifications. `qvm-block` remains empty. Rebooting dom0 usually fixes it, but only temporarily unti

[2022-04-27 09:52] GWeck commented on #7470
Sometimes I have the same effects on an HP 840 G4 EliteBook.

[2022-04-27 09:52] marmarek commented on #7469
Yes, this all applies only to the case of /etc/resolv.conf pointing at systemd-resolved (so, not even just systemd-resolved running).

[2022-04-27 15:48] timdiels commented on #5863
Another workaround, that applies more generally for applications that need GPU-like capabilities, is to run it in TurboVNC. It's not a full replacement for a GPU but for simple things that try to draw on screen, it's usually sufficient. (I have had problems with Zoom screen sharing not showing anything; I don't recall whether it was a white screen but it sounds like the same issue I had). It's mor

[2022-04-27 16:08] 3hhh commented on #7469
I think the idea of `systemd-resolved` is to locally cache DNS requests in AppVMs. If you start serving DNS from it to upstream VMs, that may open up security holes.

I'd therefore suggest a two-fold approach:
1. Make sure `systemd-resolved` is disabled by default as it was in the past.
2. Let the user enable it manually, if s/he decides to. Once that happens, it starts serving DNS for upstream VM

[2022-04-27 17:36] DemiMarie commented on #5863
You can also use Xephyr for the same trick I think.

[2022-04-27 17:38] DemiMarie commented on #7470
@andrewdavidwong can you provide logs?  Feel free to send them to me directly if they are sensitive.

[2022-04-27 20:41] 3hhh commented on #5445
I also have this sometimes in 4.1, didn't have it in 4.0.

[2022-04-27 20:43] 3hhh commented on #5032
This issue is rather identical to #5225, just with a specific proposal on a solution. I still consider DNS pinning to be superior though as it's fully transparent to the application.

[2022-04-27 23:46] marmarek commented on #7469
I'd rather not change this per https://www.qubes-os.org/faq/#what-is-qubes-attitude-toward-changing-guest-distros. If given distro decides to enable systemd-resolved by default, let it be this way. But note that using systemd-resolved for local names resolution is (mostly) independent of using it for forwarded traffic. The former is handled by `/etc/nsswitch.conf` - `resolve` is before `dns`, so m

[2022-04-28 00:43] Dexkant commented on #4321
I have just updated to the latest `xen-hvm-stubdom-linux` from the current-testing repository and this issue seems unfixed.

AppVMs crash with more than 3.5G of ram assigned to them when doing GPU passthrough, usually with a `no bootable device` error.

This update also seems to stop the original file patching hack from working as I also get a crash from my HVMs even with that.

[2022-04-28 00:57] DemiMarie commented on #7469
I actually disagree with this.  The reason is that systemd-resolved is a caching recursive resolver, and it is usually best to have only one or two of those on a system.  Any more wastes resources, which contradicts our goal of reducing qube resource requirements.  Furthermore, the appropriate configuration for systemd-resolved is very often qube-specific.

On my system, for example, systemd-resol

[2022-04-28 03:38] straussmaus commented on #7460
@marmarek

The error happened again and here is the output of `sudo journalctl -xe | grep 'TheQube'`

[code]

[2022-04-28 03:51] straussmaus commented on #6135
@DemiMarie So by "backtrace" and by telling me which daemon handles logging, are you asking me to check journalctl next time I get this error?

[2022-04-28 07:39] dylangerdaly commented on #7469
How can I revert this? Currently I'm having to add `systemctl stop systemd-resolved` to `rc.local` because this change broke everytihng.

[2022-04-28 08:38] marmarek commented on #7469
If you want to disable systemd-resolved - do just that: call `systemctl disable systemd-resolved` in the template.

[2022-04-28 09:06] deeplow commented on #7458
This already happens when you open something in a disposable qube. I belive that's implemented by detecting when the program that started the qube exists.

Another way this already works as you state is with `qubes-app-shutdown-idle`. The only thing it's missing, really is not to have the [15 minutes hardcoded](https://github.com/QubesOS/qubes-app-shutdown-idle/blob/2b5e918/qubesidle/idleness_moni

[2022-04-28 09:34] deeplow opened #7471 "qubes-app-shutdown-idle needs other heuristics to determine window visiblilty"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
- R.4.1
- component: qubesidle 1.0.6

### Brief summary
Some programs misbehave about the window display status. `qubesidle` should handle these situations.
For example, Nautilus (the default filemanager in most templates) is not detected as soon as it's closed (it takes some seconds)

### Steps to re

[2022-04-28 09:42] deeplow commented on #7471
## Nautilus case

Taking a deeper look at why nautilus is not detected immediately.

Output of `xwininfo -root -tree` before manually closing the window:
[code]

Output of `xwininfo -root -tree` after manually closing the window:
[code]

### Needed heuristic
As can be seen, even though `Map State: IsViewable` is True, nautilus misbehaves by showing a 1x1 window that's out of screen.

To overcome t

[2022-04-28 09:46] deeplow commented on #7471
Of course in the above example we could just say it something that should be addressed upstream in the nautilus project, but that's going to take a long time.

In any case, I know if the shutdown idle is not really made to handle timeouts of zero at the moment. So I guess this is not a very significant bug. It's just that in my particular case it does have some impact.

[2022-04-28 09:54] marmarek commented on #7458
Setting timeout to zero will have more unintended side effects. Besides shutting down before anything starts, some applications (libreoffice for example) shows a splash screen that disappears before the main window appears. If you shutdown immediately when last window is hidden, you'll shutdown at libreoffice start too. IMO there should be some non-zero timeout, even if it's small (like 1 minute).

[2022-04-28 14:37] 3hhh commented on #7469
I don't get that part then. Doesn't it mean that you are essentially considering to redirect DNS traffic from upstream VMs to `systemd-resolved` inside a netvm? If Qubes dnats DNS traffic to whatever is inside `/etc/resolv.conf` incl. DNS traffic from upstream VMs and `resolv.conf` contains `systemd-resolved`, that means it's going to `systemd-resolved` for me.

Since Qubes OS networking then star

[2022-04-28 16:09] DemiMarie commented on #6135
Yes (and I should have phrased this better).

[2022-04-28 16:13] DemiMarie commented on #7460
@straussmaus what version of `qubes-core-admin-addon-whonix` do you have in dom0?

[2022-04-28 16:19] tzwcfq commented on #4321
I have the same problem as @Dexkant.
It seems that this commit doesn't fix the issue:
https://github.com/QubesOS/qubes-vmm-xen-stubdom-linux/commit/be8896ba2fae2e377aa236df4407bc7dbdcec60b
If I downgrade xen-hvm-stubdom-linux and xen-hvm-stubdom-linux-full to the previous version 1.2.3-1.fc32 and apply this patch:
https://github.com/QubesOS/qubes-issues/issues/4321#issuecomment-865273085
Then I ca

[2022-04-28 17:21] icequbes1 commented on #7122
I've run into this as well on an R4.0 to R4.1 upgrade performed today. I believe the fix didn't resolve the issue (or it has resolved some other pre-existing issue).

I used the `qubes-dist-upgrade` script to upgrade R4.0 to R4.1. The upgrade was successful.

After the upgrade, only one qube would update when using `qubesctl` from dom0. Upgrading within the qube using `apt` or `dnf` was fine.

`qu

[2022-04-28 18:14] andrewdavidwong commented on #5032
@DemiMarie, do you agree that these two issues are duplicates? If so, is there a strong reason to favor one over the other as the one to keep open? (The default is to keep the older issue open, which would be this one.)

[2022-04-28 19:11] akoskoronka commented on #7114
I have the same dom0-update problem after upgrading 4.0 to 4.1 with qubes-dist-upgrade-4.0.4-1.fc25.
As everyone did, I also removed python2, python2-systemd, qubes-mgmt-salt-base-overrides, changed default kernel in Global settings, did the clear_cache and sync_all, but qubes-dom0-update still gives error during transaction test:
`Transaction check succeeded.`
`Running transaction test`
`Error: T

[2022-04-28 20:04] KileXt commented on #5670
Hi,
Just confirming the issue here:

I get the error message below after a while, when that happens glitches appear the system quickly become hard to use without crashing. This is qubes 4.1 installed a few days ago. I tried using iommu=on, without success. I also have an RX5700XT.

_dom0 kernel: amdgpu 0000:2f:00.0: swiotlb buffer is full (sz: 2097152 bytes), total 32768 (slots), used 0 (slots)
do

[2022-04-28 22:26] DemiMarie commented on #5032
Not really; they are two different approaches and not mutually exclusive.  Both have advantages and disadvantages.

[2022-04-29 01:37] qubeslaptopissue opened #7472 "Qubes 4.1 Performance on Lenovo Ideapad 5 Unusable"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
I ran Qubes 4.0 on this laptop, which has 16GB of RAM and a Ryzen 7 4000 series for over a year. It not only ran good, it ran great. The performance was excellent with very little complaint. The other day, I installed 4.1 and have had countless issues with it, mostly performance

[2022-04-29 05:40] crat0z commented on #7472
Most likely something like [this on amazon](https://www.amazon.com/Lenovo-IdeaPad-Laptop-Processor-81YM00EAUS/dp/B08YVKHPWB)?

For the first part: I have a very bad habit from the 3.2 days when Qubes would never properly shutdown and basically required holding down power button to turn off the PC. Recently, this has started causing problems with qubesd I think on startup, and the long boot time +

[2022-04-29 07:18] DemiMarie commented on #7472
Ugh, that might bemy fault.  Let me guess: qubesd is so slow to start that it eventually times out, causing VM start to fail, and repeated attempts to restart qubesd eventually succeed?  If so, that’s the combination of QubesOS/qubes-core-admin#267 and QubesOS/qubes-core-admin#397, which could cause exactly the behavior you are seeing.

(Technical details: LVM ignores the `devices/issue_discards`

[2022-04-29 08:02] crat0z commented on #7472
Yes, qubesd times out a bunch of times until it decides to work again. It could be related to those PRs, but I've only noticed the shutdown issue in last 2 months. Those PRs seem older.

IIRC, `dom0_max_vcpus=1 dom0_vcpus_pin` made Qubes usable as long as VMs didn't have more than 2-4 cores assigned, anything higher and performance would tank again. `clocksource=tsc tsc=unstable hpetbroadcast=0` _

[2022-04-29 08:05] tzwcfq commented on #2304
Option allow_fullscreen doesn't seem to work for me on Qubes 4.1. I've allowed fullscreen in Qubes Settings for my HVM and I can see related qvm-feature enabled:
`gui-allow-fullscreen       1`
But when I start HVM the window won't enter fullscreen automatically and I still need to press Alt+F11 to enter fullscreen.

[2022-04-29 09:20] akoskoronka commented on #7114
After removing kernel-devel, the dom0 update was successful.

[2022-04-29 13:17] jevank commented on #7404
I see some issues with tsc clocksource. After S3 resume it changes back to xen with warnings
[code]
Also, in some cases it causes VMs to hang after S3 resume, I see this when using the 5.4 kernel in sys-whonix (fedora-34 and debian-11 show same messages with unstable tsc clocksource). The option `qvm-prefs kernelopts clocksource=xen` fixes the hangs.

[2022-04-29 13:27] na-- commented on #7462
Can confirm that 5.17.5 fixes the issue for me, thanks! :bow:

[2022-04-29 13:31] deeplow opened #7473 "RPC Confirmation Window duplicated"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1

### Brief summary
In two different devices running Qubes 4.1 in rare occasions (maybe 1/10) two RPC confirmation windows show up. Both are clickable, but when I press `OK`, only one of them does approve the policy.

### Steps to reproduce
Can happen on any RPC policy. For example `qvm-copy ~/ima

[2022-04-29 13:47] brendanhoar commented on #7404
Hmm. I was under the impression that with VT-x Intel virtualized TSC such that the virtualization environment could apply a "correction" for each VM so that each saw a TSC started at 0 relative to VM boot time (with monotonic ticks after that per VM maintained across inter-VM context switches) and there was some methodology to also fix it up the virtualized TSC to expected values for VM suspend/re

[2022-04-29 14:33] na-- commented on #7462
Seems like I spoke too soon :disappointed: The system booted normally and behaved well, but after a few hours of light and uneventful use, seemingly for no reason, it became completely unresponsive. External screen was painted solid green, laptop screen was black, everything completely unresponsive (no TTY). After a hard reboot, the dom0 logs from the previous boot don't show anything concerning i

[2022-04-29 15:07] KileXt commented on #5670
To add to my previous comment, I tried a BUNCH of kernel parameters, iommu.strict=1 was the one yielding the most stability on dom0, it seems to limit the amount of glitches but still not perfect. The system wouldn't boot with swiotlb=noforce though. And putting higher value there does nothing.

[2022-04-29 16:08] jevank commented on #7404
suspend and see if that helps? You may need `virsh -c xen dompmwake
<vmname>` after resume.

VM could be successfully suspended, but hangs after host resume. Without host sleep dompmsuspend/dompmwakeup work fine.
[code]

I see no such messages with HVM, so I guess tsc keep working!

[2022-04-29 16:29] ejose19 commented on #7473
Also getting this since installing r4.1, worth noting that the 2nd window doesn't always show up immediately, but can also take a couple of seconds, right before clicking the confirmation on the original window.

[2022-04-29 16:44] DemiMarie commented on #7462
@na-- another approach: can you try enabling magic SysRq keys in dom0, and if/when dom0 hangs, use magic SysRq to deliberately cause dom0 to panic?  That will force a crash dump, which should populate pstore.

[2022-04-29 18:03] qubeslaptopissue commented on #7472
It's a Lenovo Ideapad 5. It looks like the one that person linked on Amazon but it was a bit more expensive (2020) and had more ssd space, so not sure if it's the same one.

I have typically not had issues shutting down Qubes in the past. I will look into the UFEI update but I'm not sure about that.

[2022-04-29 18:05] na-- commented on #7462
I will try, but it'd have to be next week, sorry :disappointed: I need my laptop to be stable for a while to finish up some things.

[2022-04-29 18:12] brendanhoar commented on #7465
Newly released 5.17.5 seems to have resolved the issue on my W520.

Tested two different reboots so far:

1. Audio works.
2. No more swiotlb errors related to the sound hardware found in dom0's dmesg output.

Unclear from kernel change-set what might have fixed the issues (if anything).

B

[2022-04-29 18:28] DemiMarie commented on #7462
That’s fine!

[2022-04-29 18:29] DemiMarie commented on #7472
Do the qubesd start problems go away if you use XFS or BTRFS (with the reflink driver) instead of LVM?

[2022-04-29 19:00] tetrahedras opened #7474 "Intel ethernet card doesn't work after upgrade to 4.1"
### Qubes OS release
4.1

### Brief summary

I am on a Thinkpad X230 with Heads. After upgrading to Qubes 4.1, the (Intel) wired ethernet controller no longer works. The wireless card works fine. Using an external USB ethernet card works fine.

Trying to enable the ethernet controller with `ifconfig` fails:
[code]

I have `pci=nomsi` in the sys-net kernelopts as per @marmarek's [comment in #7052](

[2022-04-29 20:01] DemiMarie commented on #7474
I wonder if Xen is blocking the legacy interrupt.  @andyhhp @marmarek?

[2022-04-29 20:08] umbratic opened #7475 "qubes-gpg-split-2.0.58: Error " Forbidden verify option show-photos""
### Qubes OS release
R4.1

### Brief summary
Recipient of encrypted email-message gets red error message (see below). Split gpg worked flawlessly before recent update of dom0 and fedora-34.

### Steps to reproduce
Send email from Evolution (Gnome) with text-only message (no photo attached).  Email-recipient gets error message.
Send email from Android mobile with text-only message (no photo attache

[2022-04-29 20:18] marmarek commented on #7475
@DemiMarie I'm tempted to revert https://github.com/QubesOS/qubes-app-linux-split-gpg/pull/68/commits/49b70ad7726a7e595d7a9c8f10881cbdc02ce47a in entirety... It adds only minimal protection, but is source of already two regressions.

[2022-04-29 20:57] DemiMarie commented on #7475
@umbratic what mail client are you using?

For those who do not know German, this translates as, “Message could not be parsed: output of /usr/bin/qubes-gpg-client-wrapper: qubes-gpg-client: Forbidden verify option show-photos”.

[2022-04-29 21:04] DemiMarie commented on #7475
My main worries are `--list-options show-keyring` and `--list-options show-sig-subpackets`.  The first is a potential information leak, and the second takes an argument that could be a bit tricky to sanitize.

[2022-04-29 21:08] umbratic commented on #7475
@DemiMarie
Desktop: Evolution 3.40.4 (3.40.4-5.fc34)
Android mobile: Mail 5.912 (k9 mail fork)

1) Email sent from mobile phone email-client to another account on the mobile phone works. However, the same message cannot be read with Evolution.
2) Email sent from Evolution can be read on mobile phone but not with Evolution.

[2022-04-29 21:10] marmarek commented on #7474
IRQ 0 can't be right here.

and indeed, there is no IRQ here at all (neither in sys-net, nor in dom0).

Can you check /var/log/xen/console/guest-sys-net-dm.log for some more details about this failure? MSI should normally work.

[2022-04-29 22:09] marmarek commented on #7475
Uhm, we actually have tests for split-gpg + Evolution, but they are skipped because... evolution is not installed in any of our templates :/

[2022-04-29 22:35] andrewdavidwong commented on #7470
Sure, just let me know which logs and how to get them.

Also, FWIW, I've tried not using suspend (S3 sleep) anymore, and so far I haven't experienced this problem again.

[2022-04-30 07:43] DemiMarie opened #7476 "AArch64 support"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Some AArch64 machines nowadays are actually powerful enough to run Qubes OS, but Qubes OS does not support AArch64.

### The solution you'd like

Qubes OS should support AArch64.

### The value to a user, and who that user might be

Users with AArch64 machines will be able to in

[2022-04-30 07:44] DemiMarie commented on #7476
Pinging @andyhhp because this will likely require serious work on the Xen side, mostly in the realm of SMMU support.

[2022-04-30 11:11] marmarek commented on #7476
Well, he is **X86** maintainer in Xen, so won't be of any help here...

[2022-04-30 15:17] marmarek commented on #2304
That's a different feature. The "allow fullscreen" option is about allowing a single _application window_ from a qube to switch into fullscreen (like clicking fullscreen in youtube). The size and placement of HVM desktop window is separate and mostly depends on the graphics resolution set within the qube (and if no qubes tools are installed inside, Qubes has very little influence on it).

Having a

[2022-04-30 15:17] #2304 closed

[2022-04-30 15:38] tetrahedras commented on #7474
@marmarek one thing that does work with 4.1 now is music playback! with 4.0, playing music was impossibly glitchy. Now it looks like Xen is correctly prioritising the audio stream.

Back to the issue at hand:

Here is a part of the guest-sys-net-dm.log dealing with MSI:
[code]

Here is an excerpt from guest-sys-net-dm.log where it attaches the Ethernet controller:
[code]

Since I have `pci=nomsi`

[2022-04-30 15:46] Minimalist73 commented on #7465
Kernel 5.17.5 didn't fix the issue on my side, the sound just stopped after a few hours of use. I'm not getting that issue with kernel 5.16.18.

[2022-04-30 17:46] tzwcfq commented on #2304
I remember that long time ago I've set allow_fullscreen option in guid.conf and Windows 7 HWM with Qubes Windows Tools installed entered fullscreen mode at start, but it seems that it was Qubes Video Driver from QWT that made it work.

I'll create a new issue for this option.

[2022-04-30 17:56] tzwcfq opened #7477 "Add an option to automatically make a HVM desktop window full screen"
### The problem you're addressing (if any)
I need to manually press Alt+F11 for HVM window to enter the full screen mode each time I start it.

### The solution you'd like
I want to have an option in Qubes Settings for HVM qubes to automatically make a HVM desktop window full screen (if its size matches screen resolution) after it start.

### The value to a user, and who that user might be
Users t

[2022-04-30 18:02] andrewdavidwong commented on #7477
Branched from #2304

[2022-04-30 18:05] DemiMarie commented on #7474
Looks like either a hypervisor bug, a QEMU bug, or a guest kernel bug.

[2022-04-30 20:00] tetrahedras commented on #7474
On Sat, Apr 30, 2022 at 11:05:17AM -0700, Demi Marie Obenour wrote:

Since I was using Fedora 34 prior to upgrading to 4.1 and the ethernet
card worked fine, I don't think it's a bug related to the guest system.

[2022-04-30 20:35] DemiMarie commented on #7474
Have you tried different guest kernels?  I agree that the problem is likely with QEMU or Xen, but if some kernels work and some do not, that would be useful information.

[2022-04-30 22:00] tetrahedras commented on #7474
On Sat, Apr 30, 2022 at 01:35:32PM -0700, Demi Marie Obenour wrote:

I tried changing the guest kernel from 5.10 to 5.4, and rebooting
sys-net.

This didn't change anything. `dmesg` still shows the "Untable to
allocate interrupt" error, e1000e traceback, etc.

[2022-04-30 22:23] DemiMarie commented on #7474
Thanks

[2022-04-30 23:17] brendanhoar commented on #7465
Hmm ok I'll keep testing.

[2022-04-30 23:40] DemiMarie commented on #7465
@Minimalist73 @brendanhoar would you mind reporting the bugs to regressions@lists.linux.dev?

[2022-04-30 23:55] DemiMarie commented on #5861
The feature ha

That feature has been implemented, but it won’t be backported, as Thunderbird 102 is expected to be out in late June.  Once Thunderbird 102 is out I will be able to fix this.

Moving to “Release R4.0 Updates” as R4.0 will still be supported.

[2022-05-01 00:58] marmarek commented on #7469
Ok, makes sense. The side channel attack is probably the most realistic (doesn't rely on any other bug). And also, allows one VM to basically spy (just used domain names, but still) on user actions done in all the other VMs.

So, I'll go with the first option - forward DNS queries directly to upstream DNS, bypassing systemd-resolved at all (regardless of if it's running or not). I'll keep it enabl

[2022-05-01 01:48] DemiMarie opened #7478 "Thin pools use 256KiB block size by default"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Found on my system that dates back to R4.0.

### Brief summary

LVM thin pools currently use a block size of 256KiB, which penalizes snapshot-heavy workloads such as Qubes OS.

### Steps to reproduce

`dmsetup table /dev/mapper/qubes_dom0-pool00-tpool`

### Expected behavior

The chunk size is 64KiB

[2022-05-01 01:50] brendanhoar commented on #7478
I think it's relative to size of the thinpool itself at creation? Mine is 64KB on a 512GB SSD.

[2022-05-01 02:10] DemiMarie commented on #7478
Not sure.  @fepitre how big are your thin pools?

[2022-05-01 05:41] DemiMarie commented on #6358
Bad news: the documentation is not sufficient for me to be able to create something that works.  I will be filing some issues.

[2022-05-01 07:31] pfrancks commented on #1861
I am also eagerly waiting to see seamless support for Windows applications in Qubes. Imho this is really a feature of not too small importance as it allows to work on a free + secure operating system even though there might be these 1-2 applications where no Linux alternative is available (yet of course).

I would like to point towards the Cassowary project. Maybe Qubes can borrow some things from

[2022-05-01 08:20] DemiMarie commented on #6256
Turns out that child windows are useless for Wayland, or just about anything else for that matter.  Instead, the Wayland compositor will do the compositing in software.  @marmarek NACK’d hardware accelerating it using the RENDER extension.

[2022-05-01 08:37] DemiMarie commented on #7408
@brendanhoar it should be doable; the only tricky part is figuring out where to store the ephemeral snapshot.  @marmarek NACK’d my suggestion of using an `O_TMPFILE` file in the reflink pool for volatile volumes, since would cause users to ask “What the heck is using all my disk space????” questions.  That said, the basic idea is sound.  To me, the most logical approach to me is to use a thin pool

[2022-05-01 08:48] 3hhh commented on #7469
Yes, that's probably the better choice for a short term update.
Incorporating `systemd-resolved` into the Qubes networking stack - even if optional - would be more suitable for a point release.

[2022-05-01 09:00] DemiMarie commented on #6981
I was considering not implementing this, but that would make @ninavizz cry and I do not want to do that.  The main problem, as mentioned above, is the out-of-process nature of StatusNotifierIcon.

[2022-05-01 10:58] swenherweg commented on #4353
Hello,
has anyone found a solution to enable Thunderbold 3?

[2022-05-01 11:19] marmarek opened #7479 "Xorg crash on any VM window with 5.17.5 kernel, 5.16.18 works"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

With 5.17.5 kernel, Xorg crashes as soon as any VM window shows up.

### Steps to reproduce

1. Install 5.17.5
2. Reboot the system
3. Start any VM application (I tried Firefox in DispVM)

### Expected behavior

Application starts normally.

### Actual behavior

Xorg crashes

[2022-05-01 12:28] na-- commented on #7462
Tried to go back to 5.17.5 and this time my system didn't freeze but instead hard-rebooted after just ~40 minutes of regular non-intense work, seemingly without any cause... :confused: `journalctl --boot=-1` doesn't have any errors, `/sys/fs/pstore/` was empty again and I couldn't even try to use magic SysRq because of the reboot :disappointed:

The only other thing of note for that boot was that

[2022-05-01 17:45] icequbes1 opened #7480 "Boot failure on Thinkpad T430 with kernel-latest 5.17.4-2 and 5.17.5-1"
### Qubes OS release
R4.1

### Brief summary
A Thinkpad T430 machine with Heads installed fails to boot kernels 5.17.4-2 and 5.17.5-1. Booting kernel 5.16.18-2 does not fail. There is no change in xen or xen/linux kernel arguments.

### Steps to reproduce

1. Enable current-testing repos in dom0 while booted into 5.16.18-2
2. Install kernel-latest 5.17.4-2, or 5.17.5-1
3. Reboot the machine

### E

[2022-05-01 18:01] icequbes1 opened #7481 "Full system lockup when resizing a VM window on dom0 kernel 5.17.4-2 or 5.17.5-1"
### Qubes OS release
R4.1

### Brief summary
On a Thinkpad T460s, attempting to resize a VM window (such as xterm), the machine locks up. No response to cursor/mouse movement or keyboard. Hard reset is the only option. Issue was not present under dom0 kernel 5.16.18-2. Issue observed under dom0 5.17.4-2 kernel as well as 5.17.5-1.

### Steps to reproduce
1. Boot physical machine, login
2. Start an

[2022-05-01 18:02] icequbes1 commented on #7481
Issue may be closely related to #7479, however in 7479 does not describe a full system lockup but appears recoverable by being brought back to the login screen.

[2022-05-01 18:10] icequbes1 commented on #7474
@tetrahedras, since you referenced osresearch/heads#1060, have you built and upgraded heads such that it's using coreboot 4.13? The coreboot 4.13 PR was merged December 2021.

That was the only variable in my case; there were no changes to xen/qubes that made the issue go away for me.

[2022-05-01 18:17] icequbes1 commented on #7089
Closing as a later kernel-latest versions [5.16] did not experience the issue.

[2022-05-01 18:17] #7089 closed

[2022-05-01 18:24] icequbes1 commented on #6651
Above-referenced commits has accounted for this issue. Closing.

[2022-05-01 18:24] #6651 closed

[2022-05-01 19:21] a-barinov commented on #7176
OK, I was kind of able to fix this, but due to too many API layers this is not the cleanest fix.

Contrary to what @rustybird said previously, the error message is actually triggered in [admin.vm.volume.Import](https://github.com/QubesOS/qubes-core-admin/blob/df6407f50811573760879a7a48b9243ea31e504a/qubes-rpc/admin.vm.volume.Import#L69) script, section starting from line 69. Commenting it out will

[2022-05-01 19:36] a-barinov opened #7482 "Audio Qube does not work when based on Debian testing"
### Qubes OS release
Qubes OS 4.1

### Brief summary
Audio VM based on debian-11-minimal works properly, but when debian is upgraded to testing branch. Qubes trying to play sound show no error but no sound gets played.

### Steps to reproduce
1. Create Audio VM based on debian-11-minimal
2. Check that sound works in connected qubes
3. Change debian apt source to tesing and qubes apt source to bull

[2022-05-01 20:17] marmarek commented on #7474
Oh, totally missed this point. This is known issue: https://docs.nitrokey.com/nitropad/qubes/firmware-update-1.4.html#should-i-update-my-nitropad

[2022-05-01 20:42] turmoil995 commented on #6824
Same for me, from time to time bultin touchpad doesn't work in q 4.1 kernel 5.10.104-3.fc32.qubes.x86_64 built-in keyboard works and I'm able at least make a restart. Also in /var/log/libvirt/libxl/libxl-driver.log I get:
`
2022-05-01 20:00:31.551+0000: libxl: libxl_pci.c:1489:libxl__device_pci_reset: The kernel doesn't support reset from sysfs for PCI device 0000:00:0d.0
2022-05-01 20:00:31.555+0

[2022-05-01 22:55] DemiMarie commented on #7479
Do dom0 windows work normally?  Looks like this will need a bisection.

[2022-05-01 23:00] DemiMarie commented on #4353
This one is up to @marmarek.  I am not sure how to test Xen’s IOMMU handling.

[2022-05-01 23:01] DemiMarie commented on #7480
Looks like either a bug in Linux or a bug in Heads.  @tlaurion any ideas?

[2022-05-02 00:11] DemiMarie commented on #7176
@a-barinov You, I, and @marmarek all agree that the downsize checks do not belong in qubesd.  Care to send a PR with your changes?

[2022-05-02 00:16] DemiMarie commented on #6824
That is not surprising.  Use no_strict_reset for the USB controller.

[2022-05-02 00:20] marmarek commented on #6824
And if you have already no-strict-reset set (see `qvm-pci` command) - which is done by default for sys-usb, check /var/log/xen/console/guest-sys-usb-dm.log - there may be more details about this failed PCI attach.

[2022-05-02 04:02] DemiMarie commented on #7405
This is a no-go for data safety reasons.  Furthermore, even if it were implemented, it would still not solve the problem that a single lvm2 command takes well over 100ms, which is my goal for “time to run /sbin/init”.  Closing in favor of #6607, but unless dm-thin v2 has dramatically better performance, I suspect that pools based on filesystem-level CoW (XFS, BTRFS, bcachefs) are a much better opt

[2022-05-02 04:02] #7405 closed

[2022-05-02 10:55] lubellier commented on #6419
@permezel I am also using a Nuc 10 and Qubes-OS 4.1, the suspend/resume works for me.

Suspend steps:

- XFCE session menu in tray bar (user), choose *Suspend*
- confirmation popup for **suspend to RAM**, 30s countdown, choose *Suspend* button
- 3s later, the power button is light-pulsing

Resume steps:
- push power button OR push a keyboard key
- displayed XScreenSaver popup which ask the user pa

[2022-05-02 11:48] deadc0de6 opened #7483 "Qube manager crashes when "run command in qube" tries to execute a non-existing command"
### Qubes OS release

4.1

### Brief summary

Running a non-existing command in a qube using the qube manager will crash qube manager

### Steps to reproduce

run qube manager
[code]

right click on a qube, select *Run command in qube* and enter a non-existing command

### Expected behavior

At least same as qubes 4.0 (do nothing, show nothing) or better show a dialog with a helpful error.

### Ac

[2022-05-02 12:15] solardiz commented on #6419
Incidentally, my comment above is misplaced - at the time I made it, I didn't realize "my" issue was specific to 11th gen (Tiger Lake) and on. This issue was about NUC10, so 10th gen, which is the latest where suspend/resume is still supposed to work in Qubes OS - so it's just right that it does work for you, @lubellier. Indeed, there could have been some other issue preventing it from working for

[2022-05-02 13:40] icequbes1 commented on #7480
Additional analysis:

1. Xen is booting
2. Linux kernel is booting
3. Issue is likely graphics related: adding `nomodeset` does change boot behavior

Justification:

1. When performing an "insecure" boot from Heads which ignores signatures, Heads adds arguments to the linux kernel to turn the screen background red. For the non-booting kernels, the screen does turn red indicating that at least the

[2022-05-02 14:01] tlaurion commented on #7480
@icequbes1 So this is qubes testing kernel on top of maximized t430/x230 ROMs?

[2022-05-02 14:17] tlaurion commented on #7480
vbt tables present in coreboot 4.13+ have resolved in the past the issues of booting 5.10 kernels.

I am not aware of the results of those
testing kernels unfortunately.

@marmarek : testing those in QA qubes testing env succeeds?

[2022-05-02 14:57] marmarek commented on #7480
I don't have "kernel-latest" tests on x230/t430, only "kernel" (so, 5.4 / 5.10). I'll look into adding those too.

[2022-05-02 15:13] tetrahedras commented on #7474
On Sun, May 01, 2022 at 01:17:38PM -0700, Marek Marczykowski-Górecki wrote:

Oh, OK. Then I probably need to update my Coreboot/Heads. Thanks!

[2022-05-02 15:16] palainp commented on #6162
I wonder if anything has changed regarding the multiboot option in templated VMs between Qubes 4.0.4 and Qubes 4.1. I just tried to install an `.rpm` mirageOS template build as explained in the `builder.conf` in an up-to-date Qubes 4.0 and Qubes 4.1, here are my results:
* I build qubes-mirage-firewall with both mirageOS 3.10.8 and with mirage 4.0.0, which produce 2 `.rpm`
* both starts in Qubes 4

[2022-05-02 15:17] tetrahedras commented on #7474
On Sun, May 01, 2022 at 11:10:34AM -0700, icequbes1 wrote:
***@***.***, since you referenced osresearch/heads#1060, have you built and upgraded heads such that it's using coreboot 4.13? The coreboot 4.13 PR was merged December 2021.

I thought I had, but if this is a known issue, then evidently not! I
will double check next time I reboot which version of Heads I am
running.

[2022-05-02 15:33] icequbes1 commented on #7480
@tlaurion yes, it is Qubes' kernel-latest but not the maximized ROM (`make BOARD=t430`).

[2022-05-02 18:02] Rudd-O opened #7484 "Uprgade of qubes-core-dom0-linux fails due to preset of masked unit"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

My system masks `usbguard.service` because it causes a dependency cycle with `zfs-mount.service` (involving the systemd TTY ask password prompt.  Other users may want to mask `usbguard.service` for reasons of their own.

https://github.com/QubesOS/qubes-core-admin-linux/blob/7

[2022-05-02 18:49] DemiMarie commented on #7484
@marmarek what do you think?

[2022-05-02 18:53] Rudd-O commented on #7484
There is an RPM scriptlet macro for presetting units in the right way.  Please use that.

[2022-05-02 18:54] DemiMarie commented on #7483
Duplicate of #7278.

[2022-05-02 18:54] #7483 closed

[2022-05-02 22:26] marmarek opened #7485 "[Build 2022050209-4.1] openQA test fails in TC_00_AppVM_fedora-35 test_223_audio_play_hvm"
## Observation

openQA test in scenario qubesos-4.1-pull-requests-x86_64-system_tests_basic_vm_qrexec_gui@64bit fails in
[TC_00_AppVM_fedora-35](https://openqa.qubes-os.org/tests/39051/modules/TC_00_AppVM_fedora-35/steps/17)

[code]

## Test suite description

Play audio over qemu-emulated sound card.

## Reproducible

Fails since (at least) Build [2022050102-4.1](https://openqa.qubes-os.org/tests

[2022-05-02 22:38] andrewdavidwong commented on #7483
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-05-02 22:45] dylangerdaly commented on #7476
Strongly, **strongly** agree.

aarch64 is the future, whatever comes first with aarch64 is what I'll use, SpectrumOS or Qubes.

There are plenty of development machines available, aarch64 Chromebooks are absolutely wonderful and have everything (Low level Bootloader & EC) open source. Checkout the [Cadmium](https://github.com/Maccraft123/Cadmium) project for supported Linux Mainline aarch64 Chrome

[2022-05-02 22:48] marmarek commented on #7485
This is a conflict with pipewire. Until #6358 is fixed, pipewire needs to be disabled.

[2022-05-03 01:45] tzwcfq commented on #7404
I think this performance problem may be related to the way the Xen assign the vcpus to VMs.
For example, I have Intel i9-12900K with 8P + 8E | 16 Cores / 24 threads design and I've enabled smt so I have 24 threads available. I've restricted dom0 to the single vcpu by adding options dom0_max_vcpus=1 dom0_vcpus_pin to GRUB_CMDLINE_XEN_DEFAULT in file etc/default/grub. I've created a new test AppVM w

[2022-05-03 02:04] brendanhoar commented on #7404
I wonder if you could make some adjustments using cpu pooling to more strongly pin some of those cpus to the test AppVM?

https://wiki.xenproject.org/wiki/Cpupools_Howto

(Wiki likely outdated of course)

Also not addressed there: what CPUs does the hypervisor itself use and/or get pinned to?

B

[2022-05-03 02:12] qubeslaptopissue commented on #7472
Should I maybe try to just reinstall? I'm doubtful it'll help but I'm not sure what to try here, if you're suggesting I do something with the above and not talking to the other user, then I'm not sure what.

[2022-05-03 03:19] brendanhoar commented on #7404
There's also hard and soft affinity (or at least was in Xen 4.8 which is what I have access to now, see: man xl) which has to do with whether VCPUs always correlate to actual CPUs.

B

[2022-05-03 05:05] a-barinov commented on #7176
You'll have it in a few days. Let me verify that other frontends have appropriate downsize checks, and also check other backends.

[2022-05-03 06:17] DemiMarie commented on #7476
Why is that?

[2022-05-03 06:51] johnnyboy-3 commented on #4692
My setup is similiar, with persistence:
[code]
and it is intended, so this should be possible and not blocked.

1. A sufficient fix for my setup would be to fail the boot of an AppVM, if the attached storage is already in use at another running AppVM (or Template, DVM, ...).
2. A more advanced fix would be the simultaneously use of the attached storage in two (or more) AppVMs.

See also discussion

[2022-05-03 08:07] DemiMarie commented on #4692
At a minimum, it should be possible to attach the same device read-only to as many qubes as one wishes.  There is no risk of corruption there!

[2022-05-03 09:40] permezel commented on #6419
My Qubes-OS system has been working fine (suspend/resume wise) for some time, but this may be because I swapped back to my NUC7.  Can't tell for sure.  I'm not currently allowed into that part of the house, so I can't check.  Once the restraining order has been rescinded, I will be able to venture out and check.

[2022-05-03 15:08] marmarek commented on #7404
This seems to be fixed by making VMs aware of the host suspend. The change is simple - see https://github.com/QubesOS/qubes-core-admin/pull/473. Quick&dirty change can be even simpler - replace the "if" condition with just "True". Restart `qubesd` service after changing it.

@jevank can you try that, especially with Windows VMs running?

[2022-05-03 15:51] brendanhoar commented on #7404
After some sleep, I understand this statement better:

I wonder if xl vcpu-list is snapshotting cpu assignments at one instant in time or if the fact that sometimes I see a four-cpu VM (HT off, Xen 4.8, CPU List: 0,2,4,6) with something like the following means it's querying for VCPU-CPU assignments in a non-atomic operation and not really showing useful info:

[code]

Moment later, another random

[2022-05-03 17:31] madscientist159 commented on #4318
@Rspigler We've been discussing the recent downturn on the Matrix channel, it's looking like there will be a delay while we wait for BTC/USD to recover from its unexpected drop.  Thoughts wecome on the channel...

[2022-05-03 18:09] marmarek commented on #7479
Bisected down to https://github.com/torvalds/linux/commit/bdd8b6c98239cad. I'll send proper bug report as soon as I get my laptop back to working condition...

[2022-05-03 18:56] jevank commented on #7404
In my environment I see a delay of about a minute during sleep, in case there is a running Windows VM. I'll try to figure out what the delay might be. Otherwise everything seems ok. Tomorrow I will be able to test it in unmodified Qubes 4.1.

By the way I see errors with tsc and clocksource switching to xen in the stubdomain log. Is libvirt responsible for stubdomain going to sleep?

[2022-05-03 19:05] jevank commented on #7404
Interestingly, the first running of dompmsuspend for Windows is instantaneous, with all subsequent runs having a 1 min delay, similar to some kind of timeout
[code]

[2022-05-03 19:21] jevank commented on #7404
I see this message in the libvirt log (14 is the win-dvm domain number, not the stubdomain)
`libxl: libxl_dom_suspend.c:280:domain_suspend_common_pvcontrol_suspending: Domain 14:guest didn't acknowledge suspend, cancelling request
`

[2022-05-03 22:17] permezel commented on #6419
I snuck out this morning and can confirm that the NUC10 has been suspending/resuming with no issues.  It was so long ago that it was resolved, I no longer have the faintest clue as to what I did.
I have it set to auto-suspend after N minutes of inactivity, and it always responds to the power button and comes right up.

[2022-05-03 22:17] #6419 closed

[2022-05-03 22:28] lubellier commented on #6419
Thank you for this test.

[2022-05-03 23:47] marmarek commented on #7404
That one is just paused too. It may require adjusting https://github.com/QubesOS/qubes-vmm-xen/blob/xen-4.14/patch-stubdom-linux-libxl-suspend.patch (and due to how libxl async mechanics work, it isn't exactly trivial...).

[2022-05-04 03:11] #7418 closed

[2022-05-04 03:11] #7469 closed

[2022-05-04 03:11] #7485 closed

[2022-05-04 06:10] DemiMarie commented on #7404
Want me to try to fix it?  I hope I am pretty good at callback hell.

[2022-05-04 06:27] DemiMarie commented on #7362
Still not fully fixed, sadly.

[2022-05-04 06:41] DemiMarie commented on #7362
The reason this has taken so long to fix is that it is at least three different bugs, which all have the same symptom.

[2022-05-04 07:19] meskio commented on #7479
I see the same crash here, but only in i3 when I load the status bar. In xfce I don't get a crash, or maybe I didn't try hard enough.

The nice thing of 5.17.5 is that is solving (or improving) some rendering problems I'm experiencing with all older kernels, when the content change often appear black lines in that area making hard to see what you are typing in the terminal or how many chars you ha

[2022-05-04 09:03] marmarek commented on #7362
Can you be a bit more specific? Which application? What state it's stuck in?

[2022-05-04 09:07] DemiMarie commented on #7362
Qubes Manager didn’t notice that one of my VMs was running.  This is an improvement from the previous situation, where most of the VMs were missing.

[2022-05-04 11:22] adrelanos commented on #7243
Is this the same as a real installation on a real USB disk? `firstboot-qubes-usbvm-unavailable` is useful but only part of it. Issues I am experiencing are from installation on real USB disk vs internal disk.

[2022-05-04 11:34] marmarek commented on #7243
Yes, this is the same as installing to a USB disk, and running Qubes from a USB disk. This is using QEMU-emulated hardware, so may not catch hardware-specific issues (with specific drivers, devices etc), but there is no such thing as testing _all_ existing hardware configurations...

[2022-05-04 12:03] jevank commented on #7404
Another detail - I only see a 1 minute delay problem for Windows with QWT installed (Windows 7 and Windows 10 w/o system preparation). Without QWT dompmsuspend/dompmwakeup works fine. I've tried disabling QWT power settings optimization, but that didn't help. It looks like suspend starts immediately (actions in VM is unavailable), but libxl is waiting for some kind of acknowledgement. @marmarek wh

[2022-05-04 13:07] tetrahedras opened #7486 "Upgrade to 4.1 denies VMRootShell to mgmt VM when updating Whonix WS"
### Qubes OS release
4.1

### Brief summary

When attempting to update the Whonix WS template (via QubesUpdater or `$ sudo qubesctl --show-output --skip-dom0 --templates state.sls update.qubes-vm`) the update fails with the user notification pop-up:
[code]
and the console log entry
[code]

If I run `apt update` and `apt upgrade` on the template manually, it works fine.

Updates of non-Whonix templ

[2022-05-04 13:20] #7392 closed

[2022-05-04 13:23] Rudd-O opened #7487 "Dolphin and other KDE apps' file associations broken"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Template includes qubes-menus package, which does not include file `/etc/xdg/menus/applications.menu`.  This causes Dolphin not to know about installed applications, therefore cannot open any file.

The fix is to create a symlink named `applications.menu` pointing to `kf5-appl

[2022-05-04 13:43] marmarek commented on #7404
That's a _very_ interesting observation. There is a PV protocol for suspending guests (and Linux makes use of it). It seems this part is what times out. I need to check how libxl decides when to use it, and also why it doesn't fully work (I though Windows PV drivers do implement it).

Can you check xenstore content for that domain, _while waiting for that 1 minute timeout_? Something like `xenstor

[2022-05-04 13:46] marmarek commented on #7404
It still isn't clear to me, if this is a good way forward. Lets see how the above Windows situation plays out. But if we keep going this way, then yes, it would be helpful if you add suspending a stubdom.

[2022-05-04 13:54] #7486 closed

[2022-05-04 14:27] jevank commented on #7404
Here is before/after state (no changes)
[code]
while on going I see
[code]

On clean Windows VM I see all control/features empty, so I guess you are right about PV Drivers..

[2022-05-04 14:29] xray57oo opened #7488 "Upstream issue"
NOTICE: This issue template is no longer in use. Instead, please go to:
https://github.com/QubesOS/qubes-issues/issues/new/choose

[2022-05-04 14:31] xray57oo opened #7489 "Is Xen responsible for rebooting issues"
`qubes-issues` [is not the right place to ask questions or request
support](https://www.qubes-os.org/doc/issue-tracking/#do-not-submit-questions).
Instead, please see [help, support, mailing lists, and
forum](https://www.qubes-os.org/support/).

[2022-05-04 14:32] xray57oo commented on #7489
Just wanted to know.

[2022-05-04 14:37] jevank commented on #7404
Windows suspends immediately and then works on dompmwakeup.

[2022-05-04 14:38] glenjennings opened #7490 "Installation: Anaconda: Not asking for VNC because we don't have a network"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1.0

### Brief summary

I do NOT have a computer/technical background and this is my first time trying to install any form of Linux OS. I'm just trying to install this OS on a remote dedicated server as it has the perfect threat model that I need for the server. I've tried my best to figure this ou

[2022-05-04 14:54] #7488 closed

[2022-05-04 14:54] xray57oo commented on #7488
Dupicate

[2022-05-04 15:03] jevank commented on #7404
This fixes the issues. I will make some tests, but looks like this is culprit

[2022-05-04 15:11] xray57oo opened #7491 "Reboot issues"
Restart hangs
4.1

Reboot issues Xen upstream???

### Steps to reproduce
Select restart from menu
Note: Dell precision 7520 mobile workstation with Xeon 1535m v6

### Expected behavior
Restart should be automatic

### Actual behavior
Restart hangs with no shutdown

[2022-05-04 15:12] marmarek commented on #7404
Interestingly, `sys-net` on my system (which is also HVM) has correct "control/shutdown" node perms. I'm not sure why it's wrong for Windows.

[2022-05-04 15:15] jevank commented on #7404
Just after reboot this node has correct permission, but after first sleep it disappears and than creates with n0,rID permission.

[2022-05-04 15:27] #7489 closed

[2022-05-04 15:27] xray57oo commented on #7489
Duplicate closed

[2022-05-04 16:09] tetrahedras opened #7492 "Intermittent PCI errors after 4.1 upgrade: sys-usb fails to restart due to "Unable to reset PCI device""
Release 4.1

My sys-usb should start on boot. Often it does not. When I manually try to start it, it sometimes (but not always) produces the error:
[code]

After seeing this error, if I simply repeat the command `qvm-start sys-usb` then it starts fine.

`libxl-driver.log` contains the following relevant lines:
[code]

I'm not sure which device this is. There is no `0000:00:14.0` entry in `qvm-pci`

[2022-05-04 17:24] marmarek commented on #7404
This is already fixed upstream in 9.0.0 version of PV drivers: https://lists.xenproject.org/archives/html/win-pv-devel/2022-05/msg00002.html

[2022-05-04 18:31] andrewdavidwong commented on #7487
Does this affect only Fedora templates?

[2022-05-04 18:33] andrewdavidwong commented on #7486
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-05-04 18:42] andrewdavidwong commented on #7490
It doesn't sound like your use case is supported. Please see:

https://www.qubes-os.org/faq/#can-i-install-qubes-in-a-virtual-machine-eg-on-vmware

https://www.qubes-os.org/doc/installation-guide/#installation-summary

[2022-05-04 18:42] andrewdavidwong commented on #7490
Closing as "not an issue" (the reported behavior is not a bug, or the proposal is not suitable as an enhancement or task). If anyone believes this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2022-05-04 18:55] #7471 closed

[2022-05-04 19:14] #7129 closed

[2022-05-04 19:21] marmarek commented on #7490
It doesn't sound like a virtual machine.

@fepitre do you have experience with similar machines, especially the way IPMI works there?

[2022-05-04 19:45] jevank commented on #7404
We tried release 9.0.0, but there were significant problems
- inability to boot after uninstalling them
- max-grant-frames value must be less than 511

This may have already been fixed in the master, but we need the signed ones to use. I'll try to test the latest master builds.

[2022-05-04 21:50] DemiMarie commented on #7404
Is there a way to have the firmware add additional trusted root certificates?  If not, could QEMU add them by means of monkeypatching the Windows kernel?  It does have arbitrary R/W and control of all registers, after all.

[2022-05-04 22:51] DemiMarie commented on #7490
@glenjennings Installing Qubes OS on a bare metal dedicated server should definitely work, so if it does not work, that is a bug.

[2022-05-04 22:57] DemiMarie opened #7493 "Provide a maintained OpenSSH package in dom0 for those who manually install it"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Some users install Qubes OS on servers, which they do not have physical access to.  Such servers need to be managed remotely.

The simplest way to do this is for the user to run `sudo qubes-dom0-update openssh-server` to get the OpenSSH server package, then have sys-net to forwa

[2022-05-04 23:07] marmarek commented on #7404
I definitely do **not** want to go this way. Even if technically possible, there are multitude issues with that, too many to fit in this comment (since I know you might ask "what are they", even if you can come up with several obvious ones, let me just say "maintainability"/"stability" and "legal").

[2022-05-05 00:54] DemiMarie commented on #7404
Indeed this is not a good idea.  If there is an approved way to do it from firmware, then that is great, otherwise we just need to wait.

[2022-05-05 01:03] brendanhoar commented on #7404
9.0.0 has been out for years. The release cadence for the Xen Windows PV drivers is, well, glacial.

I do see Marek has been somewhat active from time to time there (e.g. commits Acked by him in the repo) so maybe there's room for discussion on either backporting that item or getting the 9.x.x series more compatible with the Qubes use case.

Also, I feel like maybe I opened a Pandora's box on @mar

[2022-05-05 01:08] DemiMarie commented on #7404
@brendanhoar @marmarek I wonder if the best option is to turn off driver signature enforcement.  It’s not a security boundary anyway.

[2022-05-05 01:13] marmarek opened #7494 "9.0.0 version of Windows PV drivers"
We tried release 9.0.0, but there were significant problems
- inability to boot after uninstalling them
- max-grant-frames value must be less than 511

This may have already been fixed in the master, but we need the signed ones to use. I'll try to test the latest master builds.

_Originally posted by @jevank in https://github.com/QubesOS/qubes-issues/issues/7404#issuecomment-1117785474_

[2022-05-05 01:17] marmarek commented on #7494
Lets track PV drivers update here, even if not actionable right now.

[2022-05-05 01:40] DemiMarie commented on #7494
Is disabling signature checking an option?

[2022-05-05 05:40] andrewdavidwong commented on #7490
I wasn't necessarily assuming it was a virtual machine. Rather, it sounded like it was *either* a virtual machine *or* required the installer to support some kind of network access (hence the two links).

This part, in particular, sounds like something virtualized:

But I freely admit that I know nothing about IPMI, so you guys say it should work, then it should work.

-----

You shouldn't have to

[2022-05-05 05:54] andrewdavidwong commented on #7493
I thought that all types of remote management were supposed to be disabled in the default open-source edition of Qubes OS. Isn't dom0 supposed to be strongly isolated from all networking (especially the public internet) *by design* in its default configuration? If so, OpenSSH doesn't even belong in the default open-source edition's dom0. There shouldn't be any kind of "remote dom0" code on users'

[2022-05-05 05:56] DemiMarie commented on #7490
In this context, “KVM” means “Keyboard, Video, and Mouse”, not “Kernel-based Virtual Machine”.

[2022-05-05 06:44] jevank commented on #7494
Yes, this is an option, we have a tool to make it on the fly ([pkihelper](https://github.com/QubesOS/qubes-gui-agent-windows/tree/master/install-helper/pkihelper)). But I was thinking Qubes OS compatibility could be the reason to make release after almost 3 years :)

[2022-05-05 06:48] DemiMarie commented on #7494
Is this sufficient for kernel-mode code signing?

[2022-05-05 06:52] jevank commented on #7494
With [test signing mode ](https://docs.microsoft.com/en-us/windows-hardware/drivers/install/the-testsigning-boot-configuration-option) enabled only.

[2022-05-05 07:02] DemiMarie commented on #7472
Reinstalling with with XFS partitioning might help.

[2022-05-05 15:08] unman commented on #7493
On Wed, May 04, 2022 at 10:54:43PM -0700, Andrew David Wong wrote:

Second this.
imo remote access should be limited to managementVM, limited by qrexec
policies.

The default install doesn't have openssh-server at all.

[2022-05-05 15:13] DemiMarie commented on #7493
I absolutely agree with this; sorry for the ninja edit.  This is exclusively those who use Qubes on _servers_, and who manually install the relevant packages.

[2022-05-05 15:31] noskb commented on #7352
This is more likely to occur when uptime is long and the inter-qube clipboard is used heavily.

But If you want to reproduce it in a short time, copy something to the clipboard in the VM and then press and hold Ctrl+Shift+C for about 60 seconds.

[2022-05-05 15:43] unman opened #7495 "Builder - Ubuntu jammy packages not supported by reprepro"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Building jammy packages.
reprepro in host does not support compression usedin package control files.

### Steps to reproduce
Build jammy packages.

### Expected behavior
Packages will be added to package repo for template build.

### Actual behavior
Packages are not added - zst

[2022-05-05 16:12] AlxHnr commented on #7404
Other performance issue: my entire system is extremely sluggish when other VMs are starting or shutting down in the background. Maybe the scheduler has the wrong priorities?

[2022-05-05 16:23] marmarek commented on #7404
What hardware? Is it after system suspend? If so, make sure you have latest Xen update installed (4.14.4-2 or newer) - there was a bug in resume code causing all-but-one CPU core fail to resume.

[2022-05-05 16:40] AlxHnr commented on #7404
ThinkPad T430i, i7-3632qm, 16 GB Ram

No. But it's notiable when Qubes updater starts/stops VMs in the background. During this time window, just opening a Firefox tab in my surfing VM may cause the entire browser to blank for 5 seconds. Fixing this is a prerequisite for #4282

[2022-05-05 17:01] AlxHnr commented on #7404
Maybe we should split this issue up into smaller ones?
1. Slow compute performance for workloads like compiling kernels and running synthetic benchmarks
2. System-suspend related problems
3. Scheduler priorities: VM starting/stopping slows down the rest of the system

[2022-05-05 17:01] hexagonrecursion commented on #3366
There is now a bounty for this issue https://app.bountysource.com/issues/52352776-use-wayland-instead-of-x11-to-increase-performance

[2022-05-06 00:18] MikeyBeez opened #7496 "Mini PC"
I've check Qubes documentation and support, but I can not find what I want.  I'm hoping to find a low power mini pc that has all the requirements for the latest version of cubes.  Sorry if I'm asking in the wrong place.

[2022-05-06 02:51] andrewdavidwong commented on #7496
Based on our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [Qubes Forum or `qubes-users` mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), you believe we are mistaken, pl

[2022-05-06 02:51] #7496 closed

[2022-05-06 19:41] MonkeyBars3k opened #7497 "Wrong LUKS password fails poorly"
### Qubes OS release
4.1

### Brief summary
After five tries typing in the wrong disk decryption password, user is given no clear indication that the passwords were all wrong and is unceremoniously dumped into a crippled dracut emergency shell. I am logging this as a bug since it seems poorer than usual UX to fail so ungracefully after mere incorrect disk password entries.

### Steps to reproduce

[2022-05-07 01:21] brendanhoar commented on #7465
Confirmed here as well.

With 5.17.5-1 in dom0 (R4.0) on Thinkpad W520:

aplay -q ./sinewave.wav --duration=1

works immediately after reboot but later fails with:

ALSA lib pcm_dmix.c:1029:(snd_pcm_dmix_open) unable to open slave
aplay: main:786: audio open error: Device or resource busy

B

[2022-05-07 02:08] marmarek commented on #7465
I can confirm the issue as well. After some hours of uptime audio stops working. I don't see `snd_hda_intel swiotlb buffer is full` message in my case, though.

`aplay` is expected to fail, device is grabbed by pulseaudio. But you can try `paplay`.

[2022-05-07 05:41] tzwcfq commented on #4321
Some new info.
I have Windows 10 HVM with Qubes Windows Tools 4.1.67.1.
If I use xen-hvm-stubdom-linux/xen-hvm-stubdom-linux-full 1.2.4-1.fc32, HVM with 3 GB and 4 GB RAM, no PCI devices attached - it works fine.
If I use xen-hvm-stubdom-linux/xen-hvm-stubdom-linux-full 1.2.4-1.fc32, HVM with 3 GB and 4 GB RAM, any PCI device attached (I've tried GPU and USB controller) - `No bootable device` erro

[2022-05-07 07:57] DemiMarie commented on #7465
Ouch.  That is going to make bisecting hard.

[2022-05-07 13:39] Rspigler commented on #4318
Signed Statement of Work (SoW) attached.

Verify first for @madscientist159 sig, then my sig
[Xen_SoW_Signed.txt](https://github.com/QubesOS/qubes-issues/files/8645258/Xen_SoW_Signed.txt)
.

[2022-05-07 15:01] brendanhoar commented on #7465
Thanks.

aplay works after boot *until* device is grabbed by pulseaudio.

So if I use paplay in dom0 once after reboot, aplay fails for a bit but starts working again a few moments later (I presume PA relinquished the device).

aplay is useful for initial testing dom0 via script because it errors out while paplay does not.

I'm going to try some diagnosis starting with no VMs running to see how lo

[2022-05-07 17:42] icequbes1 commented on #7480
So far, a very slow bisect (since it takes 4 hours to compile a kernel):

- 5.17.5: no boot
- 5.17.4: no boot
- 5.17.3: no boot
- 5.17.2: no boot
- 5.17.1: no boot
- 5.16.20: boots

[2022-05-07 18:43] brendanhoar commented on #7465
Switched to paplay once VMs are running.

No problems reported while running a vault VM for a couple hours.

Started sys-net and dom0 sound died.

Shut down sys-net and dom0 sound started working again.

Started sys-net and dom0 sound...kept working.

Starting experimenting with others.

Hard to say but starting and shutting down VMs seems like it can trigger temporary (30s) or semi-permanent (unt

[2022-05-07 19:24] DemiMarie commented on #7480
I suggest using `git bisect` so you can skip a bunch of intermediate steps.

[2022-05-07 20:06] Rspigler commented on #4318
Payment for phase 1 has been sent and received

[2022-05-07 20:59] marmarek commented on #7465
One message I noticed:
[code]
I'm not sure about the timing, but when I noticed audio stopped working, this message was logged some time before it.

[2022-05-07 21:06] Geblaat commented on #6885
I upgraded from R4.0 to R4.1 and now I'm having the same issue.

[2022-05-07 22:24] Rspigler commented on #4318
Signed Statement of Work by @Rudd-O
Signed Payment by Rudd
[Rudd SoW.txt](https://github.com/QubesOS/qubes-issues/files/8646037/Rudd.SoW.txt)
[Rudd Payment.txt](https://github.com/QubesOS/qubes-issues/files/8646039/Rudd.Payment.txt)

Rudd has paid his complete bounty (0.5 bitcoin).  This is towards phase 1.5, as my 0.65 payment went completely towards Phase 1

[2022-05-07 22:26] Rspigler commented on #4318
@madscientist159 Please confirm both payments.

I have updated OP

[2022-05-08 06:24] tzwcfq opened #7498 "Require sys-usb to start before starting qubes with persistently attached USB devices"
### The problem you're addressing (if any)
I've stumbled upon the same problem as described here:
https://forum.qubes-os.org/t/persistent-usb-device-prevents-sys-net-from-starting-on-boot/4446
I need to have qube that start automatically on boot and have USB device attached from sys-usb.
When I check "Start qube automatically on boot" tick in Qubes Settings for my qube then my qube try to start on

[2022-05-08 08:50] MichaelAnders opened #7499 "Qube firewall traffic blocked when resolving hostname in "Firewall rules" fails"
### Qubes OS release
Qubes 4.1

### Brief summary
If one hostname which is defined under "Firewall Rules" fails to resolve, the network is not accessible. All network traffic is blocked, even when using an IP. The packets are filtered by (according to "ping" output) the "Net qube".
It does not matter if "Allow all outgoing connections", "Limit outgoing connections to..." or "Allow full access for

[2022-05-08 09:03] MichaelAnders opened #7500 "xfwm4 bug causing slow/hanging Qubes; xfce bug fix solution attached"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Running Qubes I sometimes notice a slow down in Window reaction. This is related to xfwm4 which shows a high CPU utilization in dom0 (max seen >75% on a 8 CPU system)
This forces me to reboot the system every few hours as else the system is not usable / my UX suffers significant

[2022-05-08 15:28] brendanhoar commented on #7465
So far today I couldn't get audio to stop working after setting the /etc/default/grub min and max dom0 memory to 2048M running sudo grub2-mkconfig -o /boot/grub2/grub.cfg and then rebooting.

Experimented with running enough memory balancing VMs on a 32GB W520 such that I could no longer start any new VMs, shut them all down, tried again, etc.

I did see one swiotlb error early on but nothing past

[2022-05-08 17:18] madscientist159 commented on #4318
@Rspigler Confirming receipt of full payment for Phase 1.0 and the 0.5BTC payment toward Phase 1.5.  Tentative thinking between parties here is that the differential for Phase 1.5 will be made up in USD in the $5.5k range at Phase 1.5 work start.

We have a development repository here, and I've pushed the very first commit to set up the build system for POWER:
https://gitlab.raptorengineering.com/

[2022-05-08 20:25] tzwcfq commented on #7404
I've achieved the same performance for compiling in Qubes as in bare-metal debian.
I don't know how exactly it fixed itself, but here is some info:
I had much lower compiling performance in Qubes compared to bare-metal debian.
Before any changes I had these cpu freq parameters:
[code]
But when I compiled my project I saw with this command:
`xenpm start 1|grep "Avg freq"`
That my cpu cores freq was

[2022-05-08 23:25] marmarek commented on #7465
Another information: unloading all `snd*` modules and loading them again does _not_ fix audio.

[2022-05-09 02:46] brendanhoar commented on #7465
Well my testing has proven unproductive. It appears that playing wav files repeatedly in dom0 via paplay seems to itself significantly reduce the chances of triggering the symptom. If I don't do that then the symptom returns much more often even with dom0 set to a static memory amount.

Another direction to go might be attempting to increase log levels somewhere? Pulseaudio? ALSA? Driver?

B

[2022-05-09 10:04] DemiMarie commented on #7465
Can anyone do a bisection?  This is obviously a regression, but without a bisection it likely won’t be fixed.

[2022-05-09 10:08] marmarek commented on #7465
I don't think that's realistic, given observations by @brendanhoar. I have similar observation - it stopped working for me yesterday only after over a day uptime. We don't know how long it needs to work to consider the commit not broken.

[2022-05-09 10:16] DemiMarie commented on #7465
Can it be parallelised in any way?

[2022-05-09 10:27] marmarek commented on #7465
git bisect? no, because the next step depends on previous one; and also, we (collectively) don't have enough systems identified to be affected - it seems right now we have two: one @brendanhoar and one mine

[2022-05-09 10:53] brendanhoar commented on #7465
Since:

a) we seem to have an external standard Linux (non-qubes) case in that forum thread.

b) the fault often seems to occur right at the moment that qubes sends the notification that a VM has started and

c) increasing pulseaudio verbosity shows some (non-error) messages around that notification  about sample rate changes and or idle transitions in the target sink

...I suspect we might be abl

[2022-05-09 14:30] marmarek opened #7501 "split-gpg: Evolution sometimes fails to decrypt a message that is both signed and encrypted"
## Observation

openQA test in scenario qubesos-4.1-pull-requests-x86_64-system_tests_splitgpg@64bit fails in
[TC_20_Evolution_fedora-35](https://openqa.qubes-os.org/tests/39575/modules/TC_20_Evolution_fedora-35/steps/1)

[code]

Video review: The message preview really has empty message body, and gpg info at the top says just "Encrypted" without any information about the signature.

Evolution fir

[2022-05-09 15:31] 3hhh commented on #7499
No, the current behaviour is fine.

Assume a set of rules such as
deny somehost
allow all

If the Qubes firewall just continued when it has issues with `somehost`, it would inevitably lead to a potential security impact for the user (who might not even notice the issue). So failing closed is in the best interest of the user atm.

Whether the error message could be improved or not is the only point

[2022-05-09 16:53] 3hhh commented on #7499
Not necessarily. It can still mean an issue on layer 7, e.g. if the hostname of your cloud IPS, logging, ... solution could not be resolved and thus all the additional security stuff that you put in place doesn't work.

I guess a question popup whether the offending rule entry can be removed or whether to retry resolving would be more safe.
Or just open up the firewall panel and show the offending

[2022-05-09 17:42] tetrahedras commented on #4658
This is still happening on 4.1

[2022-05-09 17:44] tetrahedras opened #7502 "4.1 no longer allows copy and pasting to same VM"
In 4.0 and earlier, it was possible to copy (Ctrl-Shift-C) text from a given VM and then paste it back to the same VM with Ctrl-Shift-V.

With 4.1, this appears to be no longer possible. Pressing Ctrl-Shift-V on the origin VM no longer results in any action.

Because there are several clipboards in Linux, copying from and then pasting back to that VM was a useful way to work around issues related

[2022-05-09 17:45] tetrahedras opened #7503 "After 4.1 upgrade, dom0 doesn't update"
Version: 4.1

After upgrading to 4.1, dom0 is no longer finding updates when I run `qubes-dom0-update` or use the Qubes Updater tool.

Notifications come in that there are updates available for dom0. When I launch Qubes Updater, it shows that dom0 has available updates.

When I actually run an update cycle in Qubes Updater, though, it doesn't find any updates. When I run `qubes-dom0-update` from t

[2022-05-09 17:46] tetrahedras commented on #7492
Maybe not, due to #7503

[2022-05-09 18:51] patranger commented on #7438
@DemiMarie Just wanted to remind that I had this situation even after upgraded R4.0.4 to R4.1 with qubes-dist-upgrade

[2022-05-10 01:48] andrewdavidwong commented on #4658
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-05-10 02:07] quantumpacket commented on #4658
@andrewdavidwong I think the reason everyone came here is that this issue was still open, and the other was closed. Now they are both closed. But the issue is clearly not fixed.

[2022-05-10 02:30] andrewdavidwong commented on #4658
@DemiMarie, you're the one who asked whether this is a duplicate of #4042. Do you no longer have reason to think it is? If so, what are those reasons?

[2022-05-10 02:48] DemiMarie commented on #4658
Whoops!

[2022-05-10 02:49] DemiMarie commented on #4658
@andrewdavidwong #4042 affects sys-usb whie this one affects sys-net.

[2022-05-10 02:59] DemiMarie opened #7504 "dom0-provided kernels should end use of PoD memory before loading untrusted code"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

There have been several XSAs related to populate on demand code.

### The solution you'd like

dom0-provided kernels should ensure they have eliminated all use of PoD memory before running untrusted code.

### The value to a user, and who that user might be

All users will benef

[2022-05-10 07:05] DemiMarie commented on #7503
You need a template that is compatible with the new `qubes-dom0-update`.

[2022-05-10 13:45] tetrahedras commented on #7503
On Tue, May 10, 2022 at 12:05:16AM -0700, Demi Marie Obenour wrote:

Which template(s) would that be?

[2022-05-10 14:19] DemiMarie commented on #7404
Interesting

[2022-05-10 14:41] maertsen commented on #6836
I can confirm that @lkubb's solution step 1 (quoted below) completely fixes this problem for me. @SaswatPadhi, would you be willing to try it? If it works consistently for multiple users, perhaps all that's left is a PR? @andrewdavidwong

[2022-05-10 15:24] SaswatPadhi commented on #6836
Thanks for the ping, @maertsen.

Indeed, @lkubb's patch works. And I believe that's the proper way to fix this problem. In a [previous comment](https://github.com/QubesOS/qubes-issues/issues/6836#issuecomment-911914054), I had narrowed down on it:

But I didn't know enough about `systemd`, and automount units in particular, at that time.

Thanks @lkubb! :)

[2022-05-10 16:48] red-avalanche commented on #5000
This seems like an old issue, but I am seeing it today so I'm not sure if it's been fixed.

**Qubes OS version**
xen_version: 4.14.4
Linux 5.10.104-3.fc32.qubes.x86_64

**Affected component(s) or functionality**
X11

**Brief summary**
Same as initial issue

**To Reproduce**
See summary.

**Expected behavior**
While the screen is locked the backlight should be turned off.

**Actual behavior**
It gl

[2022-05-10 20:06] brendanhoar commented on #7465
I definitely can trigger the issues just with dom0 playing  several wav files of 8k, 44.1k and 48k sampling rates using paplay. However it is still unclear the exact steps needed to trigger and clear the issue.

Running the below:

sudo watch -n 0.1 -d 'cat /proc/asound/card0/pcm0*/sub0/hw_params'

I can watch out for sample rate changes, either via dom0 wav files or startup of VMs and or audio in

[2022-05-10 20:35] tetrahedras commented on #4658
I tried disabling this service via `systemd stop systemd-udevd && systemd disable systemd-udevd` and it didn't fix the issue. Disabling the service via Qubes VM settings (adding an entry for `systemd-udevd` and unchecking the box) also did not help.

[2022-05-10 21:40] thanharrison commented on #5120
### Download and prepare Qubes USB drive for installation
**sdX** is the disk that Qubes OS will be installed on
**sdY** is the USB that will contain the bootloader and the detached LUKS header file
**sdZ** is the USB stick containing the Qubes OS installer

### Boot into installation and press Ctrl + Alt + F2 to enter into terminal
Prepare your disk by first overwriting with random data
`dd if=/d

[2022-05-11 07:33] johnnyboy-3 opened #7505 "Python Warning @ dom0 update"
### Qubes OS release
R4.1

### Brief summary
Manually updating dom0 by cli gives a python line buffering warning, and a bogus cache cleaning warning in the output
[code]

### Steps to reproduce
Run `sudo qubesctl --show-output state.sls update.qubes-dom0` in dom0 using terminal

### Expected behavior
No warnings and a proper update message

### Actual behavior
Python warning & bogus cache cleaning

[2022-05-11 09:14] larryswinger commented on #3374
Is there a fix for Qubes 4.0 users yet that doesn't break the system?

[2022-05-11 10:51] #7334 closed

[2022-05-11 11:41] GWeck commented on #7240
I found out that, when you directly, without WMCT, download a Windows installation iso from [Windows 10-Datenträgerabbild (ISO-Datei) herunterladen](https://www.microsoft.com/de-de/software-download/windows10iso). But this only works if you go from a non-Windows system, e.g. Linux, to the download website - otherwise, you are led to the standard WMCT website. On this alternative website, you can m

[2022-05-11 11:46] GWeck commented on #7240
Thanks to the work of @jevank et al., QWT version 4.1.68.1 is now available in the current-testing repo and can be installed like described for earlier versions of Qubes, working as expected (and even better).

Thus the aim of this issue has been completely reached, allowing users without too much technical knowledge to create Windows VMs for Windows 7, 10, and 11! Congratulations!!!

So now I am

[2022-05-11 11:46] #7240 closed

[2022-05-11 12:04] GWeck commented on #7381
The documentation now describes the installation of Windows 7, 10, and 11, and of Qubes Windows Tools 4.1.68.1, using the standard procedure for installation from the current-testing repo. Now, thanks to the work of @jevank et al., using Windows under Qubes has changed from being witchcraft to solid IT engineering. I sincerely hope that this will help to spread Qubes usage further!

@andrewdavidwo

[2022-05-11 14:33] tlaurion commented on #6124
This should fix it, but I do not see update of contrib package? https://github.com/QubesOS/qubes-meta-packages/pull/50

[2022-05-11 16:11] marmarek commented on #7501
When interacting with Evolution manually, the same message sometimes opens fine, and sometimes not. In fact, most of the time does not:

![Screenshot from 2022-05-11 18-08-20](https://user-images.githubusercontent.com/726704/167896968-edc178f7-0f79-4ce9-8549-c2e8bf2ec888.png)
![Screenshot from 2022-05-11 18-08-44](https://user-images.githubusercontent.com/726704/167896983-93d23b7d-5fc1-47f9-983e-6

[2022-05-11 18:02] marmarek commented on #7501
The same is happening with split-gpg2; it could be not related to split gpg at all (but then, I'd expect to find some upstream bug report, as the issue makes GnuPG+Evolution barely usable - yet, I can't see any in gnome's gitlab).

[2022-05-11 18:07] DemiMarie commented on #4658
Disabling systemd-udevd will break a lot of stuff.

[2022-05-11 18:19] DemiMarie commented on #7240
I think you are supposed to use the Windows Media Creation Tool, which might well have these checksums hard-coded.  That tool is almost certainly signed by Microsoft.

[2022-05-11 18:21] DemiMarie commented on #5000
This is an XScreenSaver bug.  Not sure if it will be fixed, but it will go away if the GUI ever switches to Wayland.

[2022-05-11 20:24] #7352 closed

[2022-05-12 05:09] tzwcfq commented on #7498
For now I had to solve it like this:
Run these commands in dom0:
[code]
Paste this script inside:
[code]
Then set execute permission:
[code]
Reboot.

[2022-05-12 08:11] GWeck commented on #7240
but, as I wrote above, the signature has to be checked by unsigned software (the explorer). So, for me, the value of this signature is nil.

[2022-05-12 08:12] tetrahedras commented on #7503
On Tue, May 10, 2022 at 07:35:15AM -0700, Demi Marie Obenour wrote:

Right, but if the current template (either Debian 11, Fedora 34, or
Whonix 16) is not compatible with the "new qubes-dom0-update" then I
need to change templates in order to fix the issue.

Thus my question to you: which template(s) are compatible with the new
qubes-dom0-update, so that I can use that template as an UpdateVM?

[2022-05-12 08:17] tetrahedras commented on #4658
On Wed, May 11, 2022 at 11:28:33AM -0700, 3hhh wrote:

There is no WatchdogSec line. Here is my systemd-udevd.service file:
[code]

[2022-05-12 10:29] marmarek commented on #7503
Any Fedora and Debian 11 or newer (or Whonix 16 that is based on Debian 11)

[2022-05-12 15:16] 3hhh commented on #4658
Well, then it's not that on your system.

(Debian has the watchdog btw, Fedora apparently not.)

[2022-05-13 00:35] #7479 closed

[2022-05-13 03:08] #7122 closed

[2022-05-13 13:11] maltfield commented on #6540
Related: https://www.reddit.com/r/Qubes/comments/hoajhh/qubes_xfce4_laptop_disable_touchpad_while_typing/

[2022-05-13 13:40] wit-g commented on #7245
Hi @andrewdavidwong
I downloaded on April 22nd the new version of Qubes OS and finally installed it last night. When I went to the "sys-whonix, whonix-gw-16, whonix-ws-16, anon-whonix and fedora-34 Settings, it showed me multiple missing applications message. (Fedora-34 only "gpk...something" :/ )
Today, I was looking for some help on net and found your page. I did what you commented above. I move

[2022-05-13 14:21] wit-g commented on #7503
Hi guys.
I am updating dom0 right now by clicking the right button of the mouse on dom0 qube and opened a terminal with the message "unable to detect release version(use '--releasever' to specify release version) and started downloading updates for Fedora-32( I have Fedora-34)
I opened a dom0 Terminal clicking on Menu and tried updating from it but It says "nothing to do"
Where should I use '--rel

[2022-05-13 15:28] Rudd-O commented on #7487
I wouldn't know, I didn't check other templates.

[2022-05-13 15:32] unman commented on #7487
Doesnt seem to be an issue in debian

[2022-05-13 17:20] icequbes1 commented on #7480
Fixed in kernel-latest-5.17.7-1.

Possibly from the patch in #7479 (`[PATCH] x86/PAT: have pat_enabled() properly reflect state when running on e.g. Xen`), but I did not try kernel 5.17.7 without the patch.

[2022-05-13 17:20] #7480 closed

[2022-05-13 17:22] icequbes1 commented on #7481
Issue persists with kernel-latest-5.17.7-1.

[2022-05-13 18:44] DemiMarie commented on #7481
Does SysRq still work?

[2022-05-13 19:48] icequbes1 commented on #7481
Ah, yes. Now we're getting somewhere. The system does respond to SysRq.

Blocked tasks [sysrq+w] show Xorg and i915 workqueues blocked when releasing the mouse (while the cursor still responds to mouse movement, but is "locked" on the window-resizing cursor):

[code]

Move the mouse some more and then the system no longer responds to mouse movement; a new blocked task is InputThread:

[code]

Abov

[2022-05-13 20:01] icequbes1 commented on #7481
Forgot to add: the lockup only occurs when resizing VM windows. Resizing dom0 windows doesn't cause a lockup.

[2022-05-13 22:07] pgerber commented on #7465
I'm also experiencing audio issue on a ThinkPad running Qubes 4.1 ever since updating to 5.17. Pitches are off in combination with short cut outs but sometimes audio also doesn't work at all. So far the issue seems rather reproducible and I don't have to wait for the issue appear, it's just there.

I do see some warning in the kernel logs which may help here:

[code]

[logs.txt](https://github.com

[2022-05-13 22:25] DemiMarie commented on #7481
Looks like a kernel bug: if I understand the code and the stack trace correctly, i915 is waiting for xen_gntdev to finish its MMU notifier invalidation callback, but xen_gntdev is waiting for the unmapping of the pages to complete.  That, in turn, cannot happen until i915 to drop its references to the pages.  Result: deadlock.

I don’t see any reason for the invalidate callback to block on the pag

[2022-05-13 22:38] DemiMarie commented on #7481
@icequbes1 what name and email would you like me to use in the `Reported-by`?

[2022-05-14 04:09] andrewdavidwong commented on #6124
I don't understand. Could you please explain more clearly?

[2022-05-14 04:44] andrewdavidwong commented on #7381
(For anyone else following the discussion, we're referring to this page: https://www.qubes-os.org/doc/windows/)

Well, it doesn't really fit under "Templates," because there isn't a template package you can download and install, and it's not handled the way actual templates are. It also *technically* doesn't fit under "Operating system guides," since that's under "External documentation," and this

[2022-05-14 08:59] GWeck commented on #7381
Thank you for moving the Windows documentation!

I think the very last of your suggestions may be the best and the easiest one: Just move the landing page to the community docs. This page really has not much content, it just provides links to the real documentation. So, for me as an external observer, there is no difference if is flagged as internal or community.

As to the future: After EOL of Qu

[2022-05-14 09:47] GWeck commented on #7381
As the documentation is now quite complete, I close this issue.

[2022-05-14 09:47] #7381 closed

[2022-05-14 10:42] GWeck commented on #7240
The WCMT is signed, but this signature is from 29-SEP-2021. So it has to be older than the downloaded iso and cannot contain its signature or checksum.

[2022-05-14 13:28] DemiMarie commented on #7481
I am not marking this as “diagnosed” because there could be a deeper problem somewhere in the Linux kernel memory management system, or a bug in the i915 driver.  However, QubesOS/qubes-linux-kernel#583 should at least avoid the hang.

[2022-05-14 16:26] Geblaat opened #7506 "Disable AMD PSF (Predictive Store Forwarding) by default"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

AMD Zen 3 and newer CPU's introduce PSF, a new speculative execution feature. This may pose a risk. Since Qubes OS also disables SMT/HT by default for security reasons, I'm assuming that if there is a possibility that it poses a risk to the security of Qubes, we want it disabled

[2022-05-14 18:25] icequbes1 commented on #7481
Message ID: ***@***.***>The name "icequbes1" is fine, otherwise I don't mind any attribution.

I'll give the PR a try sometime over the next 2 days.

I have only seen this issue on my T460s machine. The T430 doesn't experience this. Both have integrated GPUs and use the i915 driver.

[2022-05-14 19:01] tzwcfq opened #7507 "Graphics artefacts with Intel UHD Graphics 770 and kernel 5.17.7"
### Qubes OS release
Qubes R4.1 current-testing

### Brief summary
CPU: Intel i9-12900K
I'm using integrated GPU Intel UHD Graphics 770 as my display source.
After updating kernel-latest to the version 5.17.7 and booting Qubes with it I'm getting graphics artefacts in places where the image is being redrawn. This problem is present starting with LUKS password input stage.
The kernel version 5.17.5

[2022-05-14 21:14] marmarek commented on #7480
:tada:

Unlikely, I have been running a kernel with similar patch for some time and the issue did happened. I have looked at the changelog between 5.17.5 and 5.17.7 and haven't found anything suggesting a fix for the sound, but that could be a side effect of anything else.

[2022-05-14 22:17] DemiMarie commented on #7481
Please ignore the PR for now; I don’t think it even compiles.

[2022-05-14 22:20] DemiMarie commented on #7506
My understanding (@marmarek @HW42 @andyhhp feel free to correct me) is that this is not exploitable except when Speculative Store Bypass would also be exploitable, and that is typically turned off by browser renderers (only).

[2022-05-15 01:29] brendanhoar commented on #1544
R4.0 kernel-latest=5.17.7 current-testing:

Just ran into the "failed to get contiguous memory for dma from xen" in sys-net-dm after shutting down all networking VMs and trying to start them again.

Several retries failed.

I saved all my work, shut down everything but dom0 and sys-net started w/o issue.

Pretty sure this happened one other time recently as well, can't prove it though.

Next time

[2022-05-15 01:40] xloem commented on #1544
I'm no longer using Qubes, but it looks like a workable next step here would be to take the effort to find what device file (and possibly kernel parameters) display the physical memory mapping of the system. Then this can be reviewed on next occurrence to verify that the instance is memory fragmentation, see if shrinking dom0 resolves it, and possibly discern a minimum contiguous block needed by t

[2022-05-15 02:10] brendanhoar opened #7508 "Dom0 Kernel updates do not properly clean up /usr/lib/modules"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.0 current-testing kernel-latest

### Brief summary
/usr/lib/modules/ directory has non-empty directories for every kernel installed on system since install.

### Steps to reproduce
cd /usr/lib/modules
du -d 1 -h .

### Expected behavior
One large directory per installed  kernel

### Actual behavior

[2022-05-15 10:26] jevank opened #7509 "qui-domains widget crash with xcb errors"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1 w/ current-testing repos

### Brief summary

qui-domain widget was crashed with such messages:
[code]
I also see process coredump stored.

### Steps to reproduce

Cannot reproduce

### Expected behavior

Widget works

### Actual behavior

Widget was crashed and restarted

[2022-05-15 12:22] tzwcfq commented on #7477
For now I've done this with devilspie2:
[code]
Paste this text inside config and change `myvmname` to your HVM name:
[code]
Create systemd service:
[code]
Paste this text inside and change `User` and `Group` to your username:
[code]
Then enable and start service:
[code]

[2022-05-15 13:38] DemiMarie commented on #7508
I have noticed the same thing myself and come up with a script for cleaning it up.  I wonder if the use of overlayfs is responsible.

[2022-05-15 13:59] resulin opened #7510 "Error when shutting down whonix templates."
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

### Steps to reproduce

Shutting down a whonix based VM (either whonix-ws or whonix-gw).

### Expected behavior

No error.

### Actual behavior

Error when shutting down whonix templates, also if done using the Qube Manager or the Qube Widget they both lag and become unrespons

[2022-05-15 14:00] resulin commented on #7510
This only started happening recently (~1 week ago).

[2022-05-15 16:28] DemiMarie opened #7511 "qubes-manager crashes with “ICE default error IO handler doing an exit(), pid = XYZ, errno = 32”"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1 with current-testing enabled

### Brief summary

qubes-manager has crashed in the past with “ICE default error IO handler doing an exit(), pid = XYZ, errno = 32”

### Steps to reproduce

Not sure.  I believe it has to do with the Admin API being slow.  Should be fixed when #4719 is.

### Expected

[2022-05-15 17:07] tetrahedras opened #7512 "4.1 upgrade breaks Qubes VPN tools (Qubes-tunnel/Qubes-vpn-support)"
### Qubes OS release
4.1

### Brief summary
After upgrading to 4.1, configurations of the Qubes VPN tools which previously were known-good (Qubes-vpn-support installed on fedora-33) no longer work. Configurations which should work (Qubes-tunnel on debian-11) do not work.

Therefore, it seems likely that something about 4.1 is breaking these tools.

See discussion [on the Qubes forum](https://forum

[2022-05-15 17:36] DemiMarie commented on #7510
The unresponsiveness is likely in part due to #4719.  Do you have anything interesting in `/var/log/libvirt/libxl/sys-whonix.log`?

[2022-05-15 17:36] DemiMarie commented on #7509
`XInitThreads` should be being called somewhere very early on, so that not happening is a bug.

[2022-05-15 18:00] OrangeCakeZero commented on #6823
Hello, Does the GRUB setup of @hackerfactor exposes dom0 to any USB devices before entering LUKS passphrase (before LUKS decryption) or is the exposure limited to Yubikey devices? If if there is such a limitation, doesn't this limit the attack surface more?

[2022-05-15 21:36] qubeslaptopissue commented on #7472
Not sure how to do that?

[2022-05-15 23:39] DemiMarie commented on #7472
I’m actually not sure either, at least not without looking at the installer.

[2022-05-16 07:38] arkenoi commented on #5706
Now I have the same issue since I upgraded sys-net to fc35. Anything else I can do to help to resolve?

[2022-05-16 07:51] arkenoi opened #7513 "Regression: X server hangs silently on 5.17 kernels after a while, Intel UHD graphics"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Since I updated to 5.17 kernel, the X server became unstable and hangs completely after a while, sometimes leaving graphic artifacts (multiplied window borders) on the screen

### Steps to reproduce

Update Qubes with 5.17 kernel. The hardware is 10th generation i7 NUC. Appare

[2022-05-16 07:55] arkenoi commented on #7513
Possibly related: https://github.com/QubesOS/qubes-issues/issues/7481

[2022-05-16 10:40] andyhhp commented on #7506
Please read the whitepaper.  https://www.amd.com/system/files/documents/security-analysis-predictive-store-forwarding.pdf

PSF is designed in a post-Spectre world, with auto-flushing at all privilege changes.  The only case to be concerned by the intra-mode training case, and for that, the existing prctl for SSBD turns off PSF too.

In other words, you really don't want to be forcing this off by d

[2022-05-16 10:56] tzwcfq commented on #7507
I've tried Xubuntu 22.04 with kernel 5.17.7 from kernel-ppa:
https://kernel.ubuntu.com/~kernel-ppa/mainline/v5.17.7/
And it works without any problem.
So it should be Qubes-related issue or maybe Xen-related issue.

[2022-05-16 11:07] resulin commented on #7510
@DemiMarie

I can't tell from looking at it but here's my entire sys-whonix.log. https://privatebin.net/?6b82b3a92c3cb250#6gAZvyZ3TbeFH7gkcHSMojPAHu2HvaGe7JW4L5pbVdWX

People in the forms are reporting that it's related to https://github.com/QubesOS/qubes-issues/issues/7404 : https://forum.qubes-os.org/t/suspend-swap-and-whonix-gateway-performance-issues/11310/3

[2022-05-16 11:12] resulin commented on #7510
I don't know if it's related but I also noticed that `systemd-socket-proxyd` jumps to 100% CPU usage after a while. I have to keep killing it each time.

[2022-05-16 13:39] DemiMarie commented on #7506
Closing as “won’t do” (the Qubes team does not plan to implement this change).  As per @andyhhp (noted x86 expert), this change would lose performance for no gain whatsoever.

[2022-05-16 13:39] #7506 closed

[2022-05-16 14:13] DemiMarie commented on #7510
`systemd-socket-proxyd` spinning at 100% CPU is a systemd bug.  Please report it to systemd if it is one of the two most recent versions, or to your distribution maintainer otherwise.  Only report it here if it is in dom0.

[2022-05-16 15:59] Geblaat commented on #7506
Thank you for the

Thank you for the explanation!

[2022-05-16 16:27] DemiMarie commented on #5706
Problem is almost certainly with how Qubes configures DNS in the presence of systemd-resolved.  Can you provide the output of `sudo iptables-save` in sys-net?

[2022-05-17 00:20] DemiMarie commented on #7506
Why is this implausible?  Serious question; it isn’t obvious to me.

[2022-05-17 02:18] DemiMarie opened #7514 "Run thin_trim when activating thin pools"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Running blkdiscard on thin volumes is slow.

### The solution you'd like

LVM should run thin_trim during volume activation.  This requires an (easy) LVM patch.

### The value to a user, and who that user might be

Users will benefit from improved VM shutdown time.

[2022-05-17 05:38] brendanhoar commented on #7514
Would this be during "volume activation" or during "thin pool activation"?

B

[2022-05-17 09:55] andyhhp commented on #7506
To generate a snoop on demand, you have to have a shared mapping.  In this scenario, the attacker is trying to leak a secret on the current CPU where it doesn't have a shared mapping (or it would read the secret directly), but does have a shared mapping on another CPU (to generate the snoop to begin with), at which point why doesn't it just read the secret out on the other CPU.

[2022-05-17 12:32] DemiMarie commented on #7514
Pool activation.  `thin_trim` cannot be run on metadata that the kernel is currently using, as doing so would likely cause data loss.  The only safe time to run it is when the thin pool has not been activated.

[2022-05-17 12:50] DemiMarie commented on #7514
The reason this is easy is because LVM already calls `thin_check` to check that the metadata is consistent before activating a pool.  It turns out that LVM already knows what the path to the data volume is, so it can just call `thin_trim` at that point.

[2022-05-17 13:12] resulin commented on #7510
@DemiMarie

After adding these lines to `/etc/libvirt/libvirtd.conf`:

[code]

And then running `systemctl restart libvirtd` I run into the following error:

[code]

[code]

[2022-05-17 13:58] brendanhoar commented on #7514
Right. I was being a bit pedantic on the wording of the ticket/issue. :)

B

[2022-05-17 14:01] andrewdavidwong commented on #7381
Done. (See commits referenced above.)

Sounds fine. Thanks again for all of your hard work!

[2022-05-17 14:02] brendanhoar commented on #7514
Two things:

1. Obviously thin_trim (and activation) should not be called if thin_check reports errors or if attempts to low-risk resolve those errors fail.

2. May I advocate for thin_trim invocation both during pre-pool activation during normal startup as well as post-pool deactivation during normal shutdown.

B

[2022-05-17 16:12] DemiMarie commented on #7514
Indeed so; this would make no sense and be dangerous.

This might be a more difficult patch.  My current plan is to call `thin_trim` after any successful call to `thin_check`, which is easy due to how the LVM codebase is structured.

[2022-05-17 16:15] DemiMarie commented on #6969
@marmarek please upload this to stable

[2022-05-17 16:18] DemiMarie commented on #7510
Can you post the full log output of libvirtd?

This is a libvirtd bug, but should not be causing libvirtd start to fail.

[2022-05-17 18:04] anonaddict opened #7515 "Table of contents in FAQ for linking"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
Most pages have a table of contents so you can easily link to each subject or navigate the FAQ when looking at it for the first time so they are presented with 10-20 lines when looking a solution to their problem instead of having to skim an entire faq. The people helping will al

[2022-05-17 18:48] tzwcfq commented on #7515
It's already available, example:
https://i.ibb.co/CQQdGQ9/qubes-faq-link.png
https://www.qubes-os.org/faq/#how-does-qubes-os-provide-privacy

[2022-05-17 21:09] anonaddict opened #7516 "Improved certified hardware"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
Low spec certified hardware

### The solution you'd like
Work with a vendor to provide higher-spec hardware

### The value to a user, and who that user might be
Given the nature of qubes it swallows a *lot* of RAM. While people running a normal linux distro or even windows on 8-1

[2022-05-17 23:18] kuruczgy commented on #6923
Well it seems like I am dealing with this issue too :/

@isodude, do you have any known working qubes setup? From what I gathered in this thread xen 4.15 solves the PSP issue. Would there be any downside to simply running that? Are there any qubes specific patches needed, or can I just throw upstream xen 4.15 at qubes builder?

Any progress on this? Is there an upstream bug report? I haven't run i

[2022-05-17 23:36] DemiMarie commented on #6923
Can you do a bisection @isodude?

[2022-05-17 23:37] DemiMarie commented on #7516
I have 16gb RAM and I regularly run into out of memory conditions.

[2022-05-18 02:43] brendanhoar commented on #7516
I was very lucky when I ran into Qubes (2015? 2016?) via the Open Technology Fund (OTF) where a friend worked. Especially as I had already purchased a Thinkpad W520 in 2011 (via IBM EPP discount) that supported 32GB TAM (4x RAM slots).

I find that if you must use large memory footprint HVMs (e.g. Windows) for some work, while also having several other non-sys VMs open, having at least 32GB of RAM

[2022-05-18 06:24] andrewdavidwong commented on #7515
As @tzwcfq pointed out, every hearing already has an anchor link icon. You just have to hover your cursor over the heading to see it (or, on a mobile device, tap or long press). Since this issue is primarily about linking, does that resolve your concern?

Having a table of contents for the purpose of reading or skimming would be nice, and we used to have one, but it became too unwieldy to manually

[2022-05-18 06:28] andrewdavidwong commented on #7515
Is this a duplicate of #7005?

[2022-05-18 06:36] andrewdavidwong commented on #7516
Based on our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), this does not appear to be suitable for `qubes-issues`. (Too general and not specifically actionable. Misunderstands how the hardware certification process works.) We ask that you please post this on the [Qubes Forum or `qubes-users` mailing list](https://www.qubes-os.org/support/) instead. If, after reading ou

[2022-05-18 06:36] #7516 closed

[2022-05-18 08:38] VasoVV commented on #7230
Fresh installation of 4.1 with updates still contains _dummy-psu-dom0_ in `/srv/formulas/base/virtual-machines-formula/qvm/default/sys-gui-gpu.sls`

[2022-05-18 16:18] tlaurion opened #7517 "Document HVM/PVH/PV"
Thanks to @DemiMarie to have answered a Heads user question better then I could under Heads Slack/Matrix channel:

Dropping it here because this at least deserves to be searchable for the more global community.

I would suggest updating https://www.qubes-os.org/doc/standalones-and-hvms/ with that information!

[2022-05-18 17:35] marmarek commented on #5706
Can you try installing [updates from current-testing repo](https://www.qubes-os.org/doc/how-to-install-software/#testing-repositories), especially qubes-core-agent* 4.0.65?

[2022-05-18 19:03] DemiMarie commented on #7517
For the record: what I wrote (which is identical to what @tlaurion quoted, if I read correctly) is:

[2022-05-18 19:48] DemiMarie commented on #7515
I think so, yes.

[2022-05-18 19:50] andrewdavidwong commented on #7517
@DemiMarie, would you like to open a qubes-doc PR to add this?

[2022-05-18 19:50] andrewdavidwong commented on #7515
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-05-18 19:50] #7515 closed

[2022-05-18 19:51] arkenoi commented on #5706
I have 4.1.34-1

[2022-05-18 20:14] marmarek commented on #5706
For Qubes 4.1 the fixed version is 4.1.35

[2022-05-19 19:03] Kenny606 commented on #7451
Thanks. I'll run an update tonight :)
If for some reason it still doesn't work I'll try recreating sys-gui-gpu and give it a clean slate post-update.

[2022-05-19 20:04] marmarek commented on #7465
Some more confusing observations:
1. When I detach pulseaudio from the device, I can use `aplay something.wav` to play audio (same file and format each time, I believe the exact format doesn't really matter) - it will _sometimes_ work, it looks like waiting a little between trials makes it more likely it will work. But trying one immediately after another often works too.
2. When connecting pulsea

[2022-05-19 21:34] brendanhoar commented on #7465
It's rather maddening.

I haven't had a block of free time to continue diagnosis since my last post.

B

[2022-05-19 21:46] DemiMarie commented on #7465
@brendanhoar @marmarek looks like it will take a kernel bisection.

[2022-05-20 04:38] qubeslaptopissue commented on #7472
I don't think I seen anything on the installer myself.

If anyone has anymore suggestions please tell.

[2022-05-20 06:31] 51lieal commented on #7398
I think the problem is around kernel support / qubes storage driver, here's my another test.

-- btrfs 512
# /var/log/xen/console/guest-bullseye-minimal.log
[2022-05-20 09:05:30] Waiting for /dev/xvda* devices...
[2022-05-20 09:05:30] Qubes: Doing R/W setup for TemplateVM...
[2022-05-20 09:05:30] [    2.852297]  xvdc: xvdc1 xvdc3
[2022-05-20 09:05:30] Setting up swapspace version 1, size = 1024 Mi

[2022-05-20 11:58] glenjennings opened #7518 "Failed USB Installation - Warning: dracut-initqueue timeout - starting timeout scripts"
### Qubes OS release

Qubes OS R4.1.0-x86_64.iso

### Brief summary

When I boot from USB I can't make it to the Installation Setup Panel because I get a timeout script dump

### Steps to reproduce

1) Download latest Qubes OS ISO from https://www.qubes-os.org/downloads/
2) Verify the ISO file
3) Download Rufus
4) Create Bootable USB Image and select "DD" image
5) Reboot computer
6) Select to boot

[2022-05-20 14:07] DemiMarie commented on #7398
Looks like the sector size in dom0 does not get propagated to the VMs.

[2022-05-20 14:12] DemiMarie commented on #7472
@fepitre can you help?

[2022-05-20 14:14] DemiMarie commented on #7518
Looks like something is horribly wrong with your firmware.  Does a firmware update help?

[2022-05-20 14:58] marmarek commented on #7399
Duplicate of https://github.com/QubesOS/qubes-issues/issues/4974 ?

[2022-05-20 15:02] marmarek commented on #7398
This is a tricky issue. All the filesystem images (and partition tables) needs to be adjusted. Currently we ship all the templates the same - with 512 sector size. This is an issue not only for fresh installation, but also later, if you clone/migrate VMs between storage pools. Maybe we could have some magic in initramfs that will adjust the filesystem on boot, but in general case this is a good so

[2022-05-20 15:29] DemiMarie commented on #7399
Yup, closing as a duplicate of #4974.

[2022-05-20 15:29] #7399 closed

[2022-05-20 15:38] brendanhoar commented on #7398
It would be interesting to survey how other Linux-based VM environments, which support templating or host-migration, have handled this problem during the transition to 4Kn hardware (other than forcing 512e mode).

B

[2022-05-20 15:54] DemiMarie commented on #7518
Do you still get the `[Firmware Bug]` messages?

[2022-05-20 15:56] DemiMarie commented on #7518
Also, can you select a different kernel in the installer @glenjennings?

[2022-05-20 16:34] tzwcfq commented on #7518
You can try latest Qubes 4.1 ISO build with kernel-latest from here:
https://qubes.notset.fr/iso/

[2022-05-20 17:39] resulin opened #7519 "Windows get frozen (accept keyboard input but stay graphically static) after waking up from suspend"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Windows get frozen (accept keyboard input but stay graphically static) after waking up from suspend. Note that I manually applied the patch @ https://github.com/QubesOS/qubes-core-admin/pull/473

### Steps to reproduce

Running some VMs, mostly whonix-ws based ones. Wake the s

[2022-05-20 17:42] 51lieal commented on #7398
I might be wrong, but in above example, all fs and partition tables has been adjusted to 4k as you can see here.

![image](https://user-images.githubusercontent.com/19891105/169582746-7f28e476-2b34-49c5-af39-2d924fb700b1.png)

[2022-05-20 18:14] #7519 closed

[2022-05-20 18:15] resulin commented on #7519
https://forum.qubes-os.org/t/suspend-swap-and-whonix-gateway-performance-issues/11310/12

[2022-05-20 18:54] tzwcfq commented on #7518
I think after dracut-initqueue timeout you'll be able to enter the shell and copy logs on another USB.
You can check logs location here:
https://docs.fedoraproject.org/en-US/quick-docs/anaconda/anaconda_logging/

[2022-05-20 22:36] qubeslaptopissue commented on #7472
I will look into this ASAP first and then I will perhaps attempt with XFS. Hopefully something works because this is my full time device. Also does anyone have any tips for improving battery life? Probably not, but it feels kind of short on Qubes compared to how it should be for a fairly new laptop.

Can anyone even offer an explanation for why this is happening? Its such a drastic change in perfo

[2022-05-20 23:56] mfc commented on #6824
i faced the same issues after upgrading Heads firmware. error in ` /var/log/libvirt/libxl/libxl-driver.log` is same:
`libxl__device_pci_reset: The kernel doesn't support reset from sysfs for PCI device 0000:00:14.0`

running `sudo qubesctl state.sls qvm.sys-usb` did not fix this, which is surprising if this is supposed to be done by default for sys-usb.

i needed to set `no-strict-reset` on *all*