[2020-09-12 01:01] DemiMarie commented on #6024
@marmarek worth noting that this problem has happened again.

[2020-09-12 01:02] DemiMarie commented on #6024
We are now between 3 and 4 versions out of date.

[2020-09-12 01:16] andrewdavidwong commented on #6046
Duplicate of #3898

[2020-09-12 01:16] andrewdavidwong commented on #6046
Thank you for trying to search beforehand. This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, i

[2020-09-12 01:16] #6046 closed

[2020-09-12 01:34] DemiMarie commented on #6024
I suspect we need a better process.  What if we periodically poll upstream instead of relying on manual approval for each new version?

[2020-09-12 03:05] DemiMarie commented on #5294
@brendanhoar Maybe.  Have you considered upgrading to Windows 8.1 or 10?  Windows 7 is EOL.

[2020-09-12 03:11] brendanhoar commented on #5294
Oh definitely, just hasn’t been a high priority as the win 7 VMs aren’t network connected.

Slowly working on my steps to set up
some win 10 Lts and/windows server templates, but what with (tele-)work, full-time at-home parenting (yay! ...but overwhelmed) plus all the other stuff (gestures disapprovingly) going on...not quite there yet.

[2020-09-12 06:45] fepitre commented on #6024
Currently, it's my bot who takes care of fetching new version, config and building for testing. The only manual step remaining is @marmarek's merge. This rule applies for every repository. We are currently thinking if we could find a way for kernel to have automatic merging but that requires sanity checks. The issue here is @marmarek's schedule and time already massively overloaded...

[2020-09-12 07:42] Zombie-Fairy commented on #6046
Andrew, thanks and sorry ... no clue as to why I did not notice it as a dup.
As I find it helpful in many ways, to know, that this seems to be more of a general issue, I'll add the Ubuntu-link to #3898.

[2020-09-12 07:43] Zombie-Fairy commented on #3898
Here is a link to ubuntu bugtracker that seems to shed a light on the fact, that this is sort of a more generic issue:
https://bugs.launchpad.net/ubuntu/+source/gnome-screensaver/+bug/49579

[2020-09-12 07:46] Zombie-Fairy commented on #3898
Who ever will fix this, might want to look at this one:
https://bugs.launchpad.net/ubuntu/+source/gnome-screensaver/+bug/49579
It seems to be more of a generic thing ...

[2020-09-12 09:58] deeplow commented on #6034
The only thing missing was just a (re-clarification) on the `sys-net` `sys-firewall` interconnect but upon re-reading the conversation, it seems both @andrewdavidwong and @fepitre agree it should be green (as it is now). So I think we can move forward and merge this and address fixes in the components diagram later. Sound good?

Yes, let's keep the conversations separate.

[2020-09-12 10:09] fepitre commented on #6034
@andrewdavidwong Sorry if I was no clear. I was meaning that the update proxy runs into `sys-net` so when updating template, it uses directly `sys-net` and not `sys-firewall`. So I was seeing this connection as `green`. I don't know the historical choice for using `sys-net` as holding the update proxy and not `sys-firewall`.

@deeplow I'm waiting for Andrew's final feedback but it looks good for m

[2020-09-12 10:10] fepitre commented on #6034
BTW, once the pending PR is done I've asked to @marmarek and we will fork `qubes-diagrams` into QubesOS. @andrewdavidwong you should then be able to merge this into it too.

[2020-09-12 13:56] marmarek commented on #6029
Workaround:
[code]

[2020-09-12 16:53] DemiMarie commented on #6024
@fepitre what if we required that the only automerged PRs were those that were signed and only bumped the version number?

[2020-09-12 16:57] DemiMarie commented on #6008
Could we have our lists archived somewhere else, such as https://marc.info or self-hosted Mailman?

[2020-09-12 17:29] fepitre commented on #6024
It can work for LTS kernels because the autoupdater does not fetch for newer config. But it's not the case for `kernel-latest`. It tries to get the most updated config from Fedora. I wonder if we cannot find a way to mitigate possible broken/bad config. A possibility could be to test all the kernel PRs into openQA to check that it will not break something. It has the advantage to test and validate

[2020-09-12 20:05] #6029 closed

[2020-09-12 20:50] DonKult commented on #1919
(Disclaimer: I am contributing to APT for ten years now, so I might be highly biased. I also feel a bit weird being summoned off-list into a huge thread about various things slowly turning – of all possible things – into a shallow security review of APT based on a fixed CVE …?)

I think discussing DSA-4371 here isn't very helpful as it doesn't have too much to do with signing packages vs. metadata

[2020-09-12 23:54] jpouellet commented on #1919
I'd just like to point out that from the perspective of (dis)trusting
infrastructure, there is an advantage in *also* signing packages
individually (in an abstract sense, not referring to any specific package
or repo format), depending on how it's done, rather than the only
distributed signature being of an aggregation of package hashes at the repo
level. To be clear, I'm saying *in addition* to,

[2020-09-13 01:26] unman commented on #6008
On Sat, Sep 12, 2020 at 09:57:19AM -0700, Demi Marie Obenour wrote:

qubes-users and qubes-devel are already archived at mail-archive.com

[2020-09-13 04:45] tasket commented on #1919
I think this is also falling into the trap of reinforcing the pre-Qubes status quo, which is "hide context from end users", instead of thinking strategically about what role the user can play. Displaying a timestamp gives us a better chance to defend ourselves.

What's concerning is the _not-a-nice-UI_ argument logically leads to this question.....  Why use Qubes at all when the user has to use VM

[2020-09-13 05:32] andrewdavidwong commented on #6034
Looks good to me. Thank you!

[2020-09-13 06:03] andrewdavidwong commented on #1919
@DonKult: Thank you very much for the detailed response. I apologize that you were summoned here. You're right that I should have asked my questions on the appropriate Debian mailing list instead, but thank you for indulging my curiosity here nonetheless.

Apologies to others, as well, if I took us too far afield from the original topic. As many of you have noted, the high-level questions about tr

[2020-09-13 08:05] fepitre commented on #6034
@andrewdavidwong @deeplow I've forked `qubes-diagrams` into https://github.com/QubesOS/qubes-diagrams with latest PR merged.

[2020-09-13 11:04] Polygonbugs commented on #2624
Can you give help to make Windows USB support? I think it is related to #5802

[2020-09-13 11:09] dylangerdaly opened #6048 "Unable to attach USB to appVM via sys-usb (qrexec or usb-proxy)"
**Qubes OS version**
4.1

**Affected component(s) or functionality**
qrexec and or usb-proxy

**Brief summary**
When attempting to attach a USB Device to a Qube (any USB Device to any appVM) I'm greeted with the error

[code]

Not sure how/where "backend side" is but sys-usb is running the latest version of qubes-app-linux-usb-proxy (version 1.0.29) on both dom0 and sys-usb/sys-net.

Running syste

[2020-09-13 11:17] #6034 closed

[2020-09-13 11:19] marmarek opened #6049 "[Build 2020091301-4.1] openQA test fails in suspend"
## Observation

openQA test in scenario qubesos-4.1-update-x86_64-system_tests_suspend@64bit fails in
[suspend](https://openqa.qubes-os.org/tests/11852/modules/suspend/steps/18)

Serial console:
[code]

(system reset without any further details on what has crashed)

## Reproducible

Fails since (at least) Build [2020083105-4.1](https://openqa.qubes-os.org/tests/11556)

Fails since update Xen 4.13

[2020-09-13 11:23] andrewdavidwong commented on #6034
The new version is now live on the website! :tada:

Thank you @deeplow, @fepitre, and @GWeck!

[2020-09-13 12:09] fepitre commented on #6034
I really like it!

[2020-09-13 13:03] andrewdavidwong commented on #2624
Since qubes-issues isn't intended for help or support requests, you might want to ask on the [qubes-users mailing list or the forum](https://www.qubes-os.org/support/) instead. Thank you for your understanding.

[2020-09-13 13:04] andrewdavidwong commented on #6048
Possibly related: #5905

[2020-09-13 13:09] tasket commented on #1957
I would like to think I could do it justice right now, but the salt codebase looks opaque to me (no reflection on unman, I just don't know salt). I'll revisit the issue in future to see if anyone else has picked up your offer or if I find someone who can do so.

[2020-09-13 13:20] dylangerdaly commented on #6048
Indeed it :100: is related, setting sys-usb to use 5.4 results in successful USB Attachment/Detachment. :tada:

Apologies for not testing this, issue closed.

[2020-09-13 13:20] #6048 closed

[2020-09-13 13:21] andrewdavidwong commented on #6048
No worries. I suppose I'll mark this as a duplicate of #5905, then.

[2020-09-13 13:21] andrewdavidwong commented on #6048
Duplicate of #5905

[2020-09-13 17:02] 100111001 commented on #6033
This issue can be closed. unman pointed me into the right direction. In the upper solution I'm trying to use:
/srv/salt/user_salt
instead of the correct directory:
/srv/user_salt

[2020-09-13 17:02] #6033 closed

[2020-09-13 18:03] #6018 closed

[2020-09-13 18:03] #6035 closed

[2020-09-13 18:14] DemiMarie commented on #1919
@DonKult From what I can tell, the real problem is that the main process puts too much trust in the helper.  If the helper is trusted, there is no real point in confining it.  If it is *not* trusted, then the hashes it sends back *also* cannot be trusted.  Instead, the parent process needs to copy the file (since the helper might still have access to the file it just downloaded) and calculate the

[2020-09-13 18:47] iamahuman commented on #6041
Should this feature be included in Qubes R4, we should either:

1. Revive the `qvm-trim-template` tool (which already does something similar in effect to `fallocate` anyway), and extend it to automatically deallocate any possible remaining blocks filled with zeros.
2. Patch the Linux kernel so that the `snapshot-origin` Device Mapper target would support discard operations. Optionally, passing the

[2020-09-13 18:54] iamahuman commented on #6041
In short, we shall either:

 - Bring back the file pool to first-class support (including TRIM support), or
 - Clearly deprecate the file backend in favor of LVM. By "clearly" we mean printing warning messages from Qubes admin tools as well as the setup process for a new Qubes installation.

[2020-09-13 20:40] heinrich-ulbricht commented on #6032
I am using a hardware SATA switch to switch between 2 "main" SSDs, one running Qubes OS and one Windows. Could this lead to caches being invalidated somehow or stuff being detected as "new"? Dunno. Thought I should mention it.

[2020-09-13 22:47] marmarek opened #6050 "xen-utils-4.14 breaks Debian-based sys-usb as qvm-block device provider"
service was down. After reinstalling xen-utils-4.13 qvm-block attach works again. (I had removed xen-utils-4.13 and xen-hypervisor-4.13 after running 'apt update && apt full-upgrade' because they had been listed among the apt autoremove packages. Apologies.)

So now both xen-utils-4.13.1-4 and 4.14.0-2 are installed to the sys-usb template.

_Originally posted by @0spinboson in https://github.com/

[2020-09-13 22:49] #6050 closed

[2020-09-13 23:01] indolering commented on #1919
Don't discount economics: there is no commercial motivation to sign these packages.  Red Hat doesn't provide GPG signatures for RHEL ISOs, you verify the ISO checksum by signing into their licensing portal.  Red Hat, Ubuntu, and Suse [respond to questions about reproducible builds with marketing speak](https://arstechnica.com/information-technology/2016/12/how-to-make-linux-more-trustworthy/) abou

[2020-09-14 00:15] indolering opened #6051 "RHEL and/or Oracle Linux in dom0"
**The problem you're addressing (if any)**
Using Fedora in dom0 entails a lot of updates and instability.

**Describe the solution you'd like**
Red Hat breaks off a version of Fedora ~5 years, releases a cleaned up version as RHEL, and supports it for 10 years.   [App Streams](https://developers.redhat.com/blog/2018/11/15/rhel8-introducing-appstreams/) are available, so Qubes won't be stuck on old

[2020-09-14 00:48] marmarek commented on #6051
That isn't really helping - RHEL indeed is provide stable support long time, and they do that by supporting extremely limited package set. @fepitre tried to port dom0 to CentOS 8 before, and even when adding EPEL repositories many required packages were missing (see https://github.com/QubesOS/qubes-issues/issues/1919#issuecomment-689658900). So, we'd get longer support for base packages at the pri

[2020-09-14 00:48] #6051 closed

[2020-09-14 01:43] marmarek opened #6052 "Linux PV domain crashes on Xen 4.14"
**Qubes OS version**
Qubes 4.1

**Affected component(s) or functionality**
Xen, Linux

**Brief summary**
Starting a Linux PV domain results in a kernel panic. The same Linux version worked on Xen 4.13.

**To Reproduce**
_Steps to reproduce the behavior:_
_1. Install Qubes 4.1_
_2. Update to Xen 4.14_
_3. Try to start a Linux PV domain_
_4. Observe failed start and the crash message in `/var/log/xe

[2020-09-14 03:56] dylangerdaly commented on #6052
Why is PV even required? It's my understanding PV is terrible

[2020-09-14 05:42] iamahuman commented on #6052
@dylangerdaly I guess it mainly eases testing of Qubes OS without the need for nested virtualization.

[2020-09-14 09:36] zellchristensen opened #6053 "Qube Manager Does Not Refresh "Disk usage""
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Qube Manager

**Brief summary**
The "Disk usage" section doesn't seem to be refreshed when changes are made that affect it requiring a new instance to be loaded to view.

**To Reproduce**
1.) Open Qube Manager.
2.) Create new VM and copy some files to it and shut down  -OR- Clone existing VM (with disk usage) -OR - Rename exist

[2020-09-14 10:09] easydozen commented on #5802
I undestand that there are a number of priority issues and don't want to push on qubes team here. But actually, I've already have more or less working PoC solution. If someone wants to check it out take a look at winusb branch in my personal repos:

https://github.com/easydozen/qubes-vmm-xen-stubdom-linux/tree/winusb
https://github.com/easydozen/qubes-app-linux-usb-proxy/tree/winusb
https://github

[2020-09-14 10:45] marmarek commented on #5802
Can you send a patch to xen-devel?

[2020-09-14 11:46] unixos commented on #6052
Here it is working if I do the steps to reproduce

![screen](https://user-images.githubusercontent.com/5512731/93082088-91334000-f690-11ea-96f0-7a90ef443829.jpg)

[2020-09-14 12:10] marmarek commented on #6052
It may be related to the CPU model, since "pmc_core_probe" (the crashing function) is in "Intel PMC Core Driver".

[2020-09-14 14:07] zellchristensen opened #6054 "Unable to Detach/Unmount Block Devices using GUI"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Device Manager

**Brief summary**
Certain Block Devices persist in the device manager list and can't be detached/unmounted via GUI.

**To Reproduce**
Two separate methods.
Example 1
1.) Make sure Windows Tools are installed `sudo qubes-dom0-update qubes-windows-tools`
2.) Start new or existing VM with Windows Tools attached. `q

[2020-09-14 16:06] easydozen commented on #5802
https://lists.xenproject.org/archives/html/xen-devel/2020-09/msg00949.html

[2020-09-14 19:02] someotherkyle commented on #5193
just want to add that @hexagonrecursion 's  path added on 7/26/19 was where I found my shortcuts in i3's dmenu and the current docs still do not include this path

[2020-09-14 19:21] unixos commented on #6052
CPU is Intel i7 4790K

[2020-09-14 20:03] Rspigler commented on #6040
I had raised that previously to try to fix the problem - is it possible I raised it too high?

Initial memory: 2095 MB
Max memory:  20950 MB
VCPUs no.: 8
(Include in memory balancing checked)

[2020-09-14 22:13] lightyagamipotatochip commented on #5990
I reinstalled the OS but this time without the kernel-latest package and it happened again.

@PROTechThor I did that and the display has been working properly since then.
I don't understand a lot about Linux desktop environments but to me it doesn't seem like a fix but more like a workaround. What is the reasoning behind using Xfce?

Thanks for the help.

[2020-09-14 22:52] m-v-b commented on #6052
@marmarek, I encountered the same issue a few months ago on Qubes OS 4.0, when experimenting with PV-based VMs for a personal reason. I have a workaround in my local git tree, but I never got around to publishing it, mainly due to the workaround not being sufficiently elegant. It looks like you have run into the same issue.

In summary, the issue only occurs when the PV VM has less than 4064 MiB o

[2020-09-14 23:54] ejose19 commented on #5990
@lightyagamipotatochip it **is** a workaround, this issue has been reported previously (#4514, #2399) but no solution has been found yet. However you're not missing much disabling the display compositing.

[2020-09-15 01:12] unman commented on #6040
On Mon, Sep 14, 2020 at 01:03:30PM -0700, Robert Spigler wrote:

If I set *any* of my qubes to that level of maxmem, they wont start.
Just saying.

[2020-09-15 01:40] indolering commented on #6051
My apologies, there is so much bike shedding on #1919 I thought it would be helpful to breakout discussion here.  Would it be unhelpful to create tickets summarizing Nix/Guix, Ubuntu, and/or Alpine/Yocto/Gentoo?

That is unfortunate.  It is sometimes considered bad code smell if RedHat won't supporting something.  But it is unreasonable to try and upstream random libraries from Haskell, Perl, Pyth

[2020-09-15 04:40] andrewdavidwong commented on #5193
In case you (or anyone else reading this) is not already aware, the documentation is a community effort, and everyone is welcome to contribute. (That's how things like this get updated!) So, if you'd like to get involved with the project, this is a great way to do it. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/doc-guidelines/

[2020-09-15 04:50] andrewdavidwong commented on #5990
Are you suggesting these are all duplicates? The reporter of #4514 said that he doesn't think it's a duplicate of #2399.

[2020-09-15 06:54] dylangerdaly commented on #3175
I'm getting really, really terrible refresh rate on 4.1 with a 5K screen, I can confirm 4.0.3 was smooth as butter on the same machine.

So I'm not sure what the matter is, any/all electron apps are really, really, really slow.

[2020-09-15 07:27] dylangerdaly opened #6055 "Ryzen 4000 CPU Performance Issues (Lockups)"
**Qubes OS version**
4.1

**Affected component(s) or functionality**
Entire OS/Experience

**Brief summary**
There appears to be something wrong with the CPU, every 3-5 seconds everything will lockup, [here's a GIF for visuals](https://imgur.com/a/q7MQRez).

I've confirmed this is specific to AMD 4000 CPUs because 4.1 running on a i7-1065G7 works fine (Still at a much slower rate than 4.0.3 but th

[2020-09-15 07:36] 0spinboson commented on #6055
kernel-latest installed?

[2020-09-15 07:38] dylangerdaly commented on #6055
Indeed, 5.8.8-200

[2020-09-15 07:38] 0spinboson commented on #3175
if using amd, try installing xorg-x11-drivers-amdgpu in dom0? That said, electron apps (like Franz 5.x) are very slow for me, too.

[2020-09-15 07:40] 0spinboson commented on #6055
ah, yes. try going back to Xen 4.13.1-4. 4.14 was terrible for me too.

[2020-09-15 07:44] dylangerdaly commented on #6055
Aw, I can't, Ryzen 4000 series CPUs won't boot unless I'm using 4.14, I think I'll just need to wait for 4.15?

Can I rebase 4.14 to Xen's Master? I don't think Marek has made many changes to Xen

[2020-09-15 07:46] 0spinboson commented on #6055
I dunno, it probably needs troubleshooting to get it working right on 4.14, I just didn't really know where to look for error reports. (To be clear, I didn't have CPU lockups, just display issues once I opened more than a few VM windows concurrently.)

[2020-09-15 07:57] 0spinboson commented on #6055
https://news.ycombinator.com/item?id=23105463&p=2 ?

[2020-09-15 09:03] dylangerdaly commented on #6055
Oooooooo thank for @0spinboson for point me in the right direction

I think this has been fixed via adding `processor.max_cstate=5` to CMDLINE, I'm no longer getting softlocks and it's :butter: smooth.

I'll do some more testing before I close this issue :tada:

[2020-09-15 10:56] dylangerdaly commented on #6055
Hm, not quite, it worked for one boot, but not subsequent boots.

It does seem to be related to a public AMD issue because the bug is everywhere.

Fedora Workstation 32 Live USB works just fine, I'll have a look at it's default CMDLINE.

[2020-09-15 11:00] 0spinboson commented on #6055
you mean you added it to grub bootline? Did you run grub2-mkconfig after?

[2020-09-15 11:04] dylangerdaly commented on #6055
Yeah I've been testing with just hitting 'e' and inserting stuff into CMDLINE, I added `processor.max_cstate=5` to my actual grub2 config and did mkconfig etc same result.

It looks like it's could be related to IRQs, if I just leave it idling it'll be okay, if I start doing thing it'll soft lock.

It looks like AMD created a sixth C-State, setting it to 5 simply removes that C-State.

[2020-09-15 11:08] 0spinboson commented on #6055
just to be clear: you added it to /etc/default/grub, then ran grub2-mkconfig -o /boot/grub2/grub.cfg (assuming you use legacy boot, idk the efi equivalent), but it doesn't persist?

[2020-09-15 11:11] dylangerdaly commented on #6055
Yes, sometimes my HVMs don't come up, sometimes they do, I think this CPU has had basically no testing with Xen/Virtualization

[2020-09-15 12:29] jamke commented on #5647
Just a note: I never faced it again too.
For people reading this issue - the fix was in `qubes-gui-dom0 4.0.11` or somewhat higher.

[2020-09-15 14:41] ejose19 commented on #5990
@andrewdavidwong #4514 is mentioning alt+tab redraws the screen, which is basically #2399. I've suffered from this on the past before disabling display compositing and know to recognize this issue.

[2020-09-15 19:59] stiell commented on #6055
This looks very similar to what I exprienced on my Ryzen 4000 series laptop. While trying to fix wake-from-suspend (still not resolved), I discovered that the following workaround solves the lockup/stutter issue:
 - Add options `dom0_max_vcpus=1 dom0_vcpus_pin` to `GRUB_CMDLINE_XEN_DEFAULT` in file `etc/default/grub`.
 - Run `sudo grub2-mkconfig -o /boot/efi/EFI/qubes/grub.cfg` (assuming this is a

[2020-09-15 21:34] dylangerdaly commented on #6055
You absolute legend!

This has totally worked 🎉

I'll do some more testing with this today, but really smooth now.

Other appVMs are working smoothly!

Thank you 🙌

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 16, 2020, 5:59 AM, Stian Ellingsen wrote:

[2020-09-15 21:57] marmarek commented on #6055
Can it be related to (lack of) NUMA support in Qubes?

[2020-09-15 23:28] dylangerdaly commented on #6055
Yeah wow, Electron Applications (Element and Chromium for example) are running buttery smooth, even better than my Intel 10th Gen device running 4.1

Dare I say it's running better than 4.0.3

I think so, I'm trying to understanding what `dom0_max_vcpus=1` is actually doing, am I limiting my cores to 1? Because it doesn't feel like I'm only using a single core.

[2020-09-16 05:00] andrewdavidwong commented on #2581
@marmarek, is this fix intended to be in 4.0, as well? If not, what do you think of hiding the `gnome-terminal` shortcut from DisposableVM menu entries? A user [suggested](https://www.reddit.com/r/Qubes/comments/ir7cqe/dispvm_wont_launch_files_terminal_only_browser/g5ctxb5/) this as a way to avoid frustrating new users who are not aware of this bug.

[2020-09-16 05:44] andrewdavidwong opened #6056 "Reminder users to shut down TemplateVM in order for changes to take effect"
**The problem you're addressing (if any)**

This sort of problem is common:

1. User has a `work` TemplateBasedVM based on the `fedora-32` TemplateVM.
2. User starts `fedora-32` and installs a new application in it.
3. User (re)starts `work`.
4. User wonders why the new application is nowhere to be found in `work`.

Answer: User forgot to shut down `fedora-32` between steps 2 and 3.

We still get

[2020-09-16 07:19] PROTechThor commented on #4494
@en-casa Have you tried disabling your WiFi card in the BIOS before installing?

[2020-09-16 09:48] 0spinboson commented on #6055
correct. you can probably also set it to 2 though. :)

[2020-09-16 11:15] andrewclausen opened #6057 "qvm-device and qubesd: protocol error"
**Qubes OS version** R4.0 with all updates.

**Affected component(s) or functionality**
qvm-device and qubesd

**The Problem**

I can list/attach/detach devices correctly with the GUI "Qubes Devices" tool, but not on the command line:

[code]

[2020-09-16 11:17] andrewclausen commented on #6057
I should add: I am sure this worked last week.  I only noticed it stop working today.  I can't guess what changed.

[2020-09-16 11:24] marmarek commented on #6057
This couldn't possibly worked. You forgot device type, like `qvm-device usb list`.

[2020-09-16 11:24] #6057 closed

[2020-09-16 11:25] andrewclausen commented on #6057
Shouldn't qvm-device give an appropriate error message?

[2020-09-16 11:35] marmarek commented on #6057
What you've done is requested list of devices of "list" type, which doesn't exist. Yes, the error message could be improved.
https://github.com/QubesOS/qubes-core-admin-client/pull/162

[2020-09-16 12:16] andrewclausen commented on #6057
Thanks a lot @marmarek !

[2020-09-16 13:36] brendanhoar commented on #6055
Can I request a clarification for the thread?

This setting change (“dom0_max_vcpus=1“) only sets the virtual cpu limit for the dom0 and does not impact virtual cpus available to domU VMs, correct?

If so, then I’d posit the likely impact would primarily be on storage latency/throughput for most users (vs. faster with multiple vCPUs in dom0 with a real fix for the sleep states issue). And with AMD

[2020-09-16 14:58] 0rb677 commented on #4412
4.1 is absolute pre-alfa. It works slow on x220 instead 4.0 (maybe not optimized yet)

[2020-09-16 21:37] tasket commented on #1919
Indeed. But that just throws Fedora's practices into high relief. Its the odd one out, and the other distros manage just fine signing their metadata.

[2020-09-16 22:18] marmarek commented on #6051
By the way, for dom0 distribution, the speed of security fixed availability is not the primary choice factor. This is because our architecture specifically focus on separation to not even give a chance to attack various components. You can't exploit some web browser bug in dom0, because you don't run web browser in dom0 (and even if you do, it is isolated from the untrusted world AKA the Internet)

[2020-09-16 22:30] zellchristensen opened #6058 "Add Checkbox to "Remember" selected Boot Device"
**The problem you're addressing (if any)**
Under a Qube's Settings >> Advanced is a button to "Boot qube from CDDROM". This opens a window to select an existing block device or file in another qube.  Once selected and you hit OK, the Qube boots with the selected file but after shutting down or restarting, the file is unmounted automatically.  It would be great if there was an option to "remember"

[2020-09-16 23:00] zellchristensen opened #6059 "Mounted Block Devices are Not Accessible when using "Boot from CDROM" in Debian and Fedora based Qubes."
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Device Manager
Default Fedora/Debian templates.

**Brief summary**
When choosing to "Boot from CDROM" and selecting an ISO (non bootable) file on a Debian or Fedora based Qube, the ISO file shows up as attached in the Device Manager but does not appear inside the OS at all and doesn't seem to be accessible.

**To Reproduce**
1

[2020-09-16 23:54] dylangerdaly commented on #6055
Oof yeah good point, I messed up default storage pools, so I'm migrating from varlibqubes to lvm, just via dd.

It is slooooooow.

Also I wonder if maybe the GPU is suffering as a result of dom0, and by extension the vega driver being limited to 1 core?

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 16, 2020, 11:37 PM, Brendan Hoar wrote:

[2020-09-17 02:27] #4624 closed

[2020-09-17 02:27] #5618 closed

[2020-09-17 02:42] dylangerdaly commented on #904
What's the latest with this? Has it been merged into 4.1?

When I start a dispVM, it's still just using the default LVM pool, so it's still hitting my disk.

[2020-09-17 04:08] dylangerdaly commented on #6055
Yeah playing videos isn't working at all, 1 frame per second?

[2020-09-17 05:33] 0spinboson commented on #6055
it won't really matter to gpu as such, but do you have Xorg-x11-drv-amdgpu installed?
That aside, I'd suggest upping the max_vcpus to 3 or 4.

[2020-09-17 06:27] dylangerdaly commented on #6055
Yeah just installed it, isn't really making a difference.

It's weird, if I assign 2 or 4 cores to dom0, I get much, much worse performance, basically unusable performance.
I'm going to put it down to Xen support with AMD based processors and hope 4.15 I can drop the core limit.

[2020-09-17 11:20] johnnyboy-3 opened #6060 "AppVM automatic boot fail, dom0:md127 not available"
**Qubes OS version**
R4.0.3 up to date

**Affected component(s) or functionality**
boot sequence

**Brief summary**
see: https://qubes-os.discourse.group/t/appvm-automatic-boot-fail-dom0-md127-not-available/572

Hi,
automatic boot of a specific AppVM (vault) fails, due to missing block device.
I attached my RAID1 to the vault using:

    $ qvm-block attach vault dom0:md127 --persistent

But this f

[2020-09-17 15:32] sidhussmann opened #6061 "Qubes Updater breaks Debian-Testing Template"
**Qubes OS version**
R4.0.3 up to date

**Affected component(s) or functionality**
Debian Testing Template

**Brief summary**
While I'm aware that debian-testing is not officially supported, I believe that this bug is worth sharing and there might be a rather easy solution to it. The Qubes updater removes following rather important package from a debian testing templates:

* libpython-stdlib
* pyt

[2020-09-17 15:42] DemiMarie opened #6062 "Use flowtables to accelerate IP forwarding"
**The problem you're addressing (if any)**
At high rates of network traffic, VMs doing IP forwarding can consume significant amounts of CPU time.  I have noticed 10-20% of a single core when forwarding traffic at 200Mb/s.  This isn’t enormous, but it is noticeable.

**Describe the solution you'd like**
By using netfilter flowtables, we can bypass most of the kernel’s network stack in the forwardin

[2020-09-17 15:59] unman commented on #6061
On Thu, Sep 17, 2020 at 08:32:52AM -0700, Sid Hussmann wrote:

Thanks for the report.
I've said it many times. Debian testing is a **testing** platform.
Things will break and this is to be expected.

You've had some of that "fun".
Most (all?) of the time, for the stable OS, the updater action is correct, and
I think that your expectation is unreasonable when you *choose* to use a
testing version.

[2020-09-17 16:29] h01ger commented on #6061
On Thu, Sep 17, 2020 at 08:59:58AM -0700, unman wrote:

true that. also true is that such reports are useful to actually fix those
breakages so I dont see why you are complaining about such reports.

--
cheers,
	Holger

-------------------------------------------------------------------------------
               holger@(debian|reproducible-builds|layer-acht).org
       PGP fingerprint: B8BF 5413

[2020-09-17 20:24] DemiMarie opened #6063 "Systemd doesn’t pick up unit files from private volumes"
**Qubes OS version**
`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**
Bind-mounting of AppVM volumes

**Brief summary**
If I place a systemd drop-in in `/usr/local/systemd/system`, or have one that is bind-mounted to the relevant subdirectory of`/etc/systemd/system`, systemd fails to pick it up.  I believe this is because these directories are not mounted until after initramf

[2020-09-17 21:15] sidhussmann commented on #6061
@unman I understand that it can get frustrating to repeatably handle the same types of issues, especially when it comes to unsupported templates. Before discovering Qubes OS, I have been a debian unstable/sid user for many years. So I am fully aware of the risks of using debian testing. In this particular issue however, I would argue that even (or especially) for debian stable there is no need to

[2020-09-17 22:06] marmarek commented on #6061
Using just `apt-get upgrade` instead of `apt-get dist-upgrade` will skip installing new packages, which is needed from time to time.

@h01ger Does apt have some mechanism preventing removal of selected packages? Yum/dnf has "protected packages" to mark key system packages.

Anyway, as for the root cause of the actual issue, I think it's related to python -> python2 rename. I'm not sure which packa

[2020-09-17 22:49] h01ger commented on #6061
On Thu, Sep 17, 2020 at 03:06:37PM -0700, Marek Marczykowski-Górecki wrote:

To put a package on hold: echo pkgname hold | dpkg --set-selections
To remove the hold: echo pkgname install | dpkg --set-selections

on the contrary, python2 is (practically) gone from bullseye too and everything
should be moved to python3, /usr/bin/python3 as /usr/bin/python will go
away / stay python2.

--
cheers,
	Hol

[2020-09-17 23:43] marmarek commented on #6061
Doesn't it also prevent package updates?

[2020-09-18 01:39] zellchristensen opened #6064 "Windows Tools Installer has Non-working Back Button"
**Qubes OS version**
R4.0.3
Windows7 HVM

**Affected component(s) or functionality**
Windows Tools Installer

**Brief summary**
When running the installer for Windows Tools, inside Windows, one of the "Back" buttons doesn't work.

**To Reproduce**
1. ) Install a Windows7 VM and boot with the Windows Tools ISO
2. ) Run the installer (qubes-tools-4.0.1.3.exe)
3. ) Agree to license, Click Install, Al

[2020-09-18 02:04] unman commented on #6061
On Thu, Sep 17, 2020 at 09:30:09AM -0700, Holger Levsen wrote:

Who was complaining?
I thanked for the report, and then explained why I thought the expectation
was misplaced, and why I thought the proposed solution was not good.
But such reports are good.

On the other hand, I find that many questons about (e.g) Kali and Qubes would best
be treated in the mailing list rather than directly in qubes

[2020-09-18 03:46] bluesteal commented on #5695
Yes I tried fresh thermal paste. The issue was that the fan was busted; I had to order a new one and install it but everything works fine now with default settings; I looked into thinkfan a while ago but it seemed to be mainly a hardware issue.

[2020-09-18 04:07] bluesteal commented on #5695
Intel security fixes? Do you mean Heartbleed, etc.?

[2020-09-18 04:13] zellchristensen opened #6065 "Windows Tools Installation changes Qube Settings Making Qube Unable to Start"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Qube Settings

**Brief summary**
After a successful installation of the Qubes Windows Tools in a Windows VM, the option for Memory Balancing is checked in Settings >> Advanced and Max Memory is increased to 4000 MB,  This causes the VM to not be able to start up with the error: "qrexec-daemon startup failed: Connection to the

[2020-09-18 06:21] andrewdavidwong commented on #904
Looks like https://github.com/QubesOS/qubes-core-admin/pull/354 has not been merged yet.

[2020-09-18 06:35] andrewdavidwong commented on #5695
Thanks for the update. Since this was a localized hardware problem, I'll close this now.

[2020-09-18 06:35] #5695 closed

[2020-09-18 08:58] h01ger commented on #6061
On Thu, Sep 17, 2020 at 04:43:44PM -0700, Marek Marczykowski-Górecki wrote:

yes. :/

--
cheers,
	Holger

-------------------------------------------------------------------------------
               holger@(debian|reproducible-builds|layer-acht).org
       PGP fingerprint: B8BF 5413 7B09 D35C F026 FE9D 091A B856 069A AA1C

[2020-09-18 09:15] zellchristensen commented on #6065
As a note, if the user follows the above steps choosing to include the Xen Disk Drivers (which are unchecked by default), when the VM reboots, a popup about successfully installing drivers comes up and says a Restart is Required with a prompt to Restart Now or Restart Later.
If the user clicks Restart Now instead of Restart Later, the VM proceeds to shut down, then start up automatically and proce

[2020-09-18 10:53] tasket commented on #6055
Although it can be manually entered in grub's runtime menu, the `grub2-mkconfig` command does not allow `dom0_vcpus_pin` and won't update the /boot config. It will say 'command not found'.

I tried with dom0_max_cpus=2 and it ran like hot garbage btw. Setting to '1' was much better.

[2020-09-18 11:06] dylangerdaly commented on #6055
Hm, that should be working, I didn't get any errors when setting it?

Even with it set, are you noticing weird little hiccups? I'm hoping Xen is working on better handling with AMD CPUs.

Not sure if I'm getting performance issues because dom0 only has 1 core, or if it's Xen.

If you give an appVM only 2 vcores it seems to be a little more stable

-------- Original Message --------
On Sep 18, 2020

[2020-09-18 12:47] jevank opened #6066 "Resume from suspending is broken after update to Xen 4.14"
Qubes R4.1

I`ve tested with X1 Thinkpad gen6. Hyperthreading is disabled in UEFI, kernel 5.4.51 and 5.4.61. With Xen 4.13 all works fine.

Tried with and without VMs running. Looks like suspend successful (thinkpad's led smooth blinked), but it doesn't resume.

Is problem specific to me?

---
There are multiple bugs causing this, summary below.

S3 related bugs in Xen 4.14 summary:
 - Shadow Stac

[2020-09-18 14:23] andrewdavidwong commented on #5662
Qubes user panati tested this and reported the experience in this thread:

https://qubes-os.discourse.group/t/missing-packages-in-fedora-32-xfce/619/

[2020-09-18 14:28] andrewdavidwong commented on #6066
Was suspend ever working on this model in Qubes? I thought I remember hearing a *long* time ago that it wasn't working.

P.S. -- Please use the issue template. This is borderline unsuitable for qubes-issues.

[2020-09-18 14:52] jevank commented on #6066
Yes, It works with Xen 4.13 till upgrading to 4.14.

P.S. -- ok

[2020-09-18 17:15] marmarek opened #6067 "Multiple gpg-agent processes cause issues"
With the recent change of using separate gpg keyring per git repository, new gpg-agent is started for each of them. After building a few components, we end up with tens of them, each holding a few open files. Not long after we run out of global open FD limit...

Since we don't really do secret key operations in qubes-builder, maybe starting gpg-agent can be avoided? If not, there should be some me

[2020-09-18 20:34] zellchristensen opened #6068 "Changing Qube Settings Sometimes Locks Up Qube Manager"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Qube Manager

**Brief summary**
Changing certain features in the Qube Settings menus sometimes causes Qube Manager to stop responding.  I can't seem to find a way to bring it back without a complete restart.

**To Reproduce**
Steps to reproduce the behavior:
1. ) Open Qube Settings
2. ) Change certain options such as the Debug

[2020-09-18 22:55] mattmccutchen opened #6069 "qrexec-client-vm can break other processes by setting a shared open file description non-blocking"
**Qubes OS version:** R4.0

**Affected component(s) or functionality:** `qrexec-client-vm`

**Brief summary:** `qrexec-client-vm` sets its file descriptors 0 and 1 non-blocking for the duration of its execution.  If one of these points to an open file description shared with another process, the other process may get an EAGAIN that it does not expect and malfunction.  The only case I've found in w

[2020-09-19 02:39] DemiMarie commented on #6069
I *think* (but am not certain) that one can achieve the same effect by sending the file descriptor over a socket using `SCM_RIGHTS`.

[2020-09-19 02:40] zellchristensen opened #6070 "Add "Default Name" for Cloned Qubes from Settings Menu"
**The problem you're addressing (if any)**
When opening a Qube's Settings and choosing the Clone qube button, the name field for the new Qube is blank.

**Describe the solution you'd like**
In the Qube Manager, when right clicking and choosing "Clone qube", the name for the new clone is filled in with a Default name "vmname-clone-#"
I think having the same behavior from the Clone Qube button in th

[2020-09-19 03:23] zellchristensen opened #6071 "Remove "File Manager" under dom0 System Tools"
**The problem you're addressing (if any)**
When opening "File Manager" from the dom0 System Tools menu on the top left, it opens File Manager Preferences (thunar-settings).

**Describe the solution you'd like**
Change the option to actually open File Manage (thunar) instead of File Manager Preferences (thunar-settings).
Alternatively have both options but named appropriately.

**Where is the value

[2020-09-19 03:29] zellchristensen opened #6072 "Add "Copy to AppVM" in dom0 Right Click Context Menus"
**The problem you're addressing (if any)**
To copy a file from dom0 to an AppVM, the only method appears to be using the terminal command `qvm-copy-to-vm <dest-vm> <file>`

**Describe the solution you'd like**
It would be great to have an option somewhere in the thunar File Manager Right Click Context menu to copy files to other VMs.

**Where is the value to a user, and who might that user be?**
I

[2020-09-19 04:25] 92VV3M42d3v8 commented on #6072
AFAIK Qubes team believes in isolating dom0 as much as possible and I have read somewhere that thunar file manager is planned to be removed from dom0 ( I think in some issue discussion)

[2020-09-19 04:33] 92VV3M42d3v8 commented on #4494
I used to have this kind of problem up until 4.0.3. I think you should try atleast one time qubes 4.1 testing build from openqa. During post install configuration just install templates only and don't configure sys-net, sys-usb and any vm like personal etc. They can be configured after full install if it succeeds for you. Use kernel-latest if possible.

[2020-09-19 07:29] zellchristensen opened #6073 "Can't Begin Installation if User Clicks Installation Source"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Base Installer

**Brief summary**
When running the install media, the option "INSTALLATION SOURCE" under the SOFTWARE section is set to "Local Media" by default.  If the user clicks it, then clicks Done without making any changes, the installer can no longer continue and the user must start over.

**To Reproduce**

Steps to re

[2020-09-19 07:42] Murdock01 opened #6074 "Kernel panic in fedora32 HVM after kernel update"
**Qubes OS version**
4.0

**Affected component(s) or functionality**
HVM qubes, based on fedora 32 template

**Brief summary**
After kernel update in fedora 32 from 4.19.142-1 to 4.19.144-1 kernel Oops.
Crash only happens on HVM Qubes, PVM Qubes runs without errors.

**To Reproduce**

Steps to reproduce the behavior:
1. Update kernel-qubes-vm to version 4.19.144-1
2. start sys-net or sys-usb qube

[2020-09-19 08:59] johnblanc opened #6075 "Weird behaviour after attaching usb drive"
I attached trusted usb drive to one of the VMs to copy some stuff to it, and number of problems happened

- the file saved to it was 0 bytes

-after attaching it again I could write to it, not even browse it actually

- the file explorer froze and has been like that for a day

- i can browse local files but when i try to open one in gedit, it just hangs on loading forever

latest version here

[2020-09-19 10:34] dspacejs commented on #1806
Would really like to see this. Qubes's GUI is one of the main things that's stopped me from switching over from Ubuntu. UX is important and I'm personally not a fan of the default one.

[2020-09-19 10:59] indolering commented on #6051
I am aware of your security model.  I also happen to disagree with the extent to which you disregard the security of the other layers (such as disabling SELinux).

That's fair, I don't believe that Gnome is part of any AppStream.

[2020-09-19 11:05] GWeck commented on #6072
Screen shots are stored in dom0. To get them out to the world, they have to be copied to some AppVM. So having this operation as a menu entry would be very helpful.

[2020-09-19 11:06] unman commented on #1806
On Sat, Sep 19, 2020 at 03:34:47AM -0700, Daniel Spajic wrote:

Switch over to KDE : far nicer than Xfce, and much measier to work
with.

[2020-09-19 11:11] andrewdavidwong commented on #6071
Actually, this entry should probably just be removed, since using file managers in dom0 is [disrecommended for security reasons](https://www.qubes-os.org/doc/security-guidelines/#dom0-precautions).

[2020-09-19 11:13] andrewdavidwong commented on #6071
Duplicate of #2458

[2020-09-19 11:13] #6071 closed

[2020-09-19 11:13] andrewdavidwong commented on #6071
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-09-19 11:20] andrewdavidwong commented on #6075
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2020-09-19 11:21] #6075 closed

[2020-09-19 11:35] andrewdavidwong commented on #6072
Correct. File managers, including Thunar, should not be used in dom0. See [Security Guidelines: dom0 precautions](https://www.qubes-os.org/doc/security-guidelines/#dom0-precautions) and #2458.

No, this can and should be handled by the screenshot tool (see #953, #5809, [qubes-qvm-screenshot-tool](https://github.com/QubesOS/qubes-qvm-screenshot-tool)), or else you run into the security problems ass

[2020-09-19 11:35] #6072 closed

[2020-09-19 13:11] mattmccutchen commented on #6069
@DemiMarie Unfortunately not: "The passed file descriptors behave as though they have been created with dup(2)." ([source](https://linux.die.net/man/7/unix))

[2020-09-19 14:50] tumbletree opened #6076 "Provide option to view unobfuscated backup/restore passphrase"
### Qubes OS version:4

### Affected component(s) or functionality:
Backup and Restore features

---

### Steps to reproduce the behavior:
Use it as normal.
Note the password prompt for the encrypted backup.

### Expected or desired behavior:
Just like every other decent password field I encounter these days:
a) see the password/phrase in plain text if desired
b) paste a passphrase in from a passw

[2020-09-19 16:01] sidhussmann commented on #6061
@marmarek I wasn't aware of that. Reading the man page APT-GET(8), I notice that there is the option `--no-remove`, which would lead to a failed upgrade and thus not removing anything:

[code]

I couldn't find the repo of the code for `qubes-update-gui`. Is it a frontend for `qubes-mgmt-salt` and would it be possible to configure without having to rebuild `qubes-update-gui`?

[2020-09-19 16:38] unman commented on #6061
On Sat, Sep 19, 2020 at 09:01:55AM -0700, Sid Hussmann wrote:

That's no good, because there are cases where we *do* want to remove
packages.
Also, as I've pointed out, unless we use the tag system extensively,
how will we target this against debian-testing based templates? We don't
want a solution that only works against templates *called*
debian-testing.
My solution is simple - don't use automat

[2020-09-19 19:32] andrewdavidwong commented on #6076
I just tested this (Qube Manager -> System -> Backup qubes), and I can paste text from the clipboard, and there are two fields, the second for confirming the passphrase. So, (a) is missing, but (b) and (c) appear to be covered (though it's not recommended to run a password manager in dom0 or copy text into dom0). Are we looking at the same tool?

[2020-09-19 20:26] DemiMarie commented on #6069
@mattmccutchen Sadly so.  I tested it and it didn’t work.

[2020-09-19 20:33] artemislena opened #6077 "tlp breaks WiFi chip passthrough"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Networking/PCI passthrough

**Brief summary**
With my WiFi chipset (Intel 7265), the NetVM WiFi permanently breaks and the NetVM to be reinstalled whenever I ever use tlp in default settings. The `wls6` interface stays `DOWN` and `sudo ip link set wls6 up returns `RTNETLINK answers: Operation not permitted`.

**To Reproduce**
St

[2020-09-19 20:48] artemislena opened #6078 "Ungoogled Chromium on Fedora 32 with SoloKey doesn't seem to work for U2F proxy"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
U2F proxy

**Brief summary**
I could not get the U2F proxy to work in my setup.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and enable U2F proxy in your Browsing VM.
2. Install chromium-browser-privacy from RPMFusion.
3. Try to log in on a site.

**Expected behavior**
Logging in with U2F should work.

**Actual

[2020-09-19 22:28] sidhussmann commented on #6061
@unman you are right. There are cases where we do want to remove packages. I do have a solution though. In the debian testing template:

[code]

This will lead to the behavior I described above, where a `dist-upgrade` would fail, when packages are to be removed, even when triggered from `qubes-update-gui`. To fix the failed `dist-upgrade` one would then need to manually initiate the dist-upgrade f

[2020-09-20 00:08] maximilize commented on #5383
Since `noexitboot=1` and `mapbs=1` is causing also issues on some systems, I think it's more safe to either document all solutions, or to stick with changing the `default` boot options.

[2020-09-20 02:04] tumbletree commented on #6076
Yes Andrew, you are right. I am embarrassed to admit I got that wrong with b) and c). However, if we can't operate a password manager or shouldn't copy-paste into dom), it makes a visual check all the more important.

Thanks for adding this to the milestone.

[2020-09-20 02:11] zellchristensen opened #6079 "Cloning VM too Quickly after Delete Causes Error"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Qube Manager Cloning

**Brief summary**
If a clone is deleted then a new clone is attempted using the same name as the recently delete clone, an error occurs if it's done too quickly.

**To Reproduce**

Steps to reproduce the behavior:
1. ) Create a clone of a vm. `<vmname>-clone-1`
2. ) Delete the clone. `<vmname>-clone-1`
3.

[2020-09-20 08:23] dspacejs commented on #1806
@unman unfortunately I'm not a fan of KDE either. I really like Gnome and have grown used to it. I'd still consider switching, though.

[2020-09-20 09:56] andrewdavidwong commented on #6079
Related/possible duplicate: #4754

[2020-09-20 10:23] loadcorp commented on #3198
Strange that the problem hasn't been fixed yet. Although now version 4.0.3.

**I Copy-Pasted this quote from here which describe fully about this problem on my Laptop:**
https://www.engetsu-consulting.com/blog/installing-qubes-4-0-on-laptops-with-nvidia-gpus-that-do-not-support-the-nouveau-driver

_"To install Qubes OS 4.0 on laptops with integrated Intel and Nvidia GPUs that do not support the no

[2020-09-20 11:45] GWeck commented on #6072
The screenshot tool is just what is needed!

[2020-09-20 11:54] GWeck commented on #5809
To change the normal menu entry from the dom0 screenshot tool to the new tool, just the line

`Exec=xfce4-screenshooter`

has to be changed to

`Exec=/home/user/qvm-screenshot-tool.sh`

in the file `/usr/share/applications/xfce4-screenshot-tool.desktop`. Then you get the new tool. Works like a breeze!

Getting this into the panel seems to be much more complicated.

[2020-09-20 13:48] qufo418 opened #6080 "dev.qubes-os.org intermittently unavailalbe"
**Qubes OS version**

Qubes-OS 4.0.3

**Affected component(s) or functionality**

Web site: dev.qubes-os.org

**Brief summary**

The URL https://dev.qubes-os.org/projects/core-admin/en/latest/qubes-backup.html#module-qubes.backup is unavailable. Sometimes the first call works but then all subsequent calls fail. I use TBB as proxy in a qube through which I connect to websites. I have dedicated Fire

[2020-09-20 14:18] marmarek commented on #6080
Hmm, this is weird. If that indeed be "prohibited by security policy", it shouldn't work at all. Additionally, this is recommended way to configure readthedocs hosting on a custom domain: https://docs.readthedocs.io/en/stable/custom_domains.html#custom-domain-support
Maybe some cloudflare issue? Or a misleading error meaning actually "we don't like Tor"?
Anyway, this seems rather related to readth

[2020-09-20 16:49] mr-sour commented on #1806
@dspacejs you and me both! I'm working on this as time permits. I think I'm on the right track but Im no expert in any of this stuff so development is slow as I have to figure out allot of stuff before even small pieces start working. But I'm hoping after this decoration task its all downhill from there.

[2020-09-20 17:31] jonkri commented on #1806
@unman: This issue is about supporting GNOME.

GNOME is the desktop that ships as the default desktop environment in all major GNU/Linux distributions.

[2020-09-20 17:55] marmarek commented on #5529
Superseded by https://github.com/QubesOS/qubes-issues/issues/5763

[2020-09-20 17:55] #5529 closed

[2020-09-20 18:01] marmarek commented on #6066
The same happens in openQA: https://github.com/QubesOS/qubes-issues/issues/6049

[2020-09-20 18:16] andrewdavidwong commented on #6080
Related/possible duplicate: #4538

Any idea what's causing this, @woju?

[2020-09-20 18:18] andrewdavidwong commented on #6072
That seems to be a common refrain for a while now. I'll bump up the priority on #953 further.

[2020-09-20 20:02] zellchristensen commented on #6072
I have to concur with @GWeck Pretty much the only reason to be in the file manager is due to screenshots being saved there and trying to get them out.

[2020-09-20 21:37] strugee commented on #6074
I can confirm this bug - I have an identical BUG line and call trace. Reverting to VM kernel 4.19.132-1 (the second latest I had installed) fixed the problem.

[2020-09-20 21:45] strugee commented on #6074
Ref QubesOS/updates-status#2038 which AFAICT is the bad update. I'm observing this bug on both HVM and PVH domains.

[2020-09-20 23:29] marmarek commented on #6074
Besides the actual reason for the panic, it seems to be triggered by floppy driver only. I don't see any changes in this driver between working and non-working version, so the bug is probably somewhere else. But it allows quite simple workaround: disable floppy driver. I'll upload a package with this driver disabled shortly.

BTW for me this crashes for HVM only, PVH seems to work.

[2020-09-21 01:24] iamahuman commented on #1957
Just FYI: `apt-cacher-ng` appears to have [orphaned](https://pagure.io/releng/issue/8917) since Fedora 32 due to [being unmaintained](https://bugzilla.redhat.com/show_bug.cgi?id=1735456),

[2020-09-21 05:21] dylangerdaly commented on #4427
Is it possible to do TPM over qrexec? The people maintaining tpm2-tss have done a really good job of abstracting the software stack, it should be possible to port TPM2.0 (/dev/tpm0) in dom0 as a qrexec service to other appVMs.

tpm2-tss means the TPM2 is useful to Linux users now, this includes TPM for SSH Authenticate, Remote Attestation, openssl.

Does anyone know where to look to get started? I

[2020-09-21 08:03] dylangerdaly opened #6081 "Changing CMDLINE for dom0 doesn’t modify TPM PCRs"
**Qubes OS version**
R4.1

**Affected component(s) or functionality**
Bootloader Measurement via TPM

**Brief summary**
Modifying dom0's cmdline didn't change the PCR hashes, any change to the bootloader should result in the PCRs changing.

**To Reproduce**
Read PCRs, reboot, press 'e', add anything to dom0's CMDLINE, observe PCRs are identical.

**Expected behavior**
GRUB2 should report a change

[2020-09-21 09:45] Rot127 commented on #6042
Reinstalling sys-usb fixes the problem. May be we can close this issue?
Reinstall sys-usb via:

[code]

[2020-09-21 10:02] marmarek commented on #6081
Currently the only supported measured boot in Qubes is via [Anti Evil Maid](https://www.qubes-os.org/doc/anti-evil-maid/). grub2 itself does not have proper TPM integration.

[2020-09-21 10:11] dylangerdaly commented on #6081
Is it something that can be enabled? I'd like to properly protect LUKs with PCRs/TPM.

Doesn't seem right grub2 doesn't support TPMs.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 21, 2020, 8:02 PM, Marek Marczykowski-Górecki wrote:

[2020-09-21 10:20] Murdock01 commented on #6074
new kernel build (4.19.146-1) resolves the problem for me. So i switch back sys-usb and sys-net to default kernel and VM's started succesfully.

[2020-09-21 10:54] PROTechThor commented on #5780
@andrewdavidwong I think this issue can be closed now :)

[2020-09-21 12:24] marmarek commented on #6081
Grub only recently (grub 2.04) got proper TPM support - the new version is available in Qubes 4.1, but not in 4.0.

[2020-09-21 12:28] dylangerdaly commented on #6081
Hm, that's interesting because I am running 4.1

Updating via the current-testing repos, meaning I _should_ have the TPM supporting grub2?

I'll confirm what exact version of grub2 I have installed tomorrow, I'm running 4.1 bleeding edge tho

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 21, 2020, 10:24 PM, Marek Marczykowski-Górecki wrote:

[2020-09-21 13:04] marmarek commented on #6081
Then take a look at https://www.gnu.org/software/grub/manual/grub/html_node/Measured-Boot.html. I think you don't have TPM driver loaded into grub.

[2020-09-21 13:19] unman commented on #1957
On Sun, Sep 20, 2020 at 06:24:37PM -0700, iamahuman wrote:

I've not considered the Fedora side - is it unmaintained on Fedora? Do
we have any Fedora maintainers on board?
It is, of course, good on Debian.

[2020-09-21 14:53] tSC-1 commented on #5374
Hi Marek!

Yes, I would also like to know if there are any news for this topic.
I have tried to install (and I would like to go on with very much...!) to install Qubes 4.03.) on three more Laptops of ASUS:
ExpertBook 9. ZenBook 14 and Zephyrus Duo 15.
The all have Intel CPUs of the 10th generation (one i5, one i7 and one i9)...
On each of them I have installed the newest BIOS what ASUS is deleveri

[2020-09-21 16:02] iamahuman commented on #1957
@unman The maintainer is unresponsive&mdash;no response to FTBFS in `apt-cacher-ng`.

Yes, `apt-cacher-ng` is native to Debian. I suppose being able to run the update cache on a Fedora VM as well would be desirable, though.

[2020-09-21 17:58] andrewdavidwong commented on #6042
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-09-21 17:58] #6042 closed

[2020-09-21 18:02] andrewdavidwong commented on #6074
After adding the `diagnosed` label, I realize that, technically, the bug itself hasn't been diagnosed. However, it's also unclear whether a diagnosis is still "needed," or whether this workaround is considered sufficient to resolve the issue. I leave it to your judgment, @marmarek.

[2020-09-21 18:02] #5780 closed

[2020-09-21 18:04] andrewdavidwong commented on #5780
Thanks, @PROTechThor. FYI for future refernce, you can make it so that the associated issue is [automatically closed when your PR is merged](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue). :slightly_smiling_face:

[2020-09-21 18:11] andrewdavidwong commented on #5374
@tSC-1: Sorry, but most of your comment is off-topic for this issue. Please carefully read our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/). We ask that you please post your off-topic comments and questions on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. Thank you for your understanding.

[2020-09-21 20:04] brendanhoar commented on #6074
I haven't looked into it deeply but I recently (noonish) updated default VM kernels under QubesOS 4.0.3 to 5.8.10-1 and sys-net failed a manual start after reboot. I switched back to a default of 5.8.5-1 and sys-net started w/o issue. Might be related?

[2020-09-21 20:05] woju commented on #6080
On Sun, Sep 20, 2020 at 11:16:30AM -0700, Andrew David Wong wrote:

I believe it's duplicate of #4538.

[2020-09-21 23:01] bluesteal opened #6082 "Debian Template"
**Qubes OS version**
Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**
qubes-template-debian-10

**Brief summary**
debian-10 template all of a sudden stopped booting; so as per instructions I switched the appVMs based on debian to a backup template and then copied the broken template. After that I removed the original debian template and tried to replace it, but the debian-10 te

[2020-09-21 23:21] marmarek commented on #6082
See https://www.qubes-os.org/faq/#when-i-try-to-install-a-templatevm-it-says-no-match-is-found

[2020-09-22 00:06] bluesteal commented on #6082
I tried to diagnose the problem using the log files, but they weren't very helpful. is there a way to change the verbosity of the AppVM logs?

[2020-09-22 00:47] dylangerdaly commented on #6081
This is indeed a grub2 configuration item, not a Qube's one.

[2020-09-22 00:47] #6081 closed

[2020-09-22 00:48] dylangerdaly commented on #6081
Will Qubes be hardening Grub2 at all? Seems too easy to just hit 'e' and edit CMDLINE without any auth or anything, I understand Qube's whole ethos is 'why bother, we don't trust the hardware', but it's really too easy to edit this stuff.

[2020-09-22 01:37] unman commented on #1957
On Mon, Sep 21, 2020 at 04:02:45PM +0000, iamahuman wrote:

So do we have a Fedora maintainer onboard?

[2020-09-22 01:40] marmarek commented on #6081
Kind of: https://github.com/osresearch/safeboot/issues/21 (note this is specifically useful with own keys enrolled into UEFI, not necessary Microsoft's ones).

Otherwise, just setting a passphrase for grub menu (or similar countermeasure) is trivial to bypass so you still don't know if your config wasn't modified.

[2020-09-22 01:47] dylangerdaly commented on #6081
Not if I use TPM2-TOTP - https://github.com/tpm2-software/tpm2-totp, the TPM could no longer present my TOTP challenge to me (Because the PCR Policy failed), resulting in me immediately throwing the device into the bin.

[2020-09-22 01:52] dylangerdaly commented on #6015
@JarrahG I can't see your commits, I'd very much like to try out your changes.

[2020-09-22 02:00] JarrahG commented on #6015
Interesting, I can see them before logging in: https://github.com/JarrahG/Qubes-TPM2-TOTP/commits/master

On the note of the conversation in the above linked issue (6081), this will not replace AEM, but may form part of a similar solution supporting UEFI/TPM 2.0.

[2020-09-22 02:04] dylangerdaly commented on #6015
Oh my bad, I didn't read

So this package will generate an RPM that one could install onto dom0?
What PCRs are being used to build the policy?

Fair enough, there looks to be a lot more to take into consideration.

[2020-09-22 02:07] JarrahG commented on #6015
The default values are quite basic: 0, 2, 4. The expectation will be to build a default config as another package which will include the Grub bits and script filling other PCRs in the same way AEM does. But one step at a time.
More details here: https://github.com/tpm2-software/tpm2-totp

It's a complex problem. There is plenty to do on it.

[2020-09-22 03:19] bluesteal commented on #6082
Thanks for your reply btw :)

How should somebody go about diagnosing a template that will not boot?

Thank you

[2020-09-22 05:42] 0spinboson commented on #6082
did you uninstall using dnf remove qubes-template-debian-10 ?

[2020-09-22 07:15] tobbe0xFF commented on #5374
Now also experiencing this issue on a Gigabyte Aorus Pro with i7-9700K.
I understand this issue may take time to debug and that it may not be top priority, but it would be assuring to hear from someone in the dev team what you have learned about this issue so far and if you have some idea of how it can be addressed? E.g. would it feasible to clone the Xen repo, patch the code with what is found in

[2020-09-22 08:29] TheLagSa commented on #5605
I'm having this problem too on Kali Linux.

On internet settings and the Ethernet tab, I have chosen eth0 as device
Cloned MAC address as preserve

Under the IPv4 settings, I have chosen
IP: 10.137.0.20
Netmask: 32
Gateway: 10.137.0.5

DNS: 10.139.1.1, 10.139.1.2

The above settings is from the VM: Qubes settings under the basic tab->Networking

Networking VM is sys-firewall.

[2020-09-22 12:26] unman commented on #5605
On Tue, Sep 22, 2020 at 01:29:24AM -0700, TheLagSa wrote:

As in the docs, you need to manually set the IP - a 32 netmask is no
use, you want to set 255.255.255.0
Covered **many** times on the qubes-users mailing list, and now in the
Forum

[2020-09-22 12:29] osresearch commented on #6081
If Xen is started with multiboot, then I think grub does the loading of the various modules and this should cover the some of the pieces.  However, will the grub measurements accurately cover all of the files in a UEFI system?  The grub man page says "_Measured boot is currently only supported on EFI platforms_", so I'm a little worried that it isn't possible to correctly measure and validate the

[2020-09-22 13:07] TheLagSa commented on #5605
Already did that. Thought I made that clear. But as stated in the **EDIT**, it works now. /32 works just fine.

[2020-09-22 14:03] unman commented on #5605
On Tue, Sep 22, 2020 at 06:08:11AM -0700, TheLagSa wrote:

I don't see where you made it clear, *or* your edit. :-(

[2020-09-22 14:24] tasket commented on #6055
I resolved it by using the assignment syntax `dom0_vcpus_pin=1` instead. I think its a parsing bug.

[2020-09-22 15:26] andrewdavidwong commented on #6080
Ok, looks like we decided to close #4538 as `not our bug`, but since @marmarek asked for this one to remain open, I'll leave this open and #4538 closed.

Any idea about the cause, though, @woju?

[2020-09-22 15:28] andrewdavidwong commented on #6082
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2020-09-22 15:28] #6082 closed

[2020-09-22 16:28] andrewdavidwong commented on #4693
This issue has been open for feedback for quite a long time now with no major objections, so I think I'm going to finally move the External documents over to [Qubes Community Collaboration](https://github.com/Qubes-Community). It should be pretty straightforward. Here's what I'm thinking.

For each page in External Docs:
1. Copy the `.md` file to an appropriate subdirectory of https://github.com/Q

[2020-09-22 17:32] woju commented on #6080
On Tue, Sep 22, 2020 at 03:26:55PM +0000, Andrew David Wong wrote:

Nothing that wasn't said in both of the bugs. To restate:
- We use cloudflare's DNS for our domain `qubes-os.org`.
- Read the docs too, for `readthedocs.io`.
- RTD has an option to use user's own domain (usually for PR reasons, and the
  content is also available using standard domains, like
  https://qubes-os.readthedocs.io/proje

[2020-09-22 17:50] awokd commented on #4693
I'm fine with this, and can help move some/all of these if you like. If some, how would you like to divvy them up? Other option might be the "how to" section in the Discourse group, but from the lack of responses to https://www.mail-archive.com/qubes-devel@googlegroups.com/msg04517.html, I took it as a "no".

[2020-09-22 19:27] marmarek commented on #6080
FWIW I do see in our domain configuration that this CNAME is kind of special - CF tells me some of its parameters (like TTL etc) are configured in the target domain's other account. So, it does recognize it is cross-account CNAME, applies some limits, but allows it otherwise (at the domain config level).

[2020-09-22 19:38] woju commented on #6080
This post:
https://community.cloudflare.com/t/error-1014-cname-cross-user-banned/12584/2
mentions something about grey and orange clouds. I don't know what it is, but
the OP seems to imply that it does matter.

[2020-09-22 19:59] marmarek commented on #6080
Control over "grey and orange clouds" for this entry is also disabled for me.

[2020-09-22 23:43] #4088 closed

[2020-09-23 00:28] unman commented on #4693
On Tue, Sep 22, 2020 at 09:28:22AM -0700, Andrew David Wong wrote:

You'll lose history wont you?

[2020-09-23 02:45] straussmaus opened #6083 "Boot Loop After Changing Net VM"
**Qubes OS version**

4.0.1

**Affected component(s) or functionality**

Booting

**Brief summary**
I changed my NetVM to a clone of one that should have the MAC changer functionality I got from the Qubes docs.

I started this NetVM and the system rebooted itself.

I entered my encryption password, and the system reboots itself.

I have a feeling it is because I created this MAC changer NetVM on a

[2020-09-23 02:49] brendanhoar commented on #6083
Does your bios allow you to disable vt-d? That might prevent sys-net from starting and you could then disable auto-start for that VM, shut down, reboot into bios, enable vt-d then reboot and create a new sys-net.

[2020-09-23 03:21] straussmaus commented on #6083
I don't know what vt-d is but I think the answer is no.  I use coreboot and the capabilities are very limited.  What is vt-d?  Is it known by other names?  I could look but I really doubt it.  But thank you for the suggestion.

[2020-09-23 06:16] d2po opened #6084 "Can't install windows 7 (BSOD 0x0000007E)"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Installation of windows 7

**Brief summary**
When I try installing windows 7, I get a BSOD.

When using a system install disk that came with an older computer, I am able to run through the first phase of the installation where the files are initially loaded onto the hard drive, but the second boot from the hard drive fails with

[2020-09-23 08:27] easydozen commented on #6084
Maybe, something memory related. Have you tried to attach iso from dom0?
`qvm-start --cdrom "dom0:/home/user/Downloads/win7x64-ultimate.iso" `

[2020-09-23 09:55] iamahuman commented on #6084
If you do not mind disclosing your hardware and Windows installation (plus possibly some configuration data), you can post the `MEMORY.DMP` crash dump file from Windows so that the crash can be analysed.

[2020-09-23 10:29] qufo418 commented on #6080
On Tue, 2020-09-22 at 10:32 -0700, Wojtek Porczyk wrote:

The above URL works. I also can click around and open/reload multiple
tabs/windows. I tested via whonix-ws-15-dvm.

--

-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF9SOUMBEAC6EH5yEQta+NP+rfVNOD7BBR9lYzZNjvAKceJCJCLr4oU04eW7
YPEi5hWRWG3kAceJYxz8QqCsBlHDjXGD1uvUx0lkmKSmiBdMRNslxfersWYDe9by
nT6Pfk1NBgNs/pu1ClMCBeC6B6yxMhO1cSiXn3sD/K+nTAecHZUa6u

[2020-09-23 11:11] andrewdavidwong commented on #4693
No, due to the nature of Git, no history will be lost. However, after the transition, if you wanted to see the pre-transition history, you'd have to look in `qubes-doc` rather than https://github.com/Qubes-Community/Contents.

[2020-09-23 11:57] andrewdavidwong commented on #4693
Actually, we should be able to move the files in a way that also transfers their history:

https://stackoverflow.com/questions/1365541/how-to-move-files-from-one-git-repo-to-another-not-a-clone-preserving-history
https://medium.com/@ayushya/move-directory-from-one-repository-to-another-preserving-git-history-d210fa049d4b

[2020-09-23 12:34] GWeck commented on #6084
Did you disable memory balancing?

`qvm-prefs win7 maxmem 8192`

That seems to be more plausible than 0, as memory balancing does not work well with Windos.

[2020-09-23 13:18] iamahuman commented on #6084
@GWeck I'm afraid it may not make any difference, since setting `maxmem=0` is [the same](https://github.com/QubesOS/qubes-core-admin/blob/master/templates/libvirt/xen.xml) as setting `memory` and `maxmem` to the same value in the hypervisor's point of view. `maxmem=0` also [disables](https://github.com/QubesOS/qubes-core-admin/blob/67faa7c1f92cca1eab5d78c410c310378ae8dc52/qubes/ext/services.py#L72

[2020-09-23 14:19] rustybird opened #6085 "kernel-latest-qubes-vm-5.8.10-1 panics in HVM"
**Qubes OS version**

R4.0

**Brief summary**

If I set any HVM's `kernel` property to `5.8.10-1` (in contrast, `5.8.5-1` works fine), it panics when started - see log below. Even if no PCI devices are attached.

As for the host kernel, 5.8.5-1 vs. 5.8.10-1 doesn't make a difference. Xen hypervisor is the latest, 4.8.5-23.

**To Reproduce**

1. `qvm-create -l red -t fedora-32 --prop virt_mode=hvm

[2020-09-23 14:32] rustybird commented on #6085
Duplicate of #6074

[2020-09-23 14:32] #6085 closed

[2020-09-23 15:08] deeplow commented on #4693
So does this mean that the content will then be available at https://qubes-community.github.io/? Or will people be looking at https://github.com/Qubes-Community/Contents directly?

If the former is the case, then it'll still need a bit of work to make an index and content reachable in general.

### Idea
Here's an idea: what about making https://qubes-community.github.io/ look like the documentatio

[2020-09-23 15:14] andrewdavidwong commented on #4693
That looks very nice! We *might* need to visually distinguish it even more to avoid users being confused about whether they're looking at the official site.

[2020-09-23 15:29] marmarta commented on #6068
that's really interesting! I'll try to reproduce it, but in the meantime, if this happens again, could you take a look into `journalctl -e` and see if there's anything that looks related/has anything to do with Qube Manager/etc?

[2020-09-23 15:34] marmarta commented on #6058
@marmarek , is there any simple way of doing this via setting a feature or something?

@zellchristensen , the "problem" (if we can call it so) is that actually at the moment this is not a setting on the qube - it's an option (--cdrom) for the qvm-start tool. As a quick-fix solution for you at the moment, you can make yourself a short script that uses the --cdrom option with path to your device (eg

[2020-09-23 15:36] marmarta commented on #6054
@marmarek , is this not another edition of our favorite "ghost devices" problem?

[2020-09-23 15:37] deeplow commented on #4693
Thanks. In a significant way thank to you :) All I did was changing the colors :P

Totally. Perhaps something else that could be done would be adding a link "official website" in the top right corner like so

![official_website](https://user-images.githubusercontent.com/47065258/94035150-4c0abe80-fdb2-11ea-9cd3-f165c2e18189.png)

[2020-09-23 15:41] marmarta commented on #6053
We don't really have live updates on disk utilization (for many reasons), but what can be done (and should be - I think it vanished during some update and nobody notices) is updating disk size periodically, like, every minute or so.

[2020-09-23 16:28] marmarek commented on #6058
The `qvm-start --cdrom` is implemented like this:
1. If you get a file, tell its qube to create a loop device out of it. Then take that device and go to the point 2.
2. Attach cdrom to the qube
3. Start the qube
4. Try very hard to make the device detach when the qube shutdown.

So, in case of block device directly, the solution is easy - scratch the third point. But if you use a file, then it is

[2020-09-23 17:19] brendanhoar commented on #6074
@rustybird confirms issue also impacts 5.8.10-1 and is not yet resolved there.

[2020-09-23 18:04] awokd commented on #4693
@deeplow, would you be able to make the appropriate commits to the qubes-community github.io site? Someone smarter than me set up the web page view originally, but has since left for greener pastures. Could use another admin too, actually, to help approve commits if you're willing. It's pretty light volume so far.

@andrewdavidwong, I'll attempt to follow the steps in that Medium article on my own

[2020-09-23 18:16] marmarta opened #6086 "Incorrect disk space utilization reporting"
**Qubes OS version**
R4.1

**Affected component(s) or functionality**
core disk space utilization reporting

**Brief summary**
Disk space utilization does not update correctly.

**To Reproduce**

Steps to reproduce the behavior:
1. `qvm-ls --fields disk vmname`
2. `head -c 1G </dev/urandom >bigfile`
3. `qvm-copy-to-vm vmname bigfile`
4. `qvm-ls --fields disk vmname`

**Expected behavior**
disk uti

[2020-09-23 20:49] deeplow commented on #4693
Hi @awokd. I'd be interested implementing the [above suggestion](https://github.com/QubesOS/qubes-issues/issues/4693#issuecomment-697510347) if we choose to go in that direction (after addressing all risks of users think that's the official website). So it's fine by me to do that initial push, especially as the website is already fully constructed and documented.

Thanks for the invitation. The fo

[2020-09-23 21:44] tasket opened #6087 "losetup no longer results in device manager entry after domu startup"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

**Brief summary**

In Debian 10 VMs, executing a losetup command just after startup no longer results in a dom0 device list entry.

**To Reproduce**

Where the VM 'untrusted' is not currently running:

[code]

I haven't tried it yet with Fedora.

**Expected behavior**

An entry for the loop device appears in the q-devices widg

[2020-09-23 21:52] tasket commented on #6087
The problem has stopped manifesting after I upgraded the template to current qubes*-testing packages, so I'm closing this for now.

[2020-09-23 21:52] #6087 closed

[2020-09-23 23:40] iamahuman commented on #6068
Does `systemctl restart qubesd.service` help?

[2020-09-24 02:56] d2po commented on #6084
I did maxmem=0.  I also noticed that this didn't uncheck the box in the GUI when I went in there to check the settings (not sure if it was working anyways) so I unchecked it and tried again (forgot to add that part to the repro steps)

[2020-09-24 02:58] straussmaus commented on #6083
@andrewdavidwong

I agree this needs diagnosis.  But also, a workaround.

Is there a flag to add to this so we can find a workaround?  ie  - a command I can run from another linux machine, after mounting the encrypted disk, to change the NetVM?

Is there a doc that explains this that I have not seen maybe?

Thank you.

[2020-09-24 03:36] l1am9111 commented on #6083
It is possible to stop Qubes autostarting any VMs by adding `qubes.skip_autostart` to kernel command line.

[2020-09-24 06:01] deeplow commented on #4693
I've just remembered that there probably will be the need to replace all relative links that point from the external documentation to the official one @andrewdavidwong

[2020-09-24 08:04] deeplow commented on #4693
@awokd @andrewdavidwong won't it be better to split the documentation from the Contents?

I would suggest there is one repo only for the documentation `qubes-community-doc` and then one `qubes-community-utils` with small scripts. Any project larger than a simple script could have its own repo.

[2020-09-24 10:36] rustybird commented on #6074
Yes, and it can be worked around by appending `module_blacklist=floppy` to the HVMs' `kernelopts` property.

[2020-09-24 12:33] andrewdavidwong commented on #4693
Yes, good point.

I leave such decisions to @awokd as (current sole) admin. I would like to respect the autonomy of that organization as an independent entity.

[2020-09-24 12:38] zellchristensen commented on #6084
@d2po It might be an issue with Windows 7 and hardware support with some of your newest hardware.  Usually a WindowsVM in Qubes will show the actual CPU information, and I don't think Ryzen 9 is officially supported.  I don't know if there's any other hardware that's passed through directly by default.  Are you sharing any additional Devices in the Devices list?

Alternatively, maybe an issue with

[2020-09-24 12:43] andrewdavidwong commented on #6083
This sounds like a potential workaround worth trying. I am not aware of anything else.

[2020-09-24 16:58] d2po commented on #6084
Still working on retrieving a MEMORY.DMP file.  My understanding is I need to extract this from the page file.  I've got a working windows 10 VM up, so going to give this a shot today.

When booting direct from the ISO, I'm using the one shown here: https://github.com/elliotkillick/qvm-create-windows-qube/blob/master/windows-media/isos/download-windows.sh#L107

The OEM disc allows me to at least g

[2020-09-24 19:28] 0spinboson commented on #6047
you can usually work around this by running qvm-block d APPVM after sys-usb reboot, but yeah, it's a minor nuisance.

[2020-09-24 20:23] marmarta commented on #6070
That's fixed by https://github.com/QubesOS/qubes-manager/commit/bdc11582f1d4b175c0a229de7d575726213d862e - will be included in Qubes 4.1 :)

[2020-09-24 20:23] #6070 closed

[2020-09-25 00:50] tasket opened #6088 "R4.1 provides-network blocks net traffic on Debian 10"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

qubes-template-debian-10 (from testing repo)

**Brief summary**

When using the Debian 10 template for sys-net or sys-vpn, no network traffic is forwarded downstream.

**To Reproduce**

Configure sys-net to use debian-10 template.

**Expected behavior**

VMs connection via sys-net should have net access.

**Actual behavior**

[2020-09-25 01:16] tasket commented on #6030
I suffer from this issue as well, but I did not "install" a custom layout in the system. I'm using a non-qwerty layout that has long been supplied by all Linux distros and worked without issue in Qubes 3.x and 4.0.

[2020-09-25 02:05] straussmaus commented on #6083
I solved the problem because I had the old system available.  So I put the drive in the old system, booted, fixed things, put it in the new machine.

But this is a potentially big problem for anyone who backs up and restores to a new or different computer.  Or who has an archival copy of their data, loses their computer, and gets a new one.  So a good fix is important.

@l1am9111 Where do I enter

[2020-09-25 05:40] zellchristensen commented on #6084
@d2po Using that ISO file you linked, `7601.24214.180801-1700.win7sp1_ldr_escrow_CLIENT_ULTIMATE_x64FRE_en-us.iso` ( MD5:8CE237E3D43CCFB41BFE32CCD4420E10 SHA1:7CC76B0015220DE956328FB934D61B710A94293D ) I was able to successfully install Win7 in a Qube with the same settings as the photos I posted earlier, 2048/20480 private/system storage, 512mb memory,  I notice it uses a lot more storage space t

[2020-09-25 05:49] bjaq commented on #4604
I have the issue with my Dell XPS 15 7590. CPU frequency is stuck at nominal value. The laptop is cooking with almost no CPU usage (80°C idle, quickly reaching 100°C under load) On windows I'm under 50°C idle. No xenpm commands have any effects on this.
Can we hope for a fix eventually? It seems to affect a lot of systems, and as I looked through the internet to try to understand the issue I reali

[2020-09-25 05:52] d2po commented on #6084
When I take the memory that low, I get:

IRQL_NOT_LESS_OR_EQUAL
STOP: 0x0000000A (0x20,0x2,0x0,0xFFFFF80002721800)

If it is expected to be able to boot windows 7 with the memory this low, it might be useful to work around this IRQL issue.   I'm currently blocked on getting a MEMORY.DMP because my memory size is larger than the 512MB swap file that I have on this half-installed system, so I think

[2020-09-25 06:56] fepitre commented on #6030
On XFCE, it's needed to deselect "Use system defaults". There is something that override the interpreted layout from our last implementation.

[2020-09-25 08:31] andrewdavidwong commented on #6083
What method was used to back up the VMs on the old machine and restore them on the new machine?

[2020-09-25 10:27] andrewdavidwong commented on #4762
This appears to have somehow gotten fixed along the way.

[2020-09-25 10:27] #4762 closed

[2020-09-25 14:38] tasket commented on #6030
@fepitre I'm using KDE and see no such setting for the keyboard.

[2020-09-25 14:53] tasket commented on #6030
@fepitre OK, the equivalent KDE setting to turn off appears to be "Configure Layouts"...?

Right now its working correctly.

[2020-09-25 16:03] fepitre commented on #6030
Honestly I don't use KDE at all so I don't know. So if it works directly by turning off this option into VM without the need to restart anything, so yes certainly.

[2020-09-25 17:43] d2po commented on #6084
Going to try to boot this ISO onto the bare metal to see if the issue is between win7 and the Ryzen 9 with virtualization turned on, will update later when I find out.

[2020-09-25 21:06] ninavizz commented on #5732
@marmarek

Hi Marek!

I tweaked the CSS in my Firefox, and below is the outputs it offered me.
They indicate which CSS file is changed, in the `*/` line of text above each CSS attribute. Within the attributes, the code I edited or omitted, is also shown within those attributes at the top.

Above, is the co-branded header image I'd like to use, in place of today's LimeSurvey one. This one should of

[2020-09-25 21:14] ninavizz commented on #5732
@marmarek There is also some content at the bottom of the welcome page, that the LimeSurvey UI gives me no option to show or hide. Which is very, very frustrating; as I'm saying much of the same, above, but more usably and in the order our users will likely want to read it. As such, might you be able to just kill their divs altogether?

And, yes—all of the above, and this, I have tried to find way

[2020-09-26 03:08] d2po commented on #6084
The MS ISO that crashes on initial boot in qubes was able to boot and show the language selection on the machine itself.  I also tried booting the system from an iso on the dom0 filesystem as mentioned by @easydozen but I get the same crash as I do when the file is inside of another qube.

[2020-09-26 13:56] andrewdavidwong commented on #4693
_Reproducing my comment from https://github.com/Qubes-Community/Qubes-Community.github.io/issues/2#issuecomment-699498161:_

After considering this a bit more, I think that making a whole new website might be overkill. Even if the initial setup is made "easy" by just copying and tweaking the Qubes website, there will still be ongoing maintenance required, which might be hard since it's all volunte

[2020-09-26 15:49] fepitre opened #6089 "sys-gui-gpu: video bus even keys"
On some laptops in dom0, keys for managing video options like screen or brightness appear as event input devices. While GPU passthrough to `sys-gui-gpu` we currently lost those input devices and we cannot expose them to the GuiVM like we do with touchpad or keyboard.

@marmarek's first thoughts would be probably some extra VM config needed, like some extra ACPI table, or access to some physical ad

[2020-09-26 20:48] SaswatPadhi commented on #6088
The `debian-10-minimal` template from ITL testing repo seems to work fine.

[2020-09-27 06:42] icequbes1 opened #6090 "Unable to start qube VMs if /var/log is empty"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
qubesd, qubesdb-daemon, qubes-qmemman

**Brief summary**
No qubes will start after a reboot if /var/log directory is empty.

**To Reproduce**

Steps to reproduce the behavior:

In dom0 I did the following:

1. Remove all files inside of /var/log (I did this to free up space and remove the clutter of thousands of disposable VM lo

[2020-09-27 07:40] fepitre commented on #6090
When something like this is happening, generally it means something bad happened. In many production systems, it can be a proof that you lost your log partition and this is absolutely not a good idea to force things booting before doing investigations or rescue operations like your did. If it's an issue with space or something there is proper solution like `logrotate`. I would rather add documenta

[2020-09-27 08:04] icequbes1 commented on #6090
I agree you will never see `rm /var/log/*` as a recommended procedure! Only users that have thousands of disposable VM log files sitting around will do that and wipe everything :)

But even if all of /var/log is still there but certain Qubes log files removed, it seems odd to me for Qubes services to rely on log files already existing. Unless the idea is to consider inability to write log files at

[2020-09-27 08:15] fepitre commented on #6090
As I said, not specifically to Qubes services. In a more general way, some service assume that their log file is created before it starts. Even if it's inconvenient, some time it's a proof of a healthy log system, assuming the admin has properly setup the corresponding service and checked that everything is normal before starting it. It does matter because a service has no way for knowing if it's

[2020-09-27 09:01] iamahuman commented on #6074
1. Confirmed on `4.19.143-1.pvops.qubes.x86_64`.
2. The crash does **not** manifest when `floppy` is the only module loaded.
   To test: `qvm-prefs <vmname> kernelopts "nopat systemd.target=modprobe@floppy.service"`
   Note that the VM would shut down due to qrexec timeout, since no other system services are started.
3. This bug is not just another "memory corruption" one, but appears to be caused

[2020-09-27 09:10] iamahuman commented on #6074
5. `Modules linked in: floppy(+) xen_gntdev xen_gntalloc xen_blkback xen_evtchn xenfs xen_privcmd overlay xen_blkfront`

[2020-09-27 09:28] marmarek commented on #6090
They are not. They rely on specific _directories_ existing, with correct permissions. This standard practice, especially for services running as non-root user, as those cannot create directories themselves.

That said, it should be harmless enough to add relevant mkdir commands to `fix-dir-perms.sh` script by default.

[2020-09-27 09:37] iamahuman commented on #6074
6. Loading `floppy` early in boot along with the module list above (`nopat modules-load=xenfs,xen-gntdev,xen-gntalloc,xen-privcmd,xen-evtchn,xen-blkfront,overlay,floppy`) seems to avoid the crash.

[2020-09-27 11:10] marmarek commented on #6074
Thanks @iamahuman for this analysis, quite useful.

[2020-09-27 11:20] marmarek commented on #6074
Bug report sent: https://lists.xenproject.org/archives/html/xen-devel/2020-09/msg01887.html

[2020-09-27 12:52] setemeraude opened #6091 "Cannot successfully create a Kali templateVM usings the Qubes 4.0 katoolin method"
**Qubes OS version**

Qubes 4.0

**Affected component(s) or functionality**

Debian templateVM, upgraded via external documentation instructions to debian testing releases 'bullseye-security'
katoolin
network connectivity

**Brief summary**

**To Reproduce**

Steps to reproduce the behavior:
0. Assume a default Qubes 4.0 OS utilized by a new/inexperienced user. No tweaks that seem second nature to

[2020-09-27 13:33] iamahuman commented on #6074
@marmarek Successfully bisected to `32a4f37b6849: XEN uses irqdesc::irq_data_common::handler_data to store a per interrupt XEN data pointer which contains XEN specific information.`.

[2020-09-27 13:51] marmarek commented on #6074
That would be my guess too.

[2020-09-27 13:52] marmarek commented on #6066
Bisected to https://github.com/xen-project/xen/commit/633ecc4a7cb

[2020-09-27 16:20] marmarek commented on #6066
And the fix: https://lists.xenproject.org/archives/html/xen-devel/2020-09/msg01892.html

[2020-09-27 16:28] n0101 commented on #5553
Same problem as firstabor.  Dell Precision 7540 with most recent BIOS.  Read through installation docs to see which BIOS settings to try changing. No luck trying to install 4.03 from usb made with rufus dd.  Following settings have been tested
intel software guard extension set to enabled, disabled, controlled by OS.
secure boot is disabled.
TPM off
TPM 2.0 on
Fastboot minimal
Fastboot thorough
Sw

[2020-09-27 17:33] marmarek opened #6092 "Xen panic on installer startup - Qubes 4.0.3"
Same problem as firstabor.  Dell Precision 7540 with most recent BIOS.  Read through installation docs to see which BIOS settings to try changing. No luck trying to install 4.03 from usb made with rufus dd.  Following settings have been tested
intel software guard extension set to enabled, disabled, controlled by OS.
secure boot is disabled.
TPM off
TPM 2.0 on
Fastboot minimal
Fastboot thorough
Sw

[2020-09-27 17:33] marmarek commented on #5553
This looks like a different issue than the one here reported originally. Moved to a new issue: https://github.com/QubesOS/qubes-issues/issues/6092

[2020-09-27 17:33] #5553 closed

[2020-09-27 19:16] andrewdavidwong commented on #6090
If I understand correctly: Qubes services follow a standard, general Linux practice of requiring appropriate log directories to exist. The user decided to manually delete these directories, resulting in Qubes services breaking. If this is correct, then:

1. This is not Qubes-specific. There is no sense in the Qubes OS Project trying to write documentation about Linux in general or about other proj

[2020-09-27 19:31] andrewdavidwong commented on #4693
In order to convert the relative links into absolute links, I believe it should be sufficient to make the following replacements:

 -  `](/` to `](https://www.qubes-os.org/`
 - `]: /` to `]: https://www.qubes-os.org/`

But let me know if anyone has a better idea.

[2020-09-27 20:00] andrewdavidwong commented on #6080
@qufo418, could you please report this to Cloudflare and follow up here when you receive a response?

[2020-09-27 20:06] andrewdavidwong commented on #4693
Another question concerns attachments, such as images. Currently, they're all stored in [qubes-attachment](https://github.com/QubesOS/qubes-attachment/). It would probably make more sense for the attachments that belong to each doc to be stored in that org's repo.

[2020-09-27 21:26] icequbes1 commented on #6090
I agree that when the trigger is `rm -rf /var/log`, that it's a scenario that I would frown upon as a "why do users do these sorts of things?!!?" and is probably not worth the time to look into when there are more important issues to deal with.

I also did not submit this issue lightly; while the reason behind an empty `/var/log` can be questionable, the intent of this issue is to ask if Qubes wou

[2020-09-27 21:36] lubellier commented on #2567
powerpill is available as an AUR package (see [aur powerpill](https://aur.archlinux.org/packages/powerpill/)), so adding a new repository is not more required.

Furthermore, the current [archlinux Qubes doc](https://www.qubes-os.org/doc/building-archlinux-template/), describes how adding a custom repository (see _Creating a archlinux repository_ section).

@andrewdavidwong : so I suggest closing t

[2020-09-27 21:55] lubellier commented on #3872
I tested this issue on a fresh archlinux install, and the problem is solved.

Details:
[code]
[code]
[code]

@andrewdavidwong  I suggest closing this issue

[2020-09-27 22:11] andrewdavidwong commented on #6090
Thanks for the clarifications, @icequbes1. I better understand where you're coming from.

It seems to me that these are the key things for the devs to decide whether they consider anything here a bug or not.

Agreed.

[2020-09-27 22:11] #2567 closed

[2020-09-27 22:12] #3872 closed

[2020-09-27 22:57] iamahuman commented on #6074
@marmarek Workaround for Qubes: revert the patch and blacklist GPIO and pinctrl drivers (and any other chained interrupt drivers that makes use of `handler_data`) for now, since they probably have never worked properly. We can wait for proper upstream fix later.

I completed analysis of this bug; will post to xen-devel later.

[2020-09-28 02:55] tumbletree opened #6093 "Update for fedora-32 is freezing the machine"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Updater

**Brief summary**
Updater announces an update for fedora-32. Starting the update process leads to a freeze of whole system (plus fan in overdrive). Tried twice, both times failed while the black notification box said the the mgmt-dvm was starting.

**To Reproduce**

Steps to reproduce the behavior:
1. Wait for updater

[2020-09-28 03:09] ninavizz commented on #5732
(sorry to over-comment... @marmarek pls ignore the above CSS, I found a different theme I'd prefer modifying. Its form-inputs don't "bounce," which I find preferable to the default theme's controls)

[2020-09-28 08:34] qufo418 commented on #6080
On Sun, 2020-09-27 at 13:00 -0700, Andrew David Wong wrote:

I can try...;-)

--

-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF9SOUMBEAC6EH5yEQta+NP+rfVNOD7BBR9lYzZNjvAKceJCJCLr4oU04eW7
YPEi5hWRWG3kAceJYxz8QqCsBlHDjXGD1uvUx0lkmKSmiBdMRNslxfersWYDe9by
nT6Pfk1NBgNs/pu1ClMCBeC6B6yxMhO1cSiXn3sD/K+nTAecHZUa6uXiW8BUJ723
yJUeekQ+vVea0yEESpsqLbwP1OKOc+EwzWMzccwFgeDWZcMpcCxSfRdgl00ZBybd
VeNsF97tBnx+gF5PwcSu

[2020-09-28 12:44] jandryuk commented on #4604
@dmoerner  `static __initconst struct x86_cpu_id intel_pstate_cpu_ids[] __initconst = {`
Dropping the 2 `__initconst` here and on `static __initconst struct cpu_defaults core_params = {` and `static __initconst struct cpu_defaults byt_params = {` lets it build.

However, like you say, it's 5 years old.  The driver doesn't match my hardware, so it doesn't load :( .  A re-sync with linux code will b

[2020-09-28 13:42] jevank commented on #6066
I my case patch gives me reboot while resume action...

[2020-09-28 13:59] marmarek commented on #6066
I do have a system where the resume is still broken, but looks like a proper panic instead of instant reboot now (5s timeout before reboot, instead of instant). Sadly I don't have serial console there, so I don't know what really happened.

[2020-09-28 15:02] jevank commented on #6066
Looks like I have similar timeout and have no serial port at laptop too

[2020-09-28 15:27] n0101 commented on #6092
Is there a way to capture the output before the last screen?

[2020-09-28 17:32] #6093 closed

[2020-09-28 17:32] tumbletree commented on #6093
after 10 hours and a third attempt, it worked.

[2020-09-28 18:04] rustybird commented on #4604
My ThinkPad x230 (with only a puny i5) used to get stuck on the lowest CPU frequency, and `processor.ignore_ppc=1` didn't help - only a full poweroff would unstick it.

What finally fixed it was to swap the power supply from a third-party 90W unit to an original Lenovo 90W, even though I had only ever come across reports of throttling for _i7 models_ on a _65W_ PSU before. So I can really recommen

[2020-09-28 20:56] ninavizz commented on #5809
@unman We're trying to put the final touches on a survey that will answer many of these questions, and more... stay tuned!

[2020-09-28 21:01] ninavizz commented on #5732
Just discovered + to-do once LimeSurvey is depreciated to a more stable 3.x version... there is a global setting whereby all answers can have "No Answer" added to all questions, by default. Which I love, because it places that option below the "Other:" option—which is important. That said, it is hard-coded into LimeSurvey for the "No Answer" option, to show that language to users... which feels ra

[2020-09-28 21:05] andrewdavidwong opened #6094 "Make Qubes package names consistent between Fedora and Debian"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Package naming

**Brief summary**

The package is called "thunderbird-qubes" for Fedora and "qubes-thunderbird" for Debian, which causes [user confusion](https://qubes-os.discourse.group/t/unable-to-add-qubes-extension-to-thunderbird-in-fedora-minimal/).

**Expected behavior**

Same package follows roughly same naming scheme a

[2020-09-28 23:15] tSC-1 commented on #5374
... have tried to install (and I would like to go on with this
very much...!) Qubes 4.03.) on three of our Laptops from ASUS:
ExpertBook 9. ZenBook 14 and Zephyrus Duo 15.
They have all Intel CPUs of the 10th generation (one i5, one i7 and one
i9)...
On each of them I have installed the newest BIOS what ASUS is
delevering so far...

When I try to install Qubes 4.03. all of them are showing the err

[2020-09-29 00:05] tasket commented on #6088
Workaround for me was to enable the Qubes buster-testing repo; subsequent update installed new qubes packages and Debian proxyVMs became operational.

[2020-09-29 00:05] #6088 closed

[2020-09-29 07:31] fepitre commented on #6094
Unfortunately, from what I remember, it's not the only one example. As I was about to find a way to get all the packages name (see https://github.com/QubesOS/qubes-builder/pull/123), I will be able to highlight the differences across distro easily and we should make it uniform.

[2020-09-29 11:12] unman commented on #6094
On Tue, Sep 29, 2020 at 12:31:55AM -0700, Fr??d??ric Pierret wrote:

I would favour the "qubes-XXX" versions - it's a consistent approach and
makes the packages easier to find/sort

[2020-09-29 12:19] iamahuman commented on #6094
How about keeping existing package names and provide aliases for one another, via Provides: or a virtual package?

[2020-09-29 12:23] marmarek commented on #6094
In case of any rename we'd need migration path like this anyway. But unifying package names make it easier to spot them on the package list too (like `rpm -qa`, `dpkg -l` etc). Aliases won't help you here...

[2020-09-29 12:35] marmarek commented on #6094
As for actual naming, Fedora has [a policy](https://fedoraproject.org/wiki/Packaging:Naming#Addon_Packages) for that:

This means, it should be thunderbird-qubes.

I don't see equivalent policy in Debian, and also I see kind of mix in practice, for example [nautilus](https://packages.debian.org/search?keywords=nautilus) - I see both "rabbitvcs-nautilus" and "nautilus-sendto".

[2020-09-29 13:38] unman commented on #6094
On Tue, Sep 29, 2020 at 05:35:52AM -0700, Marek Marczykowski-G??recki wrote:

This is unfortunate, because imo it makes the packages more difficult to
find.  But if there's a policy, I suppose we should abide by it. (I don't
believe there is a corresponding guide in Debian and as you note, in
practice, there is a variety of use.)

[2020-09-29 16:15] GWeck opened #6095 "debian-11 update broken"
**Qubes OS version**
R4.0.3 fully updated

**Affected component(s) or functionality**
debian-11 template

**Brief summary**
The VM shows the sign that updates are available. When starting the update, the corresponding packets are downloaded and installed. As far as I can see, the Qubes packages seem to get removed.  The template then is broken.

**To Reproduce**
Update the debian-11 template via t

[2020-09-29 16:21] fepitre commented on #6095
Sorry but the version you are referring is not even finished/released yet.

[2020-09-29 18:59] ThatAimDude opened #6096 "Pane is dead"
![20200929_201906](https://user-images.githubusercontent.com/46623193/94603509-a4502d80-0296-11eb-9f01-869e06225c49.jpg)

Hi so im trying to install Qubes and i had several problems. Right now when im on the installer i press "install Qubes os ..." and a bunch of code runs and then it says "Pane is Dead". Im not sure what to do and i dont know what it means.

PC Specs

-Ryzen 5 2600x

- RTX 2070

[2020-09-29 19:32] euidzero commented on #4604
What could we do to help with this issue?

Le lun. 28 sept. 2020 à 14:44, jandryuk <notifications@github.com> a écrit :

[2020-09-29 20:29] marmarek commented on #6066
Discussion on xen-devel: https://lists.xenproject.org/archives/html/xen-devel/2020-09/msg02074.html

[2020-09-29 21:22] awokd commented on #4693
We had originally attempted something along those lines for proposed edits to the documents, but it was overkill for what we needed at the time. Might make sense here, though. Let's continue discussing over on https://github.com/Qubes-Community/Qubes-Community.github.io/issues/2?

[2020-09-29 23:30] marmarek commented on #5403
Done.

[2020-09-29 23:30] #5403 closed

[2020-09-30 00:19] andrewdavidwong commented on #6096
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2020-09-30 00:19] #6096 closed

[2020-09-30 00:20] andrewdavidwong commented on #6095
I'm guessing that this should be closed as `not an issue` since this template is not expected to be non-broken right now.

CC: @unman

[2020-09-30 00:20] #6095 closed

[2020-09-30 04:47] icequbes1 commented on #5975
The real fix for this is to exclude building app-linux-pdf-converter for a bionic $DIST.

There's already exclusions for stretch, jessie, centos7, and centos8 for this very reason (python 3.7+ is required and bionic provides 3.6 by default) in app-linux-pdf-converter/Makefile.builder, just add `bionic` to it:

[code]

[2020-09-30 06:11] Jeeppler commented on #6091
@andrewdavidwong can you assign me to this task?

[2020-09-30 06:13] ninavizz commented on #5732
@marmarta So... I'm an excellent hack at forcing CSS and HTML to bend to my will in a local browser, but I stink at making live code... umm, like, work. It doesn't seem like rocket science, but despite access to all the frontend stuff through the Admin part of the Lime UI, it's something I'm not able to get right. As such, I wanted to ask if you might be keen to take a spin at pushing the below tw

[2020-09-30 08:46] pwmarcz commented on #6066
Seeing the same on System76 Galago Pro 4. Suspend worked on Xen 4.13. On 4.14 fans and screen wake up, the Fn-1 fan control works, but the laptop doesn't respond to anything else, and there is nothing on the logs after suspending.

[2020-09-30 09:05] fepitre commented on #5940
Just tried to rebuild those components and I ran into issues. It seems that currently used versions are now too old at least for `libsolv` and `libdnf`. Latest version of `libdnf` uses `libmodulemd2` which is in Debian repos so it allows to ignore the current version 1 component. But, it also requires `libsolv-0.7.0+`. Trying to sync `libsolv` with Debian version, makes needed patches for RPM home

[2020-09-30 09:24] jevank commented on #6066
@pwmarcz Have you tried [patch](https://github.com/QubesOS/qubes-vmm-xen/pull/88) from PR?

[2020-09-30 09:37] ninavizz commented on #5732
@marmarta Last nina-ask before going to bed... might a PGP key be possible to offer users for the survey@qubes email? I saw SimplySecure do that for a survey that was just pushed for another project, and that seems inline with our user needs. Text is in the current version of the survey on line, with a placeholder # for a URL.

[2020-09-30 09:51] marmarek commented on #6091
@Jeeppler part of the issue is debian-11 template broken because of #5940 . But for now it may be enough to skip installing qubes-core-agent-dom0-updates (that depends on DNF).

[2020-09-30 09:51] ThatAimDude commented on #3340
I still have the problem here is a full video of what happens when i put nothing inside the grub menu.
https://www.reddit.com/r/Qubes/comments/j2i5qn/pane_is_dead/

Im really confused and im not sure what to do

[2020-09-30 10:08] juodumas commented on #6095
Same happened to me. Looks like debian's python2 removal is in progress in bullseye/testing and things are breaking. @marmarek mentioned `xen-utils-common` as a possible culprit in https://github.com/QubesOS/qubes-issues/issues/6061#issuecomment-694524323 and I guess this issue will be resolved when Debian fixes https://tracker.debian.org/pkg/xen for testing (right now it says `source package has

[2020-09-30 10:15] pwmarcz commented on #6066
@jevank I tried it just now, but there's no change, also with all the VMs stopped.

I should also mention that on this laptop reboot doesn't work, so it's possible that Xen was trying to reboot and froze the computer.

[2020-09-30 11:09] qufo418 commented on #6045
Hi, I followed the new process, but it's still missing: https://qubes-os.discourse.group/t/building-qubes-iso-fedora-32-dnf-error-python2-sh-unable-to-find-match/667/18?u=qufo

[2020-09-30 12:10] qufo418 commented on #6045
I just build mgmt-salt. I changed in qubes-src/mgmt-salt/yaml-dumper the first line from
`#!/usr/bin/python2 -O`
to
`#!/usr/bin/python -O`

I try to build the ISO now.

[2020-09-30 15:49] gulliverfoyle commented on #3281
Ubuntu 20.04, libre office, had this issue.  Ran clam tk and deleted everything found.   No more problems!

[2020-09-30 20:26] 0rb677 commented on #5970
pinging @Nexolight

i have build voidlinux template from scratch but got this. can you fix qubes-vm-meta package?

![test](https://user-images.githubusercontent.com/60626673/94736024-4560e600-0374-11eb-91c8-ad8f2254bbbf.png)

[2020-09-30 21:47] kevin-alfred commented on #3281
I have just installed a fresh 20.04 Ubuntu and this same issue is happening.

[2020-09-30 22:27] Germayn commented on #5383
I agree !
Since I don't know the impact (downside?) of disabling `noexitboot` and `mapbs`, I sticked with having them enabled since they were no issue for me.

So I would suggest to better document all solutions - unless somebody could maybe explain the impact so we could decide whether to document all solutions (also in which order one should try them) or to just stick with the easy fix by changi

[2020-10-01 00:36] #6016 closed

[2020-10-01 00:36] #6076 closed

[2020-10-01 01:19] marmarek commented on #6045
Fixed with https://github.com/QubesOS/qubes-mgmt-salt/commit/41dd4a6e608e737b3d431fcc94e8622359225915 and https://github.com/QubesOS/qubes-mgmt-salt/commit/4290985be890ebf3128d3d90ca06d62f07860e8e
Downloading new sources (make get-sources) should be enough.

[2020-10-01 01:19] #6045 closed

[2020-10-01 01:20] #6074 closed

[2020-10-01 02:25] marmarek commented on #6066
I've run yet another bisection and here are the findings: https://lists.xenproject.org/archives/html/xen-devel/2020-10/msg00002.html

[2020-10-01 04:21] straussmaus commented on #6083
I used the Qube Manager System > Backup qubes and then restored the same way.

[2020-10-01 10:08] pwmarcz commented on #5615
There is a workaround in the newest Qubes kernel (see https://github.com/QubesOS/qubes-linux-kernel/pull/275) that basically enables the bypass mentioned above. To enable:
* install `kernel-latest-qubes-vm` version 5.8.11-3 in dom0 (available via the current-testing repository)
* shut down `sys-net`
* go to qube settings for `sys-net`, use 5.8.11-3 kernel
* add `iwlwifi.disable_rxq=1` to kernel op

[2020-10-01 10:42] 0spinboson opened #6097 "Xen 4.14: X crashes/hangs"
**Qubes OS version**

Qubes 4.1 up to date with current-testing
rx vega56, amdgpu driver, xorg-x11-driver-amdgpu installed
kernel 5.8.10

**Affected component(s) or functionality**

kde plasma 5.18

**Brief summary**

when I try to log in to kde plasma desktop, it either hangs for about a minute before crashing back to login screen (after which I sometimes can no longer connect to running VMs, or

[2020-10-01 11:49] ejose19 commented on #5615
@pwmarcz Thanks for making such a simple and practical solution, as WiFi 6 is becoming more common in newer mobos I'm sure new users will appreciate it as well. Confirmed it works following those steps.

[2020-10-01 15:43] brycepg commented on #4658
@andrewdavidwong Could you claim the bounty I made please? Apparently [BountySource will take the bounty after 2 years](https://news.ycombinator.com/item?id=23551098) which is 2 months away, and I want it to go to a Qubes member.

[2020-10-01 16:54] andrewdavidwong commented on #4658
Thanks for letting us know, @brycepg. I think the bounty should be turned into a donation to the Qubes OS Project, if possible. @mfc, @MiCh, do you know how to do that?

[2020-10-01 16:55] andrewdavidwong commented on #4658
I also have not experienced this bug in a very long time. It looks like the last report was from @w1k1n9cc on May 24. @w1k1n9cc, are you still experiencing this?

[2020-10-01 19:42] andrewdavidwong commented on #5530
It's still rather disturbing that Chromium updates -- including **security** updates -- lag so far behind Chrome in Fedora. In this case, almost two months later?! I wonder why that's the case, and I wonder how the Firefox update frequency compares. It suggests that users might really have to choose between privacy and security when it comes to browsers, which would be very unfortunate.

[2020-10-01 21:06] w1k1n9cc commented on #4658
My Qubes-PC is not very active at the moment. I will try it until tuesday. Maybe I have some sparse time at the weekend.

[2020-10-02 00:37] quantumpacket commented on #4658
I'm running the same hardware as when I first described this bug, and I have not had it happen for a very long time. In my situation the issue seems to be resolved. :+1:

[2020-10-02 04:57] icequbes1 opened #6098 "Make services within a qube's settings easier to understand"
**The problem you're addressing (if any)**
There doesn't appear to be any concise documentation that explains the "Services" tab when configuring a qube's settings. Users may not know what it does or what it's for. I have only seen references to enabling or disabling a particular service depending on a task a user may be executing following along in other documentation.

**Describe the solution yo

[2020-10-02 05:14] icequbes1 commented on #6022
A temporary(?) hack for a fedora 31 build VM is to manually add a symlink for focal to debootstrap.

[code]

Most targets in /scripts are just symlinks to a common `gutsy` script; a quick focal build worked on a Fedora 31 build VM (without any testing afterwards).

[2020-10-02 19:10] tasket commented on #6055
The 5.8.12-200 kernel update results in a system lockup on boot (after KDE plasma logo appears), but the 5.8.11-200 kernel works. Here is log output from the failed boot:
[code]

[2020-10-03 01:48] andrewdavidwong commented on #4658
Ok, I'm going to close this as resolved. If anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-10-03 02:18] andrewdavidwong opened #6099 ""Start" app entry is confusing and unnecessary"
**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

"Start" app entry in shortcut list

**Brief summary**

The "Start" entry simply does `qvm-start --quiet <vm_name>`. This is not very useful. It's also misleading, because it's in the app list even though it's not an app.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to add/remove app shortcuts for a VM.
2. See th

[2020-10-03 04:50] icequbes1 commented on #6026
I'd agree with unman; is this something that's truly needed?

I'd be interested to hear why the user wouldn't just install `qubes-core-agent-passwordless-root` if a root shell was needed so often as to now seek a one-click solution. The Qubes team makes clear their take regarding [passwordless sudo access](https://www.qubes-os.org/doc/vm-sudo/).

Using minimal templates is not the default use case

[2020-10-03 06:37] ninavizz commented on #5732
Ok!! 90% of the survey is done!

I am concerned about its length, so am pausing to ask folks in a new issue to please give it a spin in a timed capacity—to let me know how long it takes. I'd love to include all the free-text questions on the future of Qubes, but am concerned they may need to be condensed.

This is the GDoc with questions & outreach text.
https://docs.google.com/document/d/1C71M2Fk

[2020-10-03 07:03] ninavizz opened #6100 "Help me TEST this survey of Qubes users!"
Hello! I have been working closely with @marmarta on a survey that we hope to see properly published, sometime in the next week or so.

Before we vest energy into its finishing touches, however, I need to get a sense of **_how long it takes folks to get through this_**; as it is. My ask of others with this issue is to please this a spin—**with a timer on**—and responding to questions with real tho

[2020-10-03 07:12] fepitre commented on #6100
@ninavizz the links to previous issue don't work. I think you can write the full link instead.

[2020-10-03 07:24] fepitre commented on #5732
Just made the survey. It's very nice! Thank your for that. Just two things from my humble noob point of view:
- Tor question would probably deserves little example like mirror servers or such.
- I think I've answered two times the question about Desktop/Laptop
- @marmarek's best fuzzer as closing picture (https://blog.marmarek.net/assets/fuzzy-tester.jpg) :smile:  ?

[2020-10-03 07:33] tauin commented on #1806
same here, but im wondering why the first solution to the colour problem wasn't used, it shows you what vm you're using without destroying GNOMES CSD, if you want to show what vm you're running you could show it in the top bar alongside the name of the application like gnome already does?

[2020-10-03 08:00] zellchristensen commented on #6100
A little under 10 minutes.  I chose yes to being a qubes user and yes to participating in user research.

![2020-10-03_02-55-37](https://user-images.githubusercontent.com/38737447/94986444-7bdd6300-0524-11eb-802d-8479024d69ba.png)

[2020-10-03 08:32] zellchristensen commented on #5732
After taking the survey example for Issue https://github.com/QubesOS/qubes-issues/issues/6100 , I just wanted to offer some input on it.

![2020-10-03_02-48-21](https://user-images.githubusercontent.com/38737447/94986794-4423ea80-0527-11eb-9199-7e51f89f8ea3.png)
Perhaps add an additional option such as running some applications through tor instead of just choosing between browser only and whole co

[2020-10-03 13:59] marmarek commented on #6066
Few bisection runs later... I've updated issue description with the summary.

[2020-10-03 16:45] tasket commented on #5615
@pwmarcz This workaround only lasts about 5-10min for me before sys-net locks up.

The more traffic I push through wifi, the sooner it appears to freeze.

[2020-10-03 17:50] marmarta commented on #5732
Thanks for the input, @zellchristensen ! I've added some of your comments (all except the "rarely" - I need to think a bit about it, as the whole sometimes/rarely/often etc. scales are fiddly and annoying things :) )

[2020-10-03 17:54] marmarta commented on #5732
Could you perhaps try to write something? Neither me nor @ninavizz are super Tor pros, so we're a little apprehensive in how to word it not to sound bad :)

Yeah, one is about "general computer habits" and one is about "Qubes use"... maybe we should emphasize this a bit more.

I'm very much for that <3

[2020-10-03 19:47] Yethal commented on #6100
"Earlier in the survey, you said that you are not currently a regular user of a Linux OS. Had you previously been a regular Linux user?"
That question popped up despite the fact that I ranked Linux first on the list of operating systems previously

[2020-10-03 19:54] Yethal commented on #6055
Try adding following kernel flags (in whichever combination makes it work):
idle=nomwait amdgpu.noretry=0 amdgpu.gpu_recovery=1 iommu=pt amd_iommu=fullflush rhgb rcu_nocbs=0-15 amdgpu.dc=1
I have (almost) the same laptop and went through a lot of hoops to make it work under Linux.

[2020-10-03 20:38] andrewdavidwong commented on #6026
I'm inclined to agree with the considerations presented above, so I'm closing this as "won't do." If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-10-03 20:38] #6026 closed

[2020-10-03 20:43] andrewdavidwong commented on #6100
@ninavizz: FYI, this sort of thing really belongs on the mailing lists rather than qubes-issues, but I'll leave it open since it's already in use.

[2020-10-03 21:11] ninavizz commented on #6100
I'm only needing a few people to test this @andrewdavidwong; and the request is purely to test.
I don't want to make multiple survey requests in the mailing lists. The ONLY  one that should go there, is for the final survey.

Only one person has given me their time. That's it. I need more people to take the survey in a testing capacity, and post their times, here. Somehow my text above did not com

[2020-10-03 21:23] ninavizz commented on #6100
@andrewdavidwong Also, I want to delete this "Task" entirely, once it's been completed. Getting folks to take surveys is hard, and the responses are potentially less accurate for some questions, the second time a user takes it. FYI. Sorry, I'd hoped to get to this step mid-week when FPF folks could help me with this, but it being the weekend I needed to post here. I won't make a habit of this, I p

[2020-10-03 21:32] andrewdavidwong commented on #6100
No worries, not a huge deal.

I don't think GitHub allows us to delete issues, so closing when it's done is probably all we can do.

I'll take the survey now. :slightly_smiling_face:

[2020-10-03 21:33] edozzo commented on #6100
10 min 38 sec

[2020-10-03 21:35] ninavizz commented on #5732
Thank you @fepitre for the wonderful fuzzer-pic! Indeed, that had been my preference but I've felt like such a nag burdening Marek with too many things so far wit this project... the last thing I wanted to ask was, "Ohey, now that you've debugged this and that, pls send me a cat picture." DONE!!

Also, terrific feedback, TY!

@zellchristensen TY for the highly detailed (aka awesome) feedback! I've

[2020-10-03 21:42] andrewdavidwong commented on #6100
6.5 mins. No to being a current Qubes user, and no to participating in user research.

[2020-10-03 21:45] andrewdavidwong commented on #5732
Should we caption the cat picture to say that it's Marek's cat? I wouldn't have known unless I had read this thread. :joy:

[2020-10-03 21:49] marmarek commented on #5732
And another test performed:
![cat-photo1-small](https://user-images.githubusercontent.com/726704/95002339-f8c71600-05d2-11eb-9f1b-be01a1c4f408.jpg)

[2020-10-03 21:52] marmarta commented on #6099
Wait, it's still there? It's not on my (...highly experimental and oft-randomly updated with packages from 4.1 that may or may not work) instance of 4.0.

[2020-10-03 22:00] marmarta commented on #6099
Hmmm, maybe we should rename it to "Start qube"? so that if someone wants it (and there were some tickets from people who wanted it, see discussion in https://github.com/QubesOS/qubes-issues/issues/6007 ) they can add it.

[2020-10-03 22:05] ninavizz commented on #5732
Ok, to be fair, the kittehs have a mommy AND a daddy. Are we trying to keep that relation between the two human contributors on the downlow, or could we properly attribute?

[2020-10-03 22:21] ninavizz commented on #5732
Ok! I made a couple quick fixes to the survey, and relaunched it just now. Namely, I wanted to expose the question codes for folks to deliver clearer feedback (especially as things impact questions logic); as the above is all very helpful. Kitteh got swapped too, of course.

Today is supposed to be my tech-shabbat, so the rest I'll make tomorrow or Monday... :)

[2020-10-03 22:37] ninavizz commented on #6100
Ok! I made some tweaky fixes based on prior comments (as did @marmarta), added the QA Director's image to the confirmation page, and made general Question Codes visible to facilitate in QA. It's super helpful getting these times from folks; pls keep 'em coming, as well as the feedback on questions/logic stuff. Thx, all!

[2020-10-03 22:48] andrewdavidwong commented on #5732
I thought about that too but didn't want to be presumptuous in assuming joint custody, so I just went with what @fepitre said. >.<

[2020-10-03 22:50] andrewdavidwong commented on #6099
It's still there on my 4.0 installation.

I don't know what the best solution is, but that sounds reasonable to me.

Some other folks in the [forum thread](https://qubes-os.discourse.group/t/debian-start-application-doesnt-do-anything/676/) also want it and offered similar suggestions.

[2020-10-03 23:09] marmarta commented on #5732
Oh no, this particular kitty has a clear preference, he is definitely @marmarek's cat (and his own fuzzy tester, because I'm much better at teaching kitties not to sit on my keyboard :D )

[2020-10-03 23:11] icequbes1 commented on #2841
I'm getting a gradual slowdown of the whole machine after reboots on a t460, stock BIOS, with intel i915 booting UEFI via grub2. Have not seen a GPU hang error yet, but perhaps I haven't waited long enough.

Qubes 4.1 dom0 fully up to date with current-testing, linux kernel 5.4.67-1 (also seen on 5.4.64, 5.4.61), Xen 4.14.0-4.

Did not _appear_ to have an issue with gradual slowdown on the QA imag

[2020-10-03 23:47] marmarek commented on #2841
Seems to be very old, never fixed i915 driver issue: https://gitlab.freedesktop.org/drm/intel/-/issues/22

[2020-10-04 00:53] icequbes1 commented on #5732
That language might put some people off. True, what you're doing here is learning about the users. But how that data will be acted upon is more impactful and may lead to more willingness to fill out the survey. Something along the lines of "the purpose is to ensure Qubes OS meets the needs of the community by knowing what the community seeks from Qubes OS". This line of thought may also help to en

[2020-10-04 02:39] ninavizz commented on #5732
@icequbes1 I love your idea for tweaking the intro text, and will definitely edit it to that effect!!

The Survey live as it is right now, also does not include 5 open free-text questions for people to openly share their thoughts on Qubes OS. I needed to see how long the rest of the survey took, before adding those in as either their own separate survey, or a condensed free-text question, or as th

[2020-10-04 03:16] icequbes1 commented on #2841
After further testing:

1. My lag/slowdown issues do not appear to be (directly?) related to this issue. I recognized that performance was only poor when not charging the T460. If I disable Intel SpeedStep in the BIOS, there is no extremely laggy performance. This means starting sys-net takes 15 seconds compared to about 60.

2. With SpeedStep disabled, I still encounter the fault error logs spewe

[2020-10-04 03:22] icequbes1 commented on #5732
Gotcha. Thanks for the additional context; I understand where you're coming from now.

And you're right - the hovercar I always wanted is still in the garage collecting dust!

[2020-10-04 04:39] marmarek commented on #1019
I spent some time convincing pandoc to like our multi-file markdown repository and fixing internal links (or actually - convert them to really be internal). This is what I've got:
[qubes-doc.pdf](https://github.com/QubesOS/qubes-issues/files/5322652/qubes-doc.pdf)

And the generator: https://github.com/QubesOS/qubes-offline-doc/

This isn't perfect yet, for example "introduction" section is missin

[2020-10-04 06:37] baldover opened #6101 ""Curl error (23): Failed writing received data to disk/application" When downloading Fedora 32 Template"
**Qubes OS version**

**Affected component(s) or functionality**

**Brief summary**

**To Reproduce**

Steps to reproduce the behavior:
1. Attempt to do 'sudo qubes-dom0-update qubes-template-fedora-32'
2. See the curl error.

**Expected behavior**

It downloads and installs

**Actual behavior**

It errors out before completing the download

**Logs**

==============================================

[2020-10-04 09:21] fepitre commented on #4412
Some of you have probably noticed that the template has been uploaded in current-testing of R4.1 :) A proper announcement is in preparation by @andrewdavidwong.

[2020-10-04 10:28] fepitre commented on #6101
It's a mirror issue not Qubes issue. For temporary workaround comment `metalink=` and uncomment `baseurl=`.

[2020-10-04 11:58] maqp opened #6102 "[Feature Request] Generalized automatic unidirectional data transmission API between VMs for endpoint secure communication"
Hi, this became quite a long post, I hope it's ok.

### The current situation of secure comms on Qubes

The available solutions for secure communication on Qubes have so far been

* **TCB-on-networked AppVM**: E.g. you can run Signal/Briar/Cwtch/Ricochet on a dedicated AppVM which offers security from some other compromised app (e.g. browser) on another AppVM, and it prevents someone who exploits

[2020-10-04 14:25] fepitre opened #6103 "gentoo: notify dom0 after emerging a package"
When emerging a package in Gentoo template, nothing notify dom0 that a new application is available like it's done in other templates. Currently the only way to notify dom0 is to manually trigger refresh of applications in template settings.

Related QubesOS/qubes-issues/issues/4412

[2020-10-04 15:27] iamahuman commented on #6102
It's worth mentioning that there are existing covert channel issues in Qubes that needs to be addressed. In fact, they are severe enough to the extent of completely voiding the data-diode model (specifically the confidentality aspect, or the "Destination Computer" in TFC):

- Hardware-related side channels. #4216 may serve as a possible mitigation for the CPU part, though.
- Xen side channels. See

[2020-10-04 15:43] iamahuman commented on #6102
Redirecting stdout and stderr to `/dev/null` may prove sufficient for lax requirements (and is an improvement over `iptables` blocking); otherwise, Qubes RPC still has the following limitations:

- Flow control timing covert channel. Even if the communication may be unidirectional, the receiving end can still signal the sender when the buffer is full. This can be exploited to transmit data via flo

[2020-10-04 15:46] marmarek commented on #6102
The thing you're looking for is [qrexec](https://www.qubes-os.org/doc/qrexec/). Make Source VM and Destination VM not connected to the network and use qrexec services for communication. Bonus point: you remove the whole TCP/IP stack from the TCB.

In general it provides bi-directional transport layer with strict policy who can talk to who and on request what services (analogous to port numbers). C

[2020-10-04 17:09] icequbes1 commented on #6101
Assuming it's not mirror issues,

You might have disk space issues on the physical disk (volume group) where removing unused VMs would help.

However, as you are doing a `qubes-dom0-update` command, you also need to worry about the disk space _within_ the qube that retrieves your updates, which looks like sys-firewall. If you have downloaded a lot of updates, sys-firewall may have run out of disk

[2020-10-04 18:21] 0rb677 commented on #4412
Any working 4.1 iso?

https://openqa.qubes-os.org/tests/11537/asset/iso/Qubes-4.1-20200830-x86_64.iso

This build based on 4.14 hard freezes after install. Clicking on buttons doesn’t work. Can’t do anything

[2020-10-04 20:02] 0rb677 commented on #6028
@jon-bit quick and dirty fix

[user@builder-archlinux ~]$ vim /home/user/qubes-builder/qubes-src/builder-archlinux/update-local-repo.sh

[code]

[2020-10-04 20:14] andrewdavidwong commented on #1019
Nice! That's a huge PDF!

The choice for HTML for that page was intentional. Do you think we'll have to change it? Markdown allows for arbitrary HTML, but the source can end up rather ugly.

[2020-10-04 20:30] andrewdavidwong commented on #6102
Based on @marmarek's response, it sounds like there is no need for a new feature in Qubes, since `qrexec` already exists and fits the bill. Therefore, I'm closing this feature request as "won't do" (perhaps it's arguably "already done"). If anyone thinks that this issue should be reopened, please leave a comment briefly explaining why, and we'll be happy to take another look. Thank you.

[2020-10-04 20:30] #6102 closed

[2020-10-04 20:34] andrewdavidwong commented on #6101
Closing as "not an issue." (If it were a bug, it would be an upstream bug, but AFAIK such temporary mirror issues are not even considered bugs.) If you believe this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-10-04 20:34] #6101 closed

[2020-10-04 20:55] marmarek commented on #1019
Strictly speaking - github pages allows arbitrary HTML, not Markdown. Jekyll simply copies it 1:1 to the output (as any other text) and it works only because the output happens to be HTML. Having HTML directly there is a problem for converting to non-HTML formats, but also for uploading to transifex. @maiska have already solved this problem for the purpose of translations: https://github.com/maisk

[2020-10-04 21:57] mgifford opened #6104 "Improve UEFI troubleshooting documentation"
I'd like to see the [troubleshooting page updated](https://www.qubes-os.org/doc/uefi-troubleshooting/#installation-freezes-before-displaying-installer).

It's fine to say edit BOOTX64.cfg, but there should be a path there so that folks who don't do this regularly know where to look.  I am also having permissions problems editing this file on the USB drive, can't seem to sudo my way to fix this pro

[2020-10-04 21:59] andrewdavidwong commented on #1019
Another common type of HTML in our documentation is the "alert" class, e.g.:

[code]

What should we do about these?

[2020-10-04 22:02] andrewdavidwong commented on #6104
@PROTechThor is actually already in the process of doing this (see https://github.com/QubesOS/qubes-doc/pull/1048).

[2020-10-04 22:05] andrewdavidwong commented on #6104
I'll leave this open so that @PROTechThor can look through to see if there's anything that hasn't already been addressed. @PROTechThor, please add a close keyword to the appropriate PR of yours, or post a comment here, when you believe you've sufficiently addressed the requested improvements.

[2020-10-05 00:04] 0rb677 commented on #6097
It also freezes with external monitor throuth HDMI.

[2020-10-05 02:16] baldover commented on #6101
Hi thanks. Where exactly do I put it?

[2020-10-05 05:54] fepitre commented on #953
`scrot` is a dead package since Fedora 32. We cannot install/use it under latest R4.1.

[2020-10-05 07:56] zpc0 commented on #6100
10m 03s
Q3: Not just yet, but soon
user research: no

[2020-10-05 14:14] icequbes1 commented on #6028
After fixing `make remount` to allow `dev` and `suid`, the first error with qrexec is due to #4955 - qrexec was moved to a different repo in 4.1.

[2020-10-05 14:18] icequbes1 commented on #6101
`/etc/yum.repos.d/qubes-templates.repo`.

We can continue this support over at the [forum](https://qubes-os.discourse.group) or the qubes-users mailing list.

[2020-10-05 14:32] marmarek commented on #6066
@pwmarcz I've force-pushed https://github.com/QubesOS/qubes-vmm-xen/pull/88 with fixes collected so far. Can you test it?

[2020-10-05 15:05] pwmarcz commented on #6066
@marmarek Works so far! I did two succesful resumes with VMs running.

[2020-10-05 15:24] PROTechThor commented on #6104
@mgifford

I made [this commit](https://github.com/QubesOS/qubes-doc/pull/1048/commits/42c7c2209ce9326cddee372c84ef9a886a3bd3f6) to clarify how to edit BOOTX64.cfg. Is it adequate now, in your opinion?

Your screenshots are blurry and I can't  see the errors in the second screenshot . If I can't see the error message, I can't help with that error.

I agree. Screenshots will be helpful. Unfortunate

[2020-10-05 16:56] w1k1n9cc commented on #4658
I still face the issue if I restart i3.

[2020-10-05 17:45] mgifford commented on #6104
Thanks @PROTechThor - the challenge I have is a bit deeper than that. With VI, I get a E212 can't open file for writing.  I can't sudo to touch, chmod or in any other way change the ownership of this filesystem.  The USB keys I've created are read-only, and pretty firmly so.  I don't know what to do to overcome this.  I've created keys now on both the Mac & Linux now.  Can't seem to edit either.

[2020-10-05 19:14] zellchristensen commented on #5445
I ran in to this issue when attempting to attach USB devices to a new Standalone HVM.

`Start failed: internal error: libxenlight failed to create new domain '<vmName>'. see /var/log/libvirt/libxl/libxl-driver.log for details`

This is on a fresh install of Qubes R4.0.3 and a new empty standalone qube, but was also happening on an older install with an existing VM.

It doesn't seem to happen for a

[2020-10-05 20:53] andrewdavidwong commented on #4658
@w1k1n9cc, could you provide a bit more detail? You don't experience sys-net dying just from resuming from suspend, but you do if you also restart i3?

[2020-10-05 21:56] tasket commented on #6097
I'm having significant KDE startup issues w certain desktop components starting sometimes / sometimes not. In particular, the desktop seems to fail to start or crash, leaving a black area with no contents other than app windows. BTW installing the amdgpu driver hasn't helped this (although seems to help in other areas).

A related problem is that the desktop wallpaper and desktop icon settings are

[2020-10-05 21:59] tasket commented on #6097
Also, with the `qubes-vm` service startup, the sys-usb vm would fail to start about half the time and I would need to reboot the system to get it running at all. Definite race condition(s) happening during startup.

Switching to my delayed user script seems to increase the sys-usb success rate a lot.

[2020-10-05 22:22] tasket commented on #6044
From what I'm reading in the 4.1 logs and online, radeonsi and amdgpu work together but apparently the former can perform most functions by itself in a sub-optimal way.

Unfortunately, although I'm already noticing improvements in responsiveness and correctness in rendering (my guess is alpha-channel processing isn't quite correct without amdgpu) since installing the missing driver, the fedora-32

[2020-10-05 23:45] krishna727 commented on #5520
@ninavizz qubes app menu looks great but I think it could look even better if we sort the domain app-vms based on color.

[2020-10-06 00:15] unman commented on #5520
On Mon, Oct 05, 2020 at 04:45:20PM -0700, krishna727 wrote:

Can you explain what the advantage of sorting by color might be? An
obvious disadvantage is that it privileges color as a primary signifier,
which it is not.

If (e.g) I create qubes: work-mail, work-dev and work-browse, and the
same for "private" and "school", and assign "red" to browsing qubes,
and green to firewalled mail qubes, I wou

[2020-10-06 00:29] ninavizz commented on #5732
@andrewdavidwong My internet has been down all day today... I'm hoping it can be resolved by tomorrow.

1. Any chance we could connect early this week to discuss website stuff? I'll throw together some mockups of options, this eve, and post, here. If so, let's connect via email to schedule something.
2. When might you be able to work on implementing updates to the website to get the survey on it?

[2020-10-06 00:45] andrewdavidwong commented on #5732
Sure! Sounds good.

I can start immediately.

Sounds good.

Ok, I'm not the one with perms to set up a new qubes-os.org email address, but that sounds good to me.

[2020-10-06 01:49] dylangerdaly commented on #6055
@marmarek can I just add that to GRUB?

Where can I look to start fixing this / supporting NUMA nodes for Qubes?

[2020-10-06 04:54] w1k1n9cc commented on #4658
Ah, sorry, this is another issue with i3.
But I still face the behavior mentioned in this issue. Sometimes if my laptop wake up from suspend sys-net or sys-usb or both are stuck. The only way to rescue my system is to kill the specific vm. After that my system is running normally.

[2020-10-06 07:33] jevank commented on #6066
Works fine, great, so much combined errors, thank you.

[2020-10-06 09:53] ninavizz commented on #6100
Shut it down for a bit this eve to make some tweeks, its back live again. Gotta work on that first question, tomorrow. THANK YOU to everyone who's taken the survey and shared times/feedback/etc!!

[2020-10-06 10:09] dylangerdaly opened #6105 "Enable AMD's SEV for Ryzen PRO (4750U) Laptop"
**The problem you're addressing (if any)**
According to CPUID, my laptop's Ryzen 7 4750U supports AMD's SEV.

AMD's SEV encrypts memory per VM (appVM/domU)

Separating the all-powerful dom0 from just reaching into appVM's memory, this is greatly desirable.

According to [this](https://www.kernel.org/doc/html/v5.6/x86/amd-memory-encryption.html) CPUID function the Ryzen 7 4750U supports SEV:
[code]

[2020-10-06 12:24] gw0 commented on #6092
I am experiencing the same issue with Quebes OS 4.0.3 on an USB stick (dd, verified checksum) on Dell XPS 15 7590 with latest BIOS, also tried turning a few options on and off. Booting over UEFI initially resulted in Dell Diagnostic to pop-up (probably it detected a crash), but it started booting when I turned off Secure boot.

@n0101 Luckily, the laptop has a 4K screen, so below is the whole boot

[2020-10-06 15:21] juodumas commented on #3008
I am having this issue in Qubes 4.0 on DELL Latitude 7480. `sys-net` is running Debian and `iwlwifi` module sometimes fails to load after wake up from suspend:
[code]

Doesn't seem to happen when wifi is disconnected. Tried running `/usr/lib/qubes/prepare-suspend suspend; sleep 1; /usr/lib/qubes/prepare-suspend restore`, but it doesn't help. Power cycling `sys-net` resolves the issue.

I am runnin

[2020-10-06 15:47] PROTechThor commented on #6104
@mgifford

This doesn't appear to be a Qubes-specific problem. Do [these search results](https://www.google.com/search?q=E212:+Can%27t+open+file+for+writing+site:stackoverflow.com&client=ubuntu&hs=qSs&channel=fs&sxsrf=ALeKk01oEAnX11ftUpOHMYupt5iFafPkiw:1601998451159&sa=X&ved=2ahUKEwipg_KkpaDsAhUJoRQKHRkaBK8QrQIoBHoECAYQBQ&biw=1533&bih=742) help you troubleshoot it? What happens when you use anothe

[2020-10-06 15:53] iamahuman commented on #6105
If SEV support is implemented, we shall also encrypt individual Qubes volumes; otherwise Dom0 can inject malicious code into the VM anytime and exfiltrate private data from it. This means that it would be mainly useful only for DisposableVMs; AppVMs need to eventually save the encryption key when shutting down, which will be (of course) passed to Dom0.

Overall this issue would be better off track

[2020-10-06 15:57] PROTechThor commented on #6104
@mgifford I found [this thread](https://groups.google.com/g/qubes-users/c/gssEGXnNhZM/m/7nllwqbnAwAJ).  Let me know if the workaround given there help:

[2020-10-06 16:21] Geblaat commented on #5861
Thunderbird 78.3.1 has now been released in the Fedora stable repo, so users on v68 will be automatically updated.

[2020-10-06 16:29] maqp commented on #6102
Hi again! Thank you so much for your time and thoughtful replies!

@marmarek

Thanks! I managed to get it working, not sure if the new implementation (below) is correct and/or ideal.

I closed stdout and stderr on receiving side, but I'm puzzled what you mean I should close stdin, how can I pass a long ciphertext to the RPC service? I tried passing data as an argument but the input was limited to

[2020-10-06 17:27] bXV0ZQ opened #6106 "Impossible to use 'pillar={"x":"y"}' when targeting something else but dom0"
**Qubes OS version**
Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**
Salt Management stack

**Brief summary**
Sending pillar data will result in a bad interpretation of the entire entry `pillar="{\"foo\":\"bar\"}` as a unique word on the target.
Salt will so consider it as the environment and fail in executing the expected state.

**To Reproduce**

All steps must be executed i

[2020-10-06 20:08] marmarek commented on #6102
I mean close stdin on the side where you want to prevent sending data and close stdout on the side you want to prevent reading data. Not both at the same time.

Yes it does. But once a connection is established, data can flow there in both directions.

Yes, that's exactly what you can do.

You can avoid echo and shell:
 `subprocess.Popen(['qrexec-client-vm', 'DestinationVM', 'tfc.NetworkerDestinat

[2020-10-06 20:40] andrewdavidwong opened #6107 "Sometimes have to confirm yes twice in a row for dom0 updates"
**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

qubes-dom0-update

**Brief summary**

When updating dom0, you sometimes have to confirm yes twice in a row. This seems like a possible attack, if the attacker is somehow able to hide what the first confirmation is for (e.g., importing a new key), and make it look like some glitch.

**To Reproduce**

Steps to reproduce the be

[2020-10-06 21:10] marmarek commented on #6107
dnf is quite strict about what it considers an answer - any key pressed earlier is also retrieved by this prompt and for example if you press 'a' earlier, then it retrieve 'ay' and asks again. It indeed may be confusing, as it doesn't tell why it asks again.
Anyway, it all should be safe - qubes-dom0-update is designed the way it reject any suspicious packages early - if it gets to dnf, then it is

[2020-10-06 21:17] marmarek commented on #6106
Thanks for a very detailed bug report and an analysis. Quotes are added only to get things properly to salt-ssh call inside mgmt-dispvm-* (qubes.SaltLinuxVM service), they should not be passed down to the salt itself. This looks like some mismatch between pipe.quotes and qubes.SaltLinuxVM, I'll see how to fix it.

[2020-10-06 22:48] iamahuman commented on #6102
To copy from the mailing list archive due to #6008:

[2020-10-06 23:01] iamahuman commented on #6102
The manual route is, in fact, already available: `virsh vcpupin <domain> <vcpu> <cpulist>`&mdash;only that this does not persist across reboots or VM shutdown/startup. That said, a true mitigation would require at least two _physical_ CPU cores, but at that level I believe the user could just prepare a dedicated hardware for themselves as well.

[2020-10-07 00:43] ninavizz commented on #5732
@marmarek I need some answers for a question about Whonix. @marmarta Ok, I changed the first 2 questions into an array. The free-text questions are all in there, and to me this is mostly set. One "Tor" answer I think I need you to clarify your intentions with, but otherwise it looks good to me.

Care to give it a final(ish) spin?
https://survey.qubes-os.org/index.php?r=survey/index&sid=137242&lang

[2020-10-07 00:44] dylangerdaly commented on #6105
It's my understanding the encryption key used to encrypt memory is ephemeral, indeed the Guest OS is encrypting and decrypting memory pages, however dom0 isn't aware of what the key is, it only acts as a gateway/communicator to AMD's PSP, appVMs shouldn't be saving encryption keys for memory pages because they're ephemeral.

It's my understanding the entire point of SEV and SEV-ES is to separate t

[2020-10-07 00:50] iamahuman commented on #6102
Yes, it could. Exfiltration can happen anytime after dom0 approves the qrexec connection. (That is, if we ignore other side channel issues that will allow data exfiltration w/o dom0 intervention.)

FYI There are similar covert channels concerning networks: see [GIRLING, GRAY (Feb. 1987). "Covert Channels in LAN's". IEEE Transactions on Software Engineering](https://doi.org/10.1109%2Ftse.1987.23315

[2020-10-07 00:58] iamahuman commented on #6105
Memory encryption keys shall be ephemeral; there's of course no point in storing them anywhere other than inside the CPU.

Please excuse my ignorance. Does AMD CPUs support something like Intel TXT but which can also provide a secure way for VMs to store disk encryption keys without leaking them to the hypervisor?

[2020-10-07 04:09] zellchristensen opened #6108 "Change PVH Device Warning Behavior"
**The problem you're addressing (if any)**
When attaching a Device in the Devices tab of the Qube Settings, when the user clicks OK to save the settings, an error popup will appear if the Qube is set to PVH mode saying Devices cannot be attached in PVH mode, then the Settings window closes.

**Describe the solution you'd like**
Add the message to the top of the Device window (Similar to the messag

[2020-10-07 04:33] zellchristensen opened #6109 "Allow Cascading Shutdowns from Qube Manager"
**The problem you're addressing (if any)**
Currently, if a user wants to shutdown a "root" netVM, all connected "child" VMs must be shutdown first.  Doing this manually can be time consuming and tedious.

**Describe the solution you'd like**
An extra prompt or button to confirm cascade shutdown of all "child" VMs instead of the current error saying there are other VMs connected.

**Where is the va

[2020-10-07 06:03] bXV0ZQ commented on #6106
Many thanks for your quick reply and all the great job you all do at QubesOS.

[2020-10-07 06:32] andrewdavidwong commented on #6107
Anyway, it all should be safe - qubes-dom0-update is designed the way it reject any suspicious packages early - if it gets to dnf, then it is already verified. There is no way for an UpdateVM to get a package to dnf that isn't properly signed, or send new repo file, or new key or other similar actions.

Thanks, Marek. That's reassuring and good to understand. In that case, it probably was me accid

[2020-10-07 06:32] #6107 closed

[2020-10-07 06:34] andrewdavidwong commented on #6107
Now that I think about it, this behavior is probably common to most command-line tools (I think I've also noticed it when using git, for example), so probably wouldn't even be considered an upstream bug. I suppose it's just particularly noticeable (to me) when using `dnf` because of the y/n prompts.

[2020-10-07 06:51] andrewdavidwong commented on #5732
I can offer some basic info about this, in case it helps. Two of the main ways of using Whonix inside of Qubes are:

1. Using the Tor Browser in a Whonix Workstation qube in order to browse the web. This is also the most common use of Tor outside of Qubes, e.g., in non-Qubes Whonix, in Tails, or just using the Tor Browser Bundle on any mainstream OS. The advantage of doing this in Qubes is that th

[2020-10-07 07:12] andrewdavidwong commented on #6105
It's worth noting that, in Xen, dom0 is also a VM. (It's dom0, but it's still a dom0.)

Wait, why is that desirable? In Qubes, dom0 ultimately has control over all domUs, and it would seem that many aspects of Qubes are based on this design principle. Changing such a fundamental thing in Qubes would surely involve more than just enabling SEV, wouldn't it? Moreover, it's unclear what the benefit wo

[2020-10-07 07:20] andrewdavidwong commented on #6108
Another idea is to say something like:

If the user selects Yes, change it to HVM.

If the user selects No, execute the current behavior.

[2020-10-07 10:20] krishna727 commented on #5520
First big advantage is that there is an pleasing aesthetic look to it if we grouped domains based on color. Also your comment about color not being a primary signifier is not true since the qubes dev team has spent a lot of energy into making sure that the color on borders is secure so that user doesn't accidentally types something personal into a red VM ( like using work-browser VM instead of pri

[2020-10-07 12:21] iamahuman commented on #6105
AMD SEV only applies to hardware-accelerated virtual machines, limiting it to HVM and PVH in Xen. As of October 2020, only PV mode is supported for Xen dom0 and stub domains. (Eventually we'd like to transition exclusively to HVM/PVH anyway for other aspects security.)

In case of Dom0 compromise, it is theoretically possible to keep *some* sensitive ephemeral data in VMs protected. Anything beyon

[2020-10-07 12:30] iamahuman commented on #6105
It is, although implementing this via SEV will only be possible one day when dom0 becomes a PVH VM.

Meanwhile, SME is undoubtly desirable for Qubes. This however also requires patches to Xen, which again are better tracked in upstream.

[2020-10-07 13:02] marmarek commented on #6105
Not exactly true - experimental PVH dom0 is already available.

This unfortunately is still the case. Although hopefully not that hard to implement (we do plan to contribute this part to Xen, when the time allows).

Something on the roadmap for a long time already but for a different reason - see "Storage Domain" in arch pdf. But for this to be realistic, we need dom0 (or similar entity - see domB

[2020-10-07 13:46] marmarek commented on #6105
And one more comment: our general direction is to take as much data processing away from dom0 as possible (reduce dom0 attack surface), not necessary limit dom0 permissions (reduce impact of dom0 compromise). While the latter is not a bad idea in general, and can be pursued in parallel, the former is much more generic and applicable to more use cases (for example benefits also non-AMD SEV-ES compa

[2020-10-07 15:24] marmarek commented on #1019
I think @maiska also had some idea what to do about this. @maiska ?

[2020-10-07 15:53] 3hhh commented on #5105
Unfortunately this one is not fixed yet.

Moreover I noticed that it also happens for `qvm-block ls`.

To reproduce:
1. Start multiple disposable VMs.
2. Run the following dom0 script:
[code]
3. Close the disposable VM windows.

Multiple errors will occur for `qvm-block ls` (reproducible on every close for me) and after a while you'll also get some for `qvm-ls` (took me a few tries & multiple disp

[2020-10-07 15:57] marmarta commented on #6108
But the disable-device-tab is how it works right now in Qubes 4.0? ( see commit https://github.com/QubesOS/qubes-manager/commit/ebc7426cabd2e9f2dd4848d9767d4035a812bb59 )
I tested a VM with PVH enabled before, and one in which I set virt mode to PVH, and both disabled devices and added a warning. I also can't set mode to PVH after adding devices.

What is the exact scenario, with setting, steps et

[2020-10-07 17:11] marmarta commented on #6108
I found the situation! It's when default is selected and the default is PVH :) Will do a fix soon.

[2020-10-07 17:16] marmarta commented on #6053
debugging this depends on https://github.com/QubesOS/qubes-issues/issues/6086

[2020-10-07 17:18] zellchristensen commented on #6108
@marmarta I just created a new Qube based on template, which defaults to PVH mode, then clicked the Devices tab, added devices, and clicked OK.  I get the popup then the window closes.

[2020-10-07 17:21] mgruene commented on #6073
I had the same issue when using the latest version. I am now trying to install 4.0RC3 which is the version that was used when documenting the Lenovo T470 install routines.
What I see is that the Linux "livecd-iso-to-disk" for the old version runs massively longer than for the new. It looks like for the newest version, when writing the ISO to USB, numerous rpm packages are omitted.

[2020-10-07 18:08] zellchristensen opened #6110 "sys-whonix does not auto start on initial first boot"
**Qubes OS version**
R4.0.3

**Affected component(s) or functionality**
Qube settings/manager

**Brief summary**
After an initial clean install of Qubes, on the first boot, three base VMs are started automatically, sys-usb, sys-net, and sys-firewall.  Only when the user restarts for the first time does sys-whonix auto start.

**To Reproduce**
Install Qubes with default settings in the installer. (

[2020-10-07 18:44] timdiels commented on #3175
Swapping dummyqbs for dummy as workaround no longer works as Xorg log says it can't load the 'dummy' module.

[To try this out](https://github.com/QubesOS/qubes-issues/issues/3175#issuecomment-671656821), do I understand correctly I'd have to build a qubes installer with those changes (I already have a qubes dev VM) and install that (on a different hard drive)?

[2020-10-07 18:48] marmarta commented on #6054
So, problem #1 is not qui-tools related: qvm-start does not do it's own cleanup, as it should.

[2020-10-07 18:49] marmarta commented on #6054
Okay, and problem #2 is actually the same problem! Which is good, and also I'm assigning this to @marmarek who just said he knows how to fix it :)

[2020-10-07 18:56] pixnion commented on #3626
I believe that I get this very same error when I have a lot of windows open, like 20-30 terminals and browsers etc. spanning multiple VMs (currently 14 PVH and 2 HVM).

Whenever this happens I can't execute qvm-run for _any_ VM, but when I close one of the windows/processes already started via qvm-run (regardless of what VM it belongs to), it let's me spawn another one process, but afterwards I ge

[2020-10-07 19:29] marmarek commented on #3626
This one looks easy: grant tables limit too small. Write some large number to `/sys/module/xen_gntalloc/parameters/limit` in dom0.

[2020-10-07 19:36] timdiels commented on #3175
I've tried a modeline with reduced blanking at a clock < 300. dummyqbs reports in Xorg log `Not using mode ... (monitor doesn't support reduced blanking)`. As my monitor is not a CRT screen I expect it does support reduced blanking; so perhaps dummyqbs does not support reduced blanking? Reduced blanking helps save bandwidth / pixel clock, useful to make the most of a weak GPU or a weak link like H

[2020-10-07 19:40] pixnion commented on #3626
Ohhhh, nice. I doubled it from 1024 to 2048 and that allowed me to double the amount of currently running qvm-run spawned processes. Thanks! :)

[2020-10-07 19:51] tlaurion commented on #1396
@marmarta @marmarek : https://www.qubes-os.org/faq/#my-keyboard-layout-settings-are-not-behaving-correctly-what-should-i-do refers here, while packages seems to be updates for 4.1. What is the current situation? Is the FAQ up to date?

(Canadian here, so need to have US keyboard by default but have @ in canadian-fr keyboad in some VMs, still not attainable. Better issue? Ope a new one? Please tag

[2020-10-07 20:05] tlaurion commented on #1396
@andrewdavidwong @marmarek @marmarta :
followed [guidance](https://groups.google.com/g/qubes-devel/c/d8ZQ_62asKI/m/uqSR3FfQAQAJ)
`setxkbmap -layout "us,ca" -option "grp:shifts_toggle" `

Without success either.

What are supposed to be the working instructions relative to current pushed changes?

[2020-10-07 20:10] fepitre commented on #1396
@tlaurion Try to set the keyboard layout in XFCE settings by unselecting `Use system defaults`. It should propagate to AppVM.

[2020-10-07 20:15] marmarek commented on #1396
In R4.0 the keyboard layout is loaded by an AppVM only at its start time. This means, if you want to switch keyboard layout when the VM is running, you either need to restart it, or change it manually in both dom0 and the VM.

[2020-10-07 20:24] tlaurion commented on #1396
This works after restarting personal.
But again, alt-2 (for @) is not available.
But, switching between US and CA works by hitting both shift keys. So we have mitigation since having '@' can be obtained by switching to US keybaord and shift+2.

Will do other recommendations and activate multiple keyboard on dom0 prior of launching AppVMs and report back.

[2020-10-07 20:41] tlaurion commented on #1396
@fepitre set in dom0:
![xfce](https://user-images.githubusercontent.com/827570/95385139-92d0dc00-08bb-11eb-8d51-f04ac8e0c942.png)

The removing past customization under QubesOS Manager:
![None](https://user-images.githubusercontent.com/827570/95385335-d75c7780-08bb-11eb-9f4a-d3b2cd2529d0.png)

Result:
- Pressing both shift keys alternates between US and Canadian-FR keyboards, mitigating the fact t

[2020-10-07 21:00] ninavizz commented on #5520
@krishna727 Semiotics can be highly subjective. As I'm aware, a majority of Qubes users do the color thing as a signifier of risk. As such, "risk" may not be a primary classifier for them; lifestyle could be. What is for work, and what is for personal—and within both, there are high and low risk things.

Ultimately, I'd like to see a fully custom App Menu created, with an option to display along w

[2020-10-07 21:38] e6lk7dqzm83p opened #6111 "Scanner stopped working"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

Scanning

**Brief summary**

Several months ago (I believe after a Qubes update which caused some USB issues) I started having issues scanning with an HP Multifunction Device (this device is supported with HP Linux Drivers, hplip).

Printing worked, however scanning (which had previously worked) did not.  The scanner can be det

[2020-10-07 23:00] zellchristensen commented on #5445
I reverted my BIOS to an older version, and using the same install of Qubes as before, encountered the same issue.  However, after a  clean install on the reverted BIOS, i was able to successfully attach my USB devices again without this error.  I don't know for sure if the BIOS was the culprit as it's a pain to switch back and forth (complete disassembly and external flashing).

It could also be

[2020-10-08 01:36] marmarek opened #6112 "'@anyvm dom0 ask default_target=dom0' policy doesn't work"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

core-qrexec

**Brief summary**

Here is what "ask" is now showing in the log X3:
[code]

Reported by @tasket in https://groups.google.com/d/msgid/qubes-devel/758d0bed-27ac-8fbd-bf34-b2a3c091411b%40posteo.net

[2020-10-08 06:48] andrewdavidwong commented on #1396
You can see in the [blame view](https://github.com/QubesOS/qubes-doc/blame/master/introduction/faq.md) that the most recent update to that FAQ entry was 8 months ago, so it's certainly not describing 4.1. Historically, our documentation has always described the latest stable release, so it wouldn't describe 4.1 until 4.1 is actually a stable release. (However, I'm working on versions-specific docs

[2020-10-08 06:50] andrewdavidwong commented on #5308
@marmarek, I think we're going to need this again for 4.1. However, I don't want to step on the toes of the localization push. Do you think it's better to wait?

[2020-10-08 07:22] abeluck commented on #5861
Landed here after my fedora 32 vm updated today and I got Thunderbird 78 and am no longer able to open attachments in DispVMs. :(

Perhaps a message/announcement to one of the qubes lists is warranted to tell people? This could be considered a security issue (security guard was there and is now gone).

The new PGP system works great with split-gpg however, no issues there.

[2020-10-08 07:27] andrewdavidwong commented on #5861
Sure, I'll send a message to the mailing lists, but unfortunately all I can say is that it's a known issue and link here.

I don't see how. The Qubes extension is purely for convenience. It’s not required to do anything. You can do everything that the extension does manually. For example, to open an email attachment in a DisposableVM:

1. Save the attachment in your email VM.
2. Start a Disposable

[2020-10-08 07:36] andrewdavidwong commented on #5861
Actually, an even easier version:

1. Save the attachment in your email VM.
2. Right-click on the attachment and select "View in DisposableVM."

[2020-10-08 07:56] andrewdavidwong opened #6113 "Emergency Backup Recovery without Qubes (v4): 100+GB qubes consistently fail to untar"
_This was originally [posted in the Qubes Community Forum](https://qubes-os.discourse.group/t/emergency-backup-recovery-without-qubes-v4-fails-to-untar-100-gb-qubes-consistently/977) by user **qufo**._

**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

Emergency backup restore (v4)

**Brief summary**

100+GB qubes consistently fail to untar

**To Reproduce**

I did a couple

[2020-10-08 08:57] qufo418 commented on #6113
I think the the amount of chunks are the problem. In this case qubes-backup created over 1100 chunks. In my experience splitting archives leads often to such kind of problems. I'm not a Python programmer, but what about creating an continuous stream? I played around with this:
Create:
`find [folder or image] | cpio -o | gzip -c | scrypt enc - [archive]`

Restore:
`cat [archive] | scrypt dec - | gz

[2020-10-08 14:19] tlaurion commented on #1396
@andrewdavidwong : The documentation needs to be updated. My tests https://github.com/QubesOS/qubes-issues/issues/1396#issuecomment-705182253 show 4.0 testing, where if followed, permits mitigation of keyboard issues of multi-language support.

From my quick verification of 4.1, the difference there is that it doesn't require shuttoing down active VM since propagation is live, not only done at sta

[2020-10-08 18:47] Geblaat commented on #5861
That is of course also possible. I myself had the extension set to open in DispVM by default, so I only need to click the attachment from within Thunderbird. Luckily I knew Thunderbird had updated, otherwise I would have continued doing so and accidentally opened the attachment inside my mail appvm. Thanks for adding a message to the mailing list, at least now users are warned.

[2020-10-09 01:06] maqp commented on #6102
@marmarek

This worked great! I set the executable path as absolute, and added an additional layer of encoding to output data to prevent the receiving application from misinterpreting line feed bytes present in the random data that is ciphertexts/public keys.

I followed the rest of your advice too, and I'm so glad to have a more secure Qubes configuration in production now.

@iamahuman I linked t

[2020-10-09 03:06] sptankard commented on #5903
Any ideas on the root cause of this? My qubes system has been unbootable for a few months due to this. :(

I made the mistake of trying to fix it without research and bricked all my kernel entries. (After the first kernel was bricked, i booted the remaining good entry and manually re-applied the updates, which bricked the remaining kernel(s).)

The ESC workaround does not seem to work for me.

I t

[2020-10-09 07:03] sptankard commented on #1919
Hope I don't crowd this already crowded topic too much. Thought I'd pull up this overview from a while back:
https://github.com/QubesOS/qubes-issues/issues/1919#issuecomment-480546054

I'll repeat part of it here: competing+conflicting criteria for dom0. (In parentheses, distro(s) that do(es) each thing well.):

1. Unchanging/slowly changing base on which Qubes can be built. (debian, centos)
2. Sm

[2020-10-09 10:59] zaoqi commented on #5980
I have the same problem with Asus Vivobook 14 Ryzen 4700U

[2020-10-09 12:23] tasket commented on #6055
@marmarek The 4.14.0-5 update was a miss. After updating, there was no way I could avoid rhythmic lurching and lagging in all the domUs. The effect only appears after a few minutes and was not quite as bad as having >1 vcpus assigned to dom0. But its still enough for me to mark this update as "bad".

After I downgraded back to the -4 version the system runs smoothly again. BTW, I'm using the 5.8.1

[2020-10-09 12:47] tasket commented on #6055
I also should note I tried @Yethal suggested params in various combinations but they had no affect on the lurching with the xen -5 update.

@dylangerdaly Since the major difference between -4 and -5 versions is the S3 handling patch, then power management does seem to be involved (even though I haven't been using suspend).

[2020-10-09 13:48] 0rb677 opened #6114 "Archlinux again, Qubes 4.0 : component make gui-agent-linux-vm build failed"
log here

[code]

[2020-10-09 13:55] marmarek commented on #6055
@tasket one of the changes between -4 and -5 was reverting [this commit](https://github.com/xen-project/xen/commit/8e2aa76dc1670e82eaa15683353853bc66bf54fc), as it breaks S3. While it is related to AMD processors, it isn't exactly obvious how it would make a difference in this case (it is focused on systems with a lot of cores, like 128 or 96). Maybe yet another side effect of this change...

[2020-10-09 17:27] osresearch commented on #4371
The unified Xen hypervisor patches have finally made it through the mailing list and have almost all been pushed to staging! https://xenbits.xen.org/gitweb/?p=xen.git;a=commit;h=8a71d50ed40bfa78c37722dc11995ac2563662c3

For a backport, do you prefer the individual commits (there are six patches in total) or is a single squashed patch easier?

[2020-10-09 18:14] marmarek commented on #4371
Congratulation!
Preferably as landed upstream (individual commits).

[2020-10-09 19:25] osresearch commented on #4371
There were a few modifications required to back port it due to `Makefile` changes, as well as a few extra patches related to `const*` fixes in the efi code. Draft PR is https://github.com/QubesOS/qubes-vmm-xen/pull/89

[2020-10-09 20:14] marmarek opened #6115 "AttributeError: 'QListWidget' object has no attribute 'setItemSelected'"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

qubes-manager

**Brief summary**

Clicking "Configure strict reset for PCI devices" when no device has it enabled works. But after enabling it for any device, it fails with:
AttributeError: 'QListWidget' object has no attribute 'setItemSelected'
(line 50 of device_list.py)

**To Reproduce**

Steps to reproduce the behavior:
1.

[2020-10-09 23:33] ninavizz commented on #5732
Ok @andrewdavidwong everything is done from mine and @marmarta's end... GDoc is current with website and announcements stuff. Once those are completed, this issue may be closed from my end! Marta may want to also add some completion criteria for this to close, too.

[2020-10-10 00:19] ninavizz commented on #5732
## Steps remaining to close issue
- [ ] @marmarek or @andrewdavidwong create key for survey@ email address
- [ ] @marmarta or @ninavizz update key link on Survey `Welcome!` page.
- [ ] **Andrew:** Add survey to Downloads page on website
- [ ] **Andrew:** Update "Donate" button on website
- [ ] **Andrew:** Publish QubesOS News blast
- [ ] **Andrew:** Tweet, bark, roar, etc, across various platforms

[2020-10-10 00:22] ninavizz opened #6116 "[UxR] Create "Seeder" survey for users who opt-in to further user research"
## Problem
When folks respond to the primary Qubes User Survey created in #5732 they will need to be followed-up with, and sent an additional survey to collect some basic information to inform the team on next steps. [User Persona](https://usable.tools/personas/) traits and scheduling needs, are among the information not collected in the first survey that has been published.

## Task
Questions wer

[2020-10-10 00:25] ninavizz commented on #6100
Closing, as survey was sufficiently tested, with the decision made to cut its length to reduce user time to complete. TY one and all who contributed to this issue, it was very helpful!

[2020-10-10 00:25] #6100 closed

[2020-10-10 00:25] andrewdavidwong commented on #5732
I can easily generate a new PGP key, but I still can't create new email addresses, so it probably doesn't make sense for me to make the key.

[2020-10-10 00:43] #3704 closed

[2020-10-10 00:47] ninavizz opened #6117 "[UxR] Survey Analysis + Findings"
## Context
Per #5732 our first ever survey of Qubes users was created and launched. Huzzah!

## Need
- [ ] Follow-up with UxR interested respondents by contacting them with a Seeder survey
  - [ ] After the survey has run for 7 days
  - [ ] After the survey has run for 14 days
  - [ ] After the survey has run for 21 days
  - [ ] After the survey has run for 30 days
- [ ] After the survey has run f

[2020-10-10 00:58] iamahuman commented on #6102
I forgot to mention you should use `sudo`. Bites me all the time, since most of the commands work just fine in Qubes w/o root until you dig that deep into the system...

[2020-10-10 01:11] #6108 closed

[2020-10-10 01:11] #6115 closed

[2020-10-10 01:36] #6113 closed

[2020-10-10 03:15] #6099 closed

[2020-10-10 03:55] #6112 closed

[2020-10-10 10:01] GWeck commented on #5462
The installation of QWT in Windows 10 is now covered by the Qubes documentation for Windows installation and Qubes Windows Tools.

Closing this issue as it is no longer needed.

[2020-10-10 15:32] djt3 commented on #5374
I have the exact same problem on an ASUS Z490-G with the i5 10600k.

[2020-10-10 17:49] unman commented on #6022
After merge, this can be closed. Focal is available in setup script and builds correctly.

[2020-10-10 17:57] icequbes1 commented on #6114
pacman now provides pulseaudio-13.99.2 as of October 5, 2020. Those headers are missing in gui-agent-linux/pulse.

As a quick hack I symlinked pulsecore-13.99.2 to 13.99.1, and while the build worked, the template didn't have audio, so there are probably bigger differences between the two versions.

Placing headers from 13.99.2 retrieved from https://freedesktop.org/software/pulseaudio/releases/ w

[2020-10-10 18:08] #6022 closed

[2020-10-10 18:50] zellchristensen opened #6118 "Qubes Domains widget: Allow customizing options per qube"
**The problem you're addressing (if any)**
In the Qubes Manager system tray menu, you can see a list of all running qubes.  Selecting a Qube will show additional drop down options: Settings, Pause, Shutdown, or Run Terminal.  It would be great if the user could customize these options to add or remove features.

**Describe the solution you'd like**
Add a button under the Settings Menu for individu

[2020-10-10 18:55] zellchristensen opened #6119 "Qubes Domains widget: Move "Open Qube Manager" to the top of the list"
**The problem you're addressing (if any)**
When clicking the Qube Manager Tray icon, the option "Open Qube Manager" is always at the bottom of the list making it always in a variable location depending on the number of Qubes that are running.

**Describe the solution you'd like**
Move the option to the top of the list, even above the headings if possible.

**Where is the value to a user, and who m

[2020-10-10 19:26] pabpas commented on #6044
I didn't know that installing xorg-x11-drv-amdgpu was even possible in dom0! Finally I was able to get rid of the horrible tearing that I have had in Qubes since the beggining :)
BTW, for me it works best together with kernel-latest.

[2020-10-10 20:48] ehanoc commented on #5903
The issue is marked as critical but has been stale for a while... Is Qubes still actively maintained?

[2020-10-10 22:59] marmarek opened #6120 "qrexec-agent crashes with "pselect: Bad file descriptor""
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

core-qrexec

**Brief summary**

[code]

This happens reliably while installing updates for openQA test run. Example job: https://openqa.qubes-os.org/tests/12420

**To Reproduce**

Steps to reproduce the behavior: Start the openQA test. I'm not sure about exact manual reproduction steps.

**Expected behavior**

Service not cras

[2020-10-10 23:34] marmarek commented on #6120
Based on the source code analysis, the scenario seems to be:
1. a process (lets call it "A") in VM requests some service call - on the qrexec-agent side it is FD 12
2. qrexec-agent forwards the request to qrexec-daemon in dom0
3. the process "A" terminates itself
4. qrexec-agent closes its FD (this is visible on the strace output)
5. qrexec-daemon approves the request and send back MSG_SERVICE_CON

[2020-10-10 23:48] marmarek commented on #6120
There is still some missing condition above - normally step 4 doesn't happen at this stage. Anyway, the fundamental reason seems to be correct.

[2020-10-11 00:13] marmarek commented on #6120
This may be also some case when qrexec-daemon sends MSG_SERVICE_CONNECT twice for a given connection request. This may be a case when qrexec-daemon try to get service confirmation via qrexec-policy-daemon, it gets accepted but the actual service start fails - then it fallbacks to qrexec-policy-exec, which tries to start the service again.

[2020-10-11 01:17] marmarek commented on #6120
Got reproduction steps:
1. Open a service from a VM to dom0 (can be `qubes.WindowIconUpdater`)
2. Restart `qubes-qrexec-policy-daemon` service in dom0.

This will make the `qrexec-daemon` think the call failed (because the connection to `qubes-qrexec-policy-daemon` was terminated prematurely) and will retry the same call via `qrexec-policy-exec`, which will try to establish connection with the sam

[2020-10-11 01:53] sptankard commented on #6109
I think this option is probably simpler/easier to implement as well as more useful:

There's two main use cases where i have a couple workarounds currently:
1. Shutting down the computer: dom0 terminal -> `qvm-shutdown --all --exclude=sys-usb` (repeat this command as many times as needed to complete the cascade)
2. Issues with internet connection, need to reboot sys-net without rebooting everythin

[2020-10-11 02:05] sptankard commented on #5903
I'm not sure of the criteria for 'critical'. I expect i'm probably the only individual with an unbootable system at this point. (I had to take additional, involved, complex steps in order to get to that point.) I expect this bug affects very few setups (hardware combos probably?) and most of those can still boot on older grub entries.

For others, i expect it will be more critical when Qubes relea

[2020-10-11 03:07] andrewdavidwong commented on #6118
That's actually a separate widget called "Qubes Domains". I'll update the issue title accordingly.

[2020-10-11 03:12] andrewdavidwong commented on #6118
This gets into some fundamental design considerations about what the Qubes Domains widget is supposed to do and what it's not supposed to do (related: #2132). I suppose we'll want to be careful here to avoid ending up with five tools that do the same things, or one tools that does everything (again).

@marmarta, what do you think?

[2020-10-11 03:18] andrewdavidwong commented on #6119
I have my panel at the bottom of my screen rather than the top, so, for me, it's exactly the opposite situation. The bottom of my list is always (supposed to be) in the same location, but the top is variable depending on how many VMs are running.

Maybe it still makes sense to move it to the top since the default is for the panel to be on top, but that's a UX question that I can't answer.

[2020-10-11 03:23] andrewdavidwong commented on #4730
@marmarta: The problem is slightly different now: Every time I click on the Qubes Domains icon, the list opens partially underneath my panel, so only part of the list is visible. (I moved my panel from the top of my screen to the bottom, which may be why this seems to happen only to me.) When I dismiss the list and click a second time, it opens correctly so that the whole list is visible.

[2020-10-11 03:24] andrewdavidwong commented on #2970
Is anyone still experiencing this problem? @qwrd, @quantumpacket, @Zrubi

[2020-10-11 03:32] andrewdavidwong commented on #6109
This is not necessary. You can just do `qvm-shutdown --wait --all` once, and all VMs will shut down in the necessary order.

Another option is simply to change the NetVM of `sys-firewall` to `none`, reboot `sys-net`, then change it back again.

[2020-10-11 04:06] andrewdavidwong commented on #5903
Indeed, it is! You can easily verify this by looking at the frequent activity across our GitHub repos, as well as our frequent [news](https://www.qubes-os.org/news/) posts. But perhaps your question is really why this issue hasn't been fixed yet even though it's marked "critical." That's a fair question. I can offer these thoughts:

You might be reading a bit too much into the issue labels. When I

[2020-10-11 04:52] andrewdavidwong commented on #5732
@ninavizz, @marmarta: Two users have reported this problem:

[2020-10-11 04:59] sptankard commented on #6118
There seems to be a lot of different things in this issue.

Re: easier application launching, i think the poster (and others) might be interested in Whisker Menu. It's an alternative xfce menu that (i think?) is already included in the default install (just Add widget... to your xfce panel). https://gottcode.org/xfce4-whiskermenu-plugin/

It will not restrict the options to just running-qubes, but

[2020-10-11 05:22] sptankard commented on #6118
More generally, i do also find that Qube Manager takes a while to load up and that there are some things i wish i could do without having to pull it up. (Can't remember specifics right now tho, besides Restart.)

Also, I think another problem is the dropdown nature of the Qubes Domains widget: if it could spawn off into its own window, then doing repeat actions would be easier. (Maybe better for a

[2020-10-11 05:46] sptankard commented on #6056
I don't know if you've been encountering questions in the wild about it, but i could forsee similar issues happening with DVM templates. (But maybe only more technical users make any customizations to dvm templates.)

I think the semantic distinction of DVM templates is actually more subtle and should probably be reflected in the UI more generally, as a failed understanding can have security impli

[2020-10-11 06:00] sptankard commented on #5657
I think one useful approach might be to segment dispvms into their own tab of the manager UI. They are actually quite different from other qubes in a lot of ways, many of them subtle and with potential security implications. I think the selection of what indicators are appropriate should maybe be done somewhat from scratch per category:

- template
- standaloneVM
- dispvm template (technically a t

[2020-10-11 06:03] sptankard commented on #6118
Relevant: https://www.reddit.com/r/Qubes/comments/f3hya2/use_the_qubes_manager_as_menu_or_is_it_just_me/

[2020-10-11 06:38] sptankard commented on #5447
Was going to file a separate issue for this but found this one. I'd like to suggest changing the text of the menu entries (using sys-net as an example):

From:    "sys-net: Qube Settings"
To:  "Qube Settings for sys-net..." or "Qube Settings: sys-net..."

My main reason for this is because this is the one menu entry that will not boot the qube or invoke a process inside it.

Not sure of the impact

[2020-10-11 06:48] zellchristensen commented on #6119
I can see that being a problem then!  Having an option for the user to change it based on their preference would be ideal I think.

[2020-10-11 06:54] sptankard commented on #5903
Btw @ehanoc does your system still boot on older entries? If anyone has ideas on what the root cause is i'm willing to look into it. (Motivated since my system doesn't boot at all...)

At this point my next step is probably to read the recent commit logs for Xen and kernel and see what components got changes.

[2020-10-11 07:06] sptankard commented on #3894
Related (because Genode) #5041

[2020-10-11 07:13] zellchristensen commented on #6118
I checked out Whisker Menu, but I don't think it's quite what I want.  Being able to have the list restricted to just running qubes would be ideal I think.

[2020-10-11 08:29] 4NobleTruths commented on #4999
This is definitely not fixed with SD cards. I'm not sure I could even list all the possible permutations of failed in this.
Some of them are:

- Showing the device unattached to a VM, but then giving a black popup error that it's already attached, when  the VM clearly shows it's not.
- Showing the same SD card being attached to two different VMs at the same time, when it's attached to none in real

[2020-10-11 09:05] djt3 commented on #6092
I have the exact same problem on an ASUS Z490-G with the i5 10600k.

[2020-10-11 10:16] dylangerdaly commented on #6055
Yeah I can confirm -5 is terrible, makes it unusable, I'll revert to -4 for now and try identify what's going on.

Xen sucks. Even on -4 it's usable, but still there's always been micro-lockups, I suspect because support for Ryzen 4000 series CPUs.

[2020-10-11 10:22] fepitre commented on #5940
I've updated all the related components (please see description update). We have normally/almost latest versions for each needed components. For example, current implemented version of `DNF` is `4.2.23` instead of the next and latest one `4.4.0` (some build issues) but even Fedora has just updated to this version few days ago. I've opened a PR for `libsolv` on Debian with updated/modified patches

[2020-10-11 10:58] AlxHnr commented on #5038
I've ran into the same issue when updating to 4.19.147-1. `sudo qubes-dom0-update` succeeded and returned 0, but created an incomplete initramfs resulting in a kernel panic. The created initramfs was significantly smaller in size than its supposed to be. I assume this happened because my boot partition was full and thats my own fault. But `sudo qubes-dom0-update` _should_ at least fail with an err

[2020-10-11 16:11] unman commented on #6114
On Sat, Oct 10, 2020 at 10:57:43AM -0700, icequbes1 wrote:

I've already put in a PR to fix this in 4.0 - 4.1 needs more work
unfortunately.

[2020-10-11 17:10] #6120 closed

[2020-10-11 19:05] quantumpacket commented on #2970
This was fixed for me.

[2020-10-11 20:06] pabpas commented on #5459
I solved a similar issue with a Radeon RX 480 by using less aggressive settings on BIOS for ASPM (PCIe power saving). In my case setting everything to L1 is enough to resume from supend without problem, but maybe you can try to disable it altogether.

[2020-10-11 22:33] andrewdavidwong commented on #6114
Would you mind linking this issue and the PR together, @unman?

[2020-10-11 22:34] andrewdavidwong commented on #2970
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-10-12 00:03] andrewdavidwong commented on #5382
Additional user report: https://qubes-os.discourse.group/t/erroneous-restart-required-icon-next-to-vm-in-tray-menu/485

[2020-10-12 00:35] unman commented on #6114
On Sun, Oct 11, 2020 at 03:34:06PM -0700, Andrew David Wong wrote:

Yes - hadnt actually seen this issue.

[2020-10-12 00:47] iamahuman commented on #3245
Caused by: #1673

QEMU notifies newly `device_add`-ed PCI devices to the VM via ACPI hotplugging mechanism, which is disabled in dom0 kernel. Maybe use in-VM kernel instead, or compile another kernel specifically for VMs -- see #5212.

[2020-10-12 01:35] tasket commented on #6112
Its still failing when I use `ask` in the qubes.VMAuth policy. This is after updating to 4.1.9-1. I also changed all references of 'dom0' to '@adminvm' to no avail.

Log:
[code]

[2020-10-12 01:44] tasket commented on #6112
BTW, I also manually applied the change shown in v4.1.10 'parser.py', but it still doesn't work.

[2020-10-12 01:51] tasket commented on #6112
Based on the error `bash` is reporting, I think the error may be in how the 'cmd' variable is assigned around line 528 in parser.py. At least, it doesn't look like a normal bash command to me. :)

[2020-10-12 02:01] marmarek commented on #6112
You need to restart qubes-qrexec-policy-daemon service after applying the change if you do that manually. But then restarting the service will result in bad things - #6120

[2020-10-12 02:51] dmoerner commented on #2242
I think this bug has recently gotten worse for me on i3. After restarting i3, I am no longer able to even open terminals in vms which had a tray icon killed (sys-net, sys-whonix). The first time I try this, xterm appears for a second and then disappears. After that, I can't get xterm to appear at all. But the vms continue working as far as I can tell.

[2020-10-12 05:10] preston-infiswift commented on #2766
I'm having the issue @100111001 described, and I can't seem to solve it. Stopping all internet connection doesn't seem to have any effect.

This time when I restarted, it was /var/lib/snapd/snaps/spotify_42.snap that was removed. when I try to run it, I see

internal error, please report: running "spotify" failed: cannot find installed snap "spotify" at revision 42: missing file /snap/spotify/42/m

[2020-10-12 05:12] Echocage commented on #2766
This time when I restarted, it was /var/lib/snapd/snaps/spotify_42.snap that was removed. when I try to run it, I see

internal error, please report: running "spotify" failed: cannot find installed snap "spotify" at revision 42: missing file /snap/spotify/42/meta/snap.yaml
and running snap list results in
Name Version Rev Tracking Publisher Notes
spotify 42 latest/stable spotify✓ broken

[2020-10-12 05:41] icequbes1 commented on #6078
FWIW and as a potential data point, U2F proxy worked on:

1. Fedora 31, fully updated as of October 11, 2020 (qubes-u2f-1.2.5-1.fc31)
2. Ungoogled Chromium 85
3. Yubikey
4. qubes-u2f-dom0-1.2.5-1.fc25

(when testing with WebAuthn.io)

[2020-10-12 09:00] amanzur76 commented on #5615
@pwmarcz I can confirm that the patch works with the AX200 chip. Wifi works, Bluetooth does not. sys-net does not lock up and wifi works fine without any issues

[2020-10-12 10:02] marmarek commented on #2766
Do you have `/snap` as a symlink to `/var/lib/snapd/snap`? It should look like this:
[code]

Check at both times when application is working and when it just broke.
Check also if `/var/lib/snapd` is properly mounted:
[code]

[2020-10-12 10:32] talex5 commented on #5459
Interesting! I checked my settings and found ASPM was already disabled. I tried enabling it (and the PEG ASPM setting that doing that revealed), but it didn't help. The computer still crashes when resuming, unless I pass `rd.qubes.hide_pci=01:00.0,01:00.1` to disable the graphics card completely.

[2020-10-12 12:55] marmarek commented on #2242
@dmoerner can you check `/var/log/qubes/guid.sys-net.log` when that happens?

[2020-10-12 13:25] jamke commented on #6119
It's better at the bottom if you have your panel on the left or right too.
First post should be modified - the option can be added, not just "change to top" as otherwise it will make it less comfortable for other half of users.

P.S. Better way for user currently is to install fabulous `easystroke` program and make a gesture e.g. with right button to start Qubes Manager and do a lot of other stuff

[2020-10-12 13:29] jamke commented on #4739
I also have this issue. Probably everybody does.

Text copying s very basic-level stuff, so it's very expected to work fine. How can one promote this issue to be diagnosed and solved faster? More than a year passed and still text copying is not working right between domains.

[2020-10-12 13:32] jamke commented on #2845
On R4.0 this is not copied properly either for me. @andrewdavidwong can you please update the issue to reflect this?

[2020-10-12 15:40] 35609902357 commented on #2272
Can this be solved by using `/dev/disk/by-uuid/XXXXXXXXXXXX` instead of `/dev/sdX`?

[2020-10-12 16:25] h01ger commented on #5940
On Sun, Oct 11, 2020 at 03:23:08AM -0700, Frédéric Pierret wrote:

https://salsa.debian.org/debian/libsolv/-/merge_requests/1/commits is the MR
in question.

Frédéric, did you use this code sufficiently already? (I'm trying to
understand why you are asking for a review.)

On the subject of updating libsolv: I'd give the maintainer some more
time (a week probably) to react on his own and then I'd b

[2020-10-12 17:20] fepitre commented on #5940
I've only tried in Qubes OS context for update but it works (search and download operations only). I'm asking for help into review because I don't know `libsolv` really so if anyone who knows this library and wants to have a look into those modifications, that would be very helpful!

[2020-10-12 17:21] dmoerner commented on #2242
@marmarek I think I ran into a regression in i3 4.18.2, which I was testing after buliding with qubes-builder. I can't reproduce that extra problem on 4.16-9. With i3 4.16-9, I was able to restart i3 ten times. 7 times, nm-applet appeared as a new window, and when I closed it, it returned to the tray. 3 times, it disappeared, but I could restart it from sys-net. That's the "normal" broken behavior

[2020-10-12 17:55] tetrahedras commented on #5294
On Wed, Sep 09, 2020 at 05:26:58PM -0700, Demi Marie Obenour wrote:

Thanks for that very exhaustive writeup and all your work trying to get
it running.

As an alternative to making an OpenBSD TemplateVM and Template-Based-VM,
would it be easier to make a purely disposable NetVM?

There are already some people using a `disp-sys-net` (see the Qubes
docs) so for someone who is paranoid enough to wan

[2020-10-12 17:58] tetrahedras commented on #4658
On Thu, Oct 01, 2020 at 09:56:05AM -0700, Andrew David Wong wrote:

I am not the OP, but I am still experiencing this.

[2020-10-12 18:22] pabpas commented on #5956
Open a terminal in sys-net and run any command with sudo: `sudo ls`
In my system this brings back (wired) connectivity instantly. Don't ask me why. Here an example:

[code]

[2020-10-12 18:25] marmarta commented on #6119
The more options we give, the more unfriendly and complicated the UI will be. I'm not a fan of making things even more complicated, to be honest.

[2020-10-12 18:27] DemiMarie commented on #5294
You're welcome!  I am glad you found my write-up useful.  Thanks for your time.

That seems like a good option.  Either a purely disposable or a purely persistent VM would be significantly easier than a TemplateBasedVM.  I wound up patching `/etc/rc` in other ways as well, mostly to ensure that it dropped to a single-user shell in the event of errors.

We could avoid the loopback NFS mounts by rep

[2020-10-12 18:29] marmarta commented on #4730
Interesting! does this happen only on first use after reboot? Once every so often?
Also: when you look at panel preferences (right click on empty space -> Panel -> Panel Preferences), do you have "Don't reserve space on borders" checked or unchecked? (if it's checked, it's working as XFCE devs designed it)

[2020-10-12 18:32] marmarta commented on #5732
interesting, after updating my phone firefox I got the same result... I'm afraid this is LimeSurvey bug.

[2020-10-12 19:29] brendanhoar commented on #6119
Then the solution is obvious: put it at both the bottom and top of the list.

[2020-10-12 19:34] dmoerner commented on #2242
By the way, a temporary way around this problem for people using i3 is to add the following to your i3 config:

[code]
If you have a multihead setup and are facing this problem, you can add a similar qvm-run call to whatever you use to invoke xrandr to switch monitors.

[2020-10-12 20:48] ratiocinator0 commented on #5903
I noticed a succession of **dom0** updates recently. Following these updates, what I noticed is that if I leave it alone and let it auto-boot it has worked. But if I manually choose the top choices that would have auto-booted, it locks up. Very curious.

[2020-10-12 22:12] tasket commented on #5615
I get lots of these in hypervisor.log when using ax200 sys-net:
[code]

[2020-10-13 02:27] andrewdavidwong commented on #2845
Updated. By the way, I'm not familiar with these symbols, and searching didn't turn up any useful results. What are they?

[2020-10-13 02:41] andrewdavidwong commented on #4730
I would say it happens 80-90% of the time when I click on the Qubes Domains icon in the Notification Area. (So, repeatedly, not only once after reboot.)

For me, "Don't reserve space on borders" is **unchecked**.

[2020-10-13 02:47] andrewdavidwong commented on #4739
I've raised the issue priority. Unfortunately, the dev team has a *ton* of work to do relative to their size, including many open issues that are just as important as this one (and many even more critical). Unless you are willing to [submit patches](https://www.qubes-os.org/doc/source-code/#how-to-send-patches) or get another contributor to do so, I'm afraid there is not much you can do except fin

[2020-10-13 04:29] sptankard commented on #5903
@ratiocinator0,

I take it you mean, if you choose an older kernel entry, then hit enter and let it boot unattended from there, it works? I believe it was the same for me, before i (re)applied updates manually.

[2020-10-13 04:34] sptankard commented on #5903
I noted quite a lot of the folks reporting this issue are using a Purism Librem. (I'm experiencing the bug on a Librem 13 v2.) I'm wondering if there's anyone experiencing this bug on a device that is NOT a Librem?

Note: for clarity, unlike some others here, my 4.19.107 kernel entry does NOT work.

I have three major grub entries. The first one is xen `4.8.5-18.fc25`, the second is `4.8.5-18.fc25

[2020-10-13 08:29] easydozen commented on #2272
I introduced my very own cropped version of UUID due to xenstore' path length limit.

[2020-10-13 08:57] tokideveloper commented on #2845
@andrewdavidwong

Looking up using `gucharmap`, these symbols are "Block Elements":

- `░` U+2591 `LIGHT SHADE` (25%)
- `▒` U+2592 `MEDIUM SHADE` (50%)
- `▓` U+2593 `DARK SHADE` (75%)
- `█` U+2588 `FULL BLOCK` (solid)

Useful for e.g. gradients from one color to another.

[2020-10-13 09:47] tetrahedras commented on #5294
On Mon, Oct 12, 2020 at 11:27:50AM -0700, Demi Marie Obenour wrote:

Can you explain in more detail what you mean by this?

It sounds like you are suggesting that sys-firewall be the VM which
talks to the NIC (or wireless LAN card). That would not make much sense,
since the object of the exercise is to use OpenBSD's extreme hardening
to protect against compromise via the NIC.

(we just saw a recen

[2020-10-13 10:21] jamke commented on #2845
Thank you.
I believe these symbols are used to make GUI in console, e.g. in interface (and copying progress bar in particular) in `mc` (Midnight Commander).

[2020-10-13 11:21] darwin commented on #5903
Just to add my observations. I have a Librem 13v2 with TPM in the hardware. I don't use it on daily basis so I update only once in 3 months or so. Last time I updated dom0 it was around July 13 which caused the machine to be unable to boot on next restart.

Here is my top-level GRUB boot menu (square brackets added by me):

[code]

The first item offers this submenu:
[code]

The  second item offer

[2020-10-13 11:44] ptitdoc commented on #5264
This issue is still active. My current solution is to add to `/rw/config/rc.local` of my wireguard VPN VM:
`iptables -t nat -I POSTROUTING 3 -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu`

[2020-10-13 14:07] unman commented on #5294
On Tue, Oct 13, 2020 at 02:47:49AM -0700, tetrahedras wrote:

If you look in the more general openBSD issue - #4551 -, or search the mailing
list, you'll see that I use an openBSD HVM in place of sys-net.
It isn't difficult.
It's just the same as using a Windows box as sys-net.
It's almost trivial to have sys-firewall as backend for sys-net and
requires absolutely minimal changes to routing and fi

[2020-10-13 14:43] darwin commented on #5903
@marmarek thanks,
1. all three initramfs files have good sizes
2. edited the broken entry as suggested, and I'm seeing very similar output to @ehanoc's screenshot, last line where it got stuck says `(XEN) Switched to APIC driver x2apic_cluster.`

[2020-10-13 19:12] sptankard commented on #5903
It works! Thank you so much. I can now boot. (Tried 4.8.5-18 with 4.19.125.)

This is my main machine so life without it has been pretty difficult.