[2020-11-16 05:29] andrewdavidwong commented on #6200
From a user experience perspective, I'd prefer an automatic solution rather than just documenting this. For example, perhaps it's possible to automatically increase the min memory allocated when a webcam is present or, as you suggest, just increase the default baseline.

[2020-11-16 05:30] andrewdavidwong commented on #6200
Bug is "diagnosed" in the sense that increasing min memory allocation is a known solution, but the exact cause of the error without sufficient memory has not been diagnosed.

[2020-11-16 05:38] andrewdavidwong commented on #6202
Duplicate of #2921

[2020-11-16 05:38] andrewdavidwong commented on #6202
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-16 05:38] #6202 closed

[2020-11-16 05:39] andrewdavidwong commented on #2921
Reopening due to apparent regression reported in #6202.

[2020-11-16 05:50] andrewdavidwong commented on #6201
The idea of creating a third category of templates (aside from Official and Community) makes me uncomfortable. Users might find this confusing and not be sure what the difference is between "Community" and this new third category, and that would increase our support requirements. It might also entail more infrastructure overhead (@marmarek would be able to say more about this).

I think it's very

[2020-11-16 06:13] andrewdavidwong commented on #2921
There's a forum thread about this:

https://qubes-os.discourse.group/t/installing-and-running-kde-as-de/1513/

In it, @unman points out that:

I think this may be a reference to #5904.

[2020-11-16 09:08] kocmo commented on #5479
No choice but to interpret it as Joanna being under duress :-(

[2020-11-16 12:00] unman commented on #6201
On Sun, Nov 15, 2020 at 09:50:22PM -0800, Andrew David Wong wrote:

Agree on all counts

[2020-11-16 12:01] andrewdavidwong commented on #5479
In case it's a matter of GitHub notifications not getting through, I have sent Joanna an email about this.

[2020-11-16 15:18] DemiMarie commented on #6201
As far as the Ubuntu templates, could we have an RPM package that, when installed, builds the template from source code?

[2020-11-16 16:07] rustybird commented on #2469
Anyone (@fepitre?) interested in reviewing Split Browser for inclusion into qubes-repo-contrib? The code looks alright to me nowadays.

[2020-11-16 16:11] fepitre commented on #2469
@rustybird sure I can have a look too in the next days.

[2020-11-16 16:30] silentresearch commented on #6198
The issue appears to be related to the new linux kernel. Other owners of the notebook have reported similar issues with the integrated mic. It seems to work fine out of the box on Ubuntu 20.x.

[2020-11-16 23:56] straussmaus opened #6204 "Fedora32 Template Constantly Needing Updates"
**Qubes OS version**
R4.01

**Affected component(s) or functionality**
Fedora32 Template

**Brief summary**
The newly installed fedora32 template needs extremely frequent updates, including immediately after successfully completing an update.

**How Reproducible**
Install the fedora32 standard template (https://www.qubes-os.org/news/2020/06/30/fedora-32-templates-available/)

See that it always ne

[2020-11-17 01:27] lucaszanella commented on #1806
Donated 5 bucks, @jonkri. Not much because it gets multiplied by 5 in my currency. Thanks for the work guys, I'll love to use gnome on Qubes. How far is this transition? 3 months away? 5? 1 year?

[2020-11-17 01:44] unman commented on #6201
On Mon, Nov 16, 2020 at 07:18:31AM -0800, Demi Marie Obenour wrote:

Will you write that?
The difficulties I see are pointing dom0 at Ubuntu repositories and
using debootstrap in dom0 or selected proxy.
And after that, I dont think that would be enough to override the IP
ojections. (I've said before it would have been *much* better if that
bottle hadnt been opened at all: but it has, and we have t

[2020-11-17 03:00] DemiMarie commented on #6201
@unman which bottle are you talking about?

[2020-11-17 03:10] marmarek commented on #6201
Take a look at first section of https://www.qubes-os.org/doc/templates/ubuntu/

[2020-11-17 03:20] unman commented on #6201
On Mon, Nov 16, 2020 at 07:00:18PM -0800, Demi Marie Obenour wrote:

The bottle containing the Ubuntu IP genie.
Once that was out, we cant put it back. Better not to have opened that
can of worms, (to mix some metaphors).

[2020-11-17 04:14] andrewdavidwong commented on #2469
@rustybird, any chance of making this compatible with Chromium/Chrome?

[2020-11-17 04:21] andrewdavidwong commented on #6204
It sounds like this is purely concerned with the inner workings of Fedora 32, i.e., the frequency with which Fedora package updates become available to the Fedora package manager, `dnf`. Since this is entirely outside of the control of the Qubes OS Project and does not involve any Qubes code, we strongly suggest searching for normal Fedora solutions and/or reporting this to Fedora's issue tracker.

[2020-11-17 04:21] #6204 closed

[2020-11-17 04:23] andrewdavidwong commented on #6201
It looks like the consensus is that this is a "won't do." If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-11-17 04:23] #6201 closed

[2020-11-17 04:58] straussmaus opened #6205 "dom0 fails to update"
**Qubes OS version**
R4.01

**Affected component(s) or functionality**
dom0

**Brief summary**
dom0 update using "Qubes Update" icon in panel fails to update dom0

**How Reproducible**
Recent Bug

**To Reproduce**
Update dom0 using Qubes Update.

Steps to reproduce the behavior:
Update dom0 using Qubes Update.

See Error:

[code]

**Expected behavior**
dom0 should update

**Additional context**
Fo

[2020-11-17 05:57] josep827 opened #6206 "[Build 4.0.4-rc1pre2] openQA test fails in install_templates"
## Observation

openQA test in scenario qubesos-4.0-install-iso-x86_64-install_btrfs@64bit fails in
[install_templates](https://openqa.qubes-os.org/tests/13182/modules/install_templates/steps/1)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [4.0.4-rc1pre2](https://openqa.qubes-os.org/tests/13182) (current job)

## Expected result

Last good: [4.0.4-rc1pre1](http

[2020-11-17 05:58] josep827 opened #6207 "[Build 4.0.4-rc1pre2] openQA test fails in install_templates"
## Observation

openQA test in scenario qubesos-4.0-install-iso-x86_64-install_btrfs@64bit fails in
[install_templates](https://openqa.qubes-os.org/tests/13182/modules/install_templates/steps/1)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [4.0.4-rc1pre2](https://openqa.qubes-os.org/tests/13182) (current job)

## Expected result

Last good: [4.0.4-rc1pre1](http

[2020-11-17 06:00] josep827 opened #6208 "[Build 4.0.4-rc1pre2] openQA test fails in install_templates"
## Observation

openQA test in scenario qubesos-4.0-install-iso-x86_64-install_btrfs@64bit fails in
[install_templates](https://openqa.qubes-os.org/tests/13182/modules/install_templates/steps/2)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [4.0.4-rc1pre2](https://openqa.qubes-os.org/tests/13182) (current job)

## Expected result

Last good: [4.0.4-rc1pre1](http

[2020-11-17 06:01] josep827 opened #6209 "[Build 4.0.4-rc1pre2] openQA test fails in install_templates"
## Observation

openQA test in scenario qubesos-4.0-install-iso-x86_64-install_btrfs@64bit fails in
[install_templates](https://openqa.qubes-os.org/tests/13182/modules/install_templates/steps/1)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [4.0.4-rc1pre2](https://openqa.qubes-os.org/tests/13182) (current job)

## Expected result

Last good: [4.0.4-rc1pre1](http

[2020-11-17 06:03] andrewdavidwong commented on #6206
@josep827, I think there might be something wrong on your end. You just opened three issues with exactly the same content.

[2020-11-17 06:04] andrewdavidwong commented on #6207
Duplicate of #6206

[2020-11-17 06:04] andrewdavidwong commented on #6207
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-17 06:04] #6207 closed

[2020-11-17 06:04] andrewdavidwong commented on #6208
Duplicate of #6206

[2020-11-17 06:04] andrewdavidwong commented on #6208
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-17 06:04] #6208 closed

[2020-11-17 06:07] andrewdavidwong commented on #6209
Duplicate of #6206

[2020-11-17 06:07] andrewdavidwong commented on #6209
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-17 06:07] #6209 closed

[2020-11-17 06:07] andrewdavidwong commented on #6206
And that's four...

[2020-11-17 06:10] andrewdavidwong commented on #6205
This is probably just a temporary problem. Wait a bit and retry again later, then let us know if the problem persists.

[2020-11-17 07:26] straussmaus commented on #6205
Agreed, though I thought it might be helpful to post the log for reference.  Will re-open if it persists for more than 72 hours.

[2020-11-17 07:26] #6205 closed

[2020-11-17 10:02] marmarek commented on #6206
And it links to a failure that is already fixed in subsequent build.

[2020-11-17 10:02] #6206 closed

[2020-11-17 11:59] GWeck commented on #5462
I just upgraded W10 from 1909 to 20H2. In the first attempt, it crashed during installation of the upgrade, due to qrexec timeout. This can be fixed by setting `qvm-features <VMname> qrexec -D` before performing the upgrade, working through half a dozen reboots, and then restoring `qvm-features <VMname> qrexec 1`. The resulting VM (template and corresponding AppVM) works normally, without any gui

[2020-11-17 12:59] rustybird commented on #2469
Ideally, the browser-side code (currently Mozilla AutoConfig) would be rewritten as a WebExtension and then used for both Firefox- and Chromium-based browsers. And I do have a proof of concept lying around from >2 years ago; not even tested with anything besides Tor Browser back then, but it already seemed surprisingly tricky due to:

1. WebExtension limitations: They can't override standard brows

[2020-11-17 13:13] zet9 opened #6210 "Kernel panic in dom0 after upgrade to 4.19.155"
**Qubes OS version**
Latest stable with all updates installed.

**Affected component(s) or functionality**
Dom0 kernel, initramfs, updater.

**Brief summary**
After latest dom0 upgrade the system won't boot anymore and kernel panic is shown on boot:
Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)
And system restarts.
The newly generated initramfs during the update is

[2020-11-17 13:49] marmarek commented on #6210
Looks like you've run out of disk space in /boot during update.

[2020-11-17 14:14] cobordism commented on #6201
I have to admit, this whole issue was born more of frustration than anything else.
I found that I needed an updated package that was not available in any of the provided templates and I repeatedly failed at making my own templates or upgrading in place. All instructions/documentation I followed invariably led to either compilation errors or bricked templates... I've lost three days trying to get i

[2020-11-17 16:56] DemiMarie commented on #2469
Native messaging is the endorsed way to relay messages between a browser extension and native code.  When it comes to hotkeys, perhaps an X11 program in the browsing VM could handle this?

[2020-11-17 16:57] DemiMarie commented on #2469
Also, the current handling of logins seems to leave a lot to be desired.  From my perspective, a better approach would be to somehow interface with the website DOM, just as browser’s built-in password managers do.

[2020-11-17 16:59] DemiMarie commented on #6210
The real problem, IMO, is that modifications to `/boot` are not transactional.

[2020-11-17 17:14] iamahuman commented on #5937
@zpc0 I suppose https://github.com/mozilla/gecko-dev/blob/544653167f12b44d6358cc3a60a6151caca3c85d/gfx/thebes/StandardFonts-linux.inc would be a good reference

[2020-11-17 17:21] marmarek commented on #6210
@zet9 you can regenerate initramfs with (use full path to initramfs file):

    dracut -f initramfs-4.19.155-1.pvops.qubes.x86_64.img 4.19.155-1.pvops.qubes.x86_64

Is that EFI or legacy boot?

[2020-11-17 17:54] rustybird commented on #2469
Well, I know you can't just open a plain TCP connection, but a WebSocket to localhost should have worked nicely - if not for that Tor Browser bug. Maybe almost a drop-in replacement of `websocat` for `socat` in the qrexec service.

Native messaging isn't too bad, but it adds some indirection: `split-browser-disp` qrexec service launches browser, which launches [gnarly native shim](https://gist.git

[2020-11-17 21:04] DemiMarie commented on #2469
How do most password managers handle this?

[2020-11-17 21:45] zet9 commented on #6210
I checked the available space in /boot and there is plenty (800 MB) free.

It's EFI boot.

Manual recreation of the initramfs doesn't help, still kernel panic on boot with the same cause.
Attaching output from the generated initramfs file:
[lsinitrd-4.19.155-1.pvops.qubes.x86_64.txt](https://github.com/QubesOS/qubes-issues/files/5556355/lsinitrd-4.19.155-1.pvops.qubes.x86_64.txt)

[2020-11-17 21:47] marmarek commented on #6210
If it's efi, then take a look at `/boot/efi/EFI/qubes/initramfs*.img` (and free space there)

[2020-11-17 21:51] zet9 commented on #6210
I checked there as well, still about 100 MB free space.

I also copied the manually created initramfs there and checked it will be picked on next boot.

[2020-11-17 22:02] rustybird commented on #2469
Avoiding fingerprinting? I don't know if that's even a goal for mainstream browser extensions.

Perhaps it's actually easy, there are protections like Firefox's [Xray vision](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Content_scripts#Content_script_environment). But that looks more geared towards preventing untrusted page information from being transfered too freely to

[2020-11-17 22:28] DemiMarie commented on #2469
No, I meant how do most password managers (such as KeePassXC) integrate with browsers?

[2020-11-17 22:49] rustybird commented on #2469
For KeePassXC, you can use [their browser extension](https://github.com/keepassxreboot/keepassxc-browser) or [autotype](https://github.com/keepassxreboot/keepassxc/blob/master/docs/topics/AutoType.adoc).

[2020-11-17 23:16] agowa opened #6211 "Qubes R4.0.3 x86_64 iso xserver broken"
**Qubes OS version**
R4.0.3 Setup on USB using Rufus

**Affected component(s) or functionality**
xserver

**Brief summary**
When booting the installation media it the xserver failing to start.

**How Reproducible**
Always

**To Reproduce**

Steps to reproduce the behavior:
1. Enable CSM in Bios (without it it doesn't boot at all shows briefly a few (5-6) lines of text before it instantly reboots)

[2020-11-17 23:59] dylangerdaly commented on #5980
This has been fixed.

[2020-11-18 00:56] agowa338 commented on #1982
also for windows vms the uefi is more or less a must by now. It just boots way faster and from experience also has less quirks with updates...

[2020-11-18 01:30] marmarek commented on #6211
Can you also add a log with kernel messages - either `syslog` or `journal.log` file?

[2020-11-18 01:32] marmarek commented on #6211
You can also try 4.0.4-rc1 - it has newer kernel.

[2020-11-18 03:23] agowa338 commented on #6211
[syslog](https://github.com/QubesOS/qubes-issues/files/5557504/syslog.txt)

[2020-11-18 04:09] marmarek commented on #6211
This log is fine. I see it doesn't even try to load `amdgpu` driver. I think similar issue was discussed already in https://github.com/QubesOS/qubes-issues/issues/5416#issuecomment-679564602 (similar hardware, different error).
It seems at least Linux kernel 5.3 is required, so Qubes 4.0.4-rc1 isn't enough (there is AFAIR 4.19.150).
If you are brave enough, you can try alpha build of Qubes 4.1:
ht

[2020-11-18 10:31] zpc0 commented on #5937
Thank you. I checked the difference between `StandardFonts-linux.inc` and qubes fedora-32 template.
The following fonts are missing in the fedora-32 template.

`
  "Abyssinica SIL"
  "Caladea"
  "Carlito"
  "Comfortaa"
  "Jomolhari"
  "Khmer OS"
  "Liberation"
  "Lohit Assamese"
  "Lohit Bengali"
  "Lohit Devanagari"
  "Lohit Gujarati"
  "Lohit Kannada"
  "Lohit Odia"
  "Lohit Tamil"
  "Lohit Telu

[2020-11-18 11:15] agowa338 commented on #6211
Can confirm, it works with the alpha.

[2020-11-19 04:28] Jenn145 opened #6212 "Critical Boot Issue Crippling the OS"
### Qubes OS version:

R4.0

### Affected component(s) or functionality:

Booting/Running the OS entirely

---

### Steps to reproduce the behavior:

1. Turn on computer, enter FDE login info
2. Dracut emergency prompt delivers error messages related to missing /dev/mapper/qubes_dom0-root

3. I use known working method for repair commented here by "notbyosmosis": https://github.com/QubesOS/qubes-i

[2020-11-19 04:29] #6212 closed

[2020-11-19 04:45] Jenn145 opened #6213 "Sum of all thin volume sizes exceeds limit. Critical Boot Issue"
### Qubes OS version:

R4.0

### Affected component(s) or functionality:

Booting/Running the OS entirely

---

### Steps to reproduce the behavior:

1. Turn on computer, enter FDE login info
2. Dracut emergency prompt delivers error messages related to missing /dev/mapper/qubes_dom0-root

3. I use known working method for repair commented here by "notbyosmosis": https://github.com/QubesOS/qubes-i

[2020-11-19 04:51] #6213 closed

[2020-11-19 05:06] Jenn145 opened #6214 "Sum of all thin volumes exceeds limit. Critical Boot Issue"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Booting/Running the OS entirely

**Brief summary**

Following initial boot of the computer, and entering of the FDE login info, I'm met with an dracut emergency prompt errors pertaining to this known issue:
https://github.com/QubesOS/qubes-issues/issues/5372
https://github.com/QubesOS/qubes-issues/issues/5160

And a new then a

[2020-11-19 05:16] dylangerdaly commented on #6055
Hey @marmarek, any chance we can get an updated `xen-hypervisor` without the regression again?

I've updated Xen and am noticing the soft-locks.

[2020-11-19 06:34] andrewdavidwong commented on #6214
This report is kind of hard to understand.

It sounds like _maybe_ this is just a continuation of one of those bugs, in which case this should be posted as a comment on one of those issues rather than filed as a separate bug report.

[2020-11-19 15:05] marmarek commented on #6055
This approach doesn't scale... Even if I upload "fixed" version again, the problem will return with every other update.
I'll try to debug the base issue, but it's some nasty race condition in scheduler that is hard to track :/

[2020-11-19 18:32] Jenn145 commented on #6214
I will not be removing this post, as I have yet to get help on mulitple other forums. I will post in the comments of the github posts, as you requested but please leave this post up. I'm in dire need of rescuing my OS.

[2020-11-19 18:39] Jenn145 commented on #5160
I'm facing the same issues as OP. I have resolved it once before with the exact steps listed above by member "notbyosmosis". This time after the second use of "lvconvert --repair qubes_dom0/pool00" I'm met with the following errors:

lvm> lvconvert --repair qubes_dom0/pool00

Using default stripesize 64.00 KiB.

WARNING: Sum of all thin volume sizes (1.10 TiB) exceeds the size of thin pools and th

[2020-11-19 19:06] dylangerdaly commented on #6055
I'll have a look at it today, try to help track it down

Sent from ProtonMail mobile

-------- Original Message --------
On 20 Nov 2020, 2:05 am, Marek Marczykowski-Górecki wrote:

[2020-11-19 19:21] DemiMarie commented on #6214
What is the output of `lvm lvs`?  In any case, this would be better suited to the [qubes-users mailing list](mailto:qubes-users@googlegroups.com).

[2020-11-19 19:45] DemiMarie opened #6215 "System76 Adder WS doesn’t boot"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Graphics

**Brief summary**

Booting R4.0 on a System76 Alder WS does not work.  R4.1 works fine.

**How Reproducible**

100%

**To Reproduce**
Boot R4.0 on a System76 Alder WS

**Expected behavior**

System boots normally

**Actual behavior**

The screen goes black as soon as Xen gives up the VGA console

[2020-11-19 20:14] DemiMarie opened #6216 "Masquerading a VM’s IP address should work for IPv6, too"
**The problem you're addressing (if any)**
Faking a VM’s IP address is only supported for IPv4.  It should also be supported for IPv6.

**Describe the solution you'd like**
The code for IPv4 is already implemented.  It merely needs to be ported to support IPv6.

**Where is the value to a user, and who might that user be?**
Users who wish to have two VMs with the same IPv6 address and the same NetV

[2020-11-20 00:57] DemiMarie commented on #6174
I seem to remember a bug that prevented Linux from recognizing more than 1 vCPU in HVM mode, if over a certain amount of memory was supplied.

[2020-11-20 01:32] marmarek commented on #1392
This is now fixed thanks to @pierwill

[2020-11-20 01:32] #1392 closed

[2020-11-20 05:53] DemiMarie opened #6217 "Cannot detach a persistently attached microphone"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Microphone passthrough

**Brief summary**

A persistently attached microphone device cannot be detached.  I had to manually edit `qubes.xml` to fix the problem.

**How Reproducible**

Not sure.

**To Reproduce**

Steps to reproduce the behavior:
1. Run `qvm-device mic attach --persistent -- <VM name here>

[2020-11-20 05:54] DemiMarie commented on #6211
Should we include a newer kernel on the 4.0.4 release ISO?

[2020-11-20 10:02] deeplow commented on #5984
Citing here user feedback [from the forum](https://qubes-os.discourse.group/t/in-4-1-please-increase-default-sizes-for-system-storage-and-private-storage/1581/1):

This last part seems to match exactly the issue's title

[2020-11-20 10:04] deeplow commented on #1053
It seems this issue is highly related: https://github.com/QubesOS/qubes-issues/issues/1441

[2020-11-20 11:00] andrewdavidwong commented on #6214
I'm sorry, but [qubes-issues is not a place for getting individual help or support](https://www.qubes-os.org/doc/reporting-bugs/). Rather, the purpose of this issue tracker is to track general bugs, enhancements, and tasks in the software itself. In other words, this is a tool to assist the Qubes developers in doing their work, not a forum for users to receive assistance. We do, however, have [pla

[2020-11-20 11:00] #6214 closed

[2020-11-20 11:09] andrewdavidwong commented on #6217
Duplicate of #4054

[2020-11-20 11:09] andrewdavidwong commented on #6217
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-20 11:09] #6217 closed

[2020-11-20 12:53] fepitre commented on #6097
@0spinboson to confirm that would be the same, a wordaround for the issue I have is to add `dom0=pvh` at xen cmdline boot args. But...I cannot start any HVM having PCI attached...

[2020-11-20 12:56] fepitre commented on #5341
@andrewdavidwong I think we can close this one. Bullseye and Kali are in repositories since few weeks so normally no more issue with missing dependencies.

[2020-11-20 19:20] huertanix commented on #5317
Hi, I I'm on Qubes 4.0 and followed the guide (https://www.qubes-os.org/doc/building-archlinux-template/) without any additional tweaks and still ran into the same issue as encountered in #4109. Is this fix only available in 4.1?

[2020-11-20 21:43] DemiMarie commented on #2841
I have turned off `iommu=no-igfx` and have had no problems.

[2020-11-20 21:55] DemiMarie commented on #5347
This needs to be pushed to stable.  @marmarek ok?

[2020-11-20 21:58] DemiMarie commented on #6194
I can think of two options here:

1. Use a patched OpenSSH.  This will give very good performance, at the expense of maintenance burden.
2. Use a stock OpenSSH.  This comes at a performance hit due to the encryption required.

[2020-11-21 03:40] DemiMarie opened #6218 "Failing to set a property results in an unhelpful error message"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

qubes-core-admin

**Brief summary**

Trying to set a `visible_*` property (such as `visible_gateway`) results in this less than helpful error message:

[code]

**How Reproducible**

100%

**To Reproduce**
Run `qvm-prefs sys-firewall visible_gateway <something>`.  Other read-only properties also work.

**E

[2020-11-21 03:50] huertanix opened #6219 "Arch Linux template build missing pulseaudio version 13.99.3"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Arch Linux template build

**Brief summary**

When attempting to build an Arch Linux template, `make qubes-vm` fails due to the prerequisite pulseaudio-13.99.3 directory missing from `qubes-src/gui-agent-linux/pulse`. This is similar in nature to #4109.

**How Reproducible**

Predictably reproducible.

**To Reproduce**

Steps

[2020-11-21 03:54] crat0z commented on #6055
There seems to be quite a few problems with Renoir CPUs and Xen at the moment. Besides this and the temporary fix working, my 4650u is stuck at 2.1GHz, and xenpm get-cpufreq-para says failed to get cpufreq parameter. Also, enabling SMT can sometimes makes Xen unable to startup/stop VMs, e.g. sys-firewall will start but other VMs won't after, sometimes sys-firewall won't start, sometimes its fine e

[2020-11-21 03:58] DemiMarie commented on #2240
@rugk GitHub being compromised is indeed in scope, but it isn’t adequate in and of itself.  One would need to convince someone trusted by the Qubes Builder to sign a tag that points to a commit containing the malicious object.  A *second-preimage* attack on SHA-1 would indeed be catastrophic, but no such attacks (other than brute-force) are known or believed to exist.

[2020-11-21 04:08] DemiMarie commented on #2240
Furthermore, Git doesn’t use raw SHA-1.  It uses a variant, known as *Hardened SHA-1*, that is resistant to all known or likely collision attacks.  Since SHA-1 only produces a 160 bit hash, there is still a birthday attack with complexity 2^80.  However, this attack is not considered practical in the short term.  In the long term, Git is already transitioning to SHA-256, and will have finished doi

[2020-11-21 04:09] DemiMarie commented on #6055
SMT is inherently insecure in the absence of a core scheduler, which Xen doesn’t have.  So I would not worry about it.

[2020-11-21 05:57] icequbes1 commented on #6200
I've traced the allocation error to this line in the usbip-host kernel module:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/usb/usbip/stub_rx.c?h=v5.8#n518

[code]

In my particular case a `buf_len` of almost 97KB comes in and kalloc cannot provide a buffer. There is not much that can be done when memory just simply isn't available.

However, from the Qubes side

[2020-11-21 06:27] icequbes1 commented on #2841
Same hardware @DemiMarie?

Just checked again by temporarily dropping `iommu=no-igfx`, I'm still getting:

- hypervisor.log @ 50 times per second:

[code]

- dmesg @ 72 times per second:

[code]

These spam logs stop if I switched to a separate console tty.

R4.1, xen-4.14.0-7, kernel 5.8.16-1

As the slowdown I previously observed was due to a separate issue, I'm unsure if I have a problem aside

[2020-11-21 06:50] RaphaelBalthazar commented on #6219
Looks like a duplicate of #6172

[2020-11-21 07:30] icequbes1 commented on #6174
Very crude timings observed starting an HVM Fedora 32 qube (400MB memory, not memory balanced, no PCI devices):

Run: `qvm-run hvm`

- t=0, Xen starts emitting stuff about the new HVM domain
- t=0 through t=6: xenstored in dom0 observed to be taking up most of the CPU %
- t=6, Xen HVM Loader logs start
- t=6, stubdom dm kernel logs/init start
- t=6, qemu executed in stubdom
- t=13: in stubdom log

[2020-11-21 09:01] 100111001 commented on #2766
Additional observation: Since it happened again that my snap refused to start, I checked the directory
/var/lib/snapd/snap/_my-snap_/19
and it was empty. After a AppVm restart it contains all files and the snap is starting.
(Template for the AppVM is fedora 32)

[2020-11-21 10:30] rugk commented on #2240
Fortunately, [git also switches to SHA-256](https://www.infoq.com/news/2020/10/git-2-29-sha-256/)…

[2020-11-21 13:22] agowa338 commented on #6211
If it is possible, to include Linux kernel 5.3 into the stable release ISO, that would be great.
But as also an archlinux user I may be biased towards shipping the most recent stable kernel as possible (as time of writing 5.9.9), but I'm not in to the whole XEN topic until now, so I don't know how that will come into play...

[2020-11-21 13:49] marmarek commented on #6211
As a general policy, we only use LTS kernels as the default one. This means we could switch to 5.4 there. I'll test on some laptops I have here and in case of no issues, will upload it to the current-testing repo + the next 4.0.4-rc.

[2020-11-21 15:03] #5341 closed

[2020-11-21 15:06] andrewdavidwong commented on #5317
In that case, I'm confused as to why you're commenting on this issue rather than #4109.

@fepitre, do you know?

[2020-11-21 15:17] andrewdavidwong commented on #6219
Duplicate of #6172

[2020-11-21 15:17] andrewdavidwong commented on #6219
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-21 15:17] #6219 closed

[2020-11-21 15:58] huertanix commented on #5317
@andrewdavidwong Upon further inspection, I've realized it's a new version of pulseaudio causing the issue. This issue as well as #4109 are related but are different as they address and fix issues with older versions when they were missing.

[2020-11-21 16:37] fepitre commented on #5317
@andrewdavidwong the fix will certainly go into `release4.0` but as we are still on CI transition since one week, we want CI back on every stable branches before continuing to merge anything. @marmarek could state if he wants to backport the fix sooner.

[2020-11-21 19:20] DemiMarie commented on #2841
@icequbes1 no, Lenovo ThinkPad P51

[2020-11-21 20:16] DemiMarie opened #6220 "Fedora-32-minimal template cannot be updated using Salt"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Minimal Fedora template

**Brief summary**

`fedora-32-minimal` cannot be updated using Salt, only via DNF.

**How Reproducible**

100%

**To Reproduce**
Try to update `fedora-32-minimal` using the GUI updates widget

**Expected behavior**

Update succeeds

**Actual behavior**

Update fails

**Screenshots

[2020-11-21 20:26] marmarek commented on #6220
Do you have fedora-32 based management dispvm assigned for it (directly or globally)? Because of python version in fedora-32, quite recent salt is necessary, which is available in fedora-32

[2020-11-22 01:37] unman commented on #6220
On Sat, Nov 21, 2020 at 12:26:52PM -0800, Marek Marczykowski-G??recki wrote:

Debian-minimal has the same fault, I think.
I thought it had been decided that minimal templates could not be salted
without additional packages?

[2020-11-22 02:48] marmarek commented on #6220
It should be possible to salt minimal template. The minimal template (without extra packages) is just not suitable for the DispVM used for salt (management_dispvm property).

[2020-11-22 03:27] unman commented on #6220
On Sat, Nov 21, 2020 at 06:48:45PM -0800, Marek Marczykowski-G??recki wrote:

You're right, of course.

[2020-11-22 04:10] unman opened #6221 "Qubes Update tool extends below edge of screen; buttons not visible"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

Qubes updater

**Brief summary**

The update window has no scrollbar.
With a large number of templates, the update window is full, and the buttons are hidden below the edge of the screen.

**How Reproducible**

100%

**To Reproduce**
Steps to reproduce the behavior:
1. Have a large number of templates.
2. Launch the update tool

[2020-11-22 04:12] DemiMarie commented on #6220
@marmarek duh, I forgot to change my management DVM from the default (which is currently a Debian VM).  Closing.

[2020-11-22 04:12] #6220 closed

[2020-11-22 04:14] DemiMarie commented on #6221
How many templates do you have?  10 doesn’t seem to be enough, at least with XFCE.

[2020-11-22 05:07] icequbes1 commented on #5948
I've also run into this after I ran out of disk space while installing the template. It's essentially the same problem - uninstallation of the rpm is not possible unless forcing `--noscripts`.

In my case the issue was reproduced as such:

1. Executed: `sudo qubes-dom0-update qubes-template-fedora-32`
2. During the postinstall of the package, `qvm-template-postprocess` errors out because I ran out

[2020-11-22 10:06] GWeck commented on #6221
With XFCE, the window is enlarged if new templates are added, but it has no scrollbar. For me 20 templates are shown, and if I add one more template, the window is enlarged accordingly. The buttons are shown in any case.

I have no idea, how many templates are needed under XFCE to make it break.

[2020-11-22 10:45] fepitre commented on #2469
@rustybird is it tested on both R4.0 and current devel R4.1?

[2020-11-22 11:20] Shic1983 opened #6222 "DisposableVM logs not discarded in /var/log/qubes/guid.[dispxxx].log"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
dom0

**Brief summary**
Disposable VM logs not discarded in /var/log/qubes/guid.[dispxxx].log

**Expected behavior**
After a disposable vm is close the log should be discarded, or at least rm disp* logs on reboot

**Actual behavior**
disposable vm logs are left to accumulate in /var/log/qubes/guid.[dispxxx].log

**Screenshots**

[2020-11-22 13:10] andrewdavidwong commented on #5317
Ok, so it sounds like the fix for this will reach 4.0 eventually. I think you may just need to wait for it, @huertanix.

[2020-11-22 13:42] unman commented on #6221
On Sat, Nov 21, 2020 at 08:14:14PM -0800, Demi Marie Obenour wrote:

I have tested with Xfce and this also applies there.
How would 10 be enough? That's not going to create a large enough
window, unless you have a tiny screen.
Currently 36 on this machine: a standard x230 with 1366x768.

[2020-11-22 14:03] rustybird commented on #2469
Yes, it works on both.

BTW I just renamed the Git repo to qubes-app-split-browser (from qubes-split-browser).

[2020-11-22 14:09] fepitre commented on #2469
Yes I was about to tell that I would do that when forking into QubesOS-contrib. Builds are ok on tested dists: archlinux, bullseye, centos8 and fc33. I finish the review soon and I notice here for it and build done on contrib.

[2020-11-22 15:17] PROTechThor commented on #6104
@mgifford Sorry, I can't help in this situation. I've done research and couldn't find anything to fix this issue. I hope someone else can chip in soon though.

@andrewdavidwong There's nothing more I can do for this ticket. I had made some changes to the UEFI troubleshooting docs, but it's not adequate. New issues arised, which I can't figure out how to fix.

[2020-11-22 16:58] DemiMarie commented on #6221
I just thought that 10 was a lot of templates.

[2020-11-22 17:50] NoNameoN-A opened #6223 "FATAL PAGE FAULT [error_code=0002]"
Hi everybody i’m trying to install your OS on my device but when i try to start your .iso (that i was installed on a pendrive using rufus and FAT32 system and DD option) from my BIOS (through press f12 becausei have a dell), i have a fatal error.
I think that the official error message is the following:
*******************************
Panic on CPU 0:
FATAL PAGE FAULT
[error_code=0002]
Faulting lin

[2020-11-22 18:24] unman commented on #6222
This is duplicate of  Section 1 item 9 of #4972

[2020-11-22 18:37] #6223 closed

[2020-11-23 02:29] Qiyamah commented on #3908
I am getting another failure:
`qubes/qubes-vm-networking 4.0.58-15
    Qubes OS tools allowing to use a Qubes VM as a NetVM/ProxyVM
qubes/qubes-vm-pulseaudio 4.0.31-10
    Pulseaudio support for Qubes VM
qubes/qubes-vm-utils 4.0.31-10
    Common Linux files for Qubes VM.
qubes/qubes-vm-xen 4.8.5-26
    Xen is a virtual machine monitor
  --> Installing mandatory qubes packages...
error: target not

[2020-11-23 02:34] cheznewa opened #6224 "Qubes Builder ::: Install A Template From Linux Custom Via ISO/CDRom"
Hello, is possible to add in qubes-builder, a option allow choose iso/cdrom for build template for a custom linux our choice.

[2020-11-23 02:37] marmarek commented on #6224
No, building a template is not just installing that distribution, but also building and installing various qubes-specific packages. The process is described at https://www.qubes-os.org/doc/building-non-fedora-template/
If you want a plain, non "qubeized" system in a VM, you can use this process: https://www.qubes-os.org/doc/standalone-and-hvm/

[2020-11-23 02:37] #6224 closed

[2020-11-23 02:40] cheznewa commented on #6224
OK, But It's Not Easy From A HVM, Always Install Windows Than Linux ...

[2020-11-23 03:39] DemiMarie opened #6225 "Make NAT traversal easier"
**The problem you're addressing (if any)**

Peer-to-peer applications do not work in Qubes VMs, except by using a relay server.

**Describe the solution you'd like**

QubesOS should support a standardized NAT traversal protocol, compatible with WebRTC, BitTorrent, and other peer-to-peer applications.

**Where is the value to a user, and who might that user be?**

Users who use Matrix will no longe

[2020-11-23 04:45] DemiMarie commented on #5981
I would express it as, “If there is a GUI domain that is NOT dom0, the notification should be shown there; otherwise, it is expressed in the VM whose request was denied.”

[2020-11-23 08:29] fepitre commented on #6224
Why do you always install Windows? The provided link if for helping you installing whatever you want, not Windows specific. It's just an example. You can attach any iso you want and install it with usual steps. It could be difficult if you want to build Qubes specific source components into your "unknown" distribution.

[2020-11-23 13:33] andrewdavidwong commented on #6104
No problem. We can leave this open. Thank you for everything you've done!

[2020-11-23 13:34] andrewdavidwong commented on #6222
Duplicate of #4972

[2020-11-23 13:36] andrewdavidwong commented on #6222
Actually, it looks like this particular topic was spun off into #5820 (see https://github.com/QubesOS/qubes-issues/issues/4972#issuecomment-484336804).

[2020-11-23 13:36] andrewdavidwong commented on #6222
Duplicate of #5820

[2020-11-23 13:36] andrewdavidwong commented on #6222
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-11-23 13:36] #6222 closed

[2020-11-23 13:38] andrewdavidwong commented on #6223
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2020-11-23 17:29] DemiMarie commented on #6186
For this to be a significant security benefit, minimal templates will need the ability to run Salt, which they currently do not by default.

[2020-11-23 17:50] jaey-p opened #6226 "'Failed to start X Server' on Installation - Qubes 4.1 - Ryzen 4900h with integrated and discreet graphics"
### Qubes OS version:

Heyy, I have been having some trouble starting the installation on this ryzen 4000 series machine .. I've seen a couple other people had problem with these APUs too. I've been using qubes 4.0 release as a daily driver on my thinkpad e470, and it boots 4.1 release too. The 4.0.3 iso (and the 4.0.4 iso) give me a black screen on this ryzen machine, while the 4.1 iso (Qubes-R4.

[2020-11-23 17:54] #6226 closed

[2020-11-23 18:23] andrewdavidwong commented on #6186
1. Why does that follow? The security benefit of disabling unused repos applies whenever a template is updated, and all templates have to be updated, whether they run Salt or not.

2. Minimal templates can run Salt simply by installing the required package. I'm not sure why it needs to be by default. That's the nature of minimal templates: They can hardly do anything by default. That's intentional

[2020-11-23 18:25] marmarek commented on #5861
Changes in TB78+ requires basically rewriting the extension from scratch. Here are some hints about the new API, including similar extension:
https://developer.thunderbird.net/add-ons/updating/tb78
https://github.com/HiraokaHyperTools/OpenAttachmentByExtension/pull/2/files

[2020-11-23 19:08] andrewdavidwong commented on #3795
I've opened two PRs to make the table sortable (https://github.com/QubesOS/qubesos.github.io/pull/150 and https://github.com/QubesOS/qubes-doc/pull/1097). However, some rows in the table break when sorted. This image shows exactly what I mean (warning, large image):

[hcl-sorted-broken.png](https://user-images.githubusercontent.com/10417133/100004123-e3bd6680-2d7b-11eb-8cb3-e67a5c1e98c0.png)

The

[2020-11-23 19:14] DemiMarie commented on #5861
Looks like we will need to use an experiment for this, as we need to both run external commands (which obviously is only possible from a privileged context) and to override a core part of the Thunderbird UI.

[2020-11-23 19:17] jimi3 opened #6227 "Restore Backup failings"
**Qubes OS version**
R4.0.3 & R4.0.4rc1

**Affected component(s) or functionality**
Restore Backup

**Brief summary**

_failed to decrypt /var/tmp/restorej3aq3bth/vm37/root.img.001.enc:b'scrypt:Passphrase is incorrect\n
Partially restored files left in /var/tmp/restore_*,investigate them and/or clean them up_

1. Fresh install in R4.0.4rc1, run updates prior to restore backup, when i saw this erro

[2020-11-23 19:21] DemiMarie commented on #6186
Salt is the recommended and default way to update a template.  Therefore, to gain the security benefit, a minimal VM needs to be the template for its own Management DVM, which means it needs the Salt package installed.

I would like to see the minimal template be the default template for the default Management DispVM, which requires that it have Salt installed.

[2020-11-23 19:22] marmarek commented on #5861
Yes

[2020-11-23 19:23] DemiMarie commented on #5861
I am going to get in contact with the Thunderbird developers and try and come up with a plan.

[2020-11-23 19:46] andrewdavidwong commented on #6227
You omitted the steps to reproduce, which makes certain details unclear. Please provide the exact steps you performed.

-----

I wonder if it might be due to the printer device assigned to this VM (similar to #6083, perhaps). Were the backup and restore done on the exact same hardware?

-----

Yes, there is one. In the restore GUI, it's called "Verify backup integrity, do not restore the data".

[2020-11-23 20:00] andrewdavidwong commented on #6186
If I understand correctly, the theoretical attack is a malicious package coming from a repo that the user does not otherwise use or want to use. Disabling that repo closes off that avenue of attack. If this is correct, then it is immaterial whether the update was triggered by Salt or other means. The security benefit of disabling the unused repos is the same either way.

Rather, I understand your

[2020-11-23 20:11] jimi3 commented on #6227
Not sure what say here, it was a full Qubes OS Backup that i used that lead to this problem. The Backup was taken with r4.0.3 kernel-latest Qubes OS two weeks ago.
I would need to create a new full OS Backup and try to restore it on a fresh install to maybe reproduce this problem.
Please advice if i misunderstood you.

Same PC, only change in hardware is from 500GB ssd to an 500GB nvme drive.

It

[2020-11-23 20:42] DemiMarie commented on #6186
We could also create a hyperminimal “micro” template that only includes the bare minimum needed to boot and run Salt ― essentially just qrexec, salt, and their transitive dependencies.  No GUI, fonts, or other niceties.

[2020-11-23 20:53] marmarek commented on #6186
That should also reduce its resources (RAM, boot time).

[2020-11-23 21:02] DemiMarie commented on #6186
A VM that is truly only for Salt can get rid of a lot more bloat: it doesn’t need a kernel, initramfs, or even systemd or networking.  That is less a hyperminimal Fedora template, though, and more a Salt-only template.

[2020-11-23 22:20] KnightWhoSaysNeeeowWumPing commented on #6171
Sorry for taking so long to reply, I had startup problems with the system in question.

1. libgfortran is installed in version: `libgfortran-6.4.1-1.qubes2.fc25.x86_64`
2. There seem to be some files missing:
[code]

I then tried to re-install the package with `sudo qubes-dom0-update libgfortran` and `sudo dnf reinstall libgfortran` as stated in the [documentation](https://www.qubes-os.org/doc/sof

[2020-11-24 01:51] DemiMarie commented on #6171
What happens if you run `sudo qubes-dom0-update libgfortran-6.4.1-1.qubes2.fc25.x86_64`?

[2020-11-24 02:25] DemiMarie commented on #6186
Such a VM would probably be more like the stubdomain than anything else ― tiny, stateless, and running completely from memory

[2020-11-24 07:53] straussmaus commented on #5846
I did a fresh install and this problem happened again.  I do not believe it is user error.  So I did another fresh reinstall and it worked.

[2020-11-24 07:56] straussmaus commented on #3928
Is there any update?  This would be great information:

[code]

[2020-11-24 08:02] straussmaus commented on #6135
This is happening on a fresh install of 4.0.3.

[2020-11-24 13:31] 0rb677 opened #6228 "sys-net wifi errors : “aborting authentication by local choice (Reason: 3=DEAUTH_LEAVING)”"
**Qubes OS version**
Qubes OS 4.0.4-rc1/Qubes 4.1 Alpha

hardware:
x220/heads
wifi drivers : iwlwifi/ath9k

vm's :
fedora-32/debian-10 as sys-net

can't connect to some WPA & WPA2 personal  ssid's
other devices works fine.
full log will be soon.

Similar : https://github.com/QubesOS/qubes-issues/issues/3486

[2020-11-24 15:09] andrewdavidwong commented on #6227
There's an open issue for this: #1454

[2020-11-24 15:19] jimi3 commented on #6227
Used a previous Backup and was able to restore the debian-10-printer-dvm template, worked like a charm.
Made a new encrypted backup to my local NAS which i just finished verifying successfully, i was not able to reproduce this error.

Thank you.

[2020-11-24 19:34] jandryuk commented on #6203
OpenXT has this: https://github.com/OpenXT/xenclient-oe/commit/f60e3a0b4ea0cdb3f354600302d34c918352439f

I didn't add it, but the reason looks similar. It may not apply to 4.14 and it a total hack.

[2020-11-24 22:25] DemiMarie opened #6229 "qubes-mgmt-salt-vm-connector fails to list dependencies on qubes-core-agent-passwordless-root and socat"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`qubes-mgmt-salt-vm-connector` packaging

**Brief summary**

`qubes-mgmt-salt-vm-connector` should depend on `qubes-core-agent-passwordless-root` but does not.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Install `qubes-template-fedora-32-minimal` in dom0
2. Install `

[2020-11-24 22:30] marmarek commented on #6229
I'm not sure about `socat`, but it should be possible to make it work without `qubes-core-agent-passwordless-root`. Perhaps as simple as adding `user='root'` argument at [dispvm.run_service](https://github.com/QubesOS/qubes-mgmt-salt/blob/master/qubessalt/__init__.py#L165) call

[2020-11-24 22:31] marmarek commented on #6229
TBH, I think what user is a service running as should be configurable (also? only?) at the target VM, not dom0 (either in policy, or call argument when call originates from dom0).

[2020-11-24 22:33] DemiMarie commented on #6229
`socat` isn’t needed for Salt, but is needed for `qvm-console-dispvm`.  Since installing `qubes-mgmt-salt-vm-connector` indicates that one is likely to be using that qube as a management DispVM, it should probably have `Recommends: socat`.

[2020-11-24 22:33] marmarek commented on #6229
Have you meant sudo?

[2020-11-24 22:34] marmarek commented on #6229
`/etc/qubes-rpc/qubes.ShowInTerminal` belongs to `qubes-core-agent` - so, this package should have dependency on socat.

[2020-11-24 22:44] DemiMarie commented on #6229
That’s already possible if the service is run as root ― it can drop privileges to any user it chooses.

[2020-11-24 22:59] marmarek commented on #6229
Yes, but currently services by default are started as `user` (which makes sense in most cases).

[2020-11-24 23:39] DemiMarie commented on #6229
I could add another service configuration option.

[2020-11-24 23:40] DemiMarie commented on #3278
Has anyone reproduced this issue since?

[2020-11-24 23:42] DemiMarie commented on #3898
Bingo.  The only fixes seem to be physlock and Wayland.

@marmarek is it okay to close this as a duplicate of #1917?

[2020-11-25 00:09] marmarek commented on #6229
That would be perfect. Something like `force-user`, which override username sent from dom0? Otherwise we'd likely need a protocol change, because currently default user is resolved in dom0 and qrexec-agent has no way to distinguish whether `user` uesr is there because it is default, or because it was explicitly requested.
Such property would also allow for less hacky `qubes.VMRootShell` service (c

[2020-11-25 00:10] marmarek commented on #3898
Yes, makes sense.

[2020-11-25 00:18] DemiMarie commented on #3898
Duplicate of #1917

[2020-11-25 00:19] DemiMarie commented on #1917
Given that #3898 is a duplicate of this one, should this be backported to R4.0 as well?

[2020-11-25 00:21] DemiMarie commented on #6229
I agree, although once it is implemented I see no reason not to backport it to R4.1.

[2020-11-25 00:29] marmarek commented on #6229
Backporting itself - if the change indeed will be simple enough, then we can consider it. But in many cases we couldn't rely on such backport, because inter-VM package dependency tracking isn't a thing.

[2020-11-25 01:22] dylangerdaly commented on #1917
When trying to use physlock a few months ago, I got x11 artifact, I'll give this another shot and see if it's working better now

[2020-11-25 04:40] marmarek commented on #5561
Since documentation is updated for `qvm-shutdown --wait`, there is nothing more to do here.

[2020-11-25 04:40] #5561 closed

[2020-11-25 04:41] marmarek commented on #5533
Implemented here: https://github.com/QubesOS/qubes-anaconda-addon/pull/7

[2020-11-25 04:41] #5533 closed

[2020-11-25 12:15] andrewdavidwong commented on #3278
Closing this for now due to the prolonged lack of activity. If anyone is still affected by this, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-11-25 12:15] #3278 closed

[2020-11-25 12:23] andrewdavidwong commented on #4297
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:23] #4297 closed

[2020-11-25 12:24] andrewdavidwong commented on #4269
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:24] #4269 closed

[2020-11-25 12:24] andrewdavidwong commented on #3306
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:24] andrewdavidwong commented on #2571
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:24] #2571 closed

[2020-11-25 12:24] andrewdavidwong commented on #4183
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:24] #4183 closed

[2020-11-25 12:24] andrewdavidwong commented on #4259
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:24] #4259 closed

[2020-11-25 12:25] andrewdavidwong commented on #4367
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:25] #4367 closed

[2020-11-25 12:26] andrewdavidwong commented on #4388
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:26] #4388 closed

[2020-11-25 12:26] andrewdavidwong commented on #4420
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:26] #4420 closed

[2020-11-25 12:26] andrewdavidwong commented on #4057
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:26] #4057 closed

[2020-11-25 12:26] andrewdavidwong commented on #4358
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:26] #4358 closed

[2020-11-25 12:26] andrewdavidwong commented on #3301
It looks like this was fixed but never closed.

[2020-11-25 12:26] #3301 closed

[2020-11-25 12:26] andrewdavidwong commented on #2287
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:28] andrewdavidwong commented on #2287
Actually, I see that @dephekt reports that this is happening on 4.0, and I'm also experiencing it on 4.0. Reopening.

[2020-11-25 12:28] andrewdavidwong commented on #3668
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:28] #3668 closed

[2020-11-25 12:28] andrewdavidwong commented on #980
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:28] #980 closed

[2020-11-25 12:28] andrewdavidwong commented on #2907
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:29] andrewdavidwong commented on #3482
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:29] #3482 closed

[2020-11-25 12:29] andrewdavidwong commented on #4236
`This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.`

[2020-11-25 12:29] #4236 closed

[2020-11-25 12:30] andrewdavidwong commented on #3636
Is anyone still affected by this bug?

[2020-11-25 12:31] andrewdavidwong commented on #4823
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:31] #4823 closed

[2020-11-25 12:31] andrewdavidwong commented on #4637
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:31] #4637 closed

[2020-11-25 12:31] andrewdavidwong commented on #4654
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:31] #4654 closed

[2020-11-25 12:31] andrewdavidwong commented on #2488
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

If anyone believes that this issue should be reopened, please let us know in a comment here.

[2020-11-25 12:31] #2488 closed

[2020-11-25 12:38] andrewdavidwong commented on #1117
This issue is being closed because:

 - This issue has the "Release 3.2 updates" milestone.
 - [Qubes OS 3.2 has reached end-of-life (EOL).](https://www.qubes-os.org/news/2019/03/28/qubes-3-2-has-reached-eol/)
 - This issue has not been updated in over a year.

**In addition,** this issue violates our guideline that [every issue must be about a single, actionable thing](https://www.qubes-os.org/do

[2020-11-25 12:38] #1117 closed

[2020-11-25 12:46] andrewdavidwong opened #6230 "Make default management VM hyperminimal and stateless"
**The problem you're addressing (if any)**

@DemiMarie in https://github.com/QubesOS/qubes-issues/issues/6186#issuecomment-732372655:

@andrewdavidwong in https://github.com/QubesOS/qubes-issues/issues/6186#issuecomment-732393663:

**Describe the solution you'd like**

@DemiMarie in https://github.com/QubesOS/qubes-issues/issues/6186#issuecomment-732414826:

@marmarek in https://github.com/QubesOS

[2020-11-25 12:46] andrewdavidwong commented on #6186
Sounds good. Branched to a new issue: #6230.

[2020-11-25 12:58] andrewdavidwong opened #6231 "Prompt to suggest generating HCL report after installation"
**The problem you're addressing (if any)**

After successfully installing Qubes, new users may be willing to give back to the community by generating and submitting an HCL report, but they may not know how to do so or be aware that this is even an option.

**Describe the solution you'd like**

Steve Coleman has [suggested](https://groups.google.com/d/msgid/qubes-users/CAJ5FDngZVhXiEEJR1u9aoW4LgSYA

[2020-11-25 13:03] andrewdavidwong commented on #6231
back which is easy even for novices who were just introduced to Qubes.

This is already done:

https://www.qubes-os.org/doc/contributing/

[2020-11-25 15:50] DemiMarie commented on #2907
This is still an issue

[2020-11-25 17:10] xaki23 opened #6232 "gnome-terminal not working on fedora-32 and fedora-33"
**Qubes OS version**
4.0

**Affected component(s) or functionality**
gnome-terminal

**Brief summary**

gnome-terminal is not starting in fedora-32 and fedora-33 based appvms more than half the time.
[code]

**How Reproducible**
not sure

**To Reproduce**
not sure

**Expected behavior**
working gnome-terminal

**Actual behavior**
no working gnome-terminal

**Screenshots**
none

**Additional contex

[2020-11-25 18:03] marmarek commented on #6232
Do you have anything added in `/rw/config/rc.local`?

[2020-11-25 18:18] tlaurion opened #6233 "usb proxy limits number of attached devices to 8"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
usb-proxy

**Brief summary**
Trying to attach more then 8 usb-devices to an AppVM doesn't seem possible.

**How Reproducible**
Attaching more then 8 USB drives triggers an error.

**To Reproduce**

Attach a ninth USB drive to an AppVM.

**Expected behavior**
No limit of USB devices should be enforced.

**Actual behavior**
Trigge

[2020-11-25 19:01] SaswatPadhi commented on #2670
I just discovered that there's `initial-setup` (and a whole bunch of its dependencies) installed as well, besides `initial-setup-gui`.

[2020-11-25 20:26] DemiMarie commented on #5372
Not being able to find a LUKS volume honestly looks like hard disk corruption.  Could this be due to a hardware failure?

[2020-11-25 20:38] lubellier opened #6234 "qubes-vm-pulseaudio dependency failed with new pulseaudio-14.0-1"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
functionality: ArchLinux TemplateVM update
component: qubes-vm-pulseaudio

**Brief summary**
On Archlinux templateVM OS update, I got an package dependency error related to pulseaudio

**How Reproducible**
From Qube Manager, update the Archlinux Template VM

**To Reproduce**
Steps to reproduce the behavior:
1. Open Qube Manager

[2020-11-25 20:47] lubellier commented on #6234
label:"C: Arch Linux"

[2020-11-25 21:08] DemiMarie commented on #5861
@marmarek The API provided by the oabe experiment is sufficient, but it has no chance of being upstreamed, as it allows the extension to execute arbitrary commands.  This contradicts one of the major goals of WebExtensions, which is to remove extensions from the trusted computing base.

The sanctioned way for a WebExtension to interact with native code is Native Messaging.  Native Messaging requir

[2020-11-25 21:14] marmarek commented on #6170
Based on the feedback regarding hardware compatibility (for example https://github.com/QubesOS/qubes-issues/issues/6211), we should add one more change to 4.0.4: updated kernel, to at least 5.4. This means we'll need 4.0.4-rc2.
I'll go and upload 5.4 kernel to current-testing for R4.0 and after about a week (unless major regression is detected) we can do 4.0.4-rc2.

@andrewdavidwong do you want po

[2020-11-25 21:27] marmarek commented on #5861
In case of dedicated qube for mails that should be fine, but I'm afraid it doesn't work for less strict compartmentalization, like generic "work" qube, where you may want to open some files locally.

What are the practical downsides of shipping an extension with oabe experiment included?

[2020-11-25 21:39] tasket commented on #6055
Should I ask....

Is there evidence that AMD devs are helping Xen Project support their new products?

[2020-11-25 21:40] DemiMarie commented on #5861
None per se, but we will need to rewrite the extension at some point in the future.

[2020-11-25 21:47] 0spinboson commented on #6055
yes, quite a bit. Though more so for the server products, for obvious reasons.

[2020-11-25 21:51] dylangerdaly commented on #6055
Another interesting thing I've noticed is when connected up to an external screen (4K), I'm hovering around 85C CPU temp, without the screen I'm around 45C.

I think the iGPU isn't configured correctly or I'm missing a x11 lib? Anyone else noticing this?

I think I misspoke here and was just stuttering because of my 4K display.

Yeah I can imagine Mobile CPU aren't really looked at.

[2020-11-25 23:40] lubellier commented on #5961
Validation of the issue:
`
[user@build-archlinux2 qubes-builder]$ make template
`
in build-logs/template-archlinux.log:
[code]
So the `ttf-bitstream-vera` package installed in replacement of `font-bitstream-speedo`.

I validate the solution and close this issue.

[2020-11-25 23:40] #5961 closed

[2020-11-26 02:02] #6177 closed

[2020-11-26 02:51] mvermaes commented on #3636
I'm not, but I haven't used the laptop that experienced the problem (or Qubes 3.2) since 4.0 was released.

[2020-11-26 11:02] na-- commented on #3636
I have experienced it recently on 4.0, last week I think, but I can't check right now since I have other issues when I put my laptop to sleep... :sweat_smile:

[2020-11-26 13:19] andrewdavidwong commented on #6170
Is this supposed to an announcement that there will be a 4.0.4-rc2, or just a request for people to test kernel 5.4 on R4.0, with the 4.0.4-rc2 announcement to come later? If this is an announcement that there will be a 4.0.4-rc2, I think we should announce it the normal way, or else people will be confused.

[2020-11-26 14:32] marmarek commented on #6170
This one. And the package is already in current-testing.

[2020-11-26 14:39] marmarek commented on #6233
What is a real world use case where you need more than 8 USB devices attached to a single VM?
This is a build-time limit of USB IP driver (`CONFIG_USBIP_VHCI_HC_PORTS`), which defaults to 8. We can increase it, but it will make the driver use (slightly) more memory for everybody, not only when assigning more devices.

[2020-11-26 15:23] tlaurion commented on #6233
@marmarek Well, in my personal use case, I use an AppVM to prepare sdcards, where a script detect the insertion of a new /dev/sda usb device and when assigned, just provision it with information related to a specific order.

The behavior changed recently (cannot tell when), since my USB3 hub (10 ports) cannot be used for more then 8 usb drives preparation at a time. sys-usb sees the device, but ca

[2020-11-26 15:58] marmarek commented on #6233
No, it was this way at least since 2014 (haven't checked earlier).

Yes, that will work. Alternatively you can use `qvm-block` instead (AFAIR the limit is higher there). Or simply connect at most 8 devices at once.

[2020-11-26 15:58] marmarek commented on #6233
Note the limit is 8 separately for USB2 and USB3. Maybe that's what worked for you before - some devices were USB2?

[2020-11-26 19:17] Mario0x1 commented on #6211
I assume i had the same issue. Attempted the solution from #6004 but didnt work on both 403 and latest  4.0.4-rc1. I got rid of the nouveau error but the tmp/x.log still showed no initialized monitors( not sure if correct term).

Now boots into the Installation GUI in the alpha.  Thanks!

Got an Ryzen 5 3700, an MSI B450 Tomahawk, GTX 1660S

I would be happy to test.  @marmarek

[2020-11-26 22:29] DemiMarie opened #6235 "Replace xkill with qvm-xkill in default keybindings"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

Ctrl-Shift-Esc shortcut (in the default configuration)

**Brief summary**

It runs `xkill` instead of `qvm-xkill`, so it doesn’t work on override redirect windows.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Open an override redirect window
2. Try to kill its VM’s GU

[2020-11-26 22:51] DemiMarie commented on #4705
My current plan:

- Add several options to `qubes-guid`:
    - `--override-redirect=disabled`: disable override redirect entirely
    - `--override-redirect=restricted`: override redirect windows cannot cover dom0 toolbar and must overlap a normal window; this will hopefully become the default.
    - `--override-redirect=transform`: transform override redirect windows into normal windows, and try

[2020-11-26 22:52] straussmaus opened #6236 "qrexec-daemon startup failed: Connection to the VM failed"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Qube based on a debian10 template.

**Brief summary**
When I start this VM, I get a popup with the error:

[code]

There is no information with this warning.

**How Reproducible**
Happens with this Qube, and not (yet) discovered on others.  I have recently restored from backup, and not tried this Qube since restore.

**To Repro

[2020-11-26 23:09] marmarek commented on #6236
Take a look `/var/log/xen/console/guest-<qube>.log`

[2020-11-26 23:27] #4324 closed

[2020-11-27 00:21] straussmaus commented on #6236
Thank you.  Here is some output ( tail -n 30 ) from that file:

[code]

[2020-11-27 00:38] marmarek commented on #6236
Do you see anything earlier about /sysroot failed mount? It should be xvda3 device.

[2020-11-27 00:46] straussmaus commented on #6236
Only:

[code]
Doing:

`less <qube>.log | grep 'xvda3'`

turns up no matches.

[2020-11-27 00:51] marmarek commented on #6236
Anything else about xvda? Partitions list at least?

[2020-11-27 00:53] straussmaus commented on #6236
[code]

[2020-11-27 00:54] straussmaus commented on #6236
That's everything that matches `less <qube>.log | grep 'xvda'

[2020-11-27 01:03] marmarek commented on #6236
Something is wrong with the root volume of that template, there should be:
[code]
Is any other qube on _this very template_ working? Can you start the template itself? Is template correctly set (check `qvm-prefs <qube> template`)? Maybe try changing to another template and back.

[2020-11-27 01:09] straussmaus commented on #6236
This qube is *based on* the debian10 template, but it doesn't use it because it's a based-on, or standalone.  So, no, there are no others that use the same base.  It was working before the backup and restoration.  Other qubes based on debian10 (also based-on, standalone) are working after the restore.

[2020-11-27 01:21] marmarek commented on #6236
Ah, standalone, ok. Did you get any errors about it during restore? You can also check if its disks were restored at all:
[code]
You should see positive numbers in "PRIV-CURR" and "ROOT-CURR". If any is 0, then it wasn't restored.

[2020-11-27 01:36] straussmaus commented on #6236
The restore said "Finished Successfully" which indicates no errors. (success != failure)

However, ROOT-CUR is 0.

The backup also gave a success message.

So perhaps the bug is in the messaging?  Saying successful when there are errors?

Could this be so, or is there another possible source for this error?

[2020-11-27 01:46] marmarek commented on #6236
Possibly, but in that case, you should get also some other message about issue during restore. Make sure also that you are looking at the right qube - if it existed before restoring, the restored one may have a different name (like `qube1`) depending on the options you've chosen - and also you'd get that info in restore summary just before confirming it.

[2020-11-27 01:51] straussmaus commented on #6236
I don't know what messaging happened during restore.  It's a 12 hour process to restore, and I come back the next day and if I see "FINISHED SUCCESSFULLY" I assume it was successful, because that's what it says.  I do not examine details of a "SUCCESSFUL" restore.

The Qube definitely did not exist before restoring because I restored onto a new installation of 4.0.3.

So here are my questions:

1

[2020-11-27 02:17] marmarek commented on #6236
I'd try to restore this particular qube again.

[2020-11-27 03:09] newts commented on #4658
Not the OP either, Qubes n00b with a ThinkPad (i7, not sure the model).  R4.0.   I found myself here searching how to fix it.

[2020-11-27 04:02] straussmaus commented on #6236
Okay the restore worked.  I wish it didn't because now I can't trust any restoration of Qubes until this is cleared up.

The restoration said "FINISHED SUCCESSFULLY" (or something like that) and yet, this problem required another restore.  That means that the first one didn't finish successfully.

I have about 70 Qubes that I back up and restore.  I can't check all of them shortly after every rest

[2020-11-27 04:22] marmarek commented on #6236
Ok, so clearly there is some issue with error reporting.
The most useful would be full output of that faulty restore, but I assume that isn't an option. Can you say something about this qube and or the backup archive? Was is large one? How long did it took to restore it on its own compared to the full restore (I try to estimate its position in the backup archive)? How big is the backup archive com

[2020-11-27 05:11] straussmaus commented on #6236
I'm glad you see that.  I am now very nervous to trust the restore and that leaves me in a bad position.

Is it in the logs somewhere?  I can dig for the part of it that pertains to this VM.  The VM names would be too private to share here so I can't give the whole dump.

Sure, ask.

The Qube is 2048 private and 10240 system, so not really.

I have no idea.  It takes 12+ hours to restore so I was

[2020-11-27 12:50] Mayt38 commented on #1908
Is this issue still somehow active ? I'm interested in giving it some time to try to understand how it could be done (and maybe create some kind of alpha proof of concept), so I wonder if there's existing work I can start with

[2020-11-27 14:59] andrewdavidwong commented on #6170
Done.

[2020-11-27 15:01] andrewdavidwong commented on #6233
If I understand correctly, it has been determined that this behavior is not a bug, so I'm closing this as "not an issue." If you believe this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2020-11-27 15:28] andrewdavidwong commented on #6236
For future reference, in Qubes terminology, "based on" means "based on a template," i.e., a VM that depends on a TemplateVM for its root filesystem, which is known as a [TemplateBasedVM](https://www.qubes-os.org/doc/glossary/#templatebasedvm). By contrast, a [StandaloneVM](https://www.qubes-os.org/doc/glossary/#standalonevm) is the opposite, namely a VM does *not* depend on any other VM for its ro

[2020-11-27 15:31] andrewdavidwong commented on #1908
No activity since the last comment you see here, but it's still open (not closed as "won't do," for example).

I'm not aware of any existing Qubes-specific work on this. You would probably be the one to start it.

[2020-11-27 15:56] marmarek commented on #6236
As for compression, personally I use `pigz` (via `qvm-backup --compress-filter`). It is massively faster, but also makes the laptop quite hot while making the backup.

[2020-11-27 16:41] 0rb677 opened #6237 "Qubes 4.1, bullseye template, qubes-contrib repo, missing "bullseye" component in qubes-contrib-r4.1.list"
**Qubes OS version**
4.1

**Affected component(s) or functionality**
qubes-template-debian-11

**Brief summary**
Malformed entry 2 in list file (component)  in `qubes-contrib-r4.1.list` repo

**To Reproduce**

Steps to reproduce the behavior:
sudo qubes-dom0-update --enablerepo=qubes-templates-itl-testing qubes-template-debian-11
qvm-copy debian-11 vpn-template
install `qubes-repo-contrib` on vpn-

[2020-11-27 23:32] Jeeppler commented on #1908
I was not aware of this issue, but I had a similar idea. For me the main reason using Guix would be the transactional package manager. Guix allows one to role back the packages to previous versions of packages. This could be very beneficial for a template VM and Dom0. Particularly, in cases where one breaks the system by installing a newer version of a package. With Guix it is as easy as rolling b

[2020-11-28 02:56] tlaurion commented on #6233
So basically, implied workaround is to duplicate sys-susb devices under devices tabs, so that hte required AppVM has exclusive access to desired USB controllers. And they have access directly to USB devices, since usb-proxy is limited to a maximum of 8 passed devices through usb proxy (device assignation from sys-usb to desired AppVM) prior of action.

Conclusion: QubesOS won't change usb proxy ma

[2020-11-28 02:58] straussmaus commented on #6236
@andrewdavidwong

Thank you for the correction.

Given the size, and the media (HDD) and medium (USB 2.0) I think it's reasonable. I don't think we should look here for the source of the problem.

Funny, I never noticed the compression checkbox until just now when I read this, and looked for it.  I did not know any compression was being used, and I don't see any value to compressed backups, and I

[2020-11-28 03:24] DemiMarie commented on #6236
I wonder if some part of our backups use 32-bit length fields.

[2020-11-28 03:25] DemiMarie commented on #6233
`CONFIG_USBIP_VHCI_HC_PORTS` seems rather silly.  Why can’t that data structure be allocated on the kernel heap?

In any case, I would support bumping it to 64 or thereabouts.

[2020-11-28 03:37] tlaurion commented on #6233
Possible that I used x230 yellow port (USB2) instead of blue ports (USB3), while doubtful.

[2020-11-28 03:42] marmarek commented on #6236
I don't think so ([here](https://www.qubes-os.org/doc/backup-emergency-restore-v4/) you can find more about the format). If that would be the case, restoring again wouldn't help.

What I think has happened, was running out of disk space during restore. Similar to https://github.com/QubesOS/qubes-issues/issues/5478. The issue of running out of disk space is improved in R4.1 already. But apparently

[2020-11-28 04:00] marmarek commented on #6233
Feel free to suggest that to the USB IP maintainers...

Anyway, if I'm not mistaken, we're talking about 432 bytes per port. We can easily make that 64.

BTW I wonder how much sense makes using such hubs performance-wise. After all, all those devices are connected to a single USB3.0 port, which - with 10 devices - gives you ~62MB/s per device top (at USB level, much less on the block transfer leve

[2020-11-28 04:04] marmarek commented on #6233
Some more, as there are at least sysfs-visible structures. Still, I don't think more than 1kb per port.

[2020-11-28 05:31] tlaurion commented on #6233
@marmarek agreed that speed is lowered a bit (sdcard are not that fast) but gained by total unattended time gained by doing a lot at the same time.

[2020-11-28 05:55] DemiMarie commented on #2845
The bug is indeed in `Xutf8TextListToTextProperty`, and the only workaround I can find is to use `XStringListToTextProperty` instead.  That means that we will need to check for UTF-8 validity ourselves, to avoid invoking undefined behavior and creating a security vulnerability.

Since the clipboard often contains sensitive data such as passwords, a constant-time check is strongly preferred.  Anyon

[2020-11-28 07:28] dud1337 commented on #6004
Confirmed with GTX 2070S Qubes 4.0.3

[2020-11-28 10:39] kalkin opened #6238 "qubes-builder fails to resolve yum.qubes-os.org"
**Qubes OS version**
`R4.0`

**Affected component(s) or functionality**
`qubes-builder`

**Brief summary**
When using qubes-builder with `USE_QUBES_REPO_VERSION` variable set in `builder.conf` `make COMPONENT` fails during executing `dnf update`. `dnf` complains that it can not resolve `yum.qubes-os.org` host.

**How Reproducible**

**To Reproduce**

Steps to reproduce the behavior:
1. Add the fol

[2020-11-28 10:40] kalkin commented on #6238
May be relevant #1820

[2020-11-28 12:07] marmarek commented on #2845
Is it really observable by potential attacker? I think it can be observed only by:
 - another application running in the same qube - already having access to the clipboard
 - the user (latency of clipboard operation)
Especially, I think nothing that could observe that time, wouldn't also have access to the clipboard directly anyway, so I don't think constant-time check is important here.

[2020-11-28 12:09] marmarek commented on #2845
As for UTF-8 validation, we already have such code in gui-daemon: https://github.com/QubesOS/qubes-gui-daemon/blob/master/gui-daemon/xside.c#L1994-L2077

[2020-11-28 15:17] KnightWhoSaysNeeeowWumPing commented on #6171
The reinstall seemed to fix the problem regarding libgfortran.
Nevertheless executing `qubes-vm-settings personal` got me another error this time:
[code]

So I tried the requested steps for libquadmath too by executing:
1. `rpm -q libquadmath` which returned `libquadmath-6.4.1-1.qubes2.fc25.x86_64`
2. `rpm -V libquadmath` which returned
[code]
3. `sudo qubes-dom0-update --action=reinstall libquadm

[2020-11-28 15:17] #6171 closed

[2020-11-28 15:50] lubellier opened #6239 "ArchLinux update with Qubes Updater"
**The problem you're addressing (if any)**
Presently the Qubes Updater tool doesn't detect and doesn't update ArchLinux templateVMs.

**Describe the solution you'd like**
I wish that Qubes Updater detects the ArchLinux updates and update the ArchLinux Qubes, as it's already work for Fedora and Debian Qubes.

**Where is the value to a user, and who might that user be?**
OS updates are very importan

[2020-11-28 19:34] DemiMarie commented on #2845
The latency isn’t observable, but the cache impact is.

[2020-11-28 19:41] DemiMarie commented on #2845
I will move this into a library routine so the agent can use it as well.

I checked to see if dom0 validates UTF-8 already; it does not.  However, I did find a different bug: strings containing NUL characters are truncated.  The X `STRING` target can support arbitrary binary data.

[2020-11-28 19:42] lubellier commented on #6239
## How does it work?
- 5mn after the boot, the _qubes-update-check_ systemd timer launches the _qubes-update-check_ systemd service
- this service launches `/usr/lib/qubes/upgrades-status-notify` which
  + checks if updates are available (OS specific: see `/usr/lib/qubes/upgrades-installed-check`)
  + notifies the _Qubes Updater_ tool if an update is available or not
- In the _Qubes Updater_ tool,

[2020-11-28 19:48] andrewdavidwong commented on #6236
Of course. I wasn't suggesting that large backups being unreliable isn't a problem. Rather, I was pointing out that it's been a known problem for a long time and providing some temporary workarounds, given the reality that the underlying cause of large backup unreliability has remain undiscovered for a long time and is therefore unlikely to be fixed immediately (though not for lack of trying).

No

[2020-11-28 19:49] DemiMarie commented on #6239
The Qubes updater uses SaltStack to update VMs, not `qubes.InstallUpdatesGUI`.

[2020-11-28 19:55] andrewdavidwong commented on #6233
No, **if** the Qubes developers determine that it's not a bug, then `won't fix` wouldn't apply, because there would be no bug to be fixed (or not to be fixed).

However, it now looks like this determination has changed. Difficult to tell whether it's now an enhancement.

[2020-11-28 19:57] andrewdavidwong commented on #6238
You're sure that this isn't just a temporary network problem?

[2020-11-28 20:07] fepitre commented on #6238
A least I cannot reproduce it and not even our CI too. I'm having such issues very rarely and this is network/clock issue. Take a look to your `sys-net` (or your prefered `ClockVM`) and check it's dot de-synced with dom0.

[2020-11-28 20:22] andrewdavidwong commented on #6170
Some feedback is starting to come in: https://groups.google.com/g/qubes-users/c/Sq-aADslplk/

[2020-11-28 20:31] fepitre commented on #6237
Fix on the road :)

[2020-11-28 23:05] tk-47 opened #6240 "Qubes Attachments is incompatible with Thunderbird 78.5.0"
**Qubes OS version**

Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**

The Qubes Attachments default-add on in Thunderbird 78.5.0 is inoperable.

**Brief summary**

Qubes Attachments (disabled)
Qubes actions for attachments like "Open in DVM" or "Send to VM"
Qubes Attachments is incompatible with Thunderbird 78.5.0.
Author
Marek Marczykowski@Invisible Things Lab
Version
2.0.5

[2020-11-28 23:05] evadogstar commented on #953
Look like it is possible to change scrot in my tool to maim.
https://github.com/naelstrof/maim

I can do that at next version, but... not sure now.
1) is it available at fedora 33? It is on fedora 32.
2) I can't test it, because I'm on old Qubes...

And there is already 0.8 version on my repo of qvm-screenshot-tool

[2020-11-29 00:57] DemiMarie commented on #6240
Duplicate of #5861.  The short version is that this is a known problem, but fixing it in a maintainable way will likely require collaboration with Mozilla.

[2020-11-29 00:57] #6240 closed

[2020-11-29 03:06] straussmaus commented on #6236
@marmarek

I have the same feeling, but the question remains: how can I check which of the qubes on my current backup are good and which are not, without going through them all in detail (which would take days or weeks)?

@andrewdavidwong

Thank you for offering a solution but it is not a solution to this problem.  This problem is that the integrity of the existing backup archive can not be verifi

[2020-11-29 04:25] DemiMarie commented on #6236
What I suspect is that the backups are all in fact good, but that the restore failed because there was not enough free disk space.

One way to test this theory is to install more storage into your system.  If the backup then succeeds, then lack of disk space was the problem.  I have no idea how much disk space is needed, however.

Another approach is to restore qubes a few at a time, rather than i

[2020-11-29 04:57] straussmaus commented on #6236
@DemiMarie

Thank you for your suggestions.  But.

I suspect this also.  But before I risk all of my data in what could be a life changing mistake, I would like to be sure.

How would this help me test?  You recall that I did not see any errors when I did the restore on the current system.  And you see that it is not practical to check the integrity of each of the qubes individually.  So even if i

[2020-11-29 10:25] fepitre commented on #953
Don't worry about version. Just do the modification code into a separate branch. Test and validate from your side and open a PR into `https://github.com/QubesOS-contrib/qubes-qvm-screenshot-tool`.

[2020-11-29 10:59] kalkin commented on #6238
Yes.

Not sure what you mean by the *dot*, but I tried the following:
- Running `sudo qvm-sync-clock` in the `dom0`
- Installing latest updates for `dom0` and `fedora-32` template
- Restarting all vms
- Restarting the os

The strangest thing is that it *only* fails to resolve in a chroot/mock environment (i tried both).

[2020-11-29 11:14] fepitre commented on #6238
Sorry it was a typo. I've corrected to "not".

Interesting, any custom `resolv.conf` or such?

[2020-11-29 11:46] kalkin commented on #6238
@fepitre
No.
[code]

Like i said outside of chroot it works:
[code]

I'm completely puzzled.

[2020-11-29 12:36] AlxHnr opened #6241 "Mention OpenGL's software fallback (llvmpipe) in FAQ, which is good enough for basic games and gamedev"
**The problem you're addressing (if any)**

The documentation implies there is no OpenGL support at all. This is misleading and may put off people with basic needs (homework, game jams). AppVMs default to llvmpipe, which is a full-blown software implementation supporting shaders and more. It is definitely good enough for 2D games and simple 3D demos on systems with enough cores.

**Describe the so

[2020-11-29 13:51] evadogstar commented on #953
@fepitre please test it, will works only with maim
https://github.com/evadogstar/qvm-screenshot-tool/blob/Qubes4.1/qvm-screenshot-tool.sh

[2020-11-29 14:29] fepitre commented on #953
@evadogstar I've tested to screenshot a portion of window and sent it to appvm. It works. If I understand, `maim` is not available for Fedora 25? If not, I would need to create a branch on `QubesOS-contrib` repository. Do you mind to create a PR please?

[2020-11-29 14:54] unman commented on #6236
On Sat, Nov 28, 2020 at 08:58:09PM -0800, straussmaus wrote:

There's a level of hyperbole here that's unwarranted.
If the backup is good, then there is no risk to your data.
If the backup is bad, then the tests you have been invited to do will
make no difference.

I think you *are* missing something.
You are focussed on the absence of error reporting.
Andrew and DemiMarie are focussed on the issu

[2020-11-29 16:54] evadogstar commented on #953
@fepitre About Fedora 25 and maim, look like yes, it's not available...

It is possible to integrate everything (scrot and maim) into one release. But don't think that it's a good idea. Better if previous <R4.0 Qubes users will use current scrot version 0.7/0.8 that works and new users will be on new maim version. Don't think that it request other branch... @marmarek

p.s. The code of the tool als

[2020-11-29 18:31] fepitre commented on #953
I think we are going to do a little wrapper or something to check which one to use. It's better than doing branches and pretty easy even from package point of view. Don't worry about PR, I'll cherry pick your commits and finish the rest.

[2020-11-29 18:36] evadogstar commented on #953
@fepitre thanks. When I will be on R4.1 I will look on the code again and maybe add some more features. Looks like maim have some new interesting things. Also we really need some basic editor, because current IM tool that I use to make captions is hard. So, any other light editor at dom0 will be a thing.

[2020-11-29 19:03] lucaszanella commented on #5165
@bakchus can you give more details? How to do these things on the USB stick and then dd the qubes iso image?

Hello @mu2718? How did you do?

[2020-11-29 19:11] andrewdavidwong commented on #6241
In case you (or any others reading this) are not already aware, the documentation is a community effort, and everyone is welcome to contribute. (That's how things like this get updated!) So, if you'd like to get involved with the project, this is a great way to do it. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/doc-guidelines/

[2020-11-29 19:24] lucaszanella commented on #5165
neverdmind, I sucessfully created the partition as said and with the right size but the same error persisted

[2020-11-29 20:51] 0rb677 commented on #6237
@fepitre thanks! :)

[2020-11-29 21:54] #6228 closed

[2020-11-29 22:22] tslilc commented on #4986
I hope this is not an inappropriate place to ask, but where are these safeguards implemented so that i might have a go at understanding the current implementation?

[2020-11-30 01:19] DemiMarie opened #6242 "Privilege escalation vulnerability in Arch templates"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`builder-archlinux`

**Brief summary**

`/etc/pacman.d/gnupg/private-keys-v1.d` is non-empty in Arch templates.  The keys within it can be used to sign packages that Pacman will trust.  This allows any Arch Linux AppVM or DispVM to compromise its template.

To exploit this vulnerability, an attacker needs

[2020-11-30 01:21] DemiMarie commented on #5929
As an example of what @marmarek mentioned: #6242 would have received a QSB if Arch had been officially supported.

[2020-11-30 02:27] newts commented on #4658
Spent a day or two trying to find a work around or any more information.  sys-net doesn't die (and I can't restart it even because other vm's use it) but the wifi never comes back after sleep.  Have to reboot.  Disabling and enabling the wifi with the function key doesn't help either.   Thinkpad i7 model 20cjs0hc00.

[2020-11-30 03:40] DemiMarie commented on #4658
@newts You can use `qvm-shutdown --force` to skip the “Are there connected VMs?” check.  This should probably be exposed via Qubes Manager.

[2020-11-30 04:03] ejose19 commented on #6242
Thanks for the detailed report, another mitigation would be using something like this on ```/rw/config/rc.local``` for the template?:

[code]

Also, what about mounting that directory to a path that is not shared with the AppVMs like ```/rw/home```, ```/rw/usrlocal``` or a new folder there? should be better than recreating a key on each template start.

[2020-11-30 04:20] icequbes1 commented on #6239
@DemiMarie Perhaps there is a terminology difference -

- There is the Qubes Updater (`qubes-update-gui`); this uses `qubesctl`/SaltStack
- There is also the "Update qube" function from the Qubes Manager. I believe this is what @lubellier refers to. This does use `qubes.InstallUpdatesGui`, which is just a short way to start a template and run the appropriate package manager command

[2020-11-30 04:46] icequbes1 commented on #6234
FWIW you can symlink 14.0 to 13.99.3 headers and modify the dependency to be `<14.1`. A test build with this workaround worked in terms of "I hear something when playing a youtube video". You can also just

I'm not sure how the Qubes OS team wants to handle this though...are we going to have open a new issue every time Arch updates PulseAudio?

[2020-11-30 04:48] icequbes1 commented on #6172
Closing this as it was resolved, and is now succeeded by #6234.

[2020-11-30 04:48] #6172 closed

[2020-11-30 04:54] DemiMarie commented on #6242
Pacman doesn’t actually need the keys to be persistent.  It only needs them when the set of root trusted keys change, which is extremely rare.  If it doesn’t have a secret key to use, signing the trusted keys will fail, but that is harmless.

Mounting the keys in `/rw` or similar is a bad idea because users might (quite reasonably) assume that the contents of a TemplateVM private volume do not con

[2020-11-30 05:58] DemiMarie opened #6243 "mgmt-salt commit 0f25aea482ea27e15ac7568aa7b9d3a9d9df1be9 has no signed tag"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`qubes-builder`

**Brief summary**

https://github.com/QubesOS/qubes-mgmt-salt/commit/0f25aea482ea27e15ac7568aa7b9d3a9d9df1be9 doesn’t have a tag pointing at it, although the commit itself is signed.  This causes qubes-builder to complain.

The commit itself is signed by @marmarek’s key, so there is no se

[2020-11-30 06:29] straussmaus commented on #6236
You don't believe that our belief that the problem is (likely) from the archive being within 95% of the disk capacity has been demonstrated?  Have you read the thread?

From @DemiMarie:

From @marmarek:

From me:

If you *actually* mean that it has not yet been demonstrated that disk capacity was actually the cause of the problem, I agree.  No one said it was (see above).  That is precisely the qu

[2020-11-30 07:14] DemiMarie commented on #6236
What happens if you use the “Verify backup integrity, do not restore the data” option?  If there is a problem in the backup, this should detect it.  The actual backup is cryptographically authenticated using your secret passphrase, so the likelihood that corruption will not be detected is negligible.

This helps us (the Qubes developers) determine how likely the system was to run out of disk space

[2020-11-30 07:20] DemiMarie commented on #6236
@marmarek: what if we did the following on a test machine that holds no data?

- Create two qubes, each of which use almost half of the available storage space.
- Back up both qubes.
- Erase both qubes.
- Try to restore the backup.

If my intuition is correct, this should result in a broken restore.

[2020-11-30 07:23] DemiMarie commented on #6236
@straussmaus: if you could try to restore some of your largest qubes, without overwriting the existing ones, that would be greatly appreciated.  Please only do this if you can do so without losing any data.

[2020-11-30 08:26] fepitre commented on #6243
Yes that's why CI is also broken. I've noticed @marmarek. Waiting for him to sign :)

[2020-11-30 08:53] mkfifos opened #6244 "DNScrypt support"
**The problem you're addressing (if any)**
DNS resolving via DNScrypt.

**Describe the solution you'd like**
Run DNScrypt-proxy in firewall-vm and forward DNS-requests to that service.

**Where is the value to a user, and who might that user be?**
DNScrypt is a fast and reliable solution to encrypt and authenticate DNS traffic. Actually I would expect every operating system to protect DNS traffic.

[2020-11-30 09:57] fepitre commented on #953
Does anyone can test this please: https://github.com/QubesOS-contrib/qubes-qvm-screenshot-tool/pull/1. I've refactored a little bit and tested it briefly under 4.1 between two cups of coffee.

[2020-11-30 10:25] evadogstar commented on #953
@fepitre Is the code on the link still based on 0.7 version? Or you add everything from next version that I provide above or you only get maim args? By everything in new version I mean 1) imgurl logs 2) link to delete uploaded pics to each url in log 3) some bug fixes
It's a lot of improvements + now if it's not my last version I can not maintain it

[2020-11-30 10:33] fepitre commented on #953
@evadogstar version is bumped after merge of new features/fixes. Current PR is only for fixing `scrot/maim` handling. We are going to bump to something like 0.7.1. When you will have done your new features/major changes we will bump it to probably 1.X. Don't worry about version, you can add features etc in separate branches and we take care of version. Also I would recommend you to sync your maste

[2020-11-30 10:38] evadogstar commented on #953
@fepitre Yes, I think about the same to sync my current version from contrib version, but now conrtib version lose described above features. So after sync I will lose them and need to start again from integration. Ok, no problem. Time will show what to do later.
p.s. imgurl log and opportunity to delete screenshots is the deal, btw

[2020-11-30 10:49] fepitre commented on #2469
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA256

Validated https://github.com/rustybird/qubes-app-split-browser/commit/d4ba6b2faa021925fe45c60b4b47768599570d53
-----BEGIN PGP SIGNATURE-----

iQIzBAEBCAAdFiEEn6ZLkvlecGvyjiymSEAQtc3FduIFAl/EzjUACgkQSEAQtc3F
duJ/uhAAp4m1vaTrAHIXlWMCJaVaw4akP8CNIgrU+ZctSriN8ePgbe3rKhzfN5BL
FX3NQ0QlSm9TMNEVMb1uWKlRm77FGmIcboBAmS2nqx8oehGQVLELxFmDPL+qNxAv
T6lKt8VWikVsM0

[2020-11-30 11:42] iamahuman commented on #6236
I strongly believe "verify backup" option won't do anything--at least the last time when I checked the source code, it didn't do anything the full restore doesn't do (e.g. comparing uncompressed backup with current data bit-for-bit). Please correct me if I'm wrong though, I didn't thoroughly looked into it anyway.

Assuming the silent backup failure was not caused by a hardware error, I think the

[2020-11-30 11:51] unman commented on #6236
On Sun, Nov 29, 2020 at 10:29:23PM -0800, straussmaus wrote:

I would say exactly the same to you in person.

Thought experiments aren't much use here.
We need real data to work with, and again you haven't provided it.
The log does rotate - if you look in the /var/log/qubes directory you
should find the rotated logs under qubes.log-DATE

A useful (real) experiment would be to use a much smaller di

[2020-11-30 11:52] unman commented on #6236
On Sun, Nov 29, 2020 at 11:21:06PM -0800, Demi Marie Obenour wrote:

Yes

[2020-11-30 11:59] h01ger commented on #5940
On Sun, Nov 01, 2020 at 05:38:20AM -0800, Frédéric Pierret wrote:

I've come to think that libsolv actually is right here and that the root
of the problem is Debian's rpm package using ~/.rpm for the RPM database
instead of /var/lib/rpm as on Fedora. I dunno why this is the case but I
suppose it should be changed.

That said, didn't Mike accept the patch for libsolv so that for now we can
move on?

[2020-11-30 12:36] mu2718 commented on #5165
Make sure to chose a USB thumb drive smaller or equal to 8GB. Then it
worked with  'dd' imaging the iso to the block device. Cheers

Lucas Zanela <notifications@github.com> schrieb am So., 29. Nov. 2020,
20:24:

[2020-11-30 12:39] fepitre commented on #5940
Yes indeed, the main issue here is the choice of Debian to use home directory for RPM database. That will also always generate supplementary work to sync and update with upstream.

We are good and synced with Mike. He has merged the MR few weeks ago already. From our side, I've finished yesterday to update to latest versions related packages and `DNF` and also they are all reproducible! Waiting fo

[2020-11-30 13:09] h01ger commented on #5940
On Mon, Nov 30, 2020 at 04:39:36AM -0800, Frédéric Pierret wrote:

yes, but things dont have to stay this way. because a.) always and b.) because
src:rpm is being requested to be adopted, see #923352 - https://bugs.debian.org/923352

great to hear & kudos!

neato.

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁       holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀ PGP fingerprint: B8BF 5413 7B0

[2020-11-30 14:12] Kreyren opened #6245 "R4.1(x86_64) crashes when attaching VGA through GUI/CLI"
This issue affects PCI bridging, GUI and sanitization of CLI commands.

### Steps to reproduce
1. Create any VM container with HVM/PV on a system with iGPU and dGPU
2. Attach dGPU to that container through:
  2.a) GUI
  2.b) CLI e.g. using `qvm-pci attach targetVM sourceVM:[BDF] --persistent`
3. System will unexpectedly halt instead of assigning the PCI device to the Qube.

### Hardware
OS: Qubes

[2020-11-30 14:30] marmarek commented on #6245
Make sure that device is not in use in dom0. One way to do that is to hide it from dom0 at boot - at `rd.qubes.hide_pci=[BDF]` to the dom0 kernel cmdline (for example in `/etc/default/grub` and then regenerate grub.cfg).

[2020-11-30 15:05] rustybird commented on #2469
Thank you @fepitre!

Someone posted a [bounty](https://www.bountysource.com/issues/39673746-contribution-qubes-split-browser) on this issue three years ago, when it was titled "_Integrate_ Rustybird's qubes-split-browser". Feel free to collect it.

[2020-11-30 15:25] fepitre commented on #2469
You are welcome. You can check current built packages here: https://github.com/QubesOS-contrib/updates-status/issues

I would let @marmarek @andrewdavidwong manage this.

[2020-11-30 16:18] Kreyren commented on #6245
Elaborate how? In `gvm-pci` it's not in the `USED BY` collum, but `dom0` prefixes the PCI identifier -> used by dom0?

Trying adding `rd.qubes.hide_pci=01_00.0` in grub..

[2020-11-30 16:26] iamahuman commented on #6236
Also https://www.qubes-os.org/doc/backup-emergency-restore-v4/ might help.

[2020-11-30 17:19] Kreyren commented on #6245
Adding `rd.qubes.hide_pci=01_00.0` in `/etc/default/grub:GRUB_CMDLINE_LINUX` (https://gist.github.com/Kreyren/b612d173100a82c864ff593f7b12d457) and running `grub2-mkconfig -o /boot/grub2/grub.cfg` to generate file (https://gist.github.com/Kreyren/67ec23f7c52938057432cf30f3746153).

Does not affect the issue -> QubesOS still crashes on assigning it and `DRI_PRIME=1 glxinfo | grep "OpenGL renderer"`

[2020-11-30 17:50] Kreyren commented on #6245
Using `rd.qubes.hide_pci=01:00.0` allows me to assign PCI device to the desired VM so i assume that this is a pebcak.

Proposing:
- `qvm-pci` to return `01:00.0` instead of `01_00.0` to avoid similar confusion
- Adding a check that would avoid QubesOS from assigning a device that is being used by dom0 to avoid crash.
- Update docs to include this procedure (will be happy to do assuming that this i

[2020-11-30 19:59] lucaszanella commented on #5165
@mu2718 did it but didn't fix the problem for me. Made sure to dd to /dev/...1 not /dev/... but still got the same problem.

[2020-11-30 20:01] jroimartin commented on #3727
I'm using Qubes 4.0.3 with XFCE4 and I have also started experiencing random screen locks. Specifically, in my case this was happening while reading long documents where I was basically scrolling up and down with the mouse wheel (using a trackpad). So, I started doing some basic tests to understand under what conditions this was happening.

The first thing I did was discarding the problem related

[2020-11-30 21:01] Kixunil commented on #3727
@jroimartin that sounds like a good analysis to me! I noticed this happening when scrolling through long articles but never thought why would I notice it more in those cases. I thought it's just my perception. So I guess you're on the right track here.

[2020-11-30 21:09] DemiMarie commented on #6243
Fixed.

[2020-11-30 21:09] #6243 closed

[2020-11-30 21:51] ninavizz commented on #1917
The most important thing with a screenlocker wrt usability, is that it not make an impression with the user that it's malware. In the context of Qubes, this is important. One of my first impressions of Qubes, was that the xscreen lock looks like malware. I even approached it's developer dude about changing that, but he finds that aesthetic to be charming so told me to eff-off (literally—yep, Jamie

[2020-11-30 22:40] lubellier commented on #6239
After the @icequbes1 remark, should I push my `qubes.InstallUpdatesGui` change (viewable in the PR comment)?

Any entry point for fixing (if needed) SaltStack? I'm not yet skilled with Salt...

[2020-11-30 23:56] lubellier commented on #6239
I found the [SaltStack documentation](https://www.qubes-os.org/doc/salt/), I'll try to understand the eventually changes required for this issue.

[2020-12-01 01:21] unman commented on #6239
On Mon, Nov 30, 2020 at 03:56:19PM -0800, Ludovic Bellier wrote:

The Qubes update using salt uses pkg.uptodate which covers Arch, as well
as Debian and Fedora package managers.
I cant speak to the updater, because I don't have my qubes checking for
updates, but pkg.uptodate certainly works for updates of Arch
templates. I'm surprised that the gui tool doesn't work: changes
required should be mini

[2020-12-01 04:35] icequbes1 commented on #6239
@lubellier Yes, because as long as there is a 'Update qube' from Qubes Manager, it is broken for Arch. I cannot say if this functionality is a leftover/forgotten remnant, but it does provide a 1-click solution for users if updates via Salt are broken (which did happen recently).

As for updates via SaltStack, I don't believe there is anything more to do. The only thing that is broken for Arch is n

[2020-12-01 05:29] dylangerdaly commented on #6055
@tasket have you noticed when charging, it's idling ~75C compared to a cool ~45C on battery?

Not sure if it's a power management bug or if it's something physical.

[2020-12-01 05:39] #6163 closed

[2020-12-01 06:06] #6242 closed

[2020-12-01 09:22] 0spinboson commented on #6055
sounds like the fan only comes on when it needs to on battery, versus more easily on AC

[2020-12-01 12:00] #5491 closed

[2020-12-01 12:00] #3576 closed

[2020-12-01 12:03] heinrich-ulbricht commented on #6032
I figured out this has nothing to do with added SSDs but has all to do with my AppVM getting bigger and bigger, now nearing 900 GB. The more data the longer the boot process.

For now I work around this by excluding the disk from being auto-mounted via the crypttab _noauto_ option. This makes startup fast again. After logging in I mount the disk with some seconds delay. Which is ok for me since th

[2020-12-01 12:53] chrissyn commented on #3408
I ran into this issue on 4.1 while installing the kali template. Using `--clean` does not work for me.

[2020-12-01 13:14] Rudd-O opened #6246 "[Contribution] qubes-network-server"
**The problem you're addressing (if any)**

Tracking networking changes in Qubes OS is difficult from the perspective of maintaining Qubes network server.  Every time there is a minor (not micro, minor) release, Qubes network server breaks, because Qubes network server needs to "un-do" or modify certain protection mechanisms that were added since the past release.

**Describe the solution you'd li

[2020-12-01 15:25] brendanhoar commented on #3408
Perhaps when installing Qubes the sys-firewall volume sizes should be adjusted to reduce/eliminate this issue for most users. For the default of LVM this doesn’t really take up more room unless the user utilizes it.

[2020-12-01 15:41] 3hhh commented on #1917
If malware had a particular look, the job of AV vendors would be terribly easy.

Security-wise that's an anti-feature as it opens up simple shoulder-surfing attacks.

I think you want something more visually appealing. `physlock` won't do that - it looks like a Ctrl-Alt-F1 tty logon.

Anyway if you want something visually appealing you'll need the X server for lovely graphics etc. As described abo

[2020-12-01 15:47] DemiMarie commented on #1917
Another idea I had is for the screenlocker to be the display manager itself, and to use `PRCTL_SET_DEATHSIG` so that if the screenlocker crashes for any reason, X dies with SIGKILL.

[2020-12-01 15:52] 3hhh commented on #1917
So a non-X-screensaver. ;-)

But yes, it's an option. X server restarts aren't too good for user experience neither though. I'm not sure whether physlock causes less X restarts though (mine dies every now and then and especially after physlock, but it may be related to awesome).

Essentially there doesn't seem to be a perfect solution which ticks all boxes wrt security, usability and visual appeal

[2020-12-01 16:20] Rudd-O commented on #5088
Yes.  It's ported.  Let me take a look at those PRs.

[2020-12-01 16:39] Rudd-O commented on #5088
I've signed `master` and pushed the signed commit.

I am ready to get this reviewed.  Thanks.

[2020-12-01 16:40] DemiMarie commented on #1917
Actually, there is: we can switch to Wayland.  That brings all sorts of improvements, but is also a lot of work.

[2020-12-01 18:11] jpouellet commented on #1917
On Mon, Nov 30, 2020 at 1:51 PM Nina Eleanor Alter <notifications@github.com>
wrote:

On the contrary, I suspect that many Qubes users believe the most important
thing with a screenlocker, is that it actually, you know, *lock your
screen*, and do so in the most safe, reliable, and
least-likely-to-be-bypassed manner. After all, these properties are
directly security relevant, whereas appearance of

[2020-12-01 19:09] DemiMarie commented on #1917
So one idea I had is:

- Have the screenlocker run as the *parent* of the X server.
- The screenlocker uses ptrace on the X server with `PTRACE_O_EXITKILL` set.
- The screenlocker receives the “I need to lock the screen” command over IPC, such as D-Bus.
- If the screenlocker fails to lock the screen, or if an internal error occurs, it exits.
- If the screenlocker exits, the Linux kernel immediatel

[2020-12-01 20:08] ninavizz commented on #1917
Pretty is not the goal. Inconsistent graphics and fatalistic metaphors (a wall on fire), are.
In 16 years of doing user research and design, this has consistently been an observation in users.

Malware does have an archetypical aesthetic in the mind of users; anything that seems inconsistent or out of place, does... which is why consistency in execution and design is so important. Same, with fatal

[2020-12-01 20:40] na-- commented on #1917
FWIW, I am someone who, if given a simple choice between security and UX, would prefer security 99% of the time. But one reason I muddled with light-locker for a long while (https://github.com/QubesOS/qubes-issues/issues/1917#issuecomment-658658466) was because xscreensaver has _terrible_ UX.

The biggest issue I have with it happens because I have 2 different keyboard layouts configured, my lapto

[2020-12-01 20:49] rustybird commented on #1917
That's an interesting twist for the classic scenario "I accidentally pressed the `Q` button (Applications Menu) while lowering the notebook lid, so the screensaver couldn't engage": Now it fails closed, but paranoid users are going to have a heart attack when they come back and it looks like someone tampered with their screensaver...

Also, is the X server really killed _immediately_? If an attack

[2020-12-01 21:23] lubellier commented on #6239
@unman : yes it's minor, see the PR last commit.

thanks @icequbes1 for the explanations, I pushed my last commit.

I request a Peer Review or remarks for my PR.

[2020-12-01 22:33] andrewdavidwong commented on #6244
Hm, this looks like a feature request for DNScrypt to be an option in Qubes rather than an actual package contribution.

[2020-12-01 22:35] andrewdavidwong commented on #2469
I'm not in a position to collect money on behalf of the project (no access to deposit accounts or anything), so I'll leave this to @MiCh and @marmarek. Let me know if I can do anything to help.

[2020-12-01 22:36] andrewdavidwong commented on #2469
@fepitre, so what's the next step here?

[2020-12-01 22:44] andrewdavidwong commented on #6236
Out of curiosity, why is that? I have no reason to doubt you, and the reason is probably obvious to many others, just not to me. I'm asking only out of curiosity and for my own edification.

[2020-12-01 22:58] andrewdavidwong commented on #6246
Duplicate of #5088

[2020-12-01 22:58] andrewdavidwong commented on #6246
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-12-01 22:58] #6246 closed

[2020-12-01 22:59] andrewdavidwong commented on #5088
Assigning to @fepitre for review. Please feel free to reassign as appropriate.

[2020-12-02 00:12] unman commented on #6236
On Tue, Dec 01, 2020 at 02:44:37PM -0800, Andrew David Wong wrote:

It's testing the hypothesis that the issue lies with restoring data
which occupies a large portion of the disk. It was said that the data
was less than 1TB, and the archive within 95% of the disk capacity.
The proposed experiment will create an example that fits the latter
condition.

[2020-12-02 00:37] DemiMarie commented on #1917
@rustybird “immediately” as in “cannot make any more system calls”.

[2020-12-02 00:55] #6237 closed

[2020-12-02 00:58] unman commented on #6236
Is there any significance in the "95% of disk capacity", and what does
this mean?

What size is the disk??
What size is the root partition?
What size is the archive?
What does the disk space widget report after full restore?

[2020-12-02 01:01] h01ger commented on #1917
On Tue, Dec 01, 2020 at 10:11:56AM -0800, Jean-Philippe Ouellet wrote:

I actually like this idea (and your whole message, Jean-Philippe), though
I have to say this does not work with i3: all the windows and their content
is restored, but the window positions are not. (I still think that's
impressive.)

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁       holger@(debian|reproducible-builds|layer-acht).org

[2020-12-02 01:08] brendanhoar commented on #1917
I like the idea as well.

I will just note that it does come with some consequences under 4.0.x which is that dom0 windows won’t be restored, only VM windows. So, if scripting VMs (via manually invoked python/bash) you’d need to keep that in mind.

Unsure of related impacts on GUI-vm approaches in 4.1/future versions of Qubes.

B

[2020-12-02 01:11] jpouellet commented on #1917
On Tue, Dec 1, 2020 at 5:01 PM Holger Levsen <notifications@github.com> wrote:

For which we have https://i3wm.org/docs/layout-saving.html ! ;)

[2020-12-02 01:16] jpouellet commented on #1917
The current pain-points of that approach are actually:
1. tray icon windows (like nm-applet) which seem to get lost unless
restarted (and I'm sure could be fixed, I just haven't bothered). and
2. of course dom0 windows, which you shouldn't have many of anyway,
and I suspect may be entirely a non-issue with the GUIVM approach
where the GPU is still owned by dom0 but has only a single window in
whic

[2020-12-02 01:21] marmarek commented on #1917
3. Window to workspace assignments get lost.

[2020-12-02 01:27] brendanhoar commented on #1917
That’d be an issue for a significant number of users, yes.

[2020-12-02 01:58] jpouellet commented on #1917
On Tue, Dec 1, 2020 at 5:22 PM Marek Marczykowski-Górecki
<notifications@github.com> wrote:

True, I'd forgotten about this.

For i3, this is solved by the generic layout save/restore functionality.

For a general WM-independent solution, it seems one would need to
somehow serialize and restore the _NET_WM_DESKTOP window property [1]
for the windows. It's been a while since I've looked at any of t

[2020-12-02 02:50] jpouellet commented on #1917
On Tue, Dec 1, 2020 at 7:53 AM 3hhh <notifications@github.com> wrote:

I think that conclusion misses some nuance.

Approaches such as physlock (the VT-switching+locking category) do not
inherently / necessarily need to be ugly. In short, because linux has
a rather mature and capable framebuffer subsystem independent of X or
Wayland or anything else. One can open /dev/fb0 and write to it to
very s

[2020-12-02 03:12] Kreyren opened #6247 "Qube Manager VM Settings window width unwantedly expands depending on the character length of the "kernelopts" line"
This issue affects Qube Manager GUI.

### Steps to reproduce
1. Invoke `qvm-prefs -s <VMNAME> kernelopts "whatever long here"`
2. Open `Qube Manager`, navigate to settings of `<VMNAME>` and notice it's minimum lenght expanding depending on value of `kernelopts`.

### Expected

Do not expand as that makes the UI painful to use e.g. requiring to drag from the edges of the screen multiple times to re

[2020-12-02 03:29] Kreyren opened #6248 "Make it possible to set kernelopts through the Qube Manager GUI"
Currently the `Kernel opts:` property in Qube Manager GUI is static and changable only through CLI e.g. `qvm-prefs -s <VMNAME> kernelopts "value"`.

Proposing to make it possible for the end-users to change the kernelopts through the Qube Manager GUI.

This could resolve following UI issue: https://github.com/QubesOS/qubes-issues/issues/6247

![2020-12-02_04-27](https://user-images.githubuserconte

[2020-12-02 06:11] straussmaus commented on #6236
That would be an error.  But let's focus on the issue.

should find the rotated logs under qubes.log-DATE

Ah, thank you.  I do find one earlier log, but it was so much later than the restore that I did not recognize it as valuable.  And it wasn't (no errors regarding the restore of this qube) but for a different reason.  Thank you and I will know to look for this in future.

of Qubes, and a backu

[2020-12-02 06:12] straussmaus commented on #6236
@DemiMarie

I can.  But can you please answer the question I keep asking everyone who is suggesting something like this:  *what would this give us*?  Because if this restore goes like the last one, it will say "FINISHED SUCCESSFULLY" even if it has not finished successfully.  And it is not feasible to examine all of the data in even a small number of the largest qubes to look for things that arent

[2020-12-02 06:14] straussmaus commented on #6236
@imahuman

Okay, at least we can stop looking in this direction.  Thank you.

Maybe it was?

Damn.  I thought I came up with this idea myself.  But you beat me to it.

I agree this is the best solution.  It's not a great one but it might be the best one.

**Feature Request:  Qubes Backup should store the hash of the qube on source disk and compare it to the restored hash.  If they do not match, Qu

[2020-12-02 06:55] DemiMarie commented on #6236
I am not super familiar with how the QubesOS backup restore process works, but I wonder if restoring a qube requires scratch space comparable to its size.  This would be the case if the backup was restored into a temporary file and then copied into the final location.  This ensures that we don’t restore a truncated volume ― unless we run out of space in the process.

We can fix this by restoring i

[2020-12-02 12:12] rustybird commented on #1917
@DemiMarie:

With just `PTRACE_O_EXITKILL`? And not `PTRACE_SYSCALL`, which I assume has too much overhead to be used on the X server.

Barring that, [`do_exit()`](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/kernel/exit.c?h=v5.9.12#n710) looks like it would close the screensaver's file descriptors (including the X client socket) via `exit_files()`, then do a bunch of othe

[2020-12-02 13:33] marmarek commented on #6236
It needs temporary space to extract and verify individual data chunks and only then write them to the target volume (which already is a temporary volume that is later renamed on success). The problem is that the process is highly asynchronous and it may happen that retrieving data from the archive is faster than verification + decompressing + writing to the final space - which may result in out of

[2020-12-02 13:50] woju commented on #1917
As a data point, I use i3lock, which draws uses xcb and cairo, but does not use the worst offenders (like accessibility stack): https://github.com/i3/i3lock#requirements. It's visually nicer that xscreesaver, I can set a wallpaper and the feedback to user input is a nice flashing circle in the middle.

WRT to window->screen mapping, in awesome this is mostly non-issue if you have set up the rules.

[2020-12-02 15:06] ejose19 opened #6249 "Add "restart" to Domain Widget"
**The problem you're addressing (if any)**
Domain Widget is missing "Restart" action, which is not in sync with Qube Manager actions (start is not needed in Domain Widget, as it only show VMs that are running)

**Describe the solution you'd like**
Adding the action after shutdown (to be in the same order as Domain Widget)

**Where is the value to a user, and who might that user be?**
When needing

[2020-12-02 16:02] mattmccutchen opened #6250 "dom0 update metadata cache should persist across UpdateVM restarts"
**Qubes OS version:** R4.0

**Affected component(s) or functionality:** `qubes-dom0-update`

**Brief summary:** If the UpdateVM is a template-based VM, then the dom0 update metadata cache in `/var/lib/qubes/dom0-updates/var/cache` is lost every time the UpdateVM restarts.  This makes `qubes-dom0-update` periodically re-download tens of megabytes of Fedora 25 repository metadata that are no longer

[2020-12-02 16:16] brendanhoar commented on #6236
One other item to note (may not be relevant here):

If using the default storage system of lvm thin provisioning, a backup process over a set of VMs that was itself came into being via VM cloning operations would likely take up substantially more real storage space (as an uncompressed backup) and significantly more space after restore.

[2020-12-02 17:28] 3hhh commented on #1917
4. issue: Paused VMs (non-running `qubes-gui-daemon`), but that leads to funny effects without X restart atm anyway (window hanging somewhere & see #5988).

That scrensaver would have to run outside of that X (i.e. framebuffer or so) or inside a dedicated instance as mentioned by @jpouellet (nice posts btw!) though to avoid the usual X display issues that don't kill X, but are harmful anyway (focu

[2020-12-02 17:36] dirt3009 commented on #2794
fuck your mailing list, literally almost every newbie is experiencing this which's a good enough reason to make a separate section on your documentation, if your shit isn't idiot proof then you're the idiot.

[2020-12-02 18:10] SvenSemmler commented on #3604
Strangely the workaround stopped working for me on debian... might be a local issue. I am now stuck with "Cancel"ing everything on startup (2 webcams and for some reason my keyboard is also claiming to be a mouse). Anyway, when everything settles I then one-by-one unplug and replug my mouse and keyboard and only allow the respective function for the proxy (my mouse also thinks it's a keyboard???)

[2020-12-02 18:41] DemiMarie commented on #6250
Fixing this is quite simple: use a file under `/etc/qubes-bind-dirs.d` to ensure that `/var/lib/qubes/dom0-updates` is bind-mounted to a directory under `/rw`.  A symlink would also work, but getting RPM to handle it correctly seems somewhat tricky.

[2020-12-03 00:17] jroimartin commented on #3727
Checking the code of Xscreensaver 5.43 I found the following comment in **driver/timers.c:150** inside the function `notice_events()`:

[code]

I'm not familiar neither with X internals nor with Xscreensaver, but the comments seems pretty related to the problem described before.

There is another very relevant comment in the Xscreensaver's code at **driver/timers.c:1008**:

[code]

So, I did the f

[2020-12-03 00:51] Kreyren opened #6251 "R4.1(x86_64) qubes-updater fails for qubes-template-debian-11"
This issue affects Qubes Updater on R4.1(x86_64).

[code]

### Steps to reproduce
1. Install the template in dom0 e.g. `qubes-dom0-update qubes-template-debian-11`
2. Try to update it through `Qubes Updater` and expect failure

### Hypothesis
Debian-11 doesn't provide access point for qubes-updater through SSH?

### Additional info
qubes-template-debian-11 is by default creating a disposable VM th

[2020-12-03 03:39] marmarek commented on #4739
This actually is a duplicate of #2845

[2020-12-03 03:39] #4739 closed

[2020-12-03 03:39] marmarek commented on #4739
Duplicate of #2845

[2020-12-03 03:40] #2845 closed

[2020-12-03 03:43] #6187 closed

[2020-12-03 03:50] marmarek commented on #3727
Yes, this makes much sense, thanks for finding those hints! Now we have some actionable way to fix it :)

[2020-12-03 04:28] marmarek opened #6252 "Standard partitioning is broken"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

installer

**Brief summary**

Installing with "standard partitions" (instead of LVM or btrfs) is broken. While this itself is not really useful, it is on the way to XFS using XFS filesystem.

**To Reproduce**

Steps to reproduce the behavior:
1.  Launch installation
2.  Select custom partitioning
3.  Choose automatic "Standard

[2020-12-03 05:22] DemiMarie commented on #6252
Personally, I would prefer to deprecate and remove this option.  If it isn’t too difficult, we should continue to support using existing FILE pools so that in-place upgrades work, but I see no reason to support creating new ones.  The future is LVM/BTRFS/(someday) ZFS.

[2020-12-03 05:26] noskb commented on #5426
I'm using an SSD but I had the same problem and it was only occurred on SanDisk SDSSDXPS480G and not on Samsung SSD 860 EVO.
Of course my domain has a large size of private storage.

In conclusion, it was solved by changing the discard mode of LVM thin pool from passdown to nopassdown.

`sudo lvchange --discards nopassdown qubes_dom0/pool00` in dom0 terminal

This will restore the physical space t

[2020-12-03 08:06] jroimartin commented on #3727
Just for the record, xfce4-terminal uses `_NET_WM_USER_TIME` together with `_NET_WM_USER_TIME_WINDOW`. Given the rationale provided in the spec (copied under these lines for convenience), this might be the right way to proceed also in the case of qubes-guid.

Reference: https://specifications.freedesktop.org/wm-spec/latest/ar01s05.html

[2020-12-03 08:13] 3hhh commented on #1917
Projects related to X session saving (aka "session managers"):
https://github.com/christarazi/sessionctrl
https://github.com/nlpsuge/xsession-manager
https://gitlab.freedesktop.org/xorg/app/xsm

Most seem to be in early dev or stale though.

[2020-12-03 09:51] waycloak commented on #6234
Hi, this also occurs for me on Fedora 32 template

[code]

[2020-12-03 11:32] kalkin commented on #6234
Since a few days building the iso fails, because of this.

FIX: I applied the patch and also fixed a few version requirements in `*.spec.in` files.

[2020-12-03 12:00] marmarek commented on #6252
Yes, standard partitions with ext4 should not be an autopart choice. But standard partitions with XFS can be - IIUC XFS does have a built-in support for CoW files, which `reflink` storage driver will use.

[2020-12-03 12:06] marmarek commented on #5426
This sounds like your SSD driver has very poor implementation of "TRIM" operation. "nopassdown" indeed may improve performance in this case, but depending on SSD model, may reduce the disk life time. It is also possible that this disk firmware is stupid enough it won't matter at all besides performance. Hard to tell without doing some extensive tests or analyzing disk firmware.

[2020-12-03 12:18] mkfifos commented on #6244
Agreed. If you consider to implement DNScrypt support for the next qubes-os release I would greatly appreciate that. Until then I am helping myself with the above hack.

Btw, for those who like to use DNScrypt-proxy, the size of the DNS-cache can be adjusted in the Fedora-TEMPLATE-VM under
[code]

I'm still interested in the qubes-os security team's perspective on my hack. Does the iptables-tweaki

[2020-12-03 14:20] brendanhoar commented on #5426
At a minimum, Qubes should document possible performance issues under LVM on VM shutdown (during volatile volume/snapshot removals) with both SMR HDs generally and SSDs with poor firmware. Docs should recommend “nopassdown “ in lvm.conf as the workaround, noting the caveats for SSDs above.

I was going to recommend exposing this option via the qubes global settings but thinking it through, with al

[2020-12-03 16:06] DemiMarie commented on #6024
dom0-provided kernels are now again out of date

[2020-12-03 16:09] fepitre commented on #6024
If you mean `kernel-latest`: http://lists.infradead.org/pipermail/linux-nvme/2020-November/021204.html

[2020-12-03 16:17] DemiMarie commented on #6024
That shouldn’t be an issue for `kernel-latest-qubes-vm`, though.

[2020-12-03 16:21] fepitre commented on #6024
It's too risky to merge such critical behavior. I'm ready to bet that someone would ran into this issue and without any previous dom0 backup kernel...

[2020-12-03 16:24] DemiMarie commented on #6024
What I meant is that we could build `kernel-latest-qubes-vm` from a different source than `kernel-latest`.

[2020-12-03 16:29] DemiMarie commented on #6024
`kernel-qubes-vm` is also three versions out of date.

[2020-12-03 16:31] marmarek commented on #6024
Fresh non-latest kernel was built just yesterday. Don't expect kernel release will land in stable repo 5 minutes after being published.

[2020-12-03 16:33] marmarek commented on #6024
Hint: you can see recent builds in https://github.com/QubesOS/updates-status/issues

[2020-12-03 16:43] DemiMarie commented on #6024
@marmarek sorry, I have testing repos enabled, but I forgot that the “updates are available” flag doesn’t fire if the UpdateVM is off.

[2020-12-03 16:52] cobordism opened #6253 "xfce - keyboard and mouse input passed to wrong window"
**Qubes OS version**
`R4.0`

**Affected component(s) or functionality**
xfce window manager, I presume

**Brief summary**
just one example:
When I click a link in one app (A) that opens a tab in another (browser) app (B), the mouse and keyboard input are messed up. Window A will remain in front and in focus but keyboard input will (mostly) go to B. Mouse input will go to B on those parts of A that

[2020-12-03 18:28] iamahuman commented on #6253
Duplicate of #3267 -- it has indeed been reported against R3.2, but its milestone has been updated to R4.0.

[2020-12-03 18:51] iamahuman commented on #6218
This is probably due to `AttributeError` unintentionally leaking out of a property accessor.

[2020-12-03 19:45] cobordism commented on #6253
Thanks. Do you know if there is some workaround? I constantly trip over this issue.

[2020-12-03 23:51] mikey0000 commented on #5347
Hi yeah I got this today after trying to move a file to windows VM

[2020-12-04 03:43] iamahuman commented on #6253
Thanks for the report. You can click on the title bar instead.

[2020-12-04 06:05] andrewdavidwong commented on #6250
I would think that the obvious solution is to disable the EOL Fedora 25 repos, which can only serve as an attack vector at this point (related: #6186).

[2020-12-04 06:12] andrewdavidwong commented on #6251
Duplicate of #6188

[2020-12-04 06:12] andrewdavidwong commented on #6251
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-12-04 06:12] #6251 closed

[2020-12-04 06:22] andrewdavidwong commented on #5426
In case you (or any others reading this) are not already aware, the documentation is a community effort, and everyone is welcome to contribute. (That's how things like this get updated!) So, if you'd like to get involved with the project, this is a great way to do it. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/doc-guidelines/

[2020-12-04 06:25] andrewdavidwong commented on #6253
Duplicate of #3267

[2020-12-04 06:25] andrewdavidwong commented on #6253
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-12-04 06:25] #6253 closed

[2020-12-04 09:42] cobordism commented on #6253
"You can click on the title bar instead."
Instead of what? clicking on a URL? that doesn't make sense.

It is possible to break back out of this errant behaviour by switching windows or perhaps clicking the title bar, but usually, by the time you realise that you're in this position, the damage is already done.

You're not going to click on the title bar of every window every time you want to inte

[2020-12-04 10:29] iamahuman commented on #6253
I completely understand, but it's currently the best known workaround that works in all cases. That or using <kbd><kbd>Alt</kbd>-<kbd>Tab</kbd></kbd>.

You're right.

We shouldn't.

This is the Qubes GUI agent's problem. Dom0 windows (e.g. Qubes Manager, Applications Menu, dom0 terminal, d0m file manager, etc) are unaffected.

[2020-12-04 10:37] iamahuman commented on #6253
Also, this only happens between windows from the same VM. Windows from different VMs do not get focus intermixed.

[2020-12-04 16:45] 3hhh commented on #1917
Hmmm I checked the code a bit and it's not really usable for Qubes OS as they heuristically use the command-line (which is empty for VM windows) as identifier to restore window positions etc.

Anyway the idea to fix the aforementioned X window restore issues 2 & 3 still holds:

1. On screensaver start (using e.g. the screensaver-as-parent method), save the session.
2. On unexpected X restart, rest

[2020-12-04 19:19] tsteinholz commented on #6234
Same issue, I fixed it with `ln -s qubes-src/gui-agent-linux/pulse/pulsecore-13.2 qubes-src/gui-agent-linux/pulse/pulsecore-14.0`.

[2020-12-04 19:42] ninavizz commented on #1917
Sooo many new comments here, and I've been slammed w/ a firedrill project for a new client for the past 2 weeks, so I'll just post here to contribute the below:

Someone up above cited "Picking security over user experience" as a necessity. As a UX practicioner who specializes in security, I gotta push back on that. There are a small handful of us, who care (deeply!) about both—and who've dedicate

[2020-12-04 19:53] mattmccutchen commented on #6250
Are we assuming that by the time each future Qubes OS version is released, the dom0 Fedora version will be EOL, or that users will never install any dom0 Fedora packages beyond the ones that come with the installer?  I for one am one of those lower-class Qubes OS users who installs things like cdparanoia in dom0 because there isn't another practical way on Qubes OS and I can't be bothered to dual

[2020-12-04 20:11] mu2718 commented on #5165
Hi Lucas, actually I did the opposite and it worked, wrote it to the
device, not a partition:
sudo dd status=progress if=name-of.iso of=/dev/sdb
Hope you are luckier with that.

Am Mo., 30. Nov. 2020 um 21:00 Uhr schrieb Lucas Zanela <
notifications@github.com>:

[2020-12-04 20:12] tsteinholz opened #6254 "Arch Linux Template: pacman error: failed to init transaction (unable to lock database)"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qubes-builer, arch linux template.

**Brief summary**

Suppose to build an Arch Linux template to use in Qubes OS.

**How Reproducible**

Have not been able to reproduce any other results.

**To Reproduce**

Steps to reproduce the behavior:

1. Follow the instructructions to build an Arch template.
2. gui-agent-linux-vm will f

[2020-12-04 20:16] core-i1 commented on #4604
Has anyone found at least some kind of workaround for these issues?  My Lenovo T480 with i7-8550U basically comes crawling to a stop under load.  Worked fine in the spring, but now it's almost useless.  Not sure exactly which update caused the regression, as I was distracted with transferring the installation to a new SSD, and upgrades along the way.

xenpm shows conflicting information:
[code]
Se

[2020-12-04 20:17] andrewdavidwong commented on #6250
Not necessarily. Historically, this has not always been the case.

The need to install packages in dom0 is a fair point, but it is done very rarely compared to checking for Qubes dom0 updates, so it still seems wasteful and time-consuming to download Fedora repo metadata every time after that upstream version has reached EOL. It seems like it would be better just to enable the repo whenever you ne

[2020-12-04 20:50] mattmccutchen commented on #6250
@andrewdavidwong OK.  I think I've presented all the relevant facts, so I'll trust your judgment on the best default for Qubes OS and do whatever I need to do on my own system.  If there's a simple contribution you'd like me to try to make, let me know.

[2020-12-05 03:23] unman opened #6255 "Build error in Debian/Ubuntu 4.1 qubes-mgmt-salt"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Qubes builder

**Brief summary**

Building of qubes-mgmt-salt fails

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Clean build environment
2. Run setup, and select 4.1, Buster or Focal targets
3. `make get-sources`
4. `make qubes-vm`

**Expected behavior**

Qubes packages will be built

**Ac

[2020-12-05 10:24] arkenoi commented on #6199
Anything I could help with? More diagnostics?

[2020-12-05 10:35] arkenoi opened #6256 "Override-redirect windows that are strictly contained in their parents should have no border"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

GUI lxde window decorations

**Brief summary**

Due to "hardwired" window decorations (which you may see as a security feature) MS Office windows get mis-rendered

**How Reproducible**

Always

**To Reproduce**

Steps to reproduce the behavior:
1.  Make a Windows wm with MS Office and RDP enabled
2. Enable incoming connections

[2020-12-05 11:55] arkenoi commented on #5294
..would also make sense for sys-firewall as well?

[2020-12-05 17:35] lubellier commented on #6234
I validated on Fedora, got sound :-)

The bot should be updated : replace `yum` by `dnf`

[2020-12-05 18:02] lubellier commented on #6234
I validated on Debian, got sound also :-)

[2020-12-05 19:06] someuser7882 commented on #5453
Hello @marmarek  and @fepitre

Thanks for the input you have provided on clarifying this issue. I'm evaluating whether disabling this security measure is worth the risk given my situation. Please see my two questions below

1. My setup doesn't involve any externally-pluggable Thunderbolt or ExpressCard interfaces and I am not worried about an attacker gaining physical access to my machine. With th

[2020-12-05 20:30] DemiMarie commented on #5294
@arkenoi Probably not.  OpenBSD only offers a nefront driver (`xnf(4)`), not a netback driver.

[2020-12-05 20:39] DemiMarie commented on #6256
It’s hard to tell from the screenshot, but it looks like these decorations are from the GUI daemon.  In that case, this is working as intended, as the borders are used to indicate trust.

That said, the user experience is poor.  Wayland might fix this, as I am not sure if Wayland clients abuse windows the way X Window System clients do.

[2020-12-05 21:13] andrewdavidwong commented on #6250
I was just sharing my opinion. It'll be up to the devs, especially @marmarek, to decide.

Thank you! I'll leave it to the devs to let you know if there's anything you can do.

[2020-12-05 22:20] fepitre commented on #5453
From what I remember you just need to remove this line https://github.com/QubesOS/qubes-linux-kernel/blob/master/config-qubes#L77 and then do build the kernel by yourself. You can bump the `rel` file https://github.com/QubesOS/qubes-linux-kernel/blob/master/rel to ensure to upgrade properly your dom0 version.

If you don't know how to build a Qubes component, you can have a look here: https://www.

[2020-12-05 23:04] marmarek commented on #6256
I've seen similar things when running MS Office through wine, so it's rather specific to MS Office not just FreeRDP. I guess it tries to draw some fancy shadows that technically are implemented as separate windows and thus gets forced colorful borders.

[2020-12-05 23:07] marmarek commented on #6256
Maybe we can add some heuristic on gui-agent side to ignore those specific "windows"?

[2020-12-05 23:10] iamahuman commented on #5914
Fixed by  QubesOS/qubes-gui-agent-linux#117 (related issue: #2845)

---

https://github.com/QubesOS/qubes-issues/issues/2845#issuecomment-739111587:

---

https://github.com/QubesOS/qubes-issues/issues/2845#issuecomment-739111844:

---

https://github.com/QubesOS/qubes-issues/issues/2845#issuecomment-739112311:

[2020-12-05 23:50] DemiMarie opened #6257 "dom0 GUI daemon can be tricked by bad VM names"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`gui-daemon`

**Brief summary**

The GUI daemon uses the VM name passed as argument to construct a shell command.  No escaping is performed.

This is not a security problem because the VM name is passed from a trusted source (qubesd).  It is a bug, however.

**How Reproducible**

100%

**To Reproduce**

S

[2020-12-06 00:55] DemiMarie commented on #3982
Keybase also has this problem (tested with a debian 10 template)

[2020-12-06 01:14] DemiMarie commented on #6097
This is eerily reminiscent of a bug I had running kernel-latest on R4.0.  I will try to reproduce.

[2020-12-06 01:25] DemiMarie commented on #6092
Firmware bug?

[2020-12-06 01:31] DemiMarie commented on #3865
Stripping out the compression level seems like a good idea.  Another option is to allow the user to specify the decompression program on restore, since we can assume that the restore command line is trusted.

[2020-12-06 01:31] DemiMarie commented on #3865
@marmarek if this option looks good I can make a PR.

[2020-12-06 01:59] DemiMarie commented on #5160
Culprit appears to be incorrect values in `/etc/lvm/lvm.conf`: `activation/thin_pool_autoextend_threshold` needs to be below 100 to ensure that thin pools are extended when needed.  Futhermore, `activation/error_when_full` needs to be set to `1` (enabled) so that thin pools fail fast if space is exhausted.

[2020-12-06 02:03] marmarek commented on #5160
Yes. This is actually on my todo-list for R4.1. We already have the installer to leave some free space to have where extend to, just the lvm.conf change is needed.

[2020-12-06 02:05] DemiMarie commented on #3964
I wonder if this has been fixed in a newer version of libvirtd.

[2020-12-06 02:06] DemiMarie commented on #5160
We can change this for existing R4.0 installations, too.

[2020-12-06 02:08] DemiMarie commented on #3518
I wonder if this is due to a broken IOMMU implementation in the hardware.  @marmarek?

[2020-12-06 02:09] marmarek commented on #3865
Yes, I'd go this way - require explicit compression program on the command line, if it doesn't match any of whitelisted ones (which means also anything with arguments). Preferably this way:
1. if (de-)compression program is given by the user - use that, otherwise:
2. if backup header contains some on the whitelist - use that (`tar` will add `-d` option for decompression), otherwise:
3. error out,

[2020-12-06 02:10] marmarek commented on #5160
Just change of lvm.conf won't do anything if there is no free space left to actually extend to.

[2020-12-06 02:11] DemiMarie commented on #1910
`virsh undefine` solved this problem when it happened for me.

[2020-12-06 02:21] marmarek commented on #3518
No, device reset is mostly unrelated to IOMMU. And indeed many devices doesn't support proper reset themselves so ability to properly reset them mostly depends on the PCI topology - if such device is behind a separate bridge, you can reset the whole bridge. Otherwise, you can just hope the device driver will cope with possibly weird initial state it will find device in. In that last case, it is al

[2020-12-06 02:23] marmarek commented on #1910
Have anybody seen this issue recently? There were related changes since this issue was originally reported, so if there are no fresh confirmations it is still an issue, I'd close it as fixed.

[2020-12-06 02:29] marmarek commented on #6092
Yes! And pretty common one. Suffice to say, neither Windows nor Linux use this EFI call because of how common the bug is.
Context: https://lists.archive.carbon60.com/xen/devel/408709
We have it disabled in R4.1, the patch need a backport to R4.0. If you wonder why it isn't an upstream thing, see the thread linked above...

[2020-12-06 02:41] DemiMarie commented on #1107
It gets worse: `apt-get` exits with status 0 even if its output is redirected to `/dev/full`.

[2020-12-06 03:42] DemiMarie commented on #1107
This will need to be fixed in Debian.  The only alternative (deleting all of the metadata files and checking that the expected ones have been downloaded) is such a disgusting hack that I loath considering it.

[2020-12-06 03:44] DemiMarie commented on #3865
I think we should also support this in the GUI, as it is an important feature.

It has been years since I have done anything GUI related, but I can try.

[2020-12-06 03:59] iamahuman opened #6258 "Don't use EFI_RUNTIME_SERVICES->Reboot"
**The problem you're addressing (if any)**
Some buggy firmwares do not correctly implement the `Reboot` method of `EFI_RUNTIME_SERVICES` interface, when the EFI boot services are unmapped.
The end result _usually_ is reboot anyway, since an incorrect implementation would result in a x86 triple fault which, in turn, leads to a (hard) reboot.
I do not however believe this is the most reliable and op

[2020-12-06 04:01] iamahuman commented on #6258
Ideally this is best fixed upstream)

[2020-12-06 07:14] straussmaus commented on #6236
Can not attach USB port to Qube

These things make sense.  I still will check the hashes and post here.  But it's not something I can do easily or quickly.  I know it is critical to understanding this issue and I plan to do it.

Anyway it would help if there was a check done to ensure enough free disk space and *most important* is that the "FINISHED SUCCESSFULLY" note does not display if there are

[2020-12-06 07:26] straussmaus opened #6259 "Can not attach USB port to Qube"
**Qubes OS version**
4.0.3 (fresh install)

**Affected component(s) or functionality**
An HVM qube with a (the) USB Device attached.

**Brief summary**
Laptop has three USB ports.

Devices shows three USB devices

One is the webcam.

One, I don't know.  when I attach to the Qube I can not start the Qube.

One is 1d, which I expected to be the USB ports on the device.  When attached, this Qube does

[2020-12-06 08:26] adrelanos commented on #1107
Whonix build scripts are using this wrapper which results in `exit 125` if any `W:` or `E:` is found in `apt-get`s output.

https://github.com/Whonix/security-misc/blob/master/usr/lib/security-misc/apt-get-wrapper

[2020-12-06 09:32] iamahuman commented on #6236
@straussmaus The quickest way to check local hashes is `sha<N>sum /dev/<pool>/vm-*-{private,root}` (where `<N>` is the version of SHA to use and `<pool>` is your LVM pool's name).

For VMs stored in backup, you can restore them (which creates VMs with prefixes or suffixes so as to not collide with existing VMs) and do the same.

[2020-12-06 10:25] straussmaus commented on #6236
@iamahuman How can I find the LVM pool's name?  I did not pay attention to the automatic partitioner during install.

[2020-12-06 10:28] straussmaus commented on #6236
Also, I don't understand `vm-*-{private,root}` please?

Okay under qubes_dom0 I see a lot of filenames like my qube names.  However for every one, there is a `vm-<something>` and also a `vm-<something>-back`.  What's that about?  And they are all symlinks to things like `../dm-150`.  Am I in the right place?

[2020-12-06 12:31] unman commented on #6236
On Sun, Dec 06, 2020 at 02:29:02AM -0800, straussmaus wrote:

Yes, you are - these are the root and private disks, along with
backups. These are human readable, and the actual thin provisioned
volumes are under /dev
You can mount/copy/process either.

[2020-12-06 12:39] unman commented on #1107
On Sat, Dec 05, 2020 at 07:42:16PM -0800, Demi Marie Obenour wrote:

As you can see here:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=778357,
the apt maintainers don't see anything that needs to be fixed, and since
there's been an (at minimum) enhancement request for 5 years, it's not
likely to come soon.
Possible solution from Johannes Schauer, mentioned in that thread, is:
[code]
It works,

[2020-12-06 12:45] arkenoi commented on #6256
Apparently they are from GUI daemon indeed (the effect is similar in any case: wine, freerdp or seamless mode). But it does not explain why it leaves artifacts on all virtual desktops.

[2020-12-06 12:47] iamahuman commented on #6236
Just to clarify: the `*-back` volumes are _revisions_ of VM volumes that you can revert to using `qvm-volume revert <VM>:<volume> <revision>`. They are visible under `Available revisions (for revert):` section at the end of `qvm-volume info <VM>:<volume>`'s output. It has nothing to do with the Qubes backup utility (`qvm-backup` / Backup Qubes) this issue is about.

[2020-12-06 12:50] marmarek commented on #6256
It kind of does. This uses override-redirect window type that is not controlled by window manager, and so is not affected by the workspace switch. This is yet another case of #4705 (although here it is "just" UX issue, not security one).

[2020-12-06 13:46] arkenoi commented on #6256
could be a quick fix be implemented on freerdp's side?

[2020-12-06 13:56] marmarek commented on #6256
maybe? I think it does have all the needed data to exclude such windows.

[2020-12-06 14:49] 100111001 commented on #4604
@core-i1: Could you please explain where to add this line exactly in xen.cfg? I could find a spec for this file. I have a global section and one section per kernel listed there.
As I still experience same behavior, I'm happy for every hint to experiment with.

[2020-12-06 15:52] 3hhh commented on #1917
A more detailed implementation sketch for that option:

On VT3 run an application in an endless loop that starts an X server and displays whatever user-defined screensaver.

Implement locking as follows:
1. Switch to VT3 (`chvt 3`).
2. Disable VT switching (`physlock -l` can e.g. do that) & SysRq et al, if enabled.

Implement unlocking to be triggered by a zero exit code of the running screensaver

[2020-12-06 16:14] core-i1 commented on #4604
@100111001: Here's my current xen.cfg with the cpufreq setting added to the end of the options line of the default kernel:
*************
[global]
default=4.19.155-1.pvops.qubes.x86_64

[4.19.132-1.pvops.qubes.x86_64]
options=loglvl=all dom0_mem=min:1024M dom0_mem=max:4096M iommu=no-igfx ucode=scan smt=off
kernel=vmlinuz-4.19.132-1.pvops.qubes.x86_64 root=/dev/mapper/qubes_dom0-root rd.luks.uuid=lu

[2020-12-06 16:24] DemiMarie commented on #1107
@adrelanos @unman the problem with this approach is that it is not fail-safe.  Theoretically, printing to stdout can fail, and if it does, `apt-get` ignores the error.  What we *can* do is check that the actual files have been fetched.

[2020-12-06 16:29] DemiMarie commented on #6256
I would prefer to fix this on the FreeRDP side, rather than the GUI daemon side.  FreeRDP has more information about this, and is also already a more complex piece of software anyway.

[2020-12-06 16:31] arkenoi commented on #6256
https://github.com/FreeRDP/FreeRDP/issues/6640

[2020-12-06 16:45] DemiMarie commented on #6259
Try passing `rd.qubes.hide_all_usb` on the dom0 command line.

[2020-12-06 17:10] DemiMarie commented on #5160
True.  I think `error_when_full` is a more important change ― hopefully, it will prevent corruption.

In the long run, a better answer might very well be ZFS Zvol snapshots, which to the best of my understanding do not have this problem.

[2020-12-06 17:50] someuser7882 commented on #5453
Thank you for taking the time to explain that a little further. I only know how to build the linux-kernel component to the version present in qubes-builder, which is not the latest version. Would you mind elaborating a little further on your statement below, for my understanding? Thanks again.

[2020-12-06 20:00] DemiMarie commented on #6025
This is due to a kernel regression that has since been fixed.  I believe the latest versions of 5.9 have the fix, but I will need to check.

[2020-12-06 21:02] #5914 closed

[2020-12-06 21:02] andrewdavidwong commented on #5914
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-12-06 21:06] andrewdavidwong commented on #3964
I can check and report back. Which version?

[2020-12-06 21:06] DemiMarie commented on #3964
No idea, tbh.

[2020-12-06 21:07] andrewdavidwong commented on #3964
Ok, I'll just keep an eye on it in general.

[2020-12-06 21:10] andrewdavidwong commented on #6092
So what's the resolution here? Can anything be done on the Qubes side?

[2020-12-06 21:17] blobless commented on #5462
@rastababy I had the same networking issue occur. @GWeck I also experienced the qrecec_timeout several times when trying to start the VM. None of this has happened with subsequent fresh installations of Windows 10.

[2020-12-06 21:27] andrewdavidwong commented on #6259
Please read and follow this documentation, which covers exactly this use case and may solve your problem:

https://www.qubes-os.org/doc/usb-qubes/

If you believe there is still a bug after reading this documentation and following the instructions it contains, please leave a comment explaining as specifically as possible what you believe the bug to be.

[2020-12-06 21:27] #6259 closed

[2020-12-06 21:28] DemiMarie commented on #6092
[It already has been](https://github.com/QubesOS/qubes-vmm-xen/blob/45f00840969afccb9509b8a5778b5674b326ac5a/patch-xen-disable-efi-gettime.patch)

[2020-12-06 21:38] andrewdavidwong commented on #6092
If I understand correctly, the only remaining action here is to backport the patch to 4.0, then this issue should be closed.

[2020-12-06 22:20] AmitSivaLevi opened #6260 "Pixels flickering and "amdgpu_cs_add_buffer" core dump"
**Qubes OS version**
R4.1 with kernel-latest and testing repositories.

**Affected component(s) or functionality**
Pixels being flickering, every running software is unreadable and I cannot start the Qube Manager.

**Brief summary**
Its actually happen to me a lot (Every 4-8 Hours of usage), when opening 3-5 VMs and every VM has a running browser with a lot of tabs, it seems that the "qubes-vm-run

[2020-12-06 23:13] DemiMarie commented on #6092
@andrewdavidwong the most recent Xen version already includes it.

[2020-12-06 23:34] DemiMarie commented on #3869
If I recall correctly, this has been partially fixed by cleaning up old files from `/etc/lvm/archive`, and partially fixed by me switching to faster (SSD) storage.

[2020-12-07 00:48] Kreyren opened #6261 "R4.1(x86_64) qubes-template-gentoo-minimal unexpectedly requires a root password"
This issue affects gentoo-minimal templateVM

## Steps to reproduce
1. Install `qubes-template-gentoo-minimal` template e.g. `qubes-dom0-update qubes-template-gentoo-minimal` from contrib repository.
2. Open terminal in the mentioned templateVM and expect failure while trying to gain root access

## Expected
Do not require root password like other templates or make the password available somewhere

[2020-12-07 01:05] unman commented on #6261
On Sun, Dec 06, 2020 at 04:48:17PM -0800, Jacob Hrbek wrote:

This is a common feature of all minimal templates:
https://www.qubes-os.org/doc/templates/minimal/

[2020-12-07 01:18] Kreyren opened #6262 "Debian-11 PV/HVM qube is unable to use dGPU through radeon on notebook in supertuxkart App/Standalone VM"
**DISCLAIMER:** This issue has been filed to the forum (https://qubes-os.discourse.group/t/r4-1-x86-64-debian-11-pv-hvm-qube-is-unable-to-use-dgpu-through-radeon-on-20089-lenovo-g770-in-supertuxkart-appvm/1731) where neither the forum nor IRC members seems to know what is this caused by. I assume that this is either a bug or that this VM requires some kind of a procedure to make this work that is

[2020-12-07 01:26] unman commented on #1107
On Sun, Dec 06, 2020 at 08:24:25AM -0800, Demi Marie Obenour wrote:

You mean *every* file matching each entry in the sources.list is
downloaded, and passes gpg verification?

[2020-12-07 02:03] DemiMarie commented on #3949
Is this still an issue?

[2020-12-07 02:16] marmarek commented on #1917
light-locker does similar thing - locks original session with fullscreen window on top (just like xscreensaver) but then starts a new X server switches to it have unlock prompt there (using standard lightdm prompt). It doesn't lock vt switch (which I believe is intentional, to allow other user to log in), but also, whenever you switch to the locked session, it automatically move you to the vt with

[2020-12-07 02:20] marmarek commented on #6092
Yes, I confirm, indeed it is already backported to R4.0, actually very shortly after Qubes 4.0.3 was released (it is in xen-4.8.5-15, while 4.0.3 has xen-4.8.5-14). So, the problem should be gone in 4.0.4.

[2020-12-07 02:20] #6092 closed

[2020-12-07 02:30] marmarek opened #6263 "Inter-qube clipboard is broken with GUI domain"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

gui-daemon

**Brief summary**

gui-daemon consults qrexec policy when using pasting inter-qube clipboard into some VM. This fails in gui-domain.
Furthermore, if qube is using qrexec-based clipboard (Windows), then it fails because of the way the qrexec is called (`qrexec-client` call, which exists in dom0 only).

In hybrid gui

[2020-12-07 02:34] DemiMarie commented on #1107
No, just downloaded successfully.  That means that APT at least managed to fetch the data.

Also, Debian package metadata has a `Valid-Until` date (IIRC) and that is signed.  Not sure if that helps us.

[2020-12-07 02:42] marmarek commented on #6263
For standard (non-qrexec) case we could add a call to dom0 that allows evaluating policy for some specific values. We do want such call anyway for Policy API (I can't quickly find related issue, but an extension of https://github.com/QubesOS/qubes-core-qrexec/pull/54), so we can simply implement this little part with higher priority, and use it for gui-daemon too. I'll write details in a separate

[2020-12-07 02:56] madman708 commented on #5165
Hi @mu2718, I created an 7.5GB primary partition of by 32GB USB drive, I flashed qubes os R4.0.4-rc1-x86_64 in ISO9660 through dd as you mentioned, but the problem is still same, If i boot the USB in efi mode i get blank screen after startup in legacy boot it gives me the same error as pane dead.

Let me know what i'm missing here, I'm using ryzen 3700x, RTX 2060 AMP card.

[2020-12-07 03:01] marmarek opened #6264 "Enhance Policy API - add policy.Eval"
**The problem you're addressing (if any)**

A better API to manage qrexec policy. This will be a base for implementing GUI policy editor (which could also run in a sufficiently trusted Management VM). While the current API allows replacing the whole policy (or its parts), it isn't very friendly for use - almost every operation requires fetching the whole policy, parsing it locally and then sending

[2020-12-07 03:01] marmarek commented on #6263
https://github.com/QubesOS/qubes-issues/issues/6264

[2020-12-07 03:03] DemiMarie commented on #6263
The GUI domain can ask dom0 to bypass the policy, though.  We can implement this by means of a `qubes.VMPaste` service, which takes the source and destination qubes as arguments.  If the calling domain is GUI domain for both source and destination qubes, dom0 will then invoke `qubes.ClipboardPaste` to the destination domain as if it was invoked by the source domain, including policy checking.  Oth

[2020-12-07 03:07] marmarek commented on #6263
This indeed may work, since for the clipboard operation, GUI domain should be the same for both source and the destination.

[2020-12-07 03:17] Kreyren opened #6265 "Devuan TemplateVM"
<img src="https://user-images.githubusercontent.com/11302521/101305423-942a7080-383a-11eb-8b8c-29c60749ba34.png" width=100%/>

Devuan <https://www.devuan.org> is fork of Debian created by former/current Debian developers with the intention to be independent of systemd, it also has much better user support in my experience.

Proposing to implement it as a TemplateVM.

[2020-12-07 03:17] DemiMarie opened #6266 "Efficient compiled binary policy format"
**The problem you're addressing (if any)**

The current qrexec policy format is inefficient.  Determining whether a request is allowed requires potentially consulting every policy rule, which is `O(n)`.

This is not a major problem now, as policies are rather small.  However, in R4.1, the entire policy will be (effectively) a single file, which means that the parsing overhead will be much larger.

[2020-12-07 03:18] DemiMarie commented on #6264
While the file and line number will be useful for debugging purposes, I suspect that a better approach would be to have a unique ID for each policy entry.

[2020-12-07 03:24] DemiMarie commented on #3964
Can you reproduce this in R4.1 with a Fedora 32 dom0?

[2020-12-07 03:36] Kreyren commented on #6261
@unman Thanks, missed it!

Closing.

[2020-12-07 03:36] #6261 closed

[2020-12-07 03:42] marmarek commented on #6264
file name + file hash + line number ?

Allows easily identify the line and also detect whether it relates to the current version of the file. But more importantly - doesn't require format change and keep it (both file and identifier) readable by human. BTW synthetic IDs pose a risk of conflicts, which would need to be checked.
Note `policy.Get` call already returns a file hash (to allow detecting

[2020-12-07 03:44] marmarek commented on #6266
Currently the policy is loaded once (after a change) to a long living qrexec-policy-daemon. This avoids the most costly operation which is text file parsing. We can think of some further improvements if the current evaluation will be a bottleneck, but I think currently it isn't anymore.

[2020-12-07 07:41] straussmaus commented on #6236
@iamahuman

Okay.  I am still trying to write a little script that takes the hashes and writes them all to a file, one line at a time.  My brain is broken and the one I ran overnight failed.  I'll try again when I can.

[2020-12-07 08:20] fepitre commented on #6261
@Kreyren: if you want to add only to your minimal template, you can emerge `core-agent-linux` with the use flag `passwordless-root`: https://github.com/fepitre/qubes-gentoo/blob/master/app-emulation/qubes-core-agent-linux/.qubes-core-agent-linux.ebuild.0#L23.

[2020-12-07 08:34] na-- commented on #1917
For me, light-locker has crashed multiple times in such a way that I've needed to log into a separate VT and kill its process, so that I can "log" back in... I understand that it can be a security issue with the fail-open model, but it can also be a feature that saved me from having to hard-reset the laptop a few times.

[2020-12-07 09:28] evadogstar commented on #6234
I also fall into the same story. If somebody like I used `--allowerasing` flag when you see this error message then to fix it after `sudo dnf update --enablerepo=qubes-vm-r4.0-current-testing` you should install `sudo dnf install pulseaudio-qubes` package.

[2020-12-07 09:34] evadogstar commented on #6244
Will this proxy work if DNScrypt-proxy will be at the VPN vw which are limited to access the network only if the service run from specific user?
_It's default VPN setup to prevent leaks._

[2020-12-07 10:06] adrelanos commented on #1107
Indeed not fail-safe for any theoretically conceivable APT error conditions.

This only deals with `'apt-get update' unreliable exit codes` indeed.

There is 1 missing apt-get feature: reliable exit codes.

But what you're suggesting is similar to an "APT verifier". A tool that second guesses, audits APT. That may or may not be a good idea but should be outside the scope of this ticket. (It would

[2020-12-07 15:42] tlaurion commented on #6234
`[user@fedora-32 ~]$ sudo dnf update -y --enablerepo=qubes-vm-r4.0-current-testing pulseaudio*`

Fixed it for Fedora-32. No problem over debian-10.

[2020-12-07 17:46] brendanhoar commented on #5933
Thanks y’all, I think I can now take out a somewhat gnarly temporary change of default pool in some of my scripts! :)

[2020-12-07 17:47] DemiMarie commented on #6264
What I meant is that if a user manually edits the policy file in some not meaningful way (such as adding a comment), the line number will change.

[2020-12-07 17:49] DemiMarie commented on #6266
There are other improvements I can think of:

- Avoid spawning a `qrexec-client` process for each call.
- Handle all requests inside a single agent process, rather than forking a new process per connection.

[2020-12-07 18:24] DemiMarie commented on #1107
@adrelanos APT downloads files to `/var/lib/apt/lists/partial`, and only moves them to `/var/lib/apt/lists upon success.  So we only need to check that the files in `/var/lib/apt/lists` exist.

[2020-12-07 19:03] 3hhh commented on #1917
Custom screen lockers are also not supported in that dedicated X session, but indeed it  otherwise does 80% of the job.

Side note:
I recently ran into [this bug](https://bugs.archlinux.org/task/64771), which means that an X restart may crash `xss-lock` and thus prevent screen locking due to user idle times. That can happen with whatever screensaver. I put a note to [the community doc](https://git

[2020-12-07 21:25] someuser7882 commented on #5453
@fepitre, Thank you for your explanations. I can also confirm that removing that line is all what is needed to get the modules to load.

[2020-12-07 21:42] tasket commented on #6055
@dylangerdaly My system hovers around 42C both on an off AC, with one or two FHD displays. Keep an eye on your CPU usage with `xentop`; CPU stress is the only thing that seems to raise the temp.

BTW I'm using 5.8.18 in dom0 as the 5.9 kernels won't boot. My UEFI graphics RAM at the lowest setting (not auto-sized). I did install `xorg-x11-drv-amdgpu` along with KDE and sddm. There was some method

[2020-12-07 22:01] dylangerdaly commented on #6055
I'm glad you confirmed the Kernel issues, I'm having the _exact_ same issue, newer kernels are boot looping.

Give play around with these settings, cheers @tasket

[2020-12-07 22:09] tasket commented on #6055
I just did a quick test on a 4K display and there was no temperature increase.

On other variable I can think of right now is the built-in Wifi, which I'm not using at all (not assigned to any running netvm). This would make the rest of the system go haywire after a while, so I'm relying on a NIC in sys-usb.

[2020-12-07 22:10] dylangerdaly commented on #6055
I'm doing the same, one other thing I had enabled is AMD's TearFree option in X11, I've removed that config file, I'll see if that makes any difference

[2020-12-07 22:26] tasket commented on #6055
Hmmm... Those temps were taken from `sensors` "temp1". But there is a "temp11" that always shows 66C (under any idle/load) when plugged into AC and 0C when on battery. I don't know if that could be affecting your temp readouts. The rest of the internal temps always show as 0C.

[2020-12-07 22:28] dylangerdaly commented on #6055
I'm using the Sensors plugin for xfce, Sensor Type is k10temp-c3 and the sensor name is Tctl, there's also Tdie, iirc Tctl is the temp of the package itself? and Tdie is the die temp?

[2020-12-07 22:48] tasket commented on #6055
Yes, the temp1 line appears to be an int value of Tdie/Tclt.

Another BTW, since the lurching issue is power-management related I think this applies:

Marek's specially modified Xen in qubes*unstable doesn't always have the correct configuration.  For example with 4.14.0-6.2 the lurching came back... I had to downgrade xen packages to 4.14.0-6.1 to get performance back to normal.

[2020-12-07 22:51] andrewdavidwong commented on #3964
Sorry, I don't have a machine to test 4.1, but perhaps someone else who has experienced the issue can. Or I can report back once 4.1 is stable and I've migrated to it, but that might not be for a while.

[2020-12-07 23:08] andrewdavidwong commented on #6264
How about not counting comments or empty lines when counting line numbers? But this would make it less helpful for human debugging.

Another option is to use something like "file name + line number + file hash + policy string hash" for the unique ID. (Would have to strip whitespace out of the policy string before hashing.)

[2020-12-07 23:56] iamahuman commented on #6258
@pwmarcz You said in https://github.com/QubesOS/qubes-issues/issues/6066#issuecomment-701298925 that rebooting did not work in one of your laptops. Can you confirm if rebooting still freezes on it with `reboot=acpi`?

[2020-12-08 02:48] #5570 closed

[2020-12-08 02:48] #5599 closed

[2020-12-08 02:48] #5886 closed

[2020-12-08 04:15] andrewdavidwong commented on #4693
I was able to preserve partial history in the target repo. Unfortunately, due to a limitation in git, history cannot be preserved back through previous file/directory renames. (For details, see all the answers and comments on [this StackOverflow question](https://stackoverflow.com/questions/1365541/how-to-move-files-from-one-git-repo-to-another-not-a-clone-preserving-history).) However, as mention

[2020-12-08 05:58] dylangerdaly commented on #6055
Oh wow, okay.

So I tried reverting Marek's revert 2 weeks ago, but I must have accidentally reverted the wrong commit ID

[code]

Reverting `c28754bdb458281a22e9a9779213c941531b6dff` that commit specifically results in a much smoother experience.

Then forcing the built package over the existing one

[code]

[2020-12-08 06:50] dylangerdaly commented on #6055
Another thing, what version of UEFI are you on?

I've updated to 1.27 (r1cuj58wd)
https://download.lenovo.com/pccbbs/mobiles/r1cuj58wd.txt
https://download.lenovo.com/pccbbs/mobiles/r1cuj58wd.iso

But it appears that's been removed from the page? Lenovo's Support page only shows 1.25 as the latest version.

Can someone confirm this?

[2020-12-08 10:12] pwmarcz commented on #6258
@iamahuman Yes, after `reboot=acpi` the computer reboots correctly.

[2020-12-08 11:00] adrelanos commented on #1107
How do you know which file names to look for?

    find /var/lib/apt/lists/ | wc -l

33 files there on my system. These files have different names. Therefore invent a logic to generate which file names to look for? Example:

General syntax something like:

And there are separate `InRelease` files.

Guessing file names with a script seems hard to re-invent.

Or do you mean just a simpler check? Fol

[2020-12-08 12:37] andrewdavidwong commented on #4693
The migration is now complete. If anyone sees any problems or anything else that should be done, please leave a comment.

[2020-12-08 12:37] #4693 closed

[2020-12-08 13:02] rustybird commented on #6039
Is something still blocking the build since QubesOS/qubes-builder-rpm#83 was merged?

[2020-12-08 17:42] DemiMarie commented on #1107
I wonder how difficult it would be to make APT’s exit code reliable.  Also, we can parse the output and check that we got the expected number of lines matching `^(Get|Hit) `.

[2020-12-08 19:49] tasket commented on #6055
Keeping in mind this is the T14 not X13, firmware is v1.05 from June 11.

[2020-12-08 20:21] tasket commented on #6055
Yes, there is still a little judder when HD video playback is fullscreen or nearly fullscreen. Using VLC, it becomes noticeable when the viewport is about 2/3 of full height.

The video RAM setting I mentioned earlier is one of the few I remember changing; others were security features.

From grub.cfg:
[code]

[2020-12-08 20:48] noskb commented on #6258
It also works for me using the ASUS H370-A motherboard(CSM disabed)

Before adding `reboot=acpi`, the reboot was working, but HDD power was forcibly turned off and the  S.M.A.R.T. attribute Power-off Retract Count was increased. It would indicate that the system did not successfully reboot I guess.

Maybe like this.

[2020-12-08 21:23] 100111001 commented on #4604
Thanks @core-i1. After 2 days, my observation is that the overall system reacts slower than before especially with a lot of concurrency. But the main point is that there are no hickups under heavy load. That's why I consider it as a workaround for my system.

[2020-12-08 22:21] dylangerdaly commented on #6055
I managed to downgrade to 1.25, I think potentially your T14 has a better physical charging layout, my old Huawei had the same issue with AC + Heat

I was missing `ept=exec-sp` from Xen's CMDLINE, just re-added that and it's really smooth now

[2020-12-09 00:49] andrewdavidwong commented on #2594
Is anyone still affected by this?

[2020-12-09 01:55] Kreyren commented on #6265
FWIW i would be happy to work on this, mark help-wanted if it's up for grabs outside of Qubes.

[2020-12-09 02:03] marmarek commented on #6265
Sure, feel free to! Note you'll most likely need to dust off non-systemd startup scripts support, as we didn't have any non-systemd distribution for some time already. While startup scripts are still in repo, I bet many of them are outdated.

[2020-12-09 02:38] straussmaus commented on #6236
Okay I needed two >> instead of > of course.  I was tired.  The scripts ran and I compared on a new backup on a drive of the same capacity (this is an expensive omission in the error messaging!).  Most hashes match.  However I have some questions:

- Is it true that simply opening a qube will change its hash?  That makes sense.

- What is "private" and "root" and "snap" in the names of the qubes?

[2020-12-09 06:42] straussmaus opened #6267 "Qube will not open"
**Qubes OS version**
4.0.3

**Affected component(s) or functionality**
Standalone Qube

**Brief summary**

After a fresh 4.0.3 install and a large restore from backup, this standalone qube worked.  Now it will not run applications.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Install 4.0.3.
2. Restore qubes from backup.
3. Use this qube successfully.
4. Voodoo

[2020-12-09 07:08] straussmaus commented on #6267
Okay here is what happened:

- restored qube
- ran an update on first run (I guess?)
- update filled disk capacity
- see https://github.com/QubesOS/qubes-issues/issues/5299

Solution:

Add more disk capacity (or in this case `sudo apt -y autoremove`

Closing.

[2020-12-09 07:08] #6267 closed

[2020-12-09 07:16] straussmaus commented on #4834
I've probably spend 15 hours of my life on this since opening this issue.  I can't be the only person who would benefit from a Net toggle in the Qubes Manager?

[2020-12-09 07:20] straussmaus commented on #4914
@strak8 I would like to test this.  Can you provide testing steps so I can test?  I run 4.0.3.

[2020-12-09 07:28] straussmaus commented on #4914
Okay here are the steps.  It's different from when I opened this issue so I was confused:

- Create new qube

- Type: Empty standalone qube (install your own OS)

- check: install system from device

- In the next dialog, choose your CDROM (ex: /dev/sr0)

- Confirmed working in 4.0.3.

Closing Issue

[2020-12-09 07:28] #4914 closed

[2020-12-09 07:29] straussmaus commented on #4914
@strak8

Works, but it is very very slow to read the CDROM.  Just for your information.

[2020-12-09 10:21] adrelanos commented on #1107
I speculate with knowledge of C it might be easy to maximum medium difficulty. Going thorough the source code and creating a variable that sets a non-zero exit code. Then at the end of the program, exit with the exit code set in that variable. Just carrying around variables. No string parsing, no complex logic, no calling of external programs, no race conditions, no algorithms. Time effort might n

[2020-12-09 10:57] straussmaus commented on #6204
I reinstalled the Fedora32 template and found that the errors seem to be connected to qubes repos.  Since the update happens in an xterm I'm not sure how to copy to the dom0 clipboard (usually in xterm you just highlight, then click both mouse buttons to paste, but what is the qubes clipboard equivalent of clicking both mouse buttons?)

Here is something I transcribed:

[code]

[2020-12-09 11:17] straussmaus commented on #6083
@l1am9111

Where do I enter this command?  Where is the Qubes kernel command line?

[2020-12-09 12:52] Kreyren commented on #6265
heads-up: started working on this in https://git.dotya.ml/kreyren/qubes-builder-devuan

[2020-12-09 14:10] core-i1 commented on #4604
@100111001: Yes, I would say my experience is consistent with yours - generally sluggish performance, but also no longer standing still under load.  Videoconferencing generally usable with both audio & video, but right on the edge most of the time (~90% CPU usage).  Temps edging to 70C under load, so CPU must be ramping up frequency to some extent.
If I can help with any logs or testing to help di

[2020-12-09 14:26] unman commented on #1107
On Wed, Dec 09, 2020 at 02:21:56AM -0800, Patrick Schleizer wrote:

I think one issue is that the maintainers (as is evident from comments
in the thread) don't think that "temporary" issues, like network
problems, gpg failures, disk space, etc, are indicators of apt failure,
and so don't warrant a failure exit code. They have explicitly said
this, so that "discussing upstream" may be a major under

[2020-12-09 14:41] unman commented on #6083
On Wed, Dec 09, 2020 at 03:17:49AM -0800, straussmaus wrote:

qubes-issues is really not the place for support questions. You
would get faster responses and your questions would be seen by more
people in the mailing lists or in the forum. It would also have the
benefit that other users would be more likely to find your question and
the answer.

If you use grub, then you can interrupt the boot proc

[2020-12-09 17:34] 3hhh commented on #6233
Btw there's also that issue of ~20 mountable devices per VM (`/dev/xvdc` --> `/dev/xvdz`).
I'm usually at 19 or so. ^^

[2020-12-09 17:39] 3hhh commented on #6244
That probably disables the Qubes firewall.

That's why dedicated VMs and firewall VMs in front of them should be generally preferred, cf. [1], section "network service qubes".

[1] https://www.qubes-os.org/doc/firewall/

[2020-12-09 17:52] h01ger commented on #2594
On Tue, Dec 08, 2020 at 04:49:38PM -0800, Andrew David Wong wrote:

I can confirm accessing my phone now works from any VM (after assigning
the device...) while it only used to work with sys-usb. so, yay! & thanks
too!

(on qubes 4.0)

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁       holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀ PGP fingerprint: B8BF 5413 7B09 D35C F026 FE9D 091A B856 069

[2020-12-09 17:57] 3hhh commented on #6244
Also, `rc.local` is a bad place for firewall rules as it's only executed after the network is up (i.e. there may be leaks).

Anyway the likely best infrastructure for DNS would be
[code]

With DNS for VPN:
[code]

This way you can't break anything in `sys-net` or `sys-vpn`.

[2020-12-09 21:02] straussmaus commented on #6083
Well there is nothing wrong with what you said this time. You are incorrect, but you are not rude this time. :)

Thank you for clarifying that @l1am9111  is referring to a standard kernel command line, though he did not explain how to reach it in Qubes.  Qubes seems to install with defaults that do not allow for accessing GRUB command line?  But at least you cleared up that this is what he meant,

[2020-12-09 22:16] SaswatPadhi commented on #6039
`qubes-template-fedora-33-minimal` from `itl-testing` seems to be missing `qubes-mgmt-salt-vm-connector`

[2020-12-09 22:42] marmarek commented on #6039
It isn't supposed to be there by default (see https://www.qubes-os.org/doc/templates/minimal/#distro-specific-notes). @DemiMarie is lobbying to include it, which could be an option if pulled in dependencies aren't too big.

[2020-12-09 23:03] SaswatPadhi commented on #6039
I meant that I couldn't `dnf install` it either ... It's not able to find the package even in the repositories.

[2020-12-09 23:04] DemiMarie commented on #6039
I can’t even install the `qubes-template-fedora-33-minimal` package.

[2020-12-09 23:09] marmarek commented on #6039
Ah, indeed. It is still in current-testing repository only. And will be there for at least a couple more days.

Right now it's built for R4.1 only. The one for R4.0 is on its way.

[2020-12-10 02:28] andrewdavidwong commented on #4834
I don't recall ever having to spend much time on this. It sounds like you're probably making things harder than necessary.

1. Remember that you can switch the NetVM of `sys-firewall` to `none`, then restart `sys-net`. This avoids having to restart any of the VMs connected to `sys-firewall`.
2. Remember that you don't have to restart `sys-whonix` just to restart Tor, and usually don't even have to

[2020-12-10 02:34] andrewdavidwong commented on #6204
I don't know. I used to be able to copy from xterm using the middle click menu, but that stopped working some time ago. If you figure it out, let me know. Maybe I'll ask on qubes-users to see if anyone knows.

That sounds like it might be (related to) https://github.com/QubesOS/qubes-issues/issues/6234.

[2020-12-10 02:39] andrewdavidwong commented on #1107
As far as I could tell, the upstream bug report only had one brief comment from a maintainer about this, and it was not at all clear that he had fully considered all the reasons that have been presented in favor of changing this. He certainly did not address any of them in the comments.

[2020-12-10 03:28] unman commented on #1107
On Wed, Dec 09, 2020 at 06:39:42PM -0800, Andrew David Wong wrote:

Well there are comments in various bug/enhancement reports, of some
considerable age, and I seem to recall it being discussed on a Debian
list also.
I think this comment(#776152) sums it up:
"The question what a successful update is is complicated and depends on
the expectations of the person using APT."

[2020-12-10 03:31] DemiMarie commented on #1107
We can also parse the output of APT.  If all of the expected `Get` or `Hit` lines are there, the update worked.

[2020-12-10 05:04] #4529 closed

[2020-12-10 05:04] #6166 closed

[2020-12-10 05:06] #6252 closed

[2020-12-10 06:34] zpc0 commented on #5491
Since this problem also affect R4.0, could you back-port related fixes to R4.0 package?

[2020-12-10 10:01] mkfifos commented on #6244
Dnscrypt-proxy could be run seperatly in each App-VM if desired. However, in that case I wouldn't consider encrypted DNS-traffic a feature of Qubes-OS but of the App-VM.

Are you sure? To me it looks like DNS-traffic is completely redirected to localhost. You could consider that "blocked".

[2020-12-10 10:18] adrelanos commented on #1107
Right. Perhaps this would require the introduction of a new APT settings / command line parameter for "strict" exit codes. Patch draft, discussion upstream, revision, discussion, agree. If that would be trivial, it probably would be done already.

[2020-12-10 13:46] unman commented on #1107
On Thu, Dec 10, 2020 at 02:18:38AM -0800, Patrick Schleizer wrote:

Right.
It's not trivial, and I don't think there's any will upstream, but since
there are a number of related enhancement requests (some of them yours
Patrick), it may be worth working on. I should say that I'm not
convinced of this.

[2020-12-10 14:18] unman opened #6268 "Strange behaviours in dual monitor setup"
**Qubes OS version**

4.0 updated

**Affected component(s) or functionality**

Qubes gui

**Brief summary**

When working with docked x230 I see strange behaviour with windows that seems new to me.
These relate to window placement and mouse registration. (I don't use mouse a great deal, so this may have been there for some time, but I think not.)

**How Reproducible**

100%

**To Reproduce**

Step

[2020-12-10 16:31] 3hhh commented on #6244
That `sys-dns` AppVM provides the DNS service to all upstream (e.g `some VM`) VMs. That's what my post was about.

Pretty sure.
You DNAT all incoming port 53 traffic to the local DNS service. This way the `filter FORWARD` chain which holds the Qubes OS firewall is bypassed (traffic to localhost goes to `INPUT`).
Just try it out: On one of your VMs using the `dnscrypt` service attempt to disallow D

[2020-12-10 17:00] 3hhh opened #6269 "Qubes VM network overview"
**The problem you're addressing (if any)**

It would be nice to be able to obtain a graphical overview of my Qubes OS machine.

**Describe the solution you'd like**

Some sort of interactive GUI providing the following features:
- each VM displayed as some rectangle with its name inside, colored in the respective VM color
- Lines between VMs according to their network connections (VM A has netvm B

[2020-12-10 20:16] DemiMarie commented on #6269
I myself have wanted such an overview on more than one occasion.  An interactive one (which allowed editing) would be even better.

[2020-12-10 21:20] tlaurion opened #6270 "Cannot change TemplateVM of a DisposableVM (need to recreate sys-usb-dvm at each TemplateVM upgrade)"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
[sys-usb-dvm (disposablevm-template)](https://www.qubes-os.org/doc/disposablevm-customization/#create-the-sys-usb-disposablevm) (private container data here used under DispVM) cannot be changed to another, already created [DisposableVM Template](https://www.qubes-os.org/doc/disposablevm-customization/#creating-a-new-disposablevm

[2020-12-10 21:38] marmarek commented on #6270
This is a duplicate of https://github.com/QubesOS/qubes-issues/issues/5491 and https://github.com/QubesOS/qubes-issues/issues/3576
It is fixed in 4.1, I'll look into backporting it into 4.0, but it may be too risky.

[2020-12-10 21:39] tlaurion commented on #6270
mitigation:
1- shutdown sys-usb-dvm
1- remove sys-usb-dvm:
`qvm-remove -f sys-usb-dvm`
2- [Follow doc and recreate sys-usb no-dvm](https://www.qubes-os.org/doc/usb-qubes/#creating-and-using-a-usb-qube)
`sudo qubesctl state.sls qvm.sys-usb`

And:
- Wait for 4.1 prior of using ServiceAppVMs based on DispVMs

Or

- Recreate DispTemplateVM based on debian (less frequent releases)

[2020-12-10 21:41] tlaurion commented on #6270
Will follow https://github.com/QubesOS/qubes-issues/issues/3576#issuecomment-457051234

[2020-12-10 23:00] Simbaclaws commented on #3198
@ol7278 Your solution doesn't work for me by trying R4.0.2-RC1 and updating to the latest kernel.
I can not seem to get past the storaged software package like mentioned earlier. And it does not jump to a low resolution.
I'm on a oryx pro 4 from system76.

Is there no way for me to get qubes os working till a later kernel will be shipped?

[2020-12-10 23:29] straussmaus commented on #4834
Thank you for this.  Neither situation applies to me.  I don't think I have ever changed the sys-firewall NetVM, except when setting up Qubes for the first time.

There are times when it is necessary to restart sys-whonix (or at least more comforting), such as when switching routers, but that is rare.

So these situations aren't the ones eating up half of my life. :)

But if no on else is feeling

[2020-12-10 23:30] straussmaus commented on #6135
This continues to happen on a freshly installed Qubes 4.0.3 where I restored my qubes, but not dom0.  dom0 is the default that came with the Qubes 4.0.3 install.

[2020-12-10 23:32] straussmaus commented on #6236
@iamahuman

I think I am close to being able to close this issue, if I can confirm the above.  Do you have any information on those items?

[2020-12-10 23:53] DemiMarie commented on #3198
@marmarek can we ship more than one kernel in the default ISO, and let the user select which to use at boot time?  Ideally, we would do this for both R4.0 and R4.1.

[2020-12-10 23:55] unman commented on #6135
On Tue, Nov 24, 2020 at 12:03:16AM -0800, straussmaus wrote:

Do you mean on a vanilla fresh install? A clean install with default
qubes?

[2020-12-11 00:19] Kreyren opened #6271 "R4.1 debian-11 from testing repo seemingly crashes and then becames unbootable"
This issue concerns debian-11 templateVM in Qubes-testing.

### Steps to reproduce
1. Install debian-11 template VM from testing repo e.g. `qubes-dom0-update qubes-template-debian-11`
2. Create Standalone VM from it.
3. Start the standalone VM, open few windows in it and wait for them to close and then notice that your VM is not booting, seems to happen on random.
3.1. Suspecting `apt upgrade` rel

[2020-12-11 01:12] Kreyren opened #6272 "R4.1 Permission error running `lx console VMNAME` on non-root is confusing"
### Steps to reproduce
1. Start any VM
2. Run `lx console VMNAME` as non-root from dom0
3. Expect `Unable to attach console`
4. Prefix with `sudo` and the command works

### Expected
Return insufficient permission error instead of generic

[2020-12-11 01:20] marmarek commented on #6272
This is how upstream `xl` command behave, nothing Qubes specific. Please report upstream.
Furthermore, it is safer to use `qvm-console-dispvm` instead.

[2020-12-11 01:20] #6272 closed

[2020-12-11 01:29] marmarek commented on #6271
There is also:
[code]

This sounds bad.

As for the root password, there should be autologin on a local console, if there isn't, that's another issue.

[2020-12-11 01:30] marmarek commented on #6271
Can it be related to apparmor? Try disabling it and see if anything changes.

[2020-12-11 01:51] Kreyren commented on #6271
@marmarek elaborate how to disable apparmor.

`aa-teardown` in dom0?

[2020-12-11 01:54] DemiMarie commented on #6271
@Kreyren are you using in-VM or dom0 kernel?

[2020-12-11 01:56] Kreyren commented on #6271
@DemiMarie This is PVH VM using same kernel as dom0 (5.4.67-1)

[2020-12-11 02:00] DemiMarie commented on #6271
@Kreyren what is your kernel command line?

[2020-12-11 02:04] Kreyren commented on #6271
[code]

Where the VMNAME in question should have cmdline: `root=/dev/mapper/dmroot ro nomodeset console=hvc0 rd_NO_PLYMOUTH rd.plymouth.enable=0 plymouth.enable=0 xen_scrub_pages=0`

[2020-12-11 02:08] Kreyren commented on #6271
Doesn't seem to do auto-login

[2020-12-11 02:26] marmarek commented on #6271
In the log linked earlier I see:
[code]
those extra apparmor parameters are controlled by `apparmor` feature, you can try: `qvm-features <vmname> apparmor ''`

[2020-12-11 02:33] Kreyren commented on #6271
@marmarek Using `qvm-features VMNAME apparmor ''` results in https://gist.githubusercontent.com/Kreyren/c9cdbde40f543ed424a60f9bbb4e0872/raw/4ff31cf808f313f960cf1a83adfa59da5c9aaec0/gistfile1.txt

[2020-12-11 02:38] Kreyren commented on #6271
@marmarek Note that the VM was working fine without AppArmor when it was deployed from TemplateVM

[2020-12-11 02:38] marmarek commented on #6271
Ok, it fails exactly the same way, so it isn't AppArmor.

[2020-12-11 02:39] Kreyren commented on #6271
Invoked `qvm-features --default qubes-6271 apparmor`

[2020-12-11 02:49] andrewdavidwong commented on #2594
Closing this as resolved. If you believe the issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen this. Thank you.

[2020-12-11 02:49] #2594 closed

[2020-12-11 02:52] andrewdavidwong commented on #5491
This issue is already on the "Release 4.0 updates" milestone.

[2020-12-11 03:02] andrewdavidwong commented on #6269
We used to have a very basic version this in the Qube Manager, but it lacked many of the features you want. I just tried looking for it, but it seems to have somehow disappeared. @marmarta, any idea what happened to it?

[2020-12-11 03:04] andrewdavidwong commented on #6269
Duplicate of #2575

[2020-12-11 03:04] andrewdavidwong commented on #6269
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-12-11 03:04] #6269 closed

[2020-12-11 03:05] andrewdavidwong commented on #6270
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2020-12-11 03:05] #6270 closed

[2020-12-11 04:49] straussmaus commented on #6135
Yes to the vanilla and fresh but I did not see the error on first run, then imported qubes and after one or five reboots, I see the error again.  Would I have seen the error if I did not restore the qubes?  I don't know.

[2020-12-11 04:53] straussmaus opened #6273 "VPN doc is missing"
**Qubes OS version**

N/A

**Affected component(s) or functionality**

website

**Brief summary**

404 error when navigating to https://www.qubes-os.org/doc/vpn/

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:

https://www.qubes-os.org/doc/vpn/

**Expected behavior**

The VPN doc should show, or a link to the new location

**Actual behavior**

404

**Additional cont

[2020-12-11 04:58] tlaurion commented on #5491
Normal that this issue is closed?

[2020-12-11 05:00] tlaurion commented on #5491
https://github.com/QubesOS/qubes-issues/issues/3576#issuecomment-457051729

[2020-12-11 08:15] hackerncoder commented on #6273
The VPN docs have been moved to github (https://github.com/QubesOS/qubes-doc/pull/1101/files#diff-07d30049577ad63d59568f238f9698d1254a2d1110e1a755b2f6b17ee2570c25R255), if you try to access it through https://qubes-os.org/doc, you should be redirected to github.