[2021-04-23 08:33] andrewdavidwong commented on #6549
You didn't read the issue history. It also included wiping memory returned during memory rebalancing, but that already occurs. It also makes no sense to wipe memory while in use, because the system would be unusable. Users would be losing their data. You say to wait for a period of idle inactivity. That will never fly. Users who get a phone call and have to go afk will come back to lost work, etc.

[2021-04-23 08:35] vporton opened #6553 "Require encryption password regularly"
**The problem you're addressing (if any)**
If the computer is not turned off, it has disk decryption information in memory and that could potentially be stolen from RAM by advanced electronic means.

Turning it off often is not convenient for the user as it increased the system resume time.

**Describe the solution you'd like**
Unmount the LUKS disk regularly (pausing normal operations of the syst

[2021-04-23 08:41] andrewdavidwong commented on #6552
The problem is your faulty expectation. You know that Qubes is not intended to be a multi-user system, so why would you expect any such thing from the user switching mechanism?

You're just trying to use the wrong tool for the job. Simply use virtual desktops or simply minimize those windows if you don't wish for their comments to be visible to others who can see the screen.

[2021-04-23 08:41] #6552 closed

[2021-04-23 08:42] vporton commented on #6547
The reason for the assumption is that any other reason is irreasonable: that would be refusing to add a security-enhancing feature without it being difficult to implement.

Gotcha, nested virtualization is _also_ had to implement. So, my point above is true but irrelevant.

- It is well-known because it's in the FAQ.
- It is a deficiency, because a modern OS is clearly "lacking" without reasonable

[2021-04-23 08:45] andrewdavidwong commented on #6553
Duplicate of #2890

[2021-04-23 08:45] andrewdavidwong commented on #6553
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2021-04-23 08:46] andrewdavidwong commented on #6553
@vporton, please thoroughly search the existing issues before opening any new ones.

[2021-04-23 08:46] #6553 closed

[2021-04-23 09:41] andrewdavidwong commented on #6547
That's quite a narrow view. You assume that multi-user support is a security enhancement, but only because you intend to use multiple user accounts as a single user. In principle, multi-user support is security-neutral. The security features you seek can be implemented in other ways directly -- and, in Qubes, many of them are.

There are several flaws in your logic:

1. Your argument is circular (

[2021-04-23 10:26] vporton commented on #6547
Your response would be relevant only if you have already implemented these very useful security features in another way or planned to implement them soon in another way.

"Deficient" may be used in different senses (bug, misfeature, missing feature, slow performance, etc.), while the word lacking is of a more exact sense ("would be wanted by users" (in this case to improve security)) in English (i

[2021-04-23 10:33] vporton commented on #6549
I did read but didn't notice a reference to the "rebalancing" thing. But this isn't a duplicate:

Certainly, I meant wiping _unused_ memory. You seems to say that the current version of Qubes already does this.

The difference of my proposal is to write memory to disk in a ciphered form and then clear _all_ sensitive information in memory (not only "unused" memory). After this the system is "stopp

[2021-04-23 10:39] vporton commented on #6552
Any public interface of a "secure" system should be reasonable secure.

You are right that full multi-user security is not yet reasonable, because it is hard to implement.

But hiding windows is reasonable. I expect all important and reasonable security measures in a security-oriented system. Otherwise it's called a low-quality product.

Oh, Qubes is a wrong tool for keeping secret files? Should I

[2021-04-23 11:15] vporton opened #6554 "An attack scenario - replaced laptop and a way to mitigate"
**The problem you're addressing (if any)**
Anti-evil maid doesn't help against this attack scenario:

Just replace the user's laptop by a similarly looking (and the same login screen) laptop with a networked keylogger.

Their measures don't help against this cheap attack at all.

Another trouble is that the system installer/admin does not always has access to BIOS. Yes, that happens sometimes. My

[2021-04-23 11:31] vporton opened #6555 ""Tags" for VMs"
**The problem you're addressing (if any)**
dom0 shell scripts should be able to differentiate between different kinds of VMs (e.g. secret ones vs not secret ones, etc.)

**Describe the solution you'd like**
Add to Qube Manager the ability to add/edit/delete "tags" for VMs: strings or string pairs to supply extra information about a VM.

Example: `dangerous`=`1`.

There should be an easy way to enu

[2021-04-23 11:47] vporton opened #6556 "Ctrl+Alt+L by default assigned to both logout and lock screen in XFCE"
**The problem you're addressing (if any)**
In conjunction with #6552 we need also to be able to logout easily.

There are two troubles:
- Ctrl+Alt+L is by default assigned not only to logout but also to lock screen in XFCE. That's a contradiction and makes the system work not as intended.
- The user should also have a logout button in XScreenSaver (optionally, because some users would not want to

[2021-04-23 13:20] EnforcerE opened #6557 "Intel RST breaks Qubes installer and boot procedure"
Qubes OS version: 4.0.4
Affected component(s) or functionality: Boot/installation/detection of SATA HDDs.
Steps to reproduce the behavior: Enable Intel RST in UEFI and attempt to boot/install qubes.
Expected or desired behavior: System boots/hard drives are detected and available to be installed on
Actual behavior: Boot hangs before detecting any HDDs (doesn't get to asking for password, the event

[2021-04-23 13:20] unman commented on #6555
Tags are already available, using `qvm-tags`.
Instead of spamming GitHub do some research.

If you wanted to have the `tag` character exposed in Qube Manager, you
would have seen that there is **already** existing work in hand on
revising the Manager, and your comment could have been added there.

[2021-04-23 13:23] vporton commented on #6555
I was clear that I do want it in Qube Manager. How to add my comment there? I thought this repo is the right place for such feature requests. Why isn't it?

[2021-04-23 15:26] vporton opened #6558 "Android app to supplement Qubes security"
**The problem you're addressing (if any)**
If I have a secret information on the screen, somebody phones me, I may raise the phone and incidentally send a screen photo.

**Describe the solution you'd like**
I want an Android app to supplement Qubes to turn camera off every time when a certain user is logged in in Qubes and the screen isn't blanked or a certain VM is running and the screen isn't bl

[2021-04-23 15:37] fepitre commented on #6558
If you would have worked seriously on confidential/secret data on your screen, you would know that phone is forbidden. Also, your request sounds like: If I'm driving and someone calls me and I decide to answer, I may have an accident. Simply don't answer.

There is no "I want" here in Qubes OS or any other opensource project. There is "I would like" like it's proposed in the issue text. If you wan

[2021-04-23 15:43] fepitre commented on #6555
Please do it.

[2021-04-23 15:49] vporton commented on #6558
Forbidden by whom? :-) I am not a member of an organization. Do you think only officials have secrets?

In practice it means that my work may be paused till I move to a new house with more rooms.

Sorry, I am not a native English speaker, I want and I would like sound too similar for me.

[2021-04-23 19:10] andrewdavidwong commented on #6554
What you're describing is simply the AEM password, which is already implemented.

[2021-04-23 19:10] #6554 closed

[2021-04-23 19:15] andrewdavidwong commented on #6555
Duplicate of #2949

[2021-04-23 19:16] andrewdavidwong commented on #6555
This appears to be a [duplicate](https://www.qubes-os.org/doc/reporting-bugs/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If you believe this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank you

[2021-04-23 19:16] #6555 closed

[2021-04-23 19:17] #6558 closed

[2021-04-23 19:20] andrewdavidwong commented on #6556
Issues must be about only one thing. Updating this issue to be about only the first thing mentioned.

[2021-04-23 19:22] andrewdavidwong commented on #6556
Is this an upstream bug in Xfce? If so, please report it there instead.

[2021-04-23 19:32] ninavizz commented on #6548
@vporton Hiya! Thanks for asking what I feel is a very important question! :) Before I respond to your idea or present what is already in progress and where I could speculate this might fit-in, I would really love to hear more from you about who the users are that you feel would benefit from such advisement in the UI; and, why they need that information, here.

[2021-04-23 21:05] hackerncoder commented on #5838
Pretty much. The majority of the screenshots (I found, there may be more) are now updated to 4.0 (https://github.com/QubesOS/qubes-issues/issues/5838#issuecomment-714671635).

[2021-04-23 23:07] #5838 closed

[2021-04-23 23:50] DemiMarie commented on #3255
@tasket It is also worth noting that XFS fully supports reflinks, and I believe that XFS on zvols can be very fast (though don’t quote me on that).

[2021-04-24 01:05] DemiMarie opened #6559 "Replace @asyncio.coroutine with proper async"
**Qubes OS version (if applicable)**

N/A

**Affected component(s) or functionality (if applicable)**

Most notably qubesd, but given how old our async Python code is, there are probably several others.

**Brief summary**

Legacy generator-based coroutines are [deprecated] and will be removed in Python 3.10.  We need to migrate away from them.

**Additional context**

We have a lot of old asynchro

[2021-04-24 01:44] Rspigler commented on #4318
I'm _very_ excited!

This has been a long time goal of mine (and many other's), so it's really great to see it gaining such speed.  So thank you @shawnanastasio for picking this up when no one else would for years! I also really appreciate @marmarek commenting and chiming in as well, as the lead Qubes dev.

Note: I haven't tested any of the code, but honestly, I don't know if I'm smart enough to d

[2021-04-24 05:09] DemiMarie commented on #5323
If we want to try to reproduce this issue, I recommend using Qubes-in-KVM, so that we can simulate unclean shutdowns.

[2021-04-24 06:42] CybaPunk commented on #4136
@marmarek your right it was a hardening issue i was able to fix this by doing `sudo setenforce 0`

[2021-04-24 06:46] CybaPunk commented on #4136
@marmarek Also secondary question, how would i configure qubes to come bundled with Nvidia drivers, my RTX 3080 is my only gpu as i run a 16 Core Processor with no intergrated display adapter

[2021-04-24 10:09] fepitre commented on #4136
This is offtopic. Please check our lists and discourse forum. It's a recurrent question with issues for which NVIDIA drivers does not work (correctly) with Xen.

[2021-04-24 10:32] CybaPunk commented on #4136
Thanks, I'll check it out.

On Sat, Apr 24, 2021 at 8:09 PM Frédéric Pierret ***@***.***>
wrote:

[2021-04-24 12:20] rustybird commented on #6559
Duplicate of #2738

[2021-04-24 12:20] rustybird commented on #2738
As @DemiMarie pointed out in #6559, Python 3.10 ([scheduled](https://www.python.org/dev/peps/pep-0619/) for release on 2021-10-04) will [remove](https://docs.python.org/3/library/asyncio-task.html#asyncio-generator-based-coro) support for generator-based coroutines in favor of `async def`.

[2021-04-24 14:13] rustybird commented on #5426
To the people who experience these shutdown delays: If you shut down many VMs in parallel with `qvm-shutdown --wait vm1 vm2 vm3...`, is the total delay the same as the sum of the individual delays, less, or more?

[2021-04-24 14:45] fepitre commented on #6514
We need to be careful here.  If I remember correctly, the original modification was made for https://github.com/QubesOS/qubes-dist-upgrade/blob/master/qubes-dist-upgrade.sh#L486.

[2021-04-24 15:55] DemiMarie commented on #6559
Good catch, thanks!

[2021-04-24 15:55] #6559 closed

[2021-04-24 16:52] DemiMarie commented on #5426
Would you be interested in creating a kernel patch for this?

it is also possible (using `thin_trim`) to perform the equivalent of `fstrim` for a thin pool.  This can only be done when the pool is not in use, but QubesOS could do it from the initramfs.

[2021-04-24 19:38] d3m3n7 commented on #5374
Hello @ioleo,
I'm having this issue on a DELL XPS 13 9380.
Could you explain what steps did you take in order to build Qubes and install the Xen patch?
I'm afraid this will be too complicated or time consuming for me so it'd be great to have a rough idea of what to expect.
Thanks in advance

[2021-04-24 20:57] DemiMarie commented on #6542
Currently, the only code in qubesd that would use this is the deprecated `file` storage driver.  libxl actually has a significantly greater need for this.

[2021-04-25 05:27] DemiMarie commented on #2949
It would also be nice to sort by tags.

[2021-04-25 08:27] hbswn commented on #5374
It was already fixed in  [io-apic issues on install boot for 4.1 NUC10i5FNH #6372](https://github.com/QubesOS/qubes-issues/issues/6372)

That's "testing R4.1"

Hans

[2021-04-25 09:23] SaswatPadhi commented on #6518
After a dom0 update this bug appears on my system too. It's super annoying! Basic apps that used to work fine (like Firefox) now crash quite often.

- First a popup shows up regarding `override_redirect`
- At some point the window closes and GUI for the AppVM crashes
- Only solution is to restart the AppVM and hope that I don't hit the bug again

Here's what I see in the `guid.<appvm>.log`:

[code

[2021-04-25 14:47] unman commented on #6556
On Fri, Apr 23, 2021 at 12:23:00PM -0700, Andrew David Wong wrote:

It is default configuration in Xfce, and not a Qubes issue.
I think the intention may be to close session if Xflock isnt present,
but I could be wrong.
In use, I don't think there's a problem - afaik the shortcut calls the
locker first, and doesn't close the session. But it's an issue for
Xfce, not us.

[2021-04-25 20:10] #6556 closed

[2021-04-25 21:44] Osndok opened #6560 "Template Manager should have a per-qube "notes" field"
**The problem you're addressing (if any)**

From time to time, I find that I have software in particular qubes that is "stuck" to an older template version. Qubes handles this quite well, as it happily supports running applications from a mix of OSes and OS-versions.

However, it is often harder to manage the small bet of metadata of "why". As it stands, the streamlined template manager actually m

[2021-04-25 22:58] ninavizz commented on #6548
@vporton Have you been able to see the comment field on this? You can thumbs-up or thumbs-down if you cannot. @andrewdavidwong Victor emailed me that he was having difficulty replying to my comment above, here. Not sure if GitHub is being strange with login screen states, or if perhaps you may have restricted this issue to who can comment (which I doubt, but could be the case)?

[2021-04-25 23:36] mruadmin commented on #5641
Also getting the dracut-pre-udev issue. Im using version Qubes 4.04 with a AMD BM450 motherboard.

I did use the dd option in rufus to create the usb which is on a 8gig usb drive. I have no raid controllers to remove so cant use suggestion from wesakers. Would like to install to a external usb but cant get to that point. stuck on the  dracut-pre-udev issue.

Is my only option to replace the mother

[2021-04-26 07:23] andrewdavidwong commented on #6548
That user has been banned for abuse.

[2021-04-26 09:27] mfc opened #6561 "include "Create Qubes VM" in System Tools in Applications Menu, so it shows up / is available in Whisker Menu"
**The problem you're addressing (if any)**

R4.0

in XFCE, the option "Create Qubes VM" only exists in Applications Menu and not Whisker Menu (or other Menus), because the option "Create Qubes VM" does not exist in System Tools. all other Qubes-specific options exist ("Backup Qubes", "Restore Qubes", "Qube Manager", etc).

**Describe the solution you'd like**

include "Create Qubes VM" as an optio

[2021-04-26 18:18] ctrlaltf24 commented on #6560
While it doesn't integrate with the UI, you could use qvm-features to store that kind of information. for example `qvm-features debian-10 dont-update-reason "requires package X"`. And/Or use qvm-tags to indicate that you don't want to update a template `qvm-tags debian-10 add  no-dist-upgrade`.

[2021-04-26 18:35] hbswn commented on #5374
@d3m3n7 ,

If you do not mind running the development 4.1 Qubes, try the latest test ISO from [Index of /qubes/iso/](https://qubes.notset.fr/iso/), currently :

Hans

[2021-04-26 21:43] neowutran opened #6562 "Dispvm automatically killed just after being created. qvm-open-in-vm / OpenURL"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

qvm-open-in-vm "@dispvm:XX" / OpenURL

**Brief summary**

Disposable VM are automatically killed if the callee software print something in stdout (qvm-open-in-vm)

**How Reproducible**

100%

**To Reproduce**

Prerequise:

Take two different disposable VM, from different template.
One is fedora 33, one is debian 10.

In both,

[2021-04-26 21:44] Rspigler commented on #4318
I wanted to put down some thoughts/questions about ultravisor support. This would require DD2.3 processors (what RCS call Power9 v2 CPU's) - but I believe would enable an even more secure Qubes port.

It should probably be optional, as that revision of CPU isn't very common yet and probably won't be until Power10 or later - but would be great for inter-vm isolation.

https://www.kernel.org/doc/htm

[2021-04-26 21:58] andrewdavidwong commented on #6562
Possibly related: #6346

[2021-04-26 22:01] straussmaus opened #6563 "Qube reverting to older state"
**Qubes OS version**

R4.x

**Affected component(s) or functionality**

Standalone Qube

**Brief summary**

This is a weird one.  A standalone qube reverted to an earlier state.  All the files, browser bookmarks, e-mails, etc. imported or created during a session were gone during the next session.

**How Reproducible**

It only happened once.

**To Reproduce**

Steps to reproduce the behavior:
1.

[2021-04-27 02:14] ideologysec commented on #5374
Testing with the Qubes-20210424-x86_64.iso from above, still having the same issue on a Dell XPS 9570 (2018 model year, i7-8750H, Coffee Lake). apic_verbosity=debug does not appear to provide additional information.

![IMG_2350](https://user-images.githubusercontent.com/790061/116170415-aad34600-a6bb-11eb-83cf-4957b707f9d5.jpeg)
![IMG_2351](https://user-images.githubusercontent.com/790061/11617042

[2021-04-27 11:09] mruadmin commented on #5641
FYI, got around the issue by using the 4.1 alpha version of qubes.

[2021-04-27 11:53] easydozen commented on #6174
New patch provides an impressive improvement.
It takes only 7s to boot HVM with 2Gb initial memory on X1 Carbon (gen7).

[2021-04-27 12:14] rustybird commented on #6563
Eek, I just had a look at how renaming is implemented in Qube Manager:

If oldvmname is not running, then the rename button is enabled, which clones from oldvmname to newvmname, restores dependency properties, and removes oldvmname.

**But even if oldvmname is not currently running, its storage might nevertheless be dirty!** For example, from a previous crash. In which case "renaming" would lead t

[2021-04-27 12:30] rustybird commented on #5323
This might be close enough:

    systemctl stop  qubesd
    for vm in vmname1 vmname2 vmname3; do sudo virsh destroy "$vm"; done
    systemctl start qubesd

[2021-04-27 12:48] marmarek commented on #6174
Yes, that's the biggest speedup in the series. That said, I still have two more to do - see the summary in the above linked email. One part is posted already at https://lore.kernel.org/xen-devel/cover.3a5d506462133586bd805b72a226916af6a33799.1619482896.git-series.marmarek@invisiblethingslab.com/T/#t (but requires changes in libvirt xml template to really be used)

[2021-04-27 12:51] marmarek commented on #6563
It should be fixed by https://github.com/QubesOS/qubes-core-admin/pull/397 then.

[2021-04-27 16:25] shawnanastasio commented on #4318
I own DD2.3 CPUs so this is something I could try, but last I checked the open source tooling around ultravisor wasn't fully developed (though that may have changed since then).

I also think it's highly possible that ultravisor will break the shared memory mechanism we use to facilitate VM-VM and VM-Host communication (ivshmem) so it would likely require a large porting effort to get that working

[2021-04-27 18:34] Rot127 commented on #6040
I've got the same problem and fixed it by creating it again with another name.
In my case I tried to create a VM with the name "Android". Renaming it to "Android-9" solved the problem.

The root cause was an old template VM I had already deleted which had also the name "Android".
In order to install the Android-x86 image I had to change the file: `etc/qubes/templates/libvirt/xen/by-name/Android.xm

[2021-04-27 18:39] Rspigler commented on #6040
I'm sorry, @unman solved this for me last year. I thought I had responded and closed.

Mam memory was set too high.

[2021-04-27 19:40] mfc commented on #6546
great, please find my relevant pull requests above.

[2021-04-27 19:48] neowutran commented on #6346
I was able to reproduce this issue in fedora 33.

1. in dom0: ``qvm-run -v --dispvm=fedora-dvm --service qubes.StartApp+org.gnome.Nautilus``
2. in the dispvm -> Open something (I tested the behavior on a PDF (with "evince" as the default pdf reader), and on a text file (with "gedit" as the default editor)
3. close evince/gedit (nautilus is still running)

The disposableVM shutdown

(same as andrew

[2021-04-27 20:19] lubellier commented on #6521
@mfc :

This isn't a Qubes OS issue, but a XFCE issue, see [this topic](https://forum.xfce.org/viewtopic.php?pid=45688#p45688) on the xfce forum. I found other user reports (Ubuntu, ArchLinux; all near 2016/2017). See also the [xfce issue 12832](https://bugzilla.xfce.org/show_bug.cgi?id=12832) and the [associated commit](https://git.xfce.org/xfce/xfdesktop/commit?id=157f5b55cfc3629d595ef38984278de

[2021-04-27 20:32] neowutran commented on #6346
The issue come from the parameter "DBusActivatable=true" in the nautilus desktop file "/usr/share/applications/org.gnome.Nautilus.desktop". If you remove it, the issue disappear.
Maybe related to https://github.com/QubesOS/qubes-issues/issues/1031 , how dbus interact with qrexec

[2021-04-27 22:03] tasket opened #6564 "System instability using Ax200 wifi device, Xen reports IO_PAGE_FAULT"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

Xen, dom0, sys-net, wifi

**Brief summary**

Errors repeat in _hypervisor.log_:
[code]
There is no sign of errors in the sys-net logs.

System is a Lenovo Thinkpad T14 with Ryzen Pro 4750U processor.

sys-net kernel: various versions, currently qubes-vm 5.11.15. Have tried debian-10, f32 and f33 templates.

Xen version is 4.14

[2021-04-27 22:06] tasket commented on #5980
For others who installed from a local build of R4.1 alpha and may be having the same problem, here is my experience:

After successfully installing with dom0 kernel 5.8.5, kernel updates only worked until 5.8.16-200. Everything after that was coming down as 5.9, 5.10 and 5.11 and failing to boot (with the "not an ELF binary" error msg)... I was stuck on kernel 5.8.16.

Catching up with this issue,

[2021-04-27 22:21] Rspigler commented on #4318
That would be awesome.

From talking on #talos-workstation I believe it is

Interesting...definitely above my paygrade.  And if so I think we could probably all agree it would be secondary to this initial porting effort? Unless perhaps doing so would require duplicate work?

[2021-04-28 02:58] #6546 closed

[2021-04-28 04:13] #3795 closed

[2021-04-28 04:28] andrewdavidwong commented on #3795
@SvenSemmler: FYI, the HCL tables now support sorting by column. I found and fixed a couple entries that contain superfluous single quotation marks, which broke this sorting (https://github.com/QubesOS/qubes-hcl/commit/e6824dff0afffaae854fa72d0f0d873cab70719b). Just wanted to alert you to this for future HCL reports.

[2021-04-28 05:07] DemiMarie commented on #6025
Update:

- The bug **is not** fixed on 5.11.12.
- The bug **is** graphics-related.  If I pass `vga=keep` to Xen and `console=hvc0` to dom0, I am able to boot to a text-mode session.  Disks are successfully decrypted (after I enter my passphrase), and `sys-usb` starts successfully.
- The bug **is not** due to Haswell issues, as I am on Kaby Lake.

[2021-04-28 12:50] jpds opened #6565 "CFI enabled kernels"
**Describe the solution you'd like**

Qubes should enable CFI for the Linux kernels used in the dom0 and of course the domUs.

Relevant literature:

- https://lwn.net/Articles/810077/
- https://www.phoronix.com/scan.php?page=news_item&px=Clang-CFI-Linux-Patches
- https://lore.kernel.org/lkml/20210312004919.669614-1-samitolvanen@google.com/
- https://outflux.net/slides/2020/lss/cfi.pdf
- https://an

[2021-04-28 13:35] h01ger commented on #6565
On Wed, Apr 28, 2021 at 05:50:30AM -0700, Jonathan Davies wrote:

do you happen to know why it's not enabled by default in Debian, Ubuntu, Fedora,
SuSE or Archlinux kernels? Or is it?

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁  holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀  OpenPGP: B8BF54137B09D35CF026FE9D 091AB856069AAA1C
 ⠈⠳⣄

Try to imagine a future where paying for your morning coff

[2021-04-28 13:36] jpds commented on #6565
@h01ger The patches are just landing in Linux itself, but I filed this as more of a tracking bug.

[2021-04-28 14:02] h01ger commented on #6565
On Wed, Apr 28, 2021 at 06:36:24AM -0700, Jonathan Davies wrote:

ah, thanks!

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁  holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀  OpenPGP: B8BF54137B09D35CF026FE9D 091AB856069AAA1C
 ⠈⠳⣄

[2021-04-28 14:09] marmarek commented on #6565
This also requires Xen to expose appropriate features to VMs. This is
in very early stage: ***@***.***/T/#t

[2021-04-28 19:12] hbswn commented on #4054
@ nil0x42

Thanks for this solution !

Apparently the issue still persists.
Maybe difficult to get rid of `--persistent` options ;-)

Anyway, not a big deal if you know what to edit.

Hans

[2021-04-28 19:13] adrelanos opened #6566 "(Re)move Debian packages in `packages.list` and `packages_minimal.list`"
What's the purpose of these files?

Why are some packages installed there?

* https://github.com/QubesOS/qubes-builder-debian/blob/master/template_debian/packages.list
* https://github.com/QubesOS/qubes-builder-debian/blob/master/template_debian/packages_minimal.list

full list:

[code]

For example, having `wpasupplicant` there seems most obviously unnecessary. That results in the Whonix template

[2021-04-28 20:56] fepitre opened #6567 "openSUSE template"
Tasks:
- [ ] build all packages
- [ ] build the template
- [ ] document
- [ ] upload to testing repo
- [ ] migrate to stable repo
- [ ] announce

If any issue affects openSUSE template (build failures, things that worked fine before etc), please add reference to this issue too.

cc @marmarek

[2021-04-28 21:18] DemiMarie opened #6568 "Fedora 34 template"
**The problem you're addressing (if any)**
Fedora 34 is out :smile:

**Describe the solution you'd like**
We should have a Fedora 34 template.

**Where is the value to a user, and who might that user be?**
Users of the Fedora template who prefer to upgrade their templates by reinstalling will have a new template to upgrade to.

Tasks:
- [x] build all packages
- [x] build the template
- [x] documen

[2021-04-28 21:24] fepitre commented on #6568
Yes! Normally all has been fixed already for Fedora 34! I've used it as AppVM one month ago. @marmarek needs to build the packages now!

[2021-04-28 21:26] fepitre commented on #6568
@DemiMarie @marmarek I've updated description for the common format we use for tracking such issue.

[2021-04-28 21:32] jsbmg commented on #5823
Having this issue as well, what worked for me was using a different USB mouse. Turns out a wireless Microsoft mouse was giving me the problem, and after swapping to a Logitech wired model, everything seems to be working fine again...

[2021-04-28 23:02] neowutran commented on #6346
To simulate the issue you can run ``/usr/bin/qubes-desktop-run /usr/share/applications/org.gnome.Nautilus.desktop``, the process stop when the "evince" / "gedit" is killed.
It come from qubesagent/xdg.py:

https://github.com/QubesOS/qubes-core-agent-linux/blob/master/qubesagent/xdg.py#L96
https://github.com/QubesOS/qubes-core-agent-linux/blob/master/qubesagent/xdg.py#L71

(never done any dbus rela

[2021-04-28 23:14] marmarek commented on #6346
This looks like the right fix! Can you submit it as a pull request?

[2021-04-29 02:07] andrewdavidwong commented on #6568
Will this be for both 4.0 and 4.1 or only 4.1?

[2021-04-29 03:53] iamahuman commented on #6547
GUI VMs would make a multiuser system more feasible. Such system can be implemented with per-user GUI VMs and video card access arbitration, accompanied by access restrictions imposed by Admin APIs. See https://groups.google.com/g/qubes-devel/c/f2gDpXE3NJ8.

Meanwhile implementing nested virtualization is an upstream issue, and utilizing it would likely only increase the attack surface (#4104).

[2021-04-29 04:06] andrewdavidwong commented on #2639
I'm still seeing the Qubes documentation in a mixed state: some hard wrapped lines, some unwrapped, sometimes even in the same document! I'm surprised this hasn't come up in any localization discussions outside of this issue. Is it not really a problem for localization?

@tokideveloper, you've been doing great work with converting our reference-style links. Perhaps this might be a similar type of

[2021-04-29 07:45] ydirson commented on #6538
This does not have any visible effect.

At least 4.0.4 allows me to use qubes and I don't have any pressing need for 4.1 :)

[2021-04-29 09:53] EncryptedGiraffe commented on #6495
A bit of an update, I've realized that this also occurs with disposable VMs, if I create one based off a template, so it's called dispxxxx, then select it in the qube manager, then shutdown the qube, the manager crashes as well. So the issue isn't just deleting qubes, maybe just anytime the currently selected qube is removed?

Going back to the original issue, I've attached the `journalctl -r` out

[2021-04-29 11:47] gnorsilva commented on #4035
I'm still experiencing this issue using the camera `Logitech C270`, with the same error logs as shown in https://github.com/QubesOS/qubes-issues/issues/4035#issuecomment-807801920

Increasing the memory for `sys-usb` made no difference (I stopped at 3gb)

I managed to find a work around using `ffmpeg` and [v4l2loopback](https://github.com/umlaeute/v4l2loopback):

- install `ffmpeg` both on `sys-us

[2021-04-29 13:03] pietrushnic commented on #4035
This is project that potentially can solve those issues: https://github.com/elliotkillick/qubes-video-companion

[2021-04-29 14:06] ydirson commented on #5609
I'm hit by this with 4.0.4.

[2021-04-29 14:07] adrelanos commented on #6525
Unfortunately, unlikely. While people contribute all sorts of stuff, nobody has ever shown interest to contribute to that component although it being listed here as "looking for contributor" for a long time:
https://www.whonix.org/wiki/Contribute#Contributor_List

[2021-04-29 14:18] unman opened #6569 "Incorrect qrexec policy handling"
**Qubes OS version**

R4.0 updated

**Affected component(s) or functionality**

qrexec policy

**Brief summary**

Policy parsing process unclear - policy is affected by later rules, despite matching earlier rule.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Edit (e.g) qubes.OpenInVM to include these rules:
[code]

2. In `qube`, attempt `qvm-open-in-dvm`

**Exp

[2021-04-29 14:27] unman commented on #6566
We could move those to "vm-recommended" where the networking stuff is included.
I dont think the rest are candidates for removal, but I'll check.

[2021-04-29 14:28] marmarek commented on #6569
Make sure there is no syntax error in the policy file. A syntax error anywhere in the file results in an instant reject.
If that's the case, check `journalctl` in dom0.

[2021-04-29 14:49] unman commented on #6569
Hm yes - I'd changed `ask` to `allow` in testing, but kept `default_target` instead of `target`.
Commenting out the first  `ask` line, and keeping the `allow` results in ` request refused` although there is not `deny` rule at all. journalctl has `invalid target` and indeed I had renamed the base for the disposableVM.

Not a syntax error but a brain error.

[2021-04-29 14:49] #6569 closed

[2021-04-29 15:04] mfc commented on #6525
two days ago Tails completed writing a Tor Launcher replacement called Tor Connection Assistant, to be included in the next release:
https://gitlab.tails.boum.org/tails/tails/-/issues/17215
https://gitlab.tails.boum.org/tails/tails/-/merge_requests/375

might be worth checking out (I haven't tried it yet)

[2021-04-29 16:33] kees commented on #6565
Short version: CFI requires Clang, and most distro kernel builds are still very closely tied to GCC. (Also the x86 CFI is still under development, the current series is arm64 only.)

[2021-04-29 16:52] qtpies opened #6570 "iwd does not work after waking from suspend"
**Qubes OS version**
4.0

**Affected component(s) or functionality**
Wifi, when replacing wpa_supplicant with iwd

**Brief summary**
[source](https://iwd.wiki.kernel.org/): "iNet Wireless Daemon (iwd) project aims to provide a comprehensive Wi-Fi connectivity solution for Linux based devices. The core goal of the project is to optimize resource utilization: storage, runtime memory and link-time co

[2021-04-29 17:30] cbmiller2610 commented on #5462
@Kenny606 does attaching a USB device to the Windows VM work with your setup? USB is not working for me on 20H2 using the automated QWT installer, but I figure that might be because it's using the older PV drivers.

[2021-04-29 17:43] marmarek commented on #5708
The above linked patch (v2 of it) is included in Linux >= 5.10, >=5.9.12, >=5.4.81. Can somebody it works there?

[2021-04-29 18:04] h01ger commented on #6565
On Thu, Apr 29, 2021 at 09:33:59AM -0700, Kees Cook wrote:

oh, ic & thanks for these details, Kees!

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁  holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀  OpenPGP: B8BF54137B09D35CF026FE9D 091AB856069AAA1C
 ⠈⠳⣄

If secure encryption is outlawed, only criminals will have it.

[2021-04-29 18:12] DemiMarie commented on #6570
Recent Intel and AMD processors (anything supporting Microsoft’s Modern Standby) are not compatible with Qubes OS suspend.

[2021-04-29 18:13] DemiMarie commented on #6565
To add to this: CFI requires LTO, which in turn requires a massive amount of memory (16GiB, IIRC).

[2021-04-29 18:22] marmarek commented on #6570
Based on the description above, the system woke up from the suspend. So, that's a different issue.

[2021-04-29 18:23] DemiMarie commented on #6570
Good point, sorry.  I tried to get iwd to work in sys-net with no success.  @qtpies how did you get iwd to work at all?

[2021-04-29 18:28] joshinsel opened #6571 "Issues with bind-dirs.sh when binds() includes directories or files in /usr in Fedora32 TemplateBasedVM"
**Qubes OS version**

R4.0.4

**Affected component(s) or functionality**

bind-dirs.sh and binds() environmental variable in Fedora32 TemplateBasedVMs

**Brief summary**

I created a file /rw/config/qubes-bind-dirs.d/50_user.conf with full permissions for root in a new Fedora32 TemplateBasedVM. When including a file under /usr/bin in binds, it does not remain persistent after reboots. This occurs

[2021-04-29 18:42] joshinsel commented on #6571
Log file produced by crash after including directory in /usr located here: https://github.com/joshinsel/Qubes-Issue-Logs/blob/master/guest-sys-vpn.log

[2021-04-29 18:45] ninavizz commented on #6560
This is an interesting request, TY for sharing and for the background!

[2021-04-29 18:53] DemiMarie opened #6572 "Allow users to attach arbitrary free-form metadata to qubes for their own use"
**The problem you're addressing (if any)**

I would like for users to be able to attach arbitrary freeform metadata to qubes for their own use.  This metadata is not machine readable, but it should be editable in the GUI, and qubes should be able to be grouped based on it.  Furthermore, it must support fairly arbitrary UTF-8 strings, since users need to be able to set it in their native language.

[2021-04-29 18:54] ninavizz opened #6573 "Conduct survey on App Menu redesign"
## Hello!

As part of #5677 we are conducting user research to learn more about user needs and community desires, for an all-new QubesOS-specific app menu, that @marmarta will begin development work on very soon.

https://survey.qubes-os.org/index.php?r=survey/index&sid=434783&lang=en

I began this project with the first initial survey of QubesOS users, to more broadly learn about user needs... an

[2021-04-29 18:59] ninavizz commented on #5677
Allrightee! We are about to move into user research interviews and screenshare'd observation sessions with folks I will be recruiting from prior participant volunteer pools. To plug the existing QubesOS community, however, I've created an issue here and will be cross-posting to the forums, to ensure all existing QubesOS users have their say as well.

https://survey.qubes-os.org/index.php?r=survey/

[2021-04-29 19:03] ideologysec commented on #1982
So, it is possible to run macOS as a guest with no Metal support - VMware Fusion on macOS runs macOS guests prior to Big Sur unaccelerated; performance is just crap.

Big Sur adds support for guest accelerated graphics, and even prior macOS versions started supporting virtual drivers:

https://www.kraxel.org/blog/2019/06/macos-qemu-guest/

[2021-04-29 19:05] ninavizz commented on #6573
P.S.: Unlike the other "general" survey, this one will only be live for 14 days. FYI.

[2021-04-29 19:06] lucaszanella commented on #1982
@ideologysec does it mean that it's possible to run macOS on KVM with accelerated graphics? How could I do that? I have a linux machine with macOS on KVM and it runs slow because of video performance. Couldn't make an AMD graphics card work in PCI passtrhough.

[2021-04-29 19:06] hbswn commented on #5374
This is, what M meant in his comment: ["currently it fixes an issue on some hardware, but breaks support for others"](https://github.com/QubesOS/qubes-issues/issues/5374#issuecomment-801558858)

Hans

[2021-04-29 19:08] ninavizz commented on #5677
P.S.: Unlike the other "general" survey, this one will only be live for 14 days. FYI. If folks have feedback about the survey itself, pls share that on #6573 . We won't be blasting it on Twitter or the forums, until tomorrow, so that minor changes can be added to it that folks might flag, here. TY all for being a wonderful community to work with!

[2021-04-29 19:10] qtpies commented on #6570
@DemiMarie I found the [original guide](https://blobfolio.com/2019/replacing-wpa-supplicant-with-iwd-in-ubuntu-eoan/) I used. This is written for Ubuntu, but it worked for Fedora.

Additionally (my memory might fail me here) I did:
- `sudo grep -r iwd /etc/` to find any hardcoded iwd references, of which I believe there was only one. It was not relevant for me, so I just commented it out.
- After

[2021-04-29 19:14] ninavizz commented on #1982
LOL @DemiMarie you have figured me out! Yes, a big audible gasp happened once I read this. That said, MacOS is a biggy GPU/CPU/RAM/etc hog... and the graphics programs I work with, are no different. Adobe apps, especially. Still mighty jazzed to see this may happen at some point, though! :)

[2021-04-29 19:22] ninavizz commented on #6572
This reads an awful lot like a follow-up to #6560... may I ask, is it @DemiMarie?

Also: I love this issue so much, just because it proposes a designation for things in the code to be meaningful to human eyes, only. <3

[2021-04-29 19:40] DemiMarie commented on #6572
No, but it is a follow-up to #6555 and thus to #2949.

Thank you <3

In practice, such features will likely wind up being base64-encoded (or otherwise escaped) at some point, so that they can fit within the restrictions imposed by other parts of QubesOS.  Those restrictions are there for legitimate security reasons and I do not want to remove them.  But they will be unescaped in the GUI.

[2021-04-29 20:23] ejose19 commented on #6538
Maybe @marmarek can give some insight on this? Do `noexitboot` & `mapbs` fix no longer applies for `GRUB`?

[2021-04-29 20:25] andrewdavidwong commented on #6572
Related:#952

[2021-04-29 20:26] DemiMarie commented on #1982
I laughed when I saw your reply :rofl:.

Not surprised.  Qubes OS works just fine with most of its CPU and RAM used by a single qube, though.  And I am almost certain that the most powerful Mac has at least twice the CPU and RAM of the least powerful one.

The GPU is going to be the hard part.  I do plan on adding GPU acceleration to Qubes OS at some point in the future, but I currently plan on ru

[2021-04-29 20:30] ideologysec commented on #5374
Interesting. I see the same issue on both the Qubes 4.0.4 and Qubes 4.1-2021-April iso - no change, in other words.

[2021-04-29 20:51] qtpies commented on #6570
With regard to the 'iwd doesn't see hardware': it just happened again, and I checked. In `lspci` the wireless device is visible. In `iwctl` (the controller of `iwd`) is is not. In `iw list` it is **also** not visible. After a reboot of sys-net, the device is visible again in `iw list` and `iwctl`.

`iw` is a lower-level tool than `iwd`. How can removing wpa_supplicant and/or installing iwd cause t

[2021-04-29 20:51] hbswn commented on #5374
Ah, maybe my patch works for you as well ?

But I could boot the new ISOs and it failed on the 4.0.4 version.

I have found one in-between Xen patch ["x86: avoid HPET use on certain Intel platforms"](https://xenbits.xen.org/gitweb/?p=xen.git;a=commit;h=25909056dea63f114a8de6f2e5152f6ea143e7d6), that disables the HPET timer for Coffee Lake systems, but I'd expect it to be in the 4.14+ based Qubes s

[2021-04-29 20:56] Rudd-O commented on #5088
Folks who can review this?

[2021-04-29 21:45] fepitre commented on #5088
@Rudd-O me this week-end :)

[2021-04-29 21:45] Rudd-O commented on #5088
I'll be around.

[2021-04-29 21:52] Rudd-O commented on #6300
I switched to a different video card (AMD), and so far no problems.  I would not call victory yet tho.

[2021-04-29 22:02] Rspigler commented on #6536
This somehow has now resolved itself:

`sudo dnf upgrade --refresh` shows the message "Warning: Enforcing GPG signature check..." for Fedora-33 based Standalone-VM's.

[2021-04-29 22:02] #6536 closed

[2021-04-29 22:04] andrewdavidwong commented on #6573
Feedback:
- The video links should probably open in new tabs so that the user doesn't get a form resubmission error when trying to navigate back to the survey (if the user didn't force the video link to open in a new tab in the first place).
- The Vimeo video pages are blank for me. Might be due to ad blocking.
- In general, the name should be written as "Qubes OS" (with a space). It's only "Qubes

[2021-04-29 22:22] ydirson commented on #6538
They don't look like kernel option in the EFISTUB case either.  Some people in https://www.reddit.com/r/Qubes/comments/6f2kuu/tutorial_for_those_having_installationboot/ talk about passing them to grub's `chainloader`, which 4.1 does not use either.

[2021-04-29 23:04] marmarek commented on #6538
Indeed those options do not apply when booting xen.gz (this is called multiboot2 binary). Plus `noexitboot=0 mapbs=0` is equivalent to not specifying those options at all, so adding those would not change anything.

[2021-04-29 23:50] balrog-kun commented on #6570
There's some interface creation/removal dance that IWD does on start.  Since it triggers code paths in drivers that are not used by wpa_supplicant, it sometimes triggers bugs.  You can add the following to your `/etc/iwd/main.conf` to disable that and see if it changes anything...

[code]

[2021-04-30 02:34] kees commented on #6565
Yup, that too, though ThinLTO (the default) should make that WAY better. A reasonably normal kernel config (not, like, allyesconfig) appears to be under 8GiB.

[2021-04-30 02:36] ctrlaltf24 commented on #6572
Good Idea using base64! However, it could still be used as an attack vector; being able to put a binary blob in qubes.xml that is auto-decoded by qubes-manager, or other trusted software is problematic. https://github.com/QubesOS/qubes-issues/issues/899#issuecomment-290866746 .

Auto-decoding base64 in any trusted environment risks breaking the nice property of "The ultimate goal for qvm-backup-re

[2021-04-30 03:05] ninavizz commented on #6573
@andrewdavidwong TY for taking the time to comb through my text, and for the helpful suggestions! I have implemented them all, as well as the updated image links. I also smoothed-out some of the other bits of language that may have sounded too conceptual (Marta cited a few things as strange to her not-English-first brain, and our few user answers so far indicated the same language could be simplif

[2021-04-30 07:31] hbswn commented on #5374
@ideologysec

[LinuxReviews](https://linuxreviews.org/) has a good description of the [High Precision Event Timer (HPET) on Intel Coffee Lake systems](https://linuxreviews.org/Linux_Kernel_Disables_Coffee_Lakes_HPET_On_The_Grounds_That_It_Is_%22Unreliable%22). And [Kernel Bug report 203183](https://bugzilla.kernel.org/show_bug.cgi?id=203183) describes how to reproduce the issue.

On Xen 4.14 (so o

[2021-04-30 09:05] ydirson commented on #4792
Same problem here with r4.0.4, trying to `qubes-dom0-update kernel-latest-5.10.8-1.qubes`: rpm gets downloaded, but does not appear in `dnf list`, which is probably the reason why `dnf install` does not see it.

In my case though, `createrepo /var/lib/qubes/updates/` does not help (`-v` shows it is processing the downloaded rpm, but that does not help to find it).  I had to `dnf install /var/lib/q

[2021-04-30 09:21] GWeck commented on #5462
@cbmiller2610 In my configuration, attaching a USB stick to Windows 10 worked. Configuration:

- Qubes R4.04 fully updated with kernel 5.11.8
- QWT 4.0.1.3 with Xen PV Bus Package 9.0.0.2 and Xen PV Storage Host Adapter 9.0.0.3 installed prior to QWT
- using sys-usb under Fedora 33
- Windows 10 20H2 Professional

Other devices (camera, microphone) cannot be attached in this configuration.

Ih hope

[2021-04-30 09:54] deeplow commented on #6573
Feedback: It's kind of hard to map the text explanations to the visual elements in the menu. I wish before the big table there were two pictures (one for each) where each question would be numbered and the picture would have numbered labels and arrows to the corresponding question number `(1)`.

But making this would probably be a lot of work and LimeSurvey may not support dropping in images like

[2021-04-30 10:10] ydirson commented on #6538
So the boot issue with 4.1 is likely different from the one in 4.0 ?

[2021-04-30 12:17] cbmiller2610 commented on #5462
Thanks! This does help. After doing some more reading it seems that although your use case (flash drive) works, my use case (USB audio) is probably not supported with the Windows Xen PV drivers. See bottom of this page https://wiki.xenproject.org/wiki/Xen_USB_Passthrough. Currently, it seems that the best solution for full USB support in a Windows guest is to pass through the entire USB controller

[2021-04-30 13:41] brendanhoar commented on #5462
I concur. That is what I usually do.

Luckily the laptops I use were older transition-period laptops so they have separate usb 2.0 and usb 3.0 controllers (comes in handy for this issue).

B

[2021-04-30 14:55] qtpies commented on #6570
Thanks¸I tried it, after a susped/wakeup I still have to `systemctl restart iwd` though. That is better than a reboot, but I could be only incidental. What is really needed is more people trying iwd, to rule out issues with my particular hardware or configuration.

[2021-04-30 15:57] 3hhh commented on #2273
Actually pausing a VM is already there. So writing its memory to disk after pausing and back to memory before unpausing should be rather straightforward. I'd imagine this as an optional `qvm-pause` switch. That would be a _very_ nice feature to keep VM state across reboots.

Alternatively one could tell `qmemman` to more aggressively swap out paused VMs (currently it seems to not swap their memory

[2021-04-30 16:10] marmarek commented on #2273
This is very far from true. There is a lot of VM-related state outside of the VM itself. At the very least, all the device (backends) connected to such VM, like disks, network interfaces, etc.

VM can use its own swap (stored in "volatile" volume). When a VM is paused, it doesn't do anything, including swapping. There is no VM swapping at Xen level.

[2021-04-30 17:45] shawnanastasio commented on #4318
Okay, that's good to hear.

Yes, I think it would make the most sense to consider it a secondary goal to the initial porting effort.

[2021-04-30 20:46] ninavizz commented on #6573
@deeplow Lime makes it regrettably difficult. I'll certainly give that a second look tho, as you being a not-English-first human only reitterates the urgency of that. @marmarta initially flagged a concern to me that my written delineation of features felt a bit vaguesauce to her... and her grasp of language is pretty phenomenal. But, she comes to English as a Slavic-native speaker.

[2021-04-30 20:55] Rspigler commented on #4318
Agreed, thank you all! :rocket:

[2021-04-30 21:08] hbswn commented on #2841
The [Xen 4.8 Hypervisor Command Line Options](https://xenbits.xen.org/docs/4.8-testing/misc/xen-command-line.html) document already states:

Xen 4.8 is the version used by the stable Qubes 4.0.4.

I've removed it and it did not make any difference on my Intel NUC10i3FNK.

But I need a patch on 4.0.4 to prevent [Xen causes kernel panic during install - USB boot
#5374](https://github.com/QubesOS/qub

[2021-04-30 21:22] hbswn commented on #2841
Another _Linux kernel_ option, at least for Intel hardware, is `intel_iommu=on`

On my NUC10i3FNK it adds one log line to my `dmesg` output:

The [Linux kernel documentation on IOMMU](https://www.kernel.org/doc/Documentation/Intel-IOMMU.txt) says:

[2021-04-30 22:31] ninavizz commented on #6573
Hey @deeplow! Thanks again for the comment and suggestion. I revisited it... and after some thought, decided not to do pictures. Honestly, if something did not make a strong impression with folks, I'm ok with not getting their feedback on a detail. The objective with that question, is purely to get a measure on things folks had extreme feels around—one way or another.

No design solution will ever

[2021-04-30 22:38] SvenSemmler commented on #6008
Yes, although one has to allow JavaScript (has always been the case).

Yes, please. This option also works without any scripting enabled (much
preferred).

[2021-04-30 22:50] SvenSemmler commented on #1121
Very good idea!

Me too, in addition I have set the respective policies (OpenURL and
OpenInVM) to 'ask' which allows me to always choose:

URLs:

- open in online dvm (aka clearnet)
- open in tor dvm (i.e. whonix)
- open in already existing dispVM ("disp1234")
- open in specialized qube (i.e. the one where I'm logged into GitHub)

VMs:

- open in offline dvm
- open in already existing dispVM ("dis

[2021-05-01 04:03] SvenSemmler commented on #3795
Seen it today: awesome!

Thank you!

I'll clean up the entire HCL base and prepare a PR. Unfortunately I
somehow lost (almost) all rights on GitHub. Once more I can't see the
error logs and can't even 'testdeploy'

For this task both would be very useful.

[2021-05-01 08:05] straussmaus commented on #6563
@rustybird I don't remember for sure in that level of detail but this is very possibly the exact way it happened.

Yes I think this answers the issue, and helps reassure me that I am not in the Twilight Zone.

I am closing this issue as @marmarek's comment says that this is being addressed.

[2021-05-01 08:40] adrelanos commented on #6525
It's integrated in the Tails code base. Using it standalone outside of Tails might require significant work. Would be a software fork.

[2021-05-01 08:59] GWeck commented on #5462
@cbmiller2610 Audio is somewhat supported und Qubes R4.1, but otherwise, Windows support still has some problems there. See [Testing Windows and QWT in R4.1](https://qubes-os.discourse.group/t/testing-windows-and-qwt-in-r4-1/1143).

[2021-05-01 10:37] 3hhh commented on #2273
True, but I'd just drop those after a reboot that were dynamically attached / weren't serialized inside `qubes.xml` and re-use the existing VM bootstrapping code. Possibly the user physically disconnected the dynamically attached devices anyway.

In a later version, it might make sense to look at these as well and attach them, if they are still there after a reboot.

Thanks for explaining!

So rea

[2021-05-01 10:42] neowutran commented on #1121
If the offline disposable vm is added by default it will be great to also have specific qubes-rpc policy settings for it.
To deny any qubes-related way to access network, ex: ``qvm-run-vm --dispvm curl https://neowutran.ovh`` and others.

[2021-05-01 11:19] andrewdavidwong commented on #3795
@fepitre, might you be able to help with this?

[2021-05-01 11:24] GWeck commented on #5976
The Qubes Grundschutz module now has finally been published by the German BSI, as a user-defined module. You can find it at [Benutzerdefinierter Baustein Clients unter Qubes OS](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Grundschutz/IT-Grundschutz-Modernisierung/Benutzerdefinierte_BS/BS_Clients_unter_Qubes_OS_EN.html?nn=128460). The German version is located at [Benutzerdefinierter Bauste

[2021-05-01 12:01] arkenoi commented on #1962
what about split-pkcs11?

[2021-05-01 12:16] Ark-of-the-copepod commented on #6496
I'd like to second this issue.

-select multiple images
-left click -> convert to trusted image
-a succession of dialog boxes pop-up, stealing focus from whatever else you are working on, no matter what qube or workspace.

In addition, the flurry of system notices about the disp-vms (e.g. "disp1234 is starting up...) is bloody annoying. Could they be suppressed in future? Make the whole process tr

[2021-05-01 14:37] Ark-of-the-copepod opened #6574 "No documentation of "trusted image/pdf" features"
**Qubes OS version**
4

**Affected component(s) or functionality**

Documentation

**Brief summary**

I can't find documentation of "trusted images". I fail to bring up useful hits on DDG, e.g. searches return no useful results:
- "qubes" + "trusted image"
- "trusted image" site:https://www.qubes-os.org
- "trusted pdf" site:https://www.qubes-os.org

**How Reproducible**

n/a

**To Reproduce**

Ste

[2021-05-01 16:32] anthonyjmartinez opened #6575 "Fedora 33 template install fails"
**Qubes OS version**
Qubes release 4.0 (R4.0)

**Affected component(s) or functionality**
Template installation

**Brief summary**
qubes-dom0-update qubes-template-fedora-33 fails with root.img extraction failed.

**How Reproducible**
100% (4/4 attempts)

**To Reproduce**

Steps to reproduce the behavior:
1. Boot
2. Open dom0 terminal
3. sudo qubes-dom0-update qubes-template-fedora-33

**Expected

[2021-05-01 18:16] fepitre commented on #6575
I would suggest you to:

[code]

What Qubes setup do you use in terms of partitioning ? You say that you have 300 GB free on dom0 but this is not necessary what's important. In case of LVM, what is your LVM pool remaining size?

[2021-05-01 18:36] anthonyjmartinez commented on #6575
I’ll try the clean and install again. For now all my templates were manually updated and a backup is under way.

Next week I will have a clean install I can test on as well.

On Sat, May 1, 2021 at 20:16, Frédéric Pierret ***@***.***> wrote:

[2021-05-01 21:02] mallorybowes commented on #6447
I'm having the same issue and I'm using a Lenovo T460s (20F9004FUS) that I picked off the Qubes HCL as one of the models that seemed to have full support.  As referenced [here](https://qubes-os.discourse.group/t/installation-stuck-at-attached-scsi-removable-disk-then-goes-into-dracut-timeout/3842/2), it looks like the internal NVME SSD isn't coming up as being recognized in the SCSI chain.  (The U

[2021-05-02 01:22] #6514 closed

[2021-05-02 11:52] 3hhh opened #6576 "Segregation of duty for arbitrary applications"
**The problem you're addressing (if any)**

Applications must be adapted to Qubes OS in order to use its "segregation of duty" model.

Examples: `split-ssh`, `thunderbird` add-on, `qubes-tunnel`, ...

**Describe the solution you'd like**

When I decide that some parts of an arbitrary application (that wasn't explicitly designed for Qubes OS) should be executed inside a different VM, I can configur

[2021-05-02 15:03] rustybird commented on #6563
Please reopen - it's a data loss bug that should be tracked.

The PR from https://github.com/QubesOS/qubes-issues/issues/6563#issuecomment-827581814 might still take a while and anyway it would only be a partial fix, see https://github.com/QubesOS/qubes-issues/issues/6563#issuecomment-827626586

I'm thinking `is_dirty` could be added to the `admin.vm.volume.Info` output, exposed in qubesadmin, and

[2021-05-02 17:58] ctrlaltf24 commented on #6574
The first result on duckduckgo for `"Qubes" trusted pdf` yields the original blog post detailing the new feature in layman terms https://blog.invisiblethings.org/2013/02/21/converting-untrusted-pdfs-into-trusted.html , additionally the readme of the repo itself https://github.com/QubesOS/qubes-app-linux-pdf-converter has a brief description. However it was missing from the docs for some of the oth

[2021-05-02 18:36] ctrlaltf24 commented on #6575
qubes-template-fedora-33-4.0.6-202102262008.noarch installed fine on my machine.

[2021-05-02 21:25] jpouellet commented on #5677
First of all, thank everyone (especially @ninavizz) for your efforts
here! This is much appreciated, and the below is intended to be purely
constructive.

Nina Eleanor Alter ***@***.***> wrote:

I filled out the survey, and hope the easily-quantifiable results are
useful, but am also about to intentionally disregard the above and
leave feedback here instead, since:
1. I didn't feel like "love / li

[2021-05-02 21:25] jpouellet commented on #6573
I have no doubt that surveys are very useful, and that collecting
private feedback is also useful, but I also know from direct
experience that it is very useful to be able to answer questions of
the form "what information was considered as the basis for X decision
with Y outcome?" by consulting public discussion archives. Answers of
the form "because private information you don't have access to
in

[2021-05-02 21:27] jpouellet commented on #6573
I forgot that github treats --- as a signature separator (and hides
it) and instead of <hr> when commenting via email. Rest duplicated
below:

Additional feedback which was more regarding the survey itself than
the app menu designs, which I figured more appropriate to leave here
rather than in #5677:

There were a couple questions regarding aspects which I truthfully did
not notice in the videos,

[2021-05-02 21:28] jpouellet commented on #5677
I forgot that github treats --- as a signature separator instead of
<hr> when commenting via email. Rest duplicated below:

Another thing worth considering, unrelated to any of the questions in
the survey, is whether and to what extent it may be worth prioritizing
the ability for users to minimize visually-apparent metadata within
the menu.

The Q menu is currently one of the largest visual leaker

[2021-05-02 21:50] mallorybowes commented on #6447
Ok, some more updates on what I've tried:

- Following [these](https://github.com/QubesOS/qubes-issues/issues/2381#issuecomment-294405605) instructions, I tried to install that known working version of Qubes.  I was still getting the dracut timeout and couldn't use the procedure.
- I dl'd 3.2, 4.0 (v4.0 was the known working for the T460s on the HCL), 4.0.3, 4.0.4, and 4.1 alpha and tried them all

[2021-05-02 21:53] deeplow commented on #6573
I do not agree with your assertion. Nothing is preventing people like you from giving feedback publicly. Privacy has a big impact on usability surveys and what matters is the aggregate results, and the conclusions taken. Most are only genuine under the condition of anonymity. Anything else is adding complexity and unnecessary scrutiny to what is already an established practice. User-selectable cho

[2021-05-03 01:26] jpouellet commented on #6573
deeplow wrote:

Sure, but I certainly wouldn't expect any statistically meaningful
sample to do so, given that it isn't suggested or recommended or in
any meaningful way visible. Such is the nature of the survey.

I'm certainly *not* advocating for the removal of a way to anonymously
provide feedback, or even for that to be the default.

I certainly would not want to exclude users with the most se

[2021-05-03 02:38] mallorybowes commented on #6447
Ok, I'm an idiot...  It has to do with the USB creation.  The process I was using to create the USB from the ISO was the issue.  (I was using WoeUSB on another machine to create the boot device.  I saw problematic block reads coming from the USB device while loading other Linux distros so I was like, well, it's a cheap USB that's failed so I'll use another.  Same errors on the next one.  And on th

[2021-05-03 06:14] iamahuman commented on #6576
This is more of a reseach subject on virtualization/compartmentalization in general, and such solution's impact would likely be industry-wide. Would definitely need some sort of standardization or funding.

[2021-05-03 06:31] Ark-of-the-copepod commented on #6574
8 year old posts from dormant blogs are not always helpful. They can be dated and advise things that are ineffective, confusing or dangerous. That post was nicely written but long and was written during Qubes 1.0. I skipped it on purpose. This shouldn't be relied on for users, especially 'new entrants'.

The Github page is good but brief. I did not think to look there. However, search returns pdf-

[2021-05-03 06:35] Ark-of-the-copepod commented on #6574
To be clear on what I would find helpful:
-

- explanation of the principle (short)
- quick reference: a table comparison of properties, pdf-untrusted v. pdf-trusted, jpg-untrusted v. image-trusted
- longer explanation, e.g. original post, reviewed.

[2021-05-03 08:44] h01ger commented on #6573
hi,

as a data point: I wanted to participate in the survey, even though I'm a
"weird" i3 user which almost exclusivly starts apps by pressing shift-enter
and then typing the vm name to launch a terminal there (and another combination
to start browsers), so I opened the survey, saw that I need to watch videos to
particite and closed the survey.

I'm the type of user who given the choice between re

[2021-05-03 10:14] fepitre commented on #5088
@Rudd-O I would propose several updates, probably in form of PR. Before that, It would be great if you can adjust branches in the following way:

- Dedicated R4.0 branch named as: `release4.0`
- Master branch currently following only R4.1 developments and no specific `r4.1`/`release4.1` as R4.1 is not released.

More generally, we try to make the code common as possible for all releases and we div

[2021-05-03 13:00] abeluck opened #6577 "fedora-32 template vm fails to update"
**Qubes OS version**

4.0 R.4.0

**Affected component(s) or functionality**
fedora-32 template vm upgrade

**Brief summary**
The vm fails to upgrade. I haven't installed any extra repos.

[code]

**How Reproducible**

`$ sudo dnf upgrade --refresh`

**To Reproduce**

Steps to reproduce the behavior:
1. Try to upgrade the fedora-32 template vm

**Additional context**

This VM has been updating for

[2021-05-03 14:16] fepitre commented on #6568
Sorry @andrewdavidwong I've literally forgot to answer you. Yes it would be for both but I don't have tested it under R4.0 (yet).

[2021-05-03 14:17] deeplow commented on #2813
This seems to have not been resolved in `debian-10` (or perhaps there was a regression?)

![gnome](https://user-images.githubusercontent.com/47065258/116887783-37c95280-ac1a-11eb-869e-e8ec80100413.png)

I have checked with fedora-33 and there it the window controls are hidden. Furthermore, a user is reporting this is [not present in debian-10 minimal](https://qubes-os.discourse.group/t/how-to-remo

[2021-05-03 14:51] fepitre commented on #5088
@Rudd-O Here is my review/improvements: https://github.com/fepitre/qubes-network-server/commits/r4.1-improvements. Do you mind to check if there would be any break or such? According to my previous answer, this should be the master branch of the component.

[2021-05-03 16:04] unman commented on #6573
On Mon, May 03, 2021 at 01:45:18AM -0700, Holger Levsen wrote:

Thank you Holger. I second this, although, of course, visually impaired
users will be unlikely to have opinions either way, unless one or other
menus has been designed with them in mind.

I have received many reports from Tor users that they are unable to
participate. Again, I think this sends the wrong message.

[2021-05-03 17:03] marmarek commented on #6562
The above change indeed workaround the issue, but the real problem is on the sending side:
https://github.com/QubesOS/qubes-core-agent-linux/blob/master/qubes-rpc/qvm-open-in-vm#L51
[code]

Here, the client side of the call is `/bin/echo`, which ends as soon as it prints the URL to open. Especially, it doesn't wait for the web browser to terminate (by waiting for EOF). This means, writing to such

[2021-05-03 17:22] deeplow opened #6578 "Docs: broken "edit this page" link (because of translations)"
**Qubes OS version**

Affects the website

**Affected component(s) or functionality**

qubesos.github.io

**Brief summary**

"edit this page" link is broken

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. visit https://www.qubes-os.org/support/
2. click on "Edit This Page" on the sidebar

**Expected behavior**

link to https://github.com/QubesOS/qubes-doc/edit/ma

[2021-05-03 17:23] deeplow commented on #6578
My hypothesis is that the issue lies on the "edit this page" being set to edit the translated page. However, there should be an "if" for when the user is in the canonical website (english)

[2021-05-03 17:37] fepitre commented on #5088
@marmarek I would also vote for renaming this into the service name itself: `qubes-routing-manager`. The current name is too context wide and in my opinion misleading.

[2021-05-03 17:55] tokideveloper commented on #6578
There is an "if" but the condition is wrong. I'll fix that.

Thanks for finding it!

[2021-05-03 18:41] ctrlaltf24 commented on #6577
This doesn't appear to be an issue with qubes, but an issue with fedora. Specifically rpmfusion is missing a GPG key.

You should ask on the fedora forums for support. Here are some links that should help you, beyond that contact fedora for further support.
- https://ask.fedoraproject.org/t/cant-upgrade-fedora-31-due-to-rpmfusion-nonfree-key-problem/7786
- https://rpmfusion.org/keys to download th

[2021-05-03 19:34] ninavizz commented on #6573
Hi All:
1. @h01ger Uugh. Excluding blind users ≠ ok. Ever. Even when their input is not sought. Exclusion just sucks. That said, accessibility and full ARIA support for the new app menu, are priorities—as is keyboard usability. I should make it a point to just say that somewhere, and to separately solicit input from blind users about what they might desire from an app menu. TY for this flag!

2. "

[2021-05-03 19:35] DevoUraq opened #6579 "Failed to install networking driver: Alfa AWUS036ACH ]"
Hello Everyone…
Iam looking To install The RTL8812AU Driver In qube
Iam Using Sys-net (As Sys-usb) i can see The Alfa in
(lsusb in sys-net) And In (Qvm-usb)  So I try To install it in fedora 32 using this command:-
Git clone https://github.com/aircrack-ng/rtl8812au
Then Make && make install
Reboot The Pc but I can't start fedora 32 Or sys-net because it based on iT (GOT Error)

So i did A Clean In

[2021-05-03 20:04] ninavizz commented on #6573
(...also: I am now thinking to do an FAQ page to publish somewhere, to publicly answer some of the above. I will work on composing something tonight, and sending it to Andrew to post on the website, unless there is strong pushback in comments, below. No, unfortunately I don't have the time to do an extensively iterative piece with lots of community feedback, as I also need to do billable work. Yes

[2021-05-03 20:15] ninavizz commented on #6573
@unman What are desirable video formats, for security? I just uploaded `.mov` files to my GDrive for @andrewdavidwong to put on the Qubes website server, but then realized that format might not work in an HTML5 embed.

Or, perhaps more broadly—what is the best way to get Tor users videos?

Yes, for user research best-practices reasons, I need folks to answer a bunch of questions _to the best of th

[2021-05-03 20:37] ninavizz commented on #6573
@h01ger @unman The "Meet Bessie & Jackie" page on the live survey has been updated, to speak to both our Tor and our visually impaired users. Thank you both, again, for those flags. I also, honestly assumed that Tor users could "just go use clearnet if we say it's gonna be safe, yeesh;" which in hindsight was naive and presumptuous.

[2021-05-03 20:40] DemiMarie commented on #6573
WebM is probably the best option, as it is royalty-free and so is supported by browsers that don’t include H264 decoders.

The most important part is probably testing the site in Tor Browser.  I can think of three major problems that Tor users are likely to face:

1. Many sites block Tor, as Tor traffic is very hard to monetize and often malicious.  Others will require a CAPTCHA, which is bad.  Vi

[2021-05-03 20:58] ninavizz commented on #6573
@DemiMarie The speed thing is a problem... as I can't make the videos "small," as users need to recognize legible text elements in them. Would MPEG4s be ok? I've never heard of WebM.

@jpouellet Actually, I replicated the privacy disclosure from the last survey. I am a UX practitioner—a designer and a researcher—this is all I do. Prior UX decisions were made by developers. I trust developers to do

[2021-05-03 21:09] ninavizz commented on #6573
@DemiMarie n/m the above, I found a good conversion tool and am converting them right now! :)

[2021-05-03 21:56] ninavizz commented on #5677
@jpouellet I appreciate the desire for everything to be open. However, the scope of this project is incredibly narrow, as the funding is incredibly minimal. Completely open UX efforts require many hours of planning and moderation. Baby steps. Written text discussions as developers do on GitHub, also just doesn't work in design. For a lot of reasons. Open design has its own practices and they are v

[2021-05-03 22:21] marmarek commented on #4887
This is related to https://github.com/QubesOS/qubes-issues/issues/2853, but also should be significantly improved already by https://github.com/QubesOS/qubes-linux-utils/pull/62 and https://github.com/QubesOS/qubes-core-agent-linux/pull/258

[2021-05-03 23:36] andrewdavidwong commented on #6579
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-05-03 23:36] #6579 closed

[2021-05-04 00:14] h01ger commented on #6573
it still starts with a video...that's where I stop participating, sorry.

https://survey.qubes-os.org/index.php?r=survey/index&sid=434783&lang=en

[2021-05-04 00:38] ninavizz commented on #6573
@h01ger
1. I never claimed to have the time to make changes to the video part of the survey, immediately. I expect they'll be done by sometime tomorrow or the following day, as I need Andrew to push the videos to the qubes server for me.
2. i3 users are not "weird," just not the primary users this work is targeting. Much as I'd still like i3 users to want to use what gets built as the result of th

[2021-05-04 01:13] andrewdavidwong commented on #6573
I'm not sure if GitHub will allow us to commit such large files, but I'm willing to try (once given video files with which to try).

FWIW, I just tested, and Tor Browser on the "Standard" security level allows me to watch the Vimeo survey videos, as well as arbitrary YouTube videos (both without CAPTCHAs, though that might just be by luck of the exit node).

[2021-05-04 01:28] ninavizz commented on #6573
omg! the video sizes are like... massively slashed when converted to `WebM` whee! They're only 17mb and 20mb apiece, now, @andrewdavidwong. Uploading them to [my GDrive](https://drive.google.com/drive/folders/1t2bILfqz_GkNEUYrESEpxDG6HY2wQ1e2?usp=sharing) on my slow-poke satellite internet, will take another few minutes.

[2021-05-04 01:47] andrewdavidwong commented on #6573
Should be fine, then. The GitHub commit file size limit seems to be 100 MB.

No problem. Let me know.

[2021-05-04 01:51] andrewdavidwong commented on #6573
To be clear, the place I'd be storing these files is here: https://github.com/QubesOS/qubes-attachment/tree/master/survey

This results in public URLs under the qubes-os.org domain, which is presumably what you want. However, this is *not* the same server where LimeSurvey is actually hosted. IIRC, the latter is a server under @marmarek's control. I'm not sure if that matters to you or @marmarek; j

[2021-05-04 01:57] marmarek commented on #5685
Note to self: adjust for https://github.com/QubesOS/qubes-issues/issues/3149

[2021-05-04 02:04] ninavizz commented on #6573
@andrewdavidwong They're both up on my GDrive, now. I only care about users taking the survey trusting where the videos "live." My very un-educated guess is that anything mapping to a GitHub server could be bad, and that properly storing them on the same server as where the survey itself, lives, would be best?

Making things extra special... Lime does allow me to "upload" things via its admin UI,

[2021-05-04 02:09] andrewdavidwong commented on #6573
FWIW, the whole qubes-os.org website is hosted this way (i.e., from GitHub servers), which is why we have this FAQ entry: ["Should I trust this website?'](https://www.qubes-os.org/faq/#should-i-trust-this-website)

Here are the two images used in the survey, if you also want to move those to the LimeSurvey server:

https://raw.githubusercontent.com/QubesOS/qubes-attachment/master/survey/bessie.png

[2021-05-04 03:30] DemiMarie opened #6580 "Salt doesn’t work on Fedora templates"
**Qubes OS version**

`Qubes release 4.0 (R4.0)`

**Affected component(s) or functionality**

`mgmt-salt`

**Brief summary**

All attempts to invoke `state.highstate` on Fedora qubes fail with an error message about rendering top files.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Upgrade Fedora qube to the latest version, enabling `updates-testing` for securi

[2021-05-04 04:24] jpouellet commented on #6573
@ninavizz: I think we may have gotten off on the wrong foot due to missing
context.

At the time of posting, I was not aware that this is funded work (implying
a fixed timeline and defined scope that are totally sensible to want to
stick to). The word "fund" only appeared once between the two issues (here
and #5677) up to the point of my comments, in a comment of yours back in
March. It is clear w

[2021-05-04 05:26] ninavizz commented on #6573
@jpouellet It's actually helpful for me to hear that "Funded" and "Funded within constraints" are helpful information to hear for delivering feedback in GH issues—as, yes, much else here is done on pure volunteer terms. My apologies for not having more made that clearer as a boundary around timing and scope, earlier on. Do know, however, that raising the bar on community involvement with UX stuff

[2021-05-04 05:44] andrewdavidwong commented on #6578
Fixed by https://github.com/QubesOS/qubesos.github.io/pull/167

[2021-05-04 05:44] #6578 closed

[2021-05-04 05:47] andrewdavidwong commented on #6573
I just requested access to your GDrive files, @ninavizz.

[2021-05-04 05:49] andrewdavidwong commented on #6573
Wait, there's two `tour-jackie.webm` files. Shouldn't one of them be Bessie?

[2021-05-04 05:49] ninavizz commented on #6573
@andrewdavidwong Sorry 'bout that! Access granted.

[2021-05-04 05:52] andrewdavidwong commented on #6573
I'm able to see which is which from playing them. Will correct filename before committing.

[2021-05-04 05:56] ninavizz commented on #6573
@andrewdavidwong Apologies for that, you are awesome—thank you!!

[2021-05-04 05:57] andrewdavidwong commented on #6573
No problem. They're now available at these URLs, @ninavizz:

https://www.qubes-os.org/attachment/survey/tour-bessie.webm
https://www.qubes-os.org/attachment/survey/tour-jackie.webm

[2021-05-04 07:05] deeplow commented on #2813
Sven (in the forum [may have found a solution](https://qubes-os.discourse.group/t/how-to-remove-nautilus-extra-button-in-fedora-minimal/3904/7)). I'll quote bellow.

just made a clone and installed gnome-settings-daemon and the X is gone.

[2021-05-04 08:03] fepitre commented on #5685
Note: handle i3lock/kscreenlocker

[2021-05-04 08:06] ninavizz commented on #6573
Ok. I've made a copy of the original survey, and made a number of changes—namely, to more elegantly include users requiring assistive devices, and to also provide an option for users unable to view videos. Please give this a spin and let me know what you all think? @marmarta @deeplow @h01ger @andrewdavidwong https://survey.qubes-os.org/index.php?r=survey/index&sid=129726&lang=en

I cannot, unfortu

[2021-05-04 09:05] maiska commented on #2639
Hello @andrewdavidwong,

do you think it is worth it, since the policy is: accept anything? Are there anywhere some recommendations for writing docs, or best practices? Or you want have a consistent baseline and see from there?
About localization or translation on Transifex it seems not to be an issue, see both files with wrapped/unwrapped lines as in `introduction/support.md` & `introduction/repo

[2021-05-04 09:27] mfc commented on #6008
@marmarek @andrewdavidwong according to the [mail-archive.com instructions](https://www.mail-archive.com/faq.html#newlist), we need to subscribe `archive+gg1@mail-archive.com` to the relevant lists. they are:
* https://groups.google.com/g/qubes-translation
* https://groups.google.com/g/qubes-project
* https://groups.google.com/g/qubes-announce (not entirely sure if needed since it is just copies o

[2021-05-04 11:04] tonym1995 commented on #6447
Hi mallorybowes,

Great post. I followed your dd command and the installation got to the start of the installation where you select the language. That is further than I have ever got before. Thanks :-)

I can not test further until I get another hard drive. I'll post again to let everyone know if the installation is successful. Hopefully it will be.

Good luck everyone.

[2021-05-04 13:22] andrewdavidwong commented on #2639
I care about making the docs clean, consistent, organized, and maintainable. I absolutely believe that is a worthwhile goal.

The policy is to accept contributions that would be a *net benefit* to the documentation. For example, it would be unwise for us to reject a contribution that adds valuable and well-written content just because it doesn't follow our line-break rules. The idea is not to allo

[2021-05-04 13:31] andrewdavidwong commented on #6008
Done. Thanks, Michael.

I think adding qubes-announce is still a good idea, since the list is not an exact mirror of Qubes News. Although the vast majority of announcements are posted to both, emails to qubes-announce are still manually sent and could, in theory, differ from what appears elsewhere. It's also just nice, in general, to have consistency and redundancy when it comes to archiving. :sli

[2021-05-04 13:42] #6008 closed

[2021-05-04 14:23] unman commented on #6580
Salt does work, as evidenced by fact that GUI updater works for
fedora-33.
Also, you can `state.apply` states without issue.
It looks as if this error is specific to generating
highstate in fedora-33.

Is enabling updates-testing important? I think not.

[2021-05-04 14:34] TNTBOMBOM opened #6581 "Invalid configuration value: failovermethod=priority in /var/lib/qubes/dom0-..(fedora 33 temp)"
**Qubes OS version**
Qubes R4.0

**Affected component(s) or functionality**
qubes-dom0-update

**Brief summary**
performing qubes update in dom0 will show Invalid configuration

**How Reproducible**
install fedora 33 template , shift to your qubes/dom0 to fedora 33 , remove fedora 32 , perform sudo qubes-dom0-update

**Expected behavior**
perform update without errors

**Actual behavior**
show err

[2021-05-04 14:38] TNTBOMBOM commented on #6575
Installed smoothly from my side fedora-33 & fedora-33-minimal

[2021-05-04 14:56] anthonyjmartinez commented on #6575
I will clean install and restore my custom templates and AppVMs from backup. Seems like something may be broken in my dom0, which is disconcerting but not impossible.

Close the issue since it appears to only be reproduced on this specific machine.

[2021-05-04 15:10] #6575 closed

[2021-05-04 16:09] tokideveloper commented on #2639
Concerning Markdown files in the Transifex editor in the present, paragraphs are connected to a single string with all the linebreaks inbetween. Linebreaks between sentences are fine but linebreaks within a sentence look ugly to me and may irritate the translator ("What to do with that linebreak?"). So, it's probably a matter of taste. I don't like those linebreaks within sentences but I can under

[2021-05-04 17:21] DemiMarie commented on #6580
It is, indeed, specific to highstate generation.  I have over a thousand lines of Salt last I checked, so this is rather annoying.

[2021-05-04 17:26] mallorybowes commented on #6447
Ugh, sorry it didn't work out for you, @tonym1995.  I was so certain that must've been the problem based on my weekend's experience.  But since the expression of that bad USB install disc is seemingly hardware errors, it makes it hard to distinguish between the two.  I hope you don't have a legit hardware issue and you can eventually figure out what's going on...  :'-(

[2021-05-04 17:28] tokideveloper commented on #2639
I suggest the rule that linebreaks within sentences should be avoided. Maybe this is sufficient in practice.

[2021-05-04 17:39] DemiMarie commented on #6581
This is harmless.  The fix is simply to delete those lines from the configuration in dom0.

[2021-05-04 21:38] maiska commented on #2639
totally agree with all of the above

When we are on the topic what would you think to incorporate the markdown linter  as a best practice?
(I used the gem mdl to clean up a little bit of the docs? Now basically just inline html are popping up as a problem and some fresh irritating ones :) ) Or should I open a new github issue specifically on this topic?

yes, of course i know it, how can i forget

[2021-05-04 22:24] ninavizz commented on #6573
...having not heard back from anybody, and the first question's Javascript requirement being a blocker for Tor "Safest" settings users, I went ahead and stopped the survey, archived its responses to date, and implemented the changes in the "Deux" version, above. Pls to ping with further suggestions or updates. I also added additional answers per @jpouellet flagging the accidental of former users f

[2021-05-04 23:33] jpouellet commented on #2639
Andrew David Wong wrote:

Huh, I could have sworn that I did, but it appears not. Oh well.

IIRC, https://github.com/QubesOS/qubesos.github.io/blob/master/_utils/spellcheck.sh
should have most of the hard parts figured out, including correctly
parsing content (via pandoc) to ensure any transformations can be
context-aware, in order to not modify lines inside code blocks (which
is important not jus

[2021-05-05 00:56] tonym1995 commented on #6447
Hi mallorybowes,

You were correct!!!

My initial problem was a failure to boot into the installation as shown in my initial log snippet below. Following your advice fixed that problem.  Once I have a new hard drive (so I do not overwrite my current Linux installation) I will continue with the installation of Qubes.

So you were correct and using the dd command as you suggested allowed the install

[2021-05-05 03:15] andrewdavidwong commented on #5861
Another workaround, courtesy of @SvenSemmler in https://github.com/QubesOS/qubes-issues/issues/1121#issuecomment-830442077:

to the "Files & Attachments" preference in Thunderbird and hook it to
qvm-open-in-dvm. That works just as well as thunderbird-qubes did for me
especially in combination with the 'ask' policy.

I can confirm it works. The annoying part is setting up every file type you need i

[2021-05-05 03:58] andrewdavidwong commented on #2639
Hm, I'm a bit confused. This sounds like more or less the original problem with line breaks in Transifex. Are you saying, contrary to @maiska, that it actually *is* a problem for Transifex translation? Did we just get lucky that @maiska's test cases did not cause translators to get confused by seeing mid-sentence line breaks?

Hard wrapping at 70-80 characters has been a standard thing for a long

[2021-05-05 09:19] mfc commented on #5861
great workaround! thanks @SvenSemmler

could there be a possibility that instead of the more difficult task we currently have for this issue, we just create an extension or deb / fedora packages that sets the open preferences in Thunderbird to `/usr/bin/qvm-open-in-dvm`? i would propose for all files types. "Import OpenPGP Key" still works as expected, and if the user doesn't want to open in DVM,

[2021-05-05 15:39] tokideveloper commented on #2639
Just to make sure that we are on the same page, with line breaks within sentences I mean the blue new line characters like these:

![transifex_line_breaks](https://user-images.githubusercontent.com/28876601/117168075-21f99000-adc8-11eb-9dbf-ede1e3e808f9.png)
(from the Transifex resource `wrapped_doc_introduction_support`)

You can easily delete them or insert new ones by hitting the Enter key. IMH

[2021-05-05 19:34] sunsunnysun opened #6582 "Major OS error, all VMs unusable, network manager disappeared"
I have encountered some very major issues making my whole OS unusable. Upon boot I saw a few [failed] processes, then when I logged in the network manager Icon has disappeared and all my VMs will not start they give me the error below ( I will post a picture also)

Domain sys-net has failed to start: qrexec-daemon start failed: connection to the VM

Then Depending on the VM I try to start :

Domai

[2021-05-05 20:13] andrewdavidwong commented on #6582
Based on our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [`qubes-users` mailing list or forum](https://www.qubes-os.org/support/) instead. If, after reading our [issue reporting guidelines](https://www.qubes-os.org/doc/reporting-bugs/), you believe we are mistaken, please

[2021-05-05 20:13] #6582 closed

[2021-05-05 21:37] aidecoe opened #6583 "qubes-dom0-update UnicodeEncodeError with PL locale"
**Qubes OS version**

R4.0.4

**Affected component(s) or functionality**

qubes-dom0-update and other commands like qubesctl.

**Brief summary**

With locale set to PL on installation, commands in dom0 terminal throw errors related to locale, primarily encoding related.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Install Qubes OS with PL set upon installation

[2021-05-05 21:56] mallorybowes commented on #6447
@andrewdavidwong Hey, Andrew!  Just thought I'd make another plug to possibly add this "situation" to the [Installation Troubleshooting](https://www.qubes-os.org/doc/installation-troubleshooting/) doc.  Doing my research and debugging, I feel like I saw enough of the "dracut timeout" posts as well as the error messages produced by this situation can easily be misinterpreted to be other hardware /

[2021-05-05 22:01] andrewdavidwong commented on #6447
In case you (or any others reading this) are not already aware, the documentation is a community effort, and everyone is welcome to contribute. (That's how things like this get updated!) So, if you'd like to get involved with the project, this is a great way to do it. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/doc-guidelines/

[2021-05-05 23:10] tonym1995 commented on #6447
Hi mallorybowes,

Sorry for taking up your weekend :-(

The installation was a success as you can see from the attached photo. Unfortunately it will not boot saying "No Boot Device Found.". I tried changing the bios from legacy boot which boots Linux Mint fine to UEFI but it made no difference.

Any suggestions?

Maybe I should try a stable version instead.

Many thanks for the feedback you have a

[2021-05-05 23:15] mallorybowes commented on #6447
@andrewdavidwong Gotcha.  I'll take a look at how to contrib docs over there.  Thanks!

@tonym1995 I swear I read something that was similar to what you're seeing.  (Installer goes through a full install and then doesn't boot.)  I'll see if I can dredge that up and add to the thread...

[2021-05-05 23:28] tonym1995 commented on #6447
@mallorybowes I have found a possible solution at https://www.qubes-os.org/doc/uefi-troubleshooting/

I will try the solution below tonight after work. I hope for success. :-)

Boot device not recognized after installing
Some firmware will not recognize the default Qubes EFI configuration. As such, it will have to be manually edited to be bootable. This will need to be done after every kernel and

[2021-05-05 23:55] DemiMarie commented on #5861
There is already work in that direction going on.  See https://github.com/QubesOS/qubes-core-agent-linux/pull/290.

[2021-05-06 00:14] DemiMarie commented on #6583
This appears to be a DNF bug.  Line 94 of `/usr/lib/python3.5/site-packages/dnf/logging.py` creates a `logging.FileHandler`, but does not specify an encoding.  In Python, encodings often default to `ascii`, which would trigger the errors @aidecoe saw.

@marmarek: is it practical for us to fix this in R4.0?

[2021-05-06 00:16] DemiMarie commented on #6447
That message indicates that the computer is trying to PXE (network) boot, which is very insecure.  Can you remove the NIC from the boot order and retry?

[2021-05-06 00:46] tonym1995 commented on #6447
@DemiMarie Thanks for your suggestion. I changed the boot option to USB first and then the SATA hard drive. It did not solve the boot problem.

@mallorybowes SUCCESS!!!!!

I could not wait so I reinstalled from the USB and after the installation was complete I pressed Ctrl+Alt+F2 to get the console. I attempted to follow the solution I mentioned before but the files were not there so I typed reboo

[2021-05-06 01:39] unman commented on #6580
On Tue, May 04, 2021 at 10:22:01AM -0700, Demi Marie Obenour wrote:

After a little poking around with templates and highstate.
fedora-33 as template for default-mgmt-dvm throws this same error re top
file, against many targets.
Using fedora-32 as template works fine, except where target is
fedora-33, when the top file error is reported.
In both cases, state.apply with specific state works fine -

[2021-05-06 01:59] mallorybowes commented on #6447
@tonym1995 So glad you got it working!  :-)  (btw, I was joking with you about wasting my weekend earlier on tracking it down.  I was going to do it anyway since I was suffering from the same problem and I was trying to be a bit jokey in my reply.  Yeah, my humor is a bit dry at times.  {Damn Brit upbringing...}).

I'm glad we figured it out and I'll submit the documentation upgrade request so we

[2021-05-06 02:35] soloapple commented on #4191
how did this resolved? @arjan-s

[2021-05-06 03:36] tonym1995 commented on #6447
@mallorybowes I too came from a Brit upbringing so I get the humor. All good. :-)

The crucial bit that got me going with the installation was your dd command writing to /dev/sdY (which was  /dev/sdb for me). I had tried other dd commands but I always ended up with the dracult problem. I recommend that command is put as the preferred way of creating the USB from the iso image in the documentation.

[2021-05-06 07:42] andrewdavidwong commented on #6447
Isn't that what it already says? In any case, it sounds like @mallorybowes will take care of it. Thanks, Mallory!

Reopening for the doc fix.

[2021-05-06 09:35] andrewdavidwong commented on #6275
Since `repo_gpgcheck` is not present in the repo def by default, I doubt that any users have taken the step to manually add this. So, in the absence of a `repo_gpgcheck` line, what is the default (0 or 1)?

Users are reporting that using a Debian UpdateVM currently allows for dom0 updates, which suggests that the default (in the absence of the line) is `repo_gpgcheck=0`, which @DemiMarie has infor

[2021-05-06 09:56] DemiMarie commented on #6275
Sadly, the default is 0.

It should be, but doing so causes breakage in some cases due to bugs in DNF.  It is possible to set it using `dnf config-manager` and some scripting.  The Qubes update scripts are aware of the bugs in DNF and work around them.

[2021-05-06 10:17] arkenoi commented on #6517
Don't know if it helps to diagnose, but it happens if you switch and type with no pause. If you switch, wait and type after a second or two, it works properly.

[2021-05-06 11:05] brendanhoar commented on #6275
Does this mean users should avoiding using dnf directly?

I typically alternate between dns use and the qubes updater (dnf and apt-get for convenience of parallel updates but also qubes updater to pick up some of the out-of-band changes the qubes teams uses it to push).

B

[2021-05-06 12:50] DemiMarie commented on #6275
For updates, generally yes.  Installing packages via dnf directly is fine.

[2021-05-06 13:55] arkenoi commented on #6517
double checked, no, HT does not affect it. but i have the impression than it was better while on 3.x

[2021-05-06 13:55] andrewdavidwong commented on #6275
I've just updated the [Updating Qubes OS](https://www.qubes-os.org/doc/updating-qubes-os/) documentation page to warn against using direct commands for updating. I'm now working on a PSA post to disseminate this information more widely across the userbase, since most Qubes users are accustomed to using direct commands for updating and probably won't notice this doc update.

[2021-05-06 15:18] iblue commented on #5416
The issue is back.

I am (not) running an AMD RX 5700 on kernel 5.11.4-1.fc25. The display freezes as soon as the amdgpu module is loaded (otherwise system is responsive an can be rebooted for example).

I booted with `rd.blacklist=amdgpu modprobe.blacklist=amdgpu` into a tty and ran `modprobe amdgpu; dmesg > dmesg.log`, which freezes the diplay, then rebooted to get the following.

[code]

I also

[2021-05-06 15:43] unman opened #6584 "Arch build of qubes-db-vm for 4.0 and 4.1 fails"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

Qubes builder

**Brief summary**

Build of `qubes-vm` fails on qubes-db-vm package
Missing dependencies:
qubes-libvchan-xen
python<3.10

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Set up builder for 4.0, Archlinux
2. `make qubes-vm`
3.

**Expected behavior**

packages built

**Actual behav

[2021-05-06 16:31] iblue commented on #5416
Same behavior with the other versions. I also tried to boot with `swiotlb=65536`, I always get the same issue. I suspect it may depend on the xen version (currently running 4.8.5-30.fc35).

[2021-05-06 17:02] marmarek commented on #5416
Do you see earlier message about allocating SWIOTLB? There should be something like:
[code]

[2021-05-06 17:16] adrelanos commented on #6408
Pretty sure it's correct. It is what is happening on Debian Xfce for me. (non-Qubes) Some more practical examples.

    dpkg -S /etc/environment.d/*

    cat /etc/environment.d/90atk-adaptor.conf

    cat /etc/environment.d/90qt-a11y.conf

    env | grep QT_A

    env | grep GTK_M

GNOME does that. From the man page:

That sounds good.

Debian Xfce seems to do that too (as per above examples).

Th

[2021-05-06 19:43] marmarek commented on #6275
The problem with the third option (and to some extend the second too) is
that setting repo_gpgcheck=1 while having UpdateVM set to something
incompatible with it (like debian-10, or Whonix) breaks dom0 updates
completely.
So, given an option of slight security improvement (which is just yet
another mitigation, in addition to many more already in place) at the
risk of breaking dom0 updates complete

[2021-05-06 19:52] andrewdavidwong commented on #6275
Those are very good points. I agree.

This sounds like the most reasonable course of action (and consistent with not breaking existing stable installations).

It sounds like it's more accurate to view `repo_gpgcheck=1` as an enhancement than `repo_gpgcheck=0` as a bug, which would make it appropriate to wait for the next release.

[2021-05-06 20:02] iblue commented on #5416
Yes, I saw such a line and it had 64MB in it, not sure about thr adresses. In the mean time I installed the Qubes 4.1 Alpha with the 5.4 kernel and the 4.13 xen and the module loads fine. However, I get some glitches (see picture) and messages (`swiotlb buffer is full`) - I think this is a known issue. After a `qubes-dom0-update` to xen 4.14, there were no glitches and no messages anymore (in the

[2021-05-07 00:35] DemiMarie commented on #6517
This sounds like a race condition.  I imagine that the keyboard layout switch is communicated via qrexec, which does not synchronize with the GUI daemon.  Ideally, keyboard layout events would be sent via the GUI protocol instead.

If I am correct, what happens is that you start typing before the qube you are typing into has been notified of the changed keyboard layout.  This should not be possibl

[2021-05-07 00:38] DemiMarie commented on #6275
I wonder if we should have a feature for “can serve as UpdateVM with `repo_gpgcheck=1`”.  Fedora qubes would have this feature set by default, while other qubes would only have this feature set if DNF is installed.

[2021-05-07 08:52] iblue commented on #5416
So I tried with various combinations of Xen and kernels. On Xen 4.14 and 4.14.1 and kernels 5.4, 5.10 and 5.11 I get similar behavior. The dmesg is full with messages like
[code]
(See #5670)

On boot, I have this line:
[code]

From time to time x.org crashes with a oom error but comes back. I did not have any hard reboots yet, but lots of graphical glitches. On Qubes 4.0 with Xen 4.8, I was not ab

[2021-05-07 10:17] marmarek commented on #6580
It seems to be this issue: https://github.com/saltstack/salt/issues/60003

I've posted a workaround patch there (to be applied in default-mgmt-dvm's template).

[2021-05-07 11:46] andrewdavidwong commented on #6275
@DemiMarie, in which directory did you run this command? Should it be run as root?

[2021-05-07 12:06] andrewdavidwong commented on #6275
I was just testing this, and I noticed that `qubes-dom0-update` encounters the expected curl error (because I haven't done @DemiMarie's `ln -s` fix yet), but updating via `qubesctl` claims to succeed without any indication of error. Is this a bug?

Steps to reproduce:
1. Add `repo_gpgcheck=1` to all enabled repos in `/etc/yum.repos.d/qubes-dom0.repo`. (We expect this to cause a curl error.)

2. Te

[2021-05-07 13:02] DemiMarie commented on #6275
`qubesctl` has terrible error reporting.  There are many cases where it completely hide errors.  That is one reason I would like to have an interactive alternative.

[2021-05-07 13:33] andrewdavidwong opened #6585 "Updating via Salt falsely claims to succeed when it actually fails"
**Qubes OS version**

`R4.0`

**Affected component(s) or functionality**

Updating via Salt (Qubes Update tool / `qubesctl`)

**Brief summary**

When updating via Salt (Qubes Update tool / `qubesctl`) fails, it falsely reports that it was successful. A user could go months or longer without receiving any security updates, while Qubes claims that every update is completing successfully. This can lu

[2021-05-07 13:34] andrewdavidwong commented on #6275
I did some further investigation and testing, and I believe this is quite a serious problem, so I've reported it separately as https://github.com/QubesOS/qubes-issues/issues/6585.

[2021-05-07 13:58] andrewdavidwong commented on #6275
[code]

[2021-05-07 14:04] unman commented on #6585
I thought that the woeful salt "OK" had been reported before.
It's been noted by many.
In this case, the `update` state is correctly reporting that the System
is up to date against known available packages.

[2021-05-07 14:21] andrewdavidwong commented on #6585
1. That's not what it says. It just says `System is already up-to-date`, not `System is already up-to-date against known available packages.`
2. That's not what matters. What matters is actually receiving and installing security updates that close vulnerabilities, not just going through the motions or making a symbolic gesture. In a security context, there is no A for effort, there is only getting

[2021-05-07 15:46] andrewdavidwong commented on #6275
But it still doesn't work. I still get the curl error saying that it can't access the key. Is there some required fix that's not yet available for 4.0 stable?

[2021-05-07 16:02] marmarek commented on #6275
it should be in what your UpdateVM is using as a template.

[2021-05-07 16:17] unman commented on #6585
I'd forgotten that this state has (non-default) refresh=True set,
so it should refresh the package list before applying.

I cant help thinking you're over egging the problem. Anyone
who is intermittently online will see that dom0 updates are available,
and thus that the purported "success" hasn't cleared the available marker.
That's what the updater GUI advises them.
I doubt that most users inspec

[2021-05-07 19:13] ddevz opened #6586 "URL links in terminal attempt to open local web browser instead of disposable VM"
**The problem you're addressing (if any)**

Wanting to open the text of a link on terminal screen to disposable VM

gnome-terminal auto-recognizes links displayed on the terminal screen allowing you to right click, then select "open link".  However it automatically attempts to

**Describe the solution you'd like**

when right clicking, having both options of "open link in local browser" and "open

[2021-05-07 19:14] v6ak opened #6587 "PCI devices are assigned in random order => random issues with Wi-Fi connection"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**

Assigning PCI devices to qubes.

**Brief summary**
PCI devices are assigned in random order. This causes the interface names to vary across reboots (e.g., wls6 vs. wls7). Network Manager uses this identifier to identify the network card, so “randomly“ (=depending on the interface name) ignores saved Wi-Fi networks.

**How Repro

[2021-05-07 19:48] andrewdavidwong commented on #6586
This already exists: `/usr/bin/qvm-open-in-dvm`. Can you try that and see if it works?

[2021-05-07 19:56] ddevz commented on #6586
sorry, i meant to add /usr/bin/qvm-open-in-dvm as a *gnome* application, so that it would be selectable from the file browser as a "open with" option, which would presumably allow one to change the default browser to to be /usr/bin/qvm-open-in-dvm from the filebrowser.

Of course, it'd still be a highly non-obvious way to change the webbrowser for a average user.

[2021-05-07 20:02] deeplow commented on #6586
[This future change](https://github.com/QubesOS/qubes-issues/issues/6366#issuecomment-769041118) in the "applications" tab of qube settings probably allows you to easily do that.

And if you want to do this on your current system, you can play with the default applications and call the mentioned `/usr/bin/qvm-open-in-dvm`. See for example [here](https://github.com/freedomofpress/securedrop-debian-

[2021-05-07 20:11] tlaurion commented on #4371
@marmarek @osresearch input on https://github.com/QubesOS/qubes-issues/issues/4371#issuecomment-761863958 ?

[2021-05-07 20:34] ddevz commented on #6586
That looks useful. I'll try it.  If it works out maybe I'll try to add it to the instructions for using mutt on qubes

[2021-05-07 22:14] DemiMarie commented on #4371
Personally I would be fine with moving these off of the root filesystem.

[2021-05-07 22:57] rustybird commented on #6587
R4.1 might not have this bug then, because Python 3.7+ (de facto CPython 3.6+) dicts do preserve insertion order.

[2021-05-08 07:52] andrewdavidwong commented on #1042
Closing this for now due to the prolonged lack of activity. If you believe this is a mistake, or if anyone would like this issue to remain open, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:55] andrewdavidwong commented on #1605
This bug report has been open for a very long time with no recent activity, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:55] #1605 closed

[2021-05-08 07:56] andrewdavidwong commented on #978
This bug report has been open for a very long time with no recent activity, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:56] #978 closed

[2021-05-08 07:57] #963 closed

[2021-05-08 07:58] andrewdavidwong commented on #1680
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:58] andrewdavidwong commented on #2027
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:58] #2027 closed

[2021-05-08 07:58] andrewdavidwong commented on #2044
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:58] #2044 closed

[2021-05-08 07:59] andrewdavidwong commented on #1544
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] andrewdavidwong commented on #1866
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] #1866 closed

[2021-05-08 07:59] andrewdavidwong commented on #2568
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] #2568 closed

[2021-05-08 07:59] andrewdavidwong commented on #1752
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] andrewdavidwong commented on #2668
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] #2668 closed

[2021-05-08 07:59] andrewdavidwong commented on #2701
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 07:59] #2701 closed

[2021-05-08 08:00] andrewdavidwong commented on #2832
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 08:00] #2832 closed

[2021-05-08 08:00] #2025 closed

[2021-05-08 08:00] #2220 closed

[2021-05-08 08:00] andrewdavidwong commented on #1161
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 08:00] #1161 closed

[2021-05-08 08:00] andrewdavidwong commented on #3418
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 08:01] andrewdavidwong commented on #1420
This bug report has seen no activity in a very long time, and it is not assigned to any current release milestone. It looks like it was left open by mistake, so I'm closing it now. However, if anyone is still affected by this bug on a currently-supported release, please leave a comment, and we'll be happy to reopen this. Thank you.

[2021-05-08 08:01] #1420 closed

[2021-05-08 08:09] andrewdavidwong commented on #5441
I still don't see Marek's or Thierry's videos there. Anyway, I'm guessing that this is now old enough to no longer be actionable.

[2021-05-08 08:09] #5441 closed

[2021-05-08 08:10] andrewdavidwong commented on #6080
Did you ever receive a response?

[2021-05-08 08:12] andrewdavidwong commented on #2475
I think we ended up deciding against this.

[2021-05-08 08:12] #2475 closed

[2021-05-08 08:13] andrewdavidwong commented on #2324
It appears the current situation has been deemed sufficient.

[2021-05-08 08:13] #2324 closed

[2021-05-08 08:14] arkenoi commented on #1396
One more weird issue, not sure if it belongs here or if I should open a separate entry on github.

After a while, arrow keys and pgup/pgdn in VMs stop working. VM restart helps, but then the issue re-appear. Xev shows that keycodes are correct but mapping is all off. I checked the setting thoroughly and found out that xkbmap keycodes are slipped to "xfree86+aliases(qwerty) instead of normal "evdev

[2021-05-08 08:18] andrewdavidwong commented on #6500
CC @mfc

[2021-05-08 08:20] andrewdavidwong commented on #5471
This was completed a long time ago. Looks like the issue was just forgotten.

[2021-05-08 08:20] #5471 closed

[2021-05-08 08:29] andrewdavidwong commented on #1016
Given how this could potentially affect localization, and given the difficulties people already have with contributing to the docs, I do not see this being maintainable. The current situation with our glossary is good enough, and we've been gradually reducing the instances of overly-specific examples over the years.

[2021-05-08 08:29] #1016 closed

[2021-05-08 11:21] euidzero commented on #5287
With fedora-33 in both the appVM and sys-usb, with qubes-u2f-1.2.8-1.fc33.noarch, the SoloKey works perfectly.
The OnlyKey still fails to register but now I cannot find any message about the failure in journalctl (-k).

[2021-05-08 12:28] na-- opened #6588 "`make iso` in qubes-builder fails because hfsplus-tools is missing"
**Qubes OS version**
Using R4.0 (fedora-33 VM), building R4.1 iso from source

**Affected component(s) or functionality**
qubes-builder

**Brief summary**
When [trying to build an installation .iso](https://www.qubes-os.org/doc/qubes-builder/), the final `make iso` step fails a `you need to install hfsplus-tools to create mac images` error.

**How Reproducible**
Every time

**To Reproduce**

Steps

[2021-05-08 12:53] brendanhoar commented on #3418
I don't think QWT has been updated since this issue was opened and imho it seems unlikely that other qubes changes in the interim have addressed this. It's possible that particular applications or work processes are more likely to trigger the slowdowns. Would be nice to know what apps the original poster was using.

B

[2021-05-08 13:44] arkenoi commented on #1396
apparently every layout switch forces it back from "evdev" to "xfree86"!

[2021-05-08 13:59] fepitre commented on #6568
For reference of related above PRs: https://fedoraproject.org/wiki/Changes/Remove_make_from_BuildRoot

[2021-05-08 15:41] unman commented on #6586
On Fri, May 07, 2021 at 01:34:50PM -0700, ddevz wrote:

Please amend title to make it clear that it relates specifically to
gnome-terminal - possibly xfce4-terminal too. Can someone confirm?
It's "features" like this which remind me why I don't use those
applications.

In any case, this is a Gnome or Xfce4 specific issue - setting the
default application for opening ..., or "making applications av

[2021-05-08 15:43] unman commented on #1042
On Sat, May 08, 2021 at 12:52:56AM -0700, Andrew David Wong wrote:

It's still an unresolved issue in 4.0, and (afaik) in 4.1 - are we
closing just because of age?

[2021-05-08 16:34] andrewdavidwong commented on #1042
I didn't know it affected 4.0 because no one ever said it did. Reopened.

[2021-05-08 16:55] andrewdavidwong commented on #6585
Sorry, I'm lost. If the package list doesn't get refreshed, then is it not really an update check?

I'm not sure what you're referring to.

If the automatic update checker has been unable to successfully complete a check after a certain period of time or a certain number of attempts, the user should be notified. (For example, "Warning: Qubes has been unable to reach the updates servers for three d

[2021-05-08 18:12] qufo418 commented on #6080
On Sat, 2021-05-08 at 01:10 -0700, Andrew David Wong wrote:

Nope. :-(

--
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF9SOUMBEAC6EH5yEQta+NP+rfVNOD7BBR9lYzZNjvAKceJCJCLr4oU04eW7
YPEi5hWRWG3kAceJYxz8QqCsBlHDjXGD1uvUx0lkmKSmiBdMRNslxfersWYDe9by
nT6Pfk1NBgNs/pu1ClMCBeC6B6yxMhO1cSiXn3sD/K+nTAecHZUa6uXiW8BUJ723
yJUeekQ+vVea0yEESpsqLbwP1OKOc+EwzWMzccwFgeDWZcMpcCxSfRdgl00ZBybd
VeNsF97tBnx+gF5PwcSudh5TBdu

[2021-05-08 20:23] v6ak commented on #6587
Good point. I am not sure if the deterministic order is enough. Maybe it is, maybe it isn't.

* It surely prevents shuffling the devices in PersistentCollection.
* I am rather convinced that the deviced are not shuffled after enumerating PersistentCollection.
* But I am not sure if the devices are put to PersistentCollection in a deterministic order. I don't fully understand the storage mechanism

[2021-05-08 20:45] ddevz commented on #6586
In response to: "The proper way of dealing with this in mutt is to use the mailcap
file which is not specific to any particular terminal application.
Just make an entry in ~/.mailcap:
text/html; qvm-open-in-dvm %s"

But that opens the entire email as a html document (including trackers), and not just the link in the document that you wanted to go to, right?

[2021-05-09 01:13] marmarek commented on #6580
This is specifically regression between salt-3002.6-1.fc33 and salt-3003-1.fc33. A failing test: https://openqa.qubes-os.org/tests/17154#step/TC_10_VMSalt_fedora-33/2

[2021-05-09 01:45] DemiMarie commented on #6080
Can we switch to self-hosting?  @fepitre would that be practical?

[2021-05-09 04:23] DemiMarie commented on #6407
Does `virsh -c xen:/// -- destroy -- <vm-name>` work?

[2021-05-09 04:23] ninavizz commented on #6573
FYI, we've thus far heard from two folks that use assistive devices, about their non-visual navigation needs. TY again @h01ger for the nudge on my initial oversight in offering those folks a path for solid feedback, last week.

[2021-05-09 06:55] jmickelin opened #6589 "Cannot change border size in qubes-desktop-linux-i3"
**Qubes OS version**
`R4.0`

**Affected component(s) or functionality**
`qubes-desktop-linux-i3` version `1000:4.16-9.fc25`.

**Brief summary**
It seems the `default_border` setting and the `border` command are ignored.

**How Reproducible**
Every time

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following lines to `~/.config/i3/config` in dom0:
[code]
2. Open a terminal
3. Open a

[2021-05-09 07:07] andrewdavidwong commented on #6589
I'm sure that would be appreciated, thank you! The dev documentation might have what you need to set up a build environment: https://www.qubes-os.org/doc/#developer-documentation

[2021-05-09 07:14] fepitre commented on #6080
Self hosting is not the issue here. It's what is in between, i.e., Cloudflare. I would not say that we need to change that because it's recommended and a recognized web traffic shield for our hosted servers (without speaking of them holding the DNS). At first, we need to figure out what's going on. Any one has reproduce it?

[2021-05-09 07:31] fepitre commented on #6587
@v6ak I've already experimented this issue a while ago and also other people I know (possibly R4.1 too, I don't remember for sure). There is indeed some ordering to fix for PCI devices. Never had the time to do it so thank you.

[2021-05-09 14:04] ejose19 commented on #6407
@DemiMarie the result is the same as `qvm-kill` or `qvm-shutdown`, all other VMs slowly become unresponsive to the point they freeze and nothing can be done until the problematic VM completely shutdowns.

[2021-05-09 14:49] unman opened #6590 "Provide user feedback if "check for updates" fails"
**The problem you're addressing (if any)**

The check for updates may fail due to misconfiguration, network error, or malicious action.
As @andrewdavidwong said - in #6585

**Describe the solution you'd like**

Provide visual/auditory feedback, and a popup - pop up would be less desirable because it is too easily clicked through.
If a popup notification *is* used then the user should have the opti

[2021-05-09 15:02] unman commented on #6571
I **know** that this works for (some) individual files in /usr/bin on Fedora 32.
If you could say *which* file you are trying to bind, and post your bind-dirs config file that would be helpful.

[2021-05-09 18:03] nitrokeyscam opened #6591 "Remove nitrokey from certified list. They scammed me and i only trusted them because qubes vouched."
**THIS IS NOT A QUBES COMPLAINT, I LOVE QUBES.**
_I am trying to get a scam company removed from certified hardware._

I wanted a good laptop which was secure and supported qubes well. I decided on a T430 from nitrokey which cost me 0.0254 BTC. ($1,450 USD today), 1,100 EUR then.

Communication breakdown:
- I made purchase on April 29th after gaining trust from this page: https://www.qubes-os.org/

[2021-05-09 19:03] brendanhoar commented on #6407
I have a bash script I use in dom0 (Qubes 4.0.x) to get an idea if the current I/O is related to **discards** down to the device (as I have enabled discards down to the device in lvm):

[code]
Usually during shutdown (and/or lvm-thin volume removal) smaller, consecutive requests that would be contiguous are combined as larger I/O transactions so that by the time the request gets to the physical de

[2021-05-09 19:42] hackerncoder commented on #2767
Well, I think what we have today is enough. Time to close this issue?

[2021-05-09 20:41] brendanhoar commented on #6591
@tlaurion looks like you have a "fan". :(

[2021-05-09 23:26] tlaurion commented on #6591
@jans23?

[2021-05-09 23:59] nitrokeyscam commented on #6591
Insurgo.ca owner? @tlaurion i will place order when i get my refund from these

[2021-05-09 23:59] nitrokeyscam commented on #6591
...if i get a refund...

[2021-05-10 00:01] hackerncoder commented on #2523
At a sample of 152 people, the colors survey

[2021-05-10 00:06] ejose19 commented on #6407
@brendanhoar I've tested with the script you provided (adapting device id as this is `nvme`) and this was the result:

[code]

The freeze still happened, and `watch` output also freezed, until the VM completed its shutdown. It's worth noting that cursor is still functional during this, but VMs & dom0 programs simply doesn't respond. Also something of interest is that there's a lot of single core o

[2021-05-10 00:09] hackerncoder commented on #6471
Wow, already a month. As always time flies. I can see you have a lot on your plate, so no rush @ninavizz.

[2021-05-10 00:57] SaswatPadhi opened #6592 "Spurious Qube Manager warning when disabling TemplateVM networking"
**Qubes OS version**
R4.1

**Affected component(s) or functionality**
Qube Manager

**Brief summary**
When changing the networking of TemplateVMs, I get a warning that says:

[code]

This warning is useful in other cases, but not when I am disabling networking; in my case: changing from from "default" to "none". This seems like a recent change -- I had never encountered this before.

**How Reprodu

[2021-05-10 03:06] #2767 closed

[2021-05-10 04:13] brendanhoar commented on #6407
Hmm - both VM shutdowns led to approximately the same amount (sectors and io count) of discards, so your symptoms do not appear to be discard-related to me.

[2021-05-10 05:41] andrewdavidwong commented on #6581
Another user has [asked](https://www.reddit.com/r/qubesos/comments/n5anuc/strange_error_message_when_getting_updates_for/) about this.

Since this affects all users and will undoubtedly prompt many users to wonder about it, should we push a fix that removes the superfluous lines?

[2021-05-10 06:31] DemiMarie commented on #6407
Looks like a dom0 kernel bug.  Only workaround I know is to *not* call `blkdiscard`, which is bad.

[2021-05-10 06:38] DemiMarie commented on #6581
Yes, we should.  Should I add it to the relevant post-install scripts?

[2021-05-10 09:12] andrewdavidwong commented on #6581
I think that's a question for @marmarek.

[2021-05-10 11:09] jans23 commented on #6591
Hi, Nitrokey here.

1. We configure NitroPads for each individual order which takes several days and, yes, usually longer than two working days.
2. We work a lot but not at weekends so don't expect our response of your Saturday mail before Monday.
3. All withdrawals get their money back and so did you.

BTW, interesting user name. Anything to hide?

[2021-05-10 11:49] brendanhoar commented on #6407
Hmm...

If this has to do with how the lvm-thin layer splits a large discard request into chunk-sized (typically 64KB) pieces, I wonder if utilizing the --step option (in the blkdiscard invocation) might mitigate the effect. E.g. by setting the step value somewhere between 512MB and 5GB or so, this may reduce the number of outstanding (but usually NOP) IO requests in flight...might be worth experi

[2021-05-10 11:54] v6ak commented on #6587
Well, it isn't enough. It seems to be also shuffled elsewhere. From what I've seen, I guess it is shuffled rather before it goes to PersistentCollection than after it goes there.

So, I've created [a simple script that enumerates the devices](https://gist.github.com/v6ak/9f7e1a961b282ca2742b7d2da307fb11) and see if it changes. If it does,  I'll probably adjust __iter__ to sort the devices.

[2021-05-10 14:19] tasket opened #6593 "USB Wifi adapter stops working with qubes-core-agent 4.1.25 update"
**Qubes OS version**

R4.1

**Affected component(s) or functionality**

Networking
Fedora 33 and Debian 10 templates

**Brief summary**

After debian-10 and fedora-33 template updates, my USB Wifi adapter can no longer connect.

Hardware: ID 0bda:8179 Realtek Semiconductor Corp. RTL8188EUS 802.11n Wireless Network Adapter

**How Reproducible**

Always. Reverting to the older 4.1.24 version, the ad

[2021-05-10 14:33] ejose19 commented on #5426
In case this is useful, following @iamahuman https://github.com/QubesOS/qubes-issues/issues/3639#issuecomment-787459236, I've inspected what is causing near 100% single-core usage when shutting down the problematic VM, and here's the output of `sudo perf record -g -a -- qvm-shutdown --wait slow-vm`:

[code]

[2021-05-10 16:21] PetrVladimirov commented on #5823
The same issue when reconnecting mouse via KVM (in my case Logitech wireless). If the mouse is connected (via KVM) for the first time it works fine, but right after the first switch to another PC and back it starts lagging (sys-usb high CPU usage and the same error as reported above).

`usbhid-dump` works for me too without restarting sys-usb. My take that it happens because usbhid-dump detaches a

[2021-05-10 16:37] DemiMarie commented on #5426
If this bug causes I/O on other devices in the pool to hang, I do not believe this would help.  Right now, the only options I know of are:

1. Fix the kernel bug.
2. Switch to a different storage pool.
3. Do not call `blkdiscard` before destroying an LVM thin volume, and rely on `thin_trim` instead.

[2021-05-10 17:06] DemiMarie commented on #5426
Setting up `thin_trim` will be tricky, as LVM2 does not support it.  A workaround exists but appears to be incredibly error-prone.

[2021-05-10 17:37] brendanhoar commented on #6407
FWIW, I am not seeing any noticeable slowness under Qubes 4.0.3 + current-testing + dom0 kernel 5.11.12-xxx shutting down a VM with a 160GB private volume with about 50GB allocated. Drive is mSATA and discards are enabled all the way down the stack to the device (LVM2, luks, etc.).

[2021-05-10 18:01] DemiMarie commented on #6407
Does your hard drive support TRIM?  If not, the entire discard request might just be a no-op.

[2021-05-10 18:23] brendanhoar commented on #6407
Yes it does. Samsung 850 EVO SATA.

With discard Enabled all the way down to the device.

Brendan

[2021-05-10 18:25] brendanhoar commented on #5426
Do we know the specifics of the particular kernel bug causing this?

Brendan

[2021-05-10 18:40] DemiMarie commented on #5426
Looks like the problem is a missing API in the kernel btree code: it needs to support native range deletions, instead of `dm-thin` having to (badly) emulate them.

[2021-05-10 19:23] brendanhoar commented on #6407
Hmm, kernel optimizations aside...

...does the ioctl in blkdiscard wait to return until all discards are processed? If so, perhaps the --step option can mitigate as I suggested earlier and allow other pending io through during execution.

There's also some discussion elsewhere about which particular device io scheduler / queueing mechanism handles this type of situation better (and it may be diff

[2021-05-10 19:43] DemiMarie commented on #6407
I suspect that it indeed does.

Good point!  Another option would be to modify `dm-thin` to issue discard requests with low priority somehow.

[2021-05-10 23:35] ninavizz commented on #6471
Aack! Yes, the appmenu user research proved to be quite the time-bandit. This, and the community-created Simple User Guide, are both on my radar, though! Catching up with another patient client this week, tho. :D

[2021-05-11 00:32] marmarek opened #6594 "Late xendriverdomain start does not setup already created interfaces"
## Observation

openQA test in scenario qubesos-4.1-pull-requests-x86_64-system_tests_network@64bit fails in
[VmNetworking_debian-10](https://openqa.qubes-os.org/tests/17332/modules/VmNetworking_debian-10/steps/7)

[code]

## Test suite description

## Reproducible

Fails since (at least) Build [2021050903-4.1](https://openqa.qubes-os.org/tests/17286)

## Expected result

Last good: [2021042904-4.

[2021-05-11 00:39] mcku opened #6595 "Disconnecting a video output can cause XScreenSaver to crash (QSB-068, CVE-2021-34557)"
**Qubes OS version**

4.0.4

**Affected component(s) or functionality**

Screensaver, locking with Ctrl-Alt-L

**Brief summary**

Nothing happens when trying to lock the screen. No logs. Screensaver IS set to autostart already. And it works for some time. But after some time, (not sure about the exact cause), inactivity timer does not lock the screen, nor the screen lock shortcut works. When I ope

[2021-05-11 00:56] ctrlaltf24 commented on #6595
Try starting xscreensaver manually (kill the autostarted one if you have to), then put the log here when it crashes.

[2021-05-11 01:26] ninavizz commented on #2523
@ffsec shared:

A number of folks are requesting more colors on the current app-menu survey. I honestly don't see the exploratory work around aesthetic devices to help distinguish security that could then result in a rich new custom window something for Qubes being developed, happening anytime soon. Re-considering this, now, and thinking that a number of the above colors could easily be adopted in

[2021-05-11 01:27] ninavizz commented on #6560
...I'm also getting this request in the appmenu survey, FYI.

[2021-05-11 01:48] ninavizz opened #6596 "Enable Pointer/Hand cursor state affordance changes on clickable areas"
**The problem you're addressing (if any)**
On my Qubes 4.0 machine, the arrow is not able to dynamically change from an arrow to an i-bar to a hand-pointer affordance, when over a clickable area, in any web browser or client app. Debian, Fedora, nada. When developing the SecureDrop Workstation client, the team also hit a wall enabling that to work in the client app (QT) as it's not supported in Qu

[2021-05-11 02:34] ctrlaltf24 commented on #6574
I have made a README for qvm-convert-img and submitted a PR to add those two READMEs to the official documentation. If you want to look at the code that handles the conversion process, take a look here https://github.com/QubesOS/qubes-linux-utils/blob/c16c721c8c8fb1c006f1e9c54ec93b1e2ae4b256/imgconverter/qubesimgconverter/__init__.py#L187

The READMEs offer this

"Trusted" simply means reconstruct

[2021-05-11 03:00] DemiMarie commented on #6596
The underlying problem is that the cursor is drawn in dom0, but dom0 has no idea where buttons, etc are.  Having the GUI domain know about this information is a no-no as it exposes way too much attack surface, so this will need to be implemented via a domU→dom0 GUI message.

Looking at https://xcb.freedesktop.org/tutorial/mousecursors, we can support cursors that are predefined by the X server, bu

[2021-05-11 03:05] marmarek commented on #6596
Duplicate of https://github.com/QubesOS/qubes-issues/issues/1551
And it is already implemented in R4.1 :)

[2021-05-11 03:05] #6596 closed

[2021-05-11 03:11] marmarek commented on #6572
Rendering UTF-8 is not the only "scary" thing. Some toolkits (including both GTK and Qt) support (a subset of) markups like HTML or similar. So, allowing ascii only may still carry significant attack surface if not done carefully.

[2021-05-11 03:19] SvenSemmler commented on #6586
A more universal approach would be:

1) create ~/.local/share/applications/qvm-open-in-dvm.desktop

[Desktop Entry]
Name=qvm-open-in-dvm
Exec=qvm-open-in-dvm %u
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image

[2021-05-11 07:13] ninavizz commented on #6596
THAT'S why I couldn't find it!! TY @DemiMarie for the helpful context, and @marmarek for allthethings! :)

[2021-05-11 07:57] ctrlaltf24 commented on #6572
Correct me if I'm wrong, but can't Qubes also set their own features? Like when QWT sets gui [here](https://github.com/QubesOS/qubes-core-agent-windows/blob/a2aea339f91f972a5c334a0485f4c4783ffc12f7/src/advertise-tools/advertise-tools.c#L223)? If they can, then a Qubes-aware attack from an infected domU could inject a feature starting with `human.` and attempt to compromise the relatively complex d

[2021-05-11 08:20] andrewdavidwong commented on #6590
IMHO, it would be best just to start with something simple and not try to differentiate between such causes, as that can be very difficult or, in some cases, impossible. (For example, a sophisticated attack disguised as a network error or misconfiguration could be effectively impossible to conclusively identify as an attack, even by a sapient expert, let alone a less intelligent automated system.)

[2021-05-11 08:24] mcku commented on #6595
I think I can easily reproduce it now.
I don't want to paste it here as it might be a security concern.

[2021-05-11 08:28] mcku commented on #6595
The bug can be reproduced even when the screen is locked

[2021-05-11 08:46] andrewdavidwong commented on #6595
To be clear, you're saying that someone with physical access to a screen-locked Qubes installation can bypass the screen locker without the password? If so, I certainly agree that's a critical security bug.

[2021-05-11 10:57] marmarek commented on #6590
I fear false positives will be a real problem here, with Qubes use case. For laptop it is quite normal to not be connected to the network all the time (or connected via some poor connection maybe). And then user will quickly start ignoring this message completely.

Maybe we should emit such message only if few consecutive update checks fails? Or check what sys-net (or whatever netvm is used there)

[2021-05-11 11:33] jpds opened #6597 "4.1: Whonix WS failing"
**Qubes OS version**

4.1, all updates applied.

**Affected component(s) or functionality**

Whonix Workstation.

**Brief summary**

I applied updates to my 4.1 system a couple of weeks ago, and ever since then, I've not been able to use my Whonix Workstation DVMs, running `systemcheck` in the DVM gives:

[code]

The gateway itself is fine:

[code]

I've also tried reinstalling both templates, sam

[2021-05-11 12:05] v6ak commented on #6587
Now, the order of the devices in sys-net is swapped (compared to the previous boot).

The order of devices written by the script is still the same. However, my the script seems to be inconclusive, because qubes.devices.DeviceCollection.assignments uses set, which shuffles the result.

Another finding: qubes.vm.BaseVM.__xml__, which seems to handle XML serialization, calls `self.devices[devclass].a

[2021-05-11 12:19] andrewdavidwong commented on #6590
Yes, this was exactly my suggestion: ['If the automatic update checker has been unable to successfully complete a check after a certain period of time or a certain number of attempts, the user should be notified. (For example, "Warning: Qubes has been unable to reach the updates servers for three days!") How and where I leave to the UX experts...'](https://github.com/QubesOS/qubes-issues/issues/65

[2021-05-11 15:31] mcku commented on #6595
@unman Sorry that the original question might be vague. At that time I did not have an idea about the cause.

The screensaver runs.. but then it crashes. I have captured and sent the log to the security team email already.

[2021-05-11 16:40] bluesteal opened #6598 "Custom inter-VM clipboard shortcuts using "Windows key" (Mod4) stopped working"
Issue:

Copying to and from dom0 clipboard no longer works but was working previously

Explanation:

Followed the following article to setup global copy to clipboard key sequence:

https://jrruethe.github.io/blog/2015/09/12/setting-up-qubes

secure_copy_sequence and secure_paste_sequence values setup using Mod4-c and Mod4-v

this had been working fine for some time but then just stopped. normally

[2021-05-11 18:17] ddevz commented on #6586
Thanks @SvenSemmler ! I made major progress with that.

Using  @SvenSemmler s ~/.local/share/applications/qvm-open-in-dvm.desktop , I was able to get it to launch a disposable VM! the disposable VM immediately halted never doing anything, but this shows that we are on the right track!

I think his qvm-open-in-dvm.desktop should be added to the distribution in the appropriate directory (probably /u

[2021-05-11 19:11] ddevz commented on #6586
@deeplow
I tested rebooting and `xdg-settings set default-web-browser qvm-open-in-dvm.desktop` does appear to persist across boots.

[2021-05-11 20:34] mcku commented on #6595
@marmarek sent again

[2021-05-11 21:24] ninavizz opened #6599 "Create GH "Project" to track small, near-term enhancements to existing Updater"
**Brief summary**
@mfc @marmarta @DemiMarie @andrewdavidwong might a "Project" be able to be created, to track small/incremental changes to the updater experience, short of a complete redesign? Would that help or harm existing project management efforts? Only not CC'ing Marek, to avoid distracting him with pithy non-kernal/zen topix. :)

**Additional context**
I was going to create a new Issue to

[2021-05-11 22:14] DemiMarie commented on #6599
https://github.com/QubesOS/qubes-issues/projects/8

[2021-05-11 22:18] ddevz commented on #6586
here is a example of a proof of concept of the bash url wrapper that works, but probably has security issues:

File:  url-wrapper.html
[code]

file: qvm-open-url-in-dvm.sh
[code]

[2021-05-11 22:46] ninavizz commented on #6366
One additional question: what purpose does the "description" field serve? Is that only visible to users outside of this UI, within the _Application Search_ applet? Depending upon how it is used, it might be nice to make this editable. Just a thought. :)

[2021-05-11 23:29] DemiMarie commented on #6599
Done, but you should be able to do this yourself without having to get someone else to do this.  @mfc can you get @ninavizz write access to this repo if she doesn’t have it already?

[2021-05-11 23:29] DemiMarie commented on #6599
@ninavizz You’re as much a part of the team as I am :heart:.

[2021-05-11 23:52] ninavizz commented on #5557
This mockup is one of the leading candidate solutions for a new appmenu. It demonstrates the above disp-vm functionality. This feels like the most intuitive way to reflect this functionality in the appmenu. The ability to shut down VMs within the appmenu will likely be included in the forthcoming appmenu redesign (yep, that has been responded to quite favorably in the survey). Thoughts (on just th

[2021-05-12 05:13] zpc0 commented on #6593
This might be caused by https://github.com/QubesOS/qubes-core-agent-linux/commit/8306013cbf06e955ffd473a0cf75d1313cfc156c.

I found some information related to this.
https://github.com/lwfinger/rtl8188eu#networkmanager-does-not-list-ssid

It seems the driver that rtl8188eu uses does not support changing mac address.

[2021-05-12 05:20] SvenSemmler commented on #6586
That works for me. Please post the contents your qubes.OpenURL policy
file. You'll find it in dom0 under /etc/qubes-rpc/policy

[2021-05-12 05:37] SvenSemmler commented on #6586
@ddevz can we agree this starts to look like a user support situation more than a fundamental issue with Qubes OS? I'd like to avoid spamming the developers with unnecessary notifications and take the thread over into the forum:

https://qubes-os.discourse.group/t/open-url-links-from-gnome-terminal-in-disposable-vm/4012

If it turns out in the end there is an actual issue we can report back here.

[2021-05-12 06:00] andrewdavidwong commented on #5557
Where? I'm not seeing any DisposableVMs in the menu.

[2021-05-12 07:01] ninavizz commented on #5557
@andrewdavidwong `datascrub` is the template for the disp-vm, and then `3573-datascrub` is the running disp-vm.

What are you "seeing" instead?

[2021-05-12 07:06] ninavizz commented on #6561
Honestly, this is kinda where I'd like to re-situate it in the new appmenu, too. :)

[2021-05-12 08:35] andrewdavidwong commented on #5557
Oh, I was looking for an entry like `disp1234`, since that's how DisposableVMs are named in Qubes.

[2021-05-12 08:41] andrewdavidwong commented on #6366
IMHO, it might be more intuitive to put the pin, favorite, and maybe even DisposableVM options in the app menu itself rather than here, for example, being able to right-click an entry in the app menu and having an option to pin it.

[2021-05-12 08:59] ninavizz commented on #6366
@andrewdavidwong I think both paths are important. Not all users are habitual right click users... notably, Mac mice have never had a "Right Click" button on them, so folks who either came of age digitally with Macs, or are current Mac users, never developed that habit. Which is a lot of users. Even many Windows users never develop the habit. But I still feel Right Click needs to exist, for those

[2021-05-12 09:00] DemiMarie commented on #5557
Nit: That is how automatically created DisposableVMs are named.  Manually-created DisposableVMs (often called “named DispVMs”) can be named anything the user wishes.  They also persist across reboots (both of the DispVM and of the host), although their data is wiped after shutdown.

[2021-05-12 09:31] andrewdavidwong commented on #5557
Sure, but then I would have expected something like, "In this screenshot, we've created a static DisposableVM named X." At first, I thought `creo` was the DisposableVM, since that's the one with the open menu. But then I thought, "Wait, there's no indication that that's a DisposableVM, so that must not be it. But then where is it?" which led to my question.

So, one important takeaway is to indica

[2021-05-12 09:42] andrewdavidwong commented on #6366
I think it would be fine to have both. For example, Windows 10 provides multiple ways to pin an app to the Start Menu (...though perhaps some might dislike this example).

No worries, my "qualms" are mostly about using consistent terminology (see https://github.com/QubesOS/qubes-issues/issues/4723) instead of having "Disp-VM," "DispVM," "dispvm," "DisposableVM," "Disposable VM," etc. I didn't want

[2021-05-12 09:47] andrewdavidwong commented on #4723
A big one I've been noticing more lately is "DisposableVM." A while back, it was decided that the canonical term will be "DisposableVM." That means the following variants should **not** be used (but still frequently are):

[code]

[2021-05-12 09:50] andrewdavidwong commented on #6599
Closing as done.

I'm sure this can happen without this issue needing to remain open.

[2021-05-12 09:50] #6599 closed

[2021-05-12 10:17] iamahuman commented on #5426
Sorry for the unclear comment. By "asynchronously" I actually meant a (hacky) workaround where the daemon splits the `blkdiscard` request into smaller ranges, so it wouldn't take up the I/O queue for a long time and instead let other BIOs pass through between successive discard requests.

It's not ideal, but it seems to work at the moment. I have used this approach for some time in a form of a cus

[2021-05-12 10:21] iamahuman commented on #5426
Theoretically less in that the guest-side shutdown process is done in parallel, but the discard I/Os would still be serialized, resulting in even _longer_ freeze time.

[2021-05-12 10:24] mfc commented on #6599
@andrewdavidwong @marmarek can you add @ninavizz as a github member to the org? and then make sure she can edit and use this project? https://github.com/QubesOS/qubes-issues/projects/8

[2021-05-12 10:33] andrewdavidwong commented on #6599
I don't have permissions to do that. I think only @marmarek does.

[2021-05-12 10:35] andrewdavidwong commented on #4723
@marmarta, if you could point me to the relevant repo locations, I would be happy to submit PRs to fix and improve the language used throughout Qubes.

[2021-05-12 11:12] DemiMarie commented on #5426
I think the idea is to insert breaks in the I/O stream, to give other I/O a chance to happen.

[2021-05-12 11:16] DemiMarie commented on #4723
I know that I use “DispVM” a **lot**, simply because it is shorter.  It is also used in quite a few more places internally, IIRC.

[2021-05-12 11:19] DemiMarie commented on #4723
[code]

[2021-05-12 11:30] DemiMarie opened #6600 "Logs should be on the private volume by default"
**The problem you're addressing (if any)**

Logs are currently stored in the root volume, which is only persistent in TemplateVMs and StandaloneVMs.  In AppVMs, it is discarded at reboot.  Furthermore, if a TemplateVM or StandaloneVM’s root volume needs to be reverted due to a botched software update, the logs of the botched update are lost.

**Describe the solution you'd like**

Logs should be st

[2021-05-12 11:37] marmarek commented on #4723
Indeed, the internal class name is DispVM. That's something that IMO we should change.

[2021-05-12 11:39] marmarek commented on #6600
An alternative is LogVM: #830

[2021-05-12 11:47] DemiMarie commented on #6600
That’s a better solution, but it is also a lot of work.  This is an almost trivial change :smile:.

[2021-05-12 11:48] DemiMarie commented on #4723
Not just class name, but also property/API/etc name.  Switching right now would be a major breaking change.

[2021-05-12 11:51] DemiMarie commented on #830
Without the metadata, the logs would be FAR less useful to me.  I use `-u` and `--user` a LOT.

[2021-05-12 11:52] DemiMarie commented on #830
As far as security is concerned, would a sanitizer written in Rust be sufficient @marmarek @HW42?

[2021-05-12 13:26] unman commented on #4723
On Wed, May 12, 2021 at 04:48:48AM -0700, Demi Marie Obenour wrote:

It's not about the code (although it would be desirable if code
reflected usage and documentation conventions).
It's about the user facing tools, documentation, and discussions.
We should be consistent and clear there. Making *that* change should not
be major at all.

[2021-05-12 13:36] brendanhoar commented on #4723
One of the key reasons to avoid DispVM is user/developer confusion between that and a "Display VM". Yes, even though the "Display VM" name is not correct (official term for that is "GUI VM").

[2021-05-12 13:44] brendanhoar commented on #5426
Could this be as simple as modifying /usr/lib/python3.5/site-packages/qubes/storage/lvm.py and change:

pre_cmd = ['blkdiscard', '/dev/'+cmd[1]]

To:

pre_cmd = ['blkdiscard', '--step 1073741824','/dev/'+cmd[1]]

and reboot?

Might have to dial in the step size (that's 1GB).

[2021-05-12 13:49] DemiMarie commented on #5426
How large a change would the kernel patch be, and where in the kernel should I look?

[2021-05-12 13:50] DemiMarie commented on #5426
Looks like the kernel supports range deletions, at least in git HEAD.  So the hard part is “just” hooking up `dm-thin` to call that code.

[2021-05-12 14:03] adrelanos commented on #6597
Qubes-Whonix for Qubes 4.1 is unsupported.

https://www.whonix.org/wiki/Unsupported

Not yet supported.

https://www.whonix.org/wiki/About#Support_Schedule

[2021-05-12 15:13] andrewdavidwong commented on #4723
FYI, you're all rehashing the discussion about this from years ago, almost verbatim. 🙂

[2021-05-12 15:19] iamahuman commented on #5426
@DemiMarie Would you mind posting the link? For now I can't find anything other than the emulation (https://git.kernel.org/pub/scm/linux/kernel/git/device-mapper/linux-dm.git/tree/drivers/md/dm-thin-metadata.c).

[2021-05-12 15:20] andrewdavidwong commented on #6597
I think the idea is to fix any bugs so that Qubes-Whonix will work correctly when 4.1 is released. Your links do not say when Qubes-Whonix support for 4.1 will begin. It just quotes the Qubes docs, which say that users who wish to use Qubes-Whonix have to upgrade to 4.1 within a month of 4.1's release to stay current, but what if a user upgrades on day one? Is that too soon? If so, how long should

[2021-05-12 15:20] deeplow commented on #5557
Quite an interesting approach. I like it :+1:

[2021-05-12 15:26] deeplow commented on #6366
![colorize](https://user-images.githubusercontent.com/47065258/118001403-3abcf500-b336-11eb-94e3-3686289fc7d1.png)

Was the opacity selection a result of user feedback? I feel like this approach is too granular. I would suggest instead an option in the qubes global settings (or menu settings) called "colorize applications". Just with a toggle. No %. It then would apply to all qubes.

[2021-05-12 16:30] adrelanos commented on #6597
A lot presumptions, hopefully all reasonable:

I am presuming that none of Whonix's changes introduced any Qubes 4.1 specific breakage, and this being a temporary issue introduced by Qubes R4.1 changes.

Presuming things stay as now, there's no way Marek this issue goes unnoticed by Marek due to Qubes openQA. And before Qubes 4.1. is released for testers or even stable, Marek would do a basic basi

[2021-05-12 18:02] marmarek commented on #6597
For the record: openQA _have_ found (possibly the same) issue: https://github.com/Whonix/updates-status/issues/83
The test was green a week earlier. I have not checked yet if it's caused by some Qubes change, Whonix change, or maybe something else (like Debian change).

[2021-05-12 19:07] DemiMarie commented on #5426
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/drivers/md/persistent-data/dm-btree-remove.c?id=dbb5afad100a828c97e012c6106566d99f041db6#n668

[2021-05-12 19:26] ninavizz commented on #6366
@andrewdavidwong It is a UX best practice to addend words for things like table headers and buttons. The full text "Disposable VM" is problematic as a full table header or button because of its lengthy character-count, and yet "DispVM" or "DVM" are problematic in regular writing contexts because they are unclear. In a UI (vs in a paragraph) word length matters, both for the increased cognitive fri

[2021-05-12 19:34] Gundaris commented on #5548
Got the exact same issue during installation. I have tried remove all data from target device, as some forums suggested this was the issue. But no luck. i have tried multiple times, but no luck.  installing Qubes-R4.0.4-x86_64
![unnamed](https://user-images.githubusercontent.com/40198256/118033943-ae2c2a00-b369-11eb-8d95-f377e62f58ef.jpg)

[2021-05-12 19:57] ninavizz commented on #4723
@andrewdavidwong The conversation I'm observing to be happening, for usability reasons; whether it's developer needs, or end-user needs in a Terminal, or end-user needs navigating an interface. Those needs are not being met by past decisions, it is sounding like.

Solutions that work for everyone, are unlikely to come from a conversation al thread—and I'd recommend a moderated async workshop, to r

[2021-05-12 20:12] ejose19 commented on #5426
This does alleviates the issue considerably, there's no full freeze like before although on some shutdowns (not on all for the same VM) I noticed a bit of lag, but it was tolerable. Interestingly though, shutdown time was also reduced (around ~10%, as measured by `time qvm-shutdown`), and VMs with small storage doesn't seem to be affected by this change.

Here's the full line I've used:
[code]

th

[2021-05-12 20:22] brendanhoar commented on #5426
Awesome, glad to hear it worked!

:)

-B

[2021-05-12 20:43] brendanhoar commented on #5426
Created a pull request here:

https://github.com/QubesOS/qubes-core-admin/pull/404

[2021-05-12 20:51] 3hhh commented on #5225
Why not just pin DNS responses for downstream VMs to the DNS response that was originally obtained during firewall setup?

I.e. essentially cache the response for the lifetime of `sys-fw` or the TTL of the DNS response? Especially since Qubes OS does a lot of DNS DNAT anyway and there should be quite a few open source DNS caches around?

Passively listening to potentially attacker-controlled DNS r

[2021-05-12 21:24] SvenSemmler commented on #4723
The use of "Desktop" would be inconsistent.

sys-usb ... USB
sys-net ... NIC
sys-audio ... audio / ALSA
sys-graphics ... GUI / GPU

The point being that we isolate interfaces in dedicated qubes (I like
"qube" much better than VM ...but I think that's a lost battle).

[2021-05-12 21:36] ejose19 commented on #5547
Seems like core scheduling work is being [done](https://www.phoronix.com/scan.php?page=news_item&px=Core-Scheduling-Linux-5.14) as well on kernel side, which as you mentioned, if Xen can propagate the CPU topology it would provide a safer in-VM isolation.

[2021-05-12 21:49] brendanhoar commented on #6407
With the knowledge that the dom0 kernel may have had horkage flags set for the physical device during device discovery, and that the flag(s) may, among other things, disable NCQ on the device because those particular devices don't correctly handle discards w/ NCQ...

..I'm curious about whether such changes to dm-thin can be appropriately decoupled below dm-thin.

In particular when lvm.conf is co

[2021-05-12 23:18] ninavizz commented on #4723
I really like sys-graphics, actually. Very straightforward, and less tech jargon-y than "GUI.' Also clearly tells non-technical users that this is a thing for the _system to use_ to make _its graphics_ happen. As it makes the internet happen with sys-net, and external devices accessible via sys-usb, and audio accessible with sys-audio.

Yeah, in user-facing stuff, Marta and I are both also trying

[2021-05-13 00:55] iamahuman commented on #5426
I don't see any change here. `dm_btree_remove_leaves` calls into `remove_one`, which in turn uses `remove_nearest` to find nodes to delete. Note that `remove_nearest` can only find/return leaf nodes, which means that `remove_one` can only operate on one leaf node at a time.

Also the level part is a completely different thing; ii is designed to operate on 2+ levels of mappings with mutually differ

[2021-05-13 00:58] ctrlaltf24 commented on #6600
As a user, I'd prefer that my logs don't persist across AppVM reboots. Having them persist would fill up AppVM's private volume faster, at no benefit to my workflow. The power users who want to setup that kind of auditing can add the log folders they want to persist to bind-dirs https://www.qubes-os.org/doc/bind-dirs. I understand the motivation to want to set this up, however it hurts the basic u

[2021-05-13 03:07] ninavizz commented on #4723
Oh! **DQube** for Disp-VM. Using the _qube_ nomenclature in an easy-to-remember fashion, and very easy to say (which is a good indication towards cognitive processes)! "Disposable Qube" in written documentation, always written-out in the first sentence of contextual help as "Disposable Qube (DQube)"

There's only one _sys-graphics_ qube with that GUI isolation schema, so no need to go to GQube or

[2021-05-13 03:09] ninavizz commented on #6366
Edited (again!) to remove "VM" nomenclature from the UI. Updated layout, too.

![AppSettings-notips3](https://user-images.githubusercontent.com/8262612/118072031-dca40800-b35d-11eb-8a5b-d4a8e9c3ee86.png)

![AppSettings-tips3](https://user-images.githubusercontent.com/8262612/118072041-e62d7000-b35d-11eb-9f3c-c6f5eb298c03.png)

[2021-05-13 03:30] ninavizz commented on #5557
Alrightee... it sounds like there are some conversations that need to happen, around all the incarnation options for disposable VMs. That can happen, and I'll put it on my "to do" list for an async workshop.

One other issue, is that the new icons system has not yet rolled-out... and I don't even have `4.1` on a laptop, to "test" how Marta has implemented the disp-vm icon. I also don't know if the

[2021-05-13 06:43] tuxreserve opened #6601 "4.1 - Changes in TemplateVM not persisting in TemplateBasedVM"
**Qubes OS version**

4.1 - Signed Alpha ISO from 05/08/21

**Affected component(s) or functionality**

TemplateVM functionality

**Brief summary**

Changes made in TemplateVM that should persist in TemplateBasedVM - such as placing a file in /rw/config or editing /rw/config/rc.local - do not persist in TemplateBasedVM. Additionally, installed packages to be recognized in the TemplateBasedVM, a sy

[2021-05-13 07:20] DemiMarie commented on #6600
Thanks for your feedback!  Right now, adding them to bind-dirs doesn’t actually work reliably, as the journal will start before bind-dirs runs.  Nevertheless, your feedback is very much valued, thanks!

`systemd-journald` offers options to limit the size of journals.  What if we kept the journals by default, but limited their size to something reasonable?

[2021-05-13 08:18] DemiMarie commented on #5426
That’s unfortunate :disappointed:.  Would you be willing and able to guide me through fixing this properly, or is this something that is not a good start for a kernel newbie?  A proper fix would be greatly appreciated.

Good to know, thanks!

[2021-05-13 08:38] DemiMarie commented on #6366
@ninavizz Can I just say WOW???  What you are talking about just seems like magic to us tech types :smile:.  Seriously, thank you SO MUCH for your hard work!

[2021-05-13 08:38] 3hhh commented on #5225
For example, one could deploy [dnsmasq](https://linux.die.net/man/8/dnsmasq) inside `sys-fw` or even some dedicated VM, then Qubes OS could write the domain/IP combinations resolved during firewwall setup to `/etc/hosts` (used by `dnsmasq`) or just pass them to `dnsmasq` via `--adress` during startup.

If necessary, one could even write a little service that updates `/etc/hosts` after a while.

P.

[2021-05-13 08:42] DemiMarie commented on #5225
dnsmasq has too much attack surface for us to use, sadly.  Unbound would be a better choice, but something written in a safe language would be strongly preferred.

[2021-05-13 08:43] andrewdavidwong commented on #4723
This issue is about using our terminology more consistently after it is decided upon, not deciding what specific terminology should be in the first place. So, many of these comments, while good, are simply off-topic for this issue. In particular, please post comments about what DisposableVM-related terminology should be here instead: https://github.com/QubesOS/qubes-issues/issues/4935

[2021-05-13 09:25] andrewdavidwong commented on #4723
If the past decision about "DisposableVM" needs to be relitigated, that's fine. Please do it in https://github.com/QubesOS/qubes-issues/issues/4935.

The practice of introducing an abbreviation in writing often follows the pattern you're describing, but that's not necessarily the same as introducing a technical term. Some abbreviations are also technical terms, but not all of them are. Likewise, s

[2021-05-13 09:40] herypt opened #6602 "Disable inter-VM pasting into templates by default"
**The problem you're addressing (if any)**
Currently it's way too easy to accidentally paste something in a terminal window in a template and compromise it.

**Describe the solution you'd like**
Disabling pasting to templates, this can be done by adding `$anyvm $type:TemplateVM deny` to `/etc/qubes-rpc/policy/qubes.ClipboardPaste`.

**Where is the value to a user, and who might that user be?**
Thi

[2021-05-13 09:43] andrewdavidwong commented on #1015
@ninavizz https://github.com/QubesOS/qubes-issues/issues/4723#issuecomment-840154620:

You have a misconception. The use of "VM" in *technical* contexts, such as this technical software issue tracker, is not only entirely appropriate, but *necessary*. There is no way that technical people in *any* field would be able to get things done if they were restricted to user-facing language and unable to

[2021-05-13 09:57] andrewdavidwong commented on #4935
@ninavizz is saying that "DisposableVM" is too long to use in UIs (https://github.com/QubesOS/qubes-issues/issues/4723#issuecomment-840056939).

To recap:
 - "DispVM" gets confused with "DisplayVM"
 - "DVM" is open to even more ambiguity than "DispVM"
 - "DisposableVM" is too long in UIs

If "DispVM" would be perfect but for the ambiguity with "display," then why not just name it "TempVM"? As far

[2021-05-13 10:09] andrewdavidwong commented on #6602
The solution you'd like is already implemented, so there is nothing to be done. I'm guessing you meant to say that you think this should be the default?

I can see the rationale for that, since it would make templates more secure by default. However, as usual, it's a trade-off between security and convenience, and most users won't know how to *enable* copy/pasting into templates if they *do* need

[2021-05-13 10:12] DemiMarie commented on #4935
@ninavizz suggested “DQube” in https://github.com/QubesOS/qubes-issues/issues/4723#issuecomment-840257332, which I support.  @ninavizz would you mind reposting that comment here?

[2021-05-13 10:13] DemiMarie commented on #6602
I personally support this.  I do not remember having *ever* had to paste into a template.

[2021-05-13 10:20] GWeck commented on #6602
What about setting the policy to `ask` and let the user decide? This could be done by adding `$anyvm $type:TemplateVM ask` to `/etc/qubes-rpc/policy/qubes.ClipboardPaste`, as far as I understand it. This would be somewhat inconvenient but still better than denying it completely, and it should be used only rarely so that this inconvenience could be tolerated.

[2021-05-13 10:22] andrewdavidwong commented on #4935
@DemiMarie, you can just quote the comment and link to it, like this:

@ninavizz wrote in https://github.com/QubesOS/qubes-issues/issues/4723#issuecomment-840257332:

I'm not sure why, but "DQube" sounds like a joke term to me (in the sense of sounding satirical). Maybe it's due to the similarity to slang terms like "d-bag" or the possibility that it could be pronounced "da qube." It also sounds l

[2021-05-13 10:25] andrewdavidwong commented on #6602
That's no different from how it is now. When it comes to inter-VM copy/paste, `ask` just requires using the inter-VM copy/paste shortcuts (ctrl+shift+C and ctrl+shift+V by default).

[2021-05-13 10:38] adiog opened #6603 "i3wm Drag and drop can drop item on previously selected workspace."
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

i3 version 4.16 (2018-11-04)

**Brief summary**

"Drag and drop" can drop item on different workspace.

**How Reproducible**

Always.

**To Reproduce**

Steps to reproduce the behavior:
1. Open three apps supporting drag and drop: eg. gedit (fake target on separate workspace) and two instance of nautilus (source and real targe

[2021-05-13 10:46] GWeck commented on #6366
One more idea about colourizing the icons: You could leave the icons in thier original colour, so that they are easiliy recognizable, but put them on a background coloured like the VM, somewhat like framing the VM's windows in that colour. So for instance, a red and a green firefox would look like that:
![RedFox](https://user-images.githubusercontent.com/22047384/118115268-048c7d80-b3e9-11eb-9f81-

[2021-05-13 11:24] brendanhoar commented on #4935
Template VM

:(

B

[2021-05-13 11:48] andrewdavidwong commented on #4935
Ah, indeed. I had a feeling, as I was writing that, that there would turn out to be a blindingly obvious case that wasn't occurring to me. :laughing:

It now also occurs to me that using any single letter precludes us from reusing that letter for any new type of qube we might introduce in the future. For example, if we ever introduce a new type of qube based any of the following, "d" would already

[2021-05-13 11:58] DemiMarie commented on #4935
What about Transient?

[2021-05-13 12:09] andrewdavidwong commented on #4935
But "TransientQube" would still be too long in UIs, so it would have to be shortened, presumably to "TransVM / TransQube"?

People might read it as the prefix "trans-" (as in the words "transatlantic," "transgender," etc.).

Since we already have a long and established history with "DispVM" and "DVM," we might as well just pick one and stick with it. Sure, a few people might think it's "DisplayVM,

[2021-05-13 14:09] CrsiX opened #6604 "Clarify meaning of "internal" VM and intended use cases"
**Qubes OS version**

R4.0 (up to date)

**Affected component(s) or functionality**

Qubes Manager GUI: net VM setting when using a disposable net VM

**Brief summary**

Setting the net VM for sys-firewall is not possible via GUI, because in the drop down list in the Qubes Settings for sys-firewall, there's no entry `sys-net-dvm` (how I called it). Changing the setting via `qvm-prefs` works (netwo

[2021-05-13 14:29] maltfield commented on #6540
Is there any documentation on where X11/libinput options should be set for touchpads in QubesOS?

The upstream bug linked-to above suggested to set an option in libinput. Their docs describe many ways that libinput detects palms to prevent accidental touch events:

 * https://wayland.freedesktop.org/libinput/doc/latest/palm-detection.html

And afaict, it looks like the settings would be defined in

[2021-05-13 14:36] deeplow opened #6605 "Documentation Index was reverted"
**Affected component(s) or functionality**

qubes-doc / qubesos.github.io

**Brief summary**

At least one entry in the [docs index](qubes-os.org/doc/) was reverted by [this commit](https://github.com/QubesOS/qubesos.github.io/commit/beccc8173537073423fb12d30859f58e9bbbae47#diff-55943fd2367c001b0000419c82caa55ddf97f2c7118575cf6530ed80b83a7360) during the moving of the index from qubes-doc to qubes

[2021-05-13 14:40] maltfield commented on #6540
I noticed that when I reboot `sys-usb`, my usb mouse stops working but the touchpad does not stop working. So I'd assume that changes for the touchpad wouldn't be made in `sys-usb`...

[2021-05-13 14:45] 3hhh commented on #5225
Hm so this issue boils down to finding the right software.

Honestly I don't see much of a difference in risk wrt dnsmasq or unbound when looking at their CVEs: [unbound](https://nvd.nist.gov/vuln/search/results?form_type=Basic&results_type=overview&query=unbound&queryType=phrase&search_type=all) vs [dnsmasq](https://nvd.nist.gov/vuln/search/results?form_type=Basic&results_type=overview&query=dnsm

[2021-05-13 14:47] andrewdavidwong commented on #6605
@maiska, I believe this was your commit. Could you please investigate?

[2021-05-13 14:57] maltfield commented on #6540
How do I install the `Synaptics` input driver in dom0?

[2021-05-13 15:02] maltfield commented on #6540
If I'm reading these tickets correctly, it appears that QubesOS switched to libinput in 2016-10 for release in Qubes R4.0

 * https://github.com/QubesOS/qubes-issues/issues/2375
 * https://github.com/marmarek/qubes-installer-qubes-os/commit/355e8d032e3cde1ac90f19d6ed08961ef232d701

[2021-05-13 15:26] CrsiX commented on #6604
Short update: In the overview of all qubes, the entry for sys-firewall in the NetVM column is correct:

![screenshot](https://user-images.githubusercontent.com/47722349/118147808-411f9f80-b410-11eb-9b2d-f61cbb1152a1.png)

[2021-05-13 15:27] unman commented on #4723
On Wed, May 12, 2021 at 12:57:20PM -0700, Nina Eleanor Alter wrote:

I don't think we should be crawling over past decisions, and I don't see
any evidence that end-user needs aren't being met by past decisions.
(They may not be - I just don't see evidence for that.)
I *do* think that the inconsistencies of usage over decisions that were
made in the past don't meet end-user needs, but that's a diff

[2021-05-13 15:33] andrewdavidwong commented on #6604
FWIW, I haven't experienced this problem, and I also use a static DiposableVM for `sys-net`.

[2021-05-13 15:36] unman commented on #6600
On Thu, May 13, 2021 at 12:21:04AM -0700, Demi Marie Obenour wrote:

I wouldn't want template based qubes to have persistent logs either.
I don't find the arguments for this in Templates to be convincing. If an
update borks the template to such an extent that a revert is the only
way out, I wouldn't want those logs to be retained.
It's hard enough to interpret logs without having logs that no long

[2021-05-13 15:45] SvenSemmler commented on #4935
I would like to challenge the "too long"/"cognitive friction" argument
in this context. Obviously very long labels are bad, but ambiguous ones
aren't good either.

"Disposable Qube" is not that long and it's meaning is clear. I played
with "one time", "temporary" and "ephemeral" but in general we refer to
something as "disposable" if it's meant to be used once and then thrown
away, which describes

[2021-05-13 15:49] CrsiX commented on #6604
I've set it to be an internal VM:

[code]

But setting it to `False` changes nothing.

Additionally, that qube is also not shown in the global settings dialog of the Qube Manager (e.g. as options for Default NetVM or ClockVM).

[2021-05-13 15:57] SvenSemmler commented on #4723
I was unsure of the outcome of previous discussions I participated in as
they never led to any conclusion and things have remained as they are
since then.

My impression is that everyone agrees with Andrew's point but
immediately launched into discussing once more how things should be
called. A necessary step before unifying.

[2021-05-13 15:59] unman commented on #4935
On Thu, May 13, 2021 at 08:45:37AM -0700, Sven Semmler wrote:

I agree with the sentiments here.
I'm not a user of the Qube Manager, but I know that it already has
labels like "Disposable VM Template", and no one has complained about
them to me. If people understand what a disposableVM (disposable qube)
is, then it makes sense to see that in the interface.

I should say that when I set up custom m

[2021-05-13 16:01] SvenSemmler commented on #6604
Please post the output of

	qvm-prefs sys-net-dvm klass

[2021-05-13 16:10] CrsiX commented on #6604
Strangely, the same applies to the global ClockVM setting:

[code]

But in the global settings dialog of Qube Manager, there's the entry of another of my work qubes which has nothing to do with networking on its own (it's alphabetically the first because it starts with 'd' I guess).

Here you go:

[code]

[2021-05-13 16:10] DemiMarie commented on #6600
Why is that?

[2021-05-13 16:16] unman commented on #6604
On Thu, May 13, 2021 at 08:49:24AM -0700, Crsi wrote:

I have named disposable netVMs and they appear in all these places.
They don't appear for you because you have set the internal flag.
You need to *unset* the internal flag, not set it to False.

[2021-05-13 16:25] tasket commented on #6593
Good find, thanks!

I'm going to look for a way to turn off the mac changing only for this device (other than using a special template for it).

[2021-05-13 16:35] CrsiX commented on #6604
Indeed! This fixed the issue:

[code]

So, the 'boolean value' is whether some string is set there or not. Because `qvm-features sys-net-dvm internal XYZ` is also treated as internal=true with the described side effects.

The docs (`man qvm-features`) say for this option:

[code]

As this was my initial intention why to use the switch, it may be good to point out that there are other side effects

[2021-05-13 16:43] brendanhoar commented on #6407
It appears the answer to my question is yes as per discussion here: https://github.com/QubesOS/qubes-issues/issues/5426

Based on that discussion, I submitted a PR here: https://github.com/QubesOS/qubes-core-admin/pull/404

Which has been approved.

The PR is a mitigation, and may not reduce the amount of time it takes a VM to fully shut down from a Qubes perspective (it's shut down from a Xen per

[2021-05-13 17:24] tasket commented on #6593
Workaround

To the `device` and `connection` sections in '/usr/lib/NetworkManager/conf.d/31-randomize-mac.conf' add:
[code]

Then restart NetworkManager.service.

[2021-05-13 17:26] #6593 closed

[2021-05-13 18:25] #3149 closed

[2021-05-13 18:46] andrewdavidwong commented on #4935
as the OS is called Qubes OS after all. Also in some version of the
future a Qube might no longer technically be a VM but still act and
fulfill the duties of a Qube.

That would be "qube," not "Qube." This is the wrong issue for that topic. Please see https://github.com/QubesOS/qubes-issues/issues/1015 instead. Please be aware that you are repeating points that were made in comments on that issue

[2021-05-13 18:52] andrewdavidwong commented on #6604
This is one of those cases in which the devs had a specific use case in mind for "internal" VMs but failed to document their intentions and the specific use case. The documentation you read is misleading, because it makes it sound like not being included in the menu is all being "internal" amounts to, when that's probably just a side effect.

[2021-05-13 19:30] DemiMarie commented on #6604
You are only screwed if you have done anything in it that could compromise it (like web browsing).

[2021-05-13 20:21] ninavizz commented on #4723
@andrewdavidwong Got it, thx for the course-correction on this issue's topic. So, my question for you, would then be: as an Issue, what action are you seeking to "resolve" it?

@unman We're currently learning about user needs through controlled research methods, for the first time. To me, that warrants some updating. Likewise, if the goals of the language have changed to be more inclusive to new a

[2021-05-13 20:25] ninavizz commented on #4935
@andrewdavidwong How features are named, is a major, major component of UX. I appreciate the team has gone in circles over these things for years, however I am asking you to please appreciate the necessity to include naming as a consideration in the work I am doing.

The mental-model created by what you explain above, between the two forms of a disposable VM, is confusing and conflicting. Hence, I

[2021-05-13 20:27] DemiMarie opened #6606 "qubes-core-qrexec tests are failing in CI"
This appears to be due to a code coverage problem; see https://gitlab.com/QubesOS/qubes-core-qrexec/-/pipelines/302545419

[2021-05-13 20:36] ninavizz commented on #1015
@andrewdavidwong I'm not at all suggesting that technical discussions should abide by user-facing language. However there is a "gray zone" where UX work needs to map to how functionality is exposed to a user. If even developers cannot get those user-facing conventions correct, that to me is indicative of a problem with the mental model those names inform. Mental models help people intuitively piec

[2021-05-13 20:40] ninavizz commented on #6602
@eloquence Thoughts on how this ticket (that is partially flying over my head for what it is asking vs what already exists) may or may not impact our Workstation users?

[2021-05-13 20:42] andrewdavidwong commented on #4723
I think the action to resolve this issue should just be to replace all known inconsistent uses of a given term with the official term, whatever that might be. In other words, if we're not sure what the official term is, pause this issue, decide that in its own issue, then finish this one. (Admittedly, we already have a bit of a mess of partially-overlapping issues in this area that have been dragg

[2021-05-13 20:42] DemiMarie commented on #1015
One problem with using “qube” is that (per internal discussion) it leads to confusion with “Qubes” (the complete system).  In some languages (such as French), trailing “s”s are often silent, which makes the matter worse.

[2021-05-13 20:47] andrewdavidwong commented on #4935
Fair enough, so let's discontinue any further discussion/bikeshedding in this issue, have the synchronous activity to reach a firm decision, then post the outcome here so that action can be taken. Sound good?

[2021-05-13 21:05] andrewdavidwong commented on #1015
I just want to point out that it might be intentional rather than a mistake. I choose very carefully when I use "qube" and when I use "VM," depending on the context of the utterance.

Sorry if I was too harsh. Seeing all of us go in circles over this renaming stuff (as in, literally repeating conversations from years ago that are still on the very same pages, just closer to the top) has been frust

[2021-05-13 21:08] ninavizz commented on #5677
_Tentative findings from the survey and a small number of user interviews, have yielded the below. These are notes from a discussion between myself and Marta, from earlier this week. Survey closes next week, and the latter 3 points in my own priorities list are to happen after the survey closes._

---

**Marta Priorities:**
- Look into feasibility of beginning with Cinnamon or Arc Menus as form-fa

[2021-05-13 21:13] ninavizz commented on #6366
@GWeck I saw you took the appmenu survey (thank you for that!)... and I did the background-coloration on hover for the _Bessie_ prototype. Yep, background coloring is my preference for how to move forward with the coloration convention—but (understandably) many kinda freaked-out at the idea of not having colorized icons anymore. Baby steps! :)

If the "Favorites Bar" on the left of the menu is eve

[2021-05-13 21:15] ninavizz commented on #6366
@DemiMarie Pretty much everything _you tech types_ do, seems like magic to us _humanbrain/design-y types_... so I bow in reverence to your skills-fu, as well. :)

[2021-05-13 21:37] ctrlaltf24 commented on #6600
That would help, but I'd still prefer the default not to persist logs, as it would still take space (even if its not much) that has no value to me.

If bnd-dirs wasn't the trivial solution, what mechanism were you planning to use to have them persist?

How would the AppVM's journal get updated from updates in the TemplateVM's journal? Consider the following scenario:

Do the updates from the Templ

[2021-05-13 21:46] andrewdavidwong commented on #5677
Sounds like a menu or window that is literally partially outside of the visible screen area. For example, when I click on the Qubes Domains icon, the list opens partially underneath my panel, so only part of the list is visible. (I moved my panel from the top of my screen to the bottom, so I'm probably in the minority here.) When I dismiss the list and click a second time, it opens correctly so th

[2021-05-13 21:47] DemiMarie commented on #6600
`bind-dirs` *is* the trivial solution, but for it to work reliably, `systemd-journald` needs to wait until `bind-dirs` has had a chance to run.  Otherwise, it will be writing logs to a mounted-over directory!

[2021-05-13 21:47] CrsiX commented on #6604
I see. I will set my AppVM (called `sys-devices`) which is the template for the disposable net VM & USB VM to be internal, but not the actual VMs itself. In case of problems, this could be changed later.

Actually, I expect to just don't touch it again, i.e. not using it for e.g. web browsing ;)

[2021-05-13 21:48] DemiMarie commented on #6600
If I were designing the system, I would have `/var/log` be as much a part of `/rw` as `/usr/local` is.

[2021-05-13 21:57] ninavizz commented on #5677
Yeah, surveys can be weird for many reasons. The most weird and sometimes infuriating aspect of them, is not being able to ask for follow-up or to discuss things with folks... which then puts much of their quantitative findings, in question. So with the menu, it seemed like it could be any of a few things—half being "bugs" and the other half, user expectations not being met.

That said, it really

[2021-05-13 22:14] ninavizz commented on #4935
Totally! Tho to be as inclusive as possible, I'd also like to post an invitation here for anyone desiring to contribute a synchronous activity, at least a week in advance—so we don't inadvertently exclude anybody.

[2021-05-13 22:20] andrewdavidwong commented on #4935
Sure, I figured as much. Coordinating the activity doesn't count as discussion/bikeshedding. :slightly_smiling_face:

[2021-05-13 22:59] marmarek commented on #6606
Relevant log part:
[code]

[2021-05-13 23:13] ninavizz commented on #5677
@100111001 I never previously acknowledged your suggestion of creating a virtual menu (of the user's virtual system of virtual systems, lol). TBH, it made my head explode just a bit... but it's great and important! I suspect groups w/in favorites, might fulfill the need—but I've also noted to include your suggestion in my final report-out on UxR findings. It's a good one, for sure!

[2021-05-13 23:21] DemiMarie opened #6607 "Direct dm-thin storage driver"
**The problem you're addressing (if any)**
In Qubes OS, snapshot creation is an incredibly latency-sensitive operations.  Users waiting for VM startup is not uncommon, and VM startup requires three snapshots to be created.

Unfortunately, [LVM is not optimized for snapshot creation speed].  LVM is effectively stateless and must always revalidate the current state against the metadata.  But we have

[2021-05-14 03:09] SvenSemmler commented on #5677
https://qubes-os.discourse.group/t/idea-for-future-surveys-threads-with-polls/4037

[2021-05-14 09:18] herypt opened #6608 "Allow infinite retries for LUKS password by default"
**The problem you're addressing (if any)**
After entering the disk encryption password three times incorrectly you need to restart the computer before being able to try again.
**Describe the solution you'd like**
Allow infinite tries by default by adding `tries=0` to `/etc/crypttab`.
**Where is the value to a user, and who might that user be?**
All users that have a long password and type it incor

[2021-05-14 10:22] Ark-of-the-copepod commented on #6574
Good, thank you. I can't find the table becuase I'm not familiar with GitHub, but the words seem good.

I still think these functions should be documented in https://www.qubes-os.org/doc/, not just under the DomU command line functions https://www.qubes-os.org/doc/tools/. These functions are available under the right-click menu options in nautilus. That's how I found them but couldn't find documen

[2021-05-14 11:53] rustybird commented on #6601
That's normal. `/rw` is on the `private` storage volume, which TemplateBasedVMs don't inherit from the TemplateVM.

[2021-05-14 13:27] unman commented on #1015
On Thu, May 13, 2021 at 01:43:14PM -0700, Demi Marie Obenour wrote:

I dont know who the internal discussion was between, but in my
experience with new users, this doesn't give rise to any confusion. In
fact, as was said years ago, it's a natural usage for most people.

But I think it's beens said - we dont want to spend time on this unless
there is good reason (and evidence) to do so.

[2021-05-14 13:32] unman commented on #6608
On Fri, May 14, 2021 at 02:18:38AM -0700, herypt wrote:

Limiting the number of password attempts strikes me as good practice,
and is pretty standard in the industry.

[2021-05-14 13:51] andrewdavidwong commented on #6608
Indeed (while acknowledging that the security benefits are limited, since unlimited attempts can be run against the encrypted data directly).

Moreover, if we're just inheriting this setting from upstream, then I see no  Qubes-specific reason to alter it. In that case, this request should be submitted upstream instead.

[2021-05-14 13:51] #6608 closed

[2021-05-14 13:52] andrewdavidwong commented on #6601
Closing as "not an issue." If you believe this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2021-05-14 13:53] #6601 closed

[2021-05-14 14:55] unman commented on #6602
On Thu, May 13, 2021 at 01:40:49PM -0700, Nina Eleanor Alter wrote:

@Nina - as Andrew has pointed out the *mechanism* for doing this already
exists in the policy file.  Currently the default action in that file
for all qubes and Templates is "ask" - so a user can only paste something
in to a terminal in a template if they explicitly respond "OK" to the
"Ask" dialog.
@herypt thinks this is too ris

[2021-05-14 15:06] p1llule opened #6609 "qubesctl cannot set qvm.prefs provides_network"
**Qubes OS version**
4.0

**Affected component(s) or functionality**
qubesctl,
saltstack 2017.7.1 (nitrogen)

**Brief summary**
I cannot set or get the provides_network property of a VM via qubesctl. I can still do it with qvm-prefs.

updated tl.dr : the property 'provides_network' is not named consistently, sometimes you can uses it as it, sometimes you must use 'provide-network', `qubesctl` retu

[2021-05-14 15:06] herypt commented on #6602
@unman There is no dialog for pasting, ask just means that the user needs to do Ctrl+Shift+V.
While disabling this will certainly make some actions more difficult, pasting commands from the web in templates is insecure as websites/the qube used for browsing the web can inject any command it wants into the clipboard.

[2021-05-14 15:36] unman commented on #6609
You want something like `qubesctl state.apply prefs`
where "prefs" is a salt state containing something like:
[code]

[2021-05-14 15:54] p1llule commented on #6609
I used a shell command thinking it was more easy to make the point with it but well,
Your reply point out what is wrong here :

[code]
returns:
[code]

but we cannot uses 'provide_network' in our salt file.
We must uses 'provide-network'.

It is not consistent with the others properties.
It is not consistent neither with the shell command qvm-prefs.

[2021-05-14 16:16] ninavizz commented on #5677
@SvenSemmler Which methods to use to serve which needs in user research, is always a hard choice with wins and losses. When budgets and timeframes are constrained, moreso.

TL;DR, the survey as a collection of isolated feedback shares was a highly imperfect but intentional decision. Wrote an answer in the forum, but also wanting to do something more socially interactive at some point, too. :)

[2021-05-14 16:42] DemiMarie commented on #6609
Marking as a documentation bug (which is still a bug!).  Also, `Invalid key!` is an exceedingly unhelpful error message.  We can (and should!) do better.

[2021-05-14 16:56] p1llule commented on #6609
tbh `Invalid key!' is at least something : If you use provides_network in a .sls file, `sudo qubesctl --show-output [...]` returns 0, so you cannot rely at all on it to return an error in this case.

[2021-05-14 17:00] DemiMarie commented on #6609
Salt’s error handling is notoriously bad.  I wonder if this is a bug in our code, or a bug in upstream Salt.

[2021-05-14 17:30] mcku commented on #6595
I have tried the new xscreensaver package (version 6.00) and can confirm that this issue is not present anymore. Therefore closing this.

[2021-05-14 19:15] neowutran commented on #6562
Thanks :)
Both of your idea work as expected. I closed the previous pull request and opened a new with the "cat >/dev/null" solution.
Don't know what is the most elegant solution, one is shorter, one is a little bit more explicit that we need to wait for EOF

[2021-05-14 19:19] p1llule commented on #4256
Hi @DemiMarie

Looking to implement [anonymizing-your-mac-address](https://github.com/Qubes-Community/Contents/blob/master/docs/privacy/anonymizing-your-mac-address.md) as a salt formula I had to transfer files and it worked.

After using `sudo qubesctl state.apply qubes.user-dirs`

I started to populate the user_salt directory. For the formula cited, it consist in :

a configure.top file :
[code]

[2021-05-14 20:22] ddevz commented on #6602
So there was the assumption of a "OK" button.

I'll state what in my mind would seem ideal.  It would be extending the options for the qubes.ClipboardPaste file with a "ask-gui" option which would pop a gui dialog, and ask.

One option would be make it configurable to ask something like "this is a template, are you sure?".

However another option could be for the dialog to say something like:

You

[2021-05-14 21:11] ddevz commented on #4573
Note that even though Ctrl+Ins and Shift+Ins works, the edit menu of gnome-terminal (the default) still shows the user "Shift+Ctrl+C" and "Shift+Ctrl+V" as being the keybinding.  A new user should still be expected to believe what the menu is telling it.

Also note that I tried using edit->properties->shortcuts and changing the keys to "Ctrl+Insert" and "Shift+Insert" *does* display the correct ke

[2021-05-14 22:26] marmarek commented on #6595
Lets keep it open until package lands in current-testing repo.

[2021-05-15 03:58] SaswatPadhi commented on #6518
Also note that, the warning states:

But at the top of `/etc/qubes/guid.conf` we see:

[code]

Can we:

1. update warning so it states the qvm-features commandline to be used?
2. provide a UI to flip this Qube Manager? at least globally in dom0, because we do so for `allow_fullscreen` etc.

[2021-05-15 04:47] ctrlaltf24 commented on #6574
Searching for "Convert to Trsuted PDF Qubes" on ddg results in the blog post explaining the mechanism in Qubes 1, then the Github repo with the added README. There is sufficient documentation that a dedicated user can find. If you think otherwise, PRs are welcome on the docs if you want to add a section for natuilus right click menus like the command line tools. In my eyes this issue is solved (on

[2021-05-15 07:31] andrewdavidwong commented on #4573
Sounds like a gnome-terminal bug.

[2021-05-15 07:34] andrewdavidwong commented on #6518
This should be filed as a separate issue, as it would be a separate enhancement.

[2021-05-15 13:22] unman commented on #6602
On Fri, May 14, 2021 at 01:22:54PM -0700, ddevz wrote:

Actually I **do** have an OK button for confirmation, which prompts to
accept paste in to the target qube. I'd forgotten that I have this as an extra.
This isn't for security, but it enhances usability for me.
It doesn't improve the process for ordinary users, who *already* have to get muscle
memory for the Ctrl+C/Ctrl+Shift+C/Ctrl+Shift+v/Ct

[2021-05-15 13:30] unman commented on #4256
Thanks for adding the detail.
Is this still open?

@DemiMarie, @andrewdavdiwong - can you close it please? We already
provide the location asked for.

[2021-05-15 16:21] #4256 closed

[2021-05-15 16:49] unman commented on #6357
Currently, the only blocker is in vmm-xen - otherwise the template builds correctly. This can be closed.

When I have seen this sort of error, it invariably relates to transitory errors in mirroring - that's why there is a 404 , because (as suggested) the server provides only an early or later version from that in the package list.

[2021-05-15 16:55] unman commented on #6327
Arch templates now build correctly (after fixing vmm-xen dependency.)
This should  be closed

[2021-05-15 16:56] unman commented on #6584
Cant now reproduce. Closing

[2021-05-15 16:56] #6584 closed

[2021-05-15 17:08] unman opened #6610 "Qubes Arch repositories are not enabled in Arch templates"
**Qubes OS version**

4.0

**Affected component(s) or functionality**

Builder

**Brief summary**

The current build of Arch templates does not include Qubes repositories although official packages are provided at https://archlinux.qubes-os.org.
The Qubes signing key is not included in the template.

**How Reproducible**

100%

**To Reproduce**

Steps to reproduce the behavior:
1. Build template
2

[2021-05-15 18:10] DemiMarie commented on #6610
As far as I can tell, the official Qubes Arch repositories haven’t been building new packages in a while.  @marmarek @fepitre is that intentional?

[2021-05-15 18:10] #6357 closed

[2021-05-15 18:10] #6327 closed

[2021-05-15 18:16] maltfield opened #6611 "Asus UX331U touchpad issues"
**Qubes OS version**

R4.0

**Affected component(s) or functionality**

Touchpad pointer device

**Brief summary**

The touchapd on the Asus ux331 has numerous issues and is basically unusable.

**How Reproducible**

The issue is not immediate when first booting the laptop, but after some number of hours the touchapd has issues

**To Reproduce**

Steps to reproduce the behavior:

1. Install QubesO

[2021-05-15 18:43] eloquence commented on #6602
Changing the default to make an already inscrutable operation (copy/paste) more difficult for one specific, narrowly defined case sounds like a recipe for usability debt that will be difficult to pay off in future. This is IMO something that should be configured by individual users, until the copy/paste system as a whole is overhauled to give users more straightforward access to managing copy/past

[2021-05-16 04:08] TranceV4 commented on #6191
Jesus… just decided to impossible to get this qubes for who have such windows that’s makes me feel an *another* one thanks!

[2021-05-16 06:03] jamke commented on #6328
Any additional help needed to diagnose this bug? I can answer related questions if you needed it.

[2021-05-16 06:57] jamke opened #6612 "Fedora packaging bug: general file manager packages provided by *-nautilus"
**Qubes OS version**
R4.0

**Affected component(s) or functionality**
Copy and move in Dolphin in KDE-based templates without `nautilus` and `qubes-core-agent-nautilus`. At least it's true for fedora-based templates.

**Brief summary**
There is no proper way to have Copy-Move functions in Dolphin without installing `nautilus`.
In KDE-based templates the package `qubes-core-agent-nautilus` installs

[2021-05-16 11:01] unman commented on #6612
Cant reproduce this in a Debian template, so (subject to confirmation)
it is Fedora specific.
Please update title.

[2021-05-16 13:36] DemiMarie commented on #6191
My recommendation is to offer a USB creator signed by proper Windows and macOS code-signing certificates.

[2021-05-16 15:11] unman commented on #6585
I'm starting to think that the problem lies with Fedora as much as salt.
If you have updates available, but elect not to install them, take a
Fedora machine offline, and then check updates, there is *no* warning
that the repos arent available, just notice that updates are available.
Not wrong, but misleading, and this *may* be the source of the salt
issue.

[2021-05-16 15:42] DemiMarie commented on #6585
Salt also uses the DNF CLI rather than the Python API, for stability reasons.  I suspect that using the API would avoid some of these issues.

Nevertheless, I am certain that there are problems with Salt too.  For example, I have had Salt report success and say that 0 states were applied when there were certainly states to be applied!  In that case, the problem was a bad top file, but Salt should

[2021-05-16 16:15] jamke commented on #6612
@unman
I'm not using Debian templates as Fedora is the main and primary distribution for Qubes OS.
Do you have `/usr/lib/qubes/qvm-copy-to-vm.gnome` script and `/usr/lib/qubes/qvm-copy-to-vm.kde` symlink? Probably yes, then do you know where did this `qvm-copy-to-vm.gnome came from` - which package and what are dependencies of this package? It can help to find out if Debian is affected.

---------

[2021-05-16 17:07] unman commented on #6612
I've just told you that Debian is *not* affected.
The commands work in Debian without nautilus being installed. (There's a
separate issue re zenity but that's to be expected when using minimal
templates - that's why they carry a health warning)
In Debian the qvm-copy-to-vm.gnome script is provided by
qubes-core-agent.

imo this is covered by the standard warning about using minimal
templates. They

[2021-05-16 17:15] herypt commented on #6612
The issue is that qvm-copy-to-vm.kde, which gets installed by qubes-core-agent, is just a symlink to qvm-copy-to-vm.gnome, which gets installed by qubes-core-agent-nautilus in Fedora templates. qvm-copy-to-vm.gnome should be moved to the qubes-core-agent package, which is already the case in Debian, or qvm-copy-to-vm.kde should become an actual file instead of a symlink to fix this issue.

[2021-05-16 18:42] DemiMarie commented on #6612
This is still a bug in Qubes OS.  @herypt patch coming.

[2021-05-16 18:44] herypt commented on #6612
@DemiMarie This will actually already get fixed by https://github.com/QubesOS/qubes-core-agent-linux/pull/307

[2021-05-16 21:01] ninavizz commented on #6602
A point of note that I feel may help resolve the concerns this issue seems to have been created around: next-up on my list of Qubes UX Needs is designing a Policy Manager GUI for folks. Based on what I'm looking at in this Issue, a need for that project will be surfacing these opportunities and decisions by the user, or by Qubes as a default.

I do not disagree with the initial flag by @herypt but

[2021-05-17 08:56] ghost opened #6613 "Weekly 4.1 builds need to clean metadata ( dnf clean metadata before install something new from repos)"
**Qubes OS version**
4.1

If you run `qubes-dom0-update -v` it runs from April 23.
And user see this `Last metadata expiration check: -1 day`
It impossible to install newer templates before you type `sudo dnf clean metadata` and `sudo qubes-dom0-update --refresh`

[2021-05-17 09:00] jamke commented on #6612
Thanks guys. I hope the hack with `dnf download` will be redundant soon.

As you know this topic - is there a ticket to change menu text of service for Dolphin from "Send to VM" to "Copy to VM"?
Or should I create one?
Because Send - means you move something (sending letter). So having Send and Move is very mind-blowing. I had to modify it in my templates manually to change things like that.

[2021-05-17 11:51] heinrich-ulbricht commented on #5426
Wow, lot's of activity here.

Do I understand correctly that there are two issues that are being currently discussed:

1. shutdown for huge AppVMs on HDDs take lots of time; the bigger the AppVM the longer the shutdown
2. shutting down a huge VM may block the whole system for some time

And that the fix by @brendanhoar alleviates the second issue?

[2021-05-17 12:05] andrewdavidwong commented on #6585
Even if you use `--refresh`?

[2021-05-17 12:09] andrewdavidwong commented on #6602
Sounds like this is a "won't do." If anyone has a new reason for why this should be done, please leave a comment, and we'll be happy to take another look. Thank you.