[2022-03-12 13:10] marmarek commented on #7114
@mfc can you confirm whether removing `qubes-mgmt-salt-base-overrides` fixes it?

[2022-03-12 13:34] mfc commented on #7114
not finding the package in `dom0`:
[code]

[2022-03-12 15:29] honzahosek commented on #7309
@DemiMarie How do I install gui-daemon with the new logging for reporting what is going on?

[2022-03-12 16:29] marmarek commented on #7114
Maybe it was removed then, but some cached copy remained. Try:
[code]

[2022-03-12 16:44] mfc commented on #7114
[code]
[code]
[code]
[code]

[2022-03-12 16:46] 3hhh commented on #7331
`CONFIG_PSTORE_BLK=m` might help.

A user would still have to create a dedicated pstore partition though.

https://docs.kernel.org/admin-guide/pstore-blk.html

[2022-03-12 16:46] mfc commented on #7114
[code]
in proposing removing `python2` an interesting-sounding package pops up, `qubes-mgmt-salt-base-overrides-libs`

[2022-03-12 17:06] marmarek commented on #7114
That is correct, it shouldn't be needed anymore (but also shouldn't hurt).

[2022-03-12 18:53] DemiMarie commented on #7309
Update with the current-testing repository turned on

[2022-03-12 18:54] marmarek commented on #6565
Some related info: the Xen version shipped in R4.1 has CET shadow stack support enabled by default (if hardware supports it). And soon will have BTI support backported too.

[2022-03-12 18:57] marmarek opened #7342 "Fedora 36 template"
**The problem you're addressing (if any)**
Fedora 36 is going out soon.

**Describe the solution you'd like**
We should have a Fedora 36 template.

**Where is the value to a user, and who might that user be?**
Users of the Fedora template who prefer to upgrade their templates by reinstalling will have a new template to upgrade to.

Tasks:
- [x] build all packages
- [x] build the template
- [x] add

[2022-03-12 19:02] mfc commented on #7114
is this a relevant error?
[code]
i removed `qubes-mgmt-salt-base-overrides-libs`, also removed all python2 packages that are listed from `sudo qubes-dom0-update`. i haven't deleted all the `python2`-suggested packages since some sound still relevant (`yum-metadata-parser`, `dbus-python`).

running `sudo qubes-dom0-update --enablerepo=qubes-dom0-security-testing` works, so i think dom0 updates work

[2022-03-12 20:50] DemiMarie commented on #7331
…and that dump would be unencrypted, which is often a non-starter.

[2022-03-12 21:16] marmarek commented on #7331
Depends on what you want to achieve. It dumps "just" crash message, not the actual memory content.

[2022-03-12 21:56] brenthl88 commented on #7328
/dev/root fails to mount on mine so I couldn't install Qubes.

I have a lot of issues with QubesOS 4.1:

dracut initqueue timeout script

Emergency Shell

Warning: /dev/root does not exist

[2022-03-12 22:22] brenthl88 opened #7343 "Logging errors in QubesOS installation"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

![20220122_113017](https://user-images.githubusercontent.com/28693435/158037000-b72e3435-11f2-4966-b6a8-44b8e2f850b8.jpg)
(and for some reason, the keyboard doesn't work)

### The solution you'd like

Allow automatically saving the text file on another USB storage device (beside

[2022-03-13 04:03] brendanhoar opened #7344 "Recent LVM security update borked running system"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.0 current-testing

### Brief summary
lvm2 security update modified default global filter and lvm no longer recognized currently open devices and changed existing behavior.

### Steps to reproduce
Create a new thin volume in main pool.
Create plain cryptsetup volume on top of thin volume.
Create a n

[2022-03-13 04:11] DemiMarie commented on #7344
@brendanhoar what is the UUID of the device in question?  Does using the path under `/dev/disk/by-id/dm-uuid-CRYPT-LUKS` work instead?

[2022-03-13 04:13] brendanhoar commented on #7344
Correction to the above: it's plain cryptsetup, not luks. I'll update my issue.

[2022-03-13 04:14] DemiMarie commented on #7344
Can you provide the sysfs attributes of the rejected device?

[2022-03-13 04:16] brendanhoar commented on #7344
In /dev/disk/by-id/

The volume starts with dd-uuid-CRYPT-PLAIN-

B

[2022-03-13 04:20] DemiMarie commented on #7344
Thanks @brendanhoar.  Can you provide the full UUID?

[2022-03-13 04:24] brendanhoar commented on #7344
Modifying the global filter (copy commented block, paste block, remove initial # from all lines) in lvm.conf to insert a line for PLAIN similar to the line for LUKS seems to resolve my issue without changing my script:

"a|^/dev/disk/by-id/dm-uuid-CRYPT-PLAIN-.*|",

B

[2022-03-13 04:38] brendanhoar commented on #7344
If I'm understanding correctly...

Before the fix, the uuid that was generated was:

/dev/disk/by-id/dm-uuid-CRYPT-PLAIN-eph-26539-luks

Everything specified after PLAIN- is specified by me in the script (constant-pid-constant). pid (process id) changes per script run.

B

[2022-03-13 04:41] DemiMarie commented on #7344
Okay!  This should be sufficiently different from what Qubes OS would generate for a distinction to be made.  Patch coming.

[2022-03-13 07:02] andrewdavidwong commented on #7343
This enhancement request is rather underspecified. Could you elaborate on your use case?

[2022-03-13 07:50] honzahosek commented on #7309
So I updated it and connected and disconnected HDMI few times. After last disconnect windows of 2 of 3 running appvms disappeared.

The end of log file:
[code]
Width is width of my laptops screen. The external display is wider. I setup external display on top of the laptops screen.

I think the absurd work area is there only for a short moment. The daemon should wait a bit and try few more times b

[2022-03-13 08:01] honzahosek commented on #7309
Also I had other issue with external displays.

I was connected to smaller display, then disconnected, then connected bigger display. One appvm worked well. But other had limited mouse events to size the smaller display.

So drawing on full screen of the display looked like the white area:
![2022-03-07-100121](https://user-images.githubusercontent.com/5223021/158050618-7e989f17-ca39-49e2-882f-b8bf

[2022-03-13 08:45] DemiMarie commented on #7309
18446744073709551585 is `2 ** 64 - 31`, which is `UINT64_MAX - 30` or -31 in 2’s complement.

[2022-03-13 09:06] 3hhh commented on #7331
Well, even just the crash message would be more than I currently have (= nothing, just a reboot in ~50% of the cases when `sys-usb` and `sys-net` start).

[2022-03-13 12:17] marmarek commented on #7309
I agree, if there is work area already set, an absurd update should be ignored (just log warning, use old values).

[2022-03-13 12:22] marmarek commented on #7309
Hmm, do negative values have some special meaning there? I haven't seen that in the spec...
https://specifications.freedesktop.org/wm-spec/latest/ar01s03.html#idm46476783576048:
`These geometries are specified relative to the viewport on each desktop and specify an area that is completely contained within the viewport.`
For me it sounds like negative values are not valid (whatever negative height

[2022-03-13 12:44] locriacyber opened #7345 "Support different types of Focus events"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
r4.1

### Brief summary
X applications rely on different focus events (`detail`) to function.

For example, `FocusOut` + `NotifyNormal` means different than `NotifyGrab`, the later tell the application to that the user is switching windows, so it should ignore key events.

### Steps to reproduce
1. Ru

[2022-03-13 13:12] Geblaat commented on #7051
Not sure if this is the right place to post this, but crosvm may be more interesting than KVM for a Qubes port. One of the disadvantages of KVM over Xen is that it is significantly less secure. Crosvm is based on KVM so theoretically has the same advantages as KVM, but it is written in Rust and it allows sandboxing virtual devices making it more secure than KVM. It is also designed for desktop use

[2022-03-13 13:22] anonaddict commented on #1806
After looking a bit further into it it does seem really shady and I've found several people saying similar things

https://github.com/mumble-voip/mumble/discussions/5403

https://github.com/bountysource/core/issues/1539

https://blog.elementary.io/goodbye-bountysource-hello-github-sponsors/

https://github.com/bountysource/core/issues/1560

https://en.wikipedia.org/wiki/Bountysource

[2022-03-13 13:58] lubellier commented on #7342
Fedora-36 switches to systemd-250 (source: https://src.fedoraproject.org/rpms/systemd).
So like ArchLinux, Fedora-36 should have the problem with the new predictable network interface names (`xen_netfront`: eth0 vs enX0), see [#7284](https://github.com/QubesOS/qubes-issues/issues/7284).

[2022-03-13 14:00] marmarek opened #7346 "Support for rpmdb in /usr"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Fedora 36 has rpmdb moved to /usr: https://fedoraproject.org/wiki/Changes/RelocateRPMToUsr
Currently it breaks at least the template build, but probably few other things too.

### The solution you'd like

Adjust / verify:
- [x] template builder
- [x] VM's part of qubes-dom0-upda

[2022-03-13 14:01] marmarek commented on #7284
necessary for #7342 too

[2022-03-13 15:07] abebeos commented on #1806
@ maintainers: why would you hide my comment ("This comment has been minimized."), whilst keeping others which mention bounty-amounts open? My warning addresses each and every person which has contributed to the bounty. You should respect those people.

@anonaddict , yes, it's a drama. After I started analyzing bountysource here https://github.com/abebeos/bountysource, they send me the cashout nex

[2022-03-13 19:10] andyhhp commented on #7340
I meant rare at datacenter scale, not "can be reliably repro'd on a single system".  Also, the way it would go wrong would be a crash some point after resume, so there would be logging from Xen

[2022-03-13 19:20] andrewdavidwong commented on #1806
Simply because it's off-topic relative the technical matter of adding support for GNOME in dom0 or the GUI domain. Hiding your comment doesn't reflect a judgment about the *truth* of what you wrote, only its *relevance*. The issue tracker is a technical tool intended to support our developers in their daily work, and the more unrelated comments they have to sort through, the less useful it becomes

[2022-03-13 19:29] DemiMarie commented on #7309
PR coming

[2022-03-13 20:29] DemiMarie opened #7347 "SCSI pass-through"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

CD and DVD drives cannot be burned or played outside of dom0 or sys-usb.

### The solution you'd like

Use SCSI pass-through, which is fully supported by upstream Xen (including security support).

### The value to a user, and who that user might be

Users will be able to burn a

[2022-03-13 20:55] brenthl88 commented on #7343
I was attempting to install QubesOS on my DIY computer with a [x570 AORUS Ultra 1.1](https://www.gigabyte.com/us/Mini-PcSystem/X570-AORUS-ULTRA-rev-11-12/support#support-dl-bios), 5950X and a 5700 XT (Phantom Gaming D). However, I encountered problems like modprobe: ERROR: could not insert 'floppy'. No such device.
After which, I get a long line of:
dracut - initqueue[1230]: Warning: dracut - init

[2022-03-13 23:39] marmarek commented on #7347
For playing, attaching a block device to a VM is enough.

As for burning, indeed full SCSI is necessary.

[2022-03-14 04:14] DemiMarie commented on #7347
Is it needed for audio CDs, too?  The website seems to suggest so.  In any case this is a limitation of Qubes OS, not Xen.

[2022-03-14 08:10] logoerthiner1 commented on #7340
I have recently reproduced the issue after 4~5 suspension within 1 hours (when I was testing about another thing) so this bug does not seem to rely on long timing; When I reproduced that, later I found that CPU / Fan is unreasonably hot, I am not sure whether it has anything to do with the issue.

After I inspect the log file more carefully I find out something different.
dom0 `journalctl -r` tell

[2022-03-14 08:13] logoerthiner1 opened #7348 "Music player hangs after suspending and resuming if music is playing when suspending"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

When I am playing music and suspend, after resuming the pulseaudio playback blocks.

Killing and restarting `pacat-simple-vchan` in sys-audio does not work.

It seems that the AppVM pulseaudio dummy service is in a dead lock.

Btw I am using sys-audio.

May be related to #726

[2022-03-14 10:41] deeplow commented on #7341
Looks like this is an issue on the hosting provider's end. I'll question them about this.

[2022-03-14 11:26] mfc commented on #1835
ok great! maybe we mention in split-gpg documentation and close this issue?

[2022-03-14 11:35] mfc commented on #6521
give low priority and R4.1 now stable, i think we skip #1, and for #2 would be good to hear thoughts on merging background folders. there are no UI indications for a user to expect more wallpapers in other folders besides the default wallpaper folder.

[2022-03-14 12:04] marmarek commented on #7340
I can reproduce it on my TGL system, with totally different firmware. I have a serial console, and not much more details there. Xen stops responding to triple ctrl-a when in hangs.

[2022-03-14 12:15] locriacyber commented on #7345
This is impossible to get right under X. Focus events in X has nothing to do with if a window has input focus. The X server decides that.

The current Qubes OS GUI architecture has two X server running, and there is no easy way to get them to agree which window has focus with X API. Also, input is sent to each VM, and routed to each window by VM's X server.

The only way I see this focus working i

[2022-03-14 14:58] deeplow commented on #7341
@ilka-schulz I've followed up with the provider. According to their testing tools the DKIM signature is valid,
the Sender: is discoursehosting.com and the From is not relevant here. They say it's an uncommon but valid setup.

Here's a sample report: https://www.mail-tester.com/test-pot1of7e7

Do you have a tool that can reports otherwise. If so, do let me know, if not, it may well be a case that y

[2022-03-14 15:08] abebeos opened #7349 "[BOUNTYSOURCE] Your Funds may be at Risk"
## @ Bountysource Contributors

source: https://github.com/QubesOS/qubes-issues/issues/1806#issuecomment-1000750271

-

Please be aware that Bountysource has problems, your funds may be at risk:

https://github.com/abebeos/bountysource

-----
@andrewdavidwong , please, get serious and try to patronize some kids with pseudo-analytic stuff like this: https://github.com/QubesOS/qubes-issues/issues/18

[2022-03-14 17:06] DemiMarie commented on #7341
That does not surprise me, but I believe that the From header does matter here.  In any case we (ITL) can work around it by setting SPF, DKIM, and DMARC records for `forum.qubes-os.org`.

[2022-03-14 17:07] zithro commented on #7178
@fepitre, thanks !
I've added the doc and created the PR.

[2022-03-14 18:11] marmarek commented on #6507
It should be:
[code]
and then
[code]

[2022-03-14 18:15] DemiMarie commented on #7345
This seems impossible to implement correctly without either a patched X server or switching to Wayland.  Given that that is the case, should bugs that would require this be considered “won’t fix” for the X11 agent?  The Wayland agent can just do everything itself because it is the compositor.

[2022-03-14 18:38] DemiMarie commented on #1835
That’s fine with me, with a caveat: I believe dom0 journal entries may be lost.  Should qrexec keep its own log, which it fsyncs() before allowing a request?  That might require some fancy batching for performance.

[2022-03-14 18:45] deeplow commented on #7341
Not sure I follow. Discoursehosting.com are the hosting company for the forum. So they can do anything with the forum, if they wanted to.

[2022-03-14 19:20] ilka-schulz commented on #7341
I see. Of course, the DKIM verifier does not know that so it will continue to show a warning for each mail signed by `discoursehosting.com`'s public key. I found that Thunderbird's "DKIM Verifier" addon allows custom rules with custom SDIDs so it is probably the best to manually enter `discoursehosting.com` as the trusted SDID for `forum.qubes-os.org`.

[2022-03-14 19:22] DemiMarie commented on #7341
@deeplow can you add the missing DKIM and DMARC records?

[2022-03-14 19:49] DemiMarie commented on #7341
It would be on the Qubes OS side, as Qubes OS controls the `forum.qubes-os.org` DNS records.

[2022-03-14 20:58] andrewdavidwong commented on #7341
I think only @marmarek has access to that.

[2022-03-14 21:06] #7349 closed

[2022-03-14 21:06] andrewdavidwong commented on #7349
Based on our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), this does not appear to be suitable for `qubes-issues`. We ask that you please post this on the [Qubes Forum or `qubes-users` mailing list](https://www.qubes-os.org/support/) instead. If, after reading our [issue tracking guidelines](https://www.qubes-os.org/doc/issue-tracking/), you believe we are mistaken, pl

[2022-03-14 21:30] andrewdavidwong commented on #6507
Now that https://github.com/QubesOS/qubes-doc/pull/1239 has been merged, is there anything left to do for this issue?

[2022-03-14 21:38] vblimits opened #7350 "Laggy and pixelated disk decryption passphrase entry screen"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.0.4
4.1.0

running on Librem 14 with 2TB samsung NVMe 980 PRO (new)
32Gigs 3200 Ram (new)
### Brief summary
during boot when i get to enter my disk encryption phrase the mouse pointer, and text (balls as i type) are pixelated and entire is vary leggie (about 1 sec per char) it looks like a screen re

[2022-03-14 21:40] andrewdavidwong commented on #7350
@vblimits, could you please fill out the issue description? We'll need a bit more to go on than just the title.

[2022-03-14 21:43] vblimits commented on #7350
Sorry i am not sure what happend there, if you need a "screen" shot let me know ill take a picture with my phone

[2022-03-14 21:52] fepitre commented on #7350
@vblimits please give us your hardware description (especially video card), kernel version installed, Qubes release etc. I'm also encountering similar issue on a laptop since recent kernels

[2022-03-14 21:57] vblimits commented on #7350
brand new computer fresh install by me from the Qubes OS website ISO
Brand: Librem
Storage: Samsung 2Tb NVME 980 Pro
CPU: 4.70GHz Core i7 10710U Comet Lake
Memory: GSkill 32GB DDR4 3200Mhz
Operating System: Qubes OS 4.1.0 Kernel 5.10.90-1.fc32.qubes.x86_64
Ports: Card reader, USB 3.1 type-A, USB 3.1 type-C, HDMI 2, 3.5mm TRRS,
Camera: 1280x720px (0.9MP), 10FPS
Display (Size, Resolution): 14-inch m

[2022-03-14 22:07] marmarek commented on #6507
Yes, apparently there is an include missing so the second command on its own does not work...

[2022-03-14 22:08] fepitre commented on #7350
@vblimits can you try to install `kernel-latest` in dom0? You may need to enable `current-testing` repository too (you can enable it through the Qubes Global Settings in menu, select "Testing updates" in `dom0 updates`). Then in a dom0 console:

[code]

Reboot and you will start on kernel latest on the first grub entry. Check if it changes something.

[2022-03-14 22:12] NieDzejkob commented on #6507
Also, it seems that it wasn't only a change of name, but also from state to pillar.

[2022-03-14 22:16] DemiMarie commented on #7350
I have the same problem on my system (Lenovo P51)

[2022-03-14 22:18] vblimits commented on #7350
@fepitre no change new Kernel is 5.15.14-1.fc32.qubes.x86_64

[2022-03-14 23:51] NieDzejkob commented on #4042
I am also experiencing this issue. I have collected the logs after booting with `loglvl=all guest_loglvl=all`, as suggested by https://wiki.xenproject.org/wiki/Debugging_Xen

The USB controllers in question:
[code]
They require setting the "disable strict reset" option.

`xl dmesg` output before suspend:

<details>

[code]

</details>

`xl dmesg` output during suspend:
[code]

`guest-sys-usb.log`:

[2022-03-15 00:04] marmarek commented on #4042
Can you try _avoid_ unloading HCI drivers? See `/etc/qubes-suspend-module-blacklist` - comment them out there.
If that doesn't change anything, maybe even avoid unbinding them from relevant drivers - see `/usr/lib/qubes/prepare-suspend`

[2022-03-15 00:06] marmarek commented on #4042
While it looks unrelated to the suspend issue, it still shouldn't be there. I don't see 00:16.7 device there at all, any idea?

[2022-03-15 00:07] NieDzejkob commented on #6507
Once the commands in https://github.com/QubesOS/qubes-issues/issues/6507#issuecomment-1067135102 are fixed, it'd be good to add them to the documentation somewhere.

[2022-03-15 00:12] abebeos opened #7351 "Please Fix Your Issue-Tracking Bot (@andrewdavidwong)"
Issue https://github.com/QubesOS/qubes-issues/issues/7349 needs to stay open and visible(!), in order to protect the (QubesOS) users which invested money into https://github.com/QubesOS/qubes-issues/issues/1806#issuecomment-1000750271 from loosing their funds.

@andrewdavidwong is obviously totally incompetent to triage issues.

(No, I will not use another medium, I use exclusively issue-trackers

[2022-03-15 00:24] abebeos commented on #7351
You may want to add "Discussions" to your repo, and kick this issue over to Discussions. Otherwise, process it here, and don't be so rude to force people to use ancient mailing-lists.

[2022-03-15 00:32] NieDzejkob commented on #4042
I have commented out `ehci_pci` and `xhci_pci` in that file in the `debian-11` template and verified that the change appeared in sys-usb. The issue still occurred.

After rebooting to get `sys-usb` working again, I edited `/usr/lib/qubes/prepare-suspend` in `sys-usb` directly, commenting out the loop below `# detach all drivers from PCI devices (the real ones, not emulated by qemu)`. The issue sti

[2022-03-15 00:39] #7351 closed

[2022-03-15 01:17] NieDzejkob commented on #4042
After `sys-usb` hung, I tried the following:
[code]

The first command took a few seconds before reporting success.

[2022-03-15 01:18] DemiMarie commented on #4042
That is interesting

[2022-03-15 01:21] NieDzejkob commented on #4042
Also, when the VM is hung, `xentop`'s `STATE` column shows `b`, unlike a VM suspended with `virsh`, which shows `s`.

[2022-03-15 02:08] marmarek commented on #4042
Anything interesting in `journalctl` in dom0 at the suspend time? Or in `/var/lib/libvirt/libxl/libxl-driver.log`? Look specifically for some suspend timeout, but maybe something else is there too.
Basically, I'm trying to figure out if the VM never fully suspended, or rather hanged on resume. I guess the latter, but worth checking anyway.

Further debugging ideas:
 - add `no_console_suspend` to k

[2022-03-15 03:13] NieDzejkob commented on #4042
Adding `no_console_suspend` to the kernelopts did not create any additional output in the logfiles. During suspend, `libxl-driver.log` only gains the following line:

[code]

`journalctl` has some interesting stuff — a kernel stacktrace and a post-suspend timeout:

<details>

[code]

</details>

I tried

[code]

Neither triggered any output in the VM's console. As for, `gdbsx`:

[code]

On CPU 0,

[2022-03-15 03:21] marmarek commented on #4042
[code]

[2022-03-15 03:29] NieDzejkob commented on #4042
What I meant is, I don't have gdb in dom0, and `dnf install gdb` fails with "no such package", so I thought redirecting this port to some AppVM might be easier. But it looks like dom0 doesn't have any networking, so I'll look at coaxing dnf into installing gdb in dom0.

[2022-03-15 03:39] marmarek commented on #4042
https://www.qubes-os.org/doc/how-to-install-software-in-dom0/

[2022-03-15 04:21] DemiMarie commented on #4042
Is there a way to do this from the stubdomain instead?  Running unstable software in dom0 that parses untrusted memory does not seem like the smartest idea.

[2022-03-15 05:25] logoerthiner1 commented on #7350
I can reproduce this bug. CPU is i5-1135G7 and graphics is "Intel Corporation TigerLake-LP GT2 [Iris Xe Graphics]"

Also it seems that since I uses kernel-latest (for a different issue) I have not suffered from a similar issue; however when I was using the default kernel 5.10 in dom0, in the dom0 GUI the cursor goes pixelated when it is transiting states. (Not sure whether the issue is in kernel v

[2022-03-15 05:42] auroraanon38 opened #7352 "'/usr/bin/widget-wrapper qui-clipboard' fails to release file descriptors for /run/qubes/appviewer.lock -- fd starvation"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

After running Qubes for a while and using the clipboard feature to transfer text between qubes, notification for clipboard copies suddenly stop working as does the clipboard transfer.

### Steps to reproduce

1. Copy and paste the clipboard until the file descriptor limit for

[2022-03-15 05:47] auroraanon38 commented on #7352
I haven't tried it yet, but I think putting [this line](https://github.com/QubesOS/qubes-desktop-linux-manager/blob/1728d2e0abf725d1aebedea8ea9ba272054996bf/qui/clipboard.py#L255) in a `finally` block would fix it.

[2022-03-15 07:53] pefu commented on #7347
**example use:** The popular Gnome application `sound-juicer` is able to convert audio CDs into `.ogg`, `.mp3` or other audio file formats. However `sound-juicer` does not work with a block device. Since `sound-juicer` queries a public database on the internet to obtain song title, componist and interpreter information it would be very bad, if the user has to install this program in `sys-usb` and

[2022-03-15 08:52] deeplow commented on #7341
The person at the hosting company also suggests us to configure DKIM to sign with forum.qubes-os.org domain, since we have the whole domain delegated. Then, DMARC could be enabled and it wouldn't be "uncommon" setup anymore.

[2022-03-15 09:27] mfc commented on #6425
for folks who upgrade from R4.0 to R4.1, is there an easy way to adopt this change?

or put another way, currently for folks who upgrade from R4.0 to R4.1 this change is not included even though i've updated dom0 since the upgrade.

[2022-03-15 09:33] deeplow commented on #6425
I have reinstalled the system and have also not gotten this.

[2022-03-15 10:49] anadahz commented on #7297
This is in fact very irritating.

I prefer the old behavior of `i3-dmenu-desktop` which was show only the desktop entries of the disposable VMs.

[2022-03-15 11:10] NieDzejkob commented on #4042
Managed to attach gdb, though there aren't any symbols in the vmlinuz image. Is there a package with a debug kernel available somewhere, or do I need to compile one myself? I tried `sudo qubes-dom0-update --enablerepo=qubes-dom0-unstable --action=list 'kernel*'`, but that didn't find anything relevant.

[2022-03-15 11:51] marmarek commented on #4042
Unfortunately the latter.

[2022-03-15 17:05] vblimits commented on #7350
i can confirm i get a pixelated cursor at the desktop every now and then and when transiting .

[2022-03-15 22:25] EncryptedGiraffe commented on #7350
I also experience this, both on my old system and my current one. R4.1 kernel-latest, from current-testing.

[2022-03-16 00:43] DemiMarie commented on #7350
I would be fine with this, but only if @ninavizz (user experience lead for Qubes OS) approves it.

[2022-03-16 00:53] vblimits commented on #7350
this would only solve the 1 issue, not the seemingly related problem of the mouse pointer after boot

[2022-03-16 12:32] locriacyber commented on #3430
I can write a tool to fetch from https://github.com/QubesOS/qubes-secpack/ and auto update if possible.

We can include machine-readable code (for upgrade) and text in QSB for the tool to use.

[2022-03-16 14:13] locriacyber opened #7353 "Upgrade glibc in dom0"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
It's impossible to build any executable from any newer Linux distro for dom0 since it's still using Fedora 32 with glibc 2.31.

### The solution you'd like
I don't know any solution. I tried to build 2.31 headers in https://github.com/wheybags/glibc_version_header, but the projec

[2022-03-16 14:23] marmarek commented on #7353
You should use the target environment for building (f32 in this case), not only because of glibc version, but other libraries too. [Qubes builder](https://www.qubes-os.org/doc/qubes-builder/) can help you with building packages in appropriate chroot.

[2022-03-16 14:23] #7353 closed

[2022-03-16 14:43] tlaurion commented on #7304
@marmarek we are 7 days later. Packages will land in stable repos when?

[2022-03-16 14:45] tlaurion commented on #7114
I see manual interventions needed from end users, while no more user report for this failure (and was not able to replicate https://github.com/QubesOS/qubes-issues/issues/7114#issuecomment-1048943587 7 days later https://github.com/QubesOS/qubes-issues/issues/7114#issuecomment-1055850571.

Not sure why the bug just vanished, but some applied fixes resolved the issue since then @marmarek ?

[2022-03-16 14:50] tlaurion commented on #7306
@marmarek I do not see bot posting here that it landed in stable repo even if 14 days ago

[2022-03-16 14:51] marmarek commented on #7114
Updating some salt-related packages implicitly clears the cache.

[2022-03-16 14:54] marmarek commented on #7306
Looks to be missing "Fixes" tag in the commit message.

[2022-03-16 17:13] marmarek opened #7354 "qvm-template loads only a single .repo file from /etc/qubes/repo-templates/"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

`qvm-template` should load all .repo files from `/etc/qubes/repo-templates`, but loads only a single one.

### Steps to reproduce

1. Add additional .repo file into `/etc/qubes/repo-templates`
2. Try to install a template from ther

### Expected behavior

Template is installe

[2022-03-16 18:56] marmarek commented on #4042
Unfortunately I don't know the right answer. But you can probably find some (rather inconvenient) method by reading `show_trace_log_lvl()` in `arch/x86/kernel/dumpstack.c`...

[2022-03-16 22:10] tlaurion opened #7355 "Having a USB Security dongle connected to USB with installing Qubes 4.1 fails to create disposable sys-usb without error"
### Qubes OS release
4.1

### Brief summary
Having second stage install (on reboot) configure sys-usb in disposable mode fails to create it (without error) when a USB Security dongle is connected.

### Steps to reproduce

Have a Nitrokey Pro (I suspect any USB device other then a USB drive) connected on second stage boot prior of configuring the system.

### Expected behavior
Be able to configure

[2022-03-16 23:19] DemiMarie commented on #7355
At least YubiKeys appear as USB keyboards.

[2022-03-16 23:32] tlaurion commented on #7355
@DemiMarie that may be the cause. Nitrokey Pro is also a HID device.
Why no error message?

[2022-03-16 23:38] DemiMarie commented on #7355
@tlaurion because Qubes OS is supported on hardware that only has a USB keyboard, and for which sys-usb would break the boot process.

[2022-03-16 23:39] DemiMarie commented on #4042
Firmware bug?

[2022-03-16 23:45] tlaurion commented on #7355
Ok. So would it make sense to document this in Qubes installation @DemiMarie ?

Feels dumb that second stage would fail to deploy sys-usb because user behind computer didn't remove his security token, no?

Either documentation or code needs to be fixed with at least a warning. Otherwise other issues will be opened for sure. Which one we choose?

@marmarek @DemiMarie

[2022-03-17 00:15] NieDzejkob commented on #4042
By adding some `printk`s, I determined that it gets stuck in `async_synchronize_full`, waiting for `async_resume_noirq` with `dev` pointing to the USB controller handled by `xhci_hcd`. I've noticed that this bug doesn't reproduce 100% of the time. Still no idea how to get a useful backtrace, so I'll continue with printks for now.

[2022-03-17 00:15] marmarek commented on #7355
It is communicated during initial setup. https://openqa.qubes-os.org/tests/36517#step/firstboot/5 - see checkbox for USB qube, it reads "USB qube configuration disabled - you are using USB keyboard or USB disk".

[2022-03-17 00:17] marmarek commented on #4042
Hmm, but originally (before debugging this), the xhci module was unloaded on suspend, no?

[2022-03-17 00:43] DemiMarie commented on #7355
Can we have an option to override this?

[2022-03-17 00:50] NieDzejkob commented on #4042
I don't think this matters, because it executes the generic `pci_pm_resume_noirq`.

[2022-03-17 01:03] marmarek commented on #4042
Can you double check the case of not unloading and unbinding driver? Verify with dmesg that controller isn't un-registered on suspend.

Can you find where exactly?

[2022-03-17 01:22] marmarek commented on #7355
If system is booted from USB (the check looks specifically for rootfs on USB disk), not really - that guarantee a startup fail. But for USB keyboard, I think we can.

[2022-03-17 01:23] NieDzejkob commented on #4042
Here: https://elixir.bootlin.com/linux/v5.10.96/source/drivers/base/power/main.c#L639

Will do.

[2022-03-17 01:27] marmarek commented on #4042
I mean, where in `pci_pm_resume_noirq` it hangs.

[2022-03-17 01:28] marmarek commented on #6969
Fedora 35 template is built for both R4.0 and R4.1 (actually, for R4.1 it's in testing repos for quite some time already). @andrewdavidwong can you announce and invite for testing?

[2022-03-17 01:28] marmarek commented on #7342
Fc36 packages for R4.1 are already built into current-testing repository. But above linked issues are not solved yet.

[2022-03-17 01:31] DemiMarie commented on #6969
I mean I have been using it for quite a while with no problems, and would be fine with pushing it to stable.

[2022-03-17 01:53] NieDzejkob commented on #4042
I have confirmed that the log line
[code]
which occurs normally, did not occur when I modified `prepare-suspend` as before; the hang still occurred.

Ah, of course. Looks like I've made a mistake though, the function that actually gets called is `pci_pm_thaw_noirq`, I'll take a look at where it breaks.

[2022-03-17 02:13] NieDzejkob commented on #4042
It hangs within the call to [pci_set_power_state](https://elixir.bootlin.com/linux/v5.10.96/C/ident/pci_set_power_state) at https://elixir.bootlin.com/linux/v5.10.96/source/drivers/pci/pci-driver.c#L1048

[2022-03-17 02:14] tlaurion commented on #7355
@marmarek https://osresearch.net/InstallingOS/#installing-qubes-41

I do get this screen:
https://user-images.githubusercontent.com/827570/156628021-d3ec34af-e620-48b8-aa39-45d84c968769.jpeg

[2022-03-17 03:15] NieDzejkob commented on #4042
Okay, this is *weird*. I modified [`pci_dev_d3_sleep`](https://elixir.bootlin.com/linux/v5.10.96/source/drivers/pci/pci.c#L71) to add the following prints:
[code]

First of those gets printed, with `delay=10`. The second one doesn't.

[2022-03-17 03:54] NieDzejkob commented on #4042
I'm quite perplexed as to what makes this particular msleep different from the rest. I have added logging to the implementation of msleep, and it turns out that this is the first time it gets called after resume. Considering the hang doesn't always occur, it'd bank on some weirdness in this area.

[2022-03-17 07:25] ekaflaer commented on #7162
@andrewdavidwong is it anywhere documented how can I increase the memory default for the salt vms? Like I have said my minimal ram configuration is already bigger then the 192MB.

[2022-03-17 07:31] andrewdavidwong commented on #6969
@marmarek:

Announced here:

https://forum.qubes-os.org/t/fedora-35-templates-available-for-testing-for-both-4-0-and-4-1/10235

Thanks!

[2022-03-17 08:01] andrewdavidwong commented on #7162
I don't know. I just let automatic memory balancing take care of everything ([qmemman](https://www.qubes-os.org/doc/qmemman/)).

Please note that the issue tracker (`qubes-issues`) is not intended to be a place for fielding questions. Instead, we have other [venues meant for asking questions, asking for help, and having discussions](https://www.qubes-os.org/support/). (By contrast, the issue track

[2022-03-17 11:13] marmarek commented on #4042
Maybe time source don't worka at this stage (yet)? I mean, before enabling interrupts. There are quite a few options to choose from. Check `/sys/devices/system/clocksource/clocksource0/{current,available}_clocksource`. Maybe some of them depend on timer interrupt(?!) ...
I'd add printing the current value before suspend and see if there is correlation.
You can also try changing it before suspend a

[2022-03-17 11:18] marmarek commented on #7162
As unman said, the low memory here is most likely cause. Check `memory` property on `default-mgmt-dvm` (or whatever you have set for `management_dispvm` qubes-prefs).

[2022-03-17 11:42] marmarek commented on #7355
Okay, this is weird. The screen I shown you before was specifically with Nitrokey Pro plugged in. Can you confirm specific install ISO version?
Can you send me `journalctl` output after completing such firstboot step (that failed to create sys-usb, even though it was selected)?

[2022-03-17 11:44] marmarek commented on #7342
BTW, currently I do not plan backporting F36-related changes to R4.0. F35 is supported past EOL of R4.0, so there won't be any support gap.

[2022-03-17 13:08] tlaurion commented on #7355
I was wrong, really sorry for the noise. With (HID) USB Security dongle connected:
![signal-2022-03-17-082833](https://user-images.githubusercontent.com/827570/158814923-219d55b5-1240-4e54-b869-0ce40e2d7402.jpeg)

Without:
![signal-2022-03-17-083050](https://user-images.githubusercontent.com/827570/158814911-f60fa5a2-7fc9-4533-9fc6-1f431055f7e2.jpeg)

So I guess its documentation route.

[2022-03-17 13:31] fepitre opened #7356 "qrexec-policy-daemon may crash due to missing policy files"
I've encountered a crash issue from qrexec-policy-daemon due to a missing file:

[code]
This is from the fact that https://github.com/QubesOS-contrib/qubes-core-admin-addon-bridge-device/blob/master/qubes-rpc-policy/admin.vm.device.bridge.Attach.policy#L13 is not updated correctly with respect to R4.1.

We need to improve that because the result it unusable qrexec system.

[2022-03-17 13:40] adrelanos commented on #7243
Seems like already implemented?

[2022-03-17 15:30] #7243 closed

[2022-03-17 18:04] tlaurion commented on #7355
Updated https://osresearch.net/InstallingOS/#installing-qubes-41

[2022-03-17 23:34] crat0z commented on #7350
Same thing on a 10850K, so this isn't a laptop specific issue.

[2022-03-18 07:55] sjvudp commented on #7335
I wonder: Could I enable core dumps easily in the system, and would it be helpful to have the actual core dump? Or have a different lvm to replace the one that is failing?

[2022-03-18 12:46] fepitre commented on #7350
I'm rejecting the idea of disabling plymouth. This is happening to very few users because of missing hardware support. Having "fancy" output makes normal user or Linux users coming from other distro like Fedora, openSUSE, Ubuntu etc. not having the first impression of: "argh it's ugly".

[2022-03-18 13:25] 51lieal commented on #7350
This bug actually has been happened to me since 4.0, using discrete gpu only mode, fix the problem (no driver install or whatsoever needed)

I think it's intel gpu related.

[2022-03-18 13:50] adrelanos opened #7357 "Qubes-Whonix openQA testing improvements"
For better support of Qubes-Whonix in oldstable (R4.0), longer support cycles, the following would be useful.

**A)** general enhancements (maybe easy wins)

Do the non-Whonix openQA tests include things such as starting a file manager, doing some things, running qvm-copy, VLC and other (graphical) applications? If the applications match, would it be doable to run the same tests in Qubes-Whonix as

[2022-03-18 14:52] Szewcson commented on #6824
I also noticed it. It is relay annoying. Sometimes after boot only thing I can do is shutdown since my keyboard (internal USB) and mouse (external USB dongle) not works. Also it appears not only after boot. It also happens sometimes when woken up or returning from suspend...

[2022-03-18 15:32] DemiMarie commented on #7307
It will be a while before Wine has Wayland support, but the Wayland agent will support XWayland (it’s supposed to replace the X11 agent outright) and hopefully wlroots has a better X window manager implementation than the current GUI agent does.

[2022-03-18 16:09] marmarek commented on #7307
That sounds rather weird, I'd suspect it's some unexpected interaction with gui-agent. Does it do the same without qubes-gui-agent (for example when running some Live linux system in HVM, or even on bare metal)?

[2022-03-18 17:20] deeplow opened #7358 "panel is gone: "failed to show the preferences dialog""
I haven't experienced it myself. Opening a bug report for this because people have been talking about this in the forum, but nobody stood up to creating it here on GitHub [after some insistence on my part](https://forum.qubes-os.org/t/xfce4-panel-doesnt-appear-after-booting/10089/6):
- https://forum.qubes-os.org/t/xfce4-panel-doesnt-appear-after-booting/10089/2
- https://forum.qubes-os.org/t/panel

[2022-03-18 19:47] SaswatPadhi opened #7359 "`deferring g.e. 0x... (pfn 0x...)` messages flooding all VMs"
### Qubes OS release

R4.1

### Brief summary

After the recent Qubes updates (to dom0 and all templateVMs), I see a lot of `deferring g.e. 0x... (pfn 0x...)` messages in `dmesg`. Not sure if these message relate to the fact that my Qubes system becomes unusable after a few (~4) hours. While everything works fine for a few hours after restart, Qubes ultimately slows down to the point where it's no

[2022-03-18 21:25] marmarek commented on #7357
Those are nice ideas!

Currently very few graphical applications are tested:
 - Firefox (opening Qubes website, doubles as smoke test for networking)
 - gedit (for copy&paste test)
 - Document Viewer (just checking if app opens)

There are also a few tests for `qvm-open-in-dvm` (called as a command, not from file manager context menu).  Those are called on Whonix too already.

File manager and the

[2022-03-18 22:12] noskb commented on #7359
Same, except no slowdown occurs, and I also saw the following flood of messages at AppVM.
`[130669.067576] xen:grant_table: g.e. 0x679a still pending`

[2022-03-19 01:18] Otsudo opened #7360 "Github has broken the Qubes builder script "get-sources""
**Qubes OS release**
Qubes OS v4.1

**Brief summary**
Recently Github discontinued access to their site via “git://” meaning that when you go to run the script “get-sources” it breaks trying to use git:// instead of https://. In addition, the “Qubes ISO Building” and the “Qubes builder” docs are out of date because of this.
This is the github blog/update that outlines the issue: [Improving Git pro

[2022-03-19 02:00] marmarek commented on #7360
This is already fixed.

[2022-03-19 02:04] marmarek commented on #7360
And other uses fixed too.

[2022-03-19 02:04] #7360 closed

[2022-03-19 02:07] NieDzejkob commented on #4042
There are four clocksources: `xen tsc hpet acpi_pm`. All four of them hang.

I believe the timers used by `msleep` do indeed use interrupts, considering `__run_timers` does indeed get called from a "softirq" — not sure what that means exactly. Besides, I don't see how one would go about executing something at a specified time without interrupts or busy-waiting. Thus the use of `msleep` in a "noirq

[2022-03-19 03:32] marmarek commented on #7284
I did a bit more selective thing in https://github.com/QubesOS/qubes-core-agent-linux/pull/368/commits/c61a4017fee90119e89e54464a3458f64c1ff430
Can somebody confirm it helps on Arch?

[2022-03-19 04:57] tlaurion commented on #4318
@olivierlambert @marmarek @madscientist159 @no-112 @DemiMarie @HW42 @shawnanastasio @fepitre
@pietrushnic

https://twitter.com/OpenPOWERorg/status/1504112361975730186?s=20

[2022-03-19 09:00] olivierlambert commented on #4318
Yes that's a good thing to hear. But beyond love we'd like to have actual hardware…

[2022-03-19 10:02] na-- commented on #7284
That seems to have fixed the issue for me :tada: Thank you!

[2022-03-19 10:38] adrelanos commented on #7357
That all sounds good!

Perhaps just check the last image (last image of videos stays static). That would also catch some bugs in case there's no playback at all.

Also good.

[2022-03-19 14:39] DemiMarie commented on #7359
This looks like it is related to the recent frontend security fixes.  I suspect the backend is not releasing grant references quickly enough.

[2022-03-19 14:43] DemiMarie opened #7361 "Qubes Manager and domains widget very slow to start when several VMs are starting"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1

### Brief summary

When several VMs are being started (in my case, via qrexec), Qubes Manager and the domains widget are very slow to start.  It appears that Admin API calls are being slowed down, perhaps due to lock contention of some sort.

### Steps to reproduce

Have `.desktop` files in `~/.

[2022-03-19 14:45] DemiMarie opened #7362 "Qubes Manager and domains widget display stale data if starting concurrently with VMs"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

If I am starting the Qubes Manager and the domains widget at the same time as I am starting a bunch of VMs, the widget and manager have incorrect (stale) information even after they have fully started.

### Steps to reproduce

Have `.desktop` files in `~/.config/autostart` th

[2022-03-19 14:55] DemiMarie commented on #7358
This blocks a change that I would like to make at some point in the future, which would cause the X server to exit in this case.

[2022-03-19 18:48] madscientist159 commented on #4318
@Rspigler I'm the mystery dev that has offered the initial ppc64le Xen hypervisor port for 2BTC.  Joining the discussion again as requested. :smile:

If this is feasible, let's get everything set up for when I'd be able to start, which is in the May 2022 timeframe.  I'm expecting the port itself to take several months of solid effort, so we'd be looking at completion Q3/Q4 this year.

[2022-03-19 22:51] olivierlambert commented on #4318
We can contribute here if there's actual resource (ie you :D ) to work on it. Contribute in terms of money, hardware or reviewer (I'm about to hire someone to continue port on RISC-V, and there's some similar things to do, but since he's based in Ukraine, it is postponed as you can imagine).

Please list what you would need so we can make it happen ([Vates](https://vates.fr) and/or [Xen project](h

[2022-03-19 23:10] madscientist159 commented on #4318
@olivierlambert I have the requisite hardware and the know-how to do this.  Basically, I just need to be paid enough for it to be worth the significant amount of time I'd be spending on it, hence the offer to do the initial basic port for 2BTC.

Does that work as a ball-park estimate from your side?  If so, I could get some milestones together, what I'm thinking (just to minimize risk overall for

[2022-03-19 23:10] liilac commented on #4318
I would be interested in working on this still, if the project got organised, there was proper project management, clear milestones, defined goals and so on.

I think a practical step might be funding scoping and project management work. Sure, it may not deliver any of the goals in itself but it is essential to actually get this project to go anywhere and stay on track. I imagine there are more pe

[2022-03-19 23:12] NieDzejkob commented on #4042
Welp, looks like I'm wrong about that part. The bug didn't reproduce when I booted a live Debian with `nosmp` (or `maxcpus=1`, for that matter).

[2022-03-20 00:19] tlaurion commented on #4318
What about scheduling a call?

[2022-03-20 00:24] NieDzejkob commented on #4042
Okay, `noirq` means that only some interrupts get disabled, depending on the flags in `irq_desc`. So it's not inherently a context hostile to `msleep`.

I have determined that `__run_timers` stops getting called on CPU 1 when the bug occurs, by saving the value of `jiffies` to a per-cpu variable at the beginning of the function, and inspecting its value in a debugger. The value that gets written t

[2022-03-20 00:29] madscientist159 commented on #4318
@tlaurion I'd be happy to, would Monday next week work?  I think you have my Email address, we could schedule offline there as well.

[2022-03-20 03:38] marmarek commented on #4042
You can check out various interrupt and vCPU related stats with `xl debug-key`, start with `h` for a list (the output will be in `xl dmesg`, and `/var/log/xen/console/hypervisor.log`).
`xl vcpu-list` may also give some insights. Pinning vcpus to specific cores may be interesting too.

What happens if you reduce sys-usb to just one core (`qvm-prefs sys-usb vcpus 1`)?

[2022-03-20 04:11] tlaurion commented on #4318
That would require also other interested parties participation.
What about a framapad?

@olivierlambert @DemiMarie @Rspigler @Rudd-O @liilac @fepitre  @madscientist159 @pietrushnic @marmarek @jpouellet @no-112 @HW42 @mfc

Who would want to be present? Timezones? I'm UTC-5

[2022-03-20 10:31] olivierlambert commented on #4318
We have a project manager here, we can provide some of his time to get things "organized" if needed :) But yes, starting with a web meeting is a good idea.

My TZ is UTC+1 (CET).

[2022-03-20 10:34] DemiMarie commented on #4318
I’m UTC-4

[2022-03-20 10:40] DemiMarie commented on #7361
I suspect (but cannot confirm) that qubesd’s event loop is being blocked due to blocking libvirt calls.  @marmarek is there a way to use asynchronous libvirt calls instead?

[2022-03-20 12:06] marmarek commented on #4318
UTC+1 (CET) here too.

That would be greatly appreciated!

[2022-03-20 12:33] NieDzejkob commented on #4042
**Workaround**: changing [this `msleep`](https://elixir.bootlin.com/linux/v5.10.96/source/drivers/pci/pci.c#L72) into an `mdelay` stops the hangs from occurring. Though there is no chance of upstreaming that, so I'll keep digging.

[2022-03-20 15:30] tlaurion commented on #4318
@olivierlambert a project manager would be amazing!

@madscientist159 not all people have replied yet, Monday seems short, my presence being lot less relevant then from a lot of others.

Rough estimate here of possible meetings from reported timezones 9am UTC-5 is 2pm UTC+1.

So we have UTC-5 9-11 range to have everyone yet reported timezones having a chance to be present, while @Rspigler @Rudd-O

[2022-03-20 16:19] Rspigler commented on #4318
Very great news! I am UTC-4.

@madscientist159 Has someone funded the 2 bitcoin yet, or are you requesting it from this fund?

@olivierlambert Can you have your project manager post their plans or a little introduction here?

Really great stuff here guys.  I'll try to get someone from IBM here too

[2022-03-20 16:46] madscientist159 commented on #4318
@tlaurion I'm UTC -6, could do Wednesday in those time slots if that works better?

@Rspigler No, I am requesting funding for this effort, mainly because the Xen port hasn't made any forward progress and this is technology I would like to see on the POWER platform (Xen + Qubes)

[2022-03-20 16:48] locriacyber commented on #7307
There is no visible window on bare metal. Do you know how to log every X window creation?

[2022-03-20 17:04] fepitre commented on #4318
Same here.

[2022-03-20 17:16] tlaurion commented on #4318
@Rspigler @Rudd-O : some clarity seems to be needed here first. Funds are still available for Xen port? (I thought this was clear and the base for all those discussions). Otherwise some contact with OpenPower foundation for their "support" seems required prior of going forward?

@marmarek @fepitre : amount of work/milestones/$ needed to glue things together after successful Xen port for Qubes? (0.

[2022-03-20 18:13] olivierlambert commented on #4318
I agree, let's check the resources first 👍 To me there's the following questions:
* Do we still have the 2x BTC available to do it?
* Is OpenPower or Xen project able to provide some extra resources? (free hardware, money, anything else?)

Then, let's organize a meeting.

FYI my project manager isn't a deeply technical person, but someone dedicated to manage/organize IT/dev projects with a 15y+ ex

[2022-03-20 18:45] Rspigler commented on #4318
Yes, my funds are still available.

I too would like to hear more from the OpenPower foundation/Xen project to clarify exactly what their support means (I will be contacting them and pointing them towards this fund)

I can offer a Blackbird mainboard w/ one 4 core Power9 CPU

[2022-03-20 21:18] tlaurion commented on #4318
@olivierlambert @DemiMarie @Rspigler @Rudd-O @liilac @fepitre @madscientist159 @pietrushnic @marmarek @no-112 @HW42 @mfc

So funds are there, prokect manager is onvoard, remote and local hardware can be provided if pertinent and we have a dedicated dev ready to commit to realize work.

Si we have a scheduled meeting on Wednesday 22 March 2022 UTC 2pm at https://meet.jit.si/XenPowerPort it seems.

[2022-03-20 21:22] pietrushnic commented on #4318
@tlaurion you probably meant Wednesday 23 March 2022.

[2022-03-21 00:56] NieDzejkob commented on #4042
I have just noticed that the Kernel Hacking section of the configuration has some interesting features, such as the "Debug Oops, Lockups and Hangs" category and "Sleep inside atomic section checking". I've enabled them, with the expectation that it'll complain about the `msleep` if it's being called in an inappropriate context (it is documented in `Documentation/kernel-hacking/hacking.rst` section

[2022-03-21 01:07] marmarek commented on #4042
Have you tried this?

[2022-03-21 02:24] madscientist159 commented on #4318
@tlaurion I have it on my calendar, look forward to the discussion!

[2022-03-21 02:56] Rspigler commented on #4318
So, I am very excited for this recent resurgence of interest, and the upcoming meeting.  However, I would like to make one last pitch for seL4 before we make this possibly-permanent step forward.  I know there are others who have also voiced support for seL4 throughout the years this thread has been running.  I believe the concern has always been the difficulty of the task and the difficulty of or

[2022-03-21 03:33] NieDzejkob commented on #4042
I tried a configuration where both VCPUs are pinned to the same core, and one where they are pinned to different cores. None of those had any drastic effect to the rate at which the bug occurs – in particular, it neither stopped occurring nor started reliably hanging. I also think pinning the VCPUs to cores on which nothing else is running would be interesting, but I don't have enough cores for th

[2022-03-21 04:14] tlaurion commented on #4318
Interesting.
https://www.trustworthy.systems/projects/TS/makatea

Security analysis and requirements paper, 02/2022: https://www.trustworthy.systems/projects/TS/makatea_reqts.pdf

[2022-03-21 04:21] Rspigler commented on #4318
Thank you for that link @tlaurion.  I will have to take the time to read through that tomorrow.

Information from a response I have already received via email from an seL4 member:

We should contact the Neutrality team and try to join forces with them.  (I will do so).

Notes:

It is not just that seL4 is not verified on Power, it does not run on it at all.  There is also no plan to ever support i

[2022-03-21 04:42] Rspigler commented on #4318
I have sent an email to the Academic Advisors for Neutrality:

june.andronick@unsw.edu.au
nicolasc@cmu.edu
adrian.perrig@inf.ethz.ch
franzi@cs.washington.edu
joss.wright@oii.ox.ac.uk

[2022-03-21 04:52] madscientist159 commented on #4318
@Rspigler While I would be willing to do the seL4 port for POWER instead of a Xen port, if funded, I respectfully disagree completely on the POWER/RISC-V aspect of things.

I am able to respond to this Github issue on a fully blob-free POWER box, while I run FPGA synthesis/PAR in the background and have a full-featured, modern GUI up and running with several VMs active.  I can do this because high

[2022-03-21 05:16] NieDzejkob commented on #4042
When the bug happens, the clock device mode in `lx-timerlist` for "Broadcast device (hpet)" and "Per CPU device: 1 (xen)" switches from `CLOCK_EVT_STATE_ONESHOT` to `CLOCK_EVT_STATE_SHUTDOWN`. Not sure whether the problem is that it entered this state, or is that supposed to happen during suspend, and it just didn't exit that state when it should.

[2022-03-21 09:03] sjvudp commented on #7335
Basically I was following https://www.qubes-os.org/doc/custom-install/ with the exception that I skipped partitioning as the correct partitions did exist already. So I started from creating a new LUKS device on an existing partition.

[2022-03-21 09:35] olivierlambert commented on #4318
IMHO, they aren't mutually exclusive. We are also working on Xen port to RISC-V, and I agree RISC-V is more longer term than POWER.

I can't tell for seL4, it's outside my current knowledge. I suppose it's up to Qubes people -and/or the people actually putting money- to decide if they prefer to go with Xen path or something else. I can only tell that we can provide some resources if it's on Xen si

[2022-03-21 09:39] DemiMarie commented on #5765
Changing labels and milestones as this was marked as “won’t fix” for R4.0.

[2022-03-21 10:13] DemiMarie commented on #4318
I have been hoping for a Qubes OS port to seL4 since before I began working for ITL, and being able to work on such a port would be a dream come true.  That said, @madscientist159’s point is _also_ correct, inasmuch as I am not aware of any sufficiently powerful RISC-V hardware.  Qubes OS is (at least for now) quite resource intensive (this will hopefully be fixed in the future), and I do not know

[2022-03-21 10:40] DemiMarie commented on #4042
To me, this looks like it _should_ trigger a “sleeping function called from invalid context” splat.  I don’t think it is valid to sleep with interrupts disabled.

[2022-03-21 11:24] HW42 commented on #4318
First, two notes:

 - In the end it's of course the call of those who provide the money what should be done with it.

 - I'm speaking for myself not necessarily for the project. If you need a position of the Qubes project for your decision, you have to ask @marmarek explicitly for it.

---

With that out of the way, some comment on the seL4 ideas:

Having a formally verified VMM would be great. Bu

[2022-03-21 11:33] marmarek commented on #4318
Simon's summary above is a very good one.

That are the key points. I'm familiar with Makatea efforts and its going to be "Qubes-like" in some aspects, but rather far from what you consider a Qubes OS now (which is highly dynamic, highly integrated, desktop oriented operating system). Sadly, I can't share much details about it here.

[2022-03-21 11:38] NieDzejkob commented on #4042
That's what I thought at first too, but it turns out that "noirq" in this context means that a controlled subset of interrupts is disabled (in software, I think), so that the drivers that are being resumed don't get called yet. This is why the splat I enabled didn't trigger.

[2022-03-21 11:56] DemiMarie commented on #4318
Same disclaimers here.

Indeed.  That does not mean that the work on seL4 should not continue.  It absolutely _should_ continue, and I both hope and believe that one day seL4’s ecosystem will reach a level of maturity such that porting Qubes OS to it is worthwhile.  What seL4 is doing is absolutely amazing, and I very much wish them luck and want them to succeed.  seL4 being a poor choice for Qube

[2022-03-21 12:03] GWeck commented on #3585
**Just some comments on the current state:**

I have been using QWT 4.1.67 now quite a while in a production environment on Windows 7, 10 and 11, without major problems. For installation and use, the results are described in [[WIP] Windows/QWT user reports](https://forum.qubes-os.org/t/wip-windows-qwt-user-reports/9687) for Windows 7 and 11; Windows 10 behaves like 11, but I didn't describe it the

[2022-03-21 12:16] DemiMarie commented on #3585
Please report bugs for each of those problems.  “Sounds somewhat scratchy” is still a bug :slightly_smiling_face:.

How do you handle password management?  Windows assumes all over the place that a user’s password is a high-entropy secret string (yes, this is a bad assumption).  Having to enter your password every time the qube starts isn’t convenient at all.  Do you have the qube set to automatic

[2022-03-21 13:01] Kenny606 commented on #3585
Thank you very much.
I was just looking around yesterday afternoon hoping to find a simple status breakdown of what works and what doesn't. I did checkout the user reports page however the additional details you provided answer the last few questions I couldn't find solid answers to yesterday.

I know the question of documentation has been floating around quite a bit lately. What's the most reliab

[2022-03-21 13:36] #7355 closed

[2022-03-21 13:49] tlaurion commented on #7300
@DemiMarie another thread was opened on the forum is the use case of simply reencrypting LUKS and seeing speed varying from 50MiB/s to 150 MiB/s on commodity SSD on my side.

This is linked to assumptions the different tools are taking from what is reported from hardware (disk block size), partition table, partition alignment and block size of create partition. To summarize, only modifying the LUK

[2022-03-21 14:13] marmarta commented on #6521
I think merging folders is a good idea. I'm almost certain they are split like this by mistake or oversight.

[2022-03-21 14:22] littlebenlittle opened #7363 "UEFI Troubleshooting documentation does not reflect 4.1"
### Qubes OS release

[Docs](https://www.qubes-os.org/doc/uefi-troubleshooting/) appear to match 4.0 but contradict 4.1

### Brief summary

Fresh installation media does not contain boot records described in the documentation.

### Steps to reproduce

Download and flash new installation media and then run `find . | grep xen\.efi` on the mounted drive

### Expected behavior

Files should exist

###

[2022-03-21 15:05] marmarek commented on #7341
Forum emails are signed with key from forum domain thanks to Communiteq's offer, which allowed us to set appropriate DMARC record too.

[2022-03-21 15:05] #7341 closed

[2022-03-21 15:17] madscientist159 commented on #4318
@olivierlambert @DemiMarie I also agree that the POWER and RISC-V efforts are far from mutually exclusive.  The main point I was making, and I think it came through as intended, was that POWER appears to present the fastest path by far to a fully owner-controlled / secure Qubes system that can be used for normal (i.e. desktop-style) computing tasks.  As a result, the "kickstart" investment should

[2022-03-21 18:00] Kenny606 commented on #3585
FYI you can also use an AutoLogon tool from sysinternals that will allow you to secure the password. Not perfectly secure but it's a slight improvement over a registry value in clear text that for another program or script to see.

[2022-03-21 18:08] GWeck opened #7364 "Minor problems with Qubes Windows Tools"
### Qubes OS release
Qubes R4.1.0 with Qubes Windows Tools 4.1.67.1

### Brief summary
Some problems with using current Windows installations with QWT:

1. Audio for Windows 7 does not work; for Windows 10 and 11 it works but sounds somewhat scratchy.
2. While USB-Sticks may be attached and detached, other devices like SATA or NVME disks must be attached persistently before starting a Windows VM;

[2022-03-21 18:44] brendanhoar commented on #3585
In my experience if you are manually installing windows and using a non-'user' account name, then yes you need to change default_user in the vm configuration. But...if you don't make the change to vm config, the file(s) *still got transferred* but to somewhere else on the C drive (windows or programs sub-tree near some qubes components/logs, can't recall exactly where).

That is, unless the tabit-

[2022-03-21 19:22] eric-blabla opened #7365 "adding custom kernel to qubes ISO installer"
I would like to add a custom kernel to the installer (and not after install). I downloaded, verified and unpacked the iso. I can add the kernels into /extrakernels directory (I put the vmlinuz & initramfs in here), and cloned a grub.cfg entry. So far so good. I need help to repack it correctly.

mkisofs has 3 hunderd options, roughly and I don't get it t run. The indications for ubuntu given here

[2022-03-21 19:25] #7365 closed

[2022-03-21 20:15] jevank commented on #3585
I don't remember anything like that.

[2022-03-21 21:07] brendanhoar commented on #7364
On a Win7 VM, I've been using the most recent 8.x series PV disk driver to hot add block devices for a couple years now w/o PV-related crashes.

B

[2022-03-21 22:25] TNTBOMBOM opened #7366 "Add VM/Qube type when trying to backup Qubes in backup menu"
### The problem you're addressing (if any)

Backup menu not showing type name of the VM is it a template or appvm or..etc, when you have many VMs its not easy to recognize them by memory and going back to check what are they not pleasant choice.

### The solution you'd like

Add VM/Qube type beside VM/Qube name

### The value to a user, and who that user might be

Ease/Surety to know what hes back

[2022-03-22 00:39] andrewdavidwong commented on #7363
Thanks for the report! In case you (or any others reading this) are not already aware, the documentation is a community effort, and everyone is welcome to contribute. (That's usually how things like this get updated!) So, if you'd like to get involved with the project, this is a great way to do it. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/how-

[2022-03-22 01:24] andrewdavidwong commented on #7364
Generally speaking, [every issue should be about a single, actionable thing](https://www.qubes-os.org/doc/issue-tracking/#every-issue-must-be-about-a-single-actionable-thing). You might want to consider breaking this up into multiple issues.

[2022-03-22 07:52] ZYousef opened #7367 "Cannot play streams or videos in qubes connected to GUI domain (sys-gui)"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
**Qubes release 4.1.0**

### Brief summary

GUI-domain seems to be unable to render videos with audio streams, PulseAudio setup seems to be incomplete, (no autostart & when started manually says no cards available). Looking to ~/.xsession-errors says `sys-gui AUDIO connected to None. Skipping`
. I tri

[2022-03-22 08:56] honzahosek opened #7368 "dom0 kernel-devel update conflicts"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary

I have dkms in dom0. When there is kernel update comes in the dom0 update fails with error like this:

`file /usr/lib/.build-id/f7/9af12af50961eac585a667cbfce1ad5b947600 from install of kernel-devel-1000:5.10.104-3.fc32.qubes.x86_64 conflicts with file from package kernel-devel

[2022-03-22 09:36] DemiMarie commented on #7365
Don’t worry, everyone makes mistakes.

[2022-03-22 09:38] DemiMarie commented on #7366
Assigning @marmarta as is usual for this kind of stuff.

[2022-03-22 09:40] DemiMarie commented on #7367
On the one hand this is definitely a bug, but on the other hand I am curious why you are trying to play videos in the GUI domain.  The GUI domain is highly privileged (via qrexec policy) and videos are generally considered untrusted.

[2022-03-22 09:42] DemiMarie commented on #7300
Sadly I am not aware of any solution other than fixing each of these tools separately :disappointed:.  Is there any way to find out the erase block size?

[2022-03-22 09:45] DemiMarie commented on #3585
What are the ACLs on that registry key?  Ideally it should be only accessible by `NT AUTHORITY\SYSTEM` and possibly `BUILTIN\Administrator`.

[2022-03-22 10:16] ZYousef commented on #7367
I am sorry I wasn't clear in my OP. I meant to say that the video is played within a qube (appVM) on the sys-gui environment.
When I log into the sys-gui and run say youtube on any qube, the video get stuck and doesn't play. The audio icon on the top right of sys-gui has an x-mark with a pop-up message: "Not connected to the PulseAudio server". I will share some logs shortly.

[2022-03-22 11:18] ZYousef commented on #7367
Below you can find some logs from:
`sudo pulseaudio --system`
& `~/.xsession-errors`

What I've noticed from these logs that pulseaudio isn't set up correctly and unable to connect

[xsession.txt](https://github.com/QubesOS/qubes-issues/files/8323687/xsession.txt)
[pulseaudio --system.txt](https://github.com/QubesOS/qubes-issues/files/8323688/pulseaudio.--system.txt)

[2022-03-22 11:59] DemiMarie commented on #7344
@marmarek: is it okay to allow crypt-plain devices that have a dm-uuid that does not match the ones we use?  That would mean that any upgrade that adds new potentially untrusted dm-crypt devices needs to add a dependency on a new lvm2 package, which is annoying.

[2022-03-22 12:22] 51lieal commented on #7335
Mostly it because you have wrong partition / bad lvm config, maybe try zero disk first, then follow the guide again.

[2022-03-22 12:24] marmarek commented on #7344
I think that's fine. Can we reserve some pattern for our use, like we have "vm-*" lvm volumes?

[2022-03-22 12:51] sjvudp commented on #7335
I'm unsure whether speculation is the best way to solve the issue: I can boot Windows 10 without a problem, I can boot Linux (openSUSE Laap 15.3) without a problem, I can boot Tails without a problem, I can boot Qubes OS 4.0 without a problem.
So I might conclude that there is no problem with the four disks in the PC (sda-sdd).
Zeroing the disks without a really good reason is like those installat

[2022-03-22 12:51] GWeck commented on #3585
These acccess rights are set, but additionally `users` has set read access!!!

[2022-03-22 13:46] marmarek commented on #4042
Isn't it actually the right fix (in the current code shape)? `pci_raw_set_power_state()` (which calls this function) does use udelay. `Documentation/timers/timers-howto.rts` suggests that 200us (`PCI_PM_D2_DELAY` used there) should already be `usleep_range()` if permissible, so having `udelay()` there suggests it is not.

[2022-03-22 13:53] NieDzejkob commented on #4042
I would rather suggest the following:

[code]

[2022-03-22 13:59] DemiMarie commented on #7344
We currently reserve `vm-volatile-*` and `*@crypt` with our udev rules.  What about reserving `^vm-`, `^qubes-`, and `@crypt$`?  The last is odd but we have to reserve anything that could match an untrusted device on a currently running Qubes system, since a system upgrade won’t make existing devices go away.

[2022-03-22 14:03] marmarek commented on #4042
Sounds much better indeed. I wonder what side effects we'll get ;) I'll test it on few machines, but I think you can post it upstream already too.

You meant `xen_arch_resume`.

[2022-03-22 14:09] marmarek commented on #7344
Why `^qubes-` for untrusted devices? We have for example `qubes_dom0` which is rather close, and should rather not be excluded (ok, maybe here it doesn't matter, since that would be nested LVM, but I think you get the point).

How are you planning to do it? The lvm filter behavior isn't exactly friendly for deny-list approach:
[code]

[2022-03-22 14:50] marmarek commented on #7344
Ok, that makes sense.

[2022-03-23 01:51] Rspigler commented on #4318
Thank you everyone for the discussion and comments.  It seems we have reached an agreement, and it makes sense to me.

@madscientist159:
I want no bad blood either.  I love RCS hardware, and I have very much appreciated our discussions over the years.  You have taught me a lot.  My end goal is seL4; I don't particularly care about the ISA we end up on, as long as it is open (and so is the cpu). It

[2022-03-23 07:23] dylangerdaly opened #7369 "Apple M1 Support - AARCH64/ARM support in General"
### The problem you're addressing (if any)
Now that we can all collectively agree Intel's x86_64 is dead, it's time to start working on aarch64 support for Qubes

### The solution you'd like
Hopefully a migration away from Xen to something more versatile like KVM?

### The value to a user, and who that user might be
Access to a better ISA, aarch64 Chromebooks (fully, totally open ecosystem), acces

[2022-03-23 08:05] fepitre commented on #7369
Please take a look at https://github.com/QubesOS/qubes-issues/issues/4318.

[2022-03-23 08:52] GWeck commented on #7364
I grouped these three issues together because they probably come from the same cause: the (Xen) drivers bundled with the new QWT version. I hope so, at least.

[2022-03-23 09:19] GWeck commented on #3894
For current developments, see also [Makatea: Qubes-like OS on seL4](https://forum.qubes-os.org/t/makatea-qubes-like-os-on-sel4/10353)

[2022-03-23 11:24] GWeck commented on #7364
@jevank

Windows 7 is here somewhat inconsistent: The device manager shows a "high definition audio device", saying that it works perfectly. On the other hand, trying to configure sound, Windows tells that the Windows audio service was not started. Trying to start this service then tells that there are no audio devices. ???

My CPU load is quite small (typically about 10 %), so that should not be

[2022-03-23 11:38] Szewcson opened #7370 "USB Keyboard not working after waking up from standby"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
After waking up my laptop from hibernation I'm unable to provide the password in screensaver popup window. In most cases both my internal USB keyboard and external USB mouse not working (so I think that sys-usb qube not starting), but once have situation when mouse is working an

[2022-03-23 12:00] marmarek commented on #7370
if this happens, you can try unplugging your keyboard and plugging it again

This is normal behavior of xscreensaver.

This may be the same as #4042 . The fix is close, so it will be worth trying when the package will be available. Or, if you're not afraid of building the kernel yourself, you can find the patch in [latest comment](https://github.com/QubesOS/qubes-issues/issues/4042#issuecomment-10

[2022-03-23 12:14] jevank commented on #7364
Windows audio service should starts fine even w/o audio devices, but it has dependencies and perhaps some of this services are disabled. Could you check it? Windows Audio Endpoint Builder service?

Windows integration is quite different from that of Linux. In Windows case the real interaction via qrexec/vchan with dom0 happens in stubdomain and Windows uses QEMU's audio/USB emulation. This approac

[2022-03-23 12:56] GWeck commented on #7364
Windows Audio Endpoint Builder service was disabled. When set to automatic start, Windows audio service, which already was set to automatic start, could be started and then started the other service. Now audio works for Windows 7, and even is not scratchy!

This does the trick: Window size can be changed and is reported as the upper size value. If seamless mode is then enabled and then disabled ag

[2022-03-23 13:04] DemiMarie commented on #7364
This is something the QWT installer should be able to handle.

Is the audio still scratchy for later Windows versions?

[2022-03-23 13:04] DemiMarie commented on #3585
Ouch.  How does the AutoLogon tool handle it?  Is it possible to have a magic account (like `.\LocalSystem`) that does not have a password?

[2022-03-23 13:38] tlaurion commented on #4318
Were there any notes taken?

[2022-03-23 13:45] madscientist159 commented on #4318
@tlaurion I believe the meeting is in around 15 minutes?

[2022-03-23 13:52] tlaurion commented on #4318
So it is 4pm UTC+2, hope we didn't lost everyone (https://time.is/UTC+2)
@olivierlambert @DemiMarie @Rspigler @Rudd-O @liilac @fepitre @madscientist159 @pietrushnic @marmarek @no-112 @HW42 @mfc

Meeting in 10 minutes https://meet.jit.si/XenPowerPort

[2022-03-23 15:19] marmarek commented on #7370
Can you link a specific ticket?

[2022-03-23 15:24] tasket commented on #6564
BTW it also works now without `iwlwifi.disable_rxq=1` so I don't know what effect that option has, if any.

[2022-03-23 15:26] DemiMarie commented on #6564
That is definitely good news @tasket!  Looks like AX200 is submitting bogus DMA transactions.  Is there any way to report a bug with them upstream?

[2022-03-23 15:33] windgmbh commented on #6564
I do confirm that I did not have the usual stability issues for about the same time as well.

[2022-03-23 15:56] Szewcson opened #7371 "Debian template files window still have additional windows operations buttons"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1
debian-11 template

### Brief summary
In debian template contrary to fedora gnome file manager have additional  _ , 'square' and x buttons, they are not vanished even after installing gnome-settings-daemon and recompiling schemas.

### Steps to reproduce
1.) Open Files in debian VM
2.) Look at add

[2022-03-23 16:20] 3hhh commented on #673
IIRC this one can be closed with 4.1 as the VM kernel now does the job itself?

[2022-03-23 16:21] isodude commented on #6564
No problems here.

[2022-03-23 16:54] 3hhh opened #7372 "qrexec policy domain(s)"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
qrexec policy decisions are done in dom0.

Also, IIRC the protocol is roughly as following:
1. VM requests a qrexec service from dom0.
2. dom0 makes the policy decision.
3. A _direct_ vchan connection between the two involved VMs is set up, i.e. `[VM A] -----> [VM B]`.
4. dom0 in

[2022-03-23 17:17] GWeck commented on #7364
@DemiMarie No change - still scratchy for W10 and W11; just W7 is o.k. (in this and many other respects :-) )

[2022-03-23 17:19] GWeck commented on #3585
No idea - I never tried this tool, but the internal workings seem to be based on the Windows registry entries, so there is not much hope. In the newer Windows versions, where no cleartext password is stored there, just a link to the default user's SID is given, which is the right way to implement ist.

[2022-03-23 18:03] Kenny606 commented on #3585
It goes in HKLM\Security\Policy\Secrets which by default even admins can't expand. Users have no access to the security key by default.

I tracked down this old article on duckduckgo for you and he does a good job of explaining the strengths and vulnerabilities of using that tool or at least the windows mechanism the tools uses to encrypt and store the password.
That's really all the tool does you

[2022-03-23 21:32] andrewdavidwong commented on #7370
Xen doesn't support hibernation. You must mean standby/sleep. Updating title.

[2022-03-23 21:39] andrewdavidwong commented on #673
Closing as done. If anyone believes this issue is not yet done, please leave a comment, and we'll be happy to reopen it. Thank you.

[2022-03-23 21:39] #673 closed

[2022-03-23 21:40] andrewdavidwong commented on #6564
Closing as resolved. If anyone believes this issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen it. Thank you.

[2022-03-23 21:40] #6564 closed

[2022-03-23 21:49] andrewdavidwong commented on #7369
This is probably too broad to be a single issue. There's a high risk that this will turn into a sprawling years-long "discussion issue" like #4318, which we're very much trying to [avoid](https://www.qubes-os.org/doc/issue-tracking/#the-issue-tracker-is-not-a-discussion-forum).

I suggest starting a thread on [qubes-devel or the forum](https://www.qubes-os.org/support/) instead, then, once some de

[2022-03-23 21:49] #7369 closed

[2022-03-23 22:59] lubellier commented on #7284
@marmarek : as @na-- , I tested on ArchLinux, yes your solution solves the problem, thank a lot.

[2022-03-24 03:59] Rspigler commented on #4318
Hi everyone,

Meeting went great! Please see https://pad.riseup.net/p/JEvmHlR2Fv8i5CdbXKUA for notes.

We are all in agreement for Xen+Power

@olivierlambert Are there any other Xen people that should be brought on board? They have been @'ed in this thread, but have not responded yet.
Have you been able to reach out to your Project Manager?

Funds:
I (Robert Spigler) have 1 bitcoin & Blackbird Bun

[2022-03-24 04:57] Rspigler commented on #4318
ML:
qubes_power_port@lists.riseup.net
(Awaiting approval)

Matrix Room:
https://matrix.to/#/#qubes-port:matrix.org

[2022-03-24 08:49] Szewcson commented on #7370
Ok, my fault but in Power Manager There is a Hybernation and Suspend. Since I'm working on AC adapter It should be Suspend but should I assume that for Xen both of them fallback to Standby?

[2022-03-24 09:22] Szewcson commented on #6824
What is the current status of this issue?

[2022-03-24 09:29] Szewcson commented on #6823
Is the official support for handling Yubikeys in LUKS during boot planed for Qubes? I understand that exposing bootloader to a USB is a security risk but since You made an exclusion for USB keyboard support maybe adding Yubikey option for people that accept the risk will be also acceptable?

[2022-03-24 09:39] 0spinboson commented on #3175
could you upload the packages for me somewhere so I can also give this a go? I tried compiling myself but I'm getting errors I don't understand, and I'd like to know how much of a difference it makes for me.

[2022-03-24 10:03] GWeck commented on #3585
And even that is not really secure: There is a tool called [Registrar Registry Manager](https://www.resplendence.com/registrar) which can expand it. The value is stored in  `HKEY_LOCAL_MACHINE\SECURITY\Policy\Secrets\DefaultPassword\CurrVal\\(default)`, which yields for me a typeless 92 Byte value. So one can only hope that the encryption is strong enough, but anyhow, providing a possibility for d

[2022-03-24 13:13] DemiMarie commented on #6823
I do plan on implementing this at some point, but I plan to use a different approach: spawn a USB-handling unikernel from the initramfs.  The unikernel will have a minimal, trusted USB stack in a memory safe language, and in any case dom0 will consider the input from it to be untrusted.

[2022-03-24 13:13] DemiMarie commented on #7284
@marmarek confirmed that this solves the problem on my Arch system.

[2022-03-24 13:16] DemiMarie commented on #7370
@Szewcson I am not sure.

[2022-03-24 13:43] DemiMarie commented on #3585
It’s secure in the sense that Microsoft would issue a bulletin if an unprivileged user could retrieve it, with the possible exception of the user whose password it is.  That’s good enough for me, but I agree that it is a poor design.

[2022-03-24 14:09] marmarek commented on #3585
https://openqa.qubes-os.org/tests/37272 - some preliminary automated tests of QWT. It uses @elliotkillick qvm-create-windows-qube for setup, and then test:
- starting an app from the menu
- clipboard past into windows
- file copy out of windows
- network inside windows (by opening qubes website in MS Edge)

Adding more tests would be nice, but this already covers quite a lot of basics (like - whet

[2022-03-24 14:39] DemiMarie commented on #6824
I am not aware of any changes.

[2022-03-24 14:59] r-cheologist opened #7373 "Qubes 4.1/Nouveau/Linux 5.16: XFCE-Demirroring of multiple screens requires Disabling Compositor"
### Qubes OS release
4.1

### Brief summary
When using the onboard HDMI port of a ThinkPad P15 with `kernel-latest` (currently 5.16 and needed to make the NVIDIA graphics card used), neither the XFCE onboard configurator nor `xrandr` allow for de-mirroring of laptop and external screen.

### Steps to reproduce
Actual test machine:

1x 11th Generation Intel® Core™ i7-11800H Processor(Core™ i7-11800

[2022-03-24 15:09] DemiMarie commented on #7373
Does this apply to dom0 windows as well?  If dom0 windows work properly, then this is probably a GUI daemon bug.  Otherwise, this is either a kernel bug, an X server bug, or a window manager bug.

[2022-03-24 15:27] DemiMarie commented on #7344
Given how fragile this appears, is something like this okay @marmarek?

[code]

[2022-03-24 15:51] DemiMarie commented on #6981
This is going to be _very_ annoying because the StatusNotifierIcon standard requires that the agent render the notifier itself, and that in turn is going to cause nasty problems with Wayland support in the GUI daemon.

[2022-03-24 15:54] DemiMarie commented on #5861
Marking as `S: blocked` because this issue is not something that can practically solved before Thunderbird has support for it.

[2022-03-24 16:02] DemiMarie commented on #6737
This is still a bug, but I am not sure if it is worth fixing in the current builder, since the new builder (currently being written by @fepitre) will replace everything.

[2022-03-24 16:05] DemiMarie commented on #6600
Closing this in favor of #830.

[2022-03-24 16:05] #6600 closed

[2022-03-24 16:06] DemiMarie commented on #3898
Closing as duplicate.

[2022-03-24 16:18] marmarek commented on #3585
Whether that's a good or bad idea is irrelevant here. Network access from within Windows VM (or any other, for that matter) should work if user configures it as such. Side note: "working networking" does not necessary mean "internet access".

[2022-03-24 17:04] marcungeschikts commented on #4318
Hello @Rspigler , I am Vates Project Manager working with @olivierlambert,  and at your service.  I am very keen to help on this project. (matrix account already created) 😃

[2022-03-24 17:07] antarisherdeng4 opened #7374 "Android-x86 StandaloneVMs broken after Qubes R4.0 update"
### Qubes OS release
R4.0

### Brief summary
Today after Qubes update (last Qubes update was 1-1.5 months ago) I can't start any of my Android-x86 StandaloneVMs, I'm getting stuck at "Detecting Android-x86".
I've installed these VMs using @unman guide:
https://github.com/unman/notes/blob/master/InstallingAndroid.md
I thought that patched files got rewritten after Qubes update and run patch once ag

[2022-03-24 21:24] sjvudp commented on #7335
Here are some details:
The disk's partitions are:
[code]
Partition1 and 2 are the relevant ones:
[code]
The corresponding command line from GRUB is:
`module2	/vmlinuz-5.10.90-1.fc32.qubes.x86_64 placeholder root=/dev/mapper/qubes_dom0-root ro rd.luks.uuid=luks-a10e21f9-2581-47f7-819a-ec06fde599a1 rd.lvm.lv=qubes_dom0/root rd.lvm.lv=qubes_dom0/swap plymouth.ignore-serial-consoles i915.alpha_support

[2022-03-24 21:32] sjvudp commented on #7335
Running Qubes OS 4.0, my four IRST disks look like this:
[code]
And here are the details:
[code]

[2022-03-24 21:38] sjvudp commented on #7335
While no fixed installation medium is available, I'd suggest to add something helpful to https://www.qubes-os.org/doc/installation-troubleshooting/
(https://www.qubes-os.org/doc/installation-troubleshooting/#warning-dracut-initqueue-timeout---starting-timeout-scripts-during-installation isn't helpful as it refers to the initial installation boot, not the first boot *after* installation (where the

[2022-03-24 21:57] marmarek commented on #7344
I think those two lines are redundant (those cannot not match `dm-uuid-CRYPT-PLAIN-trusted-crypt-`), but it doesn't hurt to include them anyway. I think this is ok, then we need to document somewhere the `trusted-crypt-` prefix.

[2022-03-24 22:43] andrewdavidwong commented on #3898
Minor side notes:

1. IMHO, it's probably more accurate to say that this is a "won't fix" or "not our bug" rather than a duplicate, since it's a legitimate bug in itself, but one that should go away as a consequence of switching to a different type of screen locker.

2. A locked issue doesn't have to stay locked forever. It can make sense to temporarily lock an issue when folks get too rowdy, then

[2022-03-25 00:12] Kenny606 commented on #3585
Yeah like I said it has its own vulnerabilities, but an improvement over the alternative.

These are the same people that added an option to purposely store passwords using reversible encryption somewhere around the Windows 2000 era as I recall.

Whatever there justification was 15 or 20 years ago ago for whatever systems may have been around at the time. I'm pretty sure that it should be gone by

[2022-03-25 00:14] DemiMarie commented on #3898
Marked as “not our bug”.  This is a bug in X11, and the fixes involve either (1) killing the entire X session when the screen locker can’t work or (2) not using an X11-based screen locker.  #1917 will fix that.

[2022-03-25 02:33] DemiMarie commented on #4658
Duplicate of #4042?

[2022-03-25 05:37] no-112 commented on #4318
Hi all
Great to see the recent activity. I am still available, but as I am in Australia (UTC+11) it may make these meetings difficult. I am just about to read through the notes from the meeting.

[2022-03-25 09:16] GWeck commented on #3585
It works for W7, too.

Connecting a Windows qube to the internet is risky, but some threats can be mitigated by restricting possible connections to selected, hopefully harmless, sites via sys-firewall. Or just restricting it to the local network. Anyhow, if a Windows AppVM is compromised, most attacks will be made uselss on restart of the qube.

What is troubling me more, is that, especially for W

[2022-03-25 09:32] GWeck commented on #3585
See lalso [[WIP] Windows/QWT user reports](https://forum.qubes-os.org/t/wip-windows-qwt-user-reports/9687)]. My reports on W7 and W11 cover also W10, which behaves exactly like W11.

[2022-03-25 12:32] miczyg1 commented on #6793
We (3mdeb) have put up a proposal for the TrenchBoot as Anti Evil Maid provider: https://docs.dasharo.com/projects/trenchboot-aem/
It includes the work to get UEFI and TPM2 working. Feel free to review and suggest changes, we also added a Giscus plugin to give comments under the page.

[2022-03-25 14:18] brendanhoar commented on #6607
Hmm, I believe using dm directly with LVs in thin pools will allow avoiding the LVM restriction that the snapshot origin must be stored in the same LVM VG as the target snapshot.

If so, this gives greater flexibility for VM-specific ephemeral and VM-specific permanent encryption.

B

[2022-03-25 14:49] DemiMarie commented on #6607
It does, though one could use an external snapshot as well.

Indeed it does, since data is written to a controlled location.

Yeah :(

[2022-03-25 15:50] brendanhoar commented on #6607
If you're referencing *LVM* external snapshots then...Nope.

Everything i have read states that "External origin" LVM snapshots must have a source located on the *same* VG as the target snapshot. Thin or thick but in the same VG. Effectively, this prevents inserting a crypt layer.

e.g. with an origin in *either* 1) "VG01 thick-LV" *or* 2) "VG01 thin-LV in thin-pool1" *to* 3) "VG01 thin-LV in thin

[2022-03-25 18:11] DemiMarie opened #7375 "Bad error message when a template download is interrupted"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
R4.1

### Brief summary
When downloading a template is interrupted, the user gets a scary “Payload forged!” error, followed by a “No such file or directory” error.  Neither of those provide the user with any clue as to what is actually happening, which is almost always a network problem.  This was rep

[2022-03-25 18:27] brendanhoar commented on #6607
Agreed.

I think I can hear @marmarek groaning, of course.

B

[2022-03-25 23:31] DemiMarie opened #7376 "Avoid mutating _path_clean volume during resize"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1 but older releases are also affected.

### Brief summary

The LVM and file pools will both (erroneously) resize an exported device.  This is a problem because the current backup code expects the size not to change underneath it.

This was fixed by QubesOS/qubes-core-admin#449 for the reflink poo

[2022-03-26 04:00] Rspigler commented on #4318
ML has been approved!
Homepage: https://lists.riseup.net/www/info/qubes_port

Glad to see the Matrix Room already having some conversations.

@marcungeschikts: Maybe we should have a meeting soon.  Hash out the details of @madscientist159's work and payment, how @olivierlambert can contribute (development and/or funding?), and @no-112 and I believe also @liilac have mentioned wanting to help with

[2022-03-26 05:20] crat0z commented on #7300
After spending some time on btrfs, I cannot use it myself. It could be related to discards as mentioned in one of the other issues which I've lost now, but btrfs has a tendency to just murder IO on my laptop. VMs become completely unresponsive if the drive is doing something for long enough.

For example, I tried syncing the Monero blockchain, and once I hit about 75 Mbps average download speed, V

[2022-03-26 09:02] logoerthiner1 commented on #7368
I have just encountered the issue; I ended up removing the kernel-devel package.

Minor issue for me but may be nontrivial for others.

[2022-03-26 09:10] logoerthiner1 commented on #7294
Linux kernel hacking is hard!

https://lore.kernel.org/linux-wireless/153f1a0c.36a0.17fba8be75c.Coremail.logoerthiner1@163.com/T/#t

Trying this hot-patch (I actually had a hard time finding out how to hot-patch kernel modules in Qubes OS and no documentation from Qubes OS is available so that I unpacked the initramfs by hand and read the /init to find out what happened) I have made the sys-net no

[2022-03-26 09:36] logoerthiner1 opened #7377 "Miscellaneous dom0 kernel complaints about suspending"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1; freshly updated and kernel version is kernel-latest (5.16.13)

### Brief summary

Several dom0 kernel complaints are visible in `sudo dmesg`, seemingly related to S3 sleep.

Not sure whether this indicates any problem.

[code]

and for each non-booting CPU:

[code]

### Steps to reproduce

1. s

[2022-03-26 10:06] GWeck commented on #7364
If, prior to QWT installation, the drive letter for the private volume on Windows 7 templates is changed from `D:` to `Q:`, the `Move User Profiles` works for Windows 7, too.

[2022-03-26 10:07] GWeck commented on #3585
*Update on these points:*

- Audio on Windows 7 does work, if the Windows Audio Endpoint Builder service is activated (set to start type "automatic") and the audio services are started (at least after the next VM boot), and the sound is clear and not scratchy like on Windows 10 or 11.
- The window size for Windows 7 in non-seamless mode can be changed using the Alt+F8 key combination.
- If, prior

[2022-03-26 11:29] DemiMarie commented on #7368
What dkms package do you have installed?

[2022-03-26 11:30] DemiMarie commented on #7364
What are the other ones?

[2022-03-26 11:51] DemiMarie commented on #7294
Feel free to submit the patch to our kernel directly as well.

[2022-03-26 12:31] honzahosek commented on #7368
https://source.puri.sm/-/snippets/1170

[2022-03-26 12:34] GWeck commented on #7364
In my opinion, W7 was the last usable version of Windows. W10 and 11 are just cumbersome to use, slow, and ergonomically terrible - just apart from their sending telemetry data to Microsoft, which is unacceptable from a privacy standpoint and, in Europe, illegal according to GDPR.

[2022-03-26 13:28] #7309 closed

[2022-03-26 14:58] #7354 closed

[2022-03-26 15:44] fepitre opened #7378 "qubes-gpg-split-2.0.57: Unknown list option 'no-show-policy-urls'"
Since qubes-split-gpg version 2.0.57, it fails with: `Unknown list option 'no-show-policy-urls'` when executing for example as client for debsign:

[code]
It works with version 2.0.55.

[2022-03-26 15:54] DemiMarie commented on #7378
Introduced by 49b70ad7726a7e595d7a9c8f10881cbdc02ce47a.  Marking as `P: critical` because it breaks debsign.

[2022-03-26 15:56] unman opened #7379 "4.1 sys-gui - Qube Manager crash"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Qube Manager closes unexpectedly with sys-gui when QubesOS is selected from About menu.

### Steps to reproduce
Prepare sys-gui under 4.1
Log in - start Qube Manager
Select "About"->QubesOS

### Expected behavior
Information is displayed.

### Actual behavior
Manager closes.

[2022-03-26 15:56] jamke opened #7380 "Qubes OS 4.1 is not usable on 11 gen Intel CPU with iGPU due to slow redrawing and high CPU consumption"
### Qubes OS release
R4.1

### Brief summary
Installation and usage of Qubes OS 4.1 is not possible on 11 gen Intel CPU with iGPU because of slow drawing and high CPU consumption (XOrg consumes 100% of one CPU).
Screen redraw takes up to 1-2 seconds when internal GPU is used on Intel 11th generation CPUs (maybe 10, 12 too?).
Mouse is moving with huge lags and the whole system is unusable.

### Ste

[2022-03-26 16:36] DemiMarie commented on #7379
Can you provide a backtrace?

[2022-03-26 16:38] DemiMarie commented on #7380
Does installing `kernel-latest` help?

[2022-03-26 17:04] #3510 closed

[2022-03-26 17:04] #7284 closed

[2022-03-26 17:50] GWeck opened #7381 "Provide information on integrating Windows into Qubes R4.1"
### The problem you're addressing (if any)
The current documentation on Windows integration and Qubes Windows Tools (QWT) is outdated and meanwhile somewhat chaotic, describing QWT 4.0.1.3 and several methods to use it.

### The solution you'd like
As there is now a working solution for R4.1, its installation and use should be described as part of the Qubes documentation. I provided some texts as

[2022-03-26 18:05] Osndok opened #7382 "enforce dom0 hostname before 4.1 upgrade"
### Qubes OS release

In the no-man's land between Qubes v4.0 & Qubes v4.1 (upgrade process).

The fix would probably fall under in the 4.0 packages.

### Brief summary

I experienced a lot of pain upgrading from 4.0 -> 4.1.

The chief complaint/symptom was that NO GUI APPS worked for any domN, although I could tell those that I set to auto-launch and have background processes work otherwise worki

[2022-03-27 00:08] Osndok commented on #5755
I ran into the same issues. The first error is odd. The qubes repo pulls in an order version using a large epoch, which would indicate that it is trying to mask the `garcon` that is coming from `epel`... but... I don't see why. There is not a comment in the overriding package description, and trying to use the old version looks like it breaks a bunch of other `epel` deps that the template wants.

[2022-03-27 03:06] marmarek commented on #7361
Consider using `autostart` property instead.

[2022-03-27 03:15] DemiMarie commented on #7361
Indeed that is a workaround, but I still think this problem should be tracked down and fixed.

[2022-03-27 04:36] unman opened #7383 "Builder: Build of 4.1 bookworm fails on desktop-linux-manager"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Building bookworm template for 4.1 fails as title

### Steps to reproduce
1. Set up Build environment
2. Select bookworm template for 4.1
3. `make qubes-vm`

### Expected behavior
All Qubes packages will be built.

### Actual behavior
Build of desktop-linux-manager fails:

error

[2022-03-27 05:36] 51lieal commented on #7335
try with single disk first :

cryptsetup -c aes-xts-plain64 -h sha512 -s 512 luksFormat /dev/sda2
crypsetup luksOpen /dev/sda2 luks
pvcreate /dev/mapper/luks
vgcreate qubes_dom0 /dev/mapper/luks
lvcreate -n swap -L 4G qubes_dom0
lvcreate -T -L 30G qubes_dom0/root-pool
lvcreate -T -l +95%FREE qubes_dom0/vm-pool
lvs
lvcreate -V30G -T qubes_dom0/root-pool -n root
lvcreate -V( size in your vm pool )G

[2022-03-27 08:25] fepitre commented on #5755
I'm closing this issue as CentOS 8 has been published and now being unmaintained. Any related issue will be closed. We only support CentOS 8 Stream (soon 9).

[2022-03-27 08:25] #5755 closed

[2022-03-27 09:04] jamke commented on #7380
Well. After `sudo qubes-dom0-update kernel-latest` I can't boot at all with eGPU installed (even not connect to display, nor selected in BIOS as default one).
I have Kernel panic after selecting default boot option in grub, the screen has a lot of text, like 2-3 screens and at the end:

[code]
And PC reboots automatically in a couple of seconds.

But when I removed eGPU, I got working Qubes OS wit

[2022-03-27 09:10] jamke commented on #3790
I have this issue with AMD eGPU on R4.1 with `kernel-latest` from the default repo. The system is not bootable after the command `sudo qubes-dom0-update kernel-latest`.

I have Kernel panic after selecting default boot option in grub, the screen has a lot of text, like 2-3 screens and at the end:
[code]

I can boot using iGPU when I remove eGPU and install anything or change anything.

How can tha

[2022-03-27 10:01] GWeck commented on #3585
I just created a new issue [Provide information on integrating Windows into Qubes R4.1 #7381](https://github.com/QubesOS/qubes-issues/issues/7381)pointing to 2 pull requests for instructions about installing a Windows qube and installing QWT 4.1.67, as well as on migrating Windows VMs from Qubes R4.0 to R4.1.

The instructions in these pull requests are just a first draft - any comments and improv

[2022-03-27 10:02] andrewdavidwong commented on #7381
https://github.com/QubesOS/qubes-doc/pull/1243 has been merged. Thank you!

[2022-03-27 10:09] andrewdavidwong commented on #3790
I'm not sure if this issue should be reopened, as presumably your `kernel-latest` now refers to a different version than the versions discussed back when this issue was active (though you didn't mention your version, so I don't know that for certain).

My hunch is that it might be better to open a separate issue for this (which it seems you already did with #7380, right?).

@DemiMarie, what do you

[2022-03-27 12:13] jevank commented on #7381
This is going to be great. Added some comments.

[2022-03-27 13:04] logoerthiner1 commented on #7377
Update: when using dom0 kernel 5.15.14-1.fc32.qubes.x86_64, only the first message appears; and suspension is more stable than 5.16.13 (in 5.16.13 it seems that after one time of suspension, later suspension does not work - the computer does not sleep and even does not shutdown; it seems that dom0 is rejecting or being blocked by something)

I have not done deeper experiment, and #7340 is not easy

[2022-03-27 13:15] marmarek commented on #7377
Patch for the second one is on its way already: https://lore.kernel.org/xen-devel/c41a7822-c4d3-3589-f39a-6a2afee67469@oracle.com/T/#t

[2022-03-27 13:59] logoerthiner1 commented on #7294
Update: I have been trying repeatedly suspending and resuming, and find out that sys-net still have some problems - 1/5 chance that the suspending is blocked by sys-net, and in sys-net log, this happens: (tainted probably because I have inserted the patched version of kernel module)
[code]

The solution working in my case is to KILL the sys-net without consideration. After sys-net is KILLed, the c

[2022-03-27 14:05] logoerthiner1 commented on #7340
Update: I have updated with `qubes-dom0-update` and after the update (I believe mostly thanks to firmware update) I have tried with dom0 kernel 5.16.13 but it does not seem stable (or maybe my mistake), then I tried 5.15.14 as dom0 kernel, and experimented repeatedly suspending & resuming. I tried ~15 times and it seems to work. Since the bug appears very occasionally I will try later to check out

[2022-03-27 14:13] iacore opened #7384 "X/ImageMagick utility `import` hangs a qube"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
r4.1

### Brief summary
[code]

Running `import a` in VM will brick that VM until restart.

### Steps to reproduce
1. Install `import` from imagemagick
2. Run `import a` in terminal

Reproduced in Arch Linux & Fedora 32.

### Expected behavior
System no freeze

### Actual behavior
System freeze, GUI a

[2022-03-27 15:08] logoerthiner1 commented on #7384
If you have accidentally run `import a` inside your appvm, you can run `qvm-run --pass-io vmname "pkill import"` in dom0 terminal.

I will try if you run `import a` in dom0.

[2022-03-27 15:10] lubellier commented on #7384
Hi @locriacyber ,
I suppose you don't use sys-gui, isn't it ? So dom0 manages your display and so you do the screenshots from dom0.
For doing screenshot, you should use the XFCE screenshooter from dom0 (Q menu -> System Tools > Screenshot). You can also use `import` as follow (see `man import`):

[code]

So IMHO, your report isn't a bug, if you agree, close it.

Note: you said you reproduced with

[2022-03-27 15:17] logoerthiner1 commented on #7384
IMHO this issue is not about snapshoting, but about that, despite meaningless to snapshot in appVM, the snapshot utility exists, and what is worse, once `import a` is executed, there is no obvious way to exit. How to take snapshot is not important here.

This issue is quite common - `import module` is common in python scripts, and if a python script without the first line `#!/usr/bin/python` is ex

[2022-03-27 16:01] logoerthiner1 commented on #7377
A 5.15.14 warning when I repeatedly trying suspending-resuming:
[code]

I have 8 vcpus and I tried ~15 times of suspending & resuming, and this appears only once on one core.

Not sure whether this appears in latest kernel.

[2022-03-27 17:42] DemiMarie commented on #3790
@andrewdavidwong @jamke agreed, this is a separate issue.

[2022-03-27 17:45] DemiMarie commented on #7380
Can you get a backtrace from pstore on the next successful boot?

You’re welcome!

My intuition is that this is a “PCIe hotplug needs to be enabled in dom0” issue, which needs more testing to make sure Xen and dom0 handle this properly.

[2022-03-27 18:07] jamke commented on #3790
I agree, I should make a new issue with updated details.
Do not reopen that one, I was just hoping for fast reply with existing solution/work around if one exists because it looks like the same issue as mine.

[2022-03-27 19:36] DemiMarie commented on #7383
Can you try again with `USE_DIST_BUILD_TOOLS=1`?

[2022-03-28 04:15] logoerthiner1 commented on #7380
For any hardware problems, try `sudo qubes-dom0-update` from time to time. Problem may one day get solved when linux-firmware or some similar packages get updated.

[2022-03-28 07:33] sjvudp commented on #7335
Is https://github.com/QubesOS/qubes-issues/issues/7335#issuecomment-1079844550 suggesting to unplug all the other disks?
I don't get it: The installer completed installation for the first boot, but first boot fails to continue. I don't think my initial Qubes OS disk setup is the problem.

[2022-03-28 10:33] r-cheologist commented on #7373
`dom0` windows in particular (e.g. xfce display and window manager tweaks apps).

[2022-03-28 10:45] Szewcson commented on #7315
And when attaching Yubikey, sometime there is also an popup about some "slow keys" (?)

[2022-03-28 11:09] GWeck commented on #7381
@jevank I changed the texts accordingly. It seems that we are converging rather fast!

[2022-03-28 11:35] brendanhoar commented on #7381
The last 3 of 5 links give 404 if I use a browser without an existing GitHub login session.

The first 2 4.0-only links work ok.

B

[2022-03-28 13:12] Szewcson opened #7385 "Support for yubikey-luks/some yubikey-personalization tools in U2F proxy"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
I'm using LUKS encrypted data drive persistently mounted to vault VM. To simplify it's decryption I'm using script that calling yubikey-luks-open scriptt from yubikey-luks packcage. This script glues together cryptsetup and ykchalresp function. Also it's checking Yubikey presence

[2022-03-28 13:34] DemiMarie commented on #7335
Would it be possible to get a backtrace from the core dump?

[2022-03-28 13:38] DemiMarie commented on #7373
Can you report this as an xfwm4 bug?

[2022-03-28 13:41] DemiMarie commented on #7294
We try to get rid of out of tree patches as much as possible, but sometimes they are necessary.  For instance, XSA-376 was patched in Qubes OS far before it was patched upstream.

[2022-03-28 14:08] DemiMarie commented on #7335
I’m not sure, but it is probably in some documentation.

[2022-03-28 14:10] DemiMarie commented on #7335
@sjvudp can you try `systemd.mask=lvm2-monitor.service`?  That prevents the service from being loaded.

[2022-03-28 14:22] unman commented on #7340
[quote]
Would you be willing to try kernel and/or firmware packages from `qubes-dom0-current-testing`?  They are fully security supported, so you should not be making your system less secure by doing so.
[/quote]
Is this true?
I don't know what "security supported" means, but surely the
point in having current-testing is to identify any issues (including
security issues) before packages hit curren

[2022-03-28 14:28] GWeck commented on #7381
This directory has not yet been merged - it's still in the review process, but should be out soon.

Do you know will merge this, as it is in the community area?

[2022-03-28 14:40] marmarek commented on #7293
I don't like FD passing approach in qubesd, because it can easily leak that FD to some unrelated process (you can try to set CLOEXEC, but that's getting complex if you want to actually allow inheriting it for some specific process). But `export()` can make a snapshot that is removed on `export_end()` - similar to what import code does.

BTW, currently you don't need to care about making usable bac

[2022-03-28 14:54] marmarek commented on #7198
One issue with this idea, is that `export()` is called much later than the size is needed. That's because (among other reasons), user gets backup summary to accept  - that includes those sizes - and only then the backup process can start. I don't want any changes to the system state before doing backup is actually started. Calling `export()` when preparing this summary would violate this.

But as

[2022-03-28 15:01] DemiMarie commented on #7293
At least in Python, CLOEXEC is the default, and I believe the subprocess module strips CLOEXEC where needed.  So I don’t think this is too much of a problem in Python, though it might be trickier in C.

The problem I ran into with this approach is figuring out how to handle removing the snapshot.  qubesd can’t remove the snapshot until `export_end()` is called, due to the race condition mentioned

[2022-03-28 16:47] marmarek commented on #7340
Yes.

[2022-03-28 18:24] tlaurion opened #7386 "Deploy curl-proxy/wget-proxy scripts so users can add GPG distro keys linked to added external repositories"
EDIT: PoC [here](https://forum.qubes-os.org/t/curl-proxy-wget-proxy-scripts-in-templates-so-users-can-add-gpg-distro-keys-linked-to-added-external-repositories/10935/37?u=insurgo)

This implements wget and curl wrappers, blocking when usage happens in TemplateVM without internet access (considering that TemplateVM is considered secure). The code presented there could be modified as the next use ca

[2022-03-28 18:26] tlaurion commented on #7386
@marmarek @ninavizz ? Others?

[2022-03-28 20:12] madscientist159 commented on #4318
One other idea that might work to speed up the timeline is that we could commit the 1BTC available to the first stage of the Xen port   The worst case there would be that we at least have a minimal bootable Xen kernel by Q3 this year if the other 1BTC isn't able to be recommitted to the project.  Such a minimal kernel could act as a launching off point for further work (the guest integration / PCI

[2022-03-28 20:31] tlaurion commented on #4318
@madscientist159 I love the idea.

BTW people, Nlnet Assure deadline is 1rst of April. For this kind of work, they would fund for sure.

Any chance to see you on the matrix channel @madscientist159 ?

[2022-03-28 20:43] madscientist159 commented on #4318
@tlaurion Yes, once I get through the next couple days -- fighting some tight deadlines at the moment.

As far as NLnet goes, yes that's an option to make up some of the missing funding, but even right now it's borderline (BTC/USD is currently $46k or so) since the limit is 50kEUR.  Not sure how best to handle that, other than perhaps to commit the 1BTC to the initial port as I'd mentioned above,

[2022-03-28 20:55] DemiMarie commented on #7386
@tlaurion you need to add double quotes around the `$@`, FYI

[2022-03-28 21:52] tlaurion commented on #7386
@DemiMarie Thanks for the pointer and corrected in proposition.

But idea is more about how to be able to propose a drop in replacement for all users trying to follow different guides out there, and always falling short. Any ideas welcome to make this better for everyone.

[2022-03-29 00:05] andrewdavidwong commented on #7381
@awokd might be able to comment on that.

[2022-03-29 00:15] andrewdavidwong commented on #7386
Not sure if we should be encouraging curl-pipe-anything, but I agree that users are struggling with how to install software that's not available in the default repos.

[2022-03-29 03:55] Rspigler commented on #4318
@madscientist159 Unfortunately I still have not heard from @leo-lb or @Rudd-O.

I am ready to send the 1 bitcoin and agree its a good idea.  Excited to get started.

Here is the link for NlNet Assure: https://nlnet.nl/assure/

I can start working on the application, but doing so collaboratively would probably do best.  Should we use Etherpad again?

[2022-03-29 04:58] logoerthiner1 commented on #7386
I wonder what is the recommended way in Qubes OS if I want to install a python package from pip.

[2022-03-29 04:59] DemiMarie commented on #7386
Do it in an AppVM

[2022-03-29 05:15] logoerthiner1 opened #7387 "qubes-guid crashed for all AppVMs, possibly after unplugging external display"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

I have once plugged an HDMI external display to my computer. The HDMI display has very high resolution - 4 times my original screen in dimension and I have extend the screen rather than mirroring. I put one window to the second screen. After a while I unplugged the HDMI displ

[2022-03-29 06:20] jevank commented on #7387
duplicate https://github.com/QubesOS/qubes-issues/issues/7309 ?

[2022-03-29 06:41] jevank opened #7388 "Windows audio support is incompatible with sys-audio"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

Based on reports on Forum
https://forum.qubes-os.org/t/using-sys-audio-for-windows-audio/10416
https://forum.qubes-os.org/t/sys-audio-and-win-7-qube-s/9918

Here is workaround
https://forum.qubes-os.org/t/using-sys-audio-for-windows-audio/10416/9

### Expected behavior

Confi

[2022-03-29 06:43] jevank commented on #7388
What is the proper way to pass the audiovm parameter to the stubdomain? To extend libvirt schema for sound parameters (libvirt + libxl patches)?

[2022-03-29 07:04] taradiddles commented on #7381
(fyi I resigned as an admin of the qubes-community project years ago so can't merge the PR).

@awokd usually merges PRs on week-ends; since he hasn't done so, either he was busy with something else, or maybe he was waiting for the PR to "stabilize" as there were still reviews/commits.

[2022-03-29 08:15] marmarek commented on #7388
You can use qemu cmdline (like we do for IP config already), which makes libvirt/libxl patching not needed.

[2022-03-29 08:36] jevank commented on #7388
Good, that's much easier, thank you.

[2022-03-29 09:41] deeplow commented on #7386
Just dropping here a link to that https://forum.qubes-os.org/t/9991/1 in case someone wonders where it is.

[2022-03-29 13:04] xunillen commented on #6932
Same issue after replacing my old thinkpad with 11th gen intel cpu laptop. Everything works, except _qvm-pci_ command and _Device_ tab which is greyed out in AppVM settings window (because of broken qvm-pci command).
Initial Qubes OS setup successfully assigns PCI devices to sys-*  AppVMs, after that PCI devices are not attachable or detachable.

Device specs (Asus ExpertBook):

- Intel i5-1135g7

[2022-03-29 16:43] SvenSemmler opened #7389 "Make Qubes OS dom0 GUI adhere to selected XFCE/Gtk theme"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Starting with R4.1 some of the Qubes OS GUI uses QT5. One effect of this is, that by default those GUI do not adhere to the theme selected in XFCE. This is particularly and issue for users of dark themes.

### The solution you'd like

This is quite easy to fix by installing qt5-

[2022-03-29 17:02] DemiMarie commented on #7387
Yup, duplicate of #7309.  Should be fixed in updates-testing.

[2022-03-29 17:02] #7387 closed

[2022-03-29 17:38] DemiMarie commented on #6932
@xunillen Can you post the output of `journalctl -b -u qubesd.service`?  Feel free to redact anything sensitive.

[2022-03-29 17:57] madscientist159 commented on #4318
@Rspigler Perfect, sounds like we're in agreement then.  I'll consider this locked in and get the work scheduled for the Phase 1 portion, which is the minimal bootable Xen kernel on a POWER9 host.  I'm also assuming that if the remaining funding (another 1BTC) does arrive that I'll just be told to keep going on the Phase 2 work.

On the send side, I'd imagine the BTC payment comes after the work i

[2022-03-29 18:35] awokd commented on #7381
Above documentation has been merged.

[2022-03-29 19:29] Osndok commented on #7114
Are we sure that this message is coming from dom0? Maybe it is a problem on the UpdateVM side?

[2022-03-29 23:36] sjvudp commented on #7335
That did it! However, even after having installed all updates, I need that parameter on every boot!

[2022-03-30 02:22] alzer89 opened #7390 "Cannot Resume from S3 Sleep - amdgpu (I think...)"
### Qubes OS release
4.1

### Brief summary
Basically, the machine can't successfully resume from S3 sleep under Qubes OS.  ```amdgpu``` (I think...) cannot successfully resume VGA controller from S3 sleep, causing Xorg to coredump, and machine needs to be hard reset.

### Steps to reproduce
1. Boot machine
2. Initiate S3 sleep
3. Resume from S3 sleep.

### Expected behavior
The machine wakes up,

[2022-03-30 03:31] alzer89 commented on #7390
My apologies.  I forgot to attach the logs...

5.16.15 - [5.16.15-journal.log](https://github.com/QubesOS/qubes-issues/files/8376793/5.16.15-journal.log)
5.17.1 - [5.17.1-journal.log](https://github.com/QubesOS/qubes-issues/files/8376796/5.17.1-journal.log)

[2022-03-30 05:35] logoerthiner1 commented on #7390
[code]

6=SIGABRT, good news is that (IMHO) Aborted is easier to diagnose than Segmentation Fault. And it seems that the problem does not seem to lie in kernel or hypervisor, but the Qubes-OS specific configuration of X

The next info useful is:

* Xorg log file when it crashes (since it is abort()'ing, log file should be very useful; most likely `/var/log/lightdm/x-0.log` or similar places)
* Xor

[2022-03-30 06:05] ew0k commented on #7123
I am experiencing the same issue fresh 4.1 install latest updates - and yes i verified latest version qubes core agent

the arp workaround fixes it

[2022-03-30 06:05] ew0k commented on #7261
I am experiencing the same issue fresh 4.1 install latest updates - and yes i verified latest version qubes core agent

the arp workaround fixes it

[2022-03-30 06:14] alzer89 commented on #7390
``/var/log/lightdm/x-0.log``` log files:
[x-0.log](https://github.com/QubesOS/qubes-issues/files/8377522/x-0.log)
[x-0.1.log](https://github.com/QubesOS/qubes-issues/files/8377527/x-0.1.log)
[x-0.log.old.log](https://github.com/QubesOS/qubes-issues/files/8377532/x-0.log.old.log)
[x-0.old.1.log](https://github.com/QubesOS/qubes-issues/files/8377533/x-0.old.1.log)

Is there any chance someone could

[2022-03-30 07:06] logoerthiner1 commented on #7390
[code]

This part of log seems to be related to your problem. It is a segmentation fault, indicating a serious defect. This log literally says that OsLookupColor function have accessed an unmapped address 0x7fd04b1e57d0.

Anyway your problem is not hopeless - at least you can get the core file, and since it is a userspace program, you may not need additional devices to diagnose the problem.

The c

[2022-03-30 07:14] alzer89 commented on #7390
5.16.15 Coredump files:
[5.16.15-coredump.tar.gz](https://github.com/QubesOS/qubes-issues/files/8377938/5.16.15-coredump.tar.gz)

5.17.1 Coredump files:
[5.17.1-coredump.tar.gz](https://github.com/QubesOS/qubes-issues/files/8377942/5.17.1-coredump.tar.gz)

----

I have never done this soft of thing before, but I am definitely a quick learner, so I will do my best.

[2022-03-30 07:25] logoerthiner1 commented on #7390
Also you may consider from time to time `qubes-dom0-update` as sometimes bugs may get fixed when dev knows elsewhere.

[2022-03-30 07:27] xunillen commented on #6932
Yes, of course. Hope it helps

Output of "journalctl -b -u qubesd.service":
[code]

[2022-03-30 07:32] alzer89 commented on #7390
I do that hourly on the testing machines, and at least every 48 hours on the production machines.

[2022-03-30 08:44] Szewcson opened #7391 "Backup seems not work propperly"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Yesterday I tested backup and restore utility seems for a period of learning Qubes I got many unnecessary changes and probably compromise security of the system in many ways. So I decide to reinstall Qubes and restore all my AppVMs and templates for them from backup. After verif

[2022-03-30 08:54] GWeck commented on #7381
Thank you for the merge! I checked the links between the files and had to correct two files because their links still went to the main documentation, not to the community documentation. Hopefully they are correct now.

[2022-03-30 09:15] andrewdavidwong commented on #7391
By "user space," you mean the home directory of each app qube, correct? Just to be absolutely clear, you are saying that the VMs themselves are restored, but all of your user data (files) are missing from inside of them?

[2022-03-30 10:11] Szewcson commented on #7391
Yes, VMs was restored, they have their colors, and appmenus but not have files in home directory (most importantly Firefox ESR profiles etc.). For VM's like personal everything was in place.

[2022-03-30 10:17] Szewcson commented on #7391
Also If templates are not backuped by design maybe they shouldn't appear on backup list.

[2022-03-30 10:45] h01ger commented on #7390
hi,

I just want to say thanks for this great bug report! The observation with
playing music is a very nice one.

To confirm it's really X crashing: can you shutdown X, suspend and resume
successfully?

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁  holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀  OpenPGP: B8BF54137B09D35CF026FE9D 091AB856069AAA1C
 ⠈⠳⣄

Privacy is a Human Right. (Universal Dec

[2022-03-30 10:58] alzer89 commented on #7390
I can't actually do ANYTHING to the machine at all.  No matter how many times I press Ctrl + Alt + F2, I can't get a tty once the screen dies out....

That's why I hard rebooted them in the videos.  It is literally the only way to get the machine back to a usable state.

I haven't tried opening port 22 and trying to SSH into it (forwarding port 22 into a VM).  I will try that and get back to you.

[2022-03-30 11:12] alzer89 commented on #7390
I can confirm that I can SSH into the machine after resuming it from S3 sleep.  I set up openssh-server in a dispVM and forwarded port 22 to the NIC, and i was able to fully control the AppVM via SSH.

[2022-03-30 11:41] alzer89 commented on #7390
I can also confirm that I can SSH into dom0 using qubes-remote-support.

[2022-03-30 12:00] alzer89 commented on #7390
I can also confirm that I can issue ```sudo systemctl suspend``` after shutting down X (```sudo systemctl stop lightdm```).

The display does not turn back on, but the SSH session resumes with no issues.

[2022-03-30 12:01] h01ger commented on #7390
On Wed, Mar 30, 2022 at 04:13:07AM -0700, alzer89 wrote:

awesome!

--
cheers,
	Holger

 ⢀⣴⠾⠻⢶⣦⠀
 ⣾⠁⢠⠒⠀⣿⡁  holger@(debian|reproducible-builds|layer-acht).org
 ⢿⡄⠘⠷⠚⠋⠀  OpenPGP: B8BF54137B09D35CF026FE9D 091AB856069AAA1C
 ⠈⠳⣄

A ship is always safe at shore, but that is not what it's built for.
(Albert Einstein)

[2022-03-30 12:17] fosslinux opened #7392 "Syncthing startup hang"
### Qubes OS release

4.1

### Brief summary

After my most recent set of updates, syncthing does not start in *any* of my VMs. This is not unique to any one distribution. I can reproduce on Fedora, Debian, and even my **unupdated** Void Linux StandaloneVM. It previously worked fine (regression).

I still have a system that I have not updated and syncthing works perfectly on. I will attempt to tra

[2022-03-30 12:18] marmarek commented on #6932
Can you show output of `virsh -c xen nodedev-list`?

[2022-03-30 12:24] alzer89 commented on #7390
1.  Cold boot machine
2. ```sudo systemctl stop lightdm``` from tty2
3. ```sudo systemctl suspend```
4. Machine enters S3 state successfully
5. Wake up machine
6. Display shows tty2 with no blinking cursor, and is completely unresponsive.  I cannot switch to any other TTYs.  SSH works, though.
7. The display comes back to life on reboot.

[2022-03-30 13:07] andrewdavidwong commented on #7391
There's nothing wrong with backing up templates. Users are free to choose whether to back them up, so it's correct and intended that they appear in the backup list.

[2022-03-30 13:42] marmarek commented on #7390
In this state, do you see anything worrying in dom0 kernel log?

[2022-03-30 14:31] alzer89 commented on #7390
I just did these now:

**5.16.15**
-  Screen does not turn on at all.  It stays with the backlight on, and with every pixel black
[coldboot-5.16.15.log](https://github.com/QubesOS/qubes-issues/files/8381354/coldboot-5.16.15.log)

**5.17.1**
-  Screen appears to resume properly, until you start typing.  Then you start getting screen defects (characters go missing, think the green code in the Matrix

[2022-03-30 14:51] marcungeschikts commented on #4318
Hi @Rspigler,
I am available whenever you have time.

[2022-03-30 14:52] marmarek commented on #7390
This looks a bit worrying:
[code]
What is 04:00.3 device? Audio card? Is it HDMI audio output card maybe (connected to sys-audio)? If so, try to detach it from sys-audio, reboot and see if that helps.

Other things that may be related:
[code]
(and several similar ones)

`dom0 kernel: BUG: using smp_processor_id() in preemptible [00000000] code: systemd-sleep/10516` - https://github.com/QubesOS/qub

[2022-03-30 15:35] marmarek commented on #7261
What the routing table looks like in the in the not working proxy vm? Can you paste `ip r` output?

[2022-03-30 17:14] #4042 closed

[2022-03-30 17:14] #7377 closed

[2022-03-30 17:44] unman commented on #7383
Use it already, so that is not cause.

[2022-03-30 17:50] DemiMarie commented on #7123
This looks like missing Proxy ARP on the upstream side.  Does this reproduce with a non-`sys-whonix` NetVM?

In any case, I _think_ I may have a workaround using a custom C program.

[2022-03-30 18:35] quantumpacket opened #7393 "sys-whonix started by Qubes Updater does not return to original shutdown state"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

I have `sys-whonix` set to not start on boot, and it's shutdown unless I need to use it. However, when I run the Qubes Updater it starts up to carry out the update for the Whonix templates, but it is not shutdown when the update completes. All VMs started by the updater should

[2022-03-30 18:44] marmarek commented on #7123
The routing table should point at specific IP as a gateway, so proxy ARP should not be needed. At some point we used to have just `ip r a default dev eth0` - which did required proxy ARP, but it shouldn't be the case anymore. That's why I'm asking about the routing table.

If making networking work requires "custom C program", something went really wrong. IOW, please don't, lets find a proper solu

[2022-03-30 19:03] brendanhoar commented on #7393
The same is true sys-firewall (the non Whonix default). So the behavior is the same.

(I'm typically using the mirage firewall, so I notice this daily)

B

[2022-03-30 19:04] DemiMarie commented on #7123
Nevermind, the workaround does not work.

[2022-03-30 19:04] alzer89 commented on #7390
**Output of ```lspci -vv``` for GPD Win Max 2021 - AMD Ryzen 7 4800U:**
[lspci.log](https://github.com/QubesOS/qubes-issues/files/8383189/lspci.log)

Yep, 04:00.3 is a USB controller.

It didn't really help....

---

**Journal log file with ```qubes.skip_autostart` in kernelopts:**

**5.16.15 - with ```lightdm``` running, then without ```lightdm``` running:**
[5.16.15-all-pci-devices-in-dom0.log](

[2022-03-30 19:31] xunillen commented on #6932
Here you go.

output of `virsh -c xen nodedev-list`:
[code]

[2022-03-30 19:33] DemiMarie commented on #7392
Can you get a backtrace from the hang?  Does the hang appear to be at the CPUID instruction itself (as if the instruction never finishes)?  Can the hung process be killed?  Does a simple program that calls CPUID manually work?

CPUID is intercepted by Xen and emulated in the hypervisor, so this could be a Xen bug.

[2022-03-30 19:40] DemiMarie commented on #6932
Thanks!  Obviously `pci_10000_e0_06_0` does not match qubesd’s regex and will trip that assertion.  It almost looks like your system has more than one PCIe root complex or something else strange.  What happens if you unplug the Thunderbolt cable?

[2022-03-30 21:10] xunillen commented on #6932
Here's the problem, nothing is connected to the ThunderBolt port. And i forgot to say, this laptop has Intel Volume Management Device (VMD) technology enabled. Can that cause such issues?

Here is the output of _lspci_ command, if it helps in any way:

[code]

[2022-03-30 22:07] DemiMarie commented on #6932
That is probably the culprit, but I have no idea how dom0 should handle it.

It does, and is about what I would expect for VMD given what I have just seen on Intel’s website.

[2022-03-30 23:08] brendanhoar commented on #6932
Perhaps Intel Volume Management Device can be disabled in bios?

B

[2022-03-31 01:29] DemiMarie opened #7394 "Assertion failure in pacat-simple-vchan"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

I ran into an assertion failure in pacat-simple-vchan after my computer overheated and froze temporarily.

### Steps to reproduce

Not sure

### Expected behavior

No assertion failure.

### Actual behavior

Assertion failure.

[2022-03-31 01:46] andrewdavidwong commented on #7391
If you chose to restore them, yes.

[2022-03-31 01:59] andrewdavidwong commented on #7393
But it's not that simple, since this type of scenario commonly occurs:

1. The user boots Qubes with zero qubes set to autostart. Zero qubes are running.
2. The user starts an update, which causes `sys-net`, `sys-firewall`, and other qubes to start.
3. During the update, the user starts another qube, e.g., `work`, that uses `sys-firewall` as its net qube.
4. While the user is still working in the

[2022-03-31 02:01] andrewdavidwong commented on #7393
(Slightly generalized title.)

[2022-03-31 02:16] andrewdavidwong commented on #7393
Slightly reworded title to clarify the expectation. I think this is better classified as a UX enhancement request than a bug report. For one thing, I'm not yet convinced that there's anything *wrong* with the current behavior (which is not to say that the UX can't be improved). Also, as a practical matter, we already have the "shut down when idle" option, which can be used to achieve effectively t

[2022-03-31 03:29] deren commented on #7294
@logoerthiner1

I found your patch and would like to check more detail of your problem. Can you post/attach full log of the NULL ptr problem? It's better to check the overall flow for this issue.

[2022-03-31 04:19] logoerthiner1 opened #7395 "Prompt user with timeout when dom0 wants to shutdown appVM automatically"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Current Qubes OS has designed behavior in certain scenarios to automatically shutdown some VM.

Sometimes user does not want to quit a VM; sometimes whether to automatically shut down a specific VM is hard to decide (#7393) and even when Qubes OS has decision for user, some user

[2022-03-31 04:34] DemiMarie opened #7396 "Spurious key press events when switching windows"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.0 I think?  In any case this should still impact R4.1.

### Brief summary

While working on the Wayland GUI agent, I kept running into spurious key press events when switching windows.  These usually showed up as terminal windows in an invalid state that was hard to recover from.  I had to resort

[2022-03-31 04:39] DemiMarie commented on #7316
Yikes!  I can see how that could cause problems for some applications.  On the other hand, well-behaved applications need to work with touchpads, so this is arguably a bug in those applications.  Still, it’s probably worth fixing.

[2022-03-31 04:42] DemiMarie commented on #7324
Should this be handled through the GUI protocol?

[2022-03-31 06:38] DemiMarie commented on #7293
Given the complexity of this approach, I think a simpler solution is to make sure that even if a qube is resized while being backed up, the backup will still restore properly.  @marmarek thoughts?

[2022-03-31 07:25] b90g opened #7397 "no network with qubes-vm-kernel-latest (5.16.18)"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

5.16.18-1

### Brief summary

sys-firewall isnt able to ping IPv4 addresses although sys-net connected to a network and reaches the same adress. (9.9.9.9)

sys-firewall is connected to sys-net

### Steps to reproduce

install kernel-latest for qubes-vms (5.16.18)

### Expected behavior

Having e

[2022-03-31 07:59] na-- commented on #7396
@DemiMarie, do you think this might be connected with https://github.com/QubesOS/qubes-issues/issues/4211 or maybe even the same issue?

[2022-03-31 09:37] DemiMarie commented on #7293
Taking a snapshot is the approach I would prefer, but I can’t think of a way to avoid races and/or leaks without FD passing.

[2022-03-31 09:44] marmarek commented on #7293
This gives you a place to cleanup.

[2022-03-31 10:23] marmarek commented on #7397
Can you see if kernel in sys-net complains about anything. It may be some driver-specific issue, I cannot reproduce it on my system.

[2022-03-31 11:37] DemiMarie commented on #7293
Turns out there is only one place where the block device is actually opened, and I can trivially refactor it to have qubesd itself open it.

[2022-03-31 11:38] RaspyVotan commented on #6932
The proposed solution to de-activate VMD worked for me: I de-activated
it in BIOS, and after re-booting the laptop

- I can run "qvm-pci" and get a list of devices

- The tab "Devices" under "Settings" is not greyed out anymore.

Thanks for all your help!

On 3/31/22 01:08, Brendan Hoar wrote:

[2022-03-31 11:39] DemiMarie commented on #6932
@marmarek @HW42: is it safe to just loosen the assertion?

[2022-03-31 14:30] 51lieal opened #7398 "Initial setup fail if disk using 4Kn sector size with lvm+thin pool"
### Qubes OS release

4.1

### Brief summary

- Qubes automatically use 4Kn sector size if the lbaf is already 4K.
- After install I need to configure everything manually, from install templates, to add vm pool.
- BTRFS install works out of the box.

### Steps to reproduce

- Using manual partition with configuration like this :

[code]

Configure partition :

[code]

### Expected behavior

Initia

[2022-03-31 14:38] b90g commented on #7397
I updated the Issue, it turned out sys-firewall isnt able to connect to anything when they run on 5.16.18.

its fedora-35 template.

should i paste dmesg or anything? i am not a developer, sorry :/

[2022-03-31 14:41] 51lieal opened #7399 "Support for 4Kn Templates"
### The problem you're addressing (if any)

Take a look at here https://github.com/QubesOS/qubes-issues/issues/7398

### The value to a user, and who that user might be

Using 4Kn templates slightly increase vm performance.

Check this out to read full discussion https://forum.qubes-os.org/t/ssd-maximal-performance-native-sector-size-partition-alignment/10189

[2022-03-31 16:55] pgerber commented on #7397
Looks like qubes-iptables.service fails on that kernel:

[code]

Works fine again when I downgrade to the previous kernel.

[2022-03-31 17:15] crat0z commented on #7397
Can confirm this is an issue. All VMs that start with 5.16.18-1 kernel will have broken iptables

[2022-03-31 17:43] brendanhoar commented on #7397
Confirmed in 4.0 as well.

[2022-03-31 17:48] 51lieal commented on #7397
maybe debian issue? my fedora-35 minimal is fine.

[2022-03-31 17:50] b90g commented on #7397
using fedora-35 (both disposable with vanilla config)

[2022-03-31 19:18] marmarek commented on #7374
Have you played with ReactOS in the past? This looks like you have https://github.com/unman/change_disk/blob/master/init_patch applied.

[2022-03-31 19:45] Szewcson opened #7400 "Graphic problems on Intel GPU on boot screen"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
When testing Qubes using GTX 1660ti with nouveau drivers everything works good. Now before reinstallation I decide to enable switching mode in BIOS to try sys-gui and maybe GPU-passtrough. Since first boot I observe lags during typing boot password, strange pixeization of passwo

[2022-03-31 21:47] GaelicGabe opened #7401 "Arch Linux template can't be built on 4.1 seemingly due to chroot failure to create `etc`"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
I am having issues building the arch linux template on the 4.1 release. I'm having various issues on step 5 in [this](https://github.com/Qubes-Community/Contents/blob/master/docs/building/building-archlinux-template.md) guide.

### Steps to reproduce
Follow the guide down to ste

[2022-04-01 03:22] andrewdavidwong commented on #7400
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-04-01 04:12] Minimalist73 opened #7402 "Kernel 5.16.18-1 breaks iptables"
### Qubes OS release
4.1

### Brief summary
When using latest 5.16.18-1 kernel with a qube, iptables act weird when adding rules, when using the previous kernel 5.16.15-1 there's no issue.
Both qube are fresh debian-11 just for the demonstration

![](https://i.postimg.cc/yNCQnpTC/2022-04-01.png)

### Steps to reproduce
- Download latest 5.16.18-1 kernel
- Use kernel with a qube
- Try adding an ipt

[2022-04-01 04:20] Minimalist73 commented on #7402
Seems to be related to #7397

[2022-04-01 04:44] DemiMarie commented on #7402
@Minimalist73 Can you replace `iptables-legacy` with `iptables-nft` and try again?

[2022-04-01 08:27] xunillen commented on #6932
I can confirm what RaspyVotan says. I disabled the VMD in the BIOS and everything is working fine now. `qvm-pci` command works, and 'Device' tab is not greyed out anymore.

[2022-04-01 08:56] fepitre commented on #7350
Unfortunately, 5.16.18 does not solve the problem :/

[2022-04-01 12:36] marmarek commented on #7402
Won't help, it's nf_tables loading that fails.

[2022-04-01 13:25] locriacyber commented on #7316
I don't have time to fix this.
Directions:
- Add new events to Qubes gui protocol
- xf86 driver can switch a device between absolute & relative mode. Send one absolute event on VM window focus, then switch to relative mode. It's hard to always get absolute mouse position synced, since X was not designed for this.
- Maybe view code for some open source virtualbox-like software? They handle mouse be

[2022-04-01 13:26] locriacyber commented on #7324
Yes. This will likely be a major change to the GUI protocol, where each device has its own id.

[2022-04-01 13:31] locriacyber commented on #7396
I don't know about Wayland.

[2022-04-01 13:39] Minimalist73 commented on #7402
Like @marmarek said nf_tables fails, so qubes-iptables service show this error:

[code]

I've been able to start the service again by temporary switching to iptables-legacy:
[code]

[code]

[2022-04-01 13:47] iacore opened #7403 "Window focused in VM does not raise"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
r4.1

### Brief summary
When a X window in VM focus another window in the same VM, the mapped window in dom0 does not raise to the top.

### Steps to reproduce
Open any link in VS Code while the web browser is open. VS code should be at top.

### Expected behavior
Open link in browser + raise browser

[2022-04-01 13:48] locriacyber commented on #7403
Need change to GUI protocol to allow client feedback of window focus.

[2022-04-01 13:53] marmarek commented on #7403
We have https://github.com/QubesOS/qubes-gui-common/blob/master/include/qubes-gui-protocol.h#L215 already which is a bit related, although not the same.

It was a design decision to not let a VM to switch focus in dom0 on its own. This would be bad if VM could steal focus from another VM this way. But within the same VM it should be fine, as long as we can ensure this property. I'm not sure how to

[2022-04-01 17:04] antarisherdeng4 commented on #7374
I didn't play with ReactOS, but I did apply patch_init patch that call init_patch inside as stated in this guide:
https://github.com/unman/notes/blob/master/InstallingAndroid.md
I've looked into init_patch and it indeed check for the "react*" string in qube name and add some arguments but I don't understand how it works exactly. But everything worked before Qubes update even for VMs with name that

[2022-04-01 17:09] DemiMarie opened #7404 "Xen-related performance problems"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

The Xen hypervisor has performance problems on certain compute-intensive workloads

### Steps to reproduce

See @fepitre for details

### Expected behavior

Same (or almost same) performance as bare hardware

### Actual behavior

Less performance than bare hardware

[2022-04-01 18:22] DemiMarie opened #7405 "Disable sync with udev for lvm2 operations"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

lvm2 commands currently must block until the devices they manage have propagated through the udev stack.  This is slow.

### The solution you'd like

udev should be told to completely ignore Qubes-managed logical volumes.  This means generating no symlinks at all for them, not e

[2022-04-01 19:35] #7402 closed

[2022-04-01 19:35] #7397 closed

[2022-04-01 20:11] 3hhh opened #7406 "qubes-rpc: @dispvm doesn't work as source"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary

If `@dispvm` is used in the sourc esection of a qrexec policy, the requests are always denied.

### Steps to reproduce
Set a qrexec-policy such as
[code]
or
[code]

### Expected behavior
Requests from the template `template` work.

### Actual behavior

All requests are denied.

[2022-04-01 20:13] 3hhh opened #7407 "`man qrexec-client-vm` shows html"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
`man qrexec-client-vm` shows html

### Steps to reproduce
`man qrexec-client-vm`

### Expected behavior
manpage is shown.

### Actual behavior
garbled html output is shown.

[2022-04-01 21:11] marmarek commented on #7406
It works as intended, see https://www.qubes-os.org/doc/qrexec/#qubes-rpc-administration

[2022-04-01 21:11] #7406 closed

[2022-04-01 23:26] icequbes1 commented on #7401
Have you run `make remount` as instructed, before building VM packages?

Try removing the chroot (`sudo rm -rf chroot-vm-archlinux`) and retrying all of Step 5 in the guide.

[2022-04-01 23:29] icequbes1 commented on #7374
Note that patching the stubdom rootfs likely doesn't qualify as a Qubes OS issue - this is probably better resolved on the forum or qubes-users. I've just tried an android-x86, patched the stubdom rootfs similar to what unman does, and had no issues.

According to unman's patch, your qube must start with the name "react". So, what you're observing is correct. Your earlier patch must have been diff

[2022-04-01 23:57] DemiMarie opened #7408 "Replace use of cryptsetup by raw dm-crypt ioctls"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Volatile volumes currently use cryptsetup to set up the dm-crypt volume.  This has high startup overhead, as cryptsetup needs to handle corner cases that qubesd does not.

### The solution you'd like

Write a C library to set up a raw dm-crypt device with a random key, and have

[2022-04-02 00:36] marmarek commented on #7390
I have a good and a bad news. Good is that I have access to a very similar hardware, especially it features very similar graphics card. In fact it is one of our test laptops. Suspend tests were broken there because device does not react to wake-on-lan (nor RTC wake), but I just fixed it via a hardware workaround (basically pressing the power button physically). The test now fails in a very similar

[2022-04-02 00:51] #7378 closed

[2022-04-02 01:25] DemiMarie commented on #7390
Does it resume properly if Linux is booted directly (without Xen)?  If it does, that is either a hypervisor bug or a bug in Linux’s Xen support code, which massively reduces the amount of code that could be involved.

[2022-04-02 03:26] #7383 closed

[2022-04-02 06:05] logoerthiner1 commented on #7403
https://forum.qubes-os.org/t/feature-request-display-current-domain/10049/7
https://forum.qubes-os.org/t/display-not-updating-to-show-current-program/10241/4

One sentence to summarize: Dom0 disagrees with appVMs on which window is focused, which windows are minimized or in the other workspace, and maybe the z axis of each window.

This problem exists at least ever since Qubes OS R3.2 (when I lear

[2022-04-02 06:27] logoerthiner1 opened #7409 "Firefox switches mouse cursor properly while Google Chrome does not"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

R4.1 introduced a feature that cursor can change on appVM request.

This works for firefox but not for google chrome.

### Steps to reproduce

1. Start an appVM on R4.1 with firefox and google chrome both installed, be it a fedora or debian

2. Test the cursor feature on fire

[2022-04-02 08:59] alzer89 commented on #7390
Yes.  I have tried the following OSes:
- Ubuntu 21.10
- Ubuntu 20.10
- Fedora Rawhide (37)
- Fedora 35
- Garuda Linux
- Manjaro
- Linux Mint
- AlpineLinux

They all successfully resume from sleep.

Happy to upload logs and/or videos from these if it would help.

[2022-04-02 11:58] #3285 closed

[2022-04-02 13:19] #7248 closed

[2022-04-02 13:19] #7275 closed

[2022-04-02 16:19] GaelicGabe commented on #7401
I have run make remount once and also several times (once before install-deps and once right before make qubes-vm).
Neither of the time it changes the outcome.
I've also removed `chroot-vm-archlinux` and retried, but with the same result.

[2022-04-02 16:31] crat0z opened #7410 "GUI related memory leaks in AppVMs"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1 current-testing in dom0, fedora-35 and debian-11 templates

### Brief summary
There appears to be a memory leak when starting applications in VMs. Closing applications does not free all the memory that was allocated. Starting and killing applications over and over will eventually OOM the VM and th

[2022-04-02 16:41] scallyob commented on #7198
Just wanted to say I've been experiencing this on a ext4 install as well. It really became a problem when I stopped compressing my backups. Compressing seems to greatly reduce if not eliminate this problem.

[2022-04-02 17:00] scallyob opened #7411 "Qubes Backup hangs and never finishes if any of the target qubes are running"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1rc3 and 4.1 final release

### Brief summary

Qubes Backup hangs after creating 30K file if qube being backed up is still running.
If multiple qubes being backed up and some are running it will create a bigger file (presumably of the non-running ones) before hanging.

### Steps to reproduce

1. Cre

[2022-04-02 17:03] scallyob commented on #7411
By the way, have been working through this last couple months before posting here: https://forum.qubes-os.org/t/backup-fails-since-upgrade-to-4-1-unless-qubes-are-all-shut-down/8660/15

[2022-04-02 17:11] DemiMarie commented on #7410
@crat0z Does the number of windows on the screen stay roughly constant or increase with time?

[2022-04-02 17:14] rustybird commented on #7359
Running `dmesg -w` in the VM, I see a ton of those messages **whenever any of its windows is resized, opened, or closed**. This also consumes more and more memory, and eventually things slow down to a crawl due to the VM swapping.

Latest current-testing everywhere, but IIRC it's been this way since I switched to R4.1 a couple of weeks ago. (Back then I hadn't yet tried to really trigger it in the

[2022-04-02 17:15] DemiMarie commented on #7390
If you are using grub, there should be a boot menu entry for this (if not, and you haven’t customized your grub config, that’s a bug).  dom0 should be able to boot just fine without Xen, but you (obviously) won’t be able to start any VMs.

[2022-04-02 17:15] rustybird commented on #7410
Could be https://github.com/QubesOS/qubes-issues/issues/7359#issuecomment-1086681239

[2022-04-02 18:04] crat0z commented on #7410
The number of windows is constant. All I had open was gnome-terminal and from there I started nautilus, killed nautilus etc over and over. At the end, I closed nautilus one last time.

Here is some more information, the below command shows memory usage per process sorted. First the before:
[code]
And after:
[code]
The only thing that immediately pops out is the `systemd-journald`, but that is only

[2022-04-02 18:04] rustybird commented on #7198
Yep, makes sense.

Sorry I haven't gotten around to implementing Marek's suggested per-file size limit yet. But `qvm-backup-restore --ignore-size-limit` should be fine as a workaround for the moment. (Restore already invokes `qfile-dom0-unpacker` with an argument that makes it wait if there's less than 500 MiB of free space, instead of completely filling up the disk.)

[2022-04-02 18:18] DemiMarie commented on #7359
This looks like a bug in the GUI daemon and/or the dom0 kernel: it needs to release the grant tables when it is done using them.

[2022-04-02 19:53] alzer89 commented on #7390
I have used GRUB2 with the same menu that came with the Installer ISO the entire time I have used Qubes OS, and I never had a GRUB2 menu option to boot _without_ Xen.  The most I have ever had was Advanced Options -> Xen <VERSION>, and an option to edit the config...

I have tried editing the GRUB2 configuration from the GRUB2 menu (not from ```grub.cfg``` or from ```/etc/default/grub```) and dele

[2022-04-02 20:18] 3hhh commented on #7406
Thanks for the hint.

So ***@***.***:DispVM` does the job instead as source. It's just hard to filter for a specific template VM with that syntax.

[2022-04-02 20:37] kr4t0 commented on #7359
Can Confirm this here on and AMD Renoir System (Thinkpad P14s Gen2) i am happy to provider further debug info if needed. Problem is that log auditing gets really annyoing in qubes due to this

[2022-04-02 20:51] ayakael commented on #7390
Correct me if I'm wrong, but this strikes me as related to https://github.com/QubesOS/qubes-issues/issues/6923
Points to AMDGPU as the issue, as well. More specifically, PSP.

My main laptop (ThinkPad T14 w/ 4750U R7) has never been able to successfully resume from suspend, unless all VMs are shutdown. My issues very much match your own.

[2022-04-02 22:39] marmarek commented on #7390
1. There was a time where disabling non-Xen boot option was broken, but this was fixes quite some time ago (I believe even before 4.0).
2. Since @DemiMarie made pciback assigning error a fatal boot error, you can't really boot dom0 without Xen... At least not without some rather non-obvious workarounds.

[2022-04-03 00:07] DemiMarie commented on #7390
Could this be made conditional on whether the kernel is booted with Xen or not?

[2022-04-03 00:10] DemiMarie commented on #6923
@marmarek Can we turn off the HDCP and SVM stuff?

[2022-04-03 00:12] DemiMarie commented on #7403
Yeah, it is unsafe sadly.  My Wayland agent (GUI agent as a Wayland compositor) simply leaves this unimplemented (so drag and drop does not work at all).  @ninavizz how bad would it be for drag and drop to be broken?

[2022-04-03 00:18] DemiMarie commented on #7410
Ouch.  This looks like either something went wrong in the XSA-396 patches, _or_ that other parts of the kernel were buggy as well, and that XSA-396 involved more vulnerabilities than I was aware of.

[2022-04-03 00:18] DemiMarie commented on #7410
This should probably be brought up on xen-devel.

[2022-04-03 01:31] marmarek commented on #7410
My _guess_ is that deferred grant release is not working. I propose to make a simple tool that has two modes:
1. allocate shared page to some domain, prints its grant ref and asks (waits for the user, like ctrl-c) when to free it
2. map granted page, and asks when to unmap it

Then try various orders of releasing, and observe both dmesg, and observe grant tables usage (`xl debug-key g` may be help

[2022-04-03 01:33] marmarek commented on #7410
In fact, a tool like this could be useful for debugging other issues too - it may make sense to send it upstream (into `xen.git/tools/misc` for example).

[2022-04-03 01:42] marmarek commented on #6923
I highly doubt it would help with S3 issue...

[2022-04-03 01:47] marmarek commented on #7410
All pages shared by a userspace process should be implicitly released when the process ends (on FD close? on unmapping? I don't remember). But may be worth also checking if explicit release makes a difference.

BTW, please use official libraries, not ioctl directly.

[2022-04-03 01:50] marmarek commented on #7390
Sounds like a good idea. `/sys/hypervisor/type` should give you the information you need.

[2022-04-03 02:16] DemiMarie commented on #7410
Will do.

[2022-04-03 02:43] DemiMarie commented on #6923
Would turning off `AMD_MEM_ENCRYPT` help?  Not that we should do it, obviously.

[2022-04-03 03:11] quantumpacket commented on #2204
I'm using 4.1 and have chosen the Adwaita-dark theme, but not all windows are being themed dark.

**Dark Theme Works:**
- Qubes Update

**Dark Theme Does Not Work:**
- Qubes Backup Restore
- Qubes Global Settings
- Qubes Manager
- Template Manager
- Create New Qube

I thought at least Qubes Manager would work since it's mentioned in this thread. I've tried switching to other dark themes, but they

[2022-04-03 03:57] #7278 closed

[2022-04-03 04:36] fosslinux commented on #7392
Here is the full backtrace and code around the hang using delve (go debugger):

[code]

I believe that it appears to be on line 21 as the CPUID instruction is executed, incrementing the line counter, but it never finishes, causing the hang. At least that is how it seems.

Yes, the hung process can be killed.

However, a simple assembly program calling CPUID does not hang, which is pretty strange.

[2022-04-03 05:32] rustybird commented on #7411
In https://github.com/QubesOS/qubes-issues/issues/7198#issuecomment-1086674714 you wrote that you have an ext4 installation. It's intentional that the Qubes backup system will refuse to back up a running VM stored on a [deprecated](https://github.com/QubesOS/qubes-issues/issues/6399) legacy 'file' driver pool [(which was never a safe thing to do)](https://github.com/QubesOS/qubes-issues/issues/432

[2022-04-03 06:02] DemiMarie commented on #7362
Thanks for the fix @marmarek!

[2022-04-03 06:10] DemiMarie commented on #7392
That seems to indicate that whatever is going on is _not_ the process being stuck in Xen, since that wouldn’t be killable.

Can you try calling manually CPUID with the exact same parameters as the failing call?  This seems like a strange low-level bug in either Xen or Linux.  Would you by any chance be able to see what happens in kernel mode when the CPUID instruction is issued?

[2022-04-03 07:41] ZYousef commented on #7367
**Update**
Surprisingly if you start the machine while you're in dom0 environment then switch to the sys-gui environment, and use it to run some videos it will play fine!

[2022-04-03 08:31] Nurmagoz opened #7412 "Wrong Gateway for any HVM"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1

### Brief summary

Installing any OS inside any HVM will require internet configuration (adding IP,GW,netmask..etc), And to know these information they are available from Qubes manager settings for the created HVM, But when adding the Gateway IP inside the network-manager of the OS it wont accep

[2022-04-03 08:47] isodude commented on #6923
MEM_ENCRYPT is actually not used anyhow. You have to enable it as a kernel option.

https://www.kernel.org/doc/html/v4.14/admin-guide/kernel-parameters.html
[code]

The problem with Xen and AMD and S3 seems to be related to the fact that AMD has not QA for Xen and their APU . Also Vega and Mesa does not seem to work that good together either right now.

From my understanding you need all the PSP f

[2022-04-03 08:57] logoerthiner1 commented on #7294
Hello, and sorry for late reply. The crash backtrace is at the top of the github issue page. Are there additional logs required here?

This can be reproduced by echoing the pci address of wifi device (for example `0000:00:07.0`) to `/sys/bus/pci/drivers/mt7921e/unbind`, if you have a device using mt7921, and this should be distribution-agnostic.

[2022-04-03 11:35] alzer89 commented on #7390
Just my luck.  It happened at 21:20 in the logs.

I was viewing a longplay of Wolfenstein: New Blood on YouTube in Firefox, and it did exactly the same thing as when it tries to resume from S3 sleep.

[amdgpu-crash-while-not-sleeping.log](https://github.com/QubesOS/qubes-issues/files/8404379/amdgpu-crash-while-not-sleeping.log)

No coredump file was created that I could see.

Does this help at all

[2022-04-03 12:02] GWeck opened #7413 "Incomplete "Move user profiles" option in Windows 10"
### Qubes OS release

Qubes R4.1 with Qubes Windows Tools 4.1-67.1

### Brief summary
If during QWT installation, the option `Move user profiles` is selected for a Windows 10 TemplateVM, the hidden directory AppData is not moved from drive `C:` to `Q:`. This has the consequence that any application configuration data stay in the template. Changes of such configuration data in an AppVM will be lost

[2022-04-03 13:19] AlxHnr commented on #7249
A few weeks ago I did a clean reinstall of Fedora 34. Now its 89% full again. Maybe 10 GiB is way too low to be a reasonable default? I didn't do much other than installing a bunch of software like KDEnlive, Gimp, LLVM and then just used qubes updater for a while.

[2022-04-03 14:00] 3hhh opened #7414 "qvm-template fails silently with repo_gpgcheck=1"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Enforcing signed metadata for the template repo causes `qvm-template' to not find any templates anymore.

### Steps to reproduce
1. Set `repo_gpgcheck=1` in `/etc/qubes/repo-templates/qubes-templates.repo`.
2. Run `qvm-template list --available`.

### Expected behavior

Error on

[2022-04-03 14:03] unman commented on #7401
I regularly rebuild the archlinux packages and templates on 4.1 using
both a Fedora-34 and debian-11 qube for building.
I don't think (I haven't got your original post to hand) that you say what
build machine you are using, or which of the routes outlined on the
somewhat outdated guide you have followed.
It would be helpful if you could do this.

Use a stock template cloned, and then install the
d

[2022-04-03 16:49] jevank commented on #7413
I cannot reproduce it with Windows 10. `Users` folder completely moved to Q:

[2022-04-03 16:53] jevank commented on #7413
Perhaps this is specific to application issue. Could you check with manually creating files and folders in  `Appdata`?

[2022-04-03 17:32] 3hhh commented on #7359
I can confirm this as well.

[2022-04-03 18:06] DemiMarie commented on #7367
@ZYousef Have you set sys-gui to also be the AudioVM?

[2022-04-03 18:11] SaswatPadhi commented on #7410
May be this should be tagged as a major / high priority issue. Currently I have to shutdown my system every 3 - 4 hours.

Is there any workaround for this (other than rolling back the packages)?

[2022-04-03 18:11] DemiMarie commented on #7414
Thanks for the report.  This is certainly wrong.

I believe what is happening is that the check for signed repository metadata in dom0 fails.  This is expected behavior, since dom0 metadata is generated within dom0 and so cannot be signed.  That said, the error message is unacceptably poor.  Will fix.

[2022-04-03 18:12] DemiMarie commented on #7249
@AlxHnr does `dnf clean all` get you back to a decent state?

[2022-04-03 18:14] DemiMarie commented on #7410
I would consider this a release-blocker.

Not that I am aware of (and rolling back the packages will make you vulnerable to XSA-396, so it’s a bad idea).

[2022-04-03 18:18] DemiMarie commented on #6923
@marmarek can we backport the fix?

I don’t think this is Qubes OS related.  Please report it to Mesa upstream.

[2022-04-03 18:20] DemiMarie commented on #7294
@marmarek is this a patch we can take?

[2022-04-03 18:38] crat0z commented on #7410
Has it been confirmed this is XSA-396 related? I can rollback and try an earlier version, but I'm not sure which xen/linux packages are pre-patch.

[2022-04-03 18:40] DemiMarie opened #7415 "Always use a FICLONE-capable filesystem in dom0"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

Currently, a default install with LVM thin provisioning creates an ext4 filesystem for dom0.  This is bad because ext4 does not support FICLONE, so the reflink pool does not work.

### Steps to reproduce

Install Qubes OS using R4.1 ISO

### Expected behavior

varlibqubes poo

[2022-04-03 19:01] marmarek commented on #7415
No, the solution is different: do not create varlibqubes pool in this case. With current LVM layout there is no space to store VMs there anyway.

[2022-04-03 19:08] brendanhoar commented on #7415
@DemiMarie - if you're trying to do what I think you're trying to do...

...you're going to have to create some thin-LVs, put file systems on them, and then mount them in dom0.

B

[2022-04-03 19:08] marmarek commented on #6923
I can look into it, but first I'd need to identify specific patch.

[2022-04-03 19:10] marmarek commented on #7414
I don't think so. `qvm-template` does nothing related to repository metadata in dom0 - at dom0 side dnf is not involved at all.

@3hhh what template your updatevm uses? Is it maybe some older Debian?

[2022-04-03 19:17] 3hhh commented on #7414
I use a debian-11 template. It works for `qubes-dom0-update` though (incl. repo_gpgcheck=1).

[2022-04-03 19:24] DemiMarie commented on #7415
Closing on account of @marmarek’s comment.

[2022-04-03 19:24] #7415 closed

[2022-04-03 19:26] DemiMarie opened #7416 "Do not create varlibqubes pool with LVM thin provisioning"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

The varlibqubes pool by installer is unusable as it is too small and uses the deprecated file driver.

### Steps to reproduce

Create a default install of R4.1 using LVM thin provisioning

### Expected behavior

No varlibqubes pool

### Actual behavior

varlibqubes pool prese

[2022-04-03 19:41] crat0z commented on #7410
Nevermind, I tried 5.16.13-1 and the VM didn't run out of memory.

[2022-04-03 19:54] 3hhh commented on #7075
Btw disabling `lvm2-monitor` in `debian-11` gives ~1s better system bootup performance.

[2022-04-03 20:40] DemiMarie commented on #7390
Not really, sorry.  What kernel are you using, and do you have anything interesting in pstore?  If you are on kernel-latest that might give you a backtrace if there was a kernel panic.

[2022-04-03 20:51] marmarek commented on #2272
Moving discussion from https://github.com/QubesOS/qubes-core-admin/pull/447

A sample of one:
[code]
It looks to depend on just device characteristics, not data on it (well, partition table is part of the data, but the id for whole device is not depending on it). This isn't ideal because there may be cases where it isn't unique (I've seen some devices where vendor was lazy and serial number was al

[2022-04-03 20:56] DemiMarie commented on #2272
Perhaps the best answer is to have *both*.  Right now, any device connected to sys-usb must be assumed to be able to compromise it, but that will not be the case once sys-usb becomes a unikernel.

[2022-04-03 21:17] AlxHnr commented on #7060
I just tried the installer again. Those issues are specific to my machine. My problem was that the boot order was locked in my bios, which prevented anaconda from doing its thing. Now everything works fine and I can install Qubes OS without any efi hacks! Feel free to close this issue.

[2022-04-03 22:09] AlxHnr commented on #7249
It helps me to get from 89% down to 86% usage. I guess at this point I just give my template more storage and be done with it.

Why do we use exactly 10 GiB as the limit? VM's only occupy as much storage as they actually use.

[2022-04-03 22:57] brendanhoar commented on #7249
This may be kind of a big hammer, but I regularly run this after dnf clean:

sudo journalctl --vacuum-files=1

Sometime during 4.0 devs addressed some the ever growing logs in some places, so not sure if this is useful today, but I still do it.

B

[2022-04-03 23:01] alzer89 commented on #7390
So this doesn't provide anything useful?  Just checking, because it's present in the logs when resuming from sleep too.
Damn...

[code]
-----

I am using kernel-latest-5.16.18, and after encountering this issure, I have also tried compiling a 5.17.1 kernel using the Qubes OS Config and Linus' tree, and adding in the patches in https://guthub.com/QubesOS/qubes-linux-kernel .

```/sys/fs/pstore``` i

[2022-04-03 23:27] DemiMarie commented on #7390
Whoops, missed that!  This is definitely a bug somewhere, and since it only happens running under Xen, I suspect it is a bug in the kernel driver.

What happens if you use `sys-gui-gpu`?  That could help figure out if this is a bug related to specifically PV mode.

[2022-04-04 00:03] scallyob commented on #7411
I believe I did use the default. I just went through the installer and here is what I remember doing.

When I got to the page entitled "Device Selecting", I selected /dev/sda and /dev/sdb, which I intended to use as a RAID1, then I used "custom" in order to set up the RAID.

The next screen is entitled "New Qubes OS R4.1.0 Installation"
I can't think of any reason why I would have changed it from

[2022-04-04 00:09] alzer89 commented on #7390
The last time I used ```sys-gui-gpu``` the whole system rebooted, and I could never get it to run properly.  I have a feeling it's because I hadn't set it up properly, rather than a bug in code.

I will try it again, and report back.

[2022-04-04 01:17] alzer89 commented on #7390
Launching ```sys-gui-gpu``` causes the system to reboot, even when it is the only Qube to start automatically on reboot.

[sys-gui-gpu.log](https://github.com/QubesOS/qubes-issues/files/8406072/sys-gui-gpu.log)

[2022-04-04 01:26] #7060 closed

[2022-04-04 01:54] andrewdavidwong commented on #2204
It appears that the reason for this difference between 4.0 and 4.1 might be captured in #7389.

[2022-04-04 04:16] DemiMarie commented on #2204
I don’t think so.

[2022-04-04 05:00] DemiMarie commented on #7411
I suspect that is what the installer didn’t handle properly.  You were probably hoping that the installer would create a RAID (either using LVM RAID or mdadm) and then do the normal provisioning on top of that.  But the manual partitioning probably got it confused and caused it to leave out the LVM layer.  That left you stuck with an ext4 filesystem _without_ LVM, so Qubes OS had to resort to the

[2022-04-04 05:01] DemiMarie commented on #7390
Does it still do that even if you disable `lightdm.service` in dom0?

[2022-04-04 05:03] alzer89 commented on #7390
Checking now.

[2022-04-04 05:15] logoerthiner1 commented on #7249
I always start from fresh template and do things like `sudo dnf -y update && sudo dnf clean all`.

Anyway this is a good hint that we should check out the usage of /var when building a template. `sudo du /var` should be a useful command.

[2022-04-04 06:12] alzer89 commented on #7390
Yes.  It behaves the same.  The screen goes blank for 4-6 seconds, and then reboots.

What else I have tried:
- Setting ```sys-gui-gpu``` to automatically start on boot

Screen and backlight turn off as soon as ```sys-gui-gpu``` starts.  Reboot.

- Setting ```sys-gui-gpu``` to be the _only_ qube to automatically start on boot

Screen and backlight turn off as soon as ```sys-gui-gpu``` starts.  Reb

[2022-04-04 07:49] jevank opened #7417 "`qubes-dom0-update` ignores `--check-only` option"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

qubes-dom0-update tool ignores the --check-only option and this breaks daily update check task.

### Steps to reproduce

`sudo qubes-dom0-update --check-only`

### Expected behavior

`sudo qubes-dom0-update --check-only` makes check-only request

### Actual behavior

`sudo qu

[2022-04-04 07:51] ZYousef commented on #7367
do you mean setting default-audiovm to be sys-gui?
if so, yes! however, after setting it as audiovm, `~/.xsession-errors` now fails
at `sys-net: Starting AUDIO` with `Task exception was never retrieved` ... `qvm_start_daemon.py:576> exception=FileNotFoundError(2,'No such file or directory'">`

[2022-04-04 08:21] juodumas opened #7418 "Sometimes qvm-firewall rules stop working for multiple qubes"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.0

### Brief summary

1. I have this netvm configuration: `my-vm -> sys-vpn -> sys-firewall -> sys-net`
2. In dom0 I use `qvm-firewall sys-vpn ...` to only allow traffic to the VPN server and drop everything else.
3. Sometimes the firewall rules stop working and `sys-vpn` can access everything (or

[2022-04-04 08:46] Geblaat commented on #3585
I have a Windows 7 qube with internet connection. Note that Windows 7 still gets security updates until Jan 2023 IF you get ESU.

[2022-04-04 09:19] GammaSQ opened #7419 "split the --persistent option for qvm-device"
### `--persistent` is doing too much

`qvm-device` allows attaching devices to VMs. Generally, this can happen at any point in the life of a VM, with some caveats. Setting the `--persistent` option sets a very distinct path for attachment in a VM:

- attached device has to exist before the VM is started.
- it will stay attached (or rather "marked for attachment") after VM-shutdown
- removing devic

[2022-04-04 10:48] GWeck commented on #7413
This was caused by leftover data from a Qubes R4.0.4/QWT 4.0.1.3 installation. If all private data are kept on drive `C:`, `Move user profiles` works as expected and moves everything to drive `Q:`.

Also, renaming an old private disk `D:` to `Q:` for Windows 7 is only necessary if such a drive was left over from an earlier version of Qubes/QWT.

I updated the installation documentation accordingly

[2022-04-04 10:48] #7413 closed

[2022-04-04 11:56] isodude commented on #6923
I compiled the latest of everything yesterday to try to get the same, but obviously did not get the same results as last time around. I will try a bit more to get a good working sample.

What is odd that it does matter a whole lot in which order initramfs loads the firmware and kernel modules. In a certain order suspend will not work at all.

[2022-04-04 12:09] marmarek commented on #7418
Check status and logs of `qubes-firewall` service in sys-firewall (or wherever sys-vpn is connected right now). At least `sudo systemctl status qubes-firewall`, but looking more into `journalctl` may be useful too.

[2022-04-04 12:35] JamesClarke7283 commented on #7401
It does not work for me. even with USE_DIST_BUILD_TOOLS=1 set.

Also that outdated guide is the official one, if its the guide thats the problem, could you upload an updated version?

Log of errors is here:
[error.log](https://github.com/QubesOS/qubes-issues/files/8409691/error.log)

[2022-04-04 12:42] marmarek commented on #7419
Thanks for the useful input, this should be part of the redesign in #4626

[2022-04-04 13:12] wkadh5 opened #7420 "Slow and unusable on 11. Intel gen CPU"
### Qubes OS release

Qubes R4.1.0-x86_64

### Brief summary

After installing Qubes OS 4.1 (which took really long)
and updating it, I noticed that after logging in, the system takes
a really long time to boot up sys-net, sys-firewall etc..

Further investigations lead to the conclusion that
the system is so slow that its usage its useless.
E.g. startup and usage from a disp vm is barely possible

[2022-04-04 13:41] juodumas commented on #7418
Thanks. I see 3 issues:

1. qubes-firewall cannot resolve a hostname and it tries to show a notification by launching `runuser notify-send`. But PATH is wrong (at least for Debian bullseye) here https://github.com/QubesOS/qubes-core-agent-linux/blob/f5938cbd23ade4fef0ed79d23ac0239d72929762/qubesagent/firewall.py#L201 because runuser is in `/sbin/runuser` on Debian.
2. Wrong PATH causes `FileNotFou

[2022-04-04 13:51] jevank opened #7421 "Chome application launchers doesn't work with qubes.StartApp"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

Chrome allows to install applications and creates launchers. The name of such a launcher contains the guid of the application (?) and the profile name (chrome-agimnkijcaahngcdmfeangnmldooml-Default.desktop). This is too long path to check with the prefix 'qubes-service/app-di

[2022-04-04 14:23] GSF1200S opened #7422 "Qubes fails to update with "@anyvm @anyvm deny" in policy file; compromise? Configuration error?"
### Qubes OS release

Qubes 4.1 up to date.

### Brief summary

I cannot update Qubes without removing "@anyvm @anyvm deny" from the file /etc/qubes-rpc/policy/qubes.UpdatesProxy.

### Steps to reproduce

Have /etc/qubes-rpc/policy/qubes.UpdatesProxy as follows:

Have dom0 UpdateVM (in Global Manager) set to either sys-net or sys-firewall (doesn't matter- I prefer the latter but tried both to be s

[2022-04-04 15:27] TNTBOMBOM commented on #7414
I can confirm this (using fedora-34 for updateVM)

[code]

Different is:

With

[code]

Without

[code]

[2022-04-04 15:32] TNTBOMBOM commented on #7420
Good but not enough check:

https://www.qubes-os.org/doc/system-requirements/#minimum

Vt-d (**Mandatory**), Vt-x (**Mandatory**), TPM (optional but good), Disable HyperThreading (optional but good if you have this option in your BIOS)

[2022-04-04 15:43] juodumas commented on #7418
Interesting. No I didn't modify this. But my Debian has been dist-upgraded a few times from some old template. Anyway, "official" Docker bullseye image does not have the symlink either:
[code]

Ah, true, it does mention the IP. Hard to notice given that the notification takes the whole screen and I rarely have to think about VM IPs.

[2022-04-04 15:43] GSF1200S commented on #7422
*Sighs* I apologize for wasting your time man/gal. I understand what happened now (this is in case anyone makes the mistake I did):

I use disposable VMs for my entire network stack (sys-net, sys-firewall, etc), and on 4.0 had used the convention "disp-sys-net" etc. Because during initial setup I didn't understand the new changes to the policy file and syntax (and wasn't planning to look under the

[2022-04-04 15:43] #7422 closed

[2022-04-04 15:46] brendanhoar commented on #7420
This page says both vt-x and vt-d are "Yes":

https://www.intel.com/content/www/us/en/products/sku/208662/intel-core-i71165g7-processor-12m-cache-up-to-4-70-ghz/specifications.html

B

[2022-04-04 16:27] crat0z commented on #7420
Probably related to #6411, have you tried using the latest kernels?

[2022-04-04 16:50] 3hhh commented on #7418
I see. Would you mind sending a PR then?

[2022-04-04 17:24] DemiMarie commented on #7367
What happens if you set sys-gui’s AudioVM to dom0?

[2022-04-04 19:16] scallyob commented on #7411
OK, thanks for the info @DemiMarie. So will have to wait for a new release of the installer?

Or is there a way to create a RAID setup with the current installer that won't cause this problem?

[2022-04-04 19:19] DemiMarie commented on #7411
BTRFS’s built-in RAID should work (subject to the usual BTRFS caveats: avoid RAID5 and RAID6, I/O performance can be unstable, etc), and selecting XFS or BTRFS instead of ext4 will result in a usable varlibqubes pool.  If you want to use dm-raid + LVM thin provisioning I believe you will need to do it manually.

[2022-04-04 19:24] JamesClarke7283 commented on #7401
In the VM i am using to build, sudo itself is working without a prompt.

Here is proof:
`
[user@build-archlinux qubes-builder]$ sudo whoami
root

`

Sudo does not work within the chroot, before ive had to install and configure sudo manually(edit sudoers, with nopasswd added), the build still failed that time.

About the git describe output, i assume you mean in step 3.
`
[user@build-archlinux qube

[2022-04-04 19:35] SaswatPadhi commented on #7410
I installed `kernel-latest` and `kernel-latest-qubes-vm` which are 5.16.18, but I still see the memory leaks.

@crat0z did you roll back the packages as well, or just switched to a newer kernel?

[2022-04-04 19:53] JamesClarke7283 commented on #7401
Just to give a bigger picture, here are logs for all steps in step 5. i start btw with a fresh appVM so its not polluted.

Part 1: Command
[code]
Log here for command output:
[step5-1.log](https://github.com/QubesOS/qubes-issues/files/8412713/step5-1.log)

Part 2 Command:
[code]
Log here for command output:
[step5-2.log](https://github.com/QubesOS/qubes-issues/files/8412718/step5-2.log)

Part 3 Co

[2022-04-04 22:17] Timothy-S-P-Capehart commented on #6545
Sorry for the delayed reply. I returned the machine since I didn't have much use for it if I couldn't use it for Qubes reliably, so I'm not sure if it is still reproducible.

I've reverted to using Qubes-OS 4.0 on a different machine.
Thanks for trying to help though. Sorry I couldn't provide better information.

[2022-04-04 22:18] noptys commented on #7359
This message flooding is happening in latest R4.0 also, in dom0 and AppVMs.  Currently I'm not seeing noticable slowdown on any R4.0 or R4.1 machines, and message rate seems to be lower in R4.0.

[2022-04-04 23:18] DemiMarie commented on #3244
I think this is actually unreachable with lvm2: `lvm` will bail out if the transaction ID gets too high.

[2022-04-04 23:19] DemiMarie commented on #7405
It looks like this is unsafe and unsupported by upstream.  I might be able to make it work by means of some (non-upstreamable) LVM patches, though.  @marmarek does that mean this is no-go?

[2022-04-04 23:22] DemiMarie commented on #6607
Yeah, the more I think of it, the more tempting reflink+XFS is.  Unless there is a benchmark that shows dm-thin being faster than reflink+XFS, I’m inclined to recommend the latter.

[2022-04-05 01:53] #7344 closed

[2022-04-05 03:00] Rspigler commented on #4318
Unfortunately I have been very sick, so did not get the application in on time (we only had a couple days anyway; it would have been difficult to coordinate).

Fortunately we can apply for June 1st submission.  I will also look for other orgs that give funding.  If anyone has other ideas for funding, please let me know.

@madscientist159 We still just have my 1 bitcoin.  Hopefully at some point @l

[2022-04-05 05:50] DemiMarie commented on #7410
With the help of SystemTap, and after a wrong turn using the wrong kernel sources which led to wrong line numbers, I managed to figure out the problem.  The pages _do_ eventually get freed, but not quickly enough.  The culprit is that `gnttab_handle_deferred` only frees 10 pages per iteration, and is only called every second or so.  Qubes OS can grow the list much more quickly.

[2022-04-05 05:58] DemiMarie commented on #7410
The result is a net memory leak, because pages are allocated faster than they are freed.  Furthermore, this only triggers on certain workloads.  Workloads that do not create and destroy lots of windows at a sufficient rate do not trigger it, which is why not everyone has experienced it.  Network and block PV drivers do not trigger it, as in both cases the pages get freed by the backend before the

[2022-04-05 08:20] DemiMarie commented on #5538
@artemislena @xaki23 what would it take for F2FS to support reflink?  That would allow F2FS to be used with the reflink storage pool.

[2022-04-05 09:05] ZYousef commented on #7367
**Update**
I've found a workaround to solve this issue with the help of @DemiMarie, however, I'm concerned about the security implications of the solution.

1. Setup sys-gui as mentioned before

2. Change the preferences:
[code]
3. install _qubes-audio-daemon_ on fedora-34-xfce (sys-gui's template)
4.  Create an autostart for _pulse-audio-with-vchan_ or edit /etc/xdg/autostart/qubes-pulseaudio.des

[2022-04-05 10:41] fosslinux commented on #7392
Further investigation has revealed (not sure how I didn't pick up some of this earlier);

At [this loop](https://github.com/klauspost/cpuid/blob/v2.0.9/cpuid.go#L764), this loop never ends, creating the illusion that CPUID never ends (for somereason whenever I CTRL-Cd it always stopped around CPUID, probably due to those instructions being most intensive).

On my AMD Ryzen 1600AF (aka basically 26

[2022-04-05 11:04] marmarek commented on #7392
Can you say what specifically values are returned there?

[2022-04-05 11:43] fosslinux commented on #7392
[code]

[2022-04-05 12:37] ZYousef opened #7423 "Bad disk format"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary
Qubes Installer unable to reclaim storage on new installation if you uncheck disk encryption

### Steps to reproduce
Uncheck Disk passphrase encryption on Qubes installation, then in new installation reclaim storage space and continue to other configs

### Expected behavior

I

[2022-04-05 12:46] ZYousef opened #7424 "Display artifacts in sys-gui"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
sys-gui environment shows extreme (especially on desktop) cluttering on some machines.
Cluttering fades out significantly when using other machines inside the sys-gui environment

https://user-images.githubusercontent.com/62772396/161761596-475ec913-7f7f-4a9d-ad92-c3dbc52d6cfd.mp

[2022-04-05 16:34] SvenSemmler commented on #2204
Agree.

[2022-04-05 18:02] DemiMarie commented on #7423
Not too surprised.  No disk encryption is not a configuration any of the developers use, so it gets very little testing.

[2022-04-05 20:05] DemiMarie commented on #7424
Does the problem go away if you use sys-gui-gpu?

[2022-04-05 20:06] #2204 closed

[2022-04-05 21:27] fosslinux commented on #7392
Ah, makes sense, but how come this worked in the past then?

[2022-04-05 22:20] turmoil995 commented on #7380
After installing kernel-latest it seem to be solved however it isn't.
- From time to time cursor is not being cleared properly. Such artifacts remains and are being cleared randomly.
- I am not able to change primary built-in screen resolution. If I change it screen will be automatically switched off. However the list is full of possible resolution to choose from.
- I can confirm that there is no

[2022-04-06 00:20] SaswatPadhi commented on #7359
A small note: this also results in the journal occupying a lot of space. Shouldn't be a concern for AppVMs, but I just recovered several GBs in my dom0 by vacuuming the journal

[2022-04-06 00:42] qubesanon opened #7425 "processes created from UI/qvm-run do not inherit PATH environment variable from login shell"
### Qubes OS release
4.1. This is a recent regression. I believe the behavior changed in the last week or two.

### Brief summary
Qubes does create a login shell upon VM start and for the most part applications inherit from that environment. However, the `PATH` environment variable gets overridden at some point.

Other GNU/Linux OSes handle this differently. For example, Ubuntu correctly inherits

[2022-04-06 01:08] marmarek commented on #7425
Generally, login shell settings do not necessary need to propagate into GUI applications. In fact, login shell may be not involved in GUI application start at all. The fact that on Qubes it does, is rather detail of the current implementation, which at some angle can be even considered a bug.

There are alternative mechanisms for setting env variables for all user applications, including `environm

[2022-04-06 02:54] gi0van commented on #7401
Try without the `/etc/profile.d/99-makeflags.sh` file and using `make qubes-vm`. There may be some implicit dependencies between targets.

[2022-04-06 04:05] andrewdavidwong commented on #7423
Should it even be an option? It wouldn't be unreasonable for a security-oriented OS to require FDE. The backup tool already requires encryption.

[2022-04-06 04:10] andrewdavidwong commented on #7420
Duplicate of #7380?

[2022-04-06 04:12] andrewdavidwong commented on #7425
Closing as "not an issue" (the reported behavior is not a bug, or the proposal is not suitable as an enhancement or task). If anyone believes this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2022-04-06 04:12] #7425 closed

[2022-04-06 04:20] DemiMarie commented on #7423
@ninavizz thoughts?

[2022-04-06 04:29] andrewdavidwong commented on #7423
You could keep the checkbox but grey it out. Hovering the cursor over it would say something like, "Qubes OS requires full-disk encryption to be enabled."

This would communicate several things to the user:

- FDE will be applied.
- It's not optional.
- It (probably) can't be configured beyond whatever options are presented to you in the installer or advanced documentation.
- This was all intentio

[2022-04-06 06:40] DemiMarie commented on #7423
I like this approach, but there is actually a (very niche) caveat: Some filesystems (ZFS, bcachefs) have built-in authenticated encryption support that has significant advantages over that provided by dm-crypt.  Since neither of these are supported by the Qubes OS installer, this does not matter in practice.

[2022-04-06 07:30] DemiMarie commented on #6819
Fixed in R4.1 I believe.

[2022-04-06 07:36] DemiMarie commented on #7379
I suspect the manager is trying to list dom0 packages and failing.

[2022-04-06 09:51] turmoil995 commented on #7380
I can also confirm cursor slowness/refresh problems in like 1/4 part of the upper screen area. Lower part of the screen doesn't seem to affected. I use laptop with built in screen for testing.

[2022-04-06 09:55] andyhhp commented on #7392
It will be a consequence of https://github.com/QubesOS/qubes-vmm-xen/blob/xen-4.14/patch-stable-0002-x86-cpuid-support-LFENCE-always-serialising-CPUID-bi.patch being backported for speculation reasons.  Before that patch, 0x8000001c was reported as the max extended leaf, so userspace wouldn't have gone looking at 0x8000001d.

[2022-04-06 10:54] andyhhp commented on #7392
Actually, there is also a bug in whatever piece of userspace is looping here.  The AMD manual states that the contents of 0x8000001d and 0x8000001e are only valid if the TOPOEXT feature (CPUID.80000001.edx[22]) is visible.  Xen hides this feature, so userspace shouldn't go looking.

[2022-04-06 11:29] qubesanon commented on #7425
That's great! I'm happy to see that support for that is implemented. That works for my use case, is sufficiently general, and a standard.

This works for me and I am ok with leaving this as "not an issue". Thanks manuel @rudd-o!

[2022-04-06 11:31] palainp opened #7426 "Error when attempting to install Mirage template with disk size smaller than the default"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

When trying to install in qubes 4.1 a TemplateVM created with qubes-builder-mirage (default `TEMPLATE_ROOT_SIZE ?= 50MiB` which suits well for unikernels) the root.img disk is smaller than default (10G) and installation fails with error "not enough data" and leads to an uninstal

[2022-04-06 11:39] marmarek commented on #6819
This may look like it cannot be dismissed, but I think actually they can - but you simply have a lot of them in the same spot and one click dismisses only one of them...

[2022-04-06 11:52] ZYousef commented on #7424
@DemiMarie I tried using sys-gui-gpu , however, after attaching the gpu to sys-gui-gpu `sudo qubesctl state.sls qvm.sys-gui-gpu-attach-gpu`; the PC just keeps restarting.
The PC uses Intel Xeon E3-1200 v3/4th integrated Graphics Controller

[2022-04-06 13:11] marmarek commented on #7423
I was just going to comment about test systems case.

There is also advanced partitioning - if user creates partition layout manually, you forcefully include encryption. If anything, you can check if it's included (which BTW is not a trivial task, depending on the layout) and refuse to continue if it isn't.

But the idea of a warning if one disables encryption for automatic partitioning is a good

[2022-04-06 13:32] andrewdavidwong commented on #7423
The same argument for testing can be made about the Qubes backup system, yet we no longer allow unencrypted backups. I wonder whether this is a principled distinction or just a random inconsistency.

It sounds like non-FDE configurations shouldn't be supported, even if they continue to be allowed for testing purposes.

[2022-04-06 13:57] wkadh5 commented on #7420
@crat0z I will try that and give feedback - thanks

@andrewdavidwong I read that issue and on my system I dont have those redrawing problems.

[2022-04-06 15:24] marmarek commented on #7423
Not really. Having no encryption on test system disk makes debugging various issues (not just storage-related) easier. And in some environments - faster. The some does not apply to backups (encrypting backups or not applies to backups only, which is rather isolated functionality).

Yes. But we are going into area where it is tricky _for the user_ to tell whether their current configuration is supp

[2022-04-06 17:06] rustybird commented on #7176
@palainp Neat! `import_data_with_size()` instead of the current `resize()` + `import_data()` would work even for storage drivers that don't support shrinking.

[qubesadmin.backup.restore](https://github.com/QubesOS/qubes-core-admin-client/blob/master/qubesadmin/backup/restore.py) has the relevant code, but there's lots of indirection so it might have to be refactored a bit.

[2022-04-06 17:31] miguelgilmartinez commented on #7294
Hi! I have an Asus K3500P with KDE Neon (Ubuntu 20.04) with kernel 5.15.0-25-generic and same issue. It's a kernel bug, sure. Tried with 5.13 and same bug too.

[2022-04-06 18:02] DemiMarie commented on #7392
Time to be mean and inject #GP into the buggy guest userspace?  (Only half-joking.)

[2022-04-06 18:15] Anondoe commented on #7261
Greetings Friends, I've been been reporting this same issue and trying to diagnose it as best I can myself until I just recently was pointed to this Qubes Issue by a friend on the forums here:
https://forum.qubes-os.org/t/networking-broken-in-4-1-default-templates/7092

The ARP command that has been mentioned in this issue does indeed also temporarily fix the VPN communications if used inside the

[2022-04-06 18:38] madscientist159 commented on #4318
@Rspigler Sorry to hear that.  If there's anything I can do to assist with the June 1 submission let me know...

Appreciate the offer on the prepayment, let's do that when I have a firm start date on my calendar.  Still looking at May timeframe but need to clear a couple of other projects first.  I'd prefer to receive BTC as it may weather inflation a bit better than USD, but if it doesn't the ris

[2022-04-06 19:28] andyhhp commented on #7392
@fosslinux Any chance I can have a name & email address for a Reported-by tag on the upstream fix?

[2022-04-06 21:19] fosslinux commented on #7392
I don't use my real name (at least at this time). So if `fosslinux <fosslinux@aussies.space>` is OK, please use that.

[2022-04-06 21:24] Rspigler commented on #4318
Sounds good, thanks!

[2022-04-06 22:18] AlxHnr commented on #7249
@brendanhoar

`sudo journalctl --vacuum-files=1` only freed ~300 MiB, allowing me to get down to ~83% usage. I guess the main problem here is that a 10 GiB default is nowadays not enough.

[2022-04-06 23:09] AlxHnr commented on #7404
I can confirm that this problem is clearly noticeable. My Fedora AppVM with up to 8 GB of memory and all cores assigned to it, runs much slower than a native Fedora install on bare metal. Compiling code takes roughly twice a long. I first blamed the [lack of hyperthreading](https://github.com/QubesOS/qubes-issues/issues/5547), but passing `smt=on sched-gran=core` to xen makes no difference in my b

[2022-04-06 23:12] DemiMarie commented on #7404
This is definitely a problem and we’re working on it.  It won’t ever be as fast as on bare hardware, but our goal is to go from `qvm-run` command to the VM spawning init in under 100ms.

[2022-04-07 03:29] crat0z commented on #7404
I can't exactly reproduce this. More information on the workload is needed I think. In my test, I used Linpack Xtreme. On Qubes, I have SMT enabled, 12 vCPUs in my case and 12GB of RAM assigned to the VM (although linpack only uses about 2GB). Everything else default for Xen and kernel-latest. Benchmark VM is the only VM running while testing. CPU frequency started at about 3.5GHz and went down to

[2022-04-07 04:50] alzer89 commented on #7390
Tried building the latest mainline kernel 5.18.0-rc1 for Qubes.

**Result:**  Still froze, but it started working for 3 seconds (I could see the blue ver5tical timer bar in ```xscreensaver``` go down and the text cursor blink in the password box, and I could type), before amdgpu's ```ring gfx``` timed out, and then it locked up.

**Log:**
[5.18.0-rc1.log](https://github.com/QubesOS/qubes-issues/fi

[2022-04-07 06:00] andrewdavidwong commented on #7423
The argument that can be made for both is something like, "You should allow not using encryption when that makes testing easier." Allowing unencrypted backups would make testing the backup system easier, so the same principle can be applied to both, even though allowing unencrypted system drives is more useful in more cases. There may be a difference in the degree or magnitude of the benefit, but

[2022-04-07 06:31] ahmedalsudani opened #7427 "Recursive qvm-shutdown"
Note: I'd be more than happy to make this change. Just checking that the proposed solution is ok with the team before I submit a PR.

### The problem you're addressing (if any)

It's painful to shutdown a network qube and its connected VMs.

The user currently needs to run `qvm-shutdown --wait sys-net sys-firewall <all downstream VMs>`

### The solution you'd like

Running `qvm-shutdown --recursiv

[2022-04-07 07:48] GWeck commented on #7423
Such a system health tool would be good in any case as a means to check the system integrity, at least to some extent. Maybe the installation method used was faulty or some later modification - of the user or of a possible attacker - violated the system integrity. Such a check could help the user to ensure that no such violation occurred or help the user to pinpoint and possible correct it.

[2022-04-07 07:51] GWeck commented on #7427
Shutting down sys-net via the Qube Manager already does this recursively. Maybe this functionality is only missing from the CLI and thus could be fixed without too much effort.

[2022-04-07 07:56] ahmedalsudani commented on #7427
Thanks--it's been a long time since I last used the Qube Manager so I was not aware.

This issue is referring to the qvm-shutdown cli.

[2022-04-07 08:21] olivierlambert commented on #4318
I already answered on my contribution :) (doing project mgmt via Marc, but also acting as a liaison between Qubes, Xen Project and OpenPOWER). I also gave latest progress on the Matrix channel.

[2022-04-07 14:07] Rudd-O commented on #4318
@madscientist159 recommitting!

Where is a Matrix chat I can join so we can chat without me having to keep Github open all day?

[2022-04-07 14:09] olivierlambert commented on #4318
Just here: https://github.com/QubesOS/qubes-issues/issues/4318#issuecomment-1077116970

[2022-04-07 14:26] unman commented on #7401
On Mon, Apr 04, 2022 at 05:35:40AM -0700, JamesClarke7283 wrote:

That guide is *not* official. It is in the External documentation
section, marked as "unoffial, third-party documentation"

[2022-04-07 14:47] JamesClarke7283 commented on #7401
Ah it now works, it builds and i have installed it.
Thanks.

I also got that `xenstore-read: xs_open: permission denied` error, so i did the command to fix that:
[](https://github.com/Qubes-Community/Contents/blob/master/docs/building/building-archlinux-template.md#xenstore-read-xs_open-permission-denied)

[2022-04-07 14:50] JamesClarke7283 commented on #7401
Do you have this file: /etc/profile.d/99-makeflags.sh

If you don't thats probably why it works.