[2022-07-14 15:13] mfc commented on #6425
i have added to R4.1 updates since no one else has :P

[2022-07-14 15:36] ayakael commented on #7323
initrd starts `qubes-session` under `user`, but it stalls. `htop` shows `xfsettingsd --replace` subprocess under `qubes-session`. XFCE4 is installed. Log:

[code]

[2022-07-14 15:42] marmarek commented on #7323
It should remain running, with various children processes (mostly dependent on /etc/xdg/autostart content). The question is whether `qrexec-fork-server` is started as one of them.

[2022-07-14 18:02] ayakael commented on #7323
Fixed it, it was a permission issue in `/var/run/qubes` (group owner `root`, not `qubes`) making the start of `qrexec-fork-server` fail

[2022-07-14 22:18] #7098 closed

[2022-07-14 23:14] andrewdavidwong commented on #7617
Thanks for doing this! However, I'm not quite sure I understand the purpose of this issue. Do you wish to see some change occur in the official Qubes documentation?

[2022-07-14 23:18] andrewdavidwong commented on #6425
But it was supposedly already added in 4.1, so why does this new milestone make more sense than the old one?

[2022-07-14 23:21] mfc commented on #6425
i haven't heard of anyone encountering it as implemented, so i want to make sure it gets implemented as an update, such as in R4.1.1. please adjust if you think there is better way to manage it.

[2022-07-15 05:40] andrewdavidwong commented on #6425
New features get added in major and minor releases, not patch releases, so "4.1 updates" likely wouldn't be an appropriate milestone for introducing this. Since no one seems to know what's going on with this feature, I'll set it to TBD.

[2022-07-15 07:45] GWeck commented on #7617
No, I don't think that any change in the existing docs is necessary, as they are already exceedingly good. I just brought up this issue for two purposes: to get some feedback on the new text and to make it (better) known that such a half-official recommendation on using Qubes somewhat more securely does exist at all.

[2022-07-15 12:00] 51lieal commented on #7617
You mention Client Applications of the IT-Grundschutz compendium in the doc, where can i read this ?

In the [QubesDevelopment] reference, you may want to use qubes-devel google group instead of qubes-issue link, or you can use this https://dev.qubes-os.org/en/latest/ as dev doc.

btw, this is great, quick explanation for everyone who want to learn qubes.

[2022-07-15 15:13] unman commented on #6425
On Fri, Jul 15, 2022 at 05:31:29AM -0700, Michael Carbone wrote:

All the code is there.
It's simply that no one has built an updated package yet. (Except me for
testing!)
Once that is done, the updated package will be available for testing,
and download, and the issue can be closed.
(The update to XScreenSaver 6 can be left until the issues with Qubes
have been worked out.)

[2022-07-15 15:39] brendanhoar commented on #6425
From a new user perspective (which is what this is primarily about) it would be appropriate for this to target the final 4.1.1 iso before release.

B

[2022-07-15 17:30] brendanhoar commented on #7404
One could argue that sysbench is defective in that it isn't *discarding* the time spent *in system calls which may transition to kernel mode* (used to get high-granular time values in some configurations) when reporting the total time spend doing the cpu work. It's measuring time spent on cpu test *plus something else* and assuming the latter is insignificant (when the opposite is true in some con

[2022-07-15 17:56] SvenSemmler opened #7618 "System freeze immediately after dom0 update to Xen 2001:4.14.5-5"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1 (stable, no testing) ... updated every 1-2 days.

### Brief summary

My system froze immediately after dom0 update today.

Packages updates: python3-xen, xen, xen-hypervisor, xen-libs, xen-licenses, xen-runtime. From 2001:4.14.5-4.fc32 to 2001:4.14.5-5.fc32

Screenshot attached. While there are

[2022-07-15 21:33] drewwiens commented on #7409
This is probably related to #7238 because Electron is Chromium based

[2022-07-15 22:09] AlxHnr commented on #7404
If you are talking about to those timing-related issues, I don't know. But other workloads, like watching YouTube videos in Firefox, are definitively impacted. (Compared to watching videos on native Fedora + Firefox on the same hardware).

[2022-07-15 23:00] andrewdavidwong commented on #6425
<details><summary>Expand</summary>

That's fine, but it's more of a philosophical distinction, by which I mean we're getting into "philosophy of software" questions like: If a feature hasn't been implemented yet, can there be a bug in that feature? Or can bugs only exist in features that have been implemented? But what exactly does it mean for a feature to be "implemented"? (If it's not in the bui

[2022-07-15 23:01] brendanhoar commented on #7404
That's true, but primarily due to: a) the lack of GPU acceleration available to the domU browser and b) the copy of window image buffer from domU to dom0 for each frame...not Xen-specific issues.

B

[2022-07-15 23:10] andrewdavidwong commented on #7618
This certainly shouldn't happen with only stable (no testing) updates.

Looks like there was a typo in the version number in the title (major number was "15" instead of "14"), so I've fixed that.

I wanted to check to see if this update was the one associated with [QSB-083](https://www.qubes-os.org/news/2022/07/13/qsb-083/), but I see that QSB-083's Xen packages are version "4.14.5-**6**", whereas

[2022-07-15 23:14] andrewdavidwong commented on #7617
I understand. While I don't wish to sound ungrateful or discouraging, I think these purposes might be better served on the forum and mailing lists rather than the issue tracker. Getting feedback is certainly useful, but since it is not part of the project's documentation or code, this isn't exactly an appropriate venue to do that. Spreading the word about this is also useful, but we don't use the

[2022-07-16 00:21] #7617 closed

[2022-07-16 03:14] DemiMarie commented on #7409
@drewwiens @logoerthiner1 I am almost certain it is a duplicate.

[2022-07-16 03:54] andrewdavidwong commented on #7409
Closing as a duplicate of #7238, then.

------

To all:

This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take a

[2022-07-16 03:54] #7409 closed

[2022-07-16 04:02] SvenSemmler commented on #7618
Thanks for fixing the typo @adw. No, after this update I have no other updates pending in dom0 and as I wrote everything works fine after rebooting. The QSB related update would be in testing now, that's why I don't see it on stable.

Anyway, if no one else sees the same thing I think we can blame my hardware or specific configuration and move on. Some recent forum posts talk about freezing when u

[2022-07-16 05:57] tlaurion commented on #6200
@marmarek even though documentation was improved for sys-net and sys-usb and memory increase is suggested, I think the best approach is to increase the defaults.

Users and reports on forums have people increase their sys-usb to use 1024mb which is way too much for nothing when a webcam is used.

As @andrewdavidwong recommended, inthinknwhen a webcam is detected, and at install, the default fornsy

[2022-07-16 06:49] PetrVladimirov commented on #7404
Firefox and related workloads with graphics like YouTube, maps and many others are obvious candidates for day-to-day - actions like scrolling, dragging & scaling are slow if there are some graphics involved (and it is now almost everywhere)... As GPU is not available I thought more CPU power would help to mitigate this negative effect - but even having 4 cores dedicated to a VM with no other VM ru

[2022-07-16 08:40] storopoli commented on #6426
Any news on merging `elliotkillick/qubes-video-companion` onto core Qubes?

[2022-07-16 10:00] DemiMarie commented on #7618
@SvenSemmler Do you have this problem with the testing updates?

[2022-07-16 10:03] DemiMarie commented on #6426
It’s being worked on.

[2022-07-16 10:15] jevank commented on #7618
I have similar hang once while testing xen-4.14.5-5 on qvm-template downloading. My thoughts ware about memory problems with hardware.

[2022-07-16 10:18] storopoli commented on #6426
Thanks I am planning to install Qubes on my laptop soon and I want to benefit from the easy install of `qubes-video-companion` on core Qubes instead of elliot's github.

[2022-07-16 10:22] brendanhoar commented on #7618
I'm a bit confused.

Based on the ticket title @SvenSemmler said freeze was immediately after dom0 Xen update, but when dom0's Xen component is updated, it isn't used until the next reboot.

So the freeze could not be caused by Xen, correct?

B

[2022-07-16 10:29] ayakael commented on #7323
Memory ballooning doesn't work, any pointers that I could follow?

 Note that no initcpio hooks have been adapted to Alpine. I suspect it may have something to do with that. Also note, AppVM does announce succesful start, so connection to `qmemman` should be restarted.

[2022-07-16 10:37] GWeck commented on #7617
@andrewdavidwong I put it now into the forum and hope for feedback - for the first version of the module, I got valuable input from @SvenSemmler and @brendanhoar. I hope I can improve this version accoringly!

Thank you for your understanding!

[2022-07-16 11:40] unman commented on #6200
sys-net already has a default of 400.

As to sys-usb, remember that we only see reports from users who have
problems - some of these may be due to memory. We dont see positive
reports from users for whom the existing defaults work fine.
In my experience, (based on support calls), the existing default for
sys-usb doesnt generate major issues for most users.

[2022-07-16 12:05] AlxHnr commented on #7404
My old integrated graphics card doesn't support modern codecs. Watching videos saturates all my _CPU_ cores, even on native Fedora. The difference is that native Fedora can handle full 60 fps at 1080 without boiling my computer.

I'm not sure if this is Xen-specific or not, but it fits right into all the other slowdowns I'm seeing on Qubes vs native Fedora.

[2022-07-16 12:36] marmarek commented on #7323
That's about `qubes-meminfo-writer` service.

[2022-07-16 19:52] SvenSemmler commented on #7618
I saw this once on an otherwise extremely stable machine (no issues at all since R4.1). My T430 is equivalent to a certified machine (NitroPad T430). I never use testing on it, only stable.

I have a second identical machine, that wasn't used / updated for ~ 1 month. Before I try to reproduce it on that machine, are there any specific things you would like me to do / prepare? On that machine I can

[2022-07-17 07:32] SaswatPadhi commented on #5501
`python-fido2` is stable now. The 1.0.0 version was released recently:

https://github.com/Yubico/python-fido2/releases/tag/1.0.0

[2022-07-17 13:28] DemiMarie commented on #5501
Now that `python-fido2` is stable, it is definitely time to implement this.

[2022-07-17 13:50] DemiMarie commented on #5509
Is this still an issue?

[2022-07-17 13:52] DemiMarie opened #7619 "Qubes Manager should refresh disk usage automatically"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Qubes Manager does not refresh some statistics (such as disk usage) automatically.  Refreshing them requires closing and relaunching it.

### The solution you'd like

Qubes Manager should automatically refresh these statistics.

### The value to a user, and who that user might b

[2022-07-17 19:41] ayakael commented on #7323
Indeed, `/sbin/meminfo-writer` is started on boot, but it doesn't do anything when memory is maxed out via `tail /dev/zero`, A workaround I've found is executing `kill -SIGUSR1 $(cat /run/qubes/qubes-meminfo-writer.pid)` as a `start_post()` command in the OpenRC init script, but that immediately allocates the maximum amount of memory, defeating the point of memory ballooning

[2022-07-17 20:40] ayakael commented on #7323
After converting to template, `qvm-run appvm-alpine-315 urxvt` doesn't work in AppVM. `qrexec-fork-server` gives following error:
[code]
dom0 error after `qvm-run`:
[code]
I can execute `urxvt` without issue via `sudo -u user urxvt` through `xl console appvm-alpine-315`.

[2022-07-18 14:47] ayakael commented on #7323
Yep, moving the pid file pack to the expected location worked. Thank you!

[2022-07-18 16:50] patranger commented on #7433
@DemiMarie I tried to change from AHCI to RAID but it doesn't work. I have the option to set the disk controller to AHCI and RAID only.
The same bug occurs in version R4.1.1
I was able to establish that the problem was with udev and its initialization via Dracut.
This is a bigger problem because it has also been reported on the Fedora website. So it is related to Fedora herself. It is worth keepin

[2022-07-18 22:43] dylangerdaly opened #7620 "Issues with Lenovo Yoga Slim 7 ProX (AMD Ryzen 6800HS)"
### Qubes OS release
R4.1 (ISO built with kernel-latest - 5.18.9-1) - https://builds.sr.ht/~dylanger/job/804051

### Brief summary
Following on from https://github.com/QubesOS/qubes-issues/issues/7570, in order to install and boot, I'm required to add `dom0_max_vcpus=1 dom0_vcpus_pin` to dom0's CMDLINE, this is [similar](https://github.com/QubesOS/qubes-issues/issues/6055#issuecomment-692946662) t

[2022-07-18 23:18] SvenSemmler commented on #7618
Update: had another freeze today, this time when updating a template. So this might not be related to a dom0 update as pointed out by @brendanhoar.

@andrewdavidwong from my point of view I'd prefer closing this issue for now as the description / observation is off the mark and potentially confusing. My system management qube is based on debian-11-minimal as are (most) of my other templates. I am

[2022-07-19 01:03] andrewdavidwong commented on #7618
That sounds fine. Closing this one.

[2022-07-19 01:03] #7618 closed

[2022-07-19 01:58] #7544 closed

[2022-07-19 07:04] Edan-Redmind commented on #6585
@andrewdavidwong I see that your explanation regarding this issue and how to handle it is still on the "How to update" page (https://www.qubes-os.org/doc/how-to-update/). If the issue is solved then maybe it is best to remove it in order to avoid confusing users who don't know it is resolved.

[2022-07-19 07:54] fepitre opened #7621 "qubes-core-admin-addon-bridge-device: port RPC to new format"
Similar to https://github.com/QubesOS/qubes-core-admin-addon-whonix/commit/71ffd299e546b084ef5078fddc965041ec2a2c5d, it is needed to port RPC for core-admin-addon-bridge-device to new format.

[2022-07-19 07:54] adrelanos commented on #6585
For consideration:

* Let some time pass to allow users who didn't receive the update yet to update.
* There are still many other Qubes updater related issues: https://github.com/QubesOS/qubes-issues/projects/8 - would these speak against reverting Qubes documentation?

[2022-07-19 08:11] andrewdavidwong commented on #6585
Thank you for the reminder! However, I'm not sure if the fix has migrated to the stable repos yet. If it has not, then stable users will still need the workaround instructions until they receive the update. Usually our bot posts automated comments here when the relevant packages migrate to different repos, but I don't see any such comments here (yet).

[2022-07-19 09:50] Edan-Redmind commented on #6585
@andrewdavidwong

Thanks, I didn't know that :+1:

[2022-07-19 10:14] andrewdavidwong commented on #6585
Sometimes the bot breaks, though. It looks like the relevant commit was from a month ago, so maybe that happened here. @marmarek?

[2022-07-19 14:21] nestire opened #7622 "sys-usb option enabled in installer even if sys-usb will not be created"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1.1

### Brief summary
The installer disables the sys-usb option if you using a usb keyboard but not the sub options. if you enable these you can't create sys-usb after that as described in the Documentation see also https://forum.qubes-os.org/t/error-creating-sys-usb/7281
seems to be related to htt

[2022-07-19 17:15] ddevz opened #7623 "Per-disposable configuration"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
When using disposables (for example sys-net), it's not possible to configure things that are unique to the disposable (as opposed to configuration settings that are applied to all disposables made from that single template).  Example: setting a static ip address in sys-net

### T

[2022-07-19 17:40] airelemental opened #7624 "VM with USB controller unable to start with more than 2200MB memory"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

debian-11: bullseye-testing enabled in qubes-r4.list
dom0: 4.1 "testing-updates"
xen-hvm-stubdom-linux-1.2.4-1

### Brief summary

Above about 2200MB, an HVM with assigned USB controller is unable to start.

### Steps to reproduce

1. Create HVM with memory = 3072, memory balancing off, template = de

[2022-07-19 20:32] tlaurion commented on #6200
@unman sorry, I meant 450mb as per https://forum.qubes-os.org/t/librem-14-camera-sporadically-disconnecting-from-vms/12582/4?u=insurgo

Scroll up and see users having the same issue. I guess it depends of modules loaded in memory at this point, otherwise users having the same templates.

Hypothesis there was that memory requirements for default templates are forever increasing for default enforced

[2022-07-19 20:34] #7623 closed

[2022-07-19 21:41] marmarek commented on #7623
Yes, exactly.

[2022-07-20 00:17] unman opened #7625 "Debian minimal templates include qubes-core-agent-networking"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
As title.

### Steps to reproduce
Examine installed packages in debian-11-minimal

### Expected behavior
qubes-core-agent-networking will not be installed.
(It is not installed in Fedora minimal templates.)

### Actual behavior
qubes-core-agent-networking is installed.

It is pu

[2022-07-20 00:29] unman commented on #7624
I usually run sys-usb with 300M.
I have noticed that I can no longer start it at 4000.

Interestingly, there is a lower limit, but I can breach that limit by stepping upwards.
i.e. Increase memory to 3000, cannot start.
Assign 2000, starts.
Assign 2400, starts.
Assign 2800, starts.
Assign 3200, starts.
Assign 3600, starts.

The error message when start fails is the same as I reported in #6824:
"Th

[2022-07-20 02:23] #7539 closed

[2022-07-20 05:13] DemiMarie commented on #7624
This is strange.

[2022-07-20 05:20] DemiMarie commented on #7625
That is strange.  I wonder if the `Recommends: qubes-vm-recommended` line is the problem.

[2022-07-20 05:48] DemiMarie commented on #7621
I believe `qubes-core-admin-addon-bridge-device` is a contrib package.

No idea.

[2022-07-20 06:24] patranger opened #7626 "Snapshots for HVM in GUI"
### The solution you'd like
It would be very helpful and useful as you could quickly and easily make a snapschot of the current HVM state for a return later as it is in Virtualbox. I know that when shutting down the VM, such a dump is made, but this is different.

[2022-07-20 07:24] andrewdavidwong commented on #7246
I just ran into this too. I agree that the "refresh applications" button is not a proper solution in the restoring-from-backup scenario. Each time that button is pressed, it requires starting both that qube and its template, grabbing the app list, then shutting them down. This takes maybe a couple of minutes, depending on hardware. This means that a user who is restoring, say, 50 qubes from a back

[2022-07-20 07:25] andrewdavidwong commented on #7246
Also, I'm pretty sure this behavior is a regression from previous Qubes releases, because I don't remember ever having all empty application lists after restoring from a backup before.

[2022-07-20 07:40] andrewdavidwong commented on #7389
Which Qubes GUI components are affected? Currently (in 4.1.1), it seems to me that only the Qube Manager is not adopting the selected system theme. (I do not have the new app menu yet.)

Does your solution fix the Qube Manager?

Are you seeing other GUI tools that are affected?

[2022-07-20 07:55] andrewdavidwong opened #7627 "Gray qube icons in Qube Manager are black instead of gray"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

In the Qube Manager, qubes with the gray/grey label should have gray qube icons. Instead, they have black qube icons.

However, the icon colors in the app menu (default/old, not the new/testing one) are correct.

(Historical note: This is reminiscent of #3471 but now w

[2022-07-20 07:57] andrewdavidwong commented on #2211
It would be helpful to have tooltips in the Qube Manager when hovering over the various different qube icons to explain what they mean.

[2022-07-20 08:05] andrewdavidwong commented on #7246
Ok, apparently it's not all of them, but I can't figure out why some qubes have populated lists while others don't. Seems random so far.

[2022-07-20 08:22] andrewdavidwong opened #7628 "`repo_gpgcheck=1` is missing from dom0 repo definitions"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

In https://github.com/QubesOS/qubes-issues/issues/6275#issuecomment-833810448, @marmarek wrote of setting `repo_gpgcheck=1`:

However, in my fresh 4.1.1 installation, I'm not seeing it.

[2022-07-20 08:33] andrewdavidwong commented on #7624
I ran into a similar issue recently, where trying to `dd` data onto a USB drive would crash sys-usb at 4-8 GB of memory but not at 2 GB.

[2022-07-20 09:54] andrewdavidwong commented on #2706
Would still love to have this (and the file manager one) in Qubes!

[2022-07-20 10:14] #7625 closed

[2022-07-20 10:20] unman commented on #7625
PEBKAC

[2022-07-20 11:16] andrewdavidwong opened #7629 "Aborting a qvm-template download does not exit gracefully"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

Aborting a `qvm-template` download via `Ctrl+C` results in a traceback rather than catching the keyboard interrupt and exiting gracefully.

### Steps to reproduce

1. `qvm-template install <some-template>`
2. Wait for download to start.
3. Change your mind.
4. `Ctrl+C`

[2022-07-20 11:26] dylangerdaly commented on #7620
I've submitted a PR to fix the keyboard on Ryzen 6000 platforms here -> https://github.com/QubesOS/qubes-linux-kernel/pull/614

You can download the rpm here: https://builds.sr.ht/~dylanger/job/805565 but you shouldn't trust it.

[2022-07-20 14:58] andrewdavidwong opened #7630 "Initial update of debian-11-minimal reported as failure with no explanation"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1
Debian 11 minimal template

### Brief summary

Updating debian-11-minimal for the first time in the Qubes Update tool returns a red X and "returned non-zero exit status 20" and 1 out of 2 failed states, but many packages appear to have updated successfully, and there is no explanation of

[2022-07-20 15:00] DemiMarie commented on #7630
I have the same problem with Fedora updates involving the kernel.

[2022-07-20 15:01] andrewdavidwong commented on #7630
Probably not Debian-specific, then.

[2022-07-20 15:12] DemiMarie commented on #6929
I suspect the files were updated after InRelease was, not before.

[2022-07-20 15:14] DemiMarie commented on #7246
One difference is that dom0 home directories are no longer restored by default.  @marmarek: could this be the problem?  Could the desktop files be stored in a safe-to-restore format in the backup?

[2022-07-20 16:50] SvenSemmler commented on #7246
On 7/20/22 10:14, Demi Marie Obenour wrote:

They are in ~/.local/share/applications and one can simply copy them back along with ~./config from the restore folder. Best when XFXE is not running.

Don't know about "safe". If one has doubts about that I suppose the GUI method of recreating them is still faster then manually reviewing them all.

[2022-07-20 18:24] marmarek commented on #7246
The format and file naming changed a bit compared to R4.0. All the code should handle conversion in place (for in-place upgrade), but re-generating them from scratch is a cleaner approach.
You can regenerate all by calling `qvm-appmenus --all --update`.

That said, indeed restoring a backup should do that automatically.

[2022-07-21 02:21] DemiMarie opened #7631 "GUI qube leaks granted pages"
This was reported by @m-v-b in https://github.com/QubesOS/qubes-gui-daemon/pull/106#issuecomment-1188709276

@andyhhp submitted the following response (https://github.com/QubesOS/qubes-gui-daemon/pull/106#issuecomment-1189526474):

This patch to Xen does not fix the bug, but it should cause dom0 to oops instead of forcibly being destroyed by Xen.  The oops backtrace will help figure out the cause

[2022-07-21 02:57] andrewdavidwong opened #7632 "Qube Manager: Sorting by state no longer groups dom0 with running qubes; sorting is inverted"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

In 4.0, sorting by the "state" column would group dom0 together with all running qubes. Now, in 4.1.1, sorting by state groups all running qubes on one end and dom0 on the opposite end (e.g., all running qubes at the top and dom0 at the bottom of the list).

(Note: Whe

[2022-07-21 03:02] andrewdavidwong opened #7633 "Qube Manager: Sorting by the "backup" column doesn't actually sort by backup-enabled status"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

In the Qube Manager, clicking on the "backup" column (the one with the check boxes) seems like it's trying to sort the rows by that column, but the rows are not actually sorted by backup status.

### Steps to reproduce

Click on the "backup" column heading.

### Expect

[2022-07-21 03:05] andrewdavidwong commented on #7632
Oh, I see what's happening: The sorting is inverted! In order to get all running qubes to the top of the list, I have click the "State" column heading twice. The first time I click it, it puts only dom0 at top and all running qubes at the bottom of the list. The second time I click it, it inverts the list, so dom0 is at the bottom while all running qubes are at the top. But here's the telltale sig

[2022-07-21 03:12] andrewdavidwong commented on #7389
I see, thanks. Since this is technically a regression from 4.0, I think it might be more accurate to classify this as a bug.

[2022-07-21 03:20] andrewdavidwong commented on #7229
The reason it's important to suppress harmless warning messages is because not everyone can be an expert in everything. Prudent people will heed the warning messages presented to them. If they lack the expertise to know that some of the messages are harmless and merely cosmetic, then they don't know how cautious they should be. They'll have to decide, with incomplete information, whether it's wort

[2022-07-21 03:29] andrewdavidwong commented on #7389
Unfortunately, this did not work for me. Various Qubes tools that were not obeying the system theme (including the Qube Manager) are unchanged.

[2022-07-21 04:22] SvenSemmler commented on #7389
Did you restart?

[2022-07-21 05:06] SvenSemmler commented on #7389
On 7/20/22 23:49, Andrew David Wong wrote:

Did you export in /etc/environment? Can you check ...

[code]

I've done it like this on three different machines. All with R4.1. All work as expected.

May I ask which theme you are using in dom0 XFCE? ... I would like to check what happens if I try it. Maybe there is an issue with that particular theme. There is an issue with some of the Arc themes, I

[2022-07-21 06:34] andrewdavidwong commented on #7389
That was the problem. Thanks!

I had just exported from my home directory. I didn't realize it had to be in `/etc/environment`.

FWIW, I wasn't familiar with that file, so I tried searching online for how to "export in /etc/environment," and the most helpful thing I found just said to edit it like any other text file, so I just used Vim to type it in manually. I have a feeling that this probably i

[2022-07-21 07:23] andrewdavidwong commented on #4889
Same problem is still happening with a fresh debian-11-minimal template from the repo on a fresh Qubes 4.1.1 installation.

[2022-07-21 07:25] andrewdavidwong commented on #4889
Reverted title change based on https://github.com/QubesOS/qubes-core-agent-linux/pull/322#issuecomment-903579127.

[2022-07-21 09:11] blockisec opened #7634 "Sound output issues after update"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes release 4.1.1 (R4.1)

### Brief summary

After the latest update of dom0 audio is either not working at all, or the output is distorted.

### Steps to reproduce
Just watch a video online or do a call using jitsi or teams.

### Expected behavior
Have clean sound as before.

### Actual behavior
I

[2022-07-21 09:36] m-v-b commented on #7631
Hi @DemiMarie, of course, I can try that. (Please note that my responses could be a bit delayed.)

[2022-07-21 12:09] dominoomni opened #7635 "Qubes Update tool: Support controlling the "Details" pane using the keyboard"
### The problem you're addressing (if any)

In Qubes OS versions 4.0 and 4.1 Dom0 Qubes Updater have window element ( text label ) called "Details" that can not be pressed from keyboard

### The solution you'd like

One possible solution can be conversion window element "Details" from text label to checkbox

### The value to a user, and who that user might be

There will be more consistency when c

[2022-07-21 12:14] dominoomni commented on #7635
Files that can be modified to achieve desired behaviour

```/usr/lib/python3.5/site-packages/qui/updater.py```
```/usr/lib/python3.5/site-packages/qui/updater.glade```

[2022-07-21 12:16] iacore opened #7636 "Support for drawing tablet with stylus"
### Qubes OS release
r4.1

### The Issue
Buttons on the tablet work in sys-usb, but not sent to dom0.
Buttons on the pen work (since it has the same XInput deviceid with Motion events)

Also, I got three more axis in dom0, and the coordinate system is different. Did not appear to affect tablet usage.

Logs in dom0:
[code]

### Details
Example events from `xinput test-xi2` in sys-usb:

device id
2

[2022-07-21 12:19] dominoomni commented on #7635
proposed changes

[code]

and

[code]

[2022-07-21 12:27] dominoomni commented on #7635
modified Qubes Updater screenshot

qubes_updater_checkbox_details_2022-07-21_18-20-58.png

![qubes_updater_checkbox_details_2022-07-21_18-20-58](https://user-images.githubusercontent.com/109735700/180213287-22cdd9bf-e822-4f24-86f3-82ad5b93a054.png)

[2022-07-21 12:39] locriacyber commented on #7159
unikernel is utterly impossible to debug/understand/inspect, including sel4. Genode OS is better, since it has official GUI environment. (personally, seL4's CAMKES build system is written in CMake and pain)

As for security, this is probably non-concern.

[A quick search](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=linux%20usb) shows that at best(worst?), a malicious actor can crash the linux

[2022-07-21 12:41] locriacyber commented on #7636
Wrong label. Is `T: enchancement`.

[2022-07-21 12:43] marmarek commented on #7636
There is `qubes.InputTablet` qrexec service, you can allow it in qrexec policy.

[2022-07-21 13:28] locriacyber commented on #7636
Sorry, I updated the issue description accordingly.

[2022-07-21 14:51] 3hhh opened #7637 "Reboot loop or freeze on sys-usb start with newer Xen & dom0 kernels"
### Qubes OS release

4.1

### Brief summary

With newer dom0 Linux kernels (all after 5.10.109-1 appear to be bad) and Xen 4.14.5 my Qubes OS runs into a reboot loop or freeze whenever `sys-usb` is started.

### Steps to reproduce

1. Boot Qubes OS 4.1.
2. Wait for `sys-usb` to autostart.

### Expected behavior

They boot.

### Actual behavior

The entire system reboots.

Unfortunately there are

[2022-07-21 14:58] 3hhh commented on #7372
Btw I think that this is fairly easy to implement with the current architecture and I guess I'll give it a shot once I have some time.
From my perspective it doesn't even require any changes of the existing code.

Any thoughts @DemiMarie @marmarek ?

[2022-07-21 16:13] 3hhh commented on #7372
After some more thinking I believe that some qubes-rpc aliasing policy syntax (translate a qrexec call to another transparently) would be useful for transparent integration later.
Otherwise an intransparent modular qrexec proxy can work standalone inside a VM and achieve pretty much everything I mentioned above.

[2022-07-21 16:27] brendanhoar commented on #7372
If it has to be separated from dom0, might it be a good candidate for a low-memory mirage unikernel-based solution?

B

[2022-07-21 17:12] locriacyber commented on #7624
Same issue with PCI passthrough + HVM.

3000MB - failed
2000MB - failed
1600MB - ok
1700MB - ok
1800MB - ok
1900MB - failed

There was actually another issue before, where if a HVM is given > 4096MB initial memory, it will start... then stop (Linux didn't appear to start in that VM.

[2022-07-21 17:57] DemiMarie commented on #7637
Can you try

[code]

in `/etc/sysctl.conf`?  If the problem is “merely” an oops (as opposed to a direct call to panic()) this provides a chance of getting some error output.

[2022-07-21 18:00] airelemental commented on #7624
For me, I can't step upwards beyond 2200MB (but haven't tried with increments smaller than 100MB)

No mention of "reset" in my logs.

I downgraded both packages only because it sounded like they go together. :P

[2022-07-21 18:01] DemiMarie commented on #7636
I wonder how Wayland handles this.  Wayland has a much better model than X11 does, especially when it comes to security.

[2022-07-21 18:02] DemiMarie commented on #7624
That is useful.  It means the regression is in the stubdomain, which runs very little code.  Basically a bare bones Linux, QEMU, and a small userspace.

[2022-07-21 18:04] DemiMarie commented on #4889
We need to figure out what locales the user needs, and generate them via `/etc/locale.gen`.

[2022-07-21 18:09] DemiMarie commented on #7159
This is wrong.  There have been memory corruption vulnerabilities in the USB stack that allow code execution.  To the best of my knowledge the vulnerabilities in the core USB stack have been fixed, though drivers are still often vulnerable.

[2022-07-21 18:33] DemiMarie commented on #7635
@dominoomni can you submit a PR?

[2022-07-21 19:03] SvenSemmler commented on #7389
On 7/21/22 01:34, Andrew David Wong wrote:

Pretty sure it is, unless you intent to start a discussion about your choice of text editor ;-)

[2022-07-21 19:05] 3hhh commented on #7637
Good idea, but unfortunately it rebooted with that setting as well.

[2022-07-21 19:10] tlaurion commented on #7009
@andrewdavidwong bounty label should be added here, since @Rudd-O offered 0.25 BTC bounty here.

[2022-07-21 19:13] tlaurion commented on #7009
Also, it seems (from personal non-exhaustive research) that ZFS might be the only candidate we currently have to have pool-wide volumes reduplication (having qubes back up its advice to clone templates to specialize usage) without having exponential cost of storage with deployed software + in-place upgrades of fedora fast paced (annoying) release cycles.

[2022-07-21 19:19] tlaurion commented on #7009
@Rudd-O you saw https://github.com/QubesOS/qubes-core-admin/pull/289 ?

[2022-07-21 20:23] brendanhoar commented on #7624
I think QEMU versions changed recently and several patches have been applied for Qubes as well, last I checked.

[2022-07-21 22:00] zachbarnes544 opened #7638 "I cannot figure out how to anonymous my Mac address"
The explanation on GitHub makes no sense to me and I cannot figure out how to enter those commands or file them or create a file and I am extremely lost. can someone please help me, i'm very new to the os

[2022-07-21 23:00] Rudd-O commented on #7009
I will happily honor my offer if the funds are used to finance the developer time to finish the half-written ZFS pool driver.

[2022-07-22 00:03] m-v-b commented on #7631
Hi @DemiMarie, @andyhhp and @marmarek,

I have good news, I think.

I tried out @andyhhp's suggestion, and I acquired the following backtrace from dom0's kernel (via pstore, slightly redacted and reformatted):

[code]

After some debugging, I came up with the following patch. It looks like when the grant references for some `map_ops` fail, then the corresponding `kmap_ops` are **not** skipped. Thi

[2022-07-22 01:46] andrewdavidwong opened #7639 "Make Qubes Template Manager workflow more intuitive"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

The Qubes Template Manager is a handy tool, but some aspects of the workflow are counterintuitive:

- Checking all rows that use the same template requires clicking three times: First click checks the clicked row. Second click checks all other rows using the same template **but

[2022-07-22 01:55] andrewdavidwong commented on #7638
Please note that the issue tracker (`qubes-issues`) is not intended to serve as a help desk or tech support center. Instead, we've set up other [venues where you can ask for help and support, ask questions, and have discussions](https://www.qubes-os.org/support/). (By contrast, the issue tracker is more of a technical tool intended to support our developers in their work.) Thank you for your under

[2022-07-22 01:55] #7638 closed

[2022-07-22 02:04] andrewdavidwong commented on #5187
I'm also seeing the "invalid response from proxy" lines in some of my update logs, but it seems to be an intermittent or temporary problem. Doesn't happen every time for me.

[2022-07-22 02:11] andrewdavidwong opened #7640 ""QubesIncoming" directory is automatically in Nautilus' favorites in every qube"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

Not sure if this is intentional, but I've noticed that the `QubesIncoming` directory is in my Nautilus favorites in every qube, even though I didn't add it. I find myself having to manually remove it from every qube. (And these are all existing qubes restored from a ba

[2022-07-22 02:15] andrewdavidwong commented on #6849
Just happened to me on a new Qubes 4.1.1 installation.

[2022-07-22 02:27] andrewdavidwong opened #7641 "Using qubesctl to update dom0 appears to output some literal code"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

I think attempting to update dom0 is outputting some literal code instead of running the code.

### Steps to reproduce

In dom0, run:

[code]

### Expected behavior

Normal output; no literal code.

### Actual behavior

This is in the output:

[code]

I'm guessing that

[2022-07-22 02:31] andrewdavidwong commented on #7641
On second look, these are the next lines of the output:

[code]

So I guess it's working correctly and this is just an extremely verbose "name" that should probably be something more user-facing.

[2022-07-22 02:59] DemiMarie commented on #7641
You guessed correctly @andrewdavidwong.  I will fix this.

[2022-07-22 04:04] DemiMarie commented on #7631
@m-v-b Both patches appear to be fine, though I have not tested them yet.  The check for `map` being NULL in `grant_entry_valid` is not necessary, as if it is NULL `unmap_grant_pages` would have oopsed earlier.  Still, they are likely worth sending upstream.

I do believe that a larger refactor is necessary.  Much of the code could be simplified by having `gnttab_map_refs()` (the only caller of `s

[2022-07-22 04:57] nasiralamreeki opened #7642 "Default XFCE"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Qubes OS is a resource intensive operating system due to running multiple VM's and by switching to a XFCE distro like Xubuntu could have drastic performance improvements for all users also fresher software.

### The solution you'd like

### The value to a user, and who that user

[2022-07-22 08:00] permezel commented on #6420
[code]

[2022-07-22 08:07] permezel commented on #6420
@DemiMarie  Gunna try turning off `rhgb` next time just fer grins.
I usually want to see the boot-time info, but I have finally been worn down to the point that I no longer take the additional steps to enable it again and again (ie: setting bootargs=-v in nvram over and over over the decades).

My NUC10 has been booting fine now for quite some time.  I'm going to close this with this elegant comme

[2022-07-22 08:07] #6420 closed

[2022-07-22 08:09] andyhhp commented on #7631
@m-v-b Very interesting backtrace.  (I'll see about organising that patch to go upstream into Xen.  It's clearly the right thing to do)

The thing Xen was complaining about specifically was that a grant which had been successfully established is having the mapping of the grant mutated by something other than the unmap grant hypercall.  This is not a permitted action; while Xen has enough context t

[2022-07-22 08:54] Minimalist73 commented on #7642
dom0 is already based on Fedora xfce by default. You can also install xfce templates if you need it.

[2022-07-22 09:25] adrelanos commented on #7539
Is comment by https://github.com/QubesOS/qubes-issues/issues/7539#issuecomment-1152380726 now obsoleted with this fix? Or should a new ticket created for it?

I guess, should there be a similar issue we'll have `still pending` messages in journal. Since `still pending` won't be hidden, the print summary in journal solution as described in https://github.com/QubesOS/qubes-issues/issues/7539#issueco

[2022-07-22 09:38] GWeck opened #7643 "qubes-gui-daemon 4.1.22 breaks seamless mode in Windows 7 qubes"
### Qubes OS release

R4.1.1

### Brief summary

If dom0 is updated from the current-testing repository, `qubes-gui-daemon` is upgraded from version 4.1.21 to version 4.1.22. After this, any window of a Windows 7 VM running in seamless mode is empty.

### Steps to reproduce

Update dom0 from the current-testing repository and observe that the version of `qubes-gui-daemon` has changed. Then start s

[2022-07-22 09:48] DemiMarie commented on #7631
@andyhhp: Is there a way that syzkaller could start fuzzing both gntdev and the hypercall interface?  That might catch bugs like this.

[2022-07-22 09:54] marmarek commented on #7643
Can you enable debugging for this VM ("debug" property) and share `/var/log/qubes/guid.<vmname>.log`?

[2022-07-22 09:58] marmarek commented on #7539
Not worth doing.

[2022-07-22 10:55] GWeck opened #7644 "Unencrypted btrfs installation shows no volume groups"
### Qubes OS release

R4.1+

### Brief summary

Installing Qubes R4.1 and R4.1.1 with manual partitioning, using btrfs without encryption creates a system that works but seems to have no valid LVM structure.

### Steps to reproduce

Install Qubes R4.1 or R4.1.1, selecting manual partitioning, using the following paramters:

- no disk encryption
- filesystem btrfs
- three partitions `/boot`, `/`, a

[2022-07-22 11:01] DemiMarie commented on #7644
Is this a bug or by design?  BTRFS duplicates many of the features of LVM and I am not sure why you want to put BTRFS on top of LVM.  There is no reason that LVM _must_ be used.

[2022-07-22 11:09] DemiMarie commented on #7643
This is almost certainly due to <https://github.com/QubesOS/qubes-gui-daemon/commit/b3bd97cfe91da06efbf0bf7358fd60a45e49eea1>.

[2022-07-22 12:13] dominoomni commented on #7635
https://github.com/QubesOS/qubes-desktop-linux-manager/pull/130

is it correct ?

[2022-07-22 13:57] rustybird commented on #7009
FYI, reflink support for ZFS also seems to be progressing nicely in [PR #13392](https://github.com/openzfs/zfs/pull/13392).

[2022-07-22 14:55] GWeck commented on #7643
@marmarek As far as I can see it, that log is empty.

Hopefully,  the issue is solved now. It went in the direction that @DemiMarie described, which I suspected, too.

Thanks a lot for your quick and competent help !!!

[2022-07-22 15:16] GWeck commented on #7644
If `btfrs` is selected as default for new mount points, the device type is still presented as `LVM` as default. If this is not needed for `btrfs`, it might be more sensible, to grey out this selection if the default is `btfrs` , or at least to change the default to `btrfs` in this case.

Or at least it would be helpful to describe `btrfs` use at installation in more detail in the installation docu

[2022-07-22 15:16] dominoomni commented on #7635
also added PR https://github.com/QubesOS/qubes-desktop-linux-manager/pull/131

backported mnemonics from https://github.com/QubesOS/qubes-desktop-linux-manager/pull/128 to v4.0

[2022-07-22 15:21] drewwiens commented on #4104
TL;DR don't be like me and try this, it's totally broken

Apologies for posting on an old thread but for anyone else who comes along and might otherwise waste a day on this, I want to report that I was able to start HVM qubes in R4.1.1 with vmx on and kvm-ok reporting that kvm is available, however it was still not enough for me to run any of these:

- VMWare Workstation Player (crashed on VM boot

[2022-07-22 16:27] DemiMarie commented on #4104
@marmarek: I wonder if this can be build-time disabled in Xen, so that any attempt to enable it is a no-op.  Nested virtualization in Xen is just broken.

[2022-07-22 16:37] locriacyber commented on #7636
From reading this
https://wayland-book.com/seat/pointer.html
https://wayland-book.com/seat/keyboard.html
https://wayland-book.com/seat/touch.html

Some findings:
- seat capability
- game controller is wl_pointer (motion & axis events are here)
- "focus" is not a concept. instead...
- surface receive `enter/leave` event from wl_pointer, when the mouse cursor enter/leave the surface rectangle
- surf

[2022-07-22 16:49] dominoomni commented on #7635
https://github.com/QubesOS/qubes-issues/issues/7635#issuecomment-1191415408

changes in this comment are compatible with both branches "release4.0" and "release4.1"

[2022-07-22 17:35] 3hhh commented on #7637
I hit into it with `5.10.109-1` today as well, but the chances appear to be significantly lower.

[2022-07-22 17:36] qqubes opened #7645 "Error when starting anon-whonix: "Qube anon-whonix has failed to start: internal error: libxenlight failed to create new domain ‘anon-whonix’""
### Qubes OS release

4.1

### Brief summary

This issue is possibly two similar but separate issues. It/they were [reported](https://forum.qubes-os.org/t/problems-with-anon-whonix/12705) in the Qubes forums:

I’ve seen the following two issues recur a number of times:

1) When I try to start `anon-whonix` a popup with the following error appears:

#### Qube anon-whonix has failed to start: intern

[2022-07-22 18:36] rustybird commented on #7644
Oh good, the `Custom` storage configuration screen is broken again for the unencrypted use case...

- If `Click here to create them automatically.` is clicked (which is normally the best way to create a Btrfs layout), it's not possible to untick encryption on the `/` Btrfs filesystem afterwards

- If the `/` Btrfs filesystem is added manually, it's automatically put on top of LVM with no way to ch

[2022-07-22 19:32] marmarek commented on #7644
That's okay. With BTRFS, Qubes will use "file-reflink" storage driver and it doesn't require LVM. If you like, you can still create LVM, for example on separate disk, or for some separate set of VMs.

Are you referring to "No thin pool available" section in initial-setup ([this screen](https://openqa.qubes-os.org/tests/44067#step/firstboot/6))?

[2022-07-22 19:54] DemiMarie commented on #7644
I believe the reason for this is that _all_ of the developers use encryption, so the unencrypted case gets no testing.  Therefore, I am not surprised it is broken.

[2022-07-22 20:04] andrewdavidwong commented on #7642
It appears that this issue is based on (a) false presupposition(s). Closing as "not an issue" (the reported behavior is not a bug, or the proposal is not suitable as an enhancement or task). If anyone believes this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2022-07-22 20:04] #7642 closed

[2022-07-22 20:10] rustybird commented on #7644
AAAAaaaa(...)aahh I just tried it *again* and this time the `Custom` storage layout screen created a completely fine unencrypted Btrfs storage configuration on a normal partition. Two hours ago the same R4.1.1 installer put it on top of LVM! It said so right in the summary of changes!

[2022-07-22 20:28] andrewdavidwong commented on #7645
[Every issue must be about a single, actionable thing.](https://www.qubes-os.org/doc/issue-tracking/#every-issue-must-be-about-a-single-actionable-thing) Adjusting this issue to be only about the first problem described.

[2022-07-22 20:31] andrewdavidwong commented on #7645
FWIW, "internal error: libxenlight failed to create new domain" is a very common error message:

https://github.com/QubesOS/qubes-issues/issues?q=%22internal+error%3A+libxenlight+failed+to+create+new+domain%22

[2022-07-22 21:00] andrewdavidwong commented on #7389
Unfortunately, I've found that closing the Qube Manager and reopening it causes it to revert to a light theme. I then have to log out of the desktop environment and log back in to fix it.

[2022-07-22 21:03] andrewdavidwong opened #7646 "Qube Manager: Renaming a disposable template causes it to have the wrong icon until QM is restarted"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

Renaming a disable template changes its icon from the disposable template icon to a regular qube icon. A restart of the Qube Manager is required to fix it.

### Steps to reproduce

Rename a disposable template (might also affect other qube types).

### Expected behavio

[2022-07-22 21:05] andrewdavidwong opened #7647 "Qube Manager: Progress bars don't move"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

When renaming a qube in the Qube Manager, a progress bar is displayed, but it never moves. Not sure if this is theme-dependent. Eventually, it finishes normally, but some users might think it's frozen/hung due to the progress bar not moving.

### Steps to reproduce

Re

[2022-07-22 22:30] quantumpacket commented on #7389
I applied the fix and rebooted. All windows are now following the dark theme. Opening and closing the Qubes Manager still keeps the dark theme for me.

[2022-07-23 03:11] DemiMarie commented on #7645
This error basically means, “something went wrong in libxl, look at libxl logs for details”.  It should really be replaced with a better error message, ideally one that actually indicates what happened in libxl.  Right now it is basically a useless catchall.

[2022-07-23 06:13] qqubes commented on #7645
I'm not sure where I can find the `libxl` logs so that I can check them next time this happens?

[2022-07-23 09:59] rustybird commented on #7645
@qqubes can you try this search in dom0:

    journalctl -g 'still has dirty pages|losetup .* failed|libxenlight failed'

If you're seeing those three messages close together around the time the error happens, then it's due to a kernel bug (which will be [fixed](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=98ded54a33839e7b8f8bed772e01a544f48e33a7) in v5.19).

[2022-07-23 10:33] GWeck commented on #7644
@marmarek No - this screen is from the second part of the installation, where the disk setup is already completed. I am referring to the screen during disk partition selection in the first part of the setup, where you create the `/` mount point and have to decide which file system is to be used.

Looking at the installed system, e.g. via `blkid` and `fstab`, it seems that `/` was created as a `btr

[2022-07-23 14:09] 3hhh commented on #7637
It's apparently caused by the following device attached to `sys-usb`:
[code]

[2022-07-23 14:14] 3hhh commented on #7637
Possibly related: #6824

[2022-07-23 15:03] Rot127 opened #7648 "[amdgpu] GUI freezes and doesn't recover"
### Qubes OS release

r4.1

CPU: `AMD Ryzen 7 4800H with Radeon Graphics`

### Brief summary

Since the last update (stable branch) the GUI froze three times in one day. The first two times the GUI recovered (I've got logged out after a few seconds and could log in again). The third time it didn't and I had to reset the laptop.

I still could move my mouse pointer (USB mouse via default sys-usb) a

[2022-07-23 15:03] Rot127 commented on #7648
<details>
  <summary>Second freeze</summary>
[code]
</details>

[2022-07-23 15:59] na-- commented on #7648
It's most likely related to `linux-firmware-v20220610`, I hit the same or a very similar issue: https://github.com/QubesOS/updates-status/issues/2982

[2022-07-23 19:19] qqubes commented on #7645
Issue (2) just occurred after a suspend and resume, which others have reported in the forum.

I notice that the padlock is not even responsive. So I tried to stop `sys-whonix`, but it gives an error. `journalctl` says (I cannot copy & paste the whole output from `dom0`): `internal error: Failed to shutdown domain '6' with libxenlight`.

Nothing in `libxl` logs for this second case.

[2022-07-24 02:06] marmarek commented on #6929
Fixed

[2022-07-24 02:06] #6929 closed

[2022-07-24 07:24] m-v-b commented on #7631
Hi all,

@andyhhp and @DemiMarie, thanks for the feedback and help! (Also thanks for your patience! I have been away from desk for a bit.)

@andyhhp, following your testing suggestion I wrote a test program named "doublemap" and instrumented libxengnttab. doublemap takes three command line arguments: a Xen domain number (for a domain that has shared pages as indicated by `xl debug-keys g`) and two

[2022-07-24 08:12] DemiMarie commented on #7631
@m-v-b: A first pass at a patch would indeed be great!

[2022-07-24 09:53] Rot127 commented on #7648
Yes, this looks very much like it.

[2022-07-24 18:16] TNTBOMBOM commented on #4889
Just use the default which is en_US.UTF-8 no need further expansion.

[2022-07-24 18:56] mcku commented on #6923
Hi, looking at the logs, this device is likely a Thinkpad T14 AMD Gen 1 or equivalent, which received a new firmware recently. I am wondering if it improves the situation or not. 0.1.41 which resolves some issues with sleep. link: https://support.lenovo.com/tr/en/downloads/ds544977-bios-update-utility-bootable-cd-for-windows-10-64-bit-thinkpad-t14-gen-1-types-20ud-20ue

my current device is a 20ue

[2022-07-25 07:43] DemiMarie commented on #7046
A simple version of this would be for `qubes.StartApp` to skip `/usr/share/applications/qvm-open-in-dvm.desktop` if running in a DisposableVM, as it is basically never what one wants.

[2022-07-25 12:36] straussmaus opened #7649 "Qubes Manager Does Not Start"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.10

### Brief summary

Qubes manager loads but does not start

### Steps to reproduce

- Boot computer
- (Qubes Manager should start but)
- Choose Qubes Manager from the "Q" menu
- Watch the "[DOM0] Qube Manager" popup say "Loading Qube Manager"
- See this box close.
- Qubes Manager does not open

[2022-07-25 12:39] straussmaus commented on #5509
@DemiMarie

I don't know.  Qubes Manager is not starting for me at the moment (https://github.com/QubesOS/qubes-issues/issues/7649)

I will test again when it is.   - although I do not know if I have a Qube to test with, so might have to wait until the next whonix update to 17

[2022-07-25 15:14] SaswatPadhi commented on #7640
Looks like this script is responsible:
https://github.com/QubesOS/qubes-core-agent-linux/blob/master/qubes-rpc/nautilus/qvm_nautilus_bookmark.sh

[2022-07-25 16:00] marmarek commented on #7640
https://github.com/QubesOS/qubes-issues/issues/2229

[2022-07-25 16:05] #7643 closed

[2022-07-25 17:33] andyhhp commented on #7631
@m-v-b So this is why I suggested making a simplified test case - it's now clearly a bug in the Linux gntdev driver.

Can you provide your doublemap code and modifications to libxengnttab?  I'm surprised that modifications were required, but it's possible that some of the safety that the kernel ought to have is actually being provided by userspace (and therefore a layering violation.)

[2022-07-25 17:39] DemiMarie commented on #7631
@andyhhp is it possible that this could also explain why loopback qrexec connections cause the kernel to crash?

[2022-07-25 17:45] andyhhp commented on #7631
My divination skills are not up to the task.  Focus on one bug at a time.

[2022-07-25 20:42] mcku commented on #6595
![screen_locker_is_broken](https://user-images.githubusercontent.com/9163971/180870296-b005b135-d884-48ab-8eb5-0f9cd37aa21c.png)

i think what kde does is a great idea

[2022-07-25 20:45] DemiMarie commented on #6595
I agree.  Another option would be to rely on a new X protocol extension (version 6.1 of XFixes) that causes screenlocker crashes to terminate the X server.  I have implemented it and I believe there is a decent chance it will be accepted upstream.

[2022-07-25 21:58] DemiMarie opened #7650 "Changing AudioVM at runtime does not write to `/qubes-audio-domain-xid`"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

Changing the AudioVM at runtime does not write to `/qubes-audio-domain-xid`.  Even if it did, PulseAudio would need to be manually restarted.

### Steps to reproduce

Change the AudioVM of a running VM

### Expected behavior

Audio flows to the new VM

### Actual behavior

Au

[2022-07-26 08:17] andrewdavidwong commented on #7389
Increasing priority and pinning this issue, as a lot of users seem to be asking about it lately.

[2022-07-26 08:22] andrewdavidwong commented on #7640
Ah, thanks for the ref. I had forgotten about that issue.

Well, I've already expressed my opinion about this and made my case in the comments on #2229, so feel free to close this as "won't fix" if you disagree.

[2022-07-26 08:27] andrewdavidwong commented on #7640
On second thought, I guess this should actually be closed as a duplicate, since #2229 already exists.

[2022-07-26 08:27] #7640 closed

[2022-07-26 08:32] andrewdavidwong commented on #2229
(Updated labels and milestone to reflect what actually happened. Looks like it was not implemented merely as a documentation task after all. I had to use the 4.1 updates milestone, since the 4.1 milestone is now closed, but everything else should now be accurate. I had forgotten about this issue and opened #7640, in which Marek pointed me back here.)

[2022-07-26 08:45] GWeck commented on #7643
Hi - I checked the new version. Everything o.k. Thanks again!

[2022-07-26 10:24] patranger opened #7651 "Mute audio from individual VMs"
### The solution you'd like
It would be useful to be able to mute individual VMs so that, for example, 2 machines were muted and one was not.

[2022-07-26 11:03] unman commented on #7651
You can already do this.
The audio mixer allows you to mute individual streams, or set them to
different volumes.

[2022-07-26 11:38] #7651 closed

[2022-07-26 11:58] andrewdavidwong commented on #7651
Closed as an "unsuitable proposal" (the proposed action is unsuitable, e.g., because it rests on a false assumption or misunderstanding, or because the thing it tries to fix is not really a problem in the first place). If anyone believes this is a mistake, please leave a comment, and we'll be happy to take another look. Thank you.

[2022-07-26 15:03] esatravi opened #7652 "Qubes 4.1.1 - resize apps windows in sys-usb and other VMs freezes that VM"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1.1.

### Brief summary

Very strange yet repeatable behaviour in sys-usb. When you open the file manager (nautilus) in sys-usb and try to resize the window to make it bigger or full-screen, the sys-usb freezes and stops responding. It seems that after a long time (minutes) the window will get resp

[2022-07-26 15:10] esatravi opened #7653 "Qubes 4.1.1. fresh installation - no audio"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1.1

### Brief summary

After fresh installation of Qubes 4.1.1 on HP 840 G8 laptop there is no audio available in any of the VMs.

### Steps to reproduce

No sound / audio available after fresh 4.1.1. installation.
open any mp3 file to play it comes out mute - I can see playing progress in VLC but

[2022-07-26 15:29] esatravi commented on #7652
The window-resize freeze issue has been introduced in Qubes 4.1.1.

I tested new Qubes 4.1.1 installation on the other computer, the one I've been using without any problems for years with qubes 4.0. Unfortunately it shows the same freeze symptoms when resizing windows.

[2022-07-26 18:33] Unb0rn opened #7654 "Building gui-agent-linux fails with unmet dependencies"
### Qubes OS release

4.1.1

### Brief summary

I'm trying to build only one package `gui-agent-linux`
After pulling the code `make get-sources` and installing all the dependencies `make install-deps` it finally fails on `make gui-agent-linux` with logs:

### Steps to reproduce

Set up build environment as per [documentation](https://www.qubes-os.org/doc/qubes-builder/) (use fedora 36)
Run make `g

[2022-07-26 21:40] sjug opened #7655 "qubes-firewall-user-script is still ignored"
### Background

### Qubes OS release
R 4.1.1

### Brief summary
I am trying to set my own NAT rules for a VPN app qube. The VPN app qube provides network for other appvms, and I have also enabled qube-firewall service to see if that causes the script to be run (it doesn't).

### Steps to reproduce
1. Create appvm to use as a network providing qube, set up the VPN etc.
2. Enable qubes-firewall serv

[2022-07-26 22:01] Unb0rn commented on #7654
My bad. I thought setting the specific target in make would build all its deps as usual, but it looks like you have to build the deps in COMPONENTS list by hand...
Maybe we should reflect it in the doc?

[2022-07-27 00:26] unman commented on #7655
Can you confirm that you can set other chains? (I am confident that you
will be able to do so.)

[2022-07-27 00:42] DemiMarie opened #7656 "Qube with no microphone attached appears to have a broken sound card"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

If a qube does not have a microphone assigned to it, it will never receive input on the recording vchan.  With the current implementation of the Linux PulseAudio agent, this causes applications to think there is a microphone present, but that microphone never produces any aud

[2022-07-27 00:50] Opening-Button-8988 opened #7657 "Can't see the taskbar panel"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1.1

### Brief summary
I can't see the taskbar / panel UI. It's invisible.

### Steps to reproduce
No clue.

### Expected behavior
For the taskbar to show.

### Actual behavior
It doesn't show.

### Further details

Apparently, #7358 has a fix. However, somehow the solution suggests entering a comma

[2022-07-27 01:10] #7657 closed

[2022-07-27 01:14] DemiMarie commented on #7652
Is it just the GUI that freezes?  Can you run a command in the VM using `qvm-run --no-gui`?

[2022-07-27 02:10] #7530 closed

[2022-07-27 02:10] #7551 closed

[2022-07-27 02:10] #7588 closed

[2022-07-27 11:21] AlanMok1 commented on #7631
Hi all,

Not sure if this is the best place to report my issue but since its related to [xen_gntdev] so Im giving it a try.
Please let me know if I should open a new issue ticket instead or report my issue to somewhere else, Thank you.

DELL Latitude 3490
Intel i7-8550U
16GB RAM
UEFI v1.18 (2022JAN12)
-[0000:00]-+-00.0  Intel Corporation Xeon E3-1200 v6/7th Gen Core Processor Host Bridge/DRAM Regi

[2022-07-27 11:59] andyhhp commented on #7631
@DemiMarie Isn't ^ the thing you fixed with the invalid grant ref WARN() change?

[2022-07-27 12:08] brendanhoar commented on #7631
I can't say whether this is related to grant tables, but I've certainly seen this Firefox (and torbrowser) behavior in R4.0 when opening many tabs.

In my experience, it appears to be some sort of resource depletion from the browser perspective (handles? memory?) which I unstick by killing Firefox's child rendering processes, usually starting at the ones using the most RAM or CPU and working down

[2022-07-27 12:54] straussmaus commented on #7649
I rebooted again and it was still a problem.  Then deleted a VM, rebooted again and now it is not a problem.

So I think maybe this was caused by low swap space (less than 3.7% disk available warning)

[2022-07-27 13:03] straussmaus opened #7658 "Qube will not start, no info"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.10

### Brief summary

EDIT:

I can use the same trick that I used in https://github.com/QubesOS/qubes-issues/issues/6973.  Start the Qube in Qube Manager and then use `qvm-console`.  Then I get a short time to do things in the filesystem and eventually can resolve the problem.

I now think this is

[2022-07-27 13:06] straussmaus commented on #6135
(near) certainty.

This still happens on 4.10.  I have not checked `journalctl -e` and I know I should, but I never seem to remember when it happens.

Does no one else have this problem yet?

[2022-07-27 13:57] #7658 closed

[2022-07-27 16:16] sjug commented on #7655
@unman You're correct, I created a new chain and it is created. I suppose this means that the `qubes-firewall-user-script` is executed before whatever creates the `PR-QBS` chain and it's overwritten?
Is there any way to modify existing chains other than rc.local?

[2022-07-27 17:20] esatravi commented on #7652
I'm not quite sure what and how do you want to me to test this command. Please explain and provide and example and I will run them in the

All I'm observing is that resizing windows of programs like nautilus or terminal causes the freeze of that vm.

The more, the problem is new, introduced in 4.1.1 - I installed the latest qubes on the older computer, which I used over the past 5 years, and the p

[2022-07-27 21:12] DemiMarie commented on #7631
Linux 5.15.52 does not have that patch.  Linux 5.15.56 and up do, so Qubes should ship 5.15.57.

[2022-07-27 21:36] DemiMarie commented on #7652
This is likely a dom0 kernel problem and will be fixed by upgrading to 5.15.56 or better in dom0.  Assigning @marmarek.

[2022-07-28 08:23] esatravi commented on #7652
I have already tried to verify whether this is a kernel issue and upgraded it to the kernel-latest. When I execute 'uname -r' in dom0 I get the following readings: 5.18.9-1.fc32.qubes.x86_64

That means it might not be kernel problem but something else.

As I mentioned previously I installed qubes 4.1.1 on the older computer, where previous versions of qubesos were working without any issue for ye

[2022-07-28 08:31] esatravi commented on #7653
Thank you for this suggestions. I run dmesg command in dom0 and got the following output:

[   78.399060] sof-audio-pci-intel-tgl 0000:00:1f.3: DSP detected with PCI class/subclass/prog-if info 0x040100
[   78.399191] sof-audio-pci-intel-tgl 0000:00:1f.3: Digital mics found on Skylake+ platform, using SOF driver
[   78.399217] sof-audio-pci-intel-tgl 0000:00:1f.3: enabling device (0000 -> 0002)
[

[2022-07-28 09:25] esatravi commented on #7653
@alt3r-3go
[RESOLVED]
I downloaded the new sof-bin firmware and installed it in dom0 (copied it) - as mentioned in dmesg.

The sound is back again!

I'm so pleased the fix was as easy as that.

Thank you very much @alt3r-3go for your expert advice. :)

[2022-07-28 09:44] esatravi commented on #7653
If you could also help or suggest something for my 2 other issues I would would be forever grateful:

1. https://github.com/QubesOS/qubes-issues/issues/7652 - resizing windows run in a VM freezes that VM.

2. https://github.com/QubesOS/qubes-issues/issues/7611 - laptop doesn't wake-up from suspend mode.

Thank you :)

[2022-07-28 11:02] esatravi commented on #7611
Issue resolved by updating sof firmware in dom0

[2022-07-28 11:03] esatravi commented on #7653
Resolved with sof firmware update in dom0

[2022-07-28 13:23] logoerthiner1 opened #7659 "Dom0 sound card driver stops the whole machine from being suspended"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

dom0 kernel 5.15.52 / 5.18.9 both have the issue; I have not been observing the issue when the kernel was 5.16.18 .

### Brief summary

sof-audio-pci-intel-tgl stops the whole machine from suspending.

Output for `sudo dmesg|grep sof` in dom0

[code]

The device is (`sudo lspci -v`)
[code]

At

[2022-07-28 13:36] brendanhoar commented on #7659
"swiotlb buffer full" is interesting because we also see that in recent kernels that partially break sound on some intel hardware.

B

[2022-07-28 13:40] marmarek commented on #7659
"used 0" - sounds rather like "too small" than "full"

By default it should be 64MB, but can you verify what actual size you got? There should be a boot message about "software IO TLB"

[2022-07-28 15:08] loztcf commented on #7481
This issue persists with kernel 5.18.9-1 in dom0.
I don't have this issue using modesetting driver which sadly leads to graphical artifacts/glitches instead of the freezing behaviour.

[2022-07-28 17:11] DemiMarie commented on #7653
Reopening as the new firmware should be available by default.

[2022-07-28 21:01] DemiMarie commented on #7481
@loztcf Can you use sysrq+w to get a stack trace of all blocked tasks?

[2022-07-28 23:51] securitycopper commented on #4321
GPU: AMD Radeon RX 6900 XT
Skill level: My knowledge in this area is very limited, mostly reading these threads looking for solutions.

My windows vm with RX 6900 XT didn't boot after updating. I speculate this update contained the PR https://github.com/QubesOS/qubes-vmm-xen-stubdom-linux/pull/44 by @mati7337 and puts on on the version @tzwcfq was testing.

I got it working again but I've switched

[2022-07-29 00:06] TheWanderer1983 opened #7660 "Hardware TRNGs failing to work with VM"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
xen_version            : 4.14.5
Linux 5.15.52-1.fc32.qubes.x86_64

Installed Packages:

grub2-qubes-theme.x86_64                          	5.14.4-2.fc32
kernel-qubes-vm.x86_64                            	1000:5.10.90-1.fc32.qubes
kernel-qubes-vm.x86_64                            	1000:5.15.52-1.fc32.q

[2022-07-29 00:28] brendanhoar commented on #7660
An alternate strategy, depending on how many usb controllers are available on your system, would be to attach a pci usb controller to the vm (disable memory balancing) which needs to use these devices. That way you aren't dependent on usbip being issue-free with your device type.

B

[2022-07-29 01:35] HPOA909 opened #7661 "Finger-print Support (VBS-based)"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

The ways that I am addressing are that the finger print access for the QubesOS to have the mostly same/simular to Microsoft's VBS for finger print verification; however, the system doesn't have this feature during the installation.

### The solution you'd like

The solution for

[2022-07-29 02:34] logoerthiner1 commented on #7659
`software IO TLB: mapped [mem 0x0000000170a00000-0x0000000174a00000] (64MB)`

[2022-07-29 03:02] logoerthiner1 opened #7662 "Long interval or forever since guest poweroff until Qubes announce VM shutdown"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

In many various cases, when a VM guest has shutdown (in VM console log the systemd says that VM has shutdown), the dom0 will wait for a long time until announcing that the VM has shutdown. Obviously there are some other things that Qubes OS need to do.

Even on `qvm-kill` a V

[2022-07-29 03:07] TheWanderer1983 commented on #7660
Okay I turned off sys-usb and directly attached the usb controller to the debian template. In advanced setting I tried virtualization PV and HVM, turned off memory balancing. The OneRNG now loads without any unlink or urb errors from dmesg. However there still is no functionality or call on the device.  Entropy available still 256.  rng-tools is showing /dev/ttyACM0 and active, but no call to the

[2022-07-29 03:16] logoerthiner1 opened #7663 "sys-net for MT7921 using latest kernel gets unstable and lock up and unable to be powered off"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

MT7921 crashing problem (#7294 ) is solved in kernel 5.18.9 . However additional problem pops out: sometimes (especially several minutes after resuming after suspension) the sys-net hangs and not accepting GUI keystrokes (however the GUI terminal window can be resized, which

[2022-07-29 03:47] DemiMarie commented on #7662
For a VM to be fully shut down, some cleanup needs to happen in dom0.  In particular, the volumes used by the VM need to be either deleted or committed, depending on whether the volume is persistent or not.  This can take some time, and at least some of it is necessary for e.g. cloning the VM to reflect the changes made before the VM shut down.

[2022-07-29 04:30] SaswatPadhi commented on #3693
Closing this since it was likely an issue with mirrors.

[2022-07-29 04:30] #3693 closed

[2022-07-29 04:46] DemiMarie commented on #7652
@esatravi: That has https://github.com/torvalds/linux/commit/dbe97cff7dd9f0f75c524afdd55ad46be3d15295 but not https://github.com/torvalds/linux/commit/166d3863231667c4f64dee72b77d1102cdfad11f, so you might experience a slowdown due to WARN() storms.

[2022-07-29 10:08] esatravi commented on #7652
@DemiMarie
How do I revert the kernel-latest to the regular qubes LTS version (currently 5.15) please?

[2022-07-29 11:12] logoerthiner1 commented on #7662
Good point. Now I wonder effective way of finding logs about the tasks Qubes OS need to finish between the time guest exits and the time Qubes OS announce that the VM exits. Sometimes it is lvm operations as you says, but I am afraid that sometimes it is not that simple. Any suggestions on the log hunting?

[2022-07-29 12:37] unman commented on #7655
On Wed, Jul 27, 2022 at 09:17:03AM -0700, Sebastian Jug wrote:

I think you are right.
You can modify this from a (late starting) nft script, called from
systemd. But that means there is an open window before the script is run
- not an issue if it is permissive.

[2022-07-29 13:30] esatravi commented on #7653
@DemiMarie
You beat me to it. But a bit more investigation is required as qubes tends to lose the audio after some time - from what I've observed so far audio starts deteriorating, and eventually not be available, when I open new VMs. But I need more time to look at the symptoms - something to do with memory consumption? cpu? other? I will periodically monitor dmesg for details.

Nevertheless, the

[2022-07-29 14:09] na-- commented on #7653
@esatravi, I had the same issues as you on an laptop with an 11th generation Intel CPU. I also solved them the same way, by manually installing [sof-bin](https://github.com/thesofproject/sof-bin/) in dom0... :disappointed: So yeah, I'd really appreciate some newer drivers in dom0. Unfortunately, I also hit the same issue with the audio deteriorating and breaking up, though I found the most unlikel

[2022-07-29 15:06] brendanhoar commented on #7653
My gut says the trigger (not root cause, but trigger) might have something to do with dom0 changing the bitrate/channels(/codec?) at the hardware level when a single source starts playing solo vs. sticking to the working hw config and having dom0 do software conversions to that particular default bitrate/channels(/codec?).

Keeping a monitoring window open might block dom0 from switching b/c(/c?)

[2022-07-29 18:29] DemiMarie commented on #7662
`journalctl -b -u libvirtd.service -u qubesd.service -f --no-tail`?

[2022-07-29 23:13] DemiMarie commented on #7652
The most recent `kernel-latest` packages (in `current-testing`) should have that fix too.

[2022-07-30 03:47] auroraanon38 opened #7664 "Qubes *without* a GUI qube also has issues with granted pages and periodic crashes"
Title referencing similar issue #7631

### Qubes OS release

Qubes 4.1.1

### Brief summary

When I open new windows, or resize existing ones (rarer as I use i3wm), I sometimes get errors in my syslogs regarding xorg tainting & granted pages.

I have noticed this issue while watching videos in Firefox and mpv, but the errors also appear when simply spawning new terminal windows for the same AppVM

[2022-07-30 05:00] DemiMarie opened #7665 "Asynchronous QubesDB API"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

The QubesDB API is synchronous, except for watches.  This is a problem when using QubesDB from an event-driven program, such as future versions of the audio and GUI agents.

### The solution you'd like

QubesDB should have an asynchronous API.

### The value to a user, and who t

[2022-07-30 05:52] DemiMarie opened #7666 "Rip out legacy WNI code"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release (if applicable)

N/A

### Brief summary

Windows Native Isolation was an attempt by Joanna to provide isolation based entirely on Windows’s native features.  It was not successful, but some code still remains in e.g. QubesDB.  It should be ripped out as it serves no purpose.

[2022-07-30 05:56] daylamtayari opened #7667 "Configure Qube Storage Notification Limit"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
A notification in the tray about a Qube approaching full storage capacity was introduced in Qubes 4.1.
The issue is that this notification appears when the Qube is 90% full however, there is no way to configure the level for this notification.
Users should be able to configure th

[2022-07-30 06:36] daylamtayari opened #7668 "Opening Qube Settings Fails Critically When Application Refreshes Interrupted"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1.1

### Brief summary
If the refresh of applications of a Qube is interrupted (e.g. a sudden power loss) while it is in progress, attempting to open the settings of a Qube fails with a critical error related to the execution of `qvm-appmenus`.
Below is the resulting error for a Qube called 'yubico'

[2022-07-30 08:29] 3hhh commented on #7655
This is no bug, but a user error / misunderstanding. Please close.

@sjug The `qubes-firewall-user-script` is ecxecuted once on Qubes firewall start as documented. If you want your own NAT rules, you can place them at whatever time in the `PREROUTING` chain before `PR_QBS`. However you are _not_ supposed to modify `PR_QBS`. That is fully managed by Qubes OS at runtime and will change over time. If

[2022-07-30 10:05] unman commented on #7655
I believe this is a documentation bug, and should be left open until that has been resolved.
Changing the title to reflect the *actual* issue would be helpful, and changing tags.

[2022-07-30 10:13] mati7337 commented on #4321
Could someone who has problems with https://github.com/QubesOS/qubes-vmm-xen-stubdom-linux/commit/be8896ba2fae2e377aa236df4407bc7dbdcec60b post entries for the passed through devices from the output of `lspci -vv` in dom0?

[2022-07-30 10:22] unman commented on #7630
[quote]
The results appear to be somewhat contradictory, with some parts indicating success and other parts indicating failure, but I don't see any specific information about which part failed.
[/quote]
The status of each state is shown in the "Result" field, and then in the
summary.
There are 2 states.
The first succeeds - this is the actual update, and you have full
details of the packages updat

[2022-07-30 11:37] Nanzikambe commented on #7539
I'm tracking down something that _might_ be unrelated to this bug:

Using firefox 103 (latest) using picture-in-picture then clicking the fullscreen button frequently results in a totally unresponsive appvm (all apps, not just terminal) requiring me to reboot or qvm-kill it from dom0. I'm unable to find anything in the logs specifically related to that however I came across hundreds of thousands o

[2022-07-30 11:52] esatravi commented on #7652
@DemiMarie
Are you aware of others having similar issue with the latest Qubes 4.1.1 when application windows resize causes vm freezing?

Regarding the fix you mentioned - I had previously installed and tested kernel-latest (5.18.9-1.fc32.qubes.x86_64) but it didn't resolve the freezing issue?
As of now kernel-latest' stil refers to v 5.18.9.

What other things could potentially cause the freezing

[2022-07-30 11:55] marmarek commented on #7091
Updated alsa-sof-firmware is available in current-testing: https://github.com/QubesOS/updates-status/issues/3022

[2022-07-30 11:55] #7091 closed

[2022-07-30 11:56] marmarek commented on #7055
Updated alsa-sof-firmware is available in current-testing: https://github.com/QubesOS/updates-status/issues/3022

[2022-07-30 11:56] #7055 closed

[2022-07-30 11:56] marmarek commented on #7585
Updated alsa-sof-firmware is available in current-testing: https://github.com/QubesOS/updates-status/issues/3022

[2022-07-30 11:56] #7585 closed

[2022-07-30 11:56] marmarek commented on #7653
Updated alsa-sof-firmware is available in current-testing: https://github.com/QubesOS/updates-status/issues/3022

[2022-07-30 11:56] #7653 closed

[2022-07-30 11:57] esatravi commented on #7653
@na--  Thank you for your comments and the tip. I would have never discovered it myself. But for now it seems like a good-enough workaround - to always keep the pavucontrol panel open. FYI - the 'show volume meters' was already checked by default after fresh qubes install. It is keeping the panel open (yet minimized) that prevents sound from deterioration.

The new qubes 4.1.1 also introduced anot

[2022-07-30 12:57] securitycopper commented on #4321
@mati7337,
I've attached what you requested. I currently have resizable bar disabled, if you need it again with resizable bar enabled, will see your notification late tonight.

`03:00.0 VGA compatible controller: Advanced Micro Devices, Inc. [AMD/ATI] Navi 21 [Radeon RX 6800/6800 XT / 6900 XT] (rev c0) (prog-if 00 [VGA controller])
	Subsystem: Gigabyte Technology Co., Ltd Device 232c
	Control: I/O

[2022-07-30 13:17] na-- commented on #7653
@marmarek, thanks! I removed my manually installed sof-bin v2.2 packages and installed `alsa-sof-firmware-2.1.1-1` from `current-testing` (along with all of the other current-testing updates) and can confirm it works for me, audio still works despite the new package being a slightly older version than the one I had before :tada: Unfortunately, the [heisenbug](https://github.com/QubesOS/qubes-issue

[2022-07-30 13:18] blockomat2100 commented on #7653
Your sound quality issue bug sounds similar to the one I already reported in #7634.

[2022-07-30 13:22] na-- commented on #7653
@blockomat2100, I'd somehow missed that issue, but yeah, it seems like the same problem, especially since you also mention it gets fixed by having `pavucontrol` open. I was just about to open a new issue, but now I'll just subscribe to yours :eyes:

[2022-07-30 13:27] na-- commented on #7634
This issue was also encountered by me and @esatravi, and it's present both in the recently published alsa-sof-firmware v2.1.1-1 official package (https://github.com/QubesOS/updates-status/issues/3022) and when v2.2 is manually installed from [its repo](https://github.com/thesofproject/sof-bin).

FWIW, the workaround is not whether pavucontrol is running, but whether the "Configuration" -> "Show vo

[2022-07-30 14:04] brendanhoar commented on #7634
I think it broke in the transition to the 5.17 and later kernels.

[2022-07-30 14:36] mati7337 commented on #4321
@securitycopper
Thanks. Yeah, I'll also need it in the non working state. All the PCI devices you've posted use memory at addresses bigger than 0xf0000000 (3.75GiB) which is bigger than qemu's default TOLUD, so in that case my patch shouldn't change anything and the stubdom init patch also shouldn't be needed. Did you check if it works with your current configuration but without the patch to the

[2022-07-30 16:28] DemiMarie commented on #7652
@esatravi you will need to enable testing repositories to get 5.18.14.

[2022-07-30 18:48] blockomat2100 commented on #7634
Sadly, no. But I also have an Intel-based laptop (HP ZBook Firefly) which requires alsa-sof-firmware, too.

[2022-07-30 19:24] esatravi commented on #7653
We seem to have the temporary workaround for the audio playback but I struggle to get the microphone working. Right from the boot the little organge LED is on - Fn mute key, doubling as F8. There is no way I can turn it off, it is just on all the time as if the mic had some driver issues.

Is it something that anybody else is experiencing with the 4.1.1. qubes release and 11th generation Intel CPU

[2022-07-30 19:41] na-- commented on #7653
Ah, indeed, my microphone also doesn't work! I hadn't even noticed that the laptop built-in mic doesn't work since I usually use an external USB microphone, but I rely on the built-in mic when traveling. Unfortunately, I don't have any tricks this time... :disappointed:

[2022-07-30 20:53] andrewdavidwong commented on #7655
If anyone reading this is able to help with the documentation here, please feel free to open a PR.

For those who are not already aware, the documentation is a community effort, and everyone is welcome to contribute. That's often how things like this get updated. You can read more about how to submit documentation changes here:

https://www.qubes-os.org/doc/how-to-edit-the-documentation/

You may

[2022-07-31 02:39] securitycopper commented on #4321
@mati7337 I've completed the additional tested you requested with steps and logs detailed in file attach.

To summarize:
- I validated that your PR works, that file 'xen-hvm-stubdom-linux' no longer needs to be patched. https://github.com/QubesOS/qubes-vmm-xen-stubdom-linux/commit/be8896ba2fae2e377aa236df4407bc7dbdcec60b
- File xen-hvm-stubdom-linux-full still requires the patch.
- Resizable bar d

[2022-07-31 02:50] andrewdavidwong commented on #7298
It seems like a bug that `sys-usb` has `Provides network` enabled by default in the first place on systems with no networking devices in `sys-usb`.

[2022-07-31 02:53] andrewdavidwong opened #7669 "`sys-usb` has "Provides network" enabled by default"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes OS 4.1.1

### Brief summary

It seems like a bug that `sys-usb` has `Provides network` enabled by default in the first place on systems with no networking devices in `sys-usb`.

Related: #7298

[2022-07-31 02:56] andrewdavidwong commented on #7492
I can confirm that this is happening on a recent Qubes 4.1.1 installation.

@marmarek:

Yes, and I have `xen-libs-4.14.5-6.fc32`.

[2022-07-31 03:01] andrewdavidwong commented on #7492
Possibly related: #6824

[2022-07-31 03:36] marmarek commented on #7669
It is intentional and it was pretty much always this way, so I'm a bit surprised you consider it a "bug" only now. There is some discussion (although not much) at https://github.com/QubesOS/qubes-issues/issues/1629. AFAIR that's to make easier use of USB network devices, including 3G/LTE modems, without necessarily routing all your network traffic through it (those some years ago, mobile data was

[2022-07-31 03:38] DemiMarie commented on #4234
I can reproduce with a 1-vCPU qube.  Chrome is at less than 0.5FPS while using 90+% CPU.  Definitely time for a bug report.

[2022-07-31 06:44] na-- commented on #7653
@esatravi, since this issue was closed, and since https://github.com/QubesOS/qubes-issues/issues/7634 more accurately describes our problems now that the `alsa-sof-firmware` package was published, I suggest we move our discussion here?

[2022-07-31 07:06] na-- commented on #7634
@blockomat2100, do you also have problems with audio input, like me and @esatravi (https://github.com/QubesOS/qubes-issues/issues/7653#issuecomment-1200281044)? In the dom0 pavucontrol I don't see the built-in laptop microphone, I just see a `sof-hda-dsp Multichannel` input that doesn't seem to pick up any actual sound (based on its volume meter). Unsurprisingly, assigning the dom0 microphone to a

[2022-07-31 07:07] TheWanderer1983 commented on #7660
Hello all,
Just thought I would try with the debian-10 template not the debian-10-minimal. Same issues, didn't fix.

[2022-07-31 09:07] esatravi commented on #7634
Following the initial issue I had opened (https://github.com/QubesOS/qubes-issues/issues/7653) I confirm the microphone on my laptop doesn't work either.
I am able to maintain the sound output via speakers/headphones using @na--  workaround, but unfortunately the workaround doesn't enable the microphone.

[2022-07-31 11:07] andrewdavidwong commented on #7669
Hmm, strange that I never noticed it before (or maybe just forgot). Perhaps it's been so long since my last reinstallation that this is my first clean install since it became the default.

The reason it seemed like a bug to me is simply that if I'm using a traditional `sys-net` and my offline `sys-usb` is not used for networking at all, then having `Provides network` enabled by default seems like

[2022-07-31 11:08] #7669 closed

[2022-07-31 11:19] blockomat2100 commented on #7634
I don't have problems with audio input, but I remember that I had some Mic problems in the first days of my setup.
But I thought the fix was to install the sof-firmware and changing the device in the "Recording" tab from "Monitor XY" to "XY" device.

[2022-07-31 11:33] 3hhh commented on #7372
Hm I implemented such a qrexec proxy VM with Python asyncio and it incurred a 30-40% performance impact vs qrexec without proxy. Not great, but not too bad either.

@brendanhoar Maybe. But it's beyond my capabilities.

[2022-07-31 12:06] GWeck commented on #7552
@alt3r-3go Unfortunately, I don't have the test environment, where the error occurred, any longer, and Windows 8.1 is not available for me. Sorry!

With Qubes R4.1.1 and Fedora-36 fully updated, the error does not occur anymore; everything works as expected. So I am closing this issue.

[2022-07-31 12:08] marmarek commented on #7372
FWIW, early qrexec implementation (AFAIR before Qubes 3?) proxied all the data through dom0. And besides significant performance penalty, it also made significant load on dom0.

While having a proxy for some calls is probably a useful feature (as you said, for example for network-based qrexec), I don't think it should be for all the calls. I can see also a value in delegating policy decision to so

[2022-07-31 12:21] logoerthiner1 commented on #7662
Good tricks on `journalctl`. However the logs I saw there only contains that some xen bus is being removed.

I would rather want to know for example, the progress bar of each actions - for example the LVM snapshot removal. It would be better to provide a method of measuring how much work needs to be done in order to remove a specific snapshot, and the speed of the work being done.

I would be glad

[2022-07-31 12:26] 3hhh commented on #7372
I agree. Actually I had decided to make the proxy intransparent so that the policy decision can still be made in dom0 via RPC policy arguments. No need to replicate code.

The use cases I currently see are:
- one-way qrexec
- defend some highly sensitive VMs against certain side channels (e.g. receiving VM blocking incoming qrexec data to communicate with the source VM in one-way qrexec)
- network

[2022-07-31 12:26] logoerthiner1 opened #7670 "Dom0 dmesg flooded by hundreds of grant pages kernel warning with stack backtraces"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

dom0 kernel 5.18.9

### Brief summary

dmesg and journalctl is flooded by hundreds, if not thousands of warning backtraces.

### Steps to reproduce

Simply booting the machine and use it a little while (?) and then check the log

### Expected behavior

No flooding

### Actual behavior

Joirnalc

[2022-07-31 12:39] marmarek commented on #7670
This is already fixed in 5.18.14 (https://github.com/QubesOS/updates-status/issues/3016)

[2022-07-31 12:39] #7670 closed

[2022-07-31 17:33] thw0rted commented on #4234
So, just to be clear, @DemiMarie , where do you think the report should go, and who do you think should file it?

[2022-07-31 20:00] DemiMarie commented on #4234
@thw0rted I think you should file the report against Chromium and SwiftShader.  I know basically zilch about SwiftShader internals, and it has been years since I did anything interesting with web APIs.

[2022-07-31 21:17] SurinameClubcard commented on #4104
If I recall correctly, Qubes was designed to allow for switching to different hypervisors?

[2022-08-01 02:22] HPOA909 opened #7671 "Qubesos.github.io repo build failed with exit code 1"
`qubes-issues` [is not the right place to ask questions or request
support](https://www.qubes-os.org/doc/issue-tracking/#do-not-submit-questions).
Instead, please see [help, support, mailing lists, and
forum](https://www.qubes-os.org/support/).

I committed the pull request on qubesos.github.io repo for 3-4 days before the 4.0 depreciate. However, the building bot was failed with erorrno 1. Anythi

[2022-08-01 06:50] na-- commented on #6647
I forgot to update this a few months ago, when I figured out at least the first part of the issue :disappointed: It turned out that my CPU was constantly at a high temperature and the fans were constantly spinning on high, even while the laptop was idle, because... :drum: for some reason, QubesOS was installed with legacy boot, not with UEFI... :sob: No idea why I installed it like that, and no id

[2022-08-01 06:50] #6647 closed

[2022-08-01 08:32] holiman commented on #4792
I had a similar experience as this ticket. From the "Details" in the updater, it looked like the curl request failed. However, entering `sys-firewall` and typing the commands `qrexec-client-vm dom0 qubes.ReceiveUpates ... ` I got a "Request refused". So what was happening was not any network fetch failure, but rather a policy failure.

Looking through the `journalctl` logs, I saw that a syntax err

[2022-08-01 12:00] logoerthiner1 commented on #7602
Today I have a chance to witness disappearance of several tray icons. I tried logging out and back into dom0 and the icons come back.

The logs are:
[code]

And (after I have logged out in dom0)
[code]

Btw everything should be up to date (sys-net is updated to fedora-36 and same issue appears) and it is not related to appvm distros (another debian11 vm have its tray icon disappeared)

Hope this w

[2022-08-01 12:45] thw0rted commented on #4234
I just filed https://bugs.chromium.org/p/chromium/issues/detail?id=1348913 , in case anybody here would like to follow along.  Thanks for the feedback!

[2022-08-01 13:03] marmarek commented on #4234
"Windows"?

[2022-08-01 13:36] thw0rted commented on #4234
Hah!  Oops, sorry.  It auto-populated the form from the computer I was using and I didn't think to update.  It does actually apply on Windows as well, inasmuch as forcing Firefox to disable hardware rendering here still outperforms Chrome when forced to use SwiftShader.  Really, the OS tag should say "any".  I'll leave a comment to that effect.

[2022-08-01 15:49] drewwiens commented on #4104
I've heard that, but haven't seen any steps on how to do it

[2022-08-01 16:33] GSF1200S commented on #6447
I have the same issue.

- Gigabyte X570S Aorus Pro AX (SMV and IOMMU enabled; confirmed decent IOMMU groups)
- Ryzen 5600X
- Crucial P5 1TB nvme ssd drive
- RX550 graphics
- 32GB Crucial ECC ram (2x16 @ 2666) (passes memtest86+ fwiw)

I can't get into the installer even with the suggestions in this thread. Perhaps if I left it overnight or whatever. I get lines similar to:

If I run:

I don't reca

[2022-08-01 17:10] andrewdavidwong commented on #4104
Yes: https://blog.invisiblethings.org/2013/03/21/introducing-qubes-odyssey-framework.html

Many aspects of the architecture have been generalized, but that doesn't mean that users can simply follow a tutorial to switch hypervisors right now. Much more development work is still needed.

Since the discussion is beginning to veer off-topic and this issue has been closed for a quite a while, I'm going

[2022-08-01 17:14] andrewdavidwong commented on #7671
You can see by clicking on the "Details" link.

-----

Please note that the issue tracker (`qubes-issues`) is not intended to serve as a help desk or tech support center. Instead, we've set up other [venues where you can ask for help and support, ask questions, and have discussions](https://www.qubes-os.org/support/). (By contrast, the issue tracker is more of a technical tool intended to support

[2022-08-01 17:14] #7671 closed

[2022-08-01 17:24] renehoj commented on #7238
This issue affects chromium based browser, I have tested Google Chrome, Brave, and Ungoogled, using the Debian 11 template.

If you hover a link, the cursor doesn't change to indicate it's a clickable object, making it more difficult to use some websites.

[2022-08-01 21:52] DemiMarie opened #7672 "libvchan-xen memory and file descriptor leaks"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

libvchan-xen’s `libvchan_close()` does not close the libxc handle obtained in `libvchan_server_init()`.  This causes a leak of memory and file descriptors.

### Steps to reproduce

Write a program (in my case, the PipeWire agent) that repeatedly opens and closes vchans.

###

[2022-08-02 07:47] logoerthiner1 opened #7673 "Xfce4-session crash on suspension after I have logged out once in dom0"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1 kernel 5.18.9

### Brief summary

After I have tried logging out in dom0 in #7602, I found that each time I suspend, the screen goes to early booting screen.

When I inspect in dom0 log I found out that Xfce4-session crashes.

[code]

Also core from xss-lock
[code]

### Steps to reproduce

1. lo

[2022-08-02 10:26] marmarek commented on #3516
The salt approach is already included in R4.1. Further simplifications will be tracked separately.

[2022-08-02 10:26] #3516 closed

[2022-08-02 10:32] marmarek opened #7674 "Allow creating sys-usb in installer even when USB keyboard is used"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Most modern machines have just one USB controller, when it's left in dom0, all USB devices will be presented to dom0 (whether they will be useful is another question). It means that even on systems with primary keyboard on USB, having sys-usb improves overall security (it reduce

[2022-08-02 11:23] qufo418 opened #7675 "Missing packages: kernel-devel / kernel headers for 5.15.x and 5.18.x"
### Qubes OS release
4.1

### Brief summary

I need to build the Tuxedo-Keyboard module bundle. I created a standalone HVM based on the template Fedora-32; installed development tools, and want to install the kernel-headers for kernel

    kernel-5.15.52-1.fc32.qubes.x86_64
    kernel-latest-5.18.9-1.fc32.qubes.x86_64

but what I can get, regardless of which kernel is active, is

    kernel header

[2022-08-02 11:42] marmarek commented on #7675
This is the correct one.

And this is the actual issue.

[2022-08-02 11:50] qufo418 commented on #7675
Good.

You mean the make error, right? The syntax error that make throws makes no sense, because the Makefile in .../build seems to me okay. Did I miss it?

[2022-08-02 13:29] na-- commented on #7634
Either that was already the case for me, or I'd changed it a while ago on, before I moved my install to the current laptop... In either case, this wasn't the issue :disappointed:

However, I found a bit of good news when it comes to microphone support. While I still can't get the built-in microphone in the laptop to work, I found out that I can successfully use the microphone of a pair of gaming h

[2022-08-02 13:36] marmarek commented on #7675
Apparently it's about format of `include/config/auto.conf`. As a temporary workaround, remove all `"` from it (`sed -e 's/"//g' -i include/config/auto.conf` should do the trick).

[2022-08-02 13:45] marmarek commented on #7673
Do you see any more details in `~/.xsession-errors` (or `~/.xsession-errors.old`)? Especially if that was some fatal error + abort or segmentation fault.
How exactly do you suspend? Using menu, command line, closing laptop lid, something else?
I tried several of those, and cannot reproduce the issue...

[2022-08-02 14:12] hgoumner opened #7676 "System crashes completely and restarts"
### Qubes OS release

Qubes OS R4.1

Linux 5.10.90-1.fc32.qubes.x86_64
Installed Packages:
grub2-qubes-theme.x86_64                          	5.14.4-2.fc32
i3-settings-qubes.x86_64                          	1.9-1.fc32
kernel-qubes-vm.x86_64                            	1000:5.10.90-1.fc32.qubes
python3-qubesadmin.noarch                         	4.1.20-1.fc32
python3-qubesdb.x86_64

[2022-08-02 14:20] qufo418 commented on #7675
Ah, right. Thanks for the workaround.
What about that these packages aren't available via dnf in standalone VM?

[2022-08-02 14:34] marmarek commented on #7676
Please install updates first, there is much newer kernel available.

[2022-08-02 14:35] marmarek commented on #7675
You are talking about dom0 kernel, so the package is in repository for dom0, not for a VM.

[2022-08-02 17:11] qufo418 commented on #7675
Hmm, I think I tried that, but I check again.
But why not for a VM? That leads to building modules or even software in dom0. That's potentially dangerous. That's why I build a standalone VM based on Fedora 32. Build the modules, and maybe even a rpm (that's new to me, so I can't promise), and then I transfer only the rpm (ideally), or the modules to dom0. Shouldn't that the official way to build c

[2022-08-02 18:11] larryswinger opened #7677 "AppVM crashes periodically"
### Qubes OS release

R4.0

### Brief summary

Periodically, my OS becomes very sluggish and shortly thereafter, all the apps from my "online" appVM will crash. Then I am unable to use that appVM until I reboot it.

### Steps to reproduce

Use the OS normally. Notably, I have heavier applications running in this appVM than in others, such as two web browsers. Nothing that's really resource intensi

[2022-08-02 20:36] hgoumner commented on #7676
Thanks for the prompt response. I updated dom0 and all qubes to the newest kernel. If the problem occurs again, i'll post here again.

Is there a recommended method of obtaining the necessary info about a crash or is for example 'journalctl -p err' in dom0 enough?

[2022-08-02 21:48] olafklinke commented on #7648
Also experiencing this, r4.1 on AMD Ryzen with Radeon graphics. journalctl in dom0 says xss-lock dumped core. System seems to go into screen saver mode at random points in time. Sometimes the xfce session is ended and I have to log in again, sometimes the screen saver just kicks in for no reason, all processes keep running. Sometimes I can log in again, sometimes not (probably because sys-usb is a

[2022-08-02 22:29] mibmo commented on #4631
Did that fix it for you? Seems like `xen.cfg` has moved anyhow, but still curious! :)

[2022-08-02 23:27] isodude commented on #6923
I tried with the newest firmware and kernel-latest (5.18) but I'm getting the infamous 'waiting for fences time out'.

It should be noted that the suspend/resume worked, I'm able to enter my password in the screensaver. It's after that moment that Xorg is having a hard time rendering and after a while gives up. It seems that the kernel manage to actually reset the GPU though.

Regarding the Mesa e

[2022-08-02 23:54] marmarek commented on #7675
In fact, if you set the VM to the same kernel version as you use in dom0, you'll get kernel headers there automatically.

[2022-08-03 01:50] isodude commented on #6923
I tested a bit more, suspend seems to work fine in console. Which is very good. There's still artifacts after suspend.
Starting X after suspend makes X crash, if I roll back linux-firmware I avoid a newly introduced bug.

With linux-firmware-20211216-127 I get this error

[code]

There are some reports around this, specifically about cleaning up old jobs. Maybe that is worth investigating. 5.19-rc

[2022-08-03 05:11] logoerthiner1 commented on #7673
After I have freshly suspend, I see following in `.xsession-errors.old`:
[code]

And a few details
1. It seems that once I have ever logged out in dom0, in this boot session I cannot suspend with the xfce4-session running. Suspension works well when I have not logged out in dom0.
2. I suspend using the menu. I may try other ways - how can I suspend using command line? I want to have a try and susp

[2022-08-03 10:13] #7108 closed

[2022-08-03 10:22] qufo418 commented on #7675
I ran that sed command in `/usr/src/kernel/include/config`, and checked all double quotes are gone in auto.conf. But I get still the same error. I'm in the wrong directory?

[2022-08-03 10:29] qufo418 commented on #7675
Not on my system. I tested it this morning by creating a new standalone HVM based on the template fedora-32; kernel set 5.18. After creation I checked the directory /usr/src/kernels; it's empty. Then I ran the command:

- `sudo dnf install kernel-headers` - result: dnf offered the 5.11 kernel-headers but claimed that they are already installed.

then I ran:

- `sudo dnf install kernel-devel `- res

[2022-08-03 11:02] qufo418 commented on #7675
Probably...

I just tried to run:

`sudo sed -e 's/"//g' -i /lib/modules/5.18.9-1.fc32.qubes.x86_64/build/include/config/auto.conf`

but I got:

`sed: cannot rename /lib/modules/5.18.9-1.fc32.qubes.x86_64/build/include/config/sedjAmUXG: Operation not permitted`

Root has no permission?

[2022-08-03 11:35] marmarek commented on #7675
This filesystem is read-only indeed, nothing within the VM can modify it...

Check what the module's makefile is using. Alternatively, you can build module using specific kernel sources by going to that kernel sources and calling `make M=MODULE_PATH modules` where `MODULE_PATH` is path to the module source dir.

[2022-08-03 13:35] marmarek commented on #7673
Indeed those all look like a consequence of terminated X server, so an effect, not a cause.

There must be something else to the story, I just tried this way, and no crash here...

To be clear, the procedure I did was:
1. Start the system
2. Login into dom0
3. Logout from dom0
4. Login again
5. Suspend from the menu

When exactly `xfce4-session` crashes for you? At step 4 or 5? Or some other?

`sy

[2022-08-03 15:18] 3hhh commented on #7372
Here's the code: https://github.com/3hhh/qubes-qrexec-proxy

[2022-08-03 15:27] qufo418 commented on #7675
Hi DemiMarie, could I use qubes-builder to build only specific kernel-modules?

[2022-08-03 19:14] esatravi commented on #7634
@blockomat2100
Thank you so much for the inspiration. Initially I was looking for some setting within the 'Recording' section of the voice control panel. But that's where you control the individual VM's inputs.
What I discovered, and what is also the immediate and permanent fix - is that on the 'Input Device' tab the microphone settings were 'muted' by default, right after the fresh install.
Once

[2022-08-03 19:19] esatravi commented on #7652
@DemiMarie Thank you for pointing that out.

How long will it take for that testing kernel version (5.18.14) to become and official version supported by QubesOS? When can I expect it go live?

I'm not really keen on using the dev version of the kernel with all the warning enabled for debug purposes.

[2022-08-03 19:22] esatravi commented on #7611
Hes anyone found some workaround for waking-up the laptop from the sleep mode without the need of the hard reboot?

I tried to find some ideas on the net but so far nothing of a practical value.

For now, I just keep the laptop running and reboot on major templates updates.

[2022-08-03 22:53] isodude commented on #6923
Tried with kernel 5.19, no change.

@marmarek Is Xen supposed to handle ccp/psp? If not ccp/psp both fail on my system when initializing them. The module get 0xffffffff.. back from reading the registries. I assume this is because Xen does not allow accessing those memory regions. So I tried out dom0-iommu=passthrough=1 and it failed with a blank screen then reboot. I did not manage to catch the ou

[2022-08-04 02:40] mati7337 commented on #4321
@securitycopper
That's interesting as the PCI addresses are all above 0xf0000000, so my patch shouldn't affect anything. Could you also check the contents of /proc/iomem in the working state from within a virtual machine? That's the file that gets read by my patch. You can also try downgrading using `qubes-dom0-update --action=downgrade xen-hvm-stubdom-linux`.

For now I won't be patching xen-hvm-

[2022-08-04 02:42] mati7337 commented on #7624
I'm not entirely sure but this patch https://github.com/QubesOS/qubes-vmm-xen-stubdom-linux/commit/be8896ba2fae2e377aa236df4407bc7dbdcec60b for https://github.com/QubesOS/qubes-issues/issues/4321 might be the problem.

[2022-08-04 04:11] DemiMarie commented on #6923
@isodude would you be able to do a `git bisect` between Xen versions to figure out what exact Xen patch fixed the problem?  @marmarek any suggestions for doing so without breaking dom0 in the process?

[2022-08-04 04:13] DemiMarie commented on #7652
@esatravi The package in `current-testing` is the same package that will eventually be moved to `current`.  It is fully security supported and is not a debug kernel.  I at least have the testing repositories enabled in all qubes on my daily driver machine, and I would not be surprised if @marmarek does too.

[2022-08-04 05:19] securitycopper commented on #4321
@mati7337
Will likely get to this over the weekend. Had an issue where creating a new standalone vm with fedora-34 template 16gb of ram, with gpu attached didn't work. Renamed it to gpu_ prefix so the patch would be applied but it didn't boot. Did boot when I set to 3GB. More troubleshooting needed on my end.

(Thinking out load regards to max-ram-below-4g)
_Taking a step back and looking at this

[2022-08-04 08:38] isodude commented on #6923
Oh right, actually finding the commit between xen 4.14.5 and 4.14.4 you mean, that would be easier! That I've done a couple of times so no problems.

[2022-08-04 09:21] marmarek commented on #6923
I don't think so, it should be all up to dom0.

[2022-08-04 09:28] marmarek commented on #6923
FWIW, I think the same issue applies to one system in out CI, in the suspend test: https://openqa.qubes-os.org/tests/44851#downloads (see `suspend-journalctl.log`). I can review historical logs, but AFAIR it never worked there.
This one has AMD Ryzen 5 4500U.

Bisection Xen between major versions is complicated, because of unstable ABI. Without rebuilding several more parts (toolstack, libvirt etc

[2022-08-04 10:43] isodude commented on #6923
You could run Xen, suspend, start X, profit. I guess if I don't start lightdm I can run it without entering X and run the programs from console.
Earlier I could trig the problem just starting Xen and the suspend without entering X. That now works.

This should be correct. Well that is awesome!

[2022-08-04 10:45] isodude commented on #6923
Ok, so. Do we have any prior art on how to use rmrr in Xen to allow Dom0 to write/read to ccp? I tried to fiddle around with it yesterday but I really have zero clue :)

[2022-08-04 11:17] logoerthiner1 commented on #7673
Step 5.

`systemctl suspend` is good. Closing the laptop lid is also good.

`xfce4-session-logout --suspend` has the same effect as what I select "Suspend" in menu - x server crashes and suspension does not start at all; I even `tee`'ed the command output but it does not seem to have any useful info.

btw are you testing under dom0 kernel 5.18.9? It seems to be the only variable that I could come

[2022-08-04 11:18] marmarek commented on #6923
IIUC dom0 should be able to write to any device by default (unless assigned to another domain). You can check the assignments with `xl debug-key Q`

[2022-08-04 11:46] isodude commented on #6923
ccp is 0000:07:00.2.

[code]

sending `xl debug-keys h` revealed more info and I ran MSI dump (M)

[code]

Looking through the code H means host masked and G guest masked.

`lspci -vvvv` tells us
[code]

It's MSI-X enabled, but not maskable by us. Which I assume is correct since Xen handles the masking. I don't understand why only those MSI have both H and G while none other have it.

[2022-08-04 12:18] k4z4n0v4 commented on #6923
Can i jump in and provide any help? I have a Ryzen 5xxx series that also exhibits the same behaviour.

[2022-08-04 12:47] qufo418 commented on #7389
Hi, I did a fresh install of 4.1.1 changed the theme etc, but the middle of the panel and some widgets aren't adhering to the dark theme (Adwaita Dark). The only way it works here (on two machines) is when I install 4.1.0 first and then simply apply all the updates.

[2022-08-04 13:00] isodude commented on #6923
I'm trying out the xen cmdline `rmrr=0xfd200000-0xfd2fffff=0:7:0.2` now, but it isn't recognized anywhere.

What I'm about to do is to bisect Xen to see where between 4.14.X and 4.14.5 the suspend in console started working properly. What versions are you running now and how does suspend work if you stop lightdm (or w/e login manager you have) and run systemctl suspend in console?

[2022-08-04 14:26] k4z4n0v4 commented on #6923
Running Xen 4.14.5, after `qvm-shutdown --all` and `systemctl stop lightdm`, resuming from a suspended state freezes the TTY. Can't switch to another, won't accept any input.

On August 4, 2022 1:01:07 PM UTC, Josef Johansson ***@***.***> wrote:

[2022-08-04 14:38] hgoumner commented on #7676
Hello again,

today my computer crashed again, this time when i refreshed the app menus in the fedora-35 template. That's also the last thing that was written out to the syslog in dom0.

Any advice?

journal output: [crash_04_08.txt](https://github.com/QubesOS/qubes-issues/files/9260636/crash_04_08.txt)

[2022-08-04 14:50] k4z4n0v4 commented on #6923
Actually, on my second attempt it resumed properly the way it was intended. I can send the relevant parts of the two boot logs if needed, for diffing.

[2022-08-04 15:35] qufo418 commented on #7389
Not anymore. It worked last week.
Now, the Application Menu, Separator, and the clock are not adhering to Adwaita Dark theme. I checked all the xfce / xfwm configs in dom0. I also compared the configs with my other machine where it still works. I can't find any differences.

[2022-08-04 20:11] Minimalist73 opened #7678 "Add more steps to Qubes clean install (from R4.0 to R4.1)"
### The problem you're addressing (if any)
When you do a [clean install](https://www.qubes-os.org/doc/upgrade/4.1/#clean-installation), you have to restore a backup coming from Qubes R4.0. It means that all templates and standalones VMs are still using the old 4.0 repository.
When you use the `qubes-dist-upgrade` tool, a specific step is done to do those repository changes but, while doing a clean

[2022-08-04 21:40] esatravi commented on #7652
@DemiMarie
I've installed the current-testing version of the kernel v 5.18.14 but unfortunately the resize applications windows issue still persists. (confirmed with dom0: uname -r after reboot)
Perhaps the cause is not related to the kernel but rather something different, a bug in qubesos? It certainly needs to be investigated as it affects resizing in all VMs.

[2022-08-05 03:24] mati7337 commented on #4321
@securitycopper
Yes, that's generally what my patch does. TOLUD is Top Of Lower Usable DRAM. It's basically how much memory in 32 bit memory space is your actual RAM, instead of for example memory mapped input/output for PCI devices. This patch uses min to set TOLUD to the lowest address of any PCI BAR (get_min_pci_addr()) but only if it's lower than the default TOLUD (HVM_BELOW_4G_RAM_END).
If th

[2022-08-05 03:33] andrewdavidwong commented on #7678
@marmarek: As far as I can recall, we've never had to tell users to manually change their *template* repo defs to a newer Qubes release. Is this already handled automatically some way, or do we really need some brand new documentation for this?

[2022-08-05 05:00] qubeslaptopissue commented on #7472
So after 4.1.1 released I decided to give it another try. It is now slightly more usable, but most users would still consider this to be unusable. I have pretty low standards. Lag and stuff has improved a little bit. But now half of the time the machine doesnt boot after GRUB, just nothing will happen, and about 25% of the time something goes wrong during the startup where my service qubes do not

[2022-08-05 07:21] isodude commented on #6923
I just did a batch job and tested all the way down to Xen 4.14.1-1 (couldn't install 4.14.0-X). Suspend in console works, so I guess it's a kernel issue.

[2022-08-05 07:29] Minimalist73 commented on #7678
I would like to know too if that's handled automatically. When I made the switch on 4.1 Alpha I had to switch all my templates and standalones VM to 4.1 otherwise I was stuck with R4.0 core packages. Maybe an upgrade process has been added with the 4.1 release but I don't see any commit related to that matter on the backup/restore tool github repo. Maybe it's done elsewhere I don't know.

[2022-08-05 07:36] isodude commented on #6923
Just tested latest firmware + 5.19.0 (with buddy patches applied), and X does not lock up the whole desktop in a hard state. Still doesn't work but I would say that's a progress. I may need to do a run later to see if it's the same if I change Xen version. Maybe there's something.

With that said here's the errors.
[dmesg.txt](https://github.com/QubesOS/qubes-issues/files/9266445/dmesg.txt)

[2022-08-05 07:50] isodude commented on #6923
Issue opened at freedesktop: https://gitlab.freedesktop.org/drm/amd/-/issues/2114

[2022-08-05 08:03] qufo418 commented on #7389
Hi, I think I found the root cause and the fix:

**Cause:**
1. xfsettingsd not running, although listed in Session and Startup.
2. the text file ~/.cache/sessions/xfce-session-dom0:0 is missing.

**Fix:**
1. Open terminal to dom0, and then:
2. `echo > ~/.cache/sessions/xfce4-session-dom0:0`
3. start xfsettingsd: `xfsettingsd`
4. Logout with saving current session. On the logout dialog at the butto

[2022-08-05 08:50] qufo418 commented on #7648
Here too. Details below:
**Journal -x -p 3 -r:**
[code]
inxi -Fxxxz:
System:    Kernel: 5.18.9-1.fc32.qubes.x86_64 x86_64 bits: 64 compiler: gcc v: 2.34-6.fc32 Desktop: Xfce 4.14.3
           tk: Gtk 3.24.23 info: xfce4-panel wm: xfwm4 dm: LightDM 1.30.0 Distro: Qubes release 4.1.1 (R4.1)
Machine:   Type: Laptop System: TUXEDO product: TUXEDO Pulse 15 Gen1 v: Standard serial: <filter>
           M

[2022-08-05 09:34] isodude commented on #6923
I tried out linux-firmware-20220804 (with amd firmware 22.20) and it still doesn't work, but the errors are different.

I also discovered that since I chose to compile with PMC=y my dracut failed. I fixed that, might have some affect as well.
[journal-20220804.txt](https://github.com/QubesOS/qubes-issues/files/9267422/journal-20220804.txt)

[2022-08-05 09:47] olafklinke commented on #7648
As suggested in [#2982](https://github.com/QubesOS/updates-status/issues/2982) I tried downgrading the firmware:
[code]
Will keep you updated how that goes.
Here are the info about my system prior to downgrading:
[code]
The hardware, xen

[code]

[2022-08-05 13:51] Warthog-Capital commented on #7185
This also happens to me. Wifi does not reconnect after resume from suspend.

### Qubes OS release

4.1.1

### Brief summary

On a fresh Qubes 4.1.1 installation, my Wifi connection does not come back after I suspend my laptop, and then start it again.

Solutions got get Wifi available again:
- opening a terminal in sys-net and running `sudo systemctl restart wpa_supplicant`
- restarting sys-net, b

[2022-08-05 14:55] qufo418 commented on #7675
I got it. I copied the kernel-src from /usr/src/kernels to my build directory under my home directory, then I applied the sed fix. The build ran without errors for 5.18...; I transferred the modules to dom0 loaded them manually without any errors. Then made persistent across restarts, which works also. Now it's testing time and see what happens.

[2022-08-05 15:24] DemiMarie commented on #7652
@esatravi thanks!  yeah, might be a Qubes bug then, or possibly a driver bug.

[2022-08-05 16:48] andrewdavidwong commented on #7472
I am truly sorry to hear about all the hardware troubles you're going through, but if we had done this for prior Qubes releases, we would still be on version 1.0. Our team is simply too small and our resources too limited to be able to support older releases indefinitely.

[2022-08-05 16:56] andrewdavidwong commented on #7185
Just FYI, you don't have to shut down all dependent VMs. You can instead just set `sys-firewall`'s NetVM to `none`, restart `sys-net`, then set `sys-firewall`'s NetVM back to `sys-net` again.

[2022-08-05 21:07] shadowmax31 commented on #6445
I have the same issue with the mouse lagging.

It only happens when I do my backups. I've looked at overall CPU and RAM usage (inside backup-qube, sys-net, sys-usb, sys-firewall and dom0) when the lag starts and nothing looks weird. I don't see any spike anywhere, I saw some swapping on sys-net and added some more RAM to it and it did not fix the lag. This left me thinking that there is some netwo

[2022-08-06 06:30] DemiMarie commented on #7472
What happens if you do a hard reset?

[2022-08-06 09:58] 3hhh commented on #7677
Sounds like memory swapping. Try non-dynamic memory allocation and try to disable swapping in dom0.

[2022-08-06 10:00] 3hhh commented on #7637
Another user reported a similar issue with a different SD card reader: https://groups.google.com/g/qubes-users/c/Nz_5Aiea1_Q

[2022-08-06 10:38] unman commented on #7185
Sometimes, (if restart is absolutely necessary), `qvm-kill sys-net && sleep 5 && qvm-start sys-net` will do the the job.
I have that saved.

[2022-08-06 10:52] mtdcr commented on #7185
FWIW, here's what I ended up with:

[code]

[2022-08-06 15:23] qos-user commented on #7404
To revive the discussion about enabling TSC.
Is there anything in particular that needs to be done on Qubes 4.1.1 stable (with the 5.10 kernel) to get this to work?
I verified that `/usr/share/qubes/templates/libvirt/xen.xml` has the invtsc feature enable:
`<feature name='invtsc' policy='require'/>`

In dom0 tsc seems to be enabled just fine, I get the following with `sudo journalctl | grep tsc`:

[2022-08-06 18:17] DemiMarie opened #7679 "No easy way to back up Salt states in dom0"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Some users, such as myself, have a large amount of Salt states in dom0.  However, there is no built-in support for backing up these states, as they are outside of the user’s home directory.

### The solution you'd like

Provide an easy way to do exactly that.

### The value to a

[2022-08-06 18:40] DemiMarie opened #7680 "Provide an always-available rescue VM for recovery"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

If a user somehow manages to mess up all of their templates, it is very difficult for them to recover without a reinstall, as at least one VM must be working for a reinstall to work.

### The solution you'd like

There should be an always-available disposable VM template for sys

[2022-08-07 08:35] Rot127 commented on #7648
Works well for me currently. No freezes for a long time.

[2022-08-07 10:09] unman commented on #7679
There is an easy way to back up *anything* outside of the home
directory.
Copy it there.
Are you really saying that this isn't easy for anyone who customises
dom0, whether by writing salt states or by other means?

If you want a special mechanism for salt, what about other
configurations?

[2022-08-07 12:37] marmarek commented on #7390
This looks like a duplicate of #6923

[2022-08-07 12:37] #7390 closed

[2022-08-07 12:47] marmarek commented on #6923
I did some tests. Here are results:
1. It does happen without any VM running at all, so it should ease debugging. I can reproduce it with running just Xorg in dom0 + suspend
2. It still happens on Xen master branch, sometimes only on a second suspend attempt, but unfortunately it's still the case there.

I have prepared reliable test case (2 suspend attempts + `dmesg | grep "PSP resume failed"`) s

[2022-08-07 12:50] marmarek commented on #6923
This is AMD, so it's called `ivmd=`...

[2022-08-07 16:24] unman commented on #7680
What template will the disposable template be using?
That cant be "messed up", or the disposable would be useless.
In that case, the user could just use the working template that they
have.

The only thing that might be useful if *all* the templates are messed up
would be a standalone. If *that* can be protected from user error why cant
the same be done for a template?

Why not have a template tha

[2022-08-07 16:31] marmarek commented on #7680
I think storing yet another template is pretty wasteful for something that ideally would never be used at all... And if you do manage to break _all_ your templates at the same time (which is already pretty unlikely), and it's really an issue with all those templates (and not with dom0, in which case yet another template would not help), then you still have options:
 - you can rollback changes to s

[2022-08-07 16:31] #7680 closed

[2022-08-07 18:36] andrewdavidwong commented on #7679
I think the spirit of #1635 arguably already encompasses this. How about generalizing #1635 and closing this as a duplicate of that issue?

[2022-08-07 18:37] andrewdavidwong commented on #1635
Generalizing this issue to reflect developments in Qubes OS since it was first opened.

[2022-08-07 18:40] isodude commented on #6923
Right, so that was introduced in xen 4.16. I'll see what I can do here.

[2022-08-07 18:40] #7679 closed

[2022-08-07 18:47] andrewdavidwong commented on #7390
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-08-07 19:02] DemiMarie commented on #7680
@marmarek @unman: The rescue VM I am thinking of is not really a full template.  It is only has enough for networking and Salt, and might well have its root volume be a read-only squashfs.  Not sure if this is worthwhile, though.

[2022-08-07 19:56] brendanhoar commented on #7680
Fwiw...

My previous suggestion is that Qubes-installed templates should be fully immutable, non-runnable and hidden (from the perspective of Qubes tooling anyway).

Then, a cow-or-similar clone of the fully immutable source is created by the system and used as the user-facing and user-updatable template for all appvms that depend on the template.

E.g. installer or dom0 qvm-tool -> installs fedor

[2022-08-08 03:19] TheWanderer1983 commented on #7539
I'm still having this issue.
I have upgraded kernel on VMs to  5.18.9-1.fc32.qubes.x86_64. Kernel in Dom0 upgraded to 5.18.9-1fc32
qubes-gui-daemon  4.1.23-1+deb11u1.
I'm noticing this when I have firefox and thunderbird open on different vms. Both show same flooding in logs.

[2022-08-08 06:45] m-v-b commented on #7539
I am not 100% certain, but I believe that this issue is the same as issue #7631, and I think that we will need a kernel patch similar to the one discussed in that issue to resolve the "still pending" messages. I will add a comment to #7631, shortly, as well.

[2022-08-08 07:25] m-v-b commented on #7631
Hi, sorry for the silence. I have not had time to continue to work on this issue lately.

Regarding the Firefox hangs I had mentioned in [this pull request comment](https://github.com/QubesOS/qubes-gui-daemon/pull/106#issuecomment-1184072267) and @AlanMok1 mentioned in [this comment](https://github.com/QubesOS/qubes-issues/issues/7631#issuecomment-1196600250), I think that it is an issue in Firefo

[2022-08-08 07:43] isodude commented on #6923
@marmarek
Trying to apply the ivmd patches and backport them, but there is a lot of patches and I give up right now.

`        xen_rm_opts="edd=off ivmd=fd200-fd2ff=0:07:0.2;fd3cc-fd3cd=0:07:0.2 loglvl=debug"`

Maybe try out the test bench and xen master with the above?

[2022-08-08 07:43] m-v-b commented on #7664
Hi, the issues discussed in #7539 and #7631 do not involve a dedicated GUI qube/VM either. I reproduce those issues with a "normal" Qubes OS v4.1 installation that uses dom0 as the GUI host.

I was going to suggest marking this issue a duplicate of #7631, but I then realized that I have not encountered the kind of backtraces in the logs attached by @auroraanon38. Quoting from the attachment linked

[2022-08-08 10:27] ghost opened #7681 "dom0 systemd[1]: Failed unmounting mount xenstore file system. / systemd-cryptsetup[X]: Device luks-X is still in use."
### Qubes OS release

4.1.1

### Brief summary

When starting Qubes OS after shutdown or next morning jounalctl -x -p 0..3 -r shows the error:
`dom0 systemd[1]: Failed unmounting mount xenstore file system. / systemd-cryptsetup[X]: Device luks-X is still in use.`
That happens even when the all running qubes are manually shutdown, so that only dom0 is running before logging out and shutdown the sys

[2022-08-08 12:10] marmarek commented on #6923
I tried, but the issue is still there. I also got this warning:
[code]

[2022-08-08 12:51] isodude commented on #6923
Do you get any change to `journalctl -b | grep ccp`?

[2022-08-08 12:54] marmarek commented on #6923
Interestingly, adding `drm.debug=1` to Linux dom0 makes S3 succeed more times (3-4 successful), but it still eventually fails. Some race condition then? Lack of synchronization between gpu and ccp resume?

[2022-08-08 13:00] isodude commented on #6923
Would not even surprise me. It's a job that is getting stuck in the amdgpu driver somewhere. That thing is a big mess and their fixes are tryhard at best.

What kernel are you using now?

[2022-08-08 13:20] marmarek commented on #6923
5.10.61 right now, but AFAIR same happened on newer too. openQA tested at least 5.15.57. I'll test newer one again to be sure.

[2022-08-08 13:53] isodude commented on #6923
Interesting things happen in 5.17, so kernel-latest-5.18 is quite interesting.

[2022-08-08 14:07] isodude commented on #6923
I'm build linux kernel with gcc 12 to get KCSAN.

[2022-08-08 15:46] arkenoi commented on #7674
why not to whitelist just the specific keyboard that was available during the boot?

[2022-08-08 19:28] marmarek commented on #6923
I've tried 5.19, the issue is still there, looks exactly the same

[2022-08-08 20:55] DemiMarie commented on #7631
@marmarek: Is it worth applying the patches from @m-v-b (or a modified version) ourselves?  @m-v-b, would you be okay with this?

@m-v-b: do you get the crash on the _first_ unmap (by `doublemap`) or the _second_ unmap (by the process that previously had the grant mapped)?  If the first, I wonder if Linux needs to keep a table of in-use granted PTEs.  The second will be harder, though.

[2022-08-08 22:09] DemiMarie commented on #7674
@arkenoi If only it were that simple.  It turns out that USB device handling is generally a disaster.

[2022-08-09 00:37] diligence-holdings commented on #7474
FYI, for future readers of this thread. The link to Nitrokey's documentation for updating firmware is broken. This link worked for me: https://docs.nitrokey.com/nitropad/qubes/firmware-update-1.4/

[2022-08-09 08:21] m-v-b commented on #7631
Hi @DemiMarie, of course, I am okay with your suggestion.

Regarding how the crash occurs, my understanding from the backtrace is that one of the `munmap` calls made by `doublemap` trigger this issue. That is, either the `munmap` call in the `XENGNTTAB_REPEAT_MMAP` instrumentation I had added to libxengnttab or one of the `munmap` calls made by `xengnttab_unmap` which is also called by `doublemap`

[2022-08-09 09:05] n0madK commented on #7620
Getting the same thing on a Ryzen 9 6950HS with kernel 5.18.14-1. Booting template VM causes the system to hang, mouse stops responding, then the system reboots 5 seconds later. Anyone have ideas how to debug further?

[2022-08-09 09:20] DemiMarie commented on #7631
@m-v-b Looks like reference counting of some sort will be needed.

[2022-08-09 09:34] DemiMarie commented on #7173
Is this still an issue?

[2022-08-09 13:06] locriacyber commented on #7173
I don't know. I have been building packages from source since. Never used package repository.

***

Just tried using this pacman repo

[code]
The result is, I can't even use the repo.

[code]

[2022-08-09 13:11] isodude commented on #6923
Booting kernel compiled with gcc 12.1 and KCSAN support made Xen crash with page fault in entry.S#craete_bounce_frame+0x136/0x157. Saw that there's one issue in 2017 in grub with almost the same problem but other than that seems like I'm doing something wrong :)

[2022-08-09 18:21] lubellier commented on #7173
@DemiMarie : I don't see any issues with the python-3.10 transition, the current archLinux python version is python-3.10.5 and all is fine with my ArchLinux template and HVM...

@locriacyber : I'm using this repo, maybe with `pacman-key --init` ?

[2022-08-09 19:12] isodude commented on #6923
This might be very related. Regarding tee init command failed

https://lists.xenproject.org/archives/html/xen-devel/2022-06/msg01383.html

[2022-08-09 20:32] mfc commented on #4819
https://github.com/QubesOS/qubes-manager/blob/master/ui/backupdlg.ui#L227

change `true` to `false`

[2022-08-09 23:25] antarisherdeng4 commented on #6929
I have the same problem on QubesOS R4.0:

[2022-08-10 00:54] TheWanderer1983 opened #7682 "xserver-xorg-input-all is breaking sys-usb separation"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

xen_version            : 4.14.5
Linux 5.18.9-1.fc32.qubes.x86_64

**Installed Packages:**

grub2-qubes-theme.x86_64                          	5.14.4-2.fc32
kernel-latest-qubes-vm.x86_64                     	1000:5.18.9-1.fc32.qubes
kernel-qubes-vm.x86_64                            	1000:5.15.52-1.fc3

[2022-08-10 01:02] marmarek commented on #7682
yubikey present itself as a keyboard - I guess you allowed USB keyboard globally (https://www.qubes-os.org/doc/usb-qubes/#usb-keyboards). You can see what actually happened by looking at `journalctl` command in dom0 when you connect yubikey.

[2022-08-10 01:16] TheWanderer1983 commented on #7682
You are right. It was that.
journalctl
[code]
Sorry about that. hmmm... this makes me think of badusb and I really should find another solution for my keyboard and mouse.

[2022-08-10 01:20] #7682 closed

[2022-08-10 02:34] andrewdavidwong commented on #6929
4.0 has reached EOL. Please upgrade to 4.1.

https://www.qubes-os.org/news/2022/08/04/qubes-4-0-has-reached-eol/

[2022-08-10 03:13] #7675 closed

[2022-08-10 06:10] DemiMarie opened #7683 "Simple use of Admin API causes very high CPU usage"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

The attached program causes libvirtd to use around 80% CPU, while qubesd uses about 40%.

### Steps to reproduce

Run the [attached program](https://github.com/QubesOS/qubes-issues/files/9297247/fix-kernels.gz) (gzipped Python script) on a system with many qubes.

### Expecte

[2022-08-10 10:06] andrewdavidwong commented on #1939
@unman has just shared some great work on this in the forum:

https://forum.qubes-os.org/t/simple-set-up-of-new-qubes-and-software/13064/

[2022-08-10 13:12] marmarek commented on #6923
I tried this quick workaround but it still failed to init:
[code]

I added also `dom0-iommu=strict iommu=verbose` to Xen, in hope to get some IOMMU page fault if that's really about address given to the device, but no failure got logged.
As for the "broken BIOS" message, it can be relevant. I'll try newer firmware, but I don't have high hopes. I haven't found any related option in firmware setting

[2022-08-10 14:00] marmarek commented on #6923
When I run the same Linux without Xen, I still get the "broken BIOS" message but then `tee enabled` and `psp enabled`.
(still old firmware)

[2022-08-10 14:34] isodude commented on #6923
I'm trying to patch tee-dev.c such that ring init does not fail, will probably spend some time with it tonight. Join me if you would like :)

[2022-08-10 15:49] 3hhh commented on #2724
I just added something like that [here](https://github.com/3hhh/qubes-terminal-hotkeys/blob/master/util/qubes-pactl).

However the default on VM start should still be "muted" as that approach doesn't help with disposable VMs started later.

[2022-08-10 16:24] brendanhoar commented on #2724
Agreed.

Leaning toward auto-muting disposables (or perhaps all VMs?),  perhaps controlled by a global setting (or two)?

Default setting might be audio enabled but guide could reference changing the flag (for vulnerable users). Really a development team call.

B

[2022-08-10 17:37] locriacyber commented on #7173
No. pacman can't find key CEDF003D544CCD1D1382E9138A871A1BBD7093EA remotely. Can I have a copy of key CEDF003D544CCD1D1382E9138A871A1BBD7093EA?

[2022-08-10 17:38] locriacyber commented on #7173
closing as fixed

[2022-08-10 17:38] #7173 closed

[2022-08-10 20:56] patranger opened #7684 "Call for shutting down all VMs by closing sys-net"
### The problem you're addressing (if any)
Apparently, such a function is somewhere in the terminal, but it would be very useful in the GUI if closing the lowest VM, e.g. sys-net, shutting down all machines that are based on it.

[2022-08-10 21:04] lubellier commented on #7173
@locriacyber this key is in the [qubes-builder-archlinux](https://github.com/QubesOS/qubes-builder-archlinux/blob/master/keys/qubes-repo-archlinux-key.asc) git repository.

[2022-08-10 22:23] marmarek commented on #6923
So, I found one more place that needs similar patch, https://gist.github.com/marmarek/0d14a340d7045f21d8c1c35ccad4c6c4.
Now I get:
[code]

But the resume issue is still there

[2022-08-11 00:05] DemiMarie commented on #6923
@marmarek looks like `__psp_pa()` is broken on Xen.  Better to change it once than everywhere.

[2022-08-11 00:29] DemiMarie opened #7685 "Ensure that each VM has private SSH and TLS keys"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

TemplateBasedVMs use the same SSH and TLS private keys as their TemplateVMs by default

### The solution you'd like

Each Qubes VM should have SSH and TLS keys that are specific to that VM, and not available in other VMs.

### The value to a user, and who that user might be

All

[2022-08-11 00:35] DemiMarie opened #7686 "Forbid non-standalone Windows VMs from being domain joined"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Joining a Windows TemplateVM or TemplateBasedVM to an Active Directory domain, or to Azure Active Directory, will never work.  The reason is that both of these rely on configuration, including secrets, that must be unique to a given machine.  Having two Windows VMs with the same

[2022-08-11 01:34] DemiMarie opened #7687 "Randomize Windows passwords at every boot"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Windows relies all over the place on user passwords being high-entropy secrets.  This fails to hold in Qubes OS.

### The solution you'd like

Windows qubes, other than StandaloneVMs, should have passwords for all user and service accounts set to random values at boot _or_ disab

[2022-08-11 01:39] DemiMarie opened #7688 "Document that NetVMs of Windows VMs must be trusted"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)

Windows VMs use a netfront driver that is not hardened against attacks by a malicious netback driver.  Worse, #7687 means that if a Windows VM is running any of a variety of network services, any other Windows VMs based on the same template could attack it easily, needing only t

[2022-08-11 02:19] andrewdavidwong commented on #7684
This is extremely closely related to #7427. As mentioned in that issue, the Qube Manager already does this, but I'm guessing the Domains widget doesn't for some reason, which prompted you to open this issue.

[2022-08-11 06:48] isodude commented on #6923
Oh, better to override the `#define` you mean. Well, it worked on my system rocking Xen 4.14.5, so it will make it better for folks anyhow. No resume still though. I'm trying to get my kernel to work properly now with some more kernel options. I'm running a much later linux-firmware so I hope that will yield some different results.

[2022-08-11 08:25] k4z4n0v4 commented on #6923
(Thanks a lot for your efforts on this guys.)

[2022-08-11 11:53] marmarek opened #7689 "user session is not "active" if passwordless root access is disabled"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

`loginctl` reports user session as "State: online" instead of "State: active". This breaks (at least) access rights for devices with `TAG+"uaccess"`.
Activating session manually works only from root, from user it gives:
[code]

### Steps to reproduce

1. Take Debian minimal t

[2022-08-11 11:56] locriacyber commented on #7173
@marmarek Can you sign the key above?

[2022-08-11 12:03] marmarek commented on #7173
It is signed indirectly by being in a signed git repository. I'll not sign it with official qubes key, as Archlinux is a [community template](https://www.qubes-os.org/doc/templates/).

[2022-08-11 12:09] isodude commented on #6923
Compiled the patch I commented in the amd issue and manage to boot it such that psp: enabled. I also compiled with CONFIG_AMDTEE. Same problem.

I will try with drm.debug to see if I can reproduce what marmarek noticed. I figure that we may have some problem in dma_fence in amdgpu.

[2022-08-11 12:34] unman opened #7690 "Update Tool reports failure on Fedora minimal templates"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Updating Fedora-minimal templates results in reported failure.

### Steps to reproduce
Install fedora-minimal template
Update with Update Tool

### Expected behavior
Update will complete wih nice Green Tick

### Actual behavior
Update completes wih bad Red Cross

Packages are in

[2022-08-11 12:40] unman opened #7691 "Make Qubes Update tool panes resizable"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### The problem you're addressing (if any)
The details pane on the Update tool is too small to see important information.
On this machine I see only 6 lines of text.(I do have many templates.)
I assume the template list is reducing the size of the "details" pane.

### The solution you'd like
Panes should resizable.
During

[2022-08-11 13:19] holiman commented on #7587
So, any pointers on how one accomplishes that?

[2022-08-11 13:33] isodude commented on #6923
Could this be related?

[code]

[2022-08-11 13:54] marmarek commented on #6923
I think remap_pfn_range handles addresses properly (if not - a _lot_ more things would be broken). Furthermore the failure is before userspace kicks in, so this specific one is unlikely related.

Anyway, for the resume issue, it sometimes work, so I don't think it's "wrong address" issue, more likely some missing locking/synchronization, or maybe some caching.

[2022-08-11 14:34] isodude commented on #6923
Make sense. Yeah, I also get actually working suspend/resume now, once. The TEE-fixes does some good at least.

I get problems with backlight on eDP not working after suspend.

Maybe also unrelated but I got

[code]

For me drm.debug=1 got worse rather than better.

[2022-08-11 14:36] isodude commented on #6923
As I wrote in a comment way up, I get better suspend/resume if I turn off Accel in Xorg and switch to a newer xorg-drv-amdgpu(because bugs in the current one). I shall test that once more to see how it works now. Maybe that could pinpoint the problem.

[2022-08-11 19:20] locriacyber commented on #7636
Turns out pressure is not supported. https://forum.qubes-os.org/t/support-for-pressure-sensitive-pen-tablet/6098/6

[2022-08-11 20:15] 3hhh commented on #2724
As this issue is 5 years old, I rediceded and added a daemon to execute arbitrary code - incl. VM mutes - on VM starts, stops, ... etc. [here](https://github.com/3hhh/qubes-callbackd),

[2022-08-11 21:33] xaki23 opened #7692 "no audio output in debian-12 VMs"
### Qubes OS release

4.1

### Brief summary

debian-12 based VMs produce no audio output because the vchan-sink module is not loaded

### Steps to reproduce

* upgrade a debian-11 to debian-12/testing
* try to generate audio output
* silence
* pavucontrol doesnt show qubes vchan sink, just the dummy one

### Expected behavior

* working audio output

### Actual behavior

* no audio output

### ro

[2022-08-11 22:22] isodude commented on #6923
A bit more testing is need but I do have sort of stable suspend/resume now. It even survives when everything goes south.
There's a bit of tearing, but I'd rather have suspend than tearing.

[code]

Compile `xorg-x11-drv-amdgpu` from https://github.com/freedesktop/xorg-xf86-video-amdgpu
install `amdgpu_drv.so` (and `amdgpu_drv.la`?) in `/usr/lib64/xorg/modules/drivers`.

I'll upload the journal to

[2022-08-11 22:31] TheWanderer1983 commented on #7130
This works really well in R1. You can easily add other types to open with via the handlers.json file or directly in thunderbird via right clicking. Thank you @marmarek

[2022-08-11 22:34] DemiMarie commented on #7587
`systemctl disable lightdm.service` and `qvm-prefs sys-gui-gpu autostart True` should do that.

[2022-08-12 04:04] andrewdavidwong commented on #7690
I also see this intermittently. I usually just wait and try again later, then it eventually succeeds.

[2022-08-12 04:34] andrewdavidwong commented on #7689
As discussed with @marmarek, this seems to affect only Debian-minimal, not Fedora-minimal.

[2022-08-12 06:17] DemiMarie commented on #7689
I think it is better to add `libpam-systemd`; it’s a tiny package and the UX benefit is worth it.

[2022-08-12 08:01] isodude commented on #6923
Sadly, it didn't survive the night, no logs just rebooted.

I also calculated the power draw, 1.25Wh, I think it should be 0.1Wh. :) I never do get the units correct, but it drew 10Wh over 8h.

[2022-08-12 08:11] isodude commented on #6923
I've always found it interesting that Xen turns off preemption while desktop have it on. I sort of enabled preemption out of bad luck once and it was not pretty when booting. I never understood if it is a problem, but maybe amdgpu guys don't test too much with preemption off and assume it's existence.

[code]

[2022-08-12 08:43] TheWanderer1983 commented on #7130
I've been playing around with this a bit today. I noticed that If I attached a disp that didn't have a browser installed (firefox, librewolf etc) and I clicked a web link within a thunderbird email it would keep spawning multiple DISPs over and over. Instead of just attempting once and stopping.

[2022-08-12 08:58] holiman commented on #7587
I tried that, unfortunately the effect of sys-gui-gpu autostart seems to be that it crashes earlier, immediately during boot. So now my system is roughly in the same shape as original reporter of this ticket :)

[2022-08-12 09:36] isodude commented on #6923
Oops, I had preempt=voluntary. I'm testing with preempt=none now.

[2022-08-12 09:37] holiman commented on #7587
Oh, just saw this in my `guest-sys-gui-gpu.log`:

[code]
Might be why the gui vm dies.

[2022-08-12 10:04] marmarek commented on #7130
I believe this is https://github.com/QubesOS/qubes-issues/issues/7046

[2022-08-12 10:35] #7123 closed

[2022-08-12 17:24] andrewdavidwong commented on #7689
I disagree. The _raison d'être_ of minimal templates is to be _minimal_. "Tiny" and "UX benefit" are not principled reasons to add a package to a template the primary purpose of which is to be as minimal as possible. If we added every tiny package with a UX benefit, the template would no longer be minimal at all. It would be quite bloated, and there would be little reason for it to exist in additi

[2022-08-12 18:52] sysfu commented on #5484
Any progress in adding this capslock key remapping to System Tools -> Keyboard?

Setting up Qubes for the first time today and not being able to remap the idiot key as CTRL is driving me crazy.

[2022-08-12 22:14] DemiMarie commented on #7587
@holiman what kernel version are you using?  Try `kernel-latest-qubes-vm` or the in-VM kernel.

[2022-08-13 06:46] isodude commented on #6923
Ok so, I'm not saying it's perfect, but I was able to resume the laptop this morning (although I had to enter the password without the secreen turning on and then switching to tty2).

1660342053 VOLTAGE_NOW=11663000 POWER_NOW=13552000 ENERGY_NOW=35380000
1660372762 VOLTAGE_NOW=11139000 POWER_NOW=12820000 ENERGY_NOW=25770000

So I get 312Wh, seems better than ~1000, not good by any standard though.

[2022-08-13 06:53] TheWanderer1983 commented on #7046
Here is another edge case that needs some sanity checks. I have a non disp qube that loads all my hyperlinks to a disp. It works great if the disp has web browser in it. It does the same infinite spawning of disps if no browser is present.

[2022-08-13 08:45] GWeck commented on #7687
This is especially important for some versions of Windows - not sure which ones - because they may store the password in cleartext in the registry (value `DefaultPassword` in key `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon`).

[2022-08-13 09:01] GWeck commented on #7686
This severely restricts Windows usage if personal data are processed (see [Windows 10 and 11 Usage According to GDPR](https://github.com/Qubes-Community/Contents/blob/master/docs/os/windows/windows-vm41.md#windows-10-and-11-usage-according-to-gdpr)). The GDPR requires that any telemetry is suppressed in this case, but, on the other hand, connection to Windows servers may be required from time to t

[2022-08-13 10:21] dylangerdaly commented on #7620
Okay so this confirms it's not a Lenovo specific UEFI thing, it's affecting all AMD Ryzen 6000 series CPUs. This is the _exact_ issue I'm having.

I've already written into the xen mailing list however I don't think anyone is running Xen on Ryzen 6000 yet, at all, if I had to guess it fees like a DMA/Memory violation issue.

[2022-08-13 13:48] rustybird opened #7693 "Opener VM shutdown no longer kills DisposableVM (until it tries to write on the stale qrexec connection)"
### Qubes OS release

R4.1, maybe late R4.0 too

### Brief summary

In R4.0*, when a VM that had opened a `@dispvm` was shut down this would kill the DisposableVM right away. But in R4.1* the DisposableVM will linger, until it is finally killed when it attempts to write data to the opener VM on the stale qrexec connection. This can be confusing [from a user's perspective](https://forum.qubes-os.or

[2022-08-13 15:29] DemiMarie commented on #7687
Even the ones that do not store the MD4 hash of the password, which is both equivalent to the password and very easy to brute-force.

[2022-08-13 16:15] GWeck commented on #7687
Microsoft never even heard of salting the password hash or of better algorithms. And this for a system that was derived from OpenVMS which did it right more than 10 years before. Shame on them!

[2022-08-13 16:42] marmarek commented on #7686
Alternative solution could be ensuring all those secrets are stored on private volume, instead of root volume. This will be some challenge and will require substantial knowledge of Windows internals, but in principle should be possible.

BTW, there are several tools for cloning the same Windows installation to multiple machines, but AFAIK all of them require joining an Active Directory domain only

[2022-08-13 17:21] DemiMarie commented on #7687
@GWeck Microsoft’s current recommendation is that individuals should log in via Microsoft accounts (which do use a better algorithm) and that domains should either use Windows Hello for Business or smart cards.  Of those, I consider smart cards to be the only reasonable option.

Part of the problem is likely backwards compatibility, but another part of it might be Microsoft trying to push everythi

[2022-08-13 17:25] Tonux599 commented on #7359
I fear there may have been a regression somewhere as today I reexperienced this issue. On kernel `5.15.52` and was unable to qvm-run on any AppVM even if restarting it. Effectively locking up my system until a reboot.

Errors noted included the `deferring g.e. 0x...` as well as `gntshr: error: ioctl failed: No space left on device`.

[2022-08-13 17:26] DemiMarie commented on #7686
A good first step would be to ensure this for Linux VMs, which is much easier (just use bind-mounts properly).  Then Windows VMs can be looked at.

That is what I expected.  This is an area where storage deduplication would be a big win, as it means that having a bunch of StandaloneVMs does not waste a massive amount of storage.

[2022-08-13 17:50] marmarek commented on #7686
But then, you'd need each of those StandaloneVMs connect to the internet from time to time (updates, licensing etc), which makes it significantly less useful (data safety if nothing else).

[2022-08-13 23:03] DemiMarie commented on #7686
Fair point.  I believe Microsoft’s recommendation for this is KMS + WSUS but only enterprises will have that.  That said, a domain-joined VM does need to reach its domain controller at least.

[2022-08-13 23:06] DemiMarie commented on #7359
Can you upgrade to a newer kernel and see if this fixes the problem?

[2022-08-14 02:18] andrewdavidwong commented on #6585
Ok, since it looks like the update has been in the stable repo for a while now, I'll remove that text from the doc page.

[2022-08-14 03:07] logoerthiner1 opened #7694 "fedora-36-xfce: "error retrieving current directory" when notifying dom0 about installed applications"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes R4.1

fedora-36-xfce

### Brief summary

In my template VM when I used dnf, it works but with complaints.

dnf operation shows:

[code]

### Steps to reproduce

1. Under fedora-36-xfce do dnf operations (for example update or install a package)

### Expected behavior

No complaints

### Actual

[2022-08-14 08:38] olafklinke commented on #7648
No gliches/crashes since the downgrade for me either.

[2022-08-14 09:09] marmarek commented on #7694
This looks like you started "dnf" while being in a directory that was removed. If that's really the case, dnf rightfully complains (although probably update worked).

[2022-08-14 09:31] GWeck commented on #7687
According to the German security standard IT-Grundschutz, the use of a Microsoft account is explicitly forbidden:
[code]
From a European point of view, this makes sense, as the transfer of personal data into a country that does not adhere to the GDPR is forbidden as long as there is no contractual agreement that the external partner obeys the GDPR. Currently, for a US firm like Microsoft, this is

[2022-08-14 10:56] isodude commented on #6923
It's interesting that if I just leave it and suspend/resume without connecting usb-c power it will work for quite a while. If I connect power it will just reboot (this last time I connected power during suspend etc back and forth. Next time I resumed it rebooted).

[2022-08-14 11:24] Tonux599 commented on #7359
Hi @DemiMarie,

To confirm reproducibility, on kernel `5.15.52` (for both dom0 and AppVM's) running `qvm-run {appvm} echo` causes `deferring g.e. 0x...` in dmesg for dom0. **Also** resizing a window in said AppVM causes `deferring g.e. 0x...` messages in dmesg for that AppVM.

I can confirm that using kernel `5.18.9` (for both dom0 and AppVM's) causes these error messages to stop. **However**, res

[2022-08-14 11:37] andrewdavidwong commented on #2287
This problem has gone away for me on 4.1. Anyone else still experiencing it?

[2022-08-14 11:39] andrewdavidwong commented on #3964
This problem seems to have gone away for me on Qubes 4.1.

[2022-08-14 12:52] Warthog-Capital opened #7695 "Firefox window content freezes randomly"
### Qubes OS release

4.1.1

### Brief summary

While using Firefox on the Fedora 35 and 36 XFCE templates, sometimes the window content freezes. However, the window _title_ still changes when clicking on different tabs, and when switching between windows, the window content is updated as well. Closing and opening Firefox again solves the problem for the moment.

### Steps to reproduce

1. Open Fi

[2022-08-14 15:03] marmarek commented on #7359
Those `deferring` messages are kind of expected, only `still pending` are worrying. It seems journald logs `printk(KERN_DEBUG ...)` messages just like any other, and it isn't obvious to distinguish them from actual errors by normal user. @DemiMarie can you change that to `pr_debug`, so it would be disabled by default? The `leaking` and `still pending` should be still logged by default.

As for `WA

[2022-08-14 15:48] Tonux599 commented on #7359
Thanks @marmarek good to know.

Having a look at the logs from yesterday when the lockup happened and noticed also the following, is this any concern?

`xen:grant_table: xen/grant-table: max_grant_frames reached cur=2048 extra=1 limit=2048 gnttab_free_count=0 req_entries=1`

If I recall correctly a hotfix for this issue used to be to increase `/sys/module/xen_gntalloc/parameters/limit`. So not sur

[2022-08-14 22:28] isodude commented on #6923
I looked up this, and it seems like there's an assumption from my part that preempt=none. Marmerek enabled preempt=voluntary in Qubes 3. I guess that setting preempt=none is a red herring that the problems are related to latency.

[2022-08-14 23:32] DemiMarie commented on #3964
Yup, should be fixed in R4.1.

[2022-08-15 03:02] larryswinger commented on #7677
How much memory should I allocate to dom0, sys-net, sys-firewall, and sys-whonix?

[2022-08-15 05:53] andrewdavidwong commented on #3964
This issue has been closed as resolved. If anyone believes this issue is not yet resolved, or if anyone is still affected by this issue, please leave a comment, and we'll be happy to reopen it. Thank you.

[2022-08-15 06:22] logoerthiner1 commented on #7694
I was in a `~/QubesIncoming/sourcevmname` directory since I have copied several rpms to be installed additionally.

[2022-08-15 06:39] logoerthiner1 opened #7696 "Occasionally unable to legally shutdown - kernel is soft locked up"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes OS R4.1, dom0 kernel 5.15.52

### Brief summary

[code]

Seems to be related to unmapping of various resources.

### Steps to reproduce

Unsure what is related in order to reproduce this.

Things related:

1. I have built a new template and cloned it onto a thin pool bound to my SSD.

2. I had

[2022-08-15 07:36] holiman commented on #7587
I was using `5.18.9-1`, which was the latest at time of writing.

[2022-08-15 10:25] tommytran732 commented on #5461
@fepitre Do you mind bumping the LKRG version on the COPR? It is a couple versions behind now :)

[2022-08-15 12:41] fepitre commented on #5461
Sure. How things are going on Fedora with it?

[2022-08-15 13:05] tommytran732 commented on #5461
It works okay, though annoyingly `dnf copr` does not automatically get proxied through http://127.0.0.1:8082 in the template VM

[2022-08-15 13:43] fepitre commented on #5461
It's updated.

[2022-08-15 14:41] resulin commented on #7695
I experience the same bug from time to time, but it's hard to find a way to reliably reproduce it.

[2022-08-15 17:31] qubeqube2 opened #7698 "Feature request (qvm-volume): Pin volume revisions"
### The problem you're addressing (if any)
In my optinion `qvm-volume` is a totally underrated tool for quick qube backup and restore - it's fantastic! Unfortunately it is very easy to accidently overwrite volume revisions that you want to keep as stable backup by just restarting the qube a couple of times.

Having multiple revisions with
[code]
is a workaround, but no safe solution.

### The solu

[2022-08-15 19:07] holiman commented on #1396
I am also having this problem, it appeared pretty recently (after upgrade to 4.1). Am on 4.1. `5.8.9-1` kernel. Use En and SE layouts, and double-shift to switch, but it does not propagate from dom0.
Also on `i3`, and `qvm-start-daemon --all --watch` is running.

[2022-08-15 20:13] bashlund commented on #1396
I noticed you poppin by @holiman, so I though it's time to share a snippet which works good as a workaround on this issue :)
The ideas to the snippet come from this thread.
It solves the problems by the user hitting a keyboard shortcut and the script then sets the keyboard layout in all VMs.

Whenever my layout totally breaks I just hit the shortcut two times to get back to the layout I was using,

[2022-08-15 22:43] marmarek commented on #1396
The layout switching involves several parts:
1. `qvm-start-daemon` monitors `_XKB_RULES_NAMES` and `XKLAVIER_ALLOW_SECONDARY` properties on the root window ( you can check with `xev -root -event property` if they change)
2. Then, it adjusts `keyboard_layout` property on dom0 (check with `qvm-prefs dom0 keyboard_layout`)
3. Then, it's transferred using qubesdb to relevant VMs, where `qubes-keymap.s

[2022-08-16 03:20] tlaurion commented on #1957
I think apt-cache as bundled per @unman deserves way more attention.

Even more since shaker project (which salts otherwise complex user cases) including this caching proxy.

@marmarek : @unman now releases the package under his own repo, alongside other spec files that deploys salt scripts and actually deploys them as post install scripts.

cacher is one if those packages.

As referred in a close

[2022-08-16 03:41] tlaurion commented on #1939
@ninavizz @DemiMarie yesssss!

https://qubes.3isec.org/tasks.html

[2022-08-16 04:00] #7386 closed

[2022-08-16 04:11] tlaurion commented on #4318
@madscientist159 I see no commit in the branch. Any timeline, updates?

[2022-08-16 04:35] tlaurion commented on #858
Houla.

Sparsebak is now called wyng and is alive.

@tasket, maybe you can give an update here on the status of the project?

[2022-08-16 06:33] holiman commented on #1396
Interesting!

As far as I can tell, it's `1)` which is failing. If I switch layout, then indeed it works in dom0, but the `qvm-prefs dom0 keyboard_layout` does not change. The `xev -root -event property` only reacts when the cursor moves from one application screen to another.

At this point, I exited `i3`, and started an `xfce` session instead. In `xcfe`, the `xev -root -event property` _did_ emi

[2022-08-16 09:21] adrelanos commented on #1778
Yes.

Not before Debian `bookworm` becoming the next Debian stable.

[2022-08-16 17:51] madscientist159 commented on #4318
@tlaurion I had a sync meeting with @Rspigler not too long ago, the upshot is that it's in progress but a couple of other projects currently have priority due to BTC plummeting in value (basically I'm having to do this in spare time at the moment).

As soon as possible I would like to get an update out to the public repositories, but I don't have a timeframe just yet,

[2022-08-16 20:41] gp397 opened #7699 "rc.local scripts sometimes fail if they depend on qrexec"
### Qubes OS release
4.1 fully patched, example using Fedora 36 template

### Brief summary
In my /rw/config/rc.local script I use qrexec to attach a device and mount it.  This sometimes fails because qrexec fails to open a socket because the qrexec agent has not yet started.

### Steps to reproduce
Write an rc.local script that uses qrexec in some way.

Observe that qubes-misc-post.service someti

[2022-08-16 20:41] gp397 commented on #7699
$ cat /usr/lib/systemd/system/qubes-misc-post.service
[Unit]
Description=Qubes misc post-boot actions
After=network-pre.target qubes-mount-dirs.service qubes-network.service qubes-firewall.service qubes-qrexec-agent.service

[2022-08-16 22:05] DemiMarie commented on #7699
You can use systemctl to express an ordering dependency.

[2022-08-17 05:00] tasket commented on #858
Yes, Wyng v0.3 has been [released.](https://github.com/tasket/wyng-backup)  This version is "bring your own encryption".

Wyng v0.4 is in development with a usable alpha available.  It offers encryption, although it has not yet been reviewed by a cryptographer.  Apart from crypto, its intended to be more flexible, more efficient and easier to use.  For example, archives are now specified on the co

[2022-08-17 06:53] TheWanderer1983 commented on #7046
Was there recently an update to this? Everything was working for me but now only opening attachments work as expected. Any hyperlinks clicked from emails now are causing the infinite open of disps.
I disabled the service and tried using using the DisposabelOpen.desktop method with the mimeapps.list all pointing to the disposable. I then added
 the /etc/qubes/policy.d/30-user.policy
qubes.OpenInVM

[2022-08-17 13:07] TheOne-Z commented on #7664
I can confirm the above, I'm also affected by this.

[2022-08-17 15:42] ayakael commented on #7323
Quick update on this project: I've been running Alpine Linux as my Qubes OS template for a few weeks now, and so far it's been quite a success! I've (moslty) reached parity with my personal Fedora-based template, so I'm quite happy with this development. I have felt like Qubes using the template is snappier, but that might be placebo. The next big hurdle is implementing the `qubes-builder` hooks f

[2022-08-17 17:23] ayakael commented on #7323
For those who wish to test the template in its current state, I've written a guide on how to create an Alpine Linux template [here](https://gitlab.alpinelinux.org/ayakael/qubes-alpine). I havn't tested the procedure, but I'm fairly certain that I havn't forgotten anything. If you hit a wall, open an issue [here](https://gitlab.alpinelinux.org/ayakael/qubes-alpine/-/issues).

[2022-08-17 17:40] ng0177 commented on #3590
I figured the HDMI vs DVI cable to be the culprit. The following settings on a DVI cable (only) on fairly recent hardware gets my monitor into power-saving:

1. Power Manager
	Display Power Mangement: OFF
2. Screensaver
	Mode: Blank Screen Only
        Advanced:
               Power Management: ON
               Quick Power: ON

[2022-08-17 21:15] andrewdavidwong commented on #7470
This still happens on occasion. When I look to see why my backup script failed, I see it's because Qubes failed to detect the USB external hard drive connected to `sys-usb`:

[code]

@DemiMarie, could you tell me how to find the logs?

[2022-08-17 22:35] DemiMarie commented on #7470
@andrewdavidwong: `journalctl -b` in `sys-usb`

[2022-08-18 11:33] logoerthiner1 opened #7700 "qvm-block loopback device cannot be removed"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1

### Brief summary

dom0 `sudo losetup -f --show /path/to/some/file` creates a term in `qvm-block`/`qvm-device`. `sudo losetup -d /dev/loopx` to cancel the device does not remove the device.

This is a bit of experimenting based on [this](https://www.qubes-os.org/doc/how-to-use-block-storage-dev

[2022-08-18 14:53] logoerthiner1 commented on #7663
Update: kernel 5.18.16 also sees the issue.
[code]

The first issue seems to be related to suspension, as it appears when suspend happens.

Therefore the driver still have problem when "Qubes-OS-guest-suspension". Such driver should have no problem on native linux machine, for example native ubuntu. It seems that Qubes OS calls different API (unbinding) from other distro (normal suspension?) on su

[2022-08-18 16:11] loztcf commented on #7481
Sadly I can't do anything. It freezes completely I'm even unable to reboot via using SysRq. Tested several times over the last few weeks.

[2022-08-18 19:09] tlaurion commented on #938
@andrewdavidwong : That question on preventing sys-net to leak hostname pops up really frequently on the forums.
The solution is documented at https://github.com/Qubes-Community/Contents/blob/master/docs/privacy/anonymizing-your-mac-address.md#prevent-hostname-sending, but who needs documentation when the defaults could be implemented at really low cost. Afterall, all this documentation https://gi

[2022-08-18 19:48] tlaurion commented on #938
@andrewdavidwong
debian-11:
[code]
Fedora-34(35):
[code]

@adw: I'm not sure why WIFI hotspots under my control are not showing any sys-net hostname anymore, but would love to know if some hidden hostname leak prevention were implemented under Qubes/by default under NetworkManager which is not using dhcp local configurations? @marmarek ?

[2022-08-18 19:57] tlaurion commented on #938
As for issue closing completeness and transparency
- MAC randomization is default in Q4.1 per https://github.com/QubesOS/qubes-core-agent-linux/pull/297
- Unclear if hostname leak prevention is implemented by default or not, and is a general concern still today from the community (see above two posts)

[2022-08-18 22:53] JarrahG commented on #3964
I just experienced this one **with** an unexpected hard shutdown right in the middle of a `qubesctl update.qubes-vm` on an otherwise up-to-date r4.1 install (updated from an alpha build).

I can confirm Tasket's vgcfgbackup/restore solution followed by deleting all `*-snap` and `*-volatile` images has the system working again.

[2022-08-18 23:28] andrewdavidwong commented on #938
It sounds like you agree that the topic of this issue (MAC randomization) has already been addressed.

The other topic sounds like it should probably be a separate issue.

[2022-08-19 01:53] tlaurion opened #7701 "Hostname leak prevention"
Qubes 4.1.1

@andrewdavidwong : That question on preventing sys-net to leak hostname pops up really frequently on the forums.
The solution is documented at https://github.com/Qubes-Community/Contents/blob/master/docs/privacy/anonymizing-your-mac-address.md#prevent-hostname-sending, but who needs documentation when the defaults could be implemented at really low cost. Afterall, all this documentati

[2022-08-19 02:27] marmarek commented on #6656
This is already fixed in https://github.com/QubesOS/qubes-app-linux-split-gpg/commit/8d33d4d78f95df67dd5ed894d8c598ed45aa4015

[2022-08-19 02:27] #6656 closed

[2022-08-19 05:06] DemiMarie commented on #3964
This one is going to be hard to track down.  If it happens again, please provide:

- The (redacted, if needed) output of `sudo lvm lvs`
- Whether `systemctl restart qubesd.service` helped.

[2022-08-19 09:28] TheWanderer1983 commented on #7046
Turns out it was this issue after all. Sorry to flood this issue.  I removed the ~/.local...qvm-open-in-dvm.desktop and /usr/share/applications... desktop from the disp and it now works again. I should of dug deeper before posting here. It was a little strange given it fixed itself after I installed a browser in the disp and then just stopped working with no changes to the disp or the thunderbird

[2022-08-19 10:43] Rot127 commented on #7648
Unfortunately I now experience the same crashes with the downgrade firmware.
[code]

[2022-08-19 14:22] techge commented on #6935
This issue seems to be resolved, isn't it? Just got here in a search for problems...

[2022-08-19 14:37] unman commented on #6935
Yes, it is.
Arch builds OK.

[2022-08-19 14:58] techge commented on #6611
I guess this can get closed then, OP reacted with thumbs up...

[2022-08-19 16:05] greenrd opened #7702 "Mouse events occassionally sent to window behind popup window, instead of popup window itself"
### Qubes OS release
4.1.1

### Brief summary
Occasionally, I'll get a popup, e.g. from Google Calendar in Chromium, that does not respond to clicks. However, it is clear that Qubes is sending the click events to the window underneath the popup window, because things happen that would have happened if I had clicked at that place on the screen and the popup window had not been present.

### Steps t

[2022-08-19 16:27] DemiMarie commented on #6935
Closing as this bug appears to be fixed.

[2022-08-19 16:27] #6935 closed

[2022-08-19 16:55] unman commented on #7702
Is duplicate of #6253?

[2022-08-19 18:53] DemiMarie commented on #7702
Yes, which is itself a duplicate of #3267.

This is a fundamentally hard problem because of the use of a nested X server.  The correct solution is to send events to windows directly, instead of relying on Xorg’s event routing.  This is probably not feasable for X11.  However, this is simply a non-issue under Wayland, since the Wayland agent _is_ the display server there.

[2022-08-19 18:53] #7702 closed

[2022-08-19 20:17] fepitre commented on #7138
I think this issue can be closed now. Feel free to reopen it if it still happens.

[2022-08-19 20:17] #7138 closed

[2022-08-19 20:21] #6611 closed

[2022-08-19 20:22] DemiMarie commented on #7533
Is this still an issue in 4.1 @andrewdavidwong?

[2022-08-19 20:24] DemiMarie commented on #3496
Presumably still an issue in R4.1.  Validating qube names during command line option parsing is a misdesign IMO, and causes other problems as well.  For instance, `qvm-shutdown DoesNotExist` emits a usage message.

[2022-08-19 20:27] DemiMarie commented on #6387
The original problem has likely been fixed, as the Arch template keeps requiring support for newer and newer PulseAudio versions.  The more general problem is that PulseAudio modules use an unstable API, and this will be fixed when Qubes OS switches to PipeWire.

[2022-08-19 20:27] #6387 closed

[2022-08-19 20:30] DemiMarie commented on #3710
Closing as there have been no updates in over 4 years and R4.0 is end of life.

[2022-08-19 20:30] #3710 closed

[2022-08-19 22:46] andrewdavidwong commented on #7702
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-08-19 22:47] andrewdavidwong commented on #7533
Yes, definitely.

[2022-08-19 22:53] andrewdavidwong opened #7703 "Occasional update error: `/bin/bash: line 32: file: command not found`"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

Update via `qubesctl` occasionally returns `stderr: /bin/bash: line 32: file: command not found`.

### Steps to reproduce

Update templates with:

[code]

(I observe this with Debian 11 minimal templates because that's mainly what I use. I don't know whether it affects

[2022-08-19 22:54] andrewdavidwong commented on #7703
Since it only happens occasionally, my guess is some kind of race condition.

[2022-08-20 04:55] SurFlurer commented on #6923
Thank you for your efforts! I compiled `xorg-x11-drv-amdgpu`, but found no output file called `amdgpu_drv.so`, only `amdgpu_drv.la`. Is there anything I can do to test more?

[2022-08-20 10:19] 3hhh commented on #7700
This is a dup of #7000.

[2022-08-20 10:43] SurFlurer commented on #6923
`make install` did the trick for me. I got `amdgpu_drv.so` from `/usr/local/lib/xorg/module/driver/`. Now I can confirm that this fix really works. With new `amdgpu_drv.so` , `50-video.conf` and official stable dom0 kernel 5.15, I have working suspend/resume too! It's solid S3 sleep. I will test battery consumption soon. However, I also experience slight tearing, as you have mentioned above. But t

[2022-08-20 16:16] tlaurion commented on #7701
Following the above comments, it seems that fedora template, not containing any `send-hostname` statement, is the reason no hostname shows on my WiFi router for my randomized mac address.

I didn't do anything special here then selecting the defaults at install to create my disp sys-net based on fedora.

Not related, but following each new fedora template download or following in place upgrade and

[2022-08-20 16:20] andrewdavidwong commented on #7700
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-08-20 16:20] #7700 closed

[2022-08-20 17:20] andrewdavidwong opened #7704 "Whonix template updates frequently encounter `Could not connect to 127.0.0.1:8082 (127.0.0.1). - connect (113: No route to host)`"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

Qubes 4.1.1

### Brief summary

When attempting to update Whonix templates, I _frequently_ -- but _not always_ -- encounter:

[code]

### Steps to reproduce

[code]

**Note:** This is done *after* updating via `qubesctl` and restarting the FirewallVM.

### Expected behavior

Normal update output.

##

[2022-08-20 18:17] ioleo commented on #5484
No progress on my end. I actually ended up removing Qubes OS a while ago due to a heisenbug with all appVms suddenly failing to start (and as this is my working machine, I could not afford another week lost on backups and reinstalls). Although I hope to come back once I have another machine,

[2022-08-20 18:47] SaswatPadhi commented on #7459
Looks like this is fixed in 5.18.16.

[2022-08-20 19:58] moiselazarus commented on #5484
I use a perfect tool for it: keyd; https://github.com/rvaiya/keyd. I remap capslock, space... there are endless possibilties: Layers, Key overloading ... The good thing, it works the same way in qube-vm terminals, but there are exeptions. I compile it in a fedora-qube and copy it to dom0.

[2022-08-20 21:43] SaswatPadhi opened #7705 "`qvm-appmenus --remove` on dispvm templates leads to `xdg-desktop-menu` error"
### Qubes OS release

R4.1 (4.1.1)

### Brief summary

`qvm-appmenus --remove` on dispvm templates errors out on a `xdg-desktop-menu` call.

### Steps to reproduce

1. Create a new AppVM, say `test-dvm`
2. `qvm-prefs test-dvm template_for_dispvms true`
3. `qvm-features test-dvm appmenus-dispvm 1`
4. `qvm-appmenus --create test-dvm`
5. `qvm-appmenus --remove test-dvm`

### Expected behavior

Appmen

[2022-08-20 21:55] ido commented on #7350
Past the disk password screen, when you get into Xorg, add an Intel device section to your Xorg config, and set i915.force_probe=* (or set it to =XXXX where XXXX is the ID you get from the relevant dmesg output) in your kernel cmdline in the grub config. These two configuration changes resolved the pixelation, video lag, and slowness for me and got hardware rendering working with igfx.

Plymouth,

[2022-08-21 09:42] taradiddles commented on #3496
Yes: `--quiet` is ignored + wrong exit code (`2`: same as "unrecognized arguments" error code)

[code]

Temporary workaround: `qube=somevm ; qvm-ls --raw-list | grep -q "^${qube}$" && [...]`

[2022-08-21 11:17] gasull commented on #1951
Is there any way to have this in the template, so it's executed automatically in al VMs?

I tried `/etc/rc.local`, `/etc/bash.bashrc`, `/etc/xprofile`, etc.

[2022-08-21 11:35] taradiddles commented on #1951
Try with a .desktop file in /`etc/xdg/autostart/` - that's how I launch most custom stuff in templates.
(I'm not sure pipes in the exec line would work though - if so put an executable shell script with the `echo...` command somewhre and exec it in the .desktop file).

A systemd service (user session) should probably work too ; testing/migrating from xdg stuff is on my TODO list for a bit of time.

[2022-08-21 13:28] unman opened #7706 "Whonix uses deprecated /etc/qubes-rpc/policy file"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Turning on updates over Tor enables a file under /etc/qubes-rpc/policy in dom0

### Steps to reproduce
Turn on updates over Tor

### Expected behavior
File will be created/edited under /etc/qubes/policy

### Actual behavior
File will be created/edited in /etc/qubes/policy/qubes.

[2022-08-21 14:09] isodude commented on #6923
Glad it's working :)

I am compiling LLVM/MESA with some new patches that could have an effect. Sadly they're huge projects so will probably take some time. I'll ping back here if that effort does anything good.

[2022-08-21 14:10] DemiMarie commented on #1951
There are two approaches to this I can think of:

1. Use SR-IOV capable graphics hardware, such as Intel Alder Lake.  This is the best approach, but will only support a small variety of hardware.  It also will only be able to provide acceleration to a limited number of VMs, and currently relies on out-of-tree Linux patches.
2. Once the GUI daemon switches to Wayland, it might be possible for qubes

[2022-08-21 14:51] maltfield commented on #6611
OP here. I was not able to fix this issue. I used a mouse.

And I've since ditched the Asus for a ThinkPad. It works much better with QubesOS..

[2022-08-21 19:04] tlaurion commented on #7701
For consistency, community instructions on how to randomize hostname were removed under https://github.com/Qubes-Community/Contents/pull/203/commits/4ea74cec079439ac9ccc2054bfc4a11d69da4333

It would make sense that all templates remove  `/etc/dhcp/dhclient.conf`, as it is the case for Fedora templates, so that the behavior is the same for all sys-net based templates.

[2022-08-21 19:22] tlaurion commented on #938
@andrewdavidwong : This should have been part of 4.1 releases notes:
https://github.com/QubesOS/qubes-core-agent-linux/pull/297#issuecomment-922134410

This is currently applied by Debian and Fedora templates only.

Current states of things: https://forum.qubes-os.org/t/change-mac-address-and-hostname-by-default/13182/19

[2022-08-22 01:22] marmarek commented on #6923
https://github.com/QubesOS/updates-status/issues/3034 - updated xorg-x11-drv-amdgpu package is available in current-testing repository.

[2022-08-22 01:25] marmarek opened #7707 "sys-usb crashed on suspend with 5.19.2 kernel"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

R4.1 with kernel from https://github.com/QubesOS/qubes-linux-kernel/pull/632

### Brief summary

sys-usb panics when unbinding xhci driver from the device

### Steps to reproduce

1. Install 5.19.2 kernel
2. Try to suspend the system.

### Expected behavior

normal suspend

### Actual behavior

[code

[2022-08-22 03:23] gasull commented on #1951
This didn't work.

This did work.  What I did, more exactly, is this:

[code]

[code]

[2022-08-22 09:58] z01999 commented on #7653
same issue , even after upgrading to alsa-sof-firmware-2.1.1-1 , audio just working in one AppVM !

[2022-08-22 10:01] z01999 commented on #7634
same issue , even after upgrading to `alsa-sof-firmware-2.1.1-1` , audio just working in one AppVM ! #7653

[2022-08-22 11:09] marmarek commented on #7634
Working in just one AppVM suggests your sound card is attached to it directly. Go to that AppVM settings and check if you have it added in "devices" tab. If so - remove from there, and reboot.

[2022-08-22 11:57] z01999 commented on #7634
Thank you , i checked every qube in my system and none of them attached to audio pci device , this like trigger , one vm turn off the sound of another vm .

[2022-08-23 01:11] DemiMarie commented on #5056
I suspect this has been fixed in R4.1 unless someone can reproduce it.

[2022-08-23 01:11] #5056 closed

[2022-08-23 10:23] patranger commented on #7433
@DemiMarie
Today I downloaded new ISO of Qubes 4.1.1 from https://ftp.qubes-os.org/iso/
and this bug still exist. When can I expect it to be fixed? Version 4.0.4 is no longer supported and I wanna install fresh 4.1.1.

[2022-08-23 10:31] marmarek commented on #7433
`could not insert 'floppy'` message is hamless. The actual issue is somewhere else, and probably related to `Failed to start udev Wait for Complete Device Initialization"

[2022-08-23 15:59] johnnyboy-3 commented on #6923
Ryzen 2400G here. Cannot confirm.
Tried the updated xorg-x11-drv-amdgpu from qubes-dom0-current-testing. With preempt=none. And modified 50-video.conf
Lightdm wouldn't even boot up, landed on tty1.

Commented out Option "AccelMethod" "none" which seemed to cause Xorg to fail.
Looked fine, tried suspend. Same error as before. Either instant black screen on resume or after a couple of seconds.

[2022-08-23 21:49] n0madK commented on #7648
Does your system still stay up after it crashes or does it reboot? At the moment, even with the downgraded firmware I am very unstable on a Ryzen 7 4750U with kernel-5.18.9-1 and linux-firmware-20211216. Doing anything graphical like meetings, heavy websites, youtube, etc will result in a lockup and system reboot randomly in 1-30 minutes.

[2022-08-23 23:07] Rot127 commented on #7648
It stays up the first and mostly the second time (can work for a few hours usually before the first freeze happens). The next crash it hangs up (no reboot, hard reset needed).
I cannot confirm it but not having an additional screen connected via HDMI seems to help. Can't say for sure so. But maybe you want to try this.

@qufo418 Would you be so kind and put your logs into a spoiler. You can do it

[2022-08-23 23:39] andrewdavidwong commented on #7254
I'm not sure if I'm experiencing the same bug, but I occasionally get this error message when updating dom0 via `qubesctl`:

[code]

[2022-08-24 01:18] DemiMarie commented on #7695
@SchnWalter I recommend copying the files to a disposable VM first

[2022-08-24 04:25] DemiMarie commented on #7254
This is expected @andrewdavidwong.

[2022-08-24 06:12] isodude commented on #6923
Not really no. It should really be solved with v22. Care to share conf/Xorg-log?

[2022-08-24 07:02] johnnyboy-3 commented on #6923
Just tested compilation from source. Behavior was different.

Was able to disable the screensaver. But all was laggy and unresponsive, tearing appeared (as described by others).
Became worse as soon as I fired up the AppVMs (did shut all of them down before suspending) system became near-frozen, <1fps. Switching to tty2 took like 10 seconds and wasn't able to switch back or to any other tty.
Tried

[2022-08-24 07:45] isodude commented on #6923
We have no idea to be honest. You are also running Vega instead of Renoir, there's a bunch of tips and tricks for that platform hanging around. Different firmware could be a problem as well, more likely so. I'm updated to 20220815, but from what I've heard the best is around 202112.. while the one in linux-firmware in qubes R4.1 is not that good for AMD. What kernel-version/firmware are you runnin

[2022-08-24 08:02] johnnyboy-3 commented on #6923
from grub.cfg:
xen-4.14.5
vmlinuz-5.15.57-1.fc32.qubes.x86_64

rpm -qa:
linux-firmware-20220610-135.fc32.noarch

[2022-08-24 10:10] isodude commented on #6923
I would either downgrade or upgrade.

[2022-08-24 10:17] johnnyboy-3 commented on #6923
So.

- Downgraded to linux-firmware-20211216.

- "preempt=none" in grub.cfg on both: "multiboot /xen-4.14.5.gz" and "module2 /vmlinuz-5.15.57-1.fc32.qubes.x86_64"
- I suspend and resume with no running AppVM, except dom0.

When I try to boot my AppVMs everything goes south. System gets laggy and unresponsive for about 5 minutes. The AppVMs don't manage to boot at all. I tried to boot them two more

[2022-08-24 13:21] #7705 closed

[2022-08-24 14:13] unman opened #7708 "Error installing unf_ext while building website on Fedora 36"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary
Building website from qubesos.github.io fails on Fedora36

### Steps to reproduce
Updated Fedora36 template.
Install Podman and podman-compose
Create qube using that template.

In the qube, clone the repo, and cd
`systemctl start podman`
`sudo make`

### Expected behavior
Websit

[2022-08-24 15:08] unman opened #7709 "qubes-builder does not honour Proxy when building templates"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release
4.1

### Brief summary

Even with proxy set in builder.conf, templates are built without using proxy

### Steps to reproduce
Set up builder environment.
Add proxy definition to builder.conf.
`make qubes-vm`
`make template`

### Expected behavior
Template will be built using proxy

### Actual behavior

[2022-08-24 15:38] unman commented on #7407
Duplicate of #7041

[2022-08-24 19:27] z01999 commented on #7634
Using the kernel ` 5.16.18-2.fc32.qubes.x86_64` for dom0 and AppVMs solved the problem temporarily.

[2022-08-24 22:33] isodude commented on #6923
Try this in dom0:
[code]
then suspend. It's the Super I/O chip, so temp monitoring and fans etc.

[2022-08-24 22:49] resulin opened #7710 "Internal keyboard and touchpad stop working after a number of suspends"
[How to file a helpful issue](https://www.qubes-os.org/doc/issue-tracking/)

### Qubes OS release

4.1.1

### Brief summary

Internal keyboard and touchpad stop working after a number of suspends. After which suspend itself stops working (and the laptop doesn't suspend but keeps being awake, typing on an external keyboard or mouse shows the lock screen). I'd appreciate any help in providing releva

[2022-08-25 01:02] andrewdavidwong commented on #7708
I also haven't had luck on Debian.

[2022-08-25 01:05] andrewdavidwong commented on #7407
This appears to be a [duplicate](https://www.qubes-os.org/doc/issue-tracking/#new-issues-should-not-be-duplicates-of-existing-issues) of an existing issue. If so, please comment on the appropriate existing issue instead. If anyone believes this is not really a duplicate, please leave a comment briefly explaining why. We'll be happy to take another look and, if appropriate, reopen this issue. Thank

[2022-08-25 01:05] #7407 closed

[2022-08-25 03:24] andrewdavidwong commented on #6470
Can this be closed, or are there still keys that need to be updated?

[2022-08-25 06:49] qubesbugreport opened #7711 "Got locked out, unable to type boot password etc. because method of finding usb controller address in documentation was wrong (in my case)"
### Qubes OS release

4.1.1

### Brief summary

I tried to follow the instructions for setting up a sys-usb vm while having one usb controller for dom0 (mouse and keyboard) and another one that sys-usb should use.

The method given at https://www.qubes-os.org/doc/how-to-use-usb-devices/ for finding the address of the dom0 controller to be "whitelisted" using the readlink ... command resulted in a

[2022-08-25 07:24] isodude commented on #6923
@johnnyboy-3 you probably need this in your kernel.
[code]

[2022-08-25 10:06] johnnyboy-3 commented on #6923
Hi.
I just retried with removed nct6775 (tried to blacklist.conf, but didn't work).
Hope this somehow helps.

<details><summary>dom0, dmesg from boot to after resume + failing to boot appVMs:</summary>

[code]

</details>

[2022-08-25 10:07] johnnyboy-3 commented on #6923
<details><summary>dom0, journalctl from boot to after resume + failing to boot appVMs (don't mind the 2 hours clock switch at some point due to parallel windows installation):</summary>

[code]

</details>

[2022-08-25 11:39] isodude commented on #6923
I think you should open up an issue regarding this since it's not related to what I'm experiencing. Glad that it did get suspend/resume working in dom0 though :) I would say that you may need to fix that nct-driver with a newer kernel. It might be that the chip is interfering with suspend/resume even though the driver is not loaded. Maybe apply the split + fix and cross your fingers? :)

Don't for

[2022-08-25 11:43] isodude commented on #6923
I think you should open up an issue regarding this since it's not related to what I'm experiencing. Glad that it did get suspend/resume working in dom0 though :) I would say that you may need to fix that nct-driver with a newer kernel. It might be that the chip is interfering with suspend/resume even though the driver is not loaded. Maybe apply the split + fix and cross your fingers? :)

Don't for

[2022-08-25 13:11] johnnyboy-3 commented on #6923
I think I'm good. I got used to it by now and look at it as a security enhancement against memory attacks in standby mode.
Thanks for all your and marmareks work into this problem though :smiley:

[2022-08-25 14:45] #6848 closed

[2022-08-25 14:49] marmarek commented on #6470
I think all is done already.

[2022-08-25 14:49] #6470 closed

[2022-08-25 15:10] marmarek commented on #6897
Bonus points, if the backend can (optionally) log hashes of data that was signed.

[2022-08-25 15:35] icequbes1 commented on #7459
@SaswatPadhi are `dkms` builds actually succeeding for you on 5.18.16?

While the quotes issue with `$CONFIG_CC_VERSION_TEXT` seems to be fixed, compiling out-of-tree modules with `make` complains about gcc plugin incompatibility:

e.g., attempting to compile the [rtl8812au](https://github.com/aircrack-ng/rtl8812au) module:

[code]

[2022-08-25 16:12] 3hhh commented on #7254
Updating via salt should be fixed by #6585 thanks to @DemiMarie.

The `qubes-dom0-update` issue described here is likely a byproduct of #7558, if it works with `--console`.

[2022-08-25 21:37] kennethrrosen opened #7712 "System boots with an inactive systemd-timesyncd.service"
### Qubes OS release
4.1.1

### Brief summary
After each shutdown or reboot, system clock reverts to past dates

### Steps to reproduce
1. Boot computer or reboot
2. Login

### Expected behavior
Time set to desired timezone and accurate time

### Actual behavior
Time is months behind, though timezone remains correct. System boots with an inactive systemd-timesyncd.service.

[2022-08-25 22:37] marmarek commented on #7695
I observe this from time to time too. I captured gui-agent debug log this time. I'm not sure if any of this give any hits, for me it looks rather normal. I do _not_ see any process killed by oom-killer. I'm not exactly sure what action caused the freeze, but I found it frozen when I switched back to it, after doing something on another workspace (in another VM).

<details>

0x100002b is Firefox
0x

[2022-08-25 23:06] brendanhoar commented on #7695
I've been meaning to try to debug this in Firefox or tor browser as I've seen it happen in both. One area I haven't explored is looking at the resource limits/used stats in /sys (/proc?) to see if it gets triggered by hitting hard limits (probably not) or soft limits that might temporarily be hit and then lag before being increased by firefox/tor browser.

B

[2022-08-26 00:44] JonasVautherin commented on #4234
Just discovered this issue, and I am curious about [this comment](https://github.com/QubesOS/qubes-issues/issues/4234#issuecomment-1005679744) that seems to have been ignored:

Is that obviously not an option?

[2022-08-26 00:48] Rudd-O opened #7713 "keyerror: sys-usb"
### Qubes OS release

4.1 latest

### Brief summary

When shutting down or starting a VM that is the target of a persistent USB attachment (with `qvm-usb attach --persistent`), `qubesd` blurts a KeyError.  Additionally, starting the VM after shutting it off is impossible.  The only fix is to restart `qubesd` prior to starting the VM again.

I don't have a traceback with me at this point in time, s

[2022-08-26 01:27] DemiMarie commented on #7695
@marmarek what is your dmesg?  Are block devices still working?

[2022-08-26 01:28] DemiMarie commented on #4234
That would require an extremely complex translation layer.

[2022-08-26 01:46] iacore opened #7714 "Popup window from the same VM overlap with each other"
### Qubes OS release
r4.1

### Brief summary
![scr](https://user-images.githubusercontent.com/74560659/186798448-3673b8b8-0995-402e-ac9b-fdf2496f87b9.png)

For any popup window that spawn popup window. The child window is always under the parent popup.

e.g.
[code]

e.g. 2 (the case with IME)
[code]

### Steps to reproduce - A

- focus on a text input in any popup window from any web extension in

[2022-08-26 10:07] marmarek commented on #7695
Nothing else. The above log is all I have in journal at this time.

Yes. All the other windows are functional too. It's only this Firefox instance that is frozen. Firefox works correctly after restarting it (for some time). This bug made me starting xterm in DispVM and starting Firefox from there (so I can restart it and load previous session from history), instead of starting Firefox in DispVM di

[2022-08-26 14:57] snoopy327 commented on #7648
I've got a temporary fix for this. YMMV. Short version:

Downloaded Qubes-20220820-x86_64.iso from https://qubes.notset.fr/iso/ (currently down), installed, enabled "Testing updates" for dom0 and updated the whole thing. Also installed kde with "sudo qubes-dom0-update kde-settings-qubes" and voila - glitch free!

But, before I got to that point, I had weird issues... Let's dive into it.

Upon fina

[2022-08-26 15:36] olafklinke commented on #7648
As this seems to be caused by the linux-firmware package, I'd rather wait for a permanent fix from upstream. (linux-firmware is a Fedora package, right?) It would be cool if availability of a fix would be posted in this thread, as up to now I did not run any dom0 updates at all, which is of course not a thing one should have indefinitely. Question is when one does not want either of

1. Move to th